[2022-02-02 00:01] rurikoaraki opened #9452 "[0.64] Trying to fetch NuGet package for v0.64.29 fails"
### Problem Description

We have a dependabot PR trying to bump to the new 0.64 version, but our UWP PR is failing: https://github.com/microsoft/fluentui-react-native/pull/1392.

The build error is:
[code]

It looks like the publish NuGet package step failed for this commit:
https://github.com/microsoft/react-native-windows/runs/5009237290
which may be the cause of the error?

Full logs can be fou

[2022-02-02 01:43] #9424 closed

[2022-02-02 01:43] #9436 closed

[2022-02-02 03:44] acoates-ms commented on #9452
There was a temporary issue piblishing the NuGet.  It has been resolved and the NuGet should now be available.

[2022-02-02 03:44] #9452 closed

[2022-02-02 05:45] crutchcorn opened #9454 "Cursor/Mouse API"
### Summary

Hi! I'd love to see a `IMouseProps` logic very similar to the existing [`IKeyboardProps`](https://microsoft.github.io/react-native-windows/docs/ikeyboardprops-api) or some other way to gain access to a mouse's location.

While this API could differ in many ways, one idea is to add props, like `IKeyboardProps` such as:

[code]

Which maps to a [very similar API to the web's API](https:

[2022-02-02 08:08] tido64 commented on #9420
Closing since #9427 was merged.

[2022-02-02 08:08] #9420 closed

[2022-02-02 09:12] crutchcorn commented on #9454
Apologies, I didn't realize this at the time but:

`onResponderMove` and friends seem to solve this problem for me.

[2022-02-02 09:26] crutchcorn commented on #9454
Actually, apologies, `onResponderMove` **doesn't** seem to solve my use-case. It only seems to work when a mouse click is made.

I, on the other hand, am looking for a `onMouseMove` style event where the user need not click in order to gain pointer access

[2022-02-02 17:17] chrisglein commented on #8132
Notes from planning poker:

[2022-02-02 17:19] chrisglein commented on #8116
Notes from planning poker

A fair number of unknowns here adding question on the 13-20 range.

[2022-02-02 17:21] chrisglein commented on #9380
Notes from planning poker

There may be additional things we want to capture (e.g. msbuild props). Then will switch from test instance to a real instance, and looking over data with PM (time needed for positive handoff here). Will be some issue to fill in missing fields, but this is mostly about getting Application Insights running in an official capacity.
There will be delays due to requests and

[2022-02-02 18:07] chrisglein commented on #4037
Notes from planning poker

[2022-02-02 18:09] chrisglein commented on #8452
Notes from planning poker

Do need landmarks. Designating sections for screen readers.
[AutomationProperties.LandmarkTypeProperty Property (Windows.UI.Xaml.Automation) - Windows UWP applications | Microsoft Docs](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.automation.automationproperties.landmarktypeproperty?view=winrt-22000)
[Landmark Type Identifiers (UIAutomationClient.h) - Win32 a

[2022-02-02 18:19] chiaramooney commented on #8917
All my items are checked off now! Created an issue for upgrading samples here https://github.com/microsoft/react-native-windows-samples/issues/634

[2022-02-02 19:45] NickGerleman commented on #4037
Dumping each page would not be a viable solution. The test UI changes frequently, and there are elements not deterministic.

[2022-02-03 00:34] TatianaKapos commented on #6848
@mario-msft Hi! I'm picking up this issue as Igor switched Teams.

But just wanted to check in/check the state of the issue and see if you're still seeing it. I haven't dealt with Xbox controllers before so will need some guidance on how you are reproducing this issue on a desktop :)

[2022-02-03 01:57] asklar opened #9459 "Opening a solution in VS2022 breaks autolinking"
Just opening a 2019 solution in vs2022 will do 2 things:
- add ARM
- rev the VS version
it looks like adding ARM is causing autolinking checks to fail

<img width="1434" alt="image" src="https://user-images.githubusercontent.com/22989529/152268614-b026da91-f1a6-4874-bded-67295190fa3d.png">

[2022-02-03 01:58] asklar opened #9460 "Opening solution in vs2022 breaks autolinking"
Looks like opening a solution in vs2022 adds back ARM (and revs the VS version in the sln)

<img width="1434" alt="image" src="https://user-images.githubusercontent.com/22989529/152268640-4e9336f7-3a04-40f2-9136-c34cf24aadce.png">

[2022-02-03 16:10] chrisglein commented on #8917
Remaining items from checklist above:

@NickGerleman
- Modify CODEOWNERS to require changes go through https://github.com/orgs/microsoft/teams/react-native-windows-backport-triage (NickGerleman)
- Promote latest build to legacy using [wiki instructions](https://github.com/microsoft/react-native-windows/wiki/How-to-promote-a-release) (NickGerleman)
- Update preview release notes with any changes fr

[2022-02-03 19:41] chrisglein commented on #9459
Is the fact that VS is adding ARM to a project that didn't previously have ARM a VS bug?
Is it possible for autolinking to ignore ARM?
@asklar can we get the logs of what autolinking attempted?
What is the workaround? Does running linking again fix this? Supposedly there's a command in the error output that should fix this. Was it not reported? (that's a bug if so)

[2022-02-03 19:43] chrisglein commented on #9460
Duplicate of #9459

[2022-02-03 19:43] #9460 closed

[2022-02-03 19:45] chrisglein commented on #9459
If we have persistent problems with VS2022 we should create a "known issues" pinned issue or something on the website. We need to trend towards that being supported and track the blocking issues before we can give it a firm 👍.

[2022-02-03 19:48] chrisglein commented on #9454
Mouse hover support is under-documented today (tracked by https://github.com/microsoft/react-native-windows-samples/issues/541). Can you look at the discussion there and in linked issues and see if your needs are met? If not, go ahead and reopen your issue.

[2022-02-03 21:01] #9389 closed

[2022-02-03 21:58] chiaramooney opened #9469 "Restructure IViewManager Interfaces"
### Summary

@rozele notes --  transferred over from #9125:

Rather than adding this new interface, can we just create a new base interface for view managers that supports the entire lifecycle and property set? I think this API surface is getting quite complicated, we have:

IViewManager (FrameworkElement view base)
IViewManagerWithNativeProperties (FrameworkElement view base)
IViewManagerWithChil

[2022-02-03 22:44] #8649 closed

[2022-02-04 07:40] crutchcorn commented on #9454
Admittedly, I am unsure whether this solves my problem or not due to the undocumented nature of things currently.

However, after reading through the threads and reading through [the `@react-native-windows/tester` package source](https://github.com/microsoft/react-native-windows/blob/main/packages/%40react-native-windows/tester/src/js/examples-win/Mouse/MouseExample.windows.js) I believe this **do

[2022-02-04 16:28] NickGerleman opened #9474 "Bump Minimum Node from 12 to 14"
We target Node 12 as a minimum supported version in various config files (package.json, babel config), along with unit tests, which validate against 12, 14, and 16. RN core 0.68+ now [requests](https://github.com/facebook/react-native/commit/f1488db109d13e748b071c02b40e90cdca1cc79d) Node >= 14, so we should target that as our new minimum.

[2022-02-04 16:29] #8917 closed

[2022-02-04 16:33] NickGerleman commented on #9451
We should ideally be making these PRs at the same time as integrating. We otherwise pile on technical debt that tends to never get paid off.

[2022-02-04 16:35] NickGerleman commented on #9398
We decided not to backport this, so there isn't an action item here.

[2022-02-04 16:35] #9398 closed

[2022-02-04 16:52] #9328 closed

[2022-02-04 16:56] NickGerleman commented on #9111
@rurikoaraki is this completed?

[2022-02-04 17:52] AgneLukoseviciute opened #9475 "VS22 initial build of RNW stalls"
### Problem Description

The first build after opening Visual Studio 2022 doesn't properly start up. It will only start building if I cancel the first build and build again or try to exit VS (shown in video).

Root-caused it to the commit from #8195, likely a side-effect of PackageReference changes.

https://user-images.githubusercontent.com/41223743/152577265-18c6093d-3a3d-46c5-8385-4472f2bdde5f.

[2022-02-04 18:08] #4192 closed

[2022-02-04 18:41] rurikoaraki commented on #9111
@NickGerleman No. I have an item on my plate for it, but I've been swamped with other work and this isn't very high on my priority list.

[2022-02-04 21:31] JunielKatarn commented on #9475
Self-assigning due to #8195 authorship.

[2022-02-07 10:30] NickGerleman opened #9486 "0.68 Release Status"
## Checklist

**Before Preview**
- [x] Draft GitHub release notes from commit log (NickGerleman)
- [x] Promote canary build to preview using [wiki instructions](https://github.com/microsoft/react-native-windows/wiki/How-to-promote-a-release) (NickGerleman)
- [x] Push build to stable branch (NickGerleman)
  - [x] Enable CI schedule for new branch of [CI pipeline](https://dev.azure.com/ms/react-nati

[2022-02-07 15:08] NickGerleman commented on #9475
@JunielKatarn there is an MSBuild property for whether VS is doing a "design time build", instead of a real build. We've needed to add that before to some expensive tasks, to maintain VS interactivity.

[2022-02-07 15:36] #9171 closed

[2022-02-07 15:55] chrisglein commented on #9474
Related
#8982
#8345
#8982

[2022-02-07 15:57] chrisglein commented on #9469
Related #5539?

[2022-02-07 17:16] #8621 closed

[2022-02-07 17:57] jonthysell commented on #9474
@NickGerleman Is it okay to build RNW (`yarn build`) on a later version of Node (>= 14) and then consume that code in a lower version (12)?

Since RNW requires Node 14 to build since 0.65, should we remove node 12 support/testing all the way back to 0.65? I mean, if a customer hits an issue in 0.65-0.67 that only repros on Node 12, we wouldn't be able to test it as we'd have Node >=14 on our machi

[2022-02-07 18:05] NickGerleman commented on #9474
We can build on newer versions and run on older versions. An example where we do this intentionally is running UTs against our node packages. We build with the image-provided Node version (16), then perform tests with Node 12, 14, and 16. Most of the code we generate is emitted by the TypeScript compiler `tsc`, where we configure how to transpile the code in the `tsconfig` file. Apart from TypeScr

[2022-02-07 18:28] NickGerleman opened #9493 "Add support for `Animated.color`"
https://github.com/facebook/react-native/commit/ea90a76efef60df0f46d29228289f8fc1d26f350 adds non-native support for `Animated.color`, with native drivers coming to Android and iOS. We should add native driver support to Windows as well.

[2022-02-07 19:10] chrisglein commented on #9469
There's an intentional design here to avoid class inheritance as a requirement. In C# there are base classes that make this easier. But in C++/winrt there isn't a similar thing today (and perhaps additional barriers to inheritance). WinAppSDK is also coming and will impact some of these interfaces, as well as considerations for balancing UWP + WinAppSDK in tandem for some amount of time. Plus Fabr

[2022-02-08 00:59] jonthysell opened #9499 "Update ADO pipelines in each release branch to target the correct VS toolchain"
### Summary

We need to make sure that each release branch runs CI on the appropriate VS toolchain.

This captures:

- [ ] Switching the pipelines in main/latest to use the new VS2022 images/pools/agents
- [x] Setting up the old VS 2019 agents/images on-demand
- [x] Switching all prior supported stable releases to using the old VS2019 images/pools/agents

### Motivation

RNW needs to start buildin

[2022-02-08 01:02] jonthysell opened #9500 "CLI tests use outdated project files"
### Problem Description

We've made several template changes (specifically the new PackageReference work), but some of our CLI e2etests contain project files that were generated a while ago.

We should update the test assets so we can confirm that the CLI code is still being tested appropriately.

### Steps To Reproduce

yarn test

### Expected Results

_No response_

### CLI version

npx react-na

[2022-02-08 17:08] mario-msft commented on #6848
Hey @TatianaKapos, it's been a while since I've worked on this, but from what I remember, this repros in RNW running on PC while using an Xbox controller. I believe you can just set up a sample RNW app with a `TextInput` in it, run it on PC, and connect an Xbox controller to your PC. I'm no longer working on this particular project, so I won't be able to grab screenshots/videos

[2022-02-08 19:22] TatianaKapos commented on #6848
@mario-msft Thanks for the info! If you're not working on this project anymore, feel free to loop someone who currently is.

I'm still having trouble getting this to replicate, mainly getting a sample RNW to receive input from an Xbox Controller and getting a virtual keyboard to appear on a PC. Unfortunately I'm in the same situation Igor was in where I don't have access to an Xbox device.

[2022-02-08 20:20] #9474 closed

[2022-02-08 21:52] chswan opened #9505 "useEffect hooks do not seem to synchronize with XAML's render pass"
### Problem Description

The [React documentation for useEffect](https://reactjs.org/docs/hooks-reference.html#useeffect) states:

In my observation this does not seem to be the case today. Specifically, it looks like at the moment useEffect fires, the XAML tree has been updated but XAML has not itself run a render pass against its tree.

This is impactful because it makes it difficult to show a n

[2022-02-08 23:16] jonthysell opened #9506 "Create a native module template set up to create custom ViewManagers"
### Summary

Create a new lib template that includes XAML (correctly) and has a basic ViewManager example. Remove XAML dependencies from the basic lib template.

### Motivation

The default "lib" template sets up a native module that isn't creating UI, as such technically it doesn't need to depend on XAML libs. Adding that dependency just makes the build take longer.

However, if you do want to cr

[2022-02-08 23:58] jonthysell opened #9507 "Create a new ADO pipeline to run compliance tasks"
### Summary

Build a new ADO pipeline to run compliance related tasks.

### Motivation

While we do run some compliance tasks as part of our CI (BinSkim, CG) there are other internal tasks that we should also be running against our repo.

### Basic Example

_No response_

### Open Questions

_No response_

[2022-02-09 05:05] asklar commented on #9505
@acoates-ms fyi; does this sound familiar?

[2022-02-09 16:27] jbcullis opened #9510 "10mb limit on fetch"
### Problem Description

There seems to be a 10mb limit on fetch responses before they get truncated with react-native-windows, is there a way to increase that value?
We can load the same dataset up on mac, android and ios.

### Steps To Reproduce

Fetch a dataset greater than 10mb and result will be trucated.

### Expected Results

Entire result set should be returned.

### CLI version

npx react

[2022-02-09 17:07] chiaramooney commented on #9223
Done.

[2022-02-09 17:52] #8486 closed, assigned to jonthysell

[2022-02-09 20:16] chiaramooney opened #9512 "Errors with Upgrade to 0.68-preview"
### Problem Description

After upgrading to 0.68.0-preivew.1 Gallery is hitting the following errors.

Seems like the new way of adding CppWinrt with packagereference isn't playing well with ReactNativeXaml and that a series of other modules are unable to build because of something to do with the UAP framework.
![image](https://user-images.githubusercontent.com/34109996/153282698-5beb821a-877f-41a

[2022-02-09 20:17] chiaramooney commented on #9512
@NickGerleman fyi for release status.

[2022-02-09 20:25] NickGerleman commented on #9512
cc @JunielKatarn

[2022-02-09 23:41] JunielKatarn commented on #9512
@NickGerleman   Will look into it.

@chiaramooney I am not familiar with the RN gallery.
Could you please add precise steps to reproduce the issue?

At a first glance, it looks like a configuration issue.
Some build properties may need to be updated when adopting 0.68.

[2022-02-10 06:22] NickGerleman commented on #9512
I think @tido64 ran into a similar issue.

[2022-02-10 06:25] NickGerleman opened #9515 "`run-windows` NuGet restoration code does not respect verbosity settings"
Even in non-verbose sessions, we seem to print build information to the console, but only related to NuGet package restoration. Any logging done for this should respect verbosity flags used by the rest of the CLI (defaulting to logging minimal information to console apart from errors)

<img width="860" alt="image" src="https://user-images.githubusercontent.com/835219/153349888-cc78014c-d74d-4827-b

[2022-02-10 09:17] NickGerleman commented on #9515
There's a CLI architecture issue that intersects with this issue. We do not have a centralized logger. This makes respecting verbosity requirements ad-hoc, on the implementor. E.g. there are lots of adhoc `options.verbose`, `isVerbose`, `logVerboseExitCode()`, etc.

We should ideally instead have something like `logger.brief()`, `logger.warning()`, `logger.error()`, and **use eslint to ban `consol

[2022-02-10 09:18] NickGerleman opened #9516 "Consolidate CLI Logging/Verbosity Handling"
There's a CLI architecture issue that intersects with this issue. We do not have a centralized logger. This makes respecting verbosity requirements ad-hoc, on the implementor. E.g. there are lots of adhoc `options.verbose`, `isVerbose`, `logVerboseExitCode()`, etc.

We should ideally instead have something like `logger.brief()`, `logger.warning()`, `logger.error()`, and **use eslint to ban `consol

[2022-02-10 09:26] NickGerleman commented on #9512
@JunielKatarn this is the repo for react native gallery. https://github.com/microsoft/react-native-gallery
@chiaramooney, could you publish your local state as a draft PR? That would help give Julio a way to locally reproduce the issue you are seeing.

[2022-02-10 14:08] tido64 commented on #9512
I've been having issues on this branch: [microsoft/react-native-test-app#windows-support-0.68](https://github.com/microsoft/react-native-test-app/tree/tido/windows-support-0.68)

I've tried the following without success:

- Running `yarn windows`
- Building in Visual Studio 2019/2022 (on two different Windows machines)
- The `MSBuild` steps detailed in https://github.com/microsoft/react-native-win

[2022-02-10 14:27] tido64 opened #9518 "`react-native autolink-windows` has regressed in speed since 0.65"
### Problem Description

`react-native autolink-windows` has regressed in speed since 0.65

| Version |    Time |
| :------ | ------: |
| 0.64    |  3639ms |
| 0.65    | 17793ms |
| 0.66    | 22134ms |
| 0.68    | 22488ms |

### Steps To Reproduce

n/a

### Expected Results

`react-native autolink-windows` should take as long as 0.64 did.

### CLI version

5.0.1

### Environment

[code]

### Targe

[2022-02-10 14:27] tido64 commented on #9518
cc @NickGerleman

[2022-02-10 14:48] NickGerleman commented on #9518
@chrisglein this seems like a pretty clear regression to build performance. Could you help me understand why you considered this item an enhancement?

[2022-02-10 14:53] NickGerleman commented on #9518
cc @Khalef1

@tido64 created this item as a bug, and it is pretty clearly one as well in my eyes. I would appreciate it if we didn't change the labels our engineers use when they file these. Especially given it feeds into tooling used to understand quality.

[2022-02-10 14:59] chrisglein commented on #9441
Workaround is to use fixed PNG assets in the meantime.
@marlenecota I heard that George had been investigating some blurry SVG issues. You should check with XAML Rendering to see if there's a bug in the platform here with some configurations.

[2022-02-10 17:03] asklar commented on #9505
@chrisglein re:  wmic not working - this is not an issue with the dependencies script but with the RN core CLI - react-native-community/cli#1513 arising from the removal of WMIC from Windows 11 onwards.

[2022-02-10 17:08] NickGerleman commented on #9505
useEffect does not, on any platform, synchronize with native render. It instead is called when the component is mounted into the React Tree, which happens much earlier.

[2022-02-10 18:22] chswan commented on #9505
@NickGerleman thank you for that clarification. In addition to the doc snippet where it mentions "committed to the screen", later it calls out that it fires "after the browser has painted". Should that be considered a doc bug on the ReactJS side I should follow up on?

[2022-02-10 19:13] jonthysell commented on #9518
Off the top of my head I can't think of any changes in 0.65 that would account for this. I'll look into it.

[2022-02-10 19:17] jonthysell commented on #9515
This might be a little more urgent due to how it changes the `run-windows` golden path.

[2022-02-10 19:20] jonthysell commented on #9512
@chiaramooney can you upload a draft PR of the upgrade so we can take a look at it?

[2022-02-10 19:25] chiaramooney commented on #9512
@NickGerleman @JunielKatarn Here's the PR! https://github.com/microsoft/react-native-gallery/pull/193

[2022-02-10 19:31] jonthysell commented on #9500
One option is to update these tests to generate the project files and apply patches, rather than using checked in files that go out of date.

[2022-02-10 19:33] jonthysell commented on #9499
We should start clarifying our VS 2019 - 2022 migration story.

[2022-02-10 19:57] jonthysell commented on #9518
Ok, so you have 0 dependencies? Can you post the result of `react-native config`, and about how long that takes to run?

Also, what does it look like when you run `run-windows`? Are you still getting those large run-times?

[2022-02-10 20:06] tido64 commented on #9518
Yup, 0 dependencies. For `run-windows`, if the app is already built, auto-linking dominates the time spent.

Here's the output for `run-windows`:

[code]

And for `react-native config`:

[code]

[2022-02-10 20:29] NickGerleman commented on #9518
@tido64 what repo were you testing?

[2022-02-10 23:03] chrisglein commented on #9518
Based on the chart it looked like the primary regression was 0.64->0.65. So yes a regression, but not so much of a recent one. What I couldn’t remember is if autolinking also filled in feature gaps in that time period (it was spanned over a couple releases), which could explain the extra time.

The short answer to your question is that if it's a regression it's one we shipped 3 versions ago. There

[2022-02-11 00:24] JunielKatarn commented on #9512
Let's follow up again tomorrow if you have time.
As I mentioned offline yesterday, I did not face this issue following the steps you provided.

The build succeeded for me, and the app started correctly.

[2022-02-11 00:25] JunielKatarn commented on #9512
@tido64 Let's follow up again tomorrow if you have time.
As I mentioned offline yesterday, I did not face this issue following the steps you provided.

The build succeeded for me, and the app started correctly.

[2022-02-11 05:58] DhanushSuryaM commented on #4887
The same file was copied and implemented in my sample but it's not working. Except the code we need to add anything.

[2022-02-11 12:56] jbcullis commented on #9510
@jonthysell I didn't want to post api details publicly so I've emailed you a fetch example that will throw the json convert error due to truncating the response.

[2022-02-11 22:06] #9518 closed

[2022-02-11 22:42] asklar commented on #4759
We’re excited to share **React Native WinRT** is now in public preview. This is an extension that can be added to React Native for Windows apps, that enables calling WinRT APIs directly from JavaScript.

Learn more here: https://microsoft.github.io/react-native-windows/blog/2022/02/11/rnwinrt

[2022-02-11 22:45] asklar commented on #6080
We’re excited to share React Native WinRT is now in public preview. This is an extension that can be added to React Native for Windows apps, that enables calling WinRT APIs directly from JavaScript.

Learn more here: https://microsoft.github.io/react-native-windows/blog/2022/02/11/rnwinrt

[2022-02-11 22:45] #6080 closed

[2022-02-12 01:36] jessamp opened #9527 "importantForAccessibility= Yes still has access to child components"
I'm trying to make a parent component accessible, and the individual child components ignored. I'm setting the View to be accessible and importantForAccessibility=Yes, but the child components are still being highlighted by the narrator.

[2022-02-12 02:45] NickGerleman commented on #9527
I think this is not yet implemented. See https://github.com/microsoft/react-native-windows/issues/5113

[2022-02-12 02:48] NickGerleman commented on #9510
@JunielKatarn is doing some intersecting work around replacing the HTTP implementation, to unify the impl between open source and office. Adding him to this thread, in case he has any insight into the limitation in OSS.

[2022-02-13 00:59] JunielKatarn commented on #9510
Unfortunately, we ARE enforcing a hard-coded 9.54 MB limit:
https://github.com/microsoft/react-native-windows/blob/react-native-windows_v0.67.1/vnext/Shared/Modules/NetworkingModule.cpp#L136

While I have refactored this module in #9484, I did not fix any of the existing problems (i.e lacking timeout support).
I will be opening specific GitHub items to address any remaining issues.

[2022-02-13 01:03] JunielKatarn commented on #6106
Fixed by #9484.

[2022-02-13 01:18] jbcullis commented on #9510
Thanks @JunielKatarn - for now I've just upped the limit in my environment. Is that limit considering compressed content or is it kicking in after decompression?

[2022-02-13 01:26] JunielKatarn commented on #3646
Solved a while ago.

[2022-02-13 01:26] #3646 closed

[2022-02-13 01:29] #4509 closed

[2022-02-13 01:30] #6093 closed

[2022-02-13 01:52] jbcullis commented on #9510
@jonthysell Do you guys need me to leave that endpoint open for testing or can I close it off?

[2022-02-13 03:35] JunielKatarn commented on #8398
We need to determine whether that is the standard behavior for an HTTP client.

@rozele, do you know what the HTTP RFC dictates?

If so, this is a very easy change to implement.

[2022-02-13 03:41] JunielKatarn commented on #6046
Related to #8547

[2022-02-13 03:47] JunielKatarn commented on #2460
Incremental updates is not currently supported in Microsoft.ReactNative.

We will open the corresponding issue for follow up.

[2022-02-13 03:54] JunielKatarn opened #9534 "Support HTTP incremental updates"
### Summary

See #2460, #9510.

The `useIncrementalUpdates` argument is currently not used in the HTTP module implementation on Windows.

### Motivation

This feature is available in React Native for Apple platforms, therefore is expected behavior.

### Basic Example

_No response_

### Open Questions

_No response_

[2022-02-13 04:01] JunielKatarn opened #9535 "HTTP form data support"
### Summary

Current HTTP module implementation ignores form data to be sent as part of a request.

This is due to dropping `folly` APIs from `IHttpResource` so that the interface is forward-compatible with TurboModules.

This creates the need for conversion logic from a `folly::dynamic` object containing the form data to an either ABI safe or at least Standard Library-based object type.

### Moti

[2022-02-13 04:12] JunielKatarn opened #9536 "Consolidate HTTP module implementations"
### Summary

Integrate the features from both Office and MSRN's HTTP native modules into the MSRN variant.

Depends on:
- [x] #9534
- [x] #9535
- [x] #9537
- [x] #9538

### Motivation

There is no need nor benefit from maintaining two separate HTTP native modules.

This task replicates the approach taken for WebSockets, leaving a single code base, single implementation serving both projects.

###

[2022-02-13 04:13] JunielKatarn opened #9537 "Origin policy implementation"
### Summary

Implement optional cross-origin policy validation for HTTP requests.

### References
- https://datatracker.ietf.org/doc/html/rfc6454
- https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS
- https://medium.com/datamindedbe/cors-and-the-sop-explained-f59de3a5078

### Motivation

This is a security feature available in modern HTTP clients, including Office's React Native implementation

[2022-02-13 04:26] JunielKatarn commented on #6081
Part of #3178

[2022-02-13 04:26] #6081 closed

[2022-02-13 04:32] JunielKatarn commented on #9510
You can close it for now.
We are able to emulate an HTTP response of an arbitrary size.

I may ask you to open the endpoint again once we start dealing with response compression.

FYI, we have set up the GitHub project to track overall HTTP completion.
https://github.com/microsoft/react-native-windows/projects/42

[2022-02-13 08:59] NickGerleman commented on #9534
Iirc there's another issue on this repo that may be about the same thing, since the lack of support broke axios.

[2022-02-13 09:47] JunielKatarn opened #9538 "Implement HTTP timeout"
### Summary

Allow setting a timeout for HTTP requests from the JavaScript side.

### Motivation

This capability is available in Android and Apple React Native variants.

### Basic Example

_No response_

### Open Questions

_No response_

[2022-02-13 12:20] NickGerleman commented on #9510
Moving this to bug, since it is confirmed to be a defect in our implementation.

[2022-02-13 12:42] NickGerleman commented on #9505
It gets a little messy. A lot of the public documentation for react targets `react-dom` (Web React) instead of `react-native`. I think on the browser, it is true, since it is single-threaded. In React Native, there are separate JS and UI threads, that have different lifecycles and responsibilities.

In `react-native`, `useEffect` is first fired when the `react` component tree has been committed fo

[2022-02-13 12:48] NickGerleman commented on #9505
This is a great resource for Fabric: https://reactnative.dev/docs/render-pipeline

[2022-02-13 16:06] NickGerleman commented on #9292
I think the queue-based solution is a good one. If a focus request comes in, on something not yet connected, we buffer subsequent UIManager focus requests until the next is available. That would preserve app-side focus state correctly, as well.

[2022-02-13 16:09] NickGerleman commented on #9292
We would want to replay the list of focus transitions within the same batch of work, for atomicity. But if that is replayed, synchronously on UI thread before other work, the focus state will maintain correctness.

[2022-02-13 16:13] NickGerleman commented on #9292
An edge case is if native focus state mutates in between the `ref.focus` call on the JS thread, and then UI thread execution. We would need a strategy to reconcile. E.g. throw out the JS batch if focus changes on native first, or vice versa.

[2022-02-14 08:58] JunielKatarn commented on #9534
That would be #2460, I think.

[2022-02-14 18:55] AgneLukoseviciute commented on #9527
`no-hide-descendants` would make the parent inaccessible also. From my understanding, this is behaving as expected. To get the behavior described above we'd need a value akin to "yes-hide-descendants", but that's not an option.

To get the children ignored by accessibility in this case, I think you'll have to manually set importantForAccessibility=No on them.

[2022-02-14 19:13] chrisglein commented on #9505
Two things here:
- Are we meeting the expectations for when `useEffect` should fire?
- For this specific measuring case is everyone unblocked to use the native XAML events to get what they need?

To our understanding, RNW's `useEffect` is matching expectations relative to the other platforms. So we should focus on whether it's possible to hook the right native events to know when the right batch i

[2022-02-14 19:14] chrisglein commented on #9505
For this issue, I think we're clear on whether we want to change `useEffect`, which means the work we want to track is whether @chswan can get their needs met with the dummy view manager strategy. If so, let's close this and track a new issue for building that out. Sound good @chswan?

[2022-02-14 19:18] chrisglein commented on #9527
Are you coming from some cross-platform assumptions here? There are behaviors on other platforms as far as how setting accessibility changes the visibility of children. It'd be helpful to know which platforms you're dealing with outside of Windows.

@AgneLukoseviciute can you compare Windows' behavior here to the other platforms and see how we compare? There should be specs on how the browsers int

[2022-02-14 19:22] chrisglein commented on #4887
If you're experiencing a problem implementing this can you open a new issue that captures your full repro?

[2022-02-14 19:57] jonthysell opened #9545 "[0.64] E2ETest app depends on a private fork of webdriver package"
### Problem Description

In 0.64 we have CG alerts for the package `validator`, and the reason we're on a bad version is because of a dependency on a range of webdriver-related packages with a specific, old version: 5.2.1.

More specifically, we're targeting a fork of that version: https://github.com/react-native-windows/webdriver

The latest v5 is 5.23.0.

We got rid of this private dependency wh

[2022-02-14 19:59] chrisglein commented on #5113
@AgneLukoseviciute can you look into the complexity of this (given the available C# implementation) and give a recommendation on what it'd cost to fill this gap?

[2022-02-14 20:23] aschultz commented on #5113
I'm not familiar with the old C# implementation, but we have an implementation in Garrison that may be useful for reference, at least for "no-hide-descendants". It overrides AutomationPeer::GetChildrenCore() and calls InvalidatePeer() to hide a subtree from Narrator.

[2022-02-14 21:51] jonthysell opened #9546 "Improve/simplify process on aligning XAML/WinUI version"
### Summary

Right now we support users specifying that they use WinUI3 at project creation time, which sets UseWinUI3 to true in their ExperimentalFeatures.props file.

We also allow users to override a flag in their react-native.config file.

Do we really need both mechanisms?

### Motivation

We do a bunch of work during autolinking to "fix-up" files so that everything is using the same version

[2022-02-14 21:53] jonthysell commented on #9546
Found while investigating #9518.

Not that the existing ensureXAMLDialect code caused any regression, but it does traverse file trees and touch the disk.

[2022-02-14 21:55] jonthysell commented on #9546
One option to avoid file traversal is to look up the appropriate WinUI property via whatever mechanism is used to solve #9165.

[2022-02-15 15:20] RedMickey commented on #9359
We tried out React Native for Windows v0.67.1 and could debug it without problems in the RNT extension. Now Hermes inspector activates, and the extension can attach to the app properly. Thanks!

[2022-02-15 16:27] acoates-ms commented on #9359
Fixed by #9478, #9477, #9407
(Depending on which stable version you needed the fix in)

[2022-02-15 16:27] #9359 closed

[2022-02-15 18:17] jonthysell commented on #9518
For future reference:

The slow performance was not widespread, but due to the file structure of the react-native-test-app, which made the RN CLI's search for files unoptimal. This caused the react-native config to take ~3s. This was fixed upstream here: https://github.com/react-native-community/cli/pull/1537/files#diff-c0da7a0a6634600898d6e5eac8dd1be0564fe37f7999148e6721b08080105405

RNW did have

[2022-02-15 23:21] #6620 closed

[2022-02-16 00:08] tudorms commented on #9407
@nichamp it looks like the debugger not starting issue is fixed in main and in 0.67.1; can you confirm it works on your side as well?

We may need a follow-up for the source maps not loading in Edge / Chrome but I suspect that behavior is coming from upstream (repros in Android/iOS).

[2022-02-16 00:13] nichamp commented on #9407
My local compile-time patching workarounds for this issue and the source mapping are what we are using presently. I suspect it isn't worth updating to 0.67.1+ (unless there are other helpful fixes too) until the source mapping issue is addressed too so I can remove the patching for the entire file. Otherwise, I would have to update the patch for the updated RNW to still fix source maps.

[2022-02-16 00:18] tudorms commented on #9407
Is that locally applying acoates' Metro PR or a different local patch for source maps?

[2022-02-16 00:19] nichamp commented on #9407
His fix didn't address edge://inspect as discussed above. I am using the fix I described from when I filed the issue by forcing inline source maps in the scenario of using Hermes direct debugging

[2022-02-16 08:28] QuellaZhang commented on #7748
Verified that issue 1) still exists.

[2022-02-16 10:49] qmatteoq opened #9554 "Calling a synchronous method from a native module gives an error in Debug mode"
### Problem Description

When you author a native module, you have the option to mark it as synchronous. For example, in C# you can use the [ReactSyncMethod] attribute to expose a method as synchronous.
However, if you're in debugging mode with the Metro packager up & running, calling one of these methods leads to the following error:

`Calling synchronous methods on native modules is not supporte

[2022-02-16 12:59] NickGerleman commented on #9554
This is expected behavior. Like the warning says, it is not possible to call synchronous methods when web debugging. It is possible to do this with "direct debugging". E.g. using Hermes debugger, which will eventually become the default, for debug mode.

[2022-02-16 16:19] acoates-ms commented on #9554
The linked bug was not for generic sync methods, it was for a very specific one, where code was added in core to handle that method in web debugging mode by doing extra work up front and sending more data to the JS engine to avoid the sync call to native when web debugging.

[2022-02-16 16:33] acoates-ms commented on #9407
@tudorms , it looks like you forced inlineSourceMaps to be false for hermes way back in this commit https://github.com/microsoft/react-native-windows/commit/60e137c319cb6e50a9efd5f7ffc80353cb980123, with the comment "* Disable inline sourcemaps for Hermes (it doesn't handle them well)".   Any idea if that still applies.  I agree that generally for the dev scenario, if we can load a bundle with inl

[2022-02-16 18:53] jonthysell commented on #9545
PR #9544 resolves the CG alert for validator, but still doesn't address the potential long-term serviceability of 0.64 with this fork. One proposed solution has been to "drop-in" replace the e2e-test-app from 0.65 which doesn't have this problem.

[2022-02-16 19:00] qmatteoq opened #9559 "Can't build a RNW project with Visual Studio 2022 17.1"
### Problem Description

Since I upgraded my Visual Studio 2022 installation to 17.1, I can't compile anymore any React Native for Windows project. I always get the following error during the build process of the Microsoft.ReactNative project:

C:\src\VS2022\node_modules\react-native-windows\Mso\dispatchQueue\dispatchQueue.h(728,17): error C2607: static assertion failed
C:\Program Files (x86)\Wind

[2022-02-16 19:39] jeanmaried opened #9560 "Hovering a link in an AdaptiveCard crashes app with RNfW 0.66"
### Problem Description

Hovering over an inline link in an AdaptiveCard is crashing app after upgrading to RN 0.66. I have a included two sample repos:

1. a regular UWP app using a AdaptiveCard (2.7.3) and AdaptiveCards.Rendering.Uwp (2.7.0) showing expected  behavior: https://github.com/jeanmaried/AdaptiveCard-UWP/tree/master

2. a RN 0.66 app with same nuget dependencies: https://github.com/je

[2022-02-17 07:04] #9559 closed

[2022-02-17 10:46] tero-paananen commented on #9057
I should try RN Windows 0.68 because this fix may help https://github.com/microsoft/react-native-windows/commit/98e92db5b0c2b4c0af16573f9742ead55317450b

There is at least some changes in Microsoft.UI.Xaml packaging

[2022-02-17 19:10] chrisglein commented on #9545
Probably okay to port the 0.65 change back to 0.64 as soon as we need to address this. But... at the moment we don't to? This is good documentation for what's the situation if we need to go back (if we have E2ETest issues - as that's all this affects). But as is I think 0.64 is enough out of support scope that we can default to Won't Fix this.

[2022-02-17 19:10] #9545 closed

[2022-02-17 19:13] chrisglein commented on #9546
This design made more sense when we were tracking WinUI3 against UWP and being able to change at build time was more relevant. But these days this would be reasonable to restrict as a project-creation flag, not a modifiable build flag.

[2022-02-17 19:17] chrisglein commented on #9560
@jeanmaried Can you provide the callstack for this crash with symbols resolved?

[2022-02-17 21:01] #9459 closed

[2022-02-17 22:40] jeanmaried commented on #9560
This is the only entry I see in VS Call Stack pane:

Not sure if this is what you mean. Seems to me like I properly resolved most of the symbols. Here is the Debub output:
[code]

[2022-02-17 23:25] axelfratoniMS opened #9569 "Using `flexWrap: "wrap-reverse"` on a View component makes the app crash"
### Problem Description

Using a react-native-windows stylesheet with a `flexWrap: "wrap-reverse"` property on a View component makes the whole app crash and close.

### Steps To Reproduce

1. Create a react native windows project using Metro Bundler as server.
2. Create a View component with a `flexWrap: "wrap-reverse"` style property.
`<View style={{flexWrap: "wrap-reverse"}}>`
3. Load the app
4

[2022-02-18 00:58] jonthysell opened #9570 "For RNW >= 0.68, the CLI should throw a warning if the app is still using packages.config"
### Summary

If someone runs any of our CLI commands, we should detect if the app is using packages.config, and throw a warning that we're moving to PackageReferences, with a link to relevant upgrade documentation

### Motivation

With the move to PackageReference, we want to reduce our support of packages.config files. We should start warning people of our intentions, and point to documentation o

[2022-02-18 04:50] asklar commented on #9569
Likely not implemented yet:
See https://github.com/microsoft/react-native-windows/blob/main/vnext/Microsoft.ReactNative/Modules/NativeUIManager.cpp#L452-L460
[code]

This might be as simple as adding:
[code]
before the `else assert(false)`

[2022-02-18 05:41] asklar commented on #9560
here's the native stack trace:

[code]

I think its crashing in this code:
https://github.com/microsoft/react-native-windows/blob/0.66-stable/vnext/Microsoft.ReactNative/Views/TouchEventHandler.cpp#L609-L620
[code]

RNW's input handler wrongly assumes that all of the UI elements in the tree will have been created by RNW; if the app is drawing XAML elements with other frameworks (XAML directly, or

[2022-02-18 15:13] NickGerleman commented on #9327
It's by design that "focusable" maps to only IsTabStop. Individual controls expose separate props that look more like "enabled".

[2022-02-18 21:25] chrisglein commented on #9500
@jonthysell You had moved this up from targeting 69 to 68. Since we've had the snap of the stable branch, do you think this is trending to make the .0 release, or backport later, or leave for vnext? Is the reason for doing this now to time it alongside the PackageReference change?

[2022-02-18 21:41] chrisglein commented on #8471
Duplicate of #9260

[2022-02-18 21:41] #8471 closed

[2022-02-18 22:40] axelfratoniMS commented on #9569
@asklar I've attached a debugger and confirmed that this is indeed the issue.
![image](https://user-images.githubusercontent.com/99926270/154769746-e6a3a9e2-d3d3-40c8-a238-0a3c92df1b5a.png)
I've added the missing line of code myself and was able to make the 'wrap-reverse' behave as expected.

[2022-02-18 22:44] chiaramooney commented on #9512
@JunielKatarn The gallery app succeeded for you? It looks like it is not only failing for me locally but also on ADO, so it isn't just an issue with my local environment.

[2022-02-19 00:09] jonthysell opened #9576 "Dependency config needs a nugetPackageLang field for nugetPackage objects"
### Summary

Dependency config needs a nugetPackageLang field for nugetPackage objects (and should be verifying all required fields are present)

* nugetPackage object needs to specify every field manually in react-native.config.js that will be needed by autolinking
    * packageName and packageVersion should be obvious
    * cppHeaders, cppPackageProviders, csNamespaces, csPackageProviders should

[2022-02-19 00:13] jonthysell opened #9577 "Telemetry should process the nugetPackageLang field in each nugetPackages object when calculating if a native modules is cpp/cs/cpp+cs in getDependencyRnwLang"
### Summary

Telemetry should process the nugetPackageLang field in each nugetPackages object when calculating if a native modules is cpp/cs/cpp+cs in getDependencyRnwLang

### Motivation

Telemetry isn't "counting" nuget-module based community modules, but once we add the field in #9576 we'll bae able to consume it.

### Basic Example

_No response_

### Open Questions

_No response_

[2022-02-19 00:16] jonthysell opened #9578 "Autolinking needs to be updated to process the nugetPackage objects from dependency configs"
### Summary

Autolinking needs to be updated to process the nugetPackage objects from dependency configs

* Need to check the nugetPackage objects for all the items and/or errors and flag them as invalid dependencies just like with projects
* Need to update getCSModules to consider nugetPackageLang of nuget package when detecting if we have C# modules (to make sure the M.RN projects are present an

[2022-02-19 00:21] jonthysell commented on #9578
@chiaramooney  I seem to recall some discussion about needing to inject the WebView2 nuget into app projects that consume react-native-webview?

Since this could be used to inject arbitrary nuget dependencies into an app, this could be used to fix the problem (react-native-webview could hint to autolinking that the nuget needs to be added)

[2022-02-19 00:31] jonthysell opened #9579 "Move UsePackageReference logic from Directory.Build.props from cs lib/app template into a new prop sheet that is optional (behind a new flag)"
### Problem Description

Directory.Build.props files only applies to projects within the same folder, of subfolders.

Due to the distributed nature of how RNW projects have the app project in a sub folder, with native modules in a completely different node in the filesystem, they won't get applied.

To fix this (and have this UsePackageReference project capability bit actually get applied) we shou

[2022-02-19 00:35] jonthysell opened #9580 "M.RN PackageReferences should be specified within the external props/targets files and not directly in the template output (for apps and modules)"
### Summary

M.RN PackageReferences should be specified within the external props/targets files and not directly in the template output (for apps and modules)

* Stop "hardcoding" the nuget package versions, use variable `$(ReactNativeWindowsVersion)`
* Condition on `UseExperimentalNuGet`
* Remove the injection into the app template

### Motivation

Community modules should follow the app's decisi

[2022-02-19 00:37] jonthysell opened #9581 "Hermes PackageReferences should be specified within the external props/targets files and not directly in the template output"
### Summary

Your feature requestHermes PackageReferences should be specified within the external props/targets files and not directly in the template output

* Only include conditionally on UseHermes?
* Stop "hardcoding" the nuget package versions, use variable $(ReactNativeWindowsVersion)
* Remove the injection into the app template

### Motivation

Related to #9580, the decision to use Hermes (

[2022-02-19 00:43] jonthysell opened #9582 "Autolinking should only add the MS.RN.Managed projects to a C++ solution if the app project is source based and there's at least one source based C# lib that will need it to build"
### Problem Description

Right now, autolinking will add MS.RN.Managed projects to a C++ app's solution, if C# native modules are detected.

In enabling native modules to consume the M.RN nugets as per #9580, and allowing nuget-based native modules, we'll need to fix autolinking to only insert the projects if the app project is source based and there's at least one source based C# lib that will ne

[2022-02-19 00:48] jonthysell commented on #9580
Part of #7227

[2022-02-19 00:49] jonthysell commented on #9576
Part of #7227

[2022-02-19 00:49] jonthysell commented on #9581
Part of #7227

[2022-02-19 00:49] jonthysell commented on #9582
Part of #7227

[2022-02-19 00:49] jonthysell commented on #9579
Part of #7227

[2022-02-19 00:49] jonthysell commented on #9578
Part of #7227

[2022-02-19 01:01] chrisglein commented on #9443
Somehow missed my GitHub notification on this one, yikes! Sorry you're having such a rough time. You're upgrading from 64 to 66, I assume? What method are you using to upgrade? Did you bump the version, regenerate the app template, or walk through upgrade helper? (info here: https://microsoft.github.io/react-native-windows/docs/upgrade-app)

[2022-02-19 02:03] JunielKatarn commented on #9512
@chiaramooney I was on bug queue duty these last weeks.
I'll jump back to this and all `PackageReference`-related issues on Tuesday.

[2022-02-19 09:32] asklar commented on #9569
spoke to Axel offline, he'll send a PR for this with the change I suggested above.

[2022-02-20 04:50] asklar opened #9583 "crash in JSI when trying to print out object"
react-native-xaml defines a JsiHostObject (`XamlObject`)
The hostobject `get` method takes a `PropertyId` value. The method impl for XamlObject converts the property ID to `std::string` then compares it with some values.

On the JS side, the code does:
[code]

This hard crashes inside the jsi ABI; Chakra throws an exception:
[code]

This exception is then caught and aborted without a chance for th

[2022-02-21 21:01] #3537 closed

[2022-02-22 08:26] dev-jaskaranSingh commented on #4564
Thanks works for me

[2022-02-22 14:22] rozele commented on #9560
I think this is probably fixed in 0.67 with the new approach to text hit testing. To find the first React view in the hierarchy, it uses ReadLocalValue, rather than GetValue, which is probably less crash prone.

[2022-02-22 15:02] jeanmaried commented on #9560
@rozele I just tested with 0.67 and the issue persists.

[2022-02-22 23:36] AgneLukoseviciute opened #9590 "Port WebView module to WinUI3"
### Summary

Port [react-native-webview](https://github.com/react-native-webview/react-native-webview) to WinUI3

### Motivation

This will allow for a WinAppSDK x RNW app to use the WebView module.

[2022-02-22 23:50] jonthysell commented on #9580
I think if PackageReference is going to be in 0.68, we should get this done *before* we snap 0.68.0, so that new 0.68 projects (fresh or upgrading) don't have this in their template.

@JunielKatarn FYI, because this involves PackageReference work.

[2022-02-22 23:50] jonthysell commented on #9579
I think if PackageReference is going to be in 0.68, we should get this done *before* we snap 0.68.0, so that new 0.68 projects (fresh or upgrading) don't have theses files in their output conflicting with what we put in the targets.

@JunielKatarn FYI, because this involves PackageReference work.

[2022-02-22 23:52] jonthysell commented on #9570
@JunielKatarn, FYI because this concerns the PackageReference work.

[2022-02-23 00:23] NickGerleman commented on #9580
0.68 was snapped a couple of weeks ago, originally targeting an end of March release. @JunielKatarn is still doing a little bit of fixup though.

Starting to cleanup `packages.config` related structures would be great. Community modules will all still be on `packages.config` for a while though. I think there are some things we can start to remove now, but others may need to wait until modules are

[2022-02-23 00:54] #9569 closed

[2022-02-23 01:14] JunielKatarn commented on #9570
Noted. I'll be addressing all `PackageReference` integration issues this week.

[2022-02-23 04:50] asklar commented on #9560
Yes the issue persists. The problem is not only that RNW assumes there is a tag, but also that AC also uses Tag, but not as an int. So an element created by AC will have a Tag property that is a WinRT object. RNW detects that a tag is set, and then blindly tries to get an int from it. In the case of the AC element, there is no int, there's a WinRT object (of type `AdaptiveCards.Rendering.Uwp."Elem

[2022-02-23 18:56] chrisglein commented on #9581
@jonthysell we've snapped 0.68 previews ~3 weeks ago (currently we're on [preview 3](https://github.com/microsoft/react-native-windows/releases/tag/react-native-windows_v0.68.0-preview.3)). I think what you're saying is we want to prioritize this before we release 0.68.0 (and not take for a dot release), is that correct?

[2022-02-23 18:58] chrisglein commented on #9581
I assume this is related to #9580, but for different projects?

[2022-02-23 19:07] chrisglein commented on #9560
Related? #4187

[2022-02-23 19:12] jeanmaried commented on #9560
@asklar thanks for the fast turnaround!

[2022-02-23 19:23] chrisglein commented on #9579
Related to #9581 and #9580.
Similar sort of solution in this PR: #9372

[2022-02-23 22:16] AgneLukoseviciute commented on #9143
This is a good candidate for documenting the migration process of UWP -> WinAppSDK if we use one of the existing samples or branch off of one

[2022-02-24 01:12] chrisglein commented on #9443
<View style={styles.headerCenter}> <Image source={require('./../../assets/logo-header.png')} style={styles.imageLogo} testID="logo-image" onError={(e) => { appContext.telemetry.logError(e.nativeEvent.error); }} /> </View>

Can you share more of the styles that are applied to these elements, in case there's something in the configuration relevant to this repro? Best case is if you can get min repro

[2022-02-24 15:40] chrisglein commented on #9196
2.8 is still in prerelease, right? [v2.8.0-prerelease.220118001](https://github.com/microsoft/microsoft-ui-xaml/releases/tag/v2.8.0-prerelease.220118001)
Not ready for us to move for 0.68.

[2022-02-24 16:04] chrisglein commented on #6136
@tudorms @Khalef1 What is the appropriate timeline for this for RNW? I think the intent of this issue was not so much to track the work but to communicate when we thought it was going to happen... but obviously with shifting release rhythms and priorities that hasn't been the case. What should we be tracking?

[2022-02-24 16:39] tudorms commented on #6136
I think we need to wait for upstream React Native to switch the default to Hermes first. As far as I know there aren't any blocking issues (but since we're not actively using Hermes, it would be nice to get a confirmation for that from early adopters).

[2022-02-24 17:22] #9560 closed

[2022-02-24 17:45] AgneLukoseviciute opened #9599 "RNW supports WinAppSDK – Phase 0 “Prototype”"
This issue tracks the set of sub-issues that are required before RNW support for WinAppSDK is said to be in Prototype.

Phase 0 | [Phase 1](https://github.com/microsoft/react-native-windows/issues/9600) | [Phase 2](https://github.com/microsoft/react-native-windows/issues/9601) | [Phase 3](https://github.com/microsoft/react-native-windows/issues/9393) | [Phase 4](https://github.com/microsoft/react-

[2022-02-24 17:49] AgneLukoseviciute opened #9600 "RNW supports WinAppSDK – Phase 1 “Experimental”"
Building on top of https://github.com/microsoft/react-native-windows/issues/9599, this issue tracks the set of sub-issues that are required before RNW support for WinAppSDK is said to be in _Experimental_.

Overall, the goal here is to demonstrate that mixing WinAppSDK and RNW in C++ is possible. But without the general tool chain you might expect (CLI project creation, modules, and such). This en

[2022-02-24 17:51] AgneLukoseviciute opened #9601 "RNW supports WinAppSDK – Phase 2 “Preview”"
Building on top of #9600, this issue tracks the set of sub-issues that are required before RNW support for WinAppSDK is said to be in _Preview_.

[Phase 0](https://github.com/microsoft/react-native-windows/issues/9599) | [Phase 1](https://github.com/microsoft/react-native-windows/issues/9600) | Phase 2 | [Phase 3](https://github.com/microsoft/react-native-windows/issues/9393) | [Phase 4](https://g

[2022-02-24 18:09] AgneLukoseviciute opened #9602 "Update usage docs for how to create modules for WinAppSDK"
Before we "move" WinAppSDK support to Stable, we should update the docs to include instructions for WinAppSDK module creation.

[2022-02-24 18:54] tudorms commented on #9407
Next build of 0.67 (0.67.3 due on Feb 28) will include the fix for InlineSourceMap.

[2022-02-24 19:11] chrisglein commented on #9583
@asklar Does this repro on newer than 0.65.7? And does it repro in Hermes?
Looks like something that should work but is an error in the Chakra JSI.

@vmoroz Does this look familiar at all?

e.nativeEvent here is a built in React Native thing, not part of the app code.

[2022-02-24 23:02] Khalef1 commented on #7311
@JunielKatarn - tagging you on this issue as you might find it interesting.

[2022-02-25 00:56] JunielKatarn commented on #7311
@willmayn Starting RNW `0.68`, we are delivering support for the `PackageReference` mechanism already used by .NET/C#.

This means NuGet dependencies are no longer downloaded to a hard-coded local path (`$(SolutionDir)packages`), but directly consumed in the user's `globalPackagesFolder`.
Setting that variable in the NuGet.config allows setting an arbitrary packages path.

[2022-02-25 03:43] JunielKatarn commented on #9512
This is an unexpected error.

There is a failure building even just Microsoft.ReactNative (meaning, it could be unrelated to the gallery code or dependencies):
[code]

The two resulting errors are:

1. Assertion failed (apparently, `noexcept` method returning void).
[code]

And, the one likely shown in VS:
[code]

The latter does not happen if we set MSBuild property `UseWinUI3` to `true`, but the

[2022-02-25 08:39] JunielKatarn commented on #9512
Update. The following command fails for any version in the React Native Windows `0.68-stable` branch:
[code]
with the errors mentioned above.

However, it succeeds when run against the `main` branch.
There is likely some `PackageReference`-related fix we haven't backported yet.

[2022-02-25 09:26] JunielKatarn commented on #9512
Both MSBuild errors go away when applyint #9562.
#9609 posted to backport to `0.68-stable`.

Once it's merged, RN gallery should try bumping the RNW preview dependency.

[2022-02-25 17:32] #9579 closed

[2022-02-25 17:32] #9580 closed

[2022-02-25 17:32] #9581 closed

[2022-02-25 23:09] asklar commented on #9512
@JunielKatarn the error should only happen in vs2022, are you seeing it in vs2019 as well?

[2022-02-25 23:55] JunielKatarn commented on #9512
I just noticed the original issue that your PR fixes.
I don't have 2019 installed on this machine, so it's safe to assume it happened only because I upgraded to VS 17.1.

Resuming research on the root cause.

[2022-02-26 16:53] jbcullis opened #9613 "Cannot Mask <TextInput> to Pattern Without Flickering"
### Problem Description

Using setNativeProps({text: 'xxx'}) on a TextInput the text is not updated.

### Steps To Reproduce

Create following element:

<TextInput ref={ele => this.Element = ele} defaultValue={null} onChangeText={(e) => {
this.Element.setNativeProps({text: null});
}}></TextInput>

### Expected Results

Element should null out the field after each change.

### CLI version

npx reac

[2022-02-26 17:34] jbcullis opened #9614 "e.stopPropagation and e.preventDefault"
### Problem Description

e.stopPropagation and e.preventDefault do not stop the event bubbling onKeyDown in a TextInput element.

### Steps To Reproduce

Create the following element and type anything into it:

<TextInput value={this.state.txt} onKeyDown={(e) => {e.stopPropagation;e.preventDefault();}} onChangeText={(e) => {this.setState({txt: e});}}></TextInput>

### Expected Results

key should

[2022-02-26 17:47] mrtaiw commented on #8424
Any solutions 🧐

[2022-02-26 19:10] jbcullis opened #9615 "TextInput cursor position when manipulating text"
### Problem Description

When manipulating text during the onChangeText event, if the cursor is not at the end it will jump to the end.
Video below is from mac but same behavior on Windows.

iOS and Android behave as expected.

### Steps To Reproduce

Create the following element, add some text. Then, move cursor to the beginning of the text and add more characters.
This will cause the cursor to m

[2022-02-27 06:06] NickGerleman commented on #9613
`setNativeProps` is pretty internal, and also going away with Fabric. What is the goal here, that cannot be accomplished using the public `TextInput` API?

[2022-02-27 06:08] NickGerleman commented on #9615
Related: https://github.com/microsoft/react-native-windows/pull/7285

[2022-02-27 06:10] jbcullis commented on #9613
@NickGerleman It's a nice tool to have when building masked textboxes.

I've been thinking about it today and what we really need is the ability to define the data format and have the keydownpreview reject keys before it even makes it to RN.
Currently there is a widely acknowledge drawback to manipulating onChangeText which is you get a flicker as the characters make the round trip.
Then it create

[2022-02-27 06:22] NickGerleman commented on #9613
Yeah, it does seem like an inherent limitation, since any text will be entered in the control on the UI thread, before the JS thread or React is notified of the change. It seems like the manipulation would need to happen on the UI thread, as the mutation happens there. I like the idea you mentioned of adding data formats to TextInput, for it to do the masking itself. Something more immediately act

[2022-02-27 06:55] NickGerleman commented on #9613
FYI @Saadnajmi in case you have any thoughts here, re the `react-native-macos` prop.

I wonder if there is a precedent in popular APIs for how these sorts of declarative "allowed text patterns" look. I do agree it is useful, and these APIs become even more useful when supported across multiple platforms.

[2022-02-27 10:30] Saadnajmi commented on #9613
ValidKeysDown is a macOS only prop. It also doesn't apply to TextInput, only View / Pressable. The closest equivalent on windows is 'keyDownEvents'. It specifies which keyboard events should only be handled in JS, and not natively. You can also specify whether to capture the event at the bubbling or capturimg phase. I'm not sure it works with textinput though.

Take a look at here for more info. h

[2022-02-27 10:32] Saadnajmi commented on #9613
In RN Tester, there is a "live rewrite" example usage of TextInput. Every space you type is replaced with underscore. And at least for macOS, a lot of the TextInput behavior didn't work till 0.66. you might want to give those a look.

[2022-02-27 13:29] jbcullis commented on #9613
Thanks @NickGerleman  @Saadnajmi - unifying the api across mac and windows would be great.

I just tested onKeyDownCapture and I can see the event on windows (0.66) and can see the event but not cancel it. On mac (0.64) I cannot see the event.
                                    onKeyDownCapture={(e) => {
                                        console.log(e.nativeEvent);

[2022-02-28 11:49] muiruri commented on #9057
I encountered this issue, there was a package that had the target version as build 18362. It was a C# package. Changed the target to 19041 and I was able to build.

[2022-02-28 12:14] tero-paananen commented on #9057
rn-windows 0.65 that is not mandatory that all modules have to be targeted into same build. If that is current situation developer have to patch all modules he uses to use some same target version. I think that is not wanted solution.

[2022-02-28 16:07] acoates-ms commented on #8424
In UWP applications, each top level window (`CreateNewView`) gets its own UI thread.  A react-native instance can only be run against a single UI thread.  So to have two top level windows use RN content, you'll need to have two seperate RN instances running. (So two `ReactNativeHost`s)

[2022-02-28 17:26] asklar opened #9618 "webview2 props are imported despite also referencing the nuget package through PackageReference"
when we converted to PackageReference, it looks like the webview2 props were left in Microsoft.ReactNative.vcxproj:
[code]

lower down, we reference the nuget package which should import the props/targets:
[code]

[2022-02-28 17:30] asklar opened #9619 "Building M.RN takes longer and sometimes breaks incrementality"
When we added PackageReference, we added two unconditional passes to restore every project upon every build first (we restore as PackageReference and then as packages.config).

This has 2 effects:
- makes the build slower: we end up spending ~30s-1m longer, just to get started on the real build, on every build
- it looks like sometimes msbuild writes despite nothing having changed; this breaks inc

[2022-02-28 17:37] chrisglein commented on #8609
Not going to make 0.68.0 at this rate, but we would consider a backport.
In the meantime, let's make sure we include fast refresh in our manual verification of the 0.68 release (@chiaramooney @TatianaKapos).

[2022-02-28 17:37] asklar opened #9620 "Stock C++ template should be buildable in 10s"
Currently the C++ template app is a full-fledged UWP XAML app. This requires building IDL, running cppwinrt, compiling the many xaml cppwinrt headers, etc. This ends up taking a long time, even when using nuget (much more if you don't use nuget).

This template is useful for apps that need to customize a lot of the native app experience.
However, there will be many cases where 100% of the app logi

[2022-02-28 19:01] asklar opened #9621 "Adding a new project to M.RN results in build break"
1. Open Microsoft.ReactNative.sln in VS
2. Add new project -> C++/WinRT Core App
3. Build
Expected: project builds
Actual: pre-build restore fails with a bunch of errors like:
`1>C:\rnw\vnext\Microsoft.ReactNative.Managed.CodeGen\Microsoft.ReactNative.Managed.CodeGen.csproj : error NU1201: Project CoreAppHost is not compatible with netcoreapp3.1 (.NETCoreApp,Version=v3.1). Project CoreAppHost supp

[2022-02-28 19:11] chrisglein commented on #9613
@jbcullis was Saad's suggestion above about looking that "live rewrite" example helpful? You're on 0.64 for macOS I take it - is upgrading to 0.66 an option?

[2022-02-28 19:13] chrisglein commented on #9614
e.stopPropagation stops the JS propagation but not the native propagation. Can you clarify what the scenario is that you're trying to accomplish here? It sounds like you're trying to lock text input and set it to the previous value. Can you share more of the example?

[2022-02-28 19:16] chrisglein commented on #9615
This sounds very familiar, like something I thought was fixed. Let's check to see if the commit from the linked issue is in the version you're using, as well as if the issue I'm thinking of did indeed take a fix.

[2022-02-28 19:17] jbcullis commented on #9613
@chrisglein i got into it a little bit yesterday, but got dragged into some support.
I can see changes to the text input component on .66 but docs for macOS still list 64 as the stable version.
I'll have a go at building for .66 later this week and see what happens.
We are on .67 for windows.

[2022-02-28 19:19] chrisglein commented on #9618
@JunielKatarn FYI
Not sure what the impact is if this is double included. Benign?

@chiaramooney This is included because we need to capture transitive dependencies and WinUI needs WebView2. Or at least that's what was needed before. Maybe not needed to be explicitly called out now with PackageReference?

[2022-02-28 19:22] jbcullis commented on #9615
@chrisglein i didn't check .68 for a fix so it's possible.
We bumped into the same issue on both Mac and windows.
I put a fix in for windows on our local environment and shared a link above in case it helps.

[2022-02-28 19:24] chrisglein commented on #9619
Sounds like the restore happening on every build (when it doesn't need to) is the first thing to look after.

[2022-02-28 19:29] chrisglein commented on #9620
@asklar Can you reference your prototype and provide the list of changes that would need to happen for apps that don't have native code to benefit from this?

Scenario here seems to cover apps that have on custom view managers but can reference modules that do. Or put differently, if they don't have a XAML file, there are savings to be had. That's part of the cost, the other part is cpp/winrt (con

[2022-02-28 19:33] jbcullis commented on #9614
@chrisglein underlying need is a masked input field.
We were trying to fix a cursor position issue and was exploring a way to cancel the keydown.

[2022-02-28 19:34] chrisglein commented on #9621
Here `CoreAppHost` is the project being added. It's a vcxproj, and isn't compatibile with netcoreapp. Are there project properties that need to be set that the existing projects are doing. What is the stuff that lives in the existing properties that will get this to work?

[2022-02-28 19:34] #9614 closed

[2022-02-28 19:41] chrisglein commented on #9615
This was the change I was thinking of: #7637 (fixing #7283). That change went into 0.64.
@jbcullis Would you be willing to put up a PR with your fix above?

[2022-02-28 19:45] jbcullis commented on #9615
@chrisglein I did see that one but it did t cover this issue.

I'll read up on how to do a PR, I'm a dinosaur still on TFS so still learning how to use GitHub.

[2022-02-28 19:48] jbcullis commented on #9613
I think this should be changed to a feature request.

[2022-02-28 21:25] asklar opened #9624 "Hybrid (PackageReference and packages.config) projects end up taking 2x the disk space for nugets"
Any machine building MSRN from sources will have to get a copy of boost.
Using `PackageReference`-only projects, there will be only one copy in the developer's machine.

As Nick explained, the "extra" `packages.config` exists for hybrid scenarios because the classic NuGet mechanism almost hard-codes the extracted NuGet's location (usually `$(SolutionDir)packages`).

_Originally posted by @JunielKa

[2022-02-28 21:42] JunielKatarn commented on #9619
The slowdown issue is known.
Because Visual Studio does not support `PackageReference` for C++, we manually run the `Restore` target when building under VS.

This is not an issue when building from the command line.

At the moment, I do not know of a way to detect whether the `Restore` target has been successfully run on a previous iteration.

[2022-02-28 21:50] JunielKatarn commented on #9618
I suspect that import is stale.

It's worth trying a PR to clean those up, as long as the adequate manual validation is done.

[2022-02-28 22:45] NickGerleman commented on #9624
Why do you think this leads to extra disk space usage?

`packages.config` projects download the package first to the user's NuGet cache, and second, make s copy to the local `packages` directory. `PackageReference` dependencies skip the second step, and the project will instead reference the package in the NuGet cache directly.

[2022-02-28 22:50] JunielKatarn commented on #9624
Yeah, I was a little confused by the issue's description.

Paraphrasing Nick's reply:
- With `packages.config` only: All dependencies are duplicated (user cache [NuGet's `globalPackagesFolder`]) + clone cache) PER CLONE.
- With hybrid `PackageReference`: Only dependencies of third-party projects that use `packages.config` will be duplicated.

Unless we misunderstood, this is a non-issue and can be

[2022-02-28 22:58] asklar commented on #9624
@JunielKatarn  IIUC Restore happens twice, once with PackageReference and once w/packages.config style:

[code]

[2022-02-28 23:00] NickGerleman commented on #9620
Do we have a story for binary distribution and existing community modules yet? I think we know that it enables this sort of thing, but it has been blocked for the past years because there wasn't a story to update all the modules support was added to for the new format.

[2022-02-28 23:05] NickGerleman commented on #9620
Admittedly it sounds like that will happen with WinAppSDK anyway though 🤷‍♀️. If we are making a break or pushing for something where there will be limited compatibility, it would be best to do this sort of thing at the same time.

[2022-02-28 23:07] NickGerleman commented on #9624
There are two restores. One effects `packages.config` style dependencies (e.g. any current community module), and the other will restore `PackageReference` dependencies.

These are two separate sets of dependencies. In cases where the same dependency is present in both, the same per-user NuGet cache is shared. So there will not be extra disk space usage. For the set of dependencies that was moved

[2022-02-28 23:25] NickGerleman commented on #9619
This is much longer than I would expect restoration to take beyond the first build. Where are you seeing the time being taken?

Our build is unfortunately full of incrementality issues already. E.g. cppwinrt and autolinking. The precedent we have given so far is that it is okay not to be incremental, if the task is fast, and being incremental is "hard", but I would love to see us being clean for n

[2022-02-28 23:31] NickGerleman commented on #9619
Here's a quick reference on how MSBuild lets you do this normally: https://docs.microsoft.com/en-us/visualstudio/msbuild/how-to-build-incrementally?view=vs-2022

A trick we use sometimes when it is hard or expensive to look at outputs, is to do something like writing a file when we complete, then using the presence of that file and its timestamp as an indicator for whether we have been successful.

[2022-02-28 23:33] NickGerleman commented on #9619
Note that MSBuild uses timestamps instead of hashes for all of this. So, if you were to do something like copy an older `packages.config` file, MSBuild wouldn't in that case detect that there needs to be a change. @dannyvv would be a good expert to talk to about this sort of thing once his current work is a little less busy. I think this might be an MSBuild incrementality limitation in general tho

[2022-02-28 23:50] NickGerleman commented on #9512
@JunielKatarn Can we inject that prop ourselves? E.g. via internally used, or externally included property sheets? I don't think we can be asking our users to add special props outside of our framework to fix the issue.

This sort of thing is why I was a bit hesitant about us modifying `Directory.build.props` with the change. It fixes the issue in our own repo, but our own repo is not what custome

[2022-02-28 23:53] NickGerleman commented on #9512
Note that `.vcxproj` using community modules in `node_modules` should already indirectly import [`vnext/PropertySheets/External/Microsoft.ReactNative.Uwp.CppLib.props`](https://github.com/microsoft/react-native-windows/blob/main/vnext/PropertySheets/External/Microsoft.ReactNative.Uwp.CppLib.props) if they are well behaved.

[2022-02-28 23:59] NickGerleman commented on #9615
@chrisglein for reference, Eric needed to replace the behavior of (https://github.com/microsoft/react-native-windows/pull/7637) with the PR I referenced above (https://github.com/microsoft/react-native-windows/pull/7285)

[2022-03-01 00:17] JunielKatarn commented on #9619
That could definitely help, provided we already ensure that a non-incremental build will always do the full restore.

I'll read on that MSBuild link to learn how to track the changes.

Note, being a build performance issue, I'll be addressing any remaining build break corner cases first.

[2022-03-01 00:19] JunielKatarn commented on #9512
We can. We should. Based on your last comment, we can probably use that particular file to set the property.

[2022-03-01 00:44] NickGerleman commented on #9512
Thanks 🙂.

Note that the app @chiaramooney is using, `react-native-gallery` includes many community modules, some of which are quite old, from before we had the foundation we have today. We were standardizing to use the mentioned PropertySheet [two years ago](https://github.com/microsoft/react-native-windows/pull/4987), so you should assume you can target it, but it is possible this will still bre

[2022-03-01 00:47] NickGerleman commented on #9512
@chrisglein @chiaramooney do you have any thoughts on how we should handle that case? Of modules included in the gallery which will no longer work out of the box? My gut feeling is that if we cannot support them and haven't fixed their build logic in the last two years, we shouldn't be advertising them.

[2022-03-01 03:01] #9527 closed

[2022-03-02 00:37] JunielKatarn commented on #9512
@chiaramooney #9628 will make it unnecessary to add the `Directory.Build.props` file.
You can try it once that PR gets backported to branch `0.68-stable`.

[2022-03-02 01:39] chrisglein commented on #9141
There may be some instrumentation in WinAppSDK itself that we can leverage. If that works for us, great. If not, this would go into the RNW CLI telemetry.

[2022-03-02 02:18] asklar commented on #9141
@chrisglein I believe the existing instrumentation is in VS for file->new project which wouldn't capture usage through since we don't use the winappsdk templates.

[2022-03-02 17:09] chrisglein commented on #9181
@aeulitz is this on your current work list? 0.68 is in its 4th preview currently and trending towards release in the coming weeks, and this is currently marked as targeting 0.68. Just looking to set expectations.

[2022-03-02 17:36] chrisglein commented on #9165
PR is up for this but is in draft because of concerns on impact to execution time to `run-windows`. @jonthysell How do you think this will go? Find a way to cut down the time, accept it as a necessary cost, find a way to make the cost not blocking, or other?

[2022-03-02 17:40] chrisglein commented on #8591
Moved out of tracking against 0.68 release as that it needs to be build on top of a PR that's still in draft and we're just a couple weeks out from 0.68. This wasn't meant to target a specific release, but was tracked so based on comments of active prototyping. Moving to track against Backlog but leaving assigned.

[2022-03-02 18:12] chrisglein commented on #8010
@vmoroz Have you had a chance to look at this? Sounds like this partner has unblocked themselves with a workaround, but there remains a problem with the destructor threading.

[2022-03-02 18:16] chrisglein commented on #8003
@vmoroz Danny had assigned this to you. For a while there the whole block of tests was disabled, but @jonthysell re-enabled them and specifically disabled the tests that started failing. Do we have clarity on which test Validimir needs to fix and restore? (@jonthysell @dannyvv)

[2022-03-02 18:42] chrisglein commented on #9057
@jonthysell is AppServiceDemo in the set of CI tests for testing version updates?

@jonthysell Do you think that will affect Tero's issue?

[2022-03-02 19:33] JunielKatarn commented on #9475
@chrisglein Why is this bug labeled `0.68`?

Isn't VS 2022 unsupported for that version?

[2022-03-02 19:40] #9512 closed

[2022-03-02 19:59] chrisglein commented on #6634
Apparently there are also performance gains to be had by using `Canvas` as it'll avoid some cost due to attached DP usage.

[2022-03-02 20:20] chrisglein commented on #9475
Good callout, @JunielKatarn. Moving this out a release as we want to track VS 2022 issues, but this shouldn't be a blocker for 0.68.

[2022-03-02 22:31] JunielKatarn commented on #9406
Does not repro as of commit d46f8b3494fef0b65b2d4194ef3351d592eca006 .
<img width="777" alt="image" src="https://user-images.githubusercontent.com/4507319/156460797-90df19e9-2bb4-4e16-b93f-e1a31937ba8a.png">
<img width="779" alt="image" src="https://user-images.githubusercontent.com/4507319/156460826-067c534e-785a-4561-966b-78076f5131da.png">

[2022-03-02 23:08] asklar opened #9632 "[Canvas 1/3] Move to Canvas.Top, Canvas.Left"
Followup from 3/2/2022 discussion:
Today we use a custom DP to store position inside of the custom panel. We should replace the custom DP with the built-in Canvas attached properties.

[2022-03-02 23:09] asklar opened #9633 "[Canvas 2/3] Move to Canvas base class"
Followup from 3/2/2022 discussion:
Today we use a custom Panel to lay out. As we move to fully be on Canvas, we can just change the base class from Panel to Canvas (and keep the overrides since it's unsealed)

[2022-03-02 23:10] asklar opened #9634 "[Canvas 3/3] Move to Canvas as layout panel"
Followup from 3/2/2022 discussion:
We should remove the panel specialization altogether as we are able to. This might need additional work only available in winappsdk, we should look into it.

[2022-03-02 23:13] asklar commented on #9632
Duplicate of #6634

[2022-03-02 23:59] JunielKatarn commented on #9624
Unless we have a repo case where we are getting more package copies than the one in the user's cache and the ones explicitly declared in `packages.config`, this issue can be closed.

[2022-03-03 00:06] #9624 closed

[2022-03-03 00:33] chrisglein commented on #9143
In order to help parallelize, the sample app doesn't need to be built from the CLI. A manual app is sufficient.
Purpose of this app (initially): a test app? best practices (good for copying)? testing upgrades?
Which existing UWP sample app should we target?
Note this is _not_ about upgrading gallery (#9140) and not about creating and E2E test app (#9144).

Answer: This is the manual, non-automatic

[2022-03-03 00:36] chrisglein commented on #9135
Clean up of this code would mean deprecating the UWP path. The longer we support UWP and WinAppSDK in a parallel, the further out this work is.

[2022-03-03 00:42] chrisglein commented on #9139
CLI logic to have the module templates (for C# and C++)
Depends on #9136.

[2022-03-03 00:43] chrisglein commented on #9141
If this would only cover VS project creation and not CLI project creation, yes we need our own events for this.

[2022-03-03 00:44] chrisglein commented on #9141
Depends on #9165

[2022-03-03 00:49] chrisglein commented on #9142
Note that this is not all the docs, just the steps so far (does not include #https://github.com/microsoft/react-native-windows/issues/9602).

This is the first step in docs, so creating the spot in the docs (alongside UWP, not replacing I assume) and having an article on how to create an app, referring to CLI and samples.

[2022-03-03 01:13] chrisglein commented on #4778
@asklar @AgneLukoseviciute How does this differ from #9135?

[2022-03-03 03:59] #9260 closed

[2022-03-03 18:59] acoates-ms commented on #8010
Fixed by #9445

[2022-03-03 18:59] #8010 closed

[2022-03-03 19:00] acoates-ms commented on #9407
I think the InlineSourceMap fixes should unblock the scenario here.

[2022-03-03 19:03] #9165 closed

[2022-03-04 01:39] #8275 closed

[2022-03-04 21:29] JunielKatarn commented on #9621
We probably need tooling for post-processing new projects (either C++ or C#) added to MSRN.sln.
This is also convenient because the default VS templates add a lot of redundant items and properties that should be obtained via our shared property sheets.

[2022-03-05 03:01] #9390 closed

[2022-03-05 08:35] #9475 closed

[2022-03-07 05:47] arunvenkat1911 opened #9656 "code push package not building with react native windows."
### Problem Description

Hi Team,

I am working on code push for native windows app. I have done the initial set up for the project and got the app working fine in my local. But when I included the code push package, the app is not building.

### Steps To Reproduce

1)    npx react-native init <projectName>
2)    cd projectName
3)    npx react-native-windows-init --overwrite --language cs
5)    np

[2022-03-07 22:10] mganandraj commented on #9407
Debugging into chrome, it turns out that the regression in loading sourcemap from url is introduced by this change : https://chromium-review.googlesource.com/c/chromium/src/+/3227594/
The change enforces that the resources be fetched from the storage sandbox identified by the web content in the chrome tab. In the standalone inspector instance that we launch through chrome:\\inspect, the web conten

[2022-03-07 22:15] tudorms commented on #9407
Thanks for the detailed investigation. Yes, the issue with inline source maps was fixed in upstream a while back, but we never got around to removing the hack: https://github.com/facebook/hermes/commit/093d15fb

[2022-03-08 00:20] nichamp opened #9661 "[0.67] HermesRuntimeHolder and DevSettings leaked on calling ReactNativeHost::UnloadInstance"
### Problem Description

If one attempts to destruct a ReactRootView and/or call `ReactNativeHost::UnloadInstance`, a significant amount of memory (several megabytes with either Debug or Release RNW) is not freed and accumulate each time one repeats this. This is indicative of memory leaks and can be proven by adding breakpoints to destructors in components like `HermesRuntimeHolder`.

In my preli

[2022-03-08 01:24] aeulitz commented on #9407
It appears that as of commit 95638a in RNW main, the titular issue is fixed. Using the RNW playground apps (both Win32 and UWP and Chrome/Edge inspect, I verified that

1. the debug target is listed and that
2. source code can be loaded via Ctrl+P

Commit 95638a fixes an issue where re-loading packages does not remove debug targets from the Chrome/Edge inspect list. I did notice hangs in the playg

[2022-03-08 01:24] #9407 closed

[2022-03-08 01:43] JunielKatarn commented on #9619
Is this still an issue after merging #9647?

[2022-03-08 02:30] aeulitz opened #9662 "Playground app hangs on reload after breaking and continuing in direct debugger"
### Problem Description

After a debugging session including a break and a continue operation, the RNW Playground app fails to render a new package.

### Steps To Reproduce

1. start Metro bundler
2. start RNW playground app
3. in Playground app settings, enable "Direct Debugger" and select JS Engine "Hermes"
4. open a JS package (e.g. Samples/calculator)
5. in Chrome/Edge inspect page, select "in

[2022-03-08 02:32] aeulitz opened #9663 "Playground app hangs on reload after breaking and continuing in direct debugger"
### Problem Description

After a debugging session including a break and a continue operation, the RNW Playground app fails to render a new package.

### Steps To Reproduce

1. start Metro bundler
2. start RNW playground app
3. in Playground app settings, enable "Direct Debugger" and select JS Engine "Hermes"
4. open a JS package (e.g. Samples/calculator)
5. in Chrome/Edge inspect page, select "in

[2022-03-08 09:24] arunvenkat1911 commented on #9656
Attaching the Build log.
[BuildLog.txt](https://github.com/microsoft/react-native-windows/files/8204460/BuildLog.txt)

Also please have a look at the errors that we get while running the app from visual studio.
![CodePushVSError](https://user-images.githubusercontent.com/101084873/157207026-f769003c-ba0d-4668-808c-3584aab89e77.png)

[2022-03-08 17:24] sdhetarwal opened #9666 "error when running npx react-native-windows-init --overwrite it says Cannot find module 'react-native/package.json'"
after running command npx react-native init projectName --template react-native@^0.67.0
and cd projectName
when i run command
npx react-native-windows-init --overwrite
it shows error

 The system cannot find the file specified.
Reading project name from package.json...
Reading react-native version from node_modules...
Cannot find module 'react-native/package.json'
Require stack:
- C:\Users\S DHETA

[2022-03-08 19:57] AlenToma opened #9667 "Having trouble building react-native-screens"
### Problem Description

Hi. So I am thinking of using `react-native-windows` for the first time.
After much googling, I was able to find the right version of react-navigation that will work with it which is version 5.x

After having installed the required component, I am unable to build it at all.

I am getting the following error.

[code]

I am using this with C# and not C++

Here is my package

[2022-03-08 20:11] dannyvv commented on #8003
keeping this bug alive before @msftbot haphazardly closes this again :)

[2022-03-08 21:13] dedavis6797 opened #9669 "Add Intl API Support for Hermes JS Engine"
### Summary

The goal for this issue is to bring Hermes to parity with its predecessor Intl implementations, ensuring alignment with the [ECMA-402](https://www.ecma-international.org/publications-and-standards/standards/ecma-402/) specification.

### Motivation

Hermes currently lacks support for [Intl APIs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl) tha

[2022-03-08 23:07] jonthysell opened #9671 "SampleApp crashes when trying to indicate it's loading the bundle"
### Problem Description

App crashes immediately on launch. Debugging the code, it happens when trying to add the "green box" to the react root view's children.

Stack trace:

[code]

### Steps To Reproduce

1. `cd packages/sample-apps/`
2. `npx react-native run-windows --logging`

### Expected Results

Appl launches

### CLI version

7.0.3

### Environment

[code]

### Target Platform Version

10

[2022-03-08 23:07] jonthysell commented on #9671
This repos on main and 0.68. Trying to repro on 0.67.

[2022-03-08 23:13] jonthysell commented on #9671
Confirmed this repros on 0.67.

[2022-03-08 23:28] jonthysell commented on #9671
Confirmed this repros on 0.66.

[2022-03-09 00:43] jonthysell commented on #9671
The crash happens because of the MUX::ProgressRing added to the "greenbox" UI before the bundle loads. For some reason the SampleApps (both C++ and C#) aren't loading MUX properly. Other apps load it just fine.

If I comment out adding the ProgressRing to the greenbox, everything else loads just fine.

[2022-03-09 01:31] JunielKatarn commented on #9475
Update.

Root cause found.

The following was thought to be a hard requirement for `PackageReference` in `.vcxproj` projects:
[code]

1. This caused the hangs in VS2022.
2. It is not at all needed for `PackageReference`. Can be safely omitted.

[2022-03-09 01:38] CarpeDiEmma opened #9673 "Implement persistentScrollbar for ScrollView"
Creating an issue here per @acoates-ms to implement persistentScrollbar to allow for the scrollbar to remain visible outside of actively scrolling.

[2022-03-09 18:33] stmoy commented on #7383
Following up on this - we're tracking our upcoming roadmap here: https://github.com/microsoft/react-native-windows/discussions/8906

I need to update that discussion with our latest thoughts, but that's where we will be posting our latest status.

Since we're tracking updates on the discussion linked above, I'm gonna go ahead and close this for now and we can follow up over there as needed.

[2022-03-09 18:33] #7383 closed

[2022-03-09 19:34] AgneLukoseviciute commented on #9137
Depends on https://github.com/microsoft/react-native-windows/issues/9136

[2022-03-09 21:11] AgneLukoseviciute commented on #9590
Depends on https://github.com/microsoft/react-native-windows/issues/9136

[2022-03-09 21:13] #9671 closed

[2022-03-09 21:27] jonthysell commented on #9671
For reference, here is the bug tracking the issue with MUX (from which I got the solution): https://github.com/microsoft/microsoft-ui-xaml/issues/5406

[2022-03-09 21:34] AgneLukoseviciute commented on #4778
@asklar can correct me if I'm wrong, but my read on this is that #9135 tracks cleanup related to only supporting WinUI3 on WASDK (and not UWP, islands), whereas this issue tracks cleanup related to removing OS XAML support entirely in favor of WinUI3.

[2022-03-09 21:37] AgneLukoseviciute commented on #9135
@asklar is this correct? My understanding is that this would only entail removing the WinUI3 UWP option, not UWP entirely.

[2022-03-09 21:38] asklar commented on #4778
yes that's correct. Since we're likely to support UWP for a while, I think this issue can be closed

[2022-03-09 21:41] asklar commented on #9135
the code reasons over winui3 in both "winui3 uwp" and "winui3 islands" mode; the latter is similar but different to winui3 winappsdk (subtly different assumptions). So the work here is to a) remove the code related to winui3 uwp, and b) inspect code related to winui3 islands, and figure out how to make it working for winappsdk, and for upcoming winui3 islands (which might behave differently from w

[2022-03-09 21:41] AgneLukoseviciute commented on #4778
Thanks! I'll go ahead and close.

[2022-03-09 21:41] #4778 closed

[2022-03-09 22:17] dunhor opened #9681 "jsi::String::utf8 does not preserve embedded NULs when using Hermes"
### Problem Description

If JavaScript code tries to invoke a function in a turbo module with a string that has an embedded NUL character in it (e.g. the string `'\0'`), then the string the application receives when it tries to read the value of the string via `jsi::String::utf8` will terminate before the NUL character.

Debugging, it seems that this is because the code seems to use some `IHermesS

[2022-03-09 22:25] dunhor commented on #9681
Neglected to mention that the version of Hermes that was auto-added to the project is `<package id="ReactNative.Hermes.Windows" version="0.10.0-ms.1" targetFramework="native" />`

[2022-03-09 22:48] aeulitz commented on #9663
Comparing this to web debugging, perhaps the expected behavior following repro step 7 should involve a "debug connection closed" message in the debugger frontend (see attached picture)
![DbgConnectionClosed](https://user-images.githubusercontent.com/44379427/157551552-f16a4176-2010-4b3f-b3d7-26e09d4f38de.jpg)

[2022-03-09 23:13] dunhor commented on #9681
Investigating more, this only seems to happen when building Debug

[2022-03-10 03:01] #9443 closed

[2022-03-10 03:22] burtonrodman commented on #9443
i have finally been able to upgrade to 0.67.  I will report back if we see this issue again.

[2022-03-10 07:11] #9632 closed

[2022-03-10 18:04] chiaramooney commented on #5217
https://github.com/microsoft/react-native-windows/wiki/Backporting-a-Change

[2022-03-10 18:04] #5217 closed

[2022-03-10 18:20] CesariniFillipe commented on #9666
Same here. If I run de command "npm install" before and then again "npx react-native-windows-init --overwrite", it shows the message:

Installing react-native-windows@0.67.3...
Cannot find module 'react-native-windows/package.json'
Require stack:
- C:\Users\Fillipe\AppData\Roaming\npm-cache\_npx\16564\node_modules\react-native-windows-init\lib-commonjs\Cli.js
- C:\Users\Fillipe\AppData\Roaming\npm

[2022-03-10 18:23] chrisglein commented on #9666
Other previous issues (all resolved one way or another) that could be helpful: #9271 #8718

[2022-03-10 18:26] chrisglein commented on #9667
react-native-screens is used by the [react-native-gallery](https://github.com/microsoft/react-native-gallery) app. It has a different version specified in [its package.json](https://github.com/microsoft/react-native-gallery/blob/main/package.json). I'm not sure on the min supported version, but 0.63 may be too old.

[2022-03-10 19:09] chrisglein commented on #9661
Potential candidate for backport to 0.68 depending on the fix. But definitely a high priority fix.

[2022-03-10 19:13] chrisglein commented on #9666
This sounds like a bad state. Can you find the package.json in the file system? If it's not there, something failed to install. If it's there and it's not being found, that's another issue.

[2022-03-10 19:16] chrisglein commented on #9673
@CarpeDiEmma Do you have non-RNW native scroll bars you're forcing to show? If so, is that handled per instance or on a global app level.

As for this setting, yep it's a gap and should be implemented.
https://reactnative.dev/docs/virtualizedlist#persistentscrollbar

[2022-03-10 19:19] chrisglein commented on #9681
Yeah, this doesn't seem to [be a thing on the hermes-windows](https://github.com/microsoft/hermes-windows/search?q=IHermesString) code, so it's coming from somewhere else?

@dunhor sounds like you're investigating, @vmoroz FYI in case there's something off in the Turbo Modules infrastructure here with handling the string.

[2022-03-10 19:23] asklar commented on #9681
`IHermesString` is [here](https://github.com/microsoft/hermes-windows/blob/main/API/hermes/hermes.h#L13) introduced in 0.8.1

[2022-03-10 19:26] chrisglein commented on #9656
From that build log:

 × It is possible your installation is missing required software dependencies. Dependencies can be automatically installed by running E:\Samples\CodePush\windowscodepushsample\node_modules\react-native-windows\scripts\rnw-dependencies.ps1 from an elevated PowerShell prompt.
For more information, go to http://aka.ms/rnw-deps
Re-run the command with --logging for more informati

[2022-03-10 19:27] #9663 closed

[2022-03-10 19:44] dunhor commented on #9681
Filed the issue in that repo: https://github.com/microsoft/hermes-windows/issues/88

[2022-03-10 19:55] jonthysell commented on #9057
AppServiceDemo does not have any CI workflows.

The fix in 68 will help with version mismatches if you update your apps / libs to the latest templates.

Upgrading without updating to the latest templates only works within a certain tolerance. The smaller the version difference, and the less you've modified the windows native files, and the less you depend on external modules, the more likely it wi

[2022-03-10 20:02] dunhor commented on #9681
Explains why neither of us found the code when searching :/

[2022-03-10 20:02] #9681 closed

[2022-03-10 20:02] jonthysell commented on #9057
PR https://github.com/microsoft/react-native-windows-samples/pull/652

[2022-03-10 20:02] #9057 closed

[2022-03-10 23:53] chiaramooney commented on #7599
@asklar What if the API docs were added as is to \docs in rnw samples and then the website doc cutting script is run. The doc cutting script automatically updates the version ids for all documents to version-0.XX-<original id>? Could you clarify why this wouldn't work

[2022-03-10 23:54] chiaramooney commented on #4453
@asklar Am I able to close this issue? It seems we have this functionality now with our API docs.

[2022-03-10 23:54] chiaramooney commented on #4453
@asklar Am I able to close this issue? It seems we have this functionality now with our API docs.

[2022-03-11 00:46] asklar commented on #4453
this issue tracks moving the generation of the docs onto the samples repo (the doc site) instead of here (the code repo). This runs in [this CI line](https://github.com/microsoft/react-native-windows/blob/c1ecdd8b9cd83f759e976c86acb09aea9a544b04/.ado/jobs/universal.yml#L83).

[2022-03-11 05:53] tero-paananen commented on #9057
I am not sure is example really fixed. If you add some community module that target platform versio is not 10.0.19041.0 example does not build anymore, i think.

[2022-03-11 17:49] chiaramooney commented on #5113
@aschultz Would it be possible to send me a link (offline or here) to the source for the Garrison implementation of "no-hide-descendants", so we can check that out as a solution possibility?

[2022-03-11 19:57] chiaramooney commented on #9618
Ok so for apps that are created on 0.68 and don't use community modules everything looks good. They can build on WinUI 2.8-prerelease and don't require the additional import line or WebView2Version specification.

However, when I try to upgrade gallery to 0.68 and then have it use WinUI 2.8-prerelease. I run into issues. Even with both imports left and specifying a <WebView2Version> in Experimenta

[2022-03-11 21:32] CarpeDiEmma commented on #9673
@chrisglein Not me in particular--I have been primarily working in RNW. From a quick glance around the xaml in the Xbox Shell Apps, the configuration is handled per instance. Also the "type" of scrollview also determines whether it is consistently shown or not--a right stick scroll bar scroll viewer will always have the scroll bar as persistent, whereas a left stick scroll bar scroll viewer may no

[2022-03-11 22:49] chiaramooney commented on #9578
@jonthysell yea definitely! And for clarity purposes the WebView2 dependency will actually be needed for all projects target WinUI 2.8 and above and not just for react-native-webview, so it this can help smooth/make that configuration less fragile that would be great.

[2022-03-12 01:41] #9500 closed

[2022-03-12 05:58] jbcullis opened #9690 "Build error after updating Visual Studio 2022"
### Problem Description
VS2022 17.1 causes build error. Reverting to 17.0.6 resolves the build but worth noting I can't see any previous builds on VS Community, only Enterprise and Professional.

### Steps To Reproduce

Create a fresh project and build.

### Expected Results

Build should succeed.

### CLI version

6.4.0

### Environment

[code]

### Target Platform Version

_No response_

### Tar

[2022-03-12 14:56] jbcullis commented on #9690
![158005963-7b75c7e3-ca83-43f2-b06b-1533e0472579](https://user-images.githubusercontent.com/27532334/158023003-531e552e-181a-49c7-a71f-dfc099c99064.png)

[2022-03-12 19:24] asklar commented on #7599
the docs for vnext and for 0.xx-stable need not match, we add/change/remove APIs, so the contents of the docs are bound to be different (not just in version numbers).

[2022-03-12 22:10] asklar opened #9691 "init with --useDevMode no longer works"
The instructions in the wiki for using the RNW to test no longer work with the introduction of the `@rnw-scripts/metro-dev-config`
I've updated the instructions to manually run `yarn link`  in the `packages\@rnw-scripts/metro-dev-config` folder and then `yarn link @rnw-scripts/metro-dev-config`  in the app. However this likely should be done by the init CLI when using `--useDevMode`

Even after do

[2022-03-13 00:47] asklar commented on #9618
it's possible those modules are not including ExperimentalFeatures.props in their own projects and therefore not using the shared WinUI version?

[2022-03-13 00:53] asklar commented on #9621
I found that if I have a new project added, then I can build the project once, but then every subsequent build will fail during attempting to restore (which should be no-op) with the error from NuGet; the workaround for now is to delete the folder where the nuget cache for the project is:
`rd .\vnext\build\ProjectExtensions\CoreAppHost\ -Recurse -Force`

[2022-03-14 16:31] dbm5858 opened #9694 "Can't call FolderPicker.PickSingleFolderAsync"
### Problem Description

Upgraded to RNW 0.67.3 from 0.63.5.  FolderPicker code now throws `Invalid window handle. (Exception from HRESULT: 0x80070578)` exception.  The code is directly from https://docs.microsoft.com/en-us/windows/uwp/files/quickstart-using-file-and-folder-pickers, and was working in RNW 0.63.5

[code]

### Steps To Reproduce

1. Create native method that calls the above code
2.

[2022-03-14 16:35] chrisglein commented on #9155
Instructions for backporting are [here](https://github.com/microsoft/react-native-windows/blob/main/CONTRIBUTING.md#-backporting). We'd take a PRs to 0.66/0.67 to backport this. Otherwise this is already in the 0.68 payload (currently in preview and release pending soon).

[2022-03-14 18:09] chrisglein commented on #9690
Is it safe to assume you had something that was already working at that when you updated from 17.0.6 to 17.1 that it started breaking?

We haven't yet moved to recommending VS2022 by default for RNW, although obviously we're trying to track compatibility issues and ensure they're resolved.

Do you happen to have a standalone repo of your issue here?

[2022-03-14 18:15] chrisglein commented on #9691
Creating the project works.
Building works.
Running does not work (metro is failing - `useDevMode` changes it to a metro config that doesn't work)

[Details on `useDevMode` here](https://github.com/microsoft/react-native-windows/wiki/Contributing-to-the-CLI#testing-changes-made-to-our-other-packages-using---usedevmode)

[2022-03-14 18:18] chrisglein commented on #9694
What thread are you calling into `FolderPicker` from? That's going to need to be from the UI thread. There was a breaking change somewhere between 0.63 and 0.67 and you'll need to be mindful of the threading here (dispatching the call yourself). Let us know if that doesn't resolve your issue.

[2022-03-14 18:22] chrisglein commented on #9057
Some responses to this in the PR thread. If you're extended the sample you'll need to match the way its handling its module references (which may require changes to that module to match the behavior).

[2022-03-14 18:38] dbm5858 commented on #9694
I'm not doing an thread management.  I just created a native method, and called it from the Javascript side.  Wouldn't that mean that it is on the UI thread?  Under 0.63 I believed it was on the UI thread, because if I didn't set the native methods up as async, the UI would block.

[code]

If I do have to attach to the UI thread, how would I do that?

[2022-03-14 18:42] jbcullis commented on #9690
Correct, we have an existing app that wouldn't build post upgrade.
Not a big deal for us to revert, just wanted to document the issue.
I did try just reverting build tools but that didn't work so it's something with 17.1

I did a clean build of rnw to test, with 17.1 it fails, reverting to 17.06 the same project will build without any changes.

[2022-03-14 18:49] dbm5858 commented on #9694
OK.  Found this:

https://microsoft.github.io/react-native-windows/docs/native-modules-async#executing-calls-to-api-on-the-ui-thread

Still digesting that.

[2022-03-14 19:25] dbm5858 commented on #9694
That code works.  I'm now able to use the directory picker.  Life is good!

Thanks for the assist.

[2022-03-14 19:25] #9694 closed

[2022-03-14 21:50] JunielKatarn commented on #9621
Thanks for the insights.

I will research and resolve this on Friday.

[2022-03-14 22:13] asklar commented on #9621
if you want a repro, check out the branch `microapp` in my fork; the solution `vnext\CoreAppHost.sln`  will exemplify the problem (the first build works, subsequent builds require deleting that `ProjectExtensions` folder)

[2022-03-14 23:53] chiaramooney commented on #9618
@asklar Ok took a look and it is the case that for the three modules that are failing they all don't import an ExperimentalFeatures file. However, there are modules that are successfully build that don't import an ExperimentalFeatures file as well such as checkbox and slider, so that doesn't seem to be the culprit.

Looking at the modules gallery imports it looks like the three failing modules are

[2022-03-15 17:49] TatianaKapos opened #9703 "Add PropNameID::fromSymbol to JSI"
### Problem Description

The lastest integrations https://github.com/facebook/react-native/compare/7cece3423...189c2c895 added the ability to access properties with symbol keys through JSI https://github.com/facebook/react-native/commit/9010bfe457b77862024214ce6210504ff1786ef5. This broke us and we need to add these functions to the windows-side to get rid of the overrides (may also need to add th

[2022-03-16 09:55] arunvenkat1911 commented on #9656
Please have a look at the attached file.

The issue is coming from code push package added.
[BuildLogWithFullLogging.txt](https://github.com/microsoft/react-native-windows/files/8260885/BuildLogWithFullLogging.txt)

_**E:\Samples\CodePush\windowscodepushsample\node_modules\react-native-code-push\windows\CodePush\CodePushConfig.cpp(18,36): error C2259: 'winrt::Microsoft::CodePush::ReactNative::impl

[2022-03-16 16:04] AgneLukoseviciute opened #9707 "PublishNugetPackagesLocally script needs updating"
This script references another script (Layout-Headers.ps1) which was removed and split into 2 different files in #9019

[2022-03-17 16:43] chrisglein commented on #9181
This seems like an important quality of life fix for Hermes inner loop, but we’re still not pushing that by default. Good candidate to backport to 0.68 depending on what the fix looks like.

[2022-03-17 17:40] asklar commented on #9703
curious how this is handled for other platforms? in that RN commit it shows throwing an exception for JSC

[2022-03-17 17:46] AgneLukoseviciute opened #9711 "Rename / Rethink project creation flags for WinAppSDK"
In the CLI, we currently distinguish between a UWP/WinUI2 app and WASDK/WinUI3 using the `--winui3` flag. As support for more WinAppSDK configurations lands, we'll need a way to specify the kind of app that should be built in the CLI (unpackaged, MSIX packaged, WAP packaged). Proposed approach:
________
we should likely rename / rethink this flag [--usewinui3]. I think we'll want something like:
`

[2022-03-17 18:00] agniuks opened #9712 "Remove explicit imports of RNW props/targets when consuming RNW from NuGet"
___
Now that we have PackageReference for C++ _and_ C#, we can probably remove the need for explicit Imports of the RNW props/targets when consuming from NuGet (like in the winappsdk case) and have the project system include the props/targets automatically.
We'd still need to import them when building from source though.

_Originally posted by @asklar in https://github.com/microsoft/react-native-w

[2022-03-17 18:12] chrisglein commented on #9703
Likely requires some kind of paired change from Hermes. Does that sound right @aeulitz?

Currently this was handled in the integration by providing a stub function.

[2022-03-17 18:17] chrisglein commented on #9711
Tricky aspect: This needs to work for all versions of RNW. So what we change it to needs to balance pre and post WinAppSDK.

[2022-03-17 18:23] chrisglein commented on #9656
Something in RNW's codepush support is interacting with cppwinrt wrong. Let's follow up with an issue on that repo to make sure it's tracked.

[2022-03-17 18:26] chrisglein commented on #9690
We'll keep an eye on VS versions, but FYI don't update to 17.2 preview 2 as there's an (unrelated) RNW incompatibility in that preview (fix already in flight).

We haven't seen this particular error yet but we'll keep an eye out for it too. If you do have something that's a minimal repro, definitely share.

[2022-03-17 18:27] TatianaKapos commented on #9703
Some more context:

We have a stub functions in **JsiAbiApi.cpp, JsiAbiApi.h, NodeApiJsiRuntime** and **overrides in ReactCommon** to fix this. The overrides in ReactCommon fixes the Hermes errors.

I _think_ to fully remove the overrides we would have to add stub functions (or implementations) to ChakraRuntime, and hermes-windows

[2022-03-17 18:36] chrisglein commented on #9707
@AgneLukoseviciute this looks like a PR follow up but it didn't have a link to a specific comment.
What's the impact of this not being updated? Does the script not work at all? What scenario is that blocking?

[2022-03-18 13:51] haightt commented on #9673
Does this prop not work for any of the virtualized lists in RNW?

[2022-03-18 15:27] burtonrodman opened #9716 "Display build/launch progress _somewhere_ when starting Debug via F5 in vscode"
### Summary

when one uses `yarn run windows` there is a series of progress messages on build and launching events.

when one starts debugging in vscode by hitting F5, there no build progress to be seen and just a singular "Launching the application" message in the Debug console.

please display the same (or similar) information when launching via F5 as when launching via `yarn run windows`.

###

[2022-03-19 08:08] NickGerleman commented on #9691
There are a couple of easy options to fix this.

1. Revert the change in the --useDevMode metro config. It's arguably better to keep the template more stock, to resemble the user experience, but we need to do special things to make linked packages work already.

2. Fix the resolution logic. Instead of making the devmode config look with its search rooted in the user project (this is what it does r

[2022-03-19 08:20] NickGerleman commented on #9703
Please note that locally modifying the JSI API will break adoption of future versions of Hermes and V8. I you haven't already, I'd recommend talking with the JSHost folks who work in this area.

[2022-03-19 08:23] NickGerleman commented on #9703
Historically, I've talked to @mganandraj and @tudorms for Hermes and V8 when we needed JS engine releases using newer ABI targets, but I'm not sure who's responsible for that these days.

[2022-03-19 08:34] NickGerleman commented on #9703
There are a couple workstreams that help to address the issue, in different ways. @vmoroz has been looking at creating a stable J JS engine ABI, which could allow looser interoperability between different versions of RN, and JS engine binaries. There have been ideas going in the opposite direction, for Hermes to be distributed as part of RN itself, making the ABI consistent between projects as the

[2022-03-21 07:51] NickGerleman commented on #9703
Related: https://github.com/facebook/hermes/issues/706

[2022-03-21 09:20] NickGerleman opened #9721 "Move "platform-override-zero-permission-token" from Personal Identity to RNBot"
https://github.com/microsoft/react-native-windows/blob/0498237784e3ab526bdd0a090ea401a999606543/.ado/windows-vs-pr.yml#L11

Anonymous API requests behind a NAT may be rate limited by GitHub, if other users within the NAT are doing the same. GitHub allows presenting an identity along with API requests, to be treated separately in terms of rate-limit quota. We do that today in our PRs using an OAuth

[2022-03-21 09:36] NickGerleman commented on #9721
Let me know if it would make sense to revoke the token that's still associating with my personal account. It would interrupt PR/CI validation though.

[2022-03-21 12:38] markokhman commented on #9559
I have a same problem. Any ideas how to resolve it?

[2022-03-21 14:07] cortinico commented on #9703
Following up here, I'd like to point out on this comment from the New Architecture working group:

- https://github.com/reactwg/react-native-new-architecture/discussions/4#discussioncomment-2382960

Specifically, we ended up implementing the second point that @NickGerleman mentioned. We're bundling a Hermes version alongside React Native. This essentially eliminates the ABI stability problem as fr

[2022-03-21 16:03] tudorms commented on #9703
@cortinico how do we pick which commit of Hermes goes with which commit of RN? Will we have RN tags in the Hermes repo?

Will JSI still be considered a public API at that point (does it have versioning guarantees, etc.)?

[2022-03-21 16:20] chrisglein commented on #9559
I believe the merged fix above would have gone into the 0.68 release (currently in preview). So you could update to point to that preview, spot fix it yourself with that commit, use an older version of VS, or wait. If you're seeing a different problem afterwards, open a new issue that contains your environment info.

[2022-03-21 17:20] tudorms commented on #9703
It sounds like the ABI issue will still be there if extensions will continue using JSI as a public API. Unless we're saying everyone needs to build everything from source (framework, engine, and all extensions), or extension authors need to produce new binary versions for each rev of the RN version?

[2022-03-21 17:29] vmoroz commented on #9703
What about using other JS engines? We have valid scenarios for using V8 in some desktop applications. If there will be no well defined API between JS engine and RN, then we cannot support them.
Would Meta engineers be opened to discussing establishing a well defined API?
Who would need the JSI public API if it is not used by RN?

[2022-03-21 17:38] neildhar commented on #9703
I defer to @cortinico on the question about building extensions from source, since that's independent of Hermes.

RN still intends to support other JS engines, they can continue to be versioned independently of RN, and accessed through JSI. This is an organisational change to avoid ABI incompatibility issues with Hermes, and improve our ability to respond to release issues, as we work towards maki

[2022-03-21 22:43] #9599 closed

[2022-03-21 23:21] AgneLukoseviciute commented on #9138
Closed through #9177

[2022-03-21 23:21] #9138 closed

[2022-03-23 14:16] dbm5858 opened #9732 "App using @react-navigation/drawer does not render in release build"
### Problem Description

Upgraded our app from RNW 0.63 to RNW 0.67.3.  Release build (`npx react-native run-windows --release`) now renders as a white page:

![image](https://user-images.githubusercontent.com/62263940/159718068-128078f0-7c0b-4d3a-9acc-2630821cbd3f.png)

Debug build renders and works as expected.

I've tried previous versions of `@react-navigation/drawer` and `react-native-screens

[2022-03-24 09:29] Qurishe opened #9733 "RNW global keyboard shortcuts"
### Summary

why is RNW global shortcuts not implemented yet? do we have any progress on that?
it would be a plus if it is given priority.

### Motivation

 it is a must have feature for developing small to large scale applications for windows with react native.

### Basic Example

_No response_

### Open Questions

_No response_

[2022-03-24 12:06] VarunTwri opened #9734 "Support react-native-foo"
### Module

react-native-viewmanager for windows native

### Module repo url

NA(Local implementation)

### Target Version

_No response_

### Existing issue url

_No response_

### Existing windows implementation?

- [ ] Legacy/C# implementation

### Which app/customer is requesting this module?

_No response_

### In what scenarios will this module be used?

**Unable to see Windows Native uwp co

[2022-03-24 16:55] chrisglein commented on #9734
The issue form you used is for requests for Windows support to existing modules. I'm not able to find [react-native-viewmanager](https://reactnative.directory/?search=viewmanager) in the directory. Are you trying to create a new community module? Can you share some source for what you're trying to do that isn't working?

[2022-03-24 16:58] chrisglein commented on #9733
The existing issue on this is here: #3449
Is that the sort of thing you're looking for?

[2022-03-24 17:02] chrisglein commented on #9732
Upgrading from 0.63 to 0.67 is a big jump, including changes to threading assumptions that affect modules. How did you perform the [upgrade](https://microsoft.github.io/react-native-windows/docs/upgrade-app)? Did you recreate the app from the CLI, use the upgrade helper and apply custom diffs, or increase the package version? What versions of react-navigation and screens are you using?

For an upd

[2022-03-24 17:10] dbm5858 commented on #9732
@chrisglein : I recreated the app from scratch.  Then added our code back in.

But more to the point, the code for App.js above is a complete example of recreating the problem.  Create a new RNW app, replace App.js with the code above, do a release build, and the app will render only a white screen.

react-navigation version are the latest and greatest.  For the two components used above, that wou

[2022-03-24 19:11] cortinico commented on #9703
Hey all,
Happy to clarify a couple of points here:

The change we announced https://github.com/reactwg/react-native-new-architecture/discussions/4 is not going to affect consumer of developers in any form.

Historically, we used to cut a release of Hermes for a specific version of RN.
For instance: https://github.com/facebook/hermes/releases/tag/v0.11.0
was version `v0.11.0 for RN0.68.x`.

In the

[2022-03-24 19:22] NickGerleman commented on #9703
React Native for Windows has been using a Microsoft created binary distribution of Hermes, instead of the one provided by Meta. E.g. the MSFT distribution is being used to test JS engine ABIs that are being standardized by the NodeJS team. Some changes that may look internal indirectly end up impacting them downstream. Both as creators of an in-production Hermes implementation, and consumers of He

[2022-03-24 19:25] tudorms commented on #9703
Thank you for the clarification. Might it be worth making Hermes a submodule of react-native?

We're interested in this from 2 perspectives:
* wanting to align in React Native Windows with how Hermes is built / integrated on other platforms (considering we're doing an ugly hack for the Hermes debugger build where we need react native code in the Hermes repo, a tighter alignments makes sense either

[2022-03-24 19:33] NickGerleman commented on #9703
Re channel, a goal I would have is to prioritize access to implementors of RN and JS engine binaries. I think `reactwg` can be that place, if it solicits access to the broad community building the RN platform. That might be a call for Office CXE folks doing the behind the scenes work for React Native Windows implementation to join these.

[2022-03-24 19:35] NickGerleman commented on #9703
@cortinico I would recommend adding partners of RN preemptively to `reactwg`, otherwise discussion is likely to continue in the distinct places where individuals have access.

[2022-03-24 19:49] NickGerleman commented on #9703
Disclaimer that I no longer work at Microsoft, and no longer work on RNW day to day, but when I worked on it, I worked closely with other folks at MSFT folks on Hermes production-readiness. I have no obligation or incentives around this, but I could imagine some really cool outcomes of the change for the RN desktop platform.

[2022-03-24 20:09] NickGerleman commented on #9703
@Khalef1 could you follow up with the instructions provided on adding appropriate folks to the `reactwg` group

[2022-03-24 20:47] NickGerleman commented on #9703
@lyahdav @rozele or @vmoroz might be able to provide additional context into JS engine injection goals. The RNW solution for users of Hermes DLL was IIRC going to be NodeApi-based, with JSI bridge for TurboModules and other JSI extensions. But I know we also wanted to provide a way to link Hermes into the same DLL as the application, for reasons like binary deduplication, or the ability to do bett

[2022-03-24 21:01] #9667 closed

[2022-03-24 21:01] #9666 closed

[2022-03-25 03:41] VarunTwri commented on #9734
@chrisglein
I referenced and created from below link:

https://microsoft.github.io/react-native-windows/docs/view-managers

[2022-03-25 14:20] cortinico commented on #9703
In a sense, the current setup is similar to a git submodule. The reason why we haven't decided for this approach are several:

- React Native is backed by an internal mercurial repo, therefore working with git submodules is suboptimal there.
- We wanted to be more explicit with tags like https://github.com/cortinico/hermes/releases/tag/hermes-2022-02-21-RNv0.68.0-rc1-0172d30ac14e8c936c4fd2c435b799

[2022-03-25 14:41] Flam3rboy commented on #8103
My build is currently failing, because of ``Out of Memory Exception``. I have 8GB of RAM in my Windows development computer.

[2022-03-25 17:32] acoates-ms commented on #4764
You can load additional bundles using JSI

[code]

Note since this uses JSI, this is not compatible with webdebugging.  But that is going away anyway.

[2022-03-25 22:45] arthurhts opened #9742 "Describe the problem"
### Problem Description

I'm having trouble opening a PDF with password in react-native-windows.

Example PDF with password
URI: https://arttechti.com.br/pdf/196_v1.pdf
password: e293a6999ffb4b04b2898f97d1efda6f

The following error message is displayed:

Error: O texto associado a este código de erro não foi localizado.
at Pdf._this._onChange (C:\projetos\EnterApp\node_modules\react-native-pdf\in

[2022-03-26 08:01] #9733 closed

[2022-03-26 10:24] NickGerleman commented on #9703
I am curious of the thought for NodeAPI JS engine ABI versioning. Basically, if JSI makes a change that is API-breaking, how would we handle it in the ABI-standard layer? Do we expect future JSI changes to follow existing pattern of new methods, structures, etc?

I think it is okay, if we continue to act gracefully when a `jsi::runtime` implementation does not implement new part of JSI spec immedi

[2022-03-28 07:19] like001 opened #9745 "npx react-native run-windows failed"
### Problem Description

MIDL : CreateFile() error : 5 [D:\rn_windows\code\init\a\node_modules\react-native-windows\Microsoft.ReactNative\Microsoft.ReactNati ve.vcxproj]
已完成生成项目“D:\rn_windows\code\init\a\node_modules\react-native-windows\Microsoft.ReactNative\Microsoft.ReactNative.vcxproj”(默
认目标)的操作 -
失败。

已完成生成项目“D:\rn_windows\code\init\a\windows\a\a.vcxproj.metaproj”(默认目标)的操作 - 失败。

已完成生成项目“D:\r

[2022-03-28 07:33] like001 commented on #9745
and before npx react-native run-windows,I have already ran :
npx react-native init <projectName> --template react-native@^0.67.0
npx react-native-windows-init --overwrite

[2022-03-28 07:47] like001 commented on #9745
[allLogs.txt](https://github.com/microsoft/react-native-windows/files/8360684/allLogs.txt)

[2022-03-28 18:10] chrisglein commented on #9742
You're going to want to open this issue on the [react-native-pdf](https://github.com/wonday/react-native-pdf) repo. Since that's in a different organization I can't migrate this issue for you, so I'd recommend opening one there yourself with the same info.

[2022-03-28 18:15] chrisglein commented on #9745
At first glance, CreateFile giving an error of 5 means access denied. Could be an antivirus or something?

[2022-03-28 18:18] chrisglein commented on #9716
I don't believe this is something we can do here from the platform perspective (correct me if wrong), but there is a VSCode extension for RN and this could be a feature request for that. Can you open this up as a feature request [here](https://github.com/Microsoft/vscode-react-native)?

[2022-03-28 18:18] #9716 closed

[2022-03-28 18:20] chrisglein commented on #9734
Can you include the source of what you tried so we can reproduce?

[2022-03-28 21:25] chiaramooney opened #9748 "Add Support for accessibilityLanguage"
### Summary

https://github.com/facebook/react-native/commit/7b05b091fd97f95b778369277ac2147730abc7b8 Tadded an `accessibilityLanguage` prop to all the available components. This props is currently working only on iOS and should follow the [guidelines of the relative configuration](https://developer.apple.com/documentation/objectivec/nsobject/1615192-accessibilitylanguage).

### Motivation

Mainta

[2022-03-29 02:40] like001 commented on #9745
But node_modules\react-native-windows\Microsoft.ReactNative\Microsoft.ReactNati ve.vcxproj already exists，and I can rename the file，so I think the file supports modify.How can I build in Visual Studio to get more information？
![image](https://user-images.githubusercontent.com/10498770/160521900-34548290-cdf1-4cb5-9bd8-03e159cfe673.png)

[2022-03-29 03:14] like001 commented on #9745
open the project in Visual Studio and run directly，
[code]

[2022-03-29 03:15] like001 commented on #9745
![image](https://user-images.githubusercontent.com/10498770/160525914-b16513fc-b7a2-4263-ab4e-d02d989cd427.png)

[2022-03-29 03:48] VarunTwri commented on #9734
We tried it with whatever code snippet were there in above link.
Also tried below repo but unable to run:
https://github.com/microsoft/react-native-windows/tree/main/packages/sample-apps
(Above repo is also given in previously given link)

[2022-03-29 11:28] NickGerleman commented on #9721
FYI that the token has been revoked.

[2022-03-29 23:59] adamgorMSFT opened #9751 "REACT_SYNC_METHOD doesn't allow for void return type"
### Problem Description

REACT_SYNC_METHOD doesn't allow for void return type

e.g.
[code]

 1>node_modules\react-native-windows\Microsoft.ReactNative.Cxx\NativeModules.h(629,15): error C2182: 'result': illegal use of type

1> NativeModules.h(629,22): message : Expressions of type void cannot be converted to other types

### Steps To Reproduce

Try and compile this function in a react module

[cod

[2022-03-30 09:10] like001 commented on #9745
I have tried this on another pc，us vs 2019，encountered the same problem。so what information do I need to provide for you to help me solve this problem

[2022-03-30 18:20] #8810 closed

[2022-03-31 18:14] chrisglein commented on #9748
Not hits searching https://reactnative.dev/ for this. I take it it's not in the docs yet?
With this being iOS only it's not yet universal for React Native. Is there a Windows feature that would map directly to this? (iOS description is "The language to use when speaking the accessibility element's label, value, and hint.") Is it in UIA if not in XAML?
@AgneLukoseviciute FYI

[2022-03-31 18:23] chrisglein commented on #9745
1) Thank you for going through the effort to try different machines and configs, this is helpful for reducing the problem.
2) Those are 2 things we were thinking to check. VS 2022 is still new and has compat issues, but VS 2019 should work just fine. And it reproing on another machine eliminates the chance of some issue with file contention on the machine.

Would it be possible to share a snapshot

[2022-03-31 18:26] asklar commented on #9745
@defaultryan any idea what might be going on? it looks like midl is hitting access denied, is there a way to get more info about which file it tried to write to unsuccessfully?

[2022-03-31 20:08] dbm5858 commented on #9732
I provided the requested feedback.  Why hasn't the "needs author feedback" label been removed?

[2022-04-01 17:44] burtonrodman commented on #9716
I discovered while onboarding a new developer, that one CAN in fact see the verbose build output by selecting
`React Native: Run Windows`
drop-down in the OUTPUT tab.

[2022-04-01 22:20] #9451 closed

[2022-04-01 22:22] chiaramooney commented on #9196
@chiaramooney Yes that's correct!

[2022-04-01 22:37] asklar commented on #5029
we should revisit for RNW on WinAppSDK. CC @AgneLukoseviciute

[2022-04-01 22:47] asklar commented on #6068
closing old bug

[2022-04-01 22:47] #6068 closed

[2022-04-02 07:33] jbcullis opened #9767 "Applying a border radius to a view breaks zIndex"
### Problem Description

When a view has a child view that is absolute and can sit outside of the parent view, if the parent view has borderRadius set then the child view loses the ability to float outside of the parent view.

### Steps To Reproduce

Create a view with a border radius and then inside that view, create an element with an absolute position that should sit outside of the parent view.

[2022-04-02 07:53] asklar opened #9769 "Enable loading the bundle from an embedded resource"
We should enable embedded resources as a mechanism to carry the JS bundle with the app; this will be relevant in the win32/WinAppSDK world if we decide to / for customers that don't want to deal with MRT/MRTCore.

One way to do this is to reuse the existing BundleRootPath, which currently accepts file paths as well as URIs. For appx, we accept ms-appx etc. We could start accepting something like `

[2022-04-02 08:56] JunielKatarn opened #9770 "Implement HTTP CORS preflight cache"
### Summary

Follow-up of #9537.

See https://fetch.spec.whatwg.org/#cors-preflight-cache

Cross-Origin resource sharing requests can use a cache of preflights (`OPTIONS` requests that fetch validation headers) to reduce the network traffic when communicating recurrently with the same validated origins.

### Motivation

The current Origin Policy implementation lacks any caching mechanism impacting

[2022-04-03 21:41] asklar opened #9772 "Hermes repeatable builds for NuGet packages"
1) We don't currently keep good track of code that went into a certain Hermes NuGet release, e.g. there is a 0.9.0-ms branch, but that doesn't exactly match the code in the 0.9.0-ms.**4** package (we get mismatched source warnings in the debugger).
This is because the branch seems to track only the latest for a given version.
It's important we address this for compliance / security reasons as well

[2022-04-03 21:42] asklar commented on #9772
CC @tudorms @dedavis6797 @Khalef1

[2022-04-03 21:46] asklar opened #9773 "Back event handler probably doesn't work"
Found this while investigating another issue, I think this is broken now:
![image](https://user-images.githubusercontent.com/22989529/161450021-56aca35c-49bd-4d8b-b060-208771fb7a90.png)

[RCTEventEmitter](https://github.com/facebook/react-native/blob/5dff920177220ae5f4e37c662c63c27ebf696c83/Libraries/Renderer/implementations/ReactNativeRenderer-prod.js#L1080) does not have an `emit` method.

[2022-04-04 08:46] NickGerleman commented on #9773
How are you looking for the interface of `RCTEventEmitter`? From the interfaces below, the above example seems like it would be valid.

1. https://github.com/facebook/react-native/blob/main/Libraries/EventEmitter/RCTDeviceEventEmitter.js
2. https://github.com/facebook/react-native/blob/main/Libraries/vendor/emitter/EventEmitter.js

Do you have a repro where the functionality does not work as expec

[2022-04-04 16:27] chrisglein opened #9776 "Update sample repos to new version (tatianakapos), see upgrade procedure"

[2022-04-04 16:30] chrisglein opened #9777 "Update gallery to a new version using website instructions (chiaramooney)"

[2022-04-04 17:47] jonthysell opened #9779 "Universal Test Configuration Gaps"
We have several gaps in our native testing for Universal.

This issue is an attempt to capture what test suits are running where:

✅ - test suite is running
🟨 - test suite cannot run this configuration (by design)
🟥 - test suite is not running, see linked issue

| Test Suite | PR:<br>x86 Debug | PR:<br>x64 Release | CI:<br>ARM64 Debug | CI:<br>ARM64 Release | CI:<br>x86 Debug | CI:<br>x86 Release

[2022-04-04 18:11] chrisglein commented on #9767
Adding a border causes RNW to emit more XAML elements, and there seems to be some interaction here between placement outside of the parent and the impact of the border radius. Needs investigation as to where this fails in layout.

[2022-04-04 18:18] chrisglein commented on #9772
@Khalef1 Should we track this on https://github.com/microsoft/hermes-windows/issues? (can transfer if so). Doesn't look like new issues are getting triaged - happy to work together to set something up for that.

[2022-04-04 18:19] #9773 closed

[2022-04-04 18:49] chrisglein commented on #9721
@jonthysell @chiaramooney Addressed and safe to close this?

[2022-04-04 20:23] Khalef1 commented on #9772
Chatted offline with @dedavis6797 . We will start triages in our weekly syncs. This issue should go to the Hermes repo IMO

[2022-04-04 20:25] Khalef1 commented on #9772
Tracked in the Hermes-Windows repo - https://github.com/microsoft/hermes-windows/issues/91.

[2022-04-04 20:25] #9772 closed

[2022-04-04 21:16] JunielKatarn commented on #3178
Removing the `ehnancement` label.

This is a required feature.

[2022-04-04 23:48] chiaramooney commented on #9732
Currently the react-native-gallery app is running on 0.68 with react-navigation  "@react-navigation/drawer": "^5.9.0",
    "@react-navigation/native": "^5.7.3"" and is successfully building in release and rendering its contents as expected. Note gallery is a C++ RNW app and not C#.

@jonthysell Is there something about the C# configuration that could affect this scenario?

[2022-04-04 23:59] SanKlein commented on #7574
+1 This would be awesome

[2022-04-05 13:33] dbm5858 commented on #9732
@chiaramooney :

I created a new application using RN 0.68 and RNW 0.68.

I installed the latest @react-navigation/native and /drawer, and the two required dependencies react-native-screens react-native-safe-area-context.

I get the same behavior.  The App.js above renders as a blank page in a release build.  Debug build works correctly.

I uninstalled the react-navigation components and dependenc

[2022-04-05 17:30] #9486 closed

[2022-04-05 18:50] chiaramooney commented on #9732
Ah that might be it. Currently the Windows implementation of screens has a bug that results in a blank screen when you return to a page you've previously visited. It's possible there are other actions that lead to that state as well. Currently gallery is using "react-native-safe-area-context": "^3.1.0",
"react-native-screens": "^2.9.0",

in order to compensate for this. @dbm5858

[2022-04-05 23:27] chiaramooney commented on #7599
@asklar Sorry let me clarify. Because we don't cut the docs until the release is ready, typically the "vnext" docs in the website (\docs) holds the info for our latest 0.XX-stable branch instead of info for "vnext" in the repo.

So adding the 0.XX-stable docs to docs\native-apis isn't writing over information or assuming the docs won't be different for vnext. It's that the vnext api docs informati

[2022-04-06 00:25] TatianaKapos opened #9791 "Microsoft.googletest doesn't have INSTANTIATE_TEST_SUITE_P"
### Problem Description

Latest integrations brought a commit that switches from INSTANTIATE_TEST_CASE_P to INSTANTIATE_TEST_SUITE_P in googletests. https://github.com/facebook/react-native/commit/12a32549f427c993637d41569c49baf5ab7113e8. This causes us to **fork ReactCommon/jsi/jsi/test/testlib.cpp**.

It looks like Meta switched to googletest version 1.10 while we're on https://github.com/Micros

[2022-04-06 07:33] AlexLablaiksSAP opened #9792 "Hermes Engine takes 15 to 160 times longer to process promises than Chakra"
### Problem Description

We have recently switched to Hermes to leverage Direct Debugging via VSCode. Unfortunately, we have been noticing that large datasets have been taking around 20 times longer in Hermes to process promises verses Chakra. Specifically, datasets that take 1.2 seconds with Chakra verses 25 seconds with Hermes.

I have been able to reproduce this with a simple React Native app a

[2022-04-06 07:43] AlexLablaiksSAP commented on #9792
[hermes-promise-test.xlsx](https://github.com/microsoft/react-native-windows/files/8424684/hermes-promise-test.xlsx)

[2022-04-06 09:04] #9769 closed

[2022-04-06 13:55] dbm5858 commented on #9732
@chiaramooney

Screens?  Why is it always screens?  ;-)

I tried installing those specific versions, but then ran into dependency errors for react-navigation.  So it apparently isn't as easy as just backing off those two components.  I'll keep trying, but progress is going to be slow here (the boss isn't paying me to work on this, and the team has already coded a quick-and-dirty replacement for th

[2022-04-06 16:01] chiaramooney commented on #7599
sync'd offline. Added task to release list of todos. Closing issue.

[2022-04-06 16:01] #7599 closed

[2022-04-06 19:18] NickGerleman commented on #9792
From your steps, you mentioned opening the RNW developer menu. Are you running a debug build of your application?

Chakra exposes it's APIs to react-native-windows in the form of ABI-safe C functions. It lets RNW debug builds use a release version of Chakra. The Hermes boundary is not yet ABI safe, and MSVC has different debug snd release ABIs. This currently forces RNW to use an "optimized debug

[2022-04-06 20:08] acoates-ms opened #9797 "Remove fork of processTransform.js when merging upstream changes"
PR on core to stop special casing iOS/Android:
https://github.com/facebook/react-native/pull/33579

[2022-04-06 20:24] acoates-ms commented on #9792
Also from your steps you are not comparing Chakra vs Hermes at all.  When you enable remote debugging, you are running the JS inside a webbrowser (either Edge or Chrome probably) - both of which use V8.  When running the JS in a browser you are running inside a very different JS environment including a completely different promise implementation.  There are so many differences between how things r

[2022-04-06 20:31] AlexLablaiksSAP commented on #9792
Yes, all tests were performed with a `Debug` build initially and were essentially live switched using the developer menu.

For our actual application, which my test repository is imitating,  we do indeed have about a 20 second load screen time which is similar to the 10K Nested Promise test in the referenced repository.

I have gone back and rebuilt and tested in a `Release` build. The performance

[2022-04-06 20:34] AlexLablaiksSAP commented on #9792
I can go ahead and provide you with updated results from Chakra in release for the repository in question.

[2022-04-06 21:40] AlexLablaiksSAP commented on #9792
I have tested Chakra with both Debug and Release. Results are as follows:
For Debug, Hermes takes 3.5 to 19 times longer than Chakra.
For Release, Hermes takes 2.5 to 7.7 times longer than Chakra.

Important to note; for the larger Nested Promise tests, Chakra Debug outperforms Hermes in Release.
[hermes-promise-test.xlsx](https://github.com/microsoft/react-native-windows/files/8431731/hermes-prom

[2022-04-07 13:15] dbm5858 commented on #9732
@chiaramooney:  I can confirm that using the versions from the gallery app, the drawer works properly in a release build.
[code]

The problem with this is that some of these are +really+ old.  And according to `npm audit`, there are 4 high severity vulnerabilities by using these versions.  So I'm not eager to use this set of components.

Found this https://github.com/react-navigation/react-navigat

[2022-04-07 18:10] chrisglein commented on #9791
I guess the next step is to see about getting that fork updated, although it doesn't look terribly active. We'll have to drum up some contacts.

In the meantime the workaround here is a fork in ReactCommon.

[2022-04-07 18:23] chrisglein opened #9807 "Error setting up environment using elevated PowerShell script"
### Discussed in https://github.com/microsoft/react-native-windows/discussions/9803

<div type='discussions-op-text'>

<sup>Originally posted by **uwemneku** April  7, 2022</sup>
I got a new system running on windows 11 and I'm having issues running the shell script to set up react native windows environment.
[code]
Please I need help resolving this error.

Here's a screenshot of the error I'm get

[2022-04-07 18:26] chrisglein opened #9808 "How to enable the New Architecture in RNW 0.68"
### Discussed in https://github.com/microsoft/react-native-windows/discussions/9793

<div type='discussions-op-text'>

<sup>Originally posted by **ndNovaDev** April  6, 2022</sup>
the New Architecture is ready for use in RN 0.68 https://reactnative.dev/docs/new-architecture-intro
Is there a way to enable it in RNW?</div>

[2022-04-07 19:42] #9807 closed

[2022-04-08 01:03] NickGerleman commented on #9791
I kind of like the idea of removing usage of the adapter. Using raw GoogleTest would be moving official tests from a VS plugin, to CLI tool. That move makes it easily runnable in more places, but removes tight integration of some tests with Visual Studio.

An idea for similar-ish DevX could be to add a locally runnable "yarn test:native", which runs both GTest, and "VSTest.console".

FYI @JunielKa

[2022-04-08 01:06] NickGerleman commented on #9791
There seems to be an up to date VS code plugin for raw GTest. https://marketplace.visualstudio.com/items?itemName=DavidSchuldenfrei.gtest-adapter

[2022-04-08 13:01] dbm5858 commented on #9732
@chiaramooney :  I just did a release build using the latest version of all components except `react-native-reanimated`.  This build runs correct.  So it would seem that `reanimated` is the culprit.

[code]

I'll start testing with other version of RNA.  I see that they just released 2.6 4-days ago.  Dare I hope?

[2022-04-08 19:08] Khalef1 commented on #9570
@JunielKatarn - this is still tagged for the 0.68 release. Given that 0.68 is out at this point, are you planning to backport the change or submit to a newer release?

[2022-04-08 19:09] Khalef1 commented on #9515
@JunielKatarn - this is still tagged for the 0.68 release. Given that 0.68 is out at this point, are you planning to backport the change or submit to a newer release?

[2022-04-08 19:10] Khalef1 commented on #8003
@vmoroz  - this is still tagged for the 0.68 release. Given that 0.68 is out at this point, are you planning to backport the change or submit to a newer release?

[2022-04-08 23:34] chiaramooney commented on #9732
Thanks for all this context @dbm5858! From time to time we update the versions of the packages in react-native-gallery depending on if there is a change we are specifically looking to take in, but it would probably be good practice to at least refresh these with each RNW release to catch problems occurring with more recent version. Glad to hear you found the culprit! I'll go ahead and close this i

[2022-04-08 23:34] #9732 closed

[2022-04-08 23:43] JunielKatarn commented on #9515
I plan to backport, if approved.

[2022-04-08 23:46] JunielKatarn commented on #9570
Backport, if approved.

[2022-04-11 17:59] chiaramooney opened #9817 "Fill Windows TS Gaps in react-native for Future Releases"
### Summary

Issue raised in RN Release Weekly Sync. Request to RNW dev to take on this effort for each release.

Meta uses Flow for typing instead of TS, thus they don't care about the TS types for their libs which leads to situations where people from the community need to fill the gap to make the libraries usable with Typescript. For react-native, there's the same problem. The goal would be for

[2022-04-12 00:34] #9217 closed

[2022-04-12 10:55] tommyhtran commented on #3396
This is still not documented.

The manual instructions at https://microsoft.github.io/react-native-windows/docs/rnw-dependencies do not show an alternative to installing Visual Studio. Running the provided script, `rnw-dependencies.ps1`, is not acceptable because it'll resort to installing Visual Studio Community edition.

I went ahead and installed JetBrains' redistributable of MSBuild, but found

[2022-04-12 14:34] Qurishe commented on #8157
Hi, can you provide an example of how to use this wrapper?
I installed it and imported Cursor from react-native-windows-cursor but when i call Cursor.setCursor("pointer") it gives me error of undefined.

[2022-04-12 17:24] jonthysell opened #9820 "Telemetry tests randomly failing in CI"
### Problem Description

The Telemetry tests in `telemetry.test.js` fail randomly in CI.

I thought I had fixed the instability completely with #9801.

The tests started failing with #9819. It was just a style change (but deforked a lot of files from RN) so rather than keep blocking it I pushed it in, to see if CI would fair better than PR. It didn't.

### Steps To Reproduce

Run `yarn test` on CI

[2022-04-12 19:09] aeulitz opened #9824 "HermesRuntimeImpl, HermesRuntimeHolder leaking in reload scenario"
### Problem Description

There is a circular reference from DevSettings to HermesRuntimeHolder (via DevSettings::jsiRuntimeHolder) and back from HermesRuntimeHolder to DevSettings (via DevSettings::m_devSettings). This causes DevSettings and HermesRuntimeHolder objects and transitively everything strong-referenced out of both (e.g. HermesRuntimeImpl) to get leaked in case of a reload.

### Steps T

[2022-04-12 23:52] chiaramooney opened #9826 "Keyboard Focus and Accessibility Focus should be the same"
### Problem Description

According to UIA and Narrator team, on Windows, keyboard focus and accessibility focus should always point to the same element. Currently in RNW, when a focusable element is passed `accessible=false`, the element is removed from the UIA tree but remains keyboard focusable. Thus the user, when tabbing to an element with `accessible=false` with a screen reader enabled, can s

[2022-04-13 00:04] AgneLukoseviciute commented on #9826
related: https://github.com/microsoft/react-native-windows/issues/8875

[2022-04-13 07:06] VarunTwri opened #9836 "Once we try to create a simple React windows application version 0.68 and tried to run the same facing below build failing issue"
### Page url

https://reactnative.dev/blog/2022/03/30/version-068#highlights-of-068

### Problem Description

Once we try to create a simple React windows application version 0.68 and tried to run the same facing below build failing issue.
Also could you please help me to switch to new ReactNative architecture.
![image](https://user-images.githubusercontent.com/102298041/163119146-e4139146-92e0-4b

[2022-04-13 07:59] VarunTwri opened #9835 "Facing issue running react-native windows published application."
### Page url

NA

### Problem Description

While running Application in debug mode , through command npx react-native run-windows, application is running fine ,
But when we tried to create a package out of it and tried to run , the appx application is getting stucked .

Things tried:
We tried to trace the API calls , which flow is smooth and we are getting object in return.

Stucked App:
![image](

[2022-04-13 23:17] asklar commented on #3396
@tommyhtran unfortunately e don't have plans to support JetBrains, only Visual Studio.

[2022-04-14 18:14] #9824 closed

[2022-04-14 18:18] jonthysell commented on #9817
@chrisglein Are we able to take on maintaining TS types for RN core?

[2022-04-14 18:26] jonthysell commented on #9835
Can you provide more details on what you did? What version are you running?

[2022-04-14 18:28] jonthysell commented on #9836
What steps did you follow to create the new app? Was this error after trying to use the "new architecture"? Note that RNW does not yet support the new architecture.

[2022-04-14 19:27] Qurishe commented on #8157
@chrisglein do you know anything about this library and how to use it?

[2022-04-14 19:33] asklar commented on #8157
@Qurishe that library was built for an earlier version of RNW, which was built on top of WPF. We rewrote RNW a few years ago (does not target WPF anymore) and so this library won't work on the re-written RNW.

[2022-04-14 19:50] Qurishe commented on #8157
Ohh, so is there any library or work around?

[2022-04-14 20:51] asklar opened #9838 "Create test app to exercise Watson dump collection"
We need to build an app that crashes, triggers the Hermes crashdump collection, and then we can validate that it works end to end. Even if it takes a few days to flush it through the pipeline, we can still do this testing manually at first.

[2022-04-15 01:22] NickGerleman commented on #9836
Like Jon mentioned, the recent "new architecture" opt-in is meant for iOS/Android, though there has been a lot of work behind the scenes to eventually allow similar features to users of RNW. You can use C++ TurboModules with RNW today, but it does not have a fully fleshed out story for C++ interface code generation from TS interfaces. Most internally provided modules will already run as TurboModul

[2022-04-15 01:34] asklar commented on #8157
you could use [react-native-winrt](https://github.com/microsoft/react-native-winrt/) to call the native cursor APIs from your JS. there isn't anything that is more ready-made as far as I know.

[2022-04-15 14:33] Qurishe commented on #8157
Thank u for helping me😃.
I setup the react native WinRT but when try to build it gives me error of "compiler is out of heap space" i tried lots of solutions from stackoverflow but still didn't solve it.
my machine has:
SSD
12GB of RAM

[2022-04-17 17:02] raffaeler opened #9843 "Code generation does not project names containing special characters"
### Problem Description

When creating a new project with a camelCase name like `npx react-native init myApp`, react native generates a `package.json` with the following name:
[code]

At this point I add the Windows Desktop platform with:
[code]

This command triggers the generation for `sln`, `csproj`, `xaml` and `cs` files that do NOT accept the dash character.

### Steps To Reproduce

[code]

W

[2022-04-18 18:08] chrisglein commented on #9838
A challenging task, but I think we're up to it 😂

[2022-04-18 18:11] chrisglein commented on #9843
We have previously hit issues with capitalization in project names (@jonthysell can you link that issue). May be related (we may have drifted out of sync again).

[2022-04-18 18:41] jonthysell commented on #9843
This doesn't repo on version RN(W) 0.68. Running these exact commands works as expected:

[code]

I get RN CLI 7.0.3, RN 0.68, and the app is named `myapp` in package.json.

Did you specify `--version=0.67` for your initial project creation? Even if I do that, everything still works as expected. I get RN CLI 6.4.0, RN 0.67.4, and the app is named `myapp` in package.json.

Were you using any other

[2022-04-18 19:13] raffaeler commented on #9843
@jonthysell Sorry, I oversimplified the repro steps. I started from the [ignite template](https://github.com/infinitered/ignite):
[code]
Ignite template is responsible for the dash. Anyway the generation that follows from `react-native-windows` uses the dash inside the C# code which is illegal.

BTW I had to give up with the ignite template even if I could successfully merge the two metro.config.j

[2022-04-18 19:35] jonthysell commented on #9843
I can look at expanding the compatibility of `react-native-windows-init` to support project names from unofficial RN init scripts, in the meantime you can work around this issue by manually specifying the `namespace` parameter, i.e.:

`npx react-native-windows-init --overwrite --language cs --namespace myApp`

[2022-04-18 19:41] raffaeler commented on #9843
Thank you.
Providing a message when unsupported characters are found (and suggesting to specify the namespace) would be sufficient.

[2022-04-18 21:01] #9745 closed

[2022-04-19 06:36] liudonghua123 opened #9850 "Playground doesn't build - Cannot open include file: 'boost/preprocessor/control/expr_iif.hpp': No such file or directory"
### Problem Description

I want to run `react-native-windows` as an ordinary win 32 app, I searched and find `packages\playground\windows\playground-win32.sln`. So I tried to build it. However, I got `Cannot o pen include file: 'boost/preprocessor/control/expr_iif.hpp': No such file or directory` error.

### Steps To Reproduce

[code]

### Expected Results

the commands run successfully.

### CLI

[2022-04-19 17:00] vidager opened #9852 "chrome:inspect breakpoints w/Hermes not hit when set on files from local drive"
### Problem Description

When direct debugging Hermes with chrome:inspect, breakpoints set on local file system files don't work. Instead, you have to open the files from the localhost:8081 address, which is painful as you can only do that with CTRL+P.  Instead, you should be able to add your local workspace, navigate files naturally and set breakpoints that way.

When using the vscode-react-nativ

[2022-04-19 17:05] #9820 closed

[2022-04-19 17:52] Olabisim commented on #865
Hello, i still couldn't solve this issue or bypass it for more than a week. i really need help,
![image](https://user-images.githubusercontent.com/61283788/164065270-98381041-b5a1-4097-bc7d-3943c0f84fbb.png)
what can i do to solve this error?

[2022-04-19 21:53] GriffinSoliminiMSFT opened #9859 "Enabling "Break on First Line" in the Developer Menu (Ctrl+Shift+D) does not cause the app to break on the first line"
### Problem Description

Enabling "Break on First Line" in the Developer Menu (Ctrl+Shift+D) does not cause the app to break on the first line.

### Steps To Reproduce

1. Create a new React Native Windows Sample app
2. Run: npx react-native run-windows
3. Open developer menu (Ctrl+Shift+D) while running the app
4. Activate "Break on First Line" option in developer menu
5. Observe that the app sta

[2022-04-19 22:26] Olabisim commented on #865
solution to this issue is to remove any special characters or spaces from your paths structure, my main folder was named DESKTOP APP so i changed it to DESKTOPAPP and rerun the app and it worked fine... you can also read my blog for detailed explanation of the errors i went through

https://medium.com/@olabisiajoseh/setting-up-a-react-native-desktop-app-in-5-minutes-d06718838caa

[2022-04-19 23:39] jonthysell opened #9861 "Telemetry service rejects errors without an error message"
### Problem Description

We have an `preserveErrorMessages` option in our telemetry object that defaults to false, which deletes the error message from the JSON pushed up to Application Insights. If true, we sanitize the error message.

However this message field must be present and non-empty, or AI will reject the error as malformed.

We could instead pass up some sentinel, general text like "Err

[2022-04-20 22:35] JunielKatarn opened #9868 "Re-enable HTTP Origin Policy integration tests in CI"
### Problem Description

Similar to WebSocket tests some time ago, tests from class `HttpOriginPolicyIntegrationTest` hang their corresponding test job on CI pipelines.

They have been temporarily disabled for CI/CD.
They do pass when run locally on any configuration.

### Steps To Reproduce

1. Remove class `HttpOriginPolicyIntegrationTest` from desktop integration test exclusion list.

### Expec

[2022-04-20 23:49] #9537 closed

[2022-04-21 16:09] jonthysell opened #9870 "Telemetry service strips out necessary data"
### Problem Description

There are several important data fields that are added automatically by ApplicationInsights when firing telemetry. However, on the backend, these data fields are stripped.

The missing fields include:

| Source JSON Field | Target Data Column |
|:-|:-|
| tags.ai.device.osArchitecture | DeviceOSArchitecture |
| tags.ai.device.osPlatform | DeviceOSPlatform |
| sampleRate | S

[2022-04-21 18:16] jonthysell commented on #9859
Which JS engine are you using? Chakra? Hermes?

And are you reloading the JS after setting the option?

[2022-04-21 18:21] jonthysell commented on #9852
Is it possible that Chrome can't access local files by design? Does this work for direct debugging on other platforms?

@aeulitz Is this something you're looking into?

[2022-04-21 18:24] jonthysell commented on #9850
@JunielKatarn Is this because running msbuild raw doesn't restore the nuget packages?

[2022-04-21 18:25] jonthysell commented on #9850
See #9436.

Can you try including `/t:Restore` to make sure that the boost nuget package is downloaded?

[2022-04-21 19:16] #9826 closed

[2022-04-21 20:45] JunielKatarn commented on #9850
When using MSBuild from the command line, the right way to implicitly restore dependencies (without running a separate `/t:Restore` command) is:

`MSBuild.exe /restore <other args...>` or `MSBuild.exe /r <other args...>` for short.

[2022-04-21 20:47] JunielKatarn commented on #9850
@liudonghua123 you are missing the `/restore` (`/r`) switch.
See documentation:
https://microsoft.github.io/react-native-windows/docs/managing-cpp-deps#building-with-msbuildexe-advanced

[2022-04-21 21:48] chiaramooney commented on #9721
Yes all done.

[2022-04-21 21:48] #9721 closed

[2022-04-21 23:14] #8491 closed

[2022-04-22 01:28] liudonghua123 commented on #9850
I tried add `/r` switch (`msbuild "playground-win32.sln" /r /p:Configuration=Release;Platform=x86` or `msbuild /r "playground-win32.sln" /p:Configuration=Release;Platform=x86`), but it failed with another error `d:\code\react-native\react-native-windows\node_modules\@react-native-picker\picker\windows\ReactNativePicker\ReactNat
ivePicker.vcxproj(163,5): error : This project references NuGet packag

[2022-04-22 05:41] JunielKatarn commented on #9850
Thanks for reporting this.

We'll look into it.

[2022-04-22 06:09] JunielKatarn commented on #9850
@liudonghua123 It seems like you have reached one of the advanced use-cases, where some projects in the solution use the `PackageReference` dependency type and others use `PackagesConfig`.

The documentation (same link: https://microsoft.github.io/react-native-windows/docs/managing-cpp-deps#building-with-msbuildexe-advanced) states that in those cases, you should run two separate `MSBuild` command

[2022-04-22 07:20] liudonghua123 commented on #9850
@JunielKatarn Hi, thanks for the detailed explanation. However, I tried to execute the following three commands, the first one succeeded, the last two commands are failed with the same error message.

[code]

<details>
<summary>logs</summary>

[code]

</details>

[2022-04-22 07:23] JunielKatarn commented on #9850
Could you try setting the `Platform=x86` property for all three MSBuild commands?
If that doesn't work, I'll look into it directly today.

[2022-04-22 07:55] liudonghua123 commented on #9850
Thanks, I tried the following commands without errors and `Playground-win32.exe` is build successfully now.  :smile:

[code]

![image](https://user-images.githubusercontent.com/2276718/164643407-8d8233be-3e4b-4dde-ba83-54b7df7a4f06.png)

[2022-04-22 18:16] tobyfrancis opened #9877 "Official react-native-webrtc support"
### Summary

Official support for react-native-webrtc would go a long way - leaving individual developers to build the interface between WinRTC and React Native is inefficient, not to mention the deprecated state of WinRTC and MixedReality/WebRTC.

Most of the necessary imports for react-native-webrtc are functional, support for mediaDevices.getUserMedia as well as RTCView would be the highest pri

[2022-04-22 19:53] JunielKatarn commented on #9850
Glad to know.

This gives us the opportunity to improve our documentation on these advanced build scenarios.

Feel free to close this issue if you think it has been resolved.

[2022-04-22 20:09] jonthysell opened #9878 "CLI msbuildtools.ts has code to extract MSBuild errors, but code is never called, so the telemetry provides no useful debuggable information"
### Problem Description

When we call msbuild.exe as part of run-windows, we create a temporary error log file to capture any build errors.

However, when calling `commandWithProgress`, if the build fails, it throws a generic error with the exit code of msbuild, i.e. `new CodedError(MSBuildError, 'Building Solution - error code 1')`.

We then catch that exception, see that it isn't null, and re-th

[2022-04-22 21:03] NickLeippe opened #9879 "Can't install/build with RNW"
### Problem Description

VS 2019

With neither npm install nor yarn add to a base RNW project the result will not build.
Tried updating  NuGet packages.
Tried numerous variations on order of install, settings changes.
Produces errors every time.

### Steps To Reproduce

npx react-native init abc --template react-native@^0.68.0 # installs 0.68.1
cd abc
npx react-native-windows-init --overwrite

eit

[2022-04-22 21:06] asklar commented on #9879
@chiaramooney fyi, I was able to repro the "can't build" in a fresh app too. Also tagging @JunielKatarn
Looks like this might be a combination of the webview2 changes colliding with the PackageReference stuff.
Now that RNWebview uses winui 2.8.x, that's what gets restored. However the webview vcxproj references the 2.7 version of props/targets since it doesn't know which version will ultimately be

[2022-04-22 22:03] chiaramooney commented on #9879
@asklar @NickLeippe When using react-native-webview within an RNW app that is 0.68+ specifying specifying WinUI2xVersion as 2.8.0-prerelease.210927001 in ExperimentalFeatures.props is necessary because the module depends on the WinUI WebView2 control which is only present in WinUI 2.8.0-prerelease.210927001 or higher. Currently RNW 0.68 uses WinUI 2.7, so we have to use the ExperimentalFeatures wo

[2022-04-22 22:14] NickLeippe commented on #9879
I tried that and it didn't fix it.

[2022-04-22 23:13] asklar commented on #9879
if you run `yarn windows --logging`, it will spew out a bunch of info, and it should show the errors in red.

I just tried this and I see there's another additional layer where this is failing: conflict between the global webview2 nuget that is fetched by PackageReference, and the packages.config one:

[code]

@JunielKatarn  any ideas?

[2022-04-25 05:32] liudonghua123 commented on #9850
@JunielKatarn @jonthysell Thanks for your help 😄

[2022-04-25 05:32] #9850 closed

[2022-04-25 18:08] chrisglein commented on #9877
Duplicate of #6028

[2022-04-25 19:05] #9861 closed

[2022-04-26 00:31] chiaramooney commented on #9879
Fix found. PR out now.

[2022-04-26 01:22] SBS-olessia commented on #5966
is there an update on Modal being implemented for windows apps? Absolute positioning workaround has not worked for me.

[2022-04-26 04:19] JunielKatarn commented on #9879
I'll take a look at the bug and Chiara's PR.

[2022-04-26 18:21] SBS-olessia commented on #2989
Is there an ETA for when modals for windows might be implemented?

[2022-04-26 19:33] #9877 closed

[2022-04-27 16:28] #9879 closed

[2022-04-28 15:07] josiext commented on #7607
How did u solve it ?

[2022-04-28 15:18] oldoldman commented on #7607
Hack the build script which will detect the cl command line and call it later to compile the cpp files. The build system is complicated,so it is not a easy task.

[2022-04-28 17:41] NickLeippe commented on #9879
Okay, if you edit ExperimentalFeatures.props and add:
<WinUI2xVersion>2.8.0-prerelease.210927001</WinUI2xVersion>

It does successfully build.
Also, the sample in the docs fails to set width and height, without which it doesn't display anything.

[2022-04-28 18:12] chrisglein commented on #5966
No updates, although feel free to capture your scenarios in the linked issue above. In general, there are lots of community options for capturing modal scenarios and the built in Modal one has less adoption. Many of those don't have Windows support at the moment (but could). Many people are working around this with the Flyout/Popup options available on RNW.

[2022-04-29 00:02] #9835 closed

[2022-04-29 03:01] #9836 closed

[2022-04-29 15:37] SBS-olessia commented on #5966
Thanks for the reply @chrisglein! I used Flyout as a a workaround but seems like there's an open issue where the full placement doesn't work if there are any Text elements inside. Github issue here: https://github.com/microsoft/react-native-windows/issues/2969

I'll try the Popup solution, thanks for the rec!

[2022-04-29 16:42] chiaramooney opened #9915 "0.69 Release Status"
## Checklist

**Before Preview**
- [x] Draft GitHub release notes from commit log (chiaramooney)
- [x] Promote canary build to preview using [wiki instructions](https://github.com/microsoft/react-native-windows/wiki/How-to-promote-a-release) (chiaramooney)
- [x] Push build to stable branch (chiaramooney)
  - [x] Enable CI schedule for new branch of [CI pipeline](https://dev.azure.com/ms/react-nati

[2022-05-01 15:36] LifeIsStrange opened #9920 "Document the architecture"
### Summary

What is the architecture of react native for windows?
In Android I believe you use the Skia 2D renderer (like flutter and chromium).
What rendering library do you use on windows?
To you do direct calls to GDI+/direct2D/directwrite?
To you internally leverage WPF/.NET ?
Beyond the 2D renderer, what is the high level architecture? Display lists? What operations (scrolling, inputs, etc)

[2022-05-02 18:10] chrisglein commented on #9920
@LifeIsStrange That's a broad set of topics. Can you clarify what you'll be using this information for? RNW is built on top of UWP XAML and a lot of your questions will match what that UI framework is capable of. What isn't present in the docs (http://aka.ms/reactnative) that you would expect to see?

[2022-05-02 19:22] jonthysell opened #9929 "Metro bundler fails for integration-test-app due to duplicate `metro-runtime`"
### Problem Description

When trying to run the integration-test-app with metro, the bundler fails with:

[code]

This is causing CI to fail in main.

### Steps To Reproduce

1. `cd packages/integration-test-app`
2. `yarn windows`

### Expected Results

_No response_

### CLI version

8.0.0-alpha.4

### Environment

[code]

### Target Platform Version

_No response_

### Target Device(s)

_No resp

[2022-05-02 19:53] #9929 closed

[2022-05-02 23:00] paperbackdragon commented on #8157
We're definitely interested in this feature on my team as well.

[2022-05-04 18:10] jonthysell opened #9932 "Exception when ReactImage calls SetBackground"
### Problem Description

Multiple exceptions thrown when calling `ReactImage::SetBackground` when navigating the the RNTester Image page in playground.

[code]

### Steps To Reproduce

1. Start playground
2. Select rntester sample
3. Select Image component

### Expected Results

_No response_

### CLI version

8.0.0-alpha.4

### Environment

[code]

### Target Platform Version

_No response_

###

[2022-05-04 18:28] jonthysell commented on #9932
This might be user-error on my part, the debugger is grabbing the app for this caught exception.

[2022-05-04 19:30] jonthysell commented on #9932
Neverming, VS was catching the handled exception

[2022-05-04 19:30] #9932 closed, assigned to nobody

[2022-05-05 21:01] #9859 closed

[2022-05-06 18:24] jonthysell commented on #9181
@aeulitz Can this issue be closed? Does it still need to be backported?

[2022-05-06 18:25] jonthysell commented on #9662
@aeulitz Was this fixed by #9827? Can this issue be closed?

[2022-05-06 22:21] jonthysell commented on #9112
@AgneLukoseviciute Is this still something that makes sense for 0.69 or should it be moved to 0.70?

[2022-05-06 22:23] jonthysell commented on #8132
@AgneLukoseviciute Do you think this will make 0.69 or should it be moved to 0.70?

[2022-05-06 22:25] jonthysell commented on #8116
@AgneLukoseviciute Is this already complete? If not, will it make 0.69, or should it be moved to 0.70?

[2022-05-06 22:26] jonthysell commented on #9143
Do you think this will make 0.69 or should it be moved to 0.70?

[2022-05-06 22:27] jonthysell commented on #9600
@AgneLukoseviciute If the individual items for this won't be ready for 0.69, go ahead and move the milestone to 0.70.

[2022-05-06 22:42] jonthysell commented on #9136
@asklar Is this still something that makes sense for 0.69 or should it be moved to 0.70?

[2022-05-06 22:45] jonthysell commented on #9505
@asklar Is this still something that makes sense for 0.69 or should it be moved to 0.70? Or maybe the Backlog?

[2022-05-06 22:48] jonthysell commented on #9196
It looks like WinUI 2.8 is still in prerelease, moving to 0.70.

[2022-05-06 22:50] jonthysell commented on #9140
Without #9143, I'm not sure we're ready for this for 0.69. Moving to 0.70.

[2022-05-06 22:50] asklar commented on #9505
backlog seems ok; @chswan any objections?

[2022-05-06 22:51] jonthysell commented on #9395
While parts of this will be done in 0.69, moving to 0.70.

[2022-05-06 22:53] jonthysell commented on #9454
@dedavis6797 Do you think this will make 0.69 or should it be moved to 0.70?

[2022-05-06 22:54] jonthysell commented on #9380
This is getting closer, leaving on 0.69 for now but this may move to 0.70.

[2022-05-06 22:57] jonthysell commented on #8750
We build our solutions with whatever the "default" toolset is for the VS being used. So right now, if you open our solutions in VS 2022 and build, you're building with v143.

There may be edge cases with different platforms/configurations, and uwp/win32, but the bigger issue is switching our CI VMs to use VS 2022 to get the coverage to verify *everything* can build in  v143.

This is getting close

[2022-05-06 22:57] jonthysell commented on #8740
This is getting closer, leaving on 0.69 for now but this may move to 0.70.

[2022-05-06 23:08] jonthysell commented on #9499
This is getting closer, leaving on 0.69 for now but this may move to 0.70.

[2022-05-06 23:10] jonthysell commented on #8851
I think this is possible in 0.69, the only question is: How many more configurations and how far back to go.

Then we should update the [promotion to latest steps](https://github.com/microsoft/react-native-windows/wiki/How-to-promote-a-release) to include this for new stable releases, upfront.

[2022-05-06 23:12] jonthysell commented on #9117
@JunielKatarn Is this still something that makes sense for 0.69 or should it be moved to 0.70? Or maybe the Backlog?

[2022-05-06 23:14] JunielKatarn commented on #9117
It can be done for 0.69.

I'll send a PR right away.

[2022-05-06 23:16] jonthysell commented on #9619
@asklar Is what was done enough, or do we still want the incrementality?

@JunielKatarn Do you think incrementality would make 0.69 or should we move this to 0.70?

[2022-05-06 23:17] jonthysell commented on #9868
Do you think this will make 0.69 or should it be moved to 0.70?

[2022-05-06 23:18] jonthysell commented on #9441
Is this still something that makes sense for 0.69 or should it be moved to 0.70? Or maybe the Backlog?

[2022-05-06 23:20] jonthysell commented on #4872
@marlenecota Do you think this will make 0.69 or should it be moved to 0.70?

[2022-05-06 23:20] jonthysell commented on #9416
@marlenecota Do you think this will make 0.69 or should it be moved to 0.70?

[2022-05-06 23:20] jonthysell commented on #9417
@marlenecota Do you think this will make 0.69 or should it be moved to 0.70?

[2022-05-06 23:22] jonthysell commented on #9448
@marlenecota Do you think a switch to using ActualTheme will make 0.69 or should it be moved to 0.70?

[2022-05-06 23:29] jonthysell commented on #9037
Assigning to me, will see if I can get this working for 0.69. It looks like we may be missing the DumpCount reg key.

[2022-05-06 23:31] jonthysell commented on #8609
@TatianaKapos Do you think this will make 0.69 or should it be moved to 0.70?

[2022-05-06 23:32] jonthysell commented on #8063
@TatianaKapos Do you think this will make 0.69 or should it be moved to 0.70?

[2022-05-06 23:32] jonthysell commented on #9358
@TatianaKapos Do you think this will make 0.69 or should it be moved to 0.70?

[2022-05-06 23:39] jonthysell commented on #9703
@TatianaKapos Is this already complete? I see the PR https://github.com/microsoft/hermes-windows/pull/94 in hermes-windows, is there a follow-up PR that needs happen here to bump hermes and fix this in RNW? If so, could this make 0.69, or should it be moved to 0.70?

[2022-05-06 23:41] jonthysell commented on #7954
@TatianaKapos Is this already complete? If not, will it make 0.69, or should it be moved to 0.70?

[2022-05-06 23:44] jonthysell commented on #9838
@tudorms Do you think this will make 0.69 or should it be moved to 0.70?

[2022-05-06 23:45] tudorms commented on #9838
It doesn't need to be tied to a specific release since it's not a shipping feature; we can move it for tracking purposes.

[2022-05-06 23:49] jonthysell commented on #9098
@dedavis6797 Is this on your radar for the Hermes work? With RN 0.69 including Hermes, is this the right time to get our version of Hermes synced nicely with RNW 0.69?

Can you assign this to the right person?

[2022-05-07 07:13] JunielKatarn commented on #9868
Likely `0.70`.
It requires some research and is test code only.

[2022-05-07 21:54] asklar commented on #9619
it's pretty slow in main, tbh. Much slower than before (about 30s at least).
Do we have any recourse to e.g. at least do the restore in parallel for all projects or something? When doing F5 without changing anything, the build takes a long time just trying to restore (and not actually doing anything).

[2022-05-07 22:07] asklar commented on #9920
@LifeIsStrange, this repo is for the Windows endpoint of React Native. Other platforms are handled in their respective repos:
- http://github.com/microsoft/react-native-macos (for macos)
- https://github.com/facebook/react-native (for ios and android)

Your app doesn't need to be limited to lowest common denominator, you can have platform specific code in your app or components.

In regard to whic

[2022-05-07 22:07] #9920 closed

[2022-05-09 14:27] Samuubs opened #9937 "Microsoft.ReactNative.winmd missing when updating a previously created project to use Experimental Nugget"
### Problem Description

I'm trying to add the experimental nugget to an existing project. But the following error is always happening.
`Metadata file 'C:\TestApp\node_modules\react-native-windows\Microsoft.ReactNative\target\Microsoft.ReactNative\Microsoft.ReactNative.winmd' could not be found	Microsoft.ReactNative.Managed`

I'm following all steps described here https://microsoft.github.io/react

[2022-05-09 16:20] LightningDev1 opened #9938 "Animated.timing with useNativeDriver: true causes the program to crash"
### Problem Description

I'm trying to make the background color of a button lighter when the user hovers over it. I used `Animated.timing` with the backgroundColor attribute and it works perfectly if `useNativeDriver` is false, but CPU usage goes up to 15%. If I try to enable `useNativeDriver`, which should be more efficient, the program crashes immediately when you hover over the button (i.e. wh

[2022-05-09 17:31] TatianaKapos commented on #9358
@jonthysell Moved it to .70!

[2022-05-09 17:33] TatianaKapos commented on #8609
moved to .70 but will manually check .69 release!

[2022-05-09 18:05] jonthysell opened #9939 "PRs failing to bundle new project with `TypeError: Cannot delete property 'resolveRequest' of #<Object>`"
### Problem Description

PRs are failing to bundle new app projects.

[code]

### Steps To Reproduce

Example: https://dev.azure.com/ms/react-native-windows/_build/results?buildId=309233&view=logs&j=2421b910-b24d-531b-16c2-ae679493d42f&t=e4eeb9c4-0934-572e-61db-78ad43f3e6d2

### Expected Results

_No response_

### CLI version

npx react-native --version

### Environment

[code]

### Target Platfo

[2022-05-09 18:06] jonthysell commented on #9939
Currently investigating - I suspect there's a new metro (plugin) (minor) version that we get when creating a new project (but not in our yarn lock file for our repo) that's causing this.

[2022-05-09 18:14] jonthysell commented on #9938
@TatianaKapos Can you take a look at this and see what's going wrong?

[2022-05-09 18:19] jonthysell commented on #9937
If you're on RNW 0.68 you shouldn't need to modify your project files, but you **will** need to remove the projects from the solution file.

Note, it may be easier to run `react-native-windows-init` with the `--experimentalNuGetDependency` flag to get the right behavior in the generated build files.

[2022-05-09 18:21] jonthysell commented on #9937
@jonthysell  to update the docs.

[2022-05-09 18:45] JunielKatarn commented on #9939
Thanks.
This is blocking #9352.

[2022-05-09 21:50] acoates-ms commented on #9939
Looks like its probably from a breaking change in metro:
https://github.com/facebook/metro/commit/d81d8877c05637eac2b4ea946a9fa1e8ae869b06

Which breaks some code in the default metro config when bundling with an out of tree platform: https://github.com/react-native-community/cli/blob/0993f627869f4de0e5a8a9a950d38a9f15e18fb2/packages/cli-plugin-metro/src/tools/loadMetroConfig.ts#L74

[2022-05-09 22:02] acoates-ms commented on #9939
https://github.com/react-native-community/cli/pull/1605
I created a PR to the cli.

[2022-05-10 03:23] #9939 closed

[2022-05-10 12:58] #9937 closed

[2022-05-10 15:42] AgneLukoseviciute commented on #9143
This one is essentially done, but relies on https://github.com/microsoft/react-native-windows/issues/8132 to be working e2e so I'm moving to 0.70

[2022-05-10 16:15] jonthysell opened #9944 "Re-enable bundling in CI for CLI tests"
### Problem Description

In order to unblock PRs, #9943 disabled metro bundle creation, both the individual task (when testing debug) and as part of the build for release.

When https://github.com/react-native-community/cli/pull/1605 is merged and published, we need to re-enable the bundle creation.

### Steps To Reproduce

Run a PR

### Expected Results

_No response_

### CLI version

npx react-

[2022-05-10 19:02] lyahdav commented on #9343
I'm investigating this since we've received a lot of reports of this issue. In order to debug this better, I created a [branch](https://github.com/lyahdav/react-native-windows/tree/yoga-text-wrap-bug) where I can reproduce the issue like @rozele detailed above. I also put in a hack fix which I think will be the foundation for a PR soon.

Here's a video of me using the hack to fix the bug (after I

[2022-05-10 20:31] lyahdav commented on #9343
Looks like the IsTextTrimmedChanged works. Here's a branch in my fork with the WIP fix: https://github.com/lyahdav/react-native-windows/tree/yoga-text-wrap-bug-with-fix. Here's a video showing how the bug momentarily appears and then fixes itself:

https://user-images.githubusercontent.com/359157/167716399-33417764-b126-4740-9bc7-dc3089680eee.mov

Ideally the Text wouldn't look truncated momentari

[2022-05-10 21:13] #9944 closed

[2022-05-10 23:12] jonthysell commented on #9661
@vmoroz Is this something you could look into?

[2022-05-10 23:33] jonthysell commented on #9791
I'm not sure if we're ever going to get new 1.10 binaries out of https://github.com/microsoft/TestAdapterForGoogleTest

[2022-05-10 23:36] jonthysell commented on #9852
@aeulitz Can you look into this? Is this still something that makes sense for 0.69 or should it be moved to 0.70?

[2022-05-10 23:40] jonthysell commented on #8966
@TatianaKapos This looks like something that may be happening due to missing mouse/pointer events.

Can you see if this still repos in 0.69?

[2022-05-11 22:47] #9703 closed

[2022-05-11 23:16] TatianaKapos commented on #8966
@jonthysell
Seems to be fixed in 0.69 playground, menu closes via clicking on Menu, Item, and Backdrop

https://user-images.githubusercontent.com/42554868/167962398-6d3e8aaa-87b3-4f34-b452-3da6a694ceb8.mp4

[2022-05-12 02:35] Invius opened #9956 "Image inside Popup does not work/does not show"
### Problem Description

[code]
With this code, image just does not appear and if i put two images the app crashes.
Any work arround for this?

### Steps To Reproduce

Insert one or more images inside of popup

### Expected Results

Show image inside popup

### CLI version

4.14.0

### Environment

[code]

### Target Platform Version

_No response_

### Target Device(s)

Desktop

### Visual Studio

[2022-05-12 18:11] jonthysell commented on #9956
Does popup only allow for one child? That could be causing the problem.

@marlenecota  Can you take a look at this?

[2022-05-12 18:14] asklar commented on #9956
looks like Popup might only allow one child - wrapping the images in a View might fix it
separate issue is that instead of crashing we should redbox.

[2022-05-12 18:34] Invius commented on #9956
For the crash that could explain it, but even with only one image it does not show up in the popup

[2022-05-12 18:41] Invius commented on #9956
I'll be trying to wrapping it like @asklar suggested. But the image wont still show up even if it is only one, is there something I'm doing wrong or it is a bug or showing images using the popup is simply not allowed?

[2022-05-12 20:33] Invius commented on #9956
[code]

Does not crash but images dont appear

[2022-05-13 00:03] #9117 closed

[2022-05-13 17:51] slobo80 opened #9960 "Address compliance issues reported by CodeQL"
Running CodeQL reports [several issues](https://microsoft.visualstudio.com/OS/_queries/query/f828434b-6e72-4f2e-9780-2108113ec970/).

[2022-05-14 06:03] Invius commented on #9390
This worked for me, the start guide should be updated:
npx react-native run-windows --sln .\windows\lenastoregep3.sln --proj .\windows\lenastoregep3\lenastoregep3.vcxproj

[2022-05-15 05:30] Invius opened #9962 "Found a Windows solution for react-native-document-picker but no React Native for Windows native module projects. (It happens to any npm package)"
### Problem Description

After installing npm package, auto link does not work sending bak this message:
"Found a Windows solution for react-native-document-picker but no React Native for Windows native module projects."
When running:
` npx react-native autolink-windows --check --sln "windows\lenastoregep2.sln" --proj "windows\lenastoregep2\lenastoregep2.vcxproj"`

or

`npx react-native run-window

[2022-05-16 18:14] chrisglein commented on #9962
Those modules may not support your version of react native for Windows.
- react-native-fs doesn't yet have a merged version of Windows support: https://github.com/microsoft/react-native-windows/issues/2829
- Same with document-picker: https://github.com/microsoft/react-native-windows/issues/4209
- For that camera module, it looks like it was built against an older version of RNW (0.64): https://gi

[2022-05-16 18:15] #9962 closed

[2022-05-16 18:21] chrisglein commented on #9960
Next action to go through each of these and understanding what's a real indicator of a problem and what's noise. Then identify the set of changes needed to address the analysis feedback (either through fixing, informed suppression, or feedback on false positives to the analysis team).

@asklar Can you get clarity on the timeline commitment on these? Sounds like an initial review is fairly urgent.

[2022-05-16 18:37] jonthysell opened #9964 "BinSkim Analysis fails for Desktop Arm64 builds"
### Problem Description

BinSkim Analysis is failing for Desktop Arm64 builds, both Debug and release, with:

[code]

### Steps To Reproduce

CI Logs: https://dev.azure.com/ms/react-native-windows/_build/results?buildId=312413&view=logs&j=1753506a-98b8-5bc5-1546-f62521f93031&t=60ad2509-65b2-5d30-1c15-8f990d8af2e9

### Expected Results

_No response_

### CLI version

npx react-native --version

##

[2022-05-16 20:34] jonthysell commented on #9960
FYI, I tried to move CodeQL upstream from partners into our compliance pipeline, but the task isn't supported for GH repos: https://dev.azure.com/microsoft/ReactNative/_build/results?buildId=49473914&view=logs&j=27307724-e5a4-5138-9d40-a20492a83fb9&t=4b1e7d67-b75d-56af-b74f-61b128864bf7&l=32

So unfortunately, until this changes, we'll only be able to address CodeQL issues indirectly via partners

[2022-05-16 20:45] asklar commented on #9960
@jonthysell could we file a bug to / push this onto the CodeQL team?

[2022-05-16 21:29] jonthysell opened #9966 "App build using NuGets fails with `Cannot open source file: '...\.nuget\packages\microsoft.reactnative.cxx\0.0.0-canary.499\bridging\LongLivedObject.cpp'`"
### Problem Description

Trying to build against the nugets in `preview` or `canary` (0.69 and main) fails.

It looks like some new files have been added to the `Microsoft.ReactNative.CXX` project, but either the paths in the vcxitems are incorrect, or the files are missing when the `Microsoft.ReactNative.CXX` nuget is published.

### Steps To Reproduce

In a pwsh prompt:

[code]

### Expected Res

[2022-05-16 21:39] jonthysell commented on #9966
In trying to update the path to use the included file `ReactCommon\LongLivedObject.cpp`, I now get a new error about `LongLivedObject.h`, which redirects to another header ate `<react/bridging/LongLivedObject.h>`?

[2022-05-17 03:34] #9966 closed

[2022-05-18 15:49] muramasa opened #9975 "Cannot run unpacked app for CS WinUI3 WindowsAppSDK project"
### Problem Description

When create unpackaged CS WinUI3 WindowsAppSDK RNW project, app cannot run.

The error is
[code]

### Steps To Reproduce

1. $npx react-native init csui3unpackaged --template react-native@^0.68.0
2. $npx react-native-windows-init --useWinUI3 --overwrite --language cs --version 0.0.0-canary.501
3. [modify for unpackaged ](https://github.com/muramasa/csui3unpackaged/commit/d

[2022-05-18 17:46] AdaData opened #9977 "Header buttons in Stack Navigators broken from 0.66.18-0.67.0"
### Problem Description

I initially wrote [this issue on react-navigation](https://github.com/react-navigation/react-navigation/issues/10553) but after further testing it looks like specifically going from react-native-windows 0.66.18 to 0.67.0 reproduces the issue with no changes to your react-navigation version.

The issue description, just to save time following a link, is: If you start on the

[2022-05-19 01:42] #9956 closed

[2022-05-19 05:01] muramasa commented on #9975
I understood I miss "DynamicDependency" injection.
After injecting "Microsoft.VCLibs.140.00", I can run app for unpacked app
https://github.com/muramasa/csui3unpackaged/commit/687fc685b25704176050ff7236448fb453d7d444

[2022-05-19 05:01] #9975 closed

[2022-05-19 18:11] chrisglein commented on #9964
@AgneLukoseviciute can you take a look?

[2022-05-20 17:36] AdaData commented on #9977
For what it's worth, I tried on 0.68 and was still hitting the issue, haven't tried 0.69 though.

[2022-05-20 20:06] JunielKatarn opened #9982 "Handle non-UTF8 encodings in FileReader module."
### Summary

See `readAsText` method in `Microsoft::React::FileReaderModule`.

Resolved blob binary data is always assumed to be UTF8-encoded.

See #3178.

### Motivation

Other React Native platforms (iOS, Android, macOS) do handle different encodings.
Particularly, Windows apps may need to handle UTF-16.

### Basic Example

_No response_

### Open Questions

_No response_

[2022-05-20 22:26] #9510 closed

[2022-05-21 02:48] #3178 closed

[2022-05-23 20:09] ryfow commented on #9977
@TatianaKapos  I stuck a reproducing rnw app at https://github.com/ryfow/NavProb

I couldn't get things completely running with 0.69 but I'm not familiar with running pre-release versions so it was probably my mistake.

[2022-05-24 00:04] asklar opened #9988 "Components that require native layout don't have a way to trigger a yoga re-layout"
We need components that have `RequireNativeLayout()` return true be able to trigger a re-layout.
@acoates-ms:

When adding a view to the xaml tree that says RequireNativeLayout() - but its parent doesn't, add a custom panel in between that overrides MeasureInvalidated to cause yoga to re-layout

[2022-05-24 18:35] #3278 closed

[2022-05-24 18:56] jonthysell opened #9991 "Template NuGet.config files trigger compliance warnings"
### Problem Description

The Secure Supply Chain Analysis compliance task complains that there are both multiple and external feeds declared in the various template NuGet.Config files.

[code]

### Steps To Reproduce

View sample [Publish pipeline logs](https://dev.azure.com/microsoft/ReactNative/_build/results?buildId=49838801&view=logs&j=bd0c9a5d-cce5-5ddc-8479-a97ca35bf82d&t=552ee052-3a18-5501-

[2022-05-24 19:10] jonthysell commented on #9507
The pipeline is created and running daily in main, will create more issues to cover adding more tasks.

[2022-05-24 19:10] #9507 closed

[2022-05-24 19:23] jonthysell opened #9992 "Our NuGet.Config files trigger warnings for using multiple feeds"
### Problem Description

The Secure Supply Chain Analysis compliance task complains that there are multiple feeds declared in our repo's NuGet.Config files.

[code]

### Steps To Reproduce

View sample [Publish pipeline logs](https://dev.azure.com/microsoft/ReactNative/_build/results?buildId=49838801&view=logs&j=bd0c9a5d-cce5-5ddc-8479-a97ca35bf82d&t=552ee052-3a18-5501-c840-8c8a7e2fd1d9&l=32).

##

[2022-05-24 19:25] jonthysell opened #9993 "Our NuGet.Config files trigger warnings for using external feeds"
### Problem Description

The Secure Supply Chain Analysis compliance task complains that there are external feeds declared in our repo's NuGet.Config files.

[code]

### Steps To Reproduce

View sample [Publish pipeline logs](https://dev.azure.com/microsoft/ReactNative/_build/results?buildId=49838801&view=logs&j=bd0c9a5d-cce5-5ddc-8479-a97ca35bf82d&t=552ee052-3a18-5501-c840-8c8a7e2fd1d9&l=32).

##

[2022-05-24 19:26] jonthysell commented on #9992
We may not be able to resolve all of these in one go, but we should be tracking it nonetheless.

[2022-05-24 19:26] jonthysell commented on #9993
We may not be able to resolve all of these in one go, but we should be tracking it nonetheless.

[2022-05-24 19:31] jonthysell opened #9994 "CodeQL does not work on GitHub Enterprise repositories"
### Problem Description

For compliance we are required to run the CodeQL 3000 tasks. However the tasks only work on ADO-based repositories. GitHub is only supported for non-enterprise accounts.

[code]

### Steps To Reproduce

1. Try to run CodeQL tasks.

### Expected Results

_No response_

### CLI version

npx react-native --version

### Environment

[code]

### Target Platform Version

_No res

[2022-05-24 19:33] jonthysell commented on #9994
Filing this to track that we can't comply with CodeQL requirements until the task is fixed to support GitHub-based repos. All bugs filed concerning CodeQL violations should reference this bug.

[2022-05-24 19:35] jonthysell commented on #9960
Opened #9994 to track CodeQL's missing GitHub support.

[2022-05-24 20:36] #9991 closed

[2022-05-24 21:18] jonthysell commented on #7227
This was done for 0.68 thanks to the PackageReference work. A module that updates to at least RNW 0.68 (aligning with the changes in the project files) will be able to be consumed by apps building by source or the MS.RN nuget binaries.

The unfinished tasks in the main description refer to apps consuming modules that themselves publish nugets (rather than requiring the building of their native sou

[2022-05-24 21:18] #7227 closed

[2022-05-24 21:46] chiaramooney commented on #8353
Going to close this issue now, since the integration hand off is handled within the WinDev RNW team

[2022-05-24 21:46] #8353 closed

[2022-05-24 21:48] chiaramooney commented on #8991
@chrisglein since you are fairly familiar with the bots on github. Would something like this be possible?

[2022-05-24 23:54] jonthysell opened #9996 "Unable to create a compliant NuGet feed which meets our needs"
### Problem Description

Central Feed Services requires all Microsoft projects to rely on a **single**, internal, authentication-required ADO feed for NuGet packages. The expectation is that projects create such a feed to host the project's packages, and have it set its upstream feed to NuGet.org.

However, as an OSS project, our repo must be buildable outside of Microsoft: i.e. without an authent

[2022-05-25 00:10] jonthysell opened #9997 "Desktop requires nuget packages not available on NuGet.org"
### Problem Description

In trying to bring us into compliance wrt. NuGet configurations, I tried to remove the `react-native-public` feed from our NuGet.config files.

Unfortunately, this broke the build, because several `ReactWindows.*` packages (`ReactWindows.OpenSSL.StdCall.Static` and `ReactNative.V8Jsi.Windows`) have not published their latest versions to NuGet.org, only to the internal feed

[2022-05-25 00:25] asklar commented on #9988
Related to #9901
@acoates-ms is this something you are planning to take on soon?

[2022-05-25 05:59] 527395632 opened #9998 "Optimization suggestions for “ReactEventAttribute”"
### Summary

The native events in the current version need to be marked with the attribute of “ReactEventAttribute”, and the method is a delegate. In fact, this can be completely defined as an event. I provide a sample project to illustrate this implementation, and hope it can be adopted

### Motivation

Using event to do events can more intuitively express events and be closer to the development

[2022-05-25 14:25] IndrakumarR opened #10001 "CLI fails when project lives in a path that contains spaces"
![image](https://user-images.githubusercontent.com/78961533/170284910-d26b257e-dfa9-47a4-bd2a-bb121a6a1b37.png)
I got this error , any give me a solution.

_Originally posted by @IndrakumarR in https://github.com/microsoft/react-native-windows/issues/3263#issuecomment-1137320523_

[2022-05-25 16:05] asklar commented on #10001
you have a space in the root folder "Window app", which is tripping the script. Can you rename that folder to remove the space?

[2022-05-25 19:48] m-cartmell commented on #9977
@chrisglein I can confirm the issue is resolved in 0.69.0-preview.1, but persists in 0.68.3. Can anyone confirm when 0.69 will be released?

[2022-05-26 00:00] jonthysell commented on #9994
This was fixed internally.

[2022-05-26 00:00] #9994 closed

[2022-05-26 04:52] #9960 closed

[2022-05-26 18:11] jonthysell commented on #10001
It looks like there may be something wrong with how we invoke that PS script. @chiaramooney can you look at this?

[2022-05-26 18:16] jonthysell commented on #9997
@JunielKatarn Can we consume the newer OpenSSL package to resolve that?

@dannyvv Can we get the V8JSI package we need published to nuget.org?

Then we could remove this requirement on the react-native-public from our repos then it'll be much easier to meet the multifeed requirements.

[2022-05-26 18:19] jonthysell commented on #9996
If we get rid of the need for multiple feeds (#9997), this should be resolved.

[2022-05-26 18:59] chiaramooney commented on #4037
@TatianaKapos Can we close this issue or is there still work to be done on this?

[2022-05-26 19:02] chiaramooney commented on #4864
Flagging for us to evaluate in triage. This issue has been added to #9395 which has a milestone goal of 0.70. Let's discuss if this is work we want to make an investment in and for what milestone.

[2022-05-26 19:59] chiaramooney commented on #6223
All modules look good. Some declare no rnw peer dependency. I assume that's because the maintainer does not want to require those consuming the module for a pure rn app to have to install rnw.

[2022-05-26 19:59] #6223 closed

[2022-05-26 21:20] AgneLukoseviciute commented on #8132
update: since we're moving in the direction of using NuGets instead of source, we'll want to create and publish a cpp WinAppSDK nuget -- aka Microsoft.ReactNative build with USE_WINUI3 defined. Next step here is to get a working NuGet generated (test through sample app).

[2022-05-26 22:10] jonthysell opened #10013 "Autolinking should error if modules are misconfigured, rather than ignoring them"
### Summary

Autolinking should throw an error if a native module claims to support windows autolinking but then provides an invalid configuration, making autolinking not possible.

There should also be a new command-line flag to

### Motivation

Right now, if autolinking detects that a native module dependency is misconfigured, it simply skips it and reports to the verbose logging, rather than fa

[2022-05-27 00:27] #9327 closed

[2022-05-27 00:47] TatianaKapos opened #10015 "TextInput focusable property should match react-native"
### Problem Description

When TextInput has "focusable = false" you can't edit/copy/paste from it while you can in IOS/Android (and it looks like Web has no implementation of focusable).

On RNW, focusable to mapped to isTabStop and isEnabled (with isTabStop making the TextInput not being able to tab through or edit). Focusable is also the only way to access isEnabled and the visuals that come wit

[2022-05-27 21:50] aschultz commented on #8861
@asklar @acoates-ms The problem we ran into (and are currently patching around) is that the BrushCache code only updates its mapping if both the old and new brushes are SolidColorBrush.

[code]

Changing this to handle other brush types would address our issue as any freshly-rendered content could then pick up the new values.

Our naive approach that is currently working is:
[code]

I could put ou

[2022-05-27 22:10] asklar commented on #8861
If we just replaced the brushes in the cache instead of the rgb values in the brushes, then ui elements referencing existing brushes would not update.

[2022-05-27 22:46] aschultz commented on #8861
Gotcha. So the current behavior is:

- If old and new brushes are SolidColorBrush, all existing and new UI elements using those brushes get the new color
- Otherwise, all existing and new UI elements are stuck with the old color until app reboot.

The (naive) change I proposed would give:

- If old and new brushes are SolidColorBrush, all existing and new UI elements using those brushes get the ne

[2022-05-30 05:01] azutake opened #10034 "CLI code fails to invoke vswhere.exe properly to get UTF8 output"
### Problem Description

I tried to start with the template, but it would not start.
Possibly, it could be because they are using a Japanese environment.

### Steps To Reproduce

1. `npx react-native init test --template react-native-template-typescript`
2. `cd test`
3. `npx react-native-windows-init --overwrite`
4. `npx react-native run-windows`

### Expected Results

[code]

### CLI version

7.0