[2022-05-30 05:05] azutake commented on #10034
Visual Studio is shown as undetected, but I have already installed 2019 and 2022.
![image](https://user-images.githubusercontent.com/5910976/170920487-b265b1ac-302e-4ea7-93dc-3d8955bf811e.png)

[2022-05-31 13:44] jbcullis opened #10036 "Invalid response for blob"
### Problem Description

Testing the migration from .66 to .68 and we are seeing a fetch error "Invalid response for blob".

**Further**
Issue also exists on .67 but a fresh install at .66 is ok.

Error: Invalid response for blob: eyJlcnJvciI6IlVuYWJsZSB0byByZXNvbHZlIG1vZHVsZSAuL2RlYnVnZ2VyLXVpL2RlYnVnZ2VyV29ya2VyLmFjYTE3M2M0IGZyb20gQzpcXFVzZXJzXFxqYW1lc1xcRGVza3RvcFxcU2l0ZU1lc2gvLjogLi9kZWJ1Z2dlc

[2022-05-31 18:05] AgneLukoseviciute commented on #9964
Binskim is complaining that the PDB for v8jsi.dll is stripped. Thought this was strange considering x64 and x86 are fine, syncing with someone on the BinSkim team to see if this might be a known issue on their end.

[2022-05-31 18:29] AgneLukoseviciute opened #10038 "Address Errors in BinSkim Analysis for Desktop"
BinSkim Analysis for Desktop is producing a few errors, we should go in and address them.

CI logs: https://dev.azure.com/ms/react-native-windows/_build/results?buildId=312413&view=logs&j=5524b370-76fe-5b17-dc71-d3cc0e4ee0c3&t=ae049c02-4cc3-57ab-7c47-51420f36a95a.

Note that a 0 exit code for binskim is returned when a successful analysis is completed (aka no errors _in execution_ as in https://gi

[2022-06-01 10:17] gillpeacegood commented on #9977
If anyone knows what change fixed it and whether it can be backported to 0.67 we would love to know!

[2022-06-01 15:55] pegasusjcrawford commented on #10036
Just wanted to add a +1 to this and add that I hit this error message on a freshly generated react-native-windows project using 0.68.x as my target.

[2022-06-01 16:26] acoates-ms commented on #10036
@JunielKatarn is this related to the blob work you just checked in?

[2022-06-01 17:17] #8966 closed

[2022-06-01 20:47] asklar opened #10153 "Race condition in GetOrCreateContext"
tracking for https://task.ms/39304191

[2022-06-01 23:54] AgneLukoseviciute commented on #9964
Digging around V8jsi I see that they do in fact strip the pdb files for ARM64 only "due to size limitations", see https://github.com/microsoft/v8-jsi/blob/1875152450218bd27a4b8f8cb2aa776dc09daec9/scripts/build.ps1#L130

@dannyvv I see you added BinSkim for desktop with https://github.com/microsoft/react-native-windows/pull/9575. considering the v8jsi.dll is tested through binskim for x64 and x86 a

[2022-06-02 18:10] chrisglein commented on #10013
Can upgrade this warning to an error later, tentatively make that switch in 0.70, but it's flexible.

[2022-06-02 18:21] chrisglein commented on #10034
The RN tools are using `vswhere` to detect where Visual Studio works. Does that work outside of the RN toolchain? We're trying to determine where the failure is (inside vswhere or inside the processing of the output of vswhere by the next step in the chain). It's likely that your hunch is correct in that some part of this is failing on Japanese character parsing.

Can you run `vswhere -format json

[2022-06-02 18:29] chrisglein commented on #4864
Next step is to engage with our bot team (Fabric/Merlin/whatever) to find out what exists and what extensibility we can use that would be helpful here.

[2022-06-02 21:18] azutake commented on #10034
I see, I ran the command and will share the results.

[code]

[2022-06-02 22:37] lyahdav commented on #9343
Note also I can repro on display scale of 125% about as often as I could on 150%.

[2022-06-03 17:39] lyahdav commented on #9343
@acoates-ms and I are still debugging this issue. The latest theory is a bug in XAML since we see that when the text is truncated the XAML debugger shows that the ActualWidth property doesn't match the Width property. Also by inspecting the view's properties with the XAML debugger it fixes the bug, somehow triggering a layout and fixing the mismatch between the Width and ActualWidth properties.

O

[2022-06-03 23:54] #8851 closed

[2022-06-05 23:07] maribeiroleya opened #10059 "Version 0.68 not build c# Native Modules"
### Problem Description

Hi,

I am trying to add a Native Module in C# to my project, but give the error:
Project ReactNativeFileViewer is not compatible with native (native,Version=v0.0). Project ReactNativeFileViewer supports: uap10.0.16299 (UAP,Version=v10.0.16299)

### Steps To Reproduce

1- Create new Project
2 - Create new Native Module in C#
3 - Autolink de the module

### Expected Results

[2022-06-06 14:22] JunielKatarn commented on #10036
(Just back from vacation).

Pretty sure it is.
In UWP apps, Blob should be currently disabled (need to discuss the property bag-passing mechanism first).

I'll start working on a fix today.

[2022-06-06 19:08] AdaData commented on #10059
@jonthysell just tested these steps for trying react-native-document-picker and it reproduces

[code]
^ This will work, installs react-native 0.68.2 and react-native-windows 0.68.5

[code]

This will result in this error

[code]

[2022-06-06 19:09] AdaData commented on #10059
Not sure if that's an issue with react-native-document-picker itself but we also are seeing similar errors in our own builds

[2022-06-06 19:54] asklar opened #10062 "Sync dev server URL parameters with core"
[BundleUrlFormat](https://github.com/microsoft/react-native-windows/blob/01bafc02ce32501feefb21102195b262a4d75a7b/vnext/Shared/DevServerHelper.h#L94) has changed in core but we haven't kept up with it

Looks like their URL has changed a bunch since we copied it (we might want to look into what these new URL params are).  But they are hard coding http://.   No real reason we couldn't allow it to be

[2022-06-06 20:19] maribeiroleya commented on #10059
1 . First create the native module with like in documentation: https://microsoft.github.io/react-native-windows/docs/native-modules-setup
   - The last command i run is: npx react-native-windows-init --version latest --projectType lib --language cs --overwrite
   - In native module versions are:
       - react --> 17.0.2
       - react-native --> 0.68.2
       - react-native-windows --> 0.68.4
2 -

[2022-06-06 21:15] jonthysell commented on #10059
@JunielKatarn It looks like there's a problem with C++ apps consuming C# modules during the nuget restore. You applied a fix for sample-apps, but that doesn't help everyone else.

For the c++ app vcxproj:

[code]

For the C# module csproj:

[code]

Can you look at moving that logic to the external property sheets so everyone gets it?

[2022-06-06 21:29] andrelimawork commented on #10059
Same problem here, followed microsoft guides to create the native module but it's failing when added to the app. Any workaround to fix this?

[2022-06-06 21:59] jonthysell commented on #10059
@andrelimawork There are a couple bugs here that need to be resolved. As in my previous comment, there's some build properties that need to be set in both the C++ app and the C# native module to resolve this error. We did it locally in our sample-app projects, but not in a place that would be picked up by other projects.

As a workaround, you could manually add those changes yourself to your app a

[2022-06-06 22:56] acoates-ms commented on #9343
Ok, I think I understand what is happening.

In the specific example in the branch above, yoga is providing 60% of the width to the text.  The window is 1252 wide, so 60% is 751.2px (Or 500.799988 dip).

When calling measure on the TextBlock with that available width.
DWrite determines the text metrics to be: {width=500.734863 height=19.9511719 }
Then XAML pixel aligns the value to be: {width=501.

[2022-06-06 23:13] acoates-ms commented on #9343
I think adding this code before the call to element.Measure in `DefaultYogaSelfMeasureFunc` should fix the issue.

[code]

And please remove the hack added previously in `GetConstrainedResult` while you are at it.

[2022-06-07 09:46] andrelimawork commented on #10059
Sorry, but i've created a new module via npx: `npx react-native-windows-init --version latest --projectType lib --language cs --overwrite` and added the necessary code inside:

**ReactNativeModule.cs**
`using System;

using Microsoft.ReactNative.Managed;
using Windows.ApplicationModel.Core;
using Windows.Storage;
using Windows.System;
using Windows.UI.Core;

namespace ReactNativeFileViewer
{
    [

[2022-06-07 17:55] TatianaKapos opened #10072 "Defork RectangleEdges.h"
### Problem Description

_Creating issue to track deforking of this file_

Recent integration came across this PR (https://github.com/facebook/react-native/commit/56e9aa369f5c13af38cf80ba47e9eb29d835ec89) added these lines of code to [RectangleEdges.h](https://github.com/facebook/react-native/commit/56e9aa369f5c13af38cf80ba47e9eb29d835ec89#diff-5a2469bf2c3c7e2c071dfe360aa9d9b21e664782f73de942858a3

[2022-06-07 20:57] JunielKatarn commented on #10036
This is the commit I only applied to `0.66-stable`.
PRs for later branches including `main` will be published today.

https://github.com/microsoft/react-native-windows/pull/9983/commits/e25041698cd8b4ecf42c02c0457ea416fc8590db

[2022-06-08 20:57] jonthysell commented on #9257
This doesn't appear to repro in main, using playground. I am able to start an animation and reload the JS without any problems.

[2022-06-08 21:02] jonthysell commented on #9257
A stack trace or crash dump would be useful.

[2022-06-09 00:32] lyahdav commented on #9343
@acoates-ms I can confirm that at least fixes the scenario we reproduced, thanks!

In [this branch without the fix](https://github.com/lyahdav/react-native-windows/tree/yoga-text-bug-repros-on-launch-at-150-scale) you can see the text is truncated:
![image](https://user-images.githubusercontent.com/359157/172739653-bc39cc58-8c45-46ff-a077-fc808660b236.png)

In [this branch with the fix](https://gi

[2022-06-09 18:21] jonthysell commented on #9181
@aeulitz Any updates on this?

[2022-06-09 18:21] jonthysell commented on #9662
@aeulitz Any updates on this?

[2022-06-09 18:23] jonthysell commented on #9964
Ping @dannyvv

[2022-06-09 18:29] jonthysell commented on #9619
Moving to 0.70, we can take any perf improvement in this regard and do point releases back to 0.68, 0.69.

[2022-06-09 18:36] jonthysell commented on #9448
@marlenecota 0.69 is almost here, moving to 0.70 for now, feel free to move it back if it'll make it.

[2022-06-09 18:38] jonthysell commented on #9977
Putting on 0.70 - @chiaramooney , if you can identify a set of changes that fixed this in 0.69 then we should probably backport it.

[2022-06-09 18:39] jonthysell commented on #9661
@vmoroz Any ideas here?

[2022-06-09 18:41] jonthysell commented on #9690
0.69 is getting too close for a sudden toolchain change, moving to 0.70.

[2022-06-09 18:42] jonthysell commented on #9499
0.69 is getting too close for a sudden toolchain change, moving to 0.70.

[2022-06-09 18:42] jonthysell commented on #8750
0.69 is getting too close for a sudden toolchain change, moving to 0.70.

[2022-06-09 18:42] jonthysell commented on #8740
0.69 is getting too close for a sudden toolchain change, moving to 0.70.

[2022-06-10 04:56] #9691 closed

[2022-06-11 13:29] rozele commented on #9938
Perhaps the issue is that color animations are not yet supported in react-native-windows.

[2022-06-11 13:33] rozele commented on #9797
One thing to watch out for is that, IIRC, the float4x4 multiply function is not identical to the matrix multiplication used in processTransform.js. When I was implementing the frame tick animations module, I had to port the processTransform.js logic to C++:
https://github.com/microsoft/react-native-windows/pull/9249/files#diff-fd4bb341735c7671ad010562b9197d59aed2a1dc7024b6b1df35802d75fde01dR114-R1

[2022-06-11 13:38] rozele commented on #9767
IIRC, I think the XAML CornerRadius prop applies a custom clip path, which forces the effective equivalent of `overflow: hidden`. There are other issues with the `borderRadius` implementation as well (#8420).

[2022-06-11 13:49] rozele commented on #9615
We had a long discussion about what the correct behavior is last year. Basically, each platform at some point behaved differently. For a long time, RN Windows would set the cursor at the beginning of the text whenever programmatically updated via prop change because this is the default XAML behavior. We changed it to be a bit closer to the W3C spec, which basically states always move the cursor to

[2022-06-11 19:37] fahrulseptiana opened #10098 "Getting "Invalid response for blob" on simple fetch() request."
### Problem Description

I have new boilerplate which is generated by following [this](https://microsoft.github.io/react-native-windows/docs/getting-started) guide, but when I'm trying to make simple fetch data using get "fetch()" error with warning "Invalid response for blob" happened. Well it just a simple fetch.

### Steps To Reproduce

1. Make a new project with [this](https://microsoft.github

[2022-06-13 15:56] #10098 closed

[2022-06-13 22:52] AgneLukoseviciute commented on #9964
Synced offline, got signoff from Danny :)

[2022-06-14 03:12] #9964 closed

[2022-06-14 14:48] FahadMohammedFiroz commented on #9661
Is this bug resolved?

[2022-06-14 17:10] rozele opened #10111 "Transforms no longer compose correctly"
### Problem Description

Previously, we composed transforms in JS using processTransform.js from the upstream RN repo. As of #9798, we forked the processTransform.js to allow the RNW Fabric implementation to compose transforms natively. Unfortunately, the float4x4 matrix multiply function does not produce consistent results with iOS and Android (see screenshots below).

### Steps To Reproduce

1.

[2022-06-14 21:24] asklar opened #10113 "JS API to get/set simple instance properties"
There may be scenarios where you'd want to query (or set) properties of simple types (bool, number, string) from JS, or even a JSValue, to either communicate with a native module, or to inspect the state of the running app. Today this requires a custom native module to do this, however it feels like this should be built in.

[2022-06-14 22:03] chrisglein opened #10114 "Create performance yml file"
Performance pipeline sets up a Azure hosted VM with RNW secrets/variables, gets the latest published version of RNW and builds it. (3 days)
- Copy compliance.yml
- Rename to performance.yml
- Remove compliance specific jobs

[2022-06-14 22:07] chrisglein opened #10115 "Add HelloWorld scenario job"
Pipeline now builds, deploys, and launches the apps on the VM (2 days)
- Build app
- Deploy app
- Run scenario (launch)

[2022-06-14 22:09] chrisglein opened #10116 "App perf measurement to scenario job"
Pipeline now gathers perf traces of the app and store the results in a CSV file (6 days)
- Run machine quieting scripts - 1 day
- Write perf profiles - 1 day if copying existing… unknown if we actually have to write our own
  - Copy WinUI profiles
  - Copy the profile in vnext/Scripts/Tracing (Hermes specific?)
- Extract data using perf tool + profiles - 2 days
- Store data to CSV - 3 days
  - Fig

[2022-06-14 22:11] chrisglein opened #10117 "Create template for gathering traces on any scenario"
Simplifies app launch + perf gathering yml to template asking for app name (5 days)
- Learn more yml - 1 day
- Add run-perf-scenario.yml - 2 days
- Rewrite HelloWorld job to use run-perf-scenario.yml - 2 days

[2022-06-14 22:18] #9416 closed

[2022-06-14 23:29] aschultz opened #10118 "RNW logs excessive "UnimplementedProperty" messages in debug builds"
### Problem Description

RNW attempts to log "UnimplementedProperty" messages to indicate that a prop was passed to a native control but has not been handled by that control. However, the implementation of this messaging is incomplete and results in many extraneous messages.

The problem areas include:
1. All custom view managers (those constructed through ABIViewManager) will log the message for

[2022-06-15 03:22] #10111 closed

[2022-06-15 17:38] TatianaKapos opened #10122 "Sketch Community Module broken on 0.69"
### Problem Description

While validating the Gallery app on .69, Sketch Community Module gave this error since React removed ViewPropTypes in 18.0.0.

![image](https://user-images.githubusercontent.com/42554868/173889453-86bc00f7-ec66-45ce-b813-5f9119cc4d44.png)

Should just have to go into the [CM](https://github.com/creambyemute/react-native-sketch-canvas/blob/master/src/SketchCanvas.js#L12) an

[2022-06-16 02:31] nextmvp opened #10128 "how to use mac"

[2022-06-16 02:32] nextmvp commented on #10128
how to use Mac to develop app when I want to test my app in windows environment?

[2022-06-16 02:35] nextmvp commented on #10128
should I install a dual system or use some app like parallels?

[2022-06-16 05:38] nagisetty1 commented on #1858
please may i know how to inject in WPF? any sample great help?
 WPF: 'injectedJavaScript' is working but 'onMessage' doesn't work

[2022-06-16 07:30] asklar commented on #10128
@nextmvp You will need a Windows environment to build a RNW app. You can find some options here: https://microsoft.github.io/react-native-windows/docs/win10-vm

[2022-06-16 07:30] #10128 closed

[2022-06-16 08:41] creambyemute commented on #10122
@asklar Wasn't on my radar because we're still using RN and RNW 0.65.

It looks like a general React/ReactNative related problem and not related to RNW itself.

There's also a lifecCycle method that should be refactored. I'll have a look into it in the next few days.

[2022-06-16 16:01] chrisglein opened #10130 "RNW supports Visual Studio 2022"
- [x] https://github.com/microsoft/react-native-windows/issues/8740
- [x] https://github.com/microsoft/react-native-windows/issues/8750
- [ ] https://github.com/microsoft/react-native-windows/issues/9499

[2022-06-16 16:16] AgneLukoseviciute commented on #10038
Resolved by: https://github.com/microsoft/react-native-windows/pull/10102

[2022-06-16 16:16] #10038 closed

[2022-06-16 17:13] asklar opened #10131 "Remove load guard once WinUI 3 and system XAML can coexist"
At some point it may be possible to use WinUI 3 and system XAML in the same process. Today that's not supported and we can end up in hard to debug states, so we have a load guard that will crash if we try to load incompatible DLLs.
Once we can load both, we should remove the load guard.

[2022-06-16 17:22] TatianaKapos commented on #10122
@creambyemute Validated with Gallery, issue is fixed with the PR! :)

[2022-06-16 18:08] asklar commented on #10113
cc @vmoroz fyi

[2022-06-16 18:17] asklar commented on #10118
`isHighlighted` is a JS property so the fact that it is showing up on the native side seems like a functional bug. Either we need the native code to implement it, or ignore it, or we should do something for JS to stop sending the update to us.

There is a followup item on being able to turn off the overall mechanism for UnimplementedProperty, or to make it smarter to work with ABI view managers.

[2022-06-16 18:19] asklar commented on #10122
Thanks @creambyemute for the quick fix!

[2022-06-16 18:19] #10122 closed

[2022-06-16 18:26] aschultz commented on #10118
It looks like it's passed down to native on purpose.
https://github.com/facebook/react-native/blob/7b5b114d578142d18bf4a7a5279b179a9ac8d958/Libraries/Text/Text.js

It shows up in a bunch of the RN native code.
https://github.com/facebook/react-native/search?q=isHighlighted

[2022-06-16 18:45] vmoroz commented on #10113
@asklar , could you please provide more details about the required behavior?
JavaScript code can query or set properties of JS Objects, and JSValue allows examining its content, though it is a read-only by design.
At this point it is not clear for me what the requirements are.

[2022-06-16 18:58] rozele opened #10132 "Undo / redo history is lost when controlled prop updates occur on TextInput"
### Problem Description

When building a component with controlled prop updates to TextInput (XAML TextBox), any prop updates from JS cause the TextBox to lose it's undo / redo history. While this is sometimes appropriate, it may be more useful in general if the controlled prop updates can retain history.

For example, consider a TextInput that handles mentions via JS logic and controlled prop upd

[2022-06-17 06:19] tero-paananen commented on #9057
Solution for this issue is to tell `WindowsTargetPlatformVersion` in `ExperimentalFeatures.props`

Read more https://microsoft.github.io/react-native-windows/docs/0.64/customizing-sdk-versions

[2022-06-17 08:13] creambyemute commented on #10122
@TatianaKapos @asklar I've moved the repo to the organization account: https://github.com/wwimmo

[2022-06-17 08:29] asklar commented on #10122
thanks for the heads up!

[2022-06-17 11:59] jbcullis commented on #9615
@rozele This issue is present on both rn-windows and rn-macos. Android and ios exhibit expected behavior.

I fixed this issue on windows .66 but never got around to figuring out how pull requests work on github but the update is here - https://github.com/jbcullis/react-native-windows/blob/dd38db583d9fb8c7547aae5673614224b7212e60/vnext/Microsoft.ReactNative/Views/TextInputViewManager.cpp

[2022-06-17 16:12] fmiskuly-eastman opened #10136 "cannot run from cmd or through VS Code launch.json (when building on CPU that identifies as ia32)"
### Problem Description

I have been trying to get my react windows project to build in VS Code for a few days now to no avail.

I have followed all steps in this tutorial: https://microsoft.github.io/react-native-windows/docs/getting-started but have been matched with many different error messages:

Running the dependency script im told I have all dependencies required, although before manually f

[2022-06-17 19:11] alexzobi commented on #4284
i'm experiencing this as well with svgs downloaded through figma

[2022-06-17 19:32] jonthysell opened #10138 "Microsoft.ReactNative nuget packages do not pass NuGet.org health checks"
### Problem Description

The NuGet.org NuGet Package Explorer reports the following:

<img width="243" alt="image" src="https://user-images.githubusercontent.com/10852185/174389437-1404e42d-69b0-4c1b-82ed-d4b8306fd3d7.png">

- Source link doesn't appear to pass without the right symbols.
- Determinism doesn't appear to pass (msbuild and/or linker properties we need to set?)
- Compiler flags are mi

[2022-06-17 19:34] jonthysell commented on #10138
Info about making deterministic builds: https://nikhilism.com/post/2020/windows-deterministic-builds/

[2022-06-17 20:40] taenri commented on #8328
I can confirm that this bug is also still present in 0.66.

[2022-06-17 21:58] kolbyjc opened #10140 "Multiple Images with same SVGs do not render inside ScrollView"
### Problem Description

When there are multiple Image components inside a ScrollView which are using the same SVG url, I'm seeing an issue where only one Image will render.

This was done in a standalone app, running release mode on both Windows and Xbox.

Problem does not occur in debug.

### Steps To Reproduce

1. Create a standalone app
2. Add code snippet to render 5 Image components with the

[2022-06-17 22:37] jonthysell opened #10141 "Enable telemetry with correct setup string by connecting to the backend"
### Summary

Right now telemetry is effectively disabled, as there's no back-end to receive the data. This task is, once the back-end has been created, to replace the current setup string with the new one in main through 0.68-stable.

### Motivation

No point in telemetry if it never goes anywhere.

### Basic Example

_No response_

### Open Questions

_No response_

[2022-06-17 22:41] jonthysell commented on #9141
Presuming we've gotten to the "CLI telemetry data is available and in reports" we can answer the question "What percentage of new RNW apps created with the CLI target WinAppSDK" rather easily.

[2022-06-17 22:50] jonthysell opened #10142 "Set up 1DS back-end for CLI telemetry"
### Summary

This task is to track the creation of the appropriate telemetry "back-end" for our CLI telemetry. This includes:

- [ ] Onboard to 1DS to get API key
- [ ] Local verification that telemetry events can be sent with that key
- [ ] Sign-off from legal that we're following the appropriate data-handling policies

### Motivation

Without back-end, the telemetry doesn't go anywhere. :)

###

[2022-06-17 22:51] jonthysell commented on #10141
This task depends on #10142

[2022-06-17 22:55] jonthysell opened #10143 "Create initial queries to extract raw CLI telemetry data"
### Summary

Once the CLI telemetry is enabled and pushing data, it'll exist in an unprocessed form. We need to write some queries to extract that data and transform it into the correct schema, so it can be used to build reports.

### Motivation

The raw data will be available but we'll want a more uniform data set.

### Basic Example

_No response_

### Open Questions

_No response_

[2022-06-17 22:56] jonthysell commented on #10143
I already have the queries I wrote against the test back-end, so this task should be rather small.

[2022-06-17 22:59] jonthysell commented on #9141
Depends on #9380 and existing reports.

[2022-06-17 23:03] jonthysell opened #10144 "Build initial reports / dashboards using available RNW telemetry"
### Summary

Once the telemetry data is flowing (i.e. #9380 is done) then we'll need (PowerBI?) reports / dashboard to analyze the data.

### Motivation

This is how we are able to drive decisions with data.

### Basic Example

_No response_

### Open Questions

_No response_

[2022-06-17 23:11] htpiv opened #10145 "Remove fork of CompactValue.h from ReactCommon"
### Problem Description

CompactValue.h is being forked to avoid undefined behavior when compiling with VC++ when using `/fp:precise` (we previously worked around the bad codegen by using `/fp:strict`, but in addition to that generating slower code, it is also causing layout issues and crashes in Office when the floating point control register is in an unexpected state)

### Steps To Reproduce

*

[2022-06-17 23:11] jonthysell commented on #9037
This appears to be a permissions issue on the ADO build agents, moving to 0.70.

[2022-06-17 23:28] jonthysell commented on #9499
Depends on #8740

[2022-06-17 23:50] jonthysell opened #10146 "Add CodeQL to the compliance pipeline"
### Summary

CodeQL is a static code analyzer. We need to run it as part of our compliance pipeline.

### Motivation

This is a compliance requirement.

### Basic Example

_No response_

### Open Questions

_No response_

[2022-06-17 23:53] jonthysell opened #10147 "Add Agent ES scan for UES policy violations"
### Summary

Add Agent ES scan for UES policy violations.

### Motivation

Required by compliance policy.

### Basic Example

_No response_

### Open Questions

_No response_

[2022-06-18 08:08] asklar commented on #10153
Fixed by #10149

[2022-06-18 08:08] #10153 closed

[2022-06-19 15:42] edzhuang opened #10155 "Error on trying to follow "Get Started With Windows" instructions"
### Problem Description

When running the app in visual studio code, I encountered an error.

### Steps To Reproduce

1. Follow the instructions here https://microsoft.github.io/react-native-windows/docs/getting-started and run on visual studio code

### Expected Results

The app running.

### CLI version

7.0.3

### Environment

[code]

### Target Platform Version

_No response_

### Target Devic

[2022-06-20 09:08] creambyemute commented on #10122
@asklar @TatianaKapos This module is now available via npm (https://www.npmjs.com/package/@wwimmo/react-native-sketch-canvas). I also adapted the README.

Cheers.

[2022-06-20 18:13] chrisglein commented on #10132
I'm assuming there's no new regression here, just an interaction between RNW and Xaml to workaround a mismatch of expectations. Increasingly we're going to need to ask the question of how this would playout in the Fabric version of Text, which is going to be different, and how disruptive the patch is for UWP Text. We're not at all to the point of changing the support level of UWP, but it's increas

[2022-06-20 18:21] chrisglein commented on #10136
Error:
```The specified solution configuration "Debug|ia32" is invalid```

That's not a configuration we'd expect to see. A guess is that you're running the 32 bit version of node, where you should be running the 64 bit version of node. This hypothesis is matched by your environment output above.
[code]
And you can see that node output the architecture as `ia32` here:
[code]

Your Visual Studio 20

[2022-06-20 18:34] chrisglein commented on #10155
The failure actually seems to be in Visual Studio deployment:
[code]
And it's happening within the Visual Studio 2022 version.
@asklar Can you loop in the right VS contact to help look at this?

[2022-06-20 21:39] #8683 closed

[2022-06-21 17:07] HansHugli commented on #4875
Yes, this is a negative margin issue. We are still experiencing this problem and it does cause problems for several desired scenarios

[2022-06-21 19:30] ayush1397 opened #10177 "tintColor Style not supporting PlatformColor"
### Problem Description

I am not able to use UWP ResourceDictionary brushes using PlatformColor as a value for tintColor style for images

### Steps To Reproduce

Assign a style of tintStyle to an image with a value as PlatformColor, the app crashes

### Expected Results

The app should not crash and proper color brush mentioned in PlatformColor should be applied

### CLI version

4.14.0

### Env

[2022-06-22 14:26] #9284 closed

[2022-06-22 20:48] NickGerleman commented on #10136
The ".metaproj" bit points to the issue happening specifically in this script, which was recently added.

https://github.com/microsoft/react-native-windows/blob/ca34a4691a57fe3bba679ac5786d6302aecd6cd5/packages/%40react-native-windows/cli/powershell/Eval-MsBuildProperties.ps1

[2022-06-22 20:58] NickGerleman commented on #10136
Bug is this line. Will set arch to ia32 instead of x86. https://github.com/microsoft/react-native-windows/blob/3857727addf3adb0962b3970d91976ee866ee75b/packages/%40react-native-windows/cli/src/runWindows/runWindowsOptions.ts#L75

Can workaround by manually passing "--arch".

[2022-06-23 11:24] EdZ543 commented on #10155
I have upgraded and it indeed does work as intended now.

[2022-06-23 17:25] JunielKatarn commented on #9997
The package can be pushed to nugget.org too

[2022-06-23 18:10] chrisglein commented on #10177
Crash does not repro on recent-ish versions (verified so far on 0.68). Definitely upgrade off of 0.63 - that's out of our support window. But `tintColor` is not correctly supporting `PlatformColor` still on the newer versions. That's a gap.

[2022-06-23 19:23] #8675 closed

[2022-06-24 02:20] JunielKatarn commented on #9997
I have pushed package `ReactWindows.OpenSSL.StdCall.Static`, version `1.0.2-p.5` to nuget.org.

It will be available shortly.

[2022-06-24 03:43] asklar commented on #10113
the idea would be to be able to say something like this in javascript:
[code]

then some native module would be able to inspect that, without necessarily having to expose a separate native module property/method.

Likewise, JS code could act differently based on information available in the property bag:
Imagine e.g.:
[code]

[2022-06-24 04:49] vmoroz commented on #10113
I see. It seems that it can be achieved by associating a JSI object with `ReactContext`.
This would address the key requirements as I see them:

1. Reducing set of types that allowed to be stored in the `properties`. From JS point of view, it will be a normal JS object. From C++ point of view, it will be a JS object.
2. Thread safety. Native code must access these properties only from JS thread to

[2022-06-24 18:42] #10034 closed

[2022-06-24 19:13] #10177 closed

[2022-06-24 23:51] lcherukuri opened #10197 "Transform translateX throwing an error with percentage values"
### Problem Description

Here is the code that does a simple transform animation https://snack.expo.dev/@lcherukuri/feaaf3

The code is working on the ios simulator. But throwing an error in windows desktop app

[code]

![Capture](https://user-images.githubusercontent.com/9434550/175748859-6747e272-1c65-4d60-9bfa-e23654df5b66.PNG)

### Steps To Reproduce

https://snack.expo.dev/@lcherukuri/feaaf3

[2022-06-26 15:12] SAYEM5522 opened #10198 "precompiled header file is from a different version of the compiler, or the precompiled header is C++"
### Problem Description

whenever I am running the project I am getting the problem

 fatal error C1853: 'x64\Debug\pch.pch' precompiled header file is from a different version of the compiler, or the precompiled header is C++ and you are using it from C (or vice versa) [C:\Users\acer\MS_Store_App\windows\ms_store_app\ms_store_app.vcxproj]. Check your build configuration.

### Steps To Reproduce

[2022-06-26 18:50] arsenikstiger commented on #4516
Drop [react-native-windows] folder from [node-modules] and relaunch npm install.

[2022-06-27 14:21] rozele opened #10202 "Allow custom pointer event handling to conditionally cancel gestures"
### Summary

Currently, the IViewManagerWithPointerEvents interface and ReactPointerEventArgs functionality only supports converting canceled gestures due to pointer capture loss to completed gestures. We should also allow these 3rd party view managers to convert completed gestures to canceled gestures.

### Motivation

In Messenger, we have a feature that implements a custom window drag handle th

[2022-06-27 18:51] paperbackdragon opened #10205 "Crash when hovering over a Switch component in high contrast mode"
### Problem Description

When a high contrast theme is active on Windows, if I hover over a Switch component, our React Native Windows app crashes. I've also sometimes noticed a similar (or the same) crash if I have our app open when I enable a high contrast theme.

I also notice that the Switch components don't seem to honor the colors that I have set in our app (which are all hex/rgb, not brushe

[2022-06-27 20:16] paperbackdragon commented on #10205
Note that this is a ship-blocking bug for us since we need to have high contrast mode working in order to ship to customers.

[2022-06-27 20:30] paperbackdragon opened #10207 "Text styles can't be customized in high contrast mode"
### Problem Description

When a high contrast theme is active on Windows, if I have custom styles set on some text (such as a link), those styles don't show up in the UI. It will set all text to the same color and text-decoration, regardless.

Screenshot example - the "Get help", "Give feedback", and "Unlink this PC" text should all be a shade of blue, and should have underlines when hovered over,

[2022-06-28 15:20] rozele opened #10211 "Remove assumptions that XamlRoot::Content() matches Window size"
### Problem Description

There are at least two callsites that assume that the XamlRoot Size or the ActualSize of the XamlRoot::Content matches the size of the XAML Islands HWND:
- https://github.com/microsoft/react-native-windows/blob/003602b90aeda1b2a43702c6a9307c0f01010e59/vnext/Microsoft.ReactNative/Modules/LogBoxModule.cpp#L48-L54
- https://github.com/microsoft/react-native-windows/blob/cc709

[2022-06-28 19:15] jonthysell opened #10212 "Component Governance for RNW apps might not detect components from build-time `cgmanifest.json` files"
### Problem Description

Right now, we dynamically create `cgmanifest.json` files at build time to capture our dependencies on the fmt and folly components, so that our internal Component Governance tasks can warn us of potential vulnerabilities.

However, we don't check those files in, nor do we publish them to NPM. So if anyone (1st-party) builds an RNW app that depends on the NuGet packages, an

[2022-06-28 21:32] jonthysell opened #10213 "Component Governance will be unable to detect the hermes dependency in RN"
### Problem Description

RNW does not actually depend on the published hermes NPM package (as of #10210), because technically neither does RN.

However, RN does release with hermes binaries within their NPM package, which Component Governance won't be able to detect.

So all RN (and therefore RNW apps) built by MSFT running internal compliance tools will be missing this dependency, which, as a JS

[2022-06-28 21:34] jonthysell commented on #10213
One potential solution for RNW apps would be to generate the appropriate cgmanifest.json file on their behalf, but that limits the detection to RNW apps that run whatever code we create. Regular RN apps will escape detection.

[2022-06-28 21:35] jonthysell commented on #10213
This might not be an issue if, since hermes is bundled within RN, any vulnerabilities are ascribed to the affected RN release, rather than to hermes (which no longer has releases).

[2022-06-28 22:23] chiaramooney opened #10214 "0.70 Release Status"
## Checklist

**Before Preview**
- [x] Draft GitHub release notes from commit log (chiaramooney)
- [x] Promote canary build to preview using [wiki instructions](https://github.com/microsoft/react-native-windows/wiki/How-to-promote-a-release) (chiaramooney)
- [x] Push build to stable branch (chiaramooney)
  - [x] Enable CI schedule for new branch of [CI pipeline](https://dev.azure.com/ms/react-nati

[2022-06-28 23:35] paperbackdragon commented on #10205
Link to crash dump and relevant pdb files: https://microsoft-my.sharepoint-df.com/:u:/p/heath/EabeziIrxYRLs-N975XgBDYBerC7pascu1dI8NRap56n0A?e=5x5yia

[2022-06-29 17:19] mattyancheksonos opened #10220 "Support react-native-app-auth"
### Module

react-native-app-auth

### Module repo url

https://github.com/FormidableLabs/react-native-app-auth

### Target Version

0.63+

### Existing issue url

https://github.com/FormidableLabs/react-native-app-auth/issues/740

### Existing windows implementation?

- [ ] Legacy/C# implementation

### Which app/customer is requesting this module?

Sonos

### In what scenarios will this module b

[2022-06-30 15:19] rozele commented on #7411
@vmoroz would love to hear more about your thoughts on this. My thought would be that the main IReactPropertyBag might just hold a map from root tag to XamlRoot, AccessibleRoot, IslandWindowHandle, etc., but are you suggesting that we should instead have a per root IReactPropertyBag where these are stored? And perhaps a XamlUIService API for `GetPropertiesForRootTag(context, tag)`?

[2022-06-30 15:30] rozele commented on #9257
Actually just confirmed this is fixed in latest.

[2022-06-30 15:30] #9257 closed

[2022-06-30 18:13] asklar commented on #10220
thanks for filing @mattyancheksonos. Putting this in the backlog for now. Feel free to send a PR to that repo.

[2022-06-30 18:29] asklar commented on #10205
we have a Teams thread on this, possible fix in PR #10219

[2022-06-30 18:32] asklar commented on #10207
@chiaramooney could you take a look?

[2022-06-30 18:56] chiaramooney commented on #10207
Looking into this now!

[2022-06-30 21:33] chiaramooney commented on #10207
@paperbackdragon It looks like when backgroundColor is set the customizations to color (the foreground color of the text appear). Currently investigating into why this is the case, but for a temporary workaround setting `backgroundColor: 'transparent'` works.

[2022-06-30 21:35] acoates-ms commented on #10207
Possibly related to this:
https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.highcontrastadjustment?view=winrt-22621#windows-ui-xaml-uielement-highcontrastadjustment

I think XAML assumes by default that apps do not properly handle high contrast.

[2022-06-30 22:23] lyahdav commented on #10211
@rozele I think the PR description has an incomplete sentence:

[2022-07-01 11:51] AlenToma opened #10230 "Project Microsoft.ReactNative is not compatible with uap10.0.16299 problem"
### Problem Description

Hi, I am trying to build a library that has support for `react-native-windows`.

The problem is that when I build the library trigger an error build, see below
## LOGS
[code]

### Steps To Reproduce

1. create a library using `create-react-native-library`
2. create an exmaple `react-native` project and add windows using ` npx react-native-windows-init --language cs --overw

[2022-07-02 07:17] SheharyarSMAdil opened #10234 "Getting Error " The target "MarkupCompilePass1" does not exist in the project""
### Discussed in https://github.com/microsoft/react-native-windows/discussions/10233

<div type='discussions-op-text'>

<sup>Originally posted by **SheharyarSMAdil** July  2, 2022</sup>
getting this error while run command `npx react-nartive run-windows`
[code]

also when I am trying to build it with a visual studio directly then I am getting same packages error
![image](https://user-images.github

[2022-07-05 10:27] arsenikstiger opened #10236 "duplicate 'global::System.Runtime.Versioning.TargetFrameworkAttribute' when launching run-windows"
### Problem Description

I created a project by following instructions on get-started for react-native for windows, and choosed C#.
I created the project today, so I use the last version.
The 1st start of the project was good.

But as soon as I modifiy the .NET project to include my own code and nuget dependencies (PInvoke), I encounter this problem when building my project with react-native run-w

[2022-07-05 15:53] rozele commented on #9315
cc @asklar - I think this is another issue where using fs::path instead of fs::path::u8path is problematic.

[2022-07-05 17:24] asklar commented on #9315
yep I believe it :) @rozele could you work with  @creambyemute to push a fix into @ronradtke 's fs module? https://github.com/RonRadtke/react-native-blob-util

[2022-07-06 15:41] arsenikstiger commented on #10236
I tried to pass experimentalNuGetDependency to true, by following this [tutorial](https://microsoft.github.io/react-native-windows/docs/NuGet)
This bug doesn't occur anymore.
So I think this can be marked as a workaround.

[2022-07-06 22:59] aeulitz opened #10245 "RNW instances using Hermes should support direct debugging in release builds"
### Summary

Today, Hermes integration in RNW uses build-time switches to exclude direct debugging features in RNW release builds. Direct debugging should work in both debug and release builds.

### Motivation

Assuming RNW releases are build-flavor-paired with RNW host apps (e.g. Word, Excel), the current limitation prohibits direct debugging in release versions of RNW host apps and thus diminish

[2022-07-07 00:21] chiaramooney commented on #10205
@paperbackdragon Circling back to this bug specifically. Was Alex's patch able to work for you?

[2022-07-07 01:35] nextmvp commented on #10128
thanks a lot

[2022-07-07 18:17] chrisglein commented on #10230
According to the [docs](https://microsoft.github.io/react-native-windows/docs/win10-compat), 16299 should be supported as a min version. Did your project build fine before adding the library reference?

I'm not sure what sorts of project differences result from using `create-react-native-library`. I don't know what the support level is for that on Windows versions. Typically we focus on the steps

[2022-07-07 18:24] chrisglein commented on #10236
Glad you're unblocked.
Requiring that you use the experimental nuget and not be able to build from source may not work for everyone. So there's still a gap here.

[2022-07-07 18:28] chrisglein commented on #10245
Having release builds avoid the debugging cost is a defensible position. Apps can opt into this with a compile-time switch, correct. Is the proposal to change the default? Or to better document this so apps know what they are choosing?

[2022-07-07 19:32] asklar commented on #10230
Just followed the same steps and I'm not able to reproduce this:
- `npx create-react-native-library react-native-awesome-module`
- `cd .\react-native-awesome-module\`
- `yarn upgrade react@18.0.0 --dev`
- `yarn upgrade react-native@0.69.0 --dev`
- `npx react-native-windows-init --version latest --projectType lib --language cs --overwrite`
- `npx react-native run-windows --logging --sln .\windows\R

[2022-07-07 19:43] AlenToma commented on #10230
The library builds fine. But when adding it in the example library that was created by 'npx react-native-windows-init' it will trigger an error with the above logs.

Create React-native library adds in a windows folder automatically, but it somehow have conflict when adding it as a referens to the example project.

[2022-07-07 22:55] chiaramooney commented on #10001
When I test this scenario, my `run-windows` command fails even sooner stating that `run-windows` does not exist. When I remove the ' ' character contained in my path, then `run-windows` is able to be found again. With this, it seems like at large the RNW CLI doesn't support path names with spaces not just within the WindowsStoreAppUtils script. If we want to enable this behavior, we'll have to mak

[2022-07-08 18:25] #9915 closed

[2022-07-08 20:02] MaxPMagee commented on #10059
👍 Just another vote for figuring this out for 0.69.2 or 0.70.0, as we need to be able to upgrade in order to fix another issue that has been deferred to one of those.
https://github.com/microsoft/react-native-windows/issues/9977

[2022-07-08 22:29] #10207 closed

[2022-07-11 18:21] asklar commented on #10230
@JunielKatarn since the error happens during nuget restore, I'm wondering if this might be related to the PackageReference support. Could you please take a look? Thanks!

[2022-07-11 20:33] AgneLukoseviciute opened #10253 "Text in some controls is truncated when text size is scaled up"
This was found through gallery's accessibility testing. When size of text is scaled up from settings, some of the controls are truncated because it looks like the now larger text no longer fits/needs more space allocated.

Some examples from RNTester:
![image](https://user-images.githubusercontent.com/41223743/178350441-112ca153-1c9d-4b13-a64f-8d36dd6b7c26.png)
![image](https://user-images.githubu

[2022-07-11 20:34] lyahdav commented on #9343
@acoates-ms Turns out your proposed fix doesn't resolve this bug in all cases. @rozele is going to take this over as he says he's close to having a fix.

[2022-07-11 20:59] axelfratoniMS opened #10254 "Pressable component's 'onPressIn/Out' don't work on scan mode"
### Problem Description

If we create a `Pressable` or a `TouchableWithoutFeedback` component and we activate Narrator on scan mode (`ctrl + win + enter` to activate Narrator, `caps + space` to activate scan mode), the callback functions on the component stop getting called when focusing with Tab and activating with Enter/Space.

Example:
[code]

If we activate the narrator and navigate to this co

[2022-07-11 21:03] #10197 closed

[2022-07-11 21:25] AgneLukoseviciute commented on #10254
Was able to repro on gallery. Works when activating through mouse, but not with keyboard. Looks as though hitting enter/space isn't being registered at all.

[2022-07-12 02:04] JunielKatarn commented on #10230
Sure thing.

[2022-07-12 02:15] AlenToma opened #10255 "Bundles generated offline do not start running the RN app when executed (white screen on version 0.69+)"
### Problem Description

I have build an app `base64string-package-maker` to be able to decrypt packages so that I could use the package on other apps.

The problem is that When I build `publish/create app Package` with `release` as a target I only get blank app.

That mean when I run `Install.ps1` the app gets installed but there is no js included what so ever.

I think that the app boundle is no

[2022-07-12 18:48] JunielKatarn commented on #10230
Provisinally adding the `PackageReference` label to keep track until fixed or reassigned.

[2022-07-12 23:01] atikulbd opened #10258 "winrt/Microsoft.ReactNative.h no such file"
### Problem Description

I'm new to React Native Windows development.
My development OS: **Windows 10 Edu x64bit** (Up-to-date)
Visual Studio version: 2019
I've installed the development dependencies using rnw-dependencies.ps1 script successfully with all OK.
I've tested with Win SDK versions both 10.0.18362.0 and 10.0.19041.0 + React Native Win versions 0.67 and 0.69.
I've created a fresh RNW pro

[2022-07-13 13:54] ishumsft opened #10259 "Narrator not announcing TouchableOpacity and TouchableHighlight components when they have borderRadius in style"
### Problem Description

The TouchableOpacity and TouchableHighlight components are not being announced by narrator when they have a style property of borderRadius.

The problem is similar to the problem happening in this [issue](https://github.com/microsoft/react-native-windows/issues/6706)

### Steps To Reproduce

1. Create a TouchableOpacity
2. Create a Text element inside the TouchableOpacity

[2022-07-13 20:46] ZacharyHenkel commented on #10059
Creating a Directory.Build.props file in the root of an example app consuming ReactNativeFileViewer enabled the build to succeed.

File contents:

[code]

[2022-07-13 22:35] TatianaKapos commented on #9977
I believe the PR that fixes this issue is
https://github.com/microsoft/react-native-windows/pull/9898 but just waiting on some confirmation! :)

[2022-07-14 02:53] asklar commented on #10258
There is likely a build error happening before we even get to trying to include that header.
can you run `npx react-native run-windows --logging` and share the build output?

[2022-07-14 03:19] AlenToma commented on #3263
Nothing worked for me, I hade installed vs 2022 and included `C++ platform tools`.

This is what I did in addition to install `C++ platform tools`.
Search for `MSBuild` in individual installations and install it. Then add the msBuild Path to system variable `Path` in my case it was `C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin\`

then run `react-native run-windows`

[2022-07-14 14:27] cjhines opened #10262 "Won't find BuildTools / Visual Studio on Gitlab runner CI"
### Problem Description

I'm trying to build a rn-windows app on a [GitLab Windows Shared Runner](https://about.gitlab.com/blog/2020/01/21/windows-shared-runner-beta/). These should have Visual Studio 2019 Build Tools included [as outlined here](https://gitlab.com/gitlab-org/ci-cd/shared-runners/images/gcp/windows-containers/blob/main/cookbooks/preinstalled-software/README.md).

However whenever I

[2022-07-14 16:42] AlenToma commented on #10255
Solved it by downgrading react-native to 0.67

[2022-07-14 17:02] chiaramooney commented on #10259
On react-native-gallery running on 0.69 I'm not able to repro this issue. The TouchableHighlight page does include examples with borderRadius and all of those are still announced and focusable with accessibilityLabel and accessibilityRole set.

See here for the gallery TouchableHighlight source: https://github.com/microsoft/react-native-gallery/blob/main/src/examples/TouchableHighlightExamplePage.

[2022-07-14 18:13] chrisglein commented on #10255
The link to [base64string-package-maker](https://github.com/AlenToma/base64string-package-maker) doesn't work, is it a private repo?
Is your app C# or C++?

Through validating the publish of React Native Gallery on 0.69 we know that bundling for C++ in release is good.
The end to end test app should be validating this with tests that run release with the bundle. @jonthysell can you validate that i

[2022-07-14 18:16] AlenToma commented on #10255
I hade downgraded to 0.6.4 and it is working now so the repo work now and I changed it private.

The repo I create is `cs` with the latest react-native and latest react-native-windows.

So as long as you create one and publish it with a release it, I am sure that you will get the same problem

[2022-07-14 18:18] #10262 closed

[2022-07-14 18:40] JunielKatarn commented on #10236
This could be related to RNW's enablement of `PackageReference` for C++ NuGet dependencies.
I will investigate in depth tomorrow.

[2022-07-14 19:05] chiaramooney commented on #10259
Check on XAMLIslands as well and was able to achieve narrator focus and announcing again. Maybe check the react-native-gallery touchable examples and see if there are any differences in the code.

[2022-07-14 19:55] jonthysell commented on #10255
I can repro this on 0.69. The bundle file **is** present in the appx package, investigating to see why it isn't loading when the app starts.

[2022-07-14 22:45] jonthysell commented on #10255
Confirmed that the bundle is seen and loaded from disk, still investigating.

[2022-07-15 06:07] ishumsft commented on #10259
@chiaramooney thanks for the reply.
I just want to bring this to your attention:

This issue is not always reproducible as seen in conversation here:
https://github.com/microsoft/react-native-windows/issues/6706#issuecomment-745218501

Also going through the comments on that issue, I understood that the fix for that was only went in 0.63 and not further
https://github.com/microsoft/react-native-wi

[2022-07-15 07:24] cjhines commented on #10262
@chrisglein I appreciate you have an incentive to keep the issues board tidy, but my post covers this: I mention I have also tried installing `16.11.16.0` via Chocolatey.

Here is the output of `vswhere` in this case:

[code]

And here is the output of `npx react-native run-windows --arch x64 --release --logging`:

[code]

You can reopen this issue or I can make a new issue specific to RNW not fin

[2022-07-15 14:21] cjhines opened #10264 "NU1101: Unable to find package boost (with GitLab)"
### Problem Description

I'm trying to build a rn-windows app on a [GitLab Windows Shared Runner](https://about.gitlab.com/blog/2020/01/21/windows-shared-runner-beta/).

I can successfully run the dependency script and it completes without error:
`./node_modules/react-native-windows/scripts/rnw-dependencies.ps1 -Install`

However whenever I run `npx react-native run-windows --arch x64 --release --

[2022-07-15 14:31] cjhines commented on #10264
In a following run I got a different missing package:

[code]

Perhaps something wrong generally with my packages configuration?

[2022-07-15 16:29] chiaramooney commented on #10259
@ishumsft Interesting my tests were in a standalone app, and I couldn't repro the issue. From the thread, it sounds like the fix was not added to other releases because the issue seemed to be fixed in later RNW versions already. Maybe a good next step would be to add the fix that went into 63 into your copy of RNW and see if that resolves the issue for you. If so, we can look at adding that fix to

[2022-07-15 18:26] jonthysell commented on #10255
Confirmed that this repros with new 69 C++ apps in release mode too.

[2022-07-15 19:31] jonthysell commented on #10255
Confirmed this issue does not repro in RNW 0.68.9.

This only repros in RNW 0.69.

[2022-07-15 20:00] rozele opened #10265 "Focus ring is displayed even for programmatic focus"
### Problem Description

In #6220, we switched the NativeUIManager to xaml::FocusState::Keyboard for `UIManager.focus` calls.

This is not desirable. xaml::FocusState::Keyboard should only be used when the user actually intends to focus with the keyboard.

### Steps To Reproduce

N/A

### Expected Results

N/A

### CLI version

npx react-native --version

### Environment

[code]

### Target Platfo

[2022-07-15 20:21] JunielKatarn commented on #10236
Hi @arsenikstiger.

Can you please specify what `PInvoke` NuGet package did you add?
There doesn't seem to be a package with that exact name in nuget.org.

[2022-07-15 20:25] JunielKatarn commented on #10236
Following the mentioned steps but adding NuGet dependency `PInvoke.Windows.Core`, the issue does not reproduce.
<img width="1200" alt="image" src="https://user-images.githubusercontent.com/4507319/179305441-16dc79ed-5c5b-435e-982c-3101ad240f79.png">

[2022-07-15 21:15] AgneLukoseviciute commented on #10253
This ended up being an app-side issue in gallery. Repro-ed in playground because we don't perform an immediate re-layout when UISettings TextScaleFactor changes, but if you have the text size set before launching the app or leave and re-enter the page in playground it will be fixed. Renaming to track the work for adding an immediate re-layout in response to text size change, and moving to backlog

[2022-07-15 22:34] AgneLukoseviciute opened #10268 "Add a windows-only prop to support adding tooltips"
### Summary

Make it possible to add tooltips through a windows-only property.

### Motivation

https://github.com/microsoft/react-native-gallery/issues/223 is an example of the type of accessibility issue which requires a tooltip to resolve.

### Basic Example

[code]

[2022-07-16 00:06] AgneLukoseviciute commented on #10268
plot twist: we already have this

[2022-07-16 00:06] #10268 closed

[2022-07-16 01:10] rozele commented on #10253
There's various things that need to trigger relayout on the root:
- window size changed (handled already by root view SizeChanged event)
- TextScale size (would be handled by this))
- DPI scale change (if we were to actually use Yoga feature to account for logical->raw pixel conversions)

[2022-07-16 21:35] jmurp commented on #10236
I'm also trying to create a react-native windows with c#.  Just like the OP, if I go through the steps on the getting started page and never open the visual studio solution, the app starts.  However, if I open the visual studio solution (I did NOT change any of the code) and try to run "npx react-native run-windows", I also get the following:

 × Building Solution: C:[path to project]\node_modules

[2022-07-18 17:28] jonthysell commented on #10255
Still actively investigating this, spent all day Friday trying to debug what's going on. So far:

1. The JS bundle is being created successfully at build time.
2. The bundle file is included in the appx
3. The bundle file is loaded when the native app starts
4. The bundle's contents are passed off the the JS engine and executed without any errors thrown

However, the JS app doesn't start. As far a

[2022-07-18 18:14] chrisglein commented on #10264
Just to set expectations, we haven't done any investigation into compatibility with GitLab's pipelines, so you're in uncharted territory.

As for this:

That's been seen before as an intermittent issue when something is holding a lock to a file (anti-virus, etc.).

I'm not sure what the capabilities of your agent are, but in order to cut down on your build time/memory you can try using the prebuil

[2022-07-18 18:15] chrisglein commented on #10264
If it helps, look at the [samples repo](https://github.com/microsoft/react-native-windows-samples) where you can similar problems solved with GitHub's agents.

[2022-07-18 18:21] chrisglein commented on #10265
I put some comments on the PR associated with this: https://github.com/microsoft/react-native-windows/pull/10266#issuecomment-1188047816

We should get a clear answer on what the correct behavior is.
@AgneLukoseviciute Can you follow up to get that clarified?

[2022-07-18 19:34] jonthysell commented on #10255
I have confirmed via experiment that copying and using the "new RN app template" JS within the e2e test app source repros the behavior - loading bundle via metro works, loading offline bundle gives a blank app.

[2022-07-18 20:41] paperbackdragon opened #10272 "Need backport for "Fix floating point conversions in non en-US locales""
### Problem Description

We're looking for this PR fix to be ported to 0.68: https://github.com/microsoft/react-native-windows/pull/10058

It's unlikely we'll upgrade to 0.70 anytime soon so having this in 0.68 (which we're upgrading to soon) will make development easier.

Original discussion on Teams before the fix was written: https://teams.microsoft.com/l/message/19:ea7692fed931434db524836878ad

[2022-07-19 00:13] #9538 closed

[2022-07-19 03:59] NickGerleman opened #10274 "RNW 0.70+ Will Fail to Publish Git tags or Release Notes"
See https://github.com/microsoft/react-native-windows/pull/10256#discussion_r918546454

[2022-07-19 20:45] asklar opened #10283 "Move CoreApp sample to a new sample package"
_Originally posted by @jonthysell in https://github.com/microsoft/react-native-windows/pull/9936#discussion_r891511568_

[2022-07-19 20:48] #9620 closed

[2022-07-19 21:41] AgneLukoseviciute opened #10284 "Narrator doesn't announce AccessibilityValue changes"
Changing the value of accessibilityValue is not triggering Narrator to read out the new state.

Similar to: https://github.com/microsoft/react-native-windows/issues/8491, needs calls to  peer.RaisePropertyChangedEvent when value changes.

[2022-07-19 21:42] AgneLukoseviciute commented on #10284
Needed for: https://github.com/microsoft/react-native-gallery/issues/230

[2022-07-20 12:22] marek8623 opened #10286 "Getting error: The command npx react-native autolink-windows exited with code 9009"
### Problem Description

I am following the steps based on this manual:
https://microsoft.github.io/react-native-windows/docs/getting-started#building-a-standalone-react-native-windows-app

But I am getting the following error:
_The command "npx react-native autolink-windows --check --sln "windows\projectName.sln" --proj "windows\projectName\projectName.vcxproj"" exited with code 9009._

### Steps

[2022-07-21 12:02] Abhishe08k opened #10287 "NativeAnimatedModule.getValue is not a function"
### Problem Description

We have recently upgraded react native Windows version to 0.63.4 to 0.68.6.
We have started facing this issue after the upgrade. After launching the application if I click a button, I started getting error "NativeAnimatedModule.getValue is not a function". Attached the image.

![image](https://user-images.githubusercontent.com/109737224/180208074-07f9d6a4-2cec-44bd-9079-55

[2022-07-21 18:12] asklar commented on #10287
@Abhishe08k are you trying to use Fabric? if so, that isn't yet working for Windows.
@acoates-ms does this look familiar?

[2022-07-21 18:19] asklar commented on #10286
Is your project named `projectName`?
Error 9009 means something (likely the "npx" command) was not able to be executed.
If you open a developer command prompt and try to run that command, do you get an error?

[2022-07-21 18:23] asklar commented on #10274
tagging @jonthysell

[2022-07-21 18:25] asklar commented on #10272
@TatianaKapos will backport this

[2022-07-21 21:03] #10234 closed

[2022-07-22 00:23] jonthysell commented on #10255
The bug is that the commands to render the UI don't get processed on the native side if no native modules are ever called by the JS.

[2022-07-22 07:39] Abhishe08k commented on #10287
@asklar , I am not using Fabric. I was using "react-native-screens" (2.11.0.) It does not support Fabric.
Today, i have taken the latest version of "react-native-screens"(3.15.0) that supports Fabric. But enabling/disabling fabric has not helped either. Getting the error irrespective of whether i enable/disable fabric.

[2022-07-22 16:54] asklar commented on #10287
I see, I recommend seeking support on the [react-native-screens repo](https://github.com/software-mansion/react-native-screens ), as it's possible that that module doesn't work well on Windows. CC @chiaramooney  in case she's seen this issue before.

[2022-07-22 20:14] TatianaKapos commented on #9977
Backported into .68 and .67!

[2022-07-22 20:14] #9977 closed

[2022-07-22 20:14] TatianaKapos commented on #10272
backported into .69 and .68 :)

[2022-07-22 20:14] #10272 closed

[2022-07-23 04:09] taduyde commented on #2024
the same issue

[2022-07-23 05:40] asklar commented on #2024
@taduyde please file a new bug rather than this very old bug :)

[2022-07-23 10:14] taduyde opened #10300 "white page when build release"
### Problem Description

![image](https://user-images.githubusercontent.com/8236997/180600898-42eecfaf-2cd7-46ed-8a5f-a14fae0b7d13.png)

### Steps To Reproduce

run command: npx react-native run-windows --logging --release

### Expected Results

_No response_

### CLI version

npx react-native --version

### Environment

[code]

### Target Platform Version

_No response_

### Target Device(s)

_No

[2022-07-23 11:57] taduyde commented on #2024
@asklar
I already create a new bug on this link: https://github.com/microsoft/react-native-windows/issues/10300

[2022-07-23 13:29] taduyde commented on #2024
Hi @pirminb97 , How can you resolve it?

[2022-07-24 15:45] taduyde commented on #10300
any update for this?

[2022-07-25 01:43] taduyde commented on #8549
the same issue. any update for this?

[2022-07-25 04:04] nguyenluminhvy commented on #10300
I have same problem !

[2022-07-25 08:01] taduyde commented on #9732
@chiaramooney the same issue.

[2022-07-25 17:33] chrisglein commented on #10300
@jonthysell Which issue are we using to track this?

[2022-07-25 17:35] chrisglein commented on #10300
Duplicate of #10255

[2022-07-25 18:04] jonthysell commented on #10300
Yes, this is a duplicate of #10255 and will be resolved by #10298.

[2022-07-25 18:09] chrisglein commented on #8549
Duplicate of #10255

[2022-07-25 18:11] chrisglein commented on #9732
This issue was closed a few months ago. Which issue were you referring to? Did you want to open a new issue with fresh context/version information?

[2022-07-25 21:10] rozele opened #10312 "Add quirk setting to always use sqlite3 for AsyncStorage"
### Summary

Currently, we use Windows.Storage for AsyncStorage for apps with a valid package identity and sqlite3 for those without a valid package identity. There should be an option to always prefer the sqlite3 implementation of AsyncStorage.

### Motivation

We use sqlite3 AsyncStorage in both packaged and unpackaged versions of our app.

### Basic Example

_No response_

### Open Questions

_

[2022-07-25 23:23] rozele commented on #10145
Can be resolved once RNW pulls in fbf7a6feb53c6d2e3abae4bdb54b2390c229f2cf

[2022-07-26 01:38] taduyde commented on #10255
any update for this?

[2022-07-26 02:02] taduyde commented on #10255
Hi @jonthysell ,
the issue also happened on version: 0.67.4

[2022-07-26 05:30] ishumsft commented on #10259
@chiaramooney I tried apply the fix that went into 63 to my local copy. But that as well didn't work.
I was not able to repro this in a separate app. But this is happening in our app 100% of the time.

Let me add some screen shots for reference.

I added two buttons side by side with all the same code but the difference of borderRadius in style. The button with the borderRadius was **not** working

[2022-07-27 15:45] AgneLukoseviciute opened #10323 "In react-navigation on RNW: Keyboard tab is moving to previously opened screen while the current screen is being opened"
When navigating to a new page using react-navigation, the components of a previously opened page remain in the tabindex. I think this is also related to some tabbing issues we're seeing in gallery, since we use react-navigation there ([#231](https://github.com/microsoft/react-native-gallery/issues/231), [#222](https://github.com/microsoft/react-native-gallery/issues/222)). There's also an internal

[2022-07-27 15:46] AgneLukoseviciute commented on #10323
@chiaramooney, do you think this could be related to https://github.com/microsoft/react-native-windows/issues/4152?

[2022-07-27 19:08] jonthysell opened #10333 "PR checks allow changelists with invalid comment field"
### Problem Description

The PR #10306 made some small changes to RNW, and included a changelog file with type: none and an invalid comment. This is causing errors to be reported when creating new changelog files with `yarn change`.

[code]

Source JSON:
[code]

1. We should make sure (if possible) that you can't select `None` as a change type.
2. If we can't prevent "none" from being selected, ma

[2022-07-27 19:32] jonthysell commented on #9997
Ping @JunielKatarn / @dannyvv  on this? Is is possible to get `ReactNative.V8Jsi.Windows` regularly published to nuget.org?

[2022-07-27 21:54] JunielKatarn commented on #9997
@tudorms Can you please confirm whether this is possible?

[2022-07-27 22:20] tudorms commented on #9997
We removed the V8 package from NuGet over similar compliance requirements (multiple feeds) sometime last year. @dannyvv has more background. I believe it was something related to package naming, reservations and/or signing requirements.

[2022-07-27 23:27] AgneLukoseviciute commented on #10265
From looking into it and the new comments from Eric and Andrew, I also think that we should be using programmatic focus here. FocusState::Keyboard would be the right approach if we're assuming that an app would handle the keyboard events in js and be moving focus in response to that, but since we have native keyboarding I think it's more likely it'd be used to programmatically change focus in resp

[2022-07-28 06:04] #10258 closed

[2022-07-28 14:57] rozele opened #10335 "Different behavior for `borderRadius` on Windows than other platforms"
### Problem Description

On all other RN platforms, `borderRadius` is clamped to 50% of the minimum dimension of the view (width or height).

On Windows, `borderRadius` will produce an oval shape.

### Steps To Reproduce

1. In any test app, add the following view:
[code]
2. Notice that on Windows, this produces an oval shape:
![image](https://user-images.githubusercontent.com/1106239/181568622-32

[2022-07-28 18:09] chrisglein commented on #10312
Isn't AsyncStorage [marked deprecated](https://reactnative.dev/docs/asyncstorage) from core? We've been directing people to community modules for their needs here. So we shouldn't really be expanding its role, unless the intent is to un-deprecate in RN core. Agree?

[2022-07-28 18:15] chrisglein commented on #10333
Feedback from triage: None is valid here, but the PR can absolutely check the other fields, and we can try to figure out how this being used incorrectly.

[2022-07-28 18:50] #10274 closed

[2022-07-28 21:27] #10255 closed

[2022-07-29 00:40] asklar commented on #9988
See #10063 for a sketch of what a solution might look like; not needed for 0.70 but good thing to target to iron out the wrinkles between native and RN layout

[2022-07-29 10:46] taduyde commented on #5232
it's not working, I got the error
"Severity	Code	Description	Project	File	Line	Suppression State
Error	C3779	'winrt::Windows::UI::ViewManagement::ApplicationView::GetForCurrentView': a function that returns 'auto' cannot be used before it is defined	test77	C:\Users\Admin\Desktop\test77\windows\test77\MainPage.cpp	31
Error	C3779	'winrt::Windows::UI::ViewManagement::ApplicationView::GetForCurrentVie

[2022-07-29 16:13] rozele commented on #10312
I'm not so sure this is a bad thing to add before folks are forced to migrate to the community module. At least by adding this, it creates an easier migration path (assuming https://github.com/react-native-async-storage/async-storage is compatible with the Win32 AsyncStorage module). Users first set the quirk setting and get everything working there, then hop over to the community module. And when

[2022-07-29 23:06] AgneLukoseviciute commented on #10254
Hey @axelfratoniMS, could you try adding accessibilityRole="button" and try again? I'm able to get onPress working that way

[2022-07-31 09:53] gangli66 opened #10350 "Why can't I set focus to <View> to use onKeyDown"
I want to add listener to key pressed events.
In Android and iOS, I use react-native-keyevent to do it,
but it doesn't be supported in react-native-windows.
So I use IKeyboardProps to caputure the key event,
but I can only use it in TextInput.
From APIs, I know it can be used in View,
but When I use it, there is no words out to the console.
Here are my codes, is there any body can help me to imple

[2022-07-31 13:22] rozele commented on #10350
I think acceptsKeyboardFocus was deprecated / removed. Can you try focusable instead?

[2022-08-01 11:01] tero-paananen commented on #10236
I want to upgrade my app from 0.65 to 0.69 and i always do working Hello World app before upgrade to see all needed changes.

I tried to build React Native Windows Hello World app on 0.69.3 and i get about the same build errors.

Steps to create HelloWorld 0.69.3. I ran these command in root to prevent paths to get too long.
[code]

I opened solution file by Visual Studio 2019 (16.11.6) and tried

[2022-08-01 11:51] tero-paananen commented on #10236
RNW 0.68 HelloWorld builds without errors

[code]

[2022-08-01 15:21] cjhines commented on #5232
You need this in `App.h`:

[code]

[2022-08-01 15:26] rozele commented on #7143
Doing some lightweight perf testing, I see we spend a non-trivial amount of time transferring properties. Generally focusable Views or secureTextEntry TextInputs are initialized with these props and they remain stable, so it definitely makes sense to do this!

[2022-08-01 15:37] rurikoaraki opened #10353 "Exposing accessibility prop for access keys"
### Summary

Add a prop to set the access key UIA property on a component.

### Motivation

RN Win32 is working on a feature which requires exposing a prop to add access key accessibility information to a component. Guidance from https://github.com/microsoft/react-native-windows/issues/3450 mentions using accessibilityHint to set the property, but we've found that accessibilityHint doesn't consist

[2022-08-01 16:20] rozele opened #10354 "Various bugs and crashes related to fast text workaround"
### Problem Description

In TextViewManager, we special case a <Text> component with a single raw text (Run) child by setting the `TextBlock::Text` property directly, rather than adding an inline to allow XAML to perform optimized text rendering.

The current implementation has a few bugs:
1. Prepending raw text at index 0 to a view that has other inline children drops all other inline children
2.

[2022-08-01 17:13] chiaramooney commented on #10259
Flagging to discuss in triage.

[2022-08-01 18:10] chrisglein commented on #10353
For XAML this would likely map to [AccessKey](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielement.accesskey?view=winrt-22621)

[2022-08-01 18:17] chrisglein commented on #10259
Try getting a XAML live tree view + properties of the app and diff between what Chiara is seeing in her repro.

[2022-08-01 18:31] chrisglein commented on #10312
I actually believe that they are not compatible. Which is a pain point raised about a year ago but hasn't risen in anyone's priority enough to warrant addressing.

[2022-08-01 21:03] #10264 closed

[2022-08-01 21:52] #10212 closed

[2022-08-02 09:57] cjhines commented on #7847
@thedf Is this module public anywhere? I would be very eager to see the final result

[2022-08-02 10:09] thedf commented on #7847
It's not public unfortunately.

[2022-08-02 10:27] cjhines commented on #7847
Oh well, was worth a shot :) Thanks for the quick response!

[2022-08-02 11:45] tero-paananen commented on #10230
Maybe same kind of issue https://github.com/microsoft/react-native-windows/issues/10059

[2022-08-02 12:06] ishumsft commented on #10259
Sharing the live tree view, element properties of both the rounded and unrounded buttons

**With border radius:**
<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:dt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=OneNote.File>
<meta name=Generator content="Microsoft OneNote 15">
</head>

<body lang=en-IN style='f

[2022-08-02 19:15] chiaramooney commented on #10259
@ishumsft I think at this time the team is going to ask that you debug this issue yourself and put out a PR for the fix, since we are unable to reproduce the scenario on any of our branches/sample apps/fresh apps. Debugging information can be found here: https://github.com/microsoft/react-native-windows/wiki/VS-Code-Debugging

[2022-08-02 20:33] #10333 closed

[2022-08-02 21:47] jonthysell commented on #10213
Moving this to the backlog as I don't think it's strictly an RNW problem, and if comes down to us having to fix for it, we can reassign to a release milestone at that time.

[2022-08-02 23:12] jonthysell commented on #10141
As we explore 1DS onboarding, the details of this task may change slightly.

[2022-08-02 23:12] jonthysell commented on #10142
As we explore 1DS onboarding, the details of this task may change slightly.

[2022-08-02 23:13] jonthysell commented on #10143
As we explore 1DS onboarding, the details of this task may change slightly.

[2022-08-02 23:14] jonthysell commented on #9380
As we explore 1DS onboarding, the details of this task may change slightly.

[2022-08-02 23:14] jonthysell commented on #6479
As we explore 1DS onboarding, the details of this task may change slightly.

[2022-08-02 23:14] jonthysell commented on #10130
This is a priority for 0.71.

[2022-08-02 23:15] jonthysell commented on #9690
This is a priority for 0.71.

[2022-08-02 23:15] jonthysell commented on #9499
This is a priority for 0.71.

[2022-08-02 23:15] jonthysell commented on #8740
This is a priority for 0.71.

[2022-08-02 23:15] jonthysell commented on #8750
This is a priority for 0.71.

[2022-08-02 23:39] AgneLukoseviciute commented on #10254
@axelfratoniMS yeah, same for me. I'll look into onPressIn/Out, could be something weird about how the Xaml we use there operates in scan mode.

[2022-08-03 06:19] tero-paananen commented on #10059
I managed to build c# module in c# app (react-native-windows 0.69) with following configs

App.csproj
[code]

ExperimentalFeatures.props
[code]

c# module csproj
[code]

[2022-08-03 17:14] rozele opened #10363 "NativeAnimated module behavior difference for medium complexity animation"
### Problem Description

We noticed a bug during the upgrade to 0.68 where composition animations stopped working correctly for a specific component.

I didn't spend any time isolating where the bug is coming from in NativeAnimated, but instead just ported the component over so anyone can reproduce the bug.

### Steps To Reproduce

1. Pull in changes from https://github.com/rozele/react-native-win

[2022-08-03 17:44] jonthysell commented on #9997
Can we do the opposite, and just push all the packages Desktop needs to `react-native-public` instead?

| Package | Version |
| :- | -: |
| boost | 1.76.0.0 |
| Microsoft.Build.Tasks.Git | 1.0.0 |
| Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn | 1.8.1 |
| Microsoft.SourceLink.Common | 1.0.0 |
| Microsoft.SourceLink.GitHub | 1.0.0 |
| Microsoft.Windows.CppWinRT | 2.0.211028.7 |
| Reac

[2022-08-03 17:46] jonthysell commented on #9997
I'm trying to resolve these issues in PR #10332

[2022-08-03 18:04] rozele commented on #10363
In case this helps in debugging, this scenario actually used to work fine with Composition in v0.63 - only started seeing issues in 0.68.

[2022-08-03 19:05] rozele opened #10364 "Skew transforms are not working"
### Problem Description

In #9798, we added functionality to update transform props directly without first converting those props into a transform matrix in JS. This change did not account for string values of `skewX` and `skewY`.

### Steps To Reproduce

1. Run Playground > RNTester
2. Open APIs > Animated > Transform Styles example
3. Attempt to use skew transforms

### Expected Results

Skew tr

[2022-08-03 20:17] #10364 closed

[2022-08-03 22:40] #9992 closed

[2022-08-03 22:40] #9993 closed

[2022-08-03 22:40] #9996 closed

[2022-08-03 22:40] #9997 closed

[2022-08-04 00:28] aeulitz opened #10370 "Remove hermes/inspector/chrome/ConnectionDemux.cpp override"
### Problem Description

To provide a temporary fix for [9662](https://github.com/microsoft/react-native-windows/issues/9662), I'm adding  TEMP_UntilReactCommonUpdate/hermes/inspector/chrome/ConnectionDemux.cpp. The corresponding upstream PR is [34342](https://github.com/facebook/react-native/pull/34342).

This issue is meant to track the removal of the override depending on the upstream acceptanc

[2022-08-04 18:09] chrisglein commented on #10363
Can you briefly capture what the difference is you're seeing? Text or video, just so it's captured here.

We've previously talked about the difference between behavior of composition animations vs. JS expectations and how we may want to add an opt-out switch for a slower path that offers complete compatibility. I'm guessing this is another scenario that would be helped by that.

[2022-08-04 18:36] chrisglein commented on #9196
WinUI 2.8 has some implications on min SDK version. We're not going to consider that for 0.70 as a result until we know when/how we want to integrate that. Moving out for consideration in 0.71.

[2022-08-04 18:45] jonthysell opened #10374 "Fix NPM compliance issues detected by Secure Supply Chain Analysis"
### Problem Description

The Secure Supply Chain Analysis task runs on our publish and compliance pipelines, and has detected multiple issues with how we consume NPM packages.

Detection logic: https://docs.opensource.microsoft.com/tools/nuget_security_analysis/azure_artifacts_checks/
Specific remedies for each error type: https://aka.ms/cfs

[code]

### Steps To Reproduce

See results from the ta

[2022-08-04 19:04] jonthysell commented on #10374
Note, these warnings all look like they assume a closed-source project which requires MSFT AAD credentials to authenticate and download packages to build the source.

So this may just need to go on the backlog until compliance has a solution for teams which produce OSS that customers build from source.

[2022-08-04 21:03] #10286 closed

[2022-08-04 21:39] jonthysell commented on #10374
One workaround would be to create the approved, authenticated ADO NPM feed but only add it to the .npmrc files in CI. We could call a script as a part of the a git post-checkout hook.

[2022-08-04 22:29] jonthysell commented on #10374
Also, I don't know how long this has been a problem, no-one's complaining about this, I just noticed it when fixing the NuGet feed issues. I hadn't seen that the compliance task now also checks NPM stuff.

[2022-08-05 13:06] bombillazo commented on #9613
Hey, having access to programmatically set the `TextInput` value in the UI thread would greatly benefit more customized TextInputs with a native feel! I'm having the same use case as OP.

[2022-08-05 16:36] jonthysell commented on #9395
Putting this on the backlog as it's just a meta issue and it's more important what the concrete individual tasks are on.

[2022-08-08 09:26] tero-paananen opened #10378 "FormData request handling missing"
### Problem Description

FormData request handling is missing from file

https://github.com/microsoft/react-native-windows/blob/5cbc25b4f1e90c412f48e4379435a3ea9f387fad/vnext/Shared/Networking/WinRTHttpResource.cpp#L264

I copy/paste old implementation from here

https://github.com/microsoft/react-native-windows/blob/ae1309301a4662bb5197cccbe6784a40d063f618/vnext/Shared/Modules/NetworkingModule.cp

[2022-08-08 09:29] tero-paananen commented on #10378
I had conversation about this issue with @asklar

[2022-08-08 10:02] tero-paananen commented on #9535
https://github.com/microsoft/react-native-windows/issues/10378

[2022-08-08 10:27] tero-paananen commented on #10378
[react-native-windows+0.68.12.zip](https://github.com/microsoft/react-native-windows/files/9280990/react-native-windows%2B0.68.12.zip)

My current RNW 0.68.12 patch in zip

[2022-08-08 18:07] chrisglein commented on #10374
What's the difference between an error vs. warning from this tool? How important are these issues?

[2022-08-08 18:10] chrisglein commented on #10378
Based on #9535 this sounds like a known feature gap. @JunielKatarn does that sound correct? Is there a path to bring that functionality back?

Going to close this a dupe. @tero-paananen go ahead and continue any conversation over on #9535.

[2022-08-08 18:10] chrisglein commented on #10378
Duplicate of #9535

[2022-08-08 18:10] #10378 closed

[2022-08-08 23:02] JunielKatarn commented on #10378
Indeed. Form Data support had not been implemented for RNW HTTP in any of its variants.
It is a pending task.

For context, see project https://github.com/microsoft/react-native-windows/projects/42

[2022-08-09 06:02] asklar commented on #10378
@JunielKatarn  From talking to @tero-paananen, my understanding is that this used to work in 0.65 (see the [code in the old networking module](https://github.com/microsoft/react-native-windows/blob/ae1309301a4662bb5197cccbe6784a40d063f618/vnext/Shared/Modules/NetworkingModule.cpp#L320)), but broke when the refactor happened

[2022-08-09 16:28] jonthysell commented on #10374
Like I said, no one's reached out and complained about this, we've been ignoring the warnings for a long while now. However there may be some changes to that policy, currently on an internal thread with @dannyvv and CFS folks.

[2022-08-09 18:41] jonthysell commented on #8755
The path to the dependency dir (under `node_modules`) is determined by the RN core CLI's `react-native config` command, and is passed to us fully resolved. By the time we get it, we can't possibly know that the path was gotten through a symlink without re-searching for the depdendency.

However, starting in [v9.0.0-alpha.5 of the RN CLI](https://github.com/react-native-community/cli/releases/tag/v

[2022-08-09 21:46] chiaramooney commented on #9196
Capturing considerations from offline thread:

- The change in min SDK version is due to a change in MSIT internal policy surrounding support.

MOVE TO 2.8
- Unclear how many customers would fall into the bucket of losing support / how many customers want to be able to have their min version remain at its current value. The assumption is this number/percentage is small.
- Historically, we have alw

[2022-08-09 22:24] JunielKatarn commented on #10378
@asklar indeed, I updated my comment:

[code]

I'll address this right after fixing HTTP redirects (current work item).

[2022-08-09 23:52] paperbackdragon opened #10387 "accessibilityLiveRegion reads Text changes twice"
### Problem Description

I've found that in our React Native Windows app (which uses XAML islands), a simple component such as this one ends up announcing the changed text twice, even if it's the only rendered component in the UI:

[code]

I've put in console statements and useEffect hooks to confirm it's not being rendered twice or the variable changed twice.

### Steps To Reproduce

See problem

[2022-08-10 07:46] NguyenHuynhHuuTai commented on #8803
I had the same problem when I couldn't create a TCP client

[2022-08-10 18:04] chiaramooney commented on #10323
Adding screens support would definitely fix the issue of being able to access elements on a previous screen after navigation has been completed as that screen would be removed from the visual tree. In this case, since the access issue is happening during navigation I'm not sure if screens would fully solve the issue because it does not delete the previous screen until the new screen has finished b

[2022-08-10 18:14] AgneLukoseviciute commented on #10323
@chiaramooney From everything I've seen, this happens once you've already navigated to a new page and is pretty easy to repro. It might be possible you can somehow quickly tab onto the other page while a new one is being loaded, but I haven't seen that myself nor heard anyone bringing that side of it up.

[2022-08-11 00:28] asklar opened #10390 "JsiAbiApi uses deprecated std::alignd_storage"
https://github.com/microsoft/react-native-windows/blob/f08219491c7b224f485dd6be8152c5515a56cf29/vnext/Microsoft.ReactNative.Cxx/JSI/JsiAbiApi.h#L258

trying to build this in an app targeting c++23, breaks the build.

[code]

[2022-08-11 01:23] asklar commented on #10390
fyi @vmoroz

[2022-08-11 09:59] gangli66 commented on #10350
Thanks for you reply, but it still does not work for me by using focusable on <View>.

[2022-08-11 15:03] rozele commented on #10350
Also, autoFocus isn’t implemented on View, so you’d actually have to tab to the View to give it focus. Have you confirmed that the view actually has focus (e.g. either by setting enableFocusRing or by subscribing to onFocus events?

[2022-08-11 18:10] chrisglein commented on #10387
Need to replicate this just in XAML to see how Narrator/etc. announces this. Then look at Accessibility Insights to see if there's something in the structure causing the double announce. Also possible there's a reader-specific issue, but we should start with that.

[2022-08-11 18:13] chrisglein commented on #8803
The module hasn't been implemented. Were you trying to use the module (in which case it's not supported on Windows), or something else?

[2022-08-11 20:36] chiaramooney commented on #10287
@asklar @Abhishe08k We have had issues in the past with the current partial Windows implementation for screen but I don't think I've seen this issue specifically. I'll look into it and see what I can find.

[2022-08-11 21:18] paperbackdragon opened #10395 "View is still focusable after accessibilityState is set to disabled, but no screen reader output"
### Problem Description

If you make a View that's focusable and has an accessibility label, then set the accessibility state to have `disabled: true`, you can still tab to it (it's still focusable), but screen readers like Narrator don't read anything when it's focused.

I think one of two things could fix this:
- Have the screen reader read out the component as usual, but also have it say that i

[2022-08-11 21:56] asklar commented on #9546
this may be done with the PackageReference work, right? if so can you close @jonthysell ?

[2022-08-12 00:52] NguyenHuynhHuuTai commented on #8803
Yes
I'm trying to use the module (in which case it's not supported on Windows)

[2022-08-12 19:17] PPatBoyd commented on #10335
Happened to stumble on this issue, curiously enough the clamping is only done on web when using pixel values; when using percent values for borderRadius (which RN does not currently support) it does not clamp and creates an oval:

<img width="177" alt="image" src="https://user-images.githubusercontent.com/41588892/184428203-4ac3bd2f-0481-401b-8d72-fb39eb56dc64.png">

Noting it here cause it's inte

[2022-08-15 13:57] aykejriw opened #10399 "How can we make popup view scrollable in react native windows?"
I am trying to use pop-up as a modal for react-native windows. I have a use case where my modal/pop-up should be scollable.

Is there a way I can acheive this in react-native windows?

[2022-08-15 15:54] #10265 closed

[2022-08-15 15:56] #10354 closed

[2022-08-15 18:08] chrisglein commented on #10395
First thing to do here will be to replicate on other platforms and compare behavior.

[2022-08-15 18:10] chrisglein commented on #10395
Potentially related: https://github.com/facebook/react-native/pull/34287

[2022-08-15 18:12] chrisglein commented on #10399
What have you tried? You should be able to include a scroll view in a popup just fine. Do you have some sample code you've tried?

[2022-08-15 18:15] chrisglein opened #10400 "How to get right dimensions in Xbox?"
### Discussed in https://github.com/microsoft/react-native-windows/discussions/10398

<div type='discussions-op-text'>

<sup>Originally posted by **gabrigode** August 12, 2022</sup>
Evertime I try to load my RNW app on Xbox with a 4K display the dimensions are all wrong. It loads with 960 x 540 size.

I've been using useWindowDimensions hook to get the dimensions:

`const { height, width } = useWi

[2022-08-15 18:18] chrisglein commented on #10400
At first inspection this is doing the right thing. Uses the logical monitor for the app's window and reports the size. Need to reproduce the issue.

Sounds like there may be a problem with the UWP APIs' behavior here: https://docs.microsoft.com/en-us/answers/questions/143192/screen-reolution-detection-on-xbox.html
May be an existing issue with that. In which case we make sure an issue is filed, or

[2022-08-15 21:21] chiaramooney commented on #10287
@Abhishe08k So we know that 0.68 apps in general are not hitting this issue. It may be that something has gone wrong in your upgrade process. 63 -> 68 is a big jump. I would suggest upgrading incrementally through the versions to see where the error appears for you.

[2022-08-16 04:56] Abhishe08k commented on #10287
@chiaramooney , @asklar  Thank you for looking into this issue. After I changed the RNW version to 0.68.12(from 0.68.6) and upgrade the nuget version of my project to 0.68.12 as well, I am no more hitting this issue.

Thanks again for your time.

[2022-08-16 04:56] #10287 closed

[2022-08-16 06:26] aykejriw opened #10401 "How to set background blur for popMenu?"
I have a case where i want to set some controls on pop-up. I want to set the focus on pop-up and darkened the area outside of it.

Is there a way I can achieve this in pop-up for react native windows?

[2022-08-16 06:39] aykejriw commented on #10399
@chrisglein I used scrollview, but I am getting below erros.

`error: ..\..\node_modules\react-native-reanimated\src\index.ts: C:\work\XS.SDX.Settings\node_modules\react-native-reanimated\src\index.ts: Export namespace should be first transformed by `@babel/plugin-proposal-export-namespace-from`.
  5 | export * from './reanimated1';
  6 | export * from './reanimated2';

[2022-08-16 09:00] aykejriw commented on #10399
ScrollView from react-native-windows working. I was importing scrollview from react-native previously. Closing the issue

[2022-08-16 09:00] #10399 closed

[2022-08-16 15:23] cjhines commented on #9977
For some reason this is still happening to me in 0.68.9

[2022-08-16 17:42] AgneLukoseviciute commented on #10284
In PR, should go through soon. keeping in .70

[2022-08-16 17:44] AgneLukoseviciute commented on #10254
Needs more investigation, moving to .71

[2022-08-16 20:30] chiaramooney commented on #9619
@JunielKatarn Do we have an update here? Or should this issue be moved to 71?

[2022-08-16 20:31] chiaramooney commented on #9868
@JunielKatarn Do we have an update here? Or should this be moved to 71?

[2022-08-16 20:33] chiaramooney commented on #9448
@marlenecota I don't believe there's an update here. Should this be moved to 71?

[2022-08-16 20:34] chiaramooney commented on #10114
@marlenecota Do we have and update here, or should this be moved to 71?

[2022-08-16 20:36] chiaramooney commented on #9938
@TatianaKapos Do we have an update here, or should this be moved to 71?

[2022-08-16 20:41] chiaramooney commented on #9292
Unassigned currently. Due to release timeline; moving to 71.

[2022-08-16 20:43] chiaramooney commented on #9252
In progress by Eric, awaiting review. Moving to 71 for tight timeline with large change.

[2022-08-16 20:44] chiaramooney commented on #9779
Meta issue. Moving to 71.

[2022-08-16 21:13] JunielKatarn commented on #9868
Let's move it into 71.

[2022-08-16 21:41] chiaramooney commented on #10259
Unassigning myself, as ask is now for issue filer to resolve bug.

[2022-08-17 04:29] rozele opened #10406 "Clicks on edge views fire `onPress` after pointer leaves window"
### Problem Description

If you have a view on the edge of a window, it's pointer state will not be updated when the view leaves the view and the bounds of the window (or React root) simultaneously.

### Steps To Reproduce

1. Create a view that sits on the edge of the React root, e.g. this change in simple.tsx:
[code]

2. Press the button and hold the left button down on the mouse
3. Move the mou

[2022-08-17 05:04] tero-paananen commented on #8318
I starts receiving this bug while navigating in the app after upgrading into

- "react-native-windows": "0.68.12",
-  "@react-navigation/native": "^6.0.11",
- "@react-navigation/stack": "^6.2.2",
- "react-native-screens": "^3.15.0",

and have to find some solution/hack for this now

[2022-08-17 05:46] KshamaShrey opened #10409 "Support react-native-sqlite-2"
### Module

react-native-sqlite-2

### Module repo url

https://github.com/craftzdog/react-native-sqlite-2

### Target Version

0.69

### Existing issue url

https://github.com/craftzdog/react-native-sqlite-2/issues/134

### Existing windows implementation?

- [X] Legacy/C# implementation

### Which app/customer is requesting this module?

We are trying to upgrade the react-native-windows applicat

[2022-08-17 14:54] cjhines commented on #8318
This issue is also being discussed in the `react-navigation` repo: https://github.com/react-navigation/react-navigation/issues/10719

[2022-08-17 16:38] rozele commented on #4614
@chrisglein - we implement `onMouseEnter` and `onMouseLeave` via `PointerMoved` events, rather than `PointerEntered` / `PointerExited` events.

I think these JS events (`onMouseEnter` / `onMouseLeave`) should not be firing at all for touch pointers (after all, it's not a mouse pointer being used). If we do want to support them as a general purpose "pointer enter" and "pointer leave" event, we like

[2022-08-17 18:55] pegasusjcrawford commented on #10236
Is there any line of sight on a fix or workaround for this issue from Microsoft? This is the second or third time in the last three months I've tried to follow the "react-native-windows-init" instructions for my project only to end up with something that is entirely unusable.

It's incredibly difficult to get a stable RNW development environment setup that works even within patch releases of the p

[2022-08-18 11:01] Alexis-ROYER opened #10414 "Build failure with obscure error message depending on root path length"
### Problem Description

When using long root paths, creating and building a basic application (following the [Get Started with Windows](https://microsoft.github.io/react-native-windows/docs/getting-started) guide) leads to various errors with obscure messages.

### Steps To Reproduce

1. Create a 'D:\tmp\this\is\a\very\long\path\for\a\directory\to\create\a\react\native\windows\project\into' direc

[2022-08-18 15:03] asklar commented on #10414
This is a limitation of MIDL, it doesn't support paths longer than 256 characters.

[2022-08-18 16:55] AgneLukoseviciute commented on #10259
Closing out since this doesn't affect the team anymore and we haven't been able to repro anywhere else.

[2022-08-18 16:55] #10259 closed

[2022-08-18 17:40] chrisglein commented on #10409
Based on [the diredtory](https://reactnative.directory/?search=sql&windows=true) this one should have current Windows support: https://github.com/andpor/react-native-sqlite-storage
It sounds like sqlite-2 exists because of problems with PouchDB in sqlite-storage. Is that the situation you're in? (I'm not familiar with any of that - just reading off the project's readmes)

If there's an [existing R

[2022-08-18 17:44] chrisglein commented on #10401
For questions we recommend either our [Discussions](https://github.com/microsoft/react-native-windows/discussions) board or StackOverflow. As this doesn't seem to be a seem to be an issue that matches our issue templates, I'm going to close this out and direct you there.

[2022-08-18 17:45] #10401 closed

[2022-08-18 18:14] chrisglein commented on #10414
We can't fix MIDL here. So I think it falls back to this request:

Question is, is searching on this error message mapping and landing back on this issue going to be good enough to help people know what they're hitting and that they need to workaround.

We wouldn't want to hardcode a limitation in RNW for something in MIDL if MIDL is going to later fix that issue.
@asklar Do you think that's even

[2022-08-18 18:29] #10001 closed

[2022-08-18 18:38] asklar commented on #10414
I don't think midl will be updated for this but I guess "never say never" :)
It's probably enough for this issue to exist for people to find out about it.
In fact if you search for the error message, you get exactly one result, pointing to this issue :)

![image](https://user-images.githubusercontent.com/22989529/185469250-b4c6630f-c15a-427a-9da8-dcc33e117aef.png)

[2022-08-18 18:38] #10414 closed

[2022-08-18 19:47] JunielKatarn commented on #9619
This issue is still in the backlog due to prioritization.
Let's punt to 71.

[2022-08-18 22:28] TatianaKapos commented on #9938
If we don't support color animations yet, it makes sense to crash if useNativeDriver is true. Closing as dupe.

[2022-08-18 22:28] #9938 closed

[2022-08-18 23:06] aeulitz commented on #9662
Fixed in ReactCommon code per https://github.com/facebook/react-native/pull/34342. Fix currently gets patched into Hermes per https://github.com/microsoft/hermes-windows/pull/122. New hermes-windows getting pulled into RNW per https://github.com/microsoft/react-native-windows/pull/10368.

To not conflate this issue with more changes, I'll probably create a new issue to track the addition of a regr

[2022-08-18 23:06] #9662 closed

[2022-08-19 12:19] KshamaShrey commented on #10409
@chrisglein Thank you  for the quick reply.We will try replacing the package with react-native-sqlite-storage and check the functionality.
Thank you.

[2022-08-19 17:24] #8755 closed

[2022-08-19 17:59] #10284 closed

[2022-08-19 18:49] rozele opened #10420 "Pressability fires onPress for onKeyUp without previous onKeyDown"
### Problem Description

If a view gets focus between `onKeyDown` and `onKeyUp`, Pressability will fire the `onPress` callback. This violates the contract / transition states of Pressability, as it's the effective equivalent of firing an onPress for `mouseup` / `onTouchEnd` when there wasn't a previous `mousedown` / `onTouchStart`.

We have an example of a bug that occurs in our app because of thi

[2022-08-19 22:55] #3326 closed

[2022-08-20 00:46] rozele commented on #10420
We should also consider whether press and holding an onKeyDown should fire onLongPress, support things like pressInDelay, etc.

[2022-08-21 13:42] rozele opened #10421 "Fire onLayout in depth-first order"
### Problem Description

Other RN platforms fire the `onLayout` event in depth-first order. See, for example, this code in the Android Paper UIManager: https://github.com/facebook/react-native/blob/2c5a966054c2a80d63aa9c2c2a234a80a02918cf/ReactAndroid/src/main/java/com/facebook/react/uimanager/UIImplementation.java#L968-L974

One example where this can cause issues is likely in VirtualizedList, wh

[2022-08-22 23:13] chrisglein commented on #10214
First preview is up! https://github.com/microsoft/react-native-windows/releases/tag/react-native-windows_v0.70.0-preview.1

[2022-08-23 15:01] rozele opened #10430 "Breakup XamlUIService into separate APIs"
### Summary

It feels like over time, XamlUIService has become a bit of a dumping ground for various APIs.

1. It was originally created in https://github.com/microsoft/react-native-windows/commit/2809c9a14a68cdbaa4b735b189197b5692af0d53 to handle looking up tags from elements.
2. Then we added an option to get a singleton XamlRoot in https://github.com/microsoft/react-native-windows/commit/f52d49

[2022-08-23 15:03] rozele commented on #10430
The thing I like most about attaching something like ReactWindowService to ReactRootView is that it would force us to think about multi-window scenarios any time we add functionality that involves HWND / window message loops / XamlRoot / etc.

[2022-08-23 15:11] rozele commented on #10430
We could potentially lump the AccessibilityInfoService and UIManagerService into a single "NativeModuleService" catch all for utilities needed for core native modules. Or put the AccessibilityInfoService APIs into the WindowService, since this is a catch all for issues related to creating win32 windows for WinUI 3 or XamlIslands, and the AccessibilityInfoModule workarounds are similar in theme.

[2022-08-23 15:13] biswajeet2k17 opened #10431 "Unable to access sqlite from react native windows"
I am using the 'react-native-sqlite-storage' module to fetch data from an existing sqlite db into a react-native windows application. I have followed the steps as mentioned for windows platform [here](https://github.com/andpor/react-native-sqlite-storage). But, I am not able to open database using the openDatabase() API. Although, it mentions that the module works for Windows, but looking at the p

[2022-08-23 21:19] AgneLukoseviciute commented on #10015
Looks like this was unintentionally closed out, @TatianaKapos fyi. Reopening it.

[2022-08-23 22:54] AgneLukoseviciute commented on #8875
explicitly setting focusable to false can be used as a workaround. I think we'll want to do something similar to https://github.com/microsoft/react-native-windows/pull/9840 so that when the disabled prop is set to true, we make the control not focusable/inaccessible. This will mimic the behavior in XAML

[2022-08-23 22:58] AgneLukoseviciute commented on #10395
related: https://github.com/microsoft/react-native-windows/issues/8875. Next step is to confirm that the root cause is the same for both, in which case this will be a matter of checking the disabled/enabled state when deciding on isTabStop value for that control.

[2022-08-23 23:29] acoates-ms commented on #10430
The original reason for XamlUIService was to try to get anything Xaml specific out of the primary interfaces, since Office is trying to get its platform onto the same APIs as the public RNW, but Office isn't using Xaml yet and couldn't have any Xaml interfaces in the main interfaces.

We were hoping to eventually get to a place where there is a UI agnostic core set of APIs / DLL.  And then more sp

[2022-08-24 06:30] cjhines commented on #8318
Interestingly this doesn't happen to me on RNW 0.68.9.

Unfortunately I have to upgrade to 0.68.11 for another [navigation related bug](https://github.com/microsoft/react-native-windows/issues/9977).

[2022-08-24 20:07] luthfianto commented on #3263
Nothing worked for me.

- Ran that one powershell script as admin
- Do what @uhteddy did (modify VS installation with UWP, C++ v141, C++ v142)

Still end up with this:

[code]

[2022-08-24 20:21] asklar commented on #3263
@luthfianto Looks like you are using the "BuildTools" edition of Visual Studio, which may not contain all the necessary components. Does this repro for you with Community or another edition?

[2022-08-24 20:25] luthfianto commented on #3263
@asklar thank you for spotting the error

[2022-08-24 20:31] luthfianto commented on #3263
@asklar I had another error after typing `y`
![image](https://user-images.githubusercontent.com/1331389/186517398-e9126e66-46fc-45b3-8af6-9e636fcc11d4.png)

[2022-08-24 20:33] asklar commented on #3263
Can you try manually removing the BuildTools edition first (should be possible in the Visual Studio installer)

[2022-08-24 20:34] luthfianto commented on #3263
@asklar yes, currently still on progress

[2022-08-24 20:34] luthfianto commented on #3263
@asklar yes, already removed

[2022-08-24 20:41] luthfianto commented on #3263
@asklar since I have error with the CLI, should I install the VS2019 community (and MSVC and UWP) via the VS Installer instead?

[2022-08-24 21:03] luthfianto commented on #3263
I solved my problems by:
- uninstalled the VS2019 build tools via installer
- installed VS2019 Community via installer
- running this powershell command https://microsoft.github.io/react-native-windows/docs/rnw-dependencies

[2022-08-24 21:49] chzappsinc opened #10435 "Your feature request"
### Summary

Please add support for react-native-fs

### Motivation

React Native FS has somany features related to File Systems

### Basic Example

_No response_

### Open Questions

_No response_

[2022-08-25 15:56] #10335 closed

[2022-08-25 17:46] chrisglein commented on #10431
This library is supposed to work on Windows, and to my knowledge it's the [only sqlite library that supports Windows](https://reactnative.directory/?search=sql&windows=true) (See this thread: https://github.com/microsoft/react-native-windows/issues/10409). There is certainly more regular traffic on the [async-storage](https://github.com/react-native-async-storage/async-storage) library, if you don

[2022-08-25 17:46] #10431 closed

[2022-08-25 17:47] chrisglein commented on #10435
Duplicate of #2829

[2022-08-25 17:48] #10435 closed

[2022-08-25 21:03] #10350 closed

[2022-08-25 23:02] jonthysell opened #10446 "macOS 10.15 images deprecating"
### Problem Description

As described in https://github.com/actions/virtual-environments/issues/5583 and the error from our pipelines below, it looks like we need to get off of the `macOS-10.15` image we're currently using for our compatibility tests.

[code]

### Steps To Reproduce

Submit a PR

### Expected Results

_No response_

### CLI version

npx react-native --version

### Environment

[co

[2022-08-26 02:30] gangli66 commented on #10350
I put a <WebView> inside the <View> and I want to listen keydown event to get inputs from a barcode scanner.
It is difficult to let every user tab to the view to get focus and enable the listener.
So I expect that the View can get focus automatically.
I have remove the prop autoFocus and use useEffect and useRef to let the View get focus, but I failed.

I have another example like this:
<View>
  <

[2022-08-26 13:44] chzappsinc opened #10451 "How to build .exe file"
### Problem Description

How to build .exe file for external share

### Steps To Reproduce

I am new to react-native-windows please help us, Avoid if I am wrong!..

### Expected Results

_No response_

### CLI version

8.0.6

### Environment

[code]

### Target Platform Version

10.0.15063

### Target Device(s)

Desktop

### Visual Studio Version

Visual Studio 2022

### Build Configuration

Relea

[2022-08-26 16:32] chrisglein commented on #10451
Duplicate of #8614

[2022-08-26 16:32] chrisglein commented on #10451
You should be able to find more information in the linked duplicate bug.

[2022-08-26 16:32] #10451 closed

[2022-08-26 16:36] #10446 closed

[2022-08-26 19:56] jonthysell opened #10459 "PoliCheck issues found"
### Problem Description

While the PoliCheck task has been running in the compliance pipeline, its results weren't being analyzed. Adding that analysis check has found 296 issues we need to resolve.

In summary, the following terms were discovered in our code and will need to be either excluded or changed, as appropriate:

* metro/  Metro
* whitelist / white list
* crazy
* country
* ball
* untouch

[2022-08-26 20:02] jonthysell opened #10460 "Add AntiMalware scan to compliance pipeline"
### Summary

There is a task for scanning for malware that we should be running both before and after the build in the compliance pipeline.

### Motivation

Malware is mal.

### Basic Example

_No response_

### Open Questions

_No response_

[2022-08-27 21:24] chzappsinc commented on #2829
I am getting error
buildd failed with message C:\Program Files\Microsoft Visual Studio\2022\Community\MSBuild\Microsoft\VC\v170\Microsoft.CppBuild.targets(460,5): error MSB8020: The build tools for Visual Studio 2015 (Platform Toolset = 'v140') cannot be found. To build using the v140 build tools, please install Visual Studio 2015 build tools.  Alternatively, you may upgrade to the current Visual

[2022-08-27 21:32] chzappsinc opened #10465 "Getting Build error even after installing tool kit"
### Problem Description

I am getting error
buildd failed with message C:\Program Files\Microsoft Visual Studio\2022\Community\MSBuild\Microsoft\VC\v170\Microsoft.CppBuild.targets(460,5): error MSB8020: The build tools for Visual Studio 2015 (Platform Toolset = 'v140') cannot be found. To build using the v140 build tools, please install Visual Studio 2015 build tools. Alternatively, you may upgrad

[2022-08-28 10:52] chzappsinc commented on #2829
@avmoroz @vmoroz @exotexot
Any solutions for above error?

Without re target manually?

Already downloaded 140 2015 tool kit

[2022-08-28 10:55] chzappsinc commented on #10465
@chrisglein Any solution?

Build success when i manually re targeted solution

[2022-08-28 16:43] namrog84 commented on #2829
Which project is failing to build? Your error message is incomplete.
Also, you should start a new issue post about your issue.

https://github.com/microsoft/react-native-windows/issues

[2022-08-28 19:03] chzappsinc commented on #2829
![Screenshot 2022-08-28 024856](https://user-images.githubusercontent.com/65512279/187090423-d7f5d307-8a01-46e9-9077-e806fee2eb35.png)

[2022-08-28 19:10] namrog84 commented on #2829
If you open up the RNFS.vcxproj

You will find these lines
[code]

You are using VS2022 which is version 17 so it's falling back to v140.

Add the following line after the above

`<PlatformToolset Condition="'$(VisualStudioVersion)' == '17.0'">v143</PlatformToolset>`

Then it should use the VS2022 build tools (v143) and you dont have to worry about those old 2015 tools anymore.

[2022-08-28 19:14] chzappsinc commented on #2829
Thanks, @namrog84 It worked!

I need one more help, How to set the title bar color? and force dark mode only!

Sorry if it's not good to ask here, Can you give me any contact details?

[2022-08-29 17:07] jonthysell commented on #10146
The task is present and running, but currently blocked as the CodeQL backend (LGTM) doesn't actually load our config file, so we can't filter our repo's folders appropriately to make the results useful/actionable.

[2022-08-29 18:11] chrisglein commented on #10459
Some of these will be in the RNW code and some will be upstream. So we'll need exclusions or upstream changes for the ones not in this repo. Will take some time to sort through which is which.

[2022-08-29 18:13] chrisglein commented on #10460
@jonthysell Can you add the name of the tool and/or a link to the resources for this?

[2022-08-29 18:16] chrisglein commented on #10465
The error message is misleading. It was unable to find your toll set and it went looking elsewhere. The error is much later down the chain. We predict that you're missing the 142 UWP tool set. Can you run the dependency script and see what you get?
https://microsoft.github.io/react-native-windows/docs/rnw-dependencies#install-the-development-dependencies

[2022-08-29 18:22] chrisglein commented on #10350
Based on what I'm reading here I think you're looking for bubbled/routed/tunneling event hooks (the ability to catch events in parent controls before and/or after the direct control gets those events). I believe there have been drafts of those style of events (which do exist on UWP controls) but they don't exist today. You only get the event for the target item.

Is that an accurate understanding

[2022-08-29 18:46] #10114 closed

[2022-08-29 18:46] #10115 closed

[2022-08-29 20:31] chiaramooney opened #10470 "Sample for Multiple Windows"
### Summary

Filing issue to raise discussion on whether we officially want to support the multiple windows scenario for RNW. If so, let's create a sample and make sure this configuration is tested in our release validation.

### Motivation

-

### Basic Example

_No response_

### Open Questions

_No response_

[2022-08-30 07:44] tero-paananen commented on #8318
I may not receive this bug anymore on `"react-native-windows": "0.68.14"`

[2022-08-30 08:54] chzappsinc commented on #10465
@chrisglein

[code]

[2022-08-30 14:15] cjhines commented on #10255
I'm still encountering this on 0.69.6, [where I believe the fix was published](https://github.com/microsoft/react-native-windows/compare/react-native-windows_v0.69.6...main).

Weirdly, when I build a package in Visual Studio the bug does not occur. This is still a blocker however, as it prevent our CI deployment.

[2022-08-30 17:36] chrisglein commented on #9098
@dedavis6797 Does this need to be addressed for the Hermes rollout in 0.70?

[2022-08-30 18:43] jonthysell commented on #10143
Removing references to AI/Kusto/KQL - the exact technology used for 1DS may be different. (Though I do have some test KQL queries ready for the AI implementation).

[2022-08-30 18:51] jonthysell opened #10473 "Switch from `applicationinsights` to `@microsoft/1ds-core-js` NPM package"
### Summary

In order to gather telemetry in compliance with Microsoft data handling practices we'll need to switch our CLI telemetry implementation code to use the `@microsoft/1ds-core-js` NPM package.

### Motivation

We don't want to manage our own ADO subscription with Application Insights.

### Basic Example

_No response_

### Open Questions

_No response_

[2022-08-30 18:52] jonthysell commented on #10473
Right now, the [@microsoft/1ds-core-js package](https://www.npmjs.com/package/@microsoft/1ds-core-js) is just a stub on NPM. The real package is only accessible via an internal ADO feed. We cannot do this migration until the package is available publicly.

[2022-08-30 18:55] jonthysell commented on #10473
As part of this, we may find that some of the data we explicitly gathered ourselves is no longer necessary as it's already collected by 1DS.

[2022-08-30 19:00] jonthysell commented on #6479
We will need to find our from 1DS if this is something we need to worry about or not.

[2022-08-30 23:44] AgneLukoseviciute commented on #10015
Putting it on the backlog so this doesn't get closed out again.

[2022-08-31 00:05] #9734 closed

[2022-08-31 10:41] juhasuni opened #10484 "Changing View's importantForAccessibility prop re-mounts all children recursively"
### Problem Description

Changing View's `importantForAccessibility` prop causes all children recursively to be re-mounted (unmounted and then mounted again). This in turn may cause serious performance issues.

It seems like the issue is caused by the use of `React.Children.map` function, which has an un-documented feature where each mapped child gets a new `key` prop. The `map` function is being

[2022-08-31 10:57] juhasuni commented on #10484
Here's a patch for `@react-navigation/stack` (>= 5) in case someone else bumps into this. Note that the original implementation passes lots of props to `View` that are not even recognized by the View (like onClose, onOpen ...).

[code]

[2022-08-31 11:01] tero-paananen commented on #10484
Issue may exists after this PR https://github.com/microsoft/react-native-windows/pull/10280 into 0.67

[2022-08-31 12:39] tero-paananen commented on #10484
Proposed solution

How about if we do not clone children in View.windows.js https://github.com/microsoft/react-native-windows/blob/6d351951e0ec461c6b70c7f8899861f03b7b8cba/vnext/src/Libraries/Components/View/View.windows.js#L123

We could send children prop and later in c++ side update accessible value
[code]

We could set accessible for childrens in here https://github.com/microsoft/react-native-

[2022-08-31 18:50] TatianaKapos commented on #10484
@chiaramooney @AgneLukoseviciute, I believe you guys were looking into "no-hide-descendants" (correct me if I'm wrong) but would this proposed solution help with that?

[2022-08-31 19:39] #4187 closed

[2022-08-31 20:17] #10459 closed

[2022-08-31 20:57] AgneLukoseviciute commented on #10484
I was seeing some strange behavior from gallery when a touchable component is involved, I haven't narrowed down precisely what the bug is so haven't opened up an issue yet. This doesn't immediately strike me as related that, but I do like the idea of having this logic in FrameworkElementViewManager.

[2022-09-01 05:36] tero-paananen commented on #10484
There is another way to get childrens if element is `Xaml::Controls::Panel` but it seems that `element.GetChildrenInTabFocusOrder();` may get same childrens.

[code]

[2022-09-01 10:57] tero-paananen commented on #9977
Issue exists still on

[code]

after navigating into some screen and back to first screen Header button does not get tap anymore

[2022-09-01 11:08] juhasuni commented on #9977
Based on our tests setting `pointerEvents` to "none" also leaves them to "none" even if the prop changes later on.

Here's the patch we had to apply:

[code]

[2022-09-01 18:14] chrisglein commented on #10465
With multiple side by side VS installs it's possible that the dependency script is finding one but the build is finding another.
Is it at all possible to reduce down to one VS install (2019 or 2022) for you? Not ideal as that should work, but as a workaround maybe that unblocks you?

You can also check in the VS installer for each if the dependency is installed for one but not the other.

[2022-09-01 18:17] chrisglein commented on #9977
There may be undesired side effects of this issue: https://github.com/microsoft/react-native-windows/issues/10484
Worth checking in after that is addressed.

Would you mind opening a fresh issue for what you're seeing here? It sounds like there may be differences from the issue back in May and it'd be good to capture all the state.

[2022-09-01 18:18] chrisglein commented on #10255
This was only recently backported to 0.69. You're going to need something newer. The build published next week should have it (0.69.7).

[2022-09-01 18:34] chrisglein commented on #10470
Two questions here:
- What is promoted as a "sample" (as in code to copy and a well supported scenario?
- What is covered by a test app (so we don't break apps that are following that pattern)

Our primary goal is the latter, to test scenarios that are important to popular apps. This scenario isn't enough of a golden path for us to actively promote it.

As for coverage, Messenger would need Win32

[2022-09-01 19:16] chiaramooney commented on #10484
Yep all makes sense to me based on current implementation. We can investigate a native solution approach in order to improve performance for the prop.

[2022-09-01 21:12] rozele opened #10490 "enableFocusRing and NativeAnimated do not work together"
### Problem Description

When animating opacity (e.g., a fade-in animation) on a View that has descendants that use `enableFocusRing`, the system focus visuals do not render correctly after the animation has run.

The issue repros in both a XAML Islands and UWP app.

### Steps To Reproduce

1. Here's a minimal repro:
[code]
2. Run this code and tab to the focusable View. Notice the focus ring does

[2022-09-01 21:49] rozele commented on #10490
This has to be a bug that was introduced between v0.63 and v0.68, as we've only needed to switch to tick-driven animations as of v0.68.

[2022-09-02 10:24] ilitosh opened #10491 "ReactImage: Propagate errors to JS in onError callback"
### Summary

Enrich the `nativeEvent` sent to JS `onError` callback with an error message.

### Motivation

`ReactImage.cpp` neither logs errors (except via `OutputDebugString` in debug builds) nor propagates them to `onError` callback on JS side as part of the `nativeEvent` object. This complicates debugging issues with images not being displayed (such as when images URIs blocked by firewalls).

[2022-09-02 13:52] juhasuni opened #10493 "Changing pointerEvents from "none" back to "box-none" doesn't restore pointer events"
### Problem Description

If you set the `pointerEvents` prop to "none" this effectively blocks all pointer events for view and its descendants. Setting it back to "box-none" should restore the events to descendants but instead it keeps blocking the events for the entire view tree.

As a result for instance back button in popular navigation library `react-navigation` stops working after you've navi

[2022-09-02 13:58] juhasuni commented on #9977
@chrisglein, just filed an issue #10493

[2022-09-03 14:44] juhasuni commented on #10493
Looking at the code I'd say that the bug is in this `if` clause, or better, the lack of `else` clause:
https://github.com/microsoft/react-native-windows/blob/0512b19c41d76e618411f3503a79d9ebebe5ccae/vnext/Microsoft.ReactNative/Views/ViewManagerBase.cpp#L274

The `IsHitTestVisible` is never set back to `true`, so the fix could be something like:
[code]

This can be written in a simpler form, but at

[2022-09-03 17:13] rozele commented on #10493
Yup. Good catch :)

[2022-09-03 17:59] rozele commented on #10470
@chrisglein - Playground-win32 doesn't exactly have Messenger's scenario. Messenger uses a single UI thread for all windows (which as I understand is a common pattern for win32 apps, I think based on a comment from @acoates-ms). The Playground-win32 app spins up a new thread for each window.

Also, creating multiple windows in Playground-win32 has crashed the last few times I tried to use it ;).

[2022-09-03 18:33] rozele commented on #10470
Here are some variables to consider for multi-window applications and we'll have to decide what's in scope for react-native-windows:
1. Does each window share a React instance / JavaScript runtime, or are they separate instances per window?
2. Do all windows run on the same UI thread, or is there a per window UI thread?
3. Is the multi-window scenario for XAML Islands, WinAppSdk, and/or UWP?

The

[2022-09-05 14:34] rozele commented on #10470
So, what I would recommend is that we officially support multiple windows in both UWP and XAML Islands, with the strict requirement that they’re in on a single UI thread.

A good way to exercise this would be to add a separate Sample to Playground and a custom native module in the Playground projects. We could also put it in RNTester, but I think it’s better to keep RNTester limited to core native

[2022-09-05 15:57] cjhines commented on #2829
I'm getting the following error while calling `downloadFile` with `avmoroz/react-native-fs`. Anyone encountered it or can offer some advice?

[code]

<img width="942" alt="Screenshot 2022-09-05 at 17 53 50" src="https://user-images.githubusercontent.com/16542421/188485450-fb461505-6d2f-4e66-8343-93d93880690a.png">

[code]

[2022-09-05 16:39] exotexot commented on #2829
Youre calling the wrong class. It needs to be RNFS.downloadFile(...)

[2022-09-06 06:32] cjhines commented on #2829
It's just an import alias.

`import FileSystem from 'react-native-fs';`

`RNFS` doesn't work either.

[2022-09-06 11:18] cjhines opened #10501 "avmoroz/react-native-fs crashing on downloadFile"
### Problem Description

I'm getting the following error while calling `downloadFile` with `avmoroz/react-native-fs`. Anyone encountered it or can offer some advice? I also tried `wwimmo/react-native-fs` with no luck.

[code]

<img width="942" alt="Screenshot 2022-09-05 at 17 53 50" src="https://user-images.githubusercontent.com/16542421/188485450-fb461505-6d2f-4e66-8343-93d93880690a.png">

### St

[2022-09-06 16:43] Chris-Guy opened #10508 "Tapping on a text field in a WebView2 control does not trigger the on-screen keyboard"
### Problem Description

Hello,

In the PowerApps Windows UWP desktop app, we currently have an accessibility bug where a touch event inside the WebView2 control would not trigger the touch keyboard. We built our own UI manager with WebView2 using C# with an AttributedViewManager<WebView2>. The WinUI version I use is 2.8.1, with WebView2 version being 1.0.1264.42.
We tried with a XAML app without

[2022-09-06 16:47] #10493 closed

[2022-09-06 17:59] chrisglein commented on #10508
@chiaramooney does this repro with Gallery? (scenario seems like it should require nothing custom beyond that)

[2022-09-07 00:59] paperbackdragon commented on #10387
@AgneLukoseviciute I keep trying to figure out what's wrong here but I feel that it's got to be something lower-level than the TypeScript layer. I can't seem to reproduce the error with just my short code snippet above in the playground app, but it's consistent in our app. I don't think I know enough about accessibilityLiveRegion to tell what could be different in the two environments to affect th

[2022-09-07 04:27] Abhishe08k opened #10520 "Build error when trying to build project for ARM64 platform"
### Problem Description

We are trying to support our application for ARM64 platform. But, we are getting build error when we try to build the application for this platform. The error is not getting thrown for other platforms(x86/x64).

Below is the error thrown in case of ARM64.
**[error]App\Todos\obj\ARM64\Release\XamlTypeInfo.g.cs(5580,13): Error CS8305: 'Microsoft.ReactNative.ReactRootView.Exp

[2022-09-08 09:44] tero-paananen commented on #10236
Solution for this error is something like this https://developercommunity.visualstudio.com/t/duplicate-globalsystemruntimeversioningtargetframe/1055833

[2022-09-08 17:57] chrisglein commented on #10520
Is your app [configured](https://reactnative.dev/docs/new-architecture-intro) to use [Fabric](https://reactnative.dev/architecture/fabric-renderer) for non-Windows platforms?

[2022-09-08 18:02] chrisglein commented on #10501
Can you provide the native callstack for that AV in RNFS.dll?

[2022-09-08 18:21] chiaramooney commented on #10508
@chrisglein Yes there's been a thread about this on the teams channel. It does repro in gallery but I only have access to a device that has a physical keyboard, so I'm not sure if this fully tests the scenario. Would a touch keyboard only appear if you were using a device that did not have a physical keyboard available? If so, we'd need to install gallery on a tablet and confirm.

Main questions a

[2022-09-08 18:36] Abhishe08k commented on #10520
No, the application is not using Fabric as of now.

[2022-09-09 14:51] gtRfnkN commented on #10484
Thank you, @juhasuni, your patch resolved the issue for me 🎉

I'd like to add a few keywords to make this easier to find: after updating from 0.63 to 0.69, the background image of our app was disappearing / flickering when navigating to another screen. This was more obvious for remote images than for local images which makes sense due to the remount. This could be related to the gallery issue ment

[2022-09-09 15:43] cjhines commented on #10501
Thanks for the response.

What's "AV" in this context? Apologies, still fairly new to navigating VS for RNW

[2022-09-09 17:24] cjhines commented on #10501
What's interesting is the first file of my array downloads successfully:
[code]

and the second file crashes:
[code]

[2022-09-10 17:56] SheetJSDev opened #10535 "Should the default `-init` language for apps be changed to C#?"
According to the compatibility matrix https://microsoft.github.io/react-native-windows/docs/native-code-language-choice , for broadest compatibility, modules should use C++ (since both C++ and C# apps can consume C++ modules) while apps should use C# (since C# apps can consume both C# and C++ modules).

Currently, `react-native-windows-init` creates C++ apps by default.  For most users who are con

[2022-09-11 08:40] sakthivel-servicemax opened #10538 "Nuget restore is not working on or after 0.68"
### Problem Description

Getting below error during nuget restore which was working fine in 0.67.

 NU1201: Project ReactNativePicker is not compatible with uap10.0.17763 (UAP,Version=v10.0.17763). Project ReactNativePicker supports: native (native,Version=v0.0)
    NU1201: Project ReactNativeBlobUtil is not compatible with uap10.0.17763 (UAP,Version=v10.0.17763). Project ReactNativeBlobUtil suppo

[2022-09-11 17:58] ClaudiuHBann opened #10540 "SpeechRecognizer.RecognizeAsync() crashes app"
### Problem Description

I am trying to do some speech recognition in react native for desktop and hololens 2 using the SpeechRecognition API provided in C++, but the same code (I will provide the code below) works in a winui and uwp projects but not in a react native one. (crashes the app)

### Steps To Reproduce

1. create the default react-native-windows project (https://microsoft.github.io/rea

[2022-09-12 01:21] asklar commented on #10538
@JunielKatarn FYI

[2022-09-12 01:30] asklar commented on #10540
the issue here is that the methods you are calling are async, I think co_await works inside of REACT_METHOD only when you have a ReactPromise as a callback param, see: https://microsoft.github.io/react-native-windows/docs/native-modules-async#simplehttpmodule-in-cwinrt

[2022-09-12 05:26] tero-paananen commented on #8318
Maybe this PR tries to fix this issue https://github.com/microsoft/react-native-windows/pull/10422

[2022-09-12 07:48] ClaudiuHBann commented on #10540
Ok so I tried what you said like:

Module in C++
[code]

Module in JS:
[code]

Using the module in JS:
[code]

And still the same thing:
![image](https://user-images.githubusercontent.com/78564392/189600262-090f6e8c-1696-41ab-a5cf-c91435cd6095.png)

[2022-09-12 08:17] ClaudiuHBann commented on #10540
Wow, I am so stupid, the code was not the problem, I needed to enable the microphone capability from the appx manifest like in here : https://stackoverflow.com/questions/45008609/uwp-speech-recognition

I apologize for the inconvenience. :)

[2022-09-12 08:17] #10540 closed

[2022-09-12 16:13] #10421 closed

[2022-09-12 16:17] #10406 closed

[2022-09-12 17:26] AgneLukoseviciute commented on #10387
@paperbackdragon if you use a different screen reader like JAWS or NVDA do you get the same issue? That would help narrow down whether this might be a problem with Narrator.

[2022-09-12 18:18] chrisglein commented on #10501
AV = Access Violation. The crash stack that is referenced in your screenshot above from the thrown exception. Can you attach the debugger in a way that gets that crash information?

[2022-09-12 18:18] chrisglein commented on #10501
@vmoroz FYI

[2022-09-12 18:22] chrisglein commented on #10508
It's possible RNW is interrupting the propagation of the event. Needs further investigation.

[2022-09-12 18:27] chrisglein commented on #10520
To be clear, is this warning the only thing generating your build failure (treating warnings as errors)? As an immediate workaround, you can suppress this warning. This is a file generated by the XAML compiler so there is no ability to fork it to remove it.

This code in question should probably be under the #ifdefs for Fabric. That seems like the immediate fix here.

Not sure why this works for x

[2022-09-12 19:04] paperbackdragon commented on #10387
@AgneLukoseviciute Just tried with JAWS, and it seems like I don't hear the announcement at all when the text changes.  Changing the prop value doesn't affect the issue. I did notice that in our XAML islands setup, with a bare-bones app, I could reproduce the original issue with Narrator, but without XAML islands, I can't reproduce it. So perhaps that's the cause?

[2022-09-12 19:12] AgneLukoseviciute commented on #10387
@paperbackdragon got it! Yeah definitely seems like it's an issue with XAML islands then, I'm guessing the testing you've done is on a RNW xaml islands app? We'll want to check this on a non-RNW XAML islands app as well, to narrow down if it's an issue with RNW or XAML islands itself.

[2022-09-12 19:36] chrisglein commented on #10535
That is a logical conclusion from the compatibility matrix. However, we are in the middle of transitioning from one RN architecture (Paper) to another (Fabric). As such we want to leave our current Paper implementation untouched in major ways, such as this one. For the upcoming Fabric architecture, it's highly likely that we will be beginning with C++ support initially (because there are many part

[2022-09-12 20:20] paperbackdragon commented on #10387
I've actually been able to spin up both a simple XAML islands app as well as a simple non-islands app and it seems like it only reproduced in the XAML islands app.

[2022-09-12 21:06] JunielKatarn commented on #10538
Hi @sakthivel-servicemax.
This seems like a configuration issue (MSBuild properties).

Is your app open-source?
If so, can you point us to the branch you are working on for the upgrade?

[2022-09-12 21:08] paperbackdragon commented on #10387
Clarification after talking to Agne offline: I tried RNW with XAML islands and RNW without XAML islands -- I did not try XAML islands without RNW.

[2022-09-13 09:10] Chris-Guy commented on #10508
@chrisglein, @chiaramooney, as said in the chat, I tried with two modes:
- Tablet mode with Surface Pro X (with x86) without any physical keyboard: it has the same unexpected behavior.
- On my laptop with a physical keyboard
  - In Windows 10: the touch keyboard will appear when you tap inside a text box when your PC is in tablet mode. [Use the On-Screen Keyboard (OSK) to type (microsoft.com)](htt

[2022-09-13 16:24] cjhines commented on #10501
@chrisglein

Value in this case `14757395258967641292`.

[code]

<img width="952" alt="Screenshot 2022-09-13 at 18 09 33" src="https://user-images.githubusercontent.com/16542421/189954254-b1d58561-7403-4d78-83e1-e752f8fcad31.png">

---

Value of below is `0`:

<img width="952" alt="Screenshot 2022-09-13 at 18 09 33" src="https://user-images.githubusercontent.com/16542421/189952412-5f0ad580-d29f-4f

[2022-09-13 16:34] cjhines commented on #10501
Can also confirm it seems to occur across several file types, despite one case being JPG and the other PNG

[2022-09-13 16:43] jonthysell commented on #10146
CodeQL has fixed the issue on their end.

[2022-09-13 16:43] #10146 closed

[2022-09-13 16:52] jonthysell opened #10563 "Conditionally uninitialized variable warning"
### Problem Description

CodeQL reports 22 `Conditionally uninitialized variable` warnings across the ChakraHelpers.cpp and ChakraValue.h files.

### Steps To Reproduce

Link to CodeQL (corpnet-only): https://onees.lgtm.microsoft.com/projects/u/gh/microsoft%2Freact-native-windows%2Ftree%2Fmain/alerts/?mode=tree&ruleFocus=1000886

### Expected Results

_No response_

### CLI version

npx react-nati

[2022-09-13 17:15] jonthysell opened #10564 "Result of call that may return NULL dereferenced unconditionally error"
### Problem Description

CodeQL reports 5 `Result of call that may return NULL dereferenced unconditionally` errors in the NativeUIManager.cpp file.

### Steps To Reproduce

Link to the CodeQL (corpnet-only): https://onees.lgtm.microsoft.com/projects/u/gh/microsoft%2Freact-native-windows%2Ftree%2Fmain/alerts/?mode=tree&ruleFocus=1000894

### Expected Results

_No response_

### CLI version

npx re

[2022-09-13 17:17] jonthysell opened #10565 "Weak cryptography by NodeJS library error"
### Problem Description

CodeQL reports 1 `Weak cryptography by NodeJS library` error in the Hash.ts file.

### Steps To Reproduce

Link to CodeQL (corpnet-only): https://onees.lgtm.microsoft.com/projects/u/gh/microsoft%2Freact-native-windows%2Ftree%2Fmain/alerts/?mode=tree&ruleFocus=1001395

### Expected Results

_No response_

### CLI version

npx react-native --version

### Environment

[code]

[2022-09-13 17:20] jonthysell commented on #10565
This is in the override package, so I think we'd have to make sure that any current override json files get updated (and I think this would be a breaking change)

[2022-09-13 17:23] jonthysell opened #10566 "Possible information leakage from uninitialized padding bytes warning"
### Problem Description

CodeQL reports 2 `Possible information leakage from uninitialized padding bytes` warnings across the Helpers.cpp and TouchEventHandler.cpp files.

### Steps To Reproduce

Link to CodeQL (corpnet-only): https://onees.lgtm.microsoft.com/projects/u/gh/microsoft%2Freact-native-windows%2Ftree%2Fmain/alerts/?mode=tree&ruleFocus=1000871

### Expected Results

_No response_

### C

[2022-09-13 17:29] jonthysell commented on #10566
There was an internal thread discussing the strategy for dealing with this warning. While technically true, [the suggested resolution](https://onees.lgtm.microsoft.com/rules/1000871/) is to directly use `malloc` and `memset` to initialize all of the bytes of the offending struct to zero.

However this would interfere with fields with non-zero default values, and ultimately, this seems like somethi

[2022-09-13 18:38] jonthysell commented on #10538
Is your app C# or C++?

[2022-09-13 22:14] JunielKatarn commented on #10538
Noted. If your app has C++ dependencies, have you tried the steps documented here?
https://microsoft.github.io/react-native-windows/docs/managing-cpp-deps

[2022-09-14 02:42] sakthivel-servicemax commented on #10538
@JunielKatarn Thanks for the reference. I collected all packages.config, added to main project and installed through command. Even though it throws errors on nuget restore, we ignore it and Project building is fine now.

[2022-09-14 02:56] sakthivel-servicemax opened #10571 "Hermes.exe is not supporting for Windows Server 2016"
### Problem Description

We have a dedicated Windows Server Machine for build generation
Below is the machine configuration.

<img width="535" alt="image" src="https://user-images.githubusercontent.com/23378397/190046817-66a48c73-2f0f-4bca-97df-9fccc6696038.png">

We have react-native-windows version 0.69.6 for our project. On build creation, Hermes.exe is generating binary file. This is working f

[2022-09-14 05:59] asklar commented on #10571
Windows Server 2016 (1607, version 10.0.14393.5066) won't have the required system components like the ICU library.
Release 1703 seems to be the first Window release with ICU, see https://docs.microsoft.com/en-us/windows/win32/intl/international-components-for-unicode--icu-#history-of-changes-to-the-icu-library-in-windows

Windows Server 2019 is 17763 / 1709, so that should be the minimum Windows

[2022-09-14 07:50] cjhines commented on #10501
Seems that whenever something is compared to `PropertyType::UInt64` the crash occurs.

Removing this code block:

[code]

results in the crash occurring later, here:
[code]

If I declare and breakpoint the value of `contentLength.Type()` the value is `-858993460`
<img width="910" alt="Screenshot 2022-09-14 at 09 48 57" src="https://user-images.githubusercontent.com/16542421/190094032-99ac7e33-5ac4

[2022-09-14 16:13] #10538 closed

[2022-09-15 11:05] Abhishe08k commented on #10520
Thank you for your time. My issue gets resolved after i started ignoring this error by introducing the below line for ARM64 configuration.
<NoWarn>;8305</NoWarn>

[2022-09-15 17:47] chrisglein commented on #10571
If the components aren't there, I assume the relevant recommendation is to [Disable Hermes](https://microsoft.github.io/react-native-windows/docs/hermes#disabling-hermes) and use Chakra?

Do we need to capture our stance on Windows Server supported versions [here](https://microsoft.github.io/react-native-windows/docs/rnw-dependencies)?

[2022-09-15 17:52] asklar commented on #10571
that page lists 16299 as the min version (which IIRC is already not working based on WinUI 2.x requirements)
the Windows Server version mentioned here (14393) is much older than even the minimum supported version (16299 or 17734)

[2022-09-15 18:19] jonthysell commented on #10565
@chiaramooney Can you verify that if you update this to SHA2 that we can update the override JSON files (which contain those hash results?).

[2022-09-15 18:20] jonthysell commented on #10563
This should be pretty mechanical to resolve.

[2022-09-15 18:24] jonthysell commented on #10501
@vmoroz Can you see if there is a problem here with our JSValueObject types?

[2022-09-15 18:49] MaciejNiklasinski opened #10591 "IReactPackageBuilder AddMethod created methods don't work correctly"
### Problem Description

Native Module method created by custom IReactPackageProvider are causing application fatal crash when callback function is given as a parameter. AddSyncMethod works correctly (in release). Adding initializer as well as consts via IReactPackageProvider also works correctly.

IReactPackageProvider is missing SetName() method, (had to comment it out) from Native Modules (adva

[2022-09-15 21:03] #10465 closed

[2022-09-15 22:33] #10147 closed

[2022-09-15 23:12] paperbackdragon opened #10593 ""console.dir" statements in Release builds cause code execution to stop"
### Problem Description

If you have a `console.dir` statement in your code, such as to pretty-print an object for debugging purposes, and you create a Release build with that code in it, any code after that statement won't run. In particular I reproduced this with the onKeyDown handler in a View, and the onPress handler in a Pressable component.

I reproduced this in a standalone basic app, using

[2022-09-16 17:58] chiaramooney commented on #9196
Note after attempting to upgrade Gallery to WinUI2.8 upgrade was unsuccessful. Error produced that the targetplatformminversion in the Microsoft.ReactNative package is too low even when the app itself has a valid targetplatformminversion. Adding this as a point of consideration for migration to 2.8. Is there a way to override the targetplatformminversion of RNW from the app?

[2022-09-16 18:14] qmatteoq opened #10595 "Custom controls with a container added with a ViewManager don't resize properly"
### Problem Description

If you have a custom control which has its own layout built with a container control (like a Grid) and you add it to a page with a custom ViewManager, it isn't able to properly resize when its content changes.
For example, take the following custom control which is used to render a multi-line TextBox:

[code]

If you add this control to a regular UWP application, it works

[2022-09-16 21:29] lyahdav commented on #8063
Heads up: I have a fix for this. Will put up PR shortly.

[2022-09-17 01:21] iuriT opened #10601 "Native side 'Cannot generate ReadValue delegate' for native module method with a two-argument callback"
### Problem Description

Native side runtime throws a 'Cannot generate ReadValue delegate for type System.Action`2[System.String,System.String]' exception when JS calls a native module method with a two-argument callback. The same method is successfully called when callback has only one argument.

Native Side Exception happens before the execution flow reaches the method called inside Native Modul

[2022-09-17 16:22] 500-internal-server-error commented on #3396
Is there documentation on how to setup without Visual Studio yet? I can't find it if there is. As mentioned previously, the provided script installs Visual Studio, which is not really an alternative over installing Visual Studio manually.

[2022-09-17 21:16] asklar commented on #3396
Hi @500-internal-server-error , we don't have plans to support other IDEs/build tools at this time.

[2022-09-17 21:18] asklar commented on #10593
is there an error shown in the debugger? I imagine this could be because the `dir` function might not be implemented in console when in Release.

[2022-09-17 21:19] asklar commented on #10591
@vmoroz fyi

[2022-09-18 16:40] asklar commented on #10601
@vmoroz fyi

[2022-09-19 17:21] paperbackdragon commented on #10593
There's an exception in the output, the message isn't very helpful though:

[code]

It's understandable that .dir wouldn't be implemented in Release mode, but I figured it should be a no-op instead of stopping code execution.

[2022-09-20 00:24] lyahdav commented on #7523
I confirmed that WinUI 3 + RNW behaves like UWP + RNW:

https://user-images.githubusercontent.com/359157/191141422-e1b71afc-a987-4e48-a8b9-19c00b038b0b.mov

[2022-09-21 05:55] Manjunatha123 opened #10609 "Unable to build the RNW app with version 0.69.6"
### Problem Description

Hi,
We were getting issue with header button in the navigation not clickable with react-native-windows version 0.68.9.
saw that there an open issue which said the issue will be fixed on RNW 0.69.6. [Issue link](https://github.com/react-navigation/react-navigation/issues/10719#issuecomment-1239402085)

When I try to run the app with RNW 0.69.6, I am unable to build the app

[2022-09-21 21:34] rozele opened #10614 "Add ImageSource ViewManagerPropertyType"
### Summary

iOS and Android support ImageSource prop types, which automatically convert number values returned by something like:
[code]
Into a valid source prop.

On iOS, this prop type is `RCTImageSource`
On Android, this prop type is `ImageSource`

In both cases the value is passed to `Image.resolveAssetSource` before forwarding to the native module.

We should support similar functionality on

[2022-09-22 14:21] rozele opened #10619 "Upstream changes to resolveAssetSource.js"
### Summary

We need to override Libraries/Image/resolveAssetSource.js for unpackaged apps. There are assumptions in the upstream version of resolveAssetSource.js that the root bundle path is of the form `<protocol>://<path>`, and unpackaged apps may use bundle root paths of the form "C:\<path>" or otherwise.

### Motivation

We ship both packaged and unpackaged versions of our app. We should supp

[2022-09-22 14:35] rozele opened #10620 "SourceCodeModule returns empty string for bundle root path"
### Problem Description

This pretty much explains it:
https://github.com/microsoft/react-native-windows/blob/main/vnext/Shared/OInstance.cpp#L610

The problem this causes is that `Image.resolveAssetSource` returns relative paths prefixed with `file://`, and native modules and view managers must manually construct appropriate absolute paths. We should not need to do this for each module that depen

[2022-09-22 19:41] mat2718 opened #10622 "Support react-native-paper"
### Module

react-native-paper

### Module repo url

https://github.com/callstack/react-native-paper

### Target Version

4.12.4

### Existing issue url

_No response_

### Existing windows implementation?

- [ ] Legacy/C# implementation

### Which app/customer is requesting this module?

Homeland Security / Customs and Border Patrol

### In what scenarios will this module be used?

used to develo

[2022-09-22 23:35] ClaudiuHBann opened #10625 "Multiple callback calls in C++ Native Module crashes app"
### Problem Description

When you call a method, async or not, from a C++ native module which contains multiple invokes to the provided callback, the app crashes. A small example of a method:

[code]

I will provide a full example below so you can try it yourself easier.

### Steps To Reproduce

1. create a default RNW app like [this](https://learn.microsoft.com/en-us/windows/dev-environment/javas

[2022-09-26 08:09] cjhines commented on #7855
This is happening again for me again in `6.0.0-alpha.3`. Anyone else experiencing it?

[2022-09-26 10:50] tero-paananen commented on #10609
Maybe this helps somehow https://github.com/microsoft/react-native-windows/issues/10236#issuecomment-1240577791

[2022-09-26 10:51] tero-paananen commented on #10609
Create React Native app near C root to prevent filepaths to grow too long (more than 256). There may still be sometimes errors with too long filenames.

[2022-09-26 10:54] tero-paananen commented on #10609
Reboot Windows and keep only one Visual Studio open....try close Visual Studio Code while building to prevent some file locks...

[2022-09-26 18:09] chrisglein commented on #10591
Appears to be a C# only issue. @jonthysell can you take a look?

[2022-09-26 18:11] chrisglein commented on #10593
Agreed. There's a polyfill of `console` for RN that's not specific to RNW. Does this work the same on other platforms? I'd expect so, but let us know if not. As is, this is behaving the same as core this is behaving by design.

[2022-09-26 18:11] #10593 closed

[2022-09-26 18:17] chrisglein commented on #10601
Looks to be a C# issue. Would be helpful to see your sample code so we know if there's something in the codegen here.

[2022-09-26 18:21] chrisglein commented on #10609
Does your build succeed if you use the command-line and `run-windows`?

There may be some VS component here that isn't long-path aware.

[2022-09-26 18:27] chrisglein commented on #10619
Needed for the workaround for https://github.com/microsoft/react-native-windows/issues/10614?

There is logic for bundled apps to resolve these. Is this just needed for unbundled apps? Sounds like there's some offline discussion about how may want to retire the current `file://` resolution.

[2022-09-26 18:29] chrisglein commented on #10619
Related: https://github.com/microsoft/react-native-windows/issues/10620

[2022-09-26 18:32] #10595 closed

[2022-09-26 18:44] rozele commented on #10619
No, workaround is for #10620>

What's the offline discussion? I don't think there has ever been `file://` resolution, there was only a bug caused by the missing line in SourceCodeModule to resolve the base path for the JS bundle in release builds.

[2022-09-26 18:52] paperbackdragon commented on #10593
Ah, not sure if it does the same thing on other platforms, I'm currently not well-set-up to test on other platforms. I guess I'll re-open this if we get to our Mac implementation and find it's not an issue there.

[2022-09-26 20:17] jonthysell commented on #10591
The sample is incorrect. When calling the `resolve` callback, it needs the `outputWriter` to contain the input for a callback, i.e. a serialized array of argument values.

So you need to warp the result in an array:

[code]

Alternatively, you can use the generic helper and call `outputWriter.WriteArgs(result);` instead.

I will update the sample code in the docs.

[2022-09-26 22:30] #10591 closed

[2022-09-28 04:37] Manjunatha123 commented on #10609
Build does works on `run-windows`. Any changes that needs to be done for NuGet updates could not be done in VSCode.
Also if we somehow manage to get the app running using `run-windows` we get the below error in the debugger console and the application screen goes blank.
[code]
We have we have app.windows.js that has code that wraps App component within `<MenuProvider>` for the pop-up to work.

The

[2022-09-28 17:55] chrisglein commented on #10214
@TatianaKapos Samples all updated?
@AgneLukoseviciute We can check off the item for the accessibility pass, yes?
@chiaramooney Given that, we cleared to close this issue?

[2022-09-29 16:59] rozele commented on #9343
For a deterministic repro of this bug in Yoga: https://github.com/facebook/yoga/pull/1161

[2022-09-29 18:19] jonthysell commented on #10625
When a callback is passed into a native module, it's registered with an ID and can only be called once by the native code. This is by design. See the relevant [Android native module docs](https://reactnative.dev/docs/next/native-modules-android#callbacks):

If you want to call some JS code from your native code, you'll either want to register an event the native code can call, or a JS function tha

[2022-09-29 18:19] #10625 closed

[2022-09-29 18:22] jonthysell commented on #10609
Where are you getting `<MenuProvider>`? Another module?

Can you provide a small repro repo that reproduces this build break?

[2022-09-29 18:32] jonthysell commented on #9196
@chiaramooney Can you open a bug that we do not consistently allow app/module developers to specify/override `TargetPlatformVersion` and/or `TargetPlatformMinVersion` (for C# projects ) and `WindowsTargetPlatformVersion` and/or `WindowsTargetPlatformMinVersion` (for C++ projects)?

[2022-09-29 18:54] chiaramooney opened #10654 "Add Option to Specify WindowsTargetPlatformMinVersion to C++ App Template"
### Summary

Currently we give the option to specify TargetPlatformMinVersion in the C# Lib/App template and WindowsTargetPlatformMinVersion in the C++ Lib template but not C++ App template. We should give this option to the C++ App template as well.

Related to #9196

### Motivation

With WinUI2.8 the TargetMinPlatformVersion has been bumped up. In order for C++ RNW to be able to upgrade to WinUI

[2022-09-29 21:57] aeulitz opened #10655 "LocalBundleReader produces JS string with embedded \0 char"
### Problem Description

[LocalBundleReader.cpp(79)](https://github.com/microsoft/react-native-windows/blob/main/vnext/Microsoft.ReactNative/Utils/LocalBundleReader.cpp#L79) adds 1 to the file length in an apparent attempt to ensure a null-terminated string (confirmed with @stecrain, the original author). The subsequent code does not adjust the string length to reflect the actual file content leng

[2022-09-30 01:42] iuriT commented on #10601
Hey folks,
Thank you for looking into this one.

Do you need anything else but the native module causing the issue?
[LPCHostAppData.txt](https://github.com/microsoft/react-native-windows/files/9679997/LPCHostAppData.txt)

[2022-09-30 01:42] #10655 closed

[2022-09-30 04:17] vmoroz commented on #10601
@iuriT , thank you for the sample! I will have a look at this issue tomorrow 9/30.
What version of RNW do you use? We will need to backport the fix to that version.

[2022-09-30 07:39] Manjunatha123 commented on #10609
The code is as below
[code]
Even without this as well I was not able to build solution in VS2019.

[2022-09-30 14:20] iuriT commented on #10601
I hope I am not breaking any protocol or privacy policy by saying this, but please let me know if a direct communication channel in Teams might help you, I'm from MS.

[2022-09-30 16:04] asklar commented on #10601
hey @iuriT could you please link your github acount? https://repos.opensource.microsoft.com/link

[2022-09-30 18:30] chiaramooney opened #10662 "Add option to specify WindowsTargetMinPlatform for C++ Apps"
### Summary

Currently the C# Lib/App template offers devs the ability to customize the TargetMinPlatformVersion and the C++ Lib offers devs the ability to customize the WindowsTargetMinPlatformVersion. We should extend this functionality to also include the C++ App template, so that devs can customize the WindowsTargetMinPlatformVersion in their apps.

### Motivation

With WinUI2.8 the TargetMinP

[2022-09-30 18:31] chiaramooney commented on #10662
Duplicate

[2022-09-30 18:31] #10662 closed

[2022-10-01 16:17] 500-internal-server-error commented on #7359
Hello, may I know if RNW can create a win32 winui 3 app instead of an UWP app yet?

[2022-10-01 17:39] asklar commented on #7359
@500-internal-server-error  still not currently supported (no easy-to-use template, etc.), though the foundational pieces are there

[2022-10-03 17:31] vmoroz commented on #10601
Just a quick update while I am still working on it.
The part that looks suspicious is that:
- We have [a unit test that has a callback with multiple parameters](https://github.com/microsoft/react-native-windows/blob/bb9db417129fceb704eeb8b4d0256edbf8307b51/vnext/Microsoft.ReactNative.Managed.UnitTests/NativeModuleTest.cs#L995), and it passes.
- We switched at some point from the reflection code to

[2022-10-03 18:24] jonthysell commented on #10609
Can you provide a cloneable repo repro? We really need to see all the files to see why it only repos in VS and not when using `run-windows`.

[2022-10-04 00:52] iuriT commented on #10601
Yeap, there is a ref to Microsoft.ReactNative.Managed.CodeGen.
Let me know if you need me to pack up the whole thing and share it with you to help.

[2022-10-04 01:14] vmoroz commented on #10601
No, nothing is needed at this point - I am still struggling to implement C# integration tests.

[2022-10-04 20:38] rozele commented on #9988
With #10671, in theory you could create this panel entirely in user land (without needing to make a change to RNW).

[2022-10-05 19:05] acoates-ms opened #10681 "We should codegen something for C# apps from JS spec files"
### Summary

We codegen spec files for Native*.ts native module specs.  These generated files provide type checking for c++ native modules.  We should generate something for C# modules too.

### Motivation

C++/C# alignment

### Basic Example

_No response_

### Open Questions

_No response_

[2022-10-06 09:40] jihoobyeon opened #10684 "Unable to manually link native module"
### Problem Description

I [made a native module](https://github.com/jihoobyeon/react-native-file-panel) and it doesn't worked.
I found that my module didn't auto-linked, so I tried [manually linking](https://microsoft.github.io/react-native-windows/docs/native-modules-using) and now this error appears:
[code]

I tried deleting `[webhosthidden]` in `ReactPackageProvider.idl`, and this calls anothe

[2022-10-06 16:43] rozele opened #10687 "Focusable and accessible native states can get out of sync"
### Problem Description

If only focusable or accessible props change in a particular batch of updates to a View, we will not apply the mitigation [here](https://github.com/microsoft/react-native-windows/blob/main/vnext/Microsoft.ReactNative/Views/ViewViewManager.cpp#L610-L621) to ensure focusable and accessible states are kept in sync.

### Steps To Reproduce

1. Open the `view.tsx` example
2. Up

[2022-10-06 18:10] jonthysell commented on #10687
@chiaramooney can take a look at this?

[2022-10-06 18:16] jonthysell commented on #10684
It looks like you've created the native project on your own, so you're not referencing any of the Microsoft.ReactNative dependencies you need to build a native module.

Please read https://microsoft.github.io/react-native-windows/docs/native-modules-setup#creating-a-new-native-module-library-project to see how you can use `react-native-windows-init` to set up your project with the correct dependen

[2022-10-06 18:16] #10684 closed

[2022-10-06 18:17] jonthysell commented on #10681
Putting onto the backlog until we have clear C# TurboModule reqs.

[2022-10-06 20:11] rozele opened #10690 "FocusManager returns null when TextBox is focused in XAML Islands"
### Problem Description

In a XAML Islands app, FocusManager returns null when a TextBox has focus. It appears to also return null for arbitrary controls, including ViewControl. This means that calling `.blur()` on a TextInput ref (or any ref for that matter) never blurs the TextInput.

### Steps To Reproduce

1. Attempt to blur a TextInput in a XAML Islands app - it will not :(

### Expected Resu

[2022-10-06 22:23] #10214 closed

[2022-10-07 01:17] chiaramooney opened #10694 "Remove VirtualizedListProps Patch"
### Problem Description

<>

### Steps To Reproduce

N/A

### Expected Results

_No response_

### CLI version

npx react-native --version

### Environment

[code]

### Target Platform Version

_No response_

### Target Device(s)

_No response_

### Visual Studio Version

_No response_

### Build Configuration

_No response_

### Snack, code example, screenshot, or link to a repository

_No respon

[2022-10-07 05:16] NickGerleman commented on #10694
You can remove @react-native-windows/virtualizedlist in general. It is identical to the one in core at this point.

[2022-10-07 11:51] shreyaspadhye3011 commented on #8157
+1. This would be super helpful in certain cases where we want to convey end users the possibility of clickable / actionable items.

[2022-10-07 13:47] rozele commented on #9343
Re-opening, as this is not a complete fix.

[2022-10-07 22:20] imuhammadarsalan commented on #5747
I am also facing the same issue the DLL files are missing when exe the file ....

[2022-10-09 12:27] jihoobyeon commented on #10684
@jonthysell OK, that worked. It was my mistake. Thanks!

[2022-10-10 10:36] jihoobyeon opened #10707 "Crash when trying to resolve JS promise on UI thread"
### Problem Description

I made a native module which implements file picker.
and when I run it, the picker shows.
but shortly after picker has anywise closed, app crashes with no error log.
the info only I can find is `error code 0xc0000005` from `eventvwr.exe`.

### Steps To Reproduce

1. do yarn add https://github.com/jihoobyeon/react-native-file-panel.git at your project
2. run npx react-nativ

[2022-10-10 14:49] daanlenaerts commented on #10236
I am having the same issue. Rolling back to 0.68 did indeed work.

[2022-10-10 18:11] jonthysell commented on #10707
Can you provide a native callstack? What do you see when you're debugging? Without that info we can't know whose code is causing the crash.

[2022-10-10 18:17] jonthysell commented on #10690
Are we trying to call `GetFocusedElement()` without a XAML root to the method? Possibly related: https://github.com/microsoft/microsoft-ui-xaml/issues/3484

[2022-10-10 18:23] jonthysell commented on #5747
Closing necro-bump. UWP apps cannot be launched by double-clicking the exe. See https://learn.microsoft.com/en-us/windows/uwp/get-started/universal-application-platform-guide

[2022-10-10 21:27] #10687 closed

[2022-10-10 22:15] jihoobyeon commented on #10707
@jonthysell This is it.
![image](https://user-images.githubusercontent.com/77971249/194960150-fea84798-b7e6-40d5-97f2-b08ce4903fb3.png)

Note for korean: 줄 means line, <람다> means \<lambda> and [외부 코드] means [external code].

[2022-10-10 22:22] paperbackdragon opened #10713 "Switch component, when disabled and "on", has incorrect colors in high contrast mode"
### Problem Description

In any of the Win 11 high contrast themes, the Switch component has incorrect colors when disabled and in the "on" position. Most importantly, in many of the high contrast themes, the Switch background and the thumb color are very close in color and aren't contrasting enough.

It seems to me like at the least, the background of the Switch should be the same as the window c

[2022-10-11 03:15] rozele commented on #7954
I think we get these "for free" no? Can this be closed?

[2022-10-11 14:37] rozele commented on #10690
Thanks @jonthysell - updated https://github.com/microsoft/react-native-windows/pull/10691 to use the GetFocusedElement(XamlRoot) overload.

[2022-10-11 14:41] rozele commented on #7954
https://github.com/facebook/react-native/pull/34944 will fix

[2022-10-11 14:41] rozele commented on #7954
It technically works today, but you must also set an `onPress` callback.

[2022-10-11 18:09] TatianaKapos opened #10722 "Remove AttributedString and LayoutableShadowNode patch"
### Problem Description

Tracking removal of overrided files from latest [integration](https://github.com/microsoft/react-native-windows/pull/10479/files#diff-c14f3a9383607a661977aa577c75bbc547827502950e0244721ef021f549fbe2). Once these PRs are merged in https://github.com/facebook/react-native/pull/34947 and https://github.com/facebook/react-native/pull/34889, it should fix complier warning treat

[2022-10-11 18:18] TatianaKapos opened #10723 "Add BigInt and NativeState APIs"
### Problem Description

Latest [integrations](https://github.com/microsoft/react-native-windows/pull/10479) added more methods to BigInt and a API for setting/getting Native State. Unfortunately, Hermes versioning is still being worked through and there wasn't a way to match JSI at that point in time causing an JSI ABI break.

Currently we override the necessary JSI files to get built to work.

h

[2022-10-11 18:19] TatianaKapos commented on #10723
@vmoroz I believe you were working through the Hermes versioning, is there an update to how we can match up JSI versioning and remove the overrides?

[2022-10-12 18:35] haightt commented on #10236
I'm also seeing this after upgrading from 0.68.0 to 0.69.0. Is there any guidance on this?

[2022-10-12 19:08] tero-paananen commented on #10236
Above is my solution

https://github.com/microsoft/react-native-windows/issues/10236#issuecomment-1240577791

[2022-10-12 19:18] daanlenaerts commented on #10236
Thank you for the workaround, but you also mentioned "BUT some challenges with the release build...it is white screen.", so I assume this is still a problem?

[2022-10-12 19:40] tero-paananen commented on #10236
Not anymore with latest 0.69 version on release build

[2022-10-12 19:44] haightt commented on #10236
Where specifically did you put those lines of code? Your answer is not very specific

[2022-10-13 00:02] jonthysell commented on #8740
The `rnw-img-test` has been successfully updated to Windows Server 2022 with Visual Studio 2022. PR #9916 is currently running against those images.

[2022-10-13 00:05] jonthysell commented on #9690
This does not repro with 17.3.6 being used in PR #9916.

[2022-10-13 05:20] jihoobyeon commented on #10707
Now I found another error log from RN Debugger (on Edge Browser):
[code]

[2022-10-13 06:07] tero-paananen commented on #10236
`node_modules\react-native-windows\Microsoft.ReactNative.Managed.CodeGen\Microsoft.ReactNative.Managed.CodeGen.csproj`

[code]

[2022-10-13 06:08] tero-paananen commented on #10236
but i of course hope that some in Microsoft gives validated fix for this issue

[2022-10-13 07:54] daanlenaerts commented on #10236
Let's hope so. Thank you for your help @tero-paananen!

[2022-10-13 13:04] jihoobyeon commented on #10707
and..., I got a dump file from Task manager.
[bar.zip](https://github.com/microsoft/react-native-windows/files/9776892/bar.zip)
[bar.z01.zip](https://github.com/microsoft/react-native-windows/files/9776900/bar.z01.zip)
[bar.z02.zip](https://github.com/microsoft/react-native-windows/files/9776901/bar.z02.zip)
[bar.z03.zip](https://github.com/microsoft/react-native-windows/files/9776903/bar.z03.zip)

[2022-10-13 13:50] haightt commented on #10236
@chrisglein @JunielKatarn, Can we get any insight on this issue? I do not see this every time I attempt a release build. For example, I just restarted my machine and ran `npx react-native run-windows --release`, and my app was built successfully. I kill the app, open Visual Studio 2022, run `npx react-native run-windows --release`, and then run into the error.

[2022-10-13 14:10] jihoobyeon commented on #10707
![image](https://user-images.githubusercontent.com/77971249/195618421-93cc1eba-2a70-410c-85e4-8db9ce164fe1.png)

Well, it seems my code has two separate problem.
When `save(ext, content)`, seems like my app can't get `content` from js.
and, When `open(ext, promise)` seems like `promise` is problem.

if I commentate those, app never crashes.

[2022-10-13 18:12] jonthysell commented on #10722
@TatianaKapos Putting this on 0.71 for now, but if we don't get integrated fast enough for 0.71, move this to 0.72.

[2022-10-13 18:15] jonthysell commented on #10713
@AgneLukoseviciute Can you look into this? Is this a problem with the Switch XAML control, or in our styling of it? Are we preventing the correct styling from happening in high contrast mode?

[2022-10-13 18:22] jonthysell commented on #10707
Looking at your code, you're trying to resolve the promise on the UI Thread, but it'll have already been destroyed. You need to resolve the promise on the original JS thread. I.e., after calling `StorageFile file = co_await openPicker.PickSingleFileAsync();` you need to do a `context.JSDispatcher().Post` to post a lambda back to the JS thread where you can then call the promise resolve/reject.

[2022-10-13 18:26] jonthysell commented on #10707
@acoates-ms Can you open a bug to track adding some debug logic to detect when code tries to resolve a promise off the JS thread and provides better feedback?

[2022-10-13 18:27] acoates-ms opened #10730 "ReactPromise's should provide better error information when used from incorrect thread"
ReactPromise requires that it's resolved from the JS thread.  We should, at least in debug, provide better error information when a user resolves/rejects the promise from a non-JS thread.

See #10707 as an example.

[2022-10-13 19:57] acoates-ms opened #10731 "NativeAnimatedModule missing implementation of updateAnimatedNodeConfig"
NativeAnimatedModule implementation is incomplete and is missing the `updateAnimatedNodeConfig` method.  This prevents the module from being able to turn on using the codegen'd Spec.

[2022-10-13 22:29] jonthysell opened #10732 "SendReceiveSsl Desktop.IntegrationTests fails with `[0x80072f7d] An error occurred in the secure channel support` on Windows Server 2022 with Visual Studio 2022"
### Problem Description

As part of PR #9916 I'm building/testing RNW with Visual Studio 2022 on Windows Server 2022.

[code]

FYI PRs only run this test as part of Release x64.

This does not repro locally with VS 2022 in Windows 11 on Debug or Release.

### Steps To Reproduce

See PR.

### Expected Results

_No response_

### CLI version

npx react-native --version

### Environment

[code]

###

[2022-10-13 22:39] jonthysell commented on #10732
As best as I can discern, this may be because Windows Server 2022 has higher requirements for TLS than what we use in our code.

[2022-10-13 23:57] vmoroz commented on #10730
@acoates-ms, no, we do not have such requirements. ReactPromise can be resolved from any thread. See: https://github.com/microsoft/react-native-windows/blob/9b33ee7e69645d3eba7edb90d4d945128970e12f/vnext/Microsoft.ReactNative.IntegrationTests/TurboModuleTests.cpp#L423
I had provided a fix for it a few months ago. In which version/language do you see the issue?

[2022-10-14 00:03] JunielKatarn commented on #10236
@haightt Can you share the sources/branch you are working on to try and follow the same exact steps?

This looks like a very particular corner case.

[2022-10-14 16:23] vmoroz commented on #10707
@jonthysell, `ReactPromise` can be resolved or rejected from any thread. We fixed this issue a while ago. See: https://github.com/microsoft/react-native-windows/pull/9595. It was backported to RNW versions starting with 0.65 and up. The issue must be still in 0.64 and below.

[2022-10-14 16:25] vmoroz commented on #10707
Since the repro is against the 0.68, I would like to have a look.

[2022-10-14 16:30] vmoroz commented on #10730
`ReactPromise` was enabled to complete from any thread in this PR: https://github.com/microsoft/react-native-windows/pull/9595 and then backported to 0.65 and up. I am closing this issue and going to look into the original issue #10707.

[2022-10-14 16:30] #10730 closed

[2022-10-14 17:50] DrewHigginsMSFT opened #10742 "Hardware back button events are broken"
### Problem Description

Line 430 has a typo in it ("hardward") which causes the event it fires to never be picked up by the JS side:
https://github.com/microsoft/react-native-windows/blob/7196c86120722a52d4595c26a321872c2a242238/vnext/Microsoft.ReactNative/Views/TouchEventHandler.cpp

I have a PR I will make implementing a patch we have on our app to fix this (by just fixing the typo)

### Steps

[2022-10-15 10:15] jihoobyeon commented on #10707
@vmoroz I solved it by don't using `fire_and_forget`. I found it [here](https://github.com/microsoft/react-native-windows-samples/issues/603#issuecomment-973871084).
I think you guys should edit [documentation](https://microsoft.github.io/react-native-windows/docs/native-modules-async#using-uidispatcher-with-cwinrt) to not use `fire_and_forget`.

[2022-10-15 18:06] vmoroz commented on #10723
Sorry, I was stuck with RNW C# issues. I will provide the new Hermes builds in the beginning of the coming week.

[2022-10-16 08:18] Shivara2022 opened #10748 "React native windows UWP - Reducer state change is not working in release mode"
### Problem Description

React native use effect is not firing on reducer state change in release mode. But in debug mode it was working fine. Getting blank screen in release mode & in debug i'm able to see the login page using authnavigator. The loader value is false not changing when setting user data in state.

Same code is working fine in android release mode but not working in windows release

[2022-10-16 08:22] Shivara2022 commented on #10748
Same code is working fine in android release mode but not working in windows release mode.

[2022-10-16 17:44] rozele commented on #10731
Looks like this is only being used in AnimatedColor.js, so we can probably coalesce this issue with https://github.com/microsoft/react-native-windows/issues/9493

[2022-10-17 18:06] chrisglein commented on #10731
Duplicate of #9493

[2022-10-17 18:06] #10731 closed

[2022-10-17 18:08] chrisglein commented on #10732
Currently disabled in the PR, but ideally we can figure this out.

[2022-10-17 18:09] chrisglein commented on #10732
@asklar can you link the issue tracking inability to enable/disable TLS 1.3?

[2022-10-17 18:14] asklar commented on #10732
tracked internally by https://task.ms/39781302

[2022-10-17 21:05] #10609 closed

[2022-10-17 21:07] TatianaKapos opened #10754 "Add ArrayBuffers to JSI"
### Problem Description

Part of latest [integrations](https://github.com/microsoft/react-native-windows/pull/10752), Meta added ArrayBuffers to JSI which we can't merge in until we catch up in hermes-versioning. PR was created to track JSI changes for when hermes-versioning gets finished

https://github.com/facebook/react-native/commit/3bae268782c318b7f8bd6442682d3d683696eedf

### Steps To Reprod

[2022-10-18 04:09] Shivara2022 commented on #10748
@chrisglein Hi, Thanks for your response. Let me share the repo.

[2022-10-18 17:42] chiaramooney opened #10763 "Adjust Check For Metro Running in Debug Feature Tests"
In the Debug Feature Tests we launch metro from the test script itself. Then, to check that metro is up and running we verify that the string "Welcome to Metro!" is displayed. In the 8/12 integration we hit an issue where the Debug Feature Tests suddenly failed because the metro version was bumped and the startup string now did not contain a '!' character.

We should update this check to avoid bre

[2022-10-19 06:32] jihoobyeon commented on #10707
Now my app only shuts down when file picker has closed without picking a file (= promise rejected).
no error message, again.

[2022-10-19 12:24] quicksilverr commented on #3070
Any updates on this?

[2022-10-22 06:42] maoziliang opened #10784 "XamlIslands: Cannot create control of type"
### Problem Description

I'm investigating how to use XamlIslands to host the React Native Application. But it cannot startup successfully, the `WindowsXamlHost` element displays **Cannot create control of type xxx**
![image](https://user-images.githubusercontent.com/1581998/197323760-2ed2570e-9f90-4d34-b20a-6f51f3d54295.png)
![image](https://user-images.githubusercontent.com/1581998/197324788-c94

[2022-10-24 18:16] chrisglein commented on #10784
Your project will need the reference to `XamlControlsResources` just like any WinUI project. I'm not sure in your configuration of WPF + Islands + toolkit where that goes. Do you have that somewhere in your project?

Also your version 0.66 is old and out of the support window. I don't think that's your problem here, but FYI you'll want to get up to date some point soon.

[2022-10-24 18:19] jonthysell commented on #10784
Reference will look something like this (taken from the non-islands RNW app template):

[code]

Not sure where to put it in your WPF + XamlIslands consumption scenario.

[2022-10-25 06:22] maoziliang commented on #10784
I add a new pure UWP ClassLibrary(named ClassLibrary1), it works well without add this `XamlControlsResources `block .
I uploaded the code, very appreciate if you can check it.
![image](https://user-images.githubusercontent.com/1581998/197697122-31a13fc7-e86f-451b-b9d1-15aca63ad1fa.png)

[2022-10-25 13:31] maoziliang commented on #10784
I already uploaded the newest version to my [repo](https://github.com/maoziliang/rnInvestigation).

[2022-10-25 22:01] slobo80 opened #10792 "Building 0.69.9 from source fails when injecting net5.0 dependency into CppWinRT project"
### Problem Description

We build from source. We include Codegen.csproj as a ProjectReference to ReactNativeXaml.vcxproj via the experimental features props. This works up to 0.69.8.

Project properties were consolidated in https://github.com/microsoft/react-native-windows/commit/61a16cd809b8ee02cc4098493bcde61eca518466 which broke our build.

### Steps To Reproduce

1. Inject Codegen.csproj as a

[2022-10-25 23:20] slobo80 opened #10794 "Allow user to override CppWinRT version"
### Summary

Allow user to override the default version similar to how RNW handles WinUI version.

### Motivation

When RNW is consumed with other packages there may be a mismatch in CppWinRT version.

### Basic Example

_No response_

### Open Questions

_No response_

[2022-10-26 04:23] #10601 closed

[2022-10-26 20:57] #10794 closed

[2022-10-26 22:06] jonthysell opened #10796 "RNW templates hardcode CppWinRT version"
### Problem Description

Currently, the RNW CLI hardcodes a specific version of `Microsoft.Windows.CppWinRT` into new app/library projects. However this means various projects could all be building with different CppWinRT versions, which **may** work but at the very least means wasting time restoring different packages and complicating debugging.

As of #10794 , we give customers the ability to se

[2022-10-26 22:08] jonthysell commented on #8740
The `rnw-img-vs2022` image has been created and validated.

[2022-10-26 22:08] #8740 closed

[2022-10-26 22:10] jonthysell commented on #9499
We've decided to leave the existing branches' pipelines using the `rnw-img-node16` image, targeting VS 2019, and create a new whole new image for branches needing VS 2022 going forward.

[2022-10-26 22:57] jonthysell commented on #9037
This may actually be fixable going forward with the new Windows Server / Visual Studio 2022 images.

[2022-10-27 06:42] maoziliang commented on #10784
Hi, thanks very much for reminding me to add `XamlControlsResources `, I found it's my mistake. After carefully reading [this document](https://learn.microsoft.com/en-us/windows/apps/desktop/modernize/host-custom-control-with-xaml-islands). I managed to see the "Loading Bundle" screen of the React Application. But unfortunately, the application crashed after loading the whole bundle.

1. console l

[2022-10-27 17:22] jonthysell commented on #10796
Now that we have PackageReference, we should also consider moving this dependency *into* the external targets and *out of* the project file altogether.

[2022-10-27 17:32] jonthysell opened #10798 "RNW WinAppSDK templates hardcode msbuild items better served by an external targets file"
### Problem Description

The RNW CLI WinAppSDK project template hardcodes various PackageReferences (our `Microsoft.ReactNative.WindowsAppSDK` and `Microsoft.WindowsAppSDK`) and includes some specialized MSIX packaging targets. We don't do that on other platforms, preferring to set those references within the External targets file, using parameterized values.

Similar to #10796

### Steps To Repro

[2022-10-27 18:14] jonthysell commented on #10796
Need to get this to 0.70, 0.69.

[2022-10-27 18:18] jonthysell commented on #10792
The probable solution for this will be to remove the need for this hacky workaround that never should have worked in the first place. The RNX Codegen should just be runnable as a target, not depended on by the RNX C++ project.

[2022-10-27 18:23] jonthysell commented on #10784
It looks like your XamlIslands bug was resolved.

This new bug is different, and appears you are trying to use `useSyncExternalStore`, which is a React 18 API that is not available in React Native 0.66.

Please either remove your usage of that API or upgrade to React Native (Windows) 0.70 or greater (the first version built on top of React 18) and try again. Then if you still have a problem, pleas

[2022-10-27 18:23] #10784 closed

[2022-10-27 21:44] #10742 closed

[2022-10-28 04:14] maoziliang commented on #10784
thanks @jonthysell @chrisglein

[2022-10-28 19:14] rozele opened #10806 "Horizontal scrolling for zoomed in <ScrollView> broken"
### Problem Description

We have a scenario in our app where we have a `<ScrollView>` that supports zoom scale. In v0.63 of React Native Windows, zooming in and scrolling horizontally worked fine. In v0.68, it no longer works.

The problem was introduced by #7072. Reverting this change solves the issue (but it's not clear from the PR what other bugs it may bring back).

### Steps To Reproduce

1.

[2022-10-28 19:50] haightt commented on #10236
I cannot. This is happening attempting to upgrade our company's app.

[2022-10-28 21:18] haightt commented on #10236
@JunielKatarn Now I am getting this in Visual Studio
![image](https://user-images.githubusercontent.com/54287230/198734399-2a46b7bd-b688-49e6-a3ea-f108985d6510.png)

[2022-10-28 21:46] lenahong opened #10808 "Remove Fork of Text"
Forking to add onMouseEnter/Leave functionality for Text. Remove once upstreamed.

[2022-10-28 22:14] JunielKatarn commented on #10236
@haightt would you be willing to share a binary build log **privately**?

If so, please follow these steps:
[code]

This should generate two `.binlog` files: `pkgcnf.binlog` and `pkgref.binlog`.

[2022-10-28 22:42] axelfratoniMS opened #10809 "Transform style property makes image disappear on RNW 0.69"
### Problem Description

After performing an upgrade from React Native Windows 0.67 to 0.69, image elements with `transform` style property stopped showing.

#### Element:
[code]
#### Style:
[code]

If you remove the `transform` property, the image starts to show again.

*Note*: Even using ` transform: []` the image doesn't show.

### Steps To Reproduce

1. Create a RNW 0.69 app
1. Create an `Imag

[2022-10-29 03:28] tero-paananen commented on #10236
My solution for this error was define for example  `<WindowsTargetPlatformVersion>10.0.19041.0</WindowsTargetPlatformVersion>` into ExperimentalFeatures.props file.

[2022-10-31 15:24] AlyElhaddad commented on #1997
@rozele where is that `OnCreate` defined? I'm unable to find it anywhere, and unlike Android, there's no `ReactInstanceManager` API. Is there sample app where this is implemented?

[2022-10-31 18:00] #9499 closed

[2022-10-31 18:00] #10130 closed

[2022-10-31 18:10] rozele commented on #4343
This is not technically blocked on the ABIViewManager limitations. Since this is a hoisted component anyway, you can inject a dummy FrameworkElement into the tree with Visibility set to None and attach the Flyout to the appropriate location via other props.

This is, however, blocked on missing public APIs for touch and keyboard event handling.

[2022-10-31 18:10] jonthysell commented on #10809
@axelfratoniMS Does it repro in 0.70?

[2022-10-31 18:10] jonthysell commented on #10809
@marlenecota Can you check this? Maybe verify if it's working or not in the RNTester app.

[2022-10-31 18:12] jonthysell commented on #10808
@lenahong Is this for the Win32 platform?

[2022-10-31 18:23] jonthysell opened #10813 "Positioning popup/flyout vertically by fixed amount changes relative horizontal positioning"
### Discussed in https://github.com/microsoft/react-native-windows/discussions/10812

<div type='discussions-op-text'>

<sup>Originally posted by **lcherukuri** October 30, 2022</sup>
[code]

Given a flyout of width X%, I want to horizontally align it to the center of the screen and 100px from the top of the screen. By default, it looks like this

![1](https://user-images.githubusercontent.com/943

[2022-10-31 18:38] jonthysell opened #10814 "ARM64 builds breaking in CI with .NetNative error"
### Problem Description

From [CI](https://dev.azure.com/ms/react-native-windows/_build/results?buildId=392835&view=logs):

[code]

### Steps To Reproduce

Build Arm64 Debug

### Expected Results

_No response_

### CLI version

npx react-native --version

### Environment

[code]

### Target Platform Version

_No response_

### Target Device(s)

_No response_

### Visual Studio Version

_No respon

[2022-10-31 18:58] jonthysell commented on #10814
Original repro was on VS 2019, still repros with VS 2022.

[2022-10-31 18:59] jonthysell commented on #10814
Problem is with the newly added Microsoft.ReactNative.Managed.IntegrationTests project.

[2022-11-01 04:03] rozele commented on #10806
@jonthysell I have not tried, but in either case the breaking change should be reverted. Looking at the code, I suspect setting horizontal = true will also set vertical to disabled, and that it's only by not specifying either horizontal or vertical that bi-directional scrolling can be enabled.

[2022-11-01 06:48] #10814 closed

[2022-11-01 14:08] slobo80 commented on #10792
This is a major issue for us, preventing us to upgrade. How can we prioritize this? @chrisglein

[2022-11-01 14:58] rozele commented on #10806
@jonthysell - just tried to set `horizontal` to true, indeed it allows horizontal scrolling while zoomed, but vertical scrolling is then disabled. We need the fix in #10807 :)

[2022-11-01 16:12] chrisglein commented on #10792
@jonthysell What's your take on the scope of this fix? Sounds like removing some workaround, but is that going to introduce some other problem?

[2022-11-01 18:28] jonthysell commented on #10809
@axelfratoniMS I have created a new RNW 0.69 app and applied the exact style you supplied and everything works fine. Can you provide a minimal repro of what you're seeing?

[2022-11-01 18:40] jonthysell commented on #10809
I did this with the new project sample app:

[code]

[2022-11-01 19:30] jonthysell commented on #10796
Correction, we don't need this Breaking Change to be backported.

[2022-11-01 19:31] jonthysell commented on #10798
To be clear, we don't need this Breaking Change to be backported.

[2022-11-01 19:34] jonthysell commented on #9690
Main has been upgraded to VS 2022, this no longer repros with current versions of VS 2022.

[2022-11-01 19:34] #9690 closed

[2022-11-01 19:38] jonthysell commented on #10792
I will make try to make a fix in RNX that will run the Codegen as a target as part of the RNX C++ build.

@slobo80 , you can either wait for that fix and consume a newer version of react-native-xaml, or you can remove the hack and just run the codegen exe by yourself as a step before building RNX.

[2022-11-01 21:03] #10748 closed

[2022-11-02 06:33] jbcullis commented on #10036
Revisiting updating to latest: I'm now trying to go from .66 to .70 and this issue still exists.

[2022-11-02 07:13] tero-paananen commented on #10036
I have this error now on 0.69.11.  Issue did not exist on 0.69.7.

[2022-11-02 07:30] tero-paananen commented on #10098
I have this error now on 0.69.11. Issue did not exist on 0.69.7.

[2022-11-02 20:58] #10796 closed

[2022-11-02 20:58] #10798 closed

[2022-11-02 21:11] jonthysell opened #10829 "New project templates should not stamp hardcoded PackageReferences, instead use External Property Sheets with parameterized versions"
### Problem Description

As of PR #10799, the WinAppSDK template puts no direct PackageReferences into the project file, which I think makes the SDK-style project much cleaner and easier for us to maintain.

As of writing this issue, our CLI stamps only the following Package Reference dependencies into new UWP app/lib projects:

For C++: `Microsoft.Windows.CppWinRT`, and it's set to use `$(CppWinR

[2022-11-02 21:30] JunielKatarn commented on #10036
Looking into this.

[2022-11-02 21:56] jonthysell commented on #10829
An alternate (reduced) proposal would be just to parameterize `Microsoft.NETCore.UniversalWindowsPlatform`'s version.

[2022-11-02 22:04] #10420 closed

[2022-11-02 22:21] JunielKatarn commented on #10036
@tero-paananen this is the most relevant related change between `0.69.7` and `0.69.11`.
It should prevent MSRN from attempting to instantiate the Blob module.

Can you please share the steps to reproduce?

<img width="924" alt="image" src="https://user-images.githubusercontent.com/4507319/199612378-2182f8da-66f6-48c5-833b-a51fc5e1509d.png">

[2022-11-02 23:38] jonthysell commented on #10564
This alert no longer appears in CodeQL, moving to Backlog.

[2022-11-02 23:39] jonthysell commented on #10566
This alert no longer appears in CodeQL, closing.

[2022-11-03 05:59] tero-paananen commented on #10036
I reverted back into 0.69.7. It happened on application startup. I did 0.69.11 HelloWorld C# app by "react-native init" but that app did not has this error. I have to try 0.69.11 again on our own app soon...

[2022-11-03 08:40] tero-paananen commented on #10036
`Error: Invalid response for blob: xyz..` does not occur if i commented out BlobModule here

https://github.com/microsoft/react-native-windows/blob/00ff21a1f0bcd08f80706a33a04ce52c50e14f49/vnext/Microsoft.ReactNative/Base/CoreNativeModules.cpp#L65

but that is not valid fix

[2022-11-03 16:50] #10566 closed

[2022-11-03 16:50] #10564 closed

[2022-11-03 16:50] jonthysell commented on #10563
This alert no longer appears in CodeQL.

[2022-11-03 16:50] #10563 closed

[2022-11-03 22:27] #10806 closed

[2022-11-03 22:28] #10690 closed

[2022-11-03 22:30] #9988 closed

[2022-11-03 23:24] JunielKatarn commented on #8547
Attempting to reproduce.

[2022-11-04 01:18] JunielKatarn commented on #8547
Formatting repro sample for readability:
[code]

[2022-11-04 06:27] Walia8416 commented on #9057
@tero-paananen still facing same issue RN version 0.64.1 please explain in detail thanks

[2022-11-04 07:29] tero-paananen commented on #9057
Solution is to force all project in the solution to use same version of target platfrom version for example 10.0.19041.0.

That can be done by ExperimentalFeatures.props and if that is not enough (project does not use that file) for some project config you must change it yourself.

[2022-11-04 07:32] tero-paananen commented on #9057
I have these lines in our ExperimantalFeatures.props

[code]

and i have also note to check file `C:\Users\USER\.nuget\packages\microsoft.ui.xaml\VERSION\buildTransitive\Common.targetsC:\Users\USER\.nuget\packages\microsoft.ui.xaml\VERSION\buildTransitive\Common.targets`

to change this line

[code]

[2022-11-05 08:22] JunielKatarn commented on #6046
Root cause found:

Manually setting the `Content-Type` header for multipart/form-data requests overwrites the boundary generated by the WinRT APIs.

The proposed patch fixes the issue fine.
Incorporating into #10797.

[2022-11-07 05:09] #6046 closed

[2022-11-07 05:09] #8547 closed

[2022-11-07 05:09] #9535 closed

[2022-11-07 16:45] chrisglein commented on #9141
How .NET CLI telemetry handles their data: https://learn.microsoft.com/en-us/dotnet/core/tools/telemetry

[2022-11-07 17:56] jonthysell opened #10839 "RNW stable releases needs to update to latest RN core versions"
### Problem Description

We should update our stable branches of RNW to require the latest matching version of RN.

TLDR: In publishing RN 0.71-RC0, all older versions of RN were broken for Android builds. See https://github.com/facebook/react-native/issues/35210 for details.

RN Core has pushed patches back to RN 0.63.

### Steps To Reproduce

See https://github.com/facebook/react-native/issues/3

[2022-11-07 19:16] chrisglein commented on #10839
Definitely worth highlighting this problem (see the linked issue).
Our dependency doesn't specify a sub version. If we do nothing no one is blocked from updating the version for app's builds. Giving a specific version would cause problems in the future.

There's a question about whether we're integrating dot releases on old branches (in case updating the dependency version isn't enough). That hasn

[2022-11-07 19:30] chrisglein opened #10842 "Not able to get any of the keyDown events triggered on virtual machine."
### Discussed in https://github.com/microsoft/react-native-windows/discussions/10822

<div type='discussions-op-text'>

<sup>Originally posted by **gabimoncha** November  2, 2022</sup>
Hi,

I've been trying to console the keyboard props but with no success. Mouse events seem to work though.
I'm running the latest version 0.70 inside a Parallels VM.

I've also tried the docs, which are using class

[2022-11-07 19:30] chrisglein commented on #10842
First step will be to validate this on a Windows machine and see if the same results repro. Then see where we are.

[2022-11-07 19:41] tero-paananen commented on #10036
Yes, i have this issue still. I have to use 0.69.7 currently but i want to move on maybe 0.7x

[2022-11-07 20:09] JunielKatarn commented on #10036
Reopening.
Looking into it today.

[2022-11-08 03:14] JunielKatarn opened #10849 "Implement missing HTTP events"
See https://github.com/facebook/react-native/blob/v0.70.5/Libraries/Network/RCTNetworking.mm#L195 :

[code]

Events `didReceiveNetworkDataProgress` and `didReceiveNetworkIncrementalData` are not triggered/handled by React Native Windows' HTTP module.

This prevents showing HTTP download progress in UI or acknowledging incremental data download steps.

[2022-11-08 04:46] AnujKumar0204 opened #10850 "Open new Screen in by clicking buttom in macos and windows application"
### Summary

I am not able to open new windows Please help

### Motivation

I am not able to open new windows Please help

### Basic Example

_No response_

### Open Questions

_No response_

[2022-11-08 22:05] jonthysell opened #10857 "`WhenAnyTest.WhenAny_Init_Three` Universal Unit Test occasionally fails with `SEH exception with code 0xc0000005`"
### Problem Description

This error happens intermittently in CI for X86 Debug builds.

From [CI Log for main](https://dev.azure.com/ms/react-native-windows/_build/results?buildId=395647&view=logs&jobId=610ede8a-37ea-51c1-f2a9-4e448449ab10&j=610ede8a-37ea-51c1-f2a9-4e448449ab10&t=7b8f6fc0-8e5f-543d-d2b7-5768b5e7f533):

[code]

### Target Platform Version

10.0.19041

### Target Device(s)

Desktop

[2022-11-08 22:06] jonthysell commented on #10857
I have not seen this repro locally or reliably.

[2022-11-08 23:17] jonthysell commented on #9441
Partner requests traction on this, preferably to backport a fix to 0.69.

[2022-11-09 18:12] jonthysell opened #10864 "RNW Dependency Script Looks for .NET Runtime, not the SDK"
### Problem Description

We need the .NET 6 SDK to build the Codegen, which doesn't come with a VS 2022 install.

The dependency script instead looks for the .NET 6 Runtime, which is not sufficient to build.

So it passes when it shouldn't.

### Steps To Reproduce

1. Try to build a C# app like E2ETest with the .NET6 runtime installed but not the .NET 6 SDK
2. See that it fails
3. Run the dependen

[2022-11-09 18:18] jonthysell opened #10865 "RNW Dependency Script messaging is not clear about VS requirements"
### Problem Description

RNW requires a certain minimum version of VS 2022 with certain component installed.

It's not clear from the messaging of the script that that's what's missing.

It just has messaging around "Retail version not found" instead of something like "VS not detected at all", "VS detected but is missing components/workloads".

### Steps To Reproduce

Run RNW script with a missing

[2022-11-09 18:29] jonthysell opened #10866 "RNW Dependency Script Says Choco is Required, but it's really only required if you want the script to install other dependencies"
### Problem Description

Choco is not necessary to build RNW or an RNW project. The dependency script shouldn't say that it's straight-up required.

It's really only needed by the script if you plan on letting the script install some *other* missing dependency.

The script should be modified to only prompt for choco install if

* Another dependency is missing, which we intend to use choco to insta

[2022-11-10 00:43] #10460 closed

[2022-11-10 02:25] chrisglein commented on #10842
From the discussion:

https://microsoft.github.io/react-native-windows/docs/ikeyboardprops-api

[2022-11-10 02:38] JunielKatarn opened #10870 "Support for ARM64EC platform in Desktop DLL"
### Summary

Allow `react-native-win32.dll` to be built for `ARM64EC` (ARM64 with x64 host app compatibility).

### Motivation

Known apps of `react-native-win32.dll` are not currently being fully built for raw native `ARM64`.
They currently built for `x64` and slowly providing `ARM64EC` ports.

In order to provide immediate compatibility for either platform on ARM64 devices, the most convenient m

[2022-11-10 19:21] jonthysell commented on #10870
While it may be true that Desktop needs ARM64EC, not clear that UWP needs it.

[2022-11-10 21:28] JunielKatarn commented on #10870
Agreed.
The branch I'm prototyping this on does not affect Universal projects.

While not impossible, it's very unlikely that an MSRN consumer/customer would be unable to build their app from source as ARM64.

[2022-11-10 22:48] #3283 closed

[2022-11-10 22:48] #5958 closed

[2022-11-11 11:54] rozele commented on #10131
Where is this load guard implemented?

[2022-11-11 11:58] rozele commented on #10118
isHighlighted is an iOS only prop that we don't need to implement for Windows. In fact, we recently noticed there was a bug in Fabric where it doesn't even work correctly on iOS 😅.

Agree with @NickGerleman that this should be disabled by default. Perhaps we should just hide it behind a #if that can be enabled when someone is doing parity investigations.

[2022-11-11 13:17] jbcullis opened #10876 "Uncaught error on "Network request not found""
### 404 unhandled

![image](https://user-images.githubusercontent.com/27532334/201347306-1e3943aa-9f02-4398-ac34-26ae1c7f7fbb.png)

### Steps To Reproduce

New project
Fetch to a bad address (eg. http://localhost/api/null)

### Expected Results

_No response_

### CLI version

70.4

### Environment

[code]

### Target Platform Version

_No response_

### Target Device(s)

Desktop

### Visual Studi

[2022-11-11 13:34] rozele commented on #3460
Re-opening, as this is technically still a bug for the composition-based NativeAnimated implementation and the tick-based implementation is opt-in.

For a temporary workaround use:
[code]