[2020-11-19 21:16] lyahdav opened #6584 "Using Picker as the first component in a Flyout causes it to not close when clicking in Flyout"
## Environment
1. `npx react-native --version`: 4.13.0
2. `npx react-native run-windows --info`:
[code]
3. `reg query "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock"`
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Run playground-win32 app and go to RNTester Flyout example
2. Modify Flyout example to have this Flyout: `<Flyout><View styl

[2020-11-19 22:14] #6576 closed

[2020-11-19 22:17] lyahdav commented on #2752
In case it's helpful for this conversation, here's my native module implementation of MenuFlyout:
- ContextMenuNativeModule.tsx: https://gist.github.com/lyahdav/8c9064aadc2a5d868097ca27a1c6207b
- ContextMenuNativeModule-win.cpp: https://gist.github.com/lyahdav/9f0e8910a3d1522f5b24f7ca276e50ff
- ContextMenuNativeModule-win.h: https://gist.github.com/lyahdav/c75d173b23e941c8b2c6f869821c22c3

Some no

[2020-11-20 00:48] nerocui commented on #6564
@NickGerleman Thanks for the tips. I tried both methods. The dependency script shows everything is fine. And switching to react-native-windows 0.63.10 didn't help either. The same error remains.

[2020-11-20 01:24] #6580 closed

[2020-11-20 02:00] chrisglein commented on #5076
PR has been merged, directory updated.

[2020-11-20 02:00] #5076 closed

[2020-11-20 02:56] asklar commented on #6489
Looks like you aren't blocked so let's close this issue - if you run into any other issues feel free to file again :)

[2020-11-20 02:56] #6489 closed

[2020-11-20 02:57] #6392 closed

[2020-11-20 03:27] #5763 closed

[2020-11-20 04:37] asklar commented on #6564
It sounds like your nuget restore got wedged in a bad state. Can you try the following:
1) delete your node_modules and re-run yarn to re-populate
2) delete Debug, bin and obj folders if there are any under your solution folder
Then try again? :)

[2020-11-20 05:25] asklar commented on #6435
I'm seeing something different. The app doesn't crash - it seems to be getting killed by the shell.
I attached a debugger to the app, and when the 2nd activation happens, both the app and the debugger are closed and the app is relaunched.
So... I'm not seeing the same behavior. If you can repro this with what we have in master and you can provide a repro app I'd be happy to take a look at it

[2020-11-20 05:25] #6435 closed

[2020-11-20 05:50] asklar commented on #6584
@lyahdav just wanted to confirm this is still an issue since you mentioned you were unblocked this afternoon. I don't see the picker when I move it around but I'm not sure if there's something different in my setup:
![image](https://user-images.githubusercontent.com/22989529/99764127-3dd6d700-2ab1-11eb-8591-3d442b880657.png)

[2020-11-20 05:52] asklar opened #6586 "[RNTester] button at bottom of page looks wrong"
Looks like the image is being "centered" around its top, left (which is the XAML behavior) as opposed to the center of the image (default for web):

![image](https://user-images.githubusercontent.com/22989529/99764280-91492500-2ab1-11eb-9822-eb01d320fe01.png)

[2020-11-20 05:54] asklar opened #6587 "[RNTester] Buttons at top look bad"
The buttons at the top of the RNTester UI are rounded but they're all different sizes, making it look awkward:
![image](https://user-images.githubusercontent.com/22989529/99764348-b6d62e80-2ab1-11eb-88dd-944a1b0063a1.png)

[2020-11-20 05:55] asklar opened #6588 "[RNTester] On Windows the buttons at the top should include Windows, not iOS & Android"
![image](https://user-images.githubusercontent.com/22989529/99764426-dff6bf00-2ab1-11eb-939b-c68d1d8238c0.png)

[2020-11-20 05:56] asklar commented on #6554
Closing this issue as it isn't blocking and there is an internal bug tracking

[2020-11-20 05:56] #6554 closed

[2020-11-20 07:20] rahman2835 commented on #6287
Hi Team,

any update on this defect. We have a GA release next month. Before that we have to fix this.

Thanks in advance.

[2020-11-20 11:09] petr7555 commented on #6531
I am afraid I won't be able to implement this functionality. I have no experience with UWP programming.
Which of these two guides is the relevant one for implementing this? https://microsoft.github.io/react-native-windows/docs/native-modules or https://microsoft.github.io/react-native-windows/docs/native-modules-setup?

[2020-11-20 13:15] NickGerleman commented on #6588
Dupe of https://github.com/microsoft/react-native-windows/issues/6314

When we discussed this, the overall thought was that it wasn't really worth the effort.

[2020-11-20 13:17] NickGerleman commented on #6586
Does this repro outside of islands?

[2020-11-20 14:49] caiovictor commented on #6563
Hi guys @NickGerleman @dannyvv @chrisglein @jonthysell, I have the same error as @getuliovdmnaweb , but when I create a constant using ReactConstantProvider:

![image](https://user-images.githubusercontent.com/16005238/99812488-479a2200-2b25-11eb-835a-a10706bda6ef.png)

This method I copied from that link:
https://github.com/microsoft/react-native-windows/blob/abee26d14b3ffed5210a97283a1353f38b0b1

[2020-11-20 17:08] NickGerleman commented on #6586
Hmm, I'm able to repro this in playground now, but not with Rex, and versions of Playground built last week didn't exhibit this behavior.

It looks like something broke very recently.

[2020-11-20 17:09] acoates-ms commented on #6587
This should be filed in the RN repo - Since this UI is owned by core.

[2020-11-20 17:29] NickGerleman commented on #6586
No apparent changes to either the RNTester component for this, or the Image component.

Repros both when using packager and a release bundle for XAML. Doesn't repro in either case for NetUI running much older native bits. Timing lines up with potentially happening during the last RN integration.

[2020-11-20 17:41] NickGerleman commented on #6586
Still reproes on 0cb98f4d8aae7434b5be41970e69d11ae9b980b2 so not a result of the recent integration

[2020-11-20 17:47] NickGerleman commented on #6569
The underlying issue can still be reproed after the change by killing the packager during a web debugging session. Different looking issue though, where the failure is in calling `GetDataReader()` in a message received callback.

[code]

[2020-11-20 17:57] NickGerleman commented on #6586
Does not repo on 6c96303249b236b1a828318239ae6cb541a31f8e (November 1st)

[2020-11-20 18:06] NickGerleman commented on #6586
Does repro on b9a14fb42022c24c6241da393cbec2543de3c856 (November 12th nightly build)

[2020-11-20 18:15] NickGerleman commented on #6586
Does not repro on 7ab4c7e0d778b3e011890fdaa644177ea7a9b1cd (November 6th nightly build)

[2020-11-20 18:23] NickGerleman commented on #6586
And... the lucky winner is @rectified95 and @kmelmon 😀

Reverting "#6451: Fix TextInput not rendering sometimes" from November 9th seems to fix the issue. Somehow setting `TextInputViewManager` to force relayout is causing this component to no longer be positioned consistently with other platforms.

[2020-11-20 18:36] NickGerleman commented on #6586
Relevant sources for the button in RNTesterNavbar.js

[code]

[code]

[2020-11-20 19:32] lyahdav opened #6591 "Flyout doesn't size to its content if no width/height is set in first child component"
## Environment
1. `npx react-native --version`: 4.13.0
2. `npx react-native run-windows --info`:
[code]
3. `reg query "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock"`
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Run playground win32 app
2. Go to Flyout example
3. Change the code so that no width/height is set on the Flyout's child Vie

[2020-11-20 20:01] NickGerleman commented on #6586
From @kmelmon

Context in https://github.com/microsoft/react-native-windows/issues/2642 related to why we need to force layout. Related to not doing layout throughout the entire tree for perf reasons.

Theory is that the extra `UpdateLayout` may be causing side effects that propagate into different areas.

[2020-11-20 20:25] NickGerleman commented on #6586
Going to try to take a quick stab at understanding more about this one

[2020-11-20 20:30] lyahdav commented on #6591
Note I found a quick workaround: add a `position: absolution` style to the first child view in Flyout.

[2020-11-20 21:00] NickGerleman commented on #6586
The `bookmarkIcon` Image width/height/margin seems to be correctly interpreted by Yoga and propagated to positions applied to the XAML element. This visually does not show when comparing to its parent. I.e. `ViewPanel.Left` and `ViewPanel.Top` are not visually accounted for when comparing to the parent `floatingButton` view.

![image](https://user-images.githubusercontent.com/835219/99848188-2f7ad

[2020-11-20 21:09] kmelmon commented on #6586
Thanks @NickGerleman.  Those ViewPanel properties are our own custom properties, they are not pushed into XAML until ViewPanel::ArrangeOverride() is called.  Can you confirm this is happening?  It would be the parent that arranges the child at its top/left that we're looking for.

[2020-11-20 21:40] kmelmon commented on #4037
This is now part of https://github.com/microsoft/react-native-windows/projects/39 and depends directly on #6343

[2020-11-20 21:42] kmelmon commented on #5841
This is now part of https://github.com/microsoft/react-native-windows/projects/39 and may depend on #5841

[2020-11-20 21:49] NickGerleman commented on #6586
Figured out a trick to break on the first run of `ArrangeOverride` for `floatingButton`. It seems to have a stable react tag of 473 on each startup, so I broken on VM creation of a ViewPanel from that tag, so I could track the this ptr ViewPanel we create for it.

At time of first arrange, child attached properties for left and top of the image are both zero, and we don't ever arrange again before

[2020-11-20 21:58] NickGerleman commented on #6586
Can confirm that left/top properties are correctly assigned in the first pass of `DoLayout` over the image node. So, the `Arrange` did happen before we were able to run layout on it.

[2020-11-20 22:30] kmelmon commented on #6586
Interesting.  It's weird that adding an extra measure of a cousin element is having this side-effect.  The arrange pass in XAML is incremental, based on dirty flags.  There could be a dirty flag bug in XAML, or something else going on that makes XAML think the relevant sub-tree is no longer dirty for arrange when it actually is dirty.

I'll take a crack at debugging through the XAML side of this a

[2020-11-20 23:09] NickGerleman commented on #6586
No change in behavior when changing this.

[2020-11-21 00:59] lyahdav commented on #6293
In case anyone looks at my code linked above in the future, it has a couple bugs. See my comments on https://github.com/microsoft/react-native-windows/pull/6565.

[2020-11-21 01:50] lyahdav commented on #6584
I got unblocked by adding another component (a close button) at the top of all our Flyouts that have a Picker as the first component, not ideal. Did you move the `<Picker>` in that example to the top of the Flyout but inside the container `<View>`?

[2020-11-21 04:41] nerocui commented on #6564
@asklar Thanks for the help. Unfortunately neither of the two methods worked for me.

[2020-11-21 05:14] kmelmon commented on #6586
Bug understood:

This code is making an incorrect assumption:

/*static*/ void ViewPanel::SetTop(xaml::UIElement const &element, double value) {
  element.SetValue(TopProperty(), winrt::box_value<double>(value));
  element.InvalidateArrange();

This is making the assumption that the ViewPanel is responsible for positioning itself.  This isn't correct.  It is the parent's responsibility for positio

[2020-11-21 07:45] #6586 closed

[2020-11-21 17:59] dstampher opened #6596 "App.js Type annotations can only be used in TypeScript files."
VSCode showing a red squiggly on line 27 of App.js boilerplate code generated by following the Get Started tutorial:  https://microsoft.github.io/react-native-windows/docs/getting-started

`Type annotations can only be used in TypeScript files.ts(8010)`

## Environment
react-native --version
4.13.1

react-native info
System:
    OS: Windows 10 10.0.19042
    CPU: (8) x64 Intel(R) Core(TM) i7-4790K

[2020-11-21 18:57] NickGerleman commented on #6596
This is an unfortunate artifact of the template app for react-native writing App.js in Flow instead of TypeScript or raw JS. It will confuse VSCode, and likely other editors that aren't able to work with Flow. This happens when building an iOS or Android app as well.

There are some instructions in our documentation to use a typescript template instead of flow, but IMO the default should be that o

[2020-11-21 19:11] dstampher commented on #6596
@NickGerleman Thanks for the explanation.  Luckily everything still builds/runs fine, I just changed the line from const App: () => React$Node = () => { to const App = () => { and it seems to remove the error and still work as well.

I'll look into using the Typescript template like you mentioned though.

[2020-11-21 21:34] NickGerleman opened #6597 "@typescript-eslint/no-unnecessary-condition errors in GenerateNM2.ts"
There are a number of places in the file with the following pattern:

[code]

The TypeScript compiler seems to always evaluate `param.typeAnnotation.name`, so it believes we will always throw an error in this case. Unsure if this is an issue with tscodegen typings or faulty logic in GenerateNM2.

[2020-11-22 02:52] asklar opened #6599 "Opening Microsoft.ReactNative.sln in VS triggers design-time bundling"
VS triggers a design-time build (for intellisense) and we are wrongly calling the bundler which takes several minutes, hanging VS.
The bundle being packaged is TurboModuleTests.js

Note that this hang *also* happens every time you switch Debug/Release or architecture.

[2020-11-22 12:29] sumitparakh commented on #3774
Hi @kmelmon and @chrisglein  , I would like to contribute to this task with your permission.

[2020-11-22 20:23] kmelmon commented on #3774
@sumitparakh Thanks and feel free to jump on this!  Note that the developer menu has has a bunch of improvements made since this task was filed.  I would recommend trying out the latest version and confirming this functionality is still missing.  If so, feel free to fix and submit a pull request, we can review and merge it.

[2020-11-23 10:52] dstampher opened #6601 "Unable to resolve module `./debugger-ui/debuggerWorker.aca173c4`"
Get Started boilerplate builds/runs, but there is this error in the npm shell that runs after executing react-native run-windows on a fresh install, following the docs.

Error: Unable to resolve module `./debugger-ui/debuggerWorker.aca173c4` from ``: ./debugger-ui/debuggerWorker.aca173c4 could not be found within the project.

If you are sure the module exists, try these steps:
 1. Clear watchman

[2020-11-23 16:09] #6599 closed

[2020-11-23 16:13] NickGerleman commented on #6601
This error has to do with a CLI bug recently fixed in [@react-native-community/cli 4.13.1](https://github.com/react-native-community/cli/releases/tag/v4.13.1). The error itself should be ignorable, but you should be able to avoid it by clearing your browser cache or updating your resolved CLI version to that version. Theres some more context in https://github.com/facebook/react-native/issues/28844

[2020-11-23 17:23] acoates-ms opened #6607 "Move CLI from `inquirer` to `prompts`"
https://github.com/react-native-community/cli/pull/1010 moved the RN cli from `inquirer` to `prompts`.  We should move our CLI tools to `prompts` too to avoid additional packages.

[2020-11-23 17:51] NickGerleman commented on #6607
Heh, `prompts` has better typings too. I remember moving to inquirer because it was being used in the CLI at the time 😆 ,

[2020-11-23 18:23] dstampher commented on #6601
@NickGerleman I had an older version of react-native-cli installed globally in npm.  Deleting that, and installing the latest version of that package with yarn fixed the problem.  Thank you.

[2020-11-23 18:42] #6596 closed

[2020-11-23 18:42] #6601 closed

[2020-11-23 19:22] asklar commented on #6597
the issue is that the typing information is wrong, so the condition is right

[2020-11-23 19:26] asklar commented on #6591
Could be an issue with the flyout viewmanager not setting the constraints properly. CC @kmelmon in case this looks familiar?
Putting in backlog as it isn't blocking right now.

[2020-11-23 19:30] #6588 closed

[2020-11-23 19:30] jonthysell commented on #6563
The NativeModuleSample builds just fine but does not match what's in the docs.

[2020-11-23 19:44] asklar commented on #6564
A few possible bugs identified:
CC @dannyvv This could be due to the codegen project using .netcore 3.x, which might be missing?
If there are more than one VS install, then the CLI will pick the newer one, without checking whether it has the managed desktop payload

@nerocui could you try launching the VS Installer tool and manually selecting the following options, let it install them, then retry?

[2020-11-23 19:50] asklar commented on #6492
@gat786 RNW currently supports an .svg format files used in an `Image` component, but support for the full react-native-svg library is not there yet.

[2020-11-23 19:52] asklar commented on #6436
Can you also share more information about the crash that you are seeing? It's still unclear what you mean by multiple frames, out of the box we only ever create one window.

[2020-11-23 19:55] asklar commented on #3183
This DLL is produced and used for internal use only.

[2020-11-23 19:59] asklar commented on #6495
Please try version 0.63.10 and if it does not work please file a new bug

[2020-11-23 20:27] nerocui commented on #6564
@asklar thanks for the suggestion, I've looked, all those options are already installed.

[2020-11-23 21:00] #6351 closed

[2020-11-23 23:01] jonthysell commented on #6563
The documentation has been updated to reflect the working sample. Please re-open if the new code doesn't work.

[2020-11-24 07:34] elcssmouhsine commented on #6433
@jonthysell @asklar

any help concerning this, we are making an exam app for our students and I need to make a custom native component

[2020-11-24 07:42] asklar opened #6610 "Restore telemetry string for exitCode"
we used to log the string, this changes behavior to log the number - can we please restore this one?

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows/pull/6598#r529259943_

[2020-11-24 13:42] getuliovdmnaweb commented on #6563
This is the Example:
![image](https://user-images.githubusercontent.com/65790521/100101862-91467d80-2e41-11eb-8c6e-b502edc62811.png)
This is the Error:
![image](https://user-images.githubusercontent.com/65790521/100101961-b20ed300-2e41-11eb-9771-3fed74cece18.png)

[2020-11-24 13:42] getuliovdmnaweb commented on #6563
@jonthysell

[2020-11-24 13:56] sumitparakh commented on #3774
@kmelmon , I've created a react-native windows app by following [this](https://microsoft.github.io/react-native-windows/docs/getting-started) tutorial and you were right. Now the escape key also dismisses the Developer Menu.

Can we close this issue now?

![image](https://user-images.githubusercontent.com/4236211/100103392-d80c9580-2e8a-11eb-9218-259b7a7f2034.png)

[2020-11-24 14:07] sumitparakh commented on #5931
Hi, is this issue still relevant? Can I pick it?

[2020-11-24 17:06] chiaramooney commented on #5768
PR Merged

[2020-11-24 17:06] #5768 closed

[2020-11-24 18:45] #6581 closed

[2020-11-24 18:49] creambyemute commented on #4027
Sorry for chiming in here as an extern, but I had some thoughts I had to get rid of regarding FS in React-Native:

- joltup/RN-Fetch-Blob is unmaintained
   - Mostly iOS/Android relevant
- React-Native-FS has been ummaintained and plagued with issues since for some months now (for example write/readFile performance on Android due to JS-Thread encoding/decoding).
   - Mostly Android relevant.
- Bot

[2020-11-24 18:50] jonthysell commented on #6563
@getuliovdmnaweb Can you post a link to your project source? It think this has less to do with the code and more to do with the structure of the solution/project files.

[2020-11-24 20:00] kmelmon commented on #3774
@sumitparakh thanks for verifying!  Closing.

[2020-11-24 20:00] #3774 closed

[2020-11-24 21:50] jonthysell commented on #3278
Looking at the 7.0.0-preview4 now. The UI threading issues has nothing to do with LottieWindows and were just how I wrote my prototype - explicitly dispatching everything on the UI thread to avoid thread mismatch issues and just prove I could get their example app up and running. I have since then gone through and redone the threading properly.

[2020-11-25 07:36] luori-mvp77 commented on #6601
I update react-native-cli to lastest version, but still find the error.
xxxxxxxx@luori-4-HVM-domU:~/_fly/workspaces/rnworkspace/secondapp$ yarn list --pattern @react-native-community/cli
yarn list v1.22.10
├─ @react-native-community/cli-debugger-ui@4.13.1
├─ @react-native-community/cli-hermes@4.13.0
├─ @react-native-community/cli-platform-android@4.13.0
├─ @react-native-community/cli-platform-ios@

[2020-11-25 09:12] BartoszKlonowski commented on #6281
@asklar @chrisglein  I would like to work on this issue, so please assign me to it.

[2020-11-25 09:55] jaimecbernardo commented on #5314
The PDF printing PR has been merged: https://github.com/christopherdro/react-native-print/pull/121
The HTML printing functionality still needs to be revisited.

[2020-11-25 11:08] BartoszKlonowski commented on #6564
@asklar  I've been facing the same issue for a while, when launching the app using command line or Visual Studio, but I've found out that **it is possible to launch build and launch successfully using Visual Studio Code**.

What I did was:
* `npm install`
* go to VS Code, add basic *.\.vscode\launch.json* settings:
[code]
* launch the app by pressing F5

I've been trying to launch the same app "ma

[2020-11-25 12:22] BartoszKlonowski commented on #6564
@asklar @nerocui  I've made some more test builds and the conclusion is that the build will fail when doing `yarn install`, but it will build successfully (no matter if running from VS Code, or terminal, and no matter what arguments are given) with `npm install`.
So most probably there's something wrong with how Yarn installs the packages.

The next thing to do is to check what are the differences

[2020-11-25 14:01] getuliovdmnaweb commented on #6563
@jonthysell Hello, here is the link to a github repository with the example
https://github.com/getuliovdmnaweb/NativeModuleSample

[2020-11-25 19:24] jonthysell commented on #6563
As per the docs and samples, please remove `public sealed` from your module class, so that it defaults to an `internal` class.

[code]

Making a public WinRT class exports that class externally (to be consumed directly by any WinRT app/lib) however this requires that all public members and methods only use publicly available WinRT types. The types in `Microsoft.ReactNative.Managed` (such as `JSVal

[2020-11-25 19:24] #6563 closed

[2020-11-25 19:44] NickGerleman opened #6620 "Information in @react-native-windows/cli README should be in a public README"
We've added some information about usage and data collection to the README for @react-native-windows/cli. https://www.npmjs.com/package/@react-native-windows/cli This package is private, and its README will not be seen by users. We should find a new home for these, if we need to make anything visible.

[2020-11-26 01:23] rectified95 commented on #6494
If we're mentioning Text borders, let's also mention backgroundColor for it.

[2020-11-26 02:13] dstampher opened #6624 "Adding react-native-windows to an existing react-native project with expo?"
Like the title says, I have an expo app, and I would like to be able to add react-native-windows to it so that I can execute npx react-native run-windows.  Following the Get Started docs creates a new blank application, which is not what I am looking for in this case.

What are the proper steps of accomplishing this?

[2020-11-26 10:24] BartoszKlonowski opened #6625 "Monorepo page not found when reading the docs"
## Environment
Not applicable as the issue is with docs source.

## Steps To Reproduce
1. Enter the [building-rnw.md](https://github.com/microsoft/react-native-windows/blob/master/docs/building-rnw.md) page in docs
2. Try to enter the *this page* link to read more about Monorepo

## Expected Results
Monorepo details for RNW page is open.

---

404 is received, but the *monorepo.md* page is availab

[2020-11-26 17:16] nerocui commented on #6564
@BartoszKlonowski So I do have yarn install on my machine. But I did not use `yarn install` for installing the packages. I then uninstalled yarn and tried again, still with the same error. So I don't think my issue specifically has anything to do with yarn.

[2020-11-26 17:53] BartoszKlonowski commented on #6564
@nerocui  It's not about Yarn being installed on the machine or not, but about which tool is used as a package installer. Looking at the *Steps to reproduce* part of your issue, I can see you did not install packages at all, as you are making a new project, but packages are installed by default.
What you can do, according to my findings, is:
* delete all the node_modules
(they are downloaded by de

[2020-11-26 18:18] nerocui commented on #6564
@BartoszKlonowski My fault not including my steps in the reply. I did delete node_modules and installed packages with `npm install` then `npx react-native run-windows`. Same error.

[2020-11-26 19:29] creambyemute commented on #5975
@chrisglein The main repo (terrylinla) is unfortunately not really maintained anymore.

I have a repo that is 2 commits ahead and fixes 2 **serious** problems on iOS (memory leaks and a fix for onPathChange not being fired on iOS): https://github.com/creambyemute/react-native-sketch-canvas

If this gets implemented for windows, would you either mind doing it on top of my fork (I know, unlikely), g

[2020-11-26 21:46] #6625 closed

[2020-11-27 12:00] #5792 closed

[2020-11-27 12:00] #5534 closed

[2020-11-27 12:00] #5116 closed

[2020-11-27 12:00] #3674 closed

[2020-11-27 12:00] #3522 closed

[2020-11-27 12:00] #2810 closed

[2020-11-27 12:00] #2347 closed

[2020-11-27 12:00] #2452 closed

[2020-11-27 18:28] creambyemute opened #6627 "Support react-native-restart"
# Support `react-native-restart` on RNW

It's a pretty small module and already has a C# implementation, would it be hard to bring that over to C++?

## Basic Info
- Module Repo URL: https://github.com/avishayil/react-native-restart
- Target version: ?
- [x] Issue exists on module repo ([#145](https://github.com/avishayil/react-native-restart/issues/145))
- [x] Module has a Legacy/C# implementatio

[2020-11-30 18:41] stmoy commented on #5975
👋 - hi @creambyemute! Great to hear that you're working on supporting RNW!

We were worried that the main repo wasn't really maintained, but chose that one specifically because the customer requested that repo.

@syedibrahimt - if you can move to the fork, we could port these changes over there.

Either way, @creambyemute, please do feel free to grab the windows implementation and let us know if y

[2020-11-30 18:56] NickGerleman opened #6631 "react-native-windows-init --useDevMode should work with unpublished versions of RNW"
The current strategy of link `react-native-windows` + add a version as a dependency to package.json doesn't work when trying to install a version that doesn't exist in the npm registry due to `yarn install` errors. This can happen when locally validating a release.

A quick change to fix this is to set a wildcard as the dependency version when using `yarn link`.

[2020-11-30 18:57] NickGerleman opened #6632 "Automatic Release Note Creation Failed in 0.64-stable Branch"
The task to create automated release notes failed for the first publish of the 0.64-stable branch. Beachball did correctly push Git tags, but the changelog creation script doesn't seem to locally find a new local tag without release notes. https://dev.azure.com/ms/react-native-windows/_build/results?buildId=125090&view=logs&j=bd0c9a5d-cce5-5ddc-8479-a97ca35bf82d&t=885808f2-8cab-58f0-ee91-26bf630ac

[2020-11-30 19:10] chrisglein commented on #6627
Didn't realize this already had a C# windows implementation (it's isn't listed in [the directory](https://github.com/avishayil/react-native-restart)). That should make this an easy port.

If you're at all interested on taking this on yourself we have had some modules go through the C# -> vnext C++ transition lately and so there should be good examples to reference.

@stmoy Maybe include some of th

[2020-11-30 19:13] chrisglein commented on #6624
We don't yet support the set of expo modules you'd need to run the same app with react-native-windows. It's something we'd love to support (and [Snack support](https://github.com/microsoft/react-native-windows/issues/5173) too!), but won't work today. A good ask for the future roadmap, though. You could try logging an issue against the expo repo to make your desire for this clear, though, as it'll

[2020-11-30 19:13] #6624 closed

[2020-11-30 19:21] chrisglein commented on #6620
Some decisions need to be made here about where this should show up. We could elevate important information into the main readme (it's present in other places, but redundancy isn't bad here). Other things like the command line arguments are covered in the website. Is there a canonical place to put this content?

[2020-11-30 19:23] chrisglein commented on #6601
@luori-mvp77 This issue is closed as the original author seems unblocked. If you're still hitting this can you open a new issue that captures your whole environment information (and add a link to this one)?

[2020-11-30 21:00] #6347 closed

[2020-11-30 23:02] #6610 closed

[2020-12-01 00:03] kmelmon opened #6634 "Use Canvas.Top/Left for positioning Views instead of custom DP"
This was discovered while fixing:
https://github.com/microsoft/react-native-windows/issues/6586

Our current layout code for positioning Views uses a custom DependencyProperty and overrides ArrangeOverride to position children.  See:
https://github.com/microsoft/react-native-windows/blob/26eac15f92dca279f78e9280ebe0aa4db9d81749/vnext/Microsoft.ReactNative/Views/ViewPanel.cpp#L160

This was not a g

[2020-12-01 04:34] syedibrahimt opened #6637 "Support react-native-calendars"
# Support `react-native-calendars` on RNW

## Basic Info
- Module Repo URL: [link to repo](https://github.com/wix/react-native-calendars)
- Target version: react native 0.63
- [ ] Issue exists on module repo (if so, [link]())

- [ ] Module has a Legacy/C# implementation (if so, [link]())

## Which app/customer is requesting this module?

BackPack - Knomadix corporation

## In what scenarios will t

[2020-12-01 04:45] syedibrahimt opened #6638 "Support react-native-tts"
# Support `react-native-tts` on RNW

## Basic Info
- Module Repo URL: [link to repo](https://github.com/ak1394/react-native-tts)
- Target version:
- [ ] Issue exists on module repo (if so, [link]())

- [ ] Module has a Legacy/C# implementation (if so, [link]())

## Which app/customer is requesting this module?

BackPack - Knomadix corporation

## In what scenarios will this module be used?

The ap

[2020-12-01 06:34] sakthivel-servicemax opened #6640 "Related to Text Focus."
Having Text Focused and tapping outside on TouchapeOpacity, it is not taking action. First focus lost is what happening then on next click only, it is taking the action. Is it intensional? It was not there before.

Environment Info:
**npx react-native --version:** 4.13.1
**npx react-native run-windows --info:**
System:
    OS: Windows 10 10.0.19041
    CPU: (6) x64 Intel(R) Core(TM) i7-9750H CPU @

[2020-12-01 10:18] BartoszKlonowski opened #6641 "Contributing to the CLI - Creating initial example project fails for repo version"
I'm following the guide for [Contributing to the CLI](https://github.com/microsoft/react-native-windows/wiki/Contributing-to-the-CLI) and I'm trying to create the test application so I can debug my changes.
But the issue is that when creating the initial project, just like described [here](https://github.com/microsoft/react-native-windows/wiki/Contributing-to-the-CLI#1-create-the-initial-project):

[2020-12-01 18:11] creambyemute commented on #4140
[#1081 on RN-GH](https://github.com/software-mansion/react-native-gesture-handler/issues/1081) contains a temporary solution to get RN-GH + React-Navigation not crashing the app on RN-Windows.

This is just a reference link for ppl to stumble upon.

[2020-12-01 18:12] creambyemute commented on #4152
Temporary solution would be to just not `enableScreens()` on Windows. I made a `App.windows.tsx` removing the rn-gh import and the react-native-screens import/enabling.

[2020-12-01 19:02] creambyemute commented on #6627
@chrisglein If there's some guidance, I might really give it a try this weekend as it's such a small module with almost no code :-). Though will be my first time with C++ 👍

[2020-12-01 19:16] creambyemute commented on #5975
@stmoy No worries, I already merged it in my repo and autolinking seemed to work 🔥 !
I haven't really maintained my repo either apart from the iOS Memory leak fixes and at the moment the original implementation + my iOS fixes work fine for me.

I'm a bit reluctant atm to change stuff there if not absolutely needed. Though I'll give the PR's in the original repo a look to see if there's something s

[2020-12-01 22:57] CarpeDiEmma opened #6645 "allowRTL (and forceRTL) set in index.tsx file won't get set early enough to be used"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.13.0
2. `npx react-native info`:
System:
    OS: Windows 10 10.0.19042
    CPU: (20) x64 Intel(R) Xeon(R) W-2255 CPU @ 3.70GHz
    Memory: 41.07 GB / 63.69 GB
  Binaries:
    Node: 10.15.0 - C:\Program Files\nodejs\node.EXE
    Yarn: Not Found
    npm: 6.4.1 - C:\Program Files\nodejs\npm

[2020-12-01 23:57] aschultz commented on #2784
@harinikmsft It'd be good to get a final update on here as to the expected behaviors for tab nav. Originally the desire was to match web behavior:
- tabIndex=-1 to disable tabbing
- tabIndex=0 to enable tabbing with default order
- tabIndex=N to enable tabbing and use specific ordering

The behavior as implemented (and presumably by design) is now:
- `tabIndex=-1` is an error
- `tabIndex=N` (inclu

[2020-12-02 00:02] chrisglein commented on #6444
At this point I believe we've taken this change into 0.64 but not backported further than that. Now that 0.64 first preview is out, we have a clear release candidate to evaluate native module compatibility against.

[2020-12-02 08:23] asklar commented on #6641
@BartoszKlonowski you're passing the version of `react-native-windows` to `react-native init`, but you're supposed to use the version of `react-native` instead (it's lower down in the package.json file)
[code]

[2020-12-02 08:23] asklar commented on #6640
can you please share your environment/version info

[2020-12-02 08:25] asklar commented on #6637
@syedibrahimt you can use [react-native-datetimepicker](https://github.com/react-native-datetimepicker/) instead

[2020-12-02 08:28] asklar commented on #6645
from your description it sounds like `I18nManager.allowRTL` should not only set the property but do a one-time traversal of existing elements to reset their RTL-ness

[2020-12-02 08:30] sakthivel-servicemax commented on #6640
@asklar updated the environment info.

[2020-12-02 11:31] jaimecbernardo commented on #5311
The PR porting the code to C++ has been merged: https://github.com/react-native-device-info/react-native-device-info/pull/1113

The PR supporting additional functionality on Windows has been merged as well: https://github.com/react-native-device-info/react-native-device-info/pull/1122

[2020-12-02 12:34] BartoszKlonowski commented on #6166
@asklar / @chrisglein  Please assign me to this item, so I can work on it.

[2020-12-02 17:26] creambyemute opened #6651 "Support redux-persist-fs-storage (JS-Only)"
# Support `redux-persist-fs-storage` on RNW

**It's basically already done, JS-Changes review desired**

It's a FSStorageAdapter acting like AsyncStorage (methods). It uses react-native-fs under the hood.

The only changes needed are in the index.js for Windows path compatibility anf fs-checks (like .exists before .mkdir). I've already done some and would like someone to quickly cross-check.

Have

[2020-12-02 18:54] CarpeDiEmma commented on #6645
I think that would be an ideal scenario, but I could see that being costly. A way to somehow set the allowRTL to true before any of the native root creation or rendering (which seems to need to be done in native or a config file) might be a good workaround or easy fix. It's mainly that the system acknowledges that it's rtl but we never get to pass that along because it gets blocked by the allowRTL

[2020-12-02 20:44] gary-hu-ms opened #6652 "Control with "AccessibilityRole" automatically get tab focus no matter the value of focusable prop"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.13.0
2. `npx react-native info`:
  System:
    OS: Windows 10 10.0.19042
    CPU: (8) x64 Intel(R) Xeon(R) CPU E3-1240 v3 @ 3.40GHz
    Memory: 6.07 GB / 15.76 GB
  Binaries:
    Node: 10.18.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.9.4 - C:\Program Files (x86)\Yarn\bin\yarn.CMD

[2020-12-02 21:19] #6281 closed

[2020-12-03 04:18] asklar opened #6656 "Dev Menu flickers when invoked with Ctrl+Shift+D"
![test63 2020-12-02 20-15-08_Trim](https://user-images.githubusercontent.com/22989529/100963580-7fb54380-34db-11eb-9cf9-1ce2d5d67090.gif)

[2020-12-03 05:04] asklar opened #6658 "Remove legacy "deploy from layout" codepath once a new VS has enough usage"
Could we file a new issue to remove the legacy deploy cruft once a new VS has enough usage? E.g. the custom deploy targets, or deploy specific code in `buildProject` and `buildSolution`.

_Originally posted by @NickGerleman in https://github.com/microsoft/react-native-windows/pull/6594#discussion_r528276577_

[2020-12-03 14:47] syedibrahimt opened #6667 "Support react-native-progress"
# Support `react-native-progress` on RNW

## Basic Info
- Module Repo URL: [link to repo](https://github.com/oblador/react-native-progress)
- Target version: react native 0.63
- [ ] Issue exists on module repo (if so, [link]())

- [ ] Module has a Legacy/C# implementation (if so, [link]())

## Which app/customer is requesting this module?

BackPack - Knomadix corporation

## In what scenarios will

[2020-12-03 14:51] syedibrahimt opened #6668 "Support react-native-chart-kit"
# Support `react-native-chart-kit` on RNW

## Basic Info
- Module Repo URL: [link to repo](https://github.com/indiespirit/react-native-chart-kit)
- Target version:
- [ ] Issue exists on module repo (if so, [link]())

- [ ] Module has a Legacy/C# implementation (if so, [link]())

## Which app/customer is requesting this module?

Knomadix corporation

## In what scenarios will this module be used?

[2020-12-03 15:44] MichaReiser commented on #3670
Hy everyone. I'm collecting issues related to Metro on Windows to understand how I can improve the developer experience.

Would someone be able to create a minimal repo and create a new issue in the [Metro repository](https://github.com/facebook/metro)? I can't promise you that I'll have the time to work on it right away but am assembling a list of the most blocking issues. Please let me know (or

[2020-12-03 16:16] MichaReiser commented on #5424
This would need to be fixed in the `react-native-cli`

https://github.com/react-native-community/cli/blob/b4ff7e9858c0493b162443ecb1147bd9dd2a6381/packages/cli/src/tools/releaseChecker/getLatestRelease.ts

[2020-12-03 19:11] chrisglein commented on #6667
It won't help you with a circular progress control, but if you just need a horizontal progress control to unblock in the meantime you we do have Windows support for [progress-view](https://github.com/react-native-progress-view/progress-view).

[2020-12-03 19:12] chrisglein commented on #6658
@asklar I saw some updates on deploy from layout being adopted. Do we have a release timeline for that?

[2020-12-03 19:14] chrisglein commented on #6652
@kmelmon Was it you that was talking about this yesterday? Or was it @rectified95? I remember some discussion about tab focus being possible even when focusability was disabled.

[2020-12-03 19:17] chrisglein commented on #6651
@creambyemute If I understand correctly you mostly have this buttoned up and are looking for some additional eyeballs on it to help get it merged into the main repo for redux-persist-fs-storage? Let me know if I'm misunderstanding. We'd be happy to help!

[2020-12-03 19:20] chrisglein commented on #6645
@NickGerleman I hear you have come up with a workaround with this. Can you describe that here so that anyone else who hits it can be unblocked until we make the proper fix?

[2020-12-03 19:22] chrisglein commented on #6641
@BartoszKlonowski Are you unblocked with that? Do we need a change to the documentation to help with clarity?

[2020-12-03 19:24] creambyemute commented on #6651
@chrisglein Yeah exactly. Mainly for some eyeballing over the JS as I had to add the OSPathSeperator and a `.exist`+`.mkdir` check before writing.

RN-FS which is used, is using avmoroz Win 10 C++ Implementation. He has a PR open on the RN-FS repo.

[2020-12-03 19:25] chrisglein commented on #6637
Likely will involve wrapping the built in XAML [CalendarView](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.CalendarView?view=winrt-19041) control.

[2020-12-03 19:32] creambyemute commented on #6667
If no progress indicator (how far are we) is needed, but just activity, then the ActivityIndicator is also not a bad choice. Looks pretty dandy with a good color.

We're using that + showing 5 / 27 Images downloaded (for example)

[2020-12-03 19:32] chrisglein commented on #6640
@sakthivel-servicemax Specifically do you mean on a particular previous version of RNW?

Trying to visualize your repro here. Do you mean on a `TextInput`? If there happens to be overlap in what you're describing that doesn't require RNW-specific APIs can you sketch together a [snack](https://snack.expo.io/)? Or include some snippet of your JS for us to look at?

That'd help, but what I think you'

[2020-12-03 21:12] kmelmon commented on #6652
@chrisglein yes this is the issue I was working with Gary and Lam on.  @lamxdoan  said he would try to submit a PR to fix this.

[2020-12-03 21:12] asklar commented on #6658
@chrisglein The PR for 6594 should keep older VS versions working, but opt to use the now-built-in tool that VS implemented, on the versions that have them. So that PR is mergeable anytime really.

[2020-12-03 21:14] lamxdoan commented on #6652
@chrisglein @kmelmon yes I'll be submitting a PR soon. I'll also be sending one to backport down to 0.63

[2020-12-03 22:15] goatandsheep opened #6673 "Error: Unable to resolve module `./debugger-ui/ui.e31bb0bc.js` from ``: ./debugger-ui/ui.e31bb0bc.js could not be found within the project."
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.13.1
2. `npx react-native info`:

[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

I'm very new to react native windows and not sure what I'm building for. I think i'm targetting x86? I want it to work on Windows. I looked around to see if there w

[2020-12-03 23:13] NickGerleman commented on #6652
We would not want to backport this change. There was a teams thread where someone mentioned they were assuming accessibility label is what led to their components being focusable. Removing focusability of existing components in a patch release is a large behavior change.

[2020-12-04 00:15] lamxdoan commented on #6652
Ah that's unfortunate. I guess we'll make the change for 0.64 only then.

@gary-hu-ms @aschultz fyi

[2020-12-04 00:34] NickGerleman opened #6674 "Bumps to @react-native-windows/telemetry will not cause new versions of react-native-windows-init to be released"
Filed issue https://github.com/microsoft/beachball/issues/451

[2020-12-04 01:30] asklar opened #6675 "revisit nconfig"
leaving this vague for now on purpose, we can discuss this offline

[2020-12-04 01:56] licanhua opened #6676 "Remove Appium and WinAppDriver dependency from rnw-dependencies.ps1."
Because of PR #6636 , appium and winappdriver is removed from the project. we need to update rnw-dependencies.ps1 too

[2020-12-04 02:14] NickGerleman commented on #6640
Do the symptoms of this issue sound familiar? https://github.com/microsoft/react-native-windows/issues/5867

A fix will be in an upcoming 0.63 patch release.

[2020-12-04 05:47] NickGerleman commented on #6673
The error in the title is a bit of a read hering, and is usually ignorable. You can usually get around it by clearing your browser cache, and updating all packages (e.g. Delete node_modules and your lockfile) as described in the bottom of this thread https://github.com/react-native-community/cli/issues/1081#issuecomment-737800774

If those steps don't work, it could be worth adding your voice to t

[2020-12-04 06:05] sakthivel-servicemax commented on #6640
@NickGerleman Yes. It is same as you mentioned. Thanks for taking it to fix already.

[2020-12-04 09:45] asklar commented on #6331
In the meantime, you can work around this issue by taking ownership of the following regkey:
Computer\HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\MsSense.exe

1. open regedit
2. navigate to `HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Image File Execution Options\MsSense.exe`. You will get an error that it cannot be opened, ignor

[2020-12-04 10:32] asklar commented on #6331
Alternatively here's how to script it from Powershell:

[code]

[2020-12-04 10:39] BartoszKlonowski commented on #6641
Thank you for asking, @chrisglein. I've decided to use the default version by not specifying any version and it worked fine.
But thanks to @asklar  explanation I'm completely unblocked now, so I can close this issue now.
Thank you!

[2020-12-04 10:39] #6641 closed

[2020-12-04 21:50] soettl opened #6681 "Provide better ways to analyze React Native performance on Windows"
# Proposal: Provide better ways to analyze React Native performance on Windows

## Summary
Currently, it is hard to analyze performance of React Native on Windows applications. Existing tools are either too low-level (like Windows Performance Analyzer with which it is hard to gain insight into JavaScript issues) or are too high-level (the Chromium dev tools for React Native only give insight into

[2020-12-04 21:53] asklar commented on #6681
marking area:Performance

[2020-12-05 01:15] kmelmon commented on #3670
Thanks @MichaReiser.  This issue is likely not as noticeable nowadays, due to a change @acoates-ms made a while back:
 https://github.com/react-native-community/cli/pull/1115
@chrisglein  I was unable to repro this using the original repro steps, and do not know of a way to repro with current bits, closing

[2020-12-05 01:15] #3670 closed

[2020-12-05 02:03] kmelmon opened #6682 "E2E test: Clicking on hyperlinks crashes test app"
We have a possible product bug here.  The bug manifests when a treedump comparison test fails and you try to click on the hyperlinks related to getting test comparison results.

Repro Steps:
1) First you'll need a change to one of the tests that will produce a test master failure.  I've pushed a branch here that does that:
https://github.com/kmelmon/react-native-windows/tree/test-master-fail
2) Bu

[2020-12-05 02:20] kmelmon opened #6684 "CI Loop: tree dump comparison file not being uploaded as artifacts"
@chiaramooney  ran into this issue while working on:
https://github.com/microsoft/react-native-windows/pull/6609

The problem we're seeing is that when one of the E2E tests fails a master treedump comparison, the comparison file is not being uploaded as a test artifact.  This makes it impossible to see what actually failed by looking at the logs.

I created a little PR to repro this issue here:
ht

[2020-12-05 02:49] #6182 closed

[2020-12-05 04:56] #6631 closed

[2020-12-05 05:33] #5931 closed

[2020-12-05 06:18] #6575 closed

[2020-12-05 06:46] asklar commented on #6684
https://dev.azure.com/ms/react-native-windows/_build/results?buildId=126297&view=logs&j=d748dad3-a0b7-5fdb-711c-b2cdfdfc24a4&t=927661ef-c977-523f-48c0-326d34d7e9ac&l=9
[code]
This is because the publisher was changed in #6125 which changed the Package Family name.
We should be careful when updating things like app name/PFN since it has downstream implications like this one.

[2020-12-05 11:25] asklar opened #6687 "Cannot build release e2eTest in Visual Studio"
In VS, OutDir is a relative path for C# projects, e.g. `bin\x86\Release`
[code]

Therefore `BundleSourceMapDir` ends up wrongly pointing under the VS install dir

[2020-12-05 11:28] asklar opened #6688 "Bundling should not re-run when no changes to JS files"
react-native bundle should collect a list of the JS files it traversed and that list fed into the `MakeBundle` inputs so that we can skip bundling when there are no JS changes

[2020-12-05 14:46] matevzpoljanc-spin opened #6689 "useWindowDimensions hook always returns fixed values"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.13.1
2. `npx react-native info`:
System:
    OS: Windows 10 10.0.18363
    CPU: (12) x64 Intel(R) Core(TM) i7-6850K CPU @ 3.60GHz
    Memory: 24.39 GB / 47.91 GB
  Binaries:
    Node: 12.9.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.4 - C:\Program Files (x86)\Yarn\bin\yarn.CMD

[2020-12-05 17:52] goatandsheep commented on #6673
yeah. there's some sort of network error, but I can't diagnose it because of the debugger error. and clearing my browser cache didn't help. I deleted node_modules and yarn lock (you can see from pushes), yet the issue remains so I don't understand what is wrong. I have setup a proxy server for the URL and set mode: 'cors', so i'm not sure why the fetch is giving an error.

[2020-12-05 21:52] asklar opened #6690 "Could not copy package.json.dummy in CI"
Lots of FS contention in CI runs:
[code]

https://dev.azure.com/ms/react-native-windows/_build/results?buildId=126324&view=logs&j=1e181896-1839-5e51-5c05-797b2ae792b3&t=c5fa9d7c-258b-5c3a-dd65-f3b6426ffcc4&l=2551

[2020-12-05 22:05] asklar opened #6691 "JsUpToDateCheck created at the root of the drive"
[code]
RootIntDir is empty:
https://dev.azure.com/ms/react-native-windows/_build/results?buildId=126324&view=logs&j=d748dad3-a0b7-5fdb-711c-b2cdfdfc24a4&t=96e94512-4f28-508b-2dac-2e7d37097e40&l=2949

[code]

[2020-12-05 22:49] asklar commented on #6682
The inlines that are involved in the links are created outside react native, they're created in code by the C# app directly, so they will not have RNW tags. The RNW should be resilient to dealing with elements not created by the framework as apps can mix and match XAML and RNW content

[2020-12-07 05:49] asklar commented on #6684
FYI: Looks like changing the certificate is not enough. The files are being written (see changes in the linked PR that prove this) however they are not accessible from outside. This makes me think either the files are being deleted, or FS access is being virtualized to be saved to a different location even if the app sees it being saved to the location it expects.

[2020-12-07 06:46] #6682 closed

[2020-12-07 15:41] NickGerleman commented on #6690
Likely related to now doing parallel builds in CI, and JSUptoDateCheck writing to the same BaseIntDir between projects.

[2020-12-07 15:42] NickGerleman commented on #6691
Danny looking at this. There's a teams thread. I think the reason is that we define RootIntDir in the vnext directory props which aren't seen by template projects, but template projects still include JSUpToDateCheck targets.

[2020-12-07 15:44] NickGerleman commented on #6303
Merged upstream.

[2020-12-07 15:44] #6303 closed

[2020-12-07 15:46] NickGerleman commented on #6689
Needs backport of https://github.com/microsoft/react-native-windows/issues/6269

We cannot backport the EmitJSEvent fix that the PR fixing the issue depended on, but can work around that trivially. Some discussion in the thread.

[2020-12-07 18:32] aschultz commented on #5912
Ran into this today with a library project, since we have the library and test app sitting side-by-side rather than the app as the root. Thankfully, unlike `BundleConfigFile` the `BundlerExtraArgs` prop is actually applied to the bundler command, so I was able to pass in `--config <path>\metro.config.js`.

[2020-12-07 18:34] jonthysell commented on #6379
Looks like this isn't flagging CG anymore.

[2020-12-07 18:34] #6379 closed

[2020-12-07 18:55] chrisglein commented on #6640
Duplicate of #5867

[2020-12-07 18:55] #6640 closed

[2020-12-07 19:10] chrisglein commented on #6688
Are there any issues with cache correctness? Moving from slow and correct to faster and sometimes not correct would be not good. Requiring mitigations of deleting caches and stuff.

Re-enabling the metro cache for us would be the next step, but I don't know if it has the above reliability issues.

Do we have a breakdown of the build performance and how much time we're spending on each thing? And h

[2020-12-07 19:11] chrisglein commented on #6687
Is this only affecting E2ETest or more than this?

[2020-12-07 19:18] chrisglein commented on #6676
@kmelmon Assuming we take the linked PR what timeline had you talked about for updating this?

[2020-12-07 19:21] chrisglein commented on #6674
Something to be aware of until/if the beachball issue gets fixed.

[2020-12-07 19:26] chrisglein commented on #6673
What are the contents of that redbox error? Can you click it and add a screenshot of that?

Also, maybe not related, but there's an issue on the core repo that has all sorts of responses for similar (maybe red herring) error: https://github.com/facebook/react-native/issues/28551

[2020-12-07 19:41] kmelmon commented on #6676
@chrisglein it would be really nice to do this as soon as the PR is in.

[2020-12-07 20:52] NickGerleman opened #6699 "react-native-platform-override should ignore .DS_Store files"
Usage on macOS after going to finder can show validation errors.

[2020-12-07 20:55] NickGerleman opened #6700 "react-native-platform-override doesn't clean up CrossProcessLock on macOS after failure"
We leave a unix socket open if we hit an exception in crash, and then on next open hang.

[2020-12-07 21:00] NickGerleman commented on #6700
This was running on the version in 0.63, which turns out to be before I adedd macOS support. Closing.

[2020-12-07 21:00] #6700 closed

[2020-12-07 21:06] asklar commented on #6687
theory is that all C# apps can't be built in VS, only through CLI

[2020-12-07 22:10] aschultz commented on #5901
@KAnder425 I'm not sure what you mean by "follow the virtual DOM, or follow the actual XAML". The hierarchy of elements is the same, be it in JS or XAML. The problem is that the 0.60 algorithm ignores that hierarchy completely and treats the mouse as being "inside" every element under the cursor position at any depth.

The fix I implemented changes it to match [web](https://w3c.github.io/uievents/

[2020-12-07 22:29] jonthysell opened #6702 "Component Governance fails due to axios@0.20.0"
[CVE-2020-28168](https://nvd.nist.gov/vuln/detail/CVE-2020-28168)

Axios NPM package 0.21.0 contains a Server-Side Request Forgery (SSRF) vulnerability where an attacker is able to bypass a
proxy by providing a URL that responds with a redirect to a restricted host or IP address.

[code]

[2020-12-07 22:53] stmoy commented on #5977
This has been verified to work as a JS-only module.

[2020-12-07 22:53] #5977 closed

[2020-12-07 23:27] #5976 closed

[2020-12-07 23:39] stmoy commented on #5172
@chrisglein - handling in batches. Closing this and adding it to the next "batch".

[2020-12-07 23:39] #5172 closed

[2020-12-07 23:43] #5311 closed

[2020-12-07 23:50] stmoy commented on #6627
@creambyemute - any luck?

[2020-12-08 00:22] stmoy commented on #6668
@syedibrahimt - looks like this module is JS-only so I'd expect that it "just works". Can you verify that it does not (and if not, what errors it throws)?

[2020-12-08 00:31] asklar commented on #5912
We should just consume the `BundleConfigFile` param, marking "good first task"

[2020-12-08 03:59] asklar commented on #6688
as long as the bundler can output a list of which files it used (this might be a feature request onto metro), this should be correct.

I filed this issue because when trying to build an app (with no changes) in Release, bundling re-runs every time.
We don't currently have build performance metrics but seems like a good metric to collect. If we have an understanding of what specific questions we'd

[2020-12-08 04:11] asklar commented on #6540
Implemented by https://github.com/microsoft/cppwinrt/pull/806

[2020-12-08 08:34] creambyemute commented on #6627
@stmoy Oh I didn't start yet. Chris mentioned above, that there are some examples/references for transitioning a module from C# to C++.
Are there any links to them? Would it be worth to include them somewhere on the Readme?

[2020-12-08 16:52] creambyemute commented on #6430
RN-Paper V2.16 does not crash (we are using that one at the moment).
RN-Paper V4+ does crash as reported above because of the elevation prop animation.

RN-Paper Buttons on V2.16 as well as V4+ seem to have problems with RN-Windows in general:
RN-Paper Button component does not accept clicks outside of the text, only the text is clickable/pressable on RN-Windows, not the rest of the button.

My te

[2020-12-08 20:14] kochie-aim opened #6706 "Setting a borderRadius style on a View causes accessibilityLabel to not be read by narrator"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:
4.13.0

2. `npx react-native run-windows --info`:
System:
    OS: Windows 10 10.0.19042
    CPU: (8) x64 Intel(R) Core(TM) i5-10210U CPU @ 1.60GHz
    Memory: 2.64 GB / 15.80 GB
  Binaries:
    Node: 10.15.0 - C:\Program Files\nodejs\node.EXE
    npm: 6.13.6 - C:\Repos\pay.pidl.sdk\tests\a

[2020-12-08 23:54] chrisglein opened #6709 "Out for the holidays! ❄😴⚛😊"
Many of our core react-native-windows contributors are taking some much needed vacation throughout December 2020. Thank you for being patient while we relax, recharge, and return to a normal responsiveness in January 2021. In the meantime feel free to continue to pose questions, open issues, and make feature requests - you just may not get a response right away.

[2020-12-09 01:45] lyahdav opened #6714 "Flyout without target in Xaml Islands crashes app"
## Environment
1. `npx react-native --version`: 4.13.0
2. `npx react-native run-windows --info`:
[code]
3. `reg query "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock"`
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. In playground win-32 app make a Flyout with `target` prop not set.
2. Open Flyout.

## Expected Results
Expected: Flyout ope

[2020-12-09 04:39] #6102 closed

[2020-12-09 07:13] asklar commented on #6714
I think the right thing to do here is to use the XamlUIService XamlRoot property instead

[2020-12-09 09:37] JakovS opened #6715 "textDecorationLine text style persists after setting it to "none""
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:
4.13.0
2. `npx react-native info`:
System:
    OS: Windows 10 10.0.19042
    CPU: (12) x64 Intel(R) Xeon(R) CPU E5-1650 v3 @ 3.50GHz
    Memory: 14.91 GB / 31.91 GB
  Binaries:
    Node: 12.9.1 - C:\Program Files\nodejs\node.EXE
    Yarn: Not Found
    npm: 6.10.2 - C:\Program Files\nodejs

[2020-12-09 21:57] asklar commented on #6684
CC @kmelmon
Looks like the files are being deleted because of this newly added snippet:

[code]

We save the actual visual tree dumps to `ApplicationData.LocalFolder`, so when a test fails and the app is killed and a new test is run, the appdata folder is deleted and the failure dumps are deleted with it.

[2020-12-09 21:59] asklar commented on #6319
Clearing local storage is breaking collection of visual tree dumps, since those are stored in local storage. #6684

[2020-12-10 08:13] asklar opened #6720 "CLI starts metro even in release mode"
it isn't necessary to start metro when building Release since we create an offline bundle anyway

[2020-12-10 10:12] hamidAbdalrahmanM commented on #3463
Hi @chrisglein this is Hamid from Mashreq, we are currently on rnw v0.62, but we are still facing the issue. Any update on it?

[2020-12-10 10:29] NickGerleman commented on #6720
Dupe of https://github.com/microsoft/react-native-windows/issues/6214

[2020-12-10 13:04] aRajeshKumar commented on #1978
I am receiving the following error when trying to display the Modal:

![image](https://user-images.githubusercontent.com/2465503/101775994-4baed380-3b16-11eb-9362-7cc4d74b91d1.png)

React Native version: 0.63.3

Could you let me know if I am missing anything here ?

[2020-12-10 23:52] chrisglein commented on #3463
There was some idea that this would be part of our move to implement autolinking, which we did in RNW 0.63. I don't believe any explicit validation of that was done, so this issue currently sits on our backlog. And if this is affected by the new project infrastructure 0.63, it likely would require taking the 0.63 app template, not just bumping the package version and keeping an app template from a

[2020-12-11 01:43] asklar commented on #6687
Regressed by #6369

[2020-12-11 19:05] chrisglein commented on #1978
Since this issue was originally opened the core implementation has changed completely for react-native-windows... but Modal still hasn't been implemented yet: #2989 (partially because we didn't have a reference implementation from the old C# core). It is on our radar, but is expected that it doesn't work today.

[2020-12-11 19:07] #6720 closed

[2020-12-11 22:00] k00p commented on #3463
Hello as well @chrisglein - I am still trying to figure out if it's my approach, but following the instructions for including `react-native-vector-icons` for `react-native-windows` in their [README](https://github.com/oblador/react-native-vector-icons#windows-via-react-native-windows) is not working in RNW 0.63. Any assistance here - like linking docs, issues, or code - would be great, understood

[2020-12-12 01:12] k00p commented on #3463
Oh my. It was super easy once I found it. Here's how I got it to work:
Starting with a project that was generated exactly according to the RNW documentation for version 0.63, including using the `react-native` template, and the options for WinUI/cpp UWP...

1. From the `node_modules\react-native-vector-icons\Fonts` folder, _copy_ the font `.ttf` file that you need to the `windows\<project name>\As

[2020-12-12 13:48] Jack-Works commented on #5990
I got the same problem

Node 15.3.0
npm 7.0.14
yarn 1.22.10

Reproduce:

[code]

Failed:

[code]

➜ yarn why react-native
=> Found "react-native@0.63.4"

[2020-12-13 00:31] alexanderblackh opened #6735 "The KeyboardProps documentation isn't working in the last RNW build"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:
2. `npx react-native info`:

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Create a new project (Or use any project)
2. Use the example code found [here on the API page]( https://microsoft.github.io/react-native-windows/docs/ikeyboardprops-api)

## Ex

[2020-12-13 05:59] hamidAbdalrahmanM commented on #3463
We are implementing custom fonts the same way its mentioned in this issue. Manually adding the custom Font

[2020-12-13 23:19] #6166 closed

[2020-12-14 03:40] asklar opened #6738 "RedBox about topMouseLeave when hovering away from RNTester bottom buttons"
1. Launch Playground and load RNTester
2. Hover the mouse over the bottom buttons ("Components / APIs").
3. Move the mouse away from those buttons, wait a couple of seconds.

![image](https://user-images.githubusercontent.com/22989529/102037894-ced06380-3d7a-11eb-9994-072cc323c23a.png)

[2020-12-14 05:40] asklar commented on #6738
Regressed in #6663

[2020-12-14 11:17] rectified95 commented on #6738
The 12/2 nightly build integration only exposed a bug from October - details in PR.

[2020-12-14 15:12] rectified95 commented on #6706
I tested the scenario you mention using the snippet below, and I can hear narrator read: "test text one button", which is the expected result you mention.
[code]

I have also tested a few other setups and I can say the following:
- a View is by default not focusable - to make it so, you need to either specify the `focusable` prop or `accessibilityRole`
- specifying `focusable` without `accessibili

[2020-12-14 15:13] #6738 closed

[2020-12-14 18:48] asklar commented on #6738
Thanks @rectified95 for the quick fix! A little worrying that we had this regression for over 2 months without noticing :-/

[2020-12-14 19:14] #5912 closed

[2020-12-14 19:14] #6687 closed

[2020-12-14 19:18] #6684 closed

[2020-12-14 20:01] kochie-aim commented on #6706
Thank you for the reply.

- Thanks for the tips on the focusable prop, will add that in.

- Clarification for: `If accessibilityRole is not set on the View , the View becomes focusable by the narrator but is read as a custom role`:   I'm testing things with the windows 10 narrator just tabbing through the elements in my standalone app.

- Thanks for providing a snippet.  Testing it out I'm still s

[2020-12-14 20:08] asklar commented on #6675
bump

[2020-12-14 21:00] #6436 closed

[2020-12-15 01:27] asklar opened #6747 "VS upgrades can break run-windows builds"
- build with run-windows
- upgrade VS to a newer version
- try building with run-windows again

The PCHs are from a different version, which breaks the build:
![image](https://user-images.githubusercontent.com/22989529/102156065-99d31800-3e31-11eb-9379-bce62f5fbf7e.png)

[2020-12-15 06:56] asklar opened #6748 "Document ReactNative.InstanceData.* properties"
I plan to do the doc updates next week. This week I want to make sure that the core functionality works.

---
In reply to: [543014346](https://github.com/microsoft/react-native-windows/pull/6745#discussion_r543014346) [](ancestors = 543014346)

_Originally posted by @vmoroz in https://github.com/microsoft/react-native-windows/pull/6745#discussion_r543019314_

[2020-12-15 10:25] asklar commented on #6735
@alexanderblackh could you clarify how you are using these apis and which apis specifically? is this in the context of a text input field, or? also please provide your environment info.

[2020-12-15 10:40] #6200 closed

[2020-12-15 11:06] rectified95 commented on #6706
I've been able to reproduce this issue in a standalone app - wasn't hitting it in Playground. Will investigate further.

[2020-12-15 12:48] BartoszKlonowski commented on #3742
@chrisglein @kmelmon
I have some experience with localization, so please assign me to this issue - I'll see what I can do.

[2020-12-15 14:15] getuliovdmnaweb opened #6750 "Unable to Autolink new Native Module Libraries on C# language"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.13.1
2. `npx react-native info`:
![image](https://user-images.githubusercontent.com/65790521/102223426-75c01700-3ec3-11eb-9ec8-fe7799f11d42.png)

 x64

## Steps To Reproduce

1. Create a New React Native for Windows app following the Get Started doc here: https://microsoft.github.io/reac

[2020-12-15 19:28] alexanderblackh commented on #6735
@asklar , sorry my mistake. Added the env info above.

I'm simply pasting the example keyboard documentation in order to write to local state and then console.log it on a successful input capture. I've tried this with both the class component in the example and turning it into a functional component. I've tried this in both a fresh RNW project as well as my existing one. When the page loads, nothi

[2020-12-15 20:28] jonthysell opened #6752 "Component Governance fails due to node-notifier < 9.0.0"
[CVE-2020-7789 Details](https://nvd.nist.gov/vuln/detail/CVE-2020-7789)

**Description**
This affects the package node-notifier before 9.0.0. It allows an attacker to run arbitrary commands on Linux machines due to the options params not being sanitised when being passed an array.

**Recommendation**
Upgrade to version 9.0.0
If you are using NPM 6 or above, you can run npm audit fix on your local

[2020-12-15 22:30] #6752 closed

[2020-12-16 05:06] asklar commented on #6750
@getuliovdmnaweb the real error is the fact that Microsoft.VCLibs is missing. I've seen this happen recently due to a VS upgrade going wrong. Could you try this and report back?
From an admin cmd prompt:
[code]
Then repair Visual Studio 2019, reboot, and try building

[2020-12-16 13:29] asklar opened #6759 "CLI switches parsed by commander.js with false defaults don't behave as expected"
The RN CLI uses commander to parse options. It allows specifying defaults for options as well as understands that `--no-myoption` means that `myoption` is the name of the option, has default value = `true` and `--no-myoption` means it should be false.

As a result if an option is specified as `--no-myoption`, then its default value, if specified, is ignored. It is always assumed that myoption will

[2020-12-16 14:35] getuliovdmnaweb commented on #6750
I am not sure what these commands should do, but:
![image](https://user-images.githubusercontent.com/65790521/102362060-b470d280-3f92-11eb-8293-7572abebe9d4.png)

Also I user Visual Studio INstaller to Repair Visual Studio 2019 and the same problem is still occurring.

[2020-12-16 15:37] rectified95 commented on #6566
I've just managed to tab into the headers in the SectionList example of RNTester.
The code in VirtualizedSectionList.js relies on the user to provide render functions for list entries and headers/footers. So in order to make the section headers be tab stops, the user needs to provide a function returning a focusable element.
In the RNtester example, I was able to accomplish that by simply adding t

[2020-12-16 15:39] rectified95 commented on #5511
Waiting for upstreaming PRs to complete before making further changes to RNW.

[2020-12-16 15:41] rectified95 commented on #3822
Half of the issue is now resolved - we've introduced the DevSettings module, which exposes the Reload() method.
Still, one the scenarios in the VS Code extension is blocked - launching the DevMenu via the extension commands.

[2020-12-16 18:09] jonthysell commented on #6702
As per https://github.com/axios/axios/pull/3410, fix set to be released in `axios@0.21.1`.

[2020-12-16 18:11] rtselvan commented on #6706
@rectified95 Please let us know if we can help us with testing once you have a fix ready. What's on your thought on getting it fixed in 0.64 or 0.65 release?

[2020-12-16 18:29] jonthysell opened #6761 "Autolinking check failing during msbuild should be a warning, not an error"
The auto-linking check during msbuild is only meant to notify the user if their autolinking files are out of date, and provide the command to run to fix the issue. It should not prevent the user from completing the build.

In https://github.com/microsoft/react-native-windows/pull/6403, an error was added to this warning so that the situation could be caught in telemetry, but that causes the build

[2020-12-16 18:47] syedibrahimt commented on #6668
Thanks @stmoy . I'll try the and verify the same.

[2020-12-16 19:19] #6652 closed

[2020-12-16 20:09] getuliovdmnaweb commented on #6750
msiexec /X {0FAFD370-A0C3-471F-BB08-E2FD0D6430AE}
This command opens a separate window that the /X seems not even to be a valid command there.
What do you want from that command? What it is suppose to do?

[2020-12-16 21:05] asklar commented on #6750
Please run them from an elevated cmd prompt, if you are running then in powershell like you are, it will wrongly parse the `{}` as code blocks. These are supposed to uninstall and clean up whatever is leftover from the vclibs install, then it can be repaired by the VS installer

[2020-12-17 08:41] #6101 closed

[2020-12-17 08:45] rectified95 commented on #6706
It's been marked for v65.
Also, I want to update my earlier comment, where I said that setting just `accessibilityRole` will make a View focusable - we have a PR out fixing that, so that unless `focusable` is set a View won't be so.

[2020-12-17 11:46] rectified95 commented on #6566
To capture more context: when we fix keyboard navigation of `FlatList` (which shares the implementation with `SectionList`), it will only be possible to tab into the list once, and move between entries using arrow keys - headers will be treated like any other entry. Pressing tab again, will move focus out of the list to the subsequent component in the UI.

[2020-12-17 11:54] rectified95 commented on #4221
In order to move things forward, I have created a PR removing DatePicker code from RN core - https://github.com/facebook/react-native/pull/30576
Unfortunately, it got closed, along with the entire master issue tracking Lean Core progress:
https://github.com/facebook/react-native/issues/23313#issuecomment-746121956

Apparently, Facebook uses the DatePicker internally - probably alongside Picker and

[2020-12-17 11:54] #4221 closed

[2020-12-17 13:50] getuliovdmnaweb commented on #6750
Well, I ran the elevated command promp on Admin Mode, and ran all 5 commands. Only the fourth one uninstalled something. The rest of them did nothing.
I tried to build and now this is what shows.
![image](https://user-images.githubusercontent.com/65790521/102496042-a0da7000-4055-11eb-9a75-927c4b42403b.png)
At least it looks like the other problem went away.

[2020-12-17 14:27] asklar commented on #6750
Glad to hear that problem is solved :) You should be able to get to a working state by Cleaning the solution then Rebuilding.

[2020-12-17 14:37] getuliovdmnaweb commented on #6750
Yeah I cleaned and Rebuilded and the same problem is hapenning:
![image](https://user-images.githubusercontent.com/65790521/102501401-2b25d280-405c-11eb-951d-f561e86d2a72.png)

Is there a particular way I should AutoLink the MyLibrary project? It seems not to be working as the documentation outlines.

[2020-12-17 14:41] asklar commented on #6750
try manually running autolinking from the command line: `npx react-native autolink-windows` then building in VS

[2020-12-17 15:01] robertev commented on #4221
Interesting, I'll pass that onto my customer.

From: Igor Klemenski <notifications@github.com>
Sent: Thursday, December 17, 2020 6:54 AM
To: microsoft/react-native-windows <react-native-windows@noreply.github.com>
Cc: Robert Evans (REDMOND) <robertev@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/react-native-windows] Remove the DatePicker component code, and replace

[2020-12-17 15:02] bzoz commented on #5313
[PR with Windows support](https://github.com/wonday/react-native-pdf/pull/522) was merged recently.

[2020-12-17 15:05] getuliovdmnaweb commented on #6750
I am doing the following Steps:
1 .  Create a new react native for windows project in C# Language (AwesomeProject).
2. Creating a new Native Module Library in C#(MyLibrary).
3. running the AwesomeProject without MyLibrary.
4. using yarn add to add MyLibrary to the project.
5. After That I am trying to build.
6. Build Fails.
Now I did the following:
![image](https://user-images.githubusercontent.co

[2020-12-17 15:46] rectified95 commented on #4221
@robertev FYI - I added a Windows implementation to the community module a while ago - that's what should be consumed. Your customer shouldn't be affected by this issue, or use the deprecated version.

https://github.com/react-native-datetimepicker/datetimepicker

[2020-12-17 16:29] getuliovdmnaweb commented on #6750
Another FeedBack.
I recreated a new Native Module Library, and I ran everything not using Visual Studio and it seemed to work.

[2020-12-17 16:43] TheOccho commented on #6702
@jonthysell is there an ETA on when `axios@0.21.1` will be releaed?

[2020-12-17 18:39] kochie-aim opened #6765 "Unusual focus order when using react-native-picker"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:
4.13.1

2. `npx react-native info`:
System:
OS: Windows 10 10.0.19042
CPU: (8) x64 Intel(R) Core(TM) i5-10210U CPU @ 1.60GHz
Memory: 2.64 GB / 15.80 GB
Binaries:
Node: 10.15.0 - C:\Program Files\nodejs\node.EXE
npm: 6.13.6 - C:\Repos\pay.pidl.sdk\tests\apps\pidl-react-native-windows\node_m

[2020-12-17 20:52] jonthysell opened #6766 "Autolinking check for new app project should not fail"
Repros in 0.63 and 0.64.

Basically, while autolinking code uses the same template logic as the new project code, and therefore should produce identical files for a fresh project, there are some small differences in how the templating code is called, causing trivial differences which causes the check to fail.

[2020-12-17 20:55] jonthysell opened #6767 "Removing `// clang-format` from templates during new app creation leaves a lone LF in CRLF code files"
Repros in 0.63 and 0.64 (probably even sooner too).

Due to how the regex is written, the CR at the end of the line is removed, but not the LF. This leaves a lone LF in otherwise CRLF code files, which means VS will complain if you try to open any of the files and ask you to normalize the line endings.

[2020-12-17 21:14] asklar commented on #6750
glad to hear. @jonthysell fyi in case this sounds familiar.

[2020-12-18 08:06] MehdiRaza1998 opened #6769 "application doesn't run or open anything when npx react-native run-windows"
I am using windows 10,
I don't understand why the output is not showing, nor there is any error to deal with.
Please have a look

<img width="558" alt="issue" src="https://user-images.githubusercontent.com/35404364/102590047-c9379c80-4131-11eb-877f-5d64d8cc048f.PNG">

It shows nothing and outputs nothing too.
Why is that so?
How am I suppose to run windows then?

My environment Info:

npx react-na

[2020-12-18 09:25] asklar commented on #6769
@MehdiRaza1998  can you run `npx react-native run-windows --logging` to see if there are any errors?
Also, can you share your environment info?

[2020-12-18 09:31] MehdiRaza1998 commented on #6769
this is the output by running this command already `npx react-native run-windows --logging`

[2020-12-18 10:20] MehdiRaza1998 commented on #6769
When I run it through VS code
<img width="419" alt="22" src="https://user-images.githubusercontent.com/35404364/102603405-8fbc5c80-4144-11eb-80b5-6e3448009e78.PNG">
I get following Error!!

This is the launch.json file

{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Debug Windows",
            "cwd": "${workspaceFolder}",
            "type": "reactnative",

[2020-12-18 11:44] asklar commented on #6769
The error from VSCode is not coming from react native for windows, it's coming from the VSCode extension which is written and maintained by a different team, please file a bug here for that particular issue: https://github.com/microsoft/vscode-react-native/

For the issue in the RNW CLI, I haven't seen this before. Is it possible for you to post your project somewhere so that I can try it?

[2020-12-18 11:50] MehdiRaza1998 commented on #6769
ok ignore the Vs code issue, I always run through CLI. I will upload it on the git repository and share the link here.

[2020-12-18 11:57] MehdiRaza1998 commented on #6769
I am following the exact documentation mentioned here

I am following the exact documentation mentioned here, you can also follow this to create a project directly, maybe there is a bugging update.

[2020-12-18 12:02] asklar commented on #6769
@MehdiRaza1998 just to confirm - did you make sure to install the development dependencies? https://microsoft.github.io/react-native-windows/docs/rnw-dependencies

[2020-12-18 12:30] MehdiRaza1998 commented on #6769
This can be probably the reason. Thanks, I didn't run the setup command from elevated PowerShell, that might be the reason.

[2020-12-18 13:19] asklar commented on #6769
Repurposing this issue to track the fact that we should have been printing the error message instead of swallowing the error.

[2020-12-18 22:48] lamxdoan opened #6782 "Scrollbar indicator never goes away once it is shown."
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.13.1
2. `npx react-native info`:
System:
    OS: Windows 10 10.0.19042
    CPU: (12) x64 Intel(R) Xeon(R) CPU E5-1650 v4 @ 3.60GHz
    Memory: 16.04 GB / 31.92 GB
  Binaries:
    Node: 11.3.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.16.0 - C:\Program Files (x86)\Yarn\bin\yarn.CMD

[2020-12-18 22:49] lamxdoan commented on #6782
Note: also seeing this in our production app

[2020-12-18 23:06] #6769 closed

[2020-12-19 02:47] asklar commented on #6782
can you check this setting in Settings:
![image](https://user-images.githubusercontent.com/22989529/102679060-8392c800-4161-11eb-89f6-1860c8edfc76.png)

[2020-12-21 11:16] qmatteoq opened #6786 "TextInput cursor position gets reset when text is changed"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:
4.13.1
2. `npx react-native info`:

System:
    OS: Windows 10 10.0.19042
    CPU: (8) x64 Intel(R) Core(TM) i7-1065G7 CPU @ 1.30GHz
    Memory: 1.92 GB / 15.60 GB
  Binaries:
    Node: 12.9.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.5 - C:\Program Files (x86)\Yarn\bin\yarn.CMD

[2020-12-21 13:53] qmatteoq opened #6787 "Support react-native-auth0"
# Support `react-native-auth0` on RNW

## Basic Info
- Module Repo URL: [https://github.com/auth0/react-native-auth0](https://github.com/auth0/react-native-auth0)
- Target version: 0.62
- [ ] Issue exists on module repo (if so, [link]())

- [ ] Module has a Legacy/C# implementation (if so, [link]())

## Which app/customer is requesting this module?
An AppConsult customer

## In what scenarios will

[2020-12-21 14:20] BartoszKlonowski opened #6788 "System namespace definitions not found in Microsoft.ReactNative.Managed.CodeGen"
## Environment
1. `npx react-native --version`: **4.13.1**
2. `npx react-native info`:
[code]

## Steps To Reproduce

1. Create new project from the template, just like described [in the official docs](https://microsoft.github.io/react-native-windows/docs/getting-started) or use exisiting project
2. Install packages using `npm install` or `yarn install`
3. build project as release or debug for any

[2020-12-21 18:16] asklar commented on #6788
@BartoszKlonowski can you make sure you have all the development dependencies installed? http://aka.ms/rnw-deps
If so, can you paste the output of `dotnet info` ?
Also I noticed your version of 0.63 is a little old, try deleting your node_modules and re-running yarn install / npm install to install the latest versions

[2020-12-21 20:53] ViniDalvino opened #6790 "Can I use node native module with react native windows or not?"

[2020-12-21 21:09] helton-isac commented on #6601
I had the exact same error,
I did all the steps and it fixed my env. I think a big difference is to **stop using npm and use yarn instead**.

 1. Clear watchman watches: watchman watch-del-all
 2. Delete node_modules: rm -rf node_modules and run yarn install
 3. Reset Metro's cache: yarn start --reset-cache
 4. Remove the cache: rm -rf /tmp/metro-*

My Env:
$ npx react-native --version
4.13.1

$ n

[2020-12-21 21:44] asklar commented on #6790
Hi @ViniDalvino, this is not currently possible.

[2020-12-22 03:24] #6790 closed

[2020-12-22 08:34] BartoszKlonowski commented on #6788
@asklar  Thank you for the quick response. Thing is that this issue happens on the CI server, which means that when the repository is checked out there are no *node_modules* and my steps do include installing them with `yarn`/`npm`.
Is it then really necessary to reinstall them again?

---

As for the development dependencies: Due to the issue occurring on the CI server - I can't say for sure if t

[2020-12-22 12:53] BartoszKlonowski commented on #6689
@NickGerleman & @chrisglein  I can work on this backport in my spare time, so please assign me to this item.

[2020-12-22 16:51] #6691 closed

[2020-12-22 19:16] asklar commented on #6788
Once you run yarn, the script can be found under \node_modules\react-native-windows\scripts. You can then run the script with `-NoPrompt` to see what your CI might be missing.
The other thing to do is to upgrade the version of react-native-windows in your package.json. If you're on 63 then 0.63.15 is the latest, please try upgrading.

[2020-12-23 09:26] daveteu commented on #4779
May I mention this seems to happen on react-native-macos as well.
     "react-native": "0.62.0",
    "react-native-macos": "^0.62.21",

and accompanying this issue of not being able to fast refresh, is the following message.

![image](https://user-images.githubusercontent.com/18649392/102981440-e8746680-4543-11eb-8940-cc65bfb1b30f.png)
[code]

[2020-12-23 12:41] creambyemute commented on #4047
Just ran into this as well.

At 100% scale all is good, as soon as increasing or decreasing the scale some dividers are not rendered anymore.

[2020-12-26 18:07] soplwang opened #6797 "Support react-viro"
# Support `react-viro` on RNW

## Basic Info
- Module Repo URL: [ViroCommunity](https://github.com/ViroCommunity/viro)
  - Original outdated repo URL: [Viro](https://github.com/viromedia/viro)
  - Original site: [Viro Media](https://viromedia.com)
- Target version: 0.63

- [ ] Issue exists on module repo (if so, [link]())
- [ ] Module has a Legacy/C# implementation (if so, [link]())

## Which app/

[2020-12-27 10:06] asklar commented on #6797
This will likely require someone with knowledge of hololens. Assigning to @stmoy to see how this should be prioritized.

[2020-12-27 20:24] soplwang commented on #6797
https://docs.microsoft.com/en-us/windows/mixed-reality/

Windows MR isn't only for HoloLens, but also support Surface & Surface Pro.

[2020-12-28 21:00] #6673 closed

[2020-12-28 22:42] #6766 closed

[2020-12-28 22:42] #6767 closed

[2020-12-29 04:34] JunielKatarn opened #6799 "Describe the problem"
A small number of the tests imported from the Facebook JSI code base (i.e. `node_modules\react-native\ReactCommon\jsi\jsi\test\testlib.cpp`) fail deterministically.

## Environment
Run the following in your terminal and copy the results here.
[code]

- Build Configuration: x64|Debug

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Build the test project.
[code]

[2020-12-29 08:17] yingxuepeng opened #6800 "c# AttributedViewManager doesn's register "attributed methods" inside base class"
If we want put some common nativeProps inside base class, such as width, color,etc... , the attributed method will not work because the AttributedViewManager only scan the "DeclaredMethod".

## Example
if we have base and child class like this( react-native-svg demo):

Base:
[code]

Child
[code]
Only the x1 prop methods can have debug output.

### It is because AttributedViewManager(master) line 1

[2020-12-29 08:36] BartoszKlonowski commented on #6788
@asklar  Unfortunatelly all requirements are met - I've double checked by running the script, according to your advise:
[code]

I've also upgraded the react-native-windows version to the latest 0.63.15.

The error remains the same.

[2020-12-29 15:31] asklar commented on #6800
thanks for reporting @yingxuepeng! I noticed you are using 0.62, the latest stable version is 0.63 (or you can try the 0.64 preview). I'm not sure if a newer version will fix the issue you mentioned but it's worth trying.
CC @vmoroz @dannyvv @stmoy fyi

[2020-12-29 15:47] goatandsheep commented on #6673
So the redbox error was a network error. I have given up on the project since, but I was hoping to use it as a demo for a popular library I maintain: react-native-dotenv and also for a client, but client no longer needs it. I know the documentation said not to throw out everything and start over but when binaries are corrupted and stuff, I think it's not too bad of an idea.

[2020-12-29 15:49] goatandsheep commented on #6673
maybe better to just close this and if i resume the project reopen.

[2020-12-30 08:49] asklar commented on #6788
@BartoszKlonowski thanks for checking. I would imagine the error has to do with how the paths to different .net versions are set up (it's likely that .net core 5 is getting picked up to compile instead of .net core 3). Without a local repro for us to try it out it's going to be hard to pinpoint what exactly is happening. What CI system is this happening in? If you able to reproduce this failure lo

[2020-12-30 11:31] BartoszKlonowski commented on #6788
@asklar I think I solved the problem!
Or at least I found the workaround... but I'm able to run `npx react-native run-windows` successfully on the CI server.

What I did was perform the Windows solution build "manually" by running following steps:
1. `yarn install`
2. `nuget restore .\windows\Solution.sln`
3. `msbuild -t:restore .\windows\Solution.sln`
4. `msbuild .\windows\Solution.sln`

After th

[2020-12-30 11:41] asklar commented on #6788
@BartoszKlonowski glad to hear you're unblocked!
run-windows will do a `nuget restore` for the solution. In 0.63, this is achieved by calling `nuget.exe`. Afterwards, it calls msbuild.
It's possible that something is messing up and using the wrong version of nuget.exe.
VS 16.8 / NET Core 5 made changes in the interaction between nuget and msbuild, which I think are throwing off our logic. I believ

[2021-01-01 10:51] NickGerleman commented on #6799
FYI @vmoroz since you've been looking at bugs in the Chakra JSI runtime along with @tudorms who has been maintaining v8jsi.

[2021-01-01 10:56] NickGerleman commented on #6788
I did a quick scan of the published version of 0.63-stable and far as I can tell we should be using a current NuGet binary. Didn't look much further.

A theory could be that something left a state where the NuGet binary couldn't determine it needed to do a restore (compare to needing to do a force yarn install). This is a pretty flakey justification though, so we should definitely see if more simi

[2021-01-01 14:46] #5932 closed

[2021-01-02 17:18] vmoroz opened #6805 "Support WinUI 3 DispatcherQueue"
Currently we use `DispatcherQueue` from the `Windows::System` namespace. Based on the feedback in https://github.com/microsoft/react-native-windows/pull/6804 we must also support the `Microsoft::System` namespace. The referred feedback:

can you make sure this continues to work for winui 3? (use `Microsoft::System` instead of `Windows::System` if `USE_WINUI3` is defined) #Pending

_Originally post

[2021-01-03 03:39] reutopiaer commented on #5990
yarn add react-native@0.63.3

[2021-01-03 06:22] asklar opened #6806 "re-generate API docs for 0.64"
Once we are ready to ship 0.64 I need to re-generate the API docs from the winmd.

[2021-01-03 11:03] asklar commented on #6799
@JunielKatarn do you know whether hermes on windows passes these tests?

[2021-01-04 17:44] NickGerleman commented on #6632
Some more logging added with https://github.com/microsoft/react-native-windows/pull/6808

[2021-01-04 17:50] NickGerleman commented on #6460
Going to close this since there aren't immediate plans to work on it.

[2021-01-04 17:50] #6460 closed

[2021-01-04 18:01] jonthysell commented on #6702
It looks like `appium-support` updated to `axios@0.21.1` in their master (https://github.com/appium/appium-support/pull/211), but have not pushed a release requiring it. I'll put in a resolution.

[2021-01-04 18:59] #6709 closed

[2021-01-04 19:07] #6702 closed

[2021-01-04 19:12] chrisglein commented on #6787
FYI there's also a request for Azure auth: #4148

[2021-01-04 19:15] chrisglein commented on #6786
Looks like the same as #5687.
Given that this one has a repro and such I'll dupe the other one to this one.

[2021-01-04 19:15] chrisglein commented on #5687
Duplicate of #6786

[2021-01-04 19:15] #5687 closed

[2021-01-04 19:18] chrisglein commented on #6765
There was a fix made here in 0.64 related to TextInput and tab order, which may be what you're hitting here. An upgrade may fix it. @rectified95 is going to take a look to see what that fix looked like so we can recommend an action for you.

[2021-01-04 19:28] chrisglein commented on #6747
What action can we take here?
Can we detect what the last build version was and emit a warning and/or do a full clean build when there's a version bump? Is that something VS should do?
In the meantime do we add a clean build option that we can direct people to when they hit this?

Seems like it's the latter. At most we could detect that error code after the fact.

[2021-01-04 19:35] chrisglein commented on #6788
Looks like @BartoszKlonowski is unblocked. Let's keep an eye out to see if anyone else hits something similar, but for now let's consider this resolved.

[2021-01-04 19:35] #6788 closed

[2021-01-04 19:36] #6750 closed

[2021-01-04 19:39] chrisglein commented on #6735
Does look like this sample has issues. We'll look into updating it.

[2021-01-04 19:50] chrisglein commented on #4779
FYI the macos repo handles issues separately, here: https://github.com/microsoft/react-native-macos/issues

[2021-01-04 20:44] aschultz commented on #3278
@jonthysell I took a stab at a C++/WinRT implementation.
https://github.com/lottie-react-native/lottie-react-native/pull/714

[2021-01-04 22:04] rectified95 commented on #6765
@kochie-aim Your problem should go away with an upgrade to RNW 0.64. In order to confirm that without making the upgrade first, you can remove one line in this function:
[code]
Ref: https://github.com/microsoft/react-native-windows/pull/6320

[2021-01-04 22:16] acoates-ms commented on #3822
As @rectified95  said, the native module exists now.  I'm curious about the mechanism being used on iOS.  Does that work when doing direct debugging with hermes?

Also windows supports the metro command too, so just hitting 'd' in the metro window will also cause RNW to show the debug menu. -- I suspect that flipper is using the metro command - as the show debug menu button in flipper works in RNW

[2021-01-04 22:38] jonthysell commented on #3278
@aschultz I'm glad to see another implementation, I'll take a look at it.

I think, unfortunately, there's no solution that meets everyone's needs:

| Requirement | C# | C++/WinRT |
|-|-|-|
| Dynamically load assets at runtime | ✔ | ❌ |
| Codepush / bundle-only updates | ✔ | ❌ |
| Non-managed code | ❌ | ✔ |

Until there's a full C++ implementation of lottie, with loading json at runtime, I think w

[2021-01-04 23:32] aschultz commented on #3278
@jonthysell I was thinking that the C++/WinRT version might work for both scenarios. It defers the loading of the IAnimatedVisualSource back to the app (via `ILottieSourceProvider`), so devs can choose whether to use codegen or LottieWindows to fulfill the requests.

[code]

A C++ app could elect to only implement GetSourceFromName for now, and then add support for JSON once a better dynamic loade

[2021-01-05 00:23] lamxdoan commented on #6782
@asklar I verified that the setting is turned on. This bug doesn't repro on 0.60 and we started noticing it after upgrading to 0.63.

[2021-01-05 00:58] JunielKatarn commented on #6799
I do not, but if enabling Hermes is as simple as enabling Chakra (MSBuild property), it can be verified using the same remaining steps.

[2021-01-05 15:50] creambyemute opened #6818 "Can we use react-native-config variables in the Package.appxmanifest?"
Hello there,

The Windows support for [react-native-config](https://github.com/luggit/react-native-config) was added recently and I'm already using it, though I got a question if what I'm after is possible and if so how?
We have an app which is branded and has 3 environments: Dev, Test and Production. The differences are minimal:

* Different Theme
    * JS-Side, this is already possible
* Differe

[2021-01-05 17:56] rectified95 commented on #6765
Verified myself that it works on version 0.64. Closing the issue.
cc @kochie-aim

[2021-01-05 17:56] #6765 closed

[2021-01-05 17:57] rectified95 commented on #6765
@chrisglein Do you think this is something we could backport to 0.63?

[2021-01-05 19:33] rectified95 commented on #6566
Tagging again to revive thread after winter break.
@harinikmsft @chrisglein

[2021-01-06 08:10] creambyemute commented on #6818
So I need a second project? That's a bummer. That means full-project code duplication and maintaining/keeping in sync two repositories only to change the packageName/AppName.
Are there no build configurations like on iOS/Android to change stuff like that?

We need do be able to automate this so maintaining two projects doesn't sound quite right.

[2021-01-06 16:36] asklar commented on #6818
You don't need a separate repo. Just a separate project within the same solution (in the same repo)

[2021-01-06 22:24] asklar opened #6827 "Move docs from samples repo to RNW repo"
After the meeting on 1/6 we decided it would be a good idea to move the docs to the code repo so that API changes can have an accompanying doc change in the same PR.

There needs to be some work to figure out how to do versioning; ideally we'd like to have only one copy of the docs per branch (i.e. in master, 0.63-stable, etc.) but then that means we need something to fetch the docs for all versio

[2021-01-07 10:02] BartoszKlonowski opened #6829 "react-native-windows-init doesn't specify that --projectType is 0.64+ (was" --projectType switch ignored when creating RNW solution)"
## Environment
1. `npx react-native --version`: **4.10.1**
2. `npx react-native info`:
[code]

## Steps To Reproduce
1. Print the *help* of RNW init:
`npx react-native-windows-init --help`
And check the `--projectType` switch description:

                               [string] [choices: "app", "lib"] [default: "app"]

2. Create RNW solution with `--projectType` set to *"lib"*:
`npx react-native-

[2021-01-07 14:36] creambyemute commented on #6818
@asklar Ah alright, so like a myAppBrand1 and myAppBrand2 folder instead of just the myApp project folder within the solution?

Can I tell the (command-line) build which of those two to build? Or would I add a (pre)build-step which would copy the correct Manifest and vcxproj before building?

[2021-01-07 16:01] NickGerleman commented on #6829
I don't think the underlying flag is supported until 0.64, so the flag would be passed from react-native-windows-init to the react-native-windows project generator but ignored.

https://github.com/microsoft/react-native-windows/issues/6445 tracks moving command flag options out of react-native-windows-init, which would prevent this sort of mismatch in the future. In the meantime, maybe it would ma

[2021-01-07 16:09] BartoszKlonowski commented on #6829
Thank you for the explanation!

So the question is: How can one achieve creating the dynamically linked library for the existing module?
I've been following the [guide](https://microsoft.github.io/react-native-windows/docs/native-modules-setup#adding-windows-support-to-an-existing-library) but after updating the *package.json* the docs says that all further steps should be covered by
`npx react-na

[2021-01-07 16:18] NickGerleman commented on #6829
@jonthysell will have a better idea of the best option here.

If you want to try the new workflow, you could add a preview version of react-native-windows (e.g. 0.64.0-preview.5) instead of `latest`. That leaves you with a preview version of RNW though (it's likely we will release it at the end of the month).

[2021-01-07 18:20] asklar commented on #6818
if they are just separate projects within the same SLN file, then the `run-windows` command will build both (it will no-op if one of the projects don't need to be built). You don't need to copy any files before every build, just a single time, and then in the copied vcxproj you'd update the reference to the manifest to point to the new one. You'd push that into your repo and as far as the build pr

[2021-01-07 19:07] chrisglein commented on #6829
Sounds like we need to update the documentation to be more clear about version support, as well as some deeper changes about how we handle unsupported command line arguments.

[2021-01-07 19:11] chrisglein commented on #6827
Big challenge is to figure out how to feed into Docusaurus's version system from a set of github branches. It's not a native match. So while we all want the docs closer to the source I think there's some design needed to figure out how we can do that. Need some time on this to make a recommendation.

[2021-01-07 19:13] ajax-sandell-peterman opened #6833 "Unable to change Metro port from default of 8081"
When using React Native Desktop for Windows I'm unable to use ```run-windows``` to start my app. I get an error in the UI about being unable to load the bundle:

```Error 80072f78 downloading http://localhost:8081/index.bundle?platform=windows&dev=true&hot=false&inlineSourceMap=true```

and the following error in the console:

```error listen EADDRINUSE: address already in use :::8081. Run CLI wit

[2021-01-07 19:36] rectified95 commented on #6782
Taking a quick look, the relevant code in ScrollViewManager.cpp has not changed since v0.60 - we still by default set
[code]
overriding XAML's default of `Visible` meaning this should work, combined with the setting Alex referenced.

[2021-01-07 19:42] rectified95 commented on #6782
Verified that this works on 0.64.0-preview.3. Checking v63 now

[2021-01-07 19:53] rectified95 commented on #6782
It also works for me on the reported version of 0.63.14
Closing this issue as not reproduced. cc @chrisglein

@lamxdoan make sure you are not setting `showsVerticalScrollIndicator` on the component, which would make it permanently visible. (ref: https://github.com/microsoft/react-native-windows/blob/df49e9bae0cc355294d8088c533fae139211c5f2/vnext/ReactUWP/Views/ScrollViewManager.cpp#L155-L159)

Jus

[2021-01-07 19:53] #6782 closed

[2021-01-07 20:23] lamxdoan commented on #6782
@rectified95 I wonder if it's depends on OS version as well and/or WinUI. We are definitely not setting the verticalScrollBarVisibility (I also verified using the XAML tree explorer). The scrollbar initially does not show but if I hover over it once and move away then it will show and stay that way.

[2021-01-07 20:52] andrew-woodburn09 commented on #6833
Running into the same exact issue to where I cannot get past this as well and I have tried everything possible to get past it.  McAfee is blocking 8081 at within our organization and would be extremely useful if we could override this port setting.

[2021-01-07 23:08] asklar commented on #6833
As a workaround you can start Metro separately via `yarn start --port ...` and then start the app with `npx react-native run-windows --no-packager `. Note that in order to use a non-default port, the app must know to connect to it so you'll have to set the [ReactInstanceSettings.SourceBundlePort](https://microsoft.github.io/react-native-windows/docs/next/ReactInstanceSettings#sourcebundleport)

[2021-01-08 02:14] asklar commented on #6564
Are you still blocked or were you able to get this working @nerocui ? If you are still hitting an issue and are able to reliably hit this locally, could you share a repo repro so I can look at it?

[2021-01-08 02:56] dannyvv commented on #6675
Issue resolved.

[2021-01-08 02:56] #6675 closed

[2021-01-08 05:32] mjfusa opened #6836 "ReactNotificationService: Not receiving notifications in native module sent from host"
I'm able to send notifications from a native module to the host app, but having difficulty receiving notifications in a native module sent from the host. Code is below. Thanks in advance for your comments.

[code]

[2021-01-08 07:36] nerocui commented on #6564
@asklar I assumed everything to be the same, but when I tried again the steps today, it worked. Not much has changed on my machine config wise except node version. It was 12 before, now it's 14. I'm not sure if that's thing that fixed it.

[2021-01-08 07:44] #6564 closed

[2021-01-08 17:43] rectified95 commented on #6715
Looks like this is a bug in XAML - see this thread:
https://github.com/microsoft/microsoft-ui-xaml/issues/1093#issuecomment-514282402
There appears to be a workaround, though

[2021-01-08 18:40] chrisglein commented on #6093
We don’t officially support BlobModule yet, and it is not a 0.64 target feature. Moving this out.

[2021-01-08 18:48] NickGerleman opened #6838 "Update to Hermes 0.7.2"
This is used by the upstream release of RN 0.64. We are on the patch release directly before it.

[2021-01-08 18:57] stecrain commented on #6706
@rectified95 I spent a bit of time looking into this as it impacts the product I work on.
This issue is particularly strange, most of the JSX in my app does not repro this issue, but if I take the repro and place it in my app then I can repro.

I found that TransferProperties in FrameworkElementViewManager can get called when oldView and newView referencing the same xaml element, and when that hap

[2021-01-08 18:58] NickGerleman opened #6839 "Reconcile Custom AccessibilityInfo RNTester Examples With Upstream"
We added a local RNTester page with examples for the AccessibilityInfo API. Some of these were recently added to the built-in Accessibility example page. We should contribute the rest of what we have upstream, and reconcile the duplication.

See https://github.com/facebook/react-native/commit/84dde677d90bb3cfdf53329f7d257b870cb38eca for the upstream changes that overlap ours

[2021-01-08 19:46] rectified95 commented on #6706
Thanks for the investigation @stecrain ! It's very helpful.

I just noticed that while I'm getting a repro in 0.63.2, I am not seeing the issue in "0.64.0-preview.3" - can you try upgrading your app to v64?

[2021-01-08 19:56] vmoroz opened #6840 "ReactNotificationService does not send notifications from app to modules"
Internally the `ReactNotificationService` has a parent-child relationship between `ReactNativeHost` `ReactNotificationService` and `ReactInstance` `ReactNotificationService`. It currently propagates notifications from the child to parent, but not vice versa.
We must fix this issue. The goal of the parent-child relationship was to auto-unsubscribe all `ReactInstance` `ReactNotificationService` subs

[2021-01-08 20:04] vmoroz opened #6841 "Update version of C++/WinRT to 2.0.201201.7 or later"
The version 2.0.201201.7 is adopted internally by some Microsoft teams. We should do the update too.
According to @kennykerr it has the following notable changes:
- Many coroutine improvements
- C++20 coroutine conformance
- Clang conformance improvements
- try_capture and try_create_instance helpers (https://github.com/microsoft/cppwinrt/pull/663)
- Improved compile-time and run-time diagnostics

[2021-01-08 20:05] NickGerleman opened #6842 "ScrollView scrollToEnd ViewManager Command Does Not Function"
We have new RNTester examples which calls `scrollToEnd` on a `ScrollView` ref. See below:

![image](https://user-images.githubusercontent.com/835219/104058970-62922580-51a9-11eb-9d90-44680825e1d5.png)

This internally calls into a `ScrollToEnd` ViewManager command on the native side. This code below in `ScrollViewManager` is hit, but does not lead to any visible action in the example.

https://git

[2021-01-08 20:07] NickGerleman commented on #6842
A below example for a horizontal ScrollView seems to work correctly on my machine. Tested on a 1.5x DPI display.

[2021-01-08 20:08] vmoroz opened #6843 "Update to WinSDK 10.0.19041.0"
We currently depend on the WinSDK 10.0.18362.0  which is quite old.
The 10.0.19041.0 has a number of important fixes to the MIDL parser such as:
- Support for [noexcept] attribute
- Better handling of [experimental] attribute

[2021-01-08 21:30] #5867 closed

[2021-01-08 21:44] mario-msft opened #6848 "React Native TextInput and Keyboard.dismiss()"
## Environment
1. `npx react-native --version`: 4.13.0
2. `npx react-native info`:
[code]

- Target Device(s):
Xbox
- Visual Studio Version:
Visual Studio 2019 v16.8.3

## Steps To Reproduce
1. Create a `TextInput` like such:
[code]
2. It takes 2 consecutive presses of the 'Enter' button (menu button on controller) to dismiss the virtual keyboard when it's open

## Expected Results
It should only

[2021-01-08 21:59] mario-msft commented on #6848
Related to #4650

[2021-01-09 00:14] JunielKatarn commented on #6843
If it's not critical to have, maybe we can wait until Visual Studio makes it the default?

[2021-01-09 01:04] stmoy commented on #6797
Hi @soplwang - this looks like a super cool library! I looked a bit through the repo and it looks like this module is mostly platform-native code for iOS/Android (as opposed to some modules where the native code is just a thin wrapper). To that end, this would be a big investment for the platform team and we don't have the bandwidth to tackle this right now.

Although we can't implement this modul

[2021-01-09 01:17] stmoy commented on #6651
@creambyemute - happy new year! Bubbling this up. It looks like @asklar added some comments on the PR that haven't yet been addressed. Is there more info that we need to provide?

[2021-01-09 01:21] stmoy commented on #5313
PR was merged - closing!

[2021-01-09 01:21] #5313 closed

[2021-01-09 01:22] stmoy commented on #5314
Closing since the PDF functionality has been added.

[2021-01-09 01:22] #5314 closed

[2021-01-09 02:26] KAnder425 commented on #5901
(I'm sorry that I missed this thread over the holidays.)
When I said "follow the virtual DOM or follow the actual XAML", I was referring to the difference in behavior between the 2 algorithms with respect to overlapping elements. The web approach will only consider overlapping elements within the RN subtree of the topmost element, while the v0.60 approach considered all of the overlapping UI eleme

[2021-01-09 03:28] rectified95 commented on #6240
The functionality has been merged upstream, we should soon ingest it - https://github.com/facebook/react-native/pull/30405
cc @NickGerleman

[2021-01-09 08:24] aschultz commented on #5901
@KAnder425 Thanks for the explanation!

I can see how the change would break you. My solution would have been to re-arrange as you suggested -- make the days children of the week, so that when they are hovered the mouse is "inside" both the day and the parent week. If you needed a child to expand out to bigger than the row without displacing anything (say, hovering a day adds a bigger circle), you

[2021-01-11 05:25] asklar commented on #6514
moving to backlog until we have a reason to update 0.63 and below

[2021-01-11 07:49] rectified95 commented on #6566
Unassigning and moving to backlog - context given in comments above: we aren't able to tab into headers but will be able to navigate to them using arrows. This could be possible if were using more advanced XAML list elements, rather than ScrollView.

[2021-01-11 08:24] rectified95 commented on #6782
@lamxdoan I tested it on build 19042.685, version 20H2, feature exp. pack 120.2212.551.0, XAML: Microsoft.UI.Xaml.2.3_2.32002.13001.0
Could you try creating a XAML app with one ScrollViewer and see if it acts correctly?

[2021-01-11 09:47] BartoszKlonowski commented on #3742
@kmelmon I've been searching for a localization mechanism in both *react-native-windows* and *react-native* and couldn't find any. Is the localization even supported?
If it is then could you point me the native implementation of Alert for iOS which the comment mentions?

[2021-01-11 16:28] NickGerleman commented on #6632
In the most recent release, everything looked good apart from a change where we didn't create a release, since Beachball added a changelog entry for `@react-native-windows/cli` but not `react-native-windows`. That issue is tracked by https://github.com/microsoft/react-native-windows/issues/6523

[2021-01-11 16:49] #6217 closed

[2021-01-11 19:08] chrisglein commented on #6843
We have an issue tracking this that has some discussion. Definitely copy in any of the benefits to that issue.
Duplicate of #4960

[2021-01-11 19:08] #6843 closed

[2021-01-11 19:12] chrisglein commented on #6841
I remember there being some things we needed to do to get community modules on the same version otherwise there were issues. @jonthysell where are we with mixed-cppwinrt versions? Is that a problem still? What should our policy be for updating?

[2021-01-11 19:16] NickGerleman commented on #6840
Some more context here https://teams.microsoft.com/l/message/19:d18a996a978f4ef8a55443c75c293b35@thread.skype/1610060496991?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=8034415f-bc0a-4b5d-9453-78ee27e16b22&parentMessageId=1610060496991&teamName=React%20Native%20%40Microsoft&channelName=Developer%20Help&createdTime=1610060496991

[2021-01-11 19:17] chrisglein commented on #6836
Thanks @mjfusa! Looks like that conversation spawned two bugs. I'm going to dupe this to the other one and it'll be linked so this context isn't lost.

Duplicate of #6840.

[2021-01-11 19:17] #6836 closed

[2021-01-11 19:20] chrisglein commented on #6833
We can fix the half where it is passed through. But then the app code will still need to make a private modification. In the meantime the workaround exists.

Using this bug to track fixing that pass through (also make sure to check with iOS/Android for parity of how they handle this passthrough)

[2021-01-11 19:20] NickGerleman commented on #6833
Upstream CLI does accept port https://github.com/react-native-community/cli/blob/master/docs/commands.md#run-ios

[2021-01-11 22:48] NickGerleman commented on #4053
We are doing this now.

[2021-01-11 22:48] #4053 closed

[2021-01-12 11:22] creambyemute commented on #6818
@asklar Thanks for the clarification. I've been trying to get it working since friday and have mostly made it but the proposed solution didn't quite work. I'll write down my findings here:

### Example 1 (Not working)
**Duplicating the `appName/` folder inside `windows/` (the whole folder containing .vcxproj and Manifest)**

After duplicating and replacing the bits that needed to be replaced I was

[2021-01-12 16:59] creambyemute commented on #6651
@stmoy I don't think so. I can't use NodeJS FS there. Seems like @asklar Approved these recently.

Not sure if it ever will get merged to either to original nor the @ConnectedHomes repository so I forked it and added it there. Seems to be working so far.

[2021-01-12 19:31] chrisglein commented on #6840
See #6836 for more repro context.

[2021-01-12 19:34] jonthysell commented on #6829
For 0.61, 0.62, and 0.63, the docs include version-specific setup steps, and already say:

We could update the text to be something like:

I also think updating the CLI to say 0.64+ for the flag is the best move.

[2021-01-12 20:26] #6715 closed

[2021-01-12 21:08] jonthysell commented on #6841
AFAIK it's not really an issue anymore, as long as the projects are properly set up with the whole `$(SolutionDir)\packages` setup.

IIRC camera still targets the version used in 0.62, and still works with 0.63 and 0.64, despite their use of a newer version.

And starting with 0.64, my hope is people use `react-native-windows-init` to create their project, and perhaps later even to partially updat

[2021-01-12 23:44] BartoszKlonowski commented on #6689
The pull request fixing this issue has been merged - this issue should be closed now.

It's strange that neither this PR has been linked to this issue automatically, but the mention is there...

[2021-01-13 11:43] jaimecbernardo commented on #5770
The PR with the Windows port of this module has been opened here: https://github.com/crazycodeboy/react-native-splash-screen/pull/514

[2021-01-13 18:33] rectified95 commented on #6706
Issue fixed, PR merged into 0.63-stable, closing manually because Github linkage didn't do it automatically.

[2021-01-13 18:33] #6706 closed

[2021-01-13 23:31] rtselvan commented on #6706
Thank you for getting this into the 0.63-stable.

[2021-01-13 23:45] chiaramooney opened #6864 "Clearer Error Messages for YGValues"
# Proposal: Clearer Error Messages for YGValues

## Summary
This request emerged from [this PR ](https://github.com/microsoft/react-native-windows/pull/6837). Currently, we fire a Red Box error for incorrect YGValue inputs from within NativeUIManager using a RedBox API from ShadowNodeBase. In future, the request would be to improve this solution one of two ways. One option would be to move the Red

[2021-01-13 23:59] chiaramooney opened #6865 "Track textDecorationLine Workaround"
## Expected Results
Workaround in place to resolve [this XAML bug](https://github.com/microsoft/microsoft-ui-xaml/issues/1093#issuecomment-514282402). It is a bug with the textDecorationLine style for TextBlocks which effects the styling of the Text component in RNW. Code containing workaround can be found in [this PR](https://github.com/microsoft/react-native-windows/pull/6855). Creating issue to

[2021-01-14 08:15] BartoszKlonowski commented on #2120
As this is nice to have I can work on this in my spare time.
@chrisglein  Please assign me to this issue.

[2021-01-14 08:33] BartoszKlonowski commented on #4385
I can work on implementing the support for **"d"** command.
@chrisglein Please assign me to this issue.

[2021-01-14 08:49] BartoszKlonowski commented on #6430
I would be glad to implement the Windows support for this.
@chrisglein Please assign me to this item.

[2021-01-14 08:59] asklar commented on #6430
Thanks for volunteering @BartoszKlonowski ! Assigned to you

[2021-01-14 10:02] BartoszKlonowski commented on #4385
I've just checked that **"d"** command works fine:
![DeveloperMenu](https://user-images.githubusercontent.com/70535775/104575976-ec356d80-5657-11eb-8c8c-88ae2e7e7b90.gif)

---

Issue can be closed now - both "r" and "d" are supported.

[2021-01-14 16:35] creambyemute opened #6867 "Support react-native-tab-view / MaterialBottomTabNavigator / MaterialTopTabNavigator ?"
# Support `react-native-tab-view` on RNW

This would make creating TabBars (and the appropriate scene/page) or Tab-Navigation (with React-Navigation) a lot easier and comfortable to achieve.

## Basic Info
- Module Repo URL: [react-native-tab-view](https://github.com/satya164/react-native-tab-view#readme)
- Target version: ? Latest ?
- [ ] Issue exists on module repo
- [ ] Module has a Legacy/C# i

[2021-01-14 16:36] chrisglein commented on #4385
Thanks @BartoszKlonowski !

[2021-01-14 16:36] #4385 closed

[2021-01-14 19:07] chrisglein commented on #6864
If it feels like we can make a solid proposal go ahead and open an issue on the RN core repo. Although really I think they'll be looking for a PR, not an ask for one, knowing how issues go over there :)

[2021-01-14 19:53] asklar commented on #6818
@creambyemute in order to build and not run you can simply run `npx react-native run-windows <other options> --no-launch`. This is documented in the help for `run-windows` and in the CLI's readme but I agree we don't talk about it in the docs so I've added a link: https://github.com/microsoft/react-native-windows-samples/pull/356.
It sounds like you are unblocked so I'm going to close this, feel f

[2021-01-14 19:53] #6818 closed

[2021-01-14 19:54] rectified95 opened #6871 "Support Share API"
RN vnext includes the Share API - https://reactnative.dev/docs/next/share - which brings up the 'Share with..' context menu listing apps (eg. whatsapp, fb messenger) to share content with.

Is there an equivalent in UWP and should we try to match it at all?

[2021-01-15 00:00] rectified95 commented on #6871
This looks relevant:
https://docs.microsoft.com/en-us/windows/uwp/app-to-app/share-data

[2021-01-15 00:04] licanhua opened #6876 "Add python dependency for RNW development"
Python dependency is introduce by #6636
Possible update azure pipeline to use the python which is existing in hosted agent via UsePythonVersion
update rnw-dependencies.ps1 to include the python dependency?
Also please submit a PR to the docs repo to list Python in the documentation

[2021-01-15 03:06] vmoroz opened #6881 "Add more ReactNotificationService tests"
We should have more IReactNotificationService tests, especially to test things like:
* subscribe, unsubscribe, subscribe
* nested notification services etc
* subscribing twice on the same node
* subscribing twice on sibblings and then unsubscribe.
* Error case for removing subscription twice?

_Originally posted by @dannyvv in https://github.com/microsoft/react-native-windows/pull/6877#discussion_

[2021-01-15 05:58] JunielKatarn opened #6882 "AsyncStorageModule crashes in Desktop integration tests"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Build `ReactWindows.Desktop.IntegrationTests`.
2. Uncomment `CreateAsyncStorageModule(L"ReactNativeAsyncStorage")` in `DesktopTestRunner.cpp`.
3. Run the `RNTesterIntegrationTests` suite.

## Expected Results
Tests pass.

## Actual Results

Several tests, including `IntegratinTestHarness` and `WebSocket` crash due

[2021-01-15 14:51] vmoroz commented on #6840
Fixed by #6877

[2021-01-15 14:51] #6840 closed

[2021-01-15 20:21] ladebo commented on #5539
@chrisglein Hello! From @aschultz 's last comment -- we're now using inline links in more locations (like FAQs and descriptions that are controlled content). Having this functionality to create a link, surrounded by plain text, moving forward would really help us. We've been running into issues with our workaround control and updating it to new scenarios.

Wanted to note in case this bug could be

[2021-01-15 23:00] Murtaya opened #6890 "Need a way to turn off text scaling (set IsTextScaleFactorEnabled to false) for controls--or ideally the entire app"
# Proposal: Accessibility: Need a way to turn off text scaling (set IsTextScaleFactorEnabled to false) for all text-based controls--or ideally the entire app.

## Summary
Our app needs a way to turn off UWP text scaling at a global level.  By default UWP lets OS text scaling factor changes change every text-based control in the app, but as our app relies on app scaling (instead of text scaling), a

[2021-01-16 00:59] netroby opened #6892 "Build failed with windows 10 x64"
[code]

[2021-01-16 02:35] #6876 closed

[2021-01-16 08:09] asklar commented on #6892
@netroby looks like you may not have all the dependencies installed, please follow the instructions at https://aka.ms/rnw-deps and run the script to install the dependencies.

[2021-01-16 11:21] abdes-zakari commented on #6892
I have same issue

after checking dependencies with this command:

`Set-ExecutionPolicy Unrestricted -Scope Process -Force; iex (New-Object System.Net.WebClient).DownloadString('https://raw.githubusercontent.com/microsoft/react-native-windows/master/vnext/Scripts/rnw-dependencies.ps1')`

 i got :
![image](https://user-images.githubusercontent.com/30769602/104810483-1cfed980-57f5-11eb-8c49-1b14c5fa

[2021-01-16 19:35] asklar commented on #6892
@abdes-zakari You might have to close that window and open a new one; do you see the same message when you run the script a second time **from a separate window**? please file a separate issue if so.

[2021-01-16 21:26] #6511 closed

[2021-01-17 06:00] NickGerleman commented on #6523
Fixed in Beachball 1.49.0 with https://github.com/microsoft/beachball/commit/3a2f081fd36cedc6124ba4253d8abac2e8a145b7

[2021-01-17 06:00] #6523 closed

[2021-01-17 11:35] abdes-zakari commented on #6892
Thanks @asklar
I fix it by reinstalling the missing dependency with Visual Studio installer.

[2021-01-19 07:15] asklar opened #6903 "Use AzDO version of python"
The newly added dependency on Python is using a python distro that gets installed as part of the CI build.
We should instead be using the pre-installed Python install (and update rnw-dependencies.ps1 which currently skips checking Python in CI).

[2021-01-19 09:33] qmatteoq opened #6904 "Can't consume a C# module in React Native 0.62"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.13.1
2. `npx react-native info`:

[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Create a new project based on React Native 0.62 and add Windows support
2. Open package.json and, under dependencies, add the following entry:

[code]
This is a

[2021-01-19 12:24] BartoszKlonowski opened #6905 "Unable to resolve module `./Libraries/Components/AccessibilityInfo/AccessibilityInfo` from `node_modules\react-native\index.js`"
## Environment
1. `npx react-native --version`:
`4.13.0`
2. `npx react-native info`:
[code]

- Target Platform Version(s): 10.0.18362
- Target Device(s): PC, Desktop
- Visual Studio Version: 2019
- Build Configuration: Debug

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Create the project for iOS, Android (no Windows yet)
2. Install the packages:
[code]
3. B

[2021-01-19 23:11] NickGerleman opened #6907 "NuGet Package Versions Off-By-One Compared to NPM Package Versions"
Same cause behind https://github.com/microsoft/react-native-windows/issues/6632

After `beachball publish` our publish pipeline will generate new GitHub releases, and kick off generation of NuGet packages with native code from our NPM package. Beachball behavior seems to have changed, where it is reverting local file state to pre-published values. This means that the version of NuGet packages gene

[2021-01-19 23:11] NickGerleman commented on #6907
Affects master and 0.64-stable

[2021-01-19 23:55] NickGerleman opened #6908 "New WebSocket Stack Doesn't Allow Protocols Array in ctor"
@JunielKatarn @NickGerleman I just started testing out 0.64 in my app and I'm getting errors setting up a websocket.

It looks related to argument parsing. The old code (what's now in LegacyWebSocketModule) parses the "protocols" arg to the connect call as an array. This matches up with the docs for [WebSocket](https://developer.mozilla.org/en-US/docs/Web/API/WebSocket/WebSocket).

The new WebSock

[2021-01-19 23:56] rectified95 commented on #6494
I wanted to add Pressable typings, but then focused on upstreaming the change. Since that work has been held up, I can add Windows-specific typings for 0.64.

[2021-01-19 23:56] NickGerleman commented on #6908
Fixed in master with https://github.com/microsoft/react-native-windows/pull/6866

Need in 0.64, where we switch UWP consumers to the new stack by default.

[2021-01-19 23:58] NickGerleman commented on #6494
@alloy do you know current plans for updating DefinitelyTyped Typings for RN 0.64? Haven't seen a PR for it yet.

[2021-01-20 15:54] NickGerleman opened #6913 "Add thread checks to XamlUIService::ElementFromReactTag"
Garrison ran into some timing issues related to the thread affinity changes in 0.64. Sample code showed that we were accessing UIManager state on the JS thread. This is unsafe, but we don't fail loudly if this happens.

[code]

[2021-01-20 18:39] jaimecbernardo opened #6915 "Is it possible to make auto-linking work with modules which contain XAML elements"
Currently, adding the `#include` line to `pch.h` is still needed for modules that contain XAML elements, or there'll be an error when compiling the application's generated `XamlTypeInfo.g.cpp` file, even when the module supports auto-linking.

Asking the user to add the `#include` line in `pch.h` is a simple instruction, but is there currently a way to have auto-linking pick up on the XAML control

[2021-01-20 21:46] NickGerleman opened #6916 "Failed to publish "1.2.3-test""
See http://beep-boop-im-a-robot.com for more details

[2021-01-20 21:47] #6916 closed

[2021-01-21 00:27] asklar opened #6918 "SDL compliance"
There are a bunch of warnings that are being suppressed (esp in RN core and folly).
We should identify them, and fix them.

[2021-01-21 00:42] asklar commented on #6915
The pch/xamltypeinfo issue is a XAML / cppwinrt behavior so it isn't specific to cppwinrt.
See:
- https://microsoft.github.io/react-native-windows/docs/next/native-modules-troubleshooting#compile-error-xamlmetadataprovider-is-not-a-member-of-winrtmymodulename
- https://docs.microsoft.com/windows/uwp/winrt-components/create-a-windows-runtime-component-in-cppwinrt#troubleshooting

The utility of aut

[2021-01-21 03:59] #6632 closed

[2021-01-21 03:59] #6907 closed

[2021-01-21 08:35] asklar opened #6919 "appxmanifest must declare dependency on specific MUX version"
Otherwise, if the MUX package is not installed, the app will fail to launch

[2021-01-21 09:17] NickGerleman commented on #6903
We are now running part of the build on the WinDev pool whose images don't include as much. E.g. we started needing to reinstall yarn on them.

May encounter the same thing here if it isn't part of the WinDev image.

[2021-01-21 09:44] jaimecbernardo commented on #6915
From the links provided, the current solution is to have the module user add the `#include` statement in the app's `pch.h`.
Thank you for the answer and additional references.

[2021-01-21 09:44] #6915 closed

[2021-01-21 16:41] creambyemute commented on #6627
@stmoy @chrisglein  Hey, sorry for pinging you both again, I'd really like to give this small C# --> C++ refactoring a try.
You mentioned there may be some examples for reference?

I'll be on vacation the first week of February and would look into this as I'm interested in the process of writing/transitioning a C# to C++ Module and thought I'd ping again before I'll dig into the unknown :).

[2021-01-21 16:44] creambyemute commented on #6651
Fork is available at: https://github.com/wwimmo/redux-persist-fs-storage

Original repo is unmaintained, the one where I create a PR seems to be unmaintained as well.

I've been using it since then and didn't have problems yet, so for me it's solved.

[2021-01-21 16:44] #6651 closed

[2021-01-21 16:48] asklar opened #6924 "[Breaking change] VS update breaks .net native workaround"
VS 16.9 ships a newer version of the uwp core runtime sdk and net native, and doesn't ship the older ones which our props for consuming C# code from C++ code use.
Today we check for a couple of versions, which means every time VS updates there is a risk that they will break this for all versions of RNW that support `ConsumeCSharpModules`. Ideally we make this smarter by adding some logic either in

[2021-01-21 17:45] asklar opened #6926 "Dynamically identify net native version at build time"
Related: #6924

[2021-01-21 18:38] asklar commented on #6904
Update - different versions of RNW and VS (via the uwp runtime versions) behave differently:

| | UWP 2.2.10 | UWP 2.2.11 |
| 0.62 | ❌ | ❌ |
| 0.63 | ✅ | ❌ |

I'm fixing the combination of RNW 0.63 + UWP 2.2.11 (VS 16.9) in #6925 ; @qmatteoq is going to talk to the customer to upgrade to 0.63

[2021-01-21 19:06] chrisglein commented on #6926
This is the longer term that avoids the hardcoded versions in the workaround.

[2021-01-21 19:09] chrisglein commented on #6919
Symptom is that we're unable to load resources from Microsoft.UI.Xaml.Controls.
Assigning to @asklar to follow up about dependencies.

[2021-01-21 19:13] chrisglein commented on #6918
@asklar can you include a list of the current warnings?
If there are different warning levels being applied we're going to have difficulty with dependencies regressing these. We'll still need to fix them, but what process should we use for finding them earlier?
What warning level do we need to enforce? (there's likely multiple customers with different needs here, but can we raise the baseline upst

[2021-01-21 19:18] asklar commented on #6919
confirmed with jevan that this happens at build time so we are good here

[2021-01-21 19:18] #6919 closed

[2021-01-21 19:22] chrisglein commented on #6905
We have a Metro Troubleshooting Guide: http://aka.ms/RNWTroubleshootMetro
Give that a spin and see if it was helpful, report back if you're still blocked.

[2021-01-21 19:24] chrisglein commented on #6904
Won't be fixed in 0.62. Will be fixed in 0.63 including the asterisk of #6925. Hopefully that works for them.

[2021-01-21 19:24] #6904 closed

[2021-01-21 19:27] chrisglein commented on #6903
@dannyvv Do you know if the new pool machines have python pre-installed? If not, then no action here and we can close.

[2021-01-21 19:28] acoates-ms commented on #6905
https://microsoft.github.io/react-native-windows/docs/next/metro-config-out-tree-platforms may also help.

[2021-01-21 19:30] chrisglein commented on #6890
Potential workaround: Could include setting the native API for this on the XAML root.
If that works, then I don't think we'll need a RNW option for this. Native API should suffice.

[2021-01-21 19:31] chrisglein commented on #6890
@Murtaya can you try that on the MainPage.xaml and if it doesn't work reopen and we can talk through other options.

[2021-01-21 19:31] #6890 closed

[2021-01-21 19:43] chrisglein commented on #5497
Belief is that this is fixed.

[2021-01-21 19:43] #5497 closed

[2021-01-22 03:41] #6924 closed

[2021-01-22 05:13] Murtaya commented on #6890
Unfortunately our project doesn't have a MainPage.xaml--we're creating the page dynamically in code.  This is something new I discovered since posting (we have three different teams working on our project, and it has evolved from an Electron project).

As such, we're probably in a very rare space and will need a custom solution, so it's probably not a big concern for most RNW projects (and you can

[2021-01-22 17:00] acoates-ms commented on #6890
@Murtaya, If you are creating the Page in code, couldn't you just set that property on the Page in code too?

[2021-01-22 20:48] aschultz commented on #4466
@kmelmon You wrote:

My understanding from playing with [this page](https://reactnative.dev/docs/transforms) is that transforms should be orthographic by default, and only change to perspective when a `{perspective: <value>}` entry is added to the transform array. That seems born out in [the code I see](https://github.com/facebook/react-native/search?q=perspective+transform&type=commits) when sear

[2021-01-22 20:52] syedibrahimt opened #6931 "View prop borderStyle: 'dashed' not working"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:
2. `npx react-native info`:

- Target Platform Version(s): **10.0.19041.0**
- Target Device(s): **Desktop**
- Visual Studio Version: **Visual Studio 2019**

## Steps To Reproduce
Sample code below

`<View
            style={{
              width: 400,
              height: 500,

[2021-01-22 20:59] syedibrahimt commented on #6931
@stmoy   can you please help me with this.

[2021-01-22 22:13] aschultz commented on #6913
Which thread should XamlUIService be accessed on? The UI thread? What if there are multiple windows (and thus multiple UI threads)?

[2021-01-22 22:16] acoates-ms commented on #6913
A react instance can only have one thread.  If you have multiple windows with multiple UI threads you'd need multiple react instances.   You would use the UIDispatcher property from the ReactContext to get to the correct UI thread in a generic way.

[2021-01-22 22:47] aschultz commented on #6913
@acoates-ms It looks like UIDispatcher is a ReactDispatcher object, not a DispatcherQueue or CoreDispatcher. Are there any awaitable helpers like winrt::resume_foreground for use with co_await?

[2021-01-22 22:49] acoates-ms commented on #6913
Good question.  @vmoroz would know better.

[2021-01-22 22:55] NickGerleman commented on #6913
If we don't, you could also save the apartment_context from the UI thread to resume to.

E.g. https://github.com/microsoft/react-native-windows/pull/6109/files

Would be nice to support it without doing something like that if we don't.

[2021-01-22 23:02] vmoroz commented on #6913
@aschultz , @acoates-ms, @NickGerleman, we currently do not have support for the co-routines in our C++ API. We should add it. It is probably too late for 0.64 though.

[2021-01-22 23:28] aschultz commented on #6913
@NickGerleman That wouldn't work in this case, since we start on the JS thread and we need to move to UI before we can do anything.

@vmoroz That's fine, I just wanted to check. It's easy enough for me to build my own helper for now.

[2021-01-22 23:34] NickGerleman commented on #6913
@aschultz by default the UIDispatcher corresponds to the thread where the ReactNativeHost is created. When creating the instance, you can pass variables to the ReactContext through the PropertyBag on ReactInstanceSettings.

I.e. you could do something like grab the apartment_context before instance initialization, and it would be passed to all of your native modules on the JS thread.

That general

[2021-01-22 23:59] NickGerleman opened #6937 "flow-typed build outputs included in Git"
`react-native-windows` and `react-native-win32` packages need a root `flow-typed` directory containing 3p module flow definitions to allow type-checking. We used to maintain a source copy of these, but moved to having them published as part of the `react-native` package, them copying them at build time.

We still have older outputs checked into Git. We should remove them.

[2021-01-23 00:00] NickGerleman commented on #6931
I believe this is not yet implemented. Related issue: https://github.com/microsoft/react-native-windows/issues/3078

[2021-01-23 01:17] NickGerleman opened #6939 "vnext codegen files deleted and not restored with `yarn build` on Mac"
Current logic during codegen is to delete all files then generate new ones from source. When running `yarn build` on a mac (e.g. to test an xplat pacakge), codegen'd headers are deleted, but we silently fail to generate new ones.

[2021-01-23 01:18] #6908 closed

[2021-01-23 06:51] NickGerleman opened #6941 "RNW Dependency Warnings Can Overshadow unrelated build errors"
On build failure, where a machine hasn't run the deps script, the following is printed, even if dependencies are installed.

![image](https://user-images.githubusercontent.com/835219/105571302-db45c580-5d03-11eb-98c9-bd409f918830.png)
[code]

The real error here is `C:\Users\nickg\Desktop\react-native-windows\Directory.Build.targets(39,5): error : Yarn packages are out of date. Please run 'yarn in

[2021-01-23 07:03] NickGerleman opened #6942 "yargs-parser resolution breaks wdio cli"
Repro: `npx wdio config`

We see errors internal to `yargs-parser` because we are calling APIs that don't exist on the version to which we added a resolution.

Need to see if we can scope the resolution further, or remove it.

[2021-01-23 15:00] emmanuj opened #6943 "AppState Change Listener Not Working on RNW"
Registering a change listener like below does not seem to work on React Native Windows:

[code]

I'm using hooks here but I tested in a class component and that doesn't make a difference

## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 5.0.1-alpha.0
2. `npx react-native info`:
[code]

## Steps To Reproduce
Provide a detailed list of ste

[2021-01-23 19:08] syedibrahimt commented on #6931
@NickGerleman  Any Workaround to achieve dashed border?

[2021-01-24 09:28] asklar commented on #6943
the native side seems to not be implemented:
[code]

[2021-01-24 14:49] emmanuj commented on #6943
@asklar The Android version does the same thing so I'm guessing that's not the problem?
https://github.com/facebook/react-native/blob/6e6443afd04a847ef23fb6254a84e48c70b45896/ReactAndroid/src/main/java/com/facebook/react/modules/appstate/AppStateModule.java#L114
[code]

[2021-01-25 07:38] NickGerleman opened #6944 "VisualTreeDumpHelper.DumpTree can add invalid trailing commas to end of array"
See trailing commna on line 1387 of this: https://gist.github.com/NickGerleman/57b8078b606a09472cad42ae1f0c5230

Code to fix this exists on a personal repo outside of RNW.

[2021-01-25 07:52] asklar commented on #6943
@emmanuj - looked at this in more depth, I see what's happening (we're registering for events from the wrong thread). I'll send a PR out, thanks for reporting!

[2021-01-25 08:17] asklar opened #6945 "Assert when reloading due to Tracelogging"
#6869 added tracelogging events but those are supposed to be registered at most once per process lifetime so we crash on reload
[code]

[code]

[2021-01-25 08:40] BartoszKlonowski commented on #6905
@chrisglein
I've ran the metro debugging session and I've ended up with nothing more than just the error message (`Unable to resolve...`).
I've tried to look deeper in call stack for any clue, but there's nothing usefull I could find.

@acoates-ms
I've checked them all and nothing helps.
The only complication worth mentioning is that  `node -p require.resolve('react-native-windows')`  returns only

[2021-01-25 09:00] #6319 closed

[2021-01-25 09:52] NickGerleman commented on #6942
Looks like the package that was bringing in the vulnerable version has an update. Have a PR out Linked above to update us to that and remove the resolution.

[2021-01-25 10:27] NickGerleman commented on #6945
This one is important to fix.

@mganandraj would you be able to revert or forward fix this week?

[2021-01-25 10:30] asklar commented on #6944
Should be fixed in 1.0.6 now.

[2021-01-25 10:37] asklar opened #6950 "UIScheduler_WinRT is tied to system XAML"
this helper class uses Windows::System::DispatcherQueue and related, which won't work with WinUI 3; need to just use the aliased namespace.

[2021-01-25 10:39] NickGerleman commented on #5762
Haven't run into this with the most recent round of E2ETest work, after the appium to winappriver wdio service change. Going to close unless we see it again.

[2021-01-25 10:39] #5762 closed

[2021-01-25 11:27] NickGerleman opened #6951 "Add plopfile to generate new monorepo package"
There's a growing number of config files that go into a monorepo package. Current way to make a new package is "copy/paste, then edit". We should instead generate them from a tempate.

[2021-01-25 17:55] acoates-ms commented on #6905
Can you provide your metro.config, and your basic repo structure?  Is it a monorepo?  Are you using yarn workspaces etc?

[2021-01-25 18:10] kikisaints commented on #5901
@aschultz just to help clarify, when you say "topmost under the cursor and it's ascendants" how would you expect that to actually function? You mention that it should be what UWP does, which is what I posted in the short gif I provided (that's the native, non-RNW behavior in UWP apps today), but you mentioned that behavior isn't quite right to solve the issue. Can you elaborate more on what that s

[2021-01-25 18:37] #6943 closed

[2021-01-25 18:43] stmoy commented on #6867
@creambyemute - thank you for filing this issue! I very briefly looked at the react-native-tab-view repo, and it looks to be entirely TypeScript + JavaScript (ie. no native code). That would indicate that it might "just work". If it doesn't it could either be because it's calling into platform APIs that RNW hasn't yet implemented, or it has dependencies on other modules that haven't yet been imple

[2021-01-25 19:03] chrisglein commented on #6951
Assigning to you to either A) do it, or B) put in more details so someone else can grab this in the future.

[2021-01-25 19:05] chrisglein commented on #6950
Specific example related to #6805 and #2557.

[2021-01-25 19:12] chrisglein commented on #6943
@asklar Does this indicate there are other modules that might have a similar problem?
Sounds like there's a request to port to 0.63. Tagging for that.

[2021-01-25 19:20] chrisglein commented on #6941
How do make this better?
Is the dependency install too aggressive? It's printing that if you've never run it, although you could have the dependencies. The message may be too strongly worded - it sounds like it knows that your dependencies are the problem, not that you haven't run the script. Could be reworded.

For sure printing out more of that error message would be essential. That being trunca

[2021-01-25 19:22] chrisglein commented on #6939
Are we not running the codegen on Mac? Some platform check assuming Windows?
@NickGerleman have you had any chance to delve into why this isn't happening?

[2021-01-25 19:27] chrisglein commented on #6931
There's a comment in #3078 to the `Rectangle` documentation. You could with the native APIs include a Rectangle (or other Shape) that sets a dashed stroke. Not ideal, but that's the available workaround until #3078 is completed.

Duplicate of #3078. Go ahead and add any more details to that issue.

[2021-01-25 19:27] #6931 closed

[2021-01-25 20:34] #6944 closed

[2021-01-25 22:24] #6942 closed

[2021-01-25 22:56] chrisglein commented on #5326
This is something we have adhoc'd release to release, but not something we've formalized into a script. We are starting to leverage the [gallery](https://github.com/microsoft/react-native-gallery) app as the vehicle for this. What we need is a script of _how_ we use the gallery app to validate. I've opened [this issue](https://github.com/microsoft/react-native-gallery/issues/48) to track that. We

[2021-01-25 23:22] asklar commented on #6918
https://osgwiki.com/wiki/Compiler_Warnings_(Debt_Type)

Build environments configured with the Visual Studio C/C++ compiler must be configured with the required compiler warnings. All security related warnings as defined below must be fixed.

Enable level 3 warnings by setting the /W3 flag. Triage and fix all warnings.

Enable the following mandatory warnings. All mandatory warnings must be fixed.

[2021-01-26 00:15] JunielKatarn commented on #6918
Should we perhaps add this list to the MSRN docs?

If we wanted to go crazy, we could even add some MSBuild trigger that made sure those are not disabled (withing MSBuild files).

From: Alexander Sklar <notifications@github.com>
Sent: Monday, January 25, 2021 3:23 PM
To: microsoft/react-native-windows <react-native-windows@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject:

[2021-01-26 00:16] JunielKatarn commented on #6918
Should we perhaps add this list to the MSRN docs?

If we wanted to go crazy, we could even add some MSBuild trigger that made sure those are not disabled (withing MSBuild files).

[2021-01-26 04:27] #5827 closed

[2021-01-26 04:27] #6215 closed

[2021-01-26 04:27] #6903 closed

[2021-01-26 06:16] aschultz commented on #5901
@kikisaints Regarding your gif -- I don't know how you put together the code for it, but it's not the behavior I observe on UWP. I see UWP acting the same as the web algorithm -- the pointer is "in" the top-most element under the cursor and all of its ascendants in the tree.

Here's a vanilla C# app to prove my point: https://github.com/aschultz/hittest

The structure of the XAML for that sample i

[2021-01-26 08:22] creambyemute commented on #6867
@stmoy  It seems to be related to RN-Gesture-Handler things.

You can very easily reproduce it by just using the TabView with the Default-Pager on RN-Windows.
Or by providing the ScrollPager as Pager Component to TabView. Then it'll open/show, but no interactions possible.

[2021-01-26 11:14] hb1998 opened #6965 "How do i run a node server ?"
I want to run a node server that will expose rest-API .
I'm migrating from electron, in which I had the same setup, where my frontend is an angular app and backend is a node express app.

[2021-01-26 13:33] BartoszKlonowski commented on #6905
@acoates-ms I'm not using Yarn workspaces, and it's not a monorepo.
My project structure looks like this:
[code]

The *metro.config* is:
[code]

and the *metro-config/src/defaults/blacklist* is:
[code]

I hope that's usefull.

---

**NOTE:**
Meanwhile I've noticed the same error, but on a whole different application when trying to debug the [example app](https://github.com/capc0/rn-paper-btn-click

[2021-01-26 18:20] #6950 closed

[2021-01-26 20:22] vmoroz commented on #2557
@kmelmon, @chrisglein, @asklar,  I am closing this issue because we do not use the CoreDispatcher for a long time already. About a year ago we switched to using the Windows::System::DispatcherQueue and in #6962 @asklar added a switch to use Micrtosoft::System::DispatcherQueue for WinUI 3.

[2021-01-26 20:22] #2557 closed

[2021-01-26 20:23] vmoroz commented on #6950
@chrisglein, I have closed the #2557. The #6805 is still opened because it applies to the direct use of Windows::System::DispatcherQueue in unit tests.

[2021-01-27 10:35] nsab1n opened #6975 "Freshly generated C# app fails to start"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.13.1
2. `npx react-native info`:
System:
    OS: Windows 10 10.0.17763
    CPU: (4) x64 Intel(R) Core(TM) i7-7600U CPU @ 2.80GHz
    Memory: 4.98 GB / 15.89 GB
  Binaries:
    Node: 12.9.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.5 - C:\Program Files (x86)\Yarn\bin\yarn.CMD

[2021-01-27 14:46] tritao commented on #6638
This has now been implemented: https://github.com/ak1394/react-native-tts/pull/161

[2021-01-27 21:49] harrisrobin commented on #4220
hitting this too, this causes the app to crash on windows.

[2021-01-27 22:39] NickGerleman commented on #6975
The specific crash here happens when running dev tooling on a Windows 10 version prior to 19H1/1903. RNW 0.64 (still in preview) fixes this crash, but there will still be a degraded experience when using older operating systems. Would be best to update if possible.

[2021-01-28 02:26] nsab1n commented on #6975
Great, 0.64 works! But thanks for the prompt to ask my organisation to update my Windows installation, I was running version 1809 for some reason. And thanks for RNW!

[2021-01-28 02:26] #6975 closed

[2021-01-28 04:10] dannyvv commented on #6690
This should be fixed now.

[2021-01-28 04:10] #6690 closed

[2021-01-28 14:04] tbottke commented on #5132
Hello, @RatikKapoor were you able to fix that? I'm running into the same problem right now ( Windows 10 1709 ).

[2021-01-28 17:57] asklar commented on #5132
@RatikKapoor @tbottke could you post the full content of the stack trace window at the point of failure? It's possible there is a similar issue elsewhere

[2021-01-28 19:15] chrisglein commented on #6965
This is a question I think a number of people coming from Electron will be asking. We should put together some help on that. @acoates-ms can you either provide some detail or find someone who can?

[2021-01-28 22:30] asklar opened #6978 "XAMLControl view manager"
## Summary
Provide an inbox view manager that exposes a flat xamldirect-like API to wrap xaml types, so that people don't have to write viewmanagers from scratch if they're just looking to use the xaml api anyway.

## Audience
Application developers looking to target only Windows, which might be migrating from existing XAML apps or starting to transition from XAML to RNW.

## Usage example
This wo

[2021-01-28 22:40] jonthysell opened #6979 "CVE-2020-7751: Component Governance fails due to pathval 1.1.0"
https://nvd.nist.gov/vuln/detail/CVE-2020-7751

A specific remediation has not been provided for this vulnerability.

[2021-01-29 08:33] tbottke commented on #5132
@asklar thanks for your quick response. When I click on continue after the first exception occurs I will get to the point where
[code]
throws an error.

![react_native_info](https://user-images.githubusercontent.com/70366492/106250816-706d2080-6214-11eb-81a6-2ca5938ba08c.PNG)
![first_error](https://user-images.githubusercontent.com/70366492/106250814-6f3bf380-6214-11eb-8371-580848993bdc.PNG)
![sec

[2021-01-29 08:40] tbottke commented on #5132
When I out comment the line in the last screenshot I get to the point where I can see the react native template app. When I click on a link like @RatikKapoor already said in his last post I'm getting the same error thrown at me like he did.

[2021-01-29 08:48] asklar commented on #5132
@tbottke could you copy/paste the content from the `Call stack` window at the bottom of the screen?

[2021-01-29 09:16] tbottke commented on #5132
@asklar I applied your fix there is still some errors (2nd_callstack) after clicking on continue I get another error.

![callstack](https://user-images.githubusercontent.com/70366492/106255816-cb097b00-621a-11eb-9760-c47211ee52ca.PNG)
![2nd_callstack](https://user-images.githubusercontent.com/70366492/106255817-cb097b00-621a-11eb-9f4e-b52045f8a901.PNG)
![after_clicking_link_callstack](https://user

[2021-01-29 09:18] asklar commented on #5132
@tbottke If I remember correctly, that one is due to a VS bug in the designer. You might be able to work around that bug by disabling the designer (Debug > Options):
![image](https://user-images.githubusercontent.com/22989529/106256228-daafa200-61cf-11eb-9a21-46bf06ed24cb.png)

Try launching the app from the start menu instead of VS, it might not crash that way :)

[2021-01-29 09:22] tbottke commented on #5132
@asklar app launch is fine from the menu after clicking on a link in the app it crashed again.

[2021-01-29 09:24] tbottke commented on #5132
![after_clicking_link](https://user-images.githubusercontent.com/70366492/106256878-24be7500-621c-11eb-91fc-6870ec51d31c.PNG)

[2021-01-29 09:34] asklar commented on #5132
thanks. It's likely there will be more call sites calling APIs not available on RS3, as we aren't really testing on Windows versions that are that old. If possible I'd recommend you get onto a newer version of Windows. If this is still blocking you, could you file a new issue so we have a clean one to track?

[2021-01-29 09:34] creambyemute opened #6981 "Windows-Search shows wrong Icon (the default Placeholder instead of the actual Icon)"
Hey there,

I've used the Asset Generator in VS2019 yesterday to generate the different Asset/AppIcon/SplashScreen scales and it worked pretty well but I'm fighting with a problem on my W10 machine.

The AppIcon displayed in the Windows-Search is wrong. It still displays the Placeholder (grey rect).
The 'Recently added', TaskBar etc though show the correct Icon.

I've sent the side-loading bundle

[2021-01-29 09:37] tbottke commented on #5132
@asklar thanks for your help 👍 it is indeed blocking me so I will create a new issue.

[2021-01-29 10:05] tbottke opened #6982 "Windows 1709 (16299) template app is crashing when clicking a link"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: `4.13.1`
2. `npx react-native info`:
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. be on Windows 1709 (16299)
2. `npx react-native init <projectName> --template react-native@^0.63.2`
3. `cd projectName`
4. `npx react-native-windows-init --over

[2021-01-29 10:11] lh9403 commented on #5965
Has anyone solved the same problem?

version：
"react-native": "^0.63.4",
"react-native-macos": "^0.63.0-0",

Unable to resolve module `./Libraries/Components/AccessibilityInfo/AccessibilityInfo` from `node_modules/react-native/index.js`:

None of these files exist:
  * node_modules/react-native/Libraries/Components/AccessibilityInfo/AccessibilityInfo(.native|.macos.js|.native.js|.js|.macos.json|.n

[2021-01-29 19:03] dannyvv opened #6986 "Fix compile warning C4267 and C4100 in FB's TurboModule code."
Discussed in PR: #6984

When fixed, pleae remove the disablewarning from `vnext\Microsoft.ReactNative.Cxx\Microsoft.ReactNative.Cxx.vcxitems` as well.

[2021-01-29 22:46] asklar commented on #6982
@tbottke try this: in `\Microsoft.ReactNative\Modules\Animated\FrameAnimationDriver.cpp`

[code]

[2021-01-29 23:33] rectified95 commented on #6689
Closing as fixed.

[2021-01-29 23:33] #6689 closed

[2021-01-30 00:06] asklar opened #6991 "JSValue doesn't have a converter from/to several XAML and WinRT types"
The current docs for view managers relied on conversions from folly dynamic but now we are using JSValues
however JSValue doesn't have a way to convert to these XAML types so we need to create these and update the docs

- [ ] Brush
- [ ] Color
- [ ] VerticalAlignment
- [ ] HorizontalAlignment
- [ ] DateTime
- [ ] TimeSpan

[2021-01-30 02:26] asklar opened #6993 "Make usewinui3 a build-time switch for app/libs"
Today when a new app or lib is created, you have to choose between system xaml (default) or winui3.
We should instead write the scaffolding in a way that allows esp. modules to dual-compile as a way to soften the blow of an API break w.r.t. xaml --> winui

[2021-01-30 02:29] asklar opened #6994 "Create ReactNativeIsland control"
Some customers require being able to consume RNW from a brownfield app just like they consume xaml controls from libraries (i.e. no changes to the app code itself). This tracks creating a UserControl that encapsulates a ReactRootView and the logic to set up an ReactInstance

[2021-01-30 09:25] qmatteoq opened #6996 "Deep linking doesn't work if the app isn't running"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:

4.13.1

2. `npx react-native info`:

[code]

## Steps To Reproduce

1. Open the manifest of the application and, in the Declaration tab, register a protocol (for example, foo:)
2. In the React Native code, reference the Linking module, then add a button which invokes the following functio

[2021-01-30 13:34] hb1998 commented on #6965
any updates ?

[2021-01-31 07:30] asklar opened #6997 "New module project is missing JSI.Universal project"
create new lib, try to build it from VS, it's missing the JSI.Universal project in the SLN

[2021-01-31 12:14] asklar opened #6998 "Hot reload is broken"
- Run an app that loads a view manager module (debug mode w/metro)
- change the app code
- get an error saying "tried to register two views with the same name"

![image](https://user-images.githubusercontent.com/22989529/106383443-d7a4e500-637a-11eb-8684-7de8cf871251.png)

[2021-01-31 15:19] NickGerleman commented on #6998
This means a call to "requireNativeComponent" is happening twice, and the JS for the ViewManager isn't quite correct.

Native components should be exported from their own modules to avoid fast refresh trying to re-setup global state. There's some good react-native docs on fast refresh talking about side effects, and some conversation on this exact issue here: https://teams.microsoft.com/l/message/

[2021-02-01 08:27] asklar commented on #6978
actually this can be a community viewmanager. i've started https://github.com/asklar/react-native-xaml for this

[2021-02-01 09:18] tbottke commented on #6982
@asklar with your fix the template app is not crashing anymore but I am not able to click the links anymore. Beside that in my own app I am using a WebView that is the next thing that is crashing: `Isloaded()`.
![get_isLoaded](https://user-images.githubusercontent.com/70366492/106438156-65192f80-6476-11eb-8bf8-0369eaa8ee67.PNG)

Also sometimes the app crashes because of: `ActualSize()`:
![get_actu

[2021-02-01 09:38] asklar commented on #6982
Hi @tbottke, for the webview one, it looks like that module is using [FrameworkElement.IsLoaded](https://docs.microsoft.com/uwp/api/windows.ui.xaml.frameworkelement.isloaded) which is only supported on 17763 (1803) and up.
The call to that api was added in [this PR](https://github.com/react-native-webview/react-native-webview/pull/1617), it is not essential for general webview users so this should

[2021-02-01 09:55] tbottke commented on #6982
@asklar thanks for your help! I will have a look at the mentioned links.

[2021-02-01 13:31] NickGerleman commented on #6979
New version of pathval released which fixes the issue, but CVE not updated.

https://www.npmjs.com/package/pathval/v/1.1.1

[2021-02-01 13:32] NickGerleman commented on #6979
This vuln should not effect us since we're not passing untested input to chai

[2021-02-01 13:43] NickGerleman commented on #6997
Project removed with https://github.com/microsoft/react-native-windows/pull/6783/files

Project should be removed from `MyLib.sln` template with the change. Are you seeing a build issue? Seems like potential version mismatch?

[2021-02-01 16:31] NickGerleman opened #7005 "Hook jest tests up to coverage reporters"
At some point in time it would be nice ot hook them up as well as coverage reports so that we can report them to azure devops. and maybe at som epoint start a policy that new code must be covered.

_Originally posted by @dannyvv in https://github.com/microsoft/react-native-windows/pull/6999#discussion_r567951064_

Jest does support coverage sampling, and new versions have a lower overhead sampler.

[2021-02-01 17:10] NickGerleman opened #7007 "@types/node resolution dependent on hoisting"
Packages can include different versions of typings for Node provided arbitarily based on repo structure. This can lead to build breaks, or non-deterministic/failed incremental JS builds.

Node CLI packages should declare explicit node typings.

[2021-02-01 19:12] asklar commented on #6998
Message tells people what's wrong :) there is a pattern to declare the requireNativeComponent as not supporting fast refresh, or you can isolate the requireNativeComponent to a module

[2021-02-01 19:12] #6998 closed

[2021-02-01 19:22] asklar commented on #6997
- [ ] Need to ensure CLI is testing that libs build properly
will add the commands/package.json, heads up @jonthysell

[2021-02-01 19:28] asklar commented on #6996
We should look at deep-linking all up in terms of activations that aren't just the vanilla "launch" scenario, and what logic to handle these we should have in ReactApplication and what we allow community modules to do.
- Allow Deep-linking for Non-Protocol Activation (And Launch the app) #5852
- Treat toast argument as launch uri queryString by ryfow · Pull Request #6100 ·
- Getting LaunchActivate

[2021-02-01 19:31] qmatteoq commented on #6996
Scenario highlighted in issue #4396 is very interesting to me as well. One of the challenges that prevented me to leverage the App Service approach in a mixed UWP - Win32 scenario is that, currently, I don't have a way to pass an argument from the OnBackgroundActivated() event (the reference to the App Service connection) to the native module that needs to communicate with this connection.

[2021-02-01 19:32] asklar commented on #6994
Office has/had a similar control for their internal UI framework but has been moving away from it since it works for the simplistic case but anything other than that requires access to the Instance (and therefore requires the app to be somewhat aware of RNW).
If this lives in the repo, it's easier to keep evergreen; if it's outside, it becomes trickier to keep things from breaking with version cha

[2021-02-01 19:35] asklar commented on #6993
keeping on triage to bring it up again

[2021-02-01 19:40] asklar commented on #6991
- Color and Brush exist in JSValueXaml.h - we just need to expose them in the docs.
- the others may be less important

[2021-02-01 19:43] asklar commented on #6986
Related to #6918

[2021-02-01 19:46] chiaramooney opened #7008 "react-native-linear-gradient Needs Updating"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.13.0
2. `npx react-native info`:
[code]

- Target Platform Version(s): 10.0.18362
- Target Device(s): Desktop
- Visual Studio Version: 2019
- Build Configuration: Debug

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Add react-native-linear-gradient

[2021-02-01 19:50] asklar commented on #6981
It sounds like this might be a problem unrelated to React Native Windows, could you maybe file this on the [windev](https://github.com/microsoft/windev) repo

[2021-02-01 19:50] #6981 closed

[2021-02-01 19:52] stmoy commented on #6996
@vmoroz has started taking a look, assigning to him. Please feel free to unassign if appropriate.

[2021-02-01 19:53] asklar commented on #6979
First step is to update to the new version
Then wait until the CVE is updated to say the new version is ok

[2021-02-01 19:57] chiaramooney commented on #6444
See [here](https://github.com/microsoft/react-native-gallery/tree/v0.64.0-preview.5/src/examples) for page list of native modules which have been added to the gallery running on 0.64. All components attached to these pages are running and working on 0.64.

react-native-webview component is blocked at the moment as a change was needed for the component to be able to be deployed in an RNW app. There

[2021-02-01 20:14] NickGerleman opened #7009 "Use Jest Native Reporters for E2ETest Screenshots"
jest has some compatibility shims for Jasmine matchers and reporters.

Looking closer though, Jest has a mechanism for custom reporter inclusion that should be nicer... Will move this to native jest.

_Originally posted by @NickGerleman in https://github.com/microsoft/react-native-windows/pull/6999#discussion_r567961599_

[2021-02-01 20:49] chrisfromwork opened #7010 "BabylonReactNative.dll needs Microsoft.ReactNative.dll to be distributed as precompiled binary through NuGet"
# Proposal:  Microsoft.ReactNative.dll should be distributed and referenced as a precompiled binary

## Summary
Right now it isn't clear how to precompile and distribute a native module component that references Microsoft.ReactNative.dll. The precompiled binary will be built against a different version of Microsoft.ReactNative.dll compared to other native modules compiled at the same time as the a

[2021-02-01 21:14] chrisfromwork commented on #7010
It sounds like we will also need a plan to understand how community modules setup to build against Microsoft.ReactNative.dll source can also be compiled against the nuget distributed Microsoft.ReactNative.dll

[2021-02-01 23:32] #6411 closed

[2021-02-02 07:32] asklar commented on #6982
@tbottke that stack just says something threw an exception (on a different thread, possibly), and it's being shuttled over to the UI thread. We'd have to have some more info on what was going on to figure out what happened. You can enable break on WinRT Originate exception in the Exceptions window in the Debug menu. More info [here](https://docs.microsoft.com/visualstudio/debugger/managing-excepti

[2021-02-02 07:33] #6982 closed

[2021-02-02 08:14] asklar commented on #6982
I've sent a PR for the webview issue too: https://github.com/react-native-webview/react-native-webview/pull/1858

[2021-02-02 08:59] #6129 closed

[2021-02-02 09:31] sewerganger commented on #6892
the smae issue
![image](https://user-images.githubusercontent.com/45007226/106579394-9cbdcf80-657b-11eb-9b88-f17c0b405d34.png)
![image](https://user-images.githubusercontent.com/45007226/106579523-c2e36f80-657b-11eb-9940-d3c37389587a.png)

error  details:
<details>
 5>C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Microsoft\VC\v160\Microsoft.CppBuild.targets(411,5): error MS

[2021-02-02 09:35] asklar commented on #6892
@sewerganger can you paste the result of `npx envinfo` please?

[2021-02-02 09:37] sewerganger commented on #6892
@asklar
[code]

[2021-02-02 09:50] asklar commented on #6892
The error message seems to be coming from `C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Microsoft\VC\v160\Microsoft.CppBuild.targets`, line 411:

[code]

So it sounds like something is still not installed by the dependencies script (maybe we are missing something...)
A couple of things to try:
1. Try opening your .sln file in Visual Studio and trying to build it there?
2.

[2021-02-02 11:21] XunlaY commented on #6287
Hey @rahman2835,
have you figured out how to fix this or do you know what could cause that problem?
UWP Apps in general, react-native-windows or [react-native-webview](https://github.com/react-native-webview/react-native-webview/issues/1711) ?

[2021-02-02 11:52] rahman2835 commented on #6287
@XunlaY
Still we did not get the fix. When I tried Web view with UWP app, I'm able to scroll the content with touch actions. But when I use same web view/ react-native-webview inside react native windows then I'm unable to scroll the content using touch actions (surface windows device).

So its clearly a problem with react-native-windows. Same issue I created in react-native-webview too.
Please fi

[2021-02-02 12:37] sewerganger commented on #6892
thanks !  i have resolved it by installing uwp cpp tools

[2021-02-02 12:38] sewerganger commented on #6892
@asklar  thanks ! i have resolved it by installing uwp cpp tools

[2021-02-02 12:52] qmatteoq commented on #5315
A PR with the support to the new React Native core is pending PR: https://github.com/gre/react-native-view-shot/pull/334

[2021-02-02 13:14] tbottke commented on #6982
@asklar there is a bug with older versions of Windows in FlyoutViewManager.cpp at line 179:

`xaml::Input::FocusManager::TryFocusAsync(m_targetElement, winrt::FocusState::Programmatic);`

https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.input.focusmanager.tryfocusasync?view=winrt-19041
solution would be to check the version again:

[code]

[2021-02-02 13:19] asklar commented on #6982
nice find. Feel free to submit a PR :)

[2021-02-02 13:32] qmatteoq opened #7016 "Support WatermelonDB"
# Support `WatermelonDB` on RNW

## Basic Info
- Module Repo URL: [https://github.com/Nozbe/WatermelonDB](https://github.com/Nozbe/WatermelonDB)
- Target version: React Native 0.63+
- [ ] Issue exists on module repo (if so, [link]())

- [ ] Module has a Legacy/C# implementation (if so, [link]())

## Which app/customer is requesting this module?

An App Consult customer

## In what scenarios will t

[2021-02-02 19:35] tlnsave12345 opened #7018 "Windows: ReactNative frontend IPC/Communication with Windows Parent System Process"
Hi,
Is there a library that can be used to communicate with the Parent System Process on Windows? Our current Native app' System Process uses "Anonymous Pipes" to communicate with its Child UI process.

- I understand that I can add C++ Bridge/Native code to handle this. Please suggest if there is an alternative.
- Also is it possible to use Golang as Bridge/Native code to handle this IPC part?

T

[2021-02-03 04:24] NickGerleman opened #7028 "Run "depcheck" as part of PR pipeline"
Yarn is vulnerable to have packages that misdeclare dependencies. For simple cases, static analysis tooling can detect these. See https://www.npmjs.com/package/depcheck

[2021-02-03 08:01] #6945 closed

[2021-02-03 18:51] asklar opened #7034 "react-native config uses relative paths only for Windows"
the CLI produces relative paths for Windows but absolute paths for iOS/Android:

[code]

[2021-02-03 21:12] jonthysell commented on #6979
I think we just need to update the lock file - this lib is only depended on by `chai`, and they depend on pathval ^1.1.0 which should up 1.1.1.

[2021-02-03 22:32] chiaramooney commented on #6444
Closing issue for now; all community modules we maintain have been reviewed and documented in above comment.

[2021-02-03 22:32] #6444 closed

[2021-02-04 00:04] sandeepmachiraju commented on #5232
Just want to clearly mention the steps of what RatikKapoor mentioned above:

In App.cpp(in windows folder if you are using microsoft-react-native) add a function:

[code]
In App.h add the definition and private variable to the existing struct
[code]

This worked for me. Let me know if you have any questions.

[2021-02-04 03:59] #6937 closed

[2021-02-04 06:45] #7007 closed

[2021-02-04 09:22] asklar commented on #7018
Hi @tlnsave12345  - RNW apps are UWP apps so all of the same solutions apply, here's the documentation about inter-process communication in UWP apps: https://docs.microsoft.com/windows/uwp/communication/interprocess-communication

[2021-02-04 09:29] asklar opened #7038 "CreateView should get properties"
Today the view manager interface has CreateView() (no params). This precludes some scenarios like knowing what xaml object to create based on some properties. The caller of CreateView has this information but the API doesn't allow it.

Proposed solution: add a new interface to pass the properties as part of a new CreateViewWithProperties or similar.
Current workaround is for VM to create a Content

[2021-02-04 12:19] halfbeep commented on #6892
how did you install uwp cpp tools? I have gone though all the steps here inc. using the VS installer for MFC  C++ (v142) for Desktop and UWP - still seeing
![pc1](https://user-images.githubusercontent.com/29512820/106891938-49669100-66e3-11eb-89a6-3822e3771753.PNG)

[2021-02-04 17:38] chiaramooney commented on #5908
Would advocate to move this issue to 0.65 target. Spoke with Keith, Jon, and heard from accessibility team and each were unclear whether Windows can support the functionality of this API. Current proposed solution is a bit of a hack and would force system into behavior outside of its designed workflow.

[2021-02-04 17:39] chiaramooney commented on #5907
Would advocate to move this issue to 0.65 target. Spoke with Keith, Jon, and heard from accessibility team and each were unclear whether Windows can support the functionality of this API. Current proposed solution is a bit of a hack and would force system into behavior outside of its designed workflow.

[2021-02-04 18:36] chiaramooney commented on #6287
WebView component page add to gallery. Issue is reproduced. Cannot use touch to scroll through WebView content.

Working on fixing bug now.

[2021-02-04 19:12] asklar commented on #7008
repo: https://github.com/react-native-linear-gradient/react-native-linear-gradient
The existing implementation supports the now deprecated WPF implementation of RNW and the C# RNW UWP.

[2021-02-04 19:23] asklar commented on #7010
Currently the supported way to consume RNW is via source. There is a NuGet package that is experimental being used internally. We haven't done the work to support binary-distributed community modules, and there are likely to be bugs. The best path forward at this point if you need to get unblocked, is to ship the primary logic of your module as a binary, but the glue that talks to React Native as

[2021-02-04 19:24] asklar commented on #7016
Assigning to @stmoy to figure out timeline for adding support for this module

[2021-02-04 19:25] #7018 closed

[2021-02-04 19:29] asklar commented on #7034
This might not matter if our own code knows that the windows paths are relative (which might be required to keep the SLN file working). It might also be hard to change at this point because community modules could be providing this data.

[2021-02-04 19:29] #7034 closed

[2021-02-04 20:40] qmatteoq opened #7045 "Support react-native-firebase"
# Support `react-native-firebase` on RNW

## Basic Info
- Module Repo URL: [https://github.com/invertase/react-native-firebase](https://github.com/invertase/react-native-firebase)
- Target version: 0-63+
- [ ] Issue exists on module repo (if so, [link]())

- [ ] Module has a Legacy/C# implementation (if so, [link]())

## Which app/customer is requesting this module?

An App Consult customer

## In

[2021-02-05 01:38] asklar opened #7046 "Update WinUI 3 targeting to Preview 4"

[2021-02-05 02:07] rectified95 commented on #6786
I think this is because of the way XAML behaves when setting `TextBox.Text()` programmatically.
I've created a plain XAML app that updates the contents of a TextBox in response to a button click, and the cursor also gets moved to the beginning, no matter where it was before the update.
(Toggling focus between the button and textbox preserves cursor position, so this is not caused by clicking outsi

[2021-02-05 02:08] rectified95 commented on #6786
Seems like we need to deviate from the native behavior here as it blocks some dynamic text replacement scenarios. Will try to work around it.

[2021-02-05 05:56] rahman2835 commented on #6287
@chiaramooney Thank you so much for taking up this defect. When can we expect this fix ? In which release version? Actually our app is now GA.

[2021-02-05 14:43] iamweilee opened #7052 "Is windows7 or windows 8 supported?"
Hi, I want to know if windows7 or windows8 is supported?
Thanks.

[2021-02-05 17:38] NickGerleman opened #7054 "Refactor autolink.ts"
please file a bug to refactor this file

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows/pull/7014#discussion_r570769778_

[2021-02-05 19:12] Scottj1s commented on #6503
The new "Windows Desktop Compatible" setting in VS 16.8 (which sets $(DesktopCompatible) to true) enables UWP projects to be consumed by Desktop projects (note that to date, this has not been publicly documented beyond [a comment in the issue](https://developercommunity.visualstudio.com/idea/1128228/a-reference-cannot-be-added-because-the-two-projec.html)).

See also:
https://github.com/microsoft/

[2021-02-05 23:55] rectified95 commented on #6786
@qmatteoq I have a PR out fixing this. Will you be able to upgrade to 0.64 to get the fix?

Btw, your example of autocapitalization can also be handled like this, which will more efficient.
`<TextInput autoCapitalize="characters" style={styles.default} />`

[2021-02-06 01:30] rectified95 opened #7057 "[Toggle switch] Broken change event callback"
The onChange event handling is broken for the Switch component.
Toggling a switch doesn't result in the onChange event being handled, even though it's sent from the SwitchViewManager. This makes the switch rather useless.

Verified in: view.tsx, rntester\SwitchExample.js, rntester\FlatListExample

[2021-02-06 06:27] asklar commented on #7052
hi @iamweilee , The earliest Windows release that is supported is Windows 10 1703 (though some features won't work there). The oldest release where all features are supported is 1903. Here's the full matrix: https://microsoft.github.io/react-native-windows/docs/win10-compat

[2021-02-06 19:22] riq commented on #6033
@stmoy -  Looks like @tsytsarkin has an open PR at https://github.com/andpor/react-native-sqlite-storage/pull/461

[2021-02-07 01:16] iamweilee commented on #7052
I got it, Thank you.

[2021-02-07 07:09] #7057 closed

[2021-02-07 20:21] asklar commented on #6991
superseded by https://github.com/microsoft/react-native-windows-samples/pull/377

[2021-02-07 20:21] #6991 closed

[2021-02-07 20:37] #7052 closed

[2021-02-08 18:20] qmatteoq commented on #6786
Thanks @rectified95 for the hint! However, this was just a sample to show the problem. My customer is using this feature in order to auto correct phone numbers (for example, by automatically adding the international prefix as they type).

[2021-02-08 18:36] chrisglein commented on #5965
@lh9403 There were a lot of suggestions on this thread for what could be wrong. Have you tried the metro troubleshooting tips and other suggestions?

[2021-02-08 19:13] chrisglein commented on #6994
Can this control be general purpose or will it seep too many app-specific requirements? It make sense that a XAML app would want to encapsulate their RNW usage. Should we build this for a specific app then look back at whether it can be a general purpose shareable tool?

[2021-02-08 19:20] chrisglein commented on #6993
Do we want some indication on RN directory or RN gallery of which modules support WinUI3? Directory doesn't have space for this metadata, but we could add it? @stmoy, thoughts?

[2021-02-08 19:25] asklar opened #7069 "Surface the view manager name as a property in the XAML tree"
For debugging purposes it would be useful to show the RN view manager name as a property in the XAML tree
bonus brownie points add it to uiext

[2021-02-08 19:38] asklar commented on #6503
thanks for the note @Scottj1s, note that all of the modules/apps discussed here are UWP though, does that new property gain us anything in that case?

[2021-02-09 00:31] flashkicker opened #7070 "Changing from LTR to RTL layout requires reloading JS bundle and the layout doesn't persist on restarting the application."
Please mark as duplicate if already reported. The closest issue I could find was #6645.
 
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.13.1
2. `npx react-native info`:
  System:
    OS: Windows 10 10.0.18363
    CPU: (4) x64 Intel(R) Core(TM) i5-6300U CPU @ 2.40GHz
    Memory: 1.20 GB / 7.88 GB
  Binaries:
    Node: 12.9.1 - C:\Pro

[2021-02-09 03:24] PPatBoyd opened #7074 "Remove React-Native-Win32 fork of TextNativeComponent"
Created TextNativeComponent.win32.js to add a `focusable` property for Text on Windows, to differentiate from `selectable` (whole selection vs character based selection).

[2021-02-09 04:32] #6842 closed

[2021-02-09 05:37] asklar opened #7077 "use xml-formatter or similar in CLI"
Remove the handrolled xml formatting code and use xml-formatter or a similar library

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows/pull/7014#discussion_r572606113_

[2021-02-09 07:21] #6993 closed

[2021-02-09 10:10] #7077 closed

[2021-02-09 16:08] sylveon commented on #6539
I think the biggest issue here is that .NET 5 doesn't support UWP, see https://github.com/microsoft/ProjectReunion/issues/105

[2021-02-09 18:20] tudorms commented on #6838
This was fixed with https://github.com/microsoft/react-native-windows/pull/6938

[2021-02-09 18:20] #6838 closed

[2021-02-09 22:11] PPatBoyd opened #7080 "Consider removal of 0.62, 0.63, 0.64 fork of NetUI Text.js"
Text.js was forked from upstream to Text.win32.js for the purpose of adding a `focusable` property.  Since this change is individual to the 0.62 branch, removing the fork may have less value than a fork present on the current/continuing version.

[2021-02-09 22:16] NickGerleman opened #7081 "Progress spinner hangs during autolinking"
In autolinking case where we do have modules available, the spinner seems to hang for multiple seconds. Seems like we're doing blocking IO or process calls when we shouldn't be.

[2021-02-09 23:24] #6979 closed

[2021-02-10 00:55] NickGerleman commented on #7070
We have a mechanism that's a bit hidden that will allow this.

When initializing the `ReactInstance` in the template app, there is a setting on `ReactInstanceSettings` called `Properties` which allows passing settings, objects, etc during instance init.

On this propertyBag, you can set: (L"ReactNative.I18n", L"AllowRTL") to true, so that this setting happens on startup.

We need to add an API to

[2021-02-10 01:00] stmoy commented on #2477
Done!

https://github.com/microsoft/react-native-code-push/pull/1994

https://www.npmjs.com/package/react-native-code-push

[2021-02-10 01:00] #2477 closed

[2021-02-10 02:54] flashkicker commented on #7070
Glad to hear there's a fix! How would I do this in a C# UWP app?

[2021-02-10 16:39] burtonrodman opened #7084 "how to securely implement OAuth2 Authorization Code Flow"
There is a native module called [react-native-app-auth](https://github.com/FormidableLabs/react-native-app-auth/issues/280) that only supports iOS/Android and they have expressed they have no plans to support it on Windows.

Anyone aware of any other modules or examples that show properly implementing the OAuth2 Authorization Code Flow with Identity Server 4?

I have of course googled to the exten

[2021-02-10 17:24] chrisglein commented on #5265
Julio says: "Those tests should be removed and replaced with unit tests." He's expecting to deal with this soon, but I don't believe we have a strong requirement to get this in 0.64 (can also backport after we look at the fix).

[2021-02-10 17:40] kikisaints commented on #5901
I see, thank you @aschultz. The goal is to have what that UWP does, be the same across into RNW. So, if this is the case with the 0.62 update, then that's the correct behavior.

@KAnder425 I will be closing this issue as by design.

[2021-02-10 17:40] #5901 closed

[2021-02-10 19:00] NickGerleman opened #7086 "Add jest Multi-root config for repo root"
We currently do lerna style "yarn test". This runs Parallel instances of jest for each package.

Perf is not ideal in this scenario, and we cannot run jest from repo root, and the jest VSCode extension requires moving into a packages directory to work.

Need to rethink how we organize jest configs, to allow us to use a Multi-root config.

[2021-02-10 21:02] stmoy opened #7087 "Video audio not stopped even component unmounts"
(This issue mirrors the one on the community module repo for tracking purposes: https://github.com/react-native-video/react-native-video/issues/2281)

-=-=-

# Bug
## Platform
* Windows UWP

## Environment info
React native info output:

[code]

Library version: x.x.x

## Steps To Reproduce
[code]

## Expected behaviour
1. When moving to other screens using react-navigation, video should stop
2. A

[2021-02-10 21:34] qmatteoq opened #7088 "react-native-webview doesn't work with React Native 0.63 apps"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:

4.14.0

2. `npx react-native info`:

[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Create a new React Native 0.63 project and add Windows support
2. Add the react-native-webview module
3. Build and run the app with npx react-native run-window

[2021-02-10 23:09] #5210 closed

[2021-02-10 23:32] #7054 closed

[2021-02-11 01:08] asklar opened #7091 "Autolinking gets broken when trying to link a native module that depends on a third vcxproj"
## Setup
app using react-native-webview (c++)
the webview solution is actually 2 projects: a native module project, and a winrt component project that isn't a native module (WebBridgeComponent)

## Diagnosis
Autolinking discovers WebBridgeComponent and tries to generate autolinking bindings (i.e. ReactPackageProviders) but this project is not a RNW project, it's just a WinRT component library.
We

[2021-02-11 03:32] asklar commented on #7091
this is https://github.com/microsoft/react-native-windows/issues/7088

[2021-02-11 03:32] #7091 closed

[2021-02-11 11:28] asklar opened #7096 "VSCode Debug Profile For Jest Tests Broken"
The change from #7075 broke F5 to run the tests in VSCode:

![image](https://user-images.githubusercontent.com/22989529/107630999-3723b000-6c19-11eb-9a99-902b15207f55.png)

[2021-02-11 12:44] qmatteoq opened #7097 "Autolinking doesn't work with React Native 0.63 if you use a C# host app"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:

4.14.0

2. `npx react-native info`:

[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Create a new React Native project and initialize the Windows extension using the C# language

[code]

2. Add any native module via package manager, for example

[2021-02-11 17:32] jonthysell commented on #7097
Confirmed, typo in the template

[2021-02-11 18:34] #7096 closed

[2021-02-11 19:11] chrisglein commented on #7088
Sounds like there's some offline conversation that's happened on this, and that the winRT component that's not indeded to be a module is being identified as a module. @qmatteoq I believe you're working on unraveling this, report back with how that works out.

[2021-02-11 19:24] chrisglein commented on #7070
Above is a workaround, not a proper fix. We should add an API to make it so app authors don't need to pass these around.
There is more documentation on this scheduled, although likely won't specifically help with this: https://github.com/microsoft/react-native-windows-samples/issues/333

We'll use this issue to track creating a proper API for this.

[2021-02-11 19:25] chrisglein commented on #7070
@NickGerleman can you outline what the API should look like here?

[2021-02-11 19:29] chrisglein commented on #7069
We'd want to only apply to debug builds probably so there's no cost to always applying this.
What property would this be applied to? It needs to be somewhere that the live visual tree will report. Does it show all attached properties? We also want this to work in WinDbg scenarios with the uiext extension, which would need more custom work to get this to show up.

[2021-02-11 19:34] chrisglein commented on #7084
There's a issue template for asking for Windows support for modules. You could file one for this modul. For example here are two:
- [react-native-auth0](https://github.com/microsoft/react-native-windows/issues/6787)
- [react-native-azure-auth](https://github.com/microsoft/react-native-windows/issues/4148)
To date I don't think anyone has gone after the auth modules, otherwise you could look to the

[2021-02-11 19:34] #7084 closed

[2021-02-11 19:41] #7097 closed

[2021-02-11 20:55] asklar opened #7106 "[Breaking change] removal of CoreWindow in WinUI 3 islands"
WinUI 3 Preview 4 removed support for some APIs in Windows.UI when running in Desktop (xaml islands). The release notes are incomplete.

One example where we are affected: AppTheme module uses HighContrastChanged.

This worked in previous previews because XAML was calling an unsupported API (to create an invisible CoreWindow) and as a side effect some system APIs like this one worked. On Preview 4

[2021-02-11 21:06] asklar commented on #7106
Filed https://github.com/microsoft/microsoft-ui-xaml/issues/4163 to update the winui relnotes

[2021-02-11 22:53] NickGerleman opened #7108 "Add JSON Schema Validation to JSON-RPC2 Client in node-rnw-rpc"
The WinRT JSON-RPC2 server expect the client always sends valid payloads. This is true for bundled client, but we should add validation to avoid propagating error.

[2021-02-11 23:00] NickGerleman opened #7109 "Diagnose reconnect issues with node-rnw-rpc package"
We have some issues with client connecting after server left with intermittent/crashing client connection. Not an issue for e2e-test-app which kills UWP app directly after test suite. Slightly degraded experience for integration-test-app.

[2021-02-11 23:47] NickGerleman opened #7110 "Move IPC Reconnect Loop From Client to node-rnw-rpc"
We currently expose a single connection to clients, leading them to reimplement server loop. We should expose the loop directly with cancellationToken capability to interrupt.

[2021-02-12 00:30] NickGerleman opened #7111 "Examine integration test runner for remaining tcp assumptions"
Need to double check raw tcp assumptions didn't make it into this file.

_Originally posted by @NickGerleman in https://github.com/microsoft/react-native-windows/pull/7071#discussion_r572644523_

[2021-02-12 00:32] NickGerleman opened #7112 "Replace node-rnw-rpc throw to noexcept boundary with VerifyElseCrash"
Should replace "throw to noexcept boundary" with VerifyElseCrash

_Originally posted by @NickGerleman in https://github.com/microsoft/react-native-windows/pull/7071#discussion_r572626776_

[2021-02-12 00:33] NickGerleman opened #7113 "Error out any pending RPC Request Promises if Client Closed"
Should we cancel / close/empty  `this.pendingRequests`?

_Originally posted by @dannyvv in https://github.com/microsoft/react-native-windows/pull/7071#discussion_r572579520_

[2021-02-12 00:50] #6786 closed

[2021-02-12 02:08] NickGerleman commented on #7081
Still reproes

[2021-02-12 02:12] NickGerleman opened #7116 "Misaligned XML formatting for AutoLinkedNativeModules.g.targets"
Started doing XML formatting recently. Seems like the package we chose isn't doing a great job.

[code]

[2021-02-12 04:15] NickGerleman commented on #6393
Fixed with CanHua's changes.

[2021-02-12 04:15] #6393 closed

[2021-02-12 06:43] NickGerleman commented on #7109
Not experiencing issues with E2ETest when using updated build, and moving runner lifecycle to jest environment.

Need to check whether we still see issues with IntegrationTest, or if they were sorted out.

[2021-02-12 07:11] NickGerleman opened #7119 "Unhandled promise rejection warning show on failed E2ETest Suite"
Does not show up on passing tests or impede snapshot creation. Impact is aesthetic/internal.

[code]
![image](https://user-images.githubusercontent.com/835219/107739704-545e8a00-6cbe-11eb-96ac-f3b9b7d5d183.png)

[2021-02-12 07:18] NickGerleman commented on #6216
Mostly fixed now.

[2021-02-12 07:18] #6216 closed

[2021-02-12 12:44] BartoszKlonowski commented on #4343
Blocked by #5539

[2021-02-12 16:18] burtonrodman opened #7126 "How to call native "in project" code from js in a C++ RNW app"
Ok, super basic question/problem that I feel like should be obvious but i've spent the last 2 days getting nowhere...

Really, I'd rather be writing an external native module (i.e. adding Windows support to a community module), but that's too many details and I just have to get ANYTHING working.

I stripped down the FancyMath sample module and included it in my app's C++ project -- everything I've

[2021-02-12 19:13] burtonrodman commented on #7126
I used the question template, but ok i'll play along...

npx react-native --version
[code]

npx react-native run-windows --info
[code]

[2021-02-12 20:46] burtonrodman commented on #7126
Here is a repo with a newly created RNW app (TypeScript).  I added FancyMath.h, added an import in ReactPackageProvider.cpp and tried to call it from App.tsx.  I receive this error:
[code]
[BurtonNativeTest](https://github.com/burtonrodman/BurtonNativeTest)

[2021-02-12 22:09] NickGerleman opened #7129 "XAML Snapshots Should Dump ViewPanel Attached Properties"
During layout, Yoga sets AttachedProperties on UIElements for Left, Right, Top, Bottom. These are then used during arrange to position the element.

Tree dumps currently don't have a notion of where children are positioned, and this cannot be derived from other props than the AttachedProperties.

Haven't looked if this works out of the box if additional properties requested.

[2021-02-12 22:22] #6343 closed

[2021-02-12 22:27] NickGerleman opened #7130 "Set fixed e2e root view width"
Was under the impression the root view in e2e tests was a constant size within the frame. Looks like only the height is constant, but the width is not.

[2021-02-12 23:21] acoates-ms commented on #7126
Native modules are async by default.

So the JS call site would look like:

[code]

You could also change the native definition to use REACT_SYNC_METHOD.  But as with RN on android/iOS, synchronous methods will not work when doing remote debugging.

[2021-02-13 01:27] NickGerleman opened #7131 "Add Inter-process cooperation Tests for node-rnw-rpc"
Code in the package is mostly integeration of existing components. Best to test end to end against another real client/server on the network.

Add tests that require cooperation between components in separate processes.

[2021-02-13 01:58] mjfusa commented on #2107
@rectified95 I checkout out your PR #6826 as I need this for navigation on XBox. The D-Pad Left and Right work great for moving between controls in the FlatList. Any ideas on how Enter can be mapped to the Pressed event? The XBox control 'A' will map to Enter.

[2021-02-13 04:32] asklar commented on #7116
Not a result of the formatting (this file doesn't get formatted), this has been the case since day 0. Still nice to fix.

[2021-02-13 14:33] #7116 closed

[2021-02-14 02:27] trlanfeng opened #7136 "Cannot deploy via CLI when using react-native-video"
cli and vscode build the project failed.
vs can build and debug the app.

## Environment
Run the following in your terminal and copy the results here.
1.  react native version: 4.14.0
2. info
[code]

## by cli
[code]

## by vscode
[code]

[2021-02-14 18:43] NickGerleman commented on #7136
Related issue. https://github.com/microsoft/react-native-windows/issues/6280

Video is checked off here, but IIRC they weren't publishing new versions. Chris/Jon can chime in with better context.

As a current workaround, you can use Visual Studio to build instead of building with the CLI.

[2021-02-15 08:24] asklar commented on #7136
This should be fixed once we release 0.64 since we won't depend on the Deploy target anymore

[2021-02-15 13:57] burtonrodman commented on #7126
That was the trick.  Thanks so much!

[2021-02-15 13:57] #7126 closed

[2021-02-15 21:05] asklar commented on #7136
in the meantime, https://github.com/react-native-video/react-native-video/pull/2288

[2021-02-16 20:35] NickGerleman commented on #3116
Duping to #5907

[2021-02-16 20:35] #3116 closed

[2021-02-16 22:36] acoates-ms commented on #6986
This should help:
https://github.com/facebook/react-native/pull/31002

[2021-02-16 22:38] acoates-ms commented on #6918
This should fix a bunch of the errors in particular 4244 and 4267
https://github.com/facebook/react-native/pull/31002

[2021-02-16 23:43] asklar opened #7143 "Evaluate updating View and Text to leverage IViewManagerCreateWithProperties"
View looks like it sometimes has an additional element to handle some border properties, and sometimes is a control (I suspect if it needs to be focusable).

Basically we should make sure that we dont end up going through TryUpdateView and changing the control on the initial render.  -- Not sure the details of what change would be needed for that to happen.

TextInput has something similar where i

[2021-02-16 23:45] Laci556 opened #7144 "App crashes when using PlatformColor"
## Environment
1. `npx react-native --version`: 4.13.1
2. `npx react-native info`:
[code]

## Steps To Reproduce

[code]

## Expected Results
The app shouldn't crash and the view should have the SystemListLowColor background color.

I tried experimenting with colors from the UWP docs page linked in the React Native for Windows documentation site but every brush I tried crashed the app without thro

[2021-02-16 23:54] Robertschv opened #7145 "System requirements Page. v 0.63 shows a nodejs version that is not supported"
nodejs v 12 is no working with this tutorial.

better change it to nodejs-lts

I know this change is already made in the "next" version of the page. but the default link is to the 0.63 version.

PLUS. the Warning of "Next" is not showed in the "0.63 version. "

![Captura de pantalla (37)](https://user-images.githubusercontent.com/62678042/108136115-c6a0e700-708f-11eb-90b3-ffade4e410b7.png)

[2021-02-17 00:49] asklar opened #7147 "AppThemeModuleUwp captures this pointer unsafely"
It used to be before, but capturing this doe snot seem to be safe.

_Originally posted by @vmoroz in https://github.com/microsoft/react-native-windows/pull/7135#discussion_r577005438_

[2021-02-17 05:38] NickGerleman opened #7149 "Make Touchable Text Changes strict-local clean"
https://github.com/facebook/react-native/commit/f275514f275fdc404a853a1a2ab46620eea484f0 increased the strictness used by the Flow type checker in `Text.js`. Touchable related changes in our version are not clean under new type checker settings.

For now we keep the file using lower strictness.

[2021-02-17 06:51] asklar opened #7150 "Avoid copies from JSValueObject"
Could you add a bug for me to avoid copy in situations like this? I think we must be able to create JSValueTreeReader directly for the JSValueObject.

_Originally posted by @vmoroz in https://github.com/microsoft/react-native-windows/pull/7137#discussion_r577086302_

[2021-02-17 19:42] #6761 closed

[2021-02-17 20:53] #7106 closed

[2021-02-17 21:52] #7038 closed

[2021-02-17 23:59] vmoroz opened #7158 "Improve compilation speed in CI loops"
In PR # 7148 we have improved compilation speed on powerful developer machines.
@dannyvv suggests that we should enable it as well on our CI loop machines.
https://github.com/microsoft/react-native-windows/pull/7148#pullrequestreview-592711181