[2020-04-21 04:33] asklar commented on #4640
@ngducnghia interesting, I haven't run into this before.
If you're comfortable with it maybe you can help us debug what is going wrong and we could add more logging to make it easier for folks to know what to do next.

The error message is coming from [here](https://github.com/microsoft/react-native-windows/blob/5c98e236066ced8eb314fae9995c288cb2eee798/vnext/local-cli/generator-windows/index.js)
[

[2020-04-21 05:02] ngducnghia commented on #4640
@asklar I open the generator-windows/index.js in the node_modules, trying to add the log as you suggest, but then this error keep showing up on the screen
![image](https://user-images.githubusercontent.com/1578583/79826983-fd17b380-8351-11ea-98ef-27da84cc1b89.png)
So I go into the .flowconfig to change it from ^0.105.0 to
[version]
^0.107.0
- run `command npx react-native-windows-init --overwrite`

[2020-04-21 05:54] asklar commented on #4640
@ngducnghia that error message is best effort, it can be the developer mode failing to turn on, or as you've discovered in your case, a certificate install issue. Can you rerun the last command with --logging?

[2020-04-21 06:22] ngducnghia commented on #4640
@asklar running as you suggested, encounter error
` Set-ItemProperty : Requested registry access is not allowed.
At C:\Users\nghia\source\repos\ReactWindows\node_modules\react-native-windows\local-cli\runWindows\utils\WindowsStoreAppUtils.ps1:91 char:5
+     Set-ItemProperty -Path $RegistryKeyPath -Name AllowDevelopmentWit ...
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-04-21 06:37] asklar commented on #4640
Good to hear! I actually already fixed that failure in 62 (see #4570), but since you were running npx instead of the code from RNW master, you were picking up an older version of RNW which didnt have my fix.

[2020-04-21 11:07] asklar opened #4655 "Custom Views sample in RNTester crashes"
Start Playground
Click the 4th option (Custom View - "example of custom view managers")

![image](https://user-images.githubusercontent.com/22989529/79859142-695fda80-8385-11ea-9efa-b4e27804f586.png)

[2020-04-21 14:09] AnuDharmarajan opened #4657 "Navigation betwwen screens"
Do you have any library for navigation between screen in react native windows. please support me.

[2020-04-21 14:34] NickGerleman commented on #4655
FYI, I've been trying to keep our list of examples in sync with iOS + Android during upgrades when they add new things. It's possible some new stuff we haven't implemented crashes, rather than any specific regression. Do you know if this example was part of 0.61?

[2020-04-21 16:59] vmoroz opened #4661 "Remove personal branches from the react-native-windows repo"
To keep the repo size smaller we must adopt a style where all personal branches are in user's forks.
Currently our repo seems to have several personal branches.
Could we ask developers who created them to move them to their personal forks and delete them in the https://github.com/microsoft/react-native-windows repo?

These are the user branches that I see today (4/21/2020):
https://github.com/micr

[2020-04-21 17:56] asklar commented on #4655
@NickGerleman I don't know if it was working before or not, I just noticed it crashes on master today.

[2020-04-21 18:29] kmelmon opened #4662 "Implement I18nManager.swapLeftAndRightInRTL"
While investigating this bug:
https://github.com/microsoft/react-native-windows/issues/4499

I discovered that all "left" and "right" properties are flipped when direction == 'rtl'.  This behavior can be changed by calling I18nManager.swapLeftAndRightInRTL(false).  However we don't yet implement this API.

This issue is tracking implementing it.

[2020-04-21 18:30] kmelmon commented on #4499
Bug understood.  This code is swapping the corner "left" and "right" radius properties before pushing them into XAML:
https://github.com/microsoft/react-native-windows/blob/21dea64efa55d0cc23d0ad0e33a058b0e3981800/vnext/include/ReactUWP/Utils/PropertyUtils.h#L71

There are multiple problems with this:
1) XAML already swaps "left" and "right" when FlowDirection == RightToLeft, which it is when dire

[2020-04-21 19:16] asklar commented on #4313
@chrisglein  confirmed with @Tatious that this is not blocking/needed as they took a workaround to not animate the text and Design was ok with this. Should we remove the must-have tag/reprioritize?

[2020-04-21 20:23] jagorrin commented on #4117
We have been able to work around this by making use of `uielement.RenderTransform`.

When we were performing the scale transform through the RNW platform we were setting the duration to 0, as we wanted the switch between small and large scale to be instant. From previous conversations, one possibility was that XAML is supposed to re-rasterize the component once the animation is complete, and perha

[2020-04-21 20:30] acoates-ms opened #4663 "DevSupportManager is a singleton - but it shouldn't be"
If you had multiple instances trying to run in debug mode within a single app, they would try to share the same DevSupportManager, and hit issues.

[2020-04-21 20:52] asklar opened #4664 "Syntax error RedBox is unreadable"
Have a syntax error on your JS. The resulting RedBox is unreadable.

![image](https://user-images.githubusercontent.com/22989529/79912698-4a8a3400-83d7-11ea-88fa-42e78c3206fe.png)

[2020-04-21 21:28] harinikmsft commented on #4307
This issue needs versioning in the docs to be complete which is a larger undertaking than we have time for right now. Closing this and tracking via samples repo issue - https://github.com/microsoft/react-native-windows-samples/issues/69

[2020-04-21 21:28] #4307 closed

[2020-04-21 21:29] harinikmsft commented on #4274
Looks like @aschultz may be unblocking near term. Re-adding triage so we can take a look at whether anything is needed in 0.62 milestone from @kikisaints

[2020-04-21 21:31] harinikmsft commented on #4191
This is done.

[2020-04-21 21:31] #4191 closed

[2020-04-21 21:32] harinikmsft commented on #4132
Pinging @acoates-ms

[2020-04-21 21:41] harinikmsft commented on #4264
@chrisglein what is the action remaining on this task? Are we trying to keep a manual copy of the main read me in the vnext/readme so the npm feed picks up the right thing until #4632 is done?

We should really not even have a vnext folder (perhaps rename to source) and just have npm feed pick up from the main landing page like all other repos do.

[2020-04-21 21:45] davidpchi commented on #4098
Thanks rectified95!

Unfortunately, the scroll direction part is still necessary for us, as we have a long list of items for this component despite the component rendering properly within its slot.

We will get back to you asap to confirm that the proposed fix resolves the rendering out of bounds issue.

[2020-04-21 21:47] xboxdavchi commented on #4098
Thanks rectified95!

Unfortunately, the scroll direction part is still necessary for us, as we have a long list of items for this component despite the component rendering properly within its slot.

We will get back to you asap to confirm that the proposed fix resolves the rendering out of bounds issue.

[2020-04-21 21:53] harinikmsft commented on #4504
Given that this is a point in time issue that will go away once @kmelmon's changes to metro come through and per @kmelmon's original comment, the only way to get `npx react-native-windows-init` to work is by overwriting, I feel comfortable with the default on getting started specifying the `--overwrite` flag.

I do agree that we should provide some context on why the overwrite is needed and the fa

[2020-04-21 22:12] harinikmsft commented on #4439
There is good feedback here, but moving this to 0.63 to give more time.

[2020-04-21 22:14] harinikmsft commented on #4569
@stmoy  is working on this, but realistically may not have docs on the site before 0.62. Moving this to 0.63 milestone instead.

[2020-04-21 22:18] harinikmsft commented on #2104
We have added sufficient documentation for native extensions at this time - https://microsoft.github.io/react-native-windows/docs/native-modules

Auto-linking is being tracked through #2853

[2020-04-21 22:18] #2104 closed

[2020-04-21 22:52] kmelmon opened #4668 "Provide iOS-compatible implementation for direction property"
While investigating #4499 I started playing around with the direction property and found it doesn't work correctly.

To see this in action, see:
https://snack.expo.io/JV!BvpeCj

If you run this on iOS, the buttons and the Picker will flow RTL
If you run this on react-native-windows, the buttons will flow LTR, but the Picker will flow RTL

The basic problem is in RNW's code that handles the directi

[2020-04-21 23:08] Tatious opened #4669 "Svg data uris triggers an exception for ReactImage"
### Steps to Reproduce

1) Take an svg file and base64 encode it as described in [this post](https://css-tricks.com/lodge/svg/09-svg-data-uris/)

2) Attempt to launch the RNW application

### Expected Behavior

Data uris for svgs load the svg just like they do for pngs on RNW.

(Write what you thought would happen.)

### Actual Behavior

ReactImage, while calling DecodeFromBase64String triggers an

[2020-04-21 23:17] kmelmon opened #4670 "RN top-level window is laid out LTR in RTL locales"
The basic problem here is:  If I deploy an RN app in an RTL locale (eg Hebrew), the app will be laid out LTR, and the min/max/close buttons are on the right-hand side instead of the left-hand side.

We should provide an easy way for apps to be deployed in RTL locales that are RTL-aware at the top level.

The work for automatically applying RTL layout to the RN tree is more well-understood.  When w

[2020-04-21 23:29] chrisglein commented on #4264
Until we have an automated process for updating the vnext/readme (#4632) it seems like we need to keep it up to date - snapping to whatever content is in the main readme.

But as for what is the actionable item here... it agree it's too muddy. I believe all that's left is snapshotting the vnext readme with what's in the root. I'll create a unique issue to track that so we can close out this one.

[2020-04-22 00:35] asklar commented on #4640
just realized that the elevation code I added applies to installing the app but not to enabling devmode so reactivating this

[2020-04-22 00:46] chrisglein commented on #2492
WinUI3 alpha [exists](https://docs.microsoft.com/en-us/uwp/toolkits/winui3/), enabling us to begin investigation into this. It's likely that there will be gaps and roadblocks, and that many of those won't be clear until we have an app targeting this. So it seems like we would potentially want to create a branch and separate nuget preview for this so we can solicit feedback. As that it may be float

[2020-04-22 00:57] chrisglein opened #4671 "Update vnext/readme.md to match latest in root readme.md"
Until we have an automated process for updating the vnext/readme (#4632) it seems like we need to keep it up to date - snapping to whatever content is in the main readme.

But as for what is the actionable item here... it agree it's too muddy. I believe all that's left is snapshotting the vnext readme with what's in the root. I'll create a unique issue to track that so we can close out this one.

[2020-04-22 00:57] chrisglein commented on #4264
Created #4671

[2020-04-22 00:57] #4264 closed

[2020-04-22 04:02] #4664 closed

[2020-04-22 10:55] asklar opened #4673 "run-windows in Debug should register from layout"
We currently require elevating to install/uninstall an app which is unnecessary. This tracks changing the deploy logic to register from layout instead of installing the built appx

[2020-04-22 14:01] uhteddy commented on #3263
I was able to find a solution to the following error:
```× Failed to restore the NuGet packages: Error: MSBuild tools not found. Make sure all required components have been installed (e.g. v141 support)```

I used @alariej 's solution but because it took me a while to find it I decided to do a step by step solution with pictures.

# Open Visual Studio Installer and press Modify on your studio vers

[2020-04-22 14:19] liudonghua123 commented on #3263
@uhteddy Thanks for the detail instructions. It works for me. Recommend update the docs about this.

[2020-04-22 18:06] #4390 closed

[2020-04-22 18:58] kmelmon commented on #4504
The fix was actually done by acoates (we took his alternative solution).
https://github.com/microsoft/react-native-windows/pull/4576
This solution currently still requires a custom metro.config.js so for now we need to overwrite it.

There is a proposal to implement this solution directly in the react-native CLI:
react-native-community/cli#1115
This change would eventually eliminate the need for a

[2020-04-22 20:40] kmelmon commented on #4670
This article may be helpful as it talks about additional steps react-native app authors should take to make their apps RTL friendly:
https://reactnative.dev/blog/2016/08/19/right-to-left-support-for-react-native-apps

[2020-04-22 20:42] kmelmon opened #4676 "Implement i18nManager.forceRTL"
This was discovered when testing the RTLExample page in RNTester.

Near the top of the page there's a button that calls the i18nManager.forceRTL API, which is supposed to force RTL regardless of what locale the app is running in.

react-native-windows doesn't implement this API so this functionality doesn't work.

This issue is tracking adding an implementation for this API.

[2020-04-22 20:43] kmelmon commented on #4676
Note that this API isn't documented in RN documentation.  We need to get this API documented.

[2020-04-22 20:53] harinikmsft commented on #3096
Fixed by #4675

[2020-04-22 20:53] #3096 closed

[2020-04-22 21:11] kmelmon opened #4678 "Remove RTLExample.windows.js patch"
RTLExample.js page in RNTester doesn't work on windows.  It was patched to get it working.

We plan to upstream these changes.  Remove this patch when the upstream arrives.

[2020-04-22 21:42] NickGerleman opened #4679 "Update react-native-webview with ViewManager API Changes Once 0.62 Preview Released"
react-native-webview uses view manager commands, whose APIs change in 0.62 from https://github.com/microsoft/react-native-windows/pull/4667

We need to update it for compatibility with 0.62 once we have a preview released that the package can target.

[2020-04-22 21:55] NickGerleman opened #4680 "Reenable Switches in E2ETest Once We Collapse Hidden Elements"
https://github.com/microsoft/react-native-windows/pull/4667 fixed switches, but we are unable to add them back to E2ETest due to differences in tree dumps between subsequent tests. @asklar mentioned this was due to us not collapsing invisible elements and will be fixed with some of his upcoming work.

[2020-04-22 22:38] #4596 closed

[2020-04-22 23:19] kmelmon opened #4682 "borderColor draws black by default on all other platforms, but draws transparent on Windows"
I noticed this while debugging RTL issues...

See this snack:
https://snack.expo.io/PJTPipoRS

Notice the outer border, which has border thickness but no borderColor pop set, draws a black border.  It draws black on all platforms supported by Snack.

On react-native-windows, the border draws transparent (but does take up layout space).  This inconsistency is bound to cause problems for xplat code.

[2020-04-23 00:41] kmelmon opened #4684 "Implement i18nManager.allowRTL"
See:
https://reactnative.dev/blog/2016/08/19/right-to-left-support-for-react-native-apps

Relevant section:

-----------------------------
Making an App RTL-ready
To support RTL, you should first add the RTL language bundles to your app.

See the general guides from iOS and Android.
Allow RTL layout for your app by calling the allowRTL() function at the beginning of native code. We provided this u

[2020-04-23 00:41] kmelmon commented on #4684
We should implement this API as it helps apps tell the framework their app supports RTL locales

[2020-04-23 01:11] #4499 closed

[2020-04-23 01:11] #4645 closed

[2020-04-23 01:11] #4646 closed

[2020-04-23 01:11] #4668 closed

[2020-04-23 01:37] asklar opened #4686 "Unimplemented properties should filter out Yoga layout props"
The unimplemented property detection currently reports Yoga properties as unimplemented since they aren't implemented by viewmanagers. We need to special case Yoga props. Follow-up from #4575, accrues towards #3587.

[2020-04-23 02:42] NickGerleman opened #4688 "Windows Custom RNTester Pages Do Not Work Well in Dark Mode"
When not using Chrome debugging, RNTester will apply a theme based on system appearance. Our examples need to be updated to consume this theme, as they currently will not show up correctly in dark mode.

![image](https://user-images.githubusercontent.com/835219/80053253-535f3080-84d1-11ea-914a-046e9815d402.png)

[2020-04-23 04:06] NickGerleman commented on #4688
This only seems to affect a couple of pages.

[2020-04-23 05:10] rectified95 commented on #4221
I'm working on porting the DatePicker to the community repo. I've noticed that the current Windows implementation only provides the date picker, while this component also exposes the time selector on Android/iOS as the second mode of operation. Should I investigate adding that functionality as part of this work, or create a separate issue to track it? This would mean that the Windows version would

[2020-04-23 09:03] asklar opened #4691 "Image page in RNTester hits runtime assert"
The page uses Image's resizeMode = repeat which is not currently supported and asserts in Debug builds. See #2111.

Results: the app crashes (no redbox, just a hard crash)

[2020-04-23 15:36] chrisglein commented on #4221
Create a separate issue to track it. Matching the behavior we have in core is the main priority because it unblocks us from removing it from core. Hopefully the repo owners are okay taking a partial implementation. If they aren't we can stage it in a branch and work on filling out time picker stuff.

[2020-04-23 17:28] chrisglein opened #4694 "Remove deprecated Checkbox component from RNW core."
Last documented in 61: https://reactnative.dev/docs/0.61/checkbox
Latest changelog tracking against facebook master has this finally being removed.

[2020-04-23 17:41] rectified95 opened #4695 "Implement time picker from react-native-community/datetimepicker"
#4156 will involve porting existing date picker functionality from RNW Core to the community module. This iseue will track the addition of time picker support, which the community module also provides.

[2020-04-23 17:58] harinikmsft commented on #4592
@NickGerleman , @kmelmon - would one of you be able to unearth the actual commits that brought these changes in? Per the latest sync, it is not clear whether these events are fully baked and why they were introduced.

Given the ambiguity on this and the fact that they are net new (non-breaking for windows apps), we should be ok to reconcile after 0.62 preview is ready. Moving to next milestone.

[2020-04-23 18:06] harinikmsft commented on #4641
This is already tracked by #3884

[2020-04-23 18:14] chrisglein commented on #4650
Potentially related: #2198
Also might be an underlying XAML issue. I'm going to check against the WinUI repo because this sounds familiar.

[2020-04-23 18:15] NickGerleman commented on #4592
https://github.com/facebook/react-native/commit/95158ec692f6d72c69fe81a6f601417a10fb99a2

[2020-04-23 18:16] chrisglein commented on #4651
At the very least it seems like the App.js file should be linked into the generated VS solution. I think effectively today most app developers use VSCode to edit their JS, but there's no reason you shouldn't be able to use VS and it seems like linking that App.js file will help with that.

[2020-04-23 18:21] chrisglein commented on #4652
How do we know this is an OOM issue? Do we have any error codes or diagnostics? Or is this some sort of tool chain flakiness? Can we get the error message?

Is there any pattern to this? Machine under load?

Should we switch the PR builds to use x64 so we can use x64 across the board (which would help with heap issues)?

@NickGerleman Can you add some more data?
@kmelmon It sounds like you've hit

[2020-04-23 18:23] chrisglein commented on #4654
Need to enable the feature in the projects, and then fix up some project references in response to whatever unreliable results result from unclear sequence dependencies.
Could improve build time significantly.

[2020-04-23 18:27] chrisglein commented on #4657
Duplicate of #3884
(as in that's the answer of what library to use)

[2020-04-23 18:27] #4657 closed

[2020-04-23 18:27] NickGerleman commented on #4652
[code]

The pagefile part seems to be inaccurate, as the issue goes away with changes to physical memory, even when a large pagefile is present.

E.g. on my home machine the difference between 16GB and 32GB meant unreliable vs reliable builds. Anecdotally someone else working on RNW mentioned they weren't able to get the project to consistently build on their home machine.

[2020-04-23 18:32] NickGerleman commented on #4691
We had this as a bug for a while, but it looks like @jonthysell fixed it https://github.com/microsoft/react-native-windows/issues/3738?

[2020-04-23 18:33] NickGerleman commented on #4691
Seems like there were seperate issues with the image example. I wonder if resizeMode is new.

[2020-04-23 18:40] NickGerleman commented on #4691
resizeMode "repeat" has been around for both Android + iOS since 0.56. @jonthysell do you know if the RNTesterExample page was working after your change? I assumed it was still broken during 0.62 validation.

[2020-04-23 18:48] mccordgh commented on #4650
Thanks @chrisglein!

[2020-04-23 19:46] #3838 closed

[2020-04-23 19:53] chrisglein commented on #4650
Hmm... this is the issue I was thinking of, but on inspection isn't the same thing at all: https://github.com/microsoft/microsoft-ui-xaml/issues/1929. It's an Xbox text focus issue, but that's about it. Could still be underlying XAML.

Does this repro on desktop with an Xbox controller connected?

[2020-04-23 20:19] kmelmon opened #4697 "RN docs about "direction" property are incorrect"
I noticed that facebook’s docs are wrong, in multiple places.  For example:
https://reactnative.dev/docs/layout-props#marginstart
The doc says:
“When direction is ltr, marginStart is equivalent to marginLeft. When direction is rtl, marginStart is equivalent to marginRight”
This is making it sound like marginStart flips depending on direction, but marginLeft dow not.  However this is not how it act

[2020-04-23 20:20] kmelmon commented on #4697
@kikisaints I filed this issue to track updating facebook docs on this property.

[2020-04-23 20:22] kmelmon commented on #4592
Thanks Nick. The commit was done in October 2019, well before we started reviewing the changelogs, so this explains why we were unaware of the change.  @harinikmsft I do think it would be good to circle back with facebook folks, it may require a one-off meeting.

[2020-04-23 22:37] kikisaints opened #4698 "overwriting the metro.js file for Windows causes Android + iOS to not work"
### Environment

This works for any environment, as this is the current state of affairs in order to install, build, and run a React Native Windows application.

### Steps to Reproduce

(Write your steps here:)

1. `npx react-native init <project name> --version ^0.61.5`
2. `cd <project name>`
3. `npx react-native-windows-init`

### Expected Behavior

that we use a metro bundler that co-exists nic

[2020-04-23 23:14] JunielKatarn commented on #4654
@asklar Can you elaborate on this?
Isn't the `/m` switch for `MSBuild.exe` enough to make the builds happen in parallel using separate processes when possible?

[2020-04-24 01:52] chrisglein commented on #3587
Coming up with a plan was must-have for 62. But we're not delivering a solution in 62. Moving out.

[2020-04-24 01:53] chrisglein commented on #2460
Still an important bug, but we're told this is no longer immediately blocking for partners. Downgrading from 'must-have' but leaving as potential for 0.62

[2020-04-24 02:10] NickGerleman commented on #4033
I was curious about this earlier, and there doesn't seem to be a way to filter out tags from our releases page in Github. I.e. we would get 30 entries a month unless we changed how we publish our builds.

We have a generated changelist in vnext that's not super useful for public facing documentation.

[2020-04-24 02:51] NickGerleman commented on #4698
I think @acoates-ms may have fixed this for 0.62?

[2020-04-24 03:16] NickGerleman commented on #4655
This reproes in 0.61-stable.

![image](https://user-images.githubusercontent.com/835219/80171460-5294d000-859f-11ea-9fd3-58acccaa7288.png)

[2020-04-24 03:26] NickGerleman opened #4700 "(0.62) ActivityIndicator Does Not Respect Color Property"
0.61-stable:
![image](https://user-images.githubusercontent.com/835219/80171963-976d3680-85a0-11ea-8313-5e3a6fb5b088.png)

Master:
![image](https://user-images.githubusercontent.com/835219/80171992-a653e900-85a0-11ea-8681-ff6ac7a552a9.png)

Looks like a regression, since the test still passes color.

[2020-04-24 03:31] NickGerleman commented on #4691
Confirmed this reproes in 0.61-stable.

[2020-04-24 04:04] NickGerleman opened #4701 "(0.62) PanResponderEample Does Not Render Correctly"
The PanResponder test page no longer looks correct after pulling in updates to it in 0.62. Oddly, the example doesn't seem to show a correct example container. Possibly an upstream regression?

0.61
![image](https://user-images.githubusercontent.com/835219/80173867-fa150100-85a5-11ea-9a20-e7bfdfbbe399.png)

0.62
![image](https://user-images.githubusercontent.com/835219/80173875-013c0f00-85a6-11ea-

[2020-04-24 04:49] NickGerleman opened #4702 "(0.62) Picker Will Steal Focus Afer Moving Focus Elsewhere"
In the keyboard Focus Example page, the picker to focus on an element no longer works correctly. On selection focus will correctly be moved to another element, but it seems to quickly return to the picker.

![image](https://user-images.githubusercontent.com/835219/80175378-47936d00-85aa-11ea-8e64-73252b8ee23d.png)

It is unknown how many scenarios are affected by this. It looks like there has been

[2020-04-24 05:02] NickGerleman opened #4703 "RNW 0.61 Does not Allow Keyboard Navigation To or Activation of Touchables"
In 0.61, views/touchables marked with accepsKeyboardtFocus do not seem to be focusable. E.g. We're able to focus on the "View accept focus" view in 0.60, but not later.

![image](https://user-images.githubusercontent.com/835219/80176594-f4231e00-85ad-11ea-8ca9-c0bb7a57f4f7.png)

Similarly, focus events for touchables do not seem to work correctly since 0.61 (See the "Last Focus Event" text in the

[2020-04-24 05:15] NickGerleman commented on #4599
Played with everything I could think of. Filed bugs based on results.

[2020-04-24 05:15] #4599 closed

[2020-04-24 05:35] NickGerleman commented on #4703
This one is very bad... Marking as must fix, since it even blocks another must fix bug.

[2020-04-24 07:27] #4640 closed

[2020-04-24 16:26] khetanashita commented on #2969
Ken worked on this issue and checked in a fix. Closing it.

[2020-04-24 16:26] #2969 closed

[2020-04-24 17:12] #4673 closed

[2020-04-24 17:38] kmelmon commented on #2969
@khetanashita @KAnder425 was this something additional to the temporary workaround done in #3640?  I didn't see any checkins to the RNW repo... If there's a more permanent solution, we should get that checked into master.

[2020-04-24 19:24] kmelmon commented on #4703
This is a blocking issue, I'll take it

[2020-04-24 20:02] kmelmon commented on #4352
We now have a project board and lots of tasks covering this, closing

[2020-04-24 20:02] #4352 closed

[2020-04-24 20:08] kmelmon commented on #4703
First observation:  The View that doesn't work expands to this XAML sub-tree:

        CContentControl 0x15e65fb8
            CContentPresenter 0x15e46d38
            CPanel 0x15e4ced8 "<reacttag>: 5595"
                CTextBlock 0x15e65538 "<reacttag>: 5593", text {View accept focus}

The outer ContentControl has IsTabStop = false.  This might explain why it's not focusable.

[2020-04-24 20:30] NickGerleman commented on #4702
Calling `focus()` on the ref is correctly going through the UIManager and calling `winrt::FocusManaager::TryFocusAsync()`.

Accessibility insights confirms the combo box steals focus after it is programatically moved elsewhere. This focus change is seemingly happening in native.
![image](https://user-images.githubusercontent.com/835219/80254314-ce3e5d80-862f-11ea-8eb8-9b675fd5d082.png)

[2020-04-24 20:34] kmelmon commented on #3536
There is now an example of how to do this:
https://github.com/microsoft/react-native-windows/pull/4531
I consider this enough to call this issue resolved.  Closing

[2020-04-24 20:34] #3536 closed

[2020-04-24 20:35] kmelmon commented on #2109
We now have several issues tracking this, closing.

[2020-04-24 20:35] #2109 closed

[2020-04-24 20:56] NickGerleman commented on #4702
There was code introduced with https://github.com/microsoft/react-native-windows/commit/f21d0946c8d009b654f540f9e0bce5221940b3c4 to set focus on the combo box after it is dismissed.

It seems like the two async focus calls are racing and the order changed.

[2020-04-24 21:03] NickGerleman commented on #4702
Unmarking as must-have since the issue seems specific to programmatic focus changes from combo box item selection, instead of a more general issue.

[2020-04-24 21:20] NickGerleman commented on #4700
Seems like possible fallout from https://github.com/microsoft/react-native-windows/commit/31bed1cc68714020ad6dc82ac4784647ffc41fb4#diff-d6b30f94af3a20dd11dbae80ab585b50

Going to test 0.0.0-master.46 vs 0.0.0-master.47 (which has the change).

[2020-04-24 21:35] Tatious opened #4709 "Text styled with Bahnschrift is off center despite being centered in a View"
### Steps to Reproduce

[code]

Note, the fontFamily asset location and font family name uses a modified version of the font file since RNW does not yet support the standard way of importing font files, and since winrt seems to require a very specific font family name internally for it to be able to load the font.

### Expected Behavior

Font family: Segoe, text is properly centered

<img width="2

[2020-04-24 21:42] NickGerleman commented on #4700
Confirmed https://github.com/microsoft/react-native-windows/pull/4575 is the culprit. Not sure how confined the regression is (i.e. it could affect other ViewManagers).

@asklar since the change isn't user-facing, could you please back this out today and then resubmit after we branch with some extra validation?

[2020-04-24 23:00] #4641 closed

[2020-04-24 23:13] rectified95 commented on #4098
@xboxdavchi Do you have updates on the rendering part of the problem?

[2020-04-24 23:34] kmelmon commented on #1515
This issue is only relevant to the older legacy implementation of react-native-windows, which is no longer supported.

[2020-04-24 23:34] #1515 closed

[2020-04-24 23:36] kmelmon commented on #1694
We have this fix in the latest C++ implementation of react-native-windows.

[2020-04-24 23:36] #1694 closed

[2020-04-24 23:51] kmelmon commented on #1817
This bug only applies to the legacy implementation of react-native-windows, which is no longer supported.

[2020-04-24 23:51] #1817 closed

[2020-04-24 23:52] kmelmon commented on #1837
This bug only applies to the legacy implementation of react-native-windows which is no longer supported

[2020-04-24 23:52] #1837 closed

[2020-04-24 23:56] kmelmon commented on #2414
There isn't any actionable information in this bug.  Closing

[2020-04-24 23:56] #2414 closed

[2020-04-25 00:02] kmelmon commented on #2668
RedBox now has a Reload button in master.

[2020-04-25 00:02] #2668 closed

[2020-04-25 00:04] #4700 closed

[2020-04-25 00:06] NickGerleman commented on #4475
Adding must-have to this since it blocks shipping to the store without undocumented manual intervention.

[2020-04-25 02:27] xboxdavchi commented on #4098
Hey rectified95,

The issue we are running into now is trying to cherry pick the fix into our branch. We are effectively on 0.60, and the fix in 0.62 diverges enough that the cherry pick is non-trivial.

We will get back to you as soon as possible once we have figured out how to properly ingest the fix.

[2020-04-25 02:33] NickGerleman opened #4711 "Flipper Does Not Show Component Tree When Connected to React Native Windows"
![image](https://user-images.githubusercontent.com/835219/80269200-4d4c8980-8662-11ea-9bbc-2386bb882765.png)

We're able to reload and view logs, but we don't support much Flipper functionality.

[2020-04-25 03:10] vmoroz commented on #4631
The issue is fixed in 0.61 by #4659 and in 0.62 by #4656.

[2020-04-25 03:10] #4631 closed

[2020-04-25 03:11] vmoroz commented on #4548
Implemented in #4656.

[2020-04-25 03:11] #4548 closed

[2020-04-25 04:05] #4193 closed

[2020-04-25 07:27] asklar opened #4716 "Move namespaces to WinUI3"
Needed work as part of #2492 - we'll straddle WUX and MUX namespaces/APIs for a bit until we get everything working on MUX.

[2020-04-26 00:39] gulshanmudgal opened #4718 "Please add support for React Native Windows app development from WSL 2"
# Proposal: Enable development of React Native for Windows and Mac  in WSL 2

## Summary
I would like to have a feature where I can have all my React Native related dev setup in WSL 2 and emulators running in Windows. If the process becomes seamless, it would be a very joyful experience for any cross platform app developer.

## Motivation
I have created a similar setup for React Native for Android

[2020-04-26 04:21] gulshanmudgal commented on #4637
I have created a feature request if you could look at it, would be great.

[2020-04-26 08:09] NickGerleman opened #4720 "Stop Publishing ReactUwp NuGet Package"
We publish ReactUwp as a NuGet package for Stellar. We're no longer supporting ReactUwp for 0.62. We should stop publishing the package.

[2020-04-27 07:45] #2271 closed

[2020-04-27 09:51] #4475 closed

[2020-04-27 09:54] NickGerleman commented on #4357
Sounds like this was resolved? Going to close this issue. Feel free to reopen if not resolved.

[2020-04-27 09:54] #4357 closed

[2020-04-27 09:59] NickGerleman commented on #2351
Closing this in favor of #4087. I intend to take a look at that shortly after we're continuously integrating FB master.

[2020-04-27 09:59] #2351 closed

[2020-04-27 10:03] NickGerleman commented on #4567
Removing the must-have tag from this one since it shouldn't block the 0.62 release based on the most recent discussion.

[2020-04-27 10:04] NickGerleman commented on #4655
Removing the must-have tag from this since it reproes in 0.61. If we're missing a view manager required for the example page it's likely this has never worked.

[2020-04-27 10:05] NickGerleman commented on #3891
Closing since the OpenSSL change was backed out.

[2020-04-27 10:05] #3891 closed

[2020-04-27 10:07] NickGerleman commented on #3926
The React Native Windows page has documentation for modules now. Closing this issue.

[2020-04-27 10:07] #3926 closed

[2020-04-27 10:09] NickGerleman commented on #4637
React Native for Windows is pretty coupled to Windows specific build tools, and React Native for Mac is pretty coupled to Mac build tools. Neither of these can be run from WSL. I can't think of a way it would be possible to accomplish this unfortunately.

[2020-04-27 10:09] #4637 closed

[2020-04-27 10:09] NickGerleman commented on #4718
React Native for Windows is pretty coupled to Windows specific build tools, and React Native for Mac is pretty coupled to Mac build tools. Neither of these can be run from WSL. I can't think of a way it would be possible to accomplish this unfortunately.

[2020-04-27 10:10] NickGerleman commented on #4637
Leaving the discussion issue open if there's any interest in followup discussion. Closed this original issue for now.

[2020-04-27 10:18] NickGerleman commented on #3494
The dependency is also used in the new react-native-windows-init. Changing the title since we no longer support rnpm-plugin-windows.

[2020-04-27 10:20] NickGerleman opened #4723 "Remove rnpm-plugin-windows"
@acoates-ms replaced rnpm-plugin-windows with react-native-windows-init for 0.61 and above. We should remove the package from our repo.

[2020-04-27 10:24] NickGerleman commented on #3589
CI has a step to set version for published DLLs, but we no longer support ReactUwp for 0.62. Going to close this issue.

[2020-04-27 10:24] #3589 closed

[2020-04-27 10:28] NickGerleman commented on #2346
Looks like we've already done this. Closing.

[2020-04-27 10:28] #2346 closed

[2020-04-27 10:30] NickGerleman commented on #3519
Haven't seen CI instability in this area in the last couple months. Going to close this.

[2020-04-27 10:30] #3519 closed

[2020-04-27 10:32] NickGerleman commented on #3566
My understanding is that new versions of MSBuild are aware of solutions? We run raw msbuild in quite a few cases, so we don't seem to be running into issues here. Going to close this, but feel free to reopen if you disagree.

[2020-04-27 10:32] #3566 closed

[2020-04-27 10:35] NickGerleman commented on #4432
@kmelmon was this fixed with your recent change?

[2020-04-27 10:39] NickGerleman commented on #4163
I remember @htpiv submiting a PR to fix this. Closing the issue. Note that we cannot deleted our existing implementation until stock React Native removes builtin Asyncstorage support.

[2020-04-27 10:39] #4163 closed

[2020-04-27 10:41] NickGerleman commented on #4648
This is any JS source. Not just RNTester.

[2020-04-27 10:46] NickGerleman commented on #3274
We more or less have this right now with the react-native-init job. Recent improvements have been made to make it replicate public instructions as closely as possible.

[2020-04-27 10:46] #3274 closed

[2020-04-27 10:51] NickGerleman commented on #2757
The majority of RNTester is theme aware as of 0.62.

[2020-04-27 10:51] #2757 closed

[2020-04-27 10:54] NickGerleman commented on #4395
Documentation now reccomends running react-native-windows-init instead of adding rnpm-plugin-windows.

[2020-04-27 10:54] #4395 closed

[2020-04-27 10:59] NickGerleman commented on #1783
Closing since we've stopped active development on the legacy react-native-windows stack.

[2020-04-27 10:59] #1783 closed

[2020-04-27 11:12] NickGerleman commented on #2815
Closing since there hasn't been recent activity.

[2020-04-27 11:12] #2815 closed

[2020-04-27 11:14] #3427 closed

[2020-04-27 11:17] #4269 closed

[2020-04-27 16:52] jonthysell opened #4726 "`Can't find Husky, skipping post-checkout hook` during checkout"
I get the following error when checking out branches:

[code]

Looks like someone added a step without adding it to the package.json.

[2020-04-27 17:10] NickGerleman commented on #4726
@jonthysell the ordering was kind of the opposite. I had a hook, removed the hook, then removed Husky, but Husky doesn't seem to uninstall cleanly. We were thinking about adding a hook back though, so I think adding Husky back is fine.

[2020-04-27 17:46] #4723 closed

[2020-04-27 17:56] #4726 closed

[2020-04-27 18:04] chrisglein commented on #4663
Breaks trying to debug multiple instances in the same app at the same time. More of a niche problem (most apps run a single bundle and single instance), but is a real problem for some customers.

@kmelmon thinks this might be a dupe of an existing issue we saw awhile ago.

[2020-04-27 18:06] chrisglein commented on #4669
@Tatious are you at all blocked on this in the short term? Just trying to figure out a timeline. For now, @marlenecota is looking into this.

[2020-04-27 18:14] chrisglein commented on #4679
There was a breaking API change here in 0.62, and we will need to update WebView to match.
@NickGerleman is there a Windows-specific change here, or something across all platforms? If it's the latter then this should just be part of updating to 0.62 for all platforms, no need to track here. Is this breaking or we'll want to update at some point?

[2020-04-27 18:16] NickGerleman commented on #4679
@chrisglein there was a Windows specific breaking change with 0.62 but it looks like react-native-webview isn't updated to 0.62 in general yet.

[2020-04-27 18:17] gulshanmudgal commented on #4718
As you stated above, for obvious reasons, Eeact Native for Mac can't be supported on WSL, but for in case of React Native for Windows i guess, if possible, some sort of RPC can be used to build, debug and deploy the application on emulator. Like VS Code allows for remote development with help of extensions. In this the scenario would be reversed, We would want to access Windows binaries from WSL.

[2020-04-27 18:18] chrisglein commented on #4682
Need to have the right default here that matches the other platforms (and perhaps cares about light/dark theme).

[2020-04-27 18:21] acoates-ms commented on #4682
https://github.com/facebook/react-native/blob/a4b15a4a8821181cf272775188d0006f899d6b9f/ReactAndroid/src/main/java/com/facebook/react/views/view/ReactViewBackgroundDrawable.java#L48

This appears to be the android default.

[2020-04-27 18:22] chrisglein commented on #4688
These pages should be updated to use PlatformColor, as a real app would.

[2020-04-27 18:25] NickGerleman commented on #4688
In 0.62 Facebook added a ThemeContext based on the `useColorScheme` hook for RNTester examples to set a stylesheet. I think most things "just work" if they don't override the background color or anything.

[2020-04-27 18:26] chrisglein commented on #4691
Created card (will upgrade to issue) for missing mode: https://github.com/microsoft/react-native-windows/projects/18#card-37114262
This should be a yellow box error, not an assert.
Should hook up unimplemented property to do that.

[2020-04-27 18:31] chrisglein commented on #4697
Great find, let's open it on the RN repo (which in fact may want you to open on another repo ;))

[2020-04-27 18:31] #4697 closed

[2020-04-27 18:33] chrisglein commented on #4698
This is fixed in 0.62 and not practical to backport to 0.61. We should document the limitations here and forward people to the next version where this won't be painful :)

[2020-04-27 18:34] chrisglein commented on #4701
Need to validate that this isn't an upstream bug.
At first glance looks like:
- container background is missing (or container is different size)
- green dot moved
Anything else?

[2020-04-27 18:37] chrisglein commented on #4702
A common pattern I've seen for this class of issue is to validate that focus is on what you expect before forcing it elsewhere, to avoid collision with other programmatic focus.

[2020-04-27 18:40] chrisglein commented on #4703
Plan is to get rid of the -1 stuff. And align on [focusable](https://reactnative.dev/docs/view#focusable)

[2020-04-27 18:41] chrisglein commented on #4709
Is this an issue with `lineHeight` being treated in the wrong units?

[2020-04-27 18:43] chrisglein commented on #4711
@NickGerleman did you connect this on boot? There was a change in behavior there. @acoates-ms made that to match other platforms (checks when dev menu is loaded and once on boot). Check with him. Also, write out your steps for how you got this far, because at least it's a start? We definitely want to get Flipper up and running on RNW.

[2020-04-27 18:44] chrisglein commented on #4711
A little bird is telling me that DevTools 4 is not supported with 0.62. Does this work with DevTools 3?

[2020-04-27 19:00] acoates-ms commented on #4671
#4632 will take care of this for master.  We should do the manual update on the 0.62-stable branch though.

[2020-04-27 19:30] kmelmon commented on #4697
Looks like this is the place to file the issue:
https://github.com/facebook/react-native-website/issues

[2020-04-27 20:38] acoates-ms commented on #4691
This is how you show a yellowbox from native:
instance->CallJsFunction("RCTLog", "logToConsole", folly::dynamic::array("warn", "yellow box message goes here"));

Normally this kind of thing would go in a warnOnce which is a JS side thing.  We'd probably want to only send the message once. Ideally per instance.

[2020-04-27 22:42] harinikmsft commented on #2784
Consensus after latest design discussion - there is value in a simple boolean prop and this aligns now with the new prop introduced in v0.62 anyway. TabIndex is still good to have, but can be treated as an advanced API and proposed to RN separately after gathering evidence of usage in Windows and other platforms.

Work to be completed here:
- Change `acceptsKeyboardFocus` prop name to `focusable`

[2020-04-27 22:46] kmelmon commented on #4663
This was the duped bug:
https://github.com/microsoft/react-native-windows/issues/1783
Bug it was filed a very long time ago against the legacy version of react-native-windows.

Let's keep this bug as primary.

[2020-04-27 22:50] kmelmon commented on #4697
Filed
https://github.com/facebook/react-native-website/issues/1883

[2020-04-27 23:45] lamxdoan opened #4733 "Setting acceptsKeyboardFocus should act as the main toggle switch to enable/disable keyboard focusibility"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.60.6
2. `react-native run-windows --info`:
  System:
    OS: Windows 10 10.0.18363
    CPU: (12) x64 Intel(R) Xeon(R) CPU E5-1650 v4 @ 3.60GHz
    Memory: 13.89 GB / 31.92 GB
  Binaries:
    Node: 11.3.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.16.0 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.4.1 - C:\Pr

[2020-04-27 23:45] lamxdoan commented on #4733
@kmelmon

[2020-04-27 23:47] #4632 closed

[2020-04-27 23:57] kmelmon commented on #2080
We have a plan now, tracked by this project board:
https://github.com/microsoft/react-native-windows/projects/33

[2020-04-27 23:57] #2080 closed

[2020-04-28 02:07] kmelmon commented on #4670
I now have most of this issue addressed in this PR:
https://github.com/microsoft/react-native-windows/pull/4732
However there a remaining issue:  When testing a CLI template app on a Hebrew install of the OS, we're still laying things out LTR, because the manifest ends up with EN-us in its AppxManifest.xml.  This might be because we have a DefaultLanguage of EN-us specified in the vcxproj file.

[2020-04-28 04:34] #4716 closed

[2020-04-28 05:00] NickGerleman opened #4735 "Allow Looser Peer Dependency on React Native"
In 0.61, our peer dependency was set to a strict "0.61.5". This was never an issue since that was already the last release. The peer dependency for RNW is currently set to 0.62.2, which will give people errors if they rev react-native further than that.

From recent discussion, we're still giving folks guidance that has them potentially installing a newer patch release than we explicitly target. W

[2020-04-28 09:49] ggros commented on #4564
FYI: I have the same issue and do not have react-native installed globally.

I installed the @react-native-community/cli as a dev dep as suggested and now it works.
it installed version 4.8.0 while react-native has a dependency on ^3.0.0 and installed version 3.2.1

npx: installed 114 in 5.662s
Reading application name from package.json...
Reading react-native version from node_modules...
Reading

[2020-04-28 15:17] Lechus opened #4736 "'Question: Will GettingStarted link work in near future?'"
on todofeed sample
https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/GettingStarted.md

[2020-04-29 00:36] #4670 closed

[2020-04-29 00:36] #4676 closed

[2020-04-29 00:36] #4684 closed

[2020-04-29 09:20] asklar commented on #4691
sent mail to @marlenecota who added the assert. I'll track adding the yellowbox separately since it's still useful to have the ability to easily surface errors in the UI, let's keep this bug for tracking the resizeMode=repeat assert (is the assert and comment in the code still applicable?)
introduced in: #3712
assert happens [here](https://github.com/microsoft/react-native-windows/blob/567fc48cf68

[2020-04-29 10:36] asklar opened #4743 "Image RNTester: A redirect request will change a secure to a non-secure connection"
Image RNTester page gets an exception:

`C:\rnw2\vnext\ReactUWP\Views\Image\ReactImage.cpp (334) A redirect request will change a secure to a non-secure connection`

Found through the `DEBUG_HRESULT_ERROR` macro added in #4742

[2020-04-29 10:39] asklar opened #4744 "CLI doesn't need to elevate to uninstall app for layout install"
In Debug we register from layout which doesn't require elevation, but the CLI still asks for it.

[2020-04-29 10:57] asklar opened #4746 "ShadowNodes need to participate in UnimplementedProperty"
In #4575 I refactored our ViewManagers to report when a property wasn't handled by them.
Some properties can be handled by ShadowNodes, either exclusively or in addition to ViewManagers. For example, the height property has special treatment in the Icon shadow node, but then it also needs to be handled by the FrameworkElement ViewManager.
All this means that we also need to keep track of whether a

[2020-04-29 11:27] asklar commented on #3889
@NickGerleman said

Right now we don't test any of our legacy NuGet distribution logic in the PR pipeline, so we'll somewhat regularly see build logic changes break our ability to publish a binary for Stellar and Office.
Andrew Coates added new NuGet logic for distribution of Microsoft.ReactNative. This is run during PR, and will eventually replace the legacy logic when everything is consuming Mic

[2020-04-29 11:27] #3889 closed

[2020-04-29 12:28] MakhouT commented on #2546
@harinikmsft Any update on this? Can we get some more info please?

[2020-04-29 17:33] jonthysell opened #4749 "New 0.62 C# template app crashes at start"
Repo:

[code]
Error: `Failed to deploy: Starting the app`

Running with `npx react-native run-windows --logging` gives:

[code]

[2020-04-29 17:42] #4744 closed

[2020-04-29 18:14] jonthysell commented on #4749
It doesn't repo if I build in VS, only by using the run-windows command.

[2020-04-29 19:20] jonthysell commented on #4749
Ok, I've confirmed that if I build/deploy the app in VS, then use the cli's code to start the app (using our powershell util `Start-Local`) the app launches fine. So somehow, either the app is being built or deployed wrong. Possibly related to #4705

[2020-04-29 20:57] #4686 closed

[2020-04-29 21:22] jonthysell commented on #4749
Does not repro on 61.

[2020-04-29 23:35] asklar commented on #4749
Thanks for filing @jonthysell . I have confirmed the issue as well as with a simple hello world UWP app (non-RNW). This is due to the fact that registering from layout seems to have special logic in VS that isn't immediately apparent how to replicate it in MSBuild. We are following the docs on [layout registration](https://docs.microsoft.com/en-us/windows/uwp/debug-test-perf/loose-file-registratio

[2020-04-30 07:20] NickGerleman commented on #4711
This was Flipper 0.39.0. Flipper and Metro were open before starting Playground.

[2020-04-30 07:28] NickGerleman commented on #4711
So, I tried this again, and it seems to be working now with the default V4! This is possibly related to the  older React Depdendency. Things worked correctly when starting metro, starting playground, then loading a bundle with web debugging + fast refresh enabled.

![image](https://user-images.githubusercontent.com/835219/80683682-72cdfe80-8a79-11ea-8d55-185cad20c00d.png)

[2020-04-30 07:28] #4711 closed

[2020-04-30 13:01] gillpeacegood opened #4754 "Marshalling data in ViewManager"
When I try and marshall list of struct in a ViewManager, I get an exception thrown from AttributedViewMnager

[code]

where

[code]

[2020-04-30 16:02] #1039 closed

[2020-04-30 16:36] chrisglein commented on #3884
Note from partners: react-native-reanimated (#4151) is the more important blocking dependency for this than gesture handler (#4140). Sounded like either the latter was easier to workaround or there was less usage of it, but reanimated was critical.
(@kaiguo as an FYI)

[2020-04-30 18:05] chrisglein commented on #4720
Of note, this is slated for deletion: #3853

[2020-04-30 18:07] chrisglein commented on #4733
Duplicate of #4703
@lamxdoan make sure that the direction there reflects the discussion we had. Plan is to remove the -1 stuff.

[2020-04-30 18:09] chrisglein commented on #4735
@NickGerleman Can you capture more of this discussion here?

We're definitely not testing combinations with newer versions, so I'm uneasy about advertising it as supported. How are you thinking that part plays out?

[2020-04-30 18:11] dstaley opened #4759 "Add support for a JavaScript projection of the Windows Runtime API"
# Proposal: Add support for a JavaScript projection of the Windows Runtime API

## Summary

As a JavaScript developer, I'd like to be able to call Windows Runtime APIs without writing a native module in an unfamiliar language such as C++ or C#.

## Motivation

As a JavaScript developer building a Windows app with React Native, I'd like to avoid having to switch languages to call useful Windows Run

[2020-04-30 18:12] chrisglein commented on #4736
Not much of a question. I think you just mean this is a bug :)
Looks like this document has a broken link: https://github.com/microsoft/react-native-windows-samples/tree/master/samples/TodosFeed
We've [created an issue over there](https://github.com/microsoft/react-native-windows-samples/issues/84). In the future please log bugs against the samples repo.
@jonthysell I would have thought this would

[2020-04-30 18:12] #4736 closed

[2020-04-30 18:19] chrisglein commented on #4749
This issue (the crash) is addressed. @asklar can you open a tracking issue for us to clean this up when the core UWP changes are made?

[2020-04-30 18:19] #4749 closed

[2020-04-30 18:21] chrisglein commented on #4754
@jonthysell @vmoroz Can you help this partner with their question?

[2020-04-30 18:24] chrisglein commented on #4759
@asklar has had some recent discussions on the viability of this. It's something we've considered. @asklar can you represent the current thinking in this issue?

[2020-04-30 18:25] NickGerleman commented on #4735
@chrisglein our CLI tooling and documentation has pointed people towards installing the latest patch version of RN. There's some risk here, but the alternative seems pretty bad as well, and patch releases are usually pretty small.

That's definitely worth a conversation, but tooling + docs point towards allowing different patch versions already.

[2020-04-30 18:26] asklar opened #4760 "Opt dotnet projects back into layout registration"
[Tracking]
As part of #4749 we disabled layout registration due to UWP dotnet issues. Once the dependent bugs are fixed we should opt them back in.

Issues that need to be fixed before we can opt back in:
- [Registering layout with built appxmanifest.xml crashes app](https://github.com/MicrosoftDocs/windows-uwp/issues/2413)
- [How to create layout for C# app from MSBuild](https://github.com/Micros

[2020-04-30 18:27] #4735 closed

[2020-04-30 18:27] #4720 closed

[2020-04-30 18:38] chrisglein commented on #4516
@vmoroz you self assigned on this one. Were you thinking this was this at all related to the C# publish issue you were looking at last week? #3838
Do we know if we're adding this dependency or is this some general UWP thing that's not working?

[2020-04-30 18:38] chrisglein commented on #4516
Also, thank you @giregk for trying so hard on this one and doing everything right. Our response time is a bit slow right now :(. I'm glad you're unblocked with the C++ module. We'll get to the bottom of this.

[2020-04-30 19:29] nasadigital commented on #2874
@chrisglein
To my understanding direct debugging currently works with visual studio.
Some remaining work items are:
- Adding visual studio code support.
- Updating the wiki with instructions on direct debugging.

My suggestion is open issues for the remaining tasks and close this one.
The following board tracks Hermes support (including direct debugging support): https://github.com/microsoft/react

[2020-04-30 21:57] chrisglein commented on #4033
WinUI's answer on how they do this:

[2020-04-30 22:08] chrisglein commented on #2874
Yes, that sounds great. Please open new issues for the specific missing parts and close out this one.

[2020-04-30 23:10] #2874 closed

[2020-04-30 23:22] jonthysell commented on #4754
That's a bug, we identify JSValues (and lists and dictionaries of them) but not other objects.

[2020-05-01 00:00] #4526 closed

[2020-05-01 00:00] #4447 closed

[2020-05-01 00:59] mjfusa opened #4764 "Dynamically add component from external source?"
Since it looks like CodePush is not currently supporting RNW, is it possible in RNW to add a JS only component from an external source? Something like what they are doing here: [Lazy Bundle Loading in React Native 🔥 - React Native Training - Medium](https://medium.com/react-native-training/lazy-bundle-loading-in-react-native-5f717b65482a). I need to modify the UI based on factors I won't know unti

[2020-05-01 02:57] #4274 closed

[2020-05-01 13:50] woodrufs opened #4768 "Question: Available UI Components"
Hi all,
First off, thanks to everyone at MSFT who has been working on this. Hats off to you all as I can only imagine the scope and complexity of this project. I am not going to lie, I am _very_ new to RN and RNW still, so I apologize if I sound like I am clueless here (hint: I am).

I have a question regarding available UI components. I am taking over a RN app that is currently on .59. We are att

[2020-05-01 18:27] kmelmon opened #4770 "RTL: Template app manifest resources only have EN-US, makes app layout LTR on RTL locales"
This was discovered while implementing the direction property and allowRTL API.

We now have proper support for i18nManager.allowRTL(true), which will auto-detect the language and flow direction.  However, for the template app generated by the CLI, it has a hard-coded EN-US in its manifest, which makes this auto-detection logic think the app only wants english.  Thus the app still does an LTR layo

[2020-05-01 18:32] nasadigital opened #4771 "Support direct debugging when using Chakra in VS Code."
# Proposal: Support direct debugging in visual studio code

## Summary

You can use VS Code for direct debugging when using V8/Hermes, but not for Chakra. This issue is for adding support.

## Motivation

The only way to do direct debugging with Chakra is through Visual Studio. Adding support for VS Code would allow developers to pick the tool that better suits their needs.

## Basic example

## O

[2020-05-01 20:00] #4733 closed

[2020-05-02 04:01] tejaat1995 opened #4775 "'Question: New react-native-windows V0.62 consuming lot space. It consumed 12gb'"
I just created a new project and it occupied 12gb space.

Is anyone knows how to overcome this problem?

[2020-05-02 04:05] NickGerleman commented on #4775
@tejaat1995 would you be able to let us know the files that are large? I get a feeling this might be related to our precompiled headers.

[2020-05-02 09:46] NickGerleman opened #4776 "Determine How to Handle Breaking Change Causing Runtime Crash"
#4755 removes a user-facing workaround we left in our template app. It has a nasty side-effect of causing any apps upgrading to see a crash if they don't remove the workaround.

This is a breaking change that could cause a lot of frustration, as the crash will appear somewhat cryptic. Following up with @vmoroz to understand if there are alternate fixes that could avoid the crash, or if we could co

[2020-05-02 10:03] asklar commented on #4776
This might be even more relevant with WinUI3 since we'd be inheriting from MUX's Application instead of WUX's

[2020-05-02 10:04] asklar commented on #4775
Likely it's the node_modules first, then the PCHs.

[2020-05-02 10:06] asklar commented on #4768
Relevant work: #3587 and #4156

[2020-05-02 10:17] asklar commented on #4759
Quickly evolving discussions with several teams that are presenting different options (xlang, the 'thing' we talked about today, nodert). we'll have more data in the coming weeks.

[2020-05-02 11:54] Lechus commented on #3518
same error, running from VS code terminal.
The error message should be clear why.
` × Failed to deploy: Fail to check the installed app, maybe developer mode is off on Windows`

[2020-05-03 21:31] asklar opened #4777 "Changing Configuration or Platform hangs VS for a few minutes"
open any solution like E2ETest or Playground
Change the configuration (debug/release) or platform (x86/x64)
Observe that VS hangs for 5-10 minutes
this is because something triggers it to run node jest and hang the VS UI

[2020-05-03 22:25] asklar commented on #4306
@kmelmon @chrisglein assigning this to myself unless you were planning on doing it already

[2020-05-03 23:27] asklar opened #4778 "Cleanup from OS XAML/WinUI 3 straddle"
While migrating to WinUI3, I had to keep a lot of code that is relevant only for OS XAML. This issue tracks cleaning that up once we migrate to WinUI 3 completely.

- Monolithic CppWinRTIncludes.h - we can make this smaller and make individual cpp files include one-off headers. This could speed up builds.

- Version checks - we do version checks for IUIElement7/8/9/10, which should go away with Wi

[2020-05-04 05:07] KAnder425 commented on #4327
We also need this functionality in our app.

We are using FindShadowNodeForTag in our native modules in two scenarios.

1. We set one of our View elements to be a custom title bar using the Window.SetTitleBar method. This requires access to the XAML UIElement for that RN View.
2. As a workaround for the issue in [#4080 ](https://github.com/microsoft/react-native-windows/issues/4080), we need acces

[2020-05-04 06:21] Sosaalt opened #4779 "Fast Refresh does not work on RNW 0.62"
Hello there :)

I have been playing around with rn-windows/macos and it seems that enabling FR always leads to a full reload of the UI even when editing isolated functional components. In contrast, in react-native android/ios only the component subtree which has been affected by the change ends up being re-rendered.
Is this behavior by design or is there an existing limitation imposed by the curre

[2020-05-04 08:26] asklar commented on #4383
bringing this up for discussion again given recent developments :)

[2020-05-04 16:50] #4654 closed

[2020-05-04 18:10] chrisglein commented on #4779
Fast Refresh should be working for Windows at least as of 61.5. Can you clarify what version you're using? Fast Refresh came with 61, and there's very recently a version of macOS that supports 61.

[2020-05-04 18:13] chrisglein commented on #4777
May just be E2ETest with bringing in `jest`, not necessarily Playground. But yeah, seems like something is happening here that shouldn't.

[2020-05-04 18:15] chrisglein commented on #4777
Expect this only applies to these solutions, not a general app solution. Would be much more painful it affected every configuration change on an app solution.

[2020-05-04 18:19] chrisglein commented on #4776
I think we should take #1, which is to break the preview. It's early enough in (one week out), so there's not too many on that yet.

Linking to this (general desire for upgrade helper) for reference: #3470

[2020-05-04 18:27] chrisglein commented on #4775
Can we measure what's expected here? It seems like we could just look at what people _should_ see. Has something recently blown up? Also, compare to core RN.
Moving to binary distribution will definitely help here long term.

[2020-05-04 18:27] chrisglein commented on #4775
Data from @asklar : node_modules is 4.6 GBs....

[2020-05-04 18:30] chrisglein commented on #4771
This is system Chakra, so this isn't really RNW specific but also _very_ important to a good experience on RNW. @harinikmsft who do we contact to get traction on this?
Of note we use ChakraCore for Win32, not getting into that here.

[2020-05-04 18:32] chrisglein commented on #4770
@kmelmon looks like this didn't paste in

[2020-05-04 18:32] NickGerleman commented on #4775
Note that we build `react-native-windows` source within node_modules currently. IIRC our actual deps are much smaller, but this is worth checking up on.

[2020-05-04 18:34] chrisglein commented on #4770
A UWP app should respect RTL out of the box. The XAML controls will handle RTL in appropriate ways (usually flipped, sometimes not (e.g. a time indicator)).

How do we differ from the normal UWP template? Have we drifted?

[2020-05-04 18:36] chrisglein commented on #4770
We also need to understand the overlap here with XamlIslands, where we won't have the UWP APIs necessarily to query state here. Things like MRT are also going to be impacted by WinUI3.

[2020-05-04 18:38] #4605 closed

[2020-05-04 18:40] chrisglein commented on #4768
As Alex linked, we're trying to get better about documenting what is and isn't working (while also just getting things working :)) As for community modules, the link you provided is correct. Anything else you're looking to get answers on?

[2020-05-04 18:42] chrisglein commented on #4764
@acoates-ms You had some comments/thoughts on this in another thread, can you reflect that in here?

[2020-05-04 18:43] chrisglein commented on #4764
If this works on RN core we should identify what's needed to make it possible here (we're not intentionally blocking it in RNW).

[2020-05-04 18:44] chrisglein commented on #4764
Linking CodePush issue: #2477

[2020-05-04 18:51] Sosaalt commented on #4779
Hello Chris,

Spot on! It was a versioning issue. It seems the problem only occurs with the 0.62 preview.

Working setup:
  System:
    OS: Windows 10 10.0.18362
    CPU: (6) x64 Intel(R) Xeon(R) CPU E5-2680 v2 @ 2.80GHz
    Memory: 2.50 GB / 8.00 GB
  Binaries:
    Node: 12.16.3 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.4 - ~\AppData\Roaming\npm\yarn.CMD
    npm: 6.14.4 - C:\Program Files

[2020-05-04 18:59] acoates-ms commented on #4764
I think the only thing really missing from RNW is the ability to tell an instance to load additional JS into an already running instance. -- The rest the app can build itself.  In Office we use multiple bundles within an instance. -- But we provide those bundles at instance creation.  So we will likely be exposing something here.  But note that adding JS to the instance after instance creation has

[2020-05-04 19:08] asklar commented on #4775
@NickGerleman @chrisglein the main culprits are actually a combination of node_modules, RNW built and PCH :)
a new project is 6.8 GB and it's spent thusly:

- 4.6GB  node_modules
  - 4.3 GB in react-native-windows/build/x86
    - 2 GB in each Debug and Release, out of which **1.4 GB for every PCH**
- 2.2GB  windows
  - 1.6 GB in Packages
    - 800 MB ReactNative.V8Jsi.Windows
    - 670 MB ReactNat

[2020-05-04 19:10] NickGerleman commented on #4779
We're not yet tracking fast refresh issues with 0.62. @acoates-ms could you take a look?

[2020-05-04 19:35] woodrufs commented on #4768
I don't think so for this issue. It sounds like I should continue to dig through the source code for now. Thank you for the replies.

[2020-05-04 19:35] #4768 closed

[2020-05-04 21:18] acoates-ms commented on #4777
@asklar  - I'd like to understand where you see the `jest` stuff.  I'm not sure I see this issue on my machine. -- And having some log or something might help work out what is going on.

[2020-05-04 21:38] asklar opened #4787 "new app includes 1.6 GB of unused packages"
The default app will include 1.6 GB used by Hermes and V8 packages, even though 99% of apps won't use this.

[2020-05-04 21:43] asklar commented on #4775
Filed #4787 to shave off 1.6 GB.
Once we move to DLL in the nuget, we'll save the 4.5GB per {platform x config} combination

[2020-05-04 22:51] woodrufs opened #4789 "Question: Replacement for ICallback in v0.61 for Native Module Method"
I am working on updating a native module to v.61 that is currently on v.59. This module has a method with an ICallback argument, and this ICallback is then invoked with two arguments later on. In v.61, ICallback is gone and the replacements I see for it do not allow me to pass multiple arguments to them (instead I would have to pass an object to the ICallback replacement). I can rewrite this nativ

[2020-05-04 23:13] acoates-ms commented on #4779
Hmm. I've confirmed the issue.
I'll look into it.

[2020-05-05 02:32] rectified95 opened #4791 "DatePicker module: system locale not reflected in how RNW apps format or translate dates"
### Steps to Reproduce

Run the DatePicker example in Playground\RNTester or create a test app using the date picker component.

### Expected Behavior

Changing Regional Format in the Windows Settings app should affect how the underlying CalendatDatePicker XAML control formats dates, as well as their display language.

### Actual Behavior

No change can be observed in the RN app, even though they'

[2020-05-05 06:54] NickGerleman opened #4792 "Publish Pipeline Unable to Build Universal x64/x86 Since 0.0.0-master.57"
See https://dev.azure.com/ms/react-native-windows/_build/results?buildId=77100&view=logs&j=bd0c9a5d-cce5-5ddc-8479-a97ca35bf82d&t=384de848-3b6e-5843-d1fa-8f4d3a3f695b

![image](https://user-images.githubusercontent.com/835219/81041282-53ace380-8e62-11ea-9bf2-e4431a36cee8.png)

This is seemingly fallout from #4765, since we see errors related to the new Microsoft.ReactNative.IntegrationTests projec

[2020-05-05 19:15] gablorquet commented on #4564
After installing the cli as a dev dependency, install went thru but it stalled after asking me to replace my react-native.config.js whether I answered y or no

[2020-05-05 21:22] kmelmon opened #4795 "Consider coalescing native modules"
With today's architecture, each native module (that's outside the RNW repo) ends up producing a separate DLL.  This could end up creating a large number of DLLs, especially considering the Lean Core effort.

This issue is tracking doing some analysis to determine if a typical RNW app will have too many DLLs, and if so, consider a design for coalescing native modules into fewer DLLs.

[2020-05-05 22:59] asklar commented on #4777
@acoates-ms there are multiple node.exe processes but the main one seems to be running with this command line:
`"C:\Program Files\nodejs\\node.exe"  "C:\Program Files\nodejs\\node_modules\npm\bin\npx-cli.js" --no-install react-native bundle --platform windows --entry-file index.js --bundle-output C:\Users\asklar\source\repos\testcpp\windows\testcpp\Bundle\index.windows.bundle --assets-dest C:\User

[2020-05-05 23:45] rectified95 commented on #4098
@xboxdavchi Do you have updates on your progress?

[2020-05-06 00:20] rectified95 commented on #4326
The problem has been fixed in another issue, as I can now see the expected string in the CLI.

[2020-05-06 00:20] #4326 closed

[2020-05-06 02:40] asklar commented on #4777
@acoates-ms  Ah I know what's going on now. Intellisense is triggering a bundling operation because we say Release should run the bundler. We need a way to turn this off during Intellisense.

[2020-05-06 02:59] linkstrifer commented on #4564
This worked for me

[2020-05-06 05:08] asklar opened #4802 "react-native init does not mention Windows/mac OS"
react-native init should provide instructions for Windows/mac OS just as it does for Android and iOS.

Tracked by https://github.com/react-native-community/cli/issues/1153

[2020-05-06 09:47] NickGerleman commented on #4779
Marking for re-triage so we can discuss whether this blocks 0.62 from exiting prerelease.

[2020-05-06 10:37] NickGerleman commented on #2853
Removing the "must-have" label per recent discussion. This issue does seem super important, but will not be done in time for 0.62. It feels hard to block a release on this item in general until we're closer to having a final implementation.

[2020-05-06 12:01] NickGerleman opened #4804 "Reenable FH4 When Consumers are on V142"
See linked PR.

[2020-05-06 16:17] davidpchi commented on #4098
Hey Rectified95!

No new progress here, other than we are trying to figure out how to update now into 0.62 from our current fork.

In the interim, once we finally consume the fix, we'll need the proper scroll behavior regardless, so please keep us posted on that as well! I apologize for the delayed integration!

[2020-05-06 16:20] EricCornelson commented on #4771
@chrisglein , you can open an issue here: https://github.com/microsoft/vscode-react-native/issues for Chakra debugging

[2020-05-06 16:52] giregk commented on #2800
For your information, in iOS, children will not get the shadow property if a background color is set on the view ;)

[2020-05-06 21:25] dannyvv opened #4809 "package cleanup: Remove not needed (/Flow)"
This is one of a set of issues mentioned in PR #4796 to continue to improve the shipping package layout.

This tracks removal of [`/Flow`](https://github.com/microsoft/react-native-windows/tree/master/vnext/flow). from the `files` property of [`/package.json`](https://github.com/microsoft/react-native-windows/blob/master/package.json).

There is some confidence this isn't needed in the shipped pac

[2020-05-06 21:25] dannyvv opened #4810 "package cleanup: Remove not needed files (/etc)"
This is one of a set of issues mentioned in PR #4796 to continue to improve the shipping package layout.

This tracks removal of [`/etc`](https://github.com/microsoft/react-native-windows/tree/master/vnext/etc). from the `files` property of [`/package.json`](https://github.com/microsoft/react-native-windows/blob/master/package.json).

There is high confidence this isn't needed in the shipped packa

[2020-05-06 21:25] dannyvv opened #4811 "package cleanup: Remove internal build logic (/Scripts)"
This is one of a set of issues mentioned in #4796 to continue to improve the shipping package layout.

This tracks removal of [`/Scripts`](https://github.com/microsoft/react-native-windows/tree/master/vnext/Scripts). from the `files` property of [`/package.json`[(https://github.com/microsoft/react-native-windows/blob/master/package.json).

It is currently used by [deploy.js#291](https://github.com

[2020-05-06 21:26] dannyvv opened #4812 "package cleanup: Remove internal build logic (layoutFilesForNuget.bat)"
This is one of a set of issues mentioned in PR #4796 to continue to improve the shipping package layout.

This tracks removal of [`/layoutFilesForNuget.bat`](https://github.com/microsoft/react-native-windows/blob/master/vnext/layoutFilesForNuget.bat). from the `files` property of [`/package.json`](https://github.com/microsoft/react-native-windows/blob/master/package.json).

At the moment the CI se

[2020-05-06 21:26] dannyvv opened #4813 "package cleanup: Remove internal build logic (just-task.js)"
This is one of a set of issues mentioned in #4796 to continue to improve the shipping package layout.

This tracks removal of [`/just-task.js`](https://github.com/microsoft/react-native-windows/blob/master/vnext/just-task.js). from the `files` property of [`/package.json`[(https://github.com/microsoft/react-native-windows/blob/master/package.json).

It should only be used by internal build logic a

[2020-05-06 21:58] #4777 closed

[2020-05-07 07:43] #4779 closed

[2020-05-07 08:38] asklar commented on #4804
AFAIK the only consumer not on 142 is Office - can this be opt in for Office as opposed to forcing everyone to get this disabled?

[2020-05-07 08:50] asklar commented on #4787
@tudorms it looks like you added USE_V8 and USE_HERMES in PR #4234. This seems problematic for a couple of reasons:
* This uses up 1.6 GB in nuget packages for V8 and Hermes for every project even if they just use Chakra.
* This delay loads some binaries which might not pass Store certification for UWP apps.

It sounds like this was only tested for Win32.

I'm planning on doing the following, let

[2020-05-07 09:35] NickGerleman commented on #4804
We discussed this on the Office side, and the only ways to do this were pretty invasive/unnatural. A lot of our projects produce static libraries that would include code with CxxFrameHandler4. That means we would need to do things like add a temporary Office specific build config to each static library, or move away from producing static libs in general.

Turning off globally avoids a lot of pain/

[2020-05-07 11:49] NickGerleman commented on #4787
Mentioned this in the PR, but the store validation issue has been fixed and backported. We don't package the delay-loaded binary, and Microsoft.ReactNative does not yet expose engine selection, so there's no way to get to the path where we could even try to load it. There's definitely room for a cleaner design here, and reduction of package size that I'm sure we will eventually move towards.

[2020-05-07 15:00] NickGerleman commented on #4792
@aeulitz this was fixed, right?

[2020-05-07 15:00] #4792 closed

[2020-05-07 18:11] chrisglein commented on #4804
@NickGerleman Can you edit the issue description to provide more background here?
My summary is that the move from 141 to 142 is a blocker for Office, which needs to move to 0.62. Disabling this feature is a regression in behavior on 142, but basically parity with what had 141. This issue tracks rolling that back and getting the winnings again.

[2020-05-07 18:17] #4802 closed

[2020-05-07 18:23] chrisglein commented on #4795
Concern is in overhead caused by having multiple dlls. Duplicated code, no foldability, rebasing.

There's also potential future questions around binary distribution of the platform and community modules.

Do we need app choice here?

[2020-05-07 18:25] KristijanZic opened #4823 "Please add support for building native Linux GTK apps"
Like the title says, please add support for building native Linux GTK apps. It would be great to have Linux supported too.

[2020-05-07 18:32] chrisglein commented on #4791
Sounds like there is some level of involvement for the behalf of datepicker, where it has bugs that are not internationlization ready. We should be crisp about where the platform is not following through, versus where the module is ready.
The `intl` JavaScript module is supposed to expose much of this kind of functionality. It should be available on Chakra at least (pending on Hermes).
We need to

[2020-05-07 18:34] chrisglein commented on #4789
@vmoroz Can you help field this question?

[2020-05-07 18:37] chrisglein commented on #4787
Related: #4775

[2020-05-07 18:40] chrisglein commented on #4787
Sounds like we're going to need a second step (in addition to setting USE_*) to enable these in the package. It adds another step, but better than having people pay for this stuff they're not using.

Will be a cost for core repo, but not for the apps.

[2020-05-07 20:03] tudorms commented on #4787
The store validation was fixed by adding a hack to not copy the dll into target for uwp projects (see https://github.com/microsoft/react-native-windows/pull/4714); is this issue about the size on disk of a development environment?

We may need to refactor the build system to properly separate uwp and win32 (perhaps by using PackageReferences throughout the vcxproj files). Office needs the win32 pa

[2020-05-07 21:19] vmoroz commented on #4789
Hi @woodrufs, I am sorry about the pain this issue causes. It is a clear oversight from my site. For some reason I thought it must be always one argument. I recently did a similar fix for event arguments (PR #4426), but the callbacks still have same limitation. I will try to address it as soon as possible.

Now to the second part of your question: what to do before it all get fixed?
We can pack th

[2020-05-07 21:31] vmoroz commented on #3807
@NickGerleman, this flag is C++/WinRT only which we currently use only for Microsoft.ReactNative.dll, templates, and some uni tests. I would not worry much about the test projects.

[2020-05-07 21:34] vmoroz commented on #3807
Ouch, we still use it in our sample project. I will fix it before closing the issue.

[2020-05-07 21:40] vmoroz commented on #4754
We do have a serializer for the IList<T>. I wonder if it is wired up correctly. Let me look at it to see what the issue is.

[2020-05-07 23:56] tejaat1995 commented on #4775
Yes, it's coming because of precompiled headers.

[2020-05-07 23:57] tejaat1995 commented on #4775
Thanks for the information @asklar.

[2020-05-08 00:47] chrisglein commented on #4787
Will taking this change remove the need for the hack? That change looks to be for V8. Have we validated that both V8 _and_ Hermes aren't being included in the app size for apps that aren't opting in?

This PR resulted from the linked bug which in turn was reported by and end developer experiencing the dev bloat and being (rightfully) frustrated. So we've already got signal that this is impacting d

[2020-05-08 01:47] tudorms commented on #4787
Should we set up a quick meeting offline to chat about V8 / Hermes and Office specific stuff?

We can include @Khalef1 , @asklar  and @acoates-ms

[2020-05-08 01:51] Khalef1 commented on #4787
Yes, please. It will be much easier to chat about this specific one offline and we can help share context on our requirements and how they can be validated. Can you set something up?

[2020-05-08 02:18] linkstrifer commented on #4564
This fixed the problem

Platform: Windows 10

[2020-05-08 02:24] linkstrifer commented on #3263
This worked for me, awesome, this should be in the docs...

[2020-05-08 02:31] linkstrifer commented on #3518
Running the project as an Administrator fixed the problem for me

[2020-05-08 04:18] asklar opened #4833 "Playground-Win32 crashes because of DispatcherQueue"
Load rntester or any page in playground Win32 (XAML island), get a crash here:

[code]

@vmoroz is aware of the issue

[2020-05-08 04:22] asklar opened #4834 "Support for native modules across multiple islands/DispatcherQueue (multiple islands in same app)"
Today most/all of the code assumes there is one UI thread. We need a design for how this will work in an app where there is more than one island. Namely, a native module gets instantiated by the host/instance - it needs to know what island it would be associated with. Can we have more than one instance of a native module per app? e.g. one datetime picker for each island? or do these need to be sin

[2020-05-08 06:00] #4787 closed

[2020-05-08 06:04] albseb511 opened #4835 "applicaiton name alphanumeric"
"first-app" is not a valid name for a project. Please use a valid identifier name (alphanumeric)

Got this on creating an app.

Support for characters like -, _ etc?

Is this intentional? and will it change for future?

[2020-05-08 08:15] NickGerleman commented on #4834
This is something @vmoroz is looking into.

The design gets complicated wrt native modules assuming instance global UI. We already see that with multi-Window with Win32, but multi-UI thread gets more hazy. Multiple of the same native module per instance would break a lot of assumptions and is likely not possible. There was some consideration for view managers to potentially associate UI thread wit

[2020-05-08 08:39] asklar commented on #4834
@NickGerleman yes, I know

[2020-05-08 08:52] asklar commented on #4775
#4787 will remove the v8 and Hermes nugets which will give you back 1.6 GB.
Then once we move to a binary/nuget distribution model we'll remove the 4.5 GB per arch cost. That's tracked in #4550 for new projects, part of https://github.com/microsoft/react-native-windows/projects/33

[2020-05-08 08:59] asklar commented on #4540
re: JS engine - we should try to limit complexity and target one engine at a time. We don't want to force projects to pay the disk cost for engines they won't use. See #4820

[2020-05-08 09:13] asklar opened #4836 "Generating a new certificate in VS 16.5+ breaks app signing"
@qmatteoq ran into this, filing on his behalf.

I had to create a new self-signing certificate to sign the UWP app, so I’ve proceeded using the UI wizard which is available in the Packaging section of the manifest. Everything completed fine but, when I tried to run the React Native scripts which signs and deploys the package through PowerShell, I got the following error:

`Certificates specifies a

[2020-05-08 21:10] tejaat1995 commented on #4775
Thanks @asklar

[2020-05-08 22:46] NickGerleman opened #4841 "Remove Global Leakage of winrt namespaces"
We have code today in shared headers that looks like this:

[code]

This type of global leakage can lead to confusion of where namespaces are coming from, can leak to customers, and has bitten us in Office before, where incorrect types are silently included. E.g. the wrong IInspectable.

Cppcoreguidelines, which we try to follow explicitly calls this out as something not to do http://isocpp.github

[2020-05-09 00:31] rectified95 commented on #4098
@davidpchi It looks like the fix on our end will require reimplementing the inversion - as long as the scaleY=-1 transform is passed to XAML under the hood, the scrolling will be incorrect. We're investigating how to model the desired behavior in a new way.

Can you tell me what your usage scenario is in more detail?
For example:
- whether it is about having a chat-like experience, where you will

[2020-05-09 07:15] asklar opened #4845 "Make it easier to diagnose test failures in CI"
we should print to the CI console which tests failed in addition to having the test run outputs.

[2020-05-09 07:17] asklar opened #4846 "Improve tree dump capabilities so we can write better visual e2e tests"
the current tree dump is pretty basic and doesn't allow a reliable output since it will include things like scrollbars, it will compare collapsed and non-existent elements as different, etc.

[2020-05-09 07:22] asklar commented on #4835
@albseb511 this limitation is not specific to React Native for Windows but it's a core React Native convention (see https://github.com/facebook/react-native/issues/19473).
It sounds like the CLI only allows names that match the regex `[$A-Z_][0-9A-Z_$]`
However once you create the RN app and link in Windows, you can change your app's name in Visual Studio in the project properties.

[2020-05-09 07:26] albseb511 commented on #4835
Thanks for clarification.

I've not been able to setup on macOs. I'm guessing some issue with cocoaPods

[2020-05-09 11:21] NickGerleman opened #4847 "Fail Override Validation if Copy Type Files are Modified"
During override validation we currently only check that upstream files haven't changed. Until upstream releases integration tests and RNTester as a package, we have copies of source in our repo that should not be modified. Fail validation of the original change.

[2020-05-09 17:49] woodrufs commented on #4789
Hi @vmoroz,
I really appreciate your detailed reply and sharing a fix for me to use - thank you. I have been out the last couple days, so I have not been able to try this yet. I will get back to you Monday to confirm that this works. Once again, thank you for your help and for all you're doing for the RN community!

[2020-05-10 04:49] mboworldbest opened #4849 "How to use Bluetooth 4.x?"

[2020-05-10 05:54] rossbreytberg opened #4850 "Silent Audio Playback from Native Module"
Hi,

I'm working on a text-to-speech native module for an app, which receives a text string from JS. However, despite trying several approaches including `MediaPlayer` and `AudioGraph`, I haven't been able to get the native module to play any sound.

I've confirmed the speech synthesizer parses the string into an audio stream correctly, because I tried saving it to a file and was able to playback

[2020-05-10 07:12] NickGerleman commented on #4652
This is hitting more developers internally who are unable to build the project. x64 toolset does not seem to help. Marking for retriage and starting work to cut down our PCH, since it's blocking development.

[2020-05-10 10:55] NickGerleman opened #4851 "Support Globs in Override Manifests"
The override manifest currently records overrides per file. This makes it hard to be human readable, and makes it hard to write rules to sync an entire folder.

Add support for Globs and do cleanup in manifest for windesktop stubs, ReactCopies.

[2020-05-10 11:06] NickGerleman opened #4852 "Add Stub Type Override"
A bunch of the files we track in override manifests are just stubs, where we don't care if upstream changes so long as a file isn't removed.

We could add a stub type to represent these with less noise. May be mitigated by the fact that many or the stubs are also derived from upstream stubs.

[2020-05-10 11:18] #4776 closed

[2020-05-10 11:18] NickGerleman commented on #4776
We decided to cherry pick into 0.62.0-preview.3

[2020-05-10 11:23] NickGerleman commented on #4598
Dropping this for now because I don't have the bandwidth to look at both this and the OOM issues preventing developers from building the app at the same time.

Clarified the title of this issue, since this requires a new implementation for 0.62 instead of straight mechanical work. Marking for discussion.

[2020-05-10 11:26] NickGerleman commented on #4033
There's been offline discussion about the viability of this in virtual shiproom. Haven't seen followup conversation on this. Flagging for retriage.

[2020-05-10 11:29] NickGerleman commented on #4098
This doesn't seem within the scope of the initial 0.62 release. Flagging for retriage. We should backport this to 0.62 after release as its non-breaking and there's a customer need.

[2020-05-10 12:24] NickGerleman opened #4853 "Make "yarn override manual-upgrade" behavior less dangerous"
Override tools behavior for doing manual upgrades is to mark all overrides within a manifest as up to date and leave conflict markers in for files not able to be automatically merged.

This workflow was optimized for small merges when we're on master. It too easily allows accidentally marking files as up to date when doing large merges.

We should make it per-file or per-glob instead of per manife

[2020-05-10 12:29] NickGerleman opened #4854 "Add readme to "override-tools""
We have help options in the CLI, but don't have a readme explaining functionality. We should add one.

[2020-05-10 12:30] qmatteoq commented on #4140
+1 Another AppConsult customer, who is being followed by @harsk, is asking for this in order to move their project from the legacy C# core to the new C++ one

[2020-05-10 12:32] NickGerleman opened #4855 "Add package dependency updating functionality to override-tools or associated"
We don't currently automatically sync package dependencies (e.g. flow-bin, react) automatically. We should add that.

[2020-05-10 12:35] NickGerleman opened #4856 "Add flowconfig updating functionality to override-tools or associated"
Facebook will often make upstream changes to their flowconfig file that we need to reflect in our own. We should automate this.

[2020-05-10 12:41] NickGerleman opened #4857 "Update override-tools to allow Facebook Master NPM Version numbers"
override-tools understands package versions for stable versions of rn. We need to add new logic to checkout an rn version based on the commit hash embedded into Facebook daily builds.

[2020-05-10 12:48] NickGerleman opened #4858 "Allow Automated Day-by-day Upgrades in override-tools"
We can take advantage of Facebook nightly builds even it we aren't on master, to reduce merge complexity. This would involve replaying changes day by day to create less complex merges during an upgrade.

[2020-05-10 12:57] NickGerleman opened #4859 "Work around Yarn cwd Behavior for Adding and Removing Overrides"
Yarn will pass the workspace root as a command current working directory when running a yarn script.

This causes confusion when adding or removing files, since paths need to be relative to workspace, even if currently in a nested folder.

npx doesn't have this issue, but will also currently sometimes install a package called "override" if --no-install isn't specified. This happens if Yarn fails t

[2020-05-10 13:01] NickGerleman opened #4860 "Avoid Creating Scratch Git Directory for Non-Upgrade react-native-platform-override Commands"
Unlike upgrading, override validation, addition, and removal can work without creating a scratch git repository. We can instead use the local react native package. This lowers disk space usage and avoids an initial large 500MB download to sync the repo.

We already have a pluggable interface for storage created to allow testing. Not much refactoring should be required to allow using local storage

[2020-05-10 13:08] NickGerleman opened #4861 "Batch Versioned File Reads to Reduce Excess Checkouts During override-tools Three Way Merge"
Override-tools will currently perform many extra Checkouts than needed in its scratch Git repository during the upgrade process. We should add batching to improve performance here.

[2020-05-10 13:15] NickGerleman opened #4862 "Update Beachball Versions in Stable Branches once Noop Bug is Fixed"
Beachball will noop during publish if a change is of a disallowed type. See https://github.com/microsoft/beachball/issues/301

This bug causes a lot of confusion when backporting changes. We should update Beachball on stable branches when it's fixed.

[2020-05-10 13:28] NickGerleman opened #4863 "Create Release Scripts for Automated Preview and Release Changes"
Right now there are about three places that need to be manually updated when we branch or go from prerelease to stable. We should script this to ensure we don't miss anything.

[2020-05-10 13:33] NickGerleman opened #4864 "Consider Adding a Bot to Automate Backports"
We already have working logic for programmatic three way merge in override-tools. We should add a CI task that periodically cherry-picks PRs with a "Backport to xxx" tag and creates backport PRs.

[2020-05-10 13:36] NickGerleman opened #4865 "Formally document release process"
Document the current assumed release process and engineering involved. This is not final, but we should start somewhere.

[2020-05-10 13:40] NickGerleman opened #4866 "Convert run-windows to Typescript"
Developer experience working on run-windows is suboptimal. Move this project to the typescript package format we've been using for override-tools, react-native-windows-init, react-native-window-codegen.

This can be done largely incrementally if we allow "implicit any".

[2020-05-10 13:44] NickGerleman opened #4867 "Move Universal Unit and Integration Tests off ReactUwp"
We need to split out what's ReactUwp specific vs tests that cover modules, etc that are currently shared.

[2020-05-11 05:39] anirudhabhurke commented on #4564
This works.

[2020-05-11 14:39] vmoroz opened #4868 "Update C++/WinRT to version 2.0200508.4"
We have a new version of C++/WinRT available. We should move our code to the newer version to avoid accumulating technical debt.

[2020-05-11 14:41] vmoroz opened #4869 "Update the version of Microsoft.NETCore.UniversalWindowsPlatform"
We should update the .Net code dependency on Microsoft.NETCore.UniverslaWindowsPlatform from version 6.2.8 to 6.2.10.

[2020-05-11 17:10] #4845 closed

[2020-05-11 18:04] chrisglein commented on #4869
@vmoroz Does this unblock anything with this? Does this come with a min target version update? What do we get from this?

[2020-05-11 18:06] chrisglein commented on #4868
@vmoroz Does every project that's compiling from source need to be aligned here? I know we've had problems with that in the past. Or is this in the post-binary world? As is seems like a breaking change?

[2020-05-11 18:07] chrisglein commented on #4867
Seems like this will become necessary with this: #3853

[2020-05-11 18:09] chrisglein commented on #4866
Isn't there a specific Typescript template? #4505
My understanding is RN expectation is you get a JS project unless you use that template, and we have something blocking that template from working (that's the above issue).

Answer: This is about our code, not the app code stub.

Core code talking to facebook should be flow: #3166

This is about the CLI

[2020-05-11 18:10] chrisglein commented on #4866
Would be nice to align with macOS on this (maximize code sharing where we can).

[2020-05-11 18:12] chrisglein commented on #4864
@NickGerleman maybe chat with Brian about ideas for our options here?

[2020-05-11 18:14] chrisglein commented on #4863
Facebook has a bump versions script to automate this.
WinUI has a pretty involved release pipeline with mix of automated and manual steps we can maybe crib from.

[2020-05-11 18:29] chrisglein commented on #4850
@rossbreytberg Do you know if that code snippet works fine in a non-ReactNative UWP app? We're not personally familiar with the Media Player winrt API, so I can't say for sure if that's correct. Are you getting errors/logs? How does this compare to available samples?

[2020-05-11 18:30] chrisglein commented on #4849
Can you elaborate more? That's a pretty open ended question? :)
Code snippet, etc. Is this a RNW issue?

[2020-05-11 18:33] chrisglein commented on #4847
My understanding is there isn't a firm timeline on moving RNTester #4054, so we may want to do this in the interim.

[2020-05-11 18:34] chrisglein commented on #4846
e.g. ignore scrollbars, collapsed items, etc.
+ test reliability

[2020-05-11 18:37] chrisglein commented on #4841
Will need to do an audit of where we're doing this. Coming up with that index seems like the next step.
Solution used in tests: header file that has aliases that is included from cpp. Problem: interaction with PCHs.

[2020-05-11 18:40] chrisglein commented on #4836
Workaround: Ship `Add-AppxPackage` conditional on version while we wait for the VS fix.
Of note, this isn't specific to RNW, we're just impacted via UWP tools. As much as possible we want to forward to standard guidance.
@harinikmsft Can you follow up with app model team for guidance?

[2020-05-11 18:43] chrisglein commented on #4836
Suggestion: Identify VS version and emit a warning (and/or do workaround for them) so it's obvious up front.

[2020-05-11 19:48] xboxdavchi commented on #4098
Hey Rectified95,

The usage scenario in this case is a chat-like experience (the first one you described). We will not toggle the inverted property after our list has been renedered.

[2020-05-11 19:50] marlenecota commented on #4014
Re-activating as the workaround was removed.

[2020-05-11 19:52] NickGerleman commented on #4014
@marlenecota this should be fixed in 62 due to upstream changes. Can you confirm?

[2020-05-11 19:58] marlenecota commented on #4014
That's using the Appearance module which we don't currently have. I was going to use AppTheme until the upgrade to 63 where AppTheme will be migrated to Appearance.

[2020-05-11 19:59] NickGerleman commented on #4014
@marlenecota I implemented AppearanceModule during the 0.62 work. You can confirm in Playground so long as you turn off web debugging. The Appearance JS otherwise always claims to be in light mode.

[2020-05-11 20:03] kmelmon opened #4872 "Build baseline perf app(s) and measure"
As part of an effort to establish a baseline of perf numbers for react-native-windows, we should build simplified scenario apps and get essential perf data from them.

Part of this effort should include identifying which are the most basic, essential scenarios we want to measure, and then build some number of apps to exercise those scenarios.

We have done this in the past for XAML (eg GridViewPan

[2020-05-11 20:09] kmelmon opened #4874 "Build react-native-windows controls gallery app"
We should build a "react-native-windows controls gallery" app.  It would serve several purposes:
-Help us validate quality, API completeness, Store deployment, etc.
-Give us a place to show off the full capabilities of the framework (including Windows-specific stuff)
-Acts as a forcing function for the team to wear their customer hat and use the framework end-to-end

[2020-05-11 20:15] Tatious opened #4875 "Children with negative margins yield unexpected behavior"
### Steps to Reproduce

Create a view with a child that has a negative margin:

[code]

### Expected Behavior

In this case, there is a border around the parent (iOS):
![IMG_0527](https://user-images.githubusercontent.com/32688486/81607215-2fcd2e80-9389-11ea-8ee3-49c6869dd072.PNG)

### Actual Behavior

The child view does not show: (Windows):
<img width="423" alt="Screen Shot 2020-05-11 at 1 08 13

[2020-05-11 20:30] woodrufs commented on #4789
Hi @vmoroz,
Thanks again for the your time and help. I was able to get your implementation working using a model similar to yours; however, I ran into an issue when I have arguments that are more complex and are POCOs. I tried to debug this myself earlier today, but I can't get the symbols loaded correctly to properly step through any of this. By the time the exception is hit in the program and th

[2020-05-11 21:07] rossbreytberg commented on #4850
@chrisglein thanks for the idea. In a non-ReactNative UWP app the same issue does occur, but can be solved by explicitly adding a `<MediaPlayerElement x:Name="mediaPlayerElement" />` to `MainPage.xaml`. Then with a call `mediaPlayerElement().setMediaPlayer(mediaPlayer)` from `MainPage.cpp`, any sounds played by `mediaPlayer` will be audible.

Is there a way I can add a hidden `<MediaPlayerElement

[2020-05-12 00:00] #4639 closed

[2020-05-12 01:02] woodrufs commented on #4789
After stepping away for a little bit, I came back with a different approach but still getting an exception I can't understand in Microsoft.ReactNative.h
![image](https://user-images.githubusercontent.com/2928421/81626519-f36df280-93c9-11ea-87f5-99c278fdd78b.png)

Your answer seems clear to me that I just needed to intercept the serialization and write the properties as two separate arguments. I tr

[2020-05-12 01:18] vmoroz commented on #4789
@woodrufs, thank you for the minimal repro! Let me have a look at it and I will get back to you as soon as possible.

[2020-05-12 03:13] vmoroz commented on #4789
@woodrufs, I have augmented earlier branch with changes to sample project similar to your latest code: https://github.com/vmoroz/react-native-windows/tree/TwoCallbackArgs . It works.

The issue is that the method must return `void` instead of `Task`.

In our code we never observe the result of the `async` method and the situation when method returns `Task` is not handled correctly. We allow method

[2020-05-12 05:55] harshadak2020 commented on #2829
+1 Another AppConsult customer is asking for this in order to move their project from the legacy C# core to the new C++ one

[2020-05-12 10:06] woodrufs commented on #4789
@vmoroz,
All I can say is THANK YOU! I cannot tell you how long that would have taken me to figure out (especially since I have had the mindset to never return void when working with async operations)! I have tested it this morning, and everything is working as expected now that I return void. Thanks again, and I hope you have a wonderful day!

[2020-05-12 10:06] #4789 closed

[2020-05-12 14:03] vmoroz commented on #4789
I am glad to hear that it works! :)

[2020-05-12 14:11] vmoroz commented on #4869
@chrisglein, this is the list of issues fixed in the latest releases: https://github.com/microsoft/dotnet/blob/master/releases/UWP/net-native2.2/README.md

We are two releases behind on more than one year old version.
I would expect our customers prefer using the latest versions.

I am not aware about any immediate issue in our code that the new version addresses.

[2020-05-12 14:22] vmoroz commented on #4868
I expect that customer code may use different version on C++/WinRT because it does not have the source dependency anymore on the Microsoft.ReactNative.dll. Even if the MS.RN.dll project is compiled in user solution, the dependency is always on binary .winmd and .dll files. It is different from the ReactUWP where we had dependency on C++ code.

Usually doing incremental updates is good. Last time w

[2020-05-12 17:24] chrisglein commented on #4339
Closing this out lacking more specific detail (and knowing we've done some work here). Open more specific actionable issues on the samples repo if we have them.

[2020-05-12 17:31] #3036 closed

[2020-05-12 17:31] #2907 closed

[2020-05-12 17:38] chrisglein commented on #4265
I've tried to capture some of the deficiencies of the problems with the contribution docs in [this issue](https://github.com/microsoft/react-native-windows-samples/issues/95) in the samples repo (where Kiki has us tracking website issues). There's impact on the website, and also the repo. We need to break this down into actionable steps. First decision is: what's our philosophy about where contrib

[2020-05-12 19:42] rectified95 opened #4879 "Add property to DatePicker that allows the user to control what type of calendar they want to display."
Add support for the CalendarIdentifier property.

Ref: https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.calendardatepicker?view=winrt-18362#globalization

[2020-05-12 20:00] asklar commented on #4879
@chrisglein do we have a globalization Area label? or a world readiness or enterprise readiness one?

[2020-05-12 21:02] NickGerleman commented on #4879
@rectified95 I see you have a PR out for the community module. To my understanding there is intent to remove the version we have in-tree once this happens, since the Windows version doesn't quite conform to a builtin RN API. Should we put the issue in the community module's repo? Relates to #4221

[2020-05-12 21:05] NickGerleman commented on #4874
Potentially related to #4558 which tracks publishing playground as its own app during CI. Same theme of giving users something to play with the stack and validating our ability to deply.

[2020-05-12 21:23] chrisglein commented on #2853
Shared project change will be taken for 62, but full auto linking is targeted for 63 now.

[2020-05-12 21:30] chrisglein commented on #4879
Just "Area: Localization". Which is close but not the same. I'll rebrand it.

[2020-05-12 21:56] namrog84 opened #4881 "react-native run-windows can't find path because there is no /bin/"
"react-native": "0.62.2",
"react-native-windows": "0.62.0-preview.5",
Using Visual Studio 2019  (16.5)

When using react-native run-windows, I receive this error.
× Failed to deploy: Unable to find AppxManifest from "E:\repo\src\apps\ContentTestApp", using search path: "windows/{*/bin/x64/Debug,Debug/*}/AppxManifest.xml"

Because the correct path is
"E:\repo\src\apps\ContentTestApp\node_modules\re

[2020-05-12 22:57] rectified95 commented on #4879
@NickGerleman I was thinking about that, but thought it'd be strange to create an issue in that repo about updating a component that is not in it yet. Can move this issue there, once the check-in is made.

[2020-05-12 23:28] anaisbetts opened #4882 "Getting Started fails with "Cannot find module '@react-native-community/cli/build/tools/copyAndReplace'""
### Environment

If you are using latest version:
1. `react-native -v`: `error: unknown option -v`
2. `react-native run-windows --info`:

[code]

3. `reg query "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock"`

[code]

### Steps to Reproduce

1. Follow verbatim the steps described at https://microsoft.github.io/react-native-windows/docs/getting-started
2. Get to `npx react-native-wi

[2020-05-13 02:33] NickGerleman commented on #4679
Awesome to see this checked in!

[2020-05-13 02:33] #4679 closed

[2020-05-13 02:38] NickGerleman commented on #4882
@acoates-ms this has popped up in a couple of threads. Any idea what might be going on here?

[2020-05-13 02:41] NickGerleman commented on #4882
Same as https://github.com/microsoft/react-native-windows/issues/4564

Multiple users reported. Version shown is 0.61.5. Adding a dev dependency supposedly fixes the issue.

Happening in the local CLI, so likely not an issue with react-native-windows-init unless rnpm-plugin-windows was unintentionally bringing something in earlier we relied on.

[2020-05-13 05:05] NickGerleman opened #4885 "Remove AccessibilityStates from ViewWin32 Typings"
ViewWin32 typings manually add states to AccessibilityStates even in 0.62. The API is going through removal and we don't want people targeting 0.62 to be able to use it. Change this to a fork of AccessibilityState in preparation for NetUI work.

[2020-05-13 07:04] kmelmon commented on #4703
Will fix this by doing part of #2784
Remove the logic for tabIndex = -1 since that is web-only behavior that conflicts with the boolean prop. After this change,tabIndex can only be >=0.

[2020-05-13 10:50] ngburke opened #4887 "'Question: File drag and drop'"
Looking for some advice on how to implement file drag/drop from the desktop into the RNW app.

In our prior app version with Electron and ReactXP, we were using a `View` component that had various `onDrag*` methods that yielded a [DataTransfer](https://developer.mozilla.org/en-US/docs/Web/API/DataTransfer/files) type result to process dropped files.

After looking through the React Native and your

[2020-05-13 17:26] magnushammar commented on #3263
THANK YOU @uhteddy .. I was on the Individual components tab and for some reason Universal v141 tools are not visible there, so I thought that... OK, old instructions... v142 it is...

![image](https://user-images.githubusercontent.com/4369221/81844538-85ebce80-954f-11ea-9e9b-0a6573600b79.png)

[2020-05-13 17:47] vmoroz commented on #4869
It is interesting to see that currently some of our projects use version 2.2.9 (Microsoft.ReactNative.Managed), and some version 2.2.10 (E2E tree dump). We better be consistent. Adding @dannyvv and @asklar for visibility.

[2020-05-13 19:14] asklar commented on #4869
I think this is probably ok? as long as the min version >= RS3 we should be ok to update this

[2020-05-13 19:24] #4335 closed

[2020-05-13 21:37] jonthysell commented on #4546
We have already added this to the publish, we just need to get it codesigned and published to nuget.org, not an internal feed.

[2020-05-13 21:38] jonthysell commented on #3766
This is effectively blocked until we get #4546 complete E2E. Right now everyone downloads and builds the RNW source and so already has both it and the symbols.

[2020-05-13 21:52] RobMeyer commented on #3766
That's unfortunately not true, @jonthysell. We're getting RNW binaries from the OfficeISS package. There is an effort to switch from React.UWP to React.Windows (which might change how we get/build binaries?) but there are other blocking issues, I'm told.

[2020-05-13 21:55] jonthysell commented on #3766
The new package is only accessible internally to office. Are you building on top of ReactUWP or Microsoft.ReactNative?

[2020-05-14 01:37] #4652 closed

[2020-05-14 03:51] NickGerleman commented on #4598
Jumping back onto this. Don't remember why I took the triage tag off of this one...

[2020-05-14 03:52] NickGerleman commented on #4833
Should be fixed by #4877. Will be backported to 0.62.

[2020-05-14 03:54] NickGerleman commented on #4835
Going to close this issue since it isn't directly related to `react-native-windows`

[2020-05-14 04:40] NickGerleman opened #4900 "Verify RNW 0.62 Desktop DLL Does not Have vcruntime140_1.dll Dependency"
VC tools 14.25 regressed FH4 behavior leading to calls to CxxFrameHandler4 where there previously weren't any. This breaks anyone not building with V142, likely regardless of if they're using the ABI safe API. We should check what we're building with. See https://github.com/microsoft/v8-jsi/pull/13 for reference.

[2020-05-14 04:41] NickGerleman commented on #4900
May also want to check the experimental MSRN Nuget. Not sure the Stellar story.

[2020-05-14 06:13] NickGerleman opened #4901 "Setup E2ETest for React Native Win32/NetUI"
https://github.com/microsoft/fluentui-react-native is building infrastructure to perform Appium based e2etests on Windows controls. Their matrix includes both XAML React Native WIndows and Office NetUI.

Core runtime and Platform JS for React Native Win32 lives in React Native Windows. We should test our changes against it.

Checks should not block check in since we will need to allowing breaking

[2020-05-14 06:17] NickGerleman commented on #4901
@samuelfreiberg is working on the efforts for Flurn. @asklar has been spending time trying to improve the reliability and coverage of E2ETest for XAML. It might be good for you two to talk to each other about the efforts your making so we can make both great (or even better share things 😀 ).

[2020-05-14 06:57] asklar commented on #4835
@NickGerleman please do not close issue out from under triage. Thanks.

[2020-05-14 06:58] asklar commented on #4833
@NickGerleman please do not close issue out from under triage. Thanks.

[2020-05-14 07:01] NickGerleman opened #4902 "Consider Moving Office React Native Sandbox Into React Native Windows"
Office is a widely distributed brownfield (Islands style) application with high requirements for stability. To isolate from the instability of React Native, multiple teams within Office have built sandboxes for React Native. These are difficult to maintain using React Native's current boundaries, and multiple sandbox implementations exist.

We should consider leveraging this sandboxing work to off

[2020-05-14 07:02] NickGerleman commented on #4902
Is there a label we've been using for Islands related issues?

[2020-05-14 07:27] asklar commented on #4901
Yes, I spoke to Samuel the other day about run_wdio. @samuelfreiberg  check out the new doc content I created [here](https://github.com/microsoft/react-native-windows/blob/b05376dd911c8e965458c2df0853489be4241a9f/docs/e2e-testing.md#e2e-tests-and-masters)

[2020-05-14 14:50] #4846 closed

[2020-05-14 14:50] #4589 closed

[2020-05-14 14:50] #4680 closed

[2020-05-14 16:52] RobMeyer commented on #3766
Yeah, we're in Office (Mail & Calendar Preview app). We're currently on React.UWP. We want to move to Microsoft.ReactNative but I'm told there are some blocking issues that we're working with your team on (I'm a little out of the loop -- Stanley and Ken know more)

[2020-05-14 17:24] samuelfreiberg commented on #4901
@asklar I will take a look, thanks! Turns our our CI needs more work in order to handle our E2E testing for Windows. I'm working on getting that squared away today and then I'll look into this more!

[2020-05-14 17:33] acoates-ms opened #4904 "The implementation of Back button doesn't make sense"
The current implementation of BackHandler relies on the ReactRootControls to register for the window back button -- it also registers various keyboard handlers for the back button, at the ReactRootControl level, but that would break UI that is listening for those keyboard events above the rootview.

I think the BackHandler native module should be responsible for registering the SystemNavigationMan

[2020-05-14 18:03] chrisglein commented on #4904
Is currently crashing Win32 XAML islands...
Will need to at least address that, maybe just with a workaround for now.

[2020-05-14 18:05] chrisglein commented on #4902
We don't have a ton of interest in headless+untrusted scenarios outside of Office, plus frankly we're not as familiar with it. Can you add some more detail on what the scenario and payoff is for this?

[2020-05-14 18:08] chrisglein commented on #4900
So it sounds like the change to CxxFrameHandler4 worked but had side effects? Should we revert and just go back to a custom Office forked solution?

[2020-05-14 18:10] chrisglein commented on #4887
We don't have any immediate plans to build a file drag and drop solution, but you could write a custom view manager and do it there.

@harinikmsft can you track down a knowledgeable person about drag and drop to provide direction here?

[2020-05-14 18:12] chrisglein commented on #4885
@NickGerleman Is this pressing? Would we want to backport to 62? More context would be nice.

[2020-05-14 18:15] chrisglein commented on #4882
@anaisbetts Try the solutions in the linked issue #4564 and hopefully that resolves this for you.
We've added a yellow box tip for this in the installation page for the doc.
Duplicate of #4564

@kikisaints We could buff up that yellow box to list the error, or add detection to know if you're in this state (warn if you have a global installation)

[2020-05-14 18:18] chrisglein commented on #4881
@namrog84 Just to clarify, you intentionally moved from a `bin` output to a `target` output?

Should be an easy fix, just want to understand.

[2020-05-14 18:20] chrisglein commented on #4879
If we already have some issues on that repo, we might as well continue. @rectified95 can you migrate this issue to that repo and then we can close this out and track there.

[2020-05-14 18:21] chrisglein commented on #4875
May be a clipping issue?

[2020-05-14 18:24] chrisglein commented on #4872
May be overlap with #4874, but that's not a min app, and we probably want that.
Assigning to @kmelmon to flesh out the thinking here and explore what kinds of apps we want.

[2020-05-14 18:27] chrisglein commented on #4834
Sounds like multiple UI threads is out of scope for RN core works today (or instead, use multiple instances).
Multiple islands _on one UI thread_ is supported.

[2020-05-14 18:27] #4834 closed

[2020-05-14 18:28] #4833 closed

[2020-05-14 18:30] chrisglein commented on #4823
Don't disagree :)
Unfortunately this repo is just targeted towards Windows so we won't keep this issue open here :)

[2020-05-14 18:30] #4823 closed

[2020-05-14 18:33] chrisglein commented on #4098
It's a high profile partner bug. After many weeks of digging in, it looks like we need to re-architect how we implement inversion on FlatList, so I have low confidence this is trending towards the 0.62 release. But it is important.

Going to keep aspirationally (we would backport), but downgrading "must have".

[2020-05-14 18:35] chrisglein commented on #4098
If we need to flip the mouse wheel direction and the platform doesn't support this, then this may turn into a WinUI3 ask. @rectified95 let us know what recommendation you end up making here.

[2020-05-14 18:38] chrisglein commented on #4033
We want an automated solution. You can see what WinUI is doing linked above. Maybe we can harvest what beachball is doing.

In the short term even a manual process would be a huge upgrade for big releases. Plus a blog post...

Kiki is swamped with Build conference stuff. Also this likely needs more engineering attention.
@NickGerleman I'm going to give to you to look into.

[2020-05-14 18:39] #4835 closed

[2020-05-14 18:57] aschultz commented on #4649
Caveat that as with anything performance related it has to be tested to be proven.

For many of the small maps (like the folly::dynamic props fed into native components), I suspect you're right that the map is just overhead. Especially since the usage pattern is typically just to iterate the entire contents anyway.

For larger maps (notably the ShadowNodeRegistry at the core of the UI manager, whi

[2020-05-14 19:30] kmelmon commented on #4466
While fixing this, we'll need to also address the performance aspect of this issue.  Putting a perspective transform on the root of the tree makes us lose direct flip for game-like apps that just have one big swapchain.

Jared Henderson reported this:

Hi, Keith/Chris.  It looks like the Transform3D that’s added to the root XamlView is causing significant perf issues while streaming a game.  When

[2020-05-14 20:50] asklar commented on #4649
@aschultz note that at least in the folly version we're using, `dynamic` is a subclass of `std::unordered_map` so it's pretty inefficient

[2020-05-14 20:58] rectified95 commented on #4098
I'm investigating an alternative solution that would involve writing a custom panel for the XAML ScrollViewer we're using. Will report when I know more.

If we could just intercept the mouse delta, that'd make things easy on JS side, though.

[2020-05-14 21:02] aschultz commented on #4649
I was looking at node_modules\.folly\folly-2019.09.30.00\folly\dynamic.h, which uses F14NodeMap in its union. Is that incorrect?

[2020-05-14 22:04] NickGerleman commented on #4900
My understanding is that the FH4 change will sometimes noop depending on certain toolchain. No side effects.

[2020-05-14 22:05] NickGerleman commented on #4885
@chrisglein we need to back port to 0.62 to prevent accessibility regressions that would come up due to people not removing usages of a removed api. Already talked to Eloy about fixing official typings.

[2020-05-14 22:36] rectified95 commented on #4879
Created an issue in the community repo to track this work: https://github.com/react-native-community/datetimepicker/issues/165

Closing.
FYI @chrisglein

[2020-05-14 22:36] #4879 closed

[2020-05-14 22:39] rectified95 commented on #4156
@robertev Windows support in the community module was added today. Once they make a new release, you should be able to consume it. Contact me with issues using it.

[2020-05-15 00:39] #4881 closed

[2020-05-15 01:19] namrog84 commented on #4881
We never moved or changed the output from whatever the default project VS created some years ago. It always went to target instead of bin?

Where/how is that configured and I can check.

[2020-05-15 02:14] chrisglein commented on #4132
@kikisaints this is still open and the ^ [is still there](https://microsoft.github.io/react-native-windows/docs/getting-started). Can you work with Andrew to get clarity here.

[2020-05-15 09:17] asklar opened #4913 "Disable Just My XAML"
VS 16.4 introduced "Just my XAML" which is turned on by default - however this doesn't capture programmatically created elements.
Provide a way to turn this off other than looking for it in the UI.

[2020-05-15 11:53] NickGerleman opened #4915 "Build Tools To Diff Between Module and Native Component Specs During Integration"
Until we have type safety for internal modules and view managers, native interface changes can go uncaught. This usually means failing to implement new functionality but sometimes means regressions.

We should consider diffing these specs in the meantime to create a list of APIs we need to update. This can likely be tool assisted.

[2020-05-15 19:08] asklar opened #4918 "Hard crash on invalid jsx"
[code]

This hard crashes the app without much info (we just call `std::terminate()` or `abort`)

We should a) in Debug, show redbox, b) in Release, throw some sort of exception or show something to the user.

[code]

[2020-05-15 19:21] #4913 closed

[2020-05-15 23:11] asklar commented on #3552
@JunielKatarn I believe we are running VS2019 images in CI now (see vs2019.yml) - so is this still a problem?

[2020-05-15 23:43] JunielKatarn commented on #3552
@asklar Not sure. It's specifically about the VSTest framework, not so much about VS.

I'll verify later today.

[2020-05-16 00:32] #4918 closed

[2020-05-16 01:07] TheSavior commented on #3822
I'd kind of expect this functionality in VSCode to be implemented with the metro websocket, rather than directly calling into the NativeModule in the app's JS Context...

I give some code pointers on how that works in this issue on the react-native-mac repo: https://github.com/microsoft/react-native-macos/issues/310

[2020-05-16 11:03] NickGerleman commented on #4033
FTY @kikisaints @chrisglein I don't think automated release notes in GH will be valuable to most consumers since we have nightly builds. We do have automated changelogs generated in `vnext/CHANEGLOG.md` that I linked to offline already that can be utilized if we want to do blog posts from them.

I realistically can't see myself working on an automated way to get changes to show up in GH releases i

[2020-05-17 01:19] asklar opened #4923 "Maximize/Restore window crashes app"
launch playground or E2ETest app - i think you have to do it without starting the bundler
maximize, restore
App crashes with the stack below.

I believe this is because connecting to the bundler sets up a callback in facebook code. In the crashing case the callback never gets set by RN core, but we still try to call the callback...

[code]

[2020-05-17 04:34] asklar commented on #4923
The reason we run into this is because of the following sequence of events
- app starts and tries to load bundle but the bundler is not running. Instance moves to `m_state = ReactInstanceState::HasErrors`
- Asynchronously we get called `ReactInstanceWin::OnReactInstanceLoaded` which moves us to  `m_state = ReactInstanceState::Loaded`
- From then on, when there is an event like changing app state b

[2020-05-17 06:44] asklar opened #4925 "ReactApplication doesn't have a way to mix RN and non-RN content"
The playground app does a good job of showing how you can use `ReactNativeHost` .
The e2e test app uses `ReactApplication` - but it doesn't allow you to mix and match content between XAML or anything else, and RN.

The `Frame.Content` gets set to a new `ReactRootView` in the `ReactApplication`. This class has logic to create a Frame and a `ReactRootView` and everything works fine, but if I reparen

[2020-05-17 06:48] asklar opened #4926 "Native modules access XamlView which is tied to XAML dialect"
Native modules today interact with the `XamlView` type which is a typedef for `Windows.UI.Xaml.UIElement`. However, that means that they wouldn't work with a WinUI 3 build of RNW.
We need to either:
* Update all native modules to WinUI3, or
* Make XamlView a type that is able to reason about WUX vs MUX

[2020-05-17 14:10] acoates-ms commented on #4925
I think this is by design.  ReactApplication is a "Simple" class for users that want a Greenfield react application.  If you want to do more complex scenarios embedding React within an existing application (then you have to use the more complex interfaces (ReactNativeHost and ReactRootView)

An alternative would be to just have the template generate the code to use ReactNativeHost and ReactRootVie

[2020-05-17 14:19] acoates-ms opened #4927 "Better error handling of Views inside Text components"
#4921 fixed a crash when adding view's within a text element.  This is something thats supported on iOS and Android, but not currently in RNW.

The error provided in that case has lost all context of what caused the issue, and provides a very native specific error message that wont make sense to most JS / RN developers.  ("ViewViewManager::AddView expects a UIElement but got a Windows.UI.Documents

[2020-05-17 15:09] srikanthsunkari opened #4928 "Error: bundling failed: Error: Unable to resolve module `./$.html` from `E:\React\demo\node_modules\core-js\modules\es5.js"
While I am trying run react-native code in microsoft windows environment, facing below issue obviously this is because of the modules are not available available in windows environment.

``
error: bundling failed: Error: Unable to resolve module `./$.html` from `E:\React\demo\node_modules\core-js\modules\es5.js`: The module `./$.html` could not be found from `E:\React\demo\node_modules\core-js\mod

[2020-05-17 15:40] mboworldbest commented on #4849
yes, I need to develop the project IOT communication Bluetooth Low Energy for cross-platform
with react-native-windows

[2020-05-17 17:02] asklar commented on #4925
That's fine - how does someone discover what to use and when? I don't think we have any docs for people to discover how to use these types, we should probably document these

[2020-05-17 19:37] NickGerleman opened #4933 "Deprecate "acceptsKeyboardFocus" in Favor of "focusable""
We currently offer the Windows custom property "acceptKeyboardFocus" to set a view as a tab stop. React Native 0.62 added an equivalent "focusable" property instead. We should wire that up and deprecate the custom property.

[2020-05-17 19:38] NickGerleman commented on #4933
Part of https://github.com/microsoft/react-native-windows/issues/2784

The previous item tracking this specific issue was closed when we fixed acceptsKeyboardFocus

[2020-05-18 03:41] NickGerleman opened #4934 "E2ETest is Flaky for TextInputTestPage"
In this run we fail looking at TextInputTestPage https://dev.azure.com/ms/react-native-windows/_build/results?buildId=79994&view=logs&j=a27d21fd-a31d-5038-a902-0ee58cd3b281&t=6e4bfa1c-1783-56a1-0786-dc5a0d94bafb

In the next run, where the only difference is committing some auto-generated docs, we pass:
https://dev.azure.com/ms/react-native-windows/_build/results?buildId=80081&view=results

Some o

[2020-05-18 05:09] NickGerleman opened #4935 "E2ETest Does Not Correctly Enforce ESLint Rules"
E2ETest `yarn lint` doesn't seem to work correctly. Files often contradict eslint rules, leading to large changes on save if an editor is properly configured. It has a lint just-scripts task and lint yarn script, so I'm not immediately sure what's broken.

See https://github.com/microsoft/react-native-windows/pull/4932/files#diff-656654161ac6660d52ebebeac89aa57e for an example of a one-line change

[2020-05-18 05:52] ShivamJoker opened #4936 "'Question: [How to generate signed appx so that it can be installable]'"
Hey I am trying to create a package which can be installable or playable on any windows 10 computer but even if i try installing in my computer it says

[code]

I also installed the temp pfx on my machine

[2020-05-18 07:10] NickGerleman commented on #4703
It just now hit me that this issue was applying to normal touchables as well, since they set this internally to try to be focusable by default.

I.e. in 0.60 touchables were focusable and allowed keyboard activation, etc. In 0.61 we couldn't keyboard navigate between them.

Going to reopen and mark for triage just because I think this bug is an interesting conversation on our policy on when to bac

[2020-05-18 07:23] NickGerleman commented on #4933
Reading through the original thread, this seems like a dupe of the original. Going to just update that one with current thoughts.

[2020-05-18 07:23] #4933 closed

[2020-05-18 07:27] NickGerleman commented on #2784
The tabIndex fix was merged into 0.62. Focusable hasn't made it yet, but there is enough code still using it that it would be nice to do a phased deprecation. E.g. 0.63 marks acceptsKeyboardInput as deprecated, 0.64 removes it.

[2020-05-18 10:20] DonovanDeSmedt commented on #2546
@harinikmsft We also need to have React Native Navigation by Wix supported on Windows. Any ETA on this topic?

[2020-05-18 10:26] MakhouT commented on #3884
I don't really agree, they are also stating

I prefer choosing the one of Wix, as I tend to prefer performance...

[2020-05-18 17:01] #4867 closed

[2020-05-18 17:03] vmoroz commented on #4923
@asklar , the AsyncActionQueue is driven on it own. Next action is executed when the previous reports completion. We just need to consider the error state as the load operation completion state to enable the next actions to be executed. I will have a look at it.

[2020-05-18 18:07] chrisglein commented on #4936
There's an issue with certain versions of VS and certificates: #4836
(not specific to RN, is a UWP issue)
Can you give us some more information on your environment? What version of Visual Studio? Have you enabled developer mode? Does it work when running from the CLI `run-windows`? It sounds like there are two computers here (a dev machine and a test machine), is that correct?
Can you run `npx rea

[2020-05-18 18:14] chrisglein commented on #4927
Text has lots of nesting problems: #3373 #3417. I think there are others too.
Message isn't particularly understandable to React developers. Worth fleshing that out. Also... we should round up the issues and add support for this.

[2020-05-18 18:18] chrisglein commented on #4926
Should not allow mixing of WinUI2/inbox and WinUI3 in the same process.
Also need to figure out how community modules are supposed to navigate this, as the support window for WinUI3 is likely to be long.

[2020-05-18 18:20] chrisglein commented on #4926
@stmoy and @asklar can you work with the WinUI3 folks to figure out how they think someone should author a controls library in the brave new world of WinUI3? Also, how we want to inform the community module of best practices here (once we figure out what they are...).

[2020-05-18 18:24] chrisglein commented on #4925
I think the main ask here is to document the usage of `ReactApplication` vs. `ReactNativeHost` for brownfield scenarios. Pinging @stmoy @vmoroz @jonthysell in case there's any existing documentation that can be leveraged and website-ified. As we write this down it seems like a good opportunity to check in with the design and see how we feel about `ReactApplication` and how that sets up apps for su

[2020-05-18 18:26] chrisglein commented on #4923
May only impact development scenarios, but still pretty bad to crash on maximize :)

[2020-05-18 18:29] chrisglein commented on #4915
@acoates-ms says the code gen'd files are already checked in, so when you run it again you'll get a diff. That helps with native modules, but not view managers. So still some value in building something up here.

[2020-05-18 18:32] asklar opened #4940 "Make app template use ReactNativeHost"
When we discussed #4925 we mentioned that having the template use `ReactApplication` adds friction when a developer realizes that they want to add some XAML content to their app since `ReactApplication` doesn't allow this (it doesn't preclude it, you don't get a crash/exception, it just doesn't work).

This issue tracks replacing the use of `ReactApplication` in the app project template so that it

[2020-05-18 19:15] chrisglein commented on #4033
The format of release notes that WinUI uses has proven to be useful to consumers, and is at least partially automated. I definitely think there's value here. Also, they have existing processes we can likely copy and follow, so hopefully we don't need to reinvent the wheel.

Put the priority another way, if you click through Releases on our github you get the a pretty lackluster set of information.

[2020-05-18 19:19] chrisglein commented on #4850
Sounds like you solved this by using a custom view manager, which is one of the 2 main ways to solve this. The other would be to add it in the host (which we do need to document better, noted by #4925). Essentially, either add your custom native XAML at the root, or embed with your own view manager.

[2020-05-18 19:19] #4850 closed

[2020-05-18 19:29] kmelmon commented on #3560
This is related to #4466

[2020-05-18 19:45] harinikmsft commented on #4849
Hello @mboworldbest - Is there a specific cross-platform react-native BLE community module you are trying to use for Windows and it is not working for you?

Or, if you are trying to develop with react-native to target Windows only, you can use [Native Modules](https://microsoft.github.io/react-native-windows/docs/native-modules) to access native [Windows Bluetooth APIs](https://docs.microsoft.com/

[2020-05-18 19:48] #4885 closed

[2020-05-18 20:21] vmoroz commented on #4940
@asklar it would be nice if we just fix the ReactApplication and ReactRootView to allow such scenarios. Making another app templates would make the app creation unnecessary complex. If you could explain what is missing/wrong with the current code, then I can fix it. But ideally, it should be done by someone who has good understanding of XAML framework (I don't).

[2020-05-18 20:27] vmoroz commented on #4926
Native modules ideally must not touch the XAML. We must remove the IReactContext dependency on XAML. Then we can focus on UI components and views. I.e. the issue is better to be focused on UI views, not the native modules. If we cannot combine these twoUI technologies, then we could produce two different DLLs.

[2020-05-18 21:23] vmoroz commented on #4925
I will work with @asklar offline to understand the issue here. Currently ReactApplication is used for RN-only UI apps, while the ReactNativeHost+ReactRootView is used in brownfield apps. We should add samples for the ReactNativeHost+ReactRootView. This way we can be proactive about any issues there.

[2020-05-18 22:30] RonAmihai opened #4944 "'Question: [How to use FullTrustProcessLauncher in RNW application]'"
I need to use external system EXEs in my RNW application.

[As far as I have understood](https://stefanwick.com/2018/04/06/uwp-with-desktop-extension-part-1/), the best way to achieve this in UWP application is by using `FullTrustProcessLauncher`, alongside Windows Packaging Project as the startup project in the solution (and use win32 console application as a "launcher" for my system EXEs).

The

[2020-05-19 03:30] asklar commented on #4923
Spoke to @vmoroz offline and explained the issue in detail, it's a bug on the instance management side, he'll take a look.

[2020-05-19 03:34] asklar commented on #4944
@RonAmihai  When you link in RNW into a RN app, a solution and project file will be generated for you. At that point, the project is a UWP project and the same customizations can be applied as to any other UWP apps.

[2020-05-19 03:50] asklar commented on #4940
Spoke to @vmoroz today and explained the problem in more detail. Here's the design we arrived to:
- It should be easy and clear to move from a pure RN app (default) to a mix.
- The app templates should include a MainPage.xaml / MainPage.xaml.cs or MainPage.xaml.cpp just like any other UWP XAML app. The App.xaml.cs should be the same as what gets generated for a UWP xaml app (creates a frame, calls

[2020-05-19 04:52] #4598 closed

[2020-05-19 05:21] RonAmihai commented on #4944
Let me ask differently - how can I set `react-native run-windows` command to run the packaging project instead of the core UWP project?

Running the packaging project through Visual Studio seems to throw some exceptions, I'll update here soon.

[2020-05-19 05:33] NickGerleman commented on #4033
@chrisglein the automated notes would show up mostly for our nightly master builds instead of anything users have. That's where the confusion comes from. E.g. imagine something looking like this: https://github.com/microsoft/react-native-windows/blob/master/vnext/CHANGELOG.md

[2020-05-19 05:35] NickGerleman commented on #4033
So like, right now while we're doing work on the 0.62 preview, only one bit would show something useful to users in what was cherry-picked.
![image](https://user-images.githubusercontent.com/835219/82288650-d0a68580-9957-11ea-876b-f94c9ee346f7.png)

[2020-05-19 05:38] NickGerleman commented on #4033
Can talk more offline if interested but with branch structure it will be hard to make this useful imo. Downgrading priority was more of "this isn't going to work well given current constraints" than the individual bandwidth part.

[2020-05-19 07:34] asklar commented on #4944
`react-native run-windows` would build the whole solution i.e. all of the projects in the solution, so if you add your packaging project to the solution it should get built. If VS is throwing an exception then that seems like a good first thing to investigate :)

[2020-05-19 08:41] NickGerleman commented on #4033
Taking further conversation offline, but I'm going to set the priority according to my understanding of the issue. Apologies if I've had trouble communicating this.

[2020-05-19 17:09] vmoroz commented on #4940
@asklar, thank you for the summary!
I wonder what is going to be left from the ReactApplication after we put back to App.xaml.cs the usual UWP xaml app content. I guess the only justification for it to exist is to have a single place to configure a simple RN-only apps. The other part is the support for the application activation patterns and the connection with the Linking native module.

BTW, jus

[2020-05-19 17:14] vmoroz commented on #4923
Yes, currently we have inconsistency in how we manage the React instance loading states. Some code assumes that terminal state is `Loaded`, while others consider `Loaded` and `HasError` to be both terminal states. We must fix the code to always use `Loaded` and `HasError` as terminal states.

[2020-05-19 18:35] kmagiera commented on #4151
This issue has recently been brought to my attention. As a creator and maintainer of gesture-handler and reanimated I'd be happy to discuss how me and team can help push this forward.

An important aspect is that soon we are going to be releasing next version of reanimated that will primarily be written in c++. I believe this should make it more approachable to port to other platforms.

[2020-05-19 19:53] kaiguo commented on #4151
Hi @kmagiera, thanks for reaching out!

Do you have an ETA of the next release (c++ version)? Can you point me to the branch if it's available? I was planning to map existing Android/iOS implementation to Windows c++/winrt, how hard is it to migrate existing implementation to the next c++ release?

Tring to figure out whether we should start the work now based on the current js implementation or w

[2020-05-19 19:57] kmagiera commented on #4151
We should have the first alpha release of the c++ implementation out in the next two weeks. Can't share too many details just yet on that though.

On another note, I noticed that this got marked as priority because of react-navigation which supposedly depends on reanimated. However this is no longer true as of react-navigation v5 where despite reanimated being listed among indirect dependencies th

[2020-05-19 20:20] namrog84 commented on #4151
You say it's not being used, but
github.com/react-navigation 's master branch says its for v5

but I can still see a 2 places where react-native-reanimated is being used in the drawer component?

* https://github.com/react-navigation/react-navigation/blob/master/packages/drawer/src/views/Overlay.tsx
* https://github.com/react-navigation/react-navigation/blob/master/packages/drawer/src/types.tsx

[2020-05-19 21:04] kmagiera commented on #4151
Ah, yes, I definitely missed that. It is used by some navigation packages (could be only drawer) but not by the core. On top of that even when new reanimated is released it will take some time for components such as drawer to migrate to new version that relies on the c++ core.

[2020-05-19 21:26] jonthysell commented on #4925
The default app created by the CLI should be a C++ greenfield app that doesn't require any changes to code files during upgrades. To meet that goal, we created ReactApplication, so we could still make changes internally as necessary, esp. wrt. hooking up lifetime events.

I'm fine with having mixed brownfield samples, but if we're going to put something into the CLI, please put it behind a flag an

[2020-05-20 00:12] rectified95 commented on #4156
DateTimePicker community module v2.4.0 has been released, and it contains Windows support.
I will soon start work on removing the existing implementation from this repo.
Closing this issue.
FYI @robertev

[2020-05-20 00:12] #4156 closed

[2020-05-20 00:18] rectified95 commented on #4221
I've added Windows support to the community module.
I will use this issue to track the work of removing the existing implementation from this repo.
Also, renaming this issue, since the compoinent's name has for some time been RNDateTimePicker/DateTimePicker, not DatePickerAndroid and DatePickerIOS.
Fyi @NickGerleman

[2020-05-20 01:20] theodoregao opened #4954 "'Question: [fatal error LNK1103]'"
I was trying to build the sample app following this page https://microsoft.github.io/react-native-windows/docs/building-rnw and create a standalone app with this page https://microsoft.github.io/react-native-windows/docs/getting-started. But both of them failed with the following error:
[code]
Anyone can help me finger out what was wrong here?

[2020-05-20 04:09] mboworldbest commented on #4849
hi harinikmsft,
yes, Thanks!

[2020-05-20 04:22] theodoregao commented on #4954
Same issue as #3263. Resolved.

[2020-05-20 04:22] #4954 closed

[2020-05-20 05:40] kmelmon commented on #4312
The bug only repros if all 3 of these conditions are true:
* You are animating Opacity from 0 to anything
* You are animating both Opacity and another property
* There is a delay on the animation

I debugged into XAML and while we're in the buggy state, the Panel being animated is stuck with Opacity set to 0, and it thinks an animation is still running.

We have special logic in XAML that culls th

[2020-05-20 05:44] kmelmon commented on #4312
@Tatious I'm getting close to finding a root cause.  In the mean-time you could workaround this by doing any of these:
* Animate Opacity from 0.01 instead of from 0
* Remove the delay on the animations

[2020-05-20 07:34] ngburke commented on #4887
Any luck finding someone?

[2020-05-20 08:48] kaioduarte commented on #4823
@chrisglein do you know if there is at least a plan for Microsoft supporting Linux platform? I'm aware that exist other projects that aim to do that, but it'd be great if it was officially supported by you guys.

[2020-05-20 16:43] chrisglein commented on #3592
Fast forward 6 months...
@asklar I know we're having different issues with certificates and VS versions. How relevant is this issue still?

[2020-05-20 16:59] chrisglein commented on #4167
@kmelmon you did a big pass on RTL and I _think_ this one was fixed? Is that true?

[2020-05-20 17:23] asklar commented on #3592
@chrisglein this may still be relevant, I don't think we've looked at cross-machine deployment.
There's also this other issue that may be related/the same: #4936

[2020-05-20 17:27] #4760 closed

[2020-05-20 18:00] kaiguo commented on #4151
@namrog84 are we using drawer in our apps? If not I think we should be unblocked?

If we do use drawer sounds like we'll need to add Windows reanimated based on current implementation since it'll take some time for other components to migrate to the new version as @kmagiera mentioned.

[2020-05-20 18:06] namrog84 commented on #4151
Yes, we use drawer.

We currently use "react-navigation", "react-navigation-drawer", "react-navigation-hooks", "react-navigation-stack", and "react-navigation-tabs"

[2020-05-20 18:46] kmelmon commented on #4167
This is actually by design .  Yes it's confusing!  Note carefully that today in react-native, all the left/right properties actually do flip to the other side when direction is rtl.  This was also reported in this issue:

https://github.com/microsoft/react-native-windows/issues/4645

I had a conversation with Eli White about it as I also found it confusing.   Here's the response from Eli:
@kmelmon

[2020-05-20 18:46] #4167 closed

[2020-05-20 18:57] aschultz commented on #4167
So it's not by-design, but a long-standing bug in RN. They could follow the same deprecation pattern they've used for lifecycle methods -- make it known, start issuing warnings, then change the behavior.

Wouldn't it be in RNW's interest to address this sooner while its community is small? If you make the fixed behavior the new default, new community packages will be forced to do the right thing,

[2020-05-20 19:15] kmelmon commented on #4167
I considered making this behavior change but then Windows would behave differently than all the other platforms.  Considering this is a basic behavior and it is a goal for react-native-windows to be friendly to cross-platform development, I favor consistency.

Having said that I do agree with the sentiment that it would be better if the behavior followed the web standard.

As a starting point we c

[2020-05-20 19:22] ShivamJoker opened #4959 "Error while publishing app to Windows store v8jsi.dll is not supported for this application type"
### Environment

If you are using latest version:
1. `react-native -v`:  "^0.62.0-0",

2. `react-native run-windows --info`:

[code]
3. `reg query "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock"`

[code]

Then, specify:

- Target Platform Version(s):

- Target Device(s):
Desktop

- Visual Studio Version: 2019

- Build Configuration: ReleaseBundle

### Steps to Reproduce

This is a

[2020-05-20 23:49] vmoroz opened #4960 "Start using the Windows SDK 10.0.19041.0"
The new Visual Studio 16.6.0 allows installation of the Windows SDK 10.0.19041.0.
We should start using it for our projects.
I do not know about all improvements there, but we can start to benefit from the new [noexcept] attribute in the MIDL 3.0 that will generate more compact WinRT code.

[2020-05-21 02:52] JunielKatarn commented on #4960
Shouldn't we do this until `19041` becomes the default SDK, to avoid multiple WinSDK installation?
What's the benefit of early adoption?

[2020-05-21 03:02] dstaley commented on #4882
Just a heads up, even running the following still leads to the same error:

[code]

[2020-05-21 03:13] #4836 closed

[2020-05-21 05:48] widersky commented on #3263
Same issue here on 0.62.0 preview 7. I've installed C++ platform tools (v141 and v142) and nothing. Visual studio 2019 on board.

Command line output:

[code]

[2020-05-21 06:30] NickGerleman opened #4963 "Rename "master" Builds to "canary" or "nightly""
We currently release builds from our development branch as `0.0.0-master.xxx`. This scheme seems to be causing confusion. We should switch to `canary` to better set expectations. This should be safe to do since we haven't yet externally documented guarantees.

[2020-05-21 06:36] Kiyozz commented on #3263
I make it work with linkstrifer’s solution, but before, I uninstall everything from Visual Studio Installer

[2020-05-21 06:39] NickGerleman commented on #4049
ViewWindows seems potentially nice to have. We've gotten customer complaints about typings for forked APIs before.

[2020-05-21 06:48] NickGerleman commented on #4902
One of the sandboxes is for untrusted code, the other is to isolate the overall app from instability from RNW.

There's been some discussion of what this could look like for scenarios with UI. Not much investigation happened there, but there was some talk of whether on Fabric we could share the shadow-node tree across processes since its immutable.

Part of this potentially requires the sandbox to

[2020-05-21 06:58] NickGerleman commented on #4959
#4475 was supposed to fix publish issues. @asklar had some more comprehensive changes around V8 inclusion. We will likely need to backport these to 0.62.

FYI @tudorms

[2020-05-21 07:09] ShivamJoker commented on #4959
So is there any way for me to fix it for now ?

[2020-05-21 08:26] NickGerleman commented on #4959
As a quick workaround, would you be able to try editing your `node_modules/react-native-windows/PropertySheets/React.Cpp.props` and replace "true" in this line with "false"?

[code]

We will try to push a fix for this as soon as possible so that you won't have to do this.

[2020-05-21 08:28] asklar commented on #3263
FYI if you're using what's in master (or once we ship 0.62 :) ) you'll be able to run the script in `\vnext\scripts\rnw-dependencies.ps1` to check or install dependencies

[2020-05-21 08:41] NickGerleman commented on #4963
This might mess with semver, but folks shouldn't be automatically consuming updates to our master build as is.

[2020-05-21 16:31] harshadak2020 opened #4972 "WebView URL redirection does not work for RNW app"
### Issue
  WebView URL redirection does not work for RNW app

### Steps to Reproduce
1. Created a fresh RN4W project.
2. Created a component to render a WebView and handle the onNavigationStateChange event
3. Imported this component in the App.js and used it:
4. Deployed the app on the Windows 10 Machine from Visual Studio(the issue is reproducible with both – Debug and Release mode)

### Expecte

[2020-05-21 19:32] erksch opened #4978 "Question: C# Native Module that uses P/Invoke on x64"
Hey there!

I am trying to write a C# Native Module that uses a SWIG wrapper for a C API with P/Invoke and DLLImports.
When I run the solution with Debug x86 it works fine but as soon as I switch to x64 it fails with the following error:
[code]
So I guess `HandleRef` can not be found in `System.Runtime.InteropServices`.
Why does this work for x86 but not for x64. Is there a workaround to use the s

[2020-05-21 19:49] erksch commented on #4978
I fixed by replacing `HandleRef` with `IntPtr` to my best knowledge and it fixed the error.
I'll update if that actually works, and would still like to know why that is.

[2020-05-21 21:58] NickGerleman commented on #4959
This will also likely affect 0.60, 0.61. @tudorms can you confirm?

[2020-05-21 22:14] dstaley commented on #4887
As it turns out, adding drag and drop support (at least a basic version) is quite easy! I've uploaded an example project here https://github.com/dstaley/react-native-windows-drag-drop-sample

This particular example only handles text files, but it should provide most of what you need to at least get started adding support.

[2020-05-21 22:36] #4566 closed

[2020-05-21 22:48] rectified95 commented on #4582
@Thristhart I believe the required functionality is being added in this PR, can you confirm?
https://github.com/microsoft/react-native-windows/pull/4979/files

FYI @chrisglein

[2020-05-21 23:36] tudorms commented on #4959
Yes, it looks like we'll need to include  https://github.com/microsoft/react-native-windows/pull/4820 and https://github.com/microsoft/react-native-windows/pull/4840 in 0.62 (the changes were made 2 weeks ago).

If 0.62 is already out we probably don't need to worry about 0.60 and 0.61.

[2020-05-21 23:41] NickGerleman commented on #4959
We're still backporting some fixes to 0.60 and 0.61, so we'll need to have a discussion there. @tudorms  would you be willing to start a PR to recreate those two changes in 0.62 in the meantime?

[2020-05-22 03:24] asklar opened #4985 "Unify DevSupportManagerUWP and DevSupportManager"
they're pretty much the same code (in fact there have been copies of pieces of code shuttled back and forth apparently), we should just converge them

[2020-05-22 03:34] asklar commented on #4978
@erksch you can't load a binary of a different bitness. If a process is x86, all its libraries must be x86. If it's x64, all its libraries must be x64. The way to solve cross bitness scenarios usually involves running the library in a hosting process that matches the library bitness, and then IPC/marshal the calls back and forth between the app and this hosting process.
I'm not sure what you were

[2020-05-22 03:39] asklar commented on #4960
I think we want to hold off on this and actually maybe go the other direction. We shouldn't be using 18362 either, if we want to use WinUI3 we should be targeting 17633 if anything

[2020-05-22 08:43] ngburke commented on #4887
Excellent, thank you for sharing. I'll give it a go shortly.

[2020-05-22 18:00] acoates-ms opened #4992 "NativeModules should be able to use int and const std::string&"
The spec checker logic does not allow int to be used for function that takes a JS number.
Nor does it allow const std::string& to be used for a function that takes a JS string.

[2020-05-22 20:07] erksch commented on #2546
Hmm, am I wrong or does that mean there is currently no navigation solution for react-native-windows?

[2020-05-22 21:50] JunielKatarn opened #4995 "WinRTWebSocketResource throws on Windows API errors"
Exceptions are thrown, which always show in the debugger even if they are ultimately caught and managed.

Leverage the `DEFAULT_CPPWINRT_EXCEPTIONS` to make the Windows-provided WinRT APIs return a `winrt::hresult` value instead of throwing.

[2020-05-23 00:34] Thristhart commented on #4582
@rectified95 confirmed, that's what I'm looking for!

[2020-05-23 05:05] acoates-ms opened #4998 "I18nManager has options to force LTR but only affects new root views"
If the app sets I18n.allowRTL(false), or I18n.forceRTL(true) it should affect the app immediately.

But this setting is only used in `NativeUIManager::AddRootView` - which seems wrong.

This needs more investigation.

[2020-05-23 08:49] erksch commented on #4978
Thanks for the answer!
But I guess HandleRef/IntPtr/PInvoke and arch issues are not really related to RNW anyway, so closing :)

[2020-05-23 08:49] #4978 closed

[2020-05-23 09:03] erksch opened #5000 "Documentation for custom props"
Hey there!

I found it really hard to figure out react-native-windows specific custom props like `onMouseEnter` for the view component. There seems to be no (complete) documentation of the neat props you added to the components. For View props there is [IViewWindowsProps docs](https://microsoft.github.io/react-native-windows/docs/iviewwindowsprops-api) but there are many probs missing.

Maybe you

[2020-05-23 11:12] RonAmihai opened #5001 "'Question: [How should I debug RNW 0.62 in VS Code?]'"
I know it is a silly question... But I really can't figure how to do it well.

I've followed [this wiki guide](https://github.com/microsoft/react-native-windows/wiki/VS-Code-Debugging) about debugging RNW app in VS Code.
But nothing really managed to debug RNW 0.62 for me...

I'm using the "React Native Tools" extension of course.

When I'm trying the "launch" scenario, the packager & the app are

[2020-05-23 15:33] RonAmihai commented on #5001
Debugging using WebStorm seems to work great out of the box...
(They still don't have support for building/launching RNW as part of their RN configuration, but attaching debugger to the bundler/packager works perfectly once you've launched the bundler).

So I guess this is a bug with React Native Tools for VSCode... I'm closing for now

[2020-05-23 15:33] #5001 closed

[2020-05-23 22:03] asklar commented on #4995
this might be a little too big of a change; e.g. we already have code that does try/catch, so we'd have to propagate the change to make the return value of everything hresult to pretty much everything.

Instead we could file a feature request on the WinRTWebSocketResource API in ADO, to be quieter?

[2020-05-23 22:07] asklar commented on #5000
This is probably aligned with #3587 and similar. We would love some help on this though :)
The docs are in the react-native-windows-samples repo

[2020-05-24 14:49] #4935 closed

[2020-05-24 17:44] constructor-s commented on #3263
Same/similar issue. With `0.62.0-preview.8` I am having #4954 which leads to this current issue.

[code]

[code]

[code]

[2020-05-24 18:52] asklar opened #5002 "Intermittent crash due to instance management issue"
I’m seeing an intermittent crash in e2e testing in CI, I was wondering if this rings any bells to you?

Crash dump: https://dev.azure.com/ms/_apis/resources/Containers/4676630/ReactUWPTestAppTreeDump?itemPath=ReactUWPTestAppTreeDump%2FCrashDumps%2FReactUWPTestApp.exe%281%29.7008.dmp
Symbols pkg: https://dev.azure.com/ms/_apis/resources/Containers/4676630/ReactUWPTestApp?itemPath=ReactUWPTestApp%2F

[2020-05-25 05:36] NickGerleman commented on #5002
@asklar @vmoroz any idea if this is related to the recent change to fix the maximize issue? Knowing this would help to know whether we can safely backport that change.

[2020-05-25 06:45] vmoroz commented on #5002
@NickGerleman no, it is not related to the recent change related to the crash when application experiencing an error on loading, that then causes a crash on resize. This new issue seems to appear when we have a successful load sequence. It is an intermittent. It means that there either a race condition or an uninitialized variable.

[2020-05-25 07:47] MakhouT commented on #2546
@erksch I also couldn't find any way to do navigation in rnw currently...

[2020-05-25 17:53] #4859 closed

[2020-05-25 18:11] NickGerleman commented on #4860
We can't do this yet because we rely on checking RNTester, which isn't in package.

[2020-05-26 02:35] asklar opened #5008 "Consume RNW native modules through NuGet"
This is an opportunity to provide a simple e2e experience for developers writing RNW apps.
Publish Native Modules nugets that can easily be added to a RNW solution.
Each nuget would contain the DLL/WinMD/props/targets to link in that native module automatically.

This is in addition to the autolinking / CLI way of doing things "the RN way", the point is to provide a one-click way of getting this w

[2020-05-26 03:50] srikanthsunkari commented on #4928
Below are the required version details;

1. react-native -v:
[code]

2. react-native run-windows --info:

[code]
Thank you.

[2020-05-26 18:15] rectified95 commented on #4582
Closing as duplicate.
FYI @chrisglein

[2020-05-26 18:15] #4582 closed

[2020-05-26 20:29] JunielKatarn commented on #4995
@asklar It's not a big change.
The exceptions are already caught within the interface `IWebSocketResource` boundary.
The issue is, they still show up in a debuggint sessions before being handled by the catch block.

@acoates-ms suggests to use a different approach and have those Windows APIs return an hresult instead.

For future reference, the only error propagation mechanism of `IWebSocketResour

[2020-05-26 21:07] namrog84 commented on #3884
Had a conversation recently with my team, and apparently some unhappiness with the current react-navigation. And people are in support of trying out Wix/react-native-navigation instead of react-navigation.  So feel free to deprioritize this issue and just go for the wix one instead. Especially if it is more supposedly has better performance.

But until wix/react-native-navigation properly supports

[2020-05-26 22:22] #4543 closed

[2020-05-26 22:28] acoates-ms commented on #4550
The work for the C++ CLI template is basically done.  We need a C# version.
Then we need the nuget to be published to nuget.org, and have it signed and publishing symbol/source to a symbol server.

[2020-05-26 22:34] dannyvv opened #5010 "Implement JSIReader/JSIWriter"

[2020-05-26 22:35] Khalef1 opened #5011 "Expose Turbo Modules registration APIs"

[2020-05-26 22:35] acoates-ms commented on #5010
This is basically done by #5009

[2020-05-27 03:25] #4619 closed

[2020-05-27 03:25] #4925 closed

[2020-05-27 03:25] #4940 closed

[2020-05-27 05:07] asklar opened #5014 "Restructure directories"
The directory structure is a little messy right now. Here's a proposal:
[code]

[2020-05-27 05:08] asklar opened #5015 "Enable long path support in rnw-dependencies"
When an enlistment clone is created in a deep part of the filesystem, sometimes we can get build breaks if the paths we deal with are >MAX_PATH.
Enabling long paths should palliate that.

https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file#enable-long-paths-in-windows-10-version-1607-and-later

[2020-05-27 05:13] JunielKatarn commented on #5014
A few considerations:
- Why leave `Desktop` our of `Src`? It's true it may eventually disappear, but it IS actual source code.
- Is the `Build`+`Target` convention not good enough for intermediate outputs / final outputs? Don't we want to keep those separated?
- While this is not addressed in the issue description, it would be convenient to keep the main solution (`Microsoft.React.sln`) in the rep

[2020-05-27 05:16] JunielKatarn commented on #5015
Sample command-line workaround (pending #5012):
[code]

Outputting the target artifacts to a shorter root path allows keeping the cloned sources in place for now.

[2020-05-27 05:55] asklar commented on #5014
* I think Desktop should be separate for now as we don't expect most contributors to have to even know there is a desktop variant. The product we're building for everybody (except Office) as "RNW" is a UWP-targetting RN.

* I personally find the names/distinction between Build and Target confusing. I'm fine keeping those separate, but maybe as "obj" and "bin" instead?

* +1 to keeping the main sol

[2020-05-27 13:44] NickGerleman opened #5018 "Have Bot Automatically Mark Changes to Template as Breaking Changes"
Changes to our template will generally need to be performed by users as well. We should automatically add the Breaking Change label to PRs touching template files to help documentation. Better to have false positives here than false negatives.

[2020-05-27 13:46] NickGerleman commented on #5014
This gets super wonky on the JS side with us needing to replicate the structure of RN. I.e. we need to put targets for Libraries, RNTester, etc in the root directory. Was looking at how we might be able to fix this, but ACoates thought we couldn't really easily do this.

[2020-05-27 17:24] dstaley opened #5025 "Add Native UI Component example using built-in control"
# Proposal: Add a sample implementation of a Native UI Component that uses a built-in control

## Summary

Currently, the docs for Native UI Components uses a fully custom control. It would be nice to have an example to show how developers can integrate existing UI controls instead of writing their own.

## Motivation

As a React developer who is new to Windows development, it is unclear which por

[2020-05-27 21:23] woehrl01 commented on #3994
@NickGerleman Hi, I just stumbled over that open issue. As I heavily contributed to https://github.com/facebook/yoga a few years ago, my recommendation would be to use `YGExperimentalFeature*` + `YGConfigSetExperimentalFeatureEnabled` for that, as it doesn't require a preprocessor. We actually added that behavior exactly for those cases.

You simply extend the sequence in `YGEnum.h` + adding the l

[2020-05-27 22:14] asklar commented on #5025
@dstaley this is already available in the playground app (packages\playground\windows\playground.sln), check it out.

[2020-05-27 22:15] asklar commented on #5011
@Khalef1  could you add some more details here? Thanks!

[2020-05-27 22:18] asklar opened #5029 "IViewManagerWithNativeProperties should expose UpdateProperty instead of UpdateProperties"
Today, the `IViewManagerWithNativeProperties` interface exposes `UpdateProperties`. This does not allow detecting Unimplemented Properties. Instead, we should be exposing/using `UpdateProperty` and letting the `ViewManagerBase` class iterate through the set of properties.

If we don't do this we have lots of false positive debug spew when interacting with a control implemented in a native module -

[2020-05-27 22:22] dstaley commented on #5025
@asklar Could you point to which file is implementing a native UI component? I searched for `ViewManagerPropertyType`, but didn't find anything in the playground that used that API. I'm essentially looking for a more complex example of the [one given in the docs](https://microsoft.github.io/react-native-windows/docs/view-managers#sample-viewmanager-c). It might be that the docs are out of date wit

[2020-05-27 22:34] #4851 closed

[2020-05-28 05:53] asklar opened #5031 "Community module support principles"
What should be the bar for community modules our team produces?
e.g. is it ok for a module to not be accessible, etc.
What's our responsibility once we implement the module?
Do we have to write tests?

[2020-05-28 07:41] rectified95 commented on #4791
Sorry this one slipped through the cracks. Commenting to prevent the issue getting closed. Assigning to myself while I look into `intl`.

[2020-05-28 09:06] asklar commented on #5025
@dstaley there are 2 main ways to include native UI in a RNW app:
1. Create a native module/view manager - this is exemplified by the [SampleCppLibrary sample](https://github.com/microsoft/react-native-windows/blob/509b9e5a57f6d032f2422ead1e09207f10855cbd/packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CustomUserControlViewManagerCPP.h)
2. Mix XAML markup with RNW content - this

[2020-05-28 13:30] sibille opened #5033 "Issues following getting started documentation"
### Environment

1. `react-native -v`: 0.61.5
2. `react-native run-windows --info`: 0.61.10
3. `node -v`: v12.9.1
4. `npm -v`: 6.14.1
5. `yarn --version`:1.22.0
6. VS Code 1.45.1
7. React Native Tools Extension: 0.16.0
8. OS: Windows 10 Version 1909

### Steps to Reproduce

Following the getting started documentation from https://microsoft.github.io/react-native-windows/docs/getting-started we had

[2020-05-28 15:01] dstaley commented on #5025
So I actually think the [CircleViewManager](https://github.com/microsoft/react-native-windows/blob/509b9e5a57f6d032f2422ead1e09207f10855cbd/packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCPP/CircleViewManagerCPP.cpp) is more along the lines of what I think a good sample would accomplish. It looks to be managing children, which is what something like the `CommandBar` would need.

I

[2020-05-28 16:09] dannyvv opened #5036 "Code Cleanup: Targets and Props use `$(ProjectDir)` which is not common accross C# and C++"
Our props and targets use `$(ProjectDir)` in a bunch of places. This is not a property that is defined by the C# project system. The UWP C# targets happen to add it. This makes our props not able to use it, so as a workaround we ahve defined it to be:
`<ProjectDir Condition="'$(ProjectDir)' == ''">$(MSBuildProjectDirectory)</ProjectDir>`
This issue tracks updating our props and targets to not use

[2020-05-28 16:34] asklar commented on #5033
The elevation issues should be much less severe/common in 0.63. I'm not able to reproduce the msbuild.ProjectImports.zip issue but I do remember we saw it at one point in earlier releases, so this might not be an issue in 0.63 :)

[2020-05-28 16:38] sibille commented on #5033
Awesome! How can I create project using 0.63?

[2020-05-28 16:48] asklar commented on #5033
you can try the 0.62 steps here:
https://microsoft.github.io/react-native-windows/docs/next/getting-started

if you want the latest and greatest (what will eventually become 0.63, 64, 65, etc.) then clone the RNW repo locally and follow the steps in https://github.com/microsoft/react-native-windows/wiki/Contributing-to-the-CLI
specifically, you'd create the app as you do today, then add windows wi

[2020-05-28 18:12] chrisglein commented on #5033
We believe this is fixed in 0.62. If that's not the case let us know.

[2020-05-28 18:13] chrisglein commented on #5031
We'll discuss on Monday. This is a big topic. Then let's come back to this issue and document what we came up with :)

[2020-05-28 18:15] chrisglein commented on #5029
Goal here is to reduce the false positive debug spew. If we can do that without an interface breaking change that'd be preferable. But if it's necessary it's necessary.

[2020-05-28 18:17] chrisglein commented on #5025
We have Playground available as a stopgap example, but we should beef up the documentation for this on the website and/or samples repo.

[2020-05-28 18:18] chrisglein commented on #5018
@NickGerleman tell me which paths and I'll update the bot.

[2020-05-28 18:18] #4923 closed

[2020-05-28 18:22] chrisglein commented on #5014
Let's give ample bake time on this and lots of discussion before we take action, as we don't want to churn this with intermediate results. Shop it around, get feedback/requirements.

[2020-05-28 18:22] sibille commented on #5033
Ok, will test and let you know.

[2020-05-28 18:24] chrisglein commented on #5008
Is this in addition to autolinking or in opposition?
This makes sense from the perspective of the Windows-first developer, but how would it filter out to their Android/iOS projects?
Talk to @jonthysell who's been working through autolinking requirements.

[2020-05-28 18:25] chrisglein commented on #5008
Good topic for a Monday meeting :)

[2020-05-28 18:26] chrisglein commented on #5002
When we do understand this let's figure out when we introduced it, as it could be a candidate for backporting.

[2020-05-28 18:34] chrisglein commented on #5000
Looks like there's type information missing for APIs there, like the one you mentioned. It's unclear if the docs have a stale snapshot, of if we're missing the export.

In addition, the documentation is pretty light on these, for those that do exist.

And _then_, some of these need to move out to community modules (although some will stay).

[2020-05-28 18:35] chrisglein commented on #4998
Pushes to the root view, but if you already had one created it won't affect that.

[2020-05-28 18:38] chrisglein commented on #4995
@acoates-ms says that UWP implementation is already doing this, so the Desktop implementation should match.

[2020-05-28 18:41] chrisglein commented on #4985
This is one example of many. Track as part of a larger piece of work?
@acoates-ms Can you link in the right related work?

[2020-05-28 18:45] chrisglein commented on #4972
@kaiguo check in to see if this something broke with the transition, already broken, and if we can/should track in that repo? Or is this a result of using version 0.61?
(also, we should talk about this in a Monday design discussion about community module support)

[2020-05-28 18:45] asklar commented on #5031
Questions that need answering re: community modules:
* Where do we want issues filed? our or their repo?
* Triage process - tags? who has permissions?
* our bar for contributing:
  * accessibility
  * security
  * feature completeness
  * takebacks from C# impl
  * tests
  * CI
  * sample, docs
* Compatibility matrix across diff versions of RNW

[2020-05-28 19:50] NickGerleman commented on #5018
@chrisglein the path to template files is `vnext\local-cli\generator-windows\templates`

[2020-05-28 20:00] jonthysell opened #5041 "CLI C# app fails to deploy: MSB4057: The target "Deploy" does not exist in the project."
Trying to build and deploy a new C# CLI app using run-windows fails because the new Microsoft.ReactNative.Managed.csproj is missing the deploy target.

[2020-05-28 20:14] NickGerleman opened #5043 "Branching, Versioning, and Release Process of React Native Windows"
# Branching, Versioning, and Release Process of React Native Windows

Consumption of React Native Windows has not always been a pleasant experience. Consumers frequently experience undocumented breaking changes, trading regressions based on build, and the inability to use currently supported versions of React Native.

Engineers on RNW have faced their own set of issues such as painful integration

[2020-05-28 20:41] asklar commented on #5043
@NickGerleman  Are there ways we can easily tell from an issue or PR, which npm release it is included in? It seems like an important thing to include in the release process.

[2020-05-28 22:05] stmoy commented on #5031
Another few things to consider:

- Listing in reactnative.directory
- Compatibility matrix across both RNW and macOS (cc: @tom-un )
- How to contribute to unmaintained repos

[2020-05-28 23:22] #5015 closed

[2020-05-29 00:33] dannyvv opened #5048 "Code Cleanup: Bundle.props can be moved into Bundle.targets"
At the moment the bundle.props is assumed to be imported after all the users settings. Typically .props are imported at the top of the project and set the defaults.

This issue tracks:
* Determining which values can be defaults and move
* Move the property groups that still require to be processed at the end of the msbuild evaluation to the bundle.tarets file.

[2020-05-29 00:38] JunielKatarn commented on #5048
Does Bundle.props contain targets, or properties and item definitions?

[2020-05-29 01:23] #4327 closed

[2020-05-29 04:50] asklar opened #5049 "Update reactnative.directory with supported modules"
We currently don't advertise any of the modules we've added support for.
Updating reactnative.directory will aid with discoverability of supported modules.

[2020-05-29 06:36] asklar commented on #5033
for the ProjectImports.zip thing I have an explanation of why we hit it even though we don't use zip files. I'll fix this.

[2020-05-29 07:15] asklar commented on #5048
so we originally had everything in one file but I had asked that we split things up into properties that we want to be able to be overridable by the project, and the targets which we dont expect people to want to override, so that's how we ended up with the current layout.

[2020-05-29 07:21] asklar commented on #4934
Fixed by https://github.com/microsoft/react-native-windows/pull/5040

[2020-05-29 07:21] #4934 closed

[2020-05-29 08:22] asklar opened #5051 "Support Bob for RNW"
https://github.com/react-native-community/bob

Bob helps with setting up native modules, currently only supports Android & iOS.

[2020-05-29 10:40] asklar commented on #5049
https://github.com/react-native-directory/website/pull/318

[2020-05-29 14:31] chrisglein commented on #5031
- What kind of long term maintenance promise do we offer?
- What's our min bar for automated validation that allows us to in a non-neglectful way "walk away" with confidence?
- Is there a list of modules that meet some min bar, or can we get at sort of content clearly indicated as a badge in reactnative.directory? What would that criteria be?
- On github we contribute as individuals, but are repre

[2020-05-29 15:10] chrisglein commented on #4192
Despite presence of a workaround, the partner is raising this as one of their important issues. Adding for consideration in 63.

[2020-05-29 15:45] #5041 closed

[2020-05-29 17:05] chrisglein commented on #4567
Not something we're able to push for in 62, so moving to 63. But this is important for a variety of business reasons. The goal is not at all to reduce coverage. It's to distribute the coverage differently. This actually opens up opportunity to have _more_ validation when we have a lower cadence validation loop (e.g. downlevel testing on various versions of Windows)

[2020-05-29 17:18] NickGerleman commented on #5043
@asklar there are a couple of ways to do this. This is not as streamlined as it could be, and I would welcome any ideas on how to improve this (e.g. by Bot).

1. The merged commit will list tags of releases the commit appears in. This will include stable releases apart from backports.
![image](https://user-images.githubusercontent.com/835219/83286697-36371500-a195-11ea-842f-b72eb7e813c9.png)
2. As

[2020-05-29 18:33] asklar commented on #4339
reopening to check in the CI loop for in-repo docs

[2020-05-29 18:49] vmoroz opened #5057 "Queue up CallJSFunction while bundle is loaded"
While working on implementing unit tests I have noticed that we have a race condition for the native module initialization. A native module can be initialized before the JS bundle is completed to load.
It means that any calls to CallJSFunction are ignored.
There are two possibilities to fix it:
1. Queue up all CallJSFunction calls until the JS bundle finishes to load.
1. Initialize the native modu

[2020-05-29 18:59] asklar commented on #5057
For startup perf I think we don't want to delay NM init until after the bundle is loaded but at the same time we want correctness :)
is it safe for a NM to proceed after queuing a call? or do NMs expect that these calls be sync?

[2020-05-29 19:31] asklar opened #5059 "Re-enable DesktopIntegrationTests (were intermittently crashing in CI)"
[code]

[2020-05-29 19:38] asklar opened #5060 "Set up desktop tests to capture and upload crash dumps"
e2etest does this but the desktop tests don't, and they're crashing intermittently (#5059). This tracks capturing desktop test crash dumps.

[2020-05-29 20:02] JunielKatarn commented on #5059
I'll investigate, but this only started happening recently (probably after the VM image upgrade)?
If this persists, we can separate the test runs and have the test failing frequently run into a task that can be ignored if it fails.

After several attempts over the past two days, I have not been able to reproduce this failure locally.

[2020-05-29 21:36] kmelmon opened #5068 "Improve build error experience from the CLI"
When running "react-native run-windows", if you hit a build error, you get error information that looks like this:

D:\testme62>react-native run-windows
 √ Found NuGet Binary
 √ Found MSBuild v16.0 at C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin (16.5.30011.22)
- Restoring NuGet packages C:\Users\KMELMO~1.RED\AppData\Local\Temp\nuget.4.9.2.exe
 √ Restoring NuGe

[2020-05-29 23:23] Thristhart commented on #4709
This happens in a blank XAML sample app as well:
[code]
![image](https://user-images.githubusercontent.com/43013/83312828-aca13a80-a1c8-11ea-8a52-8c74eedce7b8.png)

so this probably isn't an RNW issue, although it's likely to be annoying for RNW users.

[2020-05-30 01:04] #5033 closed

[2020-05-30 04:42] #4339 closed

[2020-05-30 21:32] vmoroz opened #5070 "Sample applications do not run after PR #4949"
It seems that our sample application do not run anymore after the PR #4949. They seem to be missing the OnLaunched handler to navigate to the MainPage.

[2020-05-30 21:37] vmoroz commented on #5057
All current NM calls to JS side are asynchronous. It is fine to continues after queuing the calls. it must not affect any visible behavior as it used to be, but it will help to fix crashes or other random not functioning code because we have a race condition today.
I have discovered this issue while writing an integration test for the ReactNativeHost component. Without the queuing the test just ha

[2020-05-31 00:06] louistsaitszho commented on #3263
**PSA**:

Looks like there are some reorganization, and the thing you need to select in the installer is now `C++ Universal Windows Platform tools`

[2020-05-31 02:25] asklar opened #5073 "DevSupportManager illegally calls HttpClient from an STA"
`\vnext\Desktop\DevSupportManager.cpp`

[code]

is being called from an STA thread which is illegal as it can hang the app. This hits an assert in Debug.

[2020-05-31 03:00] asklar commented on #5070
yep see this now, I have a fix

[2020-05-31 07:04] vmoroz commented on #5070
I already had a fix for it...

[2020-05-31 18:40] andraz-at commented on #3263
In the latest package I needed to **manually find and check MSBuild** package.

Then it installed and stopped throwing the error.

[2020-05-31 18:46] andraz-at commented on #3263
And started throwing this new error after partial build:
`ReactImage.obj : fatal error LNK1103: debugging information corrupt; recompile module`

Should I open a new issue?

[2020-05-31 19:46] asklar commented on #3263
@andraz-at :
This is a known issue with VS 16.6, it's not specific to RNW:
https://developercommunity.visualstudio.com/content/problem/1042212/vs-166-compilation-fails-after-update.html

[2020-06-01 06:43] longmans commented on #3263
downgrade would be help?

so downgrade would be help?

[2020-06-01 06:44] longmans commented on #3263
so downgrade would be help?

[2020-06-01 06:54] asklar commented on #3263
@longmans yes the options are to do one of the following:
- downgrading to 16.5 would work (although 16.5 has a different bug regarding signing certificates for all UWP apps, which we've worked around - see #4958), or
- use RNW from master which has a workaround we've added (#4962), or
- we're going to be backport the workaround to 0.62 (and maybe 0.61 too?), or
- cherry-pick the fix to #4962 to y

[2020-06-01 07:39] NandhiniVishwanath opened #5075 "Handling page unresponsiveness in react native webview for windows"
I have an url that is loaded on webview from react-native, which renders information from an API response. However, if the api response is taking time, the app is getting hanged, not allowing user to perform any further action. I tried to load the same url on web browser, seems like this is actually happening when the page becomes unresponsive. However in browser we get a popup which says page unr

[2020-06-01 08:32] harshadak2020 opened #5076 "Support "react-native-sensitive-info""
# Support "react-native-sensitive-info"

## Basic Info
- Module Repo URL: https://github.com/mcodex/react-native-sensitive-info

- Target version: ^5.5.5
- [x] Module has a Legacy/C# implementation (if so, [link](https://github.com/mCodex/react-native-sensitive-info/tree/master/windows/RNSensitiveInfo))

## Functionality

react-native-sensitive-info manages all data stored in Android Shared Prefer

[2020-06-01 08:40] harshadak2020 opened #5077 "Support react-native-file-viewer"
# Support "react-native-file-viewer"

## Basic Info
- Module Repo URL: https://github.com/vinzscam/react-native-file-viewer#readme

- Target version: ^2.0.2
- [x] Module has a Legacy/C# implementation (if so, [link](https://github.com/vinzscam/react-native-file-viewer/tree/master/windows))

## Functionality

Native file viewer for react-native. Preview any type of file supported by the mobile devi

[2020-06-01 09:00] #4564 closed

[2020-06-01 13:01] harshadak2020 commented on #4144
An AppConsult customer is impacted and requesting this

[2020-06-01 15:08] vmoroz opened #5078 "Group developer settings to simplify their use"
For the feedback by @dannyvv for PR #5071:
[code]
I've noticed that also in the template these are all set at the same time, should we have a single method to toggle these settings (in case we get more in the future) i.e.
UseDevSettings(true|false)

[2020-06-01 15:27] acoates-ms commented on #5078
false we can do.  True is harder, since its not obvious what those settings should be.

[2020-06-01 17:30] #4857 closed

[2020-06-01 18:04] #4902 closed

[2020-06-01 18:04] #4849 closed

[2020-06-01 18:13] chrisglein commented on #4033
A way to filter out nightly builds?
Can we learn from facebook in using [tags] to call out breaking changes etc.?
How can we link up the more curated messages?
We have a changelog, how do we link that up and/or make more discoverable? https://github.com/microsoft/react-native-windows/blob/master/vnext/CHANGELOG.md

If none of the above, can we hide the Releases tab?

[2020-06-01 18:16] chrisglein commented on #5078
Vlad can you respond to Andrew's comment and flesh out how this would work?

[2020-06-01 18:19] asklar commented on #5031
# Community Module SLA
**ReactNative Windows**

## Principles

## Questions
* Where do we want issues filed? our or their repo?
  * For adding Windows support, file in both CM and RNW repos
  * For filing ongoing bugs file in CM only
* Triage process - tags? who has permissions?
  * Regular (monthly?) triage w/maintainers for ongoing
  * Eloy has access to RNCommunity repos
  * Work with DI for bo

[2020-06-01 18:20] chrisglein commented on #5075
@kaiguo Can you check in here and potentially migrate this issue to the WebView repo as appropriate?

[2020-06-01 18:21] harinikmsft commented on #4972
This is blocking an AppConsult customer. Bringing back to triage to reprioritize

[2020-06-01 18:22] chrisglein commented on #5073
Sounds like this will only affect development scenarios, not retail.
@JunielKatarn as an FYI. Sounds like there might be something in the UWP implementation that can be copied.

[2020-06-01 18:23] chrisglein commented on #5073
Was hit running desktop integration tests.

[2020-06-01 18:27] vmoroz commented on #5014
I was thinking about the restructuring the set of projects we have as part of the Core DLL effort. I should get a proposal for the folder structure soon. Though, I do not have much thoughts about the JS and RNTester parts.
Also, it would be nice to have a high level project structure to match common open source practices. For example, please have a look at https://github.com/vector-of-bool/pitchfo

[2020-06-01 18:28] chrisglein commented on #5059
In the meantime @JunielKatarn can we disable the tests until we get this sorted out?

[2020-06-01 18:31] chrisglein commented on #5051
@stmoy Seems like this could lower the barrier to entry for community modules

[2020-06-01 18:32] #5049 closed

[2020-06-01 18:33] #5057 closed

[2020-06-01 18:33] #5070 closed

[2020-06-01 18:37] chrisglein commented on #4963
My preference is for `canary` given it doesn't imply a timeline.

[2020-06-01 18:42] chrisglein commented on #4960
End developers would then need to have this SDK installed. What version do they get by default? Does VS nag them to update or do we need to push manual steps on them as part of our developer environment setup?

But also there would be impact on the CI machines needing to install this (or needing to get a different VM that has a standard config) otherwise it's going to impact CI time.

I assume at

[2020-06-01 18:45] chrisglein commented on #4959
What I'm hearing is that this is fixed, but isn't in `0.62.0-preview.6`. We're up to `.8` now and hope to be releasing soon. Please try again with latest (or when we release) and let us know if you're unblocked.

[2020-06-01 19:13] kaiguo commented on #5075
@NandhiniVishwanath WebView has [onLoadStart](https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md#onloadstart) and [onLoadEnd](https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md#onloadend) callbacks which can be useful here. You can add [setTimeOut](https://www.w3schools.com/jsref/met_win_settimeout.asp) in `onLoadS

[2020-06-01 19:46] kaiguo commented on #4972
@harshadak2020 looks like Windows didn't implement `onNavigationStateChange`, I'll add it.

There's a workaround you can do to get unblocked, since onNavigationStateChange is just a callback for onLoadStart+onLoadEnd ([doc](https://github.com/react-native-community/react-native-webview/blob/master/docs/Reference.md#onnavigationstatechange)), I think you can use [onLoadStart](https://github.com/rea

[2020-06-01 20:28] NickGerleman opened #5079 "Publishing NuGet Packages Broken for RNW 0.62"
We see errors after the change from @tudorms about multiple copies of the ReactNativeWindows project in the universal solution.

`Error parsing solution file at D:\a\1\s\vnext\ReactWindows-Universal.sln: Exception has been thrown by the target of an invocation.  The solution file has two projects named "ReactWindowsCore".  D:\a\1\s\vnext\ReactWindows-Universal.sln`

https://dev.azure.com/ms/react-

[2020-06-01 20:29] NickGerleman commented on #5079
This likely only impacts RNW developers instead of end-users.

[2020-06-01 21:03] tudorms commented on #5079
@asklar Do you have any ideas here? The file is identical to what we had in master when you did the change there.

[2020-06-01 21:23] asklar commented on #5079
@tudorms right - I think you might need #5012 but that might be too intrusive for a backport.
An easy fix would be to change the display name for one of the projects:
e.g. change:
[code]

into
[code]

[2020-06-01 21:24] tudorms commented on #5079
So master branch publish was broken back then 3 weeks ago? I'm trying to figure out how we can catch something like this in the future.

[2020-06-01 21:35] tudorms commented on #5079
Visual Studio doesn't like that, it just reverts the change.

[2020-06-01 21:50] vmoroz commented on #5078
I do not know details: it is based on the PR feedback from Daniel. I guess the main point here is to be able to avoid repeating the common set of related settings and have an option to set up by default a group of them. E.g. DefaultWebDebug, DefaultDirectDebug, or no DevDebug settings. Each group could be documented and then 'fine-tuned' by overriding some fo the defaults.

[2020-06-01 22:59] NickGerleman commented on #5018
We could consider having edits to any IDL files  add the tag, since this generally also means a breaking public API change. Might be too agressive, but also seems to be better to have false positives than negatives. Thoughts @jonthysell ?

[2020-06-01 23:15] kaiguo commented on #4972
Ah, ignore my previous comment (onNavigationStateChange is implemented on js side so it should work).

@harshadak2020 your repro project is no longer available so I'm not sure how you are doing the redirect, I tried the following and it seemed to be working.
[code]
There was a bug in `injectJavaScript`, you probably hit that. Updating to the latest version of WebView module should fix it. If you a

[2020-06-01 23:15] #4972 closed

[2020-06-01 23:55] kmelmon commented on #3595
Note that for the XAML Islands scenario, we won't be able to just use the DisplayInformation API as that API only works in UWPs.  Added "Needs WinUI 3" tag to track this aspect.

[2020-06-02 00:20] rectified95 commented on #4221
Forgot to comment before earlier: DatePickerAndroid/iOS are still in the RN repo, even though they're deprecated; listed as "to do" - https://github.com/facebook/react-native/issues/23313
so I cant remove it from this repo until that changes.

[2020-06-02 01:02] JunielKatarn commented on #4960
As of VS 16.6, they get `10.0.18362.0`.
If we are aligning the whole RNW to Azure Pipelines' release schedule, why not do the same with the Windows SDK?

[2020-06-02 01:21] JunielKatarn commented on #5059
@chrisglein we can, but we should not just disregard them.
Many of those are also ran by React Native (iOS, Android).

I have a plan to create a CI step that allows running intermittently failing, but not critical tests, without failing the whole job but still reporting results for follow-up.

[2020-06-02 01:34] JunielKatarn commented on #5073
Noted!

There is also a task to attempt merging the implementations (Universal, Desktop) for they serve exactly the same purpose.

Please note the previous implementation also did the HTTP call from the owning (UI) thread, though never hanging the app permanently.

[2020-06-02 01:43] vmoroz commented on #4960
I do not know about any other benefits. We can wait. There is no urgency.

[2020-06-02 02:56] kmelmon opened #5089 "Accessibility Conformance test pass"
This came out of as part of taking the Accessibility C+ AI course (see https://learningplayer.microsoft.com/activity/S2586609/launch)

We should perform a test pass over our accessibility features and validate that react-native-windows meets basic accessibility requirements.  One option is to do a formal accessibility conformance test pass, as described here:
https://microsoft.sharepoint.com/teams

[2020-06-02 03:29] NickGerleman commented on #3933
ACoates fixed this with #5083

[2020-06-02 03:29] #3933 closed

[2020-06-02 17:38] MasonBergstrom opened #5094 "onMouseEnter doesn't trigger on View where backgroundColor is not set"
### Environment
- React Native Windows Version: `0.62.0-preview.6`

- Target Platform Version(s): `10.0.18362.0`

- Target Device(s): `Desktop`

- Visual Studio Version: `16.6.0`

- Build Configuration: `Debug`

### Steps to Reproduce

1. Create a View, DON'T set a backgroundColor style
1. Add onMouseEnter prop to View
1. See that onMouseEnter doesn't trigger inside View

### Expected Behavior

1.

[2020-06-02 19:38] kaiguo commented on #4151
@robertev @namrog84 what react-native-windows version are you guys on?

I think I'll need @vmoroz's notification service above to implement this module.  Currently that service is targeting 0.63(+) which means this reanimated module will only be available on 0.63+ as well. Will that work for you guys? We are trying to decide whether we should backport the notification service to 62. Thanks!

[2020-06-02 20:19] asklar commented on #5031
CC @tido64

[2020-06-02 20:53] aeulitz opened #5101 "Add ReactDispatcherHelper to Win32 ABI"
# Proposal: Add ReactDispatcherHelper to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains the ReactDispatcherHelper class. We need to evaluate if this class is needed in the ABI of the Win32 and if so, add it.

[2020-06-02 21:02] aeulitz opened #5102 "Add ReactNotificationServiceHelper to Win32 ABI"
# Proposal: Add the 'ReactNotificationServiceHelper' class to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains the 'ReactNotificationServiceHelper' class. We need to evaluate if this class is needed in the ABI of the Win32 and if so, add it.

[2020-06-02 21:05] aeulitz opened #5103 "Add RedBoxHelper to Win32 ABI"
# Proposal: Add the 'RedBoxHelper' class to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains the 'RedBoxHelper' class. We need to evaluate if this class is needed in the ABI of the Win32 and if so, add it.

[2020-06-02 21:18] aeulitz opened #5104 "Add AccessibilityAction to Win32 ABI"
# Proposal: Add the 'AccessibilityAction' class to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains the 'AccessibilityAction' class. We need to evaluate if this class is needed in the ABI of the Win32 DLL and if so, add it.

[2020-06-02 21:21] aeulitz opened #5105 "Add ReactRootView to Win32 ABI"
# Proposal: Add the 'ReactRootView' class to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains the 'ReactRootView' class. We need to evaluate if this class is needed in the ABI of the Win32 and if so, add it.

[2020-06-02 21:26] aeulitz opened #5106 "Add ViewControl to Win32 ABI"
# Proposal: Add the 'ViewControl' class to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains the 'ViewControl' class. We need to evaluate if this class is needed in the ABI of the Win32 and if so, add it.

[2020-06-02 21:30] aeulitz opened #5107 "Add ViewPanel to Win32 ABI"
# Proposal: Add the 'ViewPanel' class to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains the 'ViewPanel' class. We need to evaluate if this class is needed in the ABI of the Win32 and if so, add it.

[2020-06-02 22:54] namrog84 commented on #4151
In process of moving onto RN 62 right now. Then further progress will be de-prioritized.

However, waiting until 63+ is totally fine for us. As some temporary reprioritzation is happening for us for next few months.

[2020-06-03 00:14] Khalef1 commented on #4923
Removing request backport as this has already been fixed

[2020-06-03 00:51] chrisglein commented on #5018
From Jon: "We should also add a codeowners to that dir, with a sub-team of template maintainers (like the sub-team we have for ABI owners on idl files)."

[2020-06-03 03:01] NickGerleman commented on #4703
This one is going to be a bit messy to label, since we already backported to 0.62, but now want to backport to 0.62.

[2020-06-03 03:01] NickGerleman commented on #4703
Updated the backing PR with the "Backport approved label" so we can track that as well.

[2020-06-03 05:21] JunielKatarn commented on #5059
Mitigated by #5109.

There are only two specific tests failing since the recent CI VM Image update:
- `RNTesterIntegrationTests::AsyncStorage`
- `RNTesterIntegrationTests::IntegrationTestHarness`

They only fail in CI runs, apparently never in local dev machines.
Will use this issue for follow up so the tests get re-enabled.

[2020-06-03 17:25] rubens-schmitz opened #5111 "Get Started not working"
### Environment

1. `react-native -v`:
Not using global react-native.

2. `react-native run-windows --info`:
Not using global react-native.

3. `reg query "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock"`
HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock
    AllowDevelopmentWithoutDevLicense    REG_DWORD    0x1
    AllowAllTrustedApps    REG_DWORD    0x1

1

[2020-06-03 18:34] rectified95 commented on #3373
After some debugging, I see that nested \<Text> tags get coalesced into one XAML element. For example, clicking on a nested text block, will trigger its <text> parent's onPress callback, but not the clicked element's:
[code]
Looking for a way to work around this.

[2020-06-03 19:43] temetvince commented on #5111
Confirmed an issue for me as well.

[2020-06-03 21:01] kmelmon opened #5112 "Remote native debugging Playground with web debugging doesn't work anymore"
We added some support for remote debugging the Playground app, see:
https://github.com/microsoft/react-native-windows/wiki/VS-Remote-Debugging

However this technique doesn't work anymore.  I debugged this and found two issues:
1. The privateNetworkClientServer capability isn't turned on in Package.appxmanifest
2. The client code is failing to connect due to using localhost:8081.  It looks like we

[2020-06-03 22:54] kmelmon commented on #5112
See this PR which originally fixed Playground:
https://github.com/microsoft/react-native-windows/pull/3535

[2020-06-04 00:29] aschultz opened #5113 "Add support for importantForAccessibility="no-hide-descendants" or equivalent"
# Proposal: Add property to recursively hide elements from screen readers

## Summary
Android (and C# RNW) supports `importantForAccessibility="no-hide-descendants"` to recursively hide an element and its children from screen readers. iOS has `accessibilityElementsHidden=true`, and web has `aria-hidden=true`, to accomplish the same thing.

React Native Windows (C++) should support a similar recurs