[2019-12-03 01:33] chrisglein commented on #3671
Moved the above items into a project board: https://github.com/microsoft/react-native-windows/projects/24
We can go through those and decide which to promote into issues (currently they're notes).

[2019-12-03 01:48] chrisglein commented on #2586
@divyanshu-rawat The only context I have is that from the PR. This was an customization ask raised in code review.

[2019-12-03 10:35] YajanaRao commented on #3658
@chrisglein It is for Android and Windows.

[2019-12-03 20:00] #3518 closed

[2019-12-03 20:00] #3473 closed

[2019-12-03 21:31] chrisglein opened #3718 "Add Windows support to expo's native directory (and expand other metadata about reliability)"
# Proposal: Add Windows support to expo's native directory (and expand other metadata about reliability)

## Summary

There's an existing directory of React Native modules here: https://www.native.directory/
It doesn't list Windows support. And it'd be nice if it factored in some other details like CI level. The directory is open source, so we could contribute back to it. Or, if we feel like there

[2019-12-03 23:16] #3521 closed

[2019-12-03 23:16] #3695 closed

[2019-12-04 02:22] kmelmon commented on #3395
This task became obsolete - we now have a completely different mechanism for creating bundles as of this change:
https://github.com/microsoft/react-native-windows/pull/3654

[2019-12-04 02:22] #3395 closed

[2019-12-04 22:22] ddalp opened #3721 "ReactInstanceManager has many interfaces not implemented yet"
For example: ReactInstanceManager::OnBackPressed, OnSuspending etc. Currently it throws exception if those methods hit, we are currently waiting for host interface to complete before we can implement those interfaces, so creating issue to make sure we don't forget about it.

[2019-12-04 23:41] rtselvan opened #3722 "Creating project with TypeScript template fails with errors in the log"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1

2. `react-native run-windows --info`:

  System:
    OS: Windows 10 10.0.18363
    CPU: (12) x64 Intel(R) Xeon(R) W-2133 CPU @ 3.60GHz
    Memory: 10.20 GB / 31.66 GB
  Binaries:
    Node: 12.13.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.19.2 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.13.1 - C:\Program Files\nodejs\np

[2019-12-05 09:55] divyanshu-rawat commented on #2586
@chrisglein it means it is open to work on right?

[2019-12-05 14:28] stecrain commented on #3451
I have had success creating a native module to wrap LevelDB's interface https://github.com/google/leveldb

[2019-12-05 14:28] #3451 closed

[2019-12-05 19:12] harinikmsft commented on #3718
@stmoy is working on a proposal around this. We should write this up and engage through [discussions repo](https://github.com/react-native-community/discussions-and-proposals)

[2019-12-05 19:25] harinikmsft commented on #3722
@rtselvan - It appears that react-native-template-Typescript has a special instruction when using against version 0.60. Please refer to these instructions - [Typescript CLI](https://github.com/react-native-community/react-native-template-typescript#note-on-the-legacy-cli).

[2019-12-05 19:25] #3722 closed

[2019-12-05 19:51] #3704 closed

[2019-12-05 22:23] aschultz commented on #3118
Will this flag also disable keyboard tab navigation in the sibling elements (and their children)? If not, is there an issue tracking that capability?

For components with semi-transparent overlays that cover buttons and other interactive elements, its critical that there be a mechanism for fully blocking interaction with those underlying elements (without requiring manually setting tabIndex or sim

[2019-12-05 23:24] jonthysell opened #3726 "RNW should be use Microsoft.Windows.CppWinRT 2.0.191202.6"
When using the VS extension to create a new CppWinRT project, it uses Microsoft.Windows.CppWinRT 2.0.191202.6.

We should be using the latest version.

[2019-12-05 23:55] jonthysell opened #3728 "All RNW projects should use the same version of Microsoft.Windows.CppWinRT"
Right now we are using different versions of Microsoft.Windows.CppWinRT in different projects:

|Project|Version|
|:-|:-|
| ReactUWP|2.0.190530.8|
| SampleAppCPP|2.0.190730.2|
| SampleLibraryCPP|2.0.190530.8|
|Microsoft.ReactNative|2.0.190530.8|
|MyApp (CLI Template)|2.0.190530.8|
|React.Windows.Desktop|2.0.190530.8|
|React.Windows.Desktop.ABITests|2.0.190530.8|
|React.Windows.Desktop.DLL|2.0.1905

[2019-12-06 00:33] licanhua commented on #3620
I tried https://devblogs.microsoft.com/cppblog/shared-pch-usage-sample-in-visual-studio/, but I have two problems to go with this solution:
1.	Although only one project used WinUI nuget, to use the shared precompile header, I need to move WinUI dependency to shared-pch project, then all cppwinrt projects depends on WinUI.
2.	The projects have different PreprocessorDefinitions, AdditionalOptions an

[2019-12-06 00:59] JunielKatarn commented on #3620
Should we perhaps rename this issue? It doesn't appear to be related to the Desktop solution.

[2019-12-06 01:01] JunielKatarn commented on #3620
@licanhua I believe we are placing several `packages` folders in the repo.
One in the root for the Universal and Desktop solution, and one for each Playground/Sample solution location.

If we use environment/build variables smartly, we should be able to consolidate all packages in a single folder, avoiding such duplication.

[2019-12-06 15:50] jrdnlx commented on #2635
hey can i try this, can you provide more detail on what to do?

[2019-12-06 23:20] licanhua commented on #3620
From the log, build machine has 270G(free 120G) on C drive, and 15G(free 12G) on D. If we can redirect the buildoutput to C, it's possible to allow to build all solutions in job.

DeviceID     : C:
DriveType    : 3
ProviderName :
FreeSpace    : 120233426944
Size         : 274351517696
VolumeName   : Windows

DeviceID     : D:
DriveType    : 3
ProviderName :
FreeSpace    : 12003606528
Size

[2019-12-06 23:31] licanhua opened #3735 "Redirect build directory to C drive for vs2017-win2016 build machine"
From the log, vs 2017 build machine has 270G(free 120G) on C drive, and 15G(free 12G) on D. If we can redirect the buildoutput to C, it's possible to allow to build all solutions in one job.
vs2019 has far less space on C drive

- vs2017-win2016
[code]

- windows-2019
[code]

[2019-12-06 23:35] licanhua opened #3736 "consolidate all nuget packages in a single folder"
Comment From @JunielKatarn on #3620:  I believe we are placing several packages folders in the repo.
One in the root for the Universal and Desktop solution, and one for each Playground/Sample solution location.
If we use environment/build variables smartly, we should be able to consolidate all packages in a single folder, avoiding such duplication.

[2019-12-06 23:36] licanhua commented on #3620
#3736 is create to track it

[2019-12-07 00:23] jonthysell commented on #2712
The remaining issues are in our ABI implementation of Instance and ReactControl, and our hard-coded `modules.g.cpp`. All of which will go away when we finally do #3564.

[2019-12-07 00:24] jonthysell commented on #3564
For future reference, @vmoroz started a merge of the two DLLs here: https://github.com/vmoroz/react-native-windows/tree/ReactNativeHost/vnext/Microsoft.ReactNative

[2019-12-07 00:27] jagorrin opened #3737 "TextInput does not have rounded corners when "borderRadius" style is used"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.60.6
2. `npm ls rnpm-plugin-windows`:
rnpm-plugin-windows@0.3.5
3. `npm ls react-native-windows`:
react-native-windows@0.60.0-vnext.39
4. `node -v`:
v10.15.0
5. `npm -v`:
6.13.1

Then, specify:

- Target Platform Version(s): 10.0.18362.0

- Target Device(s): Desktop

- Visual Studio Version: 2017

- Build Configuration:

[2019-12-07 09:57] adnaanbheda commented on #3263
√ Found NuGet Binary
 × Failed to restore the NuGet packages: Error: MSBuild tools not found. Make sure all required components have been installed (e.g. v141 support)

Repaired the whole Build tools suite and I still get this error.

[2019-12-07 22:38] kmelmon opened #3738 "RNTester: Crash loading <Image> page"
The <Image> page in RNTester is having issues and crashes when you try to load it.

Callstack to the crash:

 	React.UWP.dll!winrt::to_hresult() Line 4298	C++
 	React.UWP.dll!winrt::terminate() Line 4372	C++
 	React.UWP.dll!std::experimental::coroutine_traits<winrt::fire_and_forget,react::uwp::ReactImage *,react::uwp::ImageSource>::promise_type::unhandled_exception() Line 7942	C++

 	React.UWP.dll

[2019-12-09 18:29] kmelmon opened #3742 "Alert: 'OK' text needs to be localized"
In the windows implementation of Alert, we currently have 'OK' hard-coded in English in the javascript.  This should be localized.  iOS does this on the native side, we should probably copy this pattern.

See vnext/src/libraries/alert/alert.windows.js

[2019-12-09 18:37] #3728 closed

[2019-12-09 18:42] kmelmon opened #3743 "Alert: prompt API is not implemented"
RN Alert has a prompt API which isn't yet implemented in RN4W.

Note that the Facebook docs are incorrect.  The docs say AlertiOS has a prompt API but it's actually on Alert.  To add to the confusion, this API is only implemented on iOS.

See:  https://facebook.github.io/react-native/docs/alertios#prompt
and https://github.com/facebook/react-native/blob/master/Libraries/Alert/Alert.js

We should i

[2019-12-09 19:08] kmelmon commented on #3737
Another issue with rounded corners similar to https://github.com/microsoft/react-native-windows/issues/3456.

[2019-12-09 19:18] kmelmon commented on #3726
@jonthysell is this required for new native modules (ie should be part of M4)?

[2019-12-09 19:30] kmelmon commented on #3735
@licanhua Can you also look into having the RNW CI loop use another pool that has more space?  This would solve the problem without any work on our part.  And I believe eventually we will want to update to build using VS 2019 anyway.

[2019-12-09 21:00] kmelmon commented on #3738
This may be a dupe of https://github.com/microsoft/react-native-windows/issues/2452

[2019-12-09 21:10] kmelmon commented on #3743
Not critical for MVP as this API is currently not supported on all platforms.

[2019-12-10 02:53] kmelmon opened #3748 "vnext default: directory structure"
As part of making vnext the default:

Our directory structure currently has current directory and a vnext directory.  This will become more confusing when vnext becomes the latest version.

Proposal:
-Move vnext into the packages directory and rename to react-native-windows.
-Move current to the packages directory and rename to react-native-windows-legacy, or perhaps just legacy.

[2019-12-10 02:54] kmelmon opened #3749 "vnext default: CLI Change"
As part of making vnext the default:

Because we will start publishing vnext with "latest" npm tag, the CLI will start creating a vnext app by default.  We'll want a way for users to discover how to create an app based on older versions.

Proposed solution:  The CLI will continue to support the --template parameter, and will also prompt the user if no parameter is supplied.  The prompt will allow

[2019-12-10 18:04] licanhua commented on #3726
Why do you want to do it? I suggest we hold this until you need them.
1. new cppwinrt project would always keep updated, so 2.0.191202.6 will not be always the latest.
2. some cppwinrt features(https://github.com/microsoft/cppwinrt/issues/401) require the latest VS to support them, and that's why I chose an old one.
3. I hit several issues when working on WinUI bugs

[2019-12-10 18:46] licanhua opened #3753 "Unified way to manage all nugets in React-Native-Windows"
This problem is raised in code review of #3729

We have nugets: boost, Hermes, J8JSI, WinUI, but we managed them in different ways.
Each time we modify a nuget version, we need make the same change across multiple projects. we need a simple way to maintain it. We may fix it by:
1. package.config doesn't accept parameters like HERMES_Version. [PackageReference](https://docs.microsoft.com/en-us/nuge

[2019-12-10 18:48] licanhua commented on #3753
Another benefit is it may save space and time because for most of customer, they doesn't need to download v8 and Hermes.

[2019-12-10 21:21] jonthysell commented on #3726
I don't think it's strictly necessary for M4. I've already got us back up to 2.0.190730.2, which is the most "popular" version out there by nuget downloads.

We have a lot of hacks and workarounds in our code/projects to support cppwinrt because of the old versions we use. Upgrading to newer versions forces us to clean up the code our customers interact with the most, the ABI. At some point we're

[2019-12-10 23:20] licanhua opened #3755 "Investigate and apply the Screenshot functionality of WinAppDriver to RNW test framework."
Look like WinAppDriver supports snapshot on UIElement.
We can use it:
1. screenshot on fail
2. visual diff.

It doesn't like a standard WebDriver API, and it may need additional work make JS happy.

Here is C# example of screenshot:
https://github.com/microsoft/WinAppDriver/blob/master/Tests/WebDriverAPI/Screenshot.cs

[2019-12-11 00:12] jonthysell commented on #3726
@licanhua I'm not going to check in any changes right now, as we're rearranging and cleaning up the ABI surface. But I'm still working through the PR to identify the issues we'll need to address when we do finally upgrade.

[2019-12-11 01:57] rtselvan opened #3756 "bundling failed: Error: Unable to resolve module `warnOnce` when referring an another RN module"
### Environment

1. `react-native -v`:
react-native: 0.60.6

2. `react-native run-windows --info`:

 System:
    OS: Windows 10 10.0.18363
    CPU: (12) x64 Intel(R) Xeon(R) W-2133 CPU @ 3.60GHz
    Memory: 18.53 GB / 31.66 GB
  Binaries:
    Node: 12.9.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.19.2 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.13.1 - C:\Program Files\nodejs\npm.CMD

[2019-12-11 02:33] kmelmon commented on #2652
@stecrain Yes it's true that LoadedImageSurface doesn't support the "right-size-decoding" feature like BitmapImage does.  The reason for this is that the API is just a raw bitmap loading API and we leave the smarts to the caller, as only they really know what they're doing with the bitmap.  We could look into ways of making LoadedImageSurface smarter.  Alternatively, we could eliminate the reasons

[2019-12-11 17:52] licanhua commented on #3756
We already know two bugs which may cause `warnOnce`, but we have no ETA for the fix yet(They have external dependencies). Please confirm if you are related to any of them or not.
1. #3611 You are using node 12, and most likely you are hitting this. Please use node 10.
2. #3670 It's easy for you to verify it with `cmd /K cd /d `, please refer to the bug description for more details.

[2019-12-11 17:55] #3620 closed

[2019-12-11 17:59] kmelmon opened #3759 "Move CI Loop to machines with more hard drive space"
This is likely a longer term goal as we can limp along with a short term solution while we're using the VS 2017 images.

Longer term we'll likely be upgrading to using the VS 2019 images and these have limited disk space.  We need a long term solution that will allow us to use the latest build tools and not have disk space issues.  We've started a conversation with the WinUI team who are facing si

[2019-12-11 18:17] kikisaints commented on #3701
@chrisglein that was the intent behind this issue - is that not clear?

[2019-12-11 20:13] licanhua commented on #3019
WinAppDriver fixed it on [v1.2-RC](https://github.com/microsoft/WinAppDriver/releases)
appium-windows-driver fixed in [1.7.0](https://github.com/appium/appium-windows-driver/pull/60) .

Because WinAppDriver requires admin permission to install it, and our build machine is still using WinAppDriver 1.1.
This task can be unblocked if any of below tasked can be resolved:
1. WinAppDriver can be deploye

[2019-12-11 21:39] JunielKatarn commented on #3753
Do Visual C++ projects support `PackageReference`?

[2019-12-11 21:43] JunielKatarn commented on #3759
Ideally, we should be able to use a custom base image with exact VS, MSVC, Node, Yarn, etc versions we need.

This is not my area of expertise, but this should theoretically be doable with Azure VMs.

[2019-12-11 23:10] licanhua opened #3763 "`react-native run-windows` can't find the installed SDKs when SDK is not installed to default location"
I'm using VS2019 16.3.10. When I install VS, I changed the default installation location from C: to D:
After the installation, VS is installed to `D:\Program Files (x86)`, but `Windows Kits` is installed to `D:` other than `D:\Program Files (x86)`.
In this case, `react-native run-windows` can't find the SDKs, but it's OK if I build it from VS IDE.

Build output
[code]

[code]

[2019-12-11 23:32] chrisglein commented on #3701
@kikisaints Looking at it now, yes. Not sure why we felt the need to restate that while we were going through triage last week :)

[2019-12-12 01:15] vmoroz commented on #3756
I had experienced the same issue yesterday. I tried different ways to approach it and in the end it was fixed. I am not sure what helped. Essentially I uninstalled Node.js and Yarn and then reinstalled the Node.js version 12.9.1 and latest Yarn. I also removed all caches. It started to work after that. But I bet there was an easier fix. Anyway, the issue seems to be related to the development mach

[2019-12-12 18:12] RobMeyer opened #3766 "Add SourceLink support to vnext for automatic symbol and source loading while debugging"
[Source Link](https://github.com/dotnet/sourcelink) is a technology built by VS and officially supported by Microsoft to enable automatic source loading while debugging.

RNW should integrate Source Link to improve the debugging experience for projects consuming RNW.

For reference, it was integrated into winui in this pull request https://github.com/microsoft/microsoft-ui-xaml/pull/606

[2019-12-12 21:46] licanhua commented on #3766
Example to publish symbols: https://github.com/microsoft/microsoft-ui-xaml/blob/master/tools/PublishSymbols

[2019-12-12 22:18] ddalp opened #3770 "Sample App crash in release build"
If we build microsoft-reactnative-sampleapps in x64 release, it will crash during the launch, due to .net native optimized away CustomUserControlViewManagerCS(IReactContext reactContext).

[2019-12-13 01:52] rtselvan commented on #3756
Yeah, I have it working by manually clearing the cache and etc.

However the issue still happens when react-native link option is used for parallel development of the module and app.

[2019-12-13 17:27] ddalp commented on #3610
Fixed.

[2019-12-13 17:27] #3610 closed

[2019-12-13 19:10] chrisglein commented on #3756
Is this a general issue with Metro and sym links? Does this work for you with Android/iOS? Lack of support for sym links in Metro is a known limitation.

[2019-12-13 19:12] chrisglein commented on #3766
This specifically would be for the nuget, because otherwise we ship as source. At least for now.

[2019-12-13 19:27] acoates-ms commented on #3756
For reference: https://github.com/facebook/metro/issues/1

[2019-12-13 20:31] licanhua commented on #3197
Disk should not be a problem anymore.

But it has other issue that some of them requires C# 7.2 or greater:
##[error]vnext\Microsoft.ReactNative.SharedManaged\JSValue.cs(100,36): Error CS8107: Feature 'readonly references' is not available in C# 7.0. Please use language version 7.2 or greater.
##[error]vnext\Microsoft.ReactNative.SharedManaged\JSValueReader.cs(330,9): Error CS8107: Feature 'defaul

[2019-12-13 21:03] licanhua opened #3772 "Investigate and resolve warnings"
The new pipeline showed all warnings on the top of PR. It has too much warnings.
we should investigate and resolve the warnings.

![image](https://user-images.githubusercontent.com/6290692/70831911-a4834900-1da8-11ea-9ff8-d6e4355a70d5.png)

[2019-12-13 22:40] licanhua commented on #3736
Disk is not a issue on pipeline after these PRs even if we will use windows-2019 build machines :
#3773 reduce build flavors for RNWUniversalPR
#3768 Redirect build directory to C: on vs2017-win2016 build machine
#3771 Delete .pch after build on pipeline
#3734 Reduce build time on pipeline
#3729 Use ReactNative.V8JSI.Windows.0.1.6 and ReactNative.Hermes.Windows.0.1.6

In the future, if we hit disk

[2019-12-13 22:40] #3736 closed

[2019-12-13 23:31] kmelmon opened #3774 "Escape key should dismiss Developer Menu"
Ctrl + Shift + D brings up the Developer Menu, but you must click the Cancel button to dismiss it.

The escape key should also dismiss the Developer Menu.

[2019-12-14 19:42] ericfelipe99 opened #3776 "Question: is it full compatible with react-native projects?"
Sorry for this basic question.

Can i compile my react-native projects with this project without rewriting code to linux desktop ?
It's full compatible with projects with oficial react-native ?

[2019-12-16 01:00] #3666 closed

[2019-12-16 12:13] sakthivel-servicemax opened #3777 "Is it possible to add Tab view to windows top bar from react native?"
Hi,
I am developing the app from the version 0.59.2. Is it possible to add Tab view to windows top bar from react native? If it is possible, please give me some sample.

[2019-12-16 17:11] #3735 closed

[2019-12-16 18:27] chrisglein commented on #3772
@licanhua Instead of a screenshot can you actually paste the warning text in here so this is searchable?

[2019-12-16 18:27] licanhua commented on #3776
I don't think Linux desktop is in our scope. The official supported platforms are iOS, Android, and the this repo add Windows.

If `compatible` means one React and share code across platforms, then yes.
If it means features parity with iOS and Android, then some components(
https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/ParityStatus.md) are still in progress

[2019-12-16 18:44] licanhua commented on #3759
We can low the priority for this task. I did a lot of work on this very recently, and disk is not a issue on pipeline after these PRs even if we will use windows-2019 build machines :
#3773 reduce build flavors for RNWUniversalPR
#3768 Redirect build directory to C: on vs2017-win2016 build machine
#3771 Delete .pch after build on pipeline
#3734 Reduce build time on pipeline
#3729 Use ReactNative.V

[2019-12-16 20:47] ddalp opened #3779 "E2E test TreeDump utility update to fire event when comparison succeed"
This is low priority test infra enhancement issue:

Currently we are polling on the test tree dump comparison result (getTreeDumpResult in BasePage.ts), we should be firing event when layout tree dump comprison pass. Currently the custom view manager fails in release mode because constructor with the Context object is optimized away, we need Context object to fire event from custom view manager.

[2019-12-16 20:51] ddalp commented on #3456
cornerRadius and other border properties are supported now, background on image is still not supported (I will open a new issue to track).

[2019-12-16 20:51] #3456 closed

[2019-12-16 21:00] ddalp opened #3780 "background color not working on image"
It is related to the issue #3456 "ImageStyleProps borderRadius #3456". While the border properties are working after fix to #3456, background still does not work on Image. It is because we are using the Grid.Background brush to draw image already.

While initial attempt to solve the border and background issue together is to add a border element on top of the Image grid, it works almost all the ca

[2019-12-16 23:01] jagorrin opened #3783 "Accessibility label updates for Views using accessibilityLiveRegion are not being read aloud by Narrator"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.60.6
2. `npm ls rnpm-plugin-windows`:
rnpm-plugin-windows@0.3.5
3. `npm ls react-native-windows`:
react-native-windows@0.60.0-vnext.39
4. `node -v`:
v10.15.0
5. `npm -v`:
6.13.1

Then, specify:

- Target Platform Version(s): 10.0.18362.0

- Target Device(s): Desktop

- Visual Studio Version: 2017

- Build Configuration:

[2019-12-16 23:25] ericfelipe99 commented on #3776
i'm very sorry.
I'm searching for react-native for linux, and one post in stackoverflow indicated 2 links, one is this repo, and another is a project that is compatible with linux... i made a mistake and put my question in wrong repo.

Sorry, i will close this now.

[2019-12-16 23:25] #3776 closed

[2019-12-17 00:31] kmelmon opened #3785 "folly warnings during build"
We can see this in all of our CI loop builds.  For example see:  https://dev.azure.com/ms/8d8e50dd-c5b4-4b44-8668-86558c5aa5b7/_apis/build/builds/54891/logs/374

Relevant warnings:
**##[warning]vnext\Folly\Folly.vcxproj(274,5): Warning MSB3936: Failed to open unzip file "folly-2019.09.30.00/" to "d:\a\1\s\node_modules\.folly\folly-2019.09.30.00\".  Could not find a part of the path 'd:\a\1\s\node_

[2019-12-17 01:02] acoates-ms commented on #3785
There is a comment about this in ReactFolly.vcxproj: https://github.com/microsoft/react-native-windows/blob/4b79a5f4fba6ca510927176867b858b2e6c8aa22/vnext/Folly/Folly.vcxproj#L273

Its a msbuild bug: https://github.com/Microsoft/msbuild/issues/3884

We are also setting `ContinueOnError="true"` on that build task, becuase of this, which should be cleared up once the msbuild fix is mroe broadly depl

[2019-12-17 02:10] dejawho opened #3786 "MSB8020 Build Tools for Vistual Studio 2017 not found (but everything is installed)"
Hi, I'm trying to build a windows app from my react native project, but I alwyas get this error MSB8020, even if I've installed everything specified in the readme. I'm using the version next because my project is using react native 0.60

### Environment

react-native-cli: 2.0.1
react-native: 0.60.6

2. `react-native run-windows --info`:

System:
    OS: Windows 10 10.0.17763
    CPU: (6) x64 Intel

[2019-12-17 02:12] kmelmon opened #3787 "windowsbrush cannot be used in TypeScript"
If you try to use a windowsbrush in a TypeScript app file, this generates a TypeScript compiler error.

For example this jsx:
        <Button
          title="Sample Button"
          color={{windowsbrush: 'SystemAccentColorLight3'}}
          onPress={this._onPress}
        />
generates this compiler error:
23           color={{windowsbrush: 'SystemAccentColorLight3'}}
  ../node_modules/@types/re

[2019-12-17 02:18] JunielKatarn commented on #3786
One thing that stands out from the log is the following line:
[code]

MSVC v141 tools should using the targets file `C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Microsoft\VC\v150\Microsoft.CppBuild.targets` instead (note **v150**).

[2019-12-17 03:07] kmelmon opened #3788 "Port windowsbrush code from Microsoft fork of react-native"
We currently have windowsbrush code in the Microsoft fork of react-native.

This task is tracking porting that code into react-native-windows as forked files, to help get us off the fork.
Also added a test page to RNTester as there is currently no test code that uses windowsbrush.

[2019-12-17 08:52] dejawho commented on #3786
Mmmm, strangely in that folder I don't have the v141, only v150 and v160, but everything requested in the requisites was installed. How can I install che 141?

[2019-12-17 09:41] dejawho commented on #3786
I was able to solve this by reinstalling the UWP tools from the VS2019 package manager, and carefully selecting everything on the right panel. Then on VS I've selected the project -> properties -> general (for all configuration) and selected as platform target the value 141

[2019-12-17 09:41] #3786 closed

[2019-12-17 09:54] dejawho opened #3791 "The project start but the screen is completely white"
Hi, I'm trying to build a windows app from my react native project, actually the project seems to start, everything seems compiled correctly, but the dialog opend by VS is completely white and this is the console content

'DarkSoulsDungeons.exe' (Win32): Loaded 'C:\Users\Marco\git\DarkSoulsDungeonsWindows\windows\x64\Debug\DarkSoulsDungeons\AppX\DarkSoulsDungeons.exe'. Symbols loaded.
'DarkSoulsDu

[2019-12-17 10:52] JunielKatarn commented on #3786
Glad that worked.
To clarify on your previous comment, `v141` corresponds to the Microsoft Visual C++ toolset version, which would ultimately be located inside `v150`, which refers to Visual Studio 15.0 (2017).

Meaning, Visual Studio 2019 has a folder designated for VS2017 tools.

[2019-12-17 19:15] qmatteoq commented on #3476
I add to this issue that moving to 142 would simplify a lot the adoption of Azure DevOps for building React Native for Windows projects. Currently you can't use a Hosted-Agent, but you're forced to use a private custom agent. The "vs2017-win2016" agent (which comes with Visual Studio 2017 and the v141 tools) isn't suitable because the project uses some C# 7.1 features, which are supported only by

[2019-12-17 20:52] licanhua commented on #3791
Are you react native project a new application or an existing application with iOS/Android? Did you follow [ConsumingRNW.md](https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/ConsumingRNW.md) to add react-native-windows support? Do you still hit problem you follow above link to generate a new react-native app, then add windows support?

I assume you already `yarn start` and

[2019-12-17 21:41] #2808 closed

[2019-12-17 21:44] marlenecota opened #3794 "Flicker when dynamically switching an Image's source"
Create an issue to track removing the temporary workaround and link it in the comment.
(unless you're planning on addressing before merging the PR)

_Originally posted by @chrisglein in https://github.com/microsoft/react-native-windows/pull/3712_

[2019-12-17 22:29] jagorrin opened #3796 "Picker does not have rounded corners when "borderRadius" style is used"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.60.6
2. `npm ls rnpm-plugin-windows`:
rnpm-plugin-windows@0.3.5
3. `npm ls react-native-windows`:
react-native-windows@0.60.0-vnext.39
4. `node -v`:
v10.15.0
5. `npm -v`:
6.13.1

Then, specify:

- Target Platform Version(s): 10.0.18362.0

- Target Device(s): Desktop

- Visual Studio Version: 2017

- Build Configuration:

[2019-12-17 23:28] licanhua commented on #2810
@jonthysell I think neither iOS or Android supports this. It's index.js by default.
Both node_modules/expo/AppEntry.js and index.js import App from App.js, and the actual entrypoint is index.js outside of expo.

Here is app.json after expo eject. and entryPoint should only be used in expo.

[code]

[2019-12-17 23:29] #3749 closed

[2019-12-18 01:15] kmelmon opened #3797 "Update copyright notice on forked files"
We have a bunch of forked files that need their copyright notice updated:

Run this command from vnext\src:

`findstr /snip facebook *.* | findstr /snip copyright`

The copyright notices should change to look like:
 * Copyright (c) Microsoft Corporation. All rights reserved.
 * Licensed under the MIT License.

We already have a LICENSE file at the root of the repo stating some of this code is base

[2019-12-18 01:26] acoates-ms commented on #3797
I know when facebook updated their license, they added a quick CI check that failed builds if someone tried to use the old license.  I wonder if we should have some similar detection for detecting the facebook license on our files.

[2019-12-18 01:29] #2918 closed

[2019-12-18 01:30] #3709 closed

[2019-12-18 01:30] #2117 closed

[2019-12-18 03:02] kmelmon opened #3798 "vnext default: Update Getting Started Guide"
Need to update the Getting Started Guide on the github. These docs currently talk about both vCurrent and vNext.

Proposal:  Update the Getting Started Guide to only talk about vnext.  I don't see a strong reason to mention vCurrent on our landing page anymore.  We can leave the docs about vCurrent inside legacy directory in case someone does need them.

We'll also need to update the guide with la

[2019-12-18 03:05] kmelmon opened #3799 "vnext default: Update bug/feature request template"
Need to change the bug template to match the story for vnext as latest.

Proposal:  Only have buttons to create issues/feature requests against vNext.  I don't see a strong reason to give visibility to vCurrent anymore.

[2019-12-18 07:55] kmelmon commented on #3738
Marlene thinks the image won't load because the test was just copied from Android and the image is only part of the Android bundle.

[2019-12-18 19:53] licanhua commented on #3476
The installation of VS v141 dependencies consumes 4.1G on D, and spend 16 minutes on pipeline.

[2019-12-18 20:34] licanhua opened #3801 "Use windows-2019 as build machine"
I'm trying to consolidate my investigation on disk usage in this thread.
It's better to complete #3476 before this task. it will save 4G on D and reduce the build time of 16 minutes.

Here are something interesting:
1.	The installation of VS v141 dependencies consumes 4.1G on D, and spend 16 minutes on pipeline. It’s better to use v142 in windows-2019 build machine
2.	ReactNative in vnext requires

[2019-12-18 21:45] #3788 closed

[2019-12-19 01:20] ashkling opened #3805 "UIManager is missing measureLayout"
It looks like UIManager.measureLayout is not currently implemented (I'm getting TypeError: Object doesn't support property or method 'measureLayout').

It does exist in the React Native API: https://facebook.github.io/react-native/docs/direct-manipulation.html#measurelayoutrelativetonativenode-onsuccess-onfail but in react-native-windows/vnext/ReactWindowsCore/Modules/UIManagerModule.h there's onl

[2019-12-19 19:29] licanhua opened #3807 "Enable C++/WinRT heap enforcement"
WinUI did this two C++/WinRT enhancements and it's possible apply to react-native-windows too:
1. [Enable C++/WinRT heap enforcement](https://github.com/microsoft/microsoft-ui-xaml/pull/1772).
 Turn on the C++/WinRT heap enforcement to catch cases where we incorrectly stack-allocate a WinRT object.
2. [Switch to C++/WinRT -optimized](https://github.com/microsoft/microsoft-ui-xaml/pull/1737).
Moved

[2019-12-19 23:42] jevansaks commented on #3786
I ran into this too, and it was confusing because if you search the "Individual Components" list for v141 the thing you need isn't there. But you find it on the sidebar under "Universal Platform Development". A picture to help others:

![image](https://user-images.githubusercontent.com/20667023/71218389-2a563700-2276-11ea-9b30-b577e7de0642.png)

[2019-12-20 01:17] kmelmon commented on #3579
Since this depends on #2271, which is scheduled for M5, moving this to M5 as well.

[2019-12-20 01:19] kmelmon commented on #3392
Since this depends on #2271, which is scheduled for M5, moving this to M5 as well.

[2019-12-20 02:05] kmelmon commented on #3460
Confirmed in snack this isn't expected behavior for other platforms.

[2019-12-20 05:14] ddalp commented on #3737
Fixed for RS5 plus.

[2019-12-20 05:14] #3737 closed

[2019-12-20 18:10] qmatteoq opened #3810 "AppX / MSIX package generated by Visual Studio in Release mode crashes at startup"
### Environment

If you are using latest version:
1. `react-native -v`:

react-native-cli: 2.0.1
react-native: 0.60.6

2. `react-native run-windows --info`:

 System:
    OS: Windows 10 10.0.18363
    CPU: (4) x64 Intel(R) Core(TM) i7-6650U CPU @ 2.20GHz
    Memory: 6.43 GB / 15.93 GB
  Binaries:
    Node: 12.9.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.21.1 - C:\Program Files (x86)\Yarn\bin

[2019-12-20 19:52] licanhua commented on #3810
I don't know what's the root cause yet. It happened in the first time.
You can workaround the problem by 'react-native bundle' from CLI first, then do the publish

[2019-12-21 03:26] aschultz opened #3816 "Add FontFamily registration system"
# Proposal: Add FontFamily registration system

## Summary
On UWP, custom fonts are referenced with a string like "/Path/to/font.ttf#Font name" where the path is relative to the app's install path. This is problematic for a few reasons, listed below.

Request: Allow developers to configure a mapping of Font Name to "path#Name" string as part of React Native Windows initialization. When a `fontFami

[2019-12-26 21:00] #3634 closed

[2019-12-27 13:09] YajanaRao opened #3819 "react native vector icons are not displayed in the app."
### Environment

If you are using latest version:
1. `react-native -v`: 0.60.6
2. `react-native run-windows --info`:

Otherwise if `--info` doesn't exist:
1. `react-native -v`: 0.60.6
2. `npm ls rnpm-plugin-windows`:
3. `npm ls react-native-windows`:
4. `node -v`: 10.17.0
5. `npm -v`: 6.11.3
6. `yarn --version`:

Then, specify:

- Target Platform Version(s):  10.0.18362

- Target Device(s): Deskto

[2019-12-27 18:56] ddalp commented on #3701
@kikisaints @chrisglein Few questions about this issue:
1. Do we need to completely remove AppTheme and replace it with Appearance? Is there risk of breaking App-Compat?
2. How about highContrastChanged event in current AppTheme module? This does not have corresponding concept/event in Appearance.

[2019-12-30 20:28] #3763 closed

[2019-12-30 22:09] #3810 closed

[2019-12-31 09:52] SounD120 opened #3822 "Question: Is it possible to get access to NativeModules.DevMenu from the RNW app?"
Hello, I am from [React Native Tools VS Code extension](https://github.com/microsoft/vscode-react-native) developement team. In the extension we have special command palette commands to reload the attached app and to show React Native Developer Menu in it. In RN Android we do that via adb commands, in iRN OS we do that via `require('NativeModules').DevMenu.show()` and `require('NativeModules').Dev

[2020-01-03 21:00] #3756 closed

[2020-01-03 21:55] jagorrin opened #3827 "TextInput's onFocus and onBlur functions are not being executed"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.60.6
2. `npm ls rnpm-plugin-windows`:
rnpm-plugin-windows@0.3.5
3. `npm ls react-native-windows`:
react-native-windows@0.60.0-vnext.91
4. `node -v`:
v10.15.0
5. `npm -v`:
6.13.1

Then, specify:

- Target Platform Version(s): 10.0.18362.0

- Target Device(s): Desktop

- Visual Studio Version: 2017

- Build Configuration:

[2020-01-03 22:00] Thristhart commented on #3460
I assume this is related to #3280, given that #3281 comments out `target.StopAnimation()`

[2020-01-06 09:56] anhtuanwrethink commented on #2052
Try SHIFT + F10 + Windows or SHIFT + F10 + ALT

[2020-01-06 09:59] anhdevit commented on #2052
Try SHIFT + F10 + Windows or SHIFT + F10 + ALT

[2020-01-06 18:01] kikisaints commented on #3701
There may have to be some breaking on back-compat when we updated to use Appearance instead of AppTheme.

for the highContrastChanged - I like it, I'll add it to this issue spec. I think it would be a great thing to contribute back to the community too - @chrisglein thoughts?

[2020-01-06 18:28] nasadigital commented on #3593
I have added the Windows configuration to the presets in the React Native extension.
If react-native-windows is not set up, the session fails with the following message: `error Unrecognized command "run-windows".`
If everything looks reasonable, I'll go ahead and edit the wiki.
Please let me know, if I missed anything!

[2020-01-06 19:02] KAnder425 opened #3832 "Port RNW LocationObserverModule to react-native-community/geoLocation"
# Proposal: Port RNW LocationObserverModule to react-native-community/geoLocation

## Summary
With the move to the 0.60 branch, navigator.geoLocation is no longer supported by react-native. It has been moved to react-native-community/geoLocation and deprecated from react-native. However, react-native-community/geoLocation doesn't support windows...yet. Our react-native-windows LocationObserver mod

[2020-01-06 19:08] chrisglein commented on #3777
@sakthivel-servicemax I assume you mean putting tabs into the Windows title bar? Similar to what you get from Chrome, for example? To customize the titlebar you'd need this: #2527. It's possible with native code (Windows allows you to disable the default titlebar and draw your own), but there's no existing out of the box solution for react-native-windows today.

[2020-01-06 19:08] #3777 closed

[2020-01-06 19:13] chrisglein commented on #3783
Likely not yet implemented, we may not be listening to the events and updating as expected here.

[2020-01-06 19:16] chrisglein commented on #3785
Looks like it's fixed and will come via this (probably in an upcoming VS update):
16.5 Preview3, MSBuild 16.5 Preview 3
However, will not just get fixed on VS2017, so...

[2020-01-06 19:16] #3785 closed

[2020-01-06 19:20] chrisglein commented on #3787
For this specific example we probably want to follow the new platform color (not Windows specific) solution. But this does raise issues about how we want to handle platform-specific APIs for TypeScript. There's also an issue with different versions of types, but @acoates-ms has a change to enable that.

[2020-01-06 19:21] chrisglein commented on #3787
@harinikmsft Create an issue to track creating a proposal for how to deal with the larger issue of platform-specific types.

[2020-01-06 19:24] chrisglein commented on #3791
This is unfortunately a common problem - where instead of getting a clear "red box" error you're getting nothing. It's likely a JavaScript exception that you can get from the web debugger. If you can get us that info we can potentially help you diagnose this and fix the error of it not showing a clear error message.

[2020-01-06 19:28] chrisglein commented on #3794
@acoates-ms had some comments about Facebook having some different patterns here about requiring a fixed size on the element up front and using an image store to pre-load images before changing the source. These avoid the flicker but don't necessarily align with the XAML way of decoding images. It's worth checking with the other platforms to know what they're expecting to do so we don't have any a

[2020-01-06 19:32] chrisglein commented on #3796
@jagorrin We recently changed react-native-windows to bring in WinUI2.3 which should include various fixes for border radius. Can you update to the latest version and let us know if this is fixed or not for you?
@licanhua if you happen to know the version number that adds this can you add a note here?

[2020-01-06 20:46] chrisglein commented on #3701
@kikisaints contributing that back sounds like a great idea, although that sounds like we'd want to pair that with changing over from AppTheme to Appearance so that we don't leave a functionality gap, correct? We currently have this tagged to complete this month so that we can tie it to the vnext/61 roll-out. As a breaking change it'd be good to tie to a version number bump, but we're also not goi

[2020-01-06 21:23] #3493 closed

[2020-01-06 21:40] kikisaints commented on #3701
I would call it a P1/2. It's not the top of the list, but decently important to have for developers coming from the windows side wishing to use React Native to target UWP.

[2020-01-07 02:05] chrisglein commented on #2460
Per comment above about partner being unblocked, downgrading priority of this.

[2020-01-07 02:29] miczhongMSFT opened #3836 "Setting accessibilityLabel on <View> doesn't work without also setting accessibilityRole"
### Environment
Xbox Events Beta App

1. `react-native -v`:
2. `npm ls rnpm-plugin-windows`: rnpm-plugin-windows@0.2.13
3. `npm ls react-native-windows`: react-native-windows@0.60.0-vnext-headlessjs.49
4. `node -v`: 10.15.0
5. `npm -v`: 6.4.1
6. `yarn --version`:

Then, specify:

- Target Platform: UWP

- Target Platform Version(s):

- Target Device(s): All Xbox

- Development Operating System: Xb

[2020-01-07 02:56] #2652 closed

[2020-01-07 19:26] jonthysell opened #3838 "SampleAppCS in Release throws exception when clicking "Call SampleModuleCS!""
This only repros in Release bits, and is most certainly a .Net Native issue.

Call Stack:

 	System.Private.CoreLib.dll!System.RuntimeExceptionHelpers.GetRuntimeException(System.Runtime.ExceptionIDs id) Line 74	C#
 	[External Code]
 	System.Private.Interop.dll!System.Runtime.InteropServices.McgMarshal.ComRelease(System.IntPtr pComItf) Line 731	C#
 	System.Private.Interop.dll!System.__ComObject.Cle

[2020-01-07 19:29] jonthysell opened #3839 "CLI template still builds ReactUWP"
New CLI apps depend on Microsoft.ReactNative, which no longer needs to build ReactUWP. This dependency needs to be removed, and the docs need to be updated.

[2020-01-07 21:51] jagorrin opened #3842 "Picker's popup has a parallax effect"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.60.6
2. `npm ls rnpm-plugin-windows`:
rnpm-plugin-windows@0.3.5
3. `npm ls react-native-windows`:
react-native-windows@0.60.0-vnext.91
4. `node -v`:
v10.15.0
5. `npm -v`:
6.13.1

Then, specify:

- Target Platform Version(s): 10.0.18362.0

- Target Device(s): Desktop

- Visual Studio Version: 2017

- Build Configuration:

[2020-01-08 00:36] kmelmon opened #3846 "Use Verdaccio in CI loop"
Our CI loop currently tests the CLI in the CliInit job by installing react-native-windows from the local hard-drive using npm/CLI trickery (through the @file and --windowsVersion flags) it ends up looking something like this:
yarn add rnpm-plugin-windows@file:d:\rnw\current\local-cli\rnpm\windows
react-native windows --template vnext --windowsVersion file:d:\rnw\vnext
See:  https://github.com/micr

[2020-01-08 00:49] kmelmon commented on #3593
@nasadigital Would it be possible to add something in the plugin code to detect if react-native-windows is installed when running the new command and display something to the user to let them know they need to first install it?  This would help new react-native-windows customers avoid potential confusion.

[2020-01-08 01:40] #3770 closed

[2020-01-08 01:40] #3839 closed

[2020-01-08 16:33] miczhongMSFT commented on #3836
This is seems to be a result of <Text> component not respecting `accessibilityRole` of "header"

[2020-01-08 17:33] ddalp commented on #3701
Moving this issue to M5 as the FaceBook RN change is targeted for v0.62.0-rc.0.

[2020-01-08 18:37] jonthysell commented on #2712
This was fixed in #3809.

[2020-01-08 18:37] #2712 closed

[2020-01-08 18:40] jonthysell commented on #3236
This was addressed in #3809.

[2020-01-08 18:40] #3236 closed

[2020-01-08 18:43] jonthysell commented on #3564
A huge chunk of this was done in #3809. Microsoft.ReactNative no longer depends on ReactUWP, but instead shares code with it, while we migrate customers off ReactUWP onto Microsoft.ReactNative.

[2020-01-08 18:56] nasadigital commented on #3593
@kmelmon Makes sense, let me give it a go!
How would I go about checking whether react-native-windows is installed? Is checking for the 'rnpm-plugin-windows' dependency sufficient or is it more reasonable to check if a windows directory exists in the project root?

[2020-01-08 19:05] acoates-ms commented on #3593
I'd do a require.resolve('react-native-windows', {paths: [ pathOfTheProject ] });  with a try catch to see if it succeeeds.   The rnpm-plugin-windows dependency is optional, its really just an installation helper, so isn't a good thing to check.

[2020-01-08 20:12] nasadigital commented on #3593
Sounds good! I'll chat with RN extensions folks and send out a PR promptly.

[2020-01-08 20:17] jonthysell commented on #3217
Done in #3760.

[2020-01-08 20:17] #3217 closed

[2020-01-08 20:37] jonthysell opened #3853 "Delete ReactUWP"
We are not investing in ReactUWP. Microsoft.ReactNative is the long-term, safe ABI of React Native Windows.

After partners have migrated to Microsoft.ReactNative, ReactUWP will no longer be necessary. In order to remove confusion for new customers, ReactUWP should be removed.

This task is dependent on #3320, #3854, #3855

[2020-01-08 20:40] jonthysell opened #3854 "Migrate packages/playground to Microsoft.ReactNative"
As ReactUWP is deprecated and deleted, Playground will need to be based on Microsoft.ReactNative.

[2020-01-08 20:43] jonthysell opened #3855 "Migrate packages/react-native-windows-extended to Microsoft.ReactNative"
As ReactUWP is deprecated and deleted, RNW Extended will need to be based on Microsoft.ReactNative.

[2020-01-08 20:44] jonthysell commented on #3320
Finished in #3715

[2020-01-08 20:44] #3320 closed

[2020-01-08 20:44] #3564 closed

[2020-01-08 20:49] jonthysell commented on #3208
As part of @vmoroz 's hosting work, we should be able to get the correct ReactContext from thread storage for use by the native module.

[2020-01-08 23:06] marlenecota commented on #3573
#3845 adds basic svg support based on file extension. Raw stream is no supported. We also don't currently have a good way to get the width and height off of the svg file, so developers will need to specify them in the Image's style properties.

[2020-01-08 23:49] #3562 closed

[2020-01-09 00:51] jaredhms commented on #3629
Attempting to bump the priority on this, as my team is targeting some ARM64 scenarios that we'd like to light up asap.

[2020-01-09 19:16] chrisglein commented on #3805
Looks like we did measureInWindow but not measureLayout with #2921

[2020-01-09 19:17] chrisglein commented on #3807
Note: Should split this into two issues

[2020-01-09 19:20] chrisglein commented on #3816
@kikisaints can you evaluate this proposal? (note it has a PR prepped with the proposed design)
@ddalp as a FYI, as our resident text expert

[2020-01-09 19:23] chrisglein commented on #3819
Lots of discussion about custom fonts on this other issue: #3463. @YajanaRao can you take a look at that and see if you're running into similar problems?

[2020-01-09 19:27] chrisglein commented on #3822
@SounD120 Thanks for looking into this! We do support the developer menu but it looks like we missed the native module access. We'll fill this gap.

[2020-01-09 19:30] chrisglein commented on #3827
@licanhua You implemented focus and blur. Were the callbacks implemented (we have a bug) or not (we just need to go implement)

[2020-01-09 19:59] stecrain commented on #3827
I hit this issue as well. (specifically for onFocus on TextInput). Debugging I'm not able to figure out where the bug is.
The event makes it from native to JS, and makes it to getListener in ReactNativeRenderer-dev.js, but onFocus in the props is always undefined.
In TextInput.windows.js I was able to see the onFocus prop getting set, I wasn't able to see why it's undefined when the props are retr

[2020-01-09 23:37] kmelmon opened #3862 "react-native windows doesn't work after installing windows plug-in using npm"
Our Getting Started guide says that we still support installing rnpm-plugin-windows via npm but it is currently broken.

REPRO STEPS:
react-native init myproject --version 0.60.0
cd myproject
npm install --save rnpm-plugin-windows
react-native windows --template vnext

RESULT
warn Package rnpm-plugin-windows has been ignored because it contains invalid configuration. Reason: Cannot find module '@r

[2020-01-10 19:40] aschultz opened #3863 "Setting keyDownEvents to undefined throws native exception"
### Environment
[code]

### Steps to Reproduce
[code]

### Expected Behavior
KeyboardEventHandler.cpp clears list of keys to mark as handled.

### Actual Behavior
KeyboardEventHandler.cpp throws exception in KeyboardHelper::FromJS

### Additional context
KeyboardHelper::FromJS should be changed to return an empty vector if the incoming property value is undefined.

[code]

[2020-01-10 21:09] johnsmithlon opened #3864 "Bundling stuck at 0% (simple project using projectstorm/react-diagrams)"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.59.10
2. `npm ls rnpm-plugin-windows`:
reactnativewinapp@0.0.1 C:\react\reactnativewinapp
`-- rnpm-plugin-windows@0.4.0
3. `npm ls react-native-windows`:
reactnativewinapp@0.0.1 C:\react\reactnativewinapp
`-- UNMET DEPENDENCY react-native-windows@0.59.0-vnext.203

npm ERR! missing: react-native-windows@0.59.0-vnext.203,

[2020-01-10 23:57] jonthysell commented on #3836
This is an issue because while you can set the `accessibilityLabel`, and it gets mapped to `AutomationProperties.Name`, but without an `acessibilityRole` then we have a vanilla `ViewPanel` without an `AutomationPeer`, so that name never gets exposed to UIA.

If you add an `accessibilityRole`, and thereby get the wrapper ViewControl, then it will appear properly in UIA, but now the View is focusabl

[2020-01-11 00:01] jonthysell commented on #3836
The work for WinUI 3: #3111

[2020-01-11 02:53] kmelmon opened #3865 "RNTester regression"
This change regressed RNTester:
https://github.com/microsoft/react-native-windows/pull/3848

Repro Steps:
Follow the steps here:
https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/BuildingRNW.md
to build and run Playground.
Load RNTester
Try to navigate to any of the test pages

RESULT
exception thrown in web debugger.  For example the Button test page throws this:
Cannot rea

[2020-01-13 18:44] #3865 closed

[2020-01-13 19:07] kmelmon commented on #3832
The right longer term solution is to add windows support to the community module, but we haven't fully setup the infra for linking them yet.

@KAnder425 for now we could add this into react-native-windows-extended.  If you're blocked on this I suggest unblocking yourself by doing this.  Let us know if you need more.

[2020-01-13 19:08] kmelmon commented on #3832
@chrisglein how are we tracking adding support to the top community modules?  This should likely be on the list.

[2020-01-13 19:12] kmelmon commented on #3836
@jonthysell is it possible for us to fix this without WinUI3.0?  It seems like a basic scenario we need to support

[2020-01-13 19:17] kmelmon commented on #3842
This is by design behavior for XAML, and would be difficult to change.

[2020-01-13 19:24] kmelmon commented on #3862
This may be a lack of proper dependency declarations in package.json.  Yarn apparently works due to hoisting up to root.  We should try to fix this, if not then update docs to use yarn.

[2020-01-13 19:26] kmelmon commented on #3863
@aschultz we'd be happy to take your fix above.  Can you help us out and create a PR?

[2020-01-13 19:29] kmelmon commented on #3864
@johnsmithlon can you confirm you ran react-native windows in your project directory?  The error indicates your project doesn't support react-native-windows, which might happen if you didn't properly run react-native windows.

If you did this, can you share your package.json and we can take a look?

[2020-01-13 20:03] jagorrin commented on #3796
@licanhua Can you provide the version number when the upgrade to WinUI2.3 occurred?

[2020-01-13 23:18] johnsmithlon commented on #3864
Yes I can confirm that I ran react-native windows in the project directory. The github link I provided (https://github.com/johnsmithlon/reactnativebug) includes the package.json file along with the code.

[2020-01-13 23:26] acoates-ms commented on #3864
Are you using yarn or npm?  Your yarn.lock has react-native-windows in it, but your package-lock.json does not.  Are you mixing usage of npm and yarn?

After running `npm install` or `yarn` you should have react-native-windows in your node_modules folder.

[2020-01-14 19:00] jonthysell commented on #3836
To do this we need to get rid of the whole ViewControl>Border>ViewPanel swapping madness, because as long as we maintain that, we need to be able to delete/invalidate automation peers, which is not exposed to end developers. Or we can save off properties/children, remove the panel from the tree, create a new panel, and re-populate it, and have flicker.

We chose to only put the peer on ViewControl

[2020-01-14 19:00] jonthysell commented on #3836
Updating the title to reflect the actual issue

[2020-01-14 19:15] jonthysell opened #3874 "Setting accessibility properties on Views forces them to be focusable"
Accessibility properties set on Views get resolved by the DynamicAutomationPeer on ViewControl. So if you want to set accessibility properties, you have to have a control, which is now focusable. The inner ViewPanel does not have a peer, because if they both have peers then every View in the UIA tree appears twice.

We don't have the APIs exposed for external XAML control developers to delete/inva

[2020-01-14 19:24] jonthysell opened #3875 "Build a proper ReactView control"
Right now we fulfill the need for a View component with a complicated composition of a ViewControl, a Border, and a ViewPanel. This is not only ugly, slow, and expensive to maintain, but it causes feature gaps, especially with regards to Accessibility.

Some of these requirements include:
* Canvas-style relative positioned children
* Optional, fully featured bordering (with rounding, etc)
* Runtim

[2020-01-14 21:27] kmelmon opened #3876 "Several RNTester pages no longer load"
This appears to be more fallout from #3865

Two RNTester pages no longer load:
-Text
-Alert

Hopefully the fix is similar to https://github.com/microsoft/react-native-windows/pull/3867

[2020-01-14 21:52] kmelmon opened #3877 "Convert require's to relative require's"
As part of moving to RN 61, the haste map resolution is no longer available.  This means code like this will start generating bundling errors:

require('UnimplementedView");

The problem here is that without Haste imports, this require cannot be resolved as metro needs a more fully qualified path.  We have about 150 of these throughout our platform overrides.

This task is tracking converting all

[2020-01-14 22:26] chrisglein commented on #3832
@stmoy is tracking the whole list, and we have a project board for them as well: https://github.com/microsoft/react-native-windows/projects/23
I've added it to the board.

[2020-01-14 23:31] johnsmithlon commented on #3864
I am running npm only. After running npm install I do have
react-native-windows in the node_modules folder - note I didnt upload the
contents of node_modules as the files are large.

On Mon, 13 Jan 2020 at 23:26, Andrew Coates <notifications@github.com>
wrote:

[2020-01-15 03:03] chrisglein commented on #3639
@stmoy have you and Jon worked out who should be updating documentation to match what's available at the end of the milestone?

[2020-01-15 03:06] chrisglein commented on #3573
@marlenecota you had checked with the partner that some of their images worked. Do they need raw stream support or will they be unblocked with extension based detection?

[2020-01-15 14:57] acoates-ms opened #3883 "Consider re-aligning with Facebook's clang format rules"
From #3881 :

This is the reason I went with having our clang format match Facebook's in the first place - to make it easier to move code between the two repos with the understanding that we would be working across the repos more and more.

Additive rules that only affect windows code (such as for MS UT frameworks as in #3612 should be fine.  But thing change affect all the shared Facebook code se

[2020-01-15 16:10] nasadigital commented on #3593
With the generous help of RN extension folks, a more helpful message is shown to the user if they try to debug windows and it seems they haven't installed the 'react-native-windows' package.
If everything looks reasonable, I'll go ahead and edit the wiki.

[2020-01-15 18:11] namrog84 opened #3884 "Support for React-navigation"
As of their current version https://github.com/react-navigation/react-navigation
They use some underlying nested dependencies that only work on iOS and Android. I believe its because of a nested dependency on react-native-reanimated.

This is one of the most popular navigation libraries for RN and is causing major issues for us on RNW.
I know it's not part of the RNW library, but still would appre

[2020-01-15 19:52] NickGerleman commented on #3883
I like the idea, but really really dislike the 80 character line limit. Having the project root .clang-format align and giving subprojects freedom to diverge seems like a decent compromise though. We could also just leave things as is and add matching clang-format files once there's an area we have an intent to share.

[2020-01-15 21:02] marlenecota commented on #3573
They should be unblocked by #3845.

[2020-01-16 00:55] kmelmon commented on #3593
Thanks @nasadigital!  #1191 looks good, feel free to edit the wiki.

[2020-01-16 02:59] #3877 closed

[2020-01-16 08:35] NickGerleman opened #3889 ""Build and Pack Nuget" Doing No Work in PR Pipeline (Effected by Enabling LayoutHeaders)"
We seem to at least sometimes completely no-op on "Build and Pack Nuget" for both Desktop and UWP. E.g. [this build](https://dev.azure.com/ms/react-native-windows/_build/results?buildId=58716&view=logs&jobId=afba87e8-dea4-546b-a936-828d8962d9a2&j=afba87e8-dea4-546b-a936-828d8962d9a2&t=526ad6bb-e2f8-527f-c697-9df6289f62f3)

![image](https://user-images.githubusercontent.com/835219/72506236-5f629480

[2020-01-16 09:18] NickGerleman commented on #3889
Removing LayoutHeaders from the build matrix moved us back to the first state where we no-op, even for Desktop.

[2020-01-16 12:15] SounD120 commented on #3593
Hi @kmelmon . React Native Tools [v0.14.0](https://github.com/microsoft/vscode-react-native/releases/tag/0.14.0) with `Debug Windows` scenario just have been released.

[2020-01-16 16:52] NickGerleman opened #3891 "Many Linker Warnings From libcrpyto Around Missing PDB"
This below chunk shows up multiple times in different targets when build output log verbosity set to normal (see "build and run" settings in Visual Studio). We should address this, or at least silence it since it will spam build output and logs.

[code]

[2020-01-16 18:51] nasadigital commented on #3593
@kmelmon I didn't have permissions to edit the wiki so I asked @savatia to check in the changes.
Let me know if there is anything else I can do.

[2020-01-16 19:08] chrisglein commented on #3836
Okay, sounds like there is a workaround, and that fixing this without changes to XAML (via WinUI3+) would be maybe more complicated than it's worth. Since this is a fundamental accessibility issue let's evaluate what we could do without WinUI3 next milestone.

[2020-01-16 19:12] chrisglein commented on #3874
@jonthysell All accessibility properties or just some?
Is it not possible to make the Control not focusable? Like by setting [Focusable](https://docs.microsoft.com/en-us/dotnet/api/system.windows.uielement.focusable?view=netframework-4.8)?

[2020-01-16 19:14] chrisglein commented on #3875
@jonthysell Could you file a proposal on the WinUI repo that captures our needs for this?

[2020-01-16 19:16] chrisglein commented on #3876
@NickGerleman sounds like a regression from your change. A similar fix may be described above. Can you fix the regression?

[2020-01-16 19:21] NickGerleman commented on #3876
I can take a look. I'm still not convinced the change I made had anything to do with the regression, unless we had a dependency change from the RN bump. @kmelmon do we know if there are any other places whee we have been mixing commonjs and ES6 default import?

[2020-01-16 19:22] chrisglein commented on #3884
This is an ask for a different navigation module than the wix one. @stmoy can you dig in and figure out which one we should start supporting? We probably only have bandwidth to take on one, and can lean on the community to fill in the other... unless there's no clear winner.

[2020-01-16 19:27] chrisglein commented on #3891
@NickGerleman we haven't been seeing this output. Is there something else non-default about your config that triggers this?

[2020-01-16 19:31] NickGerleman commented on #3891
Have you been building the UWP or desktop solution? This was seen building desktop with these verbosity settings.

![image](https://user-images.githubusercontent.com/835219/72556550-b9457780-3853-11ea-9a57-874c76e37e47.png)

[2020-01-16 20:54] kmelmon commented on #3876
Regarding repro - you may need to delete all haste-map-metro-xxx files from your %TEMP% directory to be in a clean state.

I do think we still have places in the code that do ES6 style exports, but I don't know if there are any mismatches between exports/imports.  I'd like to understand the metro requirement better.  Can you point me to where you were looking in metro code to see how it handles th

[2020-01-16 22:18] kmelmon commented on #3593
@nasadigital I can add you as a core contributor.  First I'll need you to link your github account to the Microsoft org.  Go here:  https://opensource.microsoft.com/link

[2020-01-16 23:38] FalseLobster commented on #3117
Hi folks,

Office has been looking at adding support for this for one of our react-native driven experiences.

My initial thought was that [RaiseUiaNotificationEvent](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.automation.peers.automationpeer.raisenotificationevent) was a reasonable mapping for Windows.  Looks like @jonthysell was suggesting [RaiseAutomationEvent](https://docs.microso

[2020-01-17 00:32] jonthysell commented on #3117
I don't know if UWP has ever expected the scenario "just say something to the narrator without any UI context". However, where we use RaiseUiaNotificationEvent, or RaiseAutomationEvent, both presume a connection to a view. I think:

Yes, we should do this, so people who care (esp on Windows) can specify the exact view ref

I think we can come up with a reasonable heuristic here. Use a a particular

[2020-01-17 07:13] NickGerleman opened #3895 "Unable to initialize RNW vNext Project Using Current Instructions"
### Environment

react-native-cli: 2.0.1
react-native: 0.60.6
rnpm-plugin-windows@0.4.0
Node v10.13.0
NPM 6.4.1

### Steps to Reproduce
Follow instructions for [Consuming React Native Windows](https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/ConsumingRNW.md#installing-react-native-windows-vnext).

When trying to initialize the project we see this error:
[code]

[2020-01-17 08:46] NickGerleman opened #3896 "Beachball Publish in Pipeline Times out When Bumping Version"
![image](https://user-images.githubusercontent.com/835219/72596363-bfbe0880-38c0-11ea-9ed7-074004ef431d.png)
https://dev.azure.com/ms/react-native-windows/_build/results?buildId=58911&view=results

This seems potentially related to a beachball update that just happened. The hang happens before we even try to publish to the NPM registry.

[2020-01-17 09:33] NickGerleman commented on #3896
Confirmed this is due to the dependency change.

With Beachball 1.18.1 installed locally, `npx beachball publish --no-push --no-publish` at master works as expected.

[code]

After updating to 1.18.2 I see the hang.

[2020-01-17 09:49] 527395632 opened #3898 "环境配置问题"
版本更新比较多, 然后现在的环境配置文档感觉不太对, 多次配置始终配置不成功, 不知是否可以得到帮助! 我的email: 527395632@qq.com, tel: +86 177 0581 4618, 希望可以得到团队帮助, 目前一直卡在环境配置过程中。current文件夹中的项目能正常编译, 启动后会访问一个http://localhost:8081/***.bundle?***的一个url, 这个我猜应该是notejs环境运行的, 只是这个环境一直起不来, 这个url访问不到, 返回一直是httpCode=404

[2020-01-17 11:01] NickGerleman commented on #3876
@kmelmon I didn't look super deeply into Metro, apart from seeing that it would run Babel internally. That should allow compiled Typescript doing ES6 export to interop with JS doing ES6 import (at least if some level of Babel rules are used).

In the original bug though, we were actually doing a CommonJS import of a ES6 default export (transpiled to Babel's CommonJS representation of ES6 modules).

[2020-01-17 12:14] NickGerleman commented on #3876
I was able to find two exports where we mismatch with upstream, but both are benign right now. The issues with RNTester seem to be unrelated to bundling. E.g. for "Text", we fail because RNTesterExampleContainer.js expects that example modules define a property called "Examples" and the Windows override of TextExample doesn't do this. From what I can tell, this has been broken for quite some time.

[2020-01-17 16:41] FalseLobster commented on #3117
Yea, the RaiseUiaNotificationEvent is rather new as far as I know.  It sounds like you agree with my proposed mapping at least.

I agree extending it is ideal for Windows, but I think we'd want to push that back to Facebook, so it's something to keep in mind.

I like your suggestion regarding what's in focus.  My concern about "just grab the RootView" is that since Win32 Office is a brownfield rea

[2020-01-17 16:54] kenotron commented on #3896
I just added some bits of logic to allow for customizable change type for dependent package bumps. This turned out to cause an infinite loop. I'm working on this now. Thanks for reporting this on https://github.com/microsoft/beachball/issues/241

[2020-01-17 17:24] FalseLobster commented on #3117
@jonthysell In our react-native implementation, I think I'm going to experiment with something like this:

AccessibilityInfo.announceForAccessibility(message: string, viewTag?: number)

where an unspecified viewTag falls back to the currently focused element.  This will call the RaiseNotificationEvent under the hood.

Let me know if you have any other thoughts or concerns.

[2020-01-17 18:41] chrisglein commented on #3895
@NickGerleman Those look like warnings. Does it emit the warnings and also succeed or does it outright fail?

[2020-01-17 18:46] chrisglein commented on #3898
(automated) Translation:

@527395632 Can you give us more detail on the steps you've followed for setup and where you are in that process? The issue template has some instructions for how to gather environmental data so we can better help you.

[2020-01-17 22:36] kmelmon opened #3907 "Build tool to help integrate diffs in platform overrides"
# Proposal: [Platform override integration tool]
Build a tool to help automate the process of integrating diffs in RN4W platform overrides when RN4W platform does an upgrade to latest version of react-native

## Summary
The process of upgrading RN4W to latest version of react-native involves manually diffing every one of our platform overrides (eg Dimensions.windows.js) with changes that happened

[2020-01-17 22:44] kmelmon commented on #3907
@acoates-ms Since you've done many of our upgrades I want to first ask - have you already done something in this space?

[2020-01-17 23:00] acoates-ms commented on #3907
No I havent got any kind of automated tool.  We did start trying to add sordid comments to help with diffing of forked files, but it's inconsistently applied.

[2020-01-17 23:47] NickGerleman commented on #3895
@chrisglein The last line 'error Unrecognized command "windows".' will stop the command from moving forward.

[2020-01-17 23:48] jonthysell opened #3908 "CI build failing with out of disk space errors during to `Run Codesign Validation (auto-injected by policy)`"
Can we disable this injected task? We aren't publishing binaries.

[code]

[2020-01-19 08:01] NickGerleman opened #3913 "Many Folly Warnings During Build"
![image](https://user-images.githubusercontent.com/835219/72677197-a21ea980-3a4e-11ea-8c61-16d79de5f6ef.png)

I think we're just using a warning task where we should be logging. This is annoying when viewing logs or pipeline status, but should not impact our build output.

[2020-01-19 08:29] NickGerleman commented on #3907
@kmelmon @acoates-ms @ddalp I was thinking about this a bit earlier. Medium-term, we could add some tooling to let us detect breaking changes on a per commit basis and integrate new facebook commits otherwise. The specific idea I had in mind would use integrity checking to break the build if fb souces change that we have analogs to.

E.g. if Facebook added a change to RNTester that required change

[2020-01-20 12:55] tbandrowsky commented on #3884
It's actually not that hard to roll your own stack navigation as a workaround and to keep the navigation components compatible with react-navigation for when the Microsoft and Facebook cavalry arrives.  I just did it and I'm by no means a great react or javascript programmer but it only took me a day.

https://www.linkedin.com/pulse/build-your-own-stacknavigatorview-react-native-vnext-todd-bandrow

[2020-01-21 02:52] chrisglein opened #3917 "Image component should support raw stream SVG"
Forked out from #3573. More info there.

We've implemented SVG support based on file extension. This issue tracks adding it based on raw stream. Partners are unblocked with what we have, so this remaining work is lower priority.

[2020-01-21 02:53] chrisglein commented on #3573
Opened #3917 to track raw stream support. Closing this issue.

[2020-01-21 02:53] #3573 closed

[2020-01-21 02:57] chrisglein commented on #3278
Partner is currently unblocked with their existing lottie implementation. We will need to wait for some improvements from Composition before lottie support can be added without either codegen or the overhead of .NET. Moving to M5 as we no longer need this to exist M4.

[2020-01-21 03:00] chrisglein commented on #3476
@asklar When you were looking into this how much work was needed to change the toolset? We haven't heard justification back from the partner so I say we move to latest. I'd be great to lose the additional setup step and disk cost.

[2020-01-21 03:03] #2162 closed

[2020-01-21 04:11] safaiyeh commented on #3462
👋 Hello, I stumbled upon this. I'm a collaborator on WebView, let me know how I can help!

[2020-01-21 04:13] safaiyeh commented on #3448
Want to mention since https://github.com/joeferraro/react-native-cookies went un maintained the community picked up the project. Here: https://github.com/react-native-community/react-native-cookies

Let me know how I could help!

[2020-01-21 04:46] tbandrowsky opened #3918 "Handle incorrect fontFamily gracefully."
### Environment

If you are using latest version:
1. `react-native -v`:

react-native-cli: 2.0.1
react-native: 0.60.6

2. `react-native run-windows --info`:

  System:
    OS: Windows 10 10.0.18362
    CPU: (32) x64 AMD Ryzen Threadripper 1950X 16-Core Processor
    Memory: 10.17 GB / 15.90 GB
  Binaries:
    Node: 12.9.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.19.1 - C:\Program Files (x86)

[2020-01-21 05:01] thiruppathi-svmx commented on #3462
@safaiyeh Is web view supported in vNext version?

[2020-01-21 20:08] roederw opened #3922 "Switch component causes a crash when using particular color styles"
### Environment

1. `react-native -v`:

react-native-cli: 2.0.1
react-native: 0.60.0-microsoft.35

2. `react-native run-windows --info`:

  System:
    OS: Windows 10 10.0.18362
    CPU: (12) x64 Intel(R) Xeon(R) CPU E5-1650 v4 @ 3.60GHz
    Memory: 53.90 GB / 63.90 GB
  Binaries:
    Node: 10.16.3 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.17.3 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    n

[2020-01-21 23:27] #3908 closed

[2020-01-22 00:27] #3705 closed

[2020-01-22 00:27] #3706 closed

[2020-01-22 00:29] jonthysell commented on #3721
This should be done as part of the hosting work.

[2020-01-22 00:30] jonthysell commented on #3563
Closing this spic on me as all of the issues assigned to me are done.

[2020-01-22 00:30] #3563 closed

[2020-01-22 01:43] azchohfi opened #3924 "windowPhysicalPixels is in DIPs and not in pixels"
This is an issue on vnext. vnext\ReactUWP\Modules\DeviceInfoModule.cpp should return Physical Pixels but it's returning DIPs for the windowPhysicalPixels variable. Also, the scale variable is not correct when using, for example, 175%. This is a rounding issue on the DeviceInfo::update method.

[2020-01-22 02:06] anjc opened #3925 "Running default vNext project fails at 'react-native start'"
### Environment

If you are using latest version:
1. `react-native -v`:
[code]

2. `react-native run-windows --info`:
[code]

Then, specify:

- Target Platform Version(s): 10.0.18362.0

- Target Device(s): X86 when using react-native run-windows, X64 in VS 2019

- Visual Studio Version: VS 2019 v16.4.3

- Build Configuration: Debug

### Steps to Reproduce

1.  I followed the steps in [Getting Star

[2020-01-22 06:15] NickGerleman commented on #3925
@acoates-ms was this the issue with newer versions of Node?

[2020-01-22 06:48] #3896 closed

[2020-01-22 11:03] dubiao opened #3926 "Serial port communication"
# Proposal: [Is that possible to have serial port communication on this]

## Summary

We are building a professional app that may will use serial port communication to send commands to our devices.
How can I  select a COM port and send commands to that port?

## Motivation

## Basic example

## Open Questions

[2020-01-22 19:50] YuliKl opened #3929 "ExtendedDeviceInfo Windows module"
# Proposal: ExtendedDeviceInfo Windows module

## Summary

Encapsulate [Surface Neo](https://www.microsoft.com/en-us/surface/devices/surface-neo) device info to be readily available in RN.

Details tracked in https://github.com/react-native-community/discussions-and-proposals/issues/189

## Motivation

Make it easier to [develop apps for Windows 10X dual-screen devices](https://docs.microsoft.com/

[2020-01-22 19:51] mpiannucci opened #3930 "Must run elevated (otherwise stuck "Generating self-signed certificate")"
### Environment

If you are using latest version:
1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.60.6

2. `react-native run-windows --info`:
  System:
    OS: Windows 10 10.0.18362
    CPU: (12) x64 Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz
    Memory: 16.86 GB / 31.78 GB
  Binaries:
    Node: 10.16.0 - C:\Users\miannucci.NAVATEKLTD\Development\nodejs\node.EXE
    Yarn: 1.17.3 - C:\U

[2020-01-22 19:52] YuliKl opened #3931 "ExtendedDeviceInfo Android module"
# Proposal: ExtendedDeviceInfo Android module

## Summary

Encapsulate [Surface Duo](https://www.microsoft.com/en-us/surface/devices/surface-duo) device info to be readily available in RN.

Details tracked in https://github.com/react-native-community/discussions-and-proposals/issues/189

## Motivation

Make it easier to [develop apps for Android dual-screen devices](https://docs.microsoft.com/en-u

[2020-01-22 19:53] YuliKl commented on #3931
Closely related to #3929

[2020-01-22 20:44] anjc commented on #3925
Yes, it was. I reinstalled the specific version of node listed in the docs - and then rebuilt the project for good measure - and the service started successfully.

[2020-01-22 20:56] YuliKl commented on #3624
This component has a dependency on #3929 and #3931

[2020-01-23 00:11] vmoroz opened #3933 "Remove 'All rights reserved' from the copyright headers"
The links below may require Microsoft credentials: https://docs.opensource.microsoft.com/changelog.html

**Summary from the link:**
July 2019
The term All Rights Reserved is no longer recommended to be in MIT license copyright headers.

The new headers should be:
[code]
See: https://docs.opensource.microsoft.com/content/releasing/copyright-headers.html

[2020-01-23 02:26] aschultz commented on #3918
Looks like the winrt::Windows::UI::Xaml::Media::FontFamily constructor throws when given an empty string.

I'll include a fix in my PR for #3830.

[2020-01-23 09:57] fs-kanayama opened #3937 "react-native windows not working"
run latest

[code]

run regacy

[code]

not working?

[2020-01-23 16:22] nasadigital commented on #3593
@kmelmon Thank you! I linked the account and the wiki is updated: [https://github.com/microsoft/react-native-windows/wiki/VS-Code-Debugging](https://github.com/microsoft/react-native-windows/wiki/VS-Code-Debugging)

[2020-01-23 17:07] leoek commented on #3937
@fs-kanayama The newest available react-native-windows `current` version is `0.59`, even if 0.60@current was planned for fall 2019. There is an open issue about the roadmap of react-native-windows here: https://github.com/microsoft/react-native-windows/issues/2815

@harinikmsft Can you please take a look at https://github.com/microsoft/react-native-windows/issues/2815 and update the roadmap and et

[2020-01-23 19:04] chrisglein commented on #3918
Thanks @aschultz for picking this up!

[2020-01-23 19:06] chrisglein commented on #3922
There's some caching happening of SolidColorBrushes, which _might_ be the cause here.

[2020-01-23 19:09] chrisglein commented on #3895
@NickGerleman We've often seen troubles with the plugin installed in the wrong directory, which can manifest this error. I see you've listed your plugin version, can you confirm where it is installed. It should be run inside the project directory and run before you run `react-native windows`, which is a subtle detail.

[2020-01-23 19:13] roederw commented on #3922
Forgot to mention that. Removing the cache solves the problem but I can't for the life of me figure out why (and I don't want to just drop the cache). ARGB values look fine. The Color comparator looked fine to me as well.

[2020-01-23 19:14] roederw commented on #3922
I also work with @RobMeyer who added the color cache and he also couldn't find anything obvious. Calling for some backup/fresh eyes.

[2020-01-23 19:14] chrisglein commented on #3924
Sounds like there's an issue with this new event that was added.
It's reflecting the root element, and not the window. Also it's returning DIPs and not physical pixels. Also the scaling factor seems to not work in non-integers. Seems like this needs some fixes and some tests to cover these scenarios.

[2020-01-23 19:16] chrisglein commented on #3925
@anjc Sounds like updating to the supported Node version unblocked you. If that's not the case reactivate this issue.

[2020-01-23 19:16] #3925 closed

[2020-01-23 19:18] chrisglein commented on #3926
@dubiao the short answer is you'll need to write a native module to expose this platform behavior (for something like a serial port you're not going to find existing modules for Android or iOS I'm guessing ;)). We're currently landing more support for this in our 0.61 milestone. @stmoy Can you provide the best documentation links here?

[2020-01-23 19:25] chrisglein commented on #3937
@fs-kanayama When you did your `react-native init` what version did you supply? Doing legacy (aka current) only supports 59 as stated above. Currently the CLI tool does help you with the supported version.

@kmelmon as an FYI if you want to make the error message better and/or include version support.

[2020-01-23 19:29] chrisglein commented on #3930
@mpiannucci Currently the steps require you to be in an elevated command prompt, and I believe this is the reason why. Is it possible to run this elevated and unblock yourself.

We would like to remove that requirement, but for the short term that's the case. I'll use this issue to track this requirement.

[2020-01-23 20:22] mpiannucci commented on #3930
@chrisglein unfortunately its not possible on this machine. It is a corporate managed laptop with no admin for the time being.

Good to know that's whats going on though.

[2020-01-23 21:03] chrisglein commented on #3926
This might be of use: https://techcommunity.microsoft.com/t5/windows-dev-appconsult/building-a-react-native-module-for-windows/ba-p/1067893#M202

[2020-01-23 22:55] chrisglein commented on #2827
Of note, SVG support is built in with "vnext" (soon to be current with 0.61): #3573.

[2020-01-23 22:56] #3106 closed

[2020-01-23 22:57] chrisglein commented on #3658
Issue seemed to have been solved by using just Chrome and not Firefox. Closing issue.

[2020-01-23 22:57] #3658 closed

[2020-01-23 23:02] chrisglein commented on #3796
PR that added it is here: https://github.com/microsoft/react-native-windows/pull/3707, from November 7th.
@kmelmon do you know how to get from a commit to the version number that will include that?

[2020-01-23 23:07] chrisglein commented on #3864
@acoates-ms We still require Node version 12.9.1, correct? The info here lists 12.14.0. Could that be the problem?

[2020-01-23 23:28] chrisglein commented on #3895
Just hit this sitting down with @jeffstall.
@NickGerleman by chance were you using NPM direct or Yarn?

[2020-01-24 00:04] chrisglein commented on #3895
Confirmed working with Jeff that using Yarn unblocked him. Seems like we have some problem in the getting started instructions when using just npm that is broken now. @acoates-ms any ideas?

[2020-01-24 00:54] felixding opened #3946 "Stuck at "Restoring NuGets: WARNING: Error reading msbuild project information, ensure that your input solution or proje...""
1. I followed the docs to start a new project:

[code]

2. I installed VS 2019 Community

3. When I try to run the project with

[code]

It says

[code]

I've attached the screenshot.

<img width="900" alt="Annotation 2020-01-24 085355" src="https://user-images.githubusercontent.com/111456/73036633-1ad69900-3e87-11ea-882d-60e460fd6839.png">

Can you please help? Thanks.

[2020-01-24 02:57] NickGerleman commented on #3895
Haven't looked at this at all, but I wonder if npm and yarn will resolve different packages. E.g. if they handle pre-releases differently or something.

[2020-01-24 11:40] NickGerleman commented on #3913
I fixed a couple of these but we will not be able to remove most of these until we adopt a new version of MSBuild.

[2020-01-24 11:40] #3913 closed

[2020-01-24 11:47] NickGerleman opened #3947 "Upstream Fixes for ReactCommon Warnings we Suppress"
We suppress many warnings when building ReactCommon. We fixed some of these in the microsoft/react-native fork, but these are now gone with deforking efforts.

We should:
1. Move from global project suppressions to per-file suppression to audit where we have warnings.
2. Upstream individual fixes.

This may involve needing to address some warnings from folly as well.

[2020-01-24 19:24] kmelmon opened #3953 "Re-enable E2E test"
We recently had to disable E2E test because of out-of-disk-space issues.  See:

https://dev.azure.com/ms/react-native-windows/_build/results?buildId=60011&view=logs&jobId=a27d21fd-a31d-5038-a902-0ee58cd3b281&j=a27d21fd-a31d-5038-a902-0ee58cd3b281&t=6750b87c-c5d0-5ba3-de8e-6dea356eee8d

and

https://dev.azure.com/ms/react-native-windows/_build/results?buildId=60035&view=logs&j=a27d21fd-a31d-5038-a9

[2020-01-24 19:57] kmelmon commented on #3796
@chrisglein currently, every change triggers a publish to npm so if it's checked in, it's already out there.

[2020-01-24 19:57] licanhua commented on #3953
From Andrew's testing, C: is running out of space: https://dev.azure.com/ms/react-native-windows/_build/results?buildId=60035&view=logs&j=a27d21fd-a31d-5038-a902-0ee58cd3b281&t=b9160bdc-c3f8-5729-1c03-449e66b7943e

It's possible introduced by vs2019 image version: '20200116.1'

[2020-01-24 21:12] acoates-ms commented on #3796
You can also look at the change log:
https://github.com/microsoft/react-native-windows/blob/master/vnext/CHANGELOG.md#0600-vnext86

Admittedly the change log info entered on that change wasn't particularly descriptive.

[2020-01-24 21:38] jagorrin commented on #3796
Thank you. I will test on 0.60.0-vnext.86.

[2020-01-25 04:57] licanhua opened #3960 "Use v142 for E2E test on vs2019 build machine"
It has two benefits:
1. we don't need to install v141 toolsets which would save 17 minutes on E2E pipeline, also ~2GB disk on D drive(currently D is not the bottleneck yet).
2. Don't need workaround for #3953 which would save 7 minutes. Since vs2019 image version: '20200116.1', C drive only have 4G free space, which has problem to restore all nugets(lots of them are installed to C drive) to build

[2020-01-25 05:30] #3953 closed

[2020-01-25 06:06] licanhua commented on #3864
I have problem to build your project, here are two cents I didn't verify it but it may help:
1. Try to use 'react-native bundle' to see if there is any error to bundle the JS. Here is an example  `react-native bundle --platform windows --entry-file index.windows.js --bundle-output windows/SampleAppCpp/Bundle/index.windows.bundle --assets-dest windows/SampleAppCpp/Bundle`
2. try `react-native run-w

[2020-01-25 06:17] licanhua commented on #3864
You may also set breakpoint on functions start with `InstanceImpl::loadBundle`, and check the port, path, exceptions, and output in VS.

[2020-01-25 14:13] licanhua commented on #3946
I guess you didn't install v141(or possible SDK 10.0.18362.0), please check [system-requirements](https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/GettingStarted.md#system-requirements).

Your logs are not enough for troubleshooting, please provide logs of `react-native run-windows --logging`.
If you see `error MSB8036: The Windows SDK version 10.0.18362.0 was not found.`,

[2020-01-26 18:10] NickGerleman opened #3962 "Inventory of Forked/Copied Code from Other Libraries"
We should consider moving these to some package import scheme when time permits. This is especially true for Facebook code, which we need to keep in sync. Having large source copies has also historically encouraged local changes that are not pushed back.

- JSI Unit Tests (@hansenyy)
  - Are these published right now?
- IntegrationTest and RNTester Javascript (@NickGerleman and @ddalp)
  - https:/

[2020-01-27 16:07] promontis opened #3963 "'Question: gradually migrating from a WPF app'"
Hi there!

I was wondering if it is possible to gradually migrate from a WPF to React Native Windows? To be more precise, I would like to either:

1. Load newly build React Native Windows components (or whole 'modules') in the existing WPF app, and gradually migrate each existing WPF component to its equivalent in React Native Windows.

2. The other way around... load parts of the existing WPF app

[2020-01-27 18:32] chrisglein commented on #3960
Related to #3476

[2020-01-27 19:02] hansenyy commented on #3962
The JSI unit tests are now published under ReactCommon\jsi\jsi\test\testlib.h and cpp. I have been wanting to remove JsiRuntimeUnitTests.h/cpp in favor of testlib.h, but have not gotten around to it.

[2020-01-27 21:00] #3791 closed

[2020-01-27 22:33] jagorrin commented on #3827
@chrisglein @licanhua Can you provide an update on this issue? Were you able to determine whether the callbacks were implemented or not?

[2020-01-27 22:45] chrisglein commented on #2874
Hey @mganandraj , it's been awhile since this statement and the issue is assigned to you. Can you capture where you are with this and what work remains?

[2020-01-27 23:31] asklar opened #3964 "Clean-up global maps and non POD objects"
We have a number of std::map / std::unordered_map that map std::string to other things which require dynamic initializers/atexit destructors and make DLL load slower and bloatier. We should remove these.

[2020-01-27 23:49] chrisglein commented on #3889
@NickGerleman Based on your comment above are you currently unblocked on this?
You assigned @JunielKatarn @licanhua and @acoates-ms and yourself to this. Is anyone actively looking at this?

[2020-01-28 00:51] chrisglein opened #3966 "Updated GlphExample page to use a non-inbox font"
seguiemj.ttf
Introduced with this PR: https://github.com/microsoft/react-native-windows/pull/2625
Then moved with this one: https://github.com/microsoft/react-native-windows/pull/2837

There's a copy of a system font, and we shouldn't need (and don't want) that copy of the Emoji font.

Instead maybe use an open source font like [Cascadia Code](https://github.com/microsoft/cascadia-code). And delet

[2020-01-28 00:55] chrisglein commented on #3827
@kaiguo Follow up with @licanhua about the state of this and see what action we need to take.

[2020-01-28 03:29] NickGerleman commented on #3889
@chrisglein this isn't blocking anything, but does mean we currently lack some CI coverage we claim to have, and prevents adding back separate coverage that was accidentally removed recently, which would have prevented a bug.

I originally just added those who I know had context on the problem as assignees, but I don't think anyone is actively looking at this.

[2020-01-28 06:45] kmelmon opened #3968 "Copy IntegrationTests from react-native"
React Native does not yet publish `IntegrationTests` to their NPM package. Until they do, we need to keep our own copy.

[2020-01-28 06:46] #3968 closed

[2020-01-28 16:22] #3604 closed

[2020-01-28 22:41] ddalp opened #3975 "Crash in CLI created app starting from 0.60.0-vnext.127"
Does not repro on vnext.126

Most likely caused by this latest commit: https://github.com/microsoft/react-native-windows/commit/b66b32813dbf25e6bf201d9b35f5833eca3588a4

"array subscript out of range"

 	Microsoft.ReactNative.dll!YGNode::getTrailingBorder(const YGFlexDirection flexDirection) Line 466	C++
 	Microsoft.ReactNative.dll!YGNode::getTrailingPaddingAndBorder(const YGFlexDirection axis, co

[2020-01-28 22:43] acoates-ms commented on #3975
I think this is what the ENUM_BITFIELDS_NOT_SUPPORTED define was for.  Its part of folly.

[2020-01-28 22:52] NickGerleman commented on #3975
@acoates-ms ENUM_BITFIELDS_NOT_SUPPORTED doesn't seem to be in folly, but we do use it in microsoft/react-native.

I would expect we still define the definition though, given the only code that checks it should define it if it sees MSVC. The upstream fix for this made it into 0.60.2, so I think we should be fine when using upstream.
[code]

[2020-01-28 23:02] NickGerleman commented on #3895
@chrisglein I seem to run into the same issue using npm instructions. Is there a known good lockfile we could diff mine to?

[2020-01-29 21:47] melvsparks opened #3982 "Focus cannot be set on a Picker"
# Proposal: Allow focus to be set on a Picker

## Summary
Add a public focus method to the component that allows focus to be set to a picker

## Motivation
In Universal calendar accessibility, we need to be able to set focus to the reminder picker to allow the user to navigate (using tab and shift+tab) to the picker.

All main components should allow focus to be programitically set.

[2020-01-29 22:11] NickGerleman opened #3984 "Address NativeOrDynamicColor Changes When PlatformColor Available"
react-native-win32 changes color types to not always be integers. We end up adjusting a lot of code to account for this, We should use PlatformColor instead once its Available.

[2020-01-29 23:38] stmoy commented on #2102
Document now has C++ View Manager example. https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/ViewManagers.md#sample-viewmanager-c-1

Closing.

[2020-01-29 23:38] #2102 closed

[2020-01-30 00:00] chrisglein opened #3988 "Debugger UI "the standalone version of React Developer Tools" link is broken"
### Environment

[code]

Then, specify:
- Target Platform Version(s): Dunno
- Target Device(s): Desktop
- Visual Studio Version: 2019
- Build Configuration: Debug

This url for "the standalone version of React Developer Tools" 404's: https://github.com/facebook/react-devtools/tree/master/packages/react-devtools

### Steps to Reproduce

1. Launch app
2. Bring up debugger page in Chrome
3. Try to cl

[2020-01-30 00:51] NickGerleman opened #3990 "Remove NativeOrDynamicColor Related Patches When PlatformColor is Available"
These are replicated for both win32 and windows right now (but might diverge further). These will be superseded by https://github.com/react-native-community/discussions-and-proposals/issues/126.

[2020-01-30 02:00] #2827 closed

[2020-01-30 02:00] #2782 closed

[2020-01-30 02:00] #2196 closed

[2020-01-30 02:00] #2033 closed

[2020-01-30 02:00] #2021 closed

[2020-01-30 02:00] #1980 closed

[2020-01-30 04:59] juhasuni commented on #3884
It was fairly easy to get the React Navigation 5.x up and running with the `current` version of `react-navigation-windows`. I expect it works the same with `next`. The upcoming `5.x` version has removed the `react-native-reanimated` dependency and the native navigation support (aka UIViewController on iOS) is also optional. We had to make some code changes, like remove `StackArea*` components from

[2020-01-30 06:04] NickGerleman opened #3994 "Upstream Yoga Measurement Patches"
We patched Yoga to change measurement behavior with https://github.com/microsoft/react-native/pull/100. This requires us to maintain a separate copy of Yoga in react-native-windows. We should upstream our patch into facebook/react-native.

@acoates-ms was of the opinion we may want to put the change behind a preprocessor definition we would enable in RNW to avoid changing iOS/Android behavior.

[2020-01-30 07:04] NickGerleman opened #3995 "Remove flow-check suppression of NativeOrDynamicColorType.js"
This file exists in microsoft/react-native, and is likely used by Mac. We added a local patch for when using upstream facebook/react-native, but this breaks flow-check since we see duplicate modules. We should remove this supression once we're upstream as it will no longer be needed.

[2020-01-30 07:08] NickGerleman commented on #3995
See https://github.com/microsoft/react-native-windows/pull/3985

[2020-01-30 07:50] #3975 closed

[2020-01-30 09:38] namrog84 commented on #3884
@juhasuni  I don't see any 5.x stuff anywhere, can you link what you are referring to?  Thanks!

[2020-01-30 12:42] Veskump commented on #3884
@namrog84 He is referring to https://github.com/react-navigation/navigation-ex which contains React Navigation 5.

[2020-01-30 15:55] tbandrowsky commented on #3895
Just as an FYI, the instructions should be followed by running a command line console in administrative mode.  That fixes a lot.

[2020-01-30 17:26] feechin commented on #2095
I am looking to incorporate a video player in my app.  So far linking react-native-video still generates an error.  Does anyone know how to embed and play a video with the current vnext release?  Or point me to a sample react native windows app that has video embedded in it?  Thanks.

[2020-01-30 17:49] ddalp commented on #2095
@feechin Our current plan is to release a Video native module soon after MVP release.

[2020-01-30 19:07] chrisglein commented on #3960
If instead we were shipping the dll instead of the source could we avoid these build issues? At least for the general case (could have source for those who need it).

[2020-01-30 19:11] chrisglein commented on #3966
@kmelmon Can you get the contact on this?

[2020-01-30 19:17] chrisglein commented on #3982
The infrastructure is there to have all views support this, but there may be issues preventing it from working for anything other than View or TextInput. Seems like there's per-component work.

This component is planned to move out via #3036. That will mean that we'll also need to support this in the community module on Windows but not on Android, for example. So there's some design work here.

[2020-01-30 19:20] chrisglein commented on #3988
Probably this is set up by Metro and might be fixed by a more current version. Let's check with the update to 61?

[2020-01-30 19:30] chrisglein commented on #3862
If we can't figure this out quickly let's update the steps to require yarn.
@kikisaints as an FYI for that

[2020-01-30 21:00] #3819 closed

[2020-01-31 00:58] kmelmon opened #4002 "Make DeviceInfo XAML-Islands-friendly"
DeviceInfo has code in it that is specific to CoreWindow (for the window bounds) and DisplayInformation (for the DPI).  The module feeds this data into Dimensions which reports the window size & scale factor to apps.  Neither of these will return the correct answer in a multi-window or multimon scenario.  This comes up both for XAML Islands as well as other future-looking scenarios such as the new

[2020-01-31 01:16] #3862 closed

[2020-01-31 01:35] chrisglein commented on #3963
There's a sample (and blog) that covers the scenario of hosting RN content inside a WPF app: https://github.com/microsoft/react-native-windows-samples/tree/master/samples/TodosFeed

Hopefully that has enough info to get you started!

[2020-01-31 01:35] #3963 closed

[2020-01-31 02:06] chrisglein commented on #3460
Comment from @marlenecota:

Given presence of workaround, moving this to M5.

[2020-01-31 03:29] ddalp commented on #3924
Fixed.

[2020-01-31 03:29] #3924 closed

[2020-01-31 03:58] kmelmon opened #4004 "Investigate PGO for rnw binaries"
PGO/BBT is a technology that optimizes binaries in multiple ways.  This task is tracking doing an investigation to see what it would take to PGO the RN binaries.

[2020-01-31 05:38] NickGerleman commented on #3895
Closing since this is a dupe of #3862

@tbandrowsky have you had issues following the instructions using a non-administrator command prompt? I don't think that's something we intend to require.

[2020-01-31 05:38] #3895 closed

[2020-01-31 09:17] NickGerleman opened #4007 "Investigate Reenabling Integration Tests"
The Microsoft fork of React Native commented out several integration tests in `IntegrationTestsApp.js`. We should investigate if we can enable some of them on Windows to increase test coverage a bit.

[2020-01-31 14:52] tbandrowsky commented on #3895
Hey Nick.  Looks to me like there's two cases.  One is, it's moving some md files to projects for the benefit of React Native.  That may be a consequence of only having Visual Studio 2019 although I do have earlier build tools installed. The other is, when it goes to actually deploy the application to my Windows desktop.  I have developer mode on but for some reason when I do react-native run-wind

[2020-01-31 22:19] acoates-ms commented on #2842
At this point we are going to be switching to shipping a dll before this work happens.

[2020-01-31 22:19] #2842 closed

[2020-02-01 02:19] felixding commented on #3946
Okay. I don't know which part was missing but I re-installed everything. Now it is ` error MSB4019: The imported project "C:\Pr ogram Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Microsoft\VC\v150\Microsoft.Cpp.Default.props" was not found.`

Why is it referencing VS Enterprise? Never have it installed.

<img width="900" alt="rn1" src="https://user-images.githubusercontent.com/11145

[2020-02-01 03:14] NickGerleman opened #4014 "RNTester Example Text is Invisible When Windows Using Dark Theme"
Steps to repro:
1. Build playground project
2. Launch and load RNTester bundle
3. Go to ActivityIndicator page

Windows Light theme:
![image](https://user-images.githubusercontent.com/835219/73586092-86a79b80-445d-11ea-9395-8e46aa8f6e41.png)

Windows Dark theme:
![image](https://user-images.githubusercontent.com/835219/73586100-a5a62d80-445d-11ea-8e8a-4141d09b39d9.png)

[2020-02-01 05:24] felixding commented on #3946
I manually updated `VCTargetsPath` in `./node_modules/react-native-windows/local-cli/runWindows/utils/msbuildtools.js` (the Enterprise path was hard-coded), and the previous issue was gone. Maybe it's related to https://github.com/microsoft/react-native-windows/issues/3430 ?

Unfortunately, now I have this:

<img width="900" alt="rn3" src="https://user-images.githubusercontent.com/111456/73587405-

[2020-02-03 04:23] chrisglein commented on #3593
@nasadigital @kmelmon Sounds like everything is wrapped up here? Safe to close this issue?

[2020-02-03 04:25] chrisglein commented on #3579
If it's going to take awhile to move out AsyncStorage we'll want to fix this first. The app experience is bad.

[2020-02-03 04:38] chrisglein commented on #3326
Our priority for animated vector graphics is to pursue lottie first via #3278. Both would be great, of course.

[2020-02-03 04:46] NickGerleman commented on #3579
IIRC the native module interface between legacy AsyncStorage and the community version is the same, except for module name where we would want to call it PlatformLocalStorage. I'm guessing current code would be mostly reused regardless? The next generation version of community AsyncStorage changes things, so I'm not sure if that would require rework.

[2020-02-03 04:48] chrisglein commented on #2748
It seems unlikely action is going to be taken as a result of this issue. Will need to enforce more strongly in code review and clean up bit by bit opportunistically.

[2020-02-03 04:48] #2748 closed

[2020-02-03 05:03] chrisglein commented on #2155
Consensus is that a community module is the right answer here. Either adding keyboarding support to an existing one, or creating a new one.

[2020-02-03 05:03] #2155 closed

[2020-02-03 14:00] NickGerleman commented on #4014
Reproes on 0.60.0-vnext.133
Reproes on 0.60.0-vnext.100 (Dec 19)

This does not appear to be a recent regression.

[2020-02-03 17:09] licanhua commented on #3982
Dup of #2683.

[2020-02-03 18:41] chrisglein commented on #4002
Related to #3567 .

[2020-02-03 18:42] chrisglein commented on #4002
May need to propose changes to the DeviceInfo shape in order to really handle this stuff.

[2020-02-03 18:43] chrisglein commented on #4004
Requires that we actually ship binaries first. But we definitely want to do this.

[2020-02-03 18:49] chrisglein commented on #4007
Some history here is that some of these tests were flaky. Probably an opportunity to communicate back to Facebook about those and see if they should be addressed/retired. We'd rather invest in E2E of RNTester.
The tests aren't currently published. This is currently an issue on the fork but could become an issue here if they are published (as has been proposed).

[2020-02-03 18:53] chrisglein commented on #4014
Either the app needs to respect light/dark theme using the new/current API. Or it needs to not let you change theme and choose one.

[2020-02-03 19:03] chrisglein commented on #3946
@felixding We just noticed that you're creating a project against version 0.59, and not our "vnext". If you're standing up a new project now the default should be "vnext", and in fact we're working to firm up transition and retire "vcurrent" any day now. Since your project is new please try the steps for "vnext" to get you set up on our latest infrastructure: https://github.com/microsoft/react-nat

[2020-02-03 19:45] #3593 closed

[2020-02-03 20:50] kmelmon opened #4018 "Move to 61 breaking change"
In RNTester, multiple test pages (FlatList, Transforms and others), assert is going off. in FrameworkElementViewManager::UpdateProperties()

      } else if (propertyName == "transform") {
        if (element.try_as<winrt::IUIElement10>()) // Works on 19H1+
        {
          if (propertyValue.isArray()) {
            assert(propertyValue.size() == 16);

Instead of sending in a raw 4x4 matrix as

[2020-02-03 20:51] kmelmon commented on #4018
Investigation notes:

transform bug:

Start here:

D:\rnw_61\vnext\Libraries\Renderer\implementations\ReactNativeRenderer-dev.js

in diffProperties()

      if (shouldUpdate) {
        var _nextValue =
          typeof attributeConfig.process === "function"
            ? attributeConfig.process(nextProp)
            : nextProp;
        (updatePayload || (updatePayload = {}))[propKey] = _nextValue;

[2020-02-03 20:53] kmelmon commented on #4018
The proposed fix for this is to fork ViewNativeComponent.js to never go down the __DEV__ code path as other forked Windows JS stuff doesn't support the ViewConfig created by this code path.

[2020-02-03 20:54] #4018 closed

[2020-02-03 23:50] stmoy commented on #2104
I believe there are two main thrusts behind this issue:

1. Native module authors who choose to add Windows support should be able to **publish** their modules using the same workflows that they use for iOS/Android
2. App developers targeting RN4W should have the same support for auto-linking that iOS/Android enjoy -- Micah's comment above

As filed, however, I think this issue is only focused on

[2020-02-04 01:37] chrisglein commented on #3424
Duplicate of #3846

[2020-02-04 01:37] #3424 closed

[2020-02-04 01:39] chrisglein opened #4019 "Switch to C++/WinRT -optimized"
Forked from #3807

[Switch to C++/WinRT -optimized.](https://github.com/microsoft/microsoft-ui-xaml/pull/1737)

C++/WinRT has a mode for generating the component projection called "Optimized". The big advantage here is that constructing objects and calling static methods of things that are in the same component can go to the implementation directly and avoid going through GetActivationFactory.

[2020-02-04 01:40] chrisglein commented on #3807
Forked out #4019, adjusting this issue to just cover "Enable C++/WinRT heap enforcement."

[2020-02-04 01:50] namrog84 opened #4020 "Add void support to Microsoft::ReactNative::ReactPromise"
Example scenario:

[code]
There isn't anything that is valid that can go in ??? when it is void

* `promise.Resolve()`
  * errors on "too few arguments in functon call"
* `promise.Resolve({})`
  * cannot convert initializer list to int &

However something like this does work
[code]

The workarounds are less than ideal. Such as using dummyValue, or changing from void to int or string.

I believe t

[2020-02-04 09:03] lewixlabs commented on #3476
Hi!
Any update for this issue?
I have 2 PCs, on which I installed from scratch VS 2019 with all tools needed (UWP development, c++, v141 msbuild tools, etc) and on both PCs I get error: "msbuild tools v141 not found". Only working (annoying) workaround is to install VS 2017 with same development environment (installing into VS 2017 only msbuild tools 2017 doesn't work).
If there is another workaro

[2020-02-04 09:06] qmatteoq commented on #3476
Hello @lewixlabs ,
did you install exactly the requirements listed [here](https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/GettingStarted.md)?

* [Visual Studio 2019](https://www.visualstudio.com/downloads) with the following options:
  * Workloads
    * Universal Windows Platform development
      * Enable the optional `C++ (v141) Universal Windows Platform tools`
    * De

[2020-02-04 09:11] lewixlabs commented on #3476
Hi Matteo,
I confirm I installed all requirements you listed.
Yesterday I tried also on a fresh virtual machine (Win10 Pro build 1903) and I got  the same issue.

[2020-02-04 09:14] lewixlabs commented on #3476
Maybe I'm wrong, but I remember I read RNW searches msbuild tools v141 using an hardcoded path.
Is this an old issue? Probably it has been fixed

[2020-02-04 14:08] vmoroz commented on #4020
Good point! I will fix it.

[2020-02-04 16:11] nasadigital commented on #2874
@chrisglein I reached out to @mganandraj and I will pick up this issue (if possible).

[2020-02-04 19:13] kikisaints commented on #3798
So it looks like we'll have two sets of getting started guidance:

- How to install the latest stable,
  `` react-native init <myproject> --version 0.61.5``
- How to get the beta of RNW
  `` react-native init <myproject> --0.61.0-beta.1`` ??

I'm a little unclear how a developer is supposed to get the stable version versus the latest beta version - can you write out the commands one would need to

[2020-02-04 19:17] acoates-ms commented on #3798
To use 61:
 `react-native init <myproject> --version ^0.61`
`react-native windows --template beta`  (this will just become `react-native windows` once we are out of beta)

To use 60:
 `react-native init <myproject> --version ^0.60`
`react-native windows`

I believe...

[2020-02-04 19:36] chrisglein opened #4025 "Update React Native for Windows to target RN 0.62"
Issue for move to 61 here: #3543

Creating an issue to track what we need to do to update to 62. Our goal is to get caught up and remain current, so we'll want to start investigating this and building infrastructure to improve our update process as soon as 61 support is complete.

[2020-02-04 19:36] sayzenberg opened #4026 "Images are mirrored in RTL mode"
### Environment

[code]

Target Device: Desktop
VS 2019
Repros in Debug and Release

### Steps to Reproduce

1. Create a View with an Image element in it
2. Set the preferred language in the OS to any RTL language (Arabic, for example)

### Expected Behavior
Layout elements should be mirrored in position, but Images should not be mirrored.

### Actual Behavior
Images are mirrored along with everyt

[2020-02-04 20:52] chrisglein opened #4027 "Add Windows support to expo-file-system"
https://docs.expo.io/versions/latest/sdk/filesystem/

Somewhat related to the need for these file system modules:
https://github.com/microsoft/react-native-windows/issues/2829
https://github.com/microsoft/react-native-windows/issues/2271

But by supporting this Expo module we of course unblock Windows scenarios in the excellent Expo toolchain.

[2020-02-04 22:58] kmelmon commented on #4004
We're not quite ready to talk about this publicly so I've left a trail of breadcrumbs on this internal share:  \\kmelmondev\public\PGO.msg

[2020-02-05 00:17] jonthysell opened #4031 "Universal ARM64 needs a 16299+ (RS3)"
PR #3903 added some ARM64 configurations, and added it in the CI loop, but did not
* Update the min version to 16299
* Add ARM64 configurations to every project
* Enable solution configurations to actually build all of the projects in ARM64

[2020-02-05 00:30] jonthysell opened #4032 "Move plugin CLI out of current/vnext into its own package"
Right now the plugin CLI is split between `local-cli` folders under `current` and `vnext`.

Eventually `current/` will go away, so we'll want the cli in it's own independent package under `packages`.

[2020-02-05 00:30] chrisglein opened #4033 "Releases should contain a description of the changes in that release"
Look at RNW's release changelog: https://github.com/microsoft/react-native-windows/releases

![image](https://user-images.githubusercontent.com/26607885/73799533-148bcb00-476b-11ea-993f-d533241e2d44.png)

Compare to RN's release changelog: https://github.com/facebook/react-native/releases/

![image](https://user-images.githubusercontent.com/26607885/73799458-ec03d100-476a-11ea-9b80-b7078bc06031.pn

[2020-02-05 00:53] chrisglein opened #4034 "Create plan to move/retire vCurrent"
With M4 we're firmly switching to the C++-based `vnext` as the default RNW implementation and officially end investment in the C#-based `current`. So... what happens to `current`?

The short answer is we need a plan.

Existing consumers of `current` need to keep working, and developers who need some feature that may work on `current` but not on `vnext` (yet) need a solution. But we don't need to s

[2020-02-05 00:55] chrisglein opened #4035 "Move CLI out of vCurrent"
The CLI is shared between `vnext` and `current`, but the code lives under `current`'s folders structure. As we want to retire `current` (see #4034), we'll want to extract the CLI to a more neutral location.

[2020-02-05 01:33] chrisglein opened #4037 "Build visual tree compare tests that iterate over RNTester pages"
@ddalp built out some visual tree comparison test infrastructure recently: #3754
We're going to use that more as we do new feature work, but we have a lot of test debt in everything we built before we had this or the general E2E test infrastructure. One thing we can do is take the existing content in RNTester and enumerate over it, grabbing a visual tree dump as we go. Even if it's just static (no

[2020-02-05 13:13] ejoebstl commented on #1393
What solved this issue for us was installing the app using `Add-ProvisionedAppPackage`.

In an elevated powershell:
[code]

Furthermore, using the `windows.aboveLockScreen` extension caused a crash as well. We found that by basically bisecting all of our app code and settings.

[2020-02-05 18:17] harinikmsft commented on #1393
@ejoebstl - thanks for the update. Are you sufficiently unblocked at this time? It does seem strange that this occurs only within a RN environment. Adding @chrisglein , @kmelmon  to see if they have any ideas and if this will likely be an issue even in the vnext implementation.

[2020-02-05 18:23] ejoebstl commented on #1393
Yes, thank you. It would be good to have a way to debug such issues more easily. I guess that's a UWP issue though.

[2020-02-05 23:33] jagorrin commented on #3796
This is working for me now as of 0.60.0-vnext.86. Thanks!

[2020-02-05 23:33] #3796 closed

[2020-02-05 23:35] jagorrin commented on #3827
@kaiguo Can you provide a status update on this issue?

[2020-02-05 23:51] kaiguo commented on #3827
This is the next item on my list, I'll start on this pretty soon hopefully : )

[2020-02-06 01:48] kmelmon opened #4042 "Upgrade to 61: View.accessibilityState API change"
In the upgrade to react-native 0.61, View got some new accessibility props:
accessibilityState, which will replace accessibilityStates.
accessibilityActions
onAccessibilityAction

For accessibilityState, see:
https://github.com/facebook/react-native/pull/24608

We'll need to add support for these new props in react-native-windows starting with 61

[2020-02-06 16:32] NickGerleman commented on #2077
This can also help with deforking work. We currently patch files internal to React Native to skip platform checks if the Native module isn't available. Providing this Native module could let us skip that. For now we haven't merged in updates for new paltform checking APIs that the rest of the world will likely use.

[2020-02-06 16:35] #3995 closed

[2020-02-06 16:37] NickGerleman commented on #3891
@JunielKatarn was this fixed with any of your recent OpenSSL work?

[2020-02-06 16:53] JunielKatarn commented on #3891
@NickGerleman it was most likely **introduced** by my recent OpenSSL work.

I'm working on another update due tomorrow. I'll take a look.

[2020-02-06 18:24] NickGerleman commented on #2077
We will also need to update Platform.wnidows.js and Platform.win32.js when this happens

[2020-02-06 18:54] brukberhane opened #4044 "react-navigation-stack causes errors when imported"
### Environment

 - `react-native` Version: 0.60.6
- `react-native-windows` Version: 0.60.0-vnext.136
- Target Platform Version(s): 18362
- Target Device(s): Desktop
- Visual Studio Version: Visual Studio 2019
- Build Configuration: Debug

### Steps to Reproduce

[code]

### Expected Behavior

I would expect to be able to use the createStackNavigator function without any hiccups maybe minus the he

[2020-02-06 19:06] harinikmsft commented on #4025
v62 is in RC and we may want to wait until it is stable before upgrading react-native-windows.

[2020-02-06 19:09] harinikmsft commented on #4026
We accomplish RTL layout in the yoga layout rather than using XAML's FlowDirection APIs. Fix here may involve doing something similar to what XAML does and unflip images.

[2020-02-06 19:10] harinikmsft commented on #4031
@JunielKatarn - can you take a look at this?

[2020-02-06 19:11] NickGerleman commented on #4025
Copying from a thread offline, with some context. In addition to what's mentioned below, we have hacks around Native modules like PlatformConstants that we should address to make our lives easier.

-----

We should timebox some effort after the 0.61 to focus on making future merges less painful. Part of this is tooling, but I want to really start thinking about how we can restructure things in bot

[2020-02-06 19:13] harinikmsft commented on #4035
Dupe of #4032

[2020-02-06 19:13] #4035 closed

[2020-02-06 19:18] harinikmsft commented on #4044
@stmoy - can you check on the priority of this community module? It appears that this is a JS module and may have some bugs with the windows side of things. Will need to understand how high pri this is before funding it.

[2020-02-06 20:47] JunielKatarn commented on #4031
@harinikmsft Hi. I don't have enough context to validate these scenarios, plus I'm currently working on the OpenSSL upgrade for Desktop.

Can this be assigned to someone else?
For context, I got involved with `ARM64` because I happened to have an experimental branch, and an external team asked to accelerate its delivery.

[2020-02-06 21:00] #3883 closed

[2020-02-06 21:44] vmoroz commented on #4020
Fixed by https://github.com/microsoft/react-native-windows/pull/4041

[2020-02-06 21:44] #4020 closed

[2020-02-06 21:46] vmoroz commented on #4019
As far as I know the Microsoft.ReactNative and Sample projects use the C++/WinRT -optimized flag for some time already. I this bug about some other projects?

[2020-02-06 22:00] licanhua commented on #3827
It's possible related the merge of .60.
I just debugged with kai and the onFocus event is already sent from native to JS side. Still don't know why it's dropped finally

[2020-02-06 22:01] harinikmsft commented on #2796
@kikisaints - can you take a look at documenting this?

[2020-02-06 22:16] kikisaints commented on #2796
@harinikmsft can you defined documenting - do you mean put this up in the API section of our RNW website?

[2020-02-07 01:13] jonthysell commented on #4031
Well, we need to decide what we want to do:

1. Remove the ARM64 references since they don't work and might confuse customers into thinking we support something we don't.
2. Actually bump our min version to 16299 so we can support ARM64.
3. Only bump to 16299 for ARM64.

I think 1 is the easiest thing to do in the short term.

[2020-02-07 01:24] JunielKatarn commented on #4031
@jonthysell

`ARM64` was strongly requested. It apparently is critical for a  consuming team for performance reasons (they can't rely on CHPE). I would vote against `1`.
Solution `2`  sounds best to me, but I don't know if there is a requirement for older Windows 10 releases.
Solution `3` will surely work as a compromise. In short, I don't think we are  blocked. Just need to decide whether `16299`

[2020-02-07 02:55] aschultz commented on #3006
@chrisglein I'm working on popups and modals in my app right now, so I'd like to take a stab at a partial fix.

I'm thinking of adding a ContentControl as the first child of the Popup and auto-focusing that when the Popup opens. That will steal focus rather than allowing tabbing in and out, but it seems better than no access at all.

[2020-02-07 03:31] NickGerleman commented on #3807
@vmoroz I closed this since I saw your PR was merged, but does this issue affect other projects than the template or Microsoft.ReactNative?

[2020-02-07 09:09] mtebenev opened #4046 "'Question: using async/await in native CS modules'"
Suppose the following use case:

I have a native CS module enumerating files using
UWP StorageFolder.GetItemsAsync();
The module method accepts a promise which I would like to resolve with the items information like this:
[code]

As a result I'm getting access violation at JSValueWriter.writeArgs()

![image](https://user-images.githubusercontent.com/3949381/74015723-31f6aa00-49a2-11ea-98ea-cb565be

[2020-02-07 13:19] NickGerleman commented on #4046
@vmoroz

[2020-02-07 14:41] lewixlabs commented on #3462
Yeah, waiting for webview (based on react-native-webview https://github.com/react-native-community/react-native-webview/issues/1191) supported on vNext! 👍

[2020-02-07 17:42] ddalp opened #4047 "##### Investigate Why RNTester Separators Don't Consistently Render After Upgrade When Using Non-Integer DPI Scale Factor"
This happens after moving the world to the 0.61 version of RNTester on my Surface book at 150% DPI I think. I didn't notice this happening when using the 0.60 version of RNTester on 0.61. It does not happen on my dev box.

**0.59-stable**
![image](https://user-images.githubusercontent.com/835219/73795106-b1943700-475e-11ea-9622-b0bbb507eea6.png)

**0.61**
![image](https://user-images.githubusercon

[2020-02-07 18:52] NickGerleman opened #4049 "Consider Extracting Custom View Props into ViewWindows and ViewWin32"
We currently add extra properties to View in React Native. This requires a lot of patching, and was a source of multiple issues for the 0.61 upgrade. react-native-win32 solves some of this by providing ViewWin32, which exposes Win32 specific APIs. We should consider the implications of moving platform specific View Props to platform specific views. This would be a breaking change with large implic

[2020-02-07 18:55] NickGerleman commented on #4047
If we could fix this in Native instead of forking that would be ideal. If we have an ultimate goal of only having Win unique code at encapsulated boundaries, we need to have a plan on how to remove any forked change we make.

[2020-02-07 18:59] NickGerleman opened #4050 "Add Upstream Support for Lack of PixelRatio"
The `PixelRatio` API is dangerous to use outside of cases where DPI is consistent throughout a system. react-native-win32 intentionally does not correctly implement its functions. We need to patch React Native to get around this. E.g. changing how we calculate `hairlineWidth` in `StyleSheet.win32.js`.

We should add upstream support for having this API optionally present.

[2020-02-07 19:03] NickGerleman opened #4051 "Remove Patches to Native Instance Management Code"
We currently change native code around `Instance`, `JSExecutor`, `NativeToJSBridge` to offer different APIs than stock React Native. It feels like we don't need most of these and could instead have different code in RNW to use the original APIs. We should remove these changes so we don't need to continually bring patches along when upgrading.

[2020-02-07 19:08] NickGerleman opened #4052 "Move Patch-Style JS Overrides to a Diff Based Representation With Integrity Checks"
We currently replace a lot of the JS used in React Native with custom versions.  Many of these are making small patch style changes to existing code. Doing this makes it easy to change the API surface more than it already is, and makes it harder to reason about what has actually changed.

Move to a diff based representation, and have the JS build use these diffs to reconstruct the right files. We

[2020-02-07 19:10] NickGerleman opened #4053 "Use Facebook Copy of JSI Unit Tests"
We currently use copied code to run unit tests against our JSI runtimes. These tests are published already, but we need to change native build logic to use this version. @hansenyy might do this eventually.

[2020-02-07 19:11] NickGerleman opened #4054 "Use Facebook Copies of IntegrationTests and RNTester When Published"
We currently have source copies of these since Facebook doesn't yet publish them. We should used the published versions once available. Getting them published is tracked with. https://github.com/react-native-community/discussions-and-proposals/issues/187

[2020-02-07 19:15] NickGerleman opened #4055 "Separate Windows Specific Concepts From Stock RNTester Pages"
We currently add some Windows-specific concepts like tooltips to existing stock RNTester pages. We should allow testing these Windows specific concepts in their own examples, but it's not worth forking existing pages to make them more Windows-like.

[2020-02-07 19:18] NickGerleman opened #4056 "Make Upstream Changes to Allow Reuse of Stock RNTesterList Shared Examples"
Facebook currently has per-platform lists of RNTester examples. These will get updated in unison upstream, but needs to be integrated when we take it in. We should try to build a way to better encapsulate and reuse their shared list of examples. E.g. putting common examples in shared file we could use, or making RNTesterList more pluggable.

[2020-02-07 19:29] NickGerleman opened #4057 "Consider Upstream Changes To Make API Surface Stubs Less Invasive"
The React Native API surface, as defined by `react-native-implementation.js` provides platform specific APIs like `ProgressBarAndroid`. This is reasonable and potentially necessary, since it allows shared code between platforms to avoid bundle issues. E.g.

[code]

The current structure ends up necessitating quite a few stub files though, both for us and Facebook. This is more painful being out of

[2020-02-07 19:33] NickGerleman opened #4058 "Migrate Typecript Overrides to Use Flow"
Facebook Code in React Native all uses Flow. This prevents our Typescript based overrides from getting accurate typing information. We should explore mechanically changing our Typescript overrides to flow, to build more resilience to changes in Facebook APIs.

We will want to change directory structure to separate out patch-style overrides vs those completely custom. Since we currently rely a bit

[2020-02-07 21:00] #3898 closed

[2020-02-07 21:34] smcardle opened #4059 "warn The following packages use deprecated "rnpm" config that will stop working from next release: - react-native-windows: https://npmjs.com/package/react-native-windows Please notify their maintainers about it. You can find more details at https://github.com/react-native-community/cli/blob/master/docs/configuration.md#migration-guide."

[2020-02-07 22:15] acoates-ms commented on #4059
Please provide more information about what version of react-native-windows you are using?
I believe this is fixed on the latest versions of react-native-windows.

[2020-02-07 22:20] smcardle commented on #4059
I was using whichever one is installed by default using

yarn add react-native-windows

I believe the version in my package.json reported a legacy version.
However, I have removed the dependency for the moment because I could not run my app.

I am using React "16.9.0" and react-native "0.61.5" and my project is typescript if that helps

[2020-02-07 22:33] jagorrin commented on #3783
I merged in a change that resolves this issue, so I am closing it.

[2020-02-07 22:33] #3783 closed

[2020-02-07 23:18] NickGerleman commented on #4059
Would you be able to give us the version of `react-native-windows` specifically?

As a heads up, we do not yet support React Native 0.61 (though this will change soon!). We currently require installation of 0.60.6, which is mentioned early in the Getting Started guide.

[2020-02-07 23:21] NickGerleman commented on #4059
Actually, I'm not sure you'll have `react-native-windows` yet if the CLI fails this early. What version of `rnpm-plugin-windows` do you have?

[2020-02-07 23:47] jagorrin opened #4060 "Scroll indicators shown when not required"
### Environment

If you are using latest version:
1. `react-native -v`: 0.60.6
2. `react-native run-windows --info`:
  System:
    OS: Windows 10 10.0.18363
    CPU: (12) x64 Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz
    Memory: 18.01 GB / 31.84 GB
  Binaries:
    Node: 10.15.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.21.1 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.13.7 - C:\Progra

[2020-02-08 00:00] jagorrin commented on #4060
Opened a PR for this fix above.

[2020-02-08 01:15] NickGerleman opened #4062 "Support for Fast Reload (React Refresh)"
We commented out the usage of `require('./setUpReactRefresh');`. This is supposed to be required for live reload. We should figure out the right thing to do here. @ddalp do you have any more context on the issue when you made the change?

[2020-02-08 01:15] NickGerleman commented on #4062
This may or may not break something.

[2020-02-08 01:28] smcardle commented on #4059
I am using react-native-opencv3 which has a dependency on react-native-fs which in turn has a dependency on react-native-windows.

As I said, I can't remember the exact version of react-native-windows as I have no requirement for it and am not using it directly.

I posted this as a heads up to you guys and I've spent enough time on this.

As a result of this I am no longer using the react-native-o

[2020-02-08 01:28] NickGerleman opened #4063 "Run IntegrationTests on Debug Builds Instead of Release"
Andrew Coates brought up that we will currently miss out on asserts, since we opt to run integration tests in debug mode for CI instead of release. We should switch this, and fix any new issues that pop up.

[2020-02-09 17:39] lukago commented on #2460
is react-native-windows at all development ready? Axios is a standrad library that is present in most react projects and here it is not supported here since almost one year. Is there a way to overcome this bug before this issue is closed?

[2020-02-10 09:09] NickGerleman opened #4066 "Investigate What Components Could Be Divided into Platform Layers Upstream"
Many of the Javascript implementations of our components are direct copies of iOS or Android components with minor changes. These changes don't happen at an encapsulated boundary, making it easy for upstream changes to break us.

In cases where we currently do this, we should consider making an upstream change to create this boundary. E.g. if we have `Widget.windows.js` which is a near copy of `Wi

[2020-02-10 09:28] NickGerleman opened #4067 "Investigate CI Enforced "Override Manifest""
Adding Windows specific overrides to our JS is inevitable. Each override is a debt however, increasing our fragility and upgrade cost. While some of our overrides are for encapsulated platform-specific behavior, most should be removed or upstreamed. This has not always been on engineers minds. We need to hold ourselves accountable and ensure we have a plan to upstream or remove our changes.

One (

[2020-02-10 17:55] stmoy commented on #2824
We're working with Facebook, Expo, and the community to help surface this information as part of https://github.com/react-native-community/discussions-and-proposals/issues/190

[2020-02-10 19:14] YuliKl commented on #2460
@marlenecota looks like Axios is a fundamental module and we should fix this sooner rather than later.

[2020-02-10 19:18] YuliKl commented on #4031
Let's investigate this option. @jonthysell can you ping Jared about their status for this?

[2020-02-10 19:40] acoates-ms commented on #4059
Looks like react-native-fs has a peerDependency of react-native-windows@^0.57.2.

We'll need to update that when we get to updating that module to support vnext of RNW.  In the meantime, @smcardle, if you are not using react-native-windows, you should probably leave that peerDependency unmet, and not install it locally.

#2829 is already tracking react-native-fs work, so hopefully this will be cov

[2020-02-10 19:41] #4059 closed

[2020-02-10 20:44] vmoroz commented on #4046
It must be working. I suspect it could be related to the issue with RNW that I fixed in https://github.com/microsoft/react-native-windows/pull/4045 . Before that change we were effectively creating writer on the call stack and it would crash in any async scenario. I will create a unit test to verify the async scenarios and see if code actually works now.

[2020-02-10 21:33] stmoy commented on #4044
It looks like this is part of react-navigation, which is tracked here: https://github.com/microsoft/react-native-windows/issues/2546

This task is currently on the backlog and isn't actively funded right now, but has come up several times.

[2020-02-10 21:37] kaiguo commented on #3553
@Tatious I feel the current behavior is what I would expect. If you set a fixed height, the height should be fixed. `minHeight` is probably more appropriate for this auto expand scenario, and I just did some quick tests on that, it should be working as expected.

[2020-02-10 21:37] #3553 closed

[2020-02-10 22:37] NickGerleman opened #4070 "Use Consistent C++ Commenting Styles"
We do not use a standard commenting format within React Native Windows. Examples:

Javadoc style Doxygen
[code]

XMLDoc
[code]

XMLDoc Style Doxygen
[code]

Another Doxygen style
[code]

Plain comments
[code]

We should pick one and use it everywhere.

[2020-02-11 00:22] stmoy commented on #3639
Handing this back to @jonthysell who agreed to update these.

Meta question: how can we ensure that our samples are always up-to-date?

[2020-02-11 01:18] kmelmon opened #4072 "Live Reload and Developer Menu don't work"
Recent regression in master.  Repro:
-Build/run the sample app out of packages\microsoft-reactnative-sampleapps
-Launch  => app launches correctly
-Hit Ctrl + Shift + D => nothing happens.  Developer Menu is supposed to appear
-Change your app code and save => nothing happens.  Live Reload is supposed to reload the app.

I debugged this with Jon - the new instance management code is not passing th

[2020-02-11 01:18] kmelmon commented on #4072
@vmoroz can you look into this?  Live Reload is a very important feature, so we should fix this asap.

[2020-02-11 01:40] felixding commented on #3946
@chrisglein

I started with the `current` version as the docs says `next` is for prototyping and still under development, so I got the idea that `current` is, well, the current stable version.

I had manually updated some hard-coded settings (e.g path to VS) in `node_modules` and eventually made the demo project work.

Next I'll try to switch to `next` for my real world Windows app. Thanks for the

[2020-02-11 01:40] #3946 closed

[2020-02-11 02:38] NickGerleman opened #4073 "PlatformConstants Cannot Determine Correct Patch and Prerelease Version"
`PlatformConstants` provides the capability for apps to check the React Native version. Since we're out of tree, this is determined by the package we use to build. Beyond what our dev dependency resolves to, we cannot guess the real version of what we're compiling with accuracy.

We could resolve this by having Facebook stamp their C++ code with version, as they do with ther iOS and Android native

[2020-02-11 09:29] #3984 closed

[2020-02-11 19:27] jagorrin opened #4077 "Scale animations not occurring from center of component (19H1+)"
### Environment

If you are using latest version:
1. `react-native -v`: 0.60.6
2. `react-native run-windows --info`:
  System:
    OS: Windows 10 10.0.18363
    CPU: (12) x64 Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz
    Memory: 18.01 GB / 31.84 GB
  Binaries:
    Node: 10.15.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.21.1 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.13.7 - C:\Progra

[2020-02-11 20:13] vmoroz commented on #4072
I will fix it today

[2020-02-11 21:59] jagorrin opened #4080 "TextInput's "clearButtonMode" does not seem to be implemented"
### Environment

If you are using latest version:
1. `react-native -v`: 0.60.6
2. `react-native run-windows --info`:
  System:
    OS: Windows 10 10.0.18363
    CPU: (12) x64 Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz
    Memory: 18.01 GB / 31.84 GB
  Binaries:
    Node: 10.15.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.21.1 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.13.7 - C:\Progra

[2020-02-11 23:19] jagorrin commented on #4077
Also, is there a workaround that can be used in the meantime until this is fixed?

[2020-02-11 23:28] kmelmon commented on #4047
In win32 this was fixed by tweaking the hairline value to something slightly larger.  If that won't work for UWP, we should consider changing the behavior to render 1 DIP rather than 1 pixel.  In XAML, we encourage customers to do everything in DIPs, so that might be the best choice.

[2020-02-11 23:31] NickGerleman commented on #4047
@kmelmon I think the tweak for win32 was because we didn't want to allow usage of instance global PixelRatio APIs in general. I.e. multiple root views means potentially mixed DPIs per instance.

That is something we should maybe consider for XAML, since it will run into the same theoretical issue. I have an item to look at adding upstream support for not using instance global pixelratio when platf

[2020-02-11 23:46] kmelmon opened #4081 "Adding windows to a project breaks Metro configuration for other platforms"
This is an issue for customers that are building apps that target more platforms than just Windows.

To repro:
-Create an app using the CLI (react-native init)
-Add Windows support to this project (by installing rnpm-plugin-windows and running react-native windows).

At this point the project will no longer work correctly for Android.

The problem here is that installing windows overwrites metro.c

[2020-02-11 23:59] kaiguo commented on #3827
Should be fixed by the PR above.

[2020-02-11 23:59] #3827 closed

[2020-02-12 02:10] NickGerleman commented on #3876
Reopening until we fix Alert. Should maybe be a separate issue?

[2020-02-12 02:31] kmelmon opened #4084 "RN 61 breaking API change: clickable => focusable"
In the upgrade to version 61, an API change was made in Touchables:
clickable prop was renamed to focusable

Although this is a change in stock RN, we should announce this breaking change to RNW customers.

[2020-02-12 02:33] kmelmon opened #4085 "New API in version 61: ScrollView.StickyHeaderComponent"
With the upgrade to react-native version 61, we got a new prop on ScrollView:
ScrollView.StickyHeaderComponent

From my read of the code it looks like you can supply your own child to manage the sticky headers rather than relying on the native platform to create one for you.

We will need to add support for this new API in react-native-windows.

[2020-02-12 02:35] kmelmon opened #4086 "Upgrade to 61: Update @types/react-native and @types/react"
When we did the upgrade to react-native version 61, we missed updating a couple dependencies:
    "@types/react-native": "~0.60.5",
    "@types/react": "16.8.15",
These should be updated to 61

[2020-02-12 02:39] kmelmon opened #4087 "Integration Tests: un-fork windesktop"
A couple integration test related cleanup tasks here:

1) The integration tests currently define a platform override called "windesktop".  This added a large number of .windesktop files to the repo.  This makes it difficult to do an upgrade as have to merge all the react-native JS files into the windesktop overrides.

2) The integration tests are currently building/running as part of the ReactWind

[2020-02-12 02:42] kmelmon opened #4088 "Upgrade to 61: Implement React Refresh"
When we upgraded to react-native version 61, we got a new feature called React Refresh.  This is the new version of Hot Reload.

We should add support for React Refresh in react-native-windows.

[2020-02-12 16:50] NickGerleman commented on #2077
We have a really basic implementation now, mostly just providing React Native version. What to do for OS Version needs some design, since it fights against the APIs exposed for universal contract checking right now.

[2020-02-12 17:07] vmoroz commented on #3797
Could someone check the official LCA open source guidelines before we start removing Facebook license from modified files.

[2020-02-12 18:03] #3805 closed

[2020-02-12 18:48] kmelmon opened #4091 "RNTester: Alert test page doesn't load"
Currently the Alert test page in RNTester is busted.

Splitting this bug out of:
https://github.com/microsoft/react-native-windows/issues/3876

[2020-02-12 18:49] kmelmon commented on #3876
Split this out into https://github.com/microsoft/react-native-windows/issues/4091

[2020-02-12 18:49] #3876 closed

[2020-02-12 19:22] NickGerleman commented on #3933
@kmelmon why did you close this one?

[2020-02-12 19:38] kmelmon commented on #3933
because I thought you had addressed it.  Maybe I mis-read the PR comment: "This is a quick regex replace. Addresses #3933 to remove "All rights reserved" and #3797 to replace the Facebook license banner." ?

[2020-02-12 19:39] NickGerleman commented on #3933
@kmelmon the PR was closed instead of merged, There were some concerns about replacing Facebook license headers that I think we need to follow up on so I abandoned it for now,

[2020-02-12 19:41] kmelmon commented on #3933
Sorry about that!  I reopened #3797 as well.

[2020-02-12 21:55] stmoy commented on #3462
In the meantime, if you're building a RN Windows app, you can get webview to work by doing the following:

Replace `import {WebView} from "react-native-webview"` to `import WebView from ‘react-native-windows/Libraries/Components/WebView/WebView`

[2020-02-12 22:13] vmoroz commented on #4072
Fixed by https://github.com/microsoft/react-native-windows/pull/4092

[2020-02-12 22:13] #4072 closed

[2020-02-12 22:34] jonthysell commented on #3639
Updated calculator: https://github.com/microsoft/react-native-windows-samples/pull/16

[2020-02-12 22:34] jonthysell commented on #3639
Updated nativemodules: https://github.com/microsoft/react-native-windows-samples/pull/17

[2020-02-12 22:39] kmelmon commented on #4052
Chris wants us to upgrade to 62 as soon as possible, so we should implement this soon.  @NickGerleman can you start thinking about a solution for this?

[2020-02-12 23:00] NickGerleman commented on #4052
@kmelmon does Chris have a firm timeline? There's some low-hanging fruit beyond this item that we should maybe take a look at before 0.62.

[2020-02-12 23:05] jonthysell commented on #3639
Not going to update the todosfeed samples, those are attached with a particular blog post.

[2020-02-12 23:05] #3639 closed

[2020-02-12 23:18] kmelmon commented on #4052
@NickGerleman Chris is on vacation until 2/24, but I do know he wanted to do the upgrade immediately.  Now, since react-native 0.62 is still in rc we would probably need to do this in our own rc branch, and I can see some advantage to doing things this way.  Thoughts?

[2020-02-12 23:30] NickGerleman commented on #4052
@kmelmon There are a few high impact items that I think could make sense. @acoates-ms had implied this upgrade may be nastier than the last, so upgrade-velocity efforts could pay off, and starting the upgrade could block other efforts for some time.

1. Diffs for patch style overrides (this item)
2. Tooling to make the upgrade easier, which ties into this
3. Removal of most of the native patches,

[2020-02-13 00:10] jagorrin opened #4094 "TextInput color does not obey alpha when using white"
### Environment

If you are using latest version:
1. `react-native -v`: 0.60.6
2. `react-native run-windows --info`:
  System:
    OS: Windows 10 10.0.18363
    CPU: (12) x64 Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz
    Memory: 18.01 GB / 31.84 GB
  Binaries:
    Node: 10.15.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.21.1 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.13.7 - C:\Progra

[2020-02-13 00:56] jagorrin commented on #4060
Closing since my fix was merged.

[2020-02-13 00:56] #4060 closed

[2020-02-13 01:33] JunielKatarn opened #4096 "Use `__cdecl` for x86 builds"
## Motivation

See https://docs.microsoft.com/en-us/cpp/cpp/calling-conventions?view=vs-2019
Some third party native dependencies (i.e. OpenSSL) expect to be built and run using `__cdecl`.
React Native Windows is currently built using `__stdcall` for legacy/historic reasons.
Changing the convention will help defork and unpatch some third party dependencies, removing one significant variable from t

[2020-02-13 01:54] xboxdavchi opened #4098 "Inverting Flatlist does not render properly"
"react-native@0.60.6"
"react-native-windows@0.60.0-vnext.133",
`node -v`: 10.15.0
`npm -v`: 6.4.1

- Target Platform Version(s): 10.0.18362.0
- Target Device(s): Desktop
- Visual Studio Version: VS 2017
- Build Configuration: Debug & Release

### Steps to Reproduce
1. Create a component that has a FlatList in it.
2. Set the inverted property to true

### Expected Behavior
Assuming a list of items

[2020-02-13 03:57] namrog84 commented on #3884
Since I feel like the RNW team is leaning towards officially backing Wix.

I present a counter point https://facebook.github.io/react-native/docs/navigation
"If you are getting started with navigation, you will probably want to use React Navigation"
I do believe that the RN team does officially recommend using react-navigation.

[2020-02-13 08:48] felixding opened #4099 "futureimpl.h : error C2220: warning treated as error - no 'object' file generatedDescribe the problem"
### Environment

If you are using latest version:
1. `react-native -v`:
[code]
2. `react-native run-windows --info`:
[code]

Then, specify:

- Target Platform Version(s): 10.0.18362

- Target Device(s): Desktop

- Visual Studio Version: Visual Studio 2019

- Build Configuration: Debug

### Steps to Reproduce

(Write your steps here:)

1. In my project folder, run `npm install -g react-native-cli`

[2020-02-13 13:23] NickGerleman commented on #4096
I'm sure you're aware, but there are implications here for Office using react-native-windows. I.e. we export functions that Office will expect to be __stdcall until we've moved to only using ABI safe/explicit types at the DLL boundary.

[2020-02-13 13:37] NickGerleman commented on #4099
Oh huh, looks like our build isn't resilient to a different locale.

We could add a BOM to the file or remove the character, but it might be better to just [tell MSVC to use UTF-8](https://docs.microsoft.com/en-us/cpp/build/reference/utf-8-set-source-and-executable-character-sets-to-utf-8?view=vs-2019). We don't want to silently break if someone adds an emoji to a unit test.

[2020-02-13 13:37] NickGerleman commented on #4099
I'll try to reproduce and fix this today with the mentioned system character set.

[2020-02-13 15:07] NickGerleman commented on #4058
From what I can tell, there may not be tooling to go from TS to Flow, only the other way around.

[2020-02-13 19:05] harinikmsft commented on #4044
Moving this to backlog and assigned to @stmoy to figure out the right navigation module we want to add contribution to. We can tackle this once we identify our next steps.

[2020-02-13 19:08] harinikmsft commented on #4062
Assigning to @chrisglein for now, this needs to be done sooner rather than later since Fast Reload is a star feature for v61. Will need to figure out resourcing.

[2020-02-13 19:12] harinikmsft commented on #4063
Related to #4007

[2020-02-13 19:15] harinikmsft commented on #4070
Per @kmelmon, plain comments is the style used in the Windows crew (for the most part). This feels like something we could resolve with an internal poll. I will start one in our local channel. Resolving this as it is not actionable here.

[2020-02-13 19:15] #4070 closed

[2020-02-13 19:19] harinikmsft commented on #4077
Per @kmelmon, The possible workaround would be for you to implement a transform origin yourself.  The idea would be to create a composite transform that has 3 components:  -translate * scale * translate, where translate is a translation transform.  The amount to translate would need to be computed based on the size of the component.  Others have done this in plain vanilla RN to achieve different t

[2020-02-13 19:23] harinikmsft commented on #4080
clearButtonMode is an iOS only prop which is likely why we didn't get to it so far. However, this is likely a supported prop in Windows/XAML and we should be able to plumb it through.

[2020-02-13 19:28] harinikmsft commented on #4084
@kikisaints - This would be good to add to the list of upgrade gotchas in the getting started guide.

[2020-02-13 20:21] kmelmon commented on #3671
0.61 beta has landed!

[2020-02-13 20:21] #3671 closed

[2020-02-13 20:22] #3543 closed

[2020-02-13 20:23] kmelmon commented on #3748
@jonthysell can you tackle this as part of the work you're doing to clean up the repo?

[2020-02-13 20:24] kmelmon commented on #4081
@jonthysell This is a super important issue that I don't have the cycles for.  Can you help drive this?  It's being discussed with facebook and the community here:
https://github.com/react-native-community/discussions-and-proposals/issues/182

[2020-02-13 21:00] #3937 closed

[2020-02-13 21:10] harinikmsft commented on #4088
Dupe of #4062

[2020-02-13 21:10] #4088 closed

[2020-02-13 21:19] harinikmsft commented on #4098
Assigning to @chrisglein to investigate and figure out the right person to fix this.

[2020-02-13 22:16] #4026 closed

[2020-02-13 23:27] JunielKatarn commented on #4096
That's exactly what my upcoming pull requests willl be about :)

[2020-02-14 01:22] NickGerleman commented on #4099
I believe this should be fixed in the newest beta version we're publishing. I wasn't able to reproduce the issue though, so I cannot 100% confirm the fix.

[2020-02-14 12:29] NickGerleman opened #4103 "Move Playground from ReactUwp to Microsoft.ReactNative"
Playground is the app we provide to run JS, like RNTester in a frame. (Think Rex, for Win32 folks).

Having this use ReactUwp causes us lost test coverage during manual validation (E.g. React upgrades). It can also provide a bad example to those looking at code. ReactUwp is undocumented, but not clearly deprecated.

[2020-02-14 13:26] NickGerleman commented on #3962
We have separate bugs for Yoga(#3994), JSI Unit tests(#4053), RNTester/IntegrationTests(#4054) and Instance Management(#4051). Going to close this bug in favor or them.

[2020-02-14 13:26] #3962 closed

[2020-02-14 13:36] NickGerleman commented on #3552
This should be cheap now that Vlad did the work to get GTest running. @tudorms it could be worth wiring this up with the V8 JSIExecutorFactory once integration goes further

[2020-02-14 13:40] NickGerleman commented on #4087
#2730 could make sense to pair with this

[2020-02-14 13:46] NickGerleman commented on #4099
The fix is in `react-native-windows@0.61.0-beta.7`. Please feel free to reopen the issue if we still see it in that build or later.

[2020-02-14 13:46] #4099 closed

[2020-02-14 13:50] NickGerleman commented on #2703
Closing this, since I can't see us investing any more effort into the Chakra JSI stack. Feel free to reopen if you disagree.

[2020-02-14 13:50] #2703 closed

[2020-02-14 13:52] NickGerleman commented on #3625
Closing this, since I can't see us investing any more effort into the Chakra JSI stack. Feel free to reopen if you disagree.

[2020-02-14 13:52] #3625 closed

[2020-02-14 13:55] NickGerleman commented on #2729
Closing this, since I can't see us investing any more effort into the Chakra JSI stack. Feel free to reopen if you disagree.

[2020-02-14 13:55] #2729 closed

[2020-02-14 13:57] NickGerleman commented on #3385
Closing since there's no active discussion. Feel free to reopen if this comes up again.

[2020-02-14 14:02] NickGerleman commented on #3183
Closing this, since we're planning on revamping how we do DLL distribution soon anyway. We can readdress if someone needs this.

[2020-02-14 14:02] #3183 closed

[2020-02-14 14:04] NickGerleman commented on #3024
Closing in favor of #4087 which tracks integration test improvements to support UWP and kill `.windesktop`.

[2020-02-14 14:04] #3024 closed

[2020-02-14 14:12] NickGerleman commented on #3183
Rather, revamping how we do distribution for anything using Microsoft.ReactNative. Not changing win32 Office but we are doing stamping correctly there.

[2020-02-14 14:15] NickGerleman commented on #3629
Closing in favor of #4031 which is tracking issues with ARM64.

[2020-02-14 14:15] #3629 closed

[2020-02-14 14:16] NickGerleman commented on #4031
Closing "#3629 Add ARM64 build configurations" in favor of this, and adding marking this P1 since the old bug was.

FYI @chrisglein @kmelmon

[2020-02-14 14:18] NickGerleman commented on #3646
Could be addressed with #4087

[2020-02-14 14:20] NickGerleman commented on #3891
@JunielKatarn could we please fix this soon? We've had this regression for about a month, and it affects developer experience around viewing warnings/errors and CI noise.

[2020-02-14 14:22] NickGerleman commented on #3052
Closing this since there hasn't been discussion and there isn't a concrete follow-up action. Feel free to reopen if you disagree.

[2020-02-14 14:22] #3052 closed

[2020-02-14 14:29] NickGerleman commented on #2351
@chrisglein @kmelmon @jonthysell we should close this one or #4087

[2020-02-14 14:30] NickGerleman commented on #2464
Did we do this one already?

[2020-02-14 14:33] NickGerleman commented on #2557
#4102 adding a XAML Islands Win32 playground app is relevant,

[2020-02-14 14:36] NickGerleman commented on #3354
To my understanding we're by-design not doing this for the current template. Exposing Microsoft.ReactNative as a boundary means consumers shouldn't need to know about internal React directories, compiler settings, etc.

Going to close this for now. @kmelmon  @acoates-ms @jonthysell please reopen if there is still an issue here.

[2020-02-14 14:36] #3354 closed

[2020-02-14 14:39] NickGerleman commented on #3188
We can do this once we're at 0.62. Adding Deforking label to track.

[2020-02-14 14:43] NickGerleman commented on #3495
This won't be an issue with Microsoft.ReactNative, and we don't expose ReactUwp publicly. Seems like we can close this?

[2020-02-14 15:01] acoates-ms commented on #2464
Yes this is done.

[2020-02-14 15:01] #2464 closed

[2020-02-14 16:18] harinikmsft commented on #3798
Updated - [guide](https://microsoft.github.io/react-native-windows/docs/getting-started). Closing on behalf of @kikisaints

[2020-02-14 16:18] #3798 closed

[2020-02-14 17:25] NickGerleman opened #4104 "Proposal: Tooling for the Future of Forked Files"
## Summary

While React Native Windows has moved off the microsoft/react-native fork, mechanisms still exist to modify upstream React Native code. Our C++ code is mostly clean of changes, but we still have significant changes to upstream JavaScript. These changes, and the mechanisms we use to apply them increase fragility and lead to slow merges. Some of our problems can be mitigated by investment

[2020-02-14 18:08] mtebenev commented on #4046
@vmoroz I confirm it's working in 0.61.0-beta.7

[2020-02-14 18:08] #4046 closed

[2020-02-14 18:17] namrog84 commented on #3354
It does look like the main issue I was filing against was solved when it was removed from the generator sln file

From this PR
https://github.com/microsoft/react-native-windows/commit/8afa0a2ba14dbcece63fe659d08dc9b6ced2caf8#diff-dce7d16e2f2d26251d7cab0737c0d110

[2020-02-14 20:00] NikoAri commented on #3385
So, the end result seems to:
Keep Microsoft naming convention everywhere except when interacting with existing Apis from Facebook?

[2020-02-14 20:04] alloy commented on #4104
Somewhat off-topic, but just want to mention the existence of https://github.com/ds300/patch-package, which is a fairly popular JS tool to patch packages in `node_modules` post-install. While your proposal needs more fine-grained features, it might still be a helpful resource or, if it can be built upon, it might improve the generic tooling available to the JS community as a whole.

[2020-02-14 20:56] JunielKatarn commented on #3385
Facebook being treated as a third-party dependency, I'd say yes.
GTest, boost and other dependencies will also have their own conventions, which we can't change and may be subject to change..
We should stick with ours.

[2020-02-15 01:41] #4086 closed

[2020-02-16 02:50] freistli opened #4110 "Support react-native-cameraroll"
# Support `Support react-native-cameraroll` on RNW vNext

## Basic Info
- Module Repo URL: [https://github.com/react-native-community/react-native-cameraroll](https://github.com/react-native-community/react-native-cameraroll)
- Target version: 0.61.5
- [ ] Issue exists on module repo (if so, [link]())

## Overview of Required Functionality
react-native-community/cameraroll works in 0.61.5 for IOS&

[2020-02-16 04:20] NickGerleman commented on #4110
@stmoy who is following community modules

[2020-02-16 15:39] billbarsch commented on #1172
Hello, what good offline DB options we have now in 2020 to use with react-native-windows and android too?
NeDB have this on github:
`Deprecated. When I started this project, there were no off-line storage options for react-native besides AsyncStorage. Today there are many better options, which receive PRs and have entire teams working on. For these reasons, this project is archived.`

[2020-02-18 13:58] giregk commented on #3096
I have the same issue. I performed the following steps (VS 2019)

1. right click solution -> manage NuGet Packages for Solution -> update Microsoft.NETCore.UniversalWindowsPlatform to 6.2.9 for all projects
2. Update target and min version for each project as @licanhua suggested
At that point, my project was broken. I had to :
3. right click solution -> Project dependencies -> reconfigure dependen

[2020-02-18 15:54] gillpeacegood opened #4210 "IDL Error with c++ project"
I've been trying to create a module by following the instructions, but I get an error processing my IDL file (see below):

[code]

[2020-02-18 20:53] kmelmon commented on #4104
Note that @jonthysell is going to help drive the resolution of https://github.com/react-native-community/discussions-and-proposals/issues/182, which is related - whatever solution we come up with will need to work with the tooling proposed here.

[2020-02-19 00:04] jagorrin opened #4117 "Scale animations are blurry"
### Environment

If you are using latest version:
1. `react-native -v`: 0.60.6
2. `react-native run-windows --info`:
  System:
    OS: Windows 10 10.0.18363
    CPU: (12) x64 Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz
    Memory: 18.01 GB / 31.84 GB
  Binaries:
    Node: 10.15.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.21.1 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.13.7 - C:\Progra

[2020-02-19 00:50] NickGerleman commented on #4073
We can fix this once we have this commit. https://github.com/facebook/react-native/pull/28036

[2020-02-19 05:37] YuliKl opened #4118 "Update Alert placement for dual-screen"
# Alert placement on dual-screen devices

## Summary

When open on a dual-screen device, Alert should position itself out of the way of the seam.

Because RN's Alert component calls native controls, the correct behavior may already be in place. We need to validate whether this is already the case and work with appropriate partner teams if not.

## Timeframe
This work needs to be completed by May.

[2020-02-19 05:53] YuliKl opened #4119 "Context menu behavior on dual-screen"
# Context menu behavior on dual-screen

## Summary

RN core does not include a context menu component. Need to investigate which popular modules exist for showing context menus and whether we can update these to position away from the seam.

## Motivation

Showing a context menu with a vertical or horizontal seam running through it disrupts the user experience. When an app is spanned on dual-scree

[2020-02-19 06:11] YuliKl opened #4120 "Update react-native-video for dual-screen"
# Update react-native-video for dual-screen

## Summary

With #2095 we're completing work to enable video playback. This module also needs to work correctly when used in a spanned app on a dual-screen device.

## Motivation

Typically, media playback components include a centered play button, and/or a full width playback scrubber. On dual-screen, these vital components may be split or occluded by

[2020-02-19 09:32] NickGerleman opened #4121 "react-cli Likely Currently Broken"
https://github.com/microsoft/react-native-windows/pull/4115 updated logic for consuming Folly sources in a way that doesn't likely work for react-cli with real published NPM packages. @junielkatarn to investigate.

I think the fix might be as simple as moving GitModules into the vnext directory and updating build logic to see that. Our publish task should package everything in that folder that's n

[2020-02-19 09:32] NickGerleman commented on #4121
Marking as p1 to match the severity of other issues we've had for react-cli being broken.

[2020-02-19 18:18] jonthysell opened #4122 "E2ETest failure: Padding doesn't work for Views on VS 2019, v142 tools, Release x64"
As part of PR #4101, the measureLayout E2E test is failing on the windows-2019 VM because the View's padding is not being applied.

I've confirmed that it repros on my 19H1+ machine, when building in VS 2019 and the v142 toolset.

We are patching Yoga.cpp in `vnext\DeforkingPatches\ReactCommon\yoga\yoga\Yoga.cpp` to add an extra measure call, apparently for the benefit of react-native-win32, but i

[2020-02-19 19:42] NickGerleman opened #4123 "Publish Pipeline is Broken After Folly GitModules Change"
See https://dev.azure.com/ms/react-native-windows/_build/results?buildId=63836&view=logs&j=c22495d2-20dd-59b1-3f1e-3b1cd7a00118&t=bcb833dc-05ce-5fc4-12fb-81f629833315&l=603

Broken with https://github.com/microsoft/react-native-windows/pull/4115

[2020-02-19 19:46] jonthysell commented on #4122
Making things even weirder, this only seems to happen with release bits, and since the E2eTest app is in C#, it's possible this is a .NetNative issue.

[2020-02-20 00:20] JunielKatarn commented on #4096
Reopening. Pending further investigation and planning.

[2020-02-20 01:11] JunielKatarn opened #4127 "Implement Windows API Desktop WebSocket module."
## Summary
Implement `Microsoft::React::IWebSocket` using plain Windows APIs as an alternative to the current `Boost/Beast` implementation.

## Motivation
- Current Desktop WebSocket implementation heavily relies on third party `boost` dependencies, and transitively on `OpenSSL. This adds a significant file size and memory footprint, plus makes dependency management more complex.

[2020-02-20 01:48] #3846 closed

[2020-02-20 05:33] jjgh opened #4132 "Misleading "^" character in getting started command lines"
Please remove the "^" character from the following lines:

`react-native init <project name> --version ^0.60.0`

`react-native init <project name> --version ^0.61.5`

at https://microsoft.github.io/react-native-windows/docs/getting-started.

Emphasizing something in a command line should not alter the command line.

[2020-02-20 09:52] jjgh commented on #3263
Same error here (Windows 10, Node v13.9.0):
[code]

[2020-02-20 12:53] jjgh opened #4134 "Error while executing command: react-native.cmd run-windows --proxy --no-packager"
react-native-cli: 2.0.1
react-native: 0.60.6

myapp@0.0.1 D:\dev\nodejs\myapp
`-- rnpm-plugin-windows@0.5.1-0

"react-native-windows" -> command not found

v13.9.0

6.13.7

1.22.0

- Target Platform: UWP
- Targeted framework version: UWP
- Target Platform Version(s): Windows 10
- Target Device(s): Desktop
- Development Operating System: Windows 10
- Visual Studio Version: Visual Studio 2017
- Buil

[2020-02-20 17:04] acoates-ms commented on #4134
It looks like you dont have react-native-windows in your project.  Did you run `react-native windows` to add the windows platform to your project?

[2020-02-20 19:05] harinikmsft commented on #4110
Keeping this in the backlog until @stmoy has evaluated the priority of this module.

[2020-02-20 19:11] harinikmsft commented on #4118
There is working happening in WinUI to ensure the ContentDialog native component in Windows will solve this in which case the RN component will get the fix for free. However, if this work is happening in WinUI3, this fix will not be available in the timeframe asked for above. @YuliKl to figure out the WinUI timeline for this.

[2020-02-20 19:15] harinikmsft commented on #4119
@YuliKl to ping Calendar team to see if there is a context menu component they are using and then bring this to an upcoming checkpoint review meeting.

[2020-02-20 19:23] harinikmsft commented on #4120
react-native-video is using native media player components under the covers. @YuliKl to figure out if the XAML native work to update media player component is happening in WinUI3. Also, would be good to play with the component on Neo/Duo and see what is broken.

[2020-02-20 19:28] harinikmsft commented on #4127
@JunielKatarn  - can you describe the nature of the changes here? Will this be on Win32 only or in the shared core?

[2020-02-20 19:43] robertev opened #4138 "[JS-only] Support <formik>"
#Support <formik> on RNW vNext
## Basic Info
https://github.com/jaredpalmer/formik
- Target version: ^2.0.6
- [ ] Issue exists on module repo (if so, [link]())
https://github.com/jaredpalmer/formik/issues/1278
## Overview of Required Functionality

[2020-02-20 19:45] robertev opened #4140 "Support <react-native-gesture-handler>"
# Support  react-native-gesture-handler on RNW vNext
## Basic Info
- Module Repo URL: https://github.com/software-mansion/react-native-gesture-handler
- Target version: NA
## Overview of Required Functionality
Navigation
Note: this is a dependency of React Native Navigation.  It may be possible for the windows implementation to stub this out to ignore calls; not sure – but it helps with swipe-to-n

[2020-02-20 19:48] robertev opened #4141 "[JS-only] Support <react-navigation>"
# Support react-navigation on RNW vNext
## Basic Info
- Module Repo URL: https://github.com/react-navigation/react-navigation
- Target version: ^4.0.7
## Overview of Required Functionality
Navigation

[2020-02-20 19:50] robertev opened #4142 "Support <react-native-maps>"
# Support react-native-maps on RNW vNext
## Basic Info
- Module Repo URL:  https://github.com/react-native-community/react-native-maps
- Target version: 0.26.1
- [ ] Issue exists on module repo (if so, [link]())
## Overview of Required Functionality
Maps functionality, Show map of lat long.
Note: removing JS only as apparently this does require native modules.
They are using Maps to display a push

[2020-02-20 19:52] robertev opened #4144 "[JS-only] Support <appcenter>"
# Support appcenter on RNW vNext

## Basic Info
- Module Repo URL: https://github.com/microsoft/appcenter-sdk-react-native
- Target version: ^2.6.1
- [ ] Issue exists on module repo (if so, [link]())

## Overview of Required Functionality
AppCenter integration

[2020-02-20 19:53] JunielKatarn commented on #4127
It is a Desktop-only change, yes.
It bumps up the supported version to give access to APIs required for upcoming features.

[2020-02-20 19:54] robertev opened #4145 "Support <appcenter-analytics>"
# Support appcenter-analytics on RNW vNext

## Basic Info
- Module Repo URL: https://github.com/microsoft/appcenter-sdk-react-native/tree/develop/appcenter-analytics
- Target version:
- [ ] Issue exists on module repo (if so, [link]())

## Overview of Required Functionality
Pure JS - no
AppCenter Analytics

Customer uses these all pretty heavily, but most especially the Push libraries.  They are s

[2020-02-20 19:55] robertev opened #4146 "Support <appcenter-crashes>"
# Support appcenter-crashes on RNW vNext

## Basic Info
- Module Repo URL: https://github.com/microsoft/appcenter-sdk-react-native/tree/develop/appcenter-crashes
- Target version: NA
- [ ] Issue exists on module repo (if so, [link]())

## Overview of Required Functionality
Analyze crashes
PureJS - no

[2020-02-20 19:57] robertev opened #4147 "Support <appcenter-push>"
# Support appcenter-push on RNW vNext

## Basic Info
- Module Repo URL: https://github.com/microsoft/appcenter-sdk-react-native/tree/develop/appcenter-push
- Target version:
- [ ] Issue exists on module repo (if so, [link]())

## Overview of Required Functionality
Push
PureJS - no

[2020-02-20 19:59] robertev opened #4148 "Support <react-native-azure-auth>"
# Support <react-native-azure-auth> on RNW vNext

## Basic Info
- Module Repo URL: https://github.com/vmurin/react-native-azure-auth
- Target version: ^1.1.4
- [ ] Issue exists on module repo (if so, [link]())

## Overview of Required Functionality
Vladimir   Murin
Auth
PureJS - no

[2020-02-20 20:00] robertev opened #4149 "Support <react-native-config>"
# Support react-native-config on RNW vNext

## Basic Info
- Module Repo URL: https://github.com/luggit/react-native-config
- Target version:
- [ ] Issue exists on module repo (if so, [link]())

## Overview of Required Functionality
Configuration
PureJS - no

They use this for their build (gradle) and for per-environment configurations (dotenv).  I’m a little surprised this has native dependencies.

[2020-02-20 20:02] robertev opened #4151 "Support <react-native-reanimated>"
# Support react-native-reanimated on RNW vNext

## Basic Info
- Module Repo URL: https://github.com/software-mansion/react-native-reanimated
- Target version: ^1.3.0
- [ ] Issue exists on module repo (if so, [link]())

## Overview of Required Functionality
React   Native's Animated library reimplemented
PureJS - no

Similar to Gesture Handler, this is dependency of React Native Navigation. I assum

[2020-02-20 20:04] robertev opened #4152 "Support <react-native-screens>"
# Support react-native-screens on RNW vNext

## Basic Info
- Module Repo URL: https://github.com/kmagiera/react-native-screens
- Target version: ^2.0.0-alpha.3
- [ ] Issue exists on module repo (if so, [link]()): https://github.com/software-mansion/react-native-gesture-handler/issues/676

## Overview of Required Functionality
kmagiera
Native   navigation primitives for React Native app.
PureJS - n

[2020-02-20 20:06] robertev opened #4153 "[JS-only] Support <react-native-snap-carousel>"
# Support react-native-snap-carousel on RNW vNext

## Basic Info
- Module Repo URL: https://github.com/archriss/react-native-snap-carousel
- Target version: ^3.8.4
- [ ] Issue exists on module repo (if so, [link]())
## Overview of Required Functionality
Swiper/carousel   component for React Native featuring previews, multiple layouts, parallax   images, performant handling of huge numbers of items

[2020-02-20 20:08] robertev opened #4154 "[JS-only] Support <prop-types>"
# Support prop-types on RNW vNext

## Basic Info
- Module Repo URL: https://github.com/facebook/prop-types
- Target version: ^15.7.2
- [ ] Issue exists on module repo (if so, [link]())

## Overview of Required Functionality
Runtime   type checking for React props and similar objects
PureJS - YES

[2020-02-20 20:29] KAnder425 opened #4155 "Support background colors on <Text> components"
# Proposal: Support background colors on \<Text\> components

## Summary
Both iOS and Android RN support the ability to set the background color of a \<Text\> element. Without this support in RNW, we have to resort to wrapping Text in Views in order to get the same effect. This approach quickly runs into complex Yoga/Flexbox layout issues that prevent its use in all but the most basic scenarios.

[2020-02-20 20:58] jjgh commented on #4134
@acoates-ms yes I did run `react-native windows` as I've followed all the steps from the getting started guide. Moreover the following command shows that react-native windows is installed:

[code]

[2020-02-20 21:18] ddalp commented on #3579
Fixed and will move the code to native module next.

[2020-02-20 21:18] #3579 closed

[2020-02-20 21:18] ddalp commented on #3392
Fixed and will move the code to native module next.

[2020-02-20 21:18] #3392 closed

[2020-02-20 21:21] robertev opened #4156 "Support <react-native-community/datetimepicker>"
# Support react-native-community/datetimepicker on RNW vNext

## Basic Info
- Module Repo URL: https://github.com/react-native-community/react-native-datetimepicker
- Target version: ^2.1.0
- [ ] Issue exists on module repo (if so, [link]())

## Overview of Required Functionality
React   Native date & time picker component for iOS and Android
PureJS - no

we use this for data entry in our forms –

[2020-02-20 21:35] ddalp opened #4157 "Need to support firing touch and keyboard events for Video when it is full screen"
This issue needs to be sovled in order to support react-native-video community module fully.
Issue is when MPE is in full screen mode, it is moved from its original place in the tree to under FullWindowMediaRoot.  Since RNW relies on listening PreviewKeyEvent and TouchEvent  on the react root element, it is no longer be able to get the events once MPE is in full window.  There are similar issues f

[2020-02-20 22:30] harinikmsft commented on #4138
JS-only might "just work". @stmoy can you investigate if there is any work needed to get this working in Windows?Also - would be good to understand the priority of the customer.

[2020-02-20 22:31] harinikmsft commented on #4141
Dupe of #3884

[2020-02-20 22:31] #4141 closed

[2020-02-20 22:36] harinikmsft commented on #4142
JS-only might "just work". @stmoy can you investigate if there is any work needed to get this working in Windows? Also - would be good to understand the priority of the customer.

[2020-02-20 22:47] harinikmsft commented on #4155
This is a good topic to discuss during an upcoming checkpoint review, I will queue it up.

The most elegant way to solve this may be to improve the XAML TextBlock to be able to take a background which will likely take a while (needs WinUI3+).

[2020-02-21 01:23] #3611 closed

[2020-02-21 01:49] NickGerleman commented on #4121
Closing, since this change was reverted

[2020-02-21 01:49] #4121 closed

[2020-02-21 01:49] NickGerleman commented on #4123
Closing since the change was reverted

[2020-02-21 01:49] #4123 closed

[2020-02-21 18:46] htpiv opened #4163 "Move AsyncStorageManagerWin32 to run on a background thread"
ASMW32 currently blocks on SQLite APIs completing, which may take a relatively long time (however long the disk IO takes). The implementation of ASM on Android & iOS do their disk IO asynchronously. We should make ASMW32 asynchronous for parity with those platforms.

[2020-02-21 18:48] htpiv commented on #4163
@ddalp as an FYI

[2020-02-21 20:02] robertev opened #4164 "[JS-only] Support react-native-picker-select"
# Support react-native-picker-select on RNW vNext

## Basic Info
- Module Repo URL: https://github.com/lawnstarter/react-native-picker-select
- Target version: ^6.3.3
- [ ] Issue exists on module repo (if so, [link]())

## Overview of Required Functionality
A Picker component for React Native which emulates the native select interfaces for iOS and Android

[2020-02-21 20:05] robertev opened #4165 "[JS-only] Support react-native-keyboard-aware-scroll-view"
# Support react-native-keyboard-aware-scroll-view on RNW vNext

## Basic Info
- Module Repo URL: https://github.com/APSL/react-native-keyboard-aware-scroll-view
- Target version: ^0.9.1
- [ ] Issue exists on module repo (if so, [link]())
## Overview of Required Functionality
A ScrollView component that handles keyboard appearance and automatically scrolls to focused TextInput.

[2020-02-21 20:08] robertev opened #4166 "[JS-only] Support react-native-gifted-chat"
# Support react-native-gifted-chat on RNW vNext

## Basic Info
- Module Repo URL: https://github.com/FaridSafi/react-native-gifted-chat
- Target version: ^0.11.3
- [ ] Issue exists on module repo (if so, [link]())

## Overview of Required Functionality
The most complete chat UI for React Native

[2020-02-21 22:01] aschultz opened #4167 "Left/right style properties are mishandled in RTL"
The GetThickness and GetCornerRadius functions in PropertyUtils.h are treating Left/Right as equivalent to Start/Stop. This is incorrect and does not align with other RN implementations, nor the CSS standards on web.

paddingLeft, for example, should always control the real-world left side of the control, regardless of any LTR/RTL settings. paddingStart, however, should flip from left to right in

[2020-02-22 01:05] NickGerleman commented on #3019
I just added some selective dependency resolutions to our main package.json to ensure we use old versions of some dependencies if we regen our lockfile. We should make sure to remove this when we upgrade.

Confirmed the hosted agent is still on WinAppDriver 1.1

[2020-02-24 16:38] widersky commented on #4134
I have the same problem on node v10.15.1 , npm v6.13.7, yarn v1.22.0

[2020-02-24 18:40] lamxdoan opened #4174 "Concurrency issue in NetworkingModule causes _STL_VERIFY to fail"
### Environment

If you are using latest version:
1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.60.6
2. `react-native run-windows --info`:
System:
    OS: Windows 10 10.0.18363
    CPU: (12) x64 Intel(R) Xeon(R) CPU E5-1650 v4 @ 3.60GHz
    Memory: 12.28 GB / 31.92 GB
  Binaries:
    Node: 11.3.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.16.0 - C:\Program Files (x86)\Yarn\bin\

[2020-02-24 18:40] lamxdoan commented on #4174
I have a fix for this that adds locking around m_requests map.

[2020-02-24 21:00] #3864 closed

[2020-02-24 22:55] kaiguo opened #4176 "Platform.Version undefined"
### Environment

If you are using latest version:
1. `react-native -v`: 0.61.5
2. `react-native run-windows --info`:
  System:
    OS: Windows 10 10.0.19569
    CPU: (8) x64 Intel(R) Core(TM) i7-7700K CPU @ 4.20GHz
    Memory: 16.73 GB / 31.79 GB
  Binaries:
    Node: 12.9.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.21.1 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.10.2 - C:\Program

[2020-02-24 23:05] kaiguo commented on #4176
Re-enable scale transform test in #4169 when this gets fixed.

[2020-02-24 23:34] acoates-ms commented on #4103
Same as #3854

[2020-02-24 23:34] #4103 closed

[2020-02-24 23:47] #4077 closed

[2020-02-25 02:43] kaiguo commented on #4094
@jagorrin Can you share your code? I tried the code below and it seems to be working fine.
[code]
![image](https://user-images.githubusercontent.com/4424330/75210249-69e94580-5735-11ea-8d2c-47f14d967c9c.png)

[2020-02-25 10:59] NickGerleman commented on #4176
@kaiguo this is somewhat by design. Windows doesn't allow accurate sniffing for OS version. You could reverse engineer the Universal API contract and use that maybe

See  https://github.com/microsoft/react-native-windows/blob/master/vnext/src/Libraries/Utilities/Platform.windows.js and https://github.com/microsoft/react-native-windows/blob/master/vnext/ReactWindowsCore/Modules/PlatformConstantsMod

[2020-02-25 19:25] jagorrin commented on #4094
I use the default background color of black rather than manually specifying it. I specify a font family, but I tried removing it and that did not fix the issue. I am also using a borderRadius, and removing that also did not fix the issue.

[code]

I then removed the styling and replaced it with yours above, and that did not fix the issue either. Here is a screenshot using the styles in your previo

[2020-02-25 20:14] namrog84 opened #4181 "JSValue has unexpected behavior on Double vs Int64 (compared to folly::dynamic)"
Both ways are reading the same javascript code with no changes but derive different values.

Old way
[code]

new way
[code]

Source of speed on javascript/typescript side
default value is `speed: 1` otherwise its a decimal

The problem is that if it comes in as "1" JSValue thinks its an int64
but if it comes in as 1.5 as a Double.

It worked fine previously in folly::dynamic but doesn't work as ex

[2020-02-25 22:11] ddalp commented on #2095
React-Native-Video community module for windows Cpp/WinRT is now checked in, remaining issue #4157 (keyboard touch events not firing when in full window mode)will be addressed in RNW.

[2020-02-25 22:11] #2095 closed

[2020-02-25 23:05] smilealdway commented on #4142
What is a js-only <react-native-maps>?  May be I don't understand the issue.

[2020-02-25 23:07] kmelmon opened #4183 "Remove all uses of findNodeHandle"
tags aren't supported by Fabric.  The main function that deals with tags is findNodeHandle().  Facebook is replacing all tags with instances.  We need to do the same in our overrides.

There are multiple places we're doing this:
Libraries\Components\Flyout\Flyout.windows.tsx:42:      const newtarget: number | null = findNodeHandle(nextProps.target as
Libraries\Components\Popup\Popup.windows.tsx:42

[2020-02-26 04:29] namrog84 opened #4187 "RNW shouldn't use Tag property internally."
Note: The term 'tag' has slightly conflicting definitions.
in RN a ReactTag is the id number of a react view.  Which is how RNW is using the WinUI's Tag, which is perfectly reasonable.
in WinUI a Tag is intended for an arbitrary object value. "the Tag property is to provide an general-purpose property on all FrameworkElement classes"

Example:
[code]

MyCustomObject gets stomped internally by RNW'

[2020-02-26 04:43] #4174 closed

[2020-02-26 15:51] robertev commented on #4142
JS-Only indicates we believe this to be a JS only (no native modules) component. There were no iOS nor Android subfolders for this component in github. The [JS-Only] tag approach for these was specified by stmoy - perhaps he can provide more details on next steps? I have not tested this to confirm if it will really work "as is" in vNext.

[2020-02-26 16:14] smilealdway commented on #4142
I believe it has native components.

and

[2020-02-26 18:46] namrog84 opened #4191 "readme have broken link for getting started"
https://github.com/microsoft/react-native-windows/blob/master/vnext/README.md

Getting Started
See Getting Started Guide for React Native Windows C++.
has a link to https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/GettingStarted.md
Which doesn't exist.

I don't see a GettingStarted.md anywhere for vnext (it exists for /current)
So I am not sure what you want it to point to,

[2020-02-26 18:50] robertev commented on #2271
For my customer, this is a dependency for several different libraries for them. This is one that absolutely will be necessary for things like our offline data storage for Realm and Redux; token storage for Azure Auth; etc.

[2020-02-26 19:48] chrisglein commented on #3462
In PR: https://github.com/react-native-community/react-native-webview/pull/1220

[2020-02-26 21:01] namrog84 opened #4192 "Add OnUnmount/DestroyView for ViewManagers"
There exists a
`winrt::Windows::UI::Xaml::FrameworkElement CreateView() noexcept;`

But we have no idea when the view goes away.
We used to have the ShadowNodes CreateShadow and destroyShadow but in new View Managers there aren't shadownodes anymore.

There should be some kind of OnUnmountView or something, so that if we have some internal map of all views or if we need to do any special clean up

[2020-02-26 23:30] jonthysell commented on #4187
We could move the react tag to its own attached property, to avoid stomping on existing controls use of Tag. Similarly, you are able to attach any data to any View, sealed or not, with your own attached property.

Also, if there's a particular XAML class that is sealed that's in your way, file a bug on https://github.com/microsoft/microsoft-ui-xaml. I know there's been an effort to unseal controls

[2020-02-26 23:49] jagorrin opened #4193 "Uncaught exception when focusing TextInput"
[CallStack.txt](https://github.com/microsoft/react-native-windows/files/4258775/CallStack.txt)
### Environment

If you are using latest version:
1. `react-native -v`: 0.60.6
2. `react-native run-windows --info`:
  System:
    OS: Windows 10 10.0.18363
    CPU: (12) x64 Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz
    Memory: 18.01 GB / 31.84 GB
  Binaries:
    Node: 10.15.0 - C:\Program Files\nodejs\n

[2020-02-26 23:50] jagorrin commented on #4193
@kaiguo

[2020-02-27 00:04] namrog84 commented on #4187
Our current workaround is to do something like this

[code]

[2020-02-27 00:25] htpiv opened #4194 "AlertModule::showAlert crashes in Xaml Islands"
### Environment

- Target Platform Version(s): 10.0.18362
- Target Device(s): Desktop
- Visual Studio Version: Visual Studio 2019
- Build Configuration: Release

### Steps to Reproduce
1. Open packages\playground\windows\playground-win32.sln
2. Hit F5 (Build solution & start debugging)
3. Press CTRL+O (File->Open)
4. Select "Samples\rntester" & click "OK"
5. Click on "<Button>\nSimple React Native

[2020-02-27 19:11] chrisglein commented on #4163
Related #2271 , but for Win32. This is scheduled for deletion once it's moved to the community module.
Given that we're going to get rid of this maybe it's not worth the investment in improving this?
We need to understand what the story is for an islands app to access storage and then have the module able to support both the Win32 and UWP solutions.

[2020-02-27 19:12] chrisglein commented on #4164
@stmoy as this is JS only you were going to evaluate what work was necessary to onboard a JS only one, correct? Will be assigning these to you to check that.

[2020-02-27 19:17] chrisglein commented on #4181
@jonthysell is this related to what you were describing yesterday?
This team is trying to migrate onto the new stuff and is hitting an issue, can you take a look?

[2020-02-27 19:20] ddalp commented on #4163
The current file I/O solution already does the update async, I think we need the async method call to work asynchronously, before we can migrate the SQLLite solution to native module.

[2020-02-27 19:29] chrisglein commented on #4194
There's likely some quick work to have some reasonable default here (and not crash). But as we get multiple islands (or no active root views) then there's work to figure out what to do.
For no active view we probably need to create on on the fly on their behalf.

[2020-02-27 19:55] jonthysell commented on #4181
Looking into it.

dynamic's ::getDouble() type checks and only works if the the value is actually a double, else throws an exception.
dynamic's ::asDouble() type checks and converts if possible, else throws and exception.

JSValue's Double() returns the DoubleValue field of the internal union struct, with no type checking, no expcetions.

I think the correct answer here is to extend JSValue with m

[2020-02-27 20:05] vmoroz commented on #4181
JSValue.Double() is semantically the same as getDouble(), but it does not crash and returns 0 in case of error. For the asDouble() please use the JSValue.To<Double>().

[2020-02-27 20:12] vmoroz commented on #4181
Though the JSValue.To<double>() is quite inefficient. We better to add an API that can have more efficient asDouble behavior. @jonthysell I can add it. I already have the functionality in different place and can just move/reuse it here.

[2020-02-27 22:47] namrog84 opened #4206 "I shouldn't have to prepend my eventnames with "top""
[code]

Most of our code is built around some constants in the class (e.g. `SomeViewManager::Foo`) instead of using literals everywhere.
Which means I need to do things like
winrt::to_hstring(std::string("top") + eventName);

It used to work without having to manually add "top" manually,  the internal DispatchEvent should handle these types of things or have appropriate functions to call like Disp

[2020-02-28 00:00] kaiguo commented on #4094
@jagorrin turns out this is a bug in TextBox itself and it should be fixed on xaml side, I created a bug to track, https://microsoft.visualstudio.com/OS/_workitems/edit/25376371.

Before that gets fixed, the work-around will be changing the color to any non-default value ((255,255,255) is the default TextBox foreground color in dark mode). rgba(255, 255, 254, 0.5) should work.

[2020-02-28 00:00] #4094 closed

[2020-02-28 03:18] namrog84 commented on #4192
Our current workaround is to RegisterAttached an object to the view and make sure no one else takes a reference to it, and then take a weak ref to the object inside the attached (weak ciruclar ref) and attached goes out of scope upon views destruction and we can handle it, but its a bit ugly and generally feels a little unsafe.

[2020-02-28 14:16] irakaundal opened #4209 "Support react-native-document-picker"
# Support `react-native-document-picker` on RNW vNext

## Basic Info
- Module Repo URL: https://github.com/Elyx0/react-native-document-picker
- Target version: 2.0.0
- [ ] Issue exists on module repo (if so, [link]())

## Overview of Required Functionality

Need to add c++/winrt support for the npm package so that it can work with the latest version of react-native-windows.

[2020-02-28 16:10] chrisglein commented on #3929
Worth adding a link here to the repo where the work is happening: https://github.com/microsoft/react-native-dualscreen

[2020-02-28 16:10] chrisglein commented on #3624
Worth adding a link here to the repo where the work is happening: https://github.com/microsoft/react-native-dualscreen

[2020-02-28 18:40] vmoroz commented on #4019
Closing it as we already use the -optimized flag.

[2020-02-28 18:40] #4019 closed

[2020-02-28 20:58] dstaley opened #4211 "Unable to add Microsoft.ReactNative to native module project"
### Environment

1. `react-native -v`: 0.61.5
2. `npm ls rnpm-plugin-windows`:
3. `npm ls react-native-windows`: 0.60.0-vnext.133
4. `node -v`: v12.15.0
5. `npm -v`: 6.13.4
6. `yarn --version`:

Then, specify:

- Target Platform Version(s): 10.0.18362

- Target Device(s): N/A

- Visual Studio Version: 16.4.5

- Build Configuration: N/A

### Steps to Reproduce

(Write your steps here:)

1. Try to a

[2020-02-28 23:52] namrog84 commented on #4211
I see
[code]

I think you might need to be on a 61 version of rnw if you are using a 61 version of rn

[2020-02-29 00:19] dstaley commented on #4211
@namrog84 I think that was the issue! After running `npm install --no-save react-native-windows@beta` and adding the reference it seems to have worked! If I run into any other issues I'll be sure to file a new issue. Please feel free to close this unless it's useful to keep around.

[2020-02-29 00:25] dstaley commented on #4211
@namrog84 Whoops, I seem to have spoken too soon. It looks like some of the references were removed, and when I attempted to add `Microsoft.ReactNative.SharedManaged` I got the following:

![image](https://user-images.githubusercontent.com/88163/75596785-e7b79480-5a46-11ea-9d7f-ab2f42ace66f.png)

[2020-02-29 00:36] #4211 closed

[2020-02-29 00:37] NickGerleman commented on #4206
@jonthysell @vmoroz

[2020-02-29 01:08] jonthysell commented on #4210
Is your code up somewhere I can look at?

Can you clean out the output folders (bin/obj) for your project (and Microsoft.ReactNative) and try building again?

[2020-02-29 21:21] dstaley opened #4215 "Unable to activate Windows Store app after adding C++ native module"
### Environment

If you are using latest version:
1. `react-native -v`: 0.61.4
2. `react-native run-windows --info`:
[code]

Then, specify:

- Target Platform Version(s): 10.0.18362

- Target Device(s): Desktop

- Visual Studio Version: Visual Studio 2019

- Build Configuration: Debug

### Steps to Reproduce

(Write your steps here:)

1. Add the C++ [Native Modules Sample](https://github.com/micro

[2020-03-01 12:19] widersky commented on #3658
Have this issue on Chromium Edge Stable. I can't work at all. I don't want to use Chrome when there is Edge Chromium. MS was moving Edge to Chromium engine to recommend Chrome? It doesn't look good.

[2020-03-01 15:40] lociero opened #4216 "ENOENT / MyApp_TemporaryKey.pfx When initializing project."
### Environment

1. `react-native -v`:
[code]
2. `npm ls rnpm-plugin-windows`:
[code]
3. `npm ls react-native-windows`:
[code]
4. `node -v`: `v12.16.1`
5. `npm -v`: `6.13.4`
6. `yarn --version`: `1.22.0`

- Target Device(s): Desktop (Windows 10)
- Development Operating System: Windows 10 Version 1809 (OS Build 17763.1039) (I'm using windows subsystem for Linux / Ubuntu from Microsoft Store)

### S

[2020-03-01 20:17] uhteddy commented on #3263
Bumping this as I am having the same issue.

[2020-03-02 02:56] NickGerleman commented on #4216
I'm interested in the `/mnt/d/learnJS/appname/... ` path. Are you trying to run this using Git Bash or Cygwin shell by chance? I'm not sure that we've tried to make our tooling work with anything other than the standard command prompt.

FYI for the future, we usually use the ".Net" label to refer to current vs vnext. Since this isn't specific to current, we shouldn't add that label.

[2020-03-02 04:35] lociero commented on #4216
@NickGerleman

I'm using Ubuntu bash from Microsoft Store, its working on WSL if I'm not mistaken.
If it doesn't work with this, I'm sorry, will try in Kali next time.

It's the first time I've created an issue, my bad, sorry  =)

[2020-03-02 10:46] Poopooracoocoo opened #4217 "Question: can Microsoft work with Facebook to create IG and FB Messenger RNW apps?"
I was dumbfounded when I saw that Facebook updated their iOS ports to PWAs and apparently Facebook will be making an Electron Messenger app. Facebook has React Native apps for Instagram and Facebook Messenger and yet they did that a few months before you guys, Microsoft, released 0.61 of react-native-windows.

[2020-03-02 16:25] harinikmsft commented on #4155
Per @kmelmon, TextBlock.TextHighlighters property in XAML might be the right native property that helps address this scenario.

I looked out of curiosity - Android has an analogous TextView.textColorHighlight property and the scenario appears to be possible to accomplish in iOS as well by applying a background color to an NSAttributedString combined with UITextView's attributedText props.

This ma

[2020-03-02 16:36] gillpeacegood commented on #4210
Hi, you could look at my solution here, there is a c# project which is my eventual implementation and a c++ one which is what I started out with before I got blocked by this problem

https://github.com/axsy-dev/react-native-sqlcipher-storage/blob/autolinking/windows/react-native-sqlcipher-storage-cpp.sln

[2020-03-02 17:45] NickGerleman commented on #4216
I don't believe that usage from WSL is a supported scenario currently, since we rely on quite a few Windows build tools. Does the issue still occur when using native Windows tooling?

[2020-03-02 17:48] lociero commented on #4216
Everything is fine for now, thanks =) I'm closing the issue.

[2020-03-02 17:48] #4216 closed

[2020-03-02 19:08] chrisglein commented on #4206
Andrew suspects this is part of our code gen for view mangers and events.

[2020-03-02 19:16] chrisglein commented on #4217
@Poopooracoocoo This question is interesting but not really in the scope of questions about this repo and it's tech :)

[2020-03-02 19:16] #4217 closed

[2020-03-02 19:22] chrisglein commented on #4134
@kaiguo We have a couple people here running into setup issues. Let's try to validate their steps and see where things are going wrong. They're on 60 and not the supported version of Node to match that (that didn't have the fix), but that shouldn't generate this error. Can you dig in with them?

[2020-03-02 19:23] acoates-ms commented on #4206
top prefix is hard coded here...
https://github.com/microsoft/react-native-windows/blob/b602feb130d54bb47cc31ec4caf8a51883ad56ca/vnext/Microsoft.ReactNative.Cxx/JSValueWriter.h#L211

[2020-03-03 01:03] namrog84 opened #4220 "FacadeType assert. Can it be a noop warning instead of assert?"
"react-native-windows": "0.61.0-beta.22",

Running into an issue with  FacadeType.h
https://github.com/microsoft/react-native-windows/blob/a2f28bc4e3a6aacf9f63867effea0850b7400e39/vnext/ReactUWP/Modules/Animated/FacadeType.h#L44

is hitting the  `assert(value == "progress");` but the value is "borderRadius"

Can we just remove the assert and have some other warning with no-op fallback?  This is th

[2020-03-03 03:16] namrog84 commented on #4206
Also just as a FYI. We had discovered some weirdness from android to ios

Android can be anything and matches in all 3 (registration, in typescript, and on the call event).
iOS register and call "Name" but the typescript has to be "onName" because it looks like they prepend 1 area with "on"

So there is some inconsistency across all 3 platforms.  Id personally vote for the android style of having

[2020-03-03 05:05] kaiguo commented on #4134
@jjgh I did some tests, I think you'd have to either downgrade your node to 12.9.1 or upgrade to react-native-windows 0.61. Also make sure you installed all the Visual Studio components [here](https://microsoft.github.io/react-native-windows/docs/rnw-dependencies).

[2020-03-03 08:09] namrog84 commented on #4206
It looks like in the iOS implementation they have a helper function to optionally add it if its not already there and use it in a variety of places.

https://github.com/facebook/react-native/blob/aee88b6843cea63d6aa0b5879ad6ef9da4701846/React/Base/RCTEventDispatcher.m#L19

[2020-03-03 10:19] #4067 closed

[2020-03-03 10:19] #4052 closed

[2020-03-03 14:36] NickGerleman opened #4221 "Remove the DatePicker component code, and replace its usage with the community DateTimePicker"
Upstream React native provides their DatePicker component as DatePickerAndroid and DatePickerIOS. We deviate by calling ours DatePicker. We should rename our component.

Note that this component was moved out of RN, and into https://github.com/react-native-community/react-native-datetimepicker#react-native-datetimepicker

[2020-03-03 15:04] NickGerleman opened #4222 "Fix or Remove Cross-Plat Stubs of Windows-Specific Components"
We have a number of Windows specific components. E.g. `Glyph` and `Flyout`. We provide non-Windows implementations of these that no-op, similar to React Native stubs. I'm guessing the motivation here is for cross-plat apps, so that we could select to create the component based on run-time platform but still correctly bundle.

This won't actually work as-is though. We only expose these components i

[2020-03-03 15:05] NickGerleman commented on #4222
@ahimberg do you have any thoughts here on a preferred solution?

[2020-03-03 15:42] NickGerleman commented on #3462
This is awesome! We should make sure to remove the builtin view once that is checked in. We've had a bad habit of forgetting to remove old components after Facebook has extracted them.

[2020-03-03 17:31] ddalp opened #4225 "RNW community module method call numeric data type differs in release and debug build"
This bug was found while writing the Camera Native Module.
For example: Method TakePicture() below:
       REACT_METHOD(takePicture)
            void takePicture(
                std::map<std::wstring, winrt::Microsoft::ReactNative::JSValue>&& options,
                int viewTag,
                winrt::Microsoft::ReactNative::ReactPromise<JSValueObject>&& result) noexcept);

Options can contain a