[2019-05-07 20:14] rohan-deshpande opened #2424 "Feature request: WebGL support"
Would love to see WebGL contexts being supported through this library. This would open the door for 3D apps to be built with JavaScript for Windows environments. It would be a huge win for libraries like Babylon and Three.

I think that `react-native` itself doesn’t yet support WebGL, but it would be an awesome feature to see Microsoft take charge of.

[2019-05-08 17:19] jonthysell commented on #2416
The model is:

C++ developers should inherit directly from CxxModule. No WinRT no IDLs.

IModule is only for C# and C++/Cx developers.

[2019-05-08 18:00] licanhua opened #2431 "Bad user experience to use live reload when there is error in App.Windows.js"
Follow the document create a new next react-native windows project and launch it.
Edit App.windows.js but make a mistake in javascript which has compilation error
Save the file.
app is frozen.

The root cause is that facebook doesn't have any response in this situation, but we have infinity wait in WebSocketJSExecutorUwp.cpp.
We can workaround this problem like below in WebSocketJSExecutor::loadAp

[2019-05-08 18:01] licanhua commented on #2431
@pag3 reported this problem and I made it a bug.

[2019-05-08 18:19] licanhua commented on #2416
disagree. we should just provide one set of API to user(at least the format looks the same), and it should be very clean.
If we look at HostingPanel.xaml.cpp in React.Windows.Universal.SampleApp, it's very hard to understand by non cppwinrt developers.

[2019-05-08 18:22] jonthysell commented on #2416
Unfortunately that's the model. We can make some of the API signatures similar, but otherwise we will have to force everyone to do everything through WinRT.

[2019-05-08 18:40] licanhua commented on #2416
I don't know too much about C++/Cx, but I think we should use the IModule interface anywhere like this:

      C# user
      var instance = Instance.Create(JSFILENAME);

      //instantiate sample module for registering callbacks for live reload, JS error handling etc.,
      instance.RegisterModule(new SampleModule());
      instance.Start(settings);

      RootElement.Instance = instance;

[2019-05-08 21:52] #2419 closed

[2019-05-09 13:27] MungeParty commented on #2420
I had the same issue until I installed VS 2017 specifically.

[2019-05-09 15:11] birobirobiro commented on #2420
I was able to solve using v-next

https://youtu.be/kvfuGsOA_T8

[2019-05-09 19:16] harinikmsft opened #2438 "Publish current version to npm to pick up readme"
The C# implementation needs to be published to npm manually in order for the main landing page [here](https://www.npmjs.com/package/react-native-windows) to show the readme file from [here](https://github.com/microsoft/react-native-windows/tree/master/current)

[2019-05-09 19:17] harinikmsft opened #2439 "Fix the logo url for vnext in npm"

[2019-05-10 01:54] kmelmon opened #2447 "Improved bug/feature issue templates"
This suggestion came from CanHua...

WinUI has two templates for issues, one for bugs, one for feature requests.
Start here:
https://github.com/microsoft/microsoft-ui-xaml/issues
and hit the New Issue button, you'll see the two choices and the templates for each
(I think this is standard github thing).

Our repo doesn't have the bug/feature templates, instead we have one for bugs/features in 'curr

[2019-05-10 02:22] kmelmon commented on #2120
Sorry about the delay, I was on vacation then at a couple offsites this week.

I just chatted with @DefaultRyan who wrote vector_map and is an area expert on data structures.

Ryan had a couple suggestions as alternatives to copying the vector_map implementation from XAML:
1) boost has something similar to vector_map called flat_map, and we're already using boost so we wouldn't have to copy any co

[2019-05-10 02:22] reutopiaer commented on #2420
I can build success with sln but still get error "Build failed with message Error: MSBuild tools not found. Check your build configuration."
![rnw](https://user-images.githubusercontent.com/759279/57498183-7b2fa580-730d-11e9-8c72-3466bfcb77ad.png)

[2019-05-10 16:52] #2431 closed

[2019-05-10 18:50] marlenecota opened #2451 "Update comments in app.windows.bundle with correct cli command"
The file currently mentions "--platform windows" which is not valid. It also has inconsistent naming (app.windows.js vs index.windows.bundle)

- [ ] Update platform listed in comment
- [ ] Fix inconsistent naming
- [ ] Add bundle script to package.json

[2019-05-10 19:36] jonthysell opened #2452 "Bundled images assets in appxs aren't found"
Right now, we hardcode ReactUWP to expect packaged bundles to be in `ms-appx://Bundle/{filename}.bundle`

The developer passes in `{filename}`.

So if you run `react-native bundle --platform uwp--entry-file index.js --bundle-output Bundle\index.uwp.bundle --assets-dest Bundle` to get:

[code]

However, when loading images, we translate the path `file://assets/asset1.png` to `ms-appx:///assets/asse

[2019-05-10 19:38] jonthysell commented on #2452
We need to figure out #2220 and get this consistent

[2019-05-10 20:05] licanhua commented on #2366
tests will be tracked by other test task.

[2019-05-10 20:05] #2366 closed

[2019-05-10 20:08] licanhua commented on #2364
It's more like just API change. Target version should be changed to 19h1, and I ran into some issue like pipeline, build error, cppwinrt error.

[2019-05-10 23:45] licanhua opened #2455 "Support 2.0 CppWinRT"
To support this, we migrate/author instance_rt/reactControl_rt/ module_rt in a new way. Here are some details we need to pay attention to:

- Update CppWinRT nuget from 1.0 to 2.0
- Remove all term of ABI
- Remove all Microsoft::WRL::ComPtr and replace then with winrt:: namespace.
- vcxproj change and target changes. for example, remove midlrt.targets
- It's possible that we don't need mdmerge tar

[2019-05-13 18:24] ahimberg commented on #2099
The vnext implementation today will fire onMouseEnter, onMouseLeave, onMouseMove events if they have been registered for on <View> elements only.

[2019-05-13 21:18] harinikmsft commented on #2099
@ahimberg  - are those new APIs introduced in the vnext implementation? At what layer (each component or on View/TouchableXX)? If these are new APIs, we may want to change the API names to be more about PointerXX instead of MouseXX in accordance with [UWP Pointer events](https://docs.microsoft.com/en-us/windows/uwp/design/input/handle-pointer-input#pointer-events) as well as to match the [React AP

[2019-05-13 22:22] stecrain opened #2460 "Axios Fails on RNW (Add support for useIncrementalUpdates in Networking Module)"
Any http requests from a react native app which request progress updates will currently fail.

We currently use axios for http requests, and the library requests progress updates.
https://github.com/axios/axios/blob/503418718f669fcc674719fd862b355605d7b41f/lib/adapters/xhr.js

[2019-05-14 01:09] kmelmon opened #2464 "CI Loop: Use standard pool for automated builds"
Our CI loop is currently using internal Office build machines to build.  This isn't very flexible as we aren't in control of how these machines are configured (eg if we need to install an additional SDK, we need to make a special request).

This issue is tracking moving our build CI loop to "standard" machine pools.  One possible choice is the Microsoft pool:
https://dev.azure.com/microsoft

[2019-05-14 16:21] stecrain opened #2466 "Bug: Unable to add authorization header to network requests from javascript."
In NetworkingModule.cpp the headers are appended to the headers object.
https://github.com/microsoft/react-native-windows/blob/master/vnext/ReactUWP/Modules/NetworkingModule.cpp#L266

This throws when trying to add an authorization header.

The most straight-forward fix is to use TryAppendWithoutValidation instead of Append.

[2019-05-14 18:26] harinikmsft opened #2469 "Add Keyboard events"
Creating a separate issue to track the APIs needed for overall keyboarding and routed events support in react-native-windows.

**Scenarios:**

- This is needed before we can solve issues tracked by #2085 , #2107 and perhaps #2197 .
- This is also needed in order for apps to enable custom keyboarding behaviors at any layer, for example - ability to handle arrow keys, Esc key strokes from a custom T

[2019-05-14 18:44] kmelmon commented on #2460
@stecrain Is this needed before our June 30 milestone?

[2019-05-14 18:46] kmelmon commented on #2455
This would be nice to do but not high in priority.  marking as nice-to-have.

[2019-05-14 18:48] stecrain commented on #2460
@kmelmon No, for now we can get our network requests working by monkey patching RCTNetworking.sendRequest to always pass down false for incrementalUpdates.
https://microsoft.visualstudio.com/Xbox.Apps/_git/Xbox.Apps.Store.RNPrototype/pullrequest/3262449?_a=files&path=%2FApp.tsx

We don't have application logic that depends on this, a library that we use requests progress events so that it can fail

[2019-05-14 18:53] kmelmon commented on #2451
@marlenecota can you clarify what's needed here, and if a CLI update is needed, enlist Margaryta's help in getting the CLI updated?

[2019-05-14 19:03] kmelmon commented on #2403
@stecrain can you implement the min bar described above?

[2019-05-14 21:00] ahimberg opened #2470 "DeviceInfo not reporting window size"
DeviceInfo module reports the screen size, but not the window size (hard coded to 100x100 right now).  We should send both and send events when they change.

There is the weirdness of multimon that is not supported by the current API

ReactUWP\Modules\DeviceInfoModule.cpp
    ("windowPhysicalPixels", folly::dynamic::object
      ("width", 100)
      ("height", 100)

Workaround for now is to use th

[2019-05-15 00:18] marlenecota commented on #2451
The only CLI changes happening are documentation.

https://github.com/microsoft/react-native-windows/blob/master/vnext/local-cli/generator-windows/templates/app.windows.bundle

That file has instructions on how to generate a bundle, but they weren't updated after the platform and some files were renamed.

[2019-05-15 00:36] stecrain commented on #2403
Sure, I think I can get to it in the next couple of days

[2019-05-15 01:12] kmelmon commented on #2403
Awesome thanks!  Your help is appreciated :)

[2019-05-15 01:14] kmelmon commented on #2451
gotcha thanks - I'll leave this assigned to you then.

[2019-05-15 13:45] nageshwar521 commented on #1042
`react-native run-windows --arch x64`

@jpshelley thank you, it solves the issue...you saved my time

[2019-05-15 15:33] mateuszgazdziak commented on #2420
Anyone knows how to run it on vs 2019?

[2019-05-15 16:26] Hirurgo commented on #1875
not reproduced on rn-windows 0.57.0-rc5

[2019-05-15 16:26] #1875 closed

[2019-05-15 18:42] jonthysell commented on #2310
Why does this exist? You can already author native modules in C#/C++Cx. The only thing remaining is for feature parity is #2391.

[2019-05-15 18:54] micahl commented on #2310
It's an issue to track investigation and identify if we're missing anything.  Sounds like you've identified what remains and its covered by #2391.  So, we can close out this issue.

[2019-05-15 18:54] #2310 closed

[2019-05-15 21:41] stratospheres commented on #2420
Pretty sure it's going to be related to a lack of support here:

[code]

Working on hacking it now (for a vNext version of the template) but don't have a fix yet.

[2019-05-15 21:59] kikisaints opened #2477 "Ensure React Native for Windows works with CodePush"
Currently, there is not an easy, documented way to hook up and use CodePush with our React Native Windows vnext implementation (or even possible to yet?).

It would be good to have that tested to ensure it *can* work, and then a PM to document what's needed to get it *to* work.

[2019-05-15 23:51] randy-flynn opened #2480 "Batch UI function calls for UWP"
To decrease how much work is done creating and updating the XAML tree, batch the appropriate function calls that come from the JavaScript to the UIManager. There is already an onBatchComplete() function that can be used to dispatch them.

[2019-05-16 01:56] Thristhart opened #2482 "Sourcemaps broken on vnext template"
## Repro steps
- Follow steps in [Getting Started/Simple install method](https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/GettingStarted.md#1-simple-install-method)
  - `react-native windows --template vnext`
  - `react-native run-windows`
- Open Chrome Dev Tools on React Native Debugger UI
- Click Sources tab

## Observed behavior
The only source available is the bundle.
!

[2019-05-16 02:47] reutopiaer commented on #2420
@stratospheres Tank you very much! It's works!

[2019-05-16 08:14] nguyen-tam commented on #2420
The same here, MS should fix this.

[2019-05-16 14:30] Thristhart opened #2484 "Text throws ARITH_LOSS_OF_PRECISION with non-integer letterSpacing"
## Repro steps
[code]
## Observed behavior
RNW throws with Folly error ARITH_LOSS_OF_PRECISION, because the conversion to integer loses the 0.5.
## Expected behavior
Silently lose precision. Other react native platforms do not throw with a non-integer letterSpacing.

[2019-05-16 19:11] kevinvangelder commented on #2134
I love this idea! Working towards making all platforms equal (aka not included by default, adding the ones the dev wants through an simple process like the proposed command) definitely seems like something worth working towards.

[2019-05-16 19:40] harinikmsft commented on #2106
This no longer repros, closing as fixed.

[2019-05-16 19:40] #2106 closed

[2019-05-16 20:07] tahagit opened #2486 "Run react windows app on the mac"
Hi
How to run react windows app for test on MAC?

[2019-05-16 22:03] harinikmsft commented on #2486
Hello -

React Native for Windows apps can only be run on Windows. See [System requirements](https://github.com/microsoft/react-native-windows#system-requirements).

Are you trying to develop a React Native for Windows app on a mac?

[2019-05-17 06:07] tahagit commented on #2486
Hi
Yes i do, i have mac and i‘m developing all of my react and reactNative projects on mac.
maybe i should use virtual machine for install windows on the mac?

[2019-05-17 06:41] ahimberg commented on #2486
It is possible to build the js and run jest tests on mac, but yes if you want to build and run actual native code that requires a windows OS somewhere.

[2019-05-17 13:43] stecrain commented on #2155
I happened to stumble upon this issue, and I have a few thoughts I wanted to share.

I believe the popularity of react-native is a strong signal from app developers that we don't necessarily want all the policy and constrained scenarios that come along with ListView.

Rather than focusing on making controls have built-in support for arrow keys and accessibility I believe the focus should rather be

[2019-05-17 13:45] #2178 closed

[2019-05-17 15:11] jesbis opened #2492 "react-native-windows interop with WinUI 3.0"
With the planned upcoming release of [WinUI 3.0](https://github.com/microsoft/microsoft-ui-xaml/blob/master/docs/roadmap.md) which will be the next version of the native Windows UI platform, it seems worth considering:

1. react-windows-native core using WinUI instead of the older version of Windows::UI::Xaml

2. enabling using WinUI controls in native UI components/views

[2019-05-17 17:04] stmoy opened #2494 "Layout Animation support"
ReactNative layout animations are a way to automatically animate when layout changes. Similar to other animation types, LayoutAnimation provides a set of easings (including spring, linear, easInEaseOut).

On Android, certain flags need to be set via UIManager. It's unclear if we'd need to do the same for RNW.

[code]

More info on LayoutAnimation is here: https://facebook.github.io/react-native/do

[2019-05-17 22:57] licanhua opened #2499 "Add Jest to test pipeline"
Our projects includes JavaScript, half of them are typescript and half of them are not.
So we should add Jest tests.
Add Jest test examples

[2019-05-20 15:52] kikisaints commented on #2492
An expansion on #2 would be to make sure that any Windows, separate npm components installed into a React Native project, use WinUI where it makes sense to.

For example if we make a react-native-windows-progressbar, it's using a WinUI progress bar as well - not only the components in react-native-windows.

[2019-05-20 18:26] harinikmsft opened #2505 "Unblock VS code extension work"
VS Code extension for react-native-windows-vnext is being developed and they are running into some platform bundling issues and packager issues. Repro steps and details are [here](https://github.com/microsoft/vscode-react-native/issues/1007). This is tracking work on our side to unblock them.

[2019-05-20 21:49] #2466 closed

[2019-05-20 21:59] sushruth commented on #1666
This is no longer an option to install in VS2019. I understand I could still install those tools but time to consider upgrade.

[2019-05-20 22:53] Thristhart commented on #2482
Update: I've figured out the source of the problem. It's [this code in metro](https://github.com/facebook/metro/blob/12676e687e760d08a05df24126ccdff3d41567ef/packages/metro/src/lib/parseOptionsFromUrl.js#L105-L110):
[code]
They correctly identified that it's an issue, but only fixed it for Android and iOS. Given that the vnext platform is `uwp`, we still get the empty protocol.

Opened issue on me

[2019-05-20 23:59] kmelmon commented on #2315
I am currently working on implementing this.

[2019-05-21 17:52] harinikmsft commented on #2276
@ahimberg - can you describe what work is left to do here post this commit - #2504

[2019-05-21 21:35] licanhua opened #2509 "Investigate if RN Windows have memory leak"
Memory leak often happens on .net and native.

![image](https://user-images.githubusercontent.com/6290692/58131899-badf7280-7bd4-11e9-92ab-799852ebdc66.png)

In pure C# this would be perfectly fine but as RatingControl is implemented in native, .NET knows about MyClass and the Delegate but it doesn't inherently know about RatingControl.

The result is that this reference cycle would never be colle

[2019-05-22 04:39] reepias opened #2515 "Can't run android"
**problem**

JS server already running.
Building and installing the app on the device (cd android
&& ./gradlew installDebug)...

WARNING: The specified Android SDK Build Tools version (28
.0.2) is ignored, as it is below the minimum supported ver
sion (28.0.3) for Android Gradle Plugin 3.2.1.
Android SDK Build Tools 28.0.3 will be used.
To suppress this warning, remove "buildToolsVersion '28.0.
2'

[2019-05-22 07:21] reepias commented on #2515
**problem**

BUILD FAILED in 7s
15 actionable tasks: 7 executed, 8 up-to-date
Could not install the app on the device, read the error ab
ove for details.
Make sure you have an Android emulator running or a device
 connected and have
set up your Android development environment:
https://facebook.github.io/react-native/docs/getting-started.html

Command failed: ./gradlew installDebug

Error: Command

[2019-05-22 17:20] #2233 closed

[2019-05-22 17:33] harinikmsft commented on #2477
This is being tracked by App Center CodePush team [here](https://github.com/microsoft/appcenter/issues/463).

[2019-05-22 18:36] harinikmsft commented on #2397
Closing to track via ongoing PRs.

[2019-05-22 18:36] #2397 closed

[2019-05-22 18:44] harinikmsft commented on #2402
Thanks for the suggestion. Lets revisit when the benefits here outweigh the costs (since we are not necessarily adding too much new API or docs at this time).

[2019-05-22 18:44] #2402 closed

[2019-05-22 18:49] harinikmsft commented on #2464
This is also needed so that people submitting PRs from outside Microsoft have access to build errors etc.,

[2019-05-22 18:57] harinikmsft commented on #2470
The primary work here is to return the CoreWindow size in physical pixels from the DeviceInfo implementation.

[2019-05-22 19:04] harinikmsft commented on #2482
Thanks for filing this.

Hey @acoates-ms  - can you see if there is a workaround on our side that can be done for this while we wait for the metro issue to be fixed?

[2019-05-22 19:07] harinikmsft commented on #2486
Thanks for the feedback. You can use VS for Mac to develop Windows 10 apps using a Mac. However, you need to spin up a Windows 10 VM in order to test/run the app against Windows.

[2019-05-22 19:07] #2486 closed

[2019-05-22 19:11] harinikmsft commented on #2499
Enabling unit tests are P2 for Milestone 2.

[2019-05-22 19:12] harinikmsft commented on #2505
Hey @acoates-ms  - can you help @kmelmon on this one so we can unblock Vs code work earlier than later?

[2019-05-22 19:13] harinikmsft commented on #2509
Please reopen if there is an actual memory leak

[2019-05-22 19:13] #2509 closed

[2019-05-22 19:15] harinikmsft commented on #2515
Thanks for raising this issue. Can you clarify if you are trying to run react-native-windows on an android device?

[2019-05-22 19:30] acoates-ms commented on #2482
@harinikmsft , I'm less familiar with the metro config's since we primarily use haul.  It might be worth pinging in the discord to see if this hits the other out of tree platforms.

[2019-05-22 20:08] Thristhart commented on #2482
A potential workaround is to modify [BundleUrlFormat in DevServerHelper](https://github.com/microsoft/react-native-windows/blob/2d3d82a974c4a87194e6924a43637ed8c82597df/current/ReactWindows/ReactNative.Shared/DevSupport/DevServerHelper.cs#L28) to enable inline source maps:
[code]
(or some more configurable way of doing that.) Inline source maps are less desirable, I think, but a significant improv

[2019-05-22 20:39] harinikmsft commented on #2469
Proposal for this work is being tracked through the PR here - [Keyboard APIs](https://github.com/ReactWindows/discussions-and-proposals/pull/1)

[2019-05-22 20:46] CaptainNic commented on #2482
@acoates-ms , @Thristhart

This does affect other out of tree platforms. I posted about this in discord and found this issue shortly afterwards.

[2019-05-22 22:19] kmelmon commented on #2315
Fixed with this PR:
https://github.com/microsoft/react-native-windows/pull/2513
We now handle statically set values and also javascript-driven animations.
The nativeDriver support is still being worked on, and is being tracked by:
https://github.com/microsoft/react-native-windows/issues/2297

[2019-05-22 22:20] #2315 closed

[2019-05-23 04:45] kmelmon commented on #2469
Load balancing this over to CanHua

[2019-05-23 04:50] #2439 closed

[2019-05-23 04:54] kmelmon commented on #2268
This isn't critical for Milestone 2.  Moving to Milestone 3.

[2019-05-23 05:05] kmelmon commented on #2274
I've made enough progress on this to feel pretty confident we understand what's required, closing.

[2019-05-23 05:05] #2274 closed

[2019-05-23 06:23] kmelmon commented on #2312
Although there is a workaround documented on the main site, we should fix this using one of the solutions recommended above.

[2019-05-23 09:30] reepias commented on #2515
### I can run react-native run-android in project react-native-windows ?

[2019-05-23 17:25] #2148 closed

[2019-05-23 17:26] Thristhart commented on #2484
Ran into a similar issue again, this time with the timeout parameter [in NetworkingModule.sendRequest](https://github.com/microsoft/react-native-windows/blob/5277e15bbc7172d100f26661b3f2809da1a75759/vnext/ReactUWP/Modules/NetworkingModule.cpp#L408):
[code]
axios-retry backs off the timeout on retries based on the duration of the previous requests, leading to non-integer timeouts on the next reques

[2019-05-23 17:28] licanhua opened #2524 "Introduce auto_revoke to vNext to avoid random crash because different lifecycle of controls and shadow node"
This apply to all vNext. It's possible apply to current\ too.
Like TextInputShadowNode, it nexted winrt::TextBox as XamlView. winrt::TextBox is winRT component, so it's possible to be destroyed late after TextInputViewManager.
I see two times of random crashes on TextChanged event but TextInputShadowNode is readonly. It's high probability that we didn't unhook the event in ~TextInputShadowNode, an

[2019-05-23 22:12] kmelmon commented on #2224
@jonthysell I've marked this as should-have (P2).  Let me know if you feel differently.

[2019-05-23 22:14] kmelmon commented on #2222
@kikisaints I've assigned a ZenHub estimate of 5 story points for this.  Feel free to update.

[2019-05-23 22:43] kmelmon commented on #2102
We've moved the work for custom view managers out to Milestone 3, moving this as well.

[2019-05-23 23:39] kmelmon commented on #2206
Load balancing this over to Marlene

[2019-05-23 23:41] kmelmon commented on #2347
This isn't critical for Milestone 2.  Moving to Milestone 3.

[2019-05-23 23:42] kmelmon commented on #2346
This isn't critical for Milestone 2.  Moving to Milestone 3.

[2019-05-24 01:04] kmelmon commented on #2499
Setting up the test infrastructure is higher priority and will take the rest of Milestone 2, Moving this to Milestone 3.

[2019-05-24 01:10] kmelmon commented on #2264
First we need to move off the fork, which isn't scheduled for Milestone 2.  Moving this to Milestone 3.

[2019-05-24 01:34] kmelmon commented on #2198
This isn't critical for Milestone 2.  Moving to Milestone 3.

[2019-05-24 01:37] kmelmon commented on #2099
Load balancing this over to kmelmon

[2019-05-24 01:39] kmelmon commented on #2079
The remaining task to publish the CLI isn't critical for Milestone 2.  Moving to Milestone 3.

[2019-05-24 09:23] saraswathirbt commented on #2420
Build failed with message Error: MSBuild tools not found. Check your build configuration. facing with the same issue can any one help to solve this, Thanks in advance

[2019-05-24 20:21] ShrinathGupta commented on #2420
I tried with both the VS 2017 as well as 2019  and even tried doing above hack. But not succeed.  Getting same error.
Does anyone know about any other work around? Thanks.

[2019-05-24 20:21] ShrinathGupta commented on #2420
I tried with both the VS 2017 as well as 2019 and even tried doing above hack. But not succeed. Getting same error.
Does anyone know about any other work around? Thanks.

[2019-05-24 20:28] devdanoliveira opened #2527 "Title bar full customization"
Hi folks,
I'm working on a RNW app that has a left navigation view and I need to customize the title bar with placeholders that can trigger events.
Did someone need to customize title bar in a RN Windows app?

Does is It possible to create a native module to do that?

[https://docs.microsoft.com/en-us/windows/uwp/design/shell/title-bar#full-customization](https://docs.microsoft.com/en-us/windows/u

[2019-05-25 00:13] kmelmon commented on #2102
Moving back to Milestone 2 to cover documenting the story that exists today.

[2019-05-25 01:41] kmelmon opened #2529 "Investigate: How to take dependency on react-native master"
The react-native master branch is where Facebook is making all their changes.  We are currently lagging behind master and taking a dependency on some stable branch.  This makes it difficult for us to submit changes from our code back into master.

This task is tracking understanding how we could make react-native-windows take a dependency on react-native master branch, or an alternative plan (such

[2019-05-25 01:51] kmelmon commented on #2469
Here's some info from an email thread that might be useful for this task:

I touched on this a little in our meeting, but the behavior of the SyntheticEvent wrapper on RN (henceforth NativeSyntheticEvent) is a little strange (and I think Facebook is likely to change some of this when they do their Fire & Fabric rewrites).  I don't know the exact mechanics of how SyntheticEvent behaves in ReactJS,

[2019-05-25 19:11] ralexand56 commented on #2420
So frustrating that this doesn't work with MS' own latest dev tools and doesn't work with the latest version of react native. I wish MS would devote more resources to this project.

[2019-05-25 19:12] ralexand56 commented on #2320
Is any work being done on this?

[2019-05-28 07:38] MakhouT commented on #2031
I am also experiencing this issue. I do have Windows 10 SDK 10.0.14393.0 as @MANTENN suggested. But this is still not doing the trick. Any other suggestions?

[2019-05-28 07:44] MakhouT commented on #2529
Does this mean we will be able to use the latest react-native version with UWP? As in my case I was using the 0.59.8, but after using the UWP cli, it changed my react-native dependency to a stable version on a specific branch with a specific version. Would be great it we can instantly use the latest react-native version. Especially in this case where 0.59 has a lot of great improvements!

[2019-05-28 08:21] aiya000 commented on #2515
Hi 😃
Maybe, I'm in same issue now!

I ran on my cmd.exe
[code]

:sob:

[2019-05-28 08:53] aiya000 opened #2531 "[C4819] Incorrect? file encoding format"
## Versions

[code]

## Problem

Hi, I'm a new Japanese user :smiley:

A build error occured.

[code]

It says

- error C2220: the warning is regarded as an error. the 'object' file doesn't make.
- warning C4819: the file contains a character that cannot be shown on the current code page (932). Save the file by the Unicode format to protect breaking data.

I made the react-native project by :point

[2019-05-28 09:00] Rosehart opened #2532 "Request: Running React Native in background on HoloLens"
I have a React Native app that I'd like to port to the HoloLens. I would like to have multiple instances open at once. Is it possible to run React Native in the background and have control over the renders it produces? I would like to show these elsewhere as images.

[2019-05-28 10:21] MakhouT commented on #2515
Exactly the same issue here.

[2019-05-28 10:27] MakhouT commented on #2515
@reepias It's 6 days ago you reported this, did you have any progress by any chance?

[2019-05-28 11:57] dlwsacrez commented on #2515
Following

[2019-05-28 17:10] harinikmsft commented on #2133
@in4margaret - can you investigate what is needed here from a CLI standpoint?

[2019-05-28 17:56] harinikmsft commented on #2088
P0 needs:
- Need to add more accessibility roles for list, listitem
- Need to add support for accessibilityStates
- Need to expose accessibility roles for "x of n count" in lists

P1 needs:
- see if we need to add a default for some of the JS components for these roles.

[2019-05-28 18:01] harinikmsft opened #2535 "Undo "windows" only extensions when rebasing to master"
There are a few places like Touchable, Button where some windows specific extensions have been written in our fork. Once the keyboard/mouse/accessibility work has been completed and when we are ready to get off the microsoft fork of RN, we should inventory these extensions, undo them and make sure they are compatible with mainline RN.

[2019-05-28 21:52] harinikmsft commented on #2515
@rozele , @in4margaret  - can one of you take a look to see what's going on? Looks like its an issue in the `current` version and tool chain for android.

[2019-05-28 21:58] harinikmsft commented on #2529
Yes, that's the goal. We are simultaneously working on updating `react-native-windows` version to 0.59 as well, so once that's done, you should be unblocked from using it.

This issue is trying to track a more scalable way for us to move off of a fork/branch structure for the windows implementation so that it would be easy to submit PRs to master react-native when we make updates that can accrue t

[2019-05-28 21:59] MakhouT commented on #2515
It's happening in the `vnext` version. Not the current.

[2019-05-28 22:19] licanhua commented on #2383
It's possible to use cavy

[2019-05-28 22:19] #2383 closed

[2019-05-28 22:23] licanhua opened #2537 "Write testapp with Cavy and provides cli and test case examples"
1. create new testapp with [Cavy](https://github.com/pixielabs/cavy)
2. provide cli to run Cavy tests
3. provide test case examples

[2019-05-28 22:25] licanhua opened #2538 "Setup test pipeline for testapp with WinAppDriver"
Run it on build machine or run it on helix?

[2019-05-28 22:26] licanhua commented on #2401
Replace it with #2538

[2019-05-28 22:26] #2401 closed

[2019-05-28 22:27] licanhua commented on #2538
For helix, we should run it on rs2 to 19h1 target os.

[2019-05-28 22:30] licanhua commented on #2364
depends on internal task to install SDK: [3358057](https://office.visualstudio.com/OE/_workitems/edit/3358057)

[2019-05-28 22:48] harinikmsft commented on #2515
Oh, thanks for clarifying @MakhouT . Let me circle back with the crew and see if we can get to the bottom of this as soon as possible.

[2019-05-29 18:27] harinikmsft commented on #2320
Hey @ralexand56 - yes, we are working on it. PR #2539 is a first step.

[2019-05-29 18:29] harinikmsft commented on #2420
Apologies on this. As @stratospheres pointed out, we are working on making the CLI for vnext work with VS 2019. Issue #2320 is tracking this (we just submitted a first PR #2539) .

You can follow the Advanced install method specified here - [Advanced install](https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/GettingStarted.md#2-advanced-install-method) for working on vNext w

[2019-05-29 18:43] harinikmsft commented on #2527
Hello @devdanoliveira - you should be able to accomplish this using a native module/custom view manager to do this. Unfortunately, this is not a high priority feature for us at the moment.

Please refer [Native Modules on windows](https://github.com/microsoft/react-native-windows/blob/master/current/docs/NativeModulesWindows.md) for help on how to accomplish this.

Another alternative if the custo

[2019-05-29 18:48] harinikmsft commented on #2531
Hellow @aiya000 - can you provide the SDK/VS tools versions you are using? Please ensure you are running the dependencies as outlined in [System requirements](https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/GettingStarted.md#system-requirements).

[2019-05-29 18:53] harinikmsft commented on #2532
Hello @Rosehart -

To clarify your scenario - do you want bitmaps out of the framework that you can put into your hololens UWP app? Or is it something else you are after?

[2019-05-30 01:59] aiya000 commented on #2531
I have both Visual Studio 2017 and 2019, with :point_down:
Does this ensure System requirements?

(Screenshots in Japanese, sorry.)
![installed-visual-studio](https://user-images.githubusercontent.com/4897842/58602958-d976f500-82c9-11e9-97a8-069f39cf6f73.png)
![installed-visual-studio-2017-s-workloads](https://user-images.githubusercontent.com/4897842/58602959-d976f500-82c9-11e9-9a62-485110962fc7.

[2019-05-30 02:08] aiya000 commented on #2515
( I'm on `vnext` too 😂 )

[2019-05-30 04:18] ShrinathGupta commented on #2420
@harinikmsft Thanks for addressing issue and giving workaround.

[2019-05-30 08:11] Rosehart commented on #2532
Exactly! Running it in the background of a UWP app and having access to the renders. This would enable a massive amount of freedom and really speed up development. Getting to use existing UI in this new environment.

[2019-05-30 15:38] harinikmsft commented on #2515
Here's what's going on : the `react-native-windows _vnext_` implementation is a work in progress and is  currently off of a /Microsoft fork of `react-native` which we are working to get off of (see Issue #2264  where we are tracking this work).

The problem you are hitting is because we have added code to this fork for improving the windows story (keyboarding, mouse hover, accessibility etc.,) whi

[2019-05-30 17:23] marlenecota commented on #2420
We merged a couple of fixes yesterday (#2539 and #2396). Please try it out and let us know if you are still seeing issues.

[2019-05-30 22:04] harinikmsft commented on #2438
Hey @in4margaret - can you help with this?

[2019-05-30 22:33] harinikmsft commented on #2182
Using #2085 to track this work in addition to keyboard.

[2019-05-30 22:33] #2182 closed

[2019-05-31 08:25] MakhouT commented on #2515
Thanks for clarifying this @harinikmsft
I know how to proceed now.

[2019-05-31 08:31] MakhouT opened #2546 "Support for react-native-navigation by Wix"
The 2 most popular navigation libraries for react-native are [react-navigation](https://github.com/react-navigation/react-navigation) and [react-native-navigation.](https://github.com/wix/react-native-navigation/)
As react-navigation is done on JS side, I am assuming this will be working out of the box.
However [react-native-navigation](https://github.com/wix/react-native-navigation/) is built nat

[2019-05-31 20:04] harinikmsft commented on #2420
Closing as verified locally. Please reopen if you are still seeing issues post the fixes from PRs #2539 and #2396

[2019-05-31 20:10] kmelmon commented on #2088
consolidating accessibility tasks - Jon will be taking these

[2019-05-31 20:27] harinikmsft commented on #2515
Closing this issue as the main underlying issues are being tracked by #2535 and #2264 as mentioned in the above comment. I will submit a PR shortly where this is being referenced in the troubleshooting section of the [vnext Getting Started Guide](https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/GettingStarted.md#troubleshooting)

[2019-05-31 20:27] #2515 closed

[2019-05-31 21:32] harishkrishnav opened #2550 "Support react-native-camera on RNW vNext"
I saw the presentation made at //Build and also some issues from years ago about camera support. Does vnext now have the functionality?

[2019-05-31 22:21] jonthysell commented on #2224
As mentioned in #2549, this issue is a side-effect of a deeper problem:

[2019-05-31 22:50] jonthysell commented on #2197
Looking here for documentation: https://docs.microsoft.com/en-us/windows/uwp/design/input/gamepad-and-remote-interactions#xy-focus-navigation-and-interaction

Looks like we need to expose the XYFocus properties to Views, where you specify a specific element when a direction is pressed, but we'll need to provide some kind of identifier (tag?) to the target View:

**P1:**
- [ ] [Control.XYFocusUp](h

[2019-05-31 23:15] #2374 closed

[2019-05-31 23:15] #2375 closed

[2019-05-31 23:16] #2378 closed

[2019-05-31 23:16] #2377 closed

[2019-05-31 23:16] #2379 closed

[2019-05-31 23:36] jonthysell commented on #2124
This seems pretty straight-forward, updating the description with what the C# implementation does.

[2019-06-01 00:31] jonthysell commented on #2088
Some accessibilityStates already exist, just need to add the remaining. List and listitem roles need to be invented JS side and then plumbed through, then mapped to the right automationcontroltype.

[2019-06-01 01:13] kmelmon commented on #2122
Consolidating accessibility work - Jon will take this.

[2019-06-01 01:14] kmelmon commented on #2089
Consolidating accessibility work - Jon will take this.

[2019-06-01 04:03] Thristhart commented on #2482
Closing this for now as the issue has been worked around in #2553 and the source of the issue is upstream in metro anyway. Hopefully the metro issue will be resolved and we can undo the inline sourcemaps workaround.

[2019-06-01 04:03] #2482 closed

[2019-06-01 14:07] stecrain commented on #2484
@harinikmsft @kmelmon what do you think the correct fix here is? Should these types of props be floored and remain ints? Or should the conversion be to a float?

Wanted to ask because in uwp it is valid to use fractions of pixels for sizing, this works because of dpi scaling. For example with 200% scaling 10 logical pixels is 20 physical pixels. So 10.5 logical pixels would be 21 physical pixels.

[2019-06-03 07:37] sumedha-harshit opened #2555 "Unauthorized access error"
### Environment

1. "react-native": "^0.59.8",
2. "rnpm-plugin-windows": "^0.2.9"
3."react-native-windows": "^0.58.0-rc.0",
4. `node -v11..14.0`:
5. `npm -6.7.0`:

Target Platform:  UAP
Target Platform Version(s):  10.0.14393.0,
Target Device(s): Emulator
Development Operating System: Windows 10
Visual Studio Version: 15.0.27130.2024
Build Configuration: Debug

I am using react-native-windows for

[2019-06-03 18:07] ahimberg commented on #2484
We should probably just convert all or most code using asInt to asDouble.  We were incorrectly under the impression that asInt would static_cast to int and truncate, but it throws when cast to int would result in a different value.  With the recent switch to to JSI we changed a lot of checks for isInt / isDouble to be isNumber - exposing this problem in more places that were thinking after isNumbe

[2019-06-03 20:42] #2127 closed

[2019-06-03 20:46] kmelmon commented on #2484
Andy says:  [1:45 PM] Andy Himberger
    ok cool, its probably as simple as search and replace asInt with asDouble and in some place adding casts to suppress warnings

[2019-06-03 20:56] kmelmon commented on #2531
Here's what msdn says about warning C4819:

The file contains a character that cannot be represented in the current code page (number). Save the file in Unicode format to prevent data loss.

C4819 occurs when you compile an ANSI source file on a system using a codepage that can't represent all characters in the file.

There are several ways to resolve C4819. One simple way is to remove the offendi

[2019-06-03 20:59] kmelmon commented on #2531
Evidently there's some character in asyncworkqueue.cpp that is causing issues on a system that is running Japanese as the primary language.

Seems like the easiest fix here is to save the file as UTF-8

[2019-06-03 22:20] harinikmsft commented on #2438
@rozele - can you see if you can get this fixed so the main landing page [here](https://www.npmjs.com/package/react-native-windows) is picking up the right readme file?

[2019-06-03 22:32] rozele commented on #2438
@harinikmsft will do

[2019-06-03 23:05] kmelmon opened #2557 "Migrate from CoreDispatcher => DispatcherQueue"
Currently, vnext uses CoreDispatcher internally as the implementation for enqueuing work coming across the bridge.

After discussing with Scott Moore,  we learned that CoreDispatcher has limitations when used in a win32 context.  The recommendation for anyone using XAML within islands is to switch to using DispatcherQueue which is win32 message-pump friendly.

We will likely run into issues in Xam

[2019-06-04 14:59] rozele commented on #2438
Done: https://www.npmjs.com/package/react-native-windows

[2019-06-04 14:59] #2438 closed

[2019-06-04 17:13] Thristhart opened #2560 "Touchable* doesn't fire onFocus event"
## Repro steps
[code]
Focus the `TouchableWithoutFeedback` (e.g. using tab, or controller on Xbox)

## Expected behavior
`logOnFocus` is called and console log appears

## Observed behavior
logOnFocus is never called.

[2019-06-04 23:49] #2320 closed

[2019-06-05 00:05] #2484 closed

[2019-06-05 07:21] ahimberg commented on #2173
https://github.com/microsoft/react-native-windows/pull/2481

[2019-06-05 16:02] hmheng commented on #2420
@harinikmsft, still facing the same issue with rnwindows 0.57 versions.
I have VS2017 and VS2019 installed.

[2019-06-05 18:24] jonthysell commented on #2197
Currently verifying if we need this for Milestone 2.

[2019-06-05 18:27] jonthysell commented on #2151
Currently verifying if this needs to happen in Milestone 2.

[2019-06-05 19:07] jonthysell opened #2565 "Bring accessibility up to par with the RN 59 API surface"
This epic tracks all of the work necessary in RNW vNext to meet the accessibility APIs defined for RN 59 here: https://facebook.github.io/react-native/docs/0.59/accessibility

[2019-06-05 19:19] jonthysell opened #2566 "Bring accessibility up to par with the RN 60 API surface"
This epic tracks all of the work necessary in RNW vNext to meet the accessibility APIs defined for RN 60 here: https://facebook.github.io/react-native/docs/accessibility

[2019-06-05 19:25] jonthysell opened #2568 "Extend accessibility in RNW for windows-specific requirements"
This epic tracks all of the work necessary in RNW vNext to extend RN accessibility to meet our windows-specific requirements.

[2019-06-05 20:04] harinikmsft commented on #2420
Sorry to hear that @hmheng. @marlenecota  - can you take a look again?

[2019-06-05 22:22] jonthysell opened #2573 "Implement 'selected' and 'disabled' accessibilityState"
We need to map these accessibilityState values to XAML properties:

* [x] selected -> IsSelected https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.automation.selectionitempatternidentifiers.isselectedproperty
* [x] disabled -> IsEnabled https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.automation.automationelementidentifiers.isenabledproperty

[2019-06-05 22:23] jonthysell opened #2574 "Implement 'checked' and 'unchecked' accessibilityState"
Work:
- [x] Pipe through new state values into RNW
- [x] Consume state values in DynamicAutomationPeer
- [ ] Update RN fork to recognize new values so TS compiles.

[2019-06-05 22:24] jonthysell opened #2575 "Implement 'busy', 'expanded', 'collapsed' accessibilityState"
Work:
- [x] Pipe through new state values into RNW
- [x] Consume state values in DynamicAutomationPeer
- [x] Update RN fork to recognize new values so TS compiles.

[2019-06-05 22:25] jonthysell opened #2576 "Implement 'checkbox' accessibilityRole"
Work:
- [x] Pipe through new role values into RNW
- [x] Consume role values in DynamicAutomationPeer
- [ ] Update RN fork to recognize new values so TS compiles.

[2019-06-05 22:28] jonthysell opened #2577 "Implement remaining accessibilityRole values for RN 60"
This includes both adding the values and setting the appropriate XAML UIA properties.

 * [x] 'alert'
 * [x] 'combobox'
 * [x] 'menu'
 * [x] 'menubar'
 * [x] 'menuitem'
 * [x] 'progressbar'
 * [x] 'radio'
 * [x] 'radiogroup'
 * [x] 'scrollbar'
 * [x] 'spinbutton'
 * [x] 'switch'
 * [x] 'tab'
 * [x] 'tablist'
 * [x] 'timer'
 * [x] 'toolbar'

Work:
- [x] Pipe through new role values into RNW
- [x] C

[2019-06-05 22:29] jonthysell opened #2578 "Implement 'list' and 'listitem' accessibilityRole extension"
This includes both adding the values and setting the appropriate XAML UIA properties.

Work:
- [x] Pipe through new role values into RNW
- [x] Consume role values in DynamicAutomationPeer
- [ ] Update RN fork to recognize new values so TS compiles.

[2019-06-05 22:30] jonthysell opened #2579 "Implement 'x of n' list item support within native views"
This involves making sure the native views marked as list items announce the correct 'x of n' counts by narrator

[2019-06-05 22:33] jonthysell commented on #2088
Closing this, it's now covered by #2578, #2579

[2019-06-05 22:33] #2088 closed

[2019-06-05 22:35] jonthysell commented on #2089
This work is now split out over #2565, #2566, #2568.

[2019-06-05 22:35] #2089 closed

[2019-06-05 22:35] jonthysell commented on #2122
This work is now split out over #2565, #2566, #2568.

[2019-06-05 22:35] #2122 closed

[2019-06-06 00:35] kmelmon opened #2580 "Transform property doesn't scale/rotate about element center"
The Transform property has a bug:  the origin for scales/rotates is the upper-left corner of the element.  This isn't how this behaves on other platforms - the origin should be at the center of the element.

[2019-06-06 00:36] kmelmon commented on #2580
self-triaging as we should just fix this now

[2019-06-06 00:53] kmelmon commented on #2580
The easiest way to fix this would be to create an expression animation that sets the CenterPoint facade to ActualSize/2.  This way we only have to set it up once and it will stay up to date.

[2019-06-06 15:15] Thristhart commented on #2560
I was able to work around this issue by adding focus listeners to the View itself, and adding the not-well-documented `acceptsKeyboardFocus`:
[code]

[2019-06-06 20:25] ShrinathGupta commented on #2420
@harinikmsft  Even same behavior for me.  :( It's not working.

[2019-06-06 21:21] MungeParty commented on #2420
Same here on version 0.57.1, haven't tried vnext since due to lack of transform animation.

[2019-06-06 22:12] marlenecota commented on #2420
Ah, my fix was only for vnext. @ShrinathGupta were you also using current?

[2019-06-07 00:51] hmheng commented on #2420
If we upgrade to vnext, it will break android compilation. I haven't try ios yet.

[2019-06-07 03:41] ShrinathGupta commented on #2420
@marlenecota  Yes i was using vnext and i was building uwp app.

[2019-06-07 17:04] akrantz opened #2586 "Provide separate dev setting for hostname and port"
Instead of having a single dev setting for the hostname and port together, e.g. "localhost:123", provide separate settings for "hostname" and "port". This would allow changing the port while using the default for the host name (localhost), and would be easier for tooling.

[2019-06-07 18:36] rozele commented on #2555
Looks like you are writing to `C:\Users\raj\Documents`. Can you try adding `documentsLibrary` to the capabilities in .appxmanifest?

[2019-06-07 20:12] micahl opened #2588 "Reduce chattiness across the bridge when loading images"
While discussing a perf trace we noticed that there's lots of chatter across the bridge when looking at images downloaded and opened.  @ahimberg suggested its a bug we ought to be able to fix.  It should help startup for media-heavy apps that show lots of images.

[2019-06-07 20:14] marlenecota commented on #2420
@hmheng, @ShrinathGupta - 0.57.2 and 0.58.0-rc.2 have been patched. Please give that a go.

[2019-06-07 20:20] micahl opened #2589 "Investigate layout behavior related to TextBlock"
This suggestion came up during a perf trace review.  We should check if TextBlock is measuring itself multiple times (e.g. once outside of the Xaml frame and again later).  Measuring text is expensive so we need to ensure we're only doing it when necessary.

[2019-06-07 23:35] stecrain opened #2593 "Feature nice to have Separate debughost and debugport."
It would be better to allow the host name and port to be set independently. The code in ReactWindows does this, but I did not extend this to the devSettings struct at the time. Perhaps we should create an issue to investigate making this change.

_Originally posted by @akrantz in https://github.com/_render_node/MDExOlB1bGxSZXF1ZXN0Mjg2MjM1Mzc1/pull_requests/unread_timeline_

[2019-06-08 04:17] hmheng commented on #2420
@marlenecota  thank you..
My reactnative version is RN 0.57..

PS D:\PS\Repos\RNWindows> react-native windows --template current
Reading application name from package.json...
Reading react-native version from node_modules...
Checking for react-native-windows version matching 0.57.*...
Could not find react-native-windows@0.57.*-current.*.

[2019-06-10 15:53] harinikmsft commented on #2589
The `current` RNW implementation also has support for fast path text (which the native platform supports). We might want to consider surfacing that in `vnext` as well for advanced apps to take advantage of in Windows.

[2019-06-10 18:49] jonthysell opened #2598 "Components without accessibilityLabel set don't announce"
We raise an LiveRegionChanged automation event (announce) when the Name or LiveRegion property changes, which causes the contents of the Name property to be read by Narrator.

Unfortunately, some (all?) controls don't populate the Name property automatically, this means developers must explicitly set accessibilityLabel on a Component to enusure Name is is set on the XAML control.

The Text compone

[2019-06-11 18:42] harinikmsft commented on #2578
The role names - `list` and `listitem` - do match the corresponding ARIA equivalents ([ARIA list role](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/List_role), [ARIA listitem role](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/Listitem_role)).

I will start a proposal for this shortly.

[2019-06-11 19:11] harinikmsft commented on #2579
The UIA properties that describe these for accessibility tools are [PositionInSet](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Automation.AutomationProperties.PositionInSetProperty) and [SizeOfSet](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Automation.AutomationProperties.SizeOfSetProperty)

The corresponding ARIA properties are [posInSet](https://www.w3.org/TR/wai-aria-

[2019-06-11 19:12] kmelmon commented on #2589
I chatted with codendone about the question of whether or not text will measure itself twice.

codendone says:
Measuring twice is possible, but not guaranteed.  Obviously if it gets marked as measure dirty after your Measure call then it will certainly measure again in the next layout pass.  Or it will measure again if the availableSize which you pass in to Measure differs from the availableSize w

[2019-06-11 19:19] #2124 closed

[2019-06-12 04:50] baveku opened #2604 "Cannot Build App with VNext 0.58.0 - 170"
version 0.58.0-vnext.170
VSCode 2019 Error Build:
[code]

[2019-06-12 18:15] kmelmon opened #2605 "Optimize away unnecessary XAML Panels for Views"
One of the optimizations we have in the C# solution is to "optimize away" some of the React components that are purely used for layout. It turns out there are usually quite a lot of these in a typical React Native app. This would help as you would reduce the number of views doing the unnecessary Measure/Arrange work.

This is the approach that was taken for Android, although I'm not sure if it wil

[2019-06-12 18:16] kmelmon commented on #2118
I've split the "optimize away unnecessary panels" aspect of this into a separate issue:
https://github.com/microsoft/react-native-windows/issues/2605

[2019-06-12 19:16] harinikmsft commented on #2532
Thanks for raising this. After discussing with the crew, this appears to be more of a native platform feature request than a react-native-windows feature request. Can you please email me : harinik@microsoft.com? We are taking this conversation forward with the native Windows crews that can help here. Would love to loop you in to get more context on your scenarios.

Closing this issue from this rep

[2019-06-12 19:16] #2532 closed

[2019-06-12 19:19] harinikmsft commented on #2546
Thanks for raising this. We plan to address these as part of Milestone 3 coming up.

[2019-06-12 19:24] harinikmsft commented on #2550
Hello -

We are planning to add windows vnext support for the [react-native-cameraroll](https://github.com/react-native-community/react-native-cameraroll) module in Milestone 3. Is this the one you are referring to?

[2019-06-12 19:31] harinikmsft commented on #2560
The primary issue here is being tracked through #2107. Closing this to track through that issue.

[2019-06-12 19:31] #2560 closed

[2019-06-12 19:44] harinikmsft commented on #2593
Looks like a dupe of #2586

[2019-06-12 19:44] #2593 closed

[2019-06-12 19:52] harinikmsft commented on #2604
Hello -

Can you give us some more details on which install method you are using? Are you using [the CLI](https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/GettingStarted.md#1-simple-install-method) or [the advanced install method](https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/GettingStarted.md#2-advanced-install-method)?

If you are using the adva

[2019-06-12 19:55] stecrain commented on #2589
@kmelmon were you able to get a RNW apps to hit the XAML fast path for text measurements?
If so could you share the app?
For our prototype we are hitting the slow path, and I'm looking for any suggestions to help figure out why.

My main concern is that all RNW text is hitting slow path.

[2019-06-12 21:43] mskwon commented on #2084
Just a heads up for anybody else with this problem - a quick workaround is to change the relative path of the bundle to “../../../ReactAssets/index.wpf.bundle”

[2019-06-12 22:27] harinikmsft opened #2606 "Get CI loop validation of vnext CLI running on VS 2019"
This is needed to make sure CLI doesn't break with new updates and continues to work against VS 2019. Per @acoates-ms - the work here is to "update the vmImage to use the vs2019 image.  Then its just a matter of writing some logic to validate running the cli and building the resulting project".

[2019-06-13 15:58] kmelmon commented on #2173
There is a remaining issue here - we're still dispatching every command as it comes across the bridge.  We should change this to gather up the commands and dispatch only once per batch.

[2019-06-14 00:39] #2580 closed

[2019-06-14 05:41] SunilPandey- opened #2616 "Unable to connect to remote debugger. did you forget to start the development server or connect to your device."
### Environment

1. `react-native -v`: 0.57.0
2. `npm ls rnpm-plugin-windows`:0.2.9
3. `npm ls react-native-windows`:0.57.1
4. `node -v`: 10.16.0
5. `npm -v`: 6.9.0
6. `yarn --version`:

Then, specify:

- Target Platform: UWP Local Machine

- Target Platform Version(s): 10.0.14393

- Target Device(s): Local Machine

- Development Operating System: windows 10

- Visual Studio Version: Visual Studio

[2019-06-14 06:11] danielsdesk opened #2618 "When initializing react native windows, dependency fails to download"
When following the getting started guide for vnext, upon trying to initialize the project directory like this:
[code]
failed output is like this:
[code]

[2019-06-14 07:48] cloudle commented on #2618
@danielsdesk same problem here, seem that we don't have `react-native-windows@0.59.0-vnext.4` yet.

Since latest version of `react-native-windows` is `@0.58.0-rc.2`, I tried to initialize `react-native` at version `@0.58.0-rc.2` and it work:
[code]
(we'll want to upgrade it to newer version of `react-native` latter I guess)

[2019-06-14 17:26] kmelmon commented on #2589
@stecrain I'm looking into this now...  XAML automatically detects when it can use fast-path, and falls back to slow-path under several conditions:
-If CharacterSpacing not set to the default:  letterSpacing/characterSpacing are the RN properties
-TextTrimming is set to "Clip":  ellipsizeMode is the RN property
-If Language requires number substitution:  I don't know if there's an RN property for

[2019-06-14 19:29] kmelmon opened #2620 "[Performance] vnext should use fast-path text for simple <Text>"
This was discovered by Xbox folks when measuring perf.  The current implementation always creates a Run for the text property of <Text> and inserts it into the TextBlock's InlineCollection.  This disables XAML fast-path text so we're always getting slow-path for all Text in RNW.

This bug is tracking optimizing.  We should be able to change this code to use the TextBlock.Text property instead of i

[2019-06-14 19:30] kmelmon commented on #2589
@stecrain Confirmed, our current code is always using the TextBlock's InlineCollection, even in the simple case of just having a single run of text.  This means we currently always use slow path.  I filed this issue to track:
https://github.com/microsoft/react-native-windows/issues/2620

[2019-06-14 19:57] micahl commented on #2589
@kmelmon, should we close this issue in favor of tracking a fix for #2620 or is there more investigation that you believe is warranted?

[2019-06-14 23:22] danielsdesk commented on #2618
Thank you, yes doing `react-native init <projectName> --version react-native@0.58.0-rc.2` got me unblocked

[2019-06-15 01:15] stecrain commented on #2589
Thanks for looking into this

[2019-06-17 18:29] harishkrishnav commented on #2550
Yes. Thank you for the response.

[2019-06-17 20:56] harinikmsft opened #2627 "Implement View.focus() and View.blur()"
It appears that [focus()](https://facebook.github.io/react-native/docs/direct-manipulation#focus) and [blur()](https://facebook.github.io/react-native/docs/direct-manipulation#blur) are not working when used with View in react-native-windows today. We should wire it up the same way TextInput works and ensure these methods set focus on the View when invoked.

[2019-06-17 22:26] kmelmon commented on #2627
Pulling this into Milestone 2 and assigned to CanHua

[2019-06-17 22:30] harinikmsft commented on #2550
Thanks. Moving this to Milestone 3.

[2019-06-18 04:31] #2312 closed

[2019-06-18 04:39] marlenecota opened #2631 "Image blurRadius"
Split out from #2111
https://facebook.github.io/react-native/docs/image#blurradius

Not directly supported by Image element. Would need to drop down the Composition for this. One possible proposal (using RS2 APIs):
-Create a XamlCompositionBrushBbase and use this to fill the background of a Panel (eg Canvas)
-The XCBB would create a Composition EffectBrush for the blur, and a LoadedImageSurface as

[2019-06-18 04:43] marlenecota opened #2632 "Image defaultSource"
Split out from #2111
https://facebook.github.io/react-native/docs/image#defaultsource

_A static image to display while loading the image source._
Not directly supported by Image. Would need to manually load/display this, similar to loadingIndicatorSource (#2633).

[2019-06-18 04:44] marlenecota opened #2633 "Image loadingIndicatorSource"
Split out from #2111
https://facebook.github.io/react-native/docs/image#loadingindicatorsource

_Similarly to source, this property represents the resource used to render the loading indicator for the image, displayed until image is ready to be displayed, typically after when it got downloaded from network._

Not directly supported by Image. Would need to manually load/display the loading indicato

[2019-06-18 04:45] marlenecota opened #2634 "Image fadeDuration"
Split out from #2111
https://facebook.github.io/react-native/docs/image#fadeduration

By default, it is 300ms.

[2019-06-18 04:47] marlenecota opened #2635 "Image progressiveRenderingEnabled"
Split out from #2111
https://facebook.github.io/react-native/docs/image#progressiverenderingenabled

_Typically Android only. When true, enables progressive jpeg streaming. [See here](https://frescolib.org/docs/progressive-jpegs.html)._
Not supported by XAML. Would need to do the decoding ourselves and render ourselves.

When true, enables progressive jpeg streaming. https://frescolib.org/docs/pro

[2019-06-18 04:48] marlenecota opened #2636 "LayoutProps overflow"
Split out from #2111
https://facebook.github.io/react-native/docs/layout-props#overflow

overflow controls how children are measured and displayed. overflow: hidden causes views to be clipped while overflow: scroll causes views to be measured independently of their parents main axis. It works like overflow in CSS (default: visible). See https://developer.mozilla.org/en/docs/Web/CSS/overflow for mo

[2019-06-18 04:50] marlenecota opened #2637 "[Image] Implement 'repeat' and 'center' resizeMode"
https://facebook.github.io/react-native/docs/image#resizemode

[2019-06-18 04:51] marlenecota commented on #2637
#2581

[2019-06-18 11:31] #2616 closed

[2019-06-18 11:32] SunilPandey- commented on #2616
Had to change port number in one file

[2019-06-18 18:57] kmelmon commented on #2589
Based on Mike's numbers, I don't see double-Measure being a problem.  This just leaves #2620, closing this.

[2019-06-18 18:57] #2589 closed

[2019-06-19 02:56] kmelmon opened #2642 "Layout is run on XAML controls that haven't expanded their control templates"
This is a follow-up on:
https://github.com/microsoft/react-native-windows/pull/2584

The flow of operations for batch processing and running layout goes like this:
1)	Process all the commands from the bridge
2)	Run yoga layout
3)	Push results of yoga into the XAML tree
4)	XAML ticks and runs its own layout pass/render walk
When a new tree is being created, step 1 is creating all the views and addi

[2019-06-19 03:22] kmelmon opened #2643 "Implement flexbox layout using XAML panel"
This came out of:
https://github.com/microsoft/react-native-windows/issues/2642

Today's implementation of flexbox runs layout mostly "outside" XAML layout, and then we set absolute positions on all XAML elements.  This has a number of downsides, most notably performance impact to do it correctly.

This issue is tracking implementing flexbox using XAML's layout engine, either by implementing a cus

[2019-06-19 05:28] kmelmon commented on #2643
Also opened this feature request in WinUI repo as it would accrue value for XAML:
https://github.com/microsoft/microsoft-ui-xaml/issues/896

[2019-06-19 18:39] acoates-ms opened #2645 "Remove nuget.exe from NPM package"
The vnext NPM package is 6.2MB.  4.3MB of that is a copy of nuget.exe in the local-cli.  There has to be a better way to use nuget than us having to ship another copy of it.

[2019-06-19 19:10] kmelmon commented on #2604
@baveku we're assuming this is already fixed.  Please reopen if you continue to have issues.

[2019-06-19 19:10] #2604 closed

[2019-06-19 19:13] kmelmon commented on #2618
@acoates-ms  it looks like something broke the CLI when we upgraded to 0.59.  I think you've likely already fixed this and verified with the new CLI test you wrote.

[2019-06-19 19:16] acoates-ms commented on #2618
Yes, this should be fixed by #2641

[2019-06-19 19:16] #2618 closed

[2019-06-19 19:20] kmelmon commented on #2637
@marlenecota can this be closed now?

[2019-06-19 20:56] #2637 closed

[2019-06-20 02:50] marlenecota opened #2652 "Image memory usage regression"
If an Image's width and height have been set, then we can presumably set the desiredMaxSize of the LoadedImageSurface when loading the resource.

Caveats:
- maxWidth and maxHeight take priority
- (max)Width and (max)Height have to be constants. If they're using a % and then resize the window to make it bigger, then the image wouldn't grow.
- Do both values (width and height) have to be set? I thin

[2019-06-20 03:20] marlenecota commented on #2645
Looks like we can use msbuild -t:restore if we migrate the solutions from packages.config to PackageReference.

https://docs.microsoft.com/en-us/nuget/reference/msbuild-targets#restore-target
https://docs.microsoft.com/en-us/nuget/reference/migrate-packages-config-to-package-reference

[2019-06-20 03:47] marlenecota commented on #2645
Maybe not... C++ projects might not be supported yet. I've reached out to the nuget team to verify.

[2019-06-20 14:44] stecrain commented on #2652
I just wanted to chime in and say that this can make a big difference when over-sized assets are used.

In the app I am working on I have an app bug resulting in me requesting 4k images in a 280 x 150 size image on screen.
Now I definitely should not request 4k images to display them so small on screen.
Luckily I have the benefit of just adding some url params and requesting a smaller image.

But

[2019-06-20 20:11] kmelmon commented on #2652
@stecrain this is a good catch.  With the change to use LoadedImageSurface, we lost "right-size-decoding".

After thinking about this and talking it over with @codendone here's what I think we should do:
1) Only use LoadedImageSurface for repeating images.  In this scenario I think we're likely safe just decoding to the image's natural size as it's supposed to tile.  We can further optimize this c

[2019-06-20 21:33] stecrain commented on #2652
Those are all great points @kmelmon
Regarding the caching, I think we can probably only download manually when auth (or other headers) are present. At least that way we get the image caching.

I might be missing something though, because to me it seems like using BitmapImage conditionally would require quite a bit of code, and refactoring. (Unless you can use a BitmapImage as the source on a Canva

[2019-06-20 21:46] stecrain commented on #2588
This is fixed with https://github.com/microsoft/react-native-windows/pull/2648 what I thought was chattiness was really just the ui thread waiting for the image to download.

[2019-06-20 21:46] #2588 closed

[2019-06-20 22:11] nkolev92 commented on #2645
@marlenecota discussed this concern offline with me.

NuGet PackageReference is integrated with MSBuild and has a target that allows you to restore.
Unfortunately this is not supported for C++ yet.
PackageReference was a significant undertaking, and it required changes by the projects themselves.
Specifically C++ has not made those changes. The issue tracking this ask if the following:
https://dev

[2019-06-20 22:52] stecrain commented on #2173
I was curious about this so I looked at the precise more closely at one of the traces I already had taken.

Zooming into a 289ms window where i expected the UI Thread to be at 100% utilization (processing commands) I could see that the UI Thread spent 19ms in ready state, or ~6% of the total duration.

I think this is an interesting issue. It seems possible that dispatching each command might give

[2019-06-21 02:14] kmelmon opened #2657 "Implement i18n setters"
The i18n module has a number of setter APIs, for example:

i18n.defaultLocale = 'en';
i18n.locale = 'en';
i18n.fallbacks = true;
i18n.translations = { en, de };

Looking at our implementation, we don't appear to implement any of these setters.

[2019-06-21 05:55] micahl commented on #2642
https://github.com/microsoft/microsoft-ui-xaml/issues/694

[2019-06-21 17:34] stmoy opened #2660 "Text truncates depending on scale factor/layout rounding?"
Seems similar to #324 but repros on RNW vNext.

Repro steps:
- Create a new RNW vNext project
- Run it
Notice that the text truncates with an ellipses (...) even when it has room to render the full text. Resizing the window causes the text to "jitter" between the proper text and the ellipses (see attached video).

Very likely due to a bug in layout rounding. Repro is most consistent on a high DPI

[2019-06-22 01:18] kmelmon opened #2663 "CLI app won't launch with "Application XXX has not been registered" error"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.58.0
2. `npm ls rnpm-plugin-windows`:
3. `npm ls react-native-windows`:
helloworld_current3@0.0.1 D:\helloworld_current3
`-- (empty)
4. `node -v`:
v10.15.1
5. `npm -v`:
6.7.0
6. `yarn --version`:

Then, specify:

- Target Platform:  UWP

- Target Platform Version(s): idunno

- Target Device(s): desktop

- Development Op

[2019-06-24 13:17] rozele commented on #2663
This is an unfortunate side-effect of you using `helloworld` as part of your app name. If you changed it to `foo_current3` you wouldn't have this problem. In `react-native`, they use `HelloWorld` as the placeholder name for the project name, and apparently the CLI performs two regex replace operations (case insensitive), leading to the behavior listed above.

This bug should definitely be filed in

[2019-06-24 13:21] rozele commented on #2663
Actually, if you even just changed your project name to `Helloworld_current3`, you wouldn't hit the issue. The problem is that the CLI tool seems to check for both case sensitive and all lower case variants of the placeholder name. So in the case of the default `react-native` template, it checks for `HelloWorld` and `helloworld`. It finds the lowercase `helloworld` in the app name it's already rep

[2019-06-24 13:21] #2663 closed

[2019-06-24 13:22] rozele commented on #2663
cc @grabbou for visibility.

[2019-06-24 13:40] grabbou commented on #2663
Ah, that definitely sounds like something our regex should take care of + a better placeholder name. Let me cross-open an issue.

[2019-06-24 13:45] licanhua opened #2666 "Share native modules between current and vnext"
If customer create a native module for DatePicker, this modules should be able to be shared by vnext and current without/with little code change.

[2019-06-24 17:01] zzyyzz1992 opened #2668 "How to refresh from red screen?"
When debugging iOS and Android, sometimes the nodejs server get error and we must restart the server, but restarting the UWP app is very slow. Is there a way to refresh the UWP app just like debugging iOS and Android, for example 'Press F5 to Reload'.
This is 'the red screen' what I mean:
![image](https://user-images.githubusercontent.com/3894825/60037618-9ea78780-96e4-11e9-8cf9-0318d26bbc45.png)

[2019-06-24 20:40] #2469 closed

[2019-06-25 00:51] kmelmon commented on #2173
@stecrain thanks for the data - pretty strong indicator the extra latency is measurable - I expect this to be even more compelling with larger trees.  In addition, I talked this over with Scott Moore (owner of CoreMessaging), the guidance is to avoid dispatching many small work items as each item incurs multiple heap allocations.

I studied the code a bit, which works like this:
-XAML has a centra

[2019-06-25 01:26] kmelmon opened #2671 "Crash when navigating to/from Transforms test page"
Apparent lifetime issue in Transforms code.

Repro Steps;
-Launch RNTester
-Navigate to the Transforms test page
-Hit Back button
-Navigate back to the Transforms test page

RESULT
crash

[2019-06-25 03:03] kmelmon opened #2672 "Add support for more fields to IKeyboardEvent"
In our initial implementation of keyboard events, we implemented these fields:

export interface INativeKeyboardEvent {
  altKey: boolean;
  ctrlKey: boolean;
  metaKey: boolean;
  shiftKey: boolean;
  key: string;
  eventPhase: EventPhase;
}

This isn't a complete list.  See:
https://www.w3.org/TR/uievents/#interface-keyboardevent

We need to go over this list and decide which of the remaining fi

[2019-06-25 03:09] kmelmon opened #2673 "TransferProperties is missing some properties"
FrameworkElementViewManager::TransferProperties is called whenever we switch the backing XAML element for a component.

This function is missing a couple properties, which means they won't be applied correctly anymore:
Canvas.zIndex
FlowDirection
AutomationId

[2019-06-25 09:13] peterfei commented on #2417
Also not work

[2019-06-25 09:55] SunilPandey- opened #2674 "TypeError: CameraManager.takePicture is not a function: on Windows UWP"
### Environment

1. `react-native -v`: 0.57.0
2. `npm ls rnpm-plugin-windows`: 0.2.9
3. `npm ls react-native-windows`:0.57.1
4. `node -v`: v10.16.0
5. `npm -v`: 6.9.0
6. `yarn --version`:

Then, specify:

- Target Platform:
UWP

- Target Platform Version(s):
10.0.14393

- Target Device(s):
Local Machine desktop

- Development Operating System:
Windows

- Visual Studio Version:
VS-2017

- Build Con

[2019-06-26 00:21] kmelmon opened #2679 "[Keyboarding] Change IKeyboardEvent.key => IKeyboardEvent.code"
The current implementation of IKeyboardEvent defines a "key" member.  If we were to strictly follow the w3c standard for key, we'd need to implement this part of the web standard:

A key attribute value is defined as being a string that contains one of the following:
•        A key string that corresponds to the character typed by the user, taking into account the user’s current locale setting, mo

[2019-06-26 01:24] StephenLPeters opened #2680 "Implement a native animated perspective node"
The initial implementation of the NativeAnimatedDriver does not have an implementation for a perspective animation because there is not an easy way to achieve the affect.

[2019-06-26 01:28] StephenLPeters opened #2681 "Implement a native SpringAnimation Node"
The initial implementation of the NativeAnimatedDriver does not have an implementation for SpringAnimatedNodes.

[2019-06-26 04:23] licanhua opened #2683 "Enable focus()/blur() on Checkbox, Picker and possible other controls."
Checkbox and Picker are Composite components, and forwardref is a way to [direct-manipulation](https://facebook.github.io/react-native/docs/direct-manipulation#docsNav) and set focus.

Their android implementation is already use forwardref and we need to follow the same way.

[2019-06-26 10:41] peterfei opened #2686 "Could wpf support modal ?"
### Environment
[code]
Seems modal supported only by uwp which run in `react-native windows` , could wpf also support modal  for `ReactNative.Net46`?

[2019-06-26 19:09] kmelmon commented on #2657
Keith to investigate what the expected behavior of i18n module is

[2019-06-26 19:17] kmelmon commented on #2666
@micahl please keep this in mind as we work through the design for native modules.  We don't need to track this separately as we should have a holistic approach.  Closing.

[2019-06-26 19:17] #2666 closed

[2019-06-26 19:20] kmelmon commented on #2668
Thanks for reporting this.  We'll investigate as time warrants.

[2019-06-26 19:21] kmelmon commented on #2672
@harinikmsft can you go through the remaining fields and figure out which ones we should add to our event?

[2019-06-26 19:25] kmelmon commented on #2673
Keith will assign this to Hunter.

[2019-06-26 19:29] rozele commented on #2674
Thanks for filing @SunilPandey - seems like this should be filed on https://github.com/react-native-community/react-native-camera. Unfortunately, I'm not aware of any active maintainers for the react-native-camera module, so it's likely that the windows native module is quite out of date.

[2019-06-26 19:29] #2674 closed

[2019-06-26 19:30] rozele commented on #2686
We'll happily accept PRs, most modules for WPF translate fairly seamlessly.

[2019-06-26 19:35] rozele commented on #2421
@jdnichollsc - I believe we already have templates, but they may be slightly out of date. Are you having specific problems with the `react-native-create-library` tool?

[2019-06-26 19:36] kmelmon commented on #2683
@harinikmsft can you figure out our overall story for what controls can receive focus?  This one is calling out Checkbox/Picker as good examples, there will likely be more.

[2019-06-26 21:01] kmelmon commented on #2683
@licanhua I see you've added forwardref support to the keyboard events.  Can we close this issue?

[2019-06-26 21:06] licanhua commented on #2683
They are totally different. RCTCheckBox is the native component, then Checkbox is a wrapper on RCTCheckBox, then supportKeyboard and others are another wrapper on CheckBox.
CheckBox doesn't support forwardref, so even outer pass a ref, it's been ignored by CheckBox.
CheckBox/Picker is just two examples I know, maybe other controls have the same problem.

[2019-06-26 22:09] jdnichollsc commented on #2421
Honestly I can see any example supporting windows with that tool. So if you can give me any example would be awesome!

[2019-06-26 22:15] kmelmon commented on #2683
@licanhua thanks for clarifying.  I changed the wording on the issue slightly to capture the general issue, and it looks like forwardref simply won't work anyway.

[2019-06-27 00:34] peterfei commented on #2686
@rozele  Thanks a million！

[2019-06-27 03:11] SunilPandey- commented on #2674
@rozele  I need to open camera, for taking picture and video. when i click on my pic button it should open for camera, when i click on my video button it should open for video, what would you suggest for this. any other library or windows support this.

[2019-06-27 15:00] rozele commented on #2421
@jdnichollsc - the main README has a GIF of using the CLI tool, which by default generates a windows library.

[2019-06-27 15:00] #2421 closed

[2019-06-27 19:25] harinikmsft commented on #2364
Fixed by #2456

[2019-06-27 19:25] #2364 closed

[2019-06-27 19:27] harinikmsft commented on #2206
Fixed by #2684

[2019-06-27 19:27] #2206 closed

[2019-06-27 19:28] harinikmsft commented on #2222
Not needed anymore

[2019-06-27 19:28] #2222 closed

[2019-06-27 21:03] #2573 closed

[2019-06-27 21:03] #2565 closed

[2019-06-27 21:19] #2627 closed

[2019-06-28 03:27] jdnichollsc commented on #2421
@rozele what GIF?

[2019-06-28 03:28] jdnichollsc commented on #2421
I mean, How can I know if `react-native-create-library` is already using `react-native-windows`?

[2019-06-28 09:21] SunilPandey- opened #2696 "DatePicker Library Issue. As we have 'DatePickerIOS', what is corresponding used library for windows."
### Environment

1. `react-native -v`: 0.57.0
2. `npm ls rnpm-plugin-windows`: 0.2.9
3. `npm ls react-native-windows`: 0.57.1
4. `node -v`: v10.16.0
5. `npm -v`: 6.9.0
6. `yarn --version`:

Then, specify:

- Target Platform:
UWP

- Target Platform Version(s):
10.0.14393

- Target Device(s):
Desktop

- Development Operating System:
Windows

- Visual Studio Version:
Studio 2017

- Build Configuratio

[2019-06-28 13:13] rozele commented on #2421
Run the tool - check if a windows folder is generated.

[2019-06-28 14:50] cavasinf commented on #1283
@rozele Any news about **react-navigation** and *react-native-windows* compatibility ?

[2019-06-28 18:17] licanhua opened #2698 "Make TextInput and View have same Focus/Blur implemeantion and fix potential problems of existing implemenation"
A follow up task on #2682

Current View implementation has a small problem that it will not raise OnBlur.
Also the TextInput implementation assume that Frame is the content of Window, but it’s not always ‘true’. Also after blur, ‘tab’ would jump to the 2nd focusable element. Look like FocusManager would try to move to next focusable element when Focus(Pointer) on a Frame.

[2019-06-28 22:38] hansenyy opened #2702 "Enable JSI Unit Tests for x86"
We cannot use the publicly available win32 Google Test nuget right now since our win32 build uses a different calling convention. As a result, JSI unit tests are only running for x64 at the moment. We should figure out how to enable them for win32 as well.

[2019-06-28 23:06] hansenyy opened #2703 "Fix PropertyID comparison for Charkra based jsi::Runtimes."
PropertyID comparison for Charkra based jsi::Runtimes is completely broken right now and needs to be fixed.

[2019-06-28 23:16] hansenyy opened #2704 "Enable JSI tests that rely on float overload of toValue."
The jsi-inl.h in Microsoft/react-native is out of date and is missing a float overload for toValue. We have to disable some JSI unit tests due to this. Enable them once jsi-inl.h in Microsoft/react-native is updated.

[2019-06-28 23:39] kmelmon commented on #2660
Andy checked in a workaround which is to round up during yoga layout.  Keeping this open - we should root cause this instead of always rounding up.

[2019-06-29 00:47] marlenecota commented on #2206
#2705 - Part 1 of implementing windowsbrush

[2019-06-29 02:48] Nanashia commented on #1631
I met this problem.
Visual Studio raises this error if it could not find Extension SDK which is supposed to be installed to `C:\Program Files(x86)\Microsoft SDKs\Windows Kits\10\Extension SDKs\WindowsMobile` because I have installed Visual Studio (and also Windows SDK) with different location from default one.
In my case Windows SDK is installed to `D:\Windows Kits`.
Solved by making symblolic lin

[2019-07-01 18:55] jonthysell opened #2712 "Unable to activate WinRT types in ReactUWP created using buildcppwinrt.cmd"
Right now, we are not consuming cppwinrt properly in the ReactUWP project. We are running the tools manually to generate the files based on the idls (using a buildcppwinrt.cmd script), but those generated classes aren't part of the DLL's WINRT_GetActivationFactory, and so can't be RoActivated.

This means for a type winrt::react::uwp::Example, you'' get a runtime error if you try

`auto example =

[2019-07-01 21:50] #2447 closed

[2019-07-01 22:22] jonthysell commented on #2574
This is done in RNW, but we need to update the RN fork so that TS doesn't complain with the new values.

[2019-07-01 22:22] jonthysell commented on #2576
This is done in RNW, but we need to update the RN fork so that TS doesn't complain with the new values.

[2019-07-01 22:27] jonthysell commented on #2575
This is started in RNW, see checklist.

[2019-07-01 22:27] jonthysell commented on #2577
This is started in RNW, see checklist.

[2019-07-01 23:29] jonthysell commented on #2574
PR in the RN fork: https://github.com/microsoft/react-native/pull/99

[2019-07-01 23:30] jonthysell commented on #2576
PR in the RN fork: https://github.com/microsoft/react-native/pull/99

[2019-07-01 23:30] jonthysell commented on #2575
PR in the RN fork: https://github.com/microsoft/react-native/pull/99

[2019-07-01 23:30] jonthysell commented on #2577
PR in the RN fork: https://github.com/microsoft/react-native/pull/99

[2019-07-02 05:12] SunilPandey- opened #2718 "System.Runtime.interopServices.COMException 'An async operation was not properly started. Only a single ContentDialog can be open at a time"
react-native -v: 0.57.0
npm ls rnpm-plugin-windows: 0.2.9
npm ls react-native-windows: 0.57.1
node -v: v10.16.0
npm -v: 6.9.0

Issue Details:

I have one Modal from 'react-native'; and inside that i have many fields like, inputText, ModalDropDown.
Whenever i am clicking on dropdown i am getting error "System.Runtime.interopServices.COMException 'An async operation was not properly started. Only a

[2019-07-02 18:14] namrog84 opened #2722 "runWindows deploy is too fragile and specific. Can't find path."
Part 1: The path is too fragile

Currently C# and C++ UWP apps build slightly different paths.  And the current mechanism in deployToWindows is quite fragile and too specific

```return glob.sync(`windows/*/AppPackages/*_${options.arch}_${configuration}_*`)[0];```
https://github.com/microsoft/react-native-windows/blob/48a23b5181c7e91c1ec243c9556a6e81351a8927/vnext/local-cli/runWindows/utils/deploy

[2019-07-02 20:40] khetanashita commented on #2207
The Universal Calendar team needs this support to be able to control the styling of the core Xaml controls (Picker, flyout, TextInput, Switch, etc). I understand this is part of M3, but I'm not certain when the work is scheduled to start given M3 finishes by EOY. Our team is working on polishing the app to improve user experience at the moment and this qualifies as a beta blocker for us. Is there

[2019-07-03 06:04] #2671 closed

[2019-07-03 19:19] kmelmon commented on #2151
The high contrast event and colors are now complete.  This item is tracking applying those colors to js components.  Moving this to Milestone 3.

[2019-07-03 19:22] kmelmon commented on #2297
This work is complete, closing.

[2019-07-03 19:22] #2297 closed

[2019-07-03 19:26] kmelmon commented on #2574
@jonthysell can this issue be closed now?

[2019-07-03 19:34] harinikmsft commented on #2579
Spec for this is being staged [here](https://github.com/ReactWindows/discussions-and-proposals/blob/harinik-accessibility/proposals/0000-accessibilityapis-lists.md)

[2019-07-03 19:34] harinikmsft commented on #2578
Spec for this is being staged [here](https://github.com/ReactWindows/discussions-and-proposals/blob/harinik-accessibility/proposals/0000-accessibilityapis-lists.md)

[2019-07-03 19:52] rozele commented on #2718
Can you send pointers to the components you are using for Modal and ModalDropDown? Seems like both are implemented with a ContentDialog, of which only can be displayed at a time, so you may need to look at other options for implementing the ModalDropDown functionality...

[2019-07-03 20:00] #2555 closed

[2019-07-04 00:06] hansenyy opened #2729 "Add tests for ChakraCoreRuntime specific behaviors."
# Proposal: Add tests for ChakraCoreRuntime specific behaviors.

## Summary
We need tests for ChakraCoreRuntime specific behaviors such as ScriptStore and promises.

[2019-07-04 00:11] hansenyy opened #2730 "Share Code Between Test Projects"
# Proposal: Add a vcxitem for code shared between test projects.

## Summary
For example Desktop.IntegrationTests/TestMessageQueueThread.h is used in both Desktop.IntegrationTests and JSI.Desktop.UnitTests. We should create a shared vcxitem for files like this.

[2019-07-04 03:47] SunilPandey- commented on #2718
This is how component is renderd
<Modal>
<KeyboardAwareScrollView> //from react-native-keyboard-aware-scroll-view
<View>
<ModalDropdown>
</ModalDropdown>
</View>
</KeyboardAwareScrollView>
<Modal>

Is this what you asked or any other information ? @rozele

[2019-07-04 14:10] xuanyichen5096 opened #2731 "Will Azure AD be supported?"
Hi

Will Azure AD authentication be support in the future? If yes, please provide a general date for it.

Thanks!

Regards
Xuanyi

[2019-07-05 18:45] #2698 closed

[2019-07-05 19:05] kmelmon commented on #2579
Work on this is in progress, I'm hopeful it will be finished before 7/12, bringing this back to Milestone 2.

[2019-07-05 19:05] kmelmon commented on #2578
Work on this is in progress, I'm hopeful it will be finished before 7/12, bringing this back to Milestone 2.

[2019-07-05 19:52] kmelmon commented on #2505
This was addressed by:
https://github.com/microsoft/react-native-windows/pull/2727

All that remains is changing the cs code extension itself, which is being tacked by:
https://github.com/microsoft/vscode-react-native/issues/1007
Closing.

[2019-07-05 19:52] #2505 closed

[2019-07-05 20:49] kmelmon opened #2732 "[BUG] react-native start + launch from Visual Studio is broken"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.59.10
2. `npm ls rnpm-plugin-windows`:
myfoobarapp@0.0.1 D:\myfoobarapp
`-- rnpm-plugin-windows@0.2.11
3. `npm ls react-native-windows`:
`-- react-native-windows@0.59.0-vnext.70
4. `node -v`:]
v10.15.1
5. `npm -v`:
6.7.0
6. `yarn --version`:
1.13.0

Then, specify:

- Target Platform Version(s): 19H1

- Target Device(s):

[2019-07-05 20:52] kmelmon commented on #2451
margaryta seems to have other priorities nowadays, reassigning this to marlene

[2019-07-06 01:27] kmelmon commented on #2732
strange, I hit the Cancel button but it published anyway.
I played with this scenario some more and found it's one of those places where if you simply "try it again" it works the second time.  This bug isn't the right description for that.  Closing.

[2019-07-06 01:27] #2732 closed

[2019-07-07 21:14] brodybits commented on #358
Seems to be moved to: <https://github.com/microsoft/react-native-windows/blob/master/current/docs/RunningOnDeviceWindows.md#using-offline-bundle>

[2019-07-08 10:33] aryannr97 opened #2735 "Using TextInput in modal is broken"
Targeted Platform: UWP
Version:10.0.15063

VS Version: Visual Studio 2017

Issue:
1) Use TextInput component inside Modal
2) After launching modal, the TextInput automatically gets focus and remains the focused always. It doesn't blur on clicking anywhere else on the screen.

[2019-07-08 18:05] harinikmsft commented on #2574
Closing this since the last item here has been worked around by Calendar app (typescript support). We can add support for this if it is a major adoption blocker for other apps.

[2019-07-08 18:05] #2574 closed

[2019-07-08 18:05] harinikmsft commented on #2576
Closing this since the last item here has been worked around by Calendar app (typescript support). We can add support for this if it is a major adoption blocker for other apps.

[2019-07-08 18:05] #2576 closed

[2019-07-08 21:41] namrog84 opened #2740 "Conflict on macos packages since /lib change (building vnext uwp)"
I am running react-native run-windows --arch=x64 for a vnext uwp cpp project.
on:
* "react-native-windows": "0.59.0-vnext.75",
* "react-native": "https://github.com/microsoft/react-native/archive/v0.59.0-microsoft.12.tar.gz",

And I see

Loading dependency graph...(node:7056) UnhandledPromiseRejectionWarning: Error: jest-haste-map: Haste module naming collision:
  Duplicate module name: SafeAreaVi

[2019-07-09 00:07] kmelmon opened #2745 "Rename 'uwp' platform to 'windows'"
# Proposal: Rename 'uwp' platform to 'windows'

Rename uwp platform to windows

## Summary

currently vnext has a "platform" attribute of 'uwp'.  This was done to avoid any possible naming conflicts with current, which currently uses a platform of 'windows'.  There really wasn't any technical reason for this and it's now becoming clear that 'windows' should be the platform name.  This issue is tra

[2019-07-09 17:12] #2579 closed

[2019-07-09 17:12] #2578 closed

[2019-07-09 17:12] #2568 closed

[2019-07-09 18:30] licanhua opened #2748 "Use explicit captures rather than [=]"
We have lot of [=] in callbacks, it's better to use explicit captures.
see [F.54: If you capture this, capture all variables explicitly (no default capture)](http://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines#Rf-this-capture)
[code]

[2019-07-09 19:53] #2524 closed

[2019-07-09 22:12] jonthysell commented on #2578
PR to update the RN fork here: https://github.com/microsoft/react-native/pull/106

[2019-07-09 22:12] jonthysell commented on #2579
PR to update the RN fork here: https://github.com/microsoft/react-native/pull/106

[2019-07-09 23:29] YuliKl opened #2752 "Context Menus"
# Proposal: Add context menus to RNWCPP

## Summary

## Motivation

## Basic example

## Open Questions

[2019-07-10 00:53] kmelmon commented on #2681
@StephenLPeters earlier you mentioned wanting to implement something related to event-based animations.  I'm not finding a task tracking this, can you open one if necessary?

[2019-07-10 00:59] kmelmon commented on #2136
@licanhua can you start the process of figuring out priority/cost for the remaining properties on this list?
Just glancing at the list, IMO secureTextEntry is pretty important as this is the equivalent of PasswordBox.

[2019-07-10 01:08] #2679 closed

[2019-07-10 15:37] vidhartbhatia commented on #2752
I have been looking into adding a context menu in stellar so I have some notes.
I have settled on two possible approaches, one that involves adding components to RNW, the other just building it out on the application side:

Background:
UI XAML components such as Buttons or Views have a property called ContextFlyout that a FlyoutBase based component can be assigned to. Once a component is assigned

[2019-07-10 17:21] destinyb-realityi opened #2755 "Unrecognized Command "windows""
I have the latest react native installed on my computer and followed [these ](https://github.com/microsoft/react-native-windows/blob/master/current/docs/GettingStarted.md) instructions to the letter, but I'm still getting the below error:

error Unrecognized command "windows".
info Run "react-native --help" to see a list of all available commands.

[2019-07-10 19:28] harinikmsft commented on #2731
Can you clarify a scenario where you might use this?

In general, this feels outside the scope of the react-native-windows repo and would be something that could be tackled as a separate community module.

[2019-07-10 19:33] harinikmsft commented on #2740
@acoates-ms - can you take a look at this to see if your change updating from lib to libraries has impacted this scenario?

[2019-07-10 19:43] harinikmsft commented on #2755
Hello -

Can you please check if the error still occurs if you try the following:

1. Please use the version number like `react-native init <project name> --version 0.58.0`. Without the version number, you are probably picking up 0.60 which is not supported yet by react-native-windows current.

2. cd into your react-native project before running `react-native windows`

3. Ensure you have installed

[2019-07-10 20:17] jonthysell commented on #2577
I'm not sure what's left for this - the roles map to control types, but I'm not sure if we need to add any more Providers

[2019-07-11 00:14] xuanyichen5096 commented on #2731
Hello Harini!

I did a lot of search online to see if there's an an equivalent for react-native windows for the following library:
   - https://github.com/AzureAD/microsoft-authentication-library-for-js
   - https://github.com/AzureAD/microsoft-authentication-library-for-js

I couldn't find it. It may sound like a separate community module but .Net probably has a library to do the above. As this p

[2019-07-11 16:57] vidhartbhatia opened #2757 "Sample App doesn't work well in Dark Theme"
### Environment

1. `react-native -v`: react-native-cli: 2.0.1
react-native: 0.59.0-microsoft.11
2. `npm ls rnpm-plugin-windows`: react-native-windows@0.59.0-vnext.83 D:\React_Native_Windows\react-native-windows\vnext
`-- (empty)
3. `npm ls react-native-windows`: react-native-windows@0.59.0-vnext.83 D:\React_Native_Windows\react-native-windows\vnext
`-- (empty)
4. `node -v`: v10.16.0
5. `npm -v`:

[2019-07-11 17:03] t-wihatz opened #2758 "Border color changes in transfer properties causes RNTester to crash"
I was trying to make a test that changes the backing XAML element of a component in order to test transfer properties. I was trying to do this by changing the backing element to a border, so I had 2 styles; one with a border that has corner radius, and one that didn't have any border, and I had a view that alternated between the two styles.

When I was going from not having a border to having a bo

[2019-07-11 17:19] t-wihatz opened #2759 "Adding border radius to a style that already has border causes RNTester crash"
Once again I was working a test that changes the backing XAML element of a component in order to test transfer properties. I made a view and was alternating it between 2 styles; one with a border that had corner radius, and one that had a border but no corner radius.

It starts out with a border, but when you try to change the style to the one with corner radius, RNTester crashes.
![ExceptionScree

[2019-07-11 18:59] acoates-ms commented on #2740
It looks like react-native init with the vnext template is broken currently, so I can't try it on a brand new app.

But this looks like either you have bad data in your haste cache (try deleting %temp%\haste*).
Or your rn cli config isn't adding macos as a platform for your haste map.  The default run-windows command should currently be using the rn-cli config in react-native-windows.  But maybe i

[2019-07-11 23:13] kmelmon opened #2761 "dummy issue for images"
Do not triage this issue, it simply contains images used in the wiki...

![image](https://user-images.githubusercontent.com/33470154/61091349-b413f580-a3f6-11e9-90a1-e399c19e29cf.png)
![image](https://user-images.githubusercontent.com/33470154/61091366-c3933e80-a3f6-11e9-993b-c6a478d66b37.png)
![image](https://user-images.githubusercontent.com/33470154/61091374-c8f08900-a3f6-11e9-8a46-b084dd63dd1b

[2019-07-12 00:03] t-wihatz opened #2762 "Changing border radius causes issue with the top and left margins transfer"
I was creating a test to make sure that zIndex is being included in transfer properties when the backing XAML element is changed. One issue that I ran into however, was if you update the border radius, the margins appear to get lost and the squares are stacked on top of each other.

Before:
![BugBefore](https://user-images.githubusercontent.com/52328511/61092840-bd07c580-a3fc-11e9-920c-8fe404a1bff

[2019-07-12 11:21] manojk-vs commented on #2755
Thanks @harinikmsft, its working

[2019-07-12 12:34] destinyb-realityi commented on #2755
@hansenyy It's no longer saying command not found, but I'm getting a completely different error:

'C:\Users\<user>\Desktop\Development\React-Native\R' is not recognized as an internal or external command,
operable program or batch file.
The system cannot find the path specified.
(node:21220) UnhandledPromiseRejectionWarning: Error: Command failed: C:\Users\<user>\Desktop\Development\React-Native\R

[2019-07-12 17:04] #2575 closed

[2019-07-12 17:07] jonthysell commented on #2577
Roles are implemented to map to types, closing this out.

[2019-07-12 17:07] #2577 closed

[2019-07-12 17:29] jonthysell opened #2765 "Implement accessibilityActions"
Right now, the only action a UIA client can make to a RNW app is Invoke and Toggle (which calls Invoke). The remaining actions we expose to UIA are no-ops:

* [ ] Select
* [ ] AddToSelection
* [ ] RemoveFromSelection
* [ ] Expand
* [ ] Collapse
* [ ] Toggle (re-do)

RN60 adds an accessibilityActions property, which lets you register an event handler to catch these invocations from UIA poking the n

[2019-07-12 18:37] hansenyy commented on #2755
@harinikmsft to make sure she gets notified.

[2019-07-15 18:08] harinikmsft opened #2770 "Figure out the nuget package dependency story for RNW vNext"
This is tracking the investigation for what the work is to start taking dependencies on nuget packages like CppWinRT, WinUI etc., to build RNW packages.

[2019-07-15 18:29] vidhartbhatia commented on #2752
Additional Discussion:
I was wondering if there would be a way to expose the UIElement.ContextRequestedEvent Property
on generic UIElement XAML components (Button, even View?)

This way we could have a callback function that is triggered on any context action (right click, context key etc), and on the application side this would allow us to know when someone is requesting a context action on a com

[2019-07-15 18:43] YuliKl commented on #2752
Popular context menus outside RN core
- [instea/react-native-popup-menu](https://github.com/instea/react-native-popup-menu)

[2019-07-16 03:45] J4s0nDRevs commented on #2755
@harinikmsft I already have 0.60 and it is not letting me use 0.58
![image](https://user-images.githubusercontent.com/23364645/61264420-21d96c00-a7bf-11e9-8fc5-674df3720c6a.png)

[2019-07-16 06:42] J4s0nDRevs commented on #2755
@harinikmsft I used 0.58 it runs but have the following output

[Reactnative log.txt](https://github.com/microsoft/react-native-windows/files/3395686/Reactnative.log.txt)

[2019-07-16 20:59] harinikmsft commented on #2755
@rozele - can you take a look?

[2019-07-17 10:15] ShrinathGupta commented on #2420
@marlenecota It has been long time since i worked on it. Good news today i checked and it worked. Awesome thanks @marlenecota   :clap: :100:

[2019-07-17 12:43] destinyb-realityi opened #2782 ""react-native run-windows" failing"
I'm getting the below error when I'm trying to call `react-native run-windows`

Restoring NuGet packages
Building C:/Users/<user>/Desktop/Development/React-Native/RD/pinkjay/windows/pinkjay.sln
Found MSBuild v15.0 at C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin
Building Solution: C:/Users/<user>/Desktop/Development/React-Native/RD/pinkjay/windows/pinkjay.sln
Build

[2019-07-17 12:45] destinyb-realityi commented on #2755
To fix the following issue:

Make sure there is no `&` symbol in your project path.
Make sure your PC is in `developer mode`
Make sure you have all the UWP SDKs installed.

[2019-07-17 12:45] #2755 closed

[2019-07-17 17:00] ahimberg opened #2783 "[BUG] Focus events (onFocus, onBlur) broken"
### Additional context
https://github.com/microsoft/react-native-windows/pull/2746 updated everything to use auto_revoker, but at least the View changes were done in the ViewManager instead of the shadownode, so everything is unregistered by the next View created.

[2019-07-17 18:11] harinikmsft opened #2784 "Deprecate "acceptsKeyboardFocus" in favor of "focusable""
# Proposal: Need APIs for custom tab navigation

## Summary
This proposal tracks the need to expose new APIs for apps to customize tab navigation and focus management when the default behaviors are not sufficient for their scenarios.

## Motivation

Native controls support default tab navigation and focus visuals. We also just introduced Keyboard events and some default key stroke behaviors in Mil

[2019-07-17 18:46] RobMeyer commented on #2784
A coworker and I have been prototyping Tab and F6 focus loop order in our app this week. We were able to get tab (and F6!) order working as required using a combination of tabIndex, tabNavigation, and implementing a custom focus manager (which requires focus and onFocus). Our general strategy was to let the platform handle the vast majority of tabs (in situations where our focus movement respects

[2019-07-17 19:17] harinikmsft commented on #2757
This is occuring because RNTester is a x-plat test scenario and we cannot change it to use the new theming APIs .. yet.. as they are not xplat RN APIs at this time. For now, the workaround to have the RNTester sample app have RequestedTheme = Light always is ok.

@kikisaints  - can you add a documentation guide that shows how to handle the themeChanged APIs and provide x-plat styles so apps have a

[2019-07-17 19:24] harinikmsft commented on #2761
Closing this dummy issue.

[2019-07-17 19:24] #2761 closed

[2019-07-17 19:25] rozele commented on #2782
Which version of react-native-windows are you using?

[2019-07-17 19:30] harinikmsft opened #2786 "Upgrade to RN 0.60"
This is tracking the upgrade for RN Windows to RN 0.60. Targeting to be done with this by end of Milestone 3.

- [x] Stand up branch  (fb60merge)
- [x] yarn build working
- [x] Get CLI working again
- [x] Get UWP solution building with facebook/react-native
- [x] Get UWP solution building with microsoft/react-native
- [x] Get Win32 solution building with facebook/react-native
- [x] Get Win32 solut

[2019-07-17 19:33] harinikmsft commented on #2765
@jonthysell  - please sync with @acoates-ms  who is driving the upgrade to RN 0.60 and you can start making these changes in the branch where the upgrade is happening in order to avoid any throw away/conflicting work.

[2019-07-17 19:38] harinikmsft commented on #2770
This should mostly just work, closing this issue as the work here is understood.

[2019-07-17 19:38] #2770 closed

[2019-07-17 22:25] ahimberg commented on #2783
fixed in 0.59.0-vnext.95

[2019-07-17 22:25] #2783 closed

[2019-07-17 22:27] ahimberg commented on #2759
We ran into this too, @randy-flynn has been looking at fixing up the area.  Randy & @licanhua should sync up

[2019-07-18 02:11] J4s0nDRevs opened #2790 "Is visual studio 2019(community) compatible for running react native windows app?"
Hi,

I am trying to build my first react native windows app. But when I compile, I got this error(shown below). I tried re-targeting by the error is not solved.

MSB8020	The build tools for Visual Studio 2017 (Platform Toolset = 'v141') cannot be found. To build using the v141 build tools, please install Visual Studio 2017 build tools.  Alternatively, you may upgrade to the current Visual Studio t

[2019-07-18 11:52] destinyb-realityi commented on #2782
Whatever the latest windows update is.

[2019-07-18 19:29] harinikmsft opened #2795 "[Component]: FlatList property completion"
Filing a placeholder issue to track the remaining properties to be implemented for FlatList. Note - almost all these should work already, the first task is to validate. This may include:
- renderItem
- ItemSeparatorComponent
- ListEmptyComponent
- columnWrapperStyle
- extraData
- inverted
- keyExtractor
- removeClippedSubviews
- viewabilityConfig
- viewabilityConfigCallbackPairs

TBD: Need to veri

[2019-07-18 19:55] ShrinathGupta commented on #2790
@J4s0nDRevs Yes VS 2019 is compatible to run.
You can test my demo project which is on latest vnext.
https://github.com/ShrinathGupta/React-native-windows-demo.
**It covers few react native windows vnext elements see attached screenshot.**

![image](https://user-images.githubusercontent.com/12642711/61487545-ce843b00-a9c3-11e9-92bd-7cdb0cfc15f4.png)

@marlenecota @harinikmsft

[2019-07-18 20:03] ShrinathGupta commented on #2420
If anybody wants to give a try to react native windows vnext.
They can try https://github.com/ShrinathGupta/React-native-windows-demo
It's awesome. I worked on previous version of it, vnext is far better then that although development is still ongoing.

[2019-07-18 20:55] harinikmsft opened #2796 "Document View - Style API completion"
This is a placeholder issue to validate and implement (if not already supported) the remaining [Style props](https://facebook.github.io/react-native/docs/0.59/view-style-props) on View:
- [x] opacity
- [x] backgroundColor
- [ ] borderRightColor #3077
- [ ] borderBottomColor #3077
- [x] borderBottomEndRadius #3074
- [x] borderBottomLeftRadius #3074
- [x] borderBottomRightRadius #3074
- [x] borderBo

[2019-07-18 20:57] harinikmsft commented on #2326
General approach is to align with existing RN and then more broadly towards ARIA.

[2019-07-18 20:57] #2326 closed

[2019-07-18 22:29] harinikmsft opened #2799 "Implement support for taking advantage of Hermes in React Native Windows vNext"
This is tracking the work needed to make react native windows take advantage of the new [hermes](https://github.com/facebook/hermes) engine from facebook. The plan of record here is to:
- Add a build knob similar to the knob added by facebook to react-native to react-native-windows vnext v0.59 to turn on Hermes. Switch should be pay for play and not add hermes related dlls unless opted into
- This

[2019-07-18 23:15] RobMeyer opened #2800 "[PROPOSAL]: Drop Shadow support for View, Text, Image, and more"
# Proposal: Drop Shadow support for View, Text, Image, and more
Implement support for ViewStyle.shadow* and TextStyle.textShadow* for View, Text, and Image.

## Summary
Tasks

1. A C++/winrt port of `DropShadowPanel`, to be called `ShadowedContentControl` will be used for shadows cast from all XAML-based components.
2. Implement TextStyle.textShadow* support
3. Implement ViewStyle.shadow* support

[2019-07-19 01:48] hmheng commented on #1970
@rozele can the team create some open source RN control with uwp features? says inkcanvas, fluent design ui etc, which is not available in RN generally.

[2019-07-19 03:24] J4s0nDRevs commented on #2782
i am get this (refer to log)
[Reactnative log.txt](https://github.com/microsoft/react-native-windows/files/3409279/Reactnative.log.txt)

[2019-07-19 13:06] clarodanesh commented on #1865
I went to the csproj file for my project, located at `window/projectName/projectName.csproj` and removed the ProjectReference for ReactNative.Net64.csproj but now Im getting a totally different error

Now it compiles and loads the package but im getting the error `An item with the same key has already been added. Key: RCTSimpleText`

[2019-07-19 13:56] stecrain opened #2806 "[Performance Bug] Bytecode caching in vnext uses brokered APIs to check file properties."
UwpScriptStore and UwpPreparedScriptStore are using brokered (cross-process) Apis to check file properties.

These classes were introduced in PR #2653

This issue is to investigate using in-process APIs available to UWPs to get the file properties.
Really we are only interested in the last write time.

On Xbox this is a 300ms Launch penalty.

Looking in WPA even with samples it is pretty clear to

[2019-07-19 19:06] harinikmsft commented on #2800
Thanks for writing this up @RobMeyer !

One thing occurs off the top of my head  - `DropShadowPanel` is a Windows Community toolkit control. Is the best approach here to wrap a high policy control or should we go directly to [Windows.UI.Composition.DropShadow](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Composition.DropShadow) and implement a layer around that in RNW instead?

Let's discus

[2019-07-19 20:24] RobMeyer commented on #2800
I think DropShadowPanel's approach is the only way that works because of some unfortunate restrictions of ElementCompositionPreview and DropShadow.

Only SpriteVisual and LayerVisual have a .Shadow property used to attach a shadow to an existing visual. Visual, which is what is exposed by ElementCompositionPreview, doesn't have a Shadow property.

It's still possible to create a new SpriteVisual a

[2019-07-19 21:11] jonthysell opened #2807 "[BUG] RNW CLI `react-native run-windows` should output build progress"
### Environment

1. `react-native -v`:

[code]

2. `npm ls rnpm-plugin-windows`:

[code]

3. `npm ls react-native-windows`:

[code]
4. `node -v`:

[code]

5. `npm -v`:

[code]

Then, specify:

- Target Platform Version(s): 10.0.18362

- Target Device(s): Desktop

- Visual Studio Version: 2017

- Build Configuration: Debug

### Steps to Reproduce

1. Create new project according to GettingStarted
2

[2019-07-19 21:21] jonthysell opened #2808 "RNW CLI doesn't detect the project name for an Expo project"
### Environment

1. `react-native -v`:

[code]

2. `npm ls rnpm-plugin-windows`:

[code]

3. `npm ls react-native-windows`:

[code]
4. `node -v`:

[code]

5. `npm -v`:

[code]

Then, specify:

- Target Platform Version(s): 10.0.18362

- Target Device(s): Desktop

- Visual Studio Version: 2017

- Build Configuration: Debug

### Steps to Reproduce

Starting with an app created using `expo-cli`. I wa

[2019-07-19 21:30] jonthysell opened #2810 "RNW CLI assumes App.windows.js entry point, ignoring existing code"
### Environment

1. `react-native -v`:

[code]

2. `npm ls rnpm-plugin-windows`:

[code]

3. `npm ls react-native-windows`:

[code]
4. `node -v`:

[code]

5. `npm -v`:

[code]

Then, specify:

- Target Platform Version(s): 10.0.18362

- Target Device(s): Desktop

- Visual Studio Version: 2017

- Build Configuration: Debug

### Steps to Reproduce

I reprored with when using the `expo-cli` but it sh

[2019-07-19 22:14] jonthysell opened #2811 "RNW CLI doesn't add node_modules to .gitignore"
### Environment

1. `react-native -v`:

[code]

2. `npm ls rnpm-plugin-windows`:

[code]

3. `npm ls react-native-windows`:

[code]
4. `node -v`:

[code]

5. `npm -v`:

[code]

Then, specify:

- Target Platform Version(s): 10.0.18362

- Target Device(s): Desktop

- Visual Studio Version: 2017

- Build Configuration: Debug

### Steps to Reproduce

Starting with an app created using `expo-cli`. I wa

[2019-07-22 22:02] harinikmsft opened #2815 "Discussion: React Native for Windows Roadmap and July updates"
# Updates
We announced the first public preview of React Native for Windows - vnext project at Microsoft BUILD 2019 conference earlier this year. You can watch the presentation - [React Native: Build rich Windows and mobile applications easily using JavaScript](https://mybuild.techcommunity.microsoft.com/sessions/77007) for more details.

We have since been making steady progress in the past sever

[2019-07-23 00:33] xuanyichen5096 commented on #2731
hello, any news? :)

[2019-07-23 00:38] xuanyichen5096 commented on #2731
Hello Harini!

The organization, which I am working for, uses ADFS for their application authentication. This is the scenario in which I will need to utilize Azure AD Authentication.

Let me know if there's any source of information, which i can go to directly... :)

Regards
Xuanyi

[2019-07-23 06:45] brunolemos commented on #2815
I have this cross-platform project called [DevHub](https://github.com/devhubapp/devhub) which currently supports iOS/Android (react-native) and Web (react-native-web).

It’s on my mid-term plans to have a react-native-windows version as well, but that’s still a few months away.

I invite anyone here to clone the project and experiment adding react-native-windows to it. If it works well than I beli

[2019-07-23 07:26] sami616 commented on #2815
This project looks fantastic, cant wait to get stuck and building desktop apps with react!

[2019-07-24 00:54] velociwabbit opened #2821 "RNW adding new npm package breaks vs 2017 sln and forces reinstall from scratch not .net but i cant delete the label"
### Environment

 React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (8) x64 Intel(R) Core(TM) i7-6700T CPU @ 2.80GHz
      Memory: 4.35 GB / 15.88 GB
    Binaries:
      Yarn: 1.7.0 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
      npm: 6.9.0 - C:\Program Files\nodejs\npm.CMD

react-native-cli: 2.0.1
react-native: 0.58.0

- Target Platform: x64 debug

 -  framework   10.0.1

[2019-07-24 14:55] rozele commented on #2821
@velociwabbit - are you building for UWP or WPF?

[2019-07-24 14:55] rozele commented on #2821
Ah - sorry - is this for vnext?

[2019-07-24 15:00] velociwabbit commented on #2821
universal windows... sorry

On Wed, Jul 24, 2019 at 7:55 AM Eric Rozell <notifications@github.com>
wrote:

[2019-07-24 15:24] rozele commented on #2821
@velociwabbit - any chance you can post a public repro with your .sln and .csproj files?

[2019-07-24 16:52] velociwabbit commented on #2821
I could zip it and attach it here there is nothing special about the repo as it is only a test bed so that i can port an app.  will that work?

[2019-07-24 16:54] velociwabbit commented on #2821
this is the sln file

Microsoft Visual Studio Solution File, Format Version 12.00
# Visual Studio 15
VisualStudioVersion = 15.0.27703.2035
MinimumVisualStudioVersion = 10.0.40219.1
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "rn", "rn\rn.csproj", "{A326C347-20D5-4681-B9B6-186351C2A699}"
	ProjectSection(ProjectDependencies) = postProject
		{2EACF721-73B5-46AE-9775-4A8674D05A9C} = {2EACF721-

[2019-07-24 17:00] velociwabbit commented on #2821
[rnzip.zip](https://github.com/microsoft/react-native-windows/files/3427956/rnzip.zip)
if you npm install this and react-native windows it should work but then try adding a repo to it and you will see that it breaks the sln

[2019-07-24 17:48] velociwabbit commented on #2821
no, i could not get vnext to work.

also do you know of any relatively full featured example app that runs in
react-native windows?  I am having trouble installing nearly every example
for react-native with rn for w.

Ideally i would love to have something that i could npm i, react-native
windows run the 2017 sln dev environment and see a full function app.

thanks

/jpr

On Wed, Jul 24, 2019 at 7

[2019-07-24 19:12] harinikmsft commented on #2790
Thanks @ShrinathGupta !

Yup - VS2019 is supported now.

[2019-07-24 19:12] #2790 closed

[2019-07-24 19:37] harinikmsft commented on #2810
We will need to go see what the template (post 0.59) currently does and try to mimic that more closely in our CLI.

[2019-07-24 20:17] micahl commented on #2731
Hi @xuanyichen5096, we recognize how important it is for RN apps to be able to leverage platform capabilities via modules.  Enabling developers to author modules that work with the vnext is one of our current focus areas.  The set of modules in the react-native-windows project that we would maintain will be limited.  I'd recommend making sure you're request is logged with the team that owns Azure

[2019-07-24 22:39] velociwabbit opened #2824 "List of Repos that work with RNW"
Even with the hiccups i have encountered I am a big, big fan of RN-W.   It is the right approach... Finally!

What is needed is a set of repos supporting v59 or v60 that are able to be easily installed with the latest release.

Most of the repos for RN I have tried require expo or are not compatible with this release.

I am willing to help put together and test  a list of the projects if someone c

[2019-07-25 00:30] xuanyichen5096 commented on #2731
Hi micahl

Thank you for the information.

I guess the support for RN will lie with the Azure AD team. I will check up their page.

All the best for the vnext project!

Regards
Xuanyi

[2019-07-25 00:30] #2731 closed

[2019-07-25 01:16] velociwabbit opened #2827 "React-Native linking of react-native-svg not working error generated"
React Native Environment Info:
    System:
      OS: Windows 10
      CPU: (8) x64 Intel(R) Core(TM) i7-6700T CPU @ 2.80GHz
      Memory: 5.83 GB / 15.88 GB
    Binaries:
      Yarn: 1.7.0 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
      npm: 6.9.0 - C:\Program Files\nodejs\npm.CMD

UWP

 10.0.14393,

Desktop

  Visual Studio 2017  community

(Write your steps here:)

1.install the attached zip fi

[2019-07-25 02:17] stecrain commented on #2731
@xuanyichen5096
This package from the community may be worth a shot.

https://www.npmjs.com/package/react-native-azure-ad

I tried to use this for a hackathon project with react native for Android, it seemed to work reasonably well.

[2019-07-25 21:07] namrog84 opened #2829 "RNFSManager doesn't work in vNext"
Cannot read property 'RNFSFileTypeRegular' of undefined

react-native-fs has a RNFSManager which has some constants and other fairly low level stuff.
There is a /windows module but it is using cs and is designed for RNWcurrent and so RNWvNext and it's use of 'uwp' makes this not work.

https://github.com/itinance/react-native-fs/tree/master/windows/RNFS

[2019-07-25 21:46] #2620 closed

[2019-07-25 21:46] decrowle commented on #2620
Already implemented.

[2019-07-25 22:19] decrowle commented on #2660
Fixed in microsoft/react-native repo by PR #104 https://github.com/microsoft/react-native/pull/104

[2019-07-25 22:19] #2660 closed

[2019-07-25 22:52] acoates-ms opened #2830 "Stand up react-native-windows-extended package"
Create a package that we can put react-native-windows components that we want to standup, but that should not go in the core react-native-windows package.

[2019-07-25 23:28] stecrain opened #2832 "[Performance] TransferProperties should be Pay-for-Play"
Currently TransferProperties (especially notable in FrameworkElementViewManager) attempts to transfer every possible property, even if the property is not set.

Ideally this should be pay-for-play, the shadow node can keep track of what properties have actually been set.

Comparing 59.34 with 59.104 the cost of TransferProperties has doubled.
23ms to 49ms in my app.

before:
![image](https://user-

[2019-07-25 23:30] kmelmon opened #2833 "Add DebugBundle/ReleaseBundle configurations to template app"
## Summary
Currently, if you create an app using the CLI, and you want this app to use an offline bundle (not using metro), you need to manually build and package the app code into a bundle, and add the bundle as a resource to your appx package.  These steps aren't easy to figure out how to do and really need to be automated.  The current version solved this by having DebugBundle/ReleaseBundle bui

[2019-07-25 23:35] kmelmon commented on #2470
@2818 added support for the app when running in a CoreWindow.  We also need to add support for islands.

[2019-07-25 23:58] #2830 closed

[2019-07-26 00:49] namrog84 opened #2834 "[BUG] react-navigation-stack and Platform.Select issue"
**react-navigation-stack** uses a  `const platformContainerStyles = Platform.select({`
where Platform comes from `'react-native'` but I know react-native-windows overrides and exports a Platform.select.
But it doesn't work in this scenario.

Propogates out as
`react_native_1.Platform.select(...) is not a function`

[2019-07-26 02:06] kmelmon opened #2836 "[BUG] flexbox styles cannot be specified as a string"
The specification for most of the flexbox styles allows these properties to be authored as either a number or a string.  But RNW only supports setting these as a number.  This is inconsistent with how things work on other platforms (confirmed with iOS/Web).

### Steps to Reproduce
Create an app with this markup:
[code]

Notice the width:'60' - this is what we're not handling correctly.  Changing t

[2019-07-26 02:22] stecrain commented on #2832
A large new addition to the TransferProperties function is all of the dynamic automation properties for accessibility.

Accessibility is important, but we should be able to avoid paying the cost of transferring these properties when they haven't been set. Lots of this is the cost of transferring empty values.

[2019-07-26 05:38] #2806 closed

[2019-07-26 07:20] #2836 closed

[2019-07-28 12:43] acoates-ms opened #2842 "Various VS project config issues"
The builds of `packages/playground` should not need to rebuild `ReactCommon`, `ReactWindowsCore` and `ReactUWP` etc, if they have been built by `vNext/ReactWindows.sln`.

This is likely due to the solutions having different definitions for `outDir`.

We need to take another look at how our native projects are setup.
- [x] vNext currently overrides Directory.build.props, and does so in a way that p

[2019-07-29 14:55] ramdeoangh opened #2843 "TypeError: Cannot read property 'toString' of null"
### Environment

1. `react-native:`0.55.4
2.  `react-native-cli:`2.0.1
3. `npm ls rnpm-plugin-windows`: -- rnpm-plugin-windows@0.2.11
4. `npm ls react-native-windows`: --react-native-windows@0.55.0-rc.0
5. `node -v`: 10.16.0
6. `npm -v`: 6.9.0

Then, specify:

- Target Platform: UWP

- Target Platform Version(s):10.0.14393

- Target Device(s): Laptop (HP)

- Development Operating System: Windows

[2019-07-29 20:30] kmelmon commented on #2109
This should include automatically setting FlowDirection = RightToLeft somewhere near the root of the tree.

[2019-07-30 11:52] drcharris opened #2844 "Problem with self-signed certificate using Getting Started - vnext instructions."
### Environment

1. `react-native -v`:
[code]
2. `npm ls rnpm-plugin-windows`:
[code]
3. `npm ls react-native-windows`:
[code]
4. `node -v`:
[code]
5. `npm -v`:
[code]
6. `yarn --version`:
`(using npm)`

Then, specify:

- Target Platform Version(s): `10.0.18362`

- Target Device(s): `Desktop`

- Visual Studio Version: `2019 Community`

- Build Configuration: `Debug`

### Steps to Reproduce

Follow

[2019-07-30 17:37] decrowle commented on #2795
Verified basic cases for all of these properties. Can dig into specific scenarios at request if need be. Will go ahead and close this issue for now.

[2019-07-30 18:52] StephenLPeters opened #2848 "Transform property does not properly transfer"
To see this issue in action observe the Transform Bounce example in the Animated Example page of the RNTester app.  when you initiate the animations you'll notice that the text animates within the container.  This is not appropriate, and is easier to recognize if you replace the rotation animation with a static rotation.

If you remove the border from the container object this issue goes away whic

[2019-07-30 18:55] sayzenberg opened #2849 "[BUG] Text is sized incorrectly if numberOfLines is set to 1 and content is longer than container"
### Steps to Reproduce

1. Wrap a Text element in any kind of View or other container
2. Set the Text element's content to make it wider than the width of the parent container
3. Set the Text element's numberOfLines property to 1 and do not specify a width or minWidth

### Expected Behavior

Text element should show ellipsis or be cut off, depending on what ellipsizeMode is set to.

This is what h

[2019-07-30 22:01] jonthysell commented on #2470
We also need to add support for when the root RN control is not the main root element of the window.

[2019-07-31 06:06] kmelmon opened #2852 "Add support for Keyboard native module"
# Proposal: Add support for Keyboard module

## Summary
This issue is tracking implementing the Keyboard native module in vnext.  See https://facebook.github.io/react-native/docs/keyboard

## Motivation

## Basic example

## Open Questions

[2019-07-31 06:10] kmelmon opened #2853 "Implement auto linking"
# Proposal: Add support for auto-linking native modules.  Also consider implementing react-native link (lower priority)

## Summary
With version 60, react-native now supports auto-linking.  This item is tracking making sure RNW supports it as well.  See https://facebook.github.io/react-native/blog/2019/07/03/version-60

In addition we can consider implementing the Linking native module.  See:  htt

[2019-07-31 13:54] hmheng opened #2854 "Cannot compile after upgraded to VS2019 v16.2"
1. `react-native -v`: react-native-cli: 2.0.1, react-native: 0.59.10
2. `npm ls rnpm-plugin-windows`: `-- rnpm-plugin-windows@0.2.11
3. `npm ls react-native-windows`: react-native-windows@0.59.0-rc.1
4. `node -v`:v10.16.0
5. `npm -v`: 6.9.0

Facing error after upgraded to VS2019 16.2.

t.AppXPackage.Targets(821,5): error : Certificate could not be opened: RNWebWindows_TemporaryKey.pfx. [D:\PS\Repo

[2019-07-31 13:55] ShrinathGupta commented on #2815
Hi all,
There is ongoing parallel development of [demo](https://github.com/ShrinathGupta/React-native-windows-demo) of UWP application on react-native-windows vnext version.
I have used few UI components in demo. I also invite everyone to clone the repository and play with it. It might help you to set-up environment, understand code structure.

Few UI components are still not stable like modal, dr

[2019-07-31 14:20] drcharris commented on #2844
Managed to fix this by pointing (in VS) `Package.appxmanifest` to use a specific certificate - I had a lot of identically-named certs in my user cert store from previous install attempts.

[2019-07-31 14:20] #2844 closed

[2019-07-31 14:21] drcharris commented on #2854
This sounds familiar to my issue in #2844 - I managed to fix that, perhaps that will work for you?

[2019-07-31 15:45] harinikmsft commented on #2815
Thank you @ShrinathGupta. Love the app! We are tracking all the remaining issues for getting to parity with React Native through the [Parity Status Doc](https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/ParityStatus.md). Do feel free to file issues for us if you notice any APIs not working as expected and if they are not already tracked by us.

We should have the native modu

[2019-07-31 15:48] harinikmsft commented on #2119
Per @mganandraj and @acoates-ms - we should be able to leverage the hook for InitializeTracing and log to ETW.

[2019-07-31 15:49] hmheng commented on #2854
@drcharris
thank you. I've reinstalled 16.0 again to continue my development temporarily.

May I know if you face the issue only after upgraded to VS2019 16.2?

[2019-07-31 16:01] ShrinathGupta commented on #2815
You're welcome @harinikmsft . Thanks for sharing status doc link.
I would love to add more components to my app.

All, I have also published an article that will help to understand more about uwp application. [Article Link](https://medium.com/@shrinath161/universal-windows-platform-application-by-using-react-native-windows-vnext-92d8c65b304b)
Thanks.!

[2019-07-31 16:17] Thristhart opened #2855 "[BUG] Image onLoad never fires"
### Environment
- `npm ls react-native-windows`: `react-native-windows@0.59.0-vnext.109`

- Target Platform Version(s): 10.0.18362.0

- Target Device(s): Xbox

- Visual Studio Version: 2019

- Build Configuration: Debug

### Steps to Reproduce

`<Image source={{uri: "http://someImageUri", width: 240, height: 240}} onLoad={() => console.log("loaded")} />`

### Expected Behavior

onLoad fires, calli

[2019-07-31 17:16] huming-china opened #2856 "ReactNative.dll not found."
windowsSDK\bin\10.0.16299.0\XamlCompiler\Microsoft.Windows.UI.Xaml.Common.targets(263,5): Xaml Internal Error error WMC9999:  (  from HRESULT:0x80070003)

not found.
\node_modules\react-native-windows\ReactWindows\ReactNative\bin\x64\Release\ReactNative.dll

"react-native": "0.58.0",
 "react-native-windows": "0.58.0-rc.2"
"rnpm-plugin-windows": "^0.2.10"
windows target sdk  10.0.16299.0
windows mi

[2019-07-31 19:11] harinikmsft commented on #2824
Thanks for trying out rnw-vnext @velociwabbit. We are still pretty heads down in getting the core infrastructure and APIs working at full parity and we haven't begun testing external modules.

Also, we are currently in the middle of providing the native modules/view managers story for targeting RNW-vnext. So, any of the community modules that need this story will not currently support RNW-vnext ye

[2019-07-31 19:16] harinikmsft commented on #2829
Thanks for trying this out. We are currently in the middle of providing the native modules/view managers story for targeting RNW-vnext. So, any of the community modules that need this story will not currently support RNW-vnext yet. Once this story is ready, we would love to get some help making these community modules work against RNW -vnext.

Stay tuned for updates!

[2019-07-31 19:22] rozele commented on #2827
which version of react-native-windows?

[2019-07-31 19:23] harinikmsft commented on #2832
There appears to be a potentially bigger issue here where we may be calling TranserProperties more often than necessary because of how often we may be switching the underlying View - this is worthy of investigation in and of itself. @StephenLPeters  - can you take a look at this aspect.

The micro-optimizations that @stecrain has pointed out are also good to do. Perhaps @stecrain can complete thos

[2019-07-31 19:29] harinikmsft commented on #2834
This may be an app issue. @acoates-ms is verifying if there is an underlying issue on our side.

[2019-07-31 19:36] velociwabbit commented on #2827
it is in the attached zip repo including the package_json and the other files

    "react": "16.6.3",
    "react-native": "0.58.0",
    "react-native-material-ui": "^1.30.1",
    "react-native-svg": "^9.5.3",
    "react-native-vector-icons": "^4.0.0",
    "react-native-windows": "^0.58.0-rc.2"

[2019-07-31 19:40] harinikmsft commented on #2849
This looks like a bug on our side - perhaps a conflict between ellipsize and textwrapping on native xaml text defaults.

[2019-07-31 19:42] velociwabbit commented on #2824
Great i will try them.

Only too willing to help make this a success.

[2019-07-31 19:47] harinikmsft commented on #2856
Hello - can you share more details on how you are installing (are you using our CLI?). A sample repo pointer with the bug repro would be good to have.

[2019-07-31 19:47] rozele commented on #2843
Cherry picked https://github.com/microsoft/react-native-windows/pull/1902. Should be fixed in 0.55.0-rc.1

[2019-07-31 19:47] #2843 closed

[2019-07-31 20:34] ahimberg commented on #2849
in RNW.current they set a default texttrimming of TextTrimming.CharacterEllipsis.  vnext is not doing that so we get a default of TextTrimming.None which I guess has this behavior when wrap is on.

[2019-07-31 20:38] ahimberg commented on #2853
We do have https://github.com/microsoft/react-native-windows/blob/master/vnext/ReactUWP/Modules/LinkingManagerModule.cpp which partially implements the Linking module.

A couple notes:
1) openURL doesn't have all the args we'd probably expect on a windows machine. specifically there is no arg to control if this is an external url where a safety prompt should be included.  We for now do not include

[2019-07-31 20:42] drcharris commented on #2854
@hmheng I wasn't upgrading - VS2019 was my first install.

[2019-07-31 22:33] namrog84 commented on #2834
After furthest investigation. I believe this might have been happening because there was no 'uwp' or 'default' use case in a scenario that there HAD to be a value or something.

This issue is not what I had thought it was originally.  It is unclear exactly what triggers it, but there are cases that it is working and some that isn't.  It might have to do something with use of default: or in certain

[2019-08-01 05:46] J4s0nDRevs commented on #2854
I am having the same problem. did u fixed it? i am uninstalling my VS now

[2019-08-01 08:51] mtepro commented on #2854
Just as temporary workaround the temp certificate can be removed. With some warnings application starts then.

[2019-08-01 08:53] J4s0nDRevs commented on #2854
how do i remove the temp certificate

[2019-08-01 08:56] mtepro commented on #2854
There's pfx file in <app_dir>\windows\<app>
Something like <your_app_name>_temporaryCertificate.pfx

[2019-08-01 09:01] J4s0nDRevs commented on #2854
wow I didn't thought of just removing it. I know which file is it. but didn't think just removing it works haha thanks

[2019-08-01 15:19] ahimberg commented on #2855
@stecrain added this ShadowNode in https://github.com/microsoft/react-native-windows/pull/2667 . but didn't override createShadow on ImageViewManager to use it.

[2019-08-01 20:58] StephenLPeters opened #2865 "Investigate the Text api's needed for core parity"
Record notes and initial guess at the cost for the unimplemented APIs for the Text control in the rnw core parity status spread sheet.

- [x] selectable
- [x] accessibilityHint
- [x] accessible
- [x] numberOfLines
- [x] onLayout
- [x] onLongPress
- [x] onPress
- [x] selectionColor

- [ ] ellipsizeMode
- [ ] nativeID
- [ ] pressRetentionOffset
- [ ] allowFontScaling
- [ ] maxFontSizeMultiplier
- [

[2019-08-01 22:29] licanhua commented on #2865
dup of #2121

[2019-08-01 22:29] #2865 closed

[2019-08-01 23:12] ddalp commented on #2849
Checking the live visual tree the TextTrimming property is set to CharacterEllipsis by default (I think react sets the default ellipsizeMode to tail). CharacterEllipsis and WordEllipsis probably behave same when wrapping is on. I think we probably should set text to no wrap when numberOfLines is 1

[2019-08-02 00:22] stecrain commented on #2855
oh man, I can take this one. my bad clearly

[2019-08-02 13:56] stecrain commented on #2833
I have one question for this. I added similar configurations to the App I am working on, but I ran into an issue that make using $(Configuration) variable problematic.

It's pretty common for the .targets files from nuget packages to use the $(Configuration) variable, and to assume that it will only ever be Debug or Release, this would cause headaches when using a configuration like 'DebugBundle'

[2019-08-02 14:06] stecrain commented on #2832
@harinikmsft you're right. *why* TransferProperties is being called is likely more important than actually making TransferProperties faster.

@StephenLPeters I was starting to look into why TransferProperties is being called so much, and I have some intuition about it but I have not proven it 100% yet.
I believe that there is an opportunity to optimize focusable view creation. I see TransferProper

[2019-08-02 15:25] harinikmsft commented on #2795
Thanks @decrowle . Can you update the [Parity status doc](https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/ParityStatus.md) line item for FlatList?

[2019-08-02 16:53] #2855 closed

[2019-08-02 16:58] kmelmon opened #2870 "Add API to enable/disable Developer Menu capability"
# Proposal: Make it possible to dynamically enable/disable the Developer Menu feature

## Summary
Currently, the Developer Menu is only available in CHK builds.  This issue is tracking adding an API to control the feature so it could be turned on in FRE builds.

## Motivation

## Basic example

## Open Questions

[2019-08-02 17:33] kmelmon opened #2871 "Hook up the Live Reload button in the Developer Menu"
# Proposal: Hook up the Live Reload button in the Developer Menu

## Summary
The Live Reload button doesn't work yet.  This issue is tracking implementing it.

## Motivation

## Basic example

## Open Questions

[2019-08-02 17:35] kmelmon opened #2872 "Implement the Inspector feature from Developer Menu"
# Proposal: Implement the Inspector feature from Developer Menu

## Summary
React-native has an "inspector" that lets you spy on the react-native tree.  We don't support this yet in vnext.  It's supposed to be available from the Developer Menu.  We have a button but it doesn't do anything yet.

## Motivation

## Basic example

## Open Questions

[2019-08-02 17:37] kmelmon opened #2873 "Hook up the Reload button in the Developer Menu"
# Proposal: Hook up the Reload button in the Developer Menu

## Summary
The Developer Menu has a Reload Javascript button but it doesn't work yet.  This issue is tracking hooking it up.

## Motivation

## Basic example

## Open Questions

[2019-08-02 17:38] kmelmon opened #2874 "Implement Direct Debugging"
# Proposal: Add support for Direct Debugging

## Summary
React-native has direct debugging on other platforms.  My understanding is this allows you to debug the javascript running directly in-proc rather than out-of-proc over a websocket connection.  We don't support this yet in vnext.  This issue is tracking adding support.

## Motivation

## Basic example

## Open Questions

[2019-08-02 17:58] kmelmon commented on #2833
@stecrain I haven't investigated this yet, but we already have this working in 'current' so a first step would be to see how it's done there.

[2019-08-02 18:22] ddalp commented on #2140
Done.

[2019-08-02 19:15] akrantz commented on #2874
There is some support in vnext for direct debugging. See https://github.com/microsoft/react-native-windows/blob/b7b40b934e7d935166ee827d66ac4f5b469add9b/vnext/ReactWindowsCore/DevSettings.h#L54 The ability to use this depends on the JavaScript engine. I did the work to enable this for ChakraCore.

[2019-08-02 20:11] kmelmon opened #2875 "[VS Code] Debugging Extension is busted for vnext"
Currently, using the react-native extension in VS Code to debug react-native apps is busted when using vnext.

This epic is tracking fixing the various issues to establish a baseline of working functionality.  When complete, a dev should be able to:
-Open their react-native project in VS Code.  Primary scenario is an app created with the CLI.
-Add a Debug configuration to their launch.json
-Hit th

[2019-08-02 20:21] kmelmon opened #2876 "[VS Code]Validate the bundle loading for vnext"
Currently, when using the VS Code debugging extension for react-native, starting a debugging session is not working.  This issue is tracking one of the issues in that experience.

The issue here is that the VS Code extension was written against 'current' which makes some assumptions about how current works.  It has a "pre warm bundle cache" step which downloads the bundle in parallel with doing a

[2019-08-02 20:29] akrantz commented on #2875
sorry -- accidental click...

[2019-08-02 20:33] kmelmon opened #2877 "[VS Code] Client cannot establish websocket connection with web worker"
Currently, when using the VS Code debugging extension for react-native, starting a debugging session is not working. This issue is tracking one of the issues in that experience.

This issue is first dependent upon this issue being fixed:
https://github.com/microsoft/react-native-windows/issues/2876

Once that is fixed, you'll run into the second issue, which this issue is tracking.  The issue here

[2019-08-03 01:26] mganandraj commented on #2877
I was and am doing some work related to this. I'm mostly focusing on in-proc debugging though, i.e. not loading JS into an Chrome browser tab. As part of the Hermes integration, i'll try to bring up directly debugging the Hermes runtime from chrome. A few months back, I did a similar work with v8 which also i'll try to get in. Both requires setting up a websocket server in-app so that the clients

[2019-08-03 01:29] mganandraj commented on #2874
I'm working on getting direct debugging hermes/v8 into RNW. You may assign this to me.

[2019-08-05 15:57] ddalp commented on #2849
Fixed.

[2019-08-05 15:57] #2849 closed

[2019-08-05 22:15] ahimberg commented on #2874
uwp.vnext has a UseDirectDebugger setting on ReactInstanceSettings that enables this with the inproc Chakra engine, when that is set you can then attach with visual studio's script debugger.

[2019-08-06 00:01] jonthysell opened #2888 "Implement AccessibilityInfo module"
The AccessibilityInfo module provides some utility functions and events for interacting with UIA.

RN60 docs: https://facebook.github.io/react-native/docs/accessibilityinfo

Needed for RNW:
- [ ] isScreenReaderEnabled #3115
- [ ] addEventListener #3159
- [ ] setAccessibilityFocus #3116
- [ ] announceForAccessibility #3117
- [ ] removeEventListener #3158

Out of scope for this issue:
- isBoldTextEn

[2019-08-06 16:30] ddalp commented on #2121
It looks like there's nothing needs to be done from RNW for supporting Nested Text, the nested layout and text formatting inheritance logic are at React JS side. I tested with several sample scripts and all worked fine. pressRetentionOffset is also implemented in React JS, though I don't know what is the user scenario for this property on Text.

In my view, this issue can be closed as most of the

[2019-08-06 16:45] jonthysell commented on #2095
Removing ready to dev until we have the proper model for native modules.

[2019-08-06 16:47] RobMeyer commented on #2121
@ddalp does that mean nested <Text> results in multiple <TextBlock> in the XAML tree then? I was hoping for the performance optimization of using an inlines collection in a single <TextBlock>, but that seems impossible to do from the React JS side without some logic on the native (xaml) side.

On the flip side, if we were to use an inlines collection then the nested <Text> components backed by <Ru

[2019-08-06 17:59] ddalp commented on #2121
@RobMeyer Using inlineCollection (Span, Run) for TextBlock will make it to opt-out DWriteTextLayout fast path mode and fall back to line services slow layout mode. So the trade-off would be either we have slower layout performance at RNW or and React JS side. Since the React JS side has much simpler layout text format properties, I would imagine there are performance advantages to have the layout/

[2019-08-06 20:40] jonthysell opened #2894 "Need to add accessibilityPosInSet and accessibilitySizeOfSet props to ViewWindows"
Instead of adding the new props to View in the RN fork (as per closed PR: https://github.com/microsoft/react-native/pull/106), add them to ViewWindows

[2019-08-06 23:36] acoates-ms commented on #2834
Yeah, that sounds more like an issue with react-navigation-stack not handling platforms it doesn't know about.  Some of that may be fixed when we rename our platform back to windows instead of uwp.

[2019-08-06 23:36] #2834 closed

[2019-08-06 23:55] jnvbui opened #2897 "TouchableOpacity onPress event being called twice"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.59.0-microsoft.17

2. `npm ls rnpm-plugin-windows`:
-- rnpm-plugin-windows@0.2.11

3. `npm ls react-native-windows`:
-- react-native-windows@0.59.0-vnext.109

4. `node -v`:
v10.16.0

5. `npm -v`:
6.10.0

Then, specify:

- Target Platform Version(s):  10.0.18362

- Target Device(s): Xbox

- Visual Studio Version: 2019

-

[2019-08-07 15:42] ddalp commented on #2121
Resolving this issue as I don't see any additional work needed for Nested Text and pressRetentionOffset.

[2019-08-07 15:44] ddalp commented on #2162
This issue does not repro any more, likely fixed by Jon's change to hook up CoreWindow bounds in DeviceInfo.

[2019-08-07 17:17] leoek opened #2899 "Fatal Crash (Error HRESULT E_FAIL has been returned from a call to a COM component) in RN 0.59.0-rc.1 after upgrade from RN 0.57"
### Environment

1. `react-native -v`: react-native-cli: 2.0.1, react-native: 0.59.10
2. `npm ls rnpm-plugin-windows`: rnpm-plugin-windows@0.2.11
3. `npm ls react-native-windows`: react-native-windows@0.59.0-rc.1
4. `node -v`: 10.0.16299.0
5. `npm -v`: 6.7.0
6. `yarn --version`: 1.15.2

Then, specify:

- Target Platform: UWP

- Target Platform Version(s): 10.0.17134.0 (min: 10.0.16299.0)

- Target

[2019-08-07 17:40] #2894 closed

[2019-08-07 17:44] kmelmon commented on #2121
I believe there's still work to do here...  XAML doesn't allow nesting TextBlock so we implement nested Text by creating a Span for the nested Text.  Looking at the Text properties, we have no way to map a number of these properties to Span because Span is more limited than TextBlock.

From a quick glance at TextViewManager, these properties (at the least) seem problematic:
numberOfLines
selectabl

[2019-08-07 18:49] ddalp commented on #2121
@kmelmon You are right, we do create inline collections of span/run for the nested text. I think I am clear now that this issue is not about supporting Nested Text, rather it is about whether/how to support all text properties for the Nested Text.

[2019-08-07 19:09] harinikmsft commented on #2874
Is there a button on a developer menu that could make discovering this easier?

[2019-08-07 19:17] chrisglein commented on #2876
The recommendation here seems to be to change the CLI and go with the flow of whatever the other platforms use as a naming pattern.

[2019-08-07 19:19] harinikmsft opened #2901 "[VS Code] Change the CLI bundle name to index.bundle"
This is needed to complete #2876 .

The decision here is to rename the bundle that is being generated through the CLI to index.bundle to match current as well as iOS/Android instead of the "app.bundle" name that it does today.

[2019-08-07 19:27] harinikmsft commented on #2899
@rozele - can you take a look at this.

[2019-08-08 02:47] kmelmon opened #2903 "[BUG] Busted hit-testing in RTL scenario"
We have a hit-testing bug in RNW code that manifests if you set the FlowDirection to RTL very high up in the XAML tree.

Repro steps from email thread are to apply these diffs:

diff --git a/vnext/Universal.SampleApp/App.xaml.cpp b/vnext/Universal.SampleApp/App.xaml.cpp
index 481267346..a1c7b2bb0 100644
--- a/vnext/Universal.SampleApp/App.xaml.cpp
+++ b/vnext/Universal.SampleApp/App.xaml.cpp
@@ -5

[2019-08-08 02:49] kmelmon commented on #2903
I have a repro and I believe I've found the bug, in TouchEventHandler::GetTagsAtPoint().

This bit of code is transforming the incoming point into the XAML Window Content coordinate space, which is not the window coordinate space, it’s just “below” the Window.
  winrt::Point point = e.GetCurrentPoint(root).Position();
  auto transform = root.TransformToVisual(winrt::Window::Current().Content());

[2019-08-08 09:46] gcox commented on #2755
@J4s0nDRevs FYI, I got that error as well. Running `npm install` then `react-native windows` one more time fixed it for me.

[2019-08-08 17:38] ddalp commented on #2121
**Properties working on all nested text elements:**
color, fonts (fontSize, fontFamily, fontWeight, fontStyle etc..), spacing.

**Text properties setting on nested child text elements has no effect:**
textAlign
ellipsizeMode
**textDecorationLine**
numberOfLines,
lineHeight,
selectable,
allowFontScaling,
selectionColor

**Others such as view properties setting  on nested child text elements has no

[2019-08-08 20:51] rhussin opened #2907 "Picker items should take Text styles"
# Proposal: Picker items should take Text styles

## Summary
Currently, Picker items only have View props, not Text props.  This makes it impossible to change their font and font size, among other things.  It would be nice to be able to customize the children more easily, or use arbitrary child elements, though for my purposes simply being able to change those two properties (font and font size) w

[2019-08-08 20:54] #2642 closed

[2019-08-08 20:55] decrowle commented on #2642
Closed with PR #2859

[2019-08-08 23:31] #2903 closed

[2019-08-09 12:50] ydescortes commented on #2899
Same error here. I have made some tests and this error happens when a <Text> node is inside a <ScrollView>. When MeasureText is called, the height of Text is NaN

[2019-08-09 19:21] #2376 closed

[2019-08-10 04:53] chrisglein opened #2918 "Image memory size: Conditionally use BitmapImage"
Breaking out a separate sub-section of #2652. As mentioned in the replies there are two parts, the first is restricting the load size (#2863), and the second is this:

Only use LoadedImageSurface for repeating images. In this scenario I think we're likely safe just decoding to the image's natural size as it's supposed to tile. We can further optimize this case if necessary.
For all other cases, us

[2019-08-12 16:33] namrog84 opened #2921 "missing measureInWindow"
So I've hit an issue with `TypeError: TaskQueue: Error with task : UIManager.measureInWindow is not a function`
and it looks like "measureInWindow" exists in react-native/ReactAndroid/src/main/java/com/facebook/react/uimanager/UIManagerModule.java as a registered function
However, in the react-native-windows/ReactWindowsCore/Modules/UIManagerModule.h/cpp there only exists a "measure" and no "measu

[2019-08-12 18:44] #2681 closed

[2019-08-12 23:10] #2745 closed

[2019-08-13 13:16] nelsona commented on #2899
This error is affecting us as well and is stopping us being able to finish our upgrade to RN0.59.

I have created a simple repo of the error [here](https://github.com/nelsona/windows-rn59-testapp)

[2019-08-13 17:47] chrisglein commented on #2907
@rhussin this looks like a nice thing to add but not something we're considering critical for MVP. Are you at all blocked on it? Also, do you know if the iOS solution is also present for Android?

[2019-08-13 17:57] chrisglein commented on #2921
[https://react-native.org/doc/direct-manipulation.html#measureinwindowcallback](https://react-native.org/doc/direct-manipulation.html#measureinwindowcallback)

Determines the location of the given view in the window and returns the values via an async callback. If the React root view is embedded in another native view, this will give you the absolute coordinates. If successful, the callback will b

[2019-08-13 18:56] acoates-ms commented on #2740
The issue appears to be when using the `microsoft/react-native` fork, no-one is adding `macos` to the list of haste platforms.

This issue should go away once we update to RN 0.60, and the hastemap goes away.  Until then, you can add the following to your metro.config.js:

[code]

[2019-08-13 18:56] #2740 closed

[2019-08-13 18:58] acoates-ms commented on #2264
RNW works without using the fork version.  I think this can be closed.

[2019-08-13 18:58] #2264 closed

[2019-08-13 18:59] rozele commented on #2899
So, to clarify, this only happens when <Text> is embedded in a ScrollView? Strange that this doesn't repro in RNTester (which has Text in a ScrollView). Looking now.

[2019-08-13 19:22] rozele commented on #2899
Please run:
[code]
or...
[code]
And confirm if the issue with text is resolved. It looks like the wrong Yoga submodule was published in rc.1.

[2019-08-13 22:46] orshir commented on #2833
Does anyone have a workaround? I'm trying to create a quick vNext app to test on a HoloLens, but I couldn't find instructions on how to build a standalone app, and I can't run the dev server on the HoloLens.

[2019-08-14 01:02] chrisglein commented on #2079
@marlenecota You indicated there isn't any more work to do here. Can you confirm and close the issue out if that's the case?

[2019-08-14 01:05] chrisglein commented on #2346
This seems non-critical for MVP. @harinikmsft I'm moving out to Milestone 4. Let me know if you disagree.

[2019-08-14 01:14] marlenecota commented on #2079
Yes, I mistakenly thought we had a separate npm package for our cli, but we don't.

[2019-08-14 01:14] #2079 closed

[2019-08-14 01:16] marlenecota commented on #2645
#2801

[2019-08-14 01:16] #2645 closed

[2019-08-14 22:23] rhussin commented on #2907
I'm not sure about Android.  Luckily, the base style is _reasonable enough_ that I'm not blocked on it for now.

[2019-08-15 13:44] nelsona commented on #2899
@rozele I can confirm that I have been able to get our app up and running again using the new rc.3 version

[2019-08-15 16:43] jonthysell commented on #2877
Debugging in Chrome has also stopped working in vnext.

[2019-08-15 20:17] l3tang opened #2939 "ScrollView not work as expected on Xbox console, buttons aren't interactable"
### Environment

1. `react-native -v`: returned error
2. `npm ls rnpm-plugin-windows`: rnpm-plugin-windows@0.2.11
3. `npm ls react-native-windows`: react-native-windows@0.59.0-vnext.109
4. `node -v`: v11.4.0
5. `npm -v`: 6.4.1

Then, specify:
- Target Platform Version(s): 10.0.18362

- Target Device(s): Xbox One

- Visual Studio Version: 2017

- Build Configuration: Debug, Release

### Steps to Re

[2019-08-15 20:46] l3tang commented on #2939
More additional info: If the view doesn't actually need scrolling, even direct children buttons are not interactable no matter what I do.

[2019-08-15 23:17] StephenLPeters opened #2940 "Implement Tracking AnimatedNodes"
The NativeAnimatedModule does not have an implementation for the Tracking AniamtedNodeType.

[2019-08-15 23:18] StephenLPeters opened #2941 "Implement the receiving of events for EventAnimationDriver"
The NativeAnimationModule does not properly receive events when making an EventAnimationDriver.

The Naive solution that is implemented by current and andriod implementations involves quite a bit of use of the bridge as the event is raised by the target competent, and then tunneled back to the native side.  We could bypass this exchange, and in some cases remove the need to rely on the UI thread f

[2019-08-16 00:19] #2899 closed

[2019-08-16 19:03] jonthysell opened #2943 "[BUG] Playground app fails with web debugger checked, Chrome launches but not with debugger"
If you:
1. Build and run packages\playground
2. Get metro running
3. Load RNTester with web debugger enabled

Expected: Bundle is made, app loads, Chrome launches web debugger

Actual: Chrome launches to blank tab, no bundle, app fails with websocket error

[2019-08-16 21:15] l3tang commented on #2939
More info: I got it to work if I removed the background image component that we had and removed the height property on the content. That made things interactable, but still, the page scrolls to the bottom first and then goes through the interactable elements.

If the first and last rendered elements in the list are non-interactable items, the you can't interact with anything in the list. If the fi

[2019-08-19 19:28] bitnota opened #2952 "ERROR: Instance failed to start -- A connection with the server could not be estabilished"
I am trying to run a React UWP remotely from PC to a Raspberry Pi 3 with Windows IOT on the same WiFi Network, using Debug ARM Remote Machine on Visual Studio, but when the app open, it show a red screen with:

`ERROR: Instance failed to start -- A connection with the server could not be estabilished`

I can already use Debug x86 Local Machine and it works well.

PD: Its running with `yarn start`

[2019-08-19 20:34] niwiller opened #2954 "HTTP request with no internet connection throw C++ HResults, but does not bubble to calling JavaScript"
### Environment

1. `react-native -v`:
   react-native-cli: 2.0.1
   react-native: 0.59.0-microsoft.17
2. `npm ls rnpm-plugin-windows`:
   rnpm-plugin-windows@0.2.11
3. `npm ls react-native-windows`:
   react-native-windows@0.59.0-vnext.109
4. `node -v`:
    v11.3.0
5. `npm -v`:
   6.4.1
6. `yarn --version`:

Then, specify:

- Target Platform Version(s): 10.0.18362

- Target Device(s): Xbox

- Vis

[2019-08-20 06:17] ahimberg opened #2959 "Safer focus lost behavior"
# Proposal: Safer focus lost behavior

## Summary
In Xaml, when the focused control is removed from the visual tree, focus moves to the first element in the window.  This differs from other platforms (I don't know how each works, but Xaml seems uniquely extreme in this) - I believe most platforms will find the nearest focusable element or at least keep focus in the same 'window' if focus was in a

[2019-08-20 20:08] kmelmon opened #2964 "Web Debugging is busted"
When launching an app into the web debugger, the browser launches a new tab, but it doesn't navigate to localhost:8081/debugger-ui.  The client then can't connect to the web debugger and this breaks the web debugging experience.

This bug appeared around the time the playground app moved into a separate package.

Repro Steps:
sync
yarn install
yarn build
build playground
Launch Chrome
from playgro

[2019-08-20 22:30] acoates-ms commented on #2964
I think this might have been a change in chromes behavior.  -- I thought I saw something about it somewhere.  I assume web debugging works if you manually navigate chrome to
http://localhost:8081/debugger-ui/
?

[2019-08-20 22:35] kmelmon commented on #2964
Yes that's the workaround.  I'm honestly not sure exactly when it started but I'm hearing reports of it across the team.

[2019-08-20 23:44] dotnetjunky commented on #2872
I have just merged the commit which lights up the Inpsector.

[2019-08-21 00:42] kmelmon opened #2969 "Flyout full placement mode is busted"
Flyout has a 'full' placement mode that centers the Flyout.  This isn't working - it is being positioned at [0,0].

Repro Steps:
Launch RNTester
Go to Flyout test page
Choose 'full' from placement dropdown
Open the Flyout

RESULT
The Flyout is positioned at (0,0) in the control instead of centered.

The issue is that we're overriding MaxWidth/MaxHeight to 5000x5000 and the XAML logic for positioni

[2019-08-21 00:42] kmelmon commented on #2969
I've been working on a fix for this.

[2019-08-21 18:42] kmelmon commented on #2173
done!

[2019-08-21 18:42] #2173 closed

[2019-08-21 20:00] #2856 closed

[2019-08-21 23:07] acoates-ms opened #2974 "We should turn off RTTI"
RTTI bloats the binary, and using it prevents apps from being able to turn it off.

(Our app started crashing when a use of dynamic_cast was introduced)

[2019-08-22 11:00] #2854 closed

[2019-08-22 15:53] micahl commented on #2964
@kmelmon dunno if it's related, but I'm also unable to get debugging to work in VS code enabling the web debugger and following [your instructions](https://github.com/microsoft/react-native-windows/wiki/VS-Code-Debugging).

[2019-08-22 18:26] adamgorMSFT opened #2980 "startListeningToAnimatedNodeValue is not a function"
startListeningToAnimatedNodeValue is not a function
NativeAnimatedModule.startListeningToAnimatedNodeValue(tag);

https://github.com/microsoft/react-native-windows/blob/6be900885a4fa128dfd637b016b1ad9d23473134/vnext/ReactUWP/Modules/Animated/NativeAnimatedModule.cpp#L241

[code]

It looks like its stubbed out but not implemented nor registered.
Please fix. Thanks!

[2019-08-22 19:02] adamgorMSFT opened #2981 "startAnimatingNode() exists in NativeAnimatedModule, but only one callback may be registered to a function in a native module."
"The callback startAnimatingNode() exists in module NativeAnimatedModule, but only one callback may be registered to a function in a native module."

I am still investigating it, but I think there might be something with the
react-native-windows/ReactUWP/Modules/Animated/
NativeAnimatedNodeManager or NativeAnimatedModule.

The problem doesn't occur in our app on Android, only on windows RNW vnext.

[2019-08-22 23:02] kmelmon opened #2985 "react-native run-windows hits build error using VS 2019"
On a fresh machine with only Visual Studio 2019 installed, I'm unable to successfully build a CLI created app.

Repro Steps:
react-native init foobarapp --version 0.59.10
cd foobarapp
yarn add rnpm-plugin-windows
react-native windows --template vnext
react-native run-windows

RESULT
Build error.  The build output looks like this:
D:\helloworld>react-native run-windows
√ Found NuGet Binary
√ Restor

[2019-08-22 23:09] kmelmon opened #2986 "Building CLI app with Visual Studio 2019 hits certificate build error"
On a fresh machine with only Visual Studio 2019 installed, I cannot successfully build a CLI app in VS 2019.  I hit a certificate related build error.

Repro Steps:
react-native init helloworld --version 0.59.10
cd helloworld
yarn add rnpm-plugin-windows
react-native windows --template vnext
Open VS solution and build

RESULT
Build Error:
Certificate could not be opened:   helloworld_TemporaryKey.

[2019-08-22 23:12] kmelmon commented on #2337
I'd really like to see this happen.  Assigning this to myself as a starting point.

[2019-08-22 23:31] kmelmon commented on #2943
dupe of #2964

[2019-08-22 23:31] #2943 closed

[2019-08-22 23:31] #2872 closed

[2019-08-23 00:25] kmelmon commented on #2068
vnext doesn't have Modal yet.  This must be an old issue from current.

[2019-08-23 00:29] kmelmon opened #2989 "Implement Modal"
## Summary
vnext has not yet implemented Modal.  See https://facebook.github.io/react-native/docs/modal

- [ ] visible
- [ ] supportedOrientations
- [ ] onRequestClose
- [ ] onShow
- [ ] transparent
- [ ] animationType
- [ ] hardwareAccelerated
- [ ] onDismiss
- [ ] onOrientationChange
- [ ] presentationStyle
- [ ] animated

[2019-08-23 01:22] kmelmon commented on #2974
done

[2019-08-23 01:22] #2974 closed

[2019-08-23 16:26] #2954 closed

[2019-08-23 23:35] chrisglein commented on #2550
@harinikmsft is this on our short list of first line extensions for M3 or this okay to do in M4?

[2019-08-23 23:35] chrisglein commented on #2546
@harinikmsft Given our shift in definitions is this on the short list for M3 or is M4 okay?

[2019-08-23 23:36] chrisglein commented on #2538
@licanhua Given the new test direction do we need to do this work for Cavy here?

[2019-08-23 23:37] chrisglein commented on #2537
@licanhua do you still want to track this Cavy test case issue? We're moving in a different direction now but do need to start tracking test collateral.

[2019-08-23 23:40] chrisglein commented on #2480
@randy-flynn this is marked "PR out for review". Did this get abandoned or closed? The PR # isn't linked here.

[2019-08-23 23:44] chrisglein commented on #2420
Sounds like this is resolved.

[2019-08-23 23:44] #2420 closed

[2019-08-23 23:47] chrisglein commented on #2416
@jonthysell Not sure what the ask is here. Weigh it alongside your native modules plan and close out if there's nothing we want to do here..

[2019-08-23 23:50] chrisglein commented on #2367
@khetanashita the PR you linked has been merged. Is there still work here?

[2019-08-23 23:58] chrisglein commented on #2261
It looks like PR for this stalled out in April and was closed. But then @StephenLPeters addressed this in #2443. Closing this out. Stephen, let me know if I missed anything.

[2019-08-23 23:58] #2261 closed

[2019-08-24 00:10] chrisglein commented on #2071
@t-wihatz this is what you've been working on, right? Can we consider this issue done?

[2019-08-24 01:02] kmelmon opened #2996 "Crash when animating Transform property using native driver downlevel"
Repro Steps

Install OS build that's < 19H1 (eg RS5)
Run RNTester on this build with this change to AnimatedExample.js:

    title: 'Transform Bounce',
    description:
      'One `Animated.Value` is driven by a ' +
      'spring with custom constants and mapped to an ' +
      'ordered set of transforms.  Each transform has ' +
      'an interpolation to convert the value into the ' +
      'righ

[2019-08-26 23:15] chrisglein opened #3006 "Popup (non light-dismiss) - can't Tab in/out of a Popup"
Splitting out from #2107

Tabbing in:
This is an issue with XAML. But it's exacerbated in RNW because all Popups are unparented so you see this all the time instead of sometimes.
XAML might fix this with WinUI 3 but we may want to workaround.

Tabbing out:
- Popup (non light-dismiss) - should not trap focus (currently, always traps focus, which is correct for light-dismiss case)

[2019-08-27 20:58] adamgorMSFT opened #3014 "request to fix unreferenced formal parameter in ToExponential (double-conversion.h)"
https://github.com/microsoft/react-native-windows/blob/968d96aa9a3c4c2bb54762a929425729b29a99bc/vnext/stubs/double-conversion/double-conversion.h#L117

requested_digits: unreferenced formal parameter
Warning	C4100	'requested_digits': unreferenced formal parameter (compiling source file <snipped>\node_modules\react-native-windows\stubs\double-conversion\double-conversion.h	117

inconsequential but

[2019-08-27 22:15] SavoySchuler opened #3016 "Document Accessibility Core Parity"
# Accessibility Core Parity

#### Legend:
- Yes - Implemented
- No - Intending to implement
- N/A - Not implementing
- FEVM - FrameworkElementViewManager
- DAP - DynamicAutomationPeer

| API | RN59 | RN60 | Current | vNext | Notes |
| :--- |  :----: | :-----: | :--------: | :-----: | :------ |
| **AccessibilityInfo Module** |  |  |  |  |  |
| isBoldTextEnabled() | N/A | iOS | No | N/A |  |
| isGra

[2019-08-27 23:33] licanhua opened #3018 "Setup Helix test pipeline"
Helix provides machines from rs2 to 19h1.

Helix is a test execution environment run by the .net core team. It is a part of the Arcade SDK:
https://github.com/dotnet/arcade
https://github.com/dotnet/arcade/tree/master/src/Microsoft.DotNet.Helix/Sdk

[2019-08-27 23:39] licanhua opened #3019 "Use forked WebDriverIO or newer version of WinAppDriver for E2E testing"
[PR 4369](https://github.com/webdriverio/webdriverio/pull/4369) described the problem between WinAppDriver and WebDriverIO.
I always created PR on WinAppDriver to fix the problem, but still no ETA to release it.
Possible adopt the newest WinAppDriver or use forked WebDriverIO.

[2019-08-27 23:40] licanhua opened #3020 "Provide document to author and run E2E testing"
document update

[2019-08-27 23:47] licanhua opened #3021 "Provide CLI to do E2E testing"
1. local CLI would launch Appium, wdio, and Metro Bundler
2. pipeline CLI would package js to ReactUWPTestApp, and the app is running without Chrome and metro bundler support.

[2019-08-28 04:17] JunielKatarn opened #3024 "Finish implementation of UniversalTestRunner for RNTester."
Project Universal.Integration tests lacks some UWP-specific functionality in its TestRunner implementation.

Finish implementing the test runner to the point the Dummy JS-driven integration test runs successfully in UWP.

[2019-08-28 16:31] licanhua opened #3027 "Add E2E test cases when creating React Native Windows from template"
We use following command to create Windows app from a template.
For better user experience, we should add E2E test template too.
'react-native windows --template vnext'

[2019-08-28 21:53] chrisglein commented on #2121
Okay @kikisaints, Di believes we've done as much as we can do here. So now we need to document what isn't supported. Can you update the [parity status doc](https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/ParityStatus.md) with this information?

[2019-08-28 21:56] harinikmsft commented on #2140
@kikisaints - can you update [parity status](https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/ParityStatus.md) with Switch as completed?

[2019-08-28 21:57] harinikmsft commented on #2162
@kikisaints - can you update [parity status](https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/ParityStatus.md) so this issue is removed from Text's open issues and marked as Complete.

[2019-08-28 22:05] harinikmsft commented on #2071
@YuliKl - can you update the [parity status](https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/ParityStatus.md) for the Alert line item to "Completed".

[2019-08-28 22:11] rurikoaraki opened #3034 "[PROPOSAL]: Better Keyboard Shortcut support"
# Proposal: Better Keyboard Shortcut support

## Summary

Although supportKeyboard allows for implementing handling of keyboard shortcuts on a React Native Windows app, it seems that the XAML platform has good support for handling keyboard shortcuts through UIElement's KeyboardAccelerators property. We could potentially use it to expose a KeyboardShortcut prop (and similarly an AccessKey prop) on

[2019-08-28 22:13] chrisglein commented on #2090
We believe everything you need is [available](https://github.com/microsoft/react-native-windows/pull/2705) now. You can access reveal acrylic brushes using the windows brush feature. If you have specific needs beyond that don't hesitate to create a new issue.

[2019-08-28 22:37] chrisglein commented on #2876
@kmelmon We did the rename. So... what now?

[2019-08-28 22:39] chrisglein commented on #2873
@t-wihatz What's the status on this?

[2019-08-28 22:40] chrisglein commented on #2871
@t-wihatz What's the status on this?

[2019-08-28 22:42] chrisglein commented on #2853
@kmelmon Is this the same as [this](https://github.com/microsoft/react-native-windows/issues/2132)? Don't want to track in duplicate.

[2019-08-28 22:44] chrisglein commented on #2852
Hey @ddalp, this one needs someone to dig in and find what's missing/broken. Can you give this one a breakdown?

[2019-08-28 23:22] adamgorMSFT opened #3036 "Picker from react-native-windows vs Picker from react-native"
We have a

`import { Picker } from 'react-native';`

But this throws a bunch of weird errors. I was able to get it to work when switching to using
`import { Picker } from 'react-native-windows';`

Any chance it can be properly piped through react-native?

using versions
"react-native": "0.59.0-microsoft.68"
"react-native-windows": "^0.59.0-vnext.157",

[2019-08-29 00:03] chrisglein commented on #2403
Hey @stecrain: You had a PR merge for this back in May/June. Is there more work here or can we close out this issue?
@harinikmsft you added the "needs PM design" label. What's the work here?

[2019-08-29 00:50] chrisglein commented on #2338
@harinikmsft we're not focusing on TurboModules until after Milestone 3, correct?

[2019-08-29 00:53] #2135 closed

[2019-08-29 00:55] chrisglein commented on #2197
@harinikmsft Is there any design work still needed here or is this dev ready?

[2019-08-29 01:38] kmelmon commented on #2952
We don't have any plans to add tooling for this feature.

The manual workaround steps are as follows:
Modify ReactInstanceSettings.debugHost to point to your development server eg "10.192.64.24"
When you do react-native start, supply --host <host ip>

[2019-08-29 01:38] #2952 closed

[2019-08-29 01:56] kmelmon commented on #2901
@savatia we think we still need to implement this for pre-warming to work, and to be consistent with the CLI on other platforms.

[2019-08-29 01:56] kmelmon commented on #2876
@chrisglein we still need to do #2901, I just assigned to @savatia

[2019-08-29 02:00] kmelmon commented on #2853
@chrisglein I'm 90% sure these are separate features.  #2132 involves changes to the CLI which control how your build pulls in other modules at build time, whereas the linking module happens at runtime.

[2019-08-29 03:53] ahimberg commented on #2853
Yes they're totally different things

[2019-08-29 17:43] harinikmsft commented on #2550
This can be done in Milestone 4. We will need to first complete the view manager story and then add support this (now community) module.

[2019-08-29 17:50] harinikmsft commented on #2403
I think we have the minbar completed by @stecrain for now.

Long term - it feels like there could be a better tooling story around these customizations as well. That was the part I thought could use some PM design and vision. I think we can close this issue for now and create another one later for the long term aspects.

[2019-08-29 17:51] #2403 closed

[2019-08-29 19:30] kmelmon commented on #2066
This is specific to 'current'.  @rozele it looks like PR #2530 was supposed to fix this but it was never checked in.

[2019-08-29 19:32] FalseLobster commented on #2099
@kikisaints @jonthysell -- Some early thoughts

- Enter/Leave are the only ones in the web that do not Bubble.  They're direct-only and fire if pointer enters the element or any descendant.
- In contrast, Over/Out do bubble, but they don't fire when a pointer enters a descendant.
- These behaviors make sense to me.  [What xaml does](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.uielemen

[2019-08-29 20:34] #2071 closed

[2019-08-29 21:34] licanhua commented on #3036
As I know, except Picker, these controls like CheckBox, DatePicker, Popup, Picker should be imported from 'react-native-windows'.

[2019-08-29 21:38] adamgorMSFT commented on #3036
So if we want to develop for both android, ios, and windows.
We will need to abstract out these things with some kind of Platform.Select or some other conditional mechanism then?

Ideally we'd like to re-use views whenever it makes sense too.

Aside from switching the import, everything seems to work the same, at least in our scenario.

[2019-08-29 22:23] kmelmon commented on #2795
@harinikmsft What is remaining on this task?  Dexter verified basic cases for all the properties so this appears to be working.

[2019-08-29 22:34] kmelmon commented on #2531
asyncworkqueue.cpp does have a bom so we think this issue is likely a config problem.  Closing.

[2019-08-29 22:34] #2531 closed

[2019-08-29 23:17] kmelmon commented on #2657
This was just a source of confusion..   The I18nManager module doesn't have setters, the example came from the i18n-js library, which is a separate library.  Closing.

[2019-08-29 23:17] #2657 closed

[2019-08-29 23:32] kmelmon commented on #2969
@khetanashita  is going to try building a custom flyout based on Luke Longley's investigation.

[2019-08-29 23:57] jnvbui commented on #2897
@harinikmsft

I added a check to make sure `e` exists before calling `e.dispatchConfig.registrationName === 'onResponderGrant'` in the `if` statement.

However I noticed that our onPress event is still being called twice due to `this.touchableHandlePress()` being called on KeyUp and `this.touchableHandleActivePressIn()` being called on KeyDown, which both call `this.props.onPress(e)`.

I was just

[2019-08-30 00:06] chrisglein commented on #2550
Moving back to M3 as we'll want to use this as a test case for native modules.

[2019-08-30 00:06] chrisglein commented on #2095
Moving back to M3 as we'll want to use this as a test case for view managers.

[2019-08-30 00:09] kmelmon commented on #2795
I see this was marked done... Closing

[2019-08-30 00:09] #2795 closed

[2019-08-30 00:15] kmelmon commented on #2939
Setting IsTabStop = false on the custom ContentControl child of ScrollViewer helps, but doesn't fix all cases.  Handing this over to @stecrain who's going to try things out further.

[2019-08-30 00:35] JunielKatarn commented on #2351
Won't this break Desktop integration tests?

[2019-08-30 10:10] christian-bromann commented on #3019
@licanhua I don't mind adding a workaround for WinAppDriver for WebdriverIO but this workaround should be an opt-in solution so that the default behavior remains the same.

[2019-08-30 15:25] licanhua commented on #3019
Before WinAppDriver fix it, I worked around the problem in #2975 by
[code]
I keep this PR open until I adopted the new WinAppDriver.

[2019-08-30 20:27] #2848 closed

[2019-08-30 20:27] marlenecota opened #3050 "Add readme.md to playground"
Since it is now a standalone package, there should be a readme in packages/playground.

Right now, the instructions on how to build/launch the playground app are buried in the vnext folder. They're under "Building react-native-windows repo" which I guess I didn't find intuitive because I couldn't find them when I went looking.

[2019-08-30 21:48] JunielKatarn opened #3052 "Add C++/WinRT ABI to test DLL"
# Proposal: Add C++/WinRT ABI to test DLL

## Summary
`React.Windows.Desktop.Test.dll` is not ABI-safe.
Adding the C++/WinRT layer should fix this.

## Motivation

As we progress towards achieving ABI safety for `react-native-win32.dll`, the test DLL is a good starting point for experimentation.

[2019-08-31 03:17] kmelmon commented on #2337
I now have a cppwinrt "sample" template working.  It's currently hard-coded to a single project that needs to be manually grafted into a CLI-generated app.  Will work on templatizing it next.

Current code is in this branch in a staging area:  https://github.com/kmelmon/react-native-windows/tree/templatecpp

[2019-09-02 00:55] enm10k commented on #2986
I had the same issue and VS 2017 works fine for me too.

[2019-09-03 13:50] leoek commented on #2815
@harinikmsft Is there any more specific eta for the RN 0.60 upgrade than summer-fall 2019? We are considering to split our codebase and upgrade Android/IOS to RN 0.60 while keeping Windows in a legacy branch. However I would much rather wait for a few weeks, if react-native-windows is close to 0.60 and upgrade all three to RN 0.60.

[2019-09-03 17:43] chrisglein commented on #3016
@SavoySchuler This is awesome. I think we want to graduate this to a markdown file that's checked into the repro so that our API completion status is easy to find and reference. Can you convert this to that?

[2019-09-03 17:46] chrisglein commented on #2940
@StephenLPeters is this one of the animation issues that requires WinUI3 changes, or is it just pending implementation?

[2019-09-03 17:49] chrisglein commented on #2996
@StephenLPeters Our support level is only for 19H1 but we want silent failures as much as possible for lower versions. Let's fix the crash here and have it no op.

[2019-09-03 17:55] chrisglein commented on #2304
Hey @ddalp, this is something that's going to have some ambiguity in diving into. But the feature is pretty important to developers so we need to make sure it's working. I expect you'll have to ping various people to figure out what's going on here :)

[2019-09-03 18:11] chrisglein commented on #3027
@licanhua Is this the scenario of app developers wanting to add tests with their app, or something for us internally?

[2019-09-03 18:15] chrisglein commented on #3036
Since Picker is being moved out of react-native it shouldn't be in react-native-windows. It probably should be in react-native-picker or something like that.

[2019-09-03 18:17] chrisglein commented on #3036
https://github.com/react-native-community/react-native-picker

[2019-09-03 18:22] chrisglein commented on #3052
@JunielKatarn Looks like this test DLL is part of your workstream and not what @licanhua has been building, is that correct? Your comments make it sound like you want to test the waters on the ABI surface here for some other project, not that you need specifics here. Can you clarify the needs/timeline for this proposal?

[2019-09-03 18:51] licanhua commented on #3027
for app developers to verify their app.

[2019-09-03 20:31] JunielKatarn commented on #3052
Hi, @chrisglein.
The timeline is undefined.
For ReactWindows (Desktop), we are experimenting on defining a safe ABI layer for consumption in projects with different compiler toolsets and flags.
Because this test DLL is not production code, it's convenient for such experimentation.

[2019-09-04 11:08] vikmis007 opened #3060 "Camera support using windows native bridging"
I need to use the device camera in a UWP. Is there a way around to create a windows-native-camera module that can be bridged with react-native.

[2019-09-04 13:47] steipete commented on #2815
Looking at https://github.com/microsoft/react-native-windows/issues/2786 it seems they target end of October as 0.60 release.

[2019-09-04 17:13] chrisglein opened #3065 "ScrollView snapToStart"
Split out from #2113
_Use in conjunction with `snapToOffsets`. By default, the beginning of the list counts as a snap offset. Set `snapToStart` to false to disable this behavior and allow the list to scroll freely between its start and the first `snapToOffsets` offset. The default value is true._
Not directly supported by ScrollViewer. Can be implemented in conjunction with adding snap points (Win

[2019-09-04 17:16] chrisglein opened #3066 "ScrollView snapToEnd"
Split out from #2113
_Use in conjuction with `snapToOffsets`. By default, the end of the list counts as a snap offset. Set `snapToEnd` to false to disable this behavior and allow the list to scroll freely between its end and the last `snapToOffsets` offset. The default value is true._
Not directly supported by ScrollViewer. Can be implemented in conjunction with adding snap points (Win 8) to the c

[2019-09-04 17:17] chrisglein opened #3067 "View removeClippedSubviews"
Split out from #2113
_Experimental: When true, offscreen child views (whose overflow value is hidden) are removed from their native backing superview when offscreen. This can improve scrolling performance on long lists. The default value is true._
Not directly supported by ScrollViewer. Seems difficult. Needs deep dive.

[2019-09-04 17:18] chrisglein opened #3068 "ScrollView keyboardDismissMode"
Split out from #2113
https://facebook.github.io/react-native/docs/scrollview#keyboarddismissmode
_Determines whether the keyboard gets dismissed in response to a drag._
Not directly supported by ScrollViewer. Mobile-specific. Could be difficult, needs deep dive.

[2019-09-04 17:19] chrisglein opened #3069 "ScrollView refreshControl"
Split out from #2113
_A RefreshControl component, used to provide pull-to-refresh functionality for the ScrollView. Only works for vertical ScrollViews (`horizontal` prop must be `false`)._
Not directly supported by ScrollViewer. Could maybe use RefreshContainer from MUX (RS4), or drop down to InteractionTracker (RS1) and build one from scratch.

[2019-09-04 17:20] chrisglein opened #3070 "ScrollView stickyHeaderIndices"
Split out from #2113
_An array of child indices determining which children get docked to the top of the screen when scrolling. For example, passing `stickyHeaderIndices={[0]}` will cause the first child to be fixed to the top of the scroll view. This property is not supported in conjunction with `horizontal={true}`._
Not directly supported by ScrollViewer. Seems difficult. Needs deep dive.

[2019-09-04 17:21] chrisglein opened #3071 "ScrollView decelerationRate"
Split out from #2113
https://facebook.github.io/react-native/docs/scrollview#decelerationrate
_A floating-point number that determines how quickly the scroll view decelerates after the user lifts their finger._
Not supported by ScrollViewer.

[2019-09-04 17:22] chrisglein opened #3072 "ScrollView pagingEnabled"
Split out from #2113
_When true, the scroll view stops on multiples of the scroll view's size when scrolling. This can be used for horizontal pagination. The default value is false._
Not directly supported by ScrollViewer. Can be implemented by adding snap points (Win 8) to the child of the ScrollViewer

[2019-09-04 17:25] chrisglein opened #3073 "ScrollView keyboardShouldPersistTaps"
Split out from #2113
https://facebook.github.io/react-native/docs/scrollview#keyboardshouldpersisttaps
_Determines when the keyboard should stay visible after a tap._
Not directly supported by ScrollViewer. Mobile-specific. Could be difficult, needs deep dive.

[2019-09-04 17:39] chrisglein commented on #2113
@kikisaints I've broken all the individual items of pending work here out into a Project board: https://github.com/microsoft/react-native-windows/projects/17
We want to move this type of "index of completion" to exist in the repo as markdown files. Coordinate with @SavoySchuler on how to do that for `ScrollView` as well. I'm assigning this over to you to track that documentation work.

[2019-09-04 17:57] chrisglein commented on #2111
Tracking progress in this is now handled in this project board: https://github.com/microsoft/react-native-windows/projects/18
@kikisaints can you move the API status of this to markdown, similar to #2113?

[2019-09-04 18:37] chrisglein commented on #2796
Expanded list of border* props so we can be specific. Will be breaking out into a few issues soon.
Also [`elevation`](https://facebook.github.io/react-native/docs/0.59/view-style-props#elevation) was missing from the list. Not sure if that was intentional (@harinikmsft ?).

[2019-09-04 18:41] chrisglein opened #3074 "borderRadius"
Split out from #2796
https://facebook.github.io/react-native/docs/0.59/view-style-props#borderradius

Also all the single-component variants:
https://facebook.github.io/react-native/docs/0.59/view-style-props#borderbottomendradius
Tracks single component border radius:
- [ ] borderBottomEndRadius
- [ ] borderBottomLeftRadius
- [ ] borderBottomRightRadius
- [ ] borderBottomStartRadius
- [ ] borderT

[2019-09-04 19:27] stecrain opened #3076 "Timing module doesn't seem to work correctly"
### Environment

1. `react-native -v`: 0.59.0-microsoft.71
2. `npm ls rnpm-plugin-windows`: rnpm-plugin-windows@0.2.11
3. `npm ls react-native-windows`: react-native-windows@0.59.0-vnext.167
4. `node -v`: v10.15.0
5. `npm -v`:6.4.1

Then, specify:

- Target Platform Version(s): 10.0.18362
- Target Device(s): Desktop

- Visual Studio Version: 2019

- Build Configuration: Debug

### Steps to Reprodu

[2019-09-04 19:28] stecrain commented on #3076
Looking into this, I need to add more detail. but wanted to at least file the issue.

[2019-09-04 19:49] harinikmsft commented on #2796
I had left out elevation since it was Android-only which meant it may not be part of lean-core long term.

[2019-09-04 20:33] chrisglein opened #3077 "ViewStyleProps border*Color"
Split out from #2796
https://facebook.github.io/react-native/docs/0.59/view-style-props#borderbottomcolor
- [ ] borderRightColor
- [ ] borderBottomColor
- [ ] borderEndColor
- [ ] borderLeftColor
- [ ] borderStartColor
- [ ] borderTopColor

[2019-09-04 20:36] chrisglein opened #3078 "borderStyle"
https://facebook.github.io/react-native/docs/0.59/view-style-props#borderstyle
_enum('solid', 'dotted', 'dashed')_

[2019-09-04 20:50] chrisglein commented on #2796
I've split out the individual issues and put them on this project board: https://github.com/microsoft/react-native-windows/issues/2796
At which point we don't need this issue. But we will want the information on an API. @harinikmsft can you coordinate that? (sync with Savoy/Kiki) Converting this issue to a documentation issue.

[2019-09-04 21:29] chrisglein opened #3079 "TextInput autoComplete"
Split out from #2136
https://facebook.github.io/react-native/docs/textinput.html#autocompletetype
Maps to TextBox.IsSpellCheckEnabled (Win8)

[2019-09-04 21:30] chrisglein opened #3080 "keyboardType"
Split out from #2136
https://facebook.github.io/react-native/docs/textinput.html#keyboardtype
Maps to TextBox.InputScope (Win8/Win8.1)

[2019-09-04 21:30] chrisglein opened #3081 "secureTextEntry"
Split out from #2136
https://facebook.github.io/react-native/docs/textinput.html#securetextentry
Not directly supported by TextBox. PasswordBox has this functionality. Can we hot-swap between TextBox/PasswordBox?

[2019-09-04 21:30] chrisglein opened #3082 "TextInput returnKeyType"
Split out from #2136
https://facebook.github.io/react-native/docs/textinput.html#returnkeytype
Needs more investigation. Mobile specific feature, is this needed?

[2019-09-04 21:30] chrisglein opened #3083 "onSubmitEditing"
Split out from #2136
https://facebook.github.io/react-native/docs/textinput.html#onsubmitediting
Needs more investigation. Mobile specific feature, is this needed?

[2019-09-04 21:31] chrisglein opened #3084 "TextInput blurOnSubmit"
Split out from #2136
https://facebook.github.io/react-native/docs/textinput.html#bluronsubmit
Not supported in XAML

[2019-09-04 21:31] chrisglein opened #3085 "TextInput autoCapitalize"
Split out from #2136
facebook.github.io/react-native/docs/textinput.html#autocapitalize
Incomplete support in XAML. This guy is an enum:
-characters: Maps to TextBox.CharacterCasing.Upper (RS3)
-words: Not supported
-sentences: Not directly supported. TextBox.IsSpellCheckEnabled (Win8) turns on auto-capitalizing first word in a sentence (which maps to autoCapitalize.sentences) but this also turns

[2019-09-04 21:31] chrisglein opened #3086 "TextInput autoCorrect"
Split out from #2136
https://facebook.github.io/react-native/docs/textinput.html#autocorrect

[2019-09-04 21:31] chrisglein opened #3087 "caretHidden"
Split out from #2136
https://facebook.github.io/react-native/docs/textinput.html#carethidden
Not supported by TextBox. Is supported by RichEditBox.TextDocument.CaretType. We could maybe hack this to work in TextBox by using VisualTreeHelper.

[2019-09-04 21:31] chrisglein opened #3088 "contextMenuHidden"
Split out from #2136
https://facebook.github.io/react-native/docs/textinput.html#contextmenuhidden
Not supported by XAML

[2019-09-04 21:46] chrisglein commented on #2136
@ddalp I've split all the items here into individual issues under this project board: https://github.com/microsoft/react-native-windows/projects/20

@harinikmsft as with the other issues I'm converting this to a doc issue to track API completion (like scrolling, image, etc.)

[2019-09-05 02:45] stecrain commented on #2939
Closing. L3tang confirmed the tab stop change fixes the current issues

[2019-09-05 02:45] #2939 closed

[2019-09-05 19:21] chrisglein opened #3093 "Fix default perspective for 3D transforms"
Split out from #2680

The default perspective for transforms in XAML doesn't match the react-native expectations. Issue #2680 tracks allowing it to be animated. This issue tracks fixing the defaults to align.

[2019-09-05 19:21] chrisglein commented on #2680
Created a new issue to track changing the default perspective: #3093

[2019-09-05 22:29] chrisglein commented on #2897
@jnvbui with your PR is it safe to close this issue?

[2019-09-05 22:34] jnvbui commented on #2897
@chrisglein  Yea my PR should have solved this issue.

[2019-09-05 22:34] #2897 closed

[2019-09-05 23:19] randy-flynn commented on #2762
https://github.com/microsoft/react-native-windows/pull/3040

[2019-09-05 23:19] #2762 closed

[2019-09-05 23:19] randy-flynn commented on #2759
https://github.com/microsoft/react-native-windows/pull/3040

[2019-09-05 23:19] #2759 closed

[2019-09-05 23:20] randy-flynn commented on #2758
https://github.com/microsoft/react-native-windows/pull/3040

[2019-09-05 23:20] randy-flynn commented on #2758
https://github.com/microsoft/react-native-windows/pull/3040

[2019-09-05 23:20] #2758 closed

[2019-09-06 11:09] nelsona opened #3096 "APPX Generation very slow"
### Environment

1. `react-native -v`: v0.59.10
2. `npm ls rnpm-plugin-windows`: 0.2.11
3. `npm ls react-native-windows`: 0.59.0-rc3
4. `node -v`: 10.15.0
5. `npm -v`: 6.4.1

Then, specify:

- Target Platform: UWP

- Target Platform Version(s): 10.0.16299.0

- Target Device(s): Desktop

- Development Operating System: Windows

- Visual Studio Version: 2017 Community

- Build Configuration: Release

[2019-09-06 18:04] #2224 closed

[2019-09-07 17:43] 0xbs0d commented on #2985
I tried this with and without visual studio. On both occasions it fails with
× Build failed with message Error: Must have a minimum Windows SDK version 10.0.10586.0 installed. Check your build configuration.

I tried reinstalling the SDK and build tools to no avail. I tried to re-create an empty project but it didn't help. Using VS 2019.

[2019-09-07 20:14] ddalp commented on #3081
Completed by PR #3075

[2019-09-07 20:14] #3081 closed

[2019-09-07 20:18] ddalp opened #3101 "TextInput multiline should accept Enter key"
It looks like we only support wrapping for multiline text input, pressing enter key does nothing, behavior is different from  Android and IOS which pressing enter key starts a new line.

[2019-09-09 16:00] kc97ble commented on #2986
I had the same issue. Here is my temporary workaround:

1. Generate a new PFX file [using MMC](https://knowledge.digicert.com/solution/SO26065.html).

2. In `windows/<ProjectName>`, replace `<ProjectName>_TemporaryKey.pfx` by the new one.

3. Update `<ProjectName>.csproj` as follows:

[code]

To get `(((ThumbprintOfTheCertificate)))`, go to MMC, navigate to the certificate, and right-click, choose

[2019-09-09 16:32] ddalp commented on #3079
Need some clarifications on this property, I don't think it should map to IsSpellCheckEnabled as that will turn on Spelling checking, not auto completion. There is a new feature for VB windows release done by Text Intelligence team where the Auto Completion is turned on for Multiline textBox automatically, but there is no XAML property exposed at this moment yet. We probably should leave this issu

[2019-09-09 17:27] SaulNunez opened #3102 "'Question: [Create a WPF project(Without dying in the attempt)]'"
Here's what I've got:
I made a React Native project with `react-native init myproject --version react-native@0.59.0` and install `npm install --save-dev rnpm-plugin-windows` to help with creating our project.
I need a WPF project so I run `npm i react-native-windows` which in package.json defaults to
[code]
which should be OK because **current** supports WPF.  I run `react-native wpf` and it total

[2019-09-09 17:34] SavoySchuler commented on #3016
Directing to offline tracking conversation. Thanks, @chrisglein!

[2019-09-09 18:08] chrisglein commented on #3060
Not yet. This work is tracked with this work item: #2550. We're planning on tackling that in the next 2-3 months as part of validating our native module story.

[2019-09-09 18:08] #3060 closed

[2019-09-09 18:09] chrisglein commented on #3076
Thanks, @stecrain. Fill in info when you have it. What do you mean by "doesn't seem to work correctly"?

[2019-09-09 21:47] shmax opened #3106 "Question: how to force a layout update/collect extra updates from shadow node?"
Let's say you have a shadow node react prop like this:

[code]

This will trigger a call to `OnCollectExtraUpdates`, and you can shuttle properties between your shadow node and your native node. No problem.

But what about a situation like this?

[code]

In this case, by the time the loading callback fires, the layout update has already finished, and calling `MarkUpdated` or `Dirty` has no effect.

[2019-09-09 23:08] #2901 closed

[2019-09-10 16:29] licanhua opened #3109 "Getting crash dumps from Helix test passes"
WinUI implemented it in PR [microsoft-ui-xaml 1276](https://github.com/microsoft/microsoft-ui-xaml/pull/1276). and it's a nice to have feature for us in the future.

[2019-09-10 18:13] chrisglein opened #3110 "AccessibilityInfo isReduceMotionEnabled"
https://facebook.github.io/react-native/docs/accessibilityinfo#isreducemotionenabled

Investigate

[2019-09-10 18:29] SavoySchuler opened #3111 "Extract mapping of RN Accessibility to UIA from DynamicAutomationPeer"
# Proposal: Extract mapping of RN Accessibility to UIA from DynamicAutomationPeer

## Summary

Right now, DAP is the only control that reads out the RN accessibility properties we set and translates them into UIA properties. Views are the only things that use it. We would have to subclass all of our native controls to use DAP which is bad for perf.

Need to develop new story for custom automation

[2019-09-10 21:21] savatia commented on #2876
Done here: #3099

[2019-09-10 23:42] SavoySchuler opened #3115 "AccessibilityInfo isScreenReaderEnabled"
https://facebook.github.io/react-native/docs/accessibilityinfo.html#isscreenreaderenabled
Not supported in current

[2019-09-10 23:43] SavoySchuler opened #3116 "AccessibilityInfo setAccessibilityFocus"
https://facebook.github.io/react-native/docs/0.59/accessibilityinfo#setaccessibilityfocus
Not supported in current

[2019-09-10 23:44] SavoySchuler opened #3117 "AccessibilityInfo announceForAccessibility"
https://facebook.github.io/react-native/docs/0.59/accessibilityinfo#announceforaccessibility
Not supported in current

[2019-09-10 23:45] SavoySchuler opened #3118 "View accessibilityViewIsModal"
https://facebook.github.io/react-native/docs/accessibility.html#accessibilityviewismodal-ios
Investigating

[2019-09-10 23:46] SavoySchuler opened #3119 "View onAccessibilityEscape"
https://facebook.github.io/react-native/docs/accessibility.html#onaccessibilityescape-ios
Investigating

[2019-09-10 23:47] SavoySchuler opened #3120 "View onAccessibilityTap"
https://facebook.github.io/react-native/docs/accessibility.html#onaccessibilitytap-ios
Partial
Via ViewViewManager, not shared with other components

[2019-09-10 23:47] SavoySchuler opened #3121 "View onMagicTap"
https://facebook.github.io/react-native/docs/accessibility.html#onmagictap-ios
Investigating

[2019-09-10 23:48] SavoySchuler opened #3122 "View accessibilityActions"
https://facebook.github.io/react-native/docs/accessibility.html#onmagictap-ios
Investigating

[2019-09-10 23:48] SavoySchuler opened #3123 "View onAccessibilityAction"
https://facebook.github.io/react-native/docs/accessibility.html#accessibility-actions
Investigating

[2019-09-11 15:01] sashaxxd commented on #3096
I have the same thing - I don’t understand what to do ...
debug works fine, release freezes for several hours

did not find a solution?

[2019-09-11 23:45] #2538 closed

[2019-09-12 18:04] licanhua opened #3136 "`yarn run e2e` is not stable for the first time"
two problems:
1. Because react-native run-windows doesn't have error exit code, the commands are still executing one by one and ignored the failures
2. metro bundle or chrome would be ready after the test is launched, so some of the tests may fail.

[2019-09-12 18:09] licanhua opened #3137 "Merge e2e-test to windows-vs-pr.yml and delete E2E pipeline"
Better resource usage and avoid hit resource limits

[2019-09-13 01:52] chinwobble opened #3141 "'Question: Are there any complete example apps'"
I've checked all the docs in this repo and not able to find a complete example.

Is there a complete example of a UWP app with native looking styling, keyboard shortcuts, navigations with native controls, etc.

Thanks

[2019-09-13 15:54] ddalp commented on #3101
Fixed.

[2019-09-13 16:21] #3021 closed

[2019-09-13 18:26] licanhua commented on #3141
Playground includes examples you need. please follow [BuildingRNW.md](https://github.com/microsoft/react-native-windows/blob/master/vnext/docs/BuildingRNW.md) to build and launch Playground, then select RNTester like below.
![image](https://user-images.githubusercontent.com/6290692/64885281-8d518580-d618-11e9-997d-488274bd0596.png)

the source code of RNTester example is in react-native-windows\vn

[2019-09-13 20:21] licanhua commented on #3096
I reproduced the problem with VS2019, from what I see, problem is in RunILTransforms.
At that time, ilc is busy with GC. I already collected some logs and would ask help from VS team.
Will let you know if there is update.

[2019-09-13 20:57] licanhua opened #3146 "'Set up test servers' stability issue on the pipeline"
It's high probability that 'Set up test servers' is failing and I need to re-run it again and again for the PR. We need to fix it

Errors:
[code]