[2021-09-24 17:20] luisnaranjo733 commented on #8698
Turns out switching react-native-debugger to Edge works around this issue.
I believe this has been fixed already in RNW 65
https://github.com/microsoft/react-native-windows/pull/8344

Closing this issue

[2021-09-24 17:20] #8698 closed

[2021-09-25 00:02] #8577 closed

[2021-09-25 01:10] chrisglein opened #8701 "Add a support.md to the repo"
As a Microsoft organization repo, customers can sometimes come to us with the same expectations of CSS (Customer Service & Support) that many Microsoft products have. It's better to be upfront and open with customers about support and servicing expectations. There's a handy template for communicating this:
https://github.com/microsoft/repo-templates/blob/main/projections/mit/SUPPORT.md

We should

[2021-09-27 03:00] #8549 closed

[2021-09-27 18:12] chrisglein commented on #8699
The design of ReactApplication was to be the simple case. Some of this could be integrated in (e.g. protocol activation), but some might be blowing beyond that initial design. Is there clear guidance around the role of ReactApplication and how you jump off of it if it is not meeting those needs? Or if too many people don't have their needs met by ReactApplication in case maybe it's not the right d

[2021-09-27 18:53] chiaramooney commented on #8681
@Brouilles Instead of editing App.xaml try editing App.cpp. Here is a code excerpt for altering the theme of the titleBar. Note you'll also want to add code to adjust the RequestedTheme of the titleBar buttons as well:
[code]

[2021-09-27 20:39] dannyvv commented on #6446
This is related and subtask of:  #8088

[2021-09-27 20:39] dannyvv commented on #5332
Haven't seen this happen in a while, so closing.

[2021-09-27 20:39] #5332 closed

[2021-09-28 07:04] Brouilles commented on #8681
Thanks @chiaramooney It is working!
Here the code in C# (if anybody need it in the future).

[code]

[2021-09-28 07:04] #8681 closed

[2021-09-28 12:11] BartoszKlonowski commented on #8308
@chrisglein Why is it *enhancement* instead of *bug*?
Having the:
[code]
seems to be an option that is already available and should work.

Were you able to take a moment to investigate if there's anything incorrect I'm doing or what is working not right?

[2021-09-28 14:51] BartoszKlonowski opened #8718 "Error: Cannot find module 'react-native-windows-init\bin.js' when creating new RNW project"
### Problem Description

When creating a very new project I get the following error:
[code]

I've tried to install the @react-native-community/cli locally for this project, but it didn't resolve this error.

I've also tested it with specifying the version of react-native template with `@^0.65.0` just like in the official RNW docs, but the result is the same.

---

My package.json after creating th

[2021-09-28 15:56] acoates-ms commented on #8308
I agree with Bartosz, we should look into this.  If this is happening in the general case, then that does seem like a pretty bad compatibility issue.

@BartoszKlonowski , do you have a sample repo that has this?  Does it happen in release or web debugging or both?

[2021-09-28 16:51] acoates-ms opened #8722 "Create a mirrorTask to replace cleanTask+copyTask"
Does copyTask support `robocopy /mir`? Style copy or should this folder be added to the 'clean' target as well?
Otherwise removed stale files will never be cleared picked up without a `git clean -xdf`

_Originally posted by @dannyvv in https://github.com/microsoft/react-native-windows/pull/8628#discussion_r710331765_

[2021-09-28 17:03] jonthysell commented on #8306
This seems to have been fixed by switching to the WinUI CommandBarFlyout and the "new" crash was fixed in 2.7 prerelease.

Do we want to switch to WinUI for the flyout as per this change: https://github.com/lyahdav/react-native-windows/commit/a36d84c6ddc1e26519525022a0389f427bf65263

[2021-09-28 17:25] jonthysell opened #8724 "Upgrade WinUI 2.6 to WinUI 2.7"
### Summary

The latest version of WinUI 2.x is 2.7, and we're still on 2.6.

### Motivation

There's at least one crash fixed in 2.7 that we want: https://github.com/microsoft/microsoft-ui-xaml/issues/5680

### Basic Example

_No response_

### Open Questions

_No response_

[2021-09-28 17:35] jonthysell commented on #8306
Seeing as we just upgraded to WinUI 2.6 for RNW 0.66, which is already in preview and almost ready, I think it's a little late to jump again to 2.7 without more testing. @chrisglein can you move this to 0.67 if you agree?

[2021-09-28 17:36] lyahdav commented on #8306
@jonthysell I think we should switch to the WinUI 2 CommandBarFlyout for Text and TextInput context menu to fix this bug. I was eventually going to PR this, but it might not be for a while, in case someone else can get to it sooner.

[2021-09-28 17:39] jonthysell commented on #8306
Do you mean like this? I started this PR here based on what you did: https://github.com/microsoft/react-native-windows/pull/8723

I'm also working on a PR to upgrade us from MUX 2.6 to 2.7, but that might not make RNW 0.66.

[2021-09-28 17:43] lyahdav commented on #8306
@jonthysell yes, and as you said in that PR, you should wait until the MUX 2.7 upgrade before landing it.

[2021-09-28 17:54] asklar commented on #8718
I suspect this is an issue due to npm 7
Also related: #8654

[2021-09-28 18:00] NickGerleman commented on #8718
`Error: Cannot find module 'C:\Users\Bartosz\AppData\Local\Yarn\Data\link\react-native-windows-init\bin.js'`

It looks like you've previously linked a locally built version of `react-native-windows-init`. Can you unlink it, or add `--ignore-existing` to pull in a freshly published copy?

[2021-09-28 18:06] BartoszKlonowski commented on #8718
@NickGerleman I thought the same, but there's nothing to unlink when I try to unlink it. Moreover, I've removed the directory of `react-native-windows-init` so I can't unlink it in it's original place.
I thought that removing the cache dir of yarn would solve that but no...

`--ignore-existing`  <-  I thought the same, but I got the notification of this option being depracated (see microsoft/react

[2021-09-28 18:09] NickGerleman commented on #8718
Smh, I didn't know npm 7 removed that functionality...

Could you remove the following directory? `'C:\Users\Bartosz\AppData\Local\Yarn\Data\link\react-native-windows-init\`

[2021-09-28 18:30] BartoszKlonowski commented on #8718
That's the thing - It's not there:
[code]
I'm aware that this something unusual, so thank you for taking a look @NickGerleman 👍

---

@asklar Can you elaborate on why these can be related?

[2021-09-28 18:35] NickGerleman commented on #8718
I think global npm bin scripts has a stale reference to your yarn link directory. You could do a goose chase to figure out where npm is grabbing it from, or you could consider just linking a new copy, then unlinking it cleanly.

[2021-09-28 19:04] BartoszKlonowski commented on #8718
I've tried with the easiest option first - linking & unlinking new copy, but the error did not go away (I've cleared the cache and even reboot after, just for sure).

I guess I'm only left with digging deeper into npm...

[2021-09-28 19:38] dannyvv opened #8729 "Consolidate logging locations of the rnw PR/CI pipelines"
Our PR validation and CI validation has enabled a bunch of logging, some msbuild logs, some javascript logs, some machine state information, and now a PR is out that adds ETW logging.

Each logging step declares it's own artifacts and upload locations for logging.
It would be really nice if each pipeline, but it msbuild, integration test etc sets up a logging folder on the machine, We update all t

[2021-09-28 21:33] chrisglein commented on #8306
Agreed. It seems too late to switch from 2.6 to 2.7. Let's target that jump for 0.67 so we can ensure it's stable. In the meantime any individual app can bump to 2.7 on their own.

[2021-09-28 23:15] asklar opened #8733 "Expose RNW version info to apps/modules"
Often it will be necessary for a module to do different things depending on the version of RNW it is using (e.g. include one header or the other). Currently RNW builds with a #define RNW_PKG_VERSION_MINOR but that only works in CI as far as I can tell

We should expose compile time RNW version information to modules and apps

[2021-09-29 05:08] asklar opened #8740 "Create and validate new VS2022-based ADO agents/images/pools"
Now there is a Windows Server 2022 agent image, with VS2022 installed. We should start migrating / ensuring that RNW can be built in 2022

Task list:
- [x] Try creating a new image for the test pool
- [x] Try running PRs against it, fix issues (tracked by #8750)

[2021-09-29 15:56] BartoszKlonowski commented on #8718
So I took a closer look at the Yarn directory and I found out that in
*C:\Users\Bartosz\AppData\Local\Yarn\bin* there is a *react-native-windows-init* script:
[code]
After removing those, the `react-native-windows-init` runs just fine.
I don't really know or remember where did those come from, but at least the problem is resolved.

Thank you for all insights!

[2021-09-29 16:03] asklar commented on #8685
@chiaramooney @chrisglein  This is hitting most/all of our PRs and causing delays/manual reruns. It didn't use to happen, so something changed recently... Can we prioritize this?

[2021-09-29 19:05] #8499 closed

[2021-09-29 21:02] asklar opened #8750 "Upgrade to vc143"
Related to #8740
We should evaluate upgrading to the 143 vclibs since that's what is included by default in vs2022

[2021-09-29 23:46] NickGerleman opened #8753 "Update react-native-platform-override for new nightly version pattern"
RN nightlies now encode more than just the commit hash into the prerelease segment. E.g. 0.0.0-2d2de744b-20210929-2246.

We need to update integration tooling to properly extract just the commit hash from this.

[2021-09-30 04:07] asklar opened #8755 "Autolinking doesn't work well with yarn link"
1. add a module to an app, autolink it. sln and project files get pointed at the copy under node_modules
2. clone the module repo, yarn link it, link it into the app.

expected: autolink is not needed
actual: autolink is needed because it thinks myapp\node_modules\mymodule is different than C:\mymodule_clone\...
in other words, autolinking is using the real ("target") filesystem path, which breaks

[2021-09-30 04:21] asklar opened #8756 "Apps created in 0.65 do not build-deploy in VS"
1. npx react-native init rn65
2. cd rn65
3. npx react-native-windows-init --overwrite
4. open windows\rn65.sln
5. F5

expected: app builds then deploys
actual: app fails to build:

![image](https://user-images.githubusercontent.com/22989529/135386700-d47bb80d-e472-486d-b5f8-4e39545fa7d6.png)

[2021-09-30 11:58] tero-paananen commented on #7797
I tested that event argument is **still array** on react-native-windows **0.65.2**

I will test later again when i have moved into 0.66...

[2021-09-30 16:53] jonthysell opened #8758 "Add target to compare evaluation of property values post-build with values used by the CLI"
### Summary

Add a new target at the end of an app build which exports the values of some select MSBuild properties. Compare those values against values used by the CLI and throw warnings if they don't match.

### Motivation

We do various things in the CLI based on the values of MSBuild properties, and how we calculate those values might not match what values were actually used at build time. Add

[2021-09-30 18:11] chrisglein commented on #8729
I assume this means consolidating them to one of the existing options. Which seem like they can be replaced and by which?

[2021-09-30 18:14] chrisglein commented on #8733
Possible we already have logged an issue on this. Haven't found the dupe, so let's keep this one until then.

Need to decide what mechanism we use to expose this. Are there props, are there defines, are there different scenarios that need it in different ways?

The earlier we get this in the more useful it will be for dealing with compat issues.

[2021-09-30 18:20] chrisglein commented on #8740
We use custom images these days, so we'd need to update the custom images to be derived from these.

We want to get in front of this so we catch any compat issues before it all rolls out (currently they're on preview 4). Opinions on the right time to move to this @dannyvv?

Goal here is less to use the standard images than to catch breaks from 2022.

[2021-09-30 18:24] chrisglein commented on #8750
Previously when adopting 142 we had to support a switch while we were getting customers like Office migrated. Likely we'd need something like this so we can take on 143 earlier. Don't know how painful this will be to customers - need to do some legwork to figure out the right timing for this. Let's take on that as the next step.

[2021-09-30 18:30] chrisglein commented on #8753
Nick believes the fix here will likely just be to a regex. We will be broken on integration tooling until this is fixed, but should be an easy fix.

[2021-09-30 18:33] chrisglein commented on #8755
Paths are the targets of symlinks, not the symlinks itself. Logic there needs to be tidied up.
@jonthysell if you have ideas on how this should work, copy them in here.

[2021-09-30 18:39] chrisglein commented on #8756
Error from the image:
```Certificate could not be opened: rn65_TemporaryKey.pfx```

There have been changes to the certificates, but those weren't intended to be in 0.65. But changes to `init` would apply to older versions. (@chiaramooney FYI to validate that this didn't hit older versions).

Questions:
- Do you need a certificate for a Debug build?
- We're supposed to have validation for this sce

[2021-09-30 18:43] chrisglein commented on #8756
@asklar to validate the repro environment
@chiaramooney  to check on a couple of the questions above

[2021-09-30 20:41] chiaramooney commented on #8756
Looks like last publish for react-native-windows-init was 23 days ago. Change to remove certs was merged 8 days ago, so this bug is separate from template change. This does highlight though that once the template alteration has been published we will need to backport a portion of the changes in #8672 so the v0.XX templates are compatible with react-native-window-init.

To my knowledge, a certifica

[2021-10-01 19:34] asklar opened #8760 "Project templates should mention what version they used to be created with"
It would be useful when going into an unfamiliar module/app, to be able to look at the project file and see what version of the CLI template was used to create it

[2021-10-03 06:28] #8496 closed

[2021-10-04 16:24] chrisglein commented on #8760
@asklar @jonthysell Ideas about how in the project file that would be represented? Is there a clear place to put this kind of informational metadata?

[2021-10-04 17:28] jonthysell opened #8773 "CLI `run-windows` should default to deploy from layout unless a cert is present / appx signing is enabled"
### Summary

Right now we deploy from layout for debug but not release.

### Motivation

After removing the certs in #8672, using `--release` doesn't work without also adding `--deploy-from-layout`. It makes more sense to always deploy from layout (as VS does) and then only do a "real deploy" when there is a cert present (as VS does).

### Basic Example

| Command | Cert configured? | Deploy from

[2021-10-04 18:21] #8322 closed

[2021-10-04 18:26] chrisglein commented on #8003
@dannyvv @vmoroz @asklar This has been sitting for awhile. Which tests are failing (the original issue report doesn't include that)? Are they still failing? Are they disabled?

[2021-10-04 18:33] chrisglein commented on #7797
@vmoroz @asklar Did the PR for this make the 0.66 branch? Can we resolve this?

[2021-10-04 18:37] chrisglein commented on #7411
@vmoroz @asklar This issue is from a couple releases ago in March. The immediacy of fixing within 0.64 seems clearly passed. Moving to backlog.

[2021-10-04 18:38] asklar commented on #8760
at the very least, a comment in the project file. We could also include what command line options were used:

[code]

[2021-10-04 19:40] rectified95 commented on #7954
@rbrishabh Would you still be interested in taking this one over if the current assignee cannot complete the task?

[2021-10-04 21:38] lyahdav commented on #6714
@chiaramooney believe we're waiting on PR https://github.com/microsoft/react-native-windows/pull/8300 to get merged

[2021-10-05 00:39] #8773 closed

[2021-10-05 14:40] NickGerleman commented on #8733
Linked solution is large. Does not make sense to backport if we have workarounds for 0.66 timeframe.

[2021-10-05 17:23] #8756 closed

[2021-10-05 17:42] #8753 closed

[2021-10-05 20:36] vmoroz commented on #7797
@tero-paananen, it seems that I did not implement the change for C#. I will do it next week.

[2021-10-06 10:51] NickGerleman commented on #8760
It might be worthwhile to also leave it in an MSBuild or config prop somewhere. Making it machine readable could let it be included in telemetry, for example.

[2021-10-06 19:37] kim-allison opened #8781 "Disabled TouchableOpacity buttons are not narrator-focusable"
### Problem Description

Disabled buttons are focusable using UWP navigation controls but are not focusable using the narrator. Users should still be able to access disabled buttons with the narrator (ex. the narrator should read the button as 'disabled [button label] button').

### Steps To Reproduce

1. Create a button with 'disabled' set to true.
2. Run the narrator over the button to check if

[2021-10-06 20:23] NickGerleman commented on #8781
I don't think `BasicButton` is a built-in component. Is this imported from a library that you are using?

[2021-10-07 21:37] ibrar-hussain-420 opened #8786 "Interacting with file system"
### Summary

File System API that could could interacting with local storage to read or write directories and files

### Motivation

I know there is react-native-fs and other libraries available already but I happened to face issues with them i was using them to interact with windows and i don't know if they work fine on android or ios and i know that these days cloud storage is used but we always

[2021-10-08 13:21] #6714 closed

[2021-10-08 15:32] NickGerleman opened #8799 "Move CLI to `logger` from `@react-native-community/cli-tools`"
This is the built-in CLI logger, which hooks into built-in verbosity settings. We should use it so that `--verbose works`, and to stop passing `verbose` as a param through many chains of commands.

[2021-10-08 15:38] NickGerleman commented on #8799
Logger interface: https://github.com/react-native-community/cli/blob/master/packages/tools/src/logger.ts

[2021-10-08 16:26] #7812 closed

[2021-10-08 16:29] NickGerleman opened #8800 "`react-native-windows-init` after `react-native init --npm` can leak npm warnings to output"
![image](https://user-images.githubusercontent.com/835219/136591538-17b38d5f-8a02-400b-a461-1a76c644b714.png)

[2021-10-08 19:00] NickGerleman opened #8801 "Do not hardcode attachedproperties to dump for UI tests"
We currently hardcode ViewPanel attached properties to dump, in https://github.com/microsoft/react-native-windows/blob/9f1ffe7242e353e3e3356bb7ca40ea6cb2ec2327/packages/e2e-test-app/windows/RNTesterApp/MainPage.xaml.cs

This prevents us from querying some interesting bits, like automation properties. We should allow customizing this.

[2021-10-09 13:15] enverbisevac opened #8803 "Support react-native-tcp-socket"
### Module

react-native-tcp-socket

### Module repo url

https://github.com/Rapsssito/react-native-tcp-socket

### Target Version

_No response_

### Existing issue url

https://github.com/Rapsssito/react-native-tcp-socket/issues/123

### Existing windows implementation?

- [ ] Legacy/C# implementation

### Which app/customer is requesting this module?

_No response_

### In what scenarios will t

[2021-10-10 18:43] asklar opened #8805 "getHealthChecks makes autolinking checks slower"
Without getHealthChecks() in react-native.config.js:

`Measure-Command { npx react-native autolink-windows --check --sln "windows\examplenuget.sln" --proj "windows\examplenuget\examplenuget.vcxproj" }`

With:

[2021-10-11 17:26] NickGerleman opened #8810 "Automatically Loosen RN Peer Dependency When Promoting From Preview to Latest"
We want to allow using RNW with patch updates to RN. This means having a peerDependency that allows multiple versions of RN, e.g. `^0.66.0`. Our scripts leave us with too strict a dependency when we release, unless manually updated. Once we integrate a non-prelease version of RN into a branch (once there can be no more breaking changes), we should loosen the constraint.

[2021-10-11 18:27] vmoroz commented on #8699
@asklar, we must stay away from the ReactApplication per view. There must be only one ReactApplication per application as in any other XAML application. I would like to understand the root issue here before we start changing the existing design.

[2021-10-11 20:33] NickGerleman commented on #7808
The test was disabled to unblock other automation. Likely still active.

[2021-10-11 23:01] chiaramooney opened #8812 "WACK Test failing for 0.66 Apps"
### Problem Description

WACK tests are failing for RNW apps running on 0.66 with the following error:

![image](https://user-images.githubusercontent.com/34109996/136865124-e224f49a-ddf6-44d5-adc0-5aad5af236ab.png)

### Steps To Reproduce

Create an RNW app with version 0.66.
Create an app package for the app.
Run WACK assessment.

### Expected Results

Expect WACK assessment to pass.

### CLI ve

[2021-10-12 04:50] asklar opened #8814 "yarn format doesn't work anymore"
![image](https://user-images.githubusercontent.com/22989529/136893340-4ea58ab3-aed5-4010-922d-9cbf9f60614a.png)

[2021-10-12 04:53] asklar commented on #8814
looks like this requires a `yarn build` now which I don't remember needing before... did something change in how we call clang format?

[2021-10-12 08:04] roxk opened #8816 "Run run-windows --no-launch would launch packager"
### Problem Description

`react-native run-windows` supports the option `--no-launch` as shown in [the doc](https://github.com/microsoft/react-native-windows/blob/main/packages/@react-native-windows/cli/README.md#usage), but when actually running `react-native run-windows --no-launch`, I found that while the app is indeed not launched, the packager is still launched.

My use case was to use it in

[2021-10-12 10:24] DavoBR opened #8817 "error MSB4018: The "VCMessage" task failed unexpectedly"
### Problem Description

i am getting this error in the build process

![image](https://user-images.githubusercontent.com/498724/136936952-995005d8-aaca-48cd-b53b-849cc7fc667c.png)

### Steps To Reproduce

I follow this guide: https://docs.microsoft.com/en-us/windows/dev-environment/javascript/react-native-for-windows

1. npx react-native init windows_app_react --template react-native@^0.63.2
2. c

[2021-10-12 10:39] asklar commented on #8509
* Updated to WinUI 2.6 (was that new for 66 or if it was in 65?)
* new "Loading" UI, now using WinUI 2.6's ProgressRing control

[2021-10-12 10:45] asklar commented on #8817
sounds like you might not have all the tools installed - can you run the rnw-dependencies.ps1 script described in https://aka.ms/rnw-deps ?
if everything looks ok there, please launch the vs installer and make sure you have the UWP vc142 tools installed. See  https://github.com/microsoft/react-native-windows/issues/6892#issuecomment-771511567

[2021-10-12 10:51] NickGerleman commented on #8509
WinUI 2.6 made it into 0.65. https://github.com/microsoft/react-native-windows/releases/tag/react-native-windows_v0.65.0

[2021-10-12 15:42] rozele opened #8821 "Fast text is not cleared when removed"
### Problem Description

RNW has an optimization that uses the `TextBlock::Text` property to enable a rendering optimization when the RN `<Text>` component contains a single child run. If you clear the single run from the React `<Text>` component, we do not clear the `TextBlock::TextProperty`.

### Steps To Reproduce

1. Add the following example to `FastTextExample.windows.tsx`:
[code]

### Expec

[2021-10-12 19:41] NickGerleman opened #8824 "Add HermesNoLink Option to NuGet Package"
We do not want to directly use `hermes.lib`, but the NuGet package will force us to link against it. We should add an MSBuild prop `HermesNoLink` to the NuGet targets to allow us to customize this behavior, similar to the existing `HermesNoDLLCopy`.

[2021-10-12 23:15] asklar commented on #8817
yes, 0.63 requires you to install the 18362 SDK. It was installed by default with VS when 0.63 shipped, but VS now only installs the newer 19041 SDK.
In any case you should use a newer version of RNW, we already have 0.66 out, so 0.63 is out of support now.

[2021-10-12 23:15] #8817 closed

[2021-10-13 15:03] #8821 closed, assigned to nobody

[2021-10-13 20:21] chrisglein commented on #8345
The script checks for 12 through 14, but as a result will flag 16 or newer:
https://github.com/microsoft/react-native-windows/blob/24f192f535dba18b0113d64f3939a60180cae237/vnext/Scripts/rnw-dependencies.ps1#L126

[code]
@asklar is that right? Should this be looking for 12+ or should it be checking for known good options?

[2021-10-14 16:43] rozele opened #8832 "Proofing menu not removed on XAML Islands"
### Problem Description

After toggling the `spellCheck` prop, if the TextBox context menu is rendered with a Proofing menu, the Proofing menu is not removed from the context menu.

### Steps To Reproduce

1. In XAML Islands app, open a TextInput with togglable spellCheck prop
2. Ensure spellCheck is toggled on
3. Type something that enables a Proofing menu item
4. Right click the word to see the

[2021-10-14 18:11] asklar commented on #8810
Would be nice to get in 67, feel free to move to backlog if needed

[2021-10-14 18:13] #8816 closed

[2021-10-14 18:34] #8832 closed, assigned to rozele

[2021-10-14 21:06] dannyvv opened #8836 "[0.66] react-native-fs does not properly link even though it seems to have windows"
### Problem Description

I'm trying to add react-native-fs to my app and it fails with:
[code]

### Steps To Reproduce

1. Follow instructions to create new rnw app
2. `yarn add react-native-fs`
3. `yarn windows`

### Expected Results

my app to build and use the fs library

### CLI version

6.1.0

### Environment

[code]

### Target Platform Version

_No response_

### Target Device(s)

_No respo

[2021-10-14 23:52] br4in3x opened #8837 "openURL and canOpenURL crash the app if the argument is not a valid link"
### Problem Description

openURL and canOpenURL crash the app if the argument is not a valid link.

### Steps To Reproduce

1. Create a new RNW app,
2. Import `Linking` from `react-native`,
3. Try calling `openURL('test')` or `canOpenURL('test')`
4. Observe the app crash

### Expected Results

The app is not crashing, and canOpenURL returns `false`

### CLI version

6.1.0

### Environment

[code]

[2021-10-15 03:34] #7981 closed

[2021-10-15 20:47] #8812 closed, assigned to NickGerleman

[2021-10-16 16:01] #8837 closed

[2021-10-18 05:57] tero-paananen opened #8846 "Windows Store submission error 1201"
### Problem Description

I got **1201 error code from Windows Store submission** and app is not accepted to store.

I got error with this setup:

[code]

Previous app version was accepted into store:

[code]

### Steps To Reproduce

1. Use rn-windows 0.65.4 and try submit app into store

### Expected Results

_No response_

### CLI version

2.0.1

### Environment

[code]

### Target Platform Versi

[2021-10-18 07:36] tero-paananen commented on #8846
Our app is UWP + Win32 console exe

[2021-10-18 09:51] tero-paananen commented on #8581
Saga continues. I am not able to upload my app into Windows Store https://github.com/microsoft/react-native-windows/issues/8846

[2021-10-18 10:19] NickGerleman commented on #8846
Could you create a separate issue for this, with a copy of your full log output? I think we need some more context on what was happening before the build error you encountered.

[2021-10-18 10:26] NickGerleman commented on #8799
I looked closer at the current boundary and packaging, and I'm not sure this makes sense yet relative to the amount of work to get it right.

[2021-10-18 10:26] #8799 closed

[2021-10-18 16:10] tero-paananen commented on #8846
Almost all test fails into "The test was blocked from execution. Please try re-running the validation. If the test execution remains blocked then please contact support." also with latest VS. Now i used asked `appcert.exe` tool for testing.

I tried again send new package build with VS 16.11.5 into Store but result is same - `error 2101`

[2021-10-18 16:20] tero-paananen commented on #8846
I sent support inquiry email into dotnetnative@microsoft.com

[2021-10-18 18:18] dannyvv commented on #8836
That would be nice....

[2021-10-18 19:51] tero-paananen commented on #8846
I have to investigate these quite same 1201 errors:

https://github.com/veler/DevToys/issues/10
https://github.com/microsoft/microsoft-ui-xaml/issues/5768#issuecomment-934659178

[2021-10-18 22:51] jonthysell opened #8849 "Tests failing for x86 release with Hermes"
### Problem Description

The latest main CI run passes all flavors except x86 hermes, where the tests timeout because they can't find the app.

### Steps To Reproduce

See CI integration test logs: https://dev.azure.com/ms/react-native-windows/_build/results?buildId=231768&view=logs&j=beb7dd8e-709a-58c9-01a4-da51a4b09277&t=dc2979bd-4d46-5ce8-318a-903e04150f70&l=964

See CI e2e test logs: https://d

[2021-10-19 03:35] NickGerleman commented on #8849
Honestly it's probably worth just packing the binary at this point.

[2021-10-19 03:40] NickGerleman opened #8851 "Run more checks Against stable branch PRs"
We run some tests in PR, but more in nightly runs per branch. This can allow regressions to slip in. This is not too severe in main branch, but we can probably run more in stable builds where regressions are worse.

[2021-10-19 14:59] rozele opened #8853 "Images with data URI do not respect resizeMode prop"
### Problem Description

The current image implementation relies on the `ImageBrush::ImageLoaded` event to set the `ImageBrush::Stretch` property, based off the `resizeMode` prop. This event does not fire reliably for images loaded from `data:` URIs.

### Steps To Reproduce

1. Add a `data:` URI image to the RNTester -> Image -> Resize Mode example
2. Observe that the `resizeMode` options are not

[2021-10-19 15:15] rozele opened #8855 "SVG images do not render in XAML Islands"
### Problem Description

SVG images do not render in XAML Islands

### Steps To Reproduce

1. Run playground-win32.sln
2. Open "samples/image"
3. Switch to SVG image source

### Expected Results

SVG image should render, but does not.

### CLI version

npx react-native --version

### Environment

[code]

### Target Platform Version

_No response_

### Target Device(s)

_No response_

### Visual St

[2021-10-19 16:49] rozele opened #8856 "Setting `resizeMode="center"` for images larger than the size of the container do render correctly"
### Problem Description

When the image is larger than the size of the container, setting `resizeMode="center"` should use `UniformToFill` behavior, rather than `Uniform` behavior. Also, the current behavior relies on prop values set to the image source for width and height, but we should really be using the pixel sizes.

Here is

### Steps To Reproduce

Open RNTester image examples and compare iO

[2021-10-19 22:22] DrewHigginsMSFT opened #8861 "Non-SolidColorBrush brushes don't update cached values on theme change"
### Problem Description

We have some custom acrylic brushes defined in our app's resource dictionary that we use in JS code using the PlatformColor helper. When the user changes their Windows theme to a high contrast theme, we have solid color brushes defined for that theme type to switch to. However, due to the caching RNW does, these new brushes aren't used until our app is restarted unless the

[2021-10-20 02:55] jonthysell opened #8864 "0.65 build broken because of ARM64 desktop test linker errors (publish and CI failing)"
### Problem Description

The following backport PR added ARM64 support to React.Windows.Desktop.Test.DLL https://github.com/microsoft/react-native-windows/pull/8764

However it doesn't build, so we've had two publishes of 65 to npm without nuget packages.

### Steps To Reproduce

See https://dev.azure.com/microsoft/ReactNative/_build/results?buildId=40106890&view=results

See https://dev.azure.com

[2021-10-20 02:56] jonthysell commented on #8864
@JunielKatarn  Can you take a look at this? Seems PRs don't build arm64, let alone test on it.

[2021-10-20 03:26] rozele opened #8865 "Proposal: Alert should fire `onDismiss` when no `Close` option is available"
### Summary

The Alert module already exposes functionality for `onDismiss` for Android. On Android, when the user sets `cancelable` to `true`, the alert works in a "light dismiss" mode where tapping anywhere on the screen will dismiss the alert and fire `onDismiss`.

The proposal is to piggy back on this available prop `onDismiss` prop for Android, and when the ContentDialog is dismissed with the

[2021-10-20 03:45] AgneLukoseviciute commented on #8781
I think that when an element is not visible, trying to retrieve it's automation peer will return null. My best guess is that Narrator focus requires an automation peer for focus and this might be the expected behavior. I'll check with some a11y folks offline to confirm.

Also if the white box signifies keyboard focus is that the behavior we want? @rectified95 -- should a disabled Touchable receive

[2021-10-20 03:57] #8856 closed

[2021-10-20 04:00] #8855 closed, assigned to nobody

[2021-10-20 04:58] rozele opened #8867 "Allow alert content and title to be selectable"
### Summary

We should allow selection of alert title and text.

### Motivation

Alerts often display important information. For example, you may alert some tracking number or an error code that the user may want to copy and paste when following up / creating a bug report.

### Basic Example

Self-explanatory, ContentDialog content and title is currently not selectable. We should make it selectabl

[2021-10-20 05:12] tero-paananen commented on #8846
You can close this issue if you want. Now i know what the check first if get 1201 error from store submission. I hope that this issue helps someone else too.

[2021-10-20 08:07] tero-paananen commented on #8846
https://github.com/microsoft/react-native-windows-samples/issues/566

[2021-10-20 15:44] jonthysell opened #8873 "Links to Pluralsights always return 403s when checked by unbroken"
### Problem Description

Our CI checks links in our docs using unbroken. For some reason, working Pluralsight links keep reporting failure.

### Steps To Reproduce

Failed build log line: https://dev.azure.com/ms/react-native-windows/_build/results?buildId=232329&view=logs&j=c91ffb0c-93c6-5124-b5e5-2d77344377c2&t=1b2d5bd1-20f5-5a7b-1ec2-ef2ad101a8b1&l=14

### Expected Results

_No response_

### C

[2021-10-20 21:46] rectified95 commented on #8781
AFAIK disabled controls don't typically receive keyboard focus, not sure if they should. I don't know how that relates to Narrator, though

[2021-10-20 23:42] AgneLukoseviciute opened #8875 "disabled TouchableHighlight still receives keyboard focus"
### Problem Description

from: https://github.com/microsoft/react-native-windows/issues/8781

Disabled TouchableHighlight still receives keyboard focus if onPress is defined.

### Steps To Reproduce

1. Set `disabled={true}` and define an onPress handler for a TouchableHighlight component
2. tab through and observe how it still receives keyboard focus
3. vs if you remove the onPress it behaves as

[2021-10-20 23:47] AgneLukoseviciute commented on #8781
I think narrator focus is behaving as expected here and it's actually the keyboard focus that isn't. Filed a separate issue to address that.

[2021-10-20 23:47] #8781 closed

[2021-10-21 12:22] creambyemute opened #8879 "[0.66] @react-native-community/netinfo cannot be linked anymore"
### Problem Description

Any kind of build (cli or via vs2019) on 0.66 projects that includes the [NetInfo](https://github.com/react-native-netinfo/react-native-netinfo) module will fail with the following error message:

`Error: Autolinking: Found a Windows solution for @react-native-community/netinfo but no React Native for Windows native module projects`

I have tried it with fresh init 0.63, 0

[2021-10-21 14:26] rozele opened #8880 "Modal view manager option based on ContentDialog"
### Summary

Given the AlertModule depends on ContentDialog, and it includes behaviors to queue ContentDialogs before showing them, it would be great to create a general purpose ModalViewManager based on ContentDialog that leverages the same internal queue so we can add arbitrary React view content to a ContentDialog and have the same guarantee that showing this modal while another ContentDialog i

[2021-10-21 14:55] rozele opened #8881 "Discussion: Treat alerts as stack rather than queue?"
### Summary

Currently, to prevent crashes, we queue alerts, so if you try to show two alerts at the same time, the second won't be shown until the first is dismissed.

My question is, is this the best user experience? Especially for multi-window apps, there's a chance that an alert may be shown on another window that you haven't dismissed and no longer have in the foreground, and the window in th

[2021-10-21 16:11] #8853 closed, assigned to nobody

[2021-10-21 17:36] jb-207 opened #8883 "Submitting Data via text input crashes universal windows app"
I have a small 3 field form and when I try and press enter (or any key) to run a handleSubmit function. It crashes the app with the code in Visual Studio: Unhandled exception at 0x00007FF9C0005DC6 (Microsoft.ReactNative.dll) in appname.exe: 0x00000000: The operation completed successfully (parameters:0x0000000000000001, 0x0000000000000000). This occurs in the crash_min.cpp file.

When I press a bu

[2021-10-21 18:35] asklar commented on #8879
@creambyemute  If you're using manual linking, can you make sure you add `--no-autolink` to ` run-windows` ?

[2021-10-21 18:45] #8864 closed, assigned to JunielKatarn

[2021-10-21 19:38] #8880 closed, assigned to nobody

[2021-10-21 19:41] rozele commented on #8881
@asklar - forgot to make this point, but it appears that iOS / macOS both stack alerts, so if there is desire to be more consistent with other platforms, then we may want to consider this.

[2021-10-21 20:11] asklar opened #8884 "Make native crash debugging / diagnosis easier for JS devs"
Currently there is a knowledge gap with JS devs coming to Windows and hitting native crashes; we ask them for a stack trace, etc., but they're not using VS, don't have experience with it, etc.

Proposal is to add some way (maybe an option to run-windows) to collect stack traces / dumps on native crashes so they can share it in bug reports, etc.

Another option would be to launch a watchdog process

[2021-10-21 20:56] nichamp opened #8885 "RNW 0.66.1: INCLUDE_HERMES and HERMES_ENABLE_DEBUGGER are incorrectly set by default causing crash with Chakra using Metro server with Direct Debugging enabled. If IncludeHermes=false, then Microsoft.ReactNative.dll fails to link."
### Problem Description

**Issue 1**: It appears that the preprocessor definition for INCLUDE_HERMES gets set by default even without setting IncludeHermes=true or UseHermes=true in the ExperiementalFeatures.props. If a project is still using Chakra, it should not have any of the Hermes code get included.

**Issue 2**: This also causes HERMES_ENABLE_DEBUGGER to be set somehow, but USE_HERMES is st

[2021-10-21 21:17] DrewHigginsMSFT commented on #8861
In our specific use case (the Xbox app), we have a provider component that re-renders consumers when the theme changes by updating an prop representing the theme type (light/dark/HC) in case the components have styles that need to adjust on the JS side.

[2021-10-21 21:40] nichamp opened #8887 "RNW 0.66.1: A warning is emitted if AppTheme is used at runtime and jest unittests fail."
### Problem Description

**Issue 1**
If there is a reference to `AppTheme`, a yellow-box warning for `'new NativeEventEmitter()' was called with a non-null argument without the required 'removeListeners' method` appears within the app and in console logs. It seems that RNW's implementation of `NativeModules.RTCAppTheme` does not meet the expectations of NativeEventEmitter. I speculate this is rela

[2021-10-22 00:04] mganandraj commented on #8885
Just created a PR: https://github.com/microsoft/react-native-windows/pull/8890

[2021-10-22 01:31] NickGerleman opened #8891 "Run Tests Against Direct Debugging Configuration"
See #8885 for an example of why this is important.

We currently do full app tests against web debugging, Chakra Release, and Hermes Release, but do not test the direct debugger. This would also potentially help to detect issues with Hermes debug builds.

[2021-10-22 01:31] asklar opened #8892 "Add CI test for more configs"
Today we validate debug and release:

| Config   |  bundling | web debugging |
|-|-|
| Debug | no | yes |
| Release | yes | no |

however we don't test the combination of "no bundling" (use metro) but "use direct debugging".
This recently regressed because we didn't have CI tests for it

[2021-10-22 01:32] #8892 closed

[2021-10-22 01:37] NickGerleman opened #8893 "Remove or add tests for `INCLUDE_HERMES`"
We always keep `INCLUDE_HERMES` enabled, and do not currently build cleanly with it disabled (fixed by https://github.com/microsoft/react-native-windows/pull/8890). If we have no coverage of the configuration, we should remove the preprocessor definition, or add a JOB that tests with it disabled.

[2021-10-22 01:37] NickGerleman commented on #8893
FYI @mganandraj @asklar

[2021-10-22 01:50] NickGerleman commented on #8887
@nichamp I noticed you mentioned running against Android/iOS platform. Just wanted to give an FYI that we have some tools to make Jest do the right thing for out of tree platforms, at https://github.com/microsoft/rnx-kit/tree/main/packages/jest-preset. This will cause jest to include the right files per-platform, and allows you to specify platform as a command line option.

Need to look at #1. Uns

[2021-10-22 01:56] nichamp commented on #8887
For (1) there are actually two warnings actually (I had only noticed the first at the time I created the issue):

![image](https://user-images.githubusercontent.com/46539320/138380585-36fd24e2-bb66-47fd-85fd-6f21148e86fd.png)

![image](https://user-images.githubusercontent.com/46539320/138380598-c413ee93-9eda-4854-8c02-ada169c9c0d8.png)

For (2), I am currently using a workaround where my tests in

[2021-10-22 04:06] asklar opened #8894 "Cannot use NuGet in win32 apps"
Adding the nuget package to a win32 app will not reference the winmd because of this condition in the targets file:

[code]

TargetPlatformIdentifier is not UAP in a win32 app

[2021-10-22 05:08] asklar opened #8897 "Files in M.RN.Cxx impose apps to use precompiled headers"
headers in Microsoft.ReactNative.Cxx `#include "pch.h"`. Since C++ apps include these files, this means that the project must use PCHs.

[2021-10-22 06:29] asklar opened #8900 "[Headless] Requires DeviceInfoHolder internals"
Standing up a headless RNW instance, we load the DeviceInfoModule, which requires a delicate dance with DeviceInfoHolder, which isn't exposed through Cxx

[2021-10-22 08:02] jefgen opened #8902 "Support for Headless applications on Windows"
### Summary

JavaScript is one of the most [popular](https://fossbytes.com/javascript-most-popular-programming-language-stack-overflow/) and rapidly [growing](https://bootcamp.berkeley.edu/blog/most-in-demand-programming-languages/) programming languages in the last few years. This popularity has led to many libraries, tools, utilities, and applications being written in it.

However, it is difficu

[2021-10-22 18:56] acoates-ms opened #8907 "Loading UI does not show up on reload"
The loading UI only seems to be showing up on the first load.

[2021-10-23 09:08] #8894 closed, assigned to nobody

[2021-10-23 19:02] drnow4u opened #8910 "Application crash when in TextInput on onKeyPress handler is redirection with react-router-native"
### Problem Description

Application crash when in TextInput in `onKeyPress` event handler is redirection with `react-router-native`. If redirection is triggered within `onPress` event handle it is working as expected.

Exception description in Polish version of Visual Studio:

[code]

Stack trace:

[code]

This bug looks similar to #8883 but exception description is different.

Can be reproduced

[2021-10-24 08:32] #8885 closed, assigned to mganandraj

[2021-10-24 08:38] #8887 closed, assigned to NickGerleman

[2021-10-24 08:46] #8893 closed, assigned to nobody

[2021-10-24 15:09] #8884 closed, assigned to asklar

[2021-10-24 15:24] NickGerleman opened #8917 "0.67 Release Status"
Changelog: TBD
Upstream discussion: https://github.com/reactwg/react-native-releases/discussions/1

## Important Issues

0.67 issues: https://github.com/microsoft/react-native-windows/issues?q=is%3Aopen+is%3Aissue+milestone%3A0.67

**Blocking**
- TBD

## Checklist

**Before Preview**
- [x] Draft GitHub release notes from commit log (NickGerleman)
- [x] Promote canary build to preview using [wiki i

[2021-10-25 09:58] asklar opened #8920 "autolink won't add transitive project dependencies"
in react-native-webview there are two projects: ReactNativeWebView (RNWV) and WebViewBridge (WVB)
RNWV depends on WVB

autolinking only adds RNWV to the project dependencies (autolinkedNativeModules.g.targets)
this works fine for msbuild.exe invocations, but VS has its own build ordering logic (it will rely on explicit project references)
this results in app builds failing because the dependency o

[2021-10-25 19:02] dannyvv opened #8925 "to not install a 'latest' npm package but a vetted version in the lock file `npx` should always use flag `--no-install`"
Upon the recent UAParser issue I did an audit of other automatic version installs in our repo. One of this is the tool `npx` which by default will download the latest.

This bug tracks making sure we use `--no-install` to reduce the chance of a compromized package making it onto our CI, our dev boxes and our customers machines.

* `/Directory.Build.targets#32` uses `npx yarn`
* `.ado\templates\rea

[2021-10-25 20:17] asklar opened #8926 "M.RN.dll ends up with "RNW_PKG_VERSION_STR" as its version"
using 0.66.2 nuget package:
![image](https://user-images.githubusercontent.com/22989529/138764427-325b48d2-3835-4bf8-b4cb-563fd6a91bb3.png)

[2021-10-25 23:58] chrisglein commented on #8891
@jonthysell I believe you mentioned in standup that you were looking into this?

[2021-10-26 05:45] tero-paananen opened #8930 "App registered component is remounted again"
### Problem Description

Application's registered component` App` in index.js `AppRegistry.registerComponent(appName, () => App);` is remounted again when user tries open multiple instances of the same app on Windows 10 in **React Native Windows 0.65.x**. Tested with Welcome to React Native app. Main component remount **was not done in 0.63.x**.

Currently this causes issues in our app because mai

[2021-10-26 15:19] NickGerleman opened #8934 "Fix accessibilityState Change Announcements"
Using live region to announce changes instead of peer.RaisePropertyChangedEvent seems like the wrong approach, no?

_Originally posted by @aschultz in https://github.com/microsoft/react-native-windows/issues/8560#issuecomment-918648851_

[2021-10-26 17:58] ali-hk opened #8945 "`run-windows` fails if project OutDir is customized"
### Problem Description

Many projects override the default build output directory by specifying `OutDir` in their project files or imported props (ex. to output to build/x64/Debug). As a result the `AppxManifest.xml` and `AppPackages` directory are not present under the default `windows` path and aren't found by the existing glob patterns in `getAppxManifestPath` and `getAppPackage` in react-nati

[2021-10-26 18:33] #8849 closed, assigned to NickGerleman

[2021-10-26 19:32] rozele opened #8948 "Theme changes at runtime do not update in XAML Island CommandBarFlyout"
### Problem Description

If the theme of the app changes at runtime, the TextCommandBarFlyout (which is now a MUX control) does not update accordingly.

### Steps To Reproduce

1. Run RNTester in playground-win32
2. Open the TextInput example
3. Open the context menu on any TextBox
4. Change the app theme
5. Open the context menu for the same TextBox

The text for the ContextMenu will be using the

[2021-10-27 01:51] #8934 closed, assigned to nobody

[2021-10-27 11:28] creambyemute opened #8966 "[0.66] React-Native-Popup-Menu not closing anymore"
### Problem Description

We are using https://github.com/instea/react-native-popup-menu (JS-only module) to render ContextMenus ActionMenus or DropDowns.

With RNW 0.66 the menu does open, but is not closable anymore. Interaction with other elements than the Menus children does not work. Backdrop (onDismiss on click outside) does not work anymore either it seems.

I have tested with 0.63, 0.64 and

[2021-10-27 16:49] #8907 closed, assigned to acoates-ms

[2021-10-27 16:49] #8910 closed, assigned to acoates-ms

[2021-10-27 17:46] chiaramooney opened #8968 "Using options.root Bypasses CLI Config"
### Problem Description

Issue encountered with the WebView module example app in PR here: https://github.com/react-native-webview/react-native-webview/pull/2211#pullrequestreview-790960947.

If example app is in a subdirectory, but package.json and react-native.config.js for app are in the root of the repo, running `npx react-native run-windows --root example --release` will fail to autolink and

[2021-10-27 20:22] Saadnajmi opened #8972 "Expose onHoverIn/onHoverOut on Pressable"
### Summary

With https://github.com/facebook/react-native/pull/32405 , The Stock Pressable component now exposes onHoverIn/onHoverOut as the way to support mouse events. We should align our desktop ports (rn-macos/windows/win32) to take advantage of this.

### Motivation

This issue is motivated by my want to use the RN Stock Pressable component in FluentUI React Native, which currently has a loc

[2021-10-28 02:07] #8948 closed, assigned to nobody

[2021-10-28 05:19] sakthivel-servicemax opened #8981 "Need help for adding Hermes"
### Discussed in https://github.com/microsoft/react-native-windows/discussions/8980

<div type='discussions-op-text'>

<sup>Originally posted by **sakthivel-servicemax** October 28, 2021</sup>
Hi, My current react native windows version is "react-native-windows": "^0.63.0-0",
I am upgrading this to "react-native-windows": "0.65.4",

I want to enable hermes for my project. My start up project is in

[2021-10-28 07:49] asklar opened #8984 "UseDirectDebugger + UseWebDebugger"
Today the ReactInstanceSettings has 2 properties that can be set independently, UseDirectDebugger and UseWebDebugger - however AFAIK these two are mutually exclusive now. We should mark those deprecated and replace them with a single property like
[code]

[2021-10-28 15:42] NickGerleman opened #8990 "Try cache warming at image creation time"
There's a likely set of npm and NuGet packages that need to be installed for each job. Caching at pipeline run time has been ineffective because of the king time to restore the cache.

We should play with warning the cache at image creation time, instead of runtime.

[2021-10-28 17:40] chiaramooney opened #8991 "Use PR template to Automatically Label PR's"
### Summary

Since we have labels for bug vs enhancement and for different feature areas of work such as infrastructure. It would be a cool idea to update the fabric-bot to automatically add tags based on what users selected in the change type section and perhaps have some way to automatically add the feature area label as well.

Another bit of future work for PR templates could be to validate the

[2021-10-28 18:14] #8926 closed, assigned to nobody

[2021-10-28 18:52] #8981 closed, assigned to nobody

[2021-10-28 18:57] acoates-ms opened #8993 "Add support to upgrade helper for C# apps"
The upgrade helper currently only supports C++ apps.  Need to add C# app support.

(Actual work wont be in this repo, just here for tracking purposes)

[2021-10-29 18:41] NickGerleman opened #9007 "Install `midgard-yarn` as part of VM image"
We frequently pull from the network to install this package. We should leave it on the image.

[2021-10-29 21:48] NickGerleman commented on #9007
Want to add verdaccio as well

[2021-10-30 02:21] roxk opened #9010 "doc: REACT_INIT doc says should pass `IReactContext`, but the actual param is `ReactContext`"
### Problem Description

From [REACT_INIT's doc](https://github.com/microsoft/react-native-windows/blob/eaf932469678b8b67b0b2b17fd2bcdda1ed4e358/vnext/Microsoft.ReactNative.Cxx/NativeModules.h#L38), it says:

// **It must have 'IReactContext const &' parameter.** (emphasis mine)

But the [actual type](https://github.com/microsoft/react-native-windows/blob/eaf932469678b8b67b0b2b17fd2bcdda1ed4e358/v

[2021-10-30 09:39] NickGerleman commented on #8990
Looks trickier than expected to do at image creation time. Going to explore other possibilities.

[2021-10-30 09:39] #8990 closed

[2021-10-30 09:57] NickGerleman opened #9015 "Integration Test App X64WebDebug Failing"
Screenshots show that the app hangs on start when running the tests. This is showing up in all pipelines, but x64 release, and x86 web debug do not seem affected.

[2021-10-30 09:58] NickGerleman commented on #9015
Will try to locally repro, but disabling the test for now.

[2021-10-30 10:03] NickGerleman commented on #9015
The issue locally reproes, running `yarn windows` on an x64 machine with web debugging.
![image](https://user-images.githubusercontent.com/835219/139528592-1b5361e0-d38f-4511-b6ca-d9b73212bff4.png)

[2021-10-30 10:12] NickGerleman commented on #9015
Hmm, RNTesterApp x64 web debug works fine...
![image](https://user-images.githubusercontent.com/835219/139528885-d46d3a32-c069-4ed4-9846-8872da8d7ff8.png)

[2021-10-30 10:22] NickGerleman commented on #9015
Okay tried again and I do not repo locally. Think I might have had a browser session set to pause on caught exceptions?
![image](https://user-images.githubusercontent.com/835219/139529125-66b6e4cf-752d-439f-ae26-5fad37445f18.png)

[2021-10-30 10:24] NickGerleman commented on #9015
screenshot from CI machine:
![before-test](https://user-images.githubusercontent.com/835219/139529193-7dbf270f-4916-42f6-99f0-14ed31ff9129.png)

[2021-10-30 12:27] #9010 closed

[2021-11-01 17:51] rozele commented on #8948
Assuming the theme change is propagated from the window message queue to the XamlRoot, #8949 also fixes theme changes.

[2021-11-01 18:09] asklar commented on #9015
looks like it's an issue in the CI machine but works locally?

[2021-11-01 18:16] asklar commented on #8948
@rozele @lyahdav please confirm whether this needs to be reopened/revisited or not.

[2021-11-01 18:19] asklar commented on #8930
It makes sense to not re-navigate to the main page if the app is already running.

[2021-11-01 18:22] asklar commented on #2460
Looks like there isn't new customer requests for this, is there any urgency to implement this?

[2021-11-01 19:21] rozele opened #9034 "`onMouseEnter|Leave` incorrect on views with border but no backgroundColor"
### Problem Description

RNW has a mitigation in place in case a view registers an `onMouseEnter` or `onMouseLeave`, a transparent brush is set to the View so it participates in hit testing.

When the view has a border, it appears that this does not actually work correctly, as only the border itself is hit testable, and `onMouseLeave` fires when the pointer enters the "inner" part of the view.

##

[2021-11-02 01:27] rectified95 commented on #8972
This is going to be pulled in as part of the next RN integration we do. We are currently at Oct 21st, and the change in question was merged on Oct 23rd. @NickGerleman is probably going to pull this in within a week or so.

[2021-11-02 11:42] NickGerleman opened #9037 "Dumps not present for e2e-test-app crashes"
Set to collect dumps for RNTesterApp.exe but they do not seem to show up on crash. Needs verification that the exe name is correct.

[2021-11-02 11:48] NickGerleman commented on #8972
@rectified95 you and @chiaramooney are on rotation for November 🙂.

[2021-11-02 16:54] rectified95 commented on #8972
That is very true :D

[2021-11-02 17:45] #8925 closed

[2021-11-02 17:45] #9007 closed

[2021-11-02 18:27] chiaramooney commented on #8968
Alright did some investigating. The other module that uses this same structure (datetimepicker) is on RNW 0.62 and so it has not his this issue yet. I think the ultimate question here is what is our guidance for module's with a repository structure similar to WebView's who are now on versions of RNW that have autolinking support (v0.63+) who want to be able to have an example app working on Window

[2021-11-02 20:36] nichamp opened #9042 "RNW 0.66.2: `Invariant Violation: 'new NativeEntEmitter()' requires a non=nill argument.` in jest environment"
### Problem Description

Originally I reported this in #8887 for 0.66.1 and #8901 attempted to address it for 0.66.2. It added a mock/shim for NativeAppTheme to add a addListener wrapper to suppress a warning.

Now when I attempt to run tests in a jest environment it still has the same failure as before, with or without the mock for  NativeModules.RTCAppTheme I had added as a workaround for 0.66.1

[2021-11-02 20:49] NickGerleman commented on #9042
Following up offline, but this looks to be happening because the Jest tests are configured to simulate iOS.

[2021-11-03 04:54] tero-paananen commented on #7797
0.65.7 still has the issue, i will check 0.66 soon

[2021-11-03 17:38] acoates-ms commented on #8993
Added logic to generate CSharp diffs to the diff repo in addition to the C++ diffs:
https://github.com/acoates-ms/rnw-diff/commit/3122e92508465194101b445507eb14fdb1d7202b

Generated all the CSharp diffs:
https://github.com/acoates-ms/rnw-diff/commit/2458190f7e83919705e60cdb96602bfdc7ab1589
(~63k file check-in!)

https://github.com/react-native-community/upgrade-helper/pull/293 - This PR will add a

[2021-11-03 18:42] nichamp commented on #9042
Nick is right so I am closing this issue - apologies for the noise. However react-native-windows should itself configure jest correctly on project init (it leaves the jest config set by react-native init in package.json) without having to use custom workarounds like I am now doing or adding a dependency on rnx-kit/jest-preset. A separate issue should be filed for this gap.

[2021-11-03 18:42] #9042 closed

[2021-11-03 20:05] rozele opened #9050 "FrameworkElementViewManager sets layout props on XAML"
### Problem Description

Yoga should be the only thing that manages the layout for RN views. There are settings in FrameworkElementViewManager that unnecessarily sets the `width`, `height`, `(min|max)(Width|Height)` props to corresponding XAML properties on FrameworkElement.

### Steps To Reproduce

1. It's easy to contrive a bug caused by the existing logic:
[code]

When you toggle between a nume

[2021-11-03 23:42] rozele opened #9053 "Remove override for ReactNativeViewAttributes.js"
### Problem Description

Planning to add an override for ReactNativeViewAttributes.js so arbitrary components may register for `onMouseEnter` and `onMouseLeave` events (e.g., Text).

### Steps To Reproduce

N/A

### Expected Results

N/A

### CLI version

npx react-native --version

### Environment

[code]

### Target Platform Version

_No response_

### Target Device(s)

_No response_

### Visual

[2021-11-03 23:48] rozele opened #9054 "Allow `onMouseEnter` / `onMouseLeave` on arbitrary views"
### Problem Description

Currently, `onMouseEnter` and `onMouseLeave` only works on vanilla `<View />` components. Ideally, this would work for arbitrary components, including virtual text.

### Steps To Reproduce

1. Add `onMouseEnter` / `onMouseLeave` to a `<Text>` component
2. Attempt to hover the text
3. See no callback is received

### Expected Results

Callback should be received.

### CLI v

[2021-11-04 11:32] tero-paananen opened #9057 "[0.66, 0.67] Payload contains two or more files with the same destination path 'Microsoft.UI.Xaml.Markup.winmd' on C#+Win32 solution"
### Problem Description

UWP C# + Win32 console app for example [AppServiceDemo](https://github.com/microsoft/react-native-windows-samples/tree/main/samples/AppServiceDemo) on `rn-windows 0.66.3` does not build. I get error `Payload contains two or more files with the same destination path 'Microsoft.UI.Xaml.Markup.winmd'`

See AppServiceDemo example app ported into 0.66.3 below.

[code]

### Step

[2021-11-04 11:32] tero-paananen commented on #9057
I have same problem with my app that is React Native Windows 0.66.2 UWP C# and Win32 console solution.

[2021-11-04 11:35] tero-paananen commented on #9057
[AppServiceDemo_0.66.zip](https://github.com/microsoft/react-native-windows/files/7474459/AppServiceDemo_0.66.zip)

There is AppServiceDemo that uses rn-windows 0.66.3

[2021-11-04 11:38] tero-paananen commented on #9057
Sorry, this issue should be reported into https://github.com/microsoft/react-native-windows-samples

[2021-11-04 11:41] tero-paananen commented on #9057
https://github.com/microsoft/react-native-windows-samples/issues/586

[2021-11-04 11:43] tero-paananen commented on #9057
This is issue of rn-windows and using AppServiceDemo we can reproduce it. I will keep this open here. Close if wanted.

[2021-11-04 12:42] tero-paananen commented on #9057
I set same values `<TargetPlatformVersion>10.0.19041.0</TargetPlatformVersion>` into all projects in the example project solution and it builds.

[2021-11-04 13:18] tero-paananen commented on #9057
rn-windows 0.65.x has `<TargetPlatformVersion Condition=" '$(TargetPlatformVersion)' == '' ">10.0.18362.0</TargetPlatformVersion>` value in [React Native Managed project](https://github.com/microsoft/react-native-windows/blob/react-native-windows_v0.65.6/vnext/Microsoft.ReactNative.Managed/Microsoft.ReactNative.Managed.csproj)

0.66 has `<TargetPlatformVersion Condition=" '$(TargetPlatformVersion)

[2021-11-04 13:25] tero-paananen commented on #9057
Hard to say what causes it that different target platform values in same solution brakes the build now. Is this rn-windows 0.66 or even Visual Studio bug?

[2021-11-04 14:32] rozele commented on #1679
Fixed by #7813

[2021-11-04 14:32] #1679 closed

[2021-11-04 17:41] Saadnajmi commented on #8972
If I read the updates to this bug properly, the upstream change will be merged in ~ next week, and will land with RN 0.68?
Is there any chance we can back port it to RN 0.64? I would like to get the same change in RN-macOS so FURN (which should soon move to RN 0.64) could potentially use it across macOS/windows/win32

[2021-11-04 17:47] acoates-ms commented on #8972
Very unlikely, FB generally doesn't backport features to older versions.

[2021-11-04 18:13] asklar commented on #9053
IIUC this bug tracks removing the override once it gets into core, right? Is there a bug in core to add the properties?

[2021-11-04 18:13] asklar commented on #9054
Makes sense : )

[2021-11-04 18:19] asklar commented on #9010
thanks @roxk !

[2021-11-04 18:24] asklar commented on #7797
Hey @vmoroz is this already in main / 0.66?

[2021-11-04 20:05] acoates-ms commented on #8883
I know we still havent gotten a crash dump with real info.  But I also suspect that this crash might be fixed in 0.66.3.  I think the issue could be the same as https://github.com/microsoft/react-native-windows/pull/8973.

[2021-11-04 21:37] NickGerleman opened #9063 "ARM64 Build Failure in CI"
https://dev.azure.com/ms/react-native-windows/_build/results?buildId=239464&view=results

Related to my newly added PCH target.

[2021-11-05 04:20] asklar opened #9069 "Add tests for VM that uses native layout"
We don't have tests for View Managers that use RequiresNativeLayout, and layout is a fragile area, so we should add some tests.

One idea would be to add a page in e2e-test-app that uses react-native-xaml, and use the snapshots infra to dump the position/sizes of elements to validate they are as expected.

[2021-11-05 04:22] asklar commented on #9057
It's likely this was a bug in the xaml compiler that existed in 18362 but was fixed in 19041

[2021-11-05 07:34] #9063 closed

[2021-11-05 11:37] #9034 closed

[2021-11-05 11:40] NickGerleman opened #9079 "EPERM Issues Running Init Tests on LowResource Test Variant"
https://dev.azure.com/ms/react-native-windows/_build/results?buildId=239958&view=logs&j=5523db2b-a0a7-5db8-f2d1-a444dca748ba&t=9a73a234-27fa-504a-5fd4-bb6b26a9ec01&l=55
[code]

https://github.com/react-native-community/cli/pull/1495 should hopefully fix.

![image](https://user-images.githubusercontent.com/835219/140505043-55438810-0d90-4862-973b-634be4ecbfdc.png)

[2021-11-05 14:33] NickGerleman commented on #9079
https://github.com/microsoft/react-native-windows/pull/9081 mitigates the issue on our side, waiting on the fix that will be incorporated into https://github.com/react-native-community/cli/pull/1495.

[2021-11-05 19:12] #9015 closed

[2021-11-05 21:47] rozele commented on #9053
No bug in core to add the props - I suspect this could change before it lands in core anyway (e.g., `onPointerEnter` / `onPointerLeave` to be more consistent with W3C Pointer APIs).

[2021-11-05 21:48] rozele commented on #9053
We should also figure out the TS typing story to support these props when upstreaming in core.

[2021-11-07 02:21] #9079 closed

[2021-11-07 16:54] #9069 closed

[2021-11-08 16:54] asklar commented on #7227
My proposal to enable this is as follows:

1. Move declaration of UseExperimentalNuget from the project file to EF.props
2. module project imports app's EF.props and discovers the app wants to use the nuget package - therefore the module should too.
3. module project then knows it must import the nuget's props/targets. This requires knowing the path to these files which requires knowing the RNW ve

[2021-11-08 19:59] #7224 closed

[2021-11-09 19:08] mganandraj opened #9098 "Standardize hermes packaging"
### Problem Description

Package is unsigned, not named based on convention and uploaded from private credentials.

### Steps To Reproduce

Notice the packages.config

### Expected Results

Hermes package is
1. Named as Microsoft.*
2. Signed
3. Published by proper user agents

### CLI version

npx react-native --version

### Environment

[code]

### Target Platform Version

_No response_

### Targ

[2021-11-10 03:01] #8786 closed

[2021-11-10 05:34] jensonstack commented on #1978
+1

[2021-11-10 06:43] #8972 closed

[2021-11-10 09:37] tero-paananen commented on #8581
See updated hacks for Visual Studio 16.11.4-6
https://developercommunity.visualstudio.com/t/visual-studio-2019-version-1610uwpxamarin-runtime/1437211

[2021-11-10 10:27] tero-paananen commented on #8581
With `Visual Studio 16.11.6` i have following setup of "additional" flags:

In my C# UWP **project file .csproj**
[code]
and in the end of file inside `<Project>` tags `<Target Name="ResolvePackageDependenciesForBuild" />`

in **package project .wapproj**
[code]

and in the end of file inside `<Project>` tags `<Target Name="ResolvePackageDependenciesForBuild" />`

[2021-11-10 10:44] tero-paananen commented on #9057
I updated to Visual Studio 16.11.6 but same error exists

[2021-11-10 16:37] Saadnajmi commented on #8972
Sorry, I meant RN-Windows 0.64, not RN Core

[2021-11-10 18:52] NickGerleman opened #9107 "CI NuGet Cache Restoration is Ocasionally Very Slow"
Azure Pipekline Cache is using public Azure Blob Storage, that may be throttling, or may be seeing machines with limits. We should look at using local blob storage, reducing cache footprint (e.g. only cache .nupkg files), or disabling the cache.

![image](https://user-images.githubusercontent.com/835219/141174962-bddb975a-5fc6-4e9f-bc9a-cd1b5c1d7a72.png)

[2021-11-10 18:52] NickGerleman commented on #9107
Should also look at reducing NuGet footprint of some of our projects.

[2021-11-10 19:08] jonthysell commented on #8920
What exactly is missing here? If you specify RNWV as `directDependency: true` and WVB as `directDependency: false`, then both projects get added to the solution and a `PackageReferecen` to RNWV is added to the app project (via the generated autolink target).

[2021-11-10 19:13] jonthysell opened #9109 "Track how time is spent during the different phases of a CLI command"
### Summary

Record the time spent in each "phase" of a CLI command so we can track what are the most expensive operations.

### Motivation

Every time we implement features in a CLI command there's concern that it hurts the CLI's performance. Adding this information would help us scope our concern relative to the total time it takes for the command to complete.

### Basic Example

_No response_

[2021-11-11 01:33] rurikoaraki opened #9111 "[RNWin32] Turn on enableFocusRing by default on View"
### Summary

Switch enableFocusRing to be true by default (requires a native change. This issue is for tracking and making intent of behavior public, there should be no changes in the repo itself to implement this behavior.)

### Motivation

RNWin32 has operated with mostly having clients implement their own focus UI through JS. With adding enableFocusRing, in order to make sure that the new prop

[2021-11-11 17:26] AgneLukoseviciute opened #9112 "Allow --useWinUI3 and --experimentalNugetDependency to be used together in CLI"
### Summary

See #9099. Once WinAppSDK support is added in, we'll want to allow using these two flags simultaneously.

### Motivation

Revert https://github.com/microsoft/react-native-windows/pull/5297 once it's no longer applicable.

[2021-11-11 17:26] AgneLukoseviciute commented on #9112
yes actually @jonthysell has a good point - we would have to do a version check or something in the CLI to only allow certain versions. Really the CLI should delegate project creation logic to some version-specific package/code (we have an issue filed about syncing command line options)

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows/issues/9099#issuecomment-965

[2021-11-11 17:58] chrisglein commented on #9098
@mganandraj FYI in the future you can use either the feature request template or the empty issue template for when the bug template is a bad fit.

[2021-11-11 21:00] #8945 closed, assigned to nobody

[2021-11-11 22:24] JunielKatarn opened #9117 "Remove JSIEngineOverride::ChakraCore"
ChakraCore support has been dropped from React Native Windows 0.64 and forward.

We should give heads up about this change to any consumers still using that engine, then delete the corresponding enum entry.

Should we remove ChakraCore from this enum then?

_Originally posted by @NikoAri in https://github.com/microsoft/react-native-windows/pull/9089#discussion_r747842986_

[2021-11-12 08:09] tero-paananen commented on #9057
What do you mean? 0.65 targeting into 18362 works but 0.66 project not anymore is there is any module in the packaging project that is targeting 18362 (maybe different than 19041)

[2021-11-12 15:22] creambyemute commented on #8883
@acoates-ms I would have provided a crash dump but since the above mentioned PR was merged into 0.66/0.65 I haven't experienced any crashes on TextInput onSubmit anymore.

[2021-11-12 16:25] #9050 closed

[2021-11-12 16:50] acoates-ms commented on #8883
Sounds like this issue is resolved then.

[2021-11-12 16:50] #8883 closed

[2021-11-13 00:02] #9107 closed

[2021-11-13 22:53] dragonDScript commented on #4823
Where should we ask this feature? A GNOME or Qt version would be nice :)

[2021-11-14 00:28] cmachaca commented on #1254
Hello @gtRfnkN.
How can I use a custom font? I follow the steps you mention but I still can't use the sources.

[2021-11-14 00:58] cmachaca commented on #1254
I did not recompile the project. The solution still works. Thanks.

[2021-11-14 22:29] asklar commented on #4823
there are still no plans to build support for Linux, sorry.

[2021-11-14 23:00] dragonDScript commented on #4823
Okay. Is this an internal decision?

[2021-11-15 08:23] NickGerleman commented on #4823
There's a lot of people required to stand up and maintain an out of tree platform for react-native. We have a lot of existing expertise for both Windows and macOS, and we will support these. Usually OSS supported by corporations works best when OSS goals and business goals are aligned. As great as Linux is, most of the scenarios MSFT works on don't target it.

A goal of RN Windows and RN macOS has

[2021-11-15 19:13] chrisglein commented on #9098
Multiple issues tracked here. This one would be a change to the template that we would want to frontload:

[2021-11-15 19:21] chrisglein commented on #9112
One solution here may be that if you `useWinUI3` that you only use the nuget (AKA we don't have the ability to build by source while also targeting WinUI3).

[2021-11-15 19:39] chrisglein commented on #8581
Trying to sort out which issue reports are tracking which problems. What's the specific blocker on this one at this point? You reactivated against #8846, but that seems to be resolved. Are you just cataloging the workarounds?

[2021-11-16 05:40] jensonstack commented on #2024
Getting same white screen in release mode. @pirminb97 Can you please explain the solution.

[2021-11-16 05:41] asklar opened #9133 "Protocol activation with winappsdk"

[2021-11-16 05:42] asklar opened #9134 "App lifecycle with WinAppSDK"
we won't have suspend/resume, so this will dim down in winappsdk. Impacts AppState module.

[2021-11-16 05:44] asklar opened #9135 "Clean up bifurcation based on old winui3 / islands code"
currently the code reasons over UWP xaml, system xaml islands, winui3 uwp, and sometimes even winui3 islands.
We should clean this up and support:
- UWP xaml
- system xaml islands
- WinUI 3 Win32

in the future, once winui3 properly supports islands, we can add that support too.

[2021-11-16 05:46] asklar opened #9136 "Figure out how to deal with community native modules and WinUI 3 support"
Write up strategy for modules to either dual target, or convert to winappsdk.
Needs to also consider how winappsdk vs. UWP is surfaced in reactnative.directory.

[2021-11-16 05:48] asklar opened #9137 "Trying to use modules/apps across UWP/WinAppSDK should provide a meaningful error message"
UWP modules will likely not work in WinAppSDK apps and vice versa.
We should have a sane experience here rather than let things fail at build or runtime.
This includes identifying whether a module/app is using winui3, as well as probably autolinking changes to diagnose this as early as possible.

[2021-11-16 05:54] asklar opened #9138 "C# WinAppSDK app should use single project"
The current proposal has C# apps use WAP instead of single project, filing this to track the conversion - or addition - of single project

[2021-11-16 05:54] asklar opened #9139 "WinAppSDK support for creating modules with CLI"
Need project templates for C++ and C# .net 5 libraries with winappsdk

[2021-11-16 05:56] asklar opened #9140 "Upgrade RNGallery to WinAppSDK or create fork"

[2021-11-16 05:58] asklar opened #9141 "Measure % of new apps using RNW+WinAppSDK"

[2021-11-16 06:02] asklar opened #9142 "Update usage docs to include creating winappsdk apps"
Once we are ready for 1.0 we should update the docs, unhide the CLI flag, etc.

[2021-11-16 06:03] asklar opened #9143 "Create sample C++ app for winappsdk"

[2021-11-16 06:04] asklar opened #9144 "Create e2etestapp for WinAppSDK"
Likely needs forked implementation given the lack of preprocessor macro ability to target different namespaces (could do some of it via `using namespace`), and the project system is going to be very different

[2021-11-16 06:12] tero-paananen commented on #8581
I only write down workaround / needed new flags to get this kind of solutions to build. If this could help someone.

[2021-11-17 02:11] chrisglein commented on #7336
Related to #8345

[2021-11-17 02:16] NickGerleman commented on #7336
Both should be fixed with https://github.com/microsoft/react-native-windows/pull/8982

[2021-11-17 02:38] NickGerleman commented on #8345
Fixed with https://github.com/microsoft/react-native-windows/pull/8982

[2021-11-17 02:38] #7336 closed

[2021-11-17 02:43] NickGerleman commented on #8345
https://github.com/microsoft/react-native-windows/pull/9070 separately started running our unit tests against multiple versions of Node, which should catch some subset of Node version specific issues.

[2021-11-17 05:13] sakthivel-servicemax opened #9155 "(Backport Request) React native windows 0.66 -> Some React native stuffs are not working"
### Problem Description

Hi,
 I upgraded react native windows to 0.66.0. Some react native stuffs like
    - useNativeDriver true for Animated.timing not working,
    - InteractionManager.runAfterInteractions is not working,
    - FlatList loads only 10 items on initial load.
All of these are working fine in react native windows 0.65.0.

Any solutions for these?

Thanks,
Sakthi.

### Steps To Repr

[2021-11-17 16:27] rozele opened #9157 "NativeAnimated completion callbacks do not fire."
### Problem Description

NativeAnimated completion callbacks do not fire.

### Steps To Reproduce

1. Add a completion callback to an Animated value with `useNativeDriver: true`.
2. Run animation
3. When animation completes, observe that callback does not fire.

### Expected Results

Callback should fire when animation completes.

### CLI version

npx react-native --version

### Environment

[code

[2021-11-17 16:45] rozele commented on #3280
May be worth revisiting this - I fixed a potentially related issue with handling finished callbacks: https://github.com/microsoft/react-native-windows/pull/9158

[2021-11-17 16:58] vmoroz commented on #7797
I would like to keep it open until we fix the previous stable branches.

[2021-11-17 17:39] creambyemute opened #9162 "UIDispatcher how to return value/resolve/reject promise without crash? (Documentation unlcear)"
### Problem Description

I have two small native c++ modules which use the `Launcher::LaunchFileAsync` and `FileOpenPicker::pickSingleFileAsync`.

After upgrading from 0.63 to 0.65 we have to use the UIDispatcher in order for it to work. So I had a look at the following Documentation:
[Using UIDispatcher with C++/WinRT](https://microsoft.github.io/react-native-windows/docs/native-modules-async#usi

[2021-11-17 20:25] #9157 closed

[2021-11-17 21:50] jonthysell opened #9163 "React-native-windows-init should have option validation tests"
### Summary

With our other CLI commands, we have both options interfaces and tests which make sure the arguments/options are "valid" - they have descriptions, the proper type, etc.

We should add this to react-native-windows-init

### Motivation

Part of the telemetry refactor (#8253) includes making sure that we make explicit choices about how CLI args are recorded in telemetry. This ensures we

[2021-11-17 21:56] jonthysell opened #9164 "Investigate if using pnpm breaks how we identify npm package versions"
In multiple places within our CLI we use a pattern of `require.resolve('PACKAGENAME/package.json')` to load an npm package's package.json file in order to get out a version number.

There's a concern that this might not work with certain package managers that put packages in directories that this won't find.

This would mean that using the RNW CLI would be broken in these package managers, so we s

[2021-11-17 22:33] jonthysell opened #9165 "Telemetry should capture certain msbuild props - WinUI2xVersion, WindowsTargetPlatformVersion, UseWinUI3"
### Summary

Our telemetry needs to capture the values of certain msbuild props, including WinUI2xVersion, WindowsTargetPlatformVersion, and UseWinUI3.

We should add this to the schema and, ideally, get it using something like script proposed in https://github.com/microsoft/react-native-windows/pull/8734.

### Motivation

While we do capture certain versioning information based on the nuget packa

[2021-11-18 04:27] #7312 closed

[2021-11-18 04:27] #7903 closed

[2021-11-18 04:34] jonthysell opened #9166 "Make it easier to RNW devs to dogfood the telemetry locally before we turn it on for GA"
### Summary

We have the capacity to swap out the API key we need to actually transmit data to ADO, but it requires overriding a string in code. It would be better for testing to have and environment variable we can load.

### Motivation

Before turning on telemetry for everyone, I'll be testing with test instance in ADO. Right now that means specifying a new API key string in code, but if it were

[2021-11-18 16:38] rozele opened #9171 "onMouseLeave behavior should be consistent regardless of whether the pointer is inside the ReactRootView"
### Problem Description

The `onMouseLeave` event is fired on all views when `PointerExited` fires on the `ReactRootView`, even if the pointer is down.

This is inconsistent with how we currently suppress `onMouseEnter` / `onMouseLeave` while inside the bounds of the `ReactRootView`.

These two behaviors need to be consistent so we have a reliable contract for `onMouseEnter` / `onMouseLeave`.

###

[2021-11-18 19:10] chrisglein commented on #9155
- InteractionManager.runAfterInteractions is not working,

There was an issue with animations that was recently patched. #9157. Does that sound like what you were hitting?

That one sounds different. Can you elaborate at all or provide any code snippet that repros?

[2021-11-18 19:14] chrisglein commented on #9162
Thanks for the detailed issue report, @creambyemute. Sorry that the documentation hasn't been clear here. Let me see if we can bring in someone to help unblock you and also get the documentation better expanded for the next person.

Since I think this is a documentation issue I'll move to the repo where that article lives.

[2021-11-18 19:25] chrisglein commented on #9171
There's an expectation from the Windows control set that if you are holding the mouse button down while hovering off of a control that the hover state is still reported. This is a way to "abandon" a click on a Button, actually - move your mouse off while holding the click, then release the click while no longer hovered. Does your proposal affect the ability to meet that behavior?

[2021-11-18 20:24] rozele commented on #9171
@chrisglein - no, that behavior is broken today. The real problem here is the inconsistent treatment of `onMouseEnter` / `onMouseLeave` events for when the pointer is inside the root view and outside of it. I see now that this inconsistent treatment is a legacy of suppressing `onMouseEnter` / `onMouseLeave` events in `PointerMoved` when the pointer is down, as we wanted to differentiate between `o

[2021-11-18 20:55] rozele commented on #9171
I think based on the feedback thus far from @chrisglein, @asklar, and @acoates-ms, we should merge #9173 to fix this, rather than #9172.

[2021-11-19 01:10] jonthysell opened #9179 "Telemetry "backwards compatibility" allows older events to fire when running `react-native-windows-init`"
### Problem Description

Our CLI commands used to call the Application Insights APIs directly (via `Telemetry.client`) to fire events. The telemetry refactor in #8253 provided a new set of abstracted APIs for our CLI commands to call, and made `Telemetry.client` private.

Calling `npx react-native-windows-init` always uses the latest version with latest telemetry library. When creating the RNW pro

[2021-11-19 01:19] jonthysell commented on #9179
The only solution to this I can think of (since we can't remove or prevent the calls from RNW versions already published without causing an actual error) is to add a custom telemetry processor that allow-lists on acceptable events, so AI itself won't submit the bad event.

[2021-11-19 01:41] jonthysell opened #9180 "When calling `react-native-windows-init`, paths in error telemetry will always be sanitized"
### Problem Description

We have code which aggressively sanitizes error messages and stack frames to remove paths that might contain PII. However, we have an allowlist of packages for which we want to keep parts ofpaths, specifically for all of our own libraries.

So `c:\secret-project\node_modules\react-native-windows-init\index.js` becomes `[node_modules]\react-native-windows-init\index.js`.

H

[2021-11-19 04:08] GriffinSoliminiMSFT opened #9181 "Debugger doesn't automatically reconnect when using Hermes Engine"
### Problem Description

Debugger doesn't automatically reconnect when using Hermes Engine.

### Steps To Reproduce

1. Launch a RNW application (0.66) using Hermes, and connect a debugger via the Hermes Inspector.
2. Observe that when code hits a breakpoint, execution stops and debugging information is shown.
3. Restart the application
4. Observe that breakpoints are now skipped, execution contin

[2021-11-19 10:15] tero-paananen opened #9182 "TextInput securetext is editable when editable is disabled"
### Problem Description

Following `TextInput` should be not editable but it is editable.

[code]

It is not editable if `secureTextEntry={false}`

Tested on **react-native-windows 0.65.8**

### Steps To Reproduce

Code above

### Expected Results

TextInput is not editable

### CLI version

6.0.0

### Environment

[code]

### Target Platform Version

_No response_

### Target Device(s)

_No respo

[2021-11-19 10:34] NickGerleman opened #9183 "[UT Timeout] `getNpmVersion() is valid` -- `@react-native-windows/telemetry` -- `src/test/versionUtils.test.ts`"
From CI, running on a quad-core machine with SSD, Node 16 with NPM 8.

https://dev.azure.com/ms/react-native-windows/_build/results?buildId=243798&view=logs&j=535198f9-5290-560b-cf5a-5b218edc34cc&t=d20bebb2-ce95-5535-0bb8-3ac674ec850d&l=2198

[code]

![image](https://user-images.githubusercontent.com/835219/142608118-fb409c45-b055-4fde-b34d-b4e88b04f149.png)

[2021-11-19 10:36] NickGerleman commented on #9183
FYI @jonthysell

[2021-11-19 10:55] NickGerleman commented on #9155
@chrisglein I think the linked issue should fix the FlatList one as well. On first render, FlatList only renders the first [`initialNumToRender` (default 10)](https://reactnative.dev/docs/flatlist#initialnumtorender) children. It starts rendering more in batches, once the app is idle. It does this via an internal API called `Batchinator`, that I think indirectly uses, `InteractionManager.runAfterI

[2021-11-19 11:01] NickGerleman commented on #9155
It needs to be backported to 0.66 and 0.67 though.

[2021-11-19 11:08] NickGerleman commented on #9155
@rozele I think this regression came with another one the changes you brought to the repo (https://github.com/microsoft/react-native-windows/pull/8418). Would you be able to make a PR backporting your fix to the affected branches?

[2021-11-19 21:34] asklar opened #9185 "Hermes.dll does not have version information"
It's important to stamp the version into the binary so tools can identify it and "do the right thing" since the Hermes API is not ABI safe and unstable across versions.

[2021-11-20 00:13] NickGerleman commented on #3874
Should be fixed since 0.64 with https://github.com/microsoft/react-native-windows/pull/6728

[2021-11-20 00:13] #3874 closed

[2021-11-20 18:58] asklar commented on #8581
Looks like this was due to this VS bug: https://developercommunity.visualstudio.com/t/Visual-Studio-2019-version-16113---Pac/1538001

[2021-11-21 13:23] Omar-Belghaouti commented on #4432
Yeah, Flyouts too

[2021-11-22 19:06] jonthysell opened #9191 "Native tests are not running in 0.65-stable"
The CI for 0.65 broke by a change the agent pool (PR #9105) which was automerged in by the bot despite not passing the checks.

In trying to get that working again, I've discovered that tests weren't always running to begin with.

The Native tests were silently failing even before that pool change, in CI and PR ([example](https://dev.azure.com/ms/react-native-windows/_build/results?buildId=245058&

[2021-11-22 19:12] chrisglein commented on #9181
@Khalef1 @mganandraj @tudorms  Should we track issues like this against the Hermes repo or here?

[2021-11-22 19:14] chrisglein commented on #9182
When you set `secureTextEntry` it switches between 2 different underlying XAML controls. `PasswordBox` vs. `TextBox`. In the switch between those controls it's possible that something's not being copied over or property set order matters or something like that.

[2021-11-22 19:16] chrisglein commented on #9185
@mganandraj @tudorms Should be simple to add, yeah?

[2021-11-22 19:19] chrisglein commented on #9191
These were passing before, but something resulting from changing the build agent (#9105) caused this and the but merged without the standard checks.

[2021-11-22 19:21] chrisglein commented on #9155
@NickGerleman @rozele Does that mean we have a fix in main that needs to be backported or that we're still waiting on one and when we do it should be backported?

[2021-11-22 19:25] chrisglein commented on #9171
Adding @rectified95 to weigh in on this.

[2021-11-22 20:22] Khalef1 commented on #9181
I would prefer to track all Hermes related asks in the Hermes repo.

Having said that, part of the Hermes debugging code is living in the RNW repo, and the fix may need to be made there. If that's the case, then keeping the issue in RNW would make sense.

@mganandraj - any thoughts on where the fix will likely need to be?

[2021-11-22 20:44] #9166 closed

[2021-11-22 21:06] chrisglein commented on #9185
Tracking on the Hermes repo.

[2021-11-22 21:06] #9185 closed

[2021-11-22 21:09] #8476 closed

[2021-11-23 11:54] NickGerleman commented on #9155
Yes, the PR you linked needs to be backported.

[2021-11-23 15:36] mganandraj commented on #9181
The issue is in proper tracking of session I'd. This fix will most likely be in RNW glue code.

[2021-11-23 18:04] AgneLukoseviciute opened #9194 "Upgrade Microsoft.NETCore.UniversalWindowsPlatform"
We [upgraded to 6.2.9 in May, 2020](https://github.com/microsoft/react-native-windows/pull/4975) - might be a good idea to upgrade to 6.2.13 to get current.

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows/pull/9177#discussion_r753518230_ in reference to the Upgrade Microsoft.NETCore.UniversalWindowsPlatform version.

[2021-11-23 20:00] #9183 closed

[2021-11-23 22:01] jonthysell opened #9196 "Upgrade to WinUI 2.8"
### Summary

We currently target WinUI 2.7. When WinUI 2.8 releases we'll want to upgrade.

### Motivation

WinUI 2.8 brings improvements, especially in that adds in support for WebView2.

### Basic Example

_No response_

### Open Questions

_No response_

[2021-11-23 22:02] jonthysell commented on #9196
We'll probably want to run a test and see how our code handles running on the 2.8 prerelease: https://www.nuget.org/packages/Microsoft.UI.Xaml/2.8.0-prerelease.210927001

This will also help validate the logic we added in https://github.com/microsoft/react-native-windows/pull/9195 works properly.

[2021-11-23 22:07] AgneLukoseviciute opened #9197 "Start Marking Windows App SDK dim-down features"
_Originally posted by @asklar in https://github.com/microsoft/react-native-windows/pull/9177#discussion_r753523930_:

We should start marking the dim-down features somehow.
[non blocking for this PR]
Here is one idea: have a FrameworkCapabilities API, which returns different things in UWP vs WinAppSDK vs. xaml islands, e.g.:

[code]

This would then enable us to:
- autogenerate docs based on the f

[2021-11-24 15:16] NickGerleman commented on #9155
@rozele is backporting the fix on your radar?

[2021-11-24 15:19] #9054 closed

[2021-11-24 18:12] jonthysell commented on #9191
Tried to fix this in #9188, but now we have other problems. :(

[2021-11-24 20:18] rectified95 commented on #2784
Looks like this was done in 2020, both deprecation and then removal - closing this issue.

https://github.com/microsoft/react-native-windows/pull/5047
https://github.com/microsoft/react-native-windows/pull/5844

[2021-11-24 20:18] #2784 closed

[2021-11-24 20:50] rectified95 commented on #5511
We haven't really heard of a need to use this - seems like onFocus callback should be enough for this. Can revisit based on future need.

[2021-11-24 20:50] #5511 closed

[2021-11-24 20:54] #9179 closed

[2021-11-25 01:24] jonthysell commented on #9191
PR #9202 fixes CI running in 0.65, but does not help with 65 actually running the native tests.

[2021-11-25 01:27] jonthysell commented on #9191
It's possible this is due to not loading the GoogleTestAdapter properly, as that logic was moved to it's own yml in 66 and therefore might be different in 65.

[2021-11-25 06:59] #9180 closed

[2021-11-25 07:40] ahmouse15 opened #9205 "Add Windows support to react-native-webrtc"
### Module

react-native-webrtc

### Module repo url

https://github.com/react-native-webrtc/react-native-webrtc

### Target Version

0.60

### Existing issue url

https://github.com/react-native-webrtc/react-native-webrtc/issues/952

### Existing windows implementation?

- [ ] Legacy/C# implementation

### Which app/customer is requesting this module?

Myself

### In what scenarios will this modu

[2021-11-25 07:40] #9205 closed

[2021-11-26 12:49] asklar commented on #9057
@sbanni since this is likely related to packaging, is this something you could take a look?

[2021-11-29 16:29] rozele opened #9206 "Tracking animation nodes do not restart correctly"
### Problem Description

When attempting to start a tracking animation from an animation that is already running, the animation pauses at it's current value and does not restart.

### Steps To Reproduce

1. Open RNTester > Native Animated example
2. Scroll to the tracking animation example
3. Click the animation twice (once to start, then again to update while the animation is running).

### Expec

[2021-11-29 17:08] chrisglein commented on #9206
Same as #8419?

[2021-11-29 18:55] sbanni commented on #9057
If I understand this correctly, some of the projects changed to target 19041 but some of the projects are still targeting 18362 and there is an error that the .Package project throws saying that there are two files with the same name but different contents.

I see that the .wapproj is targeting 19041 and the appservicedemo.csproj is targeting 18362.

The .Package project is asking all the referenc

[2021-11-29 19:04] jonthysell opened #9208 "Component governance can (and should) only run in CI/Publish, not PR"
### Problem Description

The CG task will always fail when running in PR, because PRs run in the submitter's credentials, which don't have permission to contact CG. So it's a waste of a couple minutes.

### Steps To Reproduce

Create a PR.

### Expected Results

_No response_

### CLI version

npx react-native --version

### Environment

[code]

### Target Platform Version

_No response_

### Targ

[2021-11-29 19:10] chrisglein commented on #9194
@AgneLukoseviciute there likely are side effects with .NET Native and other things, right? Any idea how disruptive this will be? When should we tackle this?

[2021-11-29 23:09] vmoroz opened #9216 "Your feature request"
### Summary

Report error in IJSValueReader if data shape is wrong

### Motivation

When we implement ReadValue function overload to deserialize strongly-typed object, we may experience cases when the source data does not satisfy the type's constraints. We must have a facility to report such errors from the custom ReadValue methods.
The simplest way to do it is to add a new IJSValueReader2 interfa

[2021-11-30 00:14] #9208 closed

[2021-11-30 00:30] chiaramooney opened #9217 "Remove Patch for Virtualized List Tests"
From https://github.com/microsoft/react-native-windows/pull/9214/,

FillRateHelper-test.js
FlatList-test.js
SectionList-test.js
ViewabilityHelper-test.js
VirtualizedList-test.js
VirtualizedSectionList-tests.js
VirtualizeUtils-test.js

have incorrect prettier formatting. Forked files in order to restore `yarn validate-overrides` build until files are updated.

[2021-11-30 03:33] aschultz opened #9218 "Expose props for setting TextLineBounds and LineStackingStrategy"
### Summary

XAML has two properties which control the bounding region and layout of each line of text: [TextLineBounds](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.TextLineBounds?view=winrt-22000) and [LineStackingStrategy](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.LineStackingStrategy?view=winrt-22000).

Both of these properties should be exposed as React props on the

[2021-11-30 06:13] tero-paananen commented on #9057
This issue exists after updating from React Native Windows 0.62/0.63/0.64/0.65 to 0.66.

If you have package project that builds and then you take some for example React Native Community module in your project that has different TargetPlatformVersion what is in your project, your project does not build anymore. Developers should patch TargetPlatformVersion of that new module.

(Or is there current

[2021-11-30 07:05] tero-paananen commented on #9057
I mean that there was no this issue when updating between for example 0.64 to 0.65. This exists now when updating to 0.66

[2021-11-30 07:18] tero-paananen commented on #7797
Now i have valid event also in `"react-native-windows": "0.65.9"`

[2021-11-30 07:18] #7797 closed

[2021-11-30 14:49] vmoroz commented on #7797
Thank you for confirming it!

[2021-12-01 01:59] nichamp commented on #8010
@asklar and @chrisglein - we have seen a spike in Watson for hits for this issue (note that the code is using 0.64 in that scenario) as the code is being more widely run and on debugging further the issue is evidently with the implementation of the lambda in ~UIManager where it is not explicitly freeing the UIManagerModule on the ASTA as the code intends. Trivially it appears that the following ad

[2021-12-01 02:20] NickGerleman commented on #8010
There is code that attempts to ensure UIManager dtor is run on the correct thread. I rmemeber there being a bug somewhere around here before, but @vmoroz, @acoates-ms would better know the details.

[2021-12-01 02:21] asklar commented on #8010
@nichamp The code you mentioned is already present in 0.64, as of 14 months ago: https://github.com/microsoft/react-native-windows/blob/0.64-stable/vnext/Microsoft.ReactNative/Modules/PaperUIManagerModule.cpp#L512-L517

Perhaps you are snapped to a really old version of 0.64?

[2021-12-01 02:24] nichamp commented on #8010
@asklar no, that is present but it doesn't work as intended. The delta from what I included above is that I am explicitly freeing module on the correct thread. The original code appears to still have the ~UIManagerModule destructor called from the MTA thread, likely because the lambda itself is not freed on the ASTA.

[2021-12-01 17:39] chiaramooney opened #9223 "Remove ReactNativeVersionCheck from List of Disabled Files for Flow"
Creating issue here to track source change during an integration from upstream. ReactNativeVersionCheck.js and ReactNativeVersionCheck.win32.js are throwing errors due to type mismatch for the prerelease parameter following recent change to react-native's prerelease version syntax.

[2021-12-02 16:28] rozele opened #9227 "NativeAnimated RNTester example crashes for Release x64 builds"
### Problem Description

RNTester crashes on a Yoga assertion for Release builds when attempting to open NativeAnimated

### Steps To Reproduce

1. Clone latest
2. Build and run Playground Release x64
3. Load RNTester
4. Attempt to open NativeAnimated examples

### Expected Results

Playground should not crash.

### CLI version

npx react-native --version

### Environment

[code]

### Target Platf

[2021-12-02 18:30] rozele commented on #3460
This also blocks use of native animations in some scenarios for us as well.

[2021-12-02 19:57] chiaramooney opened #9232 "Community Modules missing ARM64 Support are incompatible with 0.67 Apps"
### Problem Description

The DateTimePicker, Picker, and WebView community modules do not support the ARM64 configuration. When these modules are added to an RNW app running on 0.67 they fail to load because the app solution file expects ARM64 to be a supported confiugration.

### Steps To Reproduce

1. Create 0.67 RNW app.
2. Add modules listed above as dependencies.
3. Open app solution.

### Ex

[2021-12-02 21:14] rozele commented on #9155
Not currently 😬

[2021-12-03 00:31] chiaramooney commented on #8968
Closing resolved build issue in WebView module without additional code edits to RNW needed.

[2021-12-03 00:31] #8968 closed

[2021-12-03 08:40] creambyemute commented on #9232
@chiaramooney DateTimePicker now supports ARM64! V 4.0.1 was released with my PR that added ARM64 support.

Cheers

[2021-12-03 14:50] NickGerleman commented on #9232
Picker 2.0 should also now support ARM64 with https://github.com/react-native-picker/picker/pull/311

[2021-12-03 14:51] NickGerleman commented on #9232
We've supported ARM64 for a while now though. Any idea why 0.67 would make things worse?

Could you include the error VS gives when loading the solution?

[2021-12-03 19:35] chrisglein opened #9236 "Out for the holidays! ❄😴⚛😊"
Many of our core contributors are taking some much needed vacation throughout December 2021. Thank you for being patient while we relax, recharge, and return to a normal responsiveness in January 2022. In the meantime feel free to continue to pose questions, open issues, and make feature requests - you just may not get a response right away.

[2021-12-03 19:36] chrisglein commented on #9236
Well said, automated bot response!

[2021-12-04 07:19] #7178 closed

[2021-12-04 07:19] #8171 closed

[2021-12-06 12:37] rahman2835 opened #9240 "Unable to transfer/perform deep linking with more than 100Kb data using Linking.OpenUrl"
### Problem Description

Unable to perform deep linking using Linking.OpenUrl with more than 100 Kb json string data.

Below is the sample.

 Linking.openURL(url).catch(error => {
            dispatch(openActionSheet({ instanceId: referrer, errorType: 'APP_NOT_INSTALLED' }));
            logger.error(`App-to-App error', ${error}`);
 });

Params:
url : this url param will have more than 100 Kb json

[2021-12-06 18:06] chiaramooney opened #9241 "react-native-platform-override README in npm is Blank"
### Problem Description

react-native-platform-override README in npm just contains the word "none" missing information it used to contain such as package purpose, command line options for the package, etc.

### Steps To Reproduce

Follow link: https://www.npmjs.com/package/react-native-platform-override

### Expected Results

_No response_

### CLI version

N/A

### Environment

[code]

### Targe

[2021-12-06 18:17] NickGerleman commented on #9241
Not seeing this locally when I go to that link.
![image](https://user-images.githubusercontent.com/835219/144900137-a68f5a98-e3ce-459d-866d-ee7711f42558.png)

[2021-12-08 04:47] weidezhong-msft opened #9246 "RNW needs to set the default value of XHR.withCredentials to false in the platform bundle"
### Problem Description

RN's XHR implementation sets the default value of withCredentials to true. This is different from the browser and can unexpectedly leak cookies and other credentials for CORS requests.

The proposal is to overwrite it to false in the platform bundle.

react-native/XMLHttpRequest.js at ef5ff3e055482771cbe866d4961ee2d0a9e00e45 · facebook/react-native · GitHub

### Steps To R

[2021-12-08 08:46] MrWilsonXu commented on #7566
find your node_modules path correctly, add :
pod 'RNScreens', :path => '../node_modules/react-native-screens'

[2021-12-08 16:21] rozele commented on #4220
Looks like this issue can be closed, we no longer include this assert.

[2021-12-08 17:35] namrog84 commented on #4220
Agreed. It looks like now it'll just return a FacadeType::None when not detected. I am going to close this issue.

I double checked to make sure the assert didn't just move, and investigated up the callers of the function, and it looks like its all good to me.

https://github.com/microsoft/react-native-windows/blob/main/vnext/Microsoft.ReactNative/Modules/Animated/FacadeType.h#L50

[2021-12-08 17:35] #4220 closed

[2021-12-08 17:38] rozele opened #9250 "NativeAnimated `getValue` returns incorrect result"
### Problem Description

When stopping animations on an animated value, you can supply a callback that provides the current value. Currently, this value always returns the initial value on the NativeAnimated module.

### Steps To Reproduce

1. Add example that stops an animation and shows the value supplied to the callback, e.g., in RNTester > Native Animated Example
2. Run animation and force it

[2021-12-08 17:53] rozele opened #9251 "Calling `setValue` in NativeAnimated does not update the state correctly"
### Problem Description

When you call `setValue` on an `Animated.Value` node, the expectation is that any active animations will be stopped and the prop node attached to the Animated.Value node will update with the correct value.

### Steps To Reproduce

1. Add an example that calls `setValue` during an active animation
2. Observe the props side effect after calling `setValue` with the JS driver

[2021-12-08 18:49] rozele opened #9252 "Animated.diffClamp does not account for diff in NativeAnimated"
### Problem Description

In the NativeAnimatedModule, `Animated.diffClamp` is implemented as a simple clamp on the value. This is not the intent of the `Animated.diffClamp` node. `Animated.diffClamp` should add the difference between the previous value and the current value to the current value and clamp that. NativeAnimated only clamps the current value.

### Steps To Reproduce

1. Add a simple e

[2021-12-08 18:51] rozele opened #9253 "NativeAnimated crashes when attempting to create an `Animated.diffClamp` node"
### Problem Description

When attempting to create an animation with the Animated API including a `diffClamp` node, when using `useNativeDriver: true`, the app will crash.

### Steps To Reproduce

1. Add an example to RNTester > Native Animated Examples using `diffClamp`, e.g.:
  {
    title: 'Opacity with diffClamp',
    render: function (): React.Node {
      return (
        <Tester type="timin

[2021-12-08 19:10] rozele opened #9255 "Unable to animate arbitrary style props with NativeAnimated"
### Problem Description

The core RN Animated API affords users the ability to animate arbitrary props. For example, you can animate a square to a circle by animating the `borderRadius` prop.

This functionality is not supported by the current implementation of NativeAnimated in react-native-windows.

### Steps To Reproduce

1. Add an example to RNTester > Native Animated Example that animates an

[2021-12-08 20:06] rozele opened #9256 "NativeAnimated commandeers the animated value offset"
### Problem Description

When running an Animated API animation that uses an `Animated.Value` after calling `setOffset` on the value, the NativeAnimated animation does not match the experience for JS-driven animations. The root cause of this is likely because the current implementation of NativeAnimated seems to re-purpose the `ValueAnimatedNode::Offset` property to run the animation.

This is inc

[2021-12-08 20:40] rozele opened #9257 "App crashes when reloading JS while animation active"
### Problem Description

While an animation is running and you attempt to reload JS, the app crashes. This can be reproduced easily by opening the RNTester > Native Animated Example and attempting to reload JS from there.

### Steps To Reproduce

1. Open RNTester > Native Animated Example
2. Press `Ctrl + Shift + D` to open the debug menu
3. Click "Reload Javascript" option in debug menu
4. App cr

[2021-12-08 22:40] rozele commented on #9250
The example shown is actually not a good one. Re-reading through the code in core RN, it doesn't look like this would work for any platform. We should probably fix that bug in RN core, but detaching a props animated node also uses the `NativeAnimated.getValue` API, and since that would be called synchronously in the same batch as `StopAnimation`, it's likely to return the incorrect value.

[2021-12-08 23:37] nichamp opened #9259 "Microsoft.ReactNative.vcxproj sets Link.AdditionalOptions without %(AdditionalOptions) discarding config from ExperimentalFeatures.props"
### Problem Description

Microsoft.ReactNative.vcxproj sets Link.AdditionalOptions without %(AdditionalOptions) discarding config from ExperimentalFeatures.props such as setting "/DEBUGTYPE:CV,FIXUP" to allow Microsoft.ReactNative.dll to pass CfgChk as part of [PkgESSecComp](https://www.osgwiki.com/wiki/Package_ES_Security_and_Compliance) as is required for many Microsoft-internal pipelines. This

[2021-12-09 05:16] liudonghua123 opened #9260 "Get-ChildItem : Cannot find path 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Community C:\Program Files\Microsoft Visual Studio\2 022\Community\Common7\IDE\Extensions\' because it does not exist."
### Problem Description

I followed the instruction on https://microsoft.github.io/react-native-windows/docs/getting-started#install-react-native-for-windows, and when I run `npx react-native run-windows` or `yarn start`, I got the following errors.
[code]

So I go through the `rnw-dependencies.ps1:174` and found the problem is `$vsPath` has two values in my environment.

https://github.com/micros

[2021-12-09 05:21] NickGerleman commented on #9246
@weidezhong the devmain HTTP client currently does not share code with the open-source version we have in this repo.

cc @JunielKatarn

[2021-12-09 05:35] NickGerleman commented on #9259
I know folks added instructions to do this into the RNW docs, but please be careful about adding MSBuild props to `ExperimentalFeatures.props` that are not already present and documented. I added the property sheet to allow customizing a couple of predefined properties that we know are safe, but folks discovered they could use it as a backdoor to accomplish other goals.

In the future we will be d

[2021-12-09 05:45] NickGerleman commented on #9260
cc @chrisglein @asklar this is the second person who hit the regression that prevents building with multiple versions of Visual Studio. See https://github.com/microsoft/react-native-windows/issues/8471 for the other. Are we providing any support for the dependencies script?

I added a workaround in https://github.com/microsoft/react-native-windows/pull/8571 that silences failures in the dependency

[2021-12-09 05:50] liudonghua123 commented on #9260
@NickGerleman Thanks for you resources. Now I add a `--latest` option in vswhere locally, then everything worked.
[code]

[2021-12-09 05:54] NickGerleman opened #9261 "Reenable tests for react-native-doctor"
https://github.com/react-native-community/cli/pull/1515 broke all of our tests, including in PR

Until it can be reverted upstream, I've disabled running doctor in our tests, since it is now broken on Windows. https://github.com/microsoft/react-native-windows/commit/7e947034a41171619b331e665558b5a418fa4040

[2021-12-09 14:23] NickGerleman commented on #9259
With all that said, I can't think of a reason not to add the specific flags used by PkgEs compliance tools to our official configuration. That would also add it to our officially distributed binaries.

[2021-12-09 15:46] NickGerleman commented on #9259
https://github.com/microsoft/react-native-windows/pull/9267 enables fixup debug information in our official logic

[2021-12-09 18:42] nichamp commented on #9259
Photon will need to use ExperimentalFeatures.props and build from source as there are a number of other custom configurations that are required for our scenarios beyond compiler flags for compliance so consuming the NuGet packages would not be likely.

That is true, but that alone is not the only flag required for compliance and that one merely allows CfgChk to proceed. Others are required for Che

[2021-12-09 18:53] NickGerleman commented on #9259
The MSBuild properties internal to our projects are not a public surface, and will continue to change.

@nichamp let me know if you'd like to chat later this week about how we might be able to meet Photon's goals. I have a feeling we can do a lot with public surfaces.

Otherwise a common tactic in the RN ecosystem is to maintain a source-fork, with any sort of changes to build logic there.

[2021-12-09 18:59] nichamp commented on #9259
I don't think most of the items in the link I provided above would have such existing "public surface". For the purpose of this issue, I am just asking that msbuild variables follow the usual convention of checking if something is already set before assigning, or for lists aggregating accordingly.

[2021-12-09 19:11] NickGerleman commented on #9259
I did some cleanup for that specific change here https://github.com/microsoft/react-native-windows/pull/9266/files

Just want to make sure there's clarity that, in the general sense, changes to the MSBuild properties internal to our projects are expected, and will  happen version to version.

[2021-12-09 19:17] nichamp commented on #9259
Yeah, understood. I wasn't expecting any warranties given custom msbuild variables are not an API surface - just that we can quickly address the issues when they come up. Though for more standard ones defined for typical vcxproj (e.g. compiler and UWP props) I would hope we can keep those configurable.

[2021-12-09 19:22] #9261 closed

[2021-12-09 19:27] NickGerleman commented on #9259
That list, is I think what we should try to make public.

Right now, when you generate a new app, you get an "ExperimentalFeatures.props" file with a list of default settings and their descriptions.

We could expose a similar file, for specifics like Windows SDK, Linker settings, WinUI version, etc.

That helps create a contact, of the properties you can customize for doing custom source builds.

[2021-12-09 20:34] rozele commented on #9250
Note - getting the correct value for AnimatedValue when calling `stopAnimation` was just added here: https://github.com/facebook/react-native/commit/8ba771c3ddc00b1499e95a2812b4cd5ac904c8df

[2021-12-12 01:48] jbcullis commented on #9155
This one stumped me for a minute too, we are in the process of making an existing iOS / android app work with react-native-macos and react-native-windows.
Already have the macOS going but we need to set useNativeDriver to false for the windows app to work.
I'll add the fix to our build and see if it resolves the issue.

[2021-12-13 11:05] qmatteoq opened #9271 "Error initializing RNW in a React Native project"
### Problem Description

When I call `npx react-native-windows init --overwrite` in a folder which contains a new React Native project, I get the following error:

[code]

If I try to perform the same initialization command again after the error, the second time it works, and Windows support gets added succesfully.

### Steps To Reproduce

1. Create a new React Native project following the [Get st

[2021-12-13 19:42] #8824 closed

[2021-12-14 19:56] rozele opened #9280 "Animated.divide crashes the app"
### Problem Description

Any time `Animated.divide` is used, the app crashes. The reason for this is that it calls the base `ValueAnimatedNode` constructor that expects the node config contains an initial `value` and `offset`.

### Steps To Reproduce

1. Add an `Animated.divide` node to any animation, e.g.:
[code]
2. Attempt to run the code with the `Animated.divide` node.
3. App crashes

### Expe

[2021-12-15 16:31] rozele opened #9284 "[2/3] Add (and upstream) option to toggle between CompositionTarget::Rendering and UI.Composition animations"
### Summary

There are still many issues with the UI.Composition approach for NativeAnimated. In #9249, we extended the animation drivers and nodes to use CompositionTarget::Rendering to solve problems like jitter when restarting animations, options to animate arbitrary props (e.g., `borderRadius` on native components, etc.

This change forks the Animated JS code to support platform configuration

[2021-12-15 22:25] rozele commented on #9250
Looks like this could be a dupe of #5958, cc @rectified95

[2021-12-16 01:30] rozele commented on #9206
Not quite - I fixed #8419 separately.

[2021-12-16 01:31] rozele commented on #9206
This seems to be a problem with the same animation ID being used multiple times for TrackingAnimatedNodes, which prevents the new animation from being set to the m_activeAnimations map in NativeAnimatedNodesManager. I'll have a PR shortly.

[2021-12-16 02:26] rozele commented on #9206
Rather than putting in a separate PR, I merged the necessary changes into #9190.

[2021-12-16 22:31] luisnaranjo733 opened #9292 "ref.focus() doesn't work after 1st render, requires ugly workaround"
### Problem Description

Calling ref.focus() on a touchable or pressable component doesn't work right away.
But if you set a 1ms timeout and then try again, it works.

More details in the [README ](https://github.com/luisnaranjo733/rnw-66-focus-issue#readme)of repro of this issue I posted

May be related to being a child of a flat list. This doesn't seem to happen in simpler screens that don't hav

[2021-12-16 22:50] NickGerleman commented on #9292
useEffect is called after the React component is rendered to JS, but the underlying native view is rendered later. I know ref.measure does not work correctly until the component is first presented, for example.

ref.focus internally goes through UIManager.focus, which just calls TryFocusAsyc. Putting a breakpoint on the native side of that would make it a bit clearer as to what's happening. This s

[2021-12-16 23:34] luisnaranjo733 commented on #9292
Good to know. So is the solution here to delay the ref.focus() call with some kind of special post native view render effect hook?  Kind of like useLayoutEffect but after useEffect instead of before? Or is the timeout the best we can do at the moment?

I think I found the right [function ](https://github.com/luisnaranjo733/react-native-windows/blob/3fbfd25f87f2acb114fdd3e6c8322df732401608/vnext/Mi

[2021-12-17 02:09] NickGerleman commented on #9292
Yeah, I really wish we had a hook for this...

I added this hack a while back to guarantee the condition reliably, but it does have the potential to add some latency.

[code]

Not being able to focus synchronously itself opens up to race conditions. E.g. the UI thread could move focus by keyboard or screenreader before `ref.focus()` is called. The `Flyout` native component tries to solve this issu

[2021-12-17 05:29] luisnaranjo733 commented on #9292
Here is the view on the JS side, as seen in Chrome debugger
![image](https://user-images.githubusercontent.com/1091547/146493816-d2a291ef-1d7a-47c5-b5d5-b6f66742834d.png)

And here are the expanded contents of the shadowNode on the native side.
![image](https://user-images.githubusercontent.com/1091547/146493541-58f8bd1d-71d7-42f4-bf25-40f75f04686d.png)

On the m_view, I do see a Parent property,

[2021-12-17 06:02] NickGerleman commented on #9292
We can see then that a ShadowNode exists with a view, and a parent shadow node, but the view doesn't have a parent. This means for the `<View>` we try to focus in React has had a corresponding native UIElement created, but the element hasn't been connected to the app's visual tree.

So we cannot focus the component, because the UIElement hasn't been attached to the window's view tree yet.

This fe

[2021-12-17 14:46] jbcullis opened #9295 "TextInput onContentSizeChange fires on render."
### Problem Description

TextInput onContentSizeChange fires on render, but not on next line.

### Steps To Reproduce

Create following element:
<TextInput style={{height: Math.max(40, TextInputHeight)}} onContentSizeChange={(event) => {
    console.warn(event.nativeEvent.contentSize.height);
}} multiline={true} />

### Expected Results

onContentSizeChange should change when new lines are added t

[2021-12-22 12:07] tero-paananen commented on #9057
I will try React Native Windows 0.67 soon and test does it has this same build error...

[2021-12-23 05:45] jbcullis opened #9305 "Image resizeMode not working"
### Problem Description

When adding resizeMode={"contain"} the image fills the container.

### Steps To Reproduce

Create an image element, add resizeMode={'contain'}

### Expected Results

Image should be contained within the container.

### CLI version

npx react-native --version

### Environment

[code]

### Target Platform Version

10.0.19041

### Target Device(s)

Desktop

### Visual Studio

[2021-12-23 09:01] #9241 closed

[2021-12-23 15:48] rozele commented on #9305
This is fixed in v0.67 by f1910dbc63b8bdd00632c399629a2b6d6af96e03, @chrisglein perhaps #8854 should be cherry-picked to v0.66.

[2021-12-23 20:12] datacana commented on #8846
Thank you @tero-paananen for finding this issue! :)

[2021-12-24 03:00] jbcullis commented on #9305
Ahh, sorry, I should have checked the closed issues before posting.
Implemented and resolved...thanks!

[2021-12-24 03:00] #9305 closed

[2021-12-27 01:21] grahamlyus opened #9310 "AllowAutoRedirect should be false"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-windows@0.64.27` for the project I'm working on.

AllowAutoRedirect is true by default, and this causes network requests to fail without much information other than "Unhandled exception during request" . Using the debugger, I found this was due to 0x8

[2021-12-27 02:07] thatsofia commented on #1006
So that must be what the Xbox app is then?

Odd that I couldn't find a guide on getting a tray icon... One that has a context menu that supports HiDPI at that too.

[2021-12-27 18:19] rozele commented on #9292
The way we've worked around this in the past, e.g., for `autoFocus` properties on components like `TextInput`, is to wait for the XAML `FrameworkElement::Loaded` event. I wonder if we should add a `FrameworkElement::IsLoaded()` check to the `UIManager::focus` method, and if it's not loaded, add a `Loaded` callback. It's probably not quite that simple as you'd also need to ensure the focus call was

[2021-12-28 08:40] Yash621 commented on #7616
@NickGerleman can I work on this ?

[2021-12-28 16:07] creambyemute opened #9315 "Access Denied on ApplicationFolder if path contains Umlaute/Acentuated characters"
### Problem Description

We had a few weird bug reports from Users that were not able to login to the app at all. It hung on the Login-Screen.
After some investigation, it turned out that these Users all had an Umlaut or Acentuated Character in their Windows-Username and ran into an "Access Denied" when the App tried to create a folder within itself.

Funny enough, If you make this user an admin,

[2021-12-28 17:40] chiaramooney commented on #7087
@stmoy We should be able to close the copy of this issue present in the react-native-video repo, since this is a Windows navigation issue. Once we get the work wrapped up with react-native-screens, this issue should resolve itself. I'll leave this issue open, so we can make sure to check this case is resolved.

[2021-12-29 10:43] iwater commented on #9271
+1

[2021-12-30 09:43] creambyemute commented on #6627
@stmoy React-Native-Restart now has a C++ Implementation.

I just tested it and it works great 👍

[2021-12-30 19:34] chiaramooney commented on #8654
From discussion on the sister issue, it seems this situation is hit when the developer uses npm instead of yarn.

"react-native-windows appears to define the core CLI as a dev dependency, not a real dependency...We may not be seeing this because yarn might be covering it up (looks like you have yarn but aren't using it for this, which might be the difference)."

Fix here could be moving core cli t

[2021-12-30 20:23] chiaramooney commented on #8649
Looks like my PR got closed from inactivity. @chrisglein @asklar do we have a final decision here on if we want this documentation or not? If yes, I'll reopen the PR. Otherwise, I'll go ahead and close this issue to wrap up this issue.

[2022-01-01 14:21] jbcullis opened #9322 "await blocking animation when useNativeDriver: true"
### Problem Description

If you have a function that fetches data using async/await, and then run an Animated.timing at the end of that function, the animation will not run.

### Steps To Reproduce

Add an offset to the state
`this.setState({ViewOffset: new Animated.Value(300)});`

Function to get data and run animation - will slide ui in from right
[code]

UI
[code]

### Expected Results

Animati

[2022-01-03 17:36] #9236 closed

[2022-01-03 18:12] chiaramooney commented on #9232
Closing issue now resolved with version upgrades.

[2022-01-03 18:12] #9232 closed

[2022-01-03 19:11] chrisglein commented on #9218
If there's a gap here RN-wide then we'd want to make sure whatever solution we come up with is communicated out so we can have alignment across RN platforms, even if we do something for Windows first.

[2022-01-03 19:12] chrisglein commented on #9218
@aschultz Do you have any workarounds you're employing in the meantime to get your text measurement exact? How blocked are you? Coming up with a solution here that aligns all of RN will take more time.

[2022-01-03 19:15] chrisglein commented on #9223
Results from us adding "-preview" in our release names.
I assume there's a patch file in place for our workaround - @chiaramooney can you add links to the integration PR? Sounds like we'd need an upstream change to eliminate the need for a patch here.

[2022-01-03 19:17] chrisglein commented on #9227
@rozele Happen to have the assertion information/callstack?

[2022-01-03 19:19] chrisglein commented on #9240
Not sure where the failure is at first glance. This could be failing at the UWP layer where there are restrictions around how big a URL can be. In which case there's not much we can do. There's going to be some limit, not sure what that is. We should figure out where that limit is enforced.

Workaround would be to find some intermediate place to store that data and only pass the link to that.

[2022-01-03 19:23] chrisglein commented on #9250
Agreed, that sounds like the same issue. Closing this one as a duplicate.

[2022-01-03 19:23] #9250 closed

[2022-01-03 19:24] chiaramooney commented on #9223
Edits needed to restore RNW:
https://github.com/chiaramooney/react-native-windows/blob/a260f9733df204b1cc26dd50152142630ebb45b5/packages/%40office-iss/react-native-win32/src/Libraries/Core/ReactNativeVersionCheck.win32.js#L52

https://github.com/chiaramooney/react-native-windows/blob/a260f9733df204b1cc26dd50152142630ebb45b5/vnext/src/Libraries/Core/ReactNativeVersionCheck.windows.js#L1-L57

ReactN

[2022-01-03 19:29] chrisglein commented on #9255
I assume this class of animation will be stuck running on the UI thread, because none of these values are handled directly by the rendering thread (composition animations). That does add some complexity in that animations are running in two places.

We should step back and talk about the overall story of composition animations vs. UI thread animations (dependent animations, in XAML terms) and what

[2022-01-03 19:38] chrisglein commented on #9260
Seems like adding `--latest` to the dependency script will handle this. That does mean we might get noise from prerelease builds of VS that we haven't tested yet, although those are issues we'll have to track eventually. It also means there's ability for someone to choose which version they use here (if they don't want latest). But for the most common case, using latest seems like the right case.

[2022-01-03 19:40] chrisglein commented on #9271
In triage hearing that a number of people have also seen this. We should investigate.

[2022-01-03 19:45] chrisglein commented on #9292
Do any of the other platforms have to handle this case where there's a timing difference between the nodes being available and the focus request?

I don't believe XAML has a way to declare the focus presence up front. This needs some thought for how to fix reliably.

[2022-01-03 20:00] acoates-ms commented on #9246
The default value is currently in JS not in native.

Note this bug is for the win32 platform, not the windows one.

https://github.com/facebook/react-native/issues/14063 has a long discussion from when RN tried to make this change in core.  -- Given how that went, I do not believe we can change the default in the windows platform.

Perhaps we can make the default configurable from the native side,

[2022-01-03 22:36] jbcullis opened #9327 "Wrong cursor when hovering disabled TextInput"
### Problem Description

When we have a TextInput set with focusable={false} editable={false} - the cursor will still change on hover.

### Steps To Reproduce

Create the following element:
<TextInput editable={false} focusable={false} />

Hover over the element to see the cursor change.

### Expected Results

Cursor should ignore disabled elements.

### CLI version

npx react-native --version

##

[2022-01-03 23:00] asklar opened #9328 "e2etestapp references boost nuget"
https://github.com/microsoft/react-native-windows/blob/17861f726533cb7907d9ad0ff3fd2083125f2de6/packages/e2e-test-app/packages.config#L3

it looks like the e2e test app is referencing the boost nuget package (which is for C++ code), but the e2e test app is C#.
Moreover it isn't clear why we need a packages.config for a C# project, the project should be using PackageReference already anyway

[2022-01-03 23:02] asklar opened #9329 "Eliminate or reduce unneeded dependency on boost"
For the most part, we don't need much from boost:
- Office desktop code uses, can we isolate to that flavor?
- Folly uses it (does it need to?)
- RNW code uses it for trivial things like string::ends_with or starts_with. These should be available with std::latest or maybe even std::cpp23
- Some test code uses it, can trim down

Rationale: boost is a large dependency - around 180 MB; trimming down

[2022-01-04 01:02] chrisglein commented on #8649
Yep, we talked about it in October-ish. You can reopen the PR.

[2022-01-04 05:28] sakthivel-servicemax commented on #9155
did these changes port to 0.66 also? we need this immediately for our upgrade. When can we expect this ported to 0.66
So we can  plan accordingly?

[2022-01-04 20:05] aschultz commented on #9218
AFAIK, it's not possible to work around this aside from patching the Text component to support the property. We have cases where devs manually added padding or margins to position text correctly, but they're extremely fragile and specific to each usage of a control.

Looking at [RN's iOS code](https://github.com/facebook/react-native/blob/8bd3edec88148d0ab1f225d2119435681fbbba33/Libraries/Text/Tex

[2022-01-04 20:43] aschultz commented on #8275
@chrisglein @NickGerleman Any word on this?

[2022-01-04 21:06] chrisglein commented on #8275
This is something we are tracking on our 2022 Jan-May schedule. Returning now in the new year we'll be vetting that and getting more specific on timelines.

[2022-01-04 23:46] TatianaKapos commented on #5937
Yep, looks like ".binlog" has to be in the react-native core template to catch binlog files since they appear in the root project directory instead of the windows folder.

Would the next steps be to figure out how to add ".binlog" to the react-native core template through _npx react-native-windows-init --overwrite_ or ask react-native core to add it to their template? @chrisglein

[2022-01-05 00:49] asklar commented on #9271
I can repro this but I'm not sure yet what's going on.
As @qmatteoq mentioned, running it a second time, everything works, but obviously it shouldn't be necessary to run it twice :)

it looks like the init script is falling down a legacy codepath instead of using the 63+ codepath. CC @jonthysell

[2022-01-05 10:47] amit12239 opened #9333 "issue: Dimensions.get('window') return height: 0, width: 0 in iPhone X"
### Problem Description

When app open from quit state through notification with deep link  then Dimensions.get('window') return height: 0, width:  in only iPhone X

### Steps To Reproduce

Use iPhone X and Put app in quit state and send notification which will have a deep link and open app by clicking notification

### Expected Results

_No response_

### CLI version

0.63.2

### Environment

[co

[2022-01-05 13:41] tero-paananen commented on #9057
Same build error on React Native Windows 0.67

[code]

Severity	Code	Description	Project	File	Line	Suppression State
Error	APPX1112	Payload contains two or more files with the same destination path 'Microsoft.UI.Xaml.Markup.winmd', but they have different content. Source files:
C:\Program Files (x86)\Windows Kits\10\bin\10.0.18362.0\XamlCompiler\Microsoft.UI.Xaml.Markup.winmd
C:\Program Files (x86

[2022-01-05 17:07] sbanni commented on #9057
@asklar This does not appear to be a packaging project issue, what is the story for updating the TPV in the react-native project?

[2022-01-05 19:04] jonthysell commented on #9271
Fix will be out shortly.

[2022-01-05 21:36] asklar commented on #9333
I think you have the wrong repo, @amit12239 . This repo is only for React Native for Windows. For iOS/android, please file in https://github.com/facebook/react-native

[2022-01-05 21:36] #9333 closed

[2022-01-05 21:52] #9271 closed

[2022-01-06 07:25] asklar commented on #9271
published a new npm package, should be fixed now.

[2022-01-06 19:10] #9163 closed

[2022-01-06 19:11] chrisglein commented on #9246
We could add an app global switch to core, which would allow apps to customize this without diverging the defaults from RN core and also not require that each callsite get this right.

[2022-01-06 19:12] chrisglein commented on #9295
Probably a mismatch between the underlying method/timing XAML uses for measuring text and how this event plays out.

[2022-01-06 19:14] chrisglein commented on #9310
Thanks for finding this issue and digging in. Could you create a PR with the fix that you've come up with so we can review and test it?

[2022-01-06 19:20] chrisglein commented on #9315
This may be due to a difference in expectations between what the std path uses (probably UTF 8?) and the UWP API expects (UTF 16).

There's not any React Native for Windows logic in the steps you're talking about. This should be logged in the RNFS repo and fixed there. Let me know if I'm not reading this correctly, or if you need help navigating the above.

[2022-01-06 19:20] #9315 closed

[2022-01-06 19:23] chrisglein commented on #9322
ViewOffset is not one of the XAML composition animation options that can be triggered by `useNativeDriver`, so it doesn't know how to animate this. That's a gap between RN animations and XAML animations to date, not yet implemented.

As a workaround you should be able to use native animations for Translate. Does that work for you?

[2022-01-06 19:24] chrisglein commented on #9322
See related discussion in similar issues like this one: #9249.

[2022-01-06 19:28] chrisglein commented on #9328
Also boost takes up a lot of space :).
This seems like a mistake that needs to be cleaned up.
This test app may not even need the packages.config at all. Start by deleting it and seeing if it still works.

[2022-01-06 19:30] chrisglein commented on #9329
There's some clean up in progress here, with some old web socket code deleted this may be able to get clean.

That seems like great clean up that we can do now.

Related #9328. Any others?

[2022-01-06 19:56] chrisglein commented on #9327
This is likely the behavior of the XAML TextBox control and just isn't matching expectation. I've seen that sort of thing before (e.g. https://github.com/microsoft/microsoft-ui-xaml/issues/5487). Certainly an IsReadOnly TextBox still shows the cursor (because you can copy and select out of it). That same policy may have been made for disabled+readonly.

@TatianaKapos Can you check the behavior in

[2022-01-06 20:39] creambyemute commented on #9315
@chrisglein I agree, it's a problem of RNFS and will need to be fixed in there.

I'm trying to find a solution to it and hoped someone here has an idea here on how this needs to be handled in the C++ code.

I've looked at the RNFS and react-native-fetch-blob windows implementations and they all just use the ```std::path``` so the problem will need to be fixed in both libraries.

[2022-01-06 23:43] namrog84 commented on #9315
Our internal RNFS implementation (since RNFS didn't have a c++ impl before) was having the same issue. And was waiting on that C++ branch to test that out.
I think one of my coworkers fixed it today because we had a c_str() somewhere, and that was just switched to a string pass thru instead. Hopefully we can get a more thoroughly tested fix for everyone in that new c++ impl though.

Our internal u

[2022-01-07 04:18] jbcullis commented on #9322
@chrisglein in the example above, ViewOffset is the prop where I'm storing the AnimatedTiming value, the transform is using translateX like so: transform: [{translateX: this.state.ViewOffset}]

[2022-01-07 16:31] rectified95 commented on #2107
To be resolved by https://github.com/microsoft/react-native-windows/pull/6826

[2022-01-07 16:40] rectified95 commented on #6335
Tried doing it once after the change mentioned in description and it sill timed out - worth trying again.

[2022-01-07 16:41] rectified95 commented on #4037
Plenty of tests for Text, other VMs to do listed in description.

[2022-01-07 17:26] #9256 closed

[2022-01-07 17:27] #9280 closed

[2022-01-07 19:47] jonthysell opened #9342 "PR pipelines always use the latest version of react-native-windows-init from NPM, ignoring what we've published to verdaccio"
### Problem Description

react-native-windows-init is "evergreen", meaning we always want to use the latest version from NPM  99.9% of the time, regarless of what version of RNW you're trying to create a new project for.

We enforce this by calling it via npx, and in our PR pipelines we also make sure to call `npx react-native-windows-init@latest`.

However, the 0.1% of the time is when we're tryi

[2022-01-07 22:07] #9342 closed

[2022-01-07 22:18] rozele opened #9343 "React Native occasionally truncates text"
### Problem Description

Filing this here, since I can only repro on react-native-windows right now, but I found a very peculiar case where text gets truncated when it should wrap. I believe this is a Yoga caching issue, but react-native-windows may be the best place to debug.

### Steps To Reproduce

1. Copy app from Gist here: https://gist.github.com/rozele/7a8704a69ff548613407c0f9fb72257b
2. Re

[2022-01-07 22:21] #9253 closed

[2022-01-07 22:36] NickGerleman commented on #9329
I think it is set up to require it in several areas. It would be a significant undertaking to move it away for internal folly code. Maybe RN could use a smaller subset of folly though.

FWIW the nupkg is 24MB, so we are not transferring so much over the wire. There's still a disk space hit though.

[2022-01-07 22:37] NickGerleman commented on #9328
This isn't a bug. Boost is required for the source build, which regardless of language, will also build Microsoft.ReactNative, including Folly.

[2022-01-07 22:41] NickGerleman commented on #9260
This isn't quite correct either. The CLI has logic to locate the latest version of VS that has the required dependencies to install. So the dependencies script could use a different version than the CLI, which would find the correct version.

For the CLI, the powershell script could maybe allow it to pass its own resolved VS path? IMO the script should just be in JS, so it can directly interface w

[2022-01-07 22:42] rozele commented on #9343
Please note, this repros on DPI / scale settings of 150%, which I believe is important because it affects rounding errors when checking cached measurements.

[2022-01-07 22:43] NickGerleman commented on #9155
@rozele have you backported a change before?

[2022-01-07 23:46] TatianaKapos commented on #9327
@chrisglein Looks like UWP does change the cursor for a Textbox that is disabled, however the web version of react does not change the cursor (https://snack.expo.dev/@tatianak/textinput). `Editable` is linked to `isReadOnly`, so I'm curious what the expected output for `focusable` is and what it's linked too?

 UWP App Output
https://user-images.githubusercontent.com/42554868/148620063-328d63e9-01

[2022-01-08 00:44] NickGerleman commented on #9328
I think `PackageReference` worked in external projects though... @JunielKatarn can confirm. I remember there were some weirdness of a hybrid model when using community modules using packages.config, but that we had a path to allow it, since it was very common.

[2022-01-08 00:44] NickGerleman commented on #9328
The writeup on migration will be helpful here I think 🙂.

[2022-01-08 00:47] asklar commented on #9260
the dependencies script cannot be in JS, since it must have an environment to run that JS, which does not exist inbox. Windows developers don't usually have node installed, e.g..

[2022-01-08 00:50] chrisglein commented on #9327
I thought `focusable` was supposed to match to enabled/disabled (like your UWP example shows), but it could be something more granular - you'd have to check.

There's definitely mojo to match XAML's TextBox (which is a very opinionated control) to RN's TextInput (which is supposed to be less opinionated about visual styling). Maybe this is something lost in the shuggle.

Certainly seeing how Web b

[2022-01-08 00:57] NickGerleman commented on #9260
@asklar do you think it would be reasonable to require users to install Node before running the script? I think that is the story for other platforms.

Another option might be for the Powershell dependencies script to "bootstrap" node if not installed but defer to doctor after ensuring we had a valid JS environment. So, basically the dependencies script would become a JS environment installer, to

[2022-01-08 07:47] JunielKatarn opened #9351 "Update documentation on using mixed PackageReference and packages.config dependencies."
The writeup on migration will be helpful here I think 🙂.

_Originally posted by @NickGerleman in https://github.com/microsoft/react-native-windows/issues/9328#issuecomment-1007844969_

[2022-01-08 08:07] JunielKatarn commented on #9328
Opened #9351 for follow-up.

[2022-01-08 08:09] JunielKatarn commented on #9328
Any machine building MSRN from sources will have to get a copy of boost.
Using `PackageReference`-only projects, there will be only one copy in the developer's machine.

As Nick explained, the "extra" `packages.config` exists for hybrid scenarios because the classic NuGet mechanism almost hard-codes the extracted NuGet's location (usually `$(SolutionDir)packages`).

[2022-01-10 17:27] chiaramooney opened #9357 "Gallery failing to build with 0.67-preview"
### Problem Description

I'm trying to test gallery on the 0.67 preview but it is failing to build. I'm getting this error:

![8cccbe4f-1abb-4337-8102-11d61b6c1875](https://user-images.githubusercontent.com/34109996/148810182-f2530baf-3606-46c4-a934-0cfb76c3c767.jpg)

I created a fresh 0.67 preview app and am not hitting the issue, so it must be something with gallery's configuration or the way re

[2022-01-10 19:23] #8419 closed

[2022-01-10 19:23] #9206 closed

[2022-01-10 21:56] NickGerleman opened #9358 "Support DebuggerBreakOnNextLine In Hermes"
We have an instance setting, `DebuggerBreakOnNextLine`, which allows debugging the boot process. It is wired to Chakra and V8, but doesn't seem to effect Hermes. From feedback in teams, folks would find this functionality to be useful.

[2022-01-10 21:58] NickGerleman opened #9359 "Hermes direct debugging doesn't work with VS Code React Native Extension"
User feedback is that Hermes debugger in RNW doesn't seem to work with the VS code extension.

[2022-01-10 22:05] acoates-ms commented on #8993
This is all supported now.

[2022-01-10 22:05] #8993 closed

[2022-01-11 01:15] rozele commented on #9322
Just to clarify - the animation works correctly if you don't fetch data / do some async operation? Have you tried this on other platforms (iOS / Android)?

[2022-01-11 01:32] rozele commented on #9218
It's theoretically possible to do this outside of the core RN Text component using refs and findNodeHandle, but generally speaking findNodeHandle is supported very well (at all?) in Fabric. We use this pattern quite a bit where we do something like...

[code]

For example, we've done this to build a custom native module that extends the ContextFlyout with custom options and also to add custom hand

[2022-01-11 01:34] rozele commented on #9218
That being said, it could be a good contribution to core, but I'm not sure how well it will work with the custom measure functions for text on iOS and Android (sounds like you might have already done some digging on iOS).

[2022-01-11 01:47] rozele commented on #4312
I think I've seen a similar bug recently where an opacity animation is being started, but the corresponding visual is not getting updated. It to happen intermittently and only when quickly toggling the animation between 0 and 1. I'll work on a small repro.

[2022-01-11 02:46] rozele commented on #4312
Note I confirmed that the same workaround (animating between 0.01 and 1) fixes the issue, but for various reasons I don't want to do this, namely that I suspect this is not the only place composition animations for opacity are broken in our app. I suspect its the same root cause fixed in #4964 where the UIElement needs to be "dirtied", though it seems like you'd need to trace the thread from the A

[2022-01-11 02:52] rozele commented on #4312
In our use case, we have a simple button that animates opacity between 0 and 1 after a certain scroll threshold is reached (it's a scroll-to-end button). If you get close to the boundary and quickly scroll back and forth across the threshold, occasionally the animation starts, but the opacity doesn't change. It happens without the animation being delayed, and also without any other concurrent anim

[2022-01-11 09:24] Anton-Layla commented on #9260
Hi i seem to have the same error
`Get-ChildItem : Der Pfad "C:\Common7\IDE\Extensions\" kann nicht gefunden werden, da er nicht vorhanden ist.
In C:\Users\name\Documents\name\name\name\node_modules\react-native-windows\Scripts\rnw-dependencies.ps1:174 Zeichen:19`

but sadly the fix from NickGerleman didn't work.

I get still the same Error.
What i did found, was that the path in line 174
`"$vsPath

[2022-01-11 19:39] jbcullis commented on #9322
@rozele Yes, works on ios, macos, and android.

On further testing, it seems to matter how much data is returned. I just checked a UI that returns a single row before running the animation and it did run, but not smooth.
I have other screens that have a couple of calls to get single rows for the UI setup and those do not load.
Could it be a timing issue?

[2022-01-11 21:11] TatianaKapos commented on #8760
@asklar Looping in @jonthysell, we had a meeting offline and discussed that adding in the command line options may expose private customer information such as the namespace. Wondering people's thoughts on this?

[2022-01-11 23:20] dannyvv commented on #7808
This test is important. It tests native interop between CS modules and the JS side.
It seems that there is a bug on Hermes where it is not serializing objects between a C# native model and hermes....

[2022-01-11 23:21] dannyvv commented on #7808
I'm swamped with 3 other high priority work items so I don't have time for it this week.
Note if I don't respond to GH, please IM me. GH's email firehose is hard to filter properly.....

[2022-01-11 23:33] chiaramooney commented on #9357
@asklar @jonthysell @acoates-ms Does this error ring a bell to anyone?

[2022-01-12 00:29] acoates-ms commented on #9357
Does the full log provide more info about what entry is duplicated?

[2022-01-12 00:55] chiaramooney commented on #9357
@acoates-ms No info about which entry.

"25>   Creating library C:\Users\chiaramooney\react-native-gallery\windows\x64\Debug\rngallery\rngallery.lib and object C:\Users\chiaramooney\react-native-gallery\windows\x64\Debug\rngallery\rngallery.exp
25>LINK : warning LNK4199: /DELAYLOAD:hermes.dll ignored; no imports found from hermes.dll
25>LINK : warning LNK4199: /DELAYLOAD:hermesinspector.dll ignore

[2022-01-12 04:15] asklar commented on #9357
Duplicate of #8333

[2022-01-12 04:19] asklar commented on #8760
this issue is looking to track RNW version info (e.g. the string "0.65" stored as an msbuild property) in the template so that tooling can reason over it, there's no customer information such as the namespace being collected anywhere.

[2022-01-12 07:24] ptripathi-svmx commented on #9155
@rozele  Requesting porting of these changes to 0.66 .. We are on critical path for our product release and need to absorb 0.66 with this fix added in.. would really appreciate your help in this regard. Thanks

[2022-01-12 16:11] chrisglein commented on #8643
Change went to PR but it seems like we maybe need to do more homework on the overall story for `tabIndex`. There was a meeting and spec about this, but that was ~2 years ago. @stmoy FYI.

[2022-01-12 16:21] chrisglein commented on #8486
Assuming we're not backporting the recent addition of PackageReference back to 0.67 (it went in after the snap, right?), then this would be for 0.68. @jonthysell to confirm.

[2022-01-12 16:32] rozele commented on #3280
FYI - I just tested added the prop animation suspension back, and it looks like the completion callbacks for the animations fire in RNTester. @StephenLPeters - do you have a repro where the completion callbacks were not firing?

[2022-01-12 17:30] rozele opened #9371 "Switching between fixed and animated prop values does not work correctly"
### Problem Description

When you transition between a fixed value for a prop and an animated value for a prop, the behavior is not correct (does not match the JS animation driver).

### Steps To Reproduce

1. Clone the repro from https://github.com/rozele/react-native-windows/tree/animatedRepro
2. Run playground.sln -> RNTester -> Native Animated examples -> Loop Example
3. Click the square in th

[2022-01-12 17:47] rozele commented on #3460
Here's another repro for this: https://github.com/rozele/react-native-windows/tree/repro3460

Here's the "expected" behavior using the JS animation driver:

https://user-images.githubusercontent.com/1106239/149194070-bfb66137-07c1-484d-97da-e00963d45c31.mp4

Here's the "actual" behavior using the composition native animation driver:

https://user-images.githubusercontent.com/1106239/149194090-278c

[2022-01-12 18:00] chiaramooney commented on #9357
Ok got app build to succeed but needed specification that it was using 2.7.0 via <WinUI2xVersion> flag in ExperimentalProps even though 0.67 is already using 2.7.0 as its default WinUI.

@asklar FYI in case we want to investigate why adding that flag was needed when gallery just wanted to use the default WinUI from RNW.

[2022-01-12 19:31] jonthysell commented on #8760
I'm confused, I thought the purpose of this was to stamp RNW version in a comment within a template file. Something we could check on manually, say while debugging a customer-submitted codebase, not something tooling would reason over.

[2022-01-12 20:05] jonthysell commented on #8486
Yes, this should be part of 0.68.

[2022-01-12 20:51] chiaramooney commented on #9357
Nevermind. Mixed up my copy of gallery. Still broken.

[2022-01-12 21:03] jonthysell commented on #8486
Nevermind, there's a bunch of stuff that could be cleaned up and normalized thanks to the PackageReference changes.

[2022-01-12 21:05] rozele commented on #9371
This is probably related to #3460, but manifests slightly differently (#3460 just describes clearing an animated prop, in this case we're switching from a fixed prop to an animated one).

[2022-01-12 23:26] jonthysell opened #9373 "Build broken in VS 2019 (16.11.9) with Internal Compiler Error"
### Problem Description

There seems to be some compiler errors with the latest VS 2019:

![image](https://user-images.githubusercontent.com/10852185/149239066-6c27bc11-3f81-462b-b222-cfe084117535.png)

### Steps To Reproduce

1. Sync repo main
2. Open Microsoft.ReactNative.sln
3. 3. Build Debug x86

### Expected Results

_No response_

### CLI version

npx react-native --version

### Environment

[2022-01-13 01:53] jbcullis commented on #9155
@ptripathi-svmx If it's urgent, you can easily make the changes in your own environment.
Path should be {Project Name}\node_modules\react-native-windows\Microsoft.ReactNative\Modules\Animated

I followed the change set found here - https://github.com/microsoft/react-native-windows/commit/7abcaf8c07da20f3e950e63fa3970174c41865f7 - and the animations started working.

[2022-01-13 17:46] jonthysell commented on #9373
Tracking the issue with DevDiv here: https://developercommunity.visualstudio.com/t/internal-compliler-error-when-building-in-latest-v/1635900

[2022-01-13 18:16] chiaramooney commented on #9357
When Expander control is present in the project solution, the build fails. Expander has an explicit dependency on MUX 2.6.0. In 0.67 RNW bumped its WinUI dependency to use 2.7.0 by default instead of the previous 2.6.0 that’s why we are seeing this issue arise only now. Interestingly, the same issue does not occur for other controls that declare a specific MUX dependency that does not match the ve

[2022-01-13 18:16] #9357 closed

[2022-01-13 18:20] chiaramooney opened #9377 "Fix Expander's WinUI Dependency"
### Problem Description

When Expander control is present in the React Native Gallery project solution, the build fails. Expander has an explicit dependency on MUX 2.6.0. In 0.67 RNW bumped its WinUI dependency to use 2.7.0 by default instead of the previous 2.6.0 that’s why we are seeing this issue arise only now. Interestingly, the same issue does not occur for other controls that declare a spec

[2022-01-13 18:30] chrisglein opened #9378 "Performance regression testing"
Goals and plan document ([internal link](https://microsoft.sharepoint-df.com/:w:/r/teams/windows/_layouts/15/Doc.aspx?sourcedoc=%7B90B36992-6972-4E03-A566-6120FF6E22E0%7D&file=RNW%20Performance%20Story%20Roadmap.docx&action=default&mobileredirect=true))

Task list
- #4872

[2022-01-13 19:10] chrisglein commented on #9343
Primary question is whether this some sort of DPI rounding issue in UWP, or whether it's the interaction between Yoga and the quirky UWP rounding that's causing the issue.

@rozele outside of the reduced repro (thanks for that), does this impact your product on a static layout, just during resize, or any other flavor you can offer?

[2022-01-13 19:13] chrisglein commented on #9351
@JunielKatarn you mention updating the documentation - what was the specific piece you were thinking of?

Definitely would appreciate extra attention on documentation here, as this is very new and some parts are viewed as experimental so the more we can consolidate what we do know, the better.

[2022-01-13 19:15] chrisglein commented on #9358
@NickGerleman Is this supported by Hermes Windows itself and we need to hook it up in RNW? Or is it also lacking in Hermes Windows (in which case we need another issue on that repo as well).

[2022-01-13 19:16] chrisglein commented on #9358
Timing here depends a lot on when the shift to Hermes as default happens. We also have gaps in postmortem debugging, for example. This one here seems pretty fundamental as well for good quality of life.

[2022-01-13 19:18] chrisglein commented on #9359
Both of these are OSS. Is the problem with the extension? Is the problem within Hermes Windows? Or is it something in the RNW configuration (e.g. port settings)? @NickGerleman do you have any more detail here alongside the user feedback?

[2022-01-13 19:21] chrisglein commented on #9373
@jonthysell has an open channel with that team going on. Assigning to him just because he has the most recent status.

[2022-01-13 19:23] chrisglein commented on #9377
@chiaramooney Can you open an issue on the FURN repo? (as I'm assuming that's where we'll need to make the fix)

[2022-01-13 19:48] chrisglein commented on #9377
@TatianaKapos FYI, as you worked on adding Expander to Gallery you should be able to work with @chiaramooney to figure out the project dependency updates on this.

Also, migrating this issue over to the Gallery repo, as that's a little more accurate than the core RNW repo.

[2022-01-13 19:54] chrisglein opened #9380 "Add CLI usage telemetry to drive OKRs and data-based decision making"
Spec [internal link](https://microsoft.sharepoint-df.com/:x:/t/ReactNativeMicrosoft/EYtBHzeMVvRFh4YCElQ9aMMBjng9T-ds2nxhWUykY6X9yQ?e=awNfYJ&isSPOFile=1)

https://github.com/microsoft/react-native-windows/issues/9380#tasklist-block-7862bf8f-0c14-4f4b-8eb1-b4a4040be2a1

[2022-01-13 20:03] xiaawan opened #9383 "Error while running .\rnw-dependencies.ps1"
### Discussed in https://github.com/microsoft/react-native-windows/discussions/9382

<div type='discussions-op-text'>

<sup>Originally posted by **xiaawan** January 14, 2022</sup>
I am getting this error while running the command .\rnw-dependencies.ps1

======================================================
Start-Process : Cannot validate argument on parameter 'ArgumentList'. The argument is null

[2022-01-14 02:21] JunielKatarn commented on #9351
@chrisglein I have not looked at the exact docs structure, but it would be part of the section that explains how to consume MSRN as a source dependency on an existing C++ project.

[2022-01-14 16:32] chrisglein commented on #9351
I don't know if we have a good place in the docs that talk about adding to an existing project. @jonthysell do you know of any place where we cover that?

Also, migrating this issue to the docs repo, since it seems like it's less about API documentation and more about the articles that live in the rnw-samples repo.

[2022-01-14 20:22] marlenecota commented on #3917
Closing. This was implemented in #7198

[2022-01-14 20:22] #3917 closed

[2022-01-14 20:59] #4166 closed

[2022-01-14 21:20] #4334 closed

[2022-01-14 21:20] #4344 closed

[2022-01-14 21:20] #4345 closed

[2022-01-14 21:21] #4386 closed

[2022-01-14 21:22] #4443 closed

[2022-01-14 21:25] #4651 closed

[2022-01-14 21:30] #5202 closed

[2022-01-14 21:31] #5397 closed

[2022-01-14 21:32] #5459 closed

[2022-01-14 21:34] #5877 closed

[2022-01-14 21:35] #6028 closed

[2022-01-14 21:38] chrisglein commented on #6658
@asklar It's been a year. Is now okay to clean this up and close this out?

[2022-01-14 21:39] #6638 closed

[2022-01-14 21:39] #6637 closed

[2022-01-14 21:40] #6667 closed

[2022-01-14 21:40] #6668 closed

[2022-01-14 21:40] #6797 closed

[2022-01-14 21:42] #7016 closed

[2022-01-14 21:42] #7045 closed

[2022-01-14 21:44] chrisglein commented on #7357
@asklar @AgneLukoseviciute FYI closing this out since I'm pretty sure you're well beyond 0.5 :)

[2022-01-14 21:44] #7357 closed

[2022-01-14 21:46] chrisglein commented on #7748
@asklar Older issue - are we past all this? Can close?

[2022-01-14 21:46] chrisglein commented on #7774
@asklar Still active? Can close?

[2022-01-14 21:48] chrisglein commented on #7895
Duplicate of #6282

[2022-01-14 21:48] #7895 closed

[2022-01-14 21:50] #8803 closed

[2022-01-14 22:02] asklar commented on #7774
We still build with cpp17 so it's still an issue afaik, for when we want to move to cpp20

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Chris Glein ***@***.***>
Sent: Friday, January 14, 2022 4:46 PM
To: microsoft/react-native-windows ***@***.***>
Cc: Alexander Sklar ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/react-native-windows] C++20 break

[2022-01-14 22:30] chiaramooney commented on #5326
@chrisglein Oh my understanding of the TBD was that we don't currently have a RNTester script but the bullet is there because we have the intent of adding it in the future based on your comment here:

"That at least covers some of this, not all of it. Having an RNTester script is also important as Gallery doesn't cover everything.

So something like this:

**Run RNTester script (to be built)**
Run

[2022-01-14 22:33] chiaramooney commented on #8649
Will do. @asklar @chrisglein PR reopened now. Currently it's flagged with 'changes requested', so it'll need those removed before I can merge.

[2022-01-14 22:56] chrisglein commented on #8649
@asklar Can you refresh you review state?

[2022-01-14 23:00] chrisglein commented on #5326
Can we link to tracking issues # then? These seem relevant:
- #6227
- #4037

Yep, include a link and have the display text as "internal link". It's okay to have those.

[2022-01-17 06:59] Balkoth commented on #9327
I don't understand why simplistic web behaviours, dominate the rich experience of client applications.

[2022-01-17 07:02] jbcullis commented on #9327
@Balkoth Well, it would make more sense if the text was selectable, but it's not even though the cursor suggests so.

[2022-01-17 20:19] MarcinNowak-codes opened #9389 "Application crash during debugging session"
### Problem Description

Application  based on React Native Windows is crashing and JavaScript debugging is not possible.

Call stacks:

[code]
Nothing important in Polish message. `Brak informacji` - information missing or details missing.

I tried to implement example code to reproduce this issue but it happens only with one set of date fetched from server. Application code is working correctly

[2022-01-18 14:18] mpconte opened #9390 "npx react-native run-windows fails on Getting Started guide for Windows development"
### Problem Description

On following the getting started guide for running the demo react native application on Windows, on the **Running a React Native Windows App** step, the `npx react-native run-windows` commands fails:

- Auto-linking...
Parsing project...
Found Windows app project, config:
{
  folder: 'D:\\software\\react_native_demo',
  sourceDir: 'windows',
  solutionFile: 'react_native_d

[2022-01-18 19:04] #8529 closed

[2022-01-18 20:24] chiaramooney opened #9391 "Add accessibilityLabelledBy Props"
### Summary

Add `accessibilityLabelledBy` props to find the nativeID of the associated label, mainly for` <TextInput> `.

https://github.com/facebook/react-native/commit/36037fa81bbdcc460057e7e7cf608cd364ca48a6

### Motivation

Parity with Facebook.

### Basic Example

_No response_

### Open Questions

_No response_

[2022-01-18 20:42] jonthysell commented on #9373
The only machine I've seen this on had a bad stick of RAM. It doesn't appear to repro on any other machine. After removing the bad RAM, it no longer repros on the original machine.

Closing this, will reopen if it somehow reappears.

[2022-01-18 20:42] #9373 closed

[2022-01-18 20:51] TatianaKapos commented on #9182
@chrisglein Looks like `editable` is only implemented for TextBox since TextBox has the property `isReadOnly` and PasswordBox does not. Looks like we might have missed documenting this?

Potientally the fix could be mapping `editable` to `isReadOnly` for TextBox and `isEnabled` for PasswordBox. The only issue with that is you would not be able to copy/paste from the PasswordBox

[2022-01-18 21:14] chrisglein commented on #9182
Oh that's interesting. If there's no way to have a copy-able but not paste-able PasswordBox then we're limited by what XAML can do (without spectacular workarounds). However the scenario of copying from a PasswordBox is... well less of a thing. So your suggestion of mapping isReadOnly to disable paste _and_ seems like a reasonable workaround.

[2022-01-18 21:19] TatianaKapos commented on #9327
@chrisglein
With playground working, I was able to find out that `focusable` is mapped to [`IsTabStop`](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.control.istabstop?view=winrt-22000#windows-ui-xaml-controls-control-istabstop) in the ControlViewManager.

Interestingly the Microsoft Docs for that property state, " _If the reason you don't want the control to be a tab stop is b

[2022-01-18 21:36] chrisglein opened #9393 "RNW supports WinAppSDK – Phase 3 “Stable”"
Building on top of https://github.com/microsoft/react-native-windows/issues/9601, this issue tracks the set of sub-issues that are required before RNW support for WinAppSDK is said to be _Stable_.

Original project board: [Re-target onto Windows App SDK](https://github.com/microsoft/react-native-windows/projects/30)

Spec ([Internal link](https://microsoft.sharepoint-df.com/:w:/r/teams/windows/_la

[2022-01-18 21:47] chrisglein opened #9394 "RNW supports WinAppSDK – Phase 4 “Default”"
Building on top of [general support for WinAppSDK](https://github.com/microsoft/react-native-windows/issues/9393), this issue tracks the set of sub-issues that are required before RNW would change the _default_ from UWP to WinAppSDK.

It's expected that as part of this UWP support still exists in parallel, but is not the default option for new projects.

[Phase 0](https://github.com/microsoft/reac

[2022-01-18 21:50] chrisglein opened #9395 "Match increase in React Native core release velocity - Increase automation of release process"
- https://github.com/microsoft/react-native-windows/issues/4037
- https://github.com/microsoft/react-native-windows/issues/8609

[2022-01-18 22:35] jonthysell opened #9397 "Desktop native unit tests (ReactCommon.UnitTests) fail in CI/PR (if enabled)"
### Problem Description

When no tests are detected by VSTest, the default behavior of the task is to pass.

The native test tasks in PR/CI have been turned off for this test suite since 0.66, and I didn't know they would fail until I tried to turn them on in 0.65. They were "passing" in 0.65 because they weren't actually running the tests (issue #9191). In PR #9396 I fixed the tasks to correctly

[2022-01-18 22:35] chrisglein commented on #9327
Ask around and see if you can get the history of this. Marking something as able to receive keyboard with `IsTabStop` makes sense, if the control wasn't already able to get focus. Just a plain `Panel`, for example. But for a control that already has that built in (e.g. `TextInput`), messing with `IsTabStop` makes less sense then setting `IsEnabled` or something like that.

[2022-01-18 22:38] jonthysell commented on #9397
Unfortunately, since tests were never being run, I don't know if this is a regression and/or when it occurred.

[2022-01-18 22:45] jonthysell commented on #9191
Enabling the tests to be run reveals that they're failing.

[2022-01-19 00:26] jonthysell commented on #8003
It looks like #9397 captures the following test failing on X64Fast in 0.65 (and unknown later on because this bug was closed and we just aren't testing that configuration anymore):

[code]

[2022-01-19 00:56] jonthysell commented on #8003
Re-enabling because we are still disabling this whole test suite in main/0.67 rather than fixing the underlying issue.

[2022-01-19 00:58] jonthysell opened #9398 "[0.65] Universal native `Runtimes/JSITest/JSErrorTest` unit test fails for x64 Release Fast"
### Problem Description

Native unit tests were not being run on 0.65 (see #9191).

In trying to enable them, this test fails in PR:

[code]

### Steps To Reproduce

1. Build X64 Release with RNW_FASTBUILD defined
2. Run Microsoft.ReactNative.IntegrationTests

### Expected Results

_No response_

### CLI version

npx react-native --version

### Environment

[code]

### Target Platform Version

_No

[2022-01-19 01:01] jonthysell commented on #9398
This definitely repros in 0.65 but it may still be a problem in main/0.67 today because we use #8003 as an excuse to just not run the test suite in this configuration anymore.

[2022-01-19 01:13] jonthysell commented on #8000
Reopening as this bug still being used to justify not running the ReactCommon.UnitTests in main/0.67.

[2022-01-19 01:14] jonthysell commented on #9397
This may be related to #8000, which is the reason why this whole test suite wasn't being run for Desktop

[2022-01-19 11:00] NickGerleman commented on #8000
@JunielKatarn added the "ReactNative.UnitTests" project, but it's effectively Facebook's UTs for Fabric code.

[2022-01-19 15:11] rozele commented on #8275
For what it's worth, we also removed #4878 in Messenger.

[2022-01-19 15:14] rozele commented on #8275
One discussion @necolas (react-native-web) and I had a few months back is that it would be great for the pointer APIs in React Native to better align with the W3C Pointer APIs spec: https://www.w3.org/TR/pointerevents/

[2022-01-19 15:20] rozele commented on #8275
Perhaps with some of the elements of the MouseEvent API (e.g., `details`): https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent

If we're solving for right-click, which is likely to require some changes to core APIs, e.g., Pressability, we may want to also solve for double click, triple click. Currently the only way to implement double click is to read a Windows config through a native modu

[2022-01-19 18:01] jonthysell commented on #9397
I have confirmed that these repro locally in 0.65, and are therefore not CI/PR issues specfically.

[2022-01-19 18:02] jonthysell commented on #9398
I have confirmed that this repros locally in 0.65, and are therefore not CI/PR issues specifically.

[2022-01-19 18:51] jonthysell commented on #9398
This passes locally in main (with x6x Release Fast) but these tests are **never** run in that configuration in PR or CI, so we'd never know if it was a problem.

[2022-01-19 19:01] jonthysell commented on #9397
This passes locally in main (with x64 Debug) but tother tests are failing/hanging.

[2022-01-19 19:28] jonthysell commented on #9398
This passes locally in 0.66.

[2022-01-19 23:11] jonthysell commented on #9398
Attempting to backport #7984 to fix the universal test.

[2022-01-20 00:11] jonthysell commented on #9398
This is in fact fixed by #7984, which should be backported.

[2022-01-20 17:29] rozele commented on #9343
We've had bug reports of this occurring in static layout for message bubbles in Messenger (without resizing the window), which makes me think this could be a DPI rounding issue in UWP / XAML.

Here's what I know about Yoga - there definitely seems to be an occasional bug where a cached flex-measured ancestor of text pulls a height from cache that is smaller than the measured text height, and switc

[2022-01-20 19:13] chrisglein commented on #9383
That line that's failing is on the Visual Studio installer. Do you happen to know what version of Visual Studio you have installed? Was installed before running the script? Or were you using the script to install Visual Studio? It appears it may not even have been able to launch the Visual Studio installer.

This error message isn't particularly helpful. Sorry about that. It should state more clea

[2022-01-20 19:16] chrisglein commented on #9389
Can you provide a snippet of the application code that was executing leading up to the crash? That would help contextualize.

[2022-01-20 19:23] chrisglein commented on #9390
on\Common.vcxproj]

This looks like the same error that was hit here: #8817. You should be okay with the 19041 SDK, so perhaps the cause is different.
A possible mitigation is for you to upgrade to VS 2022. VS 2019 should work, but if you are blocked you might want to try that.

[2022-01-20 19:26] asklar commented on #9390
the build error being hit in Microsoft.CppBuild.targets is this line:

[code]

so something about the toolset is not being properly detected or installed

[2022-01-20 19:26] chrisglein commented on #9391
There is a XAML property that maps to this, so this should hopefully be straightforward.
[`AutomationProperties.LabeledBy`](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.automation.automationproperties.labeledby?view=winrt-22000)

[2022-01-20 19:28] chrisglein commented on #9397
Active PR addresses this in 0.65 but we need something in main+ to enable these.

[2022-01-20 19:34] chrisglein commented on #8000
May have been caught by AppVerifier, related issue: #6335.
Goal here is to move from the whole suite being turned off to disabling this test to fixing and reenabling the test.

[2022-01-20 19:35] chrisglein commented on #8000
The latest integration had a payload for MapBuffer. We also should just try running these tests again and see if the error is stale (compared to July of last yera)

[2022-01-20 19:44] chrisglein commented on #9359
One suggested problem: the default port for Hermes may be different and causing a problem with the extension. I don't know if the default needs to change to match or if the tools should handle this.

[2022-01-20 22:42] jonthysell opened #9406 "VS2019 gives `The project 'Microsoft.ReactNative' cannot be referenced. The referenced project is targeted to a different framework family (native)` warnings when opening Microsoft.ReactNative.sln"
### Problem Description

We now have warnings that Microsoft.ReactNative.Managed (C#) doesn't like having references to Microsoft.ReactNative (C++).

### Steps To Reproduce

1. Clone the repo.
2. `yarn` and `yarn install`
3. Open Microsoft.ReactNative.sln in VS
4. Check Errors Tab

### Expected Results

No errors.

### CLI version

6.3.1

### Environment

[code]

### Target Platform Version

10.0.

[2022-01-20 23:03] acoates-ms commented on #9406
@JunielKatarn

[2022-01-20 23:51] JunielKatarn commented on #9406
Is this related to `PackageReference`?

@jonthysell Is this an error that prevents from successfully building the solution, or a warning?

Opening the solution in VS2022 shows this as a warning, but builds succeed.
![image](https://user-images.githubusercontent.com/4507319/150440369-bb13cdc4-373c-492e-a2d6-452b70a1f9aa.png)

Note, **if** this is related to `PackageReference` it could be an innocuo

[2022-01-21 00:09] jonthysell commented on #9406
It still builds. Or at least, it builds everything against Managed because og NuGetrestore warnings, then you have to build a second time and it works.

[2022-01-21 01:23] nichamp opened #9407 "Hermes direct debugging not working as InstanceImpl does not call DevSupportManager.StartInspector."
### Problem Description

When using Hermes with a default project and the configuration described in https://github.com/microsoft/react-native-windows/blob/main/docs/inspector.md the RNW instance does not appear in the targets list for edge://inspect (or chrome://inspect) so it isn't possible to debug code with the built-in Hermes engine.

Under a debugger, one can observe that `m_devSettings->jsi

[2022-01-21 02:49] nichamp commented on #9407
An additional note is that even with the fix, source mapping (for TS or JS) doesn't seem to work correctly unless I add ` m_devSettings->inlineSourceMap = true;` in the constructor too. I think this either needs to be the default with Hermes or maybe to have it exposed with InstanceSettings (maybe to allow arbitrary URL modifications too if desired). If there is an additional configuration step th

[2022-01-21 04:13] NickGerleman commented on #9407
cc @mganandraj (also on Teams, if you two need to chat offline)

[2022-01-21 04:20] NickGerleman commented on #9397
Facebook's unit tests for Fabric are presumably written against Unix-like platforms. Be aware that external changes may cause test breakage in the future.

[2022-01-21 04:20] NickGerleman commented on #9397
(Those are the unit tests I think this bug is referring to)

[2022-01-21 08:42] RedMickey commented on #9359
Yep, I think if a Hermes application provides a non-standard debugging port, the extension should handle this. The extension has the special `port` parameter in debug configurations for this purpose.
To attach to the app, the extension tries to fetch debuggable targets from `http://address:port/json/version` and `http://address:port/json/list`. We rely on these guides https://github.com/microsoft/

[2022-01-21 17:38] softdew commented on #2024
Its the same problem for me also. Please help

[2022-01-21 19:55] queltalent opened #9411 "Update needed to support react native 0.67.0"
### Problem Description

warning " > react-native-windows@0.66.7" has incorrect peer dependency "react-native@^0.66.0".
warning "react-native-windows > @react-native-windows/virtualized-list@0.66.0" has incorrect peer dependency "react-native@0.66.0"

### Steps To Reproduce

upgrade to react native 0.67.0. The warnings are expected.

### Expected Results

_No response_

### CLI version

6.4.0

###

[2022-01-21 22:07] chiaramooney commented on #5326
All todo's completed.

[2022-01-21 22:07] #5326 closed

[2022-01-22 01:47] chrisglein commented on #8750
Notes from planning poker:

[2022-01-22 01:48] chrisglein commented on #9196
Notes from planning poker:

WinUI2.8 will have some WebView jazz there may be more spice here. May be some ambiguity about what version here (and prerelease version for playground).
Actual steps are pretty quick, but there's a "what will break?" buffer. E.g. the original 2.7 release wasn't store shippable, which wasn't noticed until later.

[2022-01-22 01:51] chrisglein commented on #8275
Notes from planning poker:

This used to work and was disabled - can we not just revert to the previous behavior? Was that a specific partner and can we request they fork instead of everyone that needs a right click fork? Given the back and forth on design, is there an above average amount of tests + docs needed for this? (don't document what deviates from the norm, but may need additional partner

[2022-01-22 01:52] chrisglein commented on #6827
Notes from planning poker:

We should go back to the drawing board and discuss what's our efficient+current doc strategy. Won't Fix this as written.

[2022-01-22 01:52] #6827 closed

[2022-01-22 01:54] chrisglein commented on #9378
Notes from planning poker:

[2022-01-22 01:57] chrisglein opened #9416 "Run baseline perf apps against performance infrastructure"
Builds upon https://github.com/microsoft/react-native-windows/issues/4872

[2022-01-22 01:58] chrisglein opened #9417 "Enable regular runs of perf apps in CI"

[2022-01-22 01:58] chrisglein opened #9418 "Track historical data of perf app measurements"

[2022-01-22 01:58] chrisglein opened #9419 "Evaluate runs against historical data to flag perf regressions"

[2022-01-23 16:29] jeanmaried opened #9420 "Can no longer autolink native modules of `OutputType` `Library` after upgrade to 0.66.7"
### Problem Description

I am trying to ugrade RN from 0.64.23 to 0.66.7. I am running into an issue where I can no longer autolink certain custom native modules.

The cause of this issue is that these librarie have an `OutputType` of `Library` in .csproj while now the only type of native modules allowed are of `OuputType` `winmdobj`:  https://github.com/microsoft/react-native-windows/blob/6dd9d81

[2022-01-24 17:20] rozele commented on #9292
I think the workaround described above could fix things pretty reliably - keeping a deferred focus state in UIManager in case imperative focus is called on a view that has not been loaded, and leveraging the same code for any autoFocus behaviors, e.g., for TextInput or Flyout.

In terms of how other platforms handle this, I think TextInput is the best example. I'm guessing the `autoFocus` prop eme

[2022-01-24 18:19] queltalent commented on #9411
environment info added

[2022-01-24 18:49] jonthysell opened #9424 "Unable to switch SampleApps.sln build platform in Visual Studio"
### Problem Description

I'm trying to build SampleApps.sln, Debug x86, from main, in any VS supported version. By default when I open the solution, Debug ARM64 is chosen.

If I switch to x86, VS hangs forever:

![image](https://user-images.githubusercontent.com/10852185/150844516-0c84f5c6-70dc-4688-808e-5a6599de6750.png)

This does not repro with 0.67-stable. I believe this may be some kind of ra

[2022-01-24 19:24] asklar commented on #2024
@softdew can you please file a new issue with your environment info and repro steps/if you've customized anything?

[2022-01-24 19:26] asklar commented on #9406
the warning is confusing but not fatal - there is a new project system property about "this WinRT project is desktop compatible" which might be good to set and could get rid of this warning?

[2022-01-24 19:29] asklar commented on #9411
react-native-windows 0.67 is now live 🥳
https://www.npmjs.com/package/react-native-windows/v/0.67.0

[2022-01-24 19:29] #9411 closed

[2022-01-24 19:34] asklar commented on #9424
@JunielKatarn Jon thinks this might be due to the PackageReference change, could you take a look?

[2022-01-24 19:35] JunielKatarn commented on #9424
I'll take a look today. Verifying this should be simple.

[2022-01-24 19:41] tido64 commented on #9420
The original intention is to not link in projects that do not produce a library, i.e. apps. I think we simply missed the `library` type here. It should be added. @jeanmaried: Is this something you can do? I think it will be easier for you to verify as well.

[2022-01-24 23:18] jeanmaried commented on #9420
@tido64 I will open a PR this week.

[2022-01-24 23:33] mganandraj commented on #9407
I've created a PR to ensure we start the inspector: https://github.com/microsoft/react-native-windows/pull/9426

[2022-01-24 23:37] mganandraj commented on #9407
@nichamp Thanks for sharing the issues ..
I'm also seeing the issues with the source map. Need to investigate what changed recently.
And, there are known issues with breaking on first line.
Adding @tudorms

[2022-01-24 23:52] nichamp commented on #9407
@mganandraj I suggest adding `inlineSourceMap = true` with your fix since that does work for me or is there a reason we should avoid that?

Are there already issues for `Enable Break on First Line` and hangs on reload?

[2022-01-24 23:57] acoates-ms commented on #9407
I would expect `Enable Break on First Line` to "hang" on instance reload (which will happen when you initially check it in the devmenu), until you connect the debugger and continue.   This is so that you can debug the startup JS that would get run before you have time to attach? Is that the hang you are seeing?

The sourcemap issue is likely an issue around your metro config -- It should be queryi

[2022-01-25 00:26] nichamp commented on #9407
`Enable Break on First Line` itself doesn't work so doesn't appear to be the problem. I am seeing the hang less frequently today than when I left the comment. It does seem to occur if one reloads while the debugger is attached but I thought I had observed it even after disconnecting. I guess these issues need some more concrete observations on my part to identify their repro conditions.

I have al

[2022-01-25 00:39] TatianaKapos commented on #8590
@chrisglein Closing due to discussions of:
- Not wanting to claim any further prescriptiveness of template files since our template files are large and prone to fragmentation.
- React-native core doesn't require or push these kind of requirements.
- Our tooling has been since fixed to work with different line endings.

[2022-01-25 00:39] #8590 closed

[2022-01-25 02:34] JunielKatarn commented on #9424
I have successfully reproduced the issue on the latest `main` commit as of today (`6dd9d8183c3dcf582684ae136a6fb771a213ed80`).

Environment:
- npx 8.2.0

However, this may not be inherent to the `PackageReference` feature.

- Commit `522f0c8f1eec1a4e52ea4105685b99a5f3ea96d9`: No repro\
  Last commit before introducing `PacageReference` for C++ projects.
- Commit `bcdf9ad68eeda2967062f5137bc0f248e2

[2022-01-25 03:07] JunielKatarn commented on #9424
Bug confirmed also in Visual Studio 2022.

[2022-01-25 04:41] xiaawan commented on #9383
Hi,

Here is more info about the error. The error appears when script tries to install one of the following.

==================================================
Checking Compilers, build tools, SDKs and Visual Studio     Failed
Do you want to install? [y/N]: Y
Start-Process : Cannot validate argument on parameter 'ArgumentList'. The argument is null or empty. Provide an
argument that is not null o

[2022-01-25 04:50] mganandraj commented on #9407
The issues with loading source maps when debugging playground app seems to be because of the source mapping URL embedded in the bundle ... This is how the embedded sourceMappingUrl verb looks like:

},683,[53,1,507],"..\\@react-native-windows\\tester\\src\\js\\components\\RNTesterEmptyBookmarksState.windows.js");
__r(0);
//# sourceMappingURL=//localhost:8081/Samples/rntester.map?platform=windows&d

[2022-01-25 19:59] nichamp commented on #9407
@mganandraj with the vanilla RNW app I see the following as you found:

[code]

[2022-01-25 20:58] mganandraj commented on #9359
Hermes inspector server runs on the same port as the metro bundler runs .. which is 8081 by default. Do we have issues connection when VSCode when metro/inspector runs on default port, 8081 ?

[2022-01-25 22:54] acoates-ms commented on #9407
@nichamp can you verify if making the change from https://github.com/facebook/metro/pull/763 locally fixes your issue.

[2022-01-25 23:10] nichamp commented on #9407
@acoates-ms with that fix it does change the bundle to

[code]

but source maps still fail:

![image](https://user-images.githubusercontent.com/46539320/151075136-cb990632-deab-4b5f-9680-a3acc05feead.png)

[2022-01-25 23:48] TatianaKapos commented on #9327
Here's the [PR](https://github.com/microsoft/react-native-windows/pull/8450) that introduces the property with the corresponding [issue](https://github.com/microsoft/react-native-windows/issues/8423). Run down looks like ScrollView needed to access `isTabStop` to allow for navigation if it had no focusable children. Setting `isEnabled` for focuasable would make an issue for ScrollView if focusable

[2022-01-26 00:55] acoates-ms commented on #9407
Interesting.  I think that might be an edge/chrome issue.  Although it's also happening in vscode.
The URL in the sourcemappingURL is correct, and if you navigate manually to it, metro returns the sourcemap correctly.

I've been using flipper to debug, and flipper does seem to work for me.  Not sure what its doing special since I'm pretty sure its just an electron app, which I would have thought w

[2022-01-26 02:25] JunielKatarn commented on #9424
But introduced by commit `ff37d64c0d44623d9884e5df7f0f027e4371d53c` (#9401).

[2022-01-26 05:13] Yaxian opened #9434 "Windows App Certification Kit Test Failed"
### Problem Description

Windows App Certification Kit Test Failed

System.FormatException: 'String was not recognized as a valid DateTime.'
System.DateTimeParse.Parse(String s, DateTimeFormatInfo dtfi, DateTimeStyles styles) Microsoft.Windows.SoftwareLogo.Tests.WindowsErrorReporting.WindowsErrorReporting.CheckForReportedEvents() Microsoft.Windows.SoftwareLogo.Tests.WindowsErrorReporting.WindowsEr

[2022-01-26 15:09] RedMickey commented on #9407
Hi @acoates-ms, could you please describe a bit the incorrect behavior in VS Code if you use React Native Tools extension?

When implementing support of React Native Windows, we also faced this peculiarity (`//# sourceMappingURL=//localhost:8081/Samples/rntester.map...`) and added a [special handler](https://github.com/microsoft/vscode-react-native/blob/master/src/debugger/sourceMap.ts#L150-L155)

[2022-01-26 15:30] RedMickey commented on #9359
We haven't faced problems with connection to the metro/inspector default port in the RNT extension if Hermes inspector is enabled. We only encountered an attachment issue when the Hermes inspector wasn't activated.

[2022-01-26 17:36] acoates-ms commented on #9407
@RedMickey
So I was testing this out in the react-native-windows repo.  My first attempt at using the vscode extension actually failed due to the extension not working with canary builds of react-native, which react-native-windows's main branch uses.
https://github.com/microsoft/vscode-react-native/pull/1734 should fix that.

It does look like your special case logic in the extension does allow de

[2022-01-26 22:27] nichamp commented on #9407
It's good to know that Flipper (didn't for me, but I probably wasn't using it correctly) and the VS Code plugin will work, but do you anticipate finding a fix for the Edge/Chrome devtools too? In the interim, it may be worth updating the RNW documentation to suggest Flipper/vscode-react-native.

[2022-01-26 23:08] #8760 closed

[2022-01-26 23:37] #9182 closed

[2022-01-27 00:40] AgneLukoseviciute commented on #8452
https://github.com/react-native-community/discussions-and-proposals/blob/fd64774e8161973b87b8f0a27587fa039eb7b43b/proposals/0000-accessibility-apis.md suggests this be done through the accessibilityRole prop, work here is port the solution in https://github.com/microsoft/react-native-windows/pull/8708 to use 'accessibilityRole' instead of adding a new windows-specific prop.

[2022-01-27 17:40] jonthysell commented on #9397
I disabled these tests in #9396 to get the rest of the suite running in 0.65. As they haven't been running since then, I'm moving this to the Backlog. If/when Desktop needs this coverage someone else can pick it up.

[2022-01-27 18:06] jonthysell commented on #7469
Still worth doing, up for grabs.

[2022-01-27 18:12] jonthysell commented on #5882
We don't have E2E tests in our repo, but we do have autolinking tests. It might be nice to have a newly generated app consume a newly generated module via autolinking. Still worth doing, up for grabs.

[2022-01-27 18:20] jonthysell commented on #7809
It is certainly an alterative - the design was to make sure autolinking _never_ stopped VS users (ie. no error, no fail), and that, as essentially "power users" of RNW, a VS user wouldn't want their build files updated without their explicit intervention.

[2022-01-27 18:24] jonthysell commented on #7855
Looking at their repo, react-native-video is looking for an active maintainer: https://github.com/react-native-video/react-native-video/issues/2343

[2022-01-27 18:25] jonthysell commented on #8165
Still a good part of the "how should we design the ViewManager ABI" discussion.

[2022-01-27 18:28] jonthysell commented on #8692
Unassigning as this isn't going to happen any time soon, as there really isn't a public, long-term, stable "this is where you should store symbols separate from your binaries" solution for anything outside of official, built-into-windows binaries.

[2022-01-27 18:30] jonthysell commented on #8891
@chrisglein I've not done any work with the web/direct debugging experience, so I'm not sure what needs to be done here.

[2022-01-27 18:42] chrisglein commented on #8917
@chiaramooney I think there are some items here you can check off. Can you do a pass?

[2022-01-27 19:09] chrisglein commented on #9434
Generally we see certification failures as a status page with the various steps and what the results were. But you're sharing an exception here. Did running the certification test from within Visual Studio crash Visual Studio or something? Or did your app crash when going through the certification?

[2022-01-27 19:14] jonthysell commented on #8621
Updating the name to better reflect the work. If there's an exiting C#/C++ project file we're overwriting, we should extract the existing ProjectGUID first, and use that in the template, rather than generating a new guid.

[2022-01-27 19:36] jonthysell commented on #8920
The difference linked to in the VS docs is that for building a project directly with msbuild, the dependencies are not traversed. However we explicitly require everyone to build via the solution file anyways.

[2022-01-27 19:36] #8920 closed

[2022-01-27 19:39] jonthysell commented on #8851
I will try to look at this again for 0.68 milestone.

[2022-01-27 19:51] jonthysell opened #9436 "Unable to build playground.sln with VS 2019 in main"
### Problem Description

Trying to build playground.sln in main fails with a bunch of errors.

![image](https://user-images.githubusercontent.com/10852185/151432976-c8d9873e-44bf-4a81-8543-9f9216d59735.png)

### Steps To Reproduce

1. Clone repo.
2. `yarn && yarn build`
3. Open playground.sln in VS 2019
4. Switch to x86
5. Build Solution

### Expected Results

Solution builds.

### CLI version

np

[2022-01-27 19:52] jonthysell commented on #8486
PR is currently blocked

[2022-01-28 02:44] JunielKatarn commented on #9436
Confirmed bug.

The MSBuild `Restore` run form `packages.config` is not working as expected for the playground project:

[code]

(No packages are restored into `$(SolutionDir)packages\`.

[2022-01-28 02:48] Yaxian commented on #9434
After I change my computer language to US. WACK test pass.
Thank you very much.

[2022-01-28 02:48] #9434 closed

[2022-01-28 05:52] Yaxian commented on #7855
It works for me

[2022-01-28 10:43] Roucoz commented on #6005
Hello @acoates-ms
how did you manage to remove the "-" from the name..
Because app name is available in all the project already.

[2022-01-28 18:39] jonthysell commented on #9398
Unassigning and putting on backlog. If the JSError bug starts breaking customers, backport the code (not project) changes from #7984.

[2022-01-28 19:38] #9191 closed

[2022-01-28 21:28] lyahdav opened #9440 "Error running yarn build codegen step in 0.66.7 release"
### Problem Description

When I run `yarn build` on the [react-native-windows_v0.66.7 tag](https://github.com/microsoft/react-native-windows/releases/tag/react-native-windows_v0.66.7) I get the error below. When I do the same on `main` branch it works fine.
[code]

### Steps To Reproduce

1. Clone repo
2. `git checkout react-native-windows_v0.66.7`
3. `yarn`
4. `yarn build`

### Expected Results

[2022-01-28 21:37] acoates-ms commented on #9440
Try bumping down to node 14 when working in the 0.66 branch?

[2022-01-28 22:40] lyahdav commented on #9440
Good call, that was it. I switched to node v14.18.3 and it worked. https://github.com/coreybutler/nvm-windows is very useful for this.

[2022-01-28 22:40] #9440 closed

[2022-01-29 00:27] MasonBergstrom opened #9441 "Image control doesn't properly render SVG"
### Problem Description

There seems to be an issue with the way the Image control is rendering SVG images. The images will render, but they don't look as smooth and crisp as an SVG should be.

I discovered that if I add these two lines to [ReactImage.cpp just before setting the ImageSource](https://github.com/microsoft/react-native-windows/blob/main/vnext/Microsoft.ReactNative/Views/Image/ReactIm

[2022-01-29 08:06] JunielKatarn commented on #9436
Root cause found.

When building with Visual Studio and explicitly (but automatically) restoring using the `PackagesConfig` restore style, property `RestoreUseStaticGraphEvaluation` set to `true` makes the target fail.

[2022-01-29 08:16] JunielKatarn commented on #8486
A current workaround is building from the command line (MSBuild.exe).

[2022-01-31 15:01] burtonrodman opened #9443 "An image paints wrong after resuming from sleep"
### Problem Description

I have a logo image (png) in my app's Header component that 99% of the time paints perfectly fine.

However, occassionally when resuming from sleep, it will paint a completely different image:
![image](https://user-images.githubusercontent.com/7658657/151815870-8f9ab018-fbee-468d-a2dd-0576be0197ac.png)

I don't know where the 2 X shapes are coming from, but the red and blu

[2022-01-31 19:11] jonthysell commented on #9443
It looks like we're using composition for some images, which means we need to handle when the machine changes "device lost" (sleep, screen resolution changes, driver updates).

[2022-01-31 19:12] jonthysell commented on #9441
This might be fixable with a different resize mode.

[2022-01-31 20:46] jonthysell commented on #3278
I've signed off on https://github.com/lottie-react-native/lottie-react-native/pull/714, hopefully this will make it easier for people to take the dependecy on it.

[2022-01-31 21:30] burtonrodman commented on #9443
@chrisglein ya, i've been trying to update to the latest version for the last few weeks and pulling my hair out with crashes, touch not working on webivew, more crashes, etc...

any chance we could somehow connect to work through these issues?

#superfrustrated #zeroproductivity

[2022-01-31 22:05] jechternach opened #9447 "Appearance Module and PlatformColor use App theme instead of the parent XAML element's ElementTheme"
### Problem Description

The appearance module is using RequestedTheme(). We need the theme to be determined by the XAML element parent. If the app theme and parent elementsTheme are different then the theme resolves incorrectly and the PlatformColor uses the App Theme mode without checking if the parent element is using a different theme.

### Steps To Reproduce

1. use PlatformColor and change t

[2022-01-31 22:20] acoates-ms commented on #9447
Unfortunately, it's not possible for the Appearance module to use the parent XAML element's ElementTheme.  The Appearance module is global to the entire RN instance - It's a singleton on the JS side, with no context as to which view you are asking for the theme of.  It's possible that you could have multiple ReactRootViews within your app, each with a different XAML parent, which could have differ

[2022-01-31 22:24] jechternach opened #9448 "Appearance Module and PlatformColor use App theme instead of the parent XAML element's ElementTheme"
### Problem Description

The appearance module is using RequestedTheme(). We need the theme to be determined by the XAML element parent. If the app theme and parent elementsTheme are different then the theme resolves incorrectly and the PlatformColor uses the App Theme mode without checking if the parent element is using a different theme.

https://github.com/microsoft/react-native-windows/blob/77

[2022-01-31 22:44] acoates-ms commented on #9448
Appearance Module is global to the RN instance.  It's possible that you could have multiple ReactRootView's with different XAML parents and different themes, all running in the same instance.

As such the appearance module does not have enough context to provide you a per view theme information.

[2022-02-01 00:17] #8317 closed

[2022-02-01 17:14] asklar commented on #9448
Like Andrew mentioned, the existing AppearanceModule is designed to work with the application's theme. There is no affordance today for notifying / using per-view theme (the core API just doesn't exist).

Either you'd need to write a native module to expose this per-view functionality, or you'd need to set the application's theme so that the code can work with the existing AppearanceModule.

[2022-02-01 22:58] asklar commented on #9448
notes from sync: apps can't set RequestedTheme dynamically; the RNW code should probably use ActualTheme
In parallel we should figure out if there's a good way to just query the root element's ElementTheme, that doesn't tie up our hands in the future by requiring there be only 1 root view per RN instance

CC @acoates-ms @marlenecota

[2022-02-01 23:31] chiaramooney opened #9451 "ReactCommon Files Forked Following Break from Upstream"
### Problem Description

Lots of changes made to MappBuffer code in ReactCommon in https://github.com/facebook/react-native/compare/ca5aaa766...20b9ed91c. Had to fork several files in order to restore Windows build.

TO-DO:
- [x] File a PR in react-native with the required changes to the MapBuffer files needed to not break Windows. See files in `vnext\ReactCommon\TEMP_UntilReactCommonUpdate` for s