[2020-06-04 02:13] kmelmon commented on #4682
This looks like a super easy fix, and is needed before fixing #4678.  I'll take this.

[2020-06-04 02:39] #4555 closed

[2020-06-04 07:36] wagnerma commented on #5111
For me, it is also not working, but in an other area:

Fehler "0x80073CF3" beim AppX Deployment-Vorgang für Paket "d3b72452-3ec2-4715-a716-22882e9e22cb_1.0.0.0_x86__gvrvptvq5k5s6". Der
                                       Fehlertext lautet: Das Paket d3b72452-3ec2-4715-a716-22882e9e22cb_1.0.0.0_x86__gvrvptvq5k5s6 kann von Windows nicht installiert werden, da

[2020-06-04 08:38] NickGerleman commented on #4860
We made this less painful with shallower git fetches. Removing this for now.

[2020-06-04 08:38] #4860 closed

[2020-06-04 08:38] NickGerleman commented on #4861
Just made this much harder with some architectural changes. Going to close this since it no longer makes sense to try.

[2020-06-04 08:38] #4861 closed

[2020-06-04 10:32] acoates-ms opened #5116 "Work out how to use XAML codegen in MS.RN"
Currently there are a couple of places where we are using XAML markup in MS.RN.  In particular the devmenu and redbox.  In both these cases we are using markup in a string and calling XamlReader::Load.  It would be great if we could use a more normal XAML dev experience with markup, x:Bind etc.  However, the normal winrt dev experience requires the XAML file have an idl file, which would add the c

[2020-06-04 15:28] Alkanores commented on #3263
Same issue.
* SDK Installed
* Node 12.18.0
* yarn: 1.22.0
* Build platform: x86
* MSBuild Version: 16.0

Errors in --logging mode:
1. error : Failed to open certificate(translate from russian): projectname_TemporaryKey.pfx.
2. error : Required object not found(translate from russian)  [C:\Users\username\testrn\projectname\windows\projectname\projectname.vcxproj].

[2020-06-04 17:10] dannyvv opened #5120 "Implement Nuget packing for Managed modules"

[2020-06-04 17:11] #4556 closed

[2020-06-04 17:21] NickGerleman opened #5121 "Have msftbot Add Warnings to PRs Going into Stable Branches"
We have some structure which requires changes going into stable branches to sometimes be triaged. This is new process, and might catch some off-guard. We momentarily had a branch restriction on stable branches which made it harder to check in. This was a very heavy-handed solution.

If intent is to educate, we can teach the bot to leave comments on PRs to stable branches with current backport poli

[2020-06-04 17:24] NickGerleman opened #5122 "Have msftbot add a "Needs: Backport Triage" label to PRs with any "Request Backport to 0.xx" Label"
Based on feedback, we're going to have "Request Backport" labels for multiple branches. It was brought up that this can make surfacing new PRs harder. We should have a bot add a common label to them to make them easier to surface, potentially adding a comment about process, or pining triage engineers in the PR to let them know about a new backport request.

[2020-06-04 18:09] chrisglein commented on #5116
Interfaces in winRT can be private, but the classes/structs have to be public. Is that potentially impacting this?

[2020-06-04 18:16] chrisglein commented on #5113
Seems like lack of unification across RN platforms here. We don't pile on with a different solution, but also it seems like we have to pick one to support. There's precedence given vLegacy used the Android API (and ignored the iOS one), so we could match what was done there. But we're going to want to upstream some kind of unity on this.

We should look at what the C# legacy version did to start w

[2020-06-04 18:19] asklar commented on #5113
Support for `no-hide-descendants` was added in #1807

[2020-06-04 18:26] chrisglein commented on #5094
We could set a default backgroundColor of "transparent" on everything. We will be able to share the brushes, so that's okay, but of course it's going to bring a bunch more nodes into hit test calculations. One way to limit that would be to only do it if `onMouseEnter` is set, that way it's pretty scoped.

May be opportunities to tidy this up with WinUI3.

[2020-06-04 18:28] chrisglein commented on #5089
To get this we'll need an app to target. Best candidate would be some sort of gallery app (#4874), which is the process that we follow for core XAML platform testing. Once we have that app, we should target the Accessibility audit against that. We may need more than one app, but that's a good place to start.

[2020-06-04 18:33] chrisglein commented on #5089
Could also benefit from a manual control-by-control-centric approach that's less outsourced but would give us higher level data. Obviously need to figure out how to carve out time for that and be clear what bar we're applying.

[2020-06-04 18:41] asklar commented on #3263
Looks like you're running VS2019 against an old version of RNW (0.60). Can you upgrade to RNW 0.62? Or alternatively, use VS2017 if you need to stick with RNW 0.60

[2020-06-04 18:54] chrisglein commented on #5111
This is the key indicator I'm seeing:

Cannot find module '@react-native-community/cli/build/tools/copyAndReplace'

Which is this issue #4882.
This occurs from a preexisting global installation. The docs have been updated to indicate some steps for how to address this: https://microsoft.github.io/react-native-windows/docs/getting-started#install-react-native-for-windows
I also understand that we h

[2020-06-04 18:54] #5111 closed

[2020-06-04 20:29] kaiguo commented on #4151
Hi @kmagiera, I saw you submitted the cpp implementation, any idea when will drawer be migrated to the new version?

I guess another options is (I haven't dig into the drawer code yet), can we use the built-in animated instead of reanimated in drawer? If that's possible I'm happy to help making the change, since our end goal is to unblock the usage of react-navigation.

[2020-06-04 22:44] kmelmon commented on #5112
Also, update this wiki page when this is fixed:
https://github.com/microsoft/react-native-windows/wiki/VS-Remote-Debugging

[2020-06-04 23:16] mtalley opened #5124 "Image 'tintColor' style prop does not apply"
### Environment

D:\src\rnwtest> react-native -v
react-native-cli: 2.0.1
react-native: 0.62.2

D:\src\rnwtest> react-native run-windows --info
  System:
    OS: Windows 10 10.0.18363
    CPU: (8) x64 Intel(R) Core(TM) i7-4770 CPU @ 3.40GHz
    Memory: 11.63 GB / 31.94 GB
  Binaries:
    Node: 10.15.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.13.0 - C:\Program Files\nodejs\yarn.CMD
    npm: 6.

[2020-06-04 23:38] rectified95 commented on #3373
RNW \<Text> nested tag translation uses a combination of XAML Run and Span elements, which get added to the collection of Inline elements of the resulting TextBlock and recursively its children Spans, while following these rules:
1. the outermost \<Text> becomes the parent XAML TextBlock
2. each piece of the string content of a \<Text> on a given level becomes a XAML child element of type Run
3. e

[2020-06-05 04:43] #4847 closed

[2020-06-05 04:44] NickGerleman commented on #5121
Re earlier discussion on whether we could require sign off from specific folks, one option seems to be to require stable branches to get sign off from a code owner before merge, then dropping a CODEOWNERS file into stable branches restricting to those with triage permissions.

We just saw a PR merged into 0.62 without triage, so maybe we should have systems to enforce it instead of assuming the ri

[2020-06-05 06:14] #5011 closed

[2020-06-05 07:07] Alkanores commented on #3263
@asklar
How can I check RNW version?

[2020-06-05 07:08] asklar opened #5127 "Clipboard module only supports narrow strings (std::string)"
The clipboard module only takes/returns `std::string`, not `std::wstring`

See #5085

[2020-06-05 07:11] asklar commented on #3263
@Alkanores it's in the command line you provided above: `react-native init <Project> --version ^0.60.0`
It should also be in your `package.json` in your project.

[2020-06-05 09:11] Alkanores commented on #3263
@asklar
This fields in my package.json:
"react-native": "0.61.5",
"react-native-windows": "^0.61.0-0"

[2020-06-05 10:05] asklar commented on #3263
@Alkanores I'm pretty sure you're running into a regression that was introduced into Visual Studio in version 16.5 and is present in 16.6 still.

Can you confirm what version of VS you're on?

`"C:\Program Files (x86)\Microsoft Visual Studio\Installer\vswhere.exe" -version 16 -property catalog_productDisplayVersion`

I added a workaround for the time being and backported it to 0.61 here, but it ma

[2020-06-05 11:08] Alkanores commented on #3263
@asklar
C:\Users\redfo>"C:\Program Files (x86)\Microsoft Visual Studio\Installer\vswhere.exe" -version 16 -property catalog_productDisplayVersion
**16.5.2**

[2020-06-05 16:40] chrisglein commented on #3373
@rectified95 It's worth digging in on this one as we have had lots of similar issues. Take a look through #4927, #3417, #3457. You may be able to fix some at the same time. Test whatever changes you make against those scenarios too.

[2020-06-05 17:19] dannyvv opened #5128 "Code cleanup: The templates for react-native-windows init could share some files between C# and C++"
In PR #5126 it was pointed out that there are files shared bewteen cpp and cs template.
It would be great to update the code to reduce duplication.

[2020-06-05 18:46] chrisglein commented on #4671
@harinikmsft believe this was addressed with your PR. Closing.

[2020-06-05 18:46] #4671 closed

[2020-06-05 19:04] RatikKapoor opened #5132 "Default app crashes on Windows 10 1709 and 1803"
### Environment

If you are using latest version:
1. `3.2.1`:
2. `  System:
    OS: Windows 10 10.0.16299
    CPU: (4) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
    Memory: 3.00 GB / 5.86 GB
  Binaries:
    Node: 12.17.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.4 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.14.4 - C:\Program Files\nodejs\npm.CMD
  npmPackages:
    react: 16.9.

[2020-06-05 20:18] ZihanChen-MSFT commented on #5127
The underlying JSI in turbo module doesn't support UTF8 or Ansi. You don't have wstring as a choice.

[2020-06-05 21:44] #5075 closed

[2020-06-05 21:50] chrisglein commented on #3278
A think to keep in mind that the Lottie-Windows team noted: Lottie files are generally just vector graphics, but may also include images, and those images may be a uri. Lottie-Windows won't handle the policy of that, and will need some sort of "image asset delegate" to call to the lottie-react-native module and have it resolve the uri. This is functionality that doesn't exist in Lottie-Windows, bu

[2020-06-05 23:29] JunielKatarn opened #5135 "WinRTWebSocketResource surfaces exceptions on debug builds"
### Environment

[code]

- Target Platform Version(s):
`10.0.18362`

- Target Device(s):
Desktop

- Visual Studio Version:
16.6.1

- Build Configuration:
x64 | Debug

### Steps to Reproduce

From the Test Explorer, run `RNTesterIntegrationTests::WebSocket`, **without setting up a test WebSocket server**

(Write your steps here:)

1. Go to *Test Explorer* in Visual Studio.
2. Select Test `RNTesterI

[2020-06-05 23:34] chrisglein commented on #3718
This is now supported: https://reactnative.directory/?windows=true

[2020-06-05 23:34] #3718 closed

[2020-06-05 23:40] chrisglein commented on #2133
We now have a prompt in `react-native init` that points developers to how to add windows support. This seems good enough. Closing out this issue.

[2020-06-05 23:40] #2133 closed

[2020-06-05 23:43] asklar commented on #5132
`UIElement.RotationAxis` is only available in 1809 (RS5) and up so it makes sense that the API crashes in 1709 and 1803. We should fix this if we want to support RS3 and RS4.

[2020-06-06 00:52] asklar commented on #5132
@RatikKapoor see [Win10 compatibility](https://microsoft.github.io/react-native-windows/docs/win10-compat) for details on which versions are compatible. Native animations are not available in 1709 and 1803 .

[2020-06-06 03:45] RatikKapoor commented on #5132
Thank you @asklar, in my opinion it is fine if animations do not work but the React Native app will still be semi-usable until the user upgrades their version of windows. I apprecaite you looking into this!

[2020-06-06 03:57] RatikKapoor commented on #5132
Also, once your pull request is accepted, is there a quicker way to use this in my app than to wait for the next release?

[2020-06-06 16:26] Alkanores commented on #3263
@asklar
I need to create RN project with version 0.61(not 0.61.5) to fix this error, right?

[2020-06-06 20:24] Khalef1 commented on #5135
Requested backport to RN60. We are getting feedback from Outlook folks that this is impacting their inner dev loop

[2020-06-06 23:32] dannyvv commented on #5048
There are various ways in msbuild to go about this. MsBuild properties are just a simple recursive descent macro expansion. So there are two ways to deal with defaults:
a) You unconditionally set them at the top of the file (import the props before the user properties) `<Foo>MyDefault</Foo>`
b) You conditinoally set them when not set to the default after the user had a chance to set them: `<Foo Co

[2020-06-06 23:51] dannyvv opened #5143 "Add Task<T> support for managed codegen"

[2020-06-07 00:07] asklar commented on #5135
@JunielKatarn  dupe of #4995 ?

[2020-06-07 00:11] asklar opened #5144 "namespace option in new project template is wrongly applied"
I found this during PR #5126
We have an option in the CLI for init new RNW app. It isn't clear whether this is supposed to be a dot or colon delimited namespace (`x.y.z` or `x::y::z`), but whichever it is, it's being wrongly applied by the template code.
We need logic to accept both `.` / `::` and apply the right one depending on context:
* XAML markup always uses `.`
* C# code uses `.`
* C++ code

[2020-06-07 05:23] asklar opened #5146 "Upgrade C# codegen to .net 6 / LTS"
Currently the C# codegen project uses .netcoreapp 2.2.
With .net core 5 supporting UWP, it would be a good opportunity to have everything in one framework and not have to hack around .net core 2.2 + UWP unsupported-ness.

[2020-06-07 05:36] asklar commented on #4516
@giregk sounds like you would run into this if you tried publishing the debug build of the C# app. You can only publish apps to the store that have gone through the .net native toolchain.

[2020-06-08 08:50] sibille commented on #5033
Works fine in 0.62.

[2020-06-08 15:16] exotexot commented on #2989
Would enjoy having Modals in RNW :)

[2020-06-08 17:11] chrisglein commented on #5014
@acoates-ms You've mentioned that there's some strict requirements on directory structure that results from what the package needs. Can you link to or capture those requirements here? Our files we can edit, versus built ones that need to show up in the package.
This came from mentioning `vnext\src` -> `src\src`.

[2020-06-08 18:21] asklar opened #5147 "Clean up vnext\scripts"
Related to #5014.

[2020-06-08 18:23] asklar opened #5148 "Fix build incrementality and project dependency issues"
We have some issue with projects getting rebuilt unnecessarily as well as projects not being able to build standalone (i.e. outside a solution). We should fix this to improve dev productivity and avoid wasted dev time.

[2020-06-08 18:26] asklar opened #5149 "Devs should be able to run CI locally"

[2020-06-08 18:26] asklar commented on #5014
* Npm package has reqs on directory structure so that JS content matches RN
  * Vnext\src can be renamed
  * Vnext\src\Libraries gets copied onto a built folder: vnext\Libraries
    * Vnext\Libraries must keep its name
    * Package.json+vnext\libraries should be under source control tree - not under Built

* RNW should go into the \packages folder. NodeJS Packages vs NuGet packages
  * Neither no

[2020-06-08 19:43] rectified95 opened #5151 "Nested <Text> onPress when text wraps"
Issue #3373 fixes onPress() handling for nested <Text> tags, but it doesn't account for the case when there is text wrapping over to the next line(s). Creating this issue to figure out an even more refined algorithm to calculate complex bounding shapes for such text blocks.

[2020-06-08 22:41] JunielKatarn commented on #5135
@asklar Yikes! Yes.

Closing as duplicate.

[2020-06-08 22:41] #5135 closed

[2020-06-08 22:53] JunielKatarn commented on #5014
Still don't see the value of having the Desktop source code as a sibling to the actual source code directory. It creates two C++ code paths that ultimately consume the common base.

I insist Desktop should be kept within the 'src' directory, and eventually eliminated.
This would be clearer to understand and more disruptive.

"Legacy" is also not a very accurate name, for it's not "the legacy imple

[2020-06-08 22:58] JunielKatarn commented on #5148
@NickGerleman is the incremental build issue the one related to MSBuild target inputs and outputs you mentioned?

[2020-06-09 00:00] #4936 closed

[2020-06-09 00:15] chrisglein commented on #4453
@stmoy I know you've been looking into generating API docs recently. Does this relate to what you're looking, or is it separate?

[2020-06-09 00:45] chrisglein commented on #3109
Linking to #3018

[2020-06-09 00:48] asklar opened #5153 "run-windows fails to fail in CI"
When `run-windows` fails, it fails to set the exitcode which would tell ADO that it failed. So ADO thinks it succeeded and continues merrily.
See: https://dev.azure.com/ms/react-native-windows/_build/results?buildId=85285&view=logs&j=02e0f8ca-f841-5ce7-6017-ca58c2eabceb&t=2dc7ee33-ee04-56af-37c0-a2c6518a947f&l=8383

[2020-06-09 01:18] asklar commented on #5148
@JunielKatarn no, I think that was about autolinking? This is about having two solutions open, building one, then when you build the other most of the projects end up needing to be rebuilt.

[2020-06-09 01:20] asklar commented on #4959
@ShivamJoker can you try using a newer 62? e.g. anything newer than preview 8, e.g. https://www.npmjs.com/package/react-native-windows/v/0.62.0-preview.11

[2020-06-09 02:18] rectified95 commented on #5153
@asklar as discussed before, I've reproduced the failing run locally, and run: echo %ERRORLEVEL% - it output '0'

[2020-06-09 03:26] #3601 closed

[2020-06-09 05:19] #5132 closed

[2020-06-09 06:45] #4091 closed

[2020-06-09 14:56] #5153 closed

[2020-06-09 17:35] chrisglein commented on #4661
Did another audit, and got all of the above cleaned up.

[2020-06-09 17:35] #4661 closed

[2020-06-09 17:41] #3373 closed

[2020-06-09 17:49] stmoy opened #5158 "Support rn-fetch-blob"
# Support `rn-fetch-blob` on RNW

## Basic Info
- Module Repo URL: https://github.com/joltup/rn-fetch-blob

## Which app/customer is requesting this module?

Community request

## In what scenarios will this module be used?

A project committed to making file access and data transfer easier and more efficient for React Native developers.

## Essential Features

- Transfer data directly from/to sto

[2020-06-09 17:52] stmoy commented on #2546
@MakhouT @erksch @DonovanDeSmedt - thank you for your patience, sorry for the radio silence. We're tracking adding Windows support to a bunch of modules. The overall status is here: https://github.com/microsoft/react-native-windows/projects/23

Since we have so many, we're actively prioritizing and implementing. Right now, this module is in our backlog and not on our immediate roadmap.

That said,

[2020-06-09 18:16] SanderNouwynck commented on #2546
@stmoy
Since this module is currently parked on backlog, and not immediate roadmap:
what do you advise as for navigation in rnw?

[2020-06-09 18:25] RatikKapoor commented on #5132
I tested the patch this morning and that seems to be working well. There is another issue in CxxNativeModule.cpp that seems to be causing touble in 1709 and 1803. @asklar would you know if this is related to this animations issue? This again was caused by clicking a link inside the default Welcome to React Native app.
![Annotation 2020-06-09 122222](https://user-images.githubusercontent.com/145018

[2020-06-09 18:48] chrisglein commented on #2824
Check out what stmoy linked above, but also we've done work to have Windows modules listed with Expo's module directory: #5049

Duplicate of #5049

[2020-06-09 18:48] #2824 closed

[2020-06-09 18:59] kaiguo commented on #3884
This issue just got assigned to me...  I'm currently on the route of adding Windows support for reanimated + gesture handler to unblock react-navigation, which will probably be very time consuming since they are both nontrivial to implement. Reading through the comments looks like wix/react-native-navigation would fulfill people's needs too, I think we should prioritize wix navigation so we can ha

[2020-06-09 19:19] gary-hu-ms opened #5160 "LinearGradientBrush doesn't work for HighContrastBlack"
### Environment
"react-native-windows": "0.60.0-vnext.155",
Window desktop
sdk: 10.0.18362
vs 2017

### Description
I have defined HighContrastWhite and HighContrastBlack ResourceDictionary in ThemeDictionaries.
 the SolidColorBrush with "ThemeResource SystemColorWindowColor" works fine.
 the LinearGradientBrush value of customized value doesn't work well. when switching from non-hc to HighContras

[2020-06-09 22:21] harinikmsft commented on #4874
A comprehensive gallery app will take a while to build. To help stage things, here is an early strawman for a phased approach:
- Phase 1: Showcase for Core components with example usecases published to Windows store
- Phase 2: Take the above and output for Mac. At this point it becomes an “RN-desktop” sample gallery
- Phase 3: Add a few top community modules – especially the ones moved out of core

[2020-06-10 16:30] #5120 closed, assigned to dannyvv

[2020-06-10 16:42] NickGerleman opened #5168 "Autolinking Checks Will Not Consistently Run When Using Binary Distribution Because FastUpToDateCheck Enabled"
By default Visual Studio has its own set of incremental build logic where it will not re-run msbuild targets unless a project filter file has been edited. This provides incorrect results when targets depend on files outside of filters (e.g. something in node_modules).

For react patching we get around this by setting `<DisableFastUpToDateCheck>true</DisableFastUpToDateCheck>`. This property presen

[2020-06-10 22:08] NickGerleman opened #5170 "Restore Version Checks for React Native Win32"
We patched out react native version checks from react-native-win32 because we compile native code out of repo. We should restore these if we get a better build synchronization story,

[2020-06-11 00:37] chrisglein opened #5172 "Support react-native-permissions"
# Support `react-native-permissions` on RNW

## Basic Info
- Module Repo URL: [react-native-permissions](https://github.com/react-native-community/react-native-permissions)
- Target version:
- [ ] Issue exists on module repo (if so, [link]())

- [ ] Module has a Legacy/C# implementation (if so, [link]())

## Which app/customer is requesting this module?

Partner: Facebook

## In what scenarios wil

[2020-06-11 00:56] chrisglein opened #5173 "Expo Snack should support Windows"
# Proposal: Expo Snack should support Windows
https://snack.expo.io/

## Summary
Expand iOS, Android, and Web support to also include Windows.

## Motivation
Expo Snack is the best way to quickly experiment with React Native. It's also the best way to make actionable bug reports. And it's the best way to quickly compare behavior across platforms. It supports iOS, Android, and Web. We should enable

[2020-06-11 01:37] TheSavior commented on #5172
We would have used this module to grant access to the webcam and microphone. We are planning to bridge those methods ourselves minimally since this module doesn’t exist.

[2020-06-11 02:21] rectified95 commented on #4612
@NickGerleman I actually think this issue should be named 'Implement Slider', since we don't really an implementation in this repo. Even though we do have the SliderViewManager, not only does it not implement most of the props and events of the RN Slider, we lack the JavaScript implementation to use it. (this can be seen when looking at the SliderExample from ReactCopies, which don't inlcude in ou

[2020-06-11 02:37] NickGerleman commented on #4612
@rectified95 we shouldn't need any custom JS. We already have `Slider.js` shared between platforms upstream https://github.com/facebook/react-native/blob/master/Libraries/Components/Slider/Slider.js That JS getting included is actually what led me to discovering this. We will Yellowbox in RNTester from including it. I would guess the community module would also share this.

I wonder if there was s

[2020-06-11 02:40] NickGerleman commented on #4612
Yeah, I think that component does have a require-time dependency on the native component. It seems quite possible a ViewManager was added to prevent red-boxing but wasn't properly implemented.

[2020-06-11 06:00] #4882 closed

[2020-06-11 06:54] tero-paananen opened #5176 "RN NativeModules null or empty in release build"
### Environment

react-native-cli: 2.0.1
react-native: 0.61.5

System:                                                                                                                                                     OS: Windows 10 10.0.18363
CPU: (12) x64 Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz
Memory: 20.37 GB / 31.89 GB

[2020-06-11 07:52] kmelmon opened #5177 "Template app doesn't respect Themes/High Contrast mode"
The template app has hard-coded colors baked into it, which means it doesn't respect Windows themes or high contrast mode.  This could cause our customers to fall into a pit of failure, as by default the "Hello World" example, which not correct, may end up being copied into real apps.

Here's a screenshot of the app in Dark mode:
![CaptureDark](https://user-images.githubusercontent.com/33470154/84

[2020-06-11 08:06] tero-paananen commented on #5176
I think that there is no bug, it seems that in release build you cannot log modules like in debug. Following code works in release build

[code]

[2020-06-11 08:06] #5176 closed

[2020-06-11 09:43] asklar opened #5179 "When deploying an app from layout, we should deploy dependencies"
The current deploy from layout codepath assumes that all dependencies (e.g. MUX 2.4, .net / VCLibs) are installed but this isn't true in a clean machine. Installing apps from the store might bring these dependencies onto the box but we should do so if this is a clean machine too.

Otherwise the app fails to deploy when doing `run-windows`.

Fix: when deploying the app from layout we should also de

[2020-06-11 18:04] chrisglein commented on #5124
Will require dropping down to composition and creating an effect, similar to #2631.

[2020-06-11 18:05] #5127 closed

[2020-06-11 18:23] chrisglein commented on #5173
Need to figure out what Expo needs to do versus what we can do. First step is probably reaching out to Expo and figuring out how to work towards this.

[2020-06-11 18:29] chrisglein commented on #5177
There's one file that contains the colors here. We could fork that and add PlatformColor usage. Do we then upstream that eventually?

This would be a good case of demonstrating PlatformColor.

[2020-06-11 18:31] chrisglein commented on #5146
.netcore 5 is currently in preview. This will need to wait for it to be released, then we can clean all this up.

[2020-06-11 18:49] chrisglein commented on #5160
This looks like a core XAML issue, not specific to react-native-windows. In which case you should migrate this issue to the WinUI repo: https://github.com/Microsoft/microsoft-ui-xaml/issues

It's possible that linear gradients are suppressed by default when high contrast is enabled, and that's causing this issue. If so, it'd be good to have a way to opt out of that behavior (for XAML authors that

[2020-06-11 19:01] asklar opened #5182 "CLI should collect telemetry to measure KR"
We should collect some telemetry to measure:
* % successful builds
* C# vs C++
* modules being linked?
* others?

[2020-06-11 20:14] chrisglein opened #5183 "Gather telemetry on success/failure rate of new project CLI"
# Proposal: Gather telemetry on success/failure rate of new project CLI

## Summary
Get some data on how many times people get through the Getting Started steps successfully versus with errors.

## Motivation

Our goal is that 100% of the time someone is able to complete the Getting Started steps. Part of validating that is automation (e.g. #3274). Part of it is seeing how successful real develope

[2020-06-11 22:27] nasadigital commented on #5112
I can pick this up.
As @kmelmon mentioned if privateNetworkClientServer is enabled and I add an option to specify the hostname and/or port (similar to how it's done in #5062), remote debugging works for me similarly to how it's outlined in the wiki.
This approach should work with template apps as well.

[2020-06-12 00:20] gary-hu-ms commented on #5160
I will move this to ui-xaml nothing did in RNW. Thanks @chrisglein

[2020-06-12 00:22] kmelmon opened #5187 "Text component does not respect border properties"
The border properties should apply to all components in react-native but the RNW code only applies them to certain components:
-View
-Image
-Components based on ContentControl

Any other component, like Text, does not  respect the border properties.

See:  https://snack.expo.io/kJlEGti8g

On other platforms, notice the border draws around the text.  For example this is what the snack looks like on

[2020-06-12 00:23] kmelmon commented on #5187
This looks to be a general problem that will likely affect any non-ContentControl-based component.

[2020-06-12 02:11] jackerghan commented on #3670
Btw, @sahrens and I hit this issue too - in Spencer's case we were not able to find AccessibilityInfo instead of warn_once. It does take a long time to figure out what goes wrong, as it is sporadic based on the casing of the drive letter in your command prompt... We should drive a fix for this where it needs to be - can we help?

[2020-06-12 04:30] asklar opened #5188 "Problem with stale vnext\react-native.config.js"
when creating an app with the local repo as source/CLI, you end up with a copy from vnext which for some reason puts react-native.config.js into the app's folder, but then this breaks Metro
![image](https://user-images.githubusercontent.com/22989529/84464927-a54b4980-ac2a-11ea-83d6-f6ea0db9029a.png)
and it's pretty hard to debug why my app is trying to access my repo clone
Keith mentioned ACoates

[2020-06-12 07:51] kmelmon commented on #3670
@jackerghan thanks!  I can see two possible solutions:
1) Change the Metro code.  I think this would involve changing the haste map code to work with normalized paths (or possibly just use case insensitive search) when the platform is Windows.  This feels more risky but would solve the problem at its source.
2) Change the CLI code.  All the instances I've seen so far of this issue came from props

[2020-06-12 10:30] asklar commented on #5146
@dannyvv want to assign this to yourself to do when .net core 5 RTMs?

[2020-06-12 10:34] #5144 closed

[2020-06-12 14:31] creambyemute opened #5190 "Cannot add/init rn-windows on existing 0.61.5 Project. Works on fresh 0.61.5 project"
### Environment

If you are using latest version:
1. `react-native -v`:
`bash: react-native: command not found`
2. `react-native run-windows --info`:
`bash: react-native: command not found`
3. `reg query "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock"`
[code]

Otherwise if `--info` doesn't exist:
1. `react-native -v`:
`bash: react-native: command not found`
3. `npm ls react-native-

[2020-06-12 14:38] acoates-ms commented on #3990
Fixed in #5028

[2020-06-12 19:00] chrisglein opened #5197 "Document RNW version support matrix"
## Summary
As RNW moves forward from version to version, from 0.59 to 0.60 to 0.61 to 0.62... not all of these versions get uniform support. There will be caveats for each. And we should document those.

## Motivation
Create clarity for app developers about what risks they are taking on for staying on each particular version.

## Open Questions

- How should we communicate this? Table of combinati

[2020-06-12 19:30] asklar opened #5198 "Split out e2etest build from running the tests"
Since we aren't able to get reliable e2etest runs and building takes a while, I wanted to propose that we split the e2etest build from running the test, which would allow us to re-run just the test part without having to wait for a new build that just rebuilds the same thing.

[2020-06-13 05:15] #4862 closed

[2020-06-13 05:18] NickGerleman commented on #4865
This is mostly documented with https://github.com/microsoft/react-native-windows/issues/5043 but we want to make some of these guarantees external.

[2020-06-13 05:26] #4363 closed

[2020-06-13 07:29] coronatime2020 opened #5201 "Error while publishing app to Windows store Windows Runtime metadata validation FAILED Type name correctness"
Hi everyone,

Windows Runtime metadata validation FAILED Type name correctness Error Found: The type name correctness test detected the following errors: Impact if not fixed: Microsoft store doesn't allow apps that don't pass Windows Runtime Metadata Validation. How to fix: Please ensure there are no Windows Runtime types in the global namespace or in the Windows top-level namespace.

Can tell me

[2020-06-13 08:52] qmatteoq opened #5202 "Support react-native-localize"
# Support `react-native-localize` on RNW

## Basic Info
- Module Repo URL: [https://github.com/react-native-community/react-native-localize](https://github.com/react-native-community/react-native-localize)
- Target version: 0.61
- [ ] Issue exists on module repo (if so, [link]())
- [ ] Module has a Legacy/C# implementation (if so, [link]())

## Which app/customer is requesting this module?
An AppC

[2020-06-13 21:31] acoates-ms opened #5203 "FastRefresh doesn't work with DebugHost"
If an app specifies a custom DebugHost, we load the bundle from the server just fine, but call to
`m_instance.Load()->callJSFunction("HMRClient", "setup", std::move(params));` uses GetSourceBundleHost and GetSourceBundlePort which doesn't respect the DebugHost setting.

We should either only support one of these mechanisms of specifying the host.  And/or make sure we are able to use the DebugHost

[2020-06-14 05:38] kmelmon opened #5204 "Switch gets incorrectly disabled in very basic scenario with 2 Switches"
If I put 2 Switches into a barebones app and hook them both up with basic on/off behavior, interacting with one of the switches causes the other switch to become disabled.

See this snack:
https://snack.expo.io/g5a5hvCnK

When I run this on Android/iOS it behaves as expected:  You can interact with either switch and both switches stay enabled.  For example if I flip the first switch on, it looks l

[2020-06-14 06:43] NickGerleman commented on #5204
I think this is my bug. Looks like I accidentally set the new ViewManager command for Switch in 0.62 to set the "IsEnabled" prop on the switch instead of "IsOn"

[code]

In the RNTester switch examples, it looks like any of the examples explicitly setting state on the switch don't run into this for some reason. Likely implementation details of where React Native JS uses the ViewManager command vs

[2020-06-14 06:48] NickGerleman commented on #5204
Impact is that switches acting as uncontrolled components are broken in 0.62+, though I think they also might have been broken before. This seems like a backport candidate for 0.62.

[2020-06-14 07:06] NickGerleman commented on #5204
Actually, looking at Keith's example, we're explicitly setting state there as well, so I'm not sure the factors of why we don't see this issue in RNTester apart from one of the examples.

Testing with Snack for a switch without value set, it looks like iOS and to a lesser Extent Android have the same behavior when uncontrolled of flickering back to the original state. The example that shows this i

[2020-06-14 07:47] crutchcorn commented on #777
I apologize for bringing back an old issue, but I can't seem to find any resource or answer to this question anywhere else:

Does React Native Windows support handling of a right click on an "element"? If so, where can I find API docs?

[2020-06-14 09:37] NickGerleman opened #5206 "Move Override Manifests to Package Scope"
Right now we have override manifests scattered throughout the repo. Manifests need to either be explicitly pointed to as arguments to react-native-platform-override, or fuzzy logic is used to try to find them. This is somewhat cumbersome/error-prone, and will lead to duplicate hard-coded paths when we add scripts to automatically integrate the entire repo.

We can simplify the world by adding the

[2020-06-14 09:48] NickGerleman opened #5207 "Build "react-native-platform-integrate" script"
We want to automate integration with RN core. Apart from existing platform override logic we need to handle things like bumping package dependencies, generating commits for changes, etc.

We need to build a script to do this. This is conceptually similar to the evergreen script we had in most of 0.60 and below.

[2020-06-14 09:53] NickGerleman opened #5208 "Extract programmatic APIs out of react-native-platform-override CLI"
We need to be able to drive react-native-platform-override from another script to automate integration. This script could call into the program through its CLI, but this ends up either being limiting or requiring output of the override CLI to be machine readable.

A cleaner solution is to extract logic out of our current CLI commands and offer programmatic JS access to override manipulation. react

[2020-06-14 09:57] NickGerleman opened #5209 "Add Rules for Directory Copies to react-native-platform-override"
Replaces #4851

Override manifests can currently only describe individual files. When used to sync RNTester, this means we miss any new files added unless we manually add them. To get around this we need to be able to express rules to copy and validate entire directories. Recent re-architecting of the internals of react-native-platform-override should make this much easier.

[2020-06-14 10:14] NickGerleman opened #5210 "Automatically Create an Issue if a Publish Job Fails"
We will sometimes see issues that break our publish pipeline that go unnoticed for some time. We should add a step to our publish definition to create an issue in our repo if the pipeline fails.

[2020-06-14 15:48] vmoroz opened #5211 "Native Modules must be run in JS queue"
We should change the code to always use the JS queue for native modules.

Currently we do not specify the queue where the native modules run. We create a new serial queue for them. In the "classic" ReactNative each module can specify the queue where it runs. In the newer versions of ReactNative the plans are that all TurboModules run in the JS queue.

Since we did not implement the correct "classi

[2020-06-15 03:25] asklar commented on #5201
@coronatime2020 sounds like it's saying you have types in the global namespace (or in the Windows namespace) and that's not allowed for UWP apps. Make sure whatever types your app consumes (and your app's type too) are in some namespace. BTW this isn't specific to React Native for Windows though, just a general UWP requirement.

[2020-06-15 03:28] asklar commented on #5211
@vmoroz I thought modules calls run on the UI thread? e.g. CreateView returns a xaml element so it has to either run on the ui thread, or post a message to the ui thread to create it, wait, and return it...

[2020-06-15 03:53] coronatime2020 commented on #5201
 @asklar what is global namespace (or in the Windows namespace)? 😂

[2020-06-15 04:54] asklar commented on #5201
@coronatime2020 take a look at [Diagnosing Windows Runtime errors](https://docs.microsoft.com/en-us/windows/uwp/winrt-components/diagnosing-windows-runtime-component-error-conditions) doc. Basically you need something like:
[code]

[2020-06-15 06:45] coronatime2020 commented on #5201
@asklar can i use this code in uwp app?
App.xaml.cs
`
using Windows.ApplicationModel.Activation;
using Windows.Foundation;
using Windows.UI.Core;
using Windows.UI.ViewManagement;
`
`
protected override void OnLaunched(LaunchActivatedEventArgs e)
{
  base.OnLaunched(e);
  ApplicationView.GetForCurrentView().SetPreferredMinSize(new Size(500, 500));
  SystemNavigationManager.GetForCurrentView().AppVi

[2020-06-15 08:40] asklar commented on #5197
In addition to versions, we need to be clear about:
* some features are only available in some OS versions (we capture some of this but not exhaustively, e.g. animations only work on RS5+)
* consuming RNW via source vs. nuget (office) vs. loose binary (stellar)
* how do we ensure we are able to keep building older versions, in light of AzDO updating VS versions out from under us?

[2020-06-15 16:39] vmoroz commented on #5211
@asklar, all calls to native modules originate from the JS queue. RN native modules can specify on what queue they must be called. Some of them specify the UI thread. When we implemented the ABI-safe boundary and the ABI-safe native modules (aka "NativeModules 2.0"), we did not implement a mechanism to associate them with a queue. Currently, the "NativeModules 2.0" use a background serial queue. T

[2020-06-15 17:56] #5160 closed

[2020-06-15 18:13] chrisglein commented on #5210
Publishing nightly on master, and after each change on stable branches. This is all after you check in, so this can't be part of a PR check. So we need some sort of new mechanism here.
Whether this is an email or issue, we need to know who to direct it to. We can start broad (email core team) and go from there.

[2020-06-15 18:24] chrisglein commented on #5198
Feedback from Andrew, would make the happy path slower, since you have to build and then publish artifacts, then test. How much?
How does this interact with plans to use Helix for builds + tests?
How much time is it taking to the multiple build+retries right now? As in how much are we paying for the flakiness right now versus how would we be affecting our min run ("happy path").

[2020-06-15 18:26] chrisglein commented on #5197
We need to make this discoverable and update it: https://microsoft.github.io/react-native-windows/docs/win10-compat

[2020-06-15 18:32] chrisglein commented on #5190
May be a bug with how the CLI is handling npmrc files.
Is it correct that you're unblocked by putting it back after the init?
(regardless we'll want to investigate - just want to know if you're unblocked)

[2020-06-15 18:35] chrisglein commented on #5188
Andrew says we can't get rid of this file. It's how Metro knows where RNW is. This is the mechanism for how we plug into the CLI.

Did something break about the file copy? Didn't get a new version of the file on `init`. Was looking for RNW in the wrong place.

[2020-06-15 18:36] chrisglein commented on #5188
Sounds like there were some additional steps here to run `init` again. Can you spell out the repro steps?

[2020-06-15 18:39] chrisglein commented on #5182
Duplicate of #5183

[2020-06-15 18:39] chrisglein commented on #5183
From @asklar :

We should collect some telemetry to measure:

% successful builds
C# vs C++
modules being linked?
others?

[2020-06-15 18:42] #5182 closed

[2020-06-15 18:55] #5201 closed

[2020-06-15 21:03] #5204 closed

[2020-06-15 21:30] asklar opened #5214 "Proposal: Need to fail fast when mixing and matching XAML frameworks"
RNW currently targets system xaml, and we're starting to build support for WinUI 3.0.
Today if an app tries to mix different versions of WinUI they will eventually crash but it won't be obvious why (the stack trace won't tell them what they did wrong). We've had customers targetting WinUI 2.4 be confused when their app crashes (as M.RN currently uses 2.3.x).

This will be a lot "worse" when trying

[2020-06-15 21:49] NickGerleman commented on #5210
We have a general need for reporting when our automated processes go wrong beyond just this one even. E.g. when automatic integration fails, which is what led to me thinking about this. I haven't looked at what ADO has built-in yet. Issue creatiion via the Github rest API seems simple to script, but I would be a bit surprised if there wasn't a built-in email based solution.

[2020-06-15 22:07] NickGerleman commented on #5043
We had some good discussion of this in our brownbag, but there hasn't been much discussion on the issue itself. I moved this over to our Wiki under https://github.com/microsoft/react-native-windows/wiki/Versioning-and-Release and will close the issue. We should be able to derive what to put  on the docs site from this.

[2020-06-15 22:07] #5043 closed

[2020-06-15 22:16] #4682 closed

[2020-06-15 22:21] NickGerleman opened #5217 "Add Wiki Page for How to Backport a Change"
The full details of what users need to do in order to backport a change aren't documented. E.g. change file manipulation, or cherry-picking the committed PR so everything automatically gets linked up. Keith mentioned adding a wiki page for how to do this, which seems potentially useful.

[2020-06-15 22:25] NickGerleman commented on #4865
This is now documented in the WIki. It's more of a proposal format than a reference, but seems good for now.

[2020-06-15 22:25] #4865 closed

[2020-06-15 22:25] NickGerleman commented on #4865
Separate issues track making external guarantees on the docs site.

[2020-06-16 00:57] TheSavior commented on #5043
This is super exciting to me. Thanks for writing this up. We are super aligned with this

[2020-06-16 01:56] NickGerleman commented on #5079
Closing since we're able to publish now.

[2020-06-16 01:56] #5079 closed

[2020-06-16 01:57] NickGerleman commented on #4703
Closing since this was backported.

[2020-06-16 01:57] #4703 closed

[2020-06-16 06:59] creambyemute commented on #5190
@chrisglein Yes after the initial init, the `rm -rf node_modules/ && yarn` works. So we're not blocked by that.

[2020-06-16 07:16] coronatime2020 opened #5228 "Error while publishing app to Windows store Windows Runtime metadata validation FAILED Type name correctness"
### Environment
If you are using latest version:
1. `react-native -v`: "0.61.5",
2. `react-native run-windows --info`:
[code]
3. `reg query "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock"`
[code]
Then, specify:

- Target Platform Version(s):

- Target Device(s): Desktop

- Visual Studio Version: Visual Studio 2019

- Build Configuration: ReleaseBundle

### Steps to Reproduce

(Writ

[2020-06-16 07:17] #4963 closed

[2020-06-16 10:27] creambyemute commented on #3884
Reanimated and rn-gesture-handler are also used by a bunch of other libraries like react-navigation (gesture-handler) or react-native-draggable-flatlist (gesture-handler + reanimated).

There for sure are even more libraries using them and more and more libraries are switching from Animated API to rn-reanimated, especially since the new V2 Api got released. Just to keep that in mind.

I hope that

[2020-06-16 10:42] creambyemute commented on #4443
Not sure how similiar this one is, it's view instead of TextInput, unfortunately used by React-Navigation:
https://github.com/react-native-community/react-native-masked-view

[2020-06-16 10:50] creambyemute opened #5230 "Support react-native-safe-area-context"
# Support `react-native-safe-area-context` on RNW

## Basic Info
- Module Repo URL: [https://github.com/th3rdwave/react-native-safe-area-context]()
- Target version: ?
- [ ] Issue exists on module repo (if so, [link]())
- [ ] Module has a Legacy/C# implementation (if so, [link]())

## Which app/customer is requesting this module?
React-Navigation is using react-native-safe-area-context, so a big p

[2020-06-16 17:11] RatikKapoor opened #5232 "Trying to set min window size crashes React Native app"
### Environment

If you are using latest version:
1. `react-native -v`: 3.2.1
2. `react-native run-windows --info`: `System: OS: Windows 10 10.0.16299 CPU: (4) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz Memory: 3.00 GB / 5.86 GB Binaries: Node: 12.17.0 - C:\Program Files\nodejs\node.EXE Yarn: 1.22.4 - C:\Program Files (x86)\Yarn\bin\yarn.CMD npm: 6.14.4 - C:\Program Files\nodejs\npm.CMD npmPacka

[2020-06-16 17:42] #4985 closed

[2020-06-16 18:35] TheSavior commented on #5043
Are there available metrics for how far RNW / RNmacOS are behind RN master / RN stable? It would be good to have this metric that we can track and drive over time from both of our companies.

[2020-06-16 21:56] aeulitz opened #5238 "Add the 'IJSValueReader' interface implementation to the C++/WinRT ABI of the Win32 DLL"
# Proposal: Add the 'IJSValueReader' interface implementation to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains the '' interface. We need to evaluate if this interface and its implementation is needed in the ABI of the Win32 DLL and if so, add it.

[2020-06-16 21:59] aeulitz opened #5239 "Add the 'IJSValueWriter' interface implementation to the C++/WinRT ABI of the Win32 DLL"
## Proposal: [your title here]
Add the 'IJSValueWriter' interface implementation to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains the 'IJSValueWriter' interface. We need to evaluate if this interface and its implementation is needed in the ABI of the Win32 DLL and if so, add it.

[2020-06-16 22:04] aeulitz opened #5240 "Add an 'IReactContext' interface implementation to the C++/WinRT ABI of the Win32 DLL"
# Proposal: Add an 'IReactContext' interface implementation to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains an implementation of the 'IReactContext' interface. We need to evaluate if this interface is needed in the ABI of the Win32 and if so, add it.

[2020-06-16 22:05] aeulitz opened #5241 "Add an 'IReactDispatcher' interface implementation to the C++/WinRT ABI of the Win32 DLLYour feature request"
# Proposal: Add an 'IReactDispatcher' interface implementation to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains an implementation of the 'IReactDispatcher' interface. We need to evaluate if this interface is needed in the ABI of the Win32 and if so, add it.

[2020-06-16 22:08] aeulitz opened #5242 "Add an 'IReactModuleBuilder' interface implementation to the C++/WinRT ABI of the Win32 DLL"
# Proposal: Add an 'IReactModuleBuilder' interface implementation to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains an implementation of the 'IReactModuleBuilder' interface. We need to evaluate if this interface is needed in the ABI of the Win32 and if so, add it.

[2020-06-16 22:22] aeulitz opened #5243 "Add an 'IReactNonAbiValue' interface implementation to the C++/WinRT ABI of the Win32 DLL"
# Proposal: Add an 'IReactNonAbiValue' interface implementation to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains an implementation of the 'IReactNonAbiValue' interface. We need to evaluate if this interface is needed in the ABI of the Win32 and if so, add it.

[2020-06-16 22:26] aeulitz opened #5244 "Add an 'IReactNotificationArgs' interface implementation to the C++/WinRT ABI of the Win32 DLL"
# Proposal: Add an 'IReactNotificationArgs' interface implementation to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains an implementation of the 'IReactNotificationArgs' interface. We need to evaluate if this interface is needed in the ABI of the Win32 and if so, add it.

[2020-06-16 22:28] aeulitz opened #5245 "Add an 'IReactNotificationService' interface implementation to the C++/WinRT ABI of the Win32 DLLYour feature request"
# Proposal: Add an 'IReactNotificationService' interface implementation to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains an implementation of the 'IReactNotificationService' interface. We need to evaluate if this interface is needed in the ABI of the Win32 and if so, add it.

[2020-06-16 22:29] aeulitz opened #5246 "Add an 'IReactNotificationSubscription' interface implementation to the C++/WinRT ABI of the Win32 DLL"
# Proposal: Add an 'IReactNotificationSubscription' interface implementation to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains an implementation of the 'IReactNotificationSubscription' interface. We need to evaluate if this interface is needed in the ABI of the Win32 and if so, add it.

[2020-06-16 22:31] aeulitz opened #5247 "Add an 'IReactPackageBuilder' interface implementation to the C++/WinRT ABI of the Win32 DLL"
# Proposal: Add an 'IReactPackageBuilder' interface implementation to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains an implementation of the 'IReactPackageBuilder' interface. We need to evaluate if this interface is needed in the ABI of the Win32 and if so, add it.

[2020-06-16 22:32] aeulitz opened #5248 "Add an 'IReactPackageProvider' interface implementation to the C++/WinRT ABI of the Win32 DLL"
# Proposal: Add an 'IReactPackageProvider' interface implementation to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains an implementation of the 'IReactPackageProvider' interface. We need to evaluate if this interface is needed in the ABI of the Win32 and if so, add it.

[2020-06-16 22:37] aeulitz opened #5249 "Add an 'IReactPropertyBag' interface implementation to the C++/WinRT ABI of the Win32 DLL"
# Proposal: Add an 'IReactPropertyBag' interface implementation to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains an implementation of the 'IReactPropertyBag' interface. We need to evaluate if this interface is needed in the ABI of the Win32 and if so, add it.

[2020-06-16 22:38] aeulitz opened #5250 "Add an 'IReactPropertyName' interface implementation to the C++/WinRT ABI of the Win32 DLL"
# Proposal: Add an 'IReactPropertyName' interface implementation to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains an implementation of the 'IReactPropertyName' interface. We need to evaluate if this interface is needed in the ABI of the Win32 and if so, add it.

[2020-06-16 22:39] aeulitz opened #5251 "Add an 'IReactPropertyNamespace' interface implementation to the C++/WinRT ABI of the Win32 DLL"
# Proposal: Add an 'IReactPropertyNamespace' interface implementation to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains an implementation of the 'IReactPropertyNamespace' interface. We need to evaluate if this interface is needed in the ABI of the Win32 and if so, add it.

[2020-06-16 22:41] aeulitz opened #5252 "Add an 'IRedBoxErrorFrameInfo' interface implementation to the C++/WinRT ABI of the Win32 DLL"
# Proposal: Add an 'IRedBoxErrorFrameInfo' interface implementation to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains an implementation of the 'IRedBoxErrorFrameInfo' interface. We need to evaluate if this interface is needed in the ABI of the Win32 and if so, add it.

[2020-06-16 22:43] aeulitz opened #5253 "Add an 'IRedBoxErrorInfo' interface implementation to the C++/WinRT ABI of the Win32 DLLYour feature request"
# Proposal: Add an 'IRedBoxErrorInfo' interface implementation to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains an implementation of the 'IRedBoxErrorInfo' interface. We need to evaluate if this interface is needed in the ABI of the Win32 and if so, add it.

[2020-06-16 22:45] aeulitz opened #5255 "Add an 'IRedBoxHandler' interface implementation to the C++/WinRT ABI of the Win32 DLL"
# Proposal: Add an 'IRedBoxHandler' interface implementation to the C++/WinRT ABI of the Win32 DLL

## Summary
The ABI of the UWP DLL contains an implementation of the 'IRedBoxHandler' interface. We need to evaluate if this interface is needed in the ABI of the Win32 and if so, add it.

[2020-06-16 23:24] chrisglein commented on #4874
Would be great to hook up to AppCenter for easier deploy compared to XAML Controls Gallery

[2020-06-16 23:24] acoates-ms commented on #5211
@vmoroz , just for clarification, CreateView is part of a viewManager, and all viewmanager calls will continue to be posted to the UI thread.  -- When we move the UIManager to NM2, we'll have to write it so that it forwards its calls to the UI thread.

[2020-06-17 00:49] kmelmon opened #5261 "Write-up a "backporting guide""
This came out of a discussion with @NickGerleman about steps needed for backporting a change to a previous version.  There is some process devs all need to go through backport a change, including:
-Doing the PR:  Title should begin with [62.0] or whatever version it's targeting
-Changefile:  The type needs to be changed to "patch"
-Adding/removing tags

This stuff should get written-up and posted

[2020-06-17 03:33] asklar opened #5263 "Fix usage of SolutionDir from projects"
`SolutionDir` is a VS-only variable, we fake it in `Directory.Build.props` but sometimes we import stuff before that gets imported which results in MIDL breaks like the following when building just a single project instead of a solution:
[code]

The fix is to move the import of cppwinrt after microsoft.cpp.props. Ensure all projects can be built individually.

[2020-06-17 04:01] JunielKatarn commented on #5263
Agreed. I don't think MSBuild has a predefined variable name for the use we give to `SolutionDir`.
We should probably name it ourselves, and replace `SolutionDir` usages.

[2020-06-17 04:54] NickGerleman commented on #5261
Just added the same issue yesterday with #5217 and added that one to a project that I'm using to track work. We should be able to close one of these as dupes of the other.

[2020-06-17 05:48] NickGerleman commented on #5043
Probably the best way to track is based on the version of RN core we're targeting in our master branch. RNW is working on integrating the RN core nightly build from 3/22, and Mac is further behind right now, and is still integrating 0.62. We would definitely like to see the two more aligned in the future.

For RNW, the main challenge has ended up being less about pure integration speed and more ab

[2020-06-17 06:40] JunielKatarn opened #5265 "Tests WebSocketModule_* fail on Release configuration"
Tests `WebSocketModuleIntegrationTest::WebSocketModule_Ping` and `WebSocketModuleIntegrationTest::WebSocketModule_SendMultiple` fail on CI validation.

See https://dev.azure.com/ms/react-native-windows/_build/results?buildId=88534&view=logs&j=6a576c64-c360-5968-e6e9-1b092bc6a5ec&t=9867c3b7-ae0e-5159-b6d0-da40bcc7a881&l=90

Steps to reproduce
1. Build `ReactWindows-Desktop.sln` for `x64|Release`.
2

[2020-06-17 07:38] #4863 closed

[2020-06-17 07:45] #5211 closed

[2020-06-17 08:31] juhasuni commented on #3884
@creambyemute, in my understanding 95 % of the functionality of the `react-navigation` can be used without `react-native-reanimated` or `react-native-gesture-handler`. We're actually already using `react-navigation` with the legacy version of the `react-native-windows` (we're still in progress of updating to the vnext). We've simply disabled the default gesture recognition and we're not using Draw

[2020-06-17 09:58] branislavantic87 opened #5267 "Support react-native-fs"
# Support react-native-fs on RNW

## Basic Info
- Module Repo URL: https://github.com/itinance/react-native-fs
- [x] Module has a Legacy/C# implementation (https://github.com/itinance/react-native-fs/tree/master/windows/RNFS)

## Which app/customer is requesting this module?
It's a common thing to use file system when creating react-native app!

[2020-06-17 10:11] NickGerleman opened #5268 "Use a more appropriate default button style"
Right now button components get a bright blue color and rounded corners by default. This seems to be because we directly copy/paste the stylesheet used by Android in `button.windows.js`. We should consider a more appropriate default style, as even iOS will do something quite different here.

[code]

![image](https://user-images.githubusercontent.com/835219/84885378-d1f6cb00-b047-11ea-9333-0ad36905

[2020-06-17 11:28] NickGerleman opened #5269 "Remove Forking of StyleSheetValidation.js When We Reach 6/25 Facebook Nightly Build"
The button component defines a style as so:

[code]

For non ios/Android platforms, that creates a style object which looks like:
[code]

As of 0.63(ish) `StyleSheet.create` will choke on undefined values. This is caused by this commit https://github.com/facebook/react-native/commit/f464dad5d4f0fbf1cb23e21d22907ffddeaf97e4

We should either change that commit or change Button to have a better fall

[2020-06-17 13:16] NickGerleman opened #5270 "Remove Appearance and DebugEnvironment Overrides When We Hit Facebook's 4/6 Nightly Build"
AppearanceModule broke web debugging until a fix was added to facebook/master on 4/6. This was cherry-picked into 0.62, and is in the final version of 0.63, but isn't in the 3/22 nightly build we're beginning integration of. We should remove it when we hit the 4/6 nightly build.

The base of 0.63-stable is the 4/9 build.

[2020-06-17 16:57] willerpp commented on #3263
thank you @uhteddy for your detailed post, it works for me.

[2020-06-17 19:27] harinikmsft commented on #3884
Just adding more info on customer asks here: several AppConsult partners have highlighted react-navigation module as an adoption blocker/must-have.

[2020-06-17 20:59] Khalef1 opened #5273 "Support codegen and "Native Modules 2.0" for View Managers"
(Splitting #4319 , which was tracking both Internal Modules and View Managers). This issue will track the View Managers part

This issue tracks supporting codegen for View Managers which are defined using Facebook's flow Definition.

[2020-06-17 21:00] Khalef1 commented on #4319
Editing title to remove "View Managers from this issue. Codegen for view managers is now tracked using #5273

[2020-06-17 21:09] Khalef1 commented on #4541
Closing this. @aeulitz  opened several different issues for different parts of this one.

[2020-06-17 21:09] #4541 closed

[2020-06-17 21:39] asklar commented on #3263
Here is the VS bug for the LNK1103 / LNK4209 error introduced in VS 16.6 :
https://developercommunity.visualstudio.com/content/problem/1042212/vs-166-compilation-fails-after-update.html
https://developercommunity.visualstudio.com/content/problem/1042211/lots-of-lnk4209-warnings-after-the-latest-update.html?childToView=1082676#comment-1082676

[2020-06-18 01:09] danilloalvis commented on #3884
react-navigation in version 5 has more native dependencies for Android and IOS:

`react-native-gesture-handler`
`react-native-reanimated`
`react-native-screens`
`react-native-safe-area-context`
`@react-native-community/masked-view`

for react-native-windows to be successful, we need full support for react-navigation, as it is an essential library

[2020-06-18 02:05] kmelmon opened #5275 "Due diligence for version 63: pressRectOffset => pressRetentionOffset"
This breaking API change is coming in react-native version 63:

[Breaking][General]: Pressable: Rename pressRectOffset to pressRetentionOffset to be consistent with other touchables ([6610327](https://github.com/facebook/react-native/commit/6610327) by [@TheSavior](https://github.com/TheSavior))

Based on the discussion below, we should pick up this change for "free".  This task is just due dilige

[2020-06-18 02:12] TheSavior commented on #5275
I don't actually think that breaking change is an issue. Touchable and Pressability use `pressRectOffset` internally, although the API exposed on all the Touchables was `pressRetentionOffset`. When Pressable landed, we didn't realize the naming difference on the Touchables, so the prop exposed was called `pressRectOffset`. We renamed the prop exposed by Pressable to `pressRetentionOffset` to match

[2020-06-18 02:28] kmelmon commented on #5275
Thanks @TheSavior!  We do have a bunch of forked files with the old prop name, so I think we'll just need to make sure we update our forked files with the new prop name (and possibly some tests).

[2020-06-18 02:47] TheSavior commented on #5275
Are all the forked files the ones in your OP? I don't think any of those need to change. Take this for example:

[code]

I think that is saying, pass to Touchable (the internal statemachine), a function that called the prop called `pressRetentionOffset`. The public API name is `pressRetentionOffset`, the internal name hasn't changed. Nothing in that file needs to change.

The bug was purely in Pre

[2020-06-18 03:04] kmelmon commented on #5275
Thanks @TheSavior for clarifying.  I do see this hit:
https://github.com/microsoft/react-native-windows/blob/a3467d7effb527e02cc3366d4dac255697285b8b/vnext/src/Libraries/Pressability/Pressability.windows.js#L64
Isn't this the place where we declare the public prop name?  If so this seems to be the only place that needs a rename.

[2020-06-18 03:34] TheSavior commented on #5275
I don’t think so. Pressability is the internal implementation detail of Pressable (and now all the other Touchables as well). Pressable takes the public prop name and passes it into the internal Pressability key with the other name.

[2020-06-18 07:34] creambyemute commented on #3884
@danilloalvis I agree partially.

React-Native Screens can be disabled with just a single line of code.
RN-Safe-Area-Context is imo stubbable, I'm not aware of notches on Windows Devices.

[2020-06-18 09:09] temetvince commented on #3396
Hello, I see that this has been moved back. I believe this feature is important, because react native windows is MIT licensed, while Visual Studio is not. Unless I pay for Visual Studio, I must use the Community version, which limits my use for commercial purposes to 5 or fewer developers. In effect, this means that any business with >5 devs using this MIT licensed free software is actually now in

[2020-06-18 09:32] NickGerleman commented on #5269
Sounds like the style validation changes were unintentional. Going to create a PR to fix those and patch that in instead.

[2020-06-18 09:37] MakhouT commented on #2546
@harinikmsft I see the label 'must-have' has been removed, does this mean this won't be supported anymore?
I think the roadmap isn't really clear of what is going to be supported at the moment...
Are we going for react-native-navigation by Wix? Or are we going for react-navigation?
Also as an other user mentioned, what is currently advised to use navigation in react-native-windows vnext.

[2020-06-18 10:44] #5263 closed

[2020-06-18 16:31] NickGerleman commented on #5269
PR to fix the style validation issue: https://github.com/facebook/react-native/pull/29171

[2020-06-18 16:38] NickGerleman commented on #5275
I don't think we have anything custom relying on pressability yet. We make some minor changes to Touchable, but those changes don't touch this prop.

A bit unrelated, but we do have some changes to Pressability itself to support keyboarding. These are 100% gross hacks, and we should really consider thinking about what it would take to do it the right way upstream.

[2020-06-18 18:06] chrisglein commented on #5268
iOS has a different look and feel here with its style, so it's not a matter of everything matching Android. Does seem arbitrary to match Android then. But of course whatever it means to be platform specific is a deep rabbit hole. We'll need to be intentional about where we bring in platform details and where we try to unify across them.

[2020-06-18 18:08] chrisglein commented on #5268
At the very least using PlatformColor to use the right colors for Windows seems like a start.
@kikisaints there's definitely design work here to figure out how deep we should go.

[2020-06-18 18:10] chrisglein commented on #5269
If we take that other PR we don't need to do this for 0.63. But will need to one of them so putting this in 63 until we iron that out.

[2020-06-18 18:12] chrisglein commented on #5270
We have a copy of this fix and need to remove it when we get far enough forward.
This should generate merge conflicts with the tooling. Issue is linked in the manifest so should be enough trail back to this.

[2020-06-18 18:21] chrisglein commented on #5261
Duplicate of #5217

[2020-06-18 18:21] #5261 closed

[2020-06-18 18:23] harinikmsft opened #5278 "Image.onLoad event's source.url is now source.uri"
Copying from @kmelmon 's changelog notes: On `Image`, `onLoad` event objects' `source.url` is now renamed to `source.uri`. See [Commit 74ab8f6](https://github.com/facebook/react-native/commit/74ab8f6). Downstreaming this may be a breaking change, would need to validate and flag as such if needed.

[2020-06-18 18:24] TheSavior commented on #5268
The goal of <Button> is "A basic button component that should render nicely on any platform."

I believe the intent of the existing platform styles is to kinda (but not super well) match the experience of default platform buttons. So on Windows I'd expect Button to kinda look like a default Windows button. Similar on Mac.

In reality, this component doesn't matter and nobody should really be using

[2020-06-18 18:25] chrisglein commented on #5232
Can you provide the stack for the crash?
@kmelmon Can you attempt to repro this and see if we see the same? (no clue if this is affected between 61->62)

[2020-06-18 18:29] chrisglein commented on #5228
Duplicate of #5201

[2020-06-18 18:29] #5228 closed

[2020-06-18 18:36] chrisglein commented on #5267
Yep, we've got this on our list. Definitely much-requested and on our radar. Please add all you requirements to the linked issue.
Duplicate of #2829

[2020-06-18 19:06] RatikKapoor commented on #5232
Thanks for looking into this @chrisglein.

This image is the crash when resize view is tried:
![Annotation 2020-06-18 130215](https://user-images.githubusercontent.com/14501811/85061588-50e12600-b164-11ea-9c7d-9f0b5d5ecf3e.png)

This image is the stack when SetPrefferedMinSize is called
![Annotation 2020-06-18 130354](https://user-images.githubusercontent.com/14501811/85061643-6a826d80-b164-11ea-8

[2020-06-18 20:45] AndreBastos23 opened #5280 "Question: Is it possible to import a .dll file into our react-native-windows project?"
Hello,

I'm currently trying to add a .ddl file into our react-native-windows, but i'm getting the following error:

![image](https://user-images.githubusercontent.com/9679053/85069833-ac370680-b1ac-11ea-9ab4-dd074064de56.png)

As you can see in the picture below, i've imported the dll into the project root, and added a reference to the main ddl (their documentation only talks about referencing th

[2020-06-19 00:07] rectified95 commented on #3417
Unfortunately, fixing onPress for nested Text in #3373 doesn't make this go away in any way. Until the XAML Run component supports automation, this cannot really be done.
I've noticed that the specific problem instance referenced in the issue description has been worked around by removing the nestedness; however, the issue still occurs, if the Text tags are rearranged.
FYI @chrisglein

[2020-06-19 00:10] kmelmon opened #5284 "Make I18nManager.swapLeftAndRightInRTL(true) the default for new apps"
This came out of a discussion with Facebook on the current state of RTL support.

Currently, the "left" and "right" layout properties flip when direction = rtl.  This is technically not W3C compliant - they are not supposed to flip.  The history goes back to this being the only implementation.  Now that we have "begin" and "end" versions of these properties, we could change the behavior of "left"

[2020-06-19 00:11] kmelmon commented on #4662
Note that after we implement this, we should also do #5284.  We could even consider doing both at the same time.

[2020-06-19 00:45] rectified95 commented on #3822
@TheSavior I've read your comment on the macOS issue. I understand Flipper handles the dev menu through Metro. Still, can you tell me why you'd object to exposing the it in NativeModule?

[2020-06-19 01:37] kaiguo commented on #4505
Looks like they created a [react-native-template-typescript](https://github.com/react-native-community/react-native-template-typescript) community module for this, and we just need to run `npx react-native init MyApp --template react-native-template-typescript` instead. I created a PR to include this in our getting started doc.

[2020-06-19 02:43] aschultz opened #5285 "Invalid XML in Microsoft.ReactNative.vcxproj.filters (0.62)"
In the 0.62 branch, Microsoft.ReactNative.vcxproj.filters is missing XML tags in two places, making the file invalid:

[code]

[code]

[2020-06-19 02:55] TheSavior commented on #3822
I think it’s fine to expose that native module since it exists in iOS. My comment was less about that and more a comment about the implementation chosen for the vscode plugin 😀

[2020-06-19 03:14] kmelmon commented on #4505
@kaiguo I thought someone tried this and found it doesn't quite work, due to the directory structure created for the template.  Can you confirm?

[2020-06-19 05:29] kmelmon commented on #5232
This looks to be a WinUI3 issue:
https://github.com/microsoft/microsoft-ui-xaml/issues/2509

[2020-06-19 06:47] kaiguo commented on #4505
@kmelmon yes, I tested on both RNW 0.61 and 0.62, they worked fine. The only caveat is you need to have right versions of cli and react-native-template-typescript module, which they mentioned in their [doc](https://github.com/react-native-community/react-native-template-typescript#arrow_forward-usage).

[2020-06-19 06:54] ASchwad opened #5286 "'Question: Can I access the Windows Shell and the USB Ports via React-native-windows?'"
Hey guys,
i would like to write a program to flash microcontroller, which also gives some visual feedback about the processes for non-technical users. We are working with texas instruments CLI tools to do the actuall flashing.

Can I access the windows shell and the USB ports via this module?

Thanks in advance!

[2020-06-19 12:41] NickGerleman commented on #5285
This was introduced with  https://github.com/microsoft/react-native-windows/commit/fe11a96ebecc3ea9a2afb5fe24e0cf694e3968ab 3 days ago. @aschultz I will have this fixed up imminently (we're about to release) but you can use the build right before and should be unimpacted.

[2020-06-19 12:45] NickGerleman commented on #5285
We should consider adding validation for these files to CI since we tend to let them degrade in other ways and MSBuild/VSBuild tasks won't catch them since they don't functionallly affect the build. Will create a separate issue for that.

[2020-06-19 12:55] NickGerleman opened #5287 "Add PR Validation for Filter Files"
We will often accidentally let filter files get out of date, missing newer files, or referencing deleted files. This isn't caught during CI because they affect the VIsual Studio interface instead of impacting build. Recently in #5285 we ended up adding a filter that was totally invalid, which would show user-facing issues.

We should CI enforce filter validity, like we enforce Clang Format etc. Ex

[2020-06-19 16:59] chrisglein commented on #3417
Yep, it was suspected we'd need WinUI3 fixes to enable this. We'll handle when we can do that.

[2020-06-19 17:37] rectified95 commented on #3822
@SounD120 FYI I'm starting to look into this.

[2020-06-19 20:00] #5267 closed

[2020-06-19 21:09] acoates-ms commented on #5284
I'd argue that this should be a change made in core, that we would then apply to windows too. -- Rather than something we do in windows differently than the other platforms.

[2020-06-19 23:28] #4591 closed

[2020-06-19 23:49] #2853 closed

[2020-06-21 07:51] asklar commented on #5286
@ASchwad React Native for Windows creates a UWP app so any API that is callable from UWP will be callable from your app.

[2020-06-21 08:00] asklar commented on #5280
@AndreBastos23 React Native for Windows apps are UWP apps, so you should be able to consume any DLLs/components that are available for UWP apps. There's usually no guarantee about Win32 DLLs since these sometimes call into APIs that are not available in UWP.
The first error you are getting seems to indicate a problem with .NET. Are you maybe running a preview of .NET Core 5? That's not currently s

[2020-06-21 08:13] asklar commented on #5232
@kmelmon I don't think @RatikKapoor is running the experimental WinUI 3 code, in fact the stack shows `Windows.UI.ViewManagement` not `Microsoft.UI.ViewManagement`, so I think this is different.

@RatikKapoor when you hit a crash, you can save a crash dump by going to the Debug menu in VS and clicking Save Dump. If you are comfortable with it, you can upload this to your OneDrive and send us the l

[2020-06-21 17:21] kmelmon commented on #5232
@asklar Maybe this is also happening with WinUI2?

I can easily repro this on a "hello world" CLI app.  Just use this for your App.cpp

#include "pch.h"

#include "App.h"
#include "ReactPackageProvider.h"

using namespace winrt::my61test;
using namespace winrt::my61test::implementation;
using namespace winrt::Windows::UI::ViewManagement;
using namespace winrt::Windows::Foundation;

/// <summary>
/

[2020-06-21 22:27] asklar commented on #5232
Thanks @kmelmon for the repro. This is failing because there is no `CoreWindow` for the calling thread yet at the time of creating the App (we get an `E_NOTFOUND` hresult out of twinapi_appcore). I think it's illegal to call `ApplicationView` functionality in an app's constructor since the app seems to get constructed before the `CoreWindow`.

@RatikKapoor - try moving the call to ApplicationView

[2020-06-21 22:46] asklar commented on #5232
filed https://github.com/MicrosoftDocs/winrt-api/issues/1698

[2020-06-22 05:29] NickGerleman opened #5292 "Determine Compliance Needs for Binary Distribution"
@Khalef1 has pointed out that fully reproducible binaries are required by some compliance standards. We are currently unable to accomplish this due to the level of non-determinism in our CI environment. This could prevent teams from using our binary.

We should take a look at what is needed to create a deterministic binary. This would require pinning toolset versions for the produced binary. @jont

[2020-06-22 07:34] mtoan2111 opened #5293 "NativeUI: Tried to register two views with the same name of a TemplateControl"
Hi,
I am following to create a NativeUI Component at here:
https://microsoft.github.io/react-native-windows/docs/view-managers

However, I got an issues as follow:
![image](https://user-images.githubusercontent.com/15266976/85259115-a84c0280-b492-11ea-8788-f51b3940669e.png)
Does any body help me to explain this issues?

Here is my implementation:
I created a TemplateControl named ProductCard

Prod

[2020-06-22 09:50] mtoan2111 commented on #5293
Sr, I solved it. I forgot to create a styles object in my consumer

[2020-06-22 09:50] #5293 closed

[2020-06-22 16:00] barto98 opened #5296 "Initialization failure on npx react-native-windows-init --overwrite"
Hi,
I have problem when I run this command it can no longer execute it
**` npx react-native-windows-init --overwrite`**
because it cannot find the package of **`
react-native-windows@^0.61.0-0
`**
[code]
I hope you can help me

npm version: 6.11.3
node version: v12.11.1

[2020-06-22 16:41] RatikKapoor commented on #5232
Thank you @asklar and @kmelmon! I added the following code to App.cpp:
`void App::OnLaunched(Windows::ApplicationModel::Activation::LaunchActivatedEventArgs const& /*e*/)
    {
        super::OnLaunched(e);
        ApplicationView::GetForCurrentView().SetPreferredMinSize(Size(200, 650));
        ApplicationView::PreferredLaunchViewSize(Size(200, 650));
        ApplicationView::PreferredLaunchWindo

[2020-06-22 16:41] #5232 closed

[2020-06-22 16:41] hfsnetbr commented on #5296
I have the same issue here.

[2020-06-22 16:56] btav commented on #5296
@barto98 and @hfsnetbr,

I have the same issue. I found a work-around to get it to work. Not saying that this is the best solution... But it will at least hopefully unblock you guys for now.

First install `@react-native-community/cli` locally in your project.

` npm i @react-native-community/cli`

Then run the following command to init `react-native-windows`

` npx react-native-windows-init --ver

[2020-06-22 18:08] kmelmon commented on #5296
@acoates-ms It looks like an issue with react-native-windows-init against version 61.  I had issues as well.  Can you take a look?

[2020-06-22 18:12] kmelmon commented on #5292
@Khalef1 can you drive the discussion around what the requirements are, starting with Office?

[2020-06-22 18:14] #4505 closed

[2020-06-22 18:17] kmelmon commented on #5286
@kmelmon figure out how to leverage the bot to direct to stackoverflow

[2020-06-22 18:21] kmelmon commented on #5284
I think we should implement the API before changing the default.  Agree we should upstream the default change.

[2020-06-22 18:26] kmelmon commented on #5278
eventual goal is to use flowspecs to validate type safety but we're not quite there yet.
current flowspecs may not cover events.

[2020-06-22 18:28] kmelmon commented on #5230
Related to #3884

[2020-06-22 18:32] kmelmon commented on #5230
This is needed to implement react-navigation

[2020-06-22 19:26] yepMad commented on #5296
Same here.

[2020-06-22 19:29] yepMad commented on #5296
I can't say if it's the best gambiarra for the moment, but it worked as it should. Gratitude!

[2020-06-22 21:10] asklar commented on #5198
@chrisglein every rebuild is about 20min and the test is pretty noisy/unreliable. I believe @JunielKatarn was working on fixing them up or disable them, I'm not sure what the latest on it is.

[2020-06-22 21:12] asklar commented on #5188
might not be an issue anymore, closing for now

[2020-06-22 21:12] #5188 closed

[2020-06-23 00:20] btav commented on #5296
You can remove `@react-native-community/cli` afterwards from your `package.json`. Its just needed for the other command to work properly!

[2020-06-23 04:08] asklar opened #5304 ""Checking auto-linked files" takes a long time"
Can this experience be improved?

6>ΓêÜ Checking auto-linked files...
6>Success: No auto-linking changes necessary. (8081ms)

[2020-06-23 06:45] asklar opened #5305 "WinUI3: No UIContext property for SIP"
We implement the `keyboardDidHide` and `keyboardDidShow` events by [hooking into `CoreInputView`'s occlusion events](https://github.com/microsoft/react-native-windows/blob/3f17d742ee5045994fda3f10d2a489bde71659e3/vnext/ReactUWP/Views/SIPEventHandler.cpp#L44). This has a special codepath for xaml islands which won't be supported in WinUI 3.

We need to figure out how we can use the Win32 [`IInputPa

[2020-06-23 07:18] NickGerleman opened #5306 "Flaky ActiveObject Unit Test Failures"
Seen during "Universal PR x64 Release" in this run https://dev.azure.com/ms/react-native-windows/_build/results?buildId=89557&view=logs&jobId=ed394e98-44b1-53e1-ee16-2cfe6aaade3e&j=1a0a7975-0980-5c49-1520-226b7e6dd471&t=6d6db732-f1c2-573c-d2fd-ca58057b1157

[code]

[2020-06-23 07:19] NickGerleman commented on #5306
FTI @vmoroz. Not sure how common this failure is.

[2020-06-23 08:25] qmatteoq opened #5310 "Support react-native-config"
# Support `react-native-config` on RNW

## Basic Info
- Module Repo URL: [https://github.com/luggit/react-native-config](https://github.com/luggit/react-native-config)
- Target version: 0.61
- [ ] Issue exists on module repo (if so, [link]())
- [ ] Module has a Legacy/C# implementation (if so, [link]())

## Which app/customer is requesting this module?
An AppConsult customer

## In what scenarios

[2020-06-23 09:14] qmatteoq opened #5311 "Support react-native-device-info"
# Support `react-native-device-info` on RNW

## Basic Info
- Module Repo URL: [https://github.com/react-native-community/react-native-device-info](https://github.com/react-native-community/react-native-device-info)
- Target version: 0.61
- [ ] Issue exists on module repo (if so, [link]())

- [x] Module has a Legacy/C# implementation (if so, [https://github.com/react-native-community/react-native-d

[2020-06-23 09:18] qmatteoq opened #5312 "Support react-native-geolocation-service"
# Support `react-native-geolocation-service` on RNW

## Basic Info
- Module Repo URL: [https://github.com/Agontuk/react-native-geolocation-service](https://github.com/Agontuk/react-native-geolocation-service)
- Target version: 0.61
- [ ] Issue exists on module repo (if so, [link]())

- [ ] Module has a Legacy/C# implementation (if so, [link]())

## Which app/customer is requesting this module?
An

[2020-06-23 10:02] qmatteoq opened #5313 "Support react-native-pdf"
# Support `react-native-pdf` on RNW

## Basic Info
- Module Repo URL: [https://github.com/wonday/react-native-pdf](https://github.com/wonday/react-native-pdf)
- Target version: 0.61
- [ ] Issue exists on module repo (if so, [link]())

- [ ] Module has a Legacy/C# implementation (if so, [link]())

## Which app/customer is requesting this module?
An AppConsult customer

## In what scenarios will thi

[2020-06-23 12:03] qmatteoq opened #5314 "Support react-native-print"
# Support `react-native-print` on RNW

## Basic Info
- Module Repo URL: [https://github.com/christopherdro/react-native-print](https://github.com/christopherdro/react-native-print)
- Target version: 0.61
- [ ] Issue exists on module repo (if so, [link]())

- [ ] Module has a Legacy/C# implementation (if so, [link]())

## Which app/customer is requesting this module?
An AppConsult customer

## In w

[2020-06-23 12:16] qmatteoq opened #5315 "Support react-native-view-shot"
# Support `react-native-view-shot` on RNW

## Basic Info
- Module Repo URL: [https://github.com/gre/react-native-view-shot](https://github.com/gre/react-native-view-shot)
- Target version: 0.61
- [ ] Issue exists on module repo (if so, [link]())

- [x] Module has a Legacy/C# implementation (if so, [https://github.com/gre/react-native-view-shot/tree/master/windows](https://github.com/gre/react-nati

[2020-06-23 13:23] qmatteoq opened #5316 "Support rn-fetch-blob"
# Support `rn-fetch-blob` on RNW

## Basic Info
- Module Repo URL: [https://github.com/joltup/rn-fetch-blob](https://github.com/joltup/rn-fetch-blob)
- Target version:
- [ ] Issue exists on module repo (if so, [link]())

- [ ] Module has a Legacy/C# implementation (if so, [link]())

## Which app/customer is requesting this module?
An AppConsult customer

## In what scenarios will this module be us

[2020-06-23 17:33] kmelmon commented on #5230
@harinikmsft this would be a good first task for our partner team as it helps unblock the dependency chain for react-navigation (see #3884)

[2020-06-23 18:28] jagorrin opened #5317 "Narrator: Picker reads "collapsed" state twice after selecting an option from the Flyout"
### Environment

If you are using latest version:
1. `react-native -v`: 3.0.4
2. `react-native run-windows --info`:
  System:
    OS: Windows 10 10.0.18363
    CPU: (12) x64 Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz
    Memory: 14.31 GB / 31.84 GB
  Binaries:
    Node: 10.15.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.21.1 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.13.7 - C:\Program

[2020-06-23 19:22] rectified95 commented on #4385
Reload does work.

[2020-06-23 20:37] kmelmon opened #5319 "RNTester test automation, phase 1"
This tracks the first phase in automating RNTester tests in the CI loop.

This first phase is simply to get an end-to-end integration test that visits each RNTester page and verifies we don't crash.

[2020-06-23 23:48] hfsnetbr commented on #5296
@btav thank you very much! it's working fine now!

[2020-06-24 01:05] kmelmon opened #5322 "Build automated test for template app running in WinUI 3 mode"
This task is tracking adding a job to the CI loop to test building a CLI-generated template app running in WinUI 3 mode

[2020-06-24 01:24] kmelmon opened #5324 "RNTester test automation, phase 2"
This tracks the second phase in automating RNTester tests in the CI loop.

In this phase, we capture a tree dump of every page and compare to a master.

Care will need to be taken to produce stable masters... Things to watch out for that can change the tree to something unexpected:
-time to load the page
-user interaction (eg hovering the mouse over a button)
-animations
-images being loaded (take

[2020-06-24 01:27] kmelmon opened #5325 "Validate CI loop on older releases"
Currently, we run the CI loop for older branches on demand, typically when we backport a change.  This isn't quite enough to validate quality for the build, because Visual Studio updates can happen at any time.

This task is tracking adding a scheduled CI loop run for these older stable branches.  Possibly just run daily.

[2020-06-24 01:33] kmelmon opened #5326 "Manual verification checklist before release"
Before we publish a new release, we should manually verify things are working.  This is particularly needed at this point in time as we don't have much test automation yet.

This task is tracking creating a checklist of manual verification steps.  Should include things like:
-Validating pages in RNTester are working as expected
-Running the CLI is working with latest tools
-Can create an app and p

[2020-06-24 02:18] #5285 closed

[2020-06-24 03:29] TheSavior commented on #5326
I believe we have a manual testing flow defined before doing releases on mobile. I imagine you’d at least want to do those same steps.

@alloy can probably link you to the right part in the releases repo if you can’t find it

[2020-06-24 11:17] #5296 closed

[2020-06-24 11:46] alloy commented on #5326
Aye, it’s pretty much what @kmelmon lists: https://github.com/react-native-community/releases/blob/master/docs/publish-release.md

(There’s some more docs too https://github.com/react-native-community/releases/tree/master/docs)

[2020-06-24 12:25] NickGerleman opened #5328 "Consider Omitting Carets for react-native-windows-init With Prerelease Versions"
We make breaking changes between prerelease versions. Caret prerelease, like "^0.x.0-0" can pull in new releases with breaking changes. This situation will be better in the future, but for 0.62, some of these would prevent building unless updating generated files.

We should consider pinning prerelease versions. This does have the downside of preventing users from automatically hopping onto "lates

[2020-06-24 12:35] NickGerleman commented on #5326
The init bugs we just saw with new versions of Yarn (or Yarn registry changes?) is a good example here where end-to-end CI gave us a false sense of security. Cases where we don't validate in CI, or it's hard to validate in CI seem good for the matrix, since this was a showstopper for Yarn users with resolution logic that wouldn't happen on CI, even if we were testing e2e init with Yarn instead of

[2020-06-24 12:39] NickGerleman commented on #5304
Seems like we could feed the lockfile as an input into the target to not retrigger the check unless packages change.

[2020-06-24 12:47] NickGerleman commented on #4033
Beachball added functionality to control tagging. I have another PR out to Beachball to add a bit more granularity, and an accompanying change to cut down on tag spam. Tags have been cleaned up, and we have a script to manually populate release notes. It's not automated yet, and needs to be backported to stable branches, but the overall work is there now. Linking that script to close this.

[2020-06-24 13:01] NickGerleman commented on #5210
Re: the built in way to do this, AzDo lets you set up notifications for build failure and add a query for a specific definition (Publish). That seems like a simple option, but we're also going to be automated processes using the GH REST API anyway, so I'd almost rather create issues, since we'd want to anyway for real failures (assuming they aren't too spamy).

[2020-06-24 15:22] nasadigital opened #5329 "Rename DebugHost from ReactInstanceSettings to something more appropriate?"
The `DebugHost` property is used to specify the bundler, which might not be clear from the name (particularly in remote debugging scenarios).
To boot, the individual settings to set the hostname (`SourceBundleHost`) and port (`SourceBundlePort`) don't align with the naming scheme.
After talking with @asklar the conclusion was that the name should better reflect this or that this could be better do

[2020-06-24 16:21] nasadigital commented on #5112
The PR only fixes remote debugging in the Playground app, so I'm reopening the issue.

[2020-06-24 17:43] dannyvv opened #5332 "Code Cleanup: Something keeps writing generated headers to the source tree. This should be obj folder"
After building locally frequently something writes: `vnext/Microsoft.ReactNative.ComponentTests/IJSValueReader_h.h` and `IJSValueWriter_h.h`.
Generated files should never be placed in the source tree, they should always live in the obj directory.

We should figure out which build step writes these and redirect them to the obj tree instead of the source tree.

[2020-06-24 18:43] dannyvv commented on #5146
NetCore 5 is not out yet, but we just updated to 3.1

[2020-06-24 19:14] willerpp commented on #3884
Guys I'm looking to create a top menu with bottoms for this version of react-native for windows, could you recommend me what component could I use for this?

[2020-06-24 20:53] kmelmon commented on #5112
@nasadigital thanks for the work done so far!  Can you make sure this wiki page is up to date as you complete the work:
https://github.com/microsoft/react-native-windows/wiki/VS-Remote-Debugging

[2020-06-24 22:05] asklar opened #5333 "SIP keyboard event won't fire in WinUI 3 in XamlIsland"
See #5309.

We have events that we need to fire when the SIP keyboard shows/hides and we were using the UIContext to get the CoreInputView
https://github.com/microsoft/react-native-windows/blob/3f17d742ee5045994fda3f10d2a489bde71659e3/vnext/ReactUWP/Views/SIPEventHandler.cpp#L50-L78

WinUI 3 has no  `UIElement.UIContext` property so we right now we go down the fallback path. We need to evaluate if

[2020-06-25 07:56] asklar opened #5339 "Get Playground-win32 running with a WinUI 3 island"

[2020-06-25 14:25] #4033 closed

[2020-06-25 18:11] kmelmon commented on #5333
Note that we may need something new in WinUI 3 to fix this.  @chrisglein do we need a new label to capture this sort of ask?

[2020-06-25 18:15] kmelmon commented on #5329
Note:  Android or iOS may already have this name.

[2020-06-25 18:32] kmelmon commented on #5326
@chrisglein you were already creating a set of release steps.  Can you incorporate those into an official page so folks on the crew have a place to go when we're cutting a release?  Also note the link above from eloy.

[2020-06-25 18:33] kmelmon commented on #5324
@kmelmon find the task assigned to Alex and de-dupe.

[2020-06-25 18:34] kmelmon commented on #5322
already done

[2020-06-25 18:34] #5322 closed

[2020-06-25 18:39] kmelmon commented on #5325
Also need a mechanism to notify us when something in automated tests fail.

[2020-06-25 18:39] kmelmon commented on #5325
Also need to know when things fail!

[2020-06-25 18:41] kmelmon commented on #5325
@chrisglein we should find someone to work on this.

[2020-06-25 18:45] kmelmon commented on #5317
@kaiguo can you debug this as a first step?  Wondering if this also happens with in-box XAML.

[2020-06-25 19:26] NickGerleman commented on #5275
Confirmed in our 0.63 branch that Touchable internally keeps the `pressRetentionOffset` prop. The only references to `pressRectOffset` are for Pressability config and the forked TouchableWin32.

[2020-06-25 19:26] #5275 closed

[2020-06-25 19:30] NickGerleman commented on #5275
During discussion there was some mention of hit slop, which is a separate view property (just called `hitSlop`). We don't seem to support it in our view managers. Filing a separate issue for that.

[2020-06-25 19:35] NickGerleman opened #5341 "Support hitSlop Native Component Property"
We don't implement this RCTView property, which is potentially important for touch scenarios (especially for Touchable/Pressable). We should add support to out view managers.

[2020-06-26 00:00] #4944 closed

[2020-06-26 00:00] #4928 closed

[2020-06-26 01:20] NickGerleman commented on #5177
Someone implemented this upstream already it looks like. https://github.com/facebook/react-native/pull/28711

[2020-06-26 01:20] NickGerleman commented on #5177
They did it using Appearance instead of PlatformColor though, so no support with web debugging.

[2020-06-26 01:25] NickGerleman commented on #5177
This will be available in 0.64, and will support dark mode but probably not do the right thing with high contrast.

[2020-06-26 03:18] NickGerleman commented on #5269
Going to go with the style validation change instead. Going to repurpose this bug for that.

[2020-06-26 03:50] NickGerleman opened #5348 "Show a Better Error Message When Trying to Use TurboModules While Web Debugging"
Trying to load the TurboModuleExample while web debugging leads to this redbox error:
![image](https://user-images.githubusercontent.com/835219/85818427-70a8b900-b725-11ea-9048-af16de1f4fc9.png)

It's expected that TurboModules won't work when web debugging, but the error here is a bit confusing. Can we make it clearer?

[2020-06-26 03:56] NickGerleman opened #5349 "It takes 30 Seconds to Launch the Already Built Playground App Using run-windows"
`run-windows` doesn't seem to do as much incrementally as it should, at least for Playground. On my machine, running `yarn windows` in playground for a second time will try to restore NuGet packages, run autolinking checks twice (the second time taking 5s), will do some of the build, and will re-deploy.

This process takes under 5 seconds from Visual Studio.

[code]

[2020-06-26 04:24] NickGerleman opened #5350 "Keyboard Events Are Not Seen After Instance Reload"
Steps to repro:
1. Load the playground app with RNTester
2. Navigate to the touchable example
3. Tab to a touchable and press the spacebar to activate (works)
4. Click the play button to reload
5. Navigate to the touchable example
6. ab to a touchable and press the spacebar to activate (doesn't work)

[2020-06-26 05:10] TheSavior commented on #5348
I think this is a problem upstream as well

[2020-06-26 05:19] NickGerleman commented on #5278
NetUI seems to have never implemented this, so we should be good there.

[2020-06-26 05:38] NickGerleman opened #5351 "Playground Cannot Be Built in Release Due to Bundling Issues"
[code]

[2020-06-26 05:45] NickGerleman commented on #5351
It looks like this might have been due to a stale metro config I had locally. Closing this.

[2020-06-26 05:45] #5351 closed

[2020-06-26 09:12] asklar commented on #5349
See also #5304

[2020-06-26 14:29] #5203 closed

[2020-06-26 17:44] javieraparisivaldes opened #5357 "The hotreloading is broken when we add a new package"
Environment

If you are using latest version:
1. `react-native -v`: 4.9.0
2. `react-native run-windows --info`:System:
    OS: Windows 10 10.0.18362
    CPU: (8) x64 Intel(R) Core(TM) i7-8565U CPU @ 1.80GHz
    Memory: 3.93 GB / 15.73 GB
  Binaries:
    Node: 12.9.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.0 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.13.2 - C:\Program Files\nod

[2020-06-26 23:22] asklar commented on #5326
@kmelmon @chrisglein we should make sure that we are testing the community modules that we added against the new version of RNW and update them if need be. See Community module support principles #5031

[2020-06-26 23:48] asklar opened #5362 "Microsoft.ReactNative 0.62 does not pass WACK"
We added a call to AppPolicyGetWindowingModel which is not WACK-compliant, this will block submission of apps to the Store.

[2020-06-26 23:50] asklar opened #5363 "Add WACK test to CI loop"
We should ensure Microsoft.ReactNative is WACK-compliant, as we recently got bit by using a banned API which will make uwp apps fail submission, see #5362.

[2020-06-26 23:53] #3990 closed

[2020-06-26 23:53] #4073 closed

[2020-06-26 23:53] #4310 closed

[2020-06-26 23:53] #4321 closed

[2020-06-26 23:53] #4362 closed

[2020-06-26 23:53] #4376 closed

[2020-06-26 23:53] #5278 closed

[2020-06-27 02:53] kaiguo commented on #5317
@jagorrin I created a test app same as your setup, react 16.9.0, react-native 0.61.5, react-native-windows 0.61.14, but wasn't able to repro it.

Here's the code I tested:

[code]

Can you share a minimal repro app if you are still seeing the issue? Thanks!

[2020-06-27 22:49] jajabarr opened #5371 "Provide the framework "Microsoft.VCLibs.140.00.Debug""
### Environment

If you are using latest version:
1. `react-native -v`: react-native-cli: 2.0.1 react-native: 0.62.2
2. `react-native run-windows --info`:
 System:
    OS: Windows 10 10.0.18363
    CPU: (24) x64 AMD Ryzen 9 3900X 12-Core Processor
    Memory: 57.70 GB / 63.91 GB
  Binaries:
    Node: 12.9.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.17.3 - C:\Program Files (x86)\Yarn\bin\yarn.

[2020-06-28 07:21] asklar commented on #4475
related: #5362 #5365

[2020-06-29 13:38] achipa-HP opened #5375 "Headless JS (backgroundtask) support"
# Proposal: Headless JS (backgroundtask) support, take 2

## Summary
Provide functionality and examples that allow for headless JS support in backgroundtasks

## Motivation

Many of the system and lifecycle events in the UWP model land in backgroundtasks. Not having a (documented way) of having that functionality runs the danger of code duplication and/or hacks that use React Native for Windows in

[2020-06-29 14:07] NickGerleman opened #5376 "Separate IntegrationTests Native Project from IntegrationTests JS target"
We have a project in `vnext` called `IntegrationTests`. This name is the same as RN's JS for IntegrationTests, which is one of our JS build targets. This means the same folder has source and targets, making it awkard to clean of discover things.

We should move the native project. This will hopefully happen with upcoming changes to the desktop test runner.

[2020-06-29 14:12] NickGerleman commented on #5376
FYI @JunielKatarn, not sure if this issue has been on your radar

[2020-06-29 16:48] jagorrin commented on #5317
@kaiguo A minimal repro app is linked at the end of the issue under "Reproducible Demo"

[2020-06-29 17:18] Numbers-sa opened #5381 "React navigation for windows & macOS"
I wanted to know if react navigation works with windows & macOS, if not what alternatives can I use for navigation with these platforms.

[2020-06-29 17:57] asklar commented on #5197
## Notes from discussion

- different levels of support for security vs. features

- external customers are on 62
- samples apps on 61 - need to update
- community modules on 61? should be already working on 62
- once we have gallery app, make sure it works with a new release
- core set of community modules that are supported

- diff level of support than windows, winui, etc.
- our level of suppor

[2020-06-29 18:09] chrisglein commented on #5375
Can you give some background on what your scenario is for this? We want to understand how you would like to integrate UWP's notion of background tasks with React instancing. What are you trying to accomplish?

[2020-06-29 18:12] chrisglein commented on #5371
There is an issue on @asklar about installing dependent framework packages. Alex, find the issue and dupe out?

[2020-06-29 18:20] chrisglein commented on #5357
The issue seems to be that you're running the packager and then are changing dependencies while that is running. That will lose your packager, and that appears to the be problem. If you re-run the packager then you should be good.

Hot reload isn't going to work across this kind of change.

Let us know if restarting it doesn't resolve you're issue.

[2020-06-29 18:20] #5357 closed

[2020-06-29 18:21] asklar commented on #5371
This is #5179

[2020-06-29 18:21] #5371 closed

[2020-06-29 18:24] chrisglein commented on #5348
@NickGerleman can you create a bug on the core repo to improve this across the board?

[2020-06-29 18:24] chrisglein commented on #5348
May just be won't fix because web debugging will be going away...

[2020-06-29 18:27] chrisglein commented on #5341
Here's the API: https://reactnative.dev/docs/view#hitslop
XAML has its own built in handling for this kind of thing internally. Adding an additional slop on top of that may be tricky as XAML is doing the hit testing. Are there scenarios where apps are using this to dramatically increase the hit target size for other reasons?
Does this apply to all pointer types? Just touch or is mouse affected?

[2020-06-29 18:33] chrisglein commented on #5198
If we're moving stuff around for Helix, this may not just be useful because of the flakiness of the tests to justify this work. Built app delivered separately from the tests.

[2020-06-29 18:45] chrisglein commented on #5381
Our effort to try to get Windows support for react-navigation is tracked here: #3884
Short answer is not yet, but it's being worked on.
For macOS you'll want to check in via the [macOS repo](https://github.com/Microsoft/react-native-macos), but according to the [directory](https://reactnative.directory/?search=navigation) it's not yet supported.

[2020-06-29 18:45] #5381 closed

[2020-06-29 18:46] chrisglein commented on #5381
(as for alternatives, this one also isn't implemented yet either #2546)

[2020-06-29 18:51] kaiguo commented on #5317
@jagorrin, I wasn't able to repro it with your repro app either, I'm guessing it's probably a bug of in-box xaml in OS that got fixed. I'm on 20159.rs_onecore_dep.200625-1700.

[2020-06-29 19:31] asklar commented on #5362
Turns out this API got added to the 19041 SDK release of WACK so this is not needed anymore.

[2020-06-29 19:49] achipa-HP commented on #5375
The classic scenarios of headlessJS - like for data prefetching or precalculation when the conditions are right and app is not in the foreground, but also notifications and custom triggers. All this for in-process backgroundtasks.

Think https://docs.microsoft.com/en-us/uwp/api/windows.applicationmodel.background.systemtriggertype?view=winrt-19041

Example 1:
Online status changes:
 * data can be

[2020-06-29 22:42] asklar commented on #5362
however we still have a reference to kernel32 __C_specific_handler which comes via onecoreuap.lib which we had added to be able to call AppPolicyGetWindowingModel so maybe we still need this after all.

[2020-06-29 23:44] jonthysell opened #5384 "CodeSign Microsoft.ReactNative binaries and nuget package (infrastructure)"
We build a Microsoft.ReactNative nuget as part of our publish pipeline, but we can't publish it to nuget.org because it isn't signed.

We need to code sign the dlls, winmds, and nupkgs before we can publish to nuget.org.

This issue covers getting the basic infrastructure in place but keeps it disabled until we can make sure it meets compliance requirements.

[2020-06-30 01:04] #5362 closed

[2020-06-30 01:05] JunielKatarn commented on #5376
I'm aware, and I agree. Those files should not be mixed.
We can address this at tomorrow's deep dive.

[2020-06-30 03:00] #4959 closed

[2020-06-30 15:24] harinikmsft commented on #5316
Duplicate of #5158

[2020-06-30 15:46] Unforgiven-wanda opened #5389 "'Question: [Is support for WPF dropped entirely?]'"
Hello,
I remember checking this project some months back, the project description said you could generate both a Windows Store application for Windows 10 or a WPF application for older versions of Windows.
But now the docs are more than hazy on this point and I couldn't find a definitive answer in older issues, so please allow me to ask now:

- Does this project support older versions of Windows f

[2020-06-30 18:00] #3988 closed

[2020-06-30 19:55] #4866 closed

[2020-06-30 19:55] #4648 closed

[2020-06-30 21:57] harinikmsft opened #5397 "Component(s) for focus trapping"
# Proposal: Consider introducing new components/APIs for focus trapping

## Summary
While designing focus work in #2784, focus trapping was set aside as a P2 scenario and to be considered as an external component (or) API not part of core. In more recent conversations with React Native core and Facebook Messenger app, focus trapping has been identified as something that could potentially be part o

[2020-06-30 22:47] stmoy commented on #2494
For what it's worth, Xaml supports a set of implicit animations: https://docs.microsoft.com/en-us/windows/uwp/design/motion/motion-in-practice#implicit-animations

[2020-06-30 23:06] TheSavior commented on #2494
Those flags exist because there are bugs in the Android LayoutAnimation implementation that cause crashes and were never fixed. When LayoutAnimation was introduced it couldn't be enabled globally because it would have caused crashes for people so it was put behind an experimental flag. Well, we never resolved those crashes and never revisited removing the experimental flag.

In Fabric I believe La

[2020-07-01 01:05] chrisglein commented on #5333
Just the "Needs WinUI 3" label. We need to do a pass through those and differentiate the few that will automatically be fixed by WinUI 3 (e.g. something suddenly available downlevel) versus will need changes _on top of_ WinUI3 to address (the majority)

[2020-07-01 01:47] TheSavior commented on #5094
This sounds like the same problem we are having on Messenger. Labeling with the partner tag.

[2020-07-01 05:27] javieraparisivaldes opened #5398 "Yarn run windows dont show app"
### Environment
1. `react-native -v`:4.10.1
2. `react-native run-windows --info`:  System:
    OS: Windows 10 10.0.18362
    CPU: (4) x64 Intel(R) Core(TM) i3-7020U CPU @ 2.30GHz
    Memory: 3.91 GB / 7.91 GB
  Binaries:
    Node: 12.9.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.4 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.10.2 - C:\Program Files\nodejs\npm.CMD
  npmPackages:

[2020-07-01 11:46] stecrain commented on #3863
Re-opening to make sure this issue is still tracked.
When this is hit in an app it's a bit challenging to track down what's wrong.

[2020-07-01 16:44] russpitre commented on #5179
By chance, is there a workaround until a fix comes out?

[2020-07-01 17:00] #5316 closed

[2020-07-01 18:57] asklar opened #5404 "Restore support for offline builds in run-windows"
We should support offline builds. This was made possible by checking whether nuget was already installed and using that. Can you restore that functionality?

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows/pull/5330_

[2020-07-02 03:35] asklar commented on #5389
@Unforgiven-wanda thanks for your question. The current version of RNW supports Windows 10 version 16299 and higher only, see https://microsoft.github.io/react-native-windows/docs/rnw-dependencies for full details.

In the future you'll be able to target other OS releases via WinUI 3. WPF is not in the roadmap.

[2020-07-02 03:44] asklar commented on #5398
@javieraparisivaldes Gracias por tu consulta. Me parece que es un resultado del mismo bug que #5179 .
Hasta que no se resuelva ese bug, deberías poder correr tu aplicación siguiendo estas instrucciones por única vez para pre-instalar los paquetes de dependencias necesarios:

- abre tu archivo SLN (en el directorio windows de tu aplicación) en Visual Studio
- F5 para compilar y ejecutar tu aplicaci

[2020-07-02 04:00] asklar commented on #5179
@russpitre Hi @russpitre - in the meantime you should be able to get unblocked by opening the solution file in Visual Studio (look for a file with the sln extension in the app's windows directory) and then trying to build and deploy the app. Once VS is able to deploy the app, it will have preinstalled the framework package Microsoft.VCLibs.140.00.Debug etc. so from that point on you can just use `

[2020-07-02 06:15] NickGerleman commented on #5404
FWIW the previous NuGet binary logic was broken, and CI never tested it. When Pipelines did add a NuGet binary to its path, both us and partners saw CI failures because `run-windows` would crash.

Some more notes though:
1. We always run a NuGet restore during `run-windows`. Would this work if offline?
2. The Folly native project will download Folly sources as part of the build if not present

I t

[2020-07-02 07:43] Unforgiven-wanda commented on #5389
Thank you for the clarification. Is there a roadmap for when said support might become available?

[2020-07-02 09:19] NickGerleman commented on #5404
Looking at this more, it looks like VS doesn't include any local NuGet.exe (this is confirmed by https://www.nuget.org/downloads).

It seems to instead have a relatively private DLL that it uses that we probably shouldn't ourselves. An alternative solution would be to package NuGet ourselves and include as part of the JS payload.

[2020-07-02 10:24] NickGerleman commented on #5404
The linked PR cleans up NuGet logic, but doesn't fix the other issues mentioned.

[2020-07-02 12:25] NickGerleman opened #5419 "The CLI Needs Better Logic for Dealing With Multiple VS Versions"
Current logic for the CLI tries to locate the MSBuild binary by looking at the first vswhere result for 16.0, or an environment variable which isn't always defined. The environment variable doesn't necessarily point to a supported version (e.g. it could be V141).

Later during deployment we perform some checks against the first version returned by VSWhere, which may not be the version we run with.

[2020-07-02 14:11] #4812 closed

[2020-07-02 15:30] JoshyAbraham opened #5421 "exception thrown when navigating between views"
Exception is raised when user navigate between screens with in the application. noticed this issue on multiple windows version ( 10.0.18362.1,  10.0.19041.1).   react native  version : 0.59.0

COMMENT:
*** "C:\Procdump\procdump.exe" -accepteula -ma -j "c:\crashdumps" 20452 492 000001D382280000
*** Just-In-Time debugger. PID: 20452 Event Handle: 492 JIT Context: .jdinfo 0x1d382280000

NTGLOBALFLAG:

[2020-07-02 17:30] #5214 closed

[2020-07-02 18:10] chrisglein commented on #5398
Duplicate of #5179.
If there's more context needed to that issue feel free to add it or reactive if there's something we're missing here.

[2020-07-02 18:10] #5398 closed

[2020-07-02 18:13] chrisglein commented on #5389
Point of clarification: you can host RNW content inside a WPF app using XAML Islands. There's some samples for how to do that. But if you're looking to generate WPF content instead of UWP XAML yes that's now retired. As for WinUI3 there is some info about how to do that today (on preview 1) in the docs.
@harinikmsft I think you have an issue to add that sample link to the documentation, can you pr

[2020-07-02 18:17] chrisglein commented on #5375
@stecrain I believe you have some experience in this. Any chance you can give a quick summary? And then at some point we should probably write something on our docs website similar to the coverage on this topic for iOS and Android. It does seem like we should address it there.

[2020-07-02 18:20] Khalef1 commented on #5362
@asklar : I'm removing the request backport label here, and will track the backport using #5369

[2020-07-02 18:35] asklar opened #5424 "Should/can we update playground to 60?"
When running playground we now get this in Metro:

![image](https://user-images.githubusercontent.com/22989529/86397101-0da0b000-bc58-11ea-82e3-937bab351690.png)

[2020-07-02 18:53] JoshyAbraham commented on #5421
we are in the process of moving to the latest version of react native, to support our existing customers will it be possible for you to give your assessment on root cause of the issue helping as mitigate the impact until we move to the latest version of react.

[2020-07-02 19:19] NickGerleman commented on #5424
This was an artifact of moving to nightly builds with a different versioning scheme. The real version is around 0.63 but the CLI doesn't special case 0.0.0.

[2020-07-02 20:18] #5404 closed

[2020-07-02 20:56] asklar opened #5425 "New LogBox cannot be dismissed"
There is no close button, clicking on anything does not dismiss the logbox. Must restart the app in order to get it working again.

![image](https://user-images.githubusercontent.com/22989529/86408342-ac82d780-bc6b-11ea-8713-b86f2bd9eb85.png)

Compare this to the UWP version:
![image](https://user-images.githubusercontent.com/22989529/86416222-376ccd80-bc7e-11ea-959b-ddcf505df25d.png)

[2020-07-02 23:02] #4810 closed

[2020-07-02 23:07] asklar commented on #5425
when collapsed, the island variant shows the logbox placed too low relative to its UWP variant
![image](https://user-images.githubusercontent.com/22989529/86416139-0ab8b600-bc7e-11ea-99a2-5165918a47c2.png)
UWP:
![image](https://user-images.githubusercontent.com/22989529/86416185-2459fd80-bc7e-11ea-92af-493db85e61de.png)

[2020-07-03 00:16] #5419 closed

[2020-07-04 04:32] asklar commented on #5363
fixed by #5365

[2020-07-04 04:32] #5363 closed

[2020-07-06 07:39] #5389 closed

[2020-07-06 18:05] chrisglein commented on #5424
Will only affect people working out of our master branch. So confusing for those working internally, but not end developers.
Needs to be fixed in the upstream CLI.

[2020-07-06 18:06] chrisglein commented on #5424
Fix would be to suppress the message if the version is 0.

[2020-07-06 18:13] chrisglein commented on #5421
It looks like the failure is part of processing a Storyboard animation, aka a XAML animation not a React Native animation. Do you have the context of which control was executing here? In order to delve further we'd probably need a dump to get into that stowed exception. Looks like an issue targeting a Stroke property? Context on what custom native modules you have may help, in case it's the app XA

[2020-07-06 18:32] acoates-ms opened #5430 "Use babel-plugin-inline-view-configs once that package is published"
We enable the `babel-plugin-inline-view-configs` internally to help detect mismatches between windows and core view managers.

Unfortunately `babel-plugin-inline-view-configs` is not yet published publicly, so we had to copy the files locally.  This issue tracks the work to remove that copy, and use the publish package once its published.

[2020-07-06 19:02] #4854 closed

[2020-07-06 19:02] #4856 closed

[2020-07-06 19:02] #5206 closed

[2020-07-06 19:02] #5208 closed

[2020-07-07 03:16] #4546 closed

[2020-07-07 16:02] #4809 closed

[2020-07-07 16:03] #4695 closed

[2020-07-07 16:31] rectified95 opened #5437 "Certain components no longer render without the 'height' prop specified"
### Environment

RNW 0.62.0

### Steps to Reproduce
Include certain RN tags, such as Slider or DatePicker (in timer mode) in your JSX, and observe the output on the screen,
Code that used to work now needs to have height specified to render.

### Expected Behavior

Component renders on screen.

### Actual Behavior

Component doesn't show up on screen,

[2020-07-07 18:11] stmoy commented on #4569
First pass of API docs complete: https://microsoft.github.io/react-native-windows/docs/reactapplication-api

[2020-07-07 18:11] #4569 closed

[2020-07-07 18:20] stmoy commented on #4209
Hi @irakaundal - thank you for filing this request. To help with prioritization, can you provide some information about which app/product you work on?

[2020-07-07 18:22] stmoy commented on #4164
@chrisglein - do you know offhand if Picker is part of the "slimmening"? We already have a picker component implemented, right?

[2020-07-07 18:27] stmoy commented on #4443
@giregk - thank you for filing this request. The underlying WinUI platform doesn't have great support for text masking so it'd be difficult to achieve this in a performant way without changes in the underlying Windows platform.

I'm glad to hear you're unblocked, as it'll be difficult to achieve this in the short term.

[2020-07-07 18:41] stmoy commented on #3884
Thanks for the input & feedback, y'all.

Agreed, and we know we need to help get something bootstrapped ASAP. As a few folks like @kaiguo and @danilloalvis have mentioned, this module requires us to unblock a few dependencies first. The main blocker at the moment is reanimated, which Kai is looking at.

@willerpp - can you attach a pic to help us understand what you're trying to build?

[2020-07-07 18:50] MakhouT commented on #3884
@stmoy So we are not going for the one of Wix? As it never got pointed out which one will be supported.

[2020-07-07 19:08] chrisglein commented on #4164
@stmoy It is. We've added it to the community module (#3036), but haven't been able to remove it from the core repo entirely (#4611) as it isn't removed from Facebook's core repo. The API isn't public, but the code is still there.

[2020-07-07 19:36] stmoy commented on #3884
@MakhouT - let me double check. I agree that we should have more clarity as I am also confused 😅

[2020-07-07 21:26] NickGerleman opened #5445 "Add PR Validation for react-native-windows-init on N-1 Versions"
The latest version of `react-native-windows-init` is used even for older versions of react-native-windows. Changes to it in master can break the ability of consumers to create new apps of old versions. We've seem compat bugs introduced before, and should ensure during CI that changes to react-native-windows-init don't break current users.

[2020-07-07 22:17] NickGerleman opened #5447 "Running react-native-platform-override upgrade after an exception leads to weird results"
When upgrading overrides, we mark everything as up to date in the manifest once all merges are done. If an exception occurs, we are left with merged files, but the manifest is in an incorrect state. We will then try to do a three-way merge against files which may already include conflict markers, and produce a mess of those.

We should write to the manifest as we're upgrading to avoid this.

[2020-07-07 22:19] NickGerleman opened #5448 "react-native-platform-override shouldn't copy files when one already exists with different line-endings"
react-native-platform-override will copy all files from a directory override when at least one is out of date. This leads to some files copied which may be identical to the source apart from line endings. These are thrown out when we stage them, but can be confusing if looking at diffs in an editor.

[2020-07-07 22:21] NickGerleman opened #5449 "react-native-platform-override should validate non-copy overrides aren't identical to their originals"
Right now a derived or patch override that's identical to the original will lead to an exception when we try to do a three way merge. We should add a validation step that checks that they're not identical.

[2020-07-07 22:30] dannyvv opened #5450 "Create nuget package for Cxx shared source code"

[2020-07-07 22:30] dannyvv opened #5451 "Create nuget package for Managed CodeGen"

[2020-07-07 23:20] NickGerleman commented on #5448
Actually I think I'm going to try to fix this before merging the directory copy changes because I need to rework some of the upgrade logic there anyway.

[2020-07-07 23:20] #5448 closed

[2020-07-08 00:56] chrisglein opened #5456 "Document common process and options for community module CI"
We should add documentation for how to integrate basic testing of Windows support of community modules. Including how to leverage GitHub Actions, CircleCI, and any appropriate end to end testing libraries. This should go alongside the guide of [how to contribute to an community module](https://microsoft.github.io/react-native-windows/docs/native-modules-setup#adding-windows-support-to-an-existing-

[2020-07-08 01:22] #5179 closed

[2020-07-08 01:29] NickGerleman commented on #4915
Going to do a simple text diff of interface definitions as the cheap stopgap before real codegen.

[2020-07-08 02:21] kaiguo commented on #3884
Hi @juhasuni , sorry I didn't see your comment earlier, I'm curious how you bypassed gesture-handler dependency? I tried it just now and it failed to import GestureHandlerRootView in [StackView.tsx](https://github.com/react-navigation/react-navigation/blob/main/packages/stack/src/views/Stack/StackView.tsx). Did you stub out an empty implementation for Windows?

[2020-07-08 13:19] wagnerma opened #5459 "Support for writing native modules in Rust"
# Proposal: Support for writing native modules in Rust

## Summary
Rust is a fast and safe multi plattform language, perfectly fitted for writing native modules plattform neutral. Actual C# and C++ are supported and this proposal suggest to add the same support for building native modules in Rust.

## Motivation
Possibility to have support for a language to write application logic plattform neutra

[2020-07-08 17:09] jagorrin commented on #5317
I updated my OS to the most recent version and can confirm that I am no longer observing this issue.

[2020-07-08 17:09] #5317 closed

[2020-07-08 20:58] NickGerleman opened #5467 "run-windows is Always Run in Release Mode in CI"
#5283  added this bit of logic to `react-native-init.yml`

[code]

Both release and debug configs seem to be passing the release flag after this.

E.g. x86 debug runs:
[code]

x64 release runs:
[code]

[2020-07-09 07:11] NickGerleman opened #5471 "Flakiness with react-native-platform-override End to End Tests"
See https://dev.azure.com/ms/react-native-windows/_build/results?buildId=93198&view=logs&jobId=d1d6f0bf-8fba-5a08-054d-b7f8f3ed7bef&j=d1d6f0bf-8fba-5a08-054d-b7f8f3ed7bef&t=e4bbd405-1942-56d0-1e1c-1c68e6e1173c

We see a timeout with UpgradeStrategy tests where an individual test goes past the 120 second timeout (the entire test suite usually takes ~40s to 1m in CI, with an individual test usually

[2020-07-09 12:50] gulshanmudgal commented on #4718
.Net Core is now supporting app debugging with WSL 2, we can add a similar extension for React Native as well.

[2020-07-09 16:35] NickGerleman opened #5472 "MSRN NuGet Binaries Are Not Kept in Sync With NPM Package"
We have a really painful user experience around binary distribution and version updates. When a user updates their react-native-windows package, they will have a dangling version in the `packages.config` NuGet package configuration that has to be manually updated, even for patch releases.

An ideal solution would to be to use PackageReference and include targets we wanted to restore within the NPM

[2020-07-09 16:36] NickGerleman commented on #5472
Marking for 63, since binary distribution would be painful without this.

[2020-07-09 16:46] NickGerleman opened #5473 "Keep PackageReferences for MSRN Binary Internal to The NPM Package"
Related to #5472

Unlike the C++ project, the C# project is able to use PackageReference and seems to be doing that currently. It defines packages in the template though, which means it faces the same issues of keeping them up to date. See `csNugetPackages` in "/vnext/local-cli/src/generator-windows/index.ts".

We should keep these internal to NPM package so that binaries are kept in sync when use

[2020-07-09 16:46] NickGerleman commented on #5473
Thoughts @dannyvv?

[2020-07-09 16:53] asklar opened #5474 "Remove usage of DisplayInformation GetForCurrentView"
Islands / winui 3 won't work well with `DisplayInformation.GetForCurrentView` , so we need to instead use something like `XamlRoot.RasterizationScale` and `XamlRoot.Size`, and listen to events from `XamlRoot.Changed`

[2020-07-09 17:36] NickGerleman opened #5476 "Add warning to run-windows if we can't find VS and have a pending restart"
If a user updates VS but hasn't restarted yet, we get a cryptic error because VSWhere doesn't return anything. Manually launching VS will show a popup of the real reason we can't find anything.

![image](https://user-images.githubusercontent.com/835219/87071915-cb372000-c1cf-11ea-9272-3aa46e1c1870.png)

We can detect pending restart via reg key. We should consider adding a warning/special casing t

[2020-07-09 18:01] asklar opened #5477 "DComp SRW leak and crash when destroying an island using DWXS when more than one DWXS exist"
Hitting this when running a win32/island with multiple windows, when calling DWXS.Close with appverifier turned on.
Unclear if we shouldn't call Close, docs say we should but most of the docs on islands are wrong. I have a thread with Oscar, using this to track.

[2020-07-09 18:06] chrisglein commented on #5474
APIs will only exist where islands are, like 19H1+ or WinUI3.
Some concerns raised here about multiple window/screen scenarios.
These are WinRT APIs, not WinUI APIs. Maybe addressed with Reunion?
We've raised these topics before, need to find the links.

[2020-07-09 18:10] chrisglein commented on #5472
Min bar: Have the build system validate that you have the right version installed that matches what you specified.

Ideally something better where we make sure you get the right thing.

[2020-07-09 18:17] chrisglein commented on #5459
As long as we've done our core work with keeping nice ABI safe boundaries this should be possible as a future option. Lots of questions to explore here. @stmoy do you want to take a crack at capturing this?

[2020-07-09 18:24] chrisglein commented on #5437
I'm fairly certain we've seen this on TextInput before.
Slider and DatePicker have templates that come from WinUI... maybe pulling in a new WinUI version there had some affect between 61 and 62? Or was there a Yoga change?

[2020-07-09 18:24] chrisglein commented on #5437
We'll want a list of controls that are affected by this. @rectified95 can you check a few more and see how widespread this is?

[2020-07-09 18:26] chrisglein commented on #5430
When will that be? Sounds like around the timeline of Fabric, so a bit further out.

[2020-07-09 18:36] chrisglein commented on #5474
Related issues: #4002 #3567

[2020-07-09 19:54] asklar opened #5481 "TouchEventHandler uses ExpPointerPointProperties Pressure and IsEraser"
These properties aren't supported in lifted comp.
Internal tracking bug for IXP: [Bug 27533745: ExpPointerPointProperties needs IsEraser and Pressure properties](https://microsoft.visualstudio.com/DefaultCollection/OS/_workitems/edit/27533745)

[2020-07-09 20:25] NickGerleman opened #5482 "Cannot deploy when framework packages of a higher version are already installed"
Likely regression from #5454

[code]

[2020-07-09 20:32] stmoy commented on #4147
Per @robertev - the specific AppConsult partner customer no longer needs this module so removing the label.

[2020-07-09 21:00] #5451 closed

[2020-07-09 23:13] kmelmon opened #5484 "Convert existing E2E test pages to RNTester pages"
We currently have a set of pages loaded by the e2etest app, these pages are separate from RNTester.

We have a goal to use RNTester as the base for our end-to-end UI tests.  It makes sense to migrate the e2etest pages over to RNTester so we can have a single bundle/test app for all our end-to-end UI tests.

[2020-07-10 00:53] stmoy commented on #3884
@MakhouT - thank you for your patience. The team is interested in building **both** react-navigation and react-native-navigation. We’re starting with react-navigation for several reasons, mainly due to 1st party dependencies. In order to do react-navigation, we also need to support its dependent packages, including reanimated. We know both are widely used, but react-navigation is a higher priority

[2020-07-10 00:54] stmoy commented on #2546
Hi all - I just posted a follow up on the react-navigation issue https://github.com/microsoft/react-native-windows/issues/3884#issuecomment-656421845, but following up here as well: we're interested in supporting both react-navigation and react-native-navigation, but we're starting with react-navigation first.

[2020-07-10 03:31] asklar opened #5490 "RNTester Image page "plain static image" is empty"
![image](https://user-images.githubusercontent.com/22989529/87113459-221a1500-c223-11ea-8e13-0700674ef219.png)

[2020-07-10 03:32] asklar opened #5491 "RNTester Native animations page - JavaScript animations don't work"
None of the javascript animations work in the Native Animations page

![image](https://user-images.githubusercontent.com/22989529/87113533-5261b380-c223-11ea-9faa-6a82bc3d9647.png)

[2020-07-10 04:09] asklar opened #5492 "Part of UI don't respect Dark mode"
- turn on dark mode
- parts of playground RNTester will render as white on white,
  e.g. the text is following dark mode but not the background panels, or disabled items like disabled checkbox will show up as white

![image](https://user-images.githubusercontent.com/22989529/87115526-6e1b8880-c228-11ea-9a83-4358969f3563.png)

[2020-07-10 04:12] asklar opened #5493 "Switching light/dark mode and theme does not take effect until app is restarted"
- set dark mode in Settings
- launch playground
- change to light mode
playground is not re-rendered to show in light mode
(same vice versa)

[2020-07-10 04:19] asklar opened #5494 "Playground-win32 scrollbar is drawn off-screen"
Similar root cause to #5425 - we aren't taking into account the width of the scrollbar once it becomes thick

[2020-07-10 05:32] #5425 closed

[2020-07-10 05:32] #5494 closed

[2020-07-10 06:00] NickGerleman commented on #5492
There are a couple issues around different aspects of this. Things will also look much better if you turn off web debugging, which is needed to use the new Appearance APIs.

[2020-07-10 06:01] NickGerleman commented on #5493
Are you able to ever get it to show in dark mode with web debugging enabled? With it disabled, I'm able to switch dynamically and have everything work as expected.

[2020-07-10 07:04] #5209 closed

[2020-07-10 07:08] asklar opened #5497 "Playground RNTester crashes when disabling Web debugging"
I got this message as a result of an abort

[code]

[2020-07-10 07:11] asklar commented on #5492
I first got a crash when disabling web debugger (#5497). Launched again and was able to disable web debugger and things look ok that way, it's weird that a debugging feature has impact on the UI... is this unique to RNW or common to all of RN?

[2020-07-10 07:25] asklar commented on #5477
IXP Comp bug: [Bug 27544005: DesktopWindowXamlSource::Close frees SRW then crashes app](http://osgvsowi/27544005)

[2020-07-10 07:45] asklar opened #5498 "Don't use Window::Current to get the compositor"
Instead we should use the compositor off of the XamlRoot when available.

[2020-07-10 16:04] #5471 closed

[2020-07-10 16:45] NickGerleman commented on #5492
It's common to all of RN. Facebook decided to implement Appearance APIs using synchronous NM calls, which don't work over web debugging, so they hardcode to light mode if you are. Web debugging is likely going away soon enough though.

[2020-07-10 16:47] NickGerleman commented on #5492
PlatformColor should work with web debugging though. RNTester is all using Appearance APIs though.

[2020-07-10 18:53] #5450 closed

[2020-07-10 19:08] rectified95 commented on #5437
Sure, I'll take a look next week, after I'm done with Slider.

[2020-07-10 19:37] asklar opened #5505 "Metro complains about file not found on "code""
![image](https://user-images.githubusercontent.com/22989529/87191863-28070900-c2aa-11ea-9084-9da096b34cd5.png)

[2020-07-10 19:41] acoates-ms commented on #5505
A little more info:
The Error callstacks Chakra is providing JS have the JS locations all referring to "code" rather than the actual bundle file or source we try to tell Chakra the JS came from.  The RN code then queries metro asking it to symbolify "code", which metro can't find.  The issue here is to work out how to get Chakra to provide better info in the JS callstacks.

[2020-07-13 00:00] #5280 closed

[2020-07-13 17:23] chrisglein opened #5511 "Add isFocused() to View and Pressable"
From [Keyboarding in React Native Desktop](https://github.com/microsoft/react-native-windows/pull/5590/files) document:

[2020-07-13 17:29] chrisglein opened #5512 "Add focusable to Pressable"
From [Keyboarding in React Native Desktop](https://microsoft-my.sharepoint-df.com/:w:/r/personal/harinik_microsoft_com/_layouts/15/guestaccess.aspx?e=vboyhr&wdLOR=c797FF090-3702-4FEE-AD68-1E204281FFD9&share=EY4TcWAvR4tKu7EjxUG7OcwBkIHpcehA26atyX4BTwCYLw) document:

[2020-07-13 17:47] chrisglein opened #5513 "Add repeat to INativeKeyboardEvent"
From [Keyboarding in React Native Desktop](https://github.com/microsoft/react-native-windows/pull/5590/files) document:

Property | Type | Description | Default
-- | -- | -- | --
repeat | boolean | Flag to represent if a key is being held down/repeated | False

[2020-07-13 18:12] chrisglein commented on #5477
Hoping for an update to the sample that includes the right practices to workaround this scenario (so we don't need to wait for a comp fix).

[2020-07-13 18:14] chrisglein commented on #5481
May need to take a step back in parity while we wait (lose pressure sensitivity and pen eraser).

[2020-07-13 18:17] chrisglein commented on #5491
Regressed at some point. Was working in 0.61 at least.

[2020-07-13 18:20] chrisglein commented on #5491
First thing: Make sure it's not broken in 0.62 release :o

[2020-07-13 18:22] chrisglein commented on #5493
Weird. @NickGerleman any guesses as to why these two are linked?

[2020-07-13 18:23] chrisglein commented on #5497
@vmoroz you've been looking at host lifetime issues and Keith mentioned this looked similar. What's this look like to you?

[2020-07-13 18:24] chrisglein commented on #5497
Note from Alex: Not 100% repro, but he was able to get to happen multiple times.

[2020-07-13 18:25] chrisglein commented on #5498
Related #3567

[2020-07-13 18:28] chrisglein commented on #5505
Sounds like errors can be ignored but of course will confuse people.

[2020-07-13 18:35] #5482 closed

[2020-07-13 18:40] chrisglein commented on #5492
Duplicate of #4688

[2020-07-13 22:49] khetanashita commented on #4444
Yes we are using Redux. I was able to repro the issue using Samples/textinput.tsx in the playground app. The code looked something like this:

state = {
  testCounter: 1,
};

onPressChangeText = () => {
  var testCounter = ++this.state.testCounter;
  this.setState({testCounter: testCounter});
};

render() {
  console.log('Counter value: ' + this.state.testCounter);
  return (
    <View style={styl

[2020-07-13 23:04] chrisglein commented on #2492
@asklar I think at this point we can close this issue, agree? As in we've graduated on to more specific issues.

[2020-07-13 23:06] #2492 closed

[2020-07-13 23:07] chrisglein commented on #3567
@asklar You've been finding these sorts of issues from a place of what's blocking. Do you think there's another way to do a deep audit? Is this issue providing value?

[2020-07-13 23:09] asklar commented on #3567
@chrisglein I think this is still useful. Once I get everything working in the context of playground-win32 and playground, this provides a second layer or "things to go look at" so I'd vote or keeping it open for now.

[2020-07-13 23:09] chrisglein commented on #2338
There's lots of better tracking of turbo modules happening via other issues. And there's much that already works. Closing out this issue as it's not really helping anyone to track it this way.

[2020-07-13 23:09] #2338 closed

[2020-07-13 23:10] #2586 closed

[2020-07-13 23:24] #5498 closed

[2020-07-13 23:26] chrisglein commented on #4037
@kmelmon Is this issue providing any value beyond what you're already doing? Do you want me to dupe it to one of your issues or assign it over?

[2020-07-13 23:36] chrisglein commented on #4265
We've got some concrete follow ups filed in the docs repo. I think as is the issue here isn't actionable enough.
@asklar Is there more you want to capture? As is I think we should close this issue out and move forward with fine-grained issues.

[2020-07-13 23:36] #4265 closed

[2020-07-13 23:41] chrisglein commented on #3701
Note that in #4322 the AppearanceModule is implemented. But we still need to reconcile that with what we already had. See notes in that issue.

[2020-07-13 23:41] chrisglein commented on #4322
Duplicate of #3701

[2020-07-13 23:59] #4691 closed

[2020-07-14 00:09] chrisglein commented on #5000
@stmoy I know you coordinated a scrub of API docs recently. Was that just the native APIs? This one still isn't showing up.

[2020-07-14 00:12] chrisglein commented on #5010
@dannyvv I'm closing this based on the comments and its place on the project board. Reactivate if that's wrong.

[2020-07-14 00:12] #5010 closed

[2020-07-14 00:25] chrisglein commented on #5325
Candidate to make use of #4567

[2020-07-14 00:43] kmelmon commented on #4037
I'll take this.  I don't think it's a dupe so keeping it open for now.

[2020-07-14 03:09] #5449 closed

[2020-07-14 17:10] asklar opened #5520 "[RNTester] Image tint doesn't work"
![image](https://user-images.githubusercontent.com/22989529/87455300-154a4800-c5ba-11ea-8c02-c18365cea5b6.png)

Compare to UWP where it only half works:

![image](https://user-images.githubusercontent.com/22989529/87455356-285d1800-c5ba-11ea-9f9c-46bb55003780.png)

[2020-07-14 20:00] #5492 closed

[2020-07-14 22:21] dannyvv opened #5524 "Add support for C# Turbo Modules"

[2020-07-14 23:40] asklar commented on #5232
Filed ADO bug: [Bug 27657319: ApplicationView.GetForCurrentView crashes app when invoked in App's constructor](http://osgvsowi/27657319)

[2020-07-14 23:42] asklar commented on #5520
I think this is a dupe of #5124

[2020-07-14 23:42] #5520 closed

[2020-07-14 23:46] asklar commented on #5490
It turns out that this is failing when asking Metro for the image (metro can't find it). @kmelmon said this might be a config issue in playground (see metro's config option `assetRegistryPath`)

[2020-07-15 00:08] #5128 closed

[2020-07-15 00:52] NickGerleman commented on #5512
We should already have this. Stock Pressable will set the inner view to Focusable so long as the outer Presasble is not explicitly set not to be focusable See https://github.com/facebook/react-native/blob/0.63-stable/Libraries/Components/Pressable/Pressable.js#L213-L226

We can keyboard between pressables in the RNTester example with this.

[2020-07-15 00:56] NickGerleman commented on #5512
Going to close this one since I think there's nothing left to do. @chrisglein please reopen if I missed something here.

[2020-07-15 00:56] #5512 closed

[2020-07-15 01:04] NickGerleman commented on #5493
Mentioned this in another issue, but Appearance uses synchronous native module calls under the hood, which don't work when web debugging. Facebook decided to hard code light mode when web debugging to get around this. There's nothing we can really do here, but web debugging will be going away soon enough in general, and PlatformColor doesn't have the issue.

I'm still not able to repro this, and I

[2020-07-15 01:38] TheSavior commented on #5512
It might not be necessary, but I could expect Pressable to pass in the state object `hovered` and `focused`, where right now it just passes `pressed`. https://github.com/facebook/react-native/blob/0.63-stable/Libraries/Components/Pressable/Pressable.js#L222-L223

`hovered` is probably more valuable than `focused`, but the API was designed to enable platforms to add more things like that.

[2020-07-15 02:00] #4322 closed

[2020-07-15 02:13] kmelmon commented on #4037
Alex has done some prototype level work on this:

Here are the changes I made that but haven’t merged that I made:
-	v1: treedump-able playground/RNTester: https://github.com/microsoft/react-native-windows/pull/4699
-	v2 (e2etest): https://github.com/asklar/react-native-windows/tree/e2eRNTester

here is the treedump library I wrote:
https://github.com/asklar/XamlTreeDump

and nuget:
https://www.nu

[2020-07-15 02:50] #5467 closed

[2020-07-15 03:44] kmelmon commented on #5324
dupe of #4037

[2020-07-15 03:44] #5324 closed

[2020-07-15 07:41] #5143 closed

[2020-07-15 08:24] irakaundal commented on #4209
The project we needed it for has been halted right now.

[2020-07-15 16:14] dannyvv opened #5528 "Add SourceLink for PDB's of nuget packages"

[2020-07-15 18:14] chrisglein commented on #3278
Some history on this item:
Lottie support on windows exists and is exposed to XAML through AnimatedVisualPlayer (available with WinUI2, which we bring in for RNW). So the pieces are in place to hook this up today.

There is one hitch: Lottie-Windows was built out for the most optimal path for the Windows, where Shell developers use codegen to load their assets instead of just handing over the file

[2020-07-15 21:16] acoates-ms commented on #5073
This specific code should be fine.  This code should never be run on an STA thread, so if it is being hit on an STA then the root of why that is should be identified.

The specific code in desktop has been deleted, so I think we can probably close this issue.

[2020-07-16 00:54] kaiguo commented on #5491
I think it worked fine for me in the latest master branch. Can you double check @asklar ?

[2020-07-16 04:21] #2631 closed

[2020-07-16 04:44] marlenecota opened #5534 "Re-write Effects.idl using modern IDL"
@marlenecota You don't have to do it in this PR, but it looks like `Effects.idl` is the last file to still use the old IDL style (with HRESULTS, property get / set methods, etc.) which is a pain to parse. Please open an issue to track re-writing the file with modern idl (which of course will mean some changes to the code-behind).

_Originally posted by @jonthysell in https://github.com/microsoft/r

[2020-07-16 18:05] chrisglein commented on #4444
We did make some fixes here to address fast typing. So please give this a shake on latest, as we believe it to be fixed.
However it is possible there's additional problems given the indirection through Redux. If you still repro on 0.62 please let us know.

[2020-07-16 18:12] chrisglein commented on #4592
@harinikmsft does this tie in with the keyboard work we're doing? Seems important to partners (can you confirm and tag as appropriate), but also is it necessary for 0.63? May be appropriate to break this into separate issues.

[2020-07-16 18:17] chrisglein commented on #3326
SVG is a huge module and also a lot of partners interested in it. It's unlikely they need _all_ of it, so for our ability to deliver value sooner let's figure out what the partners need first, because implementing the whole thing would take quite some time.

[2020-07-16 18:20] asklar opened #5537 "Make Native animations work for Islands on WinUI3"
the native animation module needs a compositor to create the animation and propertyset. We currently use the "current window compositor", which won't work in islands scenarios.
normally we'd use the xamlView's compositor, but we don't have access to any xamlview in the context of the animated node, so we either need:
- animated nodes to be aware which compositor they're being created for. Not sure

[2020-07-16 18:27] chrisglein commented on #5310
@jonthysell What's the status on react-native-config? Did you get it working?

[2020-07-16 18:36] chrisglein commented on #5207
@NickGerleman This one sounds like goodness. Do you think you're getting to this in 0.63? I'm currently viewing it as a stretch goal that would be nice to have but I don't know if it's on your hit list.

[2020-07-16 18:36] #5190 closed

[2020-07-16 18:48] TheSavior commented on #3326
The interest from Messenger is to be able to render static svg icon assets (at any size)

[2020-07-16 18:54] aschultz opened #5539 "Support custom native components that are not FrameworkElement"
## Summary
Microsoft.ReactNative exposes the IViewManager interface to enable export of custom native UI components into the React environment. However, the interface has the notable restriction that the views it creates and manages must be based on FrameworkElement. This prevents its use with a number of unique XAML elements, such as those derived from TextElement or FlyoutBase.

The IViewManager

[2020-07-16 20:53] #5384 closed

[2020-07-16 21:00] jonthysell opened #5540 "Enable codesign for binaries / nugets"
Issue #5384 covered adding the initial infrastructure for adding code-signing to the publish pipeline, but there were still too many open questions that needed answering first.

This issue covers the work for actually enabling that code-signing after addressing those open questions.

[2020-07-17 00:13] chrisglein commented on #5187
We know that Facebook has issues with some components not having borders that they expected. I'm still waiting to hear back if this is one of the ones they're waiting on. If so, we'll want to prioritize for 0.63. If not, this is still a good thing to fill in for API parity but less pressing.

[2020-07-17 00:14] chrisglein commented on #5528
@dannyvv Looks like this bypassed triage. Is this a duplicate of #3766? If so I'll assign that one over to you.

[2020-07-17 00:55] #5286 closed

[2020-07-17 01:01] JunielKatarn commented on #5073
@acoates-ms Can we close this as "by design"?

[2020-07-17 01:02] #5073 closed

[2020-07-17 01:07] #2100 closed

[2020-07-17 01:07] #2096 closed

[2020-07-17 03:00] #3154 closed

[2020-07-17 03:27] #5252 closed

[2020-07-17 03:27] #5253 closed

[2020-07-17 03:40] asklar opened #5546 "RNW shouldn't have types in the Mso namespace"
We have a number of types in Office's namespace (e.g. redbox and its helpers), which shouldn't be there. This tracks cleaning this up.

[2020-07-17 04:24] asklar commented on #5474
Reunion: https://github.com/microsoft/ProjectReunion/issues/114

[2020-07-17 04:25] asklar commented on #5333
Reunion https://github.com/microsoft/ProjectReunion/issues/114

[2020-07-17 04:25] asklar commented on #4904
Related: Reunion https://github.com/microsoft/ProjectReunion/issues/114

[2020-07-17 04:26] asklar commented on #4002
Related: https://github.com/microsoft/ProjectReunion/issues/114

[2020-07-17 11:52] elcssmouhsine commented on #5482
i am getting similar error  Add-AppxPackage : Deployment failed with HRESULT: 0x80073CF3, Package failed updates, dependency or conflict validation.
Windows cannot install package ae76a144-058d-41e4-8c81-f9bbb6297b42_1.0.0.0_x86__ad8pwfkyh69vj because this package depends on a framework that could not be found. Provide the
framework "Microsoft.UI.Xaml.2.3" published by "CN=Microsoft Corporation, O

[2020-07-17 14:36] elcssmouhsine opened #5548 "forceRTL from app.cpp"
how can we include i18n module from app.cpp and force rtl .

[2020-07-17 17:27] kikisaints commented on #4132
This was addressed in the recent PR linked here. Closing.

[2020-07-17 17:27] #4132 closed

[2020-07-17 19:42] asklar commented on #5482
Also need #5543

[2020-07-17 20:09] dannyvv opened #5553 "rnw-dependencies.ps1 does not work on powershell 6 or higher"
When trying to run `rnw-dependecies.ps1` on the latest powershell core (pwsh, not powershell) I got the error:

[code]

It turns out WMI is deprecated and now one has to use CIM? per: https://github.com/PowerShell/vscode-powershell/issues/2333 Didn't have energy to search further, so just filed an issue.

[2020-07-17 20:19] asklar commented on #5553
@dannyvv: weird, I can use it just fine:
![image](https://user-images.githubusercontent.com/22989529/87827612-12f12380-c830-11ea-9f05-8625886819bd.png)

is this a problem only on PS6 and it's fixed in PS7?

[2020-07-17 21:44] JunielKatarn commented on #5553
In any case, we should aim for PowerShell 7.
I believe that's the LTS.

[2020-07-18 02:00] #3982 closed

[2020-07-18 03:33] #5490 closed

[2020-07-20 14:27] NickGerleman commented on #4559
Looks like my earlier renaming of labels messed this one up. Removed "Backported to 0.60" since nothing happened there yet.

[2020-07-20 14:40] NickGerleman commented on #5328
We've been touching the template less often for 0.63 it seems like. Going to close this for now, but we should consider reopening if we make a lot of breaking changes again.

[2020-07-20 14:40] #5328 closed

[2020-07-20 14:53] NickGerleman commented on #4900
Previous flags broke with an MSVC update, so binaries have not been v141 compatible for some time. The main V141 consumer (Office) is unblocked to v142 though, so this is no longer needed. A separate issue still tracks removing flags.

[2020-07-20 14:53] #4900 closed

[2020-07-20 15:03] NickGerleman commented on #5491
Tried this out as well when I was scrubbing through issues to find new regressions. JS Animations work correctly for me with web debugging enabled or disabled.

[code]

@asklar was there anything unique about the setup here? E.g. was it in an island or using WINUI?

[2020-07-20 15:10] NickGerleman commented on #5497
Marking as a potential regression since 0.62 based on timing

[2020-07-20 15:11] NickGerleman commented on #5304
Marking as a regression since 0.62

[2020-07-20 15:14] NickGerleman commented on #5168
Adding recent regression and bug labels to track this, since it will be impacting if we turn on binary distribution by default

[2020-07-20 15:18] NickGerleman commented on #5472
Marking as a recent regression as we'll see problems with this when we enable binary distribution by default.

[2020-07-20 15:18] NickGerleman commented on #5473
Duping to #5472 to track both there

[2020-07-20 15:18] #5473 closed

[2020-07-20 15:19] NickGerleman commented on #5472
See #5473 which previously tracked doing this for C# porojects.

[2020-07-20 15:24] NickGerleman commented on #5472
Actually I'm going to hold the label until we enable binary distribution by default.

[2020-07-20 15:58] NickGerleman commented on #5497
Testing this manually, I'm frequently seeing asserts during instance reload (but also not entirely deterministically).

[2020-07-20 18:08] chrisglein commented on #5548
This was implemented in #4676.
Why do you need to do this from native code? We'd expect you to target the JavaScript API. Does that work for you? This may depend on what version or RNW you're targeting.

The timing is important in this setting, that if you set it too late you'd need to reload everything. This is an option only expected for testing, not for product code.

[2020-07-20 18:10] chrisglein commented on #5546
@asklar Can you dump a list of types that are in Mso so we have a burn down list?
We also have ReactUWP namespace stuff, and stuff in the facebook namespace that isn't facebook. We have some clean up to do here. May be worth writing up the rules/recommendations on namespaces. But in the near term let's identify the `Mso` ones and get those cleaned up.

[2020-07-20 18:16] chrisglein commented on #5539
Should this go all the way to IInspectable? What has us stop specifically at DependencyObject? If we're no longer looking at what's in the XAML tree, it doesn't need to be a XAML type (outside of some root that links up). Is there a scenario for that? Not saying this is a requirement, but worth exploring the needs here. Not needed for the TextElement scenario, since that's a DO.

Some design work

[2020-07-20 18:25] chrisglein commented on #5497
There's some concern that we have some race conditions here, but we need someone to look at it and see what's going on. Pulling into 0.63 to investigate and see.

[2020-07-20 18:31] chrisglein commented on #5112
We expect that the parameter is there but the CLI needs to pass it through.

[2020-07-20 19:52] aeulitz commented on #5103
RedBoxHelper's sole purpose is to create a UWP default RedBoxHandler, i.e. a UI component to display error information. As our Core ABI should not contain UI-related constructs, I will close this issue as "by design/won't fix"

[2020-07-20 19:52] #5103 closed

[2020-07-20 21:56] aschultz commented on #5539
@chrisglein One advantage of stopping at DependencyObject is that it provides an easy means to stash/retrieve the React tag value as an attached property (instead of using FrameworkElement.Tag). If you go up to IInspectable you'd have to find another solution.

As for timeline -- I'm in the process of upgrading our app to 0.62 and just ran into this as a blocker for upgrading a Hyperlink component

[2020-07-20 22:08] aeulitz commented on #5104
I opened this item based on an automatic diff of the WinMD in the Win32 and the UWP DLL. On closer inspections, this appears related to UI constructs which we do not want to be part of the core ABI. Closing this item as by design/won't fix.

[2020-07-20 22:08] #5104 closed

[2020-07-20 22:26] NickGerleman commented on #5493
@marlenecota was running into similar, where this used to work for her but now doesn't. I can't repro running 1903, but the issue is happening for her at least in rs_prerelease. Possible Windows behavior change.

[2020-07-20 22:39] marlenecota commented on #4014
Can confirm dark mode works with web debugger off

[2020-07-20 22:39] #4014 closed

[2020-07-20 23:08] marlenecota commented on #5493
I am not sure what I did to get in that state, but I can't get a repro anymore.

[2020-07-20 23:35] aeulitz commented on #5106
I opened this item based on an automatic diff of the WinMD in the Win32 and the UWP DLL. On closer inspection, this appears related to UI constructs which we do not want to be part of the core ABI. Closing this item as by design/won't fix.

[2020-07-20 23:35] #5106 closed

[2020-07-20 23:38] aeulitz commented on #5107
I opened this item based on an automatic diff of the WinMD in the Win32 and the UWP DLL. On closer inspection, this appears related to UI constructs which we do not want to be part of the core ABI. Closing this item as by design/won't fix.

[2020-07-20 23:38] #5107 closed

[2020-07-21 00:00] #5348 closed

[2020-07-21 00:28] aeulitz commented on #5105
I opened this item based on an automatic diff of the WinMD in the Win32 and the UWP DLL. On closer inspection, this appears related to UI constructs which we do not want to be part of the core ABI. Closing this item as by design/won't fix.

[2020-07-21 00:28] #5105 closed

[2020-07-21 05:09] bberak commented on #4749
Hey all,

Sorry I didn't quite follow conversation above. It seems like a fix for this issue has been merged into master, but not yet released with `react-native-windows`?

Thanks in advance for all your efforts, this is a great initiative by msft.

[2020-07-21 05:18] asklar commented on #4749
Hi @bberak - the latest on deploy-from-layout can be found in master. Last week I fixed some issues related to it failing on fresh machines (i.e. machines where no XAML apps had been installed before) so if you want the latest and greatest, that's where it's at :)

[2020-07-21 07:26] #5484 closed

[2020-07-21 12:20] NickGerleman commented on #5349
Tracking the known regression part of this with #5304. Removing the label from this item, which tracks more aggregate work for launch perf.

[2020-07-21 17:59] Brouilles commented on #5482
Same problem here.

[2020-07-21 19:50] #4151 closed

[2020-07-21 19:52] kaiguo commented on #5230
Done by https://github.com/th3rdwave/react-native-safe-area-context/commit/a10b7eafd800bb97c7c7c4ff049c5e19cc0ff9a9.

[2020-07-21 19:52] #5230 closed

[2020-07-21 20:11] bralax opened #5565 "npx react-native run-windows breaks react-native node_module"
### Environment

1. I am working in a VirtualBox virtual machine downloaded here: [https://developer.microsoft.com/en-us/windows/downloads/virtual-machines/](https://developer.microsoft.com/en-us/windows/downloads/virtual-machines/)
2. I then installed chocolatey, node and ran the dependency installer provided by Microsoft.
3. I installed C/C++ development for windows in visual studio 2019

`react

[2020-07-21 21:18] #5243 closed

[2020-07-21 22:19] #5528 closed

[2020-07-21 22:26] dannyvv opened #5567 "Investigate publishing to nuget.org"
The step to publish in configured in the release pipeline:
For example:
https://dev.azure.com/ms/react-native-windows/_releaseProgress?_a=release-pipeline-progress&releaseId=644

[2020-07-21 22:45] #5124 closed

[2020-07-22 00:57] bberak commented on #4749
Thanks @asklar

I've also found that deleting the `bin` and `obj` folders before running the `react-native run-windows` commands does the trick (not sure if it will work for others though).

[2020-07-22 02:28] asklar commented on #5553
@dannyvv can you check whether it works for you on 7? it works for me :)

[2020-07-22 02:29] #5537 closed

[2020-07-22 05:39] asklar commented on #5310
@chrisglein this is different - this is `react-native-config` which is a native module for handling app configuration. @jonthysell 's thing was the `react-native config` command to get config data about build-time preferences for a project

[2020-07-22 18:00] #3863 closed

[2020-07-23 01:17] Hawiie13 commented on #3884
Good Day,
I am new with React Native, but have exp with react, and I am patiently waiting this to be unblock with react native windows,
I saw progress now. this may help for react-native-gesture-handler
#https://github.com/software-mansion/react-native-gesture-handler/issues/382#issuecomment-495018322
I tried this with @kaiguo request pull from react-navigation.
#https://github.com/react-navigatio

[2020-07-23 13:56] NickGerleman opened #5577 "react-native-platform-override Support for macOS"
## Summary
There has been increasing discussion of using the merging/integration tooling we developed within react-native-macos. react-native-platform-override was designed to be overall platform-agnostic, but has a few known bits that need fixup to work outside of Windows.

This issue does not track the enabling of `react-native-platform-override` in the `react-native-macos` repo.

## Known Tasks

[2020-07-23 17:58] stmoy commented on #5077
Note that there is a PR out for this module: https://github.com/vinzscam/react-native-file-viewer/pull/80

[2020-07-23 20:46] jonthysell opened #5581 "Unable to build and deploy new app in RNW 0.62"
It seems in the external app targets for 0.62 we're missing the "Deploy" target, which means while everything works with "run-windows", you can't build and deploy your app from visual studio.

[2020-07-24 01:18] asklar commented on #5565
Hi @bralax , thanks for reaching out. I'm pretty sure the first issue is something we fixed recently in master but haven't shipped a fix down to 62 yet (@jonthysell was working on porting the fixes necessary). #5581 tracks that.
For the time being you should be able to get unblocked by opening the .sln file in visual studio and building/deploying with F5. After the first time you do that, from tha

[2020-07-24 02:45] asklar commented on #5546
Here are the types in the Mso::React namespace
[code]

[2020-07-24 02:47] asklar commented on #5546
here are the react::uwp types:
[code]

[2020-07-24 18:11] stmoy commented on #5051
Crosslinking: https://github.com/react-native-community/bob/issues/69

[2020-07-24 20:25] harinikmsft opened #5588 "Add hovered and focused states to Pressable"
Spinning off a separate issue to track @TheSavior 's comment in #5512  :

@kikisaints : look into this as you are writing up the proposal for hover states/pointer APIs.

[2020-07-24 20:26] kikisaints commented on #5588
Connected to issue #2099

[2020-07-24 20:40] harinikmsft opened #5589 "Add `.focus()`, `.blur()`, `onFocus()`, `onBlur()` to Pressable"
From [Keyboarding in React Native Desktop](https://github.com/microsoft/react-native-windows/pull/5590/files) document:

[2020-07-24 23:11] TheSavior commented on #5589
If these are added to View they should automatically become available on Pressable because Pressable uses forwardRef to `<View>`: https://github.com/facebook/react-native/blob/master/Libraries/Components/Pressable/Pressable.js#L158-L159

[2020-07-24 23:14] #5240 closed

[2020-07-25 01:34] hnakamur commented on #3791
@nanduahmed I have the same issue and I think I found a solution at https://developercommunity.visualstudio.com/solutions/49987/view.html

1. Open an elevated PowerShell console window.

2. Run these commands (adjust the paths to the appx packages as per your machine setup):

[code]

 3. Make sure the above two packages are installed correctly.

[code]

[code]

[2020-07-25 18:53] goroya commented on #5482
me too.

[2020-07-26 07:02] EhsanSarshar opened #5592 "It would be better if documentation have a showcase page."
if it have a showcase page that shows some apps that built with react-native-windows

[2020-07-26 12:33] Hawiie13 opened #5593 "React Navigation Drawer [jest in not defined]"
### Environment

1. `react-native -v`:
react-native: 0.62.2

2. `react-native run-windows --info`:
System:
    OS: Windows 10 10.0.18362
    CPU: (4) x64 Intel(R) Core(TM) i3-7100 CPU @ 3.90GHz
    Memory: 1.04 GB / 7.88 GB
  Binaries:
    Node: 11.15.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.13.0 - ~\AppData\Roaming\npm\yarn.CMD
    npm: 6.14.6 - C:\Program Files\nodejs\npm.CMD
  npmPackag

[2020-07-26 13:58] NickGerleman opened #5594 "Release RNW 0.63 (Checklist)"
Working document to track status and work to release react-native-windows 0.63. Checklist is roughly based on the process we took for 0.62. This issue should be changed as these items are completed, new items come up, drivers change, etc.

**Legend**
- [ ] ⁉ Needs driver
- [ ] Work not started
- [ ] 🏃‍♂️ Work in progress
- [x] Work completed

## Milestones
- [x] **7/31:** Preview phase 1
- [x] **8

[2020-07-26 16:55] tannersteele commented on #4467
fix PR @ https://github.com/microsoft/react-native-windows/pull/5595

[2020-07-26 18:03] TheSavior commented on #5594
I'm new, so I have some noob questions. 😀 How do you choose what commit to update to? Is it the same commit that is used for a release on core? Do you plan to release each patch version as well or do you just jump to the latest patch release for that stable branch?

[2020-07-26 23:12] NickGerleman commented on #5594
This release is also a bit new for us as well, as its the first we've done with master aligned to nightly builds, and is also much closer to the initial release of the react-native version its using. I documented some thoughts and process here though https://github.com/microsoft/react-native-windows/wiki/How-to-promote-a-release

My current thoughts are to align to 0.63.0. The safest thing to do w

[2020-07-27 04:15] asklar commented on #5594
I think this week is the last week of the release, but it is also hackathon week, so I worry about the ability of folks to be able to jump into pressing issues.
I wonder if we should delay release by a week, and make sure in the future we include events like hackathon and holidays into it. Thoughts?

Thanks,
-Alex
Want to debug CMD scripts? Now you can<https://nam06.safelinks.protection.outlook.co

[2020-07-27 06:40] asklar opened #5596 "sample apps' bundle-cpp fails on new machines"
This is because of a bug in the prepareBundle script. The bundler requires the Bundle directory to be created, which prepareBundle is supposed to do, but it only ensures that the parent of the Bundle directory exists

[2020-07-27 06:42] asklar opened #5597 "Deploying a C# app with a non-default namespace/component fails"
We use the assembly name (mynamespace.mycomponent.build.appxrecipe) as the appxrecipe but it's wrong for C# - the uwp project system will create testcli.build.appxrecipe instead. Use the value from the AppxRecipeFile variable instead.

[2020-07-27 06:45] asklar opened #5598 "Deploying app from layout in the CLI picks the wrong appx manifest if multiple projects in the solution"
The sample apps solution has a sampleAppCpp and sampleAppCS. When using the CLI to deploy from layout, we try to find the right appxmanifest to then test that the app got installed successfully but we do so by globbing and getting the first result, which is wrong. We should incorporate the result from parsing react-native.config.js and the --proj switches.

[2020-07-27 06:48] #5596 closed

[2020-07-27 06:48] #5597 closed

[2020-07-27 06:48] #5598 closed

[2020-07-27 09:38] #4467 closed

[2020-07-27 14:43] NickGerleman commented on #5594
(edited the above comment to trim out the email gunk GitHub added)

The thought of delaying the release has definitely crossed my mind. The overlap with hackathon is something that I personally didn't realize and I'm not sure the others did either. This week and last week also ended up being the dates I picked out 8 months ago for a 2 week incident response rotation for Office stuff, so I've defin

[2020-07-27 20:31] TheSavior commented on #5094
We've bumped into this bug in a couple more places that we've had to work around (for example `backgroundColor: 'rgba(0,0,0,.01)'`). It would be great to get this bumped up in priority as we only know to add these workarounds when something is broken on Windows that works on Mac vs systematically.

[2020-07-27 20:56] NickGerleman commented on #5112
@rectified95 did this PR fix the issue? https://github.com/microsoft/react-native-windows/pull/5062

[2020-07-28 00:00] #5421 closed

[2020-07-28 14:11] bralax commented on #5565
Hi @asklar Thank you so much for the help. I was finally able to work on my application by running it in debug through visual studio. It still however crashes in the same way when running from the command line. As for other issue, that was my fault and has been resolved.

[2020-07-28 17:28] #5581 closed

[2020-07-28 18:19] bwaldbaum opened #5601 "Support react-native-audio"
# Support `react-native-audio` on RNW

## Basic Info
- Module Repo URL: [https://github.com/jsierles/react-native-audio](https://github.com/jsierles/react-native-audio)
- Target version:
- [ ] Issue exists on module repo (if so, [link]())

- [ ] Module has a Legacy/C# implementation (if so, [link]())

## Which app/customer is requesting this module?

Outlook for Windows

## In what scenarios will

[2020-07-28 18:40] bralax opened #5602 "Is it possible to write a "native module" for Windows Runtime for Javascript Libraries?"
I am currently working on a project and am using react-native-windows to try to create a version for windows. I have a UWP Library that i need to use that only exists in Javascript (based on the limited documentation). I am perfectly fine writing a wrapper around it as I see based on #4759, even though React-Native and the Runtime are both in Javascript, they are not connected. My question is whet

[2020-07-28 19:25] NickGerleman opened #5604 ""Unknown" Exception When Viewing AccessibilityExample RNTester Page"
![image](https://user-images.githubusercontent.com/835219/88711611-47d16600-d0cd-11ea-8b8d-be7341fa2523.png)

Seems potentially new.

[2020-07-28 20:20] giregk commented on #4516
Hello @asklar Sorry for my late response, I totally forgot about your comment.

What do you mean by "going through the .net native toolchain" ? Is there a specific action I need to do ? I've reopened my example project and made sure that all projects in the solution are built with the Release config, including the C# one. But I still get the same certification error. I'm not an expert with visual

[2020-07-28 20:24] rectified95 commented on #5112
@NickGerleman Not sure I quite understand the issue here, but that PR basically passes the CLI argument to ReactApplication.cpp, where we set:
 `
hostImpl->InstanceSettings().UseWebDebugger(true);
hostImpl->InstanceSettings().UseDirectDebugger(false);
`

[2020-07-28 20:26] asklar commented on #4516
@giregk Make sure that you are trying to submit a Release build (not Debug) and that the Use .net native toolchain option is selected for Release:

![image](https://user-images.githubusercontent.com/22989529/88717779-e95cb580-d0d5-11ea-90b5-1821490c8f4a.png)

[2020-07-28 20:33] giregk commented on #4516
@asklar I don't have the same configuration. Here is what I see

![image](https://user-images.githubusercontent.com/20740580/88718575-5dbd4600-d122-11ea-8036-7e0d86dd6877.png)

[2020-07-28 22:08] #3884 closed

[2020-07-28 22:08] #4044 closed

[2020-07-28 22:29] asklar commented on #4516
@giregk I'm looking into this with the project you posted - thanks for that - and I'm able to see the failure from WACK you reported:
![image](https://user-images.githubusercontent.com/22989529/88728711-2b422780-d0e7-11ea-9323-3e7db8339830.png)

Stay tuned...

[2020-07-28 23:08] dannyvv opened #5605 "Add support for updating metro.config.js when using --useDevMode on react-native-window-init"
` react-native-window-init` supports a developer mode with `--useDev` flag as explained in [Contributing to the CLI](https://github.com/microsoft/react-native-windows/wiki/Contributing-to-the-CLI/). Metro bundler has issues with symlinks, so a workaround is needed to update metro.config.json.

This bug tracks adding that to the react-native-windows-init CLI, instead of requiring uses to do this ma

[2020-07-28 23:39] asklar commented on #4516
@giregk I was able to fix the clrcompression failures. The trick is to ensure your native project cross-compiles the C# code onto native since only full native code can be accepted to the store. The cross-compilation / ahead-of-time compilation technology is called .net native. I wrote a sample on how to access a C# UWP component from a C++ UWP app a few months ago, here: https://github.com/asklar

[2020-07-29 00:41] asklar commented on #4516
@giregk to verify that everything would work without v8JSI, I then went ahead and removed the references to link in v8jsi.dll (which is not needed), rebuilt the package and re-ran WACK and now it passes.
Sent you a PR with the changes, let me know if you're still blocked:

https://github.com/giregk/TestRNWRelease/pull/2

![image](https://user-images.githubusercontent.com/22989529/88743178-e0c9a680

[2020-07-29 12:40] AnastasiaOrishchenko opened #5607 "Bundle file with .jsbundle extension not found"
When loading from embedded bundle, developer provides name of JavaScript bundle file in `JavaScriptBundleFile` method. Then `.bundle` extension is [hardcoded](https://github.com/microsoft/react-native-windows/blob/master/vnext/Shared/OInstance.cpp#L141) to be appended to provided filename. That means that whenever bundle file has `.jsbundle` extension, it is not found.
Is it possible to add `.JSBu

[2020-07-29 15:53] giregk commented on #4516
thanks @asklar ! I merged your PR and tried to run the project, but I now get the following error:

[code]

I still don't see the 'Compile with .net native toolchain' parameter in the C# project properties.

I unfortunately don't have the time to investigate this further, but I guess I could find the answers on the web now that I know I need to compile the C# code.

The main problem here is probab

[2020-07-29 15:53] #4516 closed

[2020-07-29 17:23] zwhitchcox commented on #5179
It would also be nice if in [System requirements](https://microsoft.github.io/react-native-windows/docs/rnw-dependencies) they could just mention the package you are supposed to install if that is possible.

[2020-07-29 17:31] chrisglein opened #5608 "Text.backgroundColor does not render"
### Environment

react-native -v
[code]
react-native run-windows --info
[code]

reg query "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock"
[code]

### Steps to Reproduce

Add a `backgroundColor` to a `Text`'s style:

### Expected Behavior

Background color is displayed behind the text.

Android:
![image](https://user-images.githubusercontent.com/26607885/88832390-99d5c280-d185-11ea-

[2020-07-29 17:32] chrisglein commented on #5608
Duplicate of #4155

[2020-07-29 17:34] zwhitchcox commented on #5179
The solution of opening it in visual studio also didn't work for me

[2020-07-29 18:24] asklar commented on #5179
@zwhitchcox just double checking that you not only opened the solution but also built and deployed it from VS ?

[2020-07-29 18:25] zwhitchcox commented on #5179
Oh, I'll try that, thanks. I tried to built it, but there was a bug I'll see if I can fix the bug though. I figured it probably just wouldn't ever fully deploy from visual studio

[2020-07-29 18:30] zwhitchcox commented on #5179
Ok, I just saw where you said

I took that to mean "build and deploy" with react native haha.

But that worked! Much obliged, thank you sir

[2020-07-29 18:40] asklar commented on #5179
@zwhitchcox glad to hear that! from now on you should be able to build/deploy from the react native command line, it just needed the initial bootstrap to install some framework package, which VS does when deploying within VS :)

[2020-07-29 18:47] asklar opened #5609 "Improve and update Native Modules docs"
I recently was helping an external developer (#4516) who was trying to use a native module they had written in C#. This developer is a self-described JS dev, never before used C#, Visual Studio, UWP, or anything like that.
They hit lots of bumps on the road and ended up kind of giving up (and instead re-wrote their code as C++), so I wanted to capture things here and gather ideas on how we can imp

[2020-07-29 20:15] NickGerleman commented on #5609
Re: The .net Native part, IIRC 0.61 had some bugs with it that would cause crashing that were fixed in 0.62?

[2020-07-29 20:33] NickGerleman commented on #5609
Newest version of 0.61 should have a fix for the v8jsi issue I think as well, but many builds would still see the issue.

[2020-07-29 21:12] asklar commented on #5609
That sounds familiar though that's s separate rom what they were hitting - specifically what they're hitting is that even after being able to build and verify that their app and module work, it will fail the app submission because the C# code doesn't get nativized. This is not specific to RNW - it happens to all C++ UWP apps that consume C# WinRT components, so you'll hit this in the C++ RNW app +

[2020-07-29 21:19] asklar commented on #5609
See also RaymondC's blog post on the .net native issue: https://devblogs.microsoft.com/oldnewthing/20200615-00/?p=103868

[2020-07-29 21:23] NickGerleman commented on #5609
My understanding was that we saw issues after making those changes due to bugs with reflection in .NET Native. @jonthysell and @vmoroz will have more context.

[2020-07-30 17:04] parksj10 commented on #3518
Getting the same failure, except with the following error:

`Add-AppxPackage : Deployment failed with HRESULT: 0x80073D1F, Remote drives are not supported`

This is happening because I'm developing in MacOS and testing on a Windows VM (Parallels), with the Mac repo access happening through a network drive (Z:).

Any suggestions on workarounds/fixes? I think this might become a common issue for Mac

[2020-07-30 17:20] chrisglein commented on #5094
From native you can set background to transparent, which is treated differently from null. For the cases where you have a custom native control.

[2020-07-30 17:34] dannyvv opened #5611 "Add `--prompt` flag to scripts that can be used from CI environment and still prompt"
# Proposal: Add `--prompt` flag to scripts that can be used from CI environment and still prompt

## Summary
In PR #5603 @asklar  validly pointed out that we have a user prompt in one of our scripts that is used in our CI.
It is generally bad practice to prompt from scripts that can run unattended like this particular script.
The answer is to add a flag .
Since you use yarts, adding a boolean flag

[2020-07-30 18:11] chrisglein commented on #5609
The [sample](https://github.com/microsoft/react-native-windows-samples/tree/master/samples/NativeModuleSample) mentions it's on 0.61 but doesn't mention _why_. If we have a workaround to get this unblocked let's update the sample to add that.

The sample hasn't been touched in 3 months, definitely needs a refresh. Updating them should potentially be part of the release checklist (need to consider

[2020-07-30 18:18] chrisglein commented on #5607
How much value would this attach beyond just setting the metro output bundle name? We'd like to avoid having multiple ways to do the same thing here, and an additional API might create confusion.

[2020-07-30 18:26] chrisglein commented on #5601
@bwaldbaum Thanks for filing the request. Trying to look into what team you're coming from, would this before the Win32 platform or main UWP RNW? We're not targeting modules for the former, only the latter, so I want to make sure.

[2020-07-30 18:29] chrisglein commented on #5593
@kaiguo I believe you've implemented this, yes? This issue may have just been opened before you did. Feel free to link and close.

[2020-07-30 18:30] chrisglein commented on #5592
Agreed. I think it was meant to eventually show up here: https://microsoft.github.io/react-native-windows/resources
Not sure if we came back to that. @kikisaints ?

[2020-07-30 18:33] chrisglein commented on #5589
Rest should work, believe that `onFocus()` and `onBlur()` won't.

[2020-07-30 18:35] chrisglein commented on #5588
Duplicate of #2099

[2020-07-30 18:35] #5588 closed

[2020-07-30 18:41] chrisglein commented on #5565
If we're reading it correctly it sounds like the fix you need (#5581) has been serviced to 0.62 (and is in our upcoming preview of 0.63). So if you update to latest there I believe you're unblocked? Going to close this out but speak up if we got it wrong.

@asklar Can you identify the right set of other changes we might want to backport to avoid these first Windows hits?

[2020-07-30 18:41] #5565 closed

[2020-07-30 18:52] kaiguo commented on #5593
Yeah drawer should be hooked up and the code is checked in to master. But it's not released yet, so @Hawiie13 please wait for the next release that includes this change https://github.com/react-navigation/react-navigation/pull/8570.

[2020-07-31 06:22] kmelmon commented on #5112
I looked at #5062, this isn't quite enough to fix the remaining issue being tracked here.

@rectified95 The overall issue being tracked here is to be able to launch the app from Visual Studio directly onto a VM rather than on the local machine, but also use web debugging.  This requires the app to fetch the bundle from the dev machine rather than localhost:8081, as metro won't be running on the VM

[2020-07-31 12:31] #5593 closed

[2020-07-31 15:37] acoates-ms commented on #5112
I'm not convinced by the idea of the --remote-debugging CLI arg.  It only works in the most basic of app setups and relies on specific app code.  - It's also not an option that is part of the CLI on iOS or Android.

I think I'd prefer to add UI to the debug menu similar to what iOS at least has (haven't checked android), which allows you to configure what bundler settings you connect to on the ins

[2020-07-31 16:32] Sharcoux commented on #4612
Well... For those in need, you can use `npm i @sharcoux/slider` that should solve the issue (and some other issues from this project)

[2020-07-31 17:14] rectified95 commented on #4612
We tend to add support module in the react-native-community domain, rather than ones created by individuals. My PR is already out with a new native implementation for the Slider recommended by Facebook.

[2020-07-31 19:46] Sharcoux commented on #4612
I agree, but the current implementation brings some issues and the "officiel" project doesn't seem very reactive on most of them...

[2020-07-31 20:00] #5608 closed

[2020-07-31 22:39] NickGerleman opened #5616 "Update promote-release Script to Mark Most Packages in Stable Branches as Private"
There are packages like react-native-windows-init that we publish only from our master branch. Publishing outside of our master branch would break both PR and publish pipelines in our master branch, along with creating confusion. The lack of guardrails for this is an especially sharp edge as of 0.63, as bumps to the react-native-windows version will now bump react-native-windows-init, as the latte

[2020-07-31 23:56] jonthysell opened #5617 "Unable to create native module method in C# using ReactPromise<JSValueObject>"
When writing a native module in C#, you can't seem to be able to define a promise-based method that returns a `JSValueObject`.

It compiles, but at runtime an exception is thrown in `JSValueGenerator`:

This repos on 0.61 and 0.62, I'm not sure if it repos with the code-gen in 0.63.

The workaround is to use `ReactPromise<JSValue>` which works just fine.

Sample module I was testing, where I'm usi

[2020-08-01 22:33] NickGerleman commented on #5447
Can't see this being important enough to get around to explicitly. Closing it.

[2020-08-01 22:33] #5447 closed

[2020-08-01 22:34] NickGerleman commented on #5270
Hmm, this was supposed to be closed with a recent PR. Closing now.

[2020-08-01 22:34] #5270 closed

[2020-08-01 22:58] NickGerleman commented on #5604
Hmm, in our 0.63-stable branch this is even worse, just crashing immediately.

[2020-08-03 02:40] asklar commented on #4759
closing this one out as it is not a RNW-specific ask, and filed a bug in the windev repo instead.

[2020-08-03 02:40] #4759 closed

[2020-08-03 05:06] asklar commented on #5602
It is not currently possible to write a native module in Javascript.
There are 3 possible avenues for writing a JS app in Windows:
- WinJS is a Javascript projection of WinRT - no new features being added/as-is support: https://github.com/winjs/winjs
- PWA - https://docs.microsoft.com/en-us/microsoft-edge/progressive-web-apps-edgehtml/
However as far as I can tell this avenue doesn't let you write

[2020-08-03 14:07] #5602 closed

[2020-08-03 17:52] asklar opened #5622 "JSValue conversion to double precision floating point gives wrong results"
In jsvalue.cpp we have:
[code]
However this seems wrong as the comparison between value and `std::numeric_limits<int64_t>::max()` is made by promoting max to double, which then loses precision:
https://godbolt.org/z/Ehxqef

[code]

[code]

In fact, anything within +/- 511 of int64 max will be coerced onto a double with a value of 2^63. This is because the IEEE double mantissa is 52 bits, so anythi

[2020-08-03 18:05] chrisglein commented on #5622
Is it possible that Facebook also has similar clamping? It'd be good to align, if so. They use some floating point conversion library that we don't consume.

[2020-08-03 18:06] chrisglein commented on #5617
Worth checking on 0.63 as it sounds like @dannyvv has rewritten a lot of code around here. Danny do you know if this issue still repros?

[2020-08-03 18:15] chrisglein commented on #5482
Fix has been ported to 0.62 very recently, so you should stop seeing this with the next release of that (next week).

[2020-08-03 18:49] chrisglein commented on #3518
@parksj10 I don't think this issue from last October really captures your scenario. Can you please log a new issue, in particular following the template steps to capture your environment so we can dig into the interaction with your macOS config?

[2020-08-03 18:51] chrisglein commented on #5601
@bwaldbaum We don't have a public story for developing community modules on the Win32/NetUI platform. That has to be handled by Office/Outlook directly. Since this isn't really in scope of what this repo is about I'm going to close this issue, but feel free to ping me for context if this is confusing.

[2020-08-03 18:51] #5601 closed

[2020-08-03 19:43] kmelmon opened #5623 "RN version 64: Validate static positioning works"
This commit was recently made in facebook master:
https://github.com/facebook/react-native/commit/ec60ebe
It should be part of version 64.

The change adds support for position:static.  It's a simple change we can apply manually.  We should make sure that this layout feature works in RNW.

Static positioning comes from the W3C standard.  Here's what w3cschools has to say about it (taken from https

[2020-08-03 22:53] Murtaya opened #5625 "RNW implementation of tooltips causes text truncation"
### Steps to Reproduce

1. Create some simple RNW UI that contains a tooltip with a lot of text (over 60 characters at 100% system text scale and 150% app scale)
2. Run the app, hover mouse over the control that has the tooltip specified

### Expected Behavior

3. The entire text for the tooltip should be shown, wrapping if necessary.

### Actual Behavior

3. Notice that the tooltip gets truncated

[2020-08-04 01:25] #5625 closed

[2020-08-05 02:35] rectified95 commented on #4694
Splitting this issue in 2 parts - one tracking the reimplementation of the Checkbox module using ABI-safe interfaces, the other to represent us removing the existing implementation from this repo.

[2020-08-05 02:37] rectified95 opened #5636 "Support @react-native-community-checkbox"
Issue created after splitting #4694. Tracks the reimplementation of Checkbox using ABI-safe interfaces in the community module repo.

[2020-08-05 09:26] muhdmud commented on #5287
Hi, can i work on this?

[2020-08-05 17:36] acoates-ms commented on #5287
PRs welcome!

[2020-08-05 17:45] jonthysell opened #5639 "Binary dependencies of native modules are not included when deploying via `run-windows`"
### Summary

I'm writing a test app which tests https://github.com/react-native-community/react-native-camera/pull/2930, which adds barcode scanning to react-native-camera.

Barcode scanning is provided by a third-party winrt binary (ZXing.winrt, ZXing.dll) via nuget: https://www.nuget.org/packages/huycn.zxingcpp.winrt

When building and deploying in VS, the appx (release) / deploy from layout (de

[2020-08-05 18:37] rectified95 commented on #5187
@kmelmon Is this perhaps fixed by #5213 ?

[2020-08-05 18:51] asklar opened #5640 "The desktop projects must not depend on XAML."
The desktop project must not depend on XAML.

_Originally posted by @vmoroz in https://github.com/microsoft/react-native-windows/pull/5606_

[2020-08-05 19:24] asklar opened #5641 "Fix dependency in integration tests on OS dispatcher type"
This will probably not work in WinUI 3 so we'll have to address it at some point

https://github.com/microsoft/react-native-windows/blob/7236d61e5736083eec1992df73183c400c787306/vnext/Microsoft.ReactNative.IntegrationTests/ReactInstanceSettingsTests.cpp#L29

https://github.com/microsoft/react-native-windows/blob/f2aa9eeacca65f709b74740b715a282fdae5486b/vnext/Microsoft.ReactNative.IntegrationTests/

[2020-08-05 20:18] kmelmon commented on #5187
Unfortunately #5213 won't fix this.  The problem here is that Text maps to TextBlock and Run, which doesn't have border properties.

If we consider the full problem it gets pretty tricky because Text can be nested.  In the nested case we have a Run that can wrap so the border isn't guaranteed to be a simple rectangle in that case.

I suggest we prioritize fixing the simple case first, which is to

[2020-08-05 20:24] #5640 closed

[2020-08-05 20:59] #5319 closed

[2020-08-05 23:47] asklar commented on #5339
Done against an internal nuget of WinUI 3 preview 3

[2020-08-05 23:47] #5339 closed

[2020-08-05 23:48] asklar commented on #4523
@jonthysell can we close this now or is there more to do?

[2020-08-06 00:14] putrasurya opened #5648 "Question: why i can't write a .txt file with native module?"
i am sorry if this is a dumb question
i am using c++ to write native module,

the method is simply to create a .txt file, but nothing is happened, anyone know hwy?

[code]

in javascript part, i can use its method (NativeModules.TaskDb.createTask, etc) without error
but it's not creating a .txt file.

i have test this code with my other C++ IDE as cpp app, works.
but it's not working for RNW.

any

[2020-08-06 00:31] acoates-ms commented on #5648
I suspect this has to do with the app not having permission to the location you are trying to write the file to.
You test app maybe a legacy app is not running in the modern app container that a react-native-windows app will be running in?

See:
https://docs.microsoft.com/en-us/windows/uwp/files/file-access-permissions

[2020-08-06 00:40] putrasurya commented on #5648
but they said

and above code should be creating a file in the debug folder, which is where this app is installed, right?

[2020-08-06 00:59] acoates-ms commented on #5648
Apps do not have write access to their install directory.  They have access to their appdata folder, which is at:
Windows::Storage::ApplicationData::Current().LocalFolder().Path()

[2020-08-06 01:02] lyahdav opened #5650 "Console.log events are delayed in Metro by several seconds"
## Environment
Run the following in your terminal and copy the results here.
1. `react-native -v`: running from git clone of this repo, at commit https://github.com/microsoft/react-native-windows/commit/69ea2c4831d11aec3f8c8ce406f7efb3248d20ee
2. `react-native run-windows --info`: Can't run this script easily, but I'm on Windows 10 Enterprise, version 2004
3. `reg query "HKLM\SOFTWARE\Microsoft\Wi

[2020-08-06 01:07] putrasurya commented on #5648
thank you! i will try again

[2020-08-06 01:07] #5648 closed

[2020-08-06 03:46] asklar opened #5652 "Alert will show in the wrong window sometimes"
On mobile devices there is always only one window active at any time, so an Alert dialog doesn't have to guess what UI to attach itself to. On desktop environments, multiple windows can be shown on screen at the same time, and Alerts should show in the intended window.
For the `Alert` component on Windows, we use an app-provided hint (`XamlUIService.XamlRoot`) to know what xaml root to attach the

[2020-08-06 04:24] asklar commented on #5477
Comp bug is fixed (will be included in WinUI 3), unclear whether this needs to be serviced or not, depends on whether @jackerghan  can work around it by following the xaml islands "complex sample" :)

[2020-08-06 07:43] asklar commented on #3836
@jonthysell @chrisglein  can you describe what we need from winui 3? we should file a bug linked to this one to track when we can implement using whatever winui 3.x gives us in this respect.

[2020-08-06 18:17] chrisglein commented on #5650
Highly unlikely this is a react-native-windows issue (we don't directly handle console methods), but could be an issue with Metro on Windows?
Are you only running this on Windows or do you have any comparison with this on iOS/Android?
Knowing more about your environment would be very helpful. Try running this:
`npx react-native run-windows --info`
We don't generally observe this so it'd be helpful

[2020-08-06 18:19] chrisglein commented on #5641
The dispatchers may work, but may not maintain guarantees about correct ordering (which could cause subtle problems and some gnarly investigations).

[2020-08-06 18:21] chrisglein commented on #5639
Let's look at this when we have the repro firmed up when the camera change has been merged.

[2020-08-06 18:22] chrisglein commented on #5623
May not be any work here, but will want to validate when we get this payload that RNW matches the core behavior.

[2020-08-06 18:50] shoaib commented on #5179
I am running into the same issue and have had no luck fixing it. I tried building and debugging/deploying with VS, and while the app runs fine on Visual Studio, I still get the same error when trying to run the app using 'react-native run-windows'.

@asklar, any other suggestions on debugging this issue?

[2020-08-06 18:53] asklar commented on #5179
@shoaib can you please file a new issue? please include what version of rnw you're using per the issue template etc. Thanks!

[2020-08-06 18:56] chrisglein commented on #3836
Jon has some issues on this repo (most notable #3875), but it seems like we still need one opened on the WinUI repo. At least as it relates to automation peers there is [this](https://github.com/microsoft/microsoft-ui-xaml/issues/1349).

[2020-08-06 19:13] shoaib opened #5653 "'react-native run-windows' fails with a missing dependency error on 'Installing new version of the app from layout'"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native -v`: 4.10.1
2. `npx react-native run-windows --info`:
  System:
    OS: Windows 10 10.0.18363
    CPU: (8) x64 Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz
    Memory: 5.97 GB / 15.92 GB
  Binaries:
    Node: 12.9.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.17.3 - ~\AppData\Roaming\npm\yarn.CMD
    n

[2020-08-06 19:14] shoaib commented on #5179
Done. Created a new issue #5653. Thanks.

[2020-08-06 20:58] asklar commented on #5653
Thanks for filing a new bug @shoaib !
I'm not able to repro this though, even on a clean VM without the VCLibs debug package, it gets properly installed... :(
A couple of things to check:
- There should be a file under your project with extension `.appxrecipe`. Does that file reference the x86 version of VCLibs.Debug (it should)
- Do you have this file on your PC: `C:\Program Files (x86)\Microsoft

[2020-08-06 21:02] asklar commented on #5477
Confirmed with @jackerghan that he can work around it by delaying destruction of the DesktopWindowXamlSource objects.
Jack, if you're able to, we'd love to have that work-around integrated into the playground-win32 app 😊

[2020-08-06 21:02] #5477 closed

[2020-08-06 21:15] shoaib commented on #5653
That did the trick. You rock @asklar. Surprisingly I was not able to find this information in any of my other searches. You might wanna add this somewhere in the documentation to avoid any future bugs related to this matter (or not, cuz this solution will now appear under any searches now) 😁

Thanks once again for your help!

[2020-08-06 21:56] chrisglein opened #5655 "Reload button says "Reload (NYI)" (Not Yet Implemented) but in fact works"
## Environment

npx react-native -v
[code]

npx react-native run-windows --info
[code]
reg query "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock"
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Do something dump in your JavaScript
2. Get error screen
3. Be dissuaded from clicking button that totally works

## Expected Results
Button that

[2020-08-06 22:01] acoates-ms commented on #5655
Wow.. that's amazing.  It's been like that for ages.

[2020-08-07 00:00] #4444 closed

[2020-08-07 08:22] kmelmon opened #5661 "E2ETest: VisitAllPages instability"
We're seeing an instability in the new VisitAllPages test.   Log snippet from one of the failures:

2020-08-07T08:09:13.1994088Z [0-7] loading page PlatformColor
2020-08-07T08:09:13.1995129Z 2020-08-07T08:09:13.193Z INFO webdriver: COMMAND findElement("accessibility id", "PlatformColor")
2020-08-07T08:09:13.1996630Z 2020-08-07T08:09:13.198Z INFO webdriver: [POST] http://127.0.0.1:4723/wd/hub/sessi

[2020-08-07 08:23] kmelmon commented on #5661
Temporarily disabling most of the test pages while I investigate this.

[2020-08-07 09:20] #5094 closed

[2020-08-07 09:27] tido64 commented on #5607
FWIW, I think this brings alignment with the other platforms. On Android, we can set arbitrary bundle names with [`ReactInstanceManagerBuilder#setBundleAssetName`](https://github.com/facebook/react-native/blob/6d6c68c2c639b6473e049f7d916690b92e921c7e/ReactAndroid/src/main/java/com/facebook/react/ReactInstanceManagerBuilder.java#L85). On iOS and macOS, it's even more generic as you can pass any URL

[2020-08-07 14:32] muhdmud commented on #5287
thanks for the opportunity!
how do i see how the clang format is being enforced? or if you can point me on the right direction, example where these filters work?

[2020-08-07 15:28] NickGerleman commented on #5287
This specific issue might be a little bit tricky without prior MSBuild experience. I took a quick look at this one a while ago but discovered the problem was more complicated than I originally thought.

@muhdmud are there any other "Good First Task" issues that look interesting to you?

[2020-08-07 17:37] #3576 closed

[2020-08-07 17:37] #5456 closed

[2020-08-07 21:49] rectified95 commented on #5437
@chrisglein
I have verified these controls are affected by this:
- DateTimePicker (in time mode)
- Slider
- Textinput (needs both width and height)
- Checkbox

[2020-08-07 22:59] chrisglein opened #5668 "textTransform='uppercase' doesn't work"
## Environment
npx react-native --version
```4.10.1```
npx react-native run-windows --info
[code]
reg query "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock"
[code]

## Steps To Reproduce

Use the [`textTransform`](https://reactnative.dev/docs/text-style-props#texttransform) property.

## Expected Results

Text content should be made uppercase (this works on iOS, Android, and react-n

[2020-08-07 23:35] muhdmud commented on #5287
Oh i see. no worries i admit i too was not sure how big the scope was going to be.
i did find 4 other good first task issues, and i don't mind working on any. Which one would you recommend ?