[2021-04-15 16:22] NickGerleman commented on #7571
I'm not sure we've implemented raising a11y events in general yet either. https://github.com/microsoft/react-native-windows/blob/master/vnext/Microsoft.ReactNative/Modules/AccessibilityInfoModule.cpp

[2021-04-15 17:32] #7508 closed

[2021-04-15 17:34] asklar commented on #7436
This might be due to a new version of chocolatey (which is used by the dependencies script) which broke because of a nuget breaking change:

chocolatey/choco#2233

If folks are still hitting this, can you try renaming/deleting the file `$env:APPDATA\NuGet\nuget.config`

[2021-04-15 18:09] chrisglein commented on #7598
Not a substitute for our end to end tests. But could give us coverage of our JS forks. Needs some investigation to see if there are infrastructure blockers.

[2021-04-15 18:13] chrisglein commented on #7591
Is there a way we can get coverage for different warning levels on the nightly builds to catch this more in advance?

[2021-04-15 18:18] chrisglein commented on #7586
This is being used by more than RN. Sounds like there's more discussion needed to figure out what changes are viable there.

[2021-04-15 18:25] chrisglein commented on #7585
May be a new incompatibility between `react-native-fs` and 0.64. I don't believe we've had that one positive confirmed yet. We still have an issue open on supporting it in the first place actually: #2829. Long thread there I haven't had a chance to absorb. What version are you pulling in? (there were active PRs that haven't been merged)

[2021-04-15 18:27] chrisglein commented on #7578
If this is hooked up to a Brush it probably works because the Brush will self change, but not if you use a Color. Will need to listen for theme changes and invalidate.

[2021-04-15 18:32] chrisglein commented on #7574
facebook/react-native#22794

Is this an opportunity to revisit that discussion? We'd rather not have something that should be cross-platform be Windows only. What's your take on how that PR played out and whether the sentiment has changed? Does this have an upstreamed future?

[2021-04-15 18:33] chrisglein commented on #7574
@rozele I assume you'll want this on macOS as well. Did you open an issue there too? Or waiting to see how this shakes out?

[2021-04-15 18:41] #7576 closed

[2021-04-15 18:53] asklar opened #7599 "Update API doc version in CI every time we cut a release"
When we cut 0.65 (or any release), we currently update the docs in the website repo by creating a new folder like `version-0.65`, and references inside each markdown file are updated to point to the "original name" so that Docusaurus can find the right document for a given version.

We now have API doc generation happening in CI. This is set up to build the docs for "vNext" (i.e. `/docs/next/foo`)

[2021-04-15 19:35] #7543 closed

[2021-04-15 20:24] asklar opened #7600 "Defork Yoga.cpp"
There seem to be multiple functional changes between RN core's Yoga.cpp and our fork

[2021-04-15 21:32] asklar opened #7601 "Can't nest layouts"
RN components use Yoga,
XAML elements use XAML (Measure/Arrange)

There isn't a way for XAML to be aware of Yoga (and the mechanisms for how layout works are incompatible).

So if we have a native panel that lays out its children and we try to add a RN component, the component won't lay out properly:
[code]

[2021-04-16 07:23] creambyemute commented on #7585
I'm using a fork which includes avmoroz Windows 10 Support PR: `https://github.com/wwimmo/react-native-fs` and tested it quite a bit in 0.63 in our Project.

[2021-04-16 13:11] cwtowns opened #7602 "flatlist rerenders all list items when data changes"
## Environment
-  `npx react-native --version`:  5.0.1-alpha.2
 - `npx react-native info`:
System:
    OS: Windows 10 10.0.19042
    CPU: (6) x64 Intel(R) Core(TM) i5-9600K CPU @ 3.70GHz
    Memory: 19.25 GB / 31.92 GB
  Binaries:
    Node: 14.16.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.5 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.14.11 - C:\Program Files\nodejs\npm.CMD
    W

[2021-04-16 16:56] #7524 closed

[2021-04-16 17:36] asklar commented on #7586
This is *not* a bug in the tree dump library (in fact there are tests in the TDL for exactly this scenario).
This is a bug in the test. The tree dump is happening on the wrong element (the test ID should be set on the parent of the view it is set on in the test).

I've asked @AgneLukoseviciute to fix the test.

[2021-04-16 22:24] asklar commented on #7585
@creambyemute I've looked into this; the RNFS project is missing a `#include <windows.h>` in its pch.h

[2021-04-17 00:43] system32uwu commented on #7436
Hello, in my case deleting C:\Users\user\AppData\Roaming\NuGet\NuGet.config was enough to get rid of this error.
The file got regenerated with the following content when I ran yarn windows again:
[code]

[2021-04-17 02:36] rozele commented on #7602
This is already "fixed" by #7470. Perhaps it's worth cherry-picking back to 0.64. Thoughts @chrisglein?

I say "fixed" because there is also a potential optimization in Yoga to modify the layout algorithm so it doesn't recalculate layout for stretch aligned children when the cross-axis dimension of the parent has not changed, but I'm still investigating that one 😅.

[2021-04-17 02:57] rozele commented on #7574
There's a couple of conflicting issues here:

1. It's entirely feasible to implement this outside of react-native-windows with a native module that takes in the node ID of the TextInput you want to extend with the onPaste event.

2. It's not necessarily trivial to implement something like onPaste on iOS / macOS without it being being part of core.

3. It's not clear how feasible 1 will be with Fab

[2021-04-17 11:20] dingbo8128 opened #7606 "Failed to pass tests before publish to windows store"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 5.0.1-alpha.2
2. `npx react-native info`:
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1.  项目 - 发布 - 创建应用程序包 - 运行Windows App Certification Kit

## Expected Results
pass all tesets

## Snack, code example, screenshot, or link to a repository:

[c

[2021-04-18 03:28] oldoldman opened #7607 "Support for EWDK"
I'm following this [doc](https://microsoft.github.io/react-native-windows/docs/getting-started) to go through the steps of running react-native-windows app. When running ```npx react-native run-windows``` in an EWDK build command window, I got stuck with following error
[code]
Is there some workaround of this ? Many thanks.

[2021-04-19 14:50] creambyemute commented on #7585
I temporarily added that to check if the 0.64 upgrade worked out and that worked and I was able to start and test the 0.64 upgraded App.

I think we can close this one here and continue it in its appropriate place. @asklar

[2021-04-19 14:50] #7585 closed

[2021-04-19 15:09] creambyemute opened #7608 "TextInput cursor placement still not correct on 0.64 when modifying value prop?"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 5.0.1-alpha2
2. `npx react-native info`:
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Use a TextInput like:
[code]
2. Write into the field. As soon as an space is added (by IBAN.printformat above), the cursor position is incorrect (-1 where i

[2021-04-19 17:25] mdehghani65 commented on #7045
Sounds great. but how is this going to reflect on the firebase dashboard? firebase analytics only support apps of android, ios,web and unity platforms. maybe adding support for ms appcenter would be more reasonable.

[2021-04-19 18:42] chiaramooney commented on #7606
Checkout #5737. Make sure that your copy of WACK is up to date.

[2021-04-19 18:45] chiaramooney commented on #5737
Gallery faced same WACK failures with type location / type name correctness / general metadata correctness validation. Cppwinrt repo [thread](https://github.com/Microsoft/cppwinrt/issues/738) explains that this was a cppwinrt error. Updating gallery's copy of cppwinrt to the latest fixed the issue.

[2021-04-19 20:01] asklar commented on #7607
@oldoldman can you confirm whether you've installed the dependencies? the instructions can be found here: http://aka.ms/rnw-deps
You'll likely need to close the cmd/ps window after installing the dependencies and reopen a new one.

[2021-04-19 20:24] #7586 closed

[2021-04-19 21:13] chiaramooney opened #7610 "Add Windows Support to RuntimeScheduler Module"
# Proposal: Add Windows Support to RuntimeScheduler Module
New module added by facebook in https://github.com/facebook/react-native/commit/eb13baf2a687b53dde04b9a336f18629d94f4b79. More commits have been made since to add additional functionality to the module.

[2021-04-19 22:57] jonthysell commented on #7206
Does module B work with autolinking on it's own? Autolinking looks at whatever packages `react-native config` sees, and then determines if those packages can be linked.

[2021-04-19 22:58] jonthysell commented on #4567
We have daily CI, this can be closed.

[2021-04-19 22:58] #4567 closed

[2021-04-19 23:17] #7501 closed

[2021-04-20 01:46] rectified95 commented on #5822
Additional detail from an offline discussion:

Also, this requires calling `event.stopPropagation()`, rathern than `preventDefault()`

[2021-04-20 11:50] sibille commented on #7560
Is there a possibility to back-port this to 0.64?

[2021-04-20 11:50] sibille commented on #7597
Thanks for looking into this, is there a possibility to back-port this to 0.64?

[2021-04-20 11:56] rozele commented on #7608
This recent PR modified the way TextInput cursor positioning was handled when the text was modified by JS:

https://github.com/microsoft/react-native-windows/pull/7285

It's been merged and perhaps is a good candidate to cherry pick back to 0.64. Thoughts @chrisglein ?

Please note it changes the behavior to match the behavior of an HTML input element: https://html.spec.whatwg.org/multipage/input.

[2021-04-20 12:01] creambyemute commented on #7608
Aah, I think there were 2 PR's and one is already included in 0.64 which improved the cursor shift quite a bit (as long as length seems to stay equal).

I actually thought the PR you linked above is already included. Makes sense now. I'll wait for that one to either be cherry-picked to 0.64 or for the 0.65 release 👍

[2021-04-20 12:01] rozele commented on #7608
Re-reading the issue, the PR mentioned above should fix for your specific use case.

[2021-04-20 16:42] chiaramooney opened #7612 "Performance Issue: Visual Tree Fails to Remove Pages"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 5.0.1-alpha.2
2. `npx react-native info`:

System:
    OS: Windows 10 10.0.19042
    CPU: (8) x64 Intel(R) Core(TM) i7-9700K CPU @ 3.60GHz
    Memory: 48.81 GB / 63.84 GB
  Binaries:
    Node: 14.16.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.5 - C:\Program Files (x86)\Yarn\bin\yar

[2021-04-20 19:21] MaxPMagee opened #7613 "DataDetector Support for <Text> or <TextInput> Components?"
On other platforms (iOS/Android), we are setting a dataDetector on the <Text> or <TextInput> components to make URIs clickable and look like links. Is there any support for this type of detection/formatting in the windows API? Neither approach looks like it even will display text on Windows.

`IS_IOS ? (
    <TextInput
      {...props}
      value={props.text}
      dataDetectorTypes={dataDetector

[2021-04-20 19:59] rectified95 commented on #7500
Indeed, React Native has its own event handling system with the bubbling and capturing phases implemented. Therefore, we shouldn't be firing `xxxCapture` events, as our spec now says. We have examples of this usage, although only for the custom Win32 View.

Suggested action items:
- copy the Win32 example and make it into a Windows page to show it works there too
- amend the keyboarding spec to re

[2021-04-20 20:28] rectified95 commented on #7523
Bringing in context from offline discussions:

With pointer events, we do tree-walks to find the relevant React tag. What if we only subscribed PreviewKeyUp/Down and KeyUp/Down at the root, enumerated all nodes from OriginalSource to root, and marked the event as handled only if something in the path from root to OriginalSource has set the relevant keyDown/UpEvent prop and phase?

    I suspect th

[2021-04-20 20:50] jaimecbernardo commented on #7543
@acoates-ms , I can confirm the issue is fixed for react-native-sketch-canvas as well. Thank you!

[2021-04-20 23:33] cwtowns opened #7615 "debug js/tsx from installed app"
Once an app is installed, how do I debug the tsx/js code?  The VS solution lets me Debug Installed App Package and select the installed package ... but then what?  How do I attach chrome so I can step through the js/tsx and see console statements?

Edit:  I guess the main question I'm asking is whether or not it is possible to see console.log statements when the app is compiled in release mode.  A

[2021-04-21 00:18] NickGerleman opened #7616 "Rename "src" in RN Platforms to "patches""
The "src" directory contains a number of JS files that are added to the base copy of RN. It is not a complete source tree itself. Renaming to "patches" would increase clarity of intent, and follow OSS "patch-package" conventions.

[2021-04-21 00:23] NickGerleman commented on #7600
Duplicate of #3994

[2021-04-21 00:25] NickGerleman commented on #7600
There is a PR to Yoga which had the fixes from early last year, but the FB team owning it doesn't seem to be accepting contributions to the OSS version.

https://github.com/facebook/yoga/pull/995

[2021-04-21 00:27] NickGerleman commented on #7600
@rozele if the above PR something you might be able to submit FB-side?

[2021-04-21 00:28] NickGerleman commented on #7600
BTW @asklar you can see a diff of our patches if you run `npx react-native-platform-override diff path/to/Yoga.cpp`

[2021-04-21 00:34] NickGerleman opened #7617 "Attempt node_modules resolution in react-native-platform-override before Git resolution"
`react-native-platform-override` relies on Git for a variety of functionality. It keeps a temp local repository with react-native-sources where it runs git commands to perform local operations.

In a significant subset of cases we will already have files present locally. Using them when available could avoid excess checkouts or unneeded clones.

[2021-04-21 08:16] creambyemute commented on #4444
@chrisglein I've experienced the same problem on 0.63 as well as 0.64.

The following does not work/not reflect the value change in the textInput but works perfectly fine on Android/iOS:
[code]

[2021-04-21 11:39] himanshu007-creator commented on #7616
I would like to work on this issue. Please assign me this issue.

[2021-04-21 15:19] NickGerleman commented on #7610
I don't think there is any work needed on our end for this.

[2021-04-21 16:11] chrisglein commented on #4444
I tried to break your example into a Snack: https://snack.expo.io/Z77jwIshk. As in your fragment it's not assigning through to `onChangeText` so the `TextInput` won't actually be interactive.
The behavior I'm seeing for this fragment looks the same to me on iOS and Windows: I see the characters briefly as I'm trying to type, but in the end the driven value wins. Which is expected. Is there more to

[2021-04-21 16:17] creambyemute commented on #4444
@chrisglein I'm not typing into the TextInput. Only using the CountUp Button to change the value which does not work.
I simplified the example to exclude the onChangeText event because after actually typing into the TextInput the Count up button works as expected.

I'll setup a minimal repro in a fresh 0.64 init project tomorrow to ensure there are no other factor interfering.
But the above exampl

[2021-04-21 19:21] chiaramooney opened #7618 "Remove Fork of NativeEventEmitter.js following 4/29 integration."
Source as of 4/15 in `Libraries/EventEmitter/NativeEventEmitter.js` contains bug which causes Accessibility Windows page in RNTester to fail to load due to an issue with the addListener method for AppTheme. Fix https://github.com/facebook/react-native/commit/114be1d2170bae2d29da749c07b45acf931e51e2 solves issue and fires a warning instead of a Red Box error. Forked file to create `src/Libraries/Ev

[2021-04-22 01:31] br4in3x commented on #7291
Good news, I was able to get pass build errors with react-native-windows 0.64 :) Thanks for updating the cppwinrt nuget!

[2021-04-22 01:32] br4in3x commented on #7291
This issue should be considered resolved 🎉

[2021-04-22 01:32] #7291 closed

[2021-04-22 08:09] asklar commented on #7612
Likely a dupe of #4152

[2021-04-22 08:13] asklar commented on #7613
Looks like an not-yet-implemented API.

[2021-04-22 08:47] creambyemute commented on #4444
@chrisglein Okay so I created two fresh inits, one for 0.63 and one for 0.64. I replaced the App.tsx content with the following:

[code]

I additionally recorded 2 small video showcases (mp4)  of the problem and added it to Google-Drive. You can watch it here:
* https://drive.google.com/file/d/1LRll1O-SYo8X8vj6QinKONegDNVdFAOt/view?usp=sharing
* https://drive.google.com/file/d/1ziNzS4bDwlwSFKP3ux1

[2021-04-22 08:54] asklar commented on #7615
Ideally you debug your app by running the Debug build. The Dev menu is disabled in Release mode, as are other debug-related features (yellow boxes, and the default red box I believe?). An app also doesn't use Chrome to run when built in Release mode. If you disable web debugging (either manually or by running Release mode), then you should still be able to debug the JS code by attaching Visual Stu

[2021-04-22 14:22] creambyemute commented on #7537
I have ran into this as well after upgrading our Project to 0.64 and we are using a few native libraries. Haven't figured out which one is causing it as it still happens after the react-native-sketch-canvas fix.

The upgraded 0.64 project builds and runs fine in debug mode, but as soon as I build for release (Project --> Publish --> Create App-Package) and then start it after installing it I only

[2021-04-22 14:25] dd-apt commented on #7537
@creambyemute we were able to use an ErrorBoundary to catch and display the rendering error (in our case it was Sketch Canvas prior to the fix). It may help narrow down if it is occurring in other native components for you?

[2021-04-22 15:59] acoates-ms opened #7619 "Remove leakChecker.cpp fork once upstream PR complete"
Remove fork of ReactCommon\react\renderer\leakchecker\LeakChecker.cpp once https://github.com/facebook/react-native/pull/31399 is merged.

[2021-04-22 16:15] creambyemute commented on #7537
I've tried it with ErrorBoundary now around the App.tsx. Neither that nor Sentry catches anything. Just a blank screen. Also tried FallbackComponent which didn't work either :/.

Ah this will be fun to get sorted out :-)

[2021-04-22 17:08] stmoy commented on #6302
https://github.com/react-native-kit/react-native-track-player/pull/1159

[2021-04-22 18:07] chrisglein commented on #7599
There's a script for the release process and this should be added to that.

[2021-04-22 18:18] #7600 closed

[2021-04-22 18:22] chrisglein commented on #7601
Also related, teaching XAML about Flexbox: #2643.

[2021-04-22 18:30] chrisglein commented on #7610
Sounds like this may just work without action on RNW. Or likely it only affects Fabric, and the support there is already incomplete so we're not ready to track with individual items.

[2021-04-22 18:30] #7610 closed

[2021-04-22 18:35] chrisglein commented on #7613
Converting from question to enhancement as this is a not implemented feature.
In the meantime you'll have to construct the experience you want via a `RichTextBlock` or nested `Text` elements (text highlighting should work for that using the RN APIs).

[2021-04-22 18:40] chrisglein commented on #7615
Correct, you won't get those when the bundle is in release.
You can turn the debug menu back on in release.

Yes, we need more documentation for this. Creating an issue for that [here](https://github.com/microsoft/react-native-windows-samples/issues/426).

If you need more answers ping this issue again.

[2021-04-22 18:45] chrisglein commented on #7619
FYI @AgneLukoseviciute about the linked PR having some fixes for warning levels. Might be related to what you're looking into.

[2021-04-22 18:51] chrisglein commented on #7608
@rectified95 can you backport this change to 0.64?

[2021-04-22 20:53] acoates-ms opened #7634 "Bring in fmt to replace our stub"
**folly** has a dependency on **fmt**.  We should bring in **fmt** before we hit some blocking issue that requires us to do it in a rush.

Thus far we have gotten away with stubbing out places where this is an issue, but usage within **folly** is expanding, and its only a matter for time before we hit a case where we need the real implementation.

**fmt** is already used by other Microsoft project

[2021-04-23 01:21] chrisglein opened #7638 "TextInput does not match update until it receives focus"
@chrisglein Okay so I created two fresh inits, one for 0.63 and one for 0.64. I replaced the App.tsx content with the following:

[code]

I additionally recorded 2 small video showcases (mp4)  of the problem and added it to Google-Drive. You can watch it here:
* https://drive.google.com/file/d/1LRll1O-SYo8X8vj6QinKONegDNVdFAOt/view?usp=sharing
* https://drive.google.com/file/d/1ziNzS4bDwlwSFKP3ux1

[2021-04-23 01:24] chrisglein commented on #4444
Thanks for the detailed info @creambyemute! I've created a new issue for this (#7638) since this issue is closed and I don't want to confuse any of the >1 year old details with your fresh tasty info. Again, appreciate your diligence.

[2021-04-23 07:12] asklar commented on #7638
I think this is the same issue that is causing microsoft/react-native-gallery#113 and possibly others; something is missing a re-render.

@creambyemute If you repro the issue and resize the window instead of typing in the textbox, does the textbox get updated to reflect the true value?

[2021-04-23 07:13] asklar commented on #7638
@chrisglein if this ends up being the same issue, and it affects more than just text in this case, we might want to consider bringing this in sooner since it's pretty broken

[2021-04-23 07:18] asklar commented on #7578
Verified that using a brush name and changing the system theme does _not_ cause the app to use the new color, so this is a bug that should be fixed.

[2021-04-23 07:19] asklar opened #7640 "Brush PlatformColors do not re-evaluate when the system theme changes"
Verified that using a brush name and changing the system theme does _not_ cause the app to use the new color, so this is a bug that should be fixed.

Example:
[code]

Notice that the text color doesn't change if you change the theme after the app has launched/shown that text. If you relaunch the app, the text color is correct.

_Originally posted by @asklar in https://github.com/microsoft/react-na

[2021-04-23 07:34] asklar commented on #7640
cc @marlenecota who I think originally implemented PlatformColors in case this sounds familiar

[2021-04-23 09:19] #7634 closed

[2021-04-23 11:28] KaliEtQuali commented on #7451
Hi,
What is the redbox and how can we have a look at it please ?

[2021-04-23 12:37] BartoszKlonowski opened #7641 "Native module thread affinity: Invalid window handle when opening FilePicker"
## Environment

1. `npx react-native --version`: 5.0.1-alpha.2
2. `npx react-native info`:
[code]
- Target Platform Version(s): 10.0.18362.0
- Target Device(s): Desktop
- Build Configuration:  Debug, x64

## Steps To Reproduce
Consider this part of a very basic FilePicker native module:
[code]
Which fails right after launching the coroutine (line with `co_await`), with the `INVALID WINDOW HANDLE`

[2021-04-23 15:47] acoates-ms commented on #7619
Closing as we no longer need this fork now that we have fmt.  (#7635)

[2021-04-23 17:02] asklar commented on #7641
@BartoszKlonowski Can you make sure you are running that code from the UI thread? there was a threading change that now requires you to queue UI-affined API calls onto the UI thread (you can do this via context -> UIDispatcher property -> Post method)

[2021-04-23 21:01] burtonrodman opened #7644 "rnw-dependencies script missing VS component?"
I am trying to create a custom Docker container to build my project in lieu of Azure DevOps hosted because the PCH files of my project and the included community modules are exceeding the 10GB limit of the hosted agents.  I have tried to pair down the PCH's but it's just not enough.  When I build my container I am using the following commands:

Dockerfile for base image with .net 4.8 and choco (to

[2021-04-23 21:30] rectified95 commented on #7602
Fix cherry-picked into 0.64-stable.

[2021-04-23 21:30] #7602 closed

[2021-04-23 22:58] #7330 closed

[2021-04-23 22:59] rectified95 commented on #7608
Fix cherry-picked into 0.64-stable.

[2021-04-23 22:59] #7608 closed

[2021-04-24 01:13] chrisglein commented on #7087
Related to the issues with `display:none` not working (@AgneLukoseviciute)? Or with navigation pages not being disabled ([Gallery#123](https://github.com/microsoft/react-native-gallery/issues/123))?

[2021-04-24 01:21] chrisglein commented on #6223
Since October the list of modules has grown significantly, but we've also gotten better about updating the Directory so that's the right list. @chiaramooney has some experience going through a wide selection of them through that `Deploy` fix. Or this could fall in the work list you coordinate with your elves, @stmoy.

[2021-04-24 01:24] chrisglein commented on #5914
This issue is fairly old now and the set of problems likely needs a refresh.
@stmoy do you think this is a candidate for J.P. to delve into and give fresh eyes?

[2021-04-24 01:43] #7370 closed

[2021-04-26 01:52] cwtowns commented on #7615
Well I narrowed down what my problem is and am looking for guidance.  I'm trying to use [uuidv4](https://www.npmjs.com/package/uuidv4) which depends on the crypto package.  This works fine in debug but not in release.  In order to track down uuidv4 as the problem in release mode, I added a native module that writes to file via Serilog, and then updated my front end to log to that instead of the co

[2021-04-26 04:51] NickGerleman opened #7646 "Add Thread Affinity Tests"
We should add tests to make sure that we crash when thread-affined objects we own are accessed on the wrong thread. Same for allowing calling JS thread affined APIs on the NM thread.

[2021-04-26 04:56] NickGerleman commented on #7641
This is the right answer. Native module code is no longer run on the UI thread in 0.64. Calls to APIs that must be executed on the UI thread now need to be explicitly dispatched.

[2021-04-26 04:59] NickGerleman commented on #7641
We have a list of breaking changes with 0.64 here https://github.com/microsoft/react-native-windows/releases/tag/react-native-windows_v0.64.0

We knew the thread affinity one would be a bit gnarly, but didn't think modules running on the UI thread was acceptable from a perf perspective.

[2021-04-26 05:06] mdehghani65 commented on #1763
to be honest the ability to keep a single codebase for multiple platforms sounded attractive. but in practice , due to a lot android-ios-specific packages, this wasn't easily achievable, so I found that using a separate code base foe windows seems easier.

[2021-04-26 06:06] RahidAkhundzada opened #7647 "datetimepicker on RN Windows not work"
npx react-native info output:
info Fetching system and libraries information...
System:
OS: Windows 10 10.0.19041
CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
Memory: 15.19 GB / 23.85 GB
Binaries:
Node: 15.12.0 - C:\Program Files\nodejs\node.EXE
Yarn: 1.22.10 - ~\AppData\Roaming\npm\yarn.CMD
npm: 7.8.0 - C:\Program Files\nodejs\npm.CMD
Watchman: Not Found
SDKs:
Android SDK:
API Levels: 2

[2021-04-26 06:08] RahidAkhundzada opened #7648 "datetimepicker on RN Windows not work"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:
2. `npx react-native info`:

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1.
2.

## Expected Results
Describe what you expected to happen.

## Snack, code example, screenshot, or link to a repository:
Please provide a Snack (https://snack.expo.io/), a l

[2021-04-26 06:08] #7648 closed

[2021-04-26 08:13] bokuns opened #7649 "Couldn't find any versions for "get-monorepo-packages" that matches "^1.2.0""
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 5.0.1-alpha.2
2. `npx react-native info`:
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.
[code]
When running ```npx react-native-windows-init --overwrite```, it would show the error:
[code]

## Expected Results
Describe what you expected to happen.

[2021-04-26 08:51] marnusw opened #7650 "Where do I configure source bundle host/port, and open dev menu on Xbox?"
When debugging on a remote device the app looks for the JS bundle at `localhost:8081` by default which doesn't exist.

It looks like #4582 raised this issue and that it was addressed #4979, but I couldn't find any documentation nor figure out where these developer settings can be configured.

A related question is how to open the developer menu while debugging on an Xbox One?

If it would help I c

[2021-04-26 09:21] BartoszKlonowski commented on #7641
@asklar Thank you! I didn't know about the `UIDispatcher` method, but it does solve my issue.
Wrapping the FilePicker coroutine in a `Post`'s lambda with `std::move` capture for the promise (it would be destroyed before resolving) makes the window appears correctly.

@NickGerleman Thanks for the explanation. I was aware of the breaking change (that is why I mentioned the thread affinity in the tit

[2021-04-26 10:29] NickGerleman opened #7651 "Experiment with pre-seeding virtualizedlist cell measurement cache when idle"
Virtualizedlist keeps a full cache of measurements of all rendered items. This cache allows more accurate behaviors once the item is rendered.

Pre-seeding the cache would lead to correct behavior on the first (or early) interaction.

It comes at the cost of cpu/battery. Would need to throttle. Memory cost is not bad (100kb per thousand items)

[2021-04-26 10:34] NickGerleman commented on #7649
The package seems to still be available on the npmjs registry https://www.npmjs.com/package/get-monorepo-packages/v/1.2.0. yarnpkg should mirror that.

It seems like this could be caused by intermitancy with either yarnpkg, or a separately configured npm mirror.

Would you be able to try again?

[2021-04-26 10:49] NickGerleman commented on #7650
You should be able to set `SourceBundleHost` on ReactInstanceSettings. https://microsoft.github.io/react-native-windows/docs/ReactInstanceSettings api

You should be able to assign th this in different places. InstanceSettings is part of ReactApplication, which is a XAML component that App.cpp implements.
 
You can also get the global application ReactNativeHost (think instance with attached views

[2021-04-26 10:54] NickGerleman commented on #7647
@RahidAkhundzada do you know what locale you have windows set to use?

[2021-04-26 11:04] RahidAkhundzada commented on #7647
Yes i get data new Data() .it work good.but i select date with picker.it sets wrong date. DateTimePicker default use devices time. if we watch photo we can see other time select.it get data from new Data() firstly.then i change it goes wrong.

[2021-04-26 11:16] NickGerleman commented on #7567
Closing since the NuGet issue should be solved.

[2021-04-26 11:16] #7567 closed

[2021-04-26 11:26] #4375 closed

[2021-04-26 11:33] NickGerleman commented on #7261
Marking for followup to understand 0.65 impact.

[2021-04-26 11:34] NickGerleman commented on #7446
@jonthysell is this something we will need for 0.65? (Or maybe just to hardcode the branch.

[2021-04-26 11:38] NickGerleman commented on #7436
Going to go ahead and close this issue since it sounds like the issue is thought to be addressed

[2021-04-26 11:38] #7436 closed

[2021-04-26 18:06] asklar commented on #7651
@NickGerleman Is this something in Core rather than in Windows?

[2021-04-26 18:08] asklar commented on #7650
You can connect a keyboard to the xbox and press Ctrl+Shift+D to bring up the Debug menu.
Let us know if you are still blocked!

[2021-04-26 18:14] asklar commented on #7647
Andrew thinks the xaml locale is different than the JS locale
Since this is in a community module, marking this one as a dupe.

[2021-04-26 18:14] asklar commented on #7647
Duplicate of react-native-datetimepicker/datetimepicker#446

[2021-04-26 18:14] #7647 closed

[2021-04-26 18:16] asklar commented on #7646
Seems righteous

[2021-04-26 18:19] asklar commented on #7644
We expect the `buildLab` profile to be used on AzDO/GitHub actions where some of the required VS workloads are already present. Can you try removing that?

[2021-04-26 18:22] asklar commented on #7641
Yes, we should add content to the async Windows APIs docs to describe usage of UIDispatcher

[2021-04-26 18:30] asklar commented on #7640
When the Theme changes, new brushes are generated (with the new colors), so the app is still holding on to the old brushes.

The fix here [for `SolidColorBrush`es] would be for the PlatformColor-backing code to register for theme changes, and then when responding to a theme change, reset the color of each brush.

[2021-04-26 18:36] asklar commented on #7261
Jon thinks this is already done, assigned to Jon to close

[2021-04-26 18:40] asklar commented on #7615
We have [this issue](https://github.com/microsoft/react-native-windows-samples/issues/426) to write docs to address these questions

[2021-04-26 18:40] #7615 closed

[2021-04-26 19:52] #7261 closed

[2021-04-26 20:01] burtonrodman commented on #7644
thanks for your response.  it seems I was hitting the 10GB default volume limit when installing VS, and it failed silently (or at least in a non-obvious way).  I have kicked my default volume size up and rebuilding now -- which seems to be going well.  still need to test, but i'll post back here asap.

[2021-04-27 02:21] bokuns commented on #7649
Yes, it works after I switched the npm registry back to the original one. Before I was using taobao mirror, which is said to sync with the original one every 10 mins and this package was published...2yrs ago.

[2021-04-27 02:21] #7649 closed

[2021-04-27 07:33] NickGerleman commented on #7651
This is in Core, but affects Windows. I thought about putting this in the core repo, but think it makes more sense here. Task-style work tracking for core is usually FB internal, so the OSS repo for react-native core is more related to user-issues. The RNW repo I think also has visibility to the folks who would be implementing this.

[2021-04-27 09:12] marnusw commented on #7650
Thank you both for your quick responses. I was able to specify the host in App.cpp where the InstanceSettings are configured which works well.

It looks like the developer menu doesn't provide the option to change the bundle location like it does for iOS and Android, which means using ReactInstanceSettings is the only way to debug remotely right?

Could I send a PR with a few lines on this added t

[2021-04-27 10:07] emilioicai commented on #3278
hey guys, **lottie-react-native** 4.0.0 has been finally released. Sorry for the delay, it has been very painful to test and still I think there may be some issues so I would appreciate if you could give it a try.

BTW, **react-native-safe-modules** 1.0.1 has also been released including @jonthysell changes

[2021-04-27 13:23] sureshsvmx opened #7660 "How can i update to V8 engine . Do we need to download any library or simply setting is enough instanceSettings.JSIEngineOverride = JSIEngine.V8;"

[2021-04-27 14:49] asklar commented on #7650
we are planning to add a "debugging your app" page to the docs which should contain this and other related information. Some examples of info we want here:
- how to do direct debugging vs. web debugging
- attaching Visual Studio in "script mode"
- figuring out whether Flipper works for RNW apps or not
- debugging crash dumps
- using the debug menu and debug APIs

See microsoft/react-native-windows

[2021-04-27 15:23] acoates-ms commented on #7650
The debug menu should allow you to change the bundle location like it does for iOS and Android.  The last item in the menu should be "Configure Bundler" which would allow you to specify the host / port for the bundle.

[2021-04-27 18:25] #7644 closed

[2021-04-27 18:29] AgneLukoseviciute opened #7661 "Update Folly and Remove Forked Files"
#7659 added two forked folly files, until the [fix in folly](https://github.com/facebook/folly/pull/1565) gets merged and propagates. We should update folly to ingest these changes and then remove these forked files.

[2021-04-27 18:30] burtonrodman commented on #7644
i'm closing this for now as it seems our builds started passing -- so maybe I was barking up the wrong track.  for anyone else who may be trying this, I added the following to my Docker Engine settings, deleted all containers and images and repulled all my images and it started giving me 40GB to work with while building.

[code]

[2021-04-27 22:22] jonthysell commented on #7446
I haven't been able to get the Microsoft ADO to pick up anything but master. I imagine I'll be kicking off the publish for 65 manually for a while too.

[2021-04-28 03:52] oldoldman commented on #7607
I've found a workaround , but it is not easy. I would like to suspend this issue. Thank you guys.

[2021-04-28 03:52] #7607 closed

[2021-04-28 08:32] marnusw commented on #7650
Thanks @acoates-ms, I see the dev menu option is in v0.64. We've been using 0.63 since we're on `react-native-tvos` which hasn't realeased a port of RN 0.64 yet.

Thanks for outlining your plans for the docs @asklar. Most of those topics seem too specialised for my immediate knowledge and it seems v0.64 has already solved the root of the issue I had by adding the Configure Bundler option. As we ma

[2021-04-28 08:32] #7650 closed

[2021-04-28 08:34] NickGerleman commented on #7660
V8 isn't something we fully support quite yet. E.g. we do not run tests with it, or ensure V8 builds are allowed in the app store. We should do a better job of making this clear in code (logged an issue on this).

In the meantime, we support Chakra by default, along with Hermes, which usually has better performance characteristics (with some limitations). Take a look here for how to enable that. h

[2021-04-28 08:36] NickGerleman opened #7666 "Annotate V8 Related APIs in MSRN as Experimental"
See https://github.com/microsoft/react-native-windows/issues/7660

We have V8 related APIs exposed to the ABI, but do not officially support V8 for UWP quite yet. A question of using it has come up a few times, and the APIs do not discourage trying to use it.

We should consider renaming `JsiEngine::V8` to something like `JsiEngine::Unstable_V8`.

[2021-04-28 08:40] sureshsvmx commented on #7660
Thank @NickGerleman.

[2021-04-28 08:42] NickGerleman commented on #7666
@tudorms do you have any thoughts on the idea?

[2021-04-28 09:03] #2198 closed

[2021-04-28 10:28] NickGerleman commented on #7177
We seem to be including the right Node LTS types. Typings have branched for Node 15, and we are correctly not using that yet. Possible there was a Node API change to 14, or someone may have brought a new API into Node 14 typings too early.

[2021-04-28 10:28] #7177 closed

[2021-04-28 12:08] NickGerleman opened #7679 "RNW 0.65 Release Status"
Changelog: https://github.com/microsoft/react-native-windows/issues/7679#issuecomment-845928761
Upstream issue: https://github.com/react-native-community/releases/issues/223

The milestones below are based on those set for the upstream release and are subject to change.

## Milestones
1. **Upstream RC:** Week of May 25th
1. **Release 0.65.0-preview.1**:  Week of May 25th
1. **Changes in 0.65-stabl

[2021-04-28 12:59] NickGerleman opened #7682 "Upgrade to Beachball 2.0"
A new version of beachball was released, with breaking changes, leading us to no longer automatically consume it. We should look at what it means to upgrade to 2.0.

[2021-04-28 14:03] NickGerleman commented on #4791
Have a PR out removing DatePicker. I would guess this issue still affects the community module version. Potentially affects what to do with this issue.

[2021-04-28 17:23] tudorms commented on #7666
I thought we'll no longer have separate UWP and Win32 binaries. Perhaps it's a matter of documentation? Renaming it to whatever is fine.

[2021-04-28 17:43] #7130 closed

[2021-04-28 17:44] #7239 closed

[2021-04-28 17:44] #7485 closed

[2021-04-28 17:45] #6607 closed

[2021-04-28 17:45] #7467 closed

[2021-04-28 18:33] NickGerleman opened #7688 "Increase Clang Warning Level in OSS RN Build Logic"
From discussion with @rozele:

Doing the work in BUCK is trickier, bc BUCK derives from multiple internal projects. Internal logic will also cover more than external.

Internal builds should be gated on OSS build breaks, so OSS build logic changes should be sufficient for preventing new warnings in OSS. This is something MSFT should be able to turn on in OSS.

We are mostly clean in files we use,

[2021-04-28 18:34] NickGerleman commented on #7688
cc @AgneLukoseviciute who I believe was looking at SDL warnings.

[2021-04-28 20:53] NickGerleman commented on #7666
I think we might end up having pluggable JS engines before binaries are converged. I don't expect JSIEngineOverride to be around at that point, so I think we can effectively treat the API as UWP only.

[2021-04-28 22:37] #7618 closed

[2021-04-28 23:49] #5843 closed

[2021-04-29 01:59] ryfow opened #7690 "backgroundColor makes color stop working"
If you create a text element like the following, it renders with black text on a black background instead of white text on a black background.:

`<Text style={{color: 'white', backgroundColor: 'black'}}>Hello!</Text>`

Additionally, there's some weirdness with reloading. Changing the backgroundColor requires an app restart for some reason.

## Environment
Run the following in your terminal and cop

[2021-04-29 07:49] mdehghani65 commented on #7070
what I did was using {direction:'rtl'} style on my parent views in each component

[2021-04-29 09:14] NickGerleman commented on #7589
@AgneLukoseviciute would you be able to locally test this against latest master? That should let us know if the issue was related to the non-fixed rootview width vs a separate issue.

[2021-04-29 09:19] NickGerleman commented on #7589
I missed that we already are resizing to 800x600 on every app launch
https://github.com/microsoft/react-native-windows/blob/6d9a804a6782b40dfeee5de0bfc1bfe91ab962dd/packages/e2e-test-app/windows/ReactUWPTestApp/App.xaml.cs#L77

So I think the width difference may be due to a more legitimate rendering issue instead of mismatched width.

[2021-04-29 16:23] rozele commented on #7690
I believe @koljaka has run into this issue as well. I think the resolution was to set the foreground color on the TextHighlighter that's used for background color.

[2021-04-29 16:52] #7660 closed

[2021-04-29 17:36] AgneLukoseviciute commented on #7589
@NickGerleman Looks like it was related, #7683 did the trick. Local snapshot width got updated to match what CI was getting, thanks!

[2021-04-29 17:36] #7589 closed

[2021-04-29 18:11] asklar commented on #7690
Assigning to Igor to take a look

[2021-04-29 18:12] rozele opened #7695 "Text lineHeight not respected when smaller than font max height"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Copy RNTester example from repro branch: https://github.com/rozele/react-native-windows/commit/be4b3a2f38af54991818f742accd2813914e3c7d
2. Open RNTester > Text example > Line Height

## Expected Results
I expect the second block of text to have a lineHeight smaller than the max height of the text block. The word '

[2021-04-29 18:19] asklar commented on #7688
we think Yoga is built from master but Folly is not (uses a separate packaged version). Work is to upgrade the warning level in RN build logic (Gradle & CocoaPods).

[2021-04-29 18:20] asklar commented on #7688
@chrisglein to help w/prioritizing; This would help reduce the amount of work we have to do during ingestion wrt. forking.

[2021-04-29 18:26] asklar commented on #7666
We don't currently test V8 for RNW apps (i.e. UWP) so this should be marked as [Experimental] until we have a plan to properly support it.

[2021-04-29 18:33] asklar commented on #7651
It might be worth to experiment with this, may not be the right default behavior.

[2021-04-29 18:42] asklar commented on #4791
The core control (DatePickerIOS / DatePickerAndroid) is ejected (they warn but they work), we have a Windows only API DatePicker.

We want to redirect folks to the community module; this yellow boxes in RNW 0.64, so we should leave enough time for people to see it before we remove it from RNW core. Slate it for removal in 0.66?

[2021-04-29 18:47] asklar commented on #4791
@rectified95 can you check if the community module has this issue filed and if so, close this one.

[2021-04-29 19:25] rozele commented on #7690
The fix @koljaka had was to set Foreground here in addition to Background: https://github.com/microsoft/react-native-windows/blob/master/vnext/Microsoft.ReactNative/Views/TextViewManager.cpp#L108

[2021-04-29 19:37] #7500 closed

[2021-04-30 04:17] #7695 closed

[2021-04-30 15:28] AgneLukoseviciute commented on #7087
Pasting in a comment from community module repo issue:

[2021-04-30 15:40] #6918 closed

[2021-04-30 15:48] #7640 closed

[2021-04-30 16:07] dannyvv opened #7704 "Manually register folly and format to component goverenance"
We need to either:
* Update the msbuild logic that downloads folly and fmt to emit a [manifest file ](https://docs.opensource.microsoft.com/tools/cg/cgmanifest.html)that component governance would pick up...
* Add a manual registration in the [manifest file ](https://docs.opensource.microsoft.com/tools/cg/cgmanifest.html) for component governance

[2021-04-30 19:00] SBS-FPATE-RINALDI commented on #3326
Hi, just wanted to check in on this. Our team has a use case for creating charts in React Native for Windows, Mac, iOS, and Android. react-native-svg works with all of these platforms except Windows. Is this still expected to be part of the 0.65 release? Would love to be able to create svg charts on all platforms using one library 🙂 Thanks!

[2021-05-01 02:56] rendomnet commented on #7436
@NickGerleman why you closed issue?  I still have this error.

[2021-05-01 03:05] asklar commented on #7436
@rendomnet can you check if you have a file %appdata%\NuGet\NuGet.Config ? if so, can you either a) ensure it contains nuget.org, or if you haven't created this file manually, try deleting this file and re-trying the build.

[2021-05-01 03:11] asklar commented on #7704
good catch

[2021-05-01 03:14] rendomnet commented on #7436
@asklar I have deleted this file created new project and
![image](https://user-images.githubusercontent.com/18900210/116769373-75cd4780-aa5d-11eb-8924-7a4c2cacd2ae.png)

nuget is regenerated and looks liks this
[code]

[2021-05-01 03:56] rendomnet commented on #7436
install script gives this error
![image](https://user-images.githubusercontent.com/18900210/116770157-6bae4780-aa63-11eb-994d-786f1744808f.png)

[2021-05-01 06:03] rendomnet commented on #7436
and `npx react-native run-windows --logging`

![image](https://user-images.githubusercontent.com/18900210/116773102-37dc1d80-aa75-11eb-80d9-b5924246a9ca.png)

[2021-05-01 09:04] NickGerleman commented on #7704
Do we have Hermes/V8-JSI napping to Hermes and V8 CVEs? I remember we've hit "hemes-egine" NPM package CVE without the NuGet package triggering anything.

[2021-05-01 09:09] NickGerleman commented on #7704
Most vulnerabilities there affect untrusted JS code. That's fine for most RNW use-cases, but I'm wondering if we should advertise security behaviors/update cycle of current 3p JS engines.

[2021-05-01 09:57] rendomnet commented on #7436
if running from vs code
![image](https://user-images.githubusercontent.com/18900210/116778785-e4c69280-aa95-11eb-9041-40c61ebdc08a.png)

[2021-05-01 21:04] petr7555 commented on #4209
@vmoroz Thank you very much for your help.

I abandoned the idea of having it as an external dependency and stuck with FilePicker.cpp and FilePicker.h directly inside my app. I used parts of code from [RNFetchBlobWin](https://github.com/avmoroz/rn-fetch-blob/tree/dev/examples/RNFetchBlobWin/windows) to implement the "file to base64 functionality". [Here's](https://github.com/petr7555/bachelors_the

[2021-05-02 05:06] NickGerleman commented on #2404
This seems like it might be a ReactUwp issue. Anything to do now?

[2021-05-02 05:10] NickGerleman commented on #2730
Is this still relevant after test infra changes?

[2021-05-02 05:11] NickGerleman commented on #3121
Magic tap is an iOS platform specific interaction. Going to close this for now.

[2021-05-02 05:11] #3121 closed

[2021-05-02 05:13] NickGerleman commented on #3115
Should be implemented by checking is UIA clients are listening in https://github.com/microsoft/react-native-windows/blob/master/vnext/Microsoft.ReactNative/Modules/AccessibilityInfoModule.cpp

[2021-05-02 05:13] #3115 closed

[2021-05-02 05:13] NickGerleman commented on #3158
This is already provided JS side. We need to properly emit events though.

[2021-05-02 05:13] #3158 closed

[2021-05-02 05:13] NickGerleman commented on #3159
This is already provided JS side. We need to properly emit events though.

[2021-05-02 05:16] NickGerleman commented on #7554
Original sticky header NYI issue is https://github.com/microsoft/react-native-windows/issues/3070

That one has a bit more context, so closing this as dupe.

[2021-05-02 05:16] #7554 closed

[2021-05-02 05:16] NickGerleman commented on #3019
We have new WinAppDriver now.

[2021-05-02 05:16] #3019 closed

[2021-05-02 05:18] NickGerleman commented on #3160
Prop is specific to iOS platform a11y. Closing for now.

[2021-05-02 05:18] #3160 closed

[2021-05-02 05:19] NickGerleman commented on #3494
This should have been fixed by component governance work.

[2021-05-02 05:19] #3494 closed

[2021-05-02 05:20] NickGerleman commented on #7436
@rendomnet it looks like you may be hitting a couple of issues separate from the error this issue was created for. I'm going to split them into some new issues.

[2021-05-02 05:21] NickGerleman opened #7709 "Error Installing Visual Studio Via RNW Dependencies Script (choco thinks VS is installed when it isn't)"
After uninstalling visual studio
install script gives this error
![image](https://user-images.githubusercontent.com/18900210/116770157-6bae4780-aa63-11eb-994d-786f1744808f.png)

_Originally posted by @rendomnet in https://github.com/microsoft/react-native-windows/issues/7436#issuecomment-830511790_

[2021-05-02 05:22] NickGerleman opened #7710 "Failure to sign appx during deployment"
and after installing visual studio manually and running install script again

`npx react-native run-windows --logging`

![image](https://user-images.githubusercontent.com/18900210/116773102-37dc1d80-aa75-11eb-80d9-b5924246a9ca.png)

_Originally posted by @rendomnet in https://github.com/microsoft/react-native-windows/issues/7436#issuecomment-830558863_

[2021-05-02 05:24] NickGerleman commented on #7710
Note that there were some cert logic changes in 0.64 with https://github.com/microsoft/react-native-windows/pull/6646

This is also likely using the new deployment mechanism

[2021-05-02 05:27] NickGerleman commented on #3162
Not sure there is anything actionable here

[2021-05-02 05:27] #3162 closed

[2021-05-02 05:28] NickGerleman commented on #3755
We will screenshot on test failure for the current test framework.

[2021-05-02 05:28] #3755 closed

[2021-05-02 05:30] NickGerleman commented on #3753
Not sure there is anything actionable unless we had PackageReference support.

[2021-05-02 05:34] NickGerleman commented on #4225
This is likely a JSI (in release_ vs non-JSI (Using WebSocketJSExecutor) thing. My understanding is that RN core has the same sort of behavior, where types have been different in legacy vs JSI.

Not sure there is much we can do though, and eventually everything will be on JSI.

[2021-05-02 05:36] NickGerleman commented on #4367
Checkbox was totally ejected for 0.64.

[2021-05-02 05:41] NickGerleman commented on #5198
This has gotten to be pretty reliable. Marking for feedback, to see whether this issue is still something we want to pursue.

[2021-05-02 05:56] NickGerleman commented on #7369
You can tell dependabot to look at a target branch, and supply multiple configurations. See https://docs.github.com/en/code-security/supply-chain-security/configuration-options-for-dependency-updates#target-branch

[2021-05-02 06:08] NickGerleman opened #7711 "Use Hermes-Windows 0.8.0"
Facebook cut Hermes 0.8.0 for use with react-native 0.65. We should use the same version for RNW 0.65. We should update the Hermes-Windows NuGet package and use the new version in RNW.

[2021-05-02 09:30] NickGerleman commented on #7651
We can do this efficiently with #5800

[2021-05-02 09:43] NickGerleman commented on #5800
Supporting the `collapsable` property might allow us to do efficient pre-measurement in VirtualizedList.

Collapsable views have a shadownode and a yoga node, but do not need an associated native component. This allows us to efficiently keep a subset of components in a measure but no native render state.

This will not work for self-measure components. I.e. we get efficient pre-measure for flexbox

[2021-05-02 09:53] NickGerleman commented on #7651
JS would still render in this case. Which means we would do any async JS work per-item. Native side rendering costs are avoided though.

[2021-05-02 11:50] NickGerleman commented on #5800
Misread this as opt-in instead of opt-out. Needs more thought.

[2021-05-02 23:53] rozele commented on #5800
Regardless of whether it can be used for priming VirtualizedList, this could have significant impact on performance (fewer DependencyObjects - less memory and less time in XAML layout) I believe it may be more trivial to enable with Fabric.

[2021-05-03 13:16] asklar commented on #7710
@rendomnet do you have KB4535996 installed? if so that could be the source of the issue. See https://developercommunity.visualstudio.com/t/failed-to-sign-appx/934749

Uninstalling that KB seems to have worked for folks.

[2021-05-03 13:23] asklar commented on #7709
if you uninstalled from the Windows add/remove programs UI in the Settings app then the script might be getting confused.
open an elevated cmd prompt, and run `choco list -l`. If VS is still there you can remove the registration by running `choco uninstall visualstudio2019community`

[2021-05-03 16:32] #7638 closed

[2021-05-03 18:13] chrisglein commented on #7710
We believe this is resolved by getting the right KBs (either uninstalling the above one and/or moving forward to the next). @rendomnet let us know if that doesn't unblock you.

[2021-05-03 18:17] chrisglein commented on #7709
Belief is that using `choco` asymmetrically (to install but not to uninstall) may cause `choco` to be confused. @rendomnet are you personally unblocked using the workaround above?

The script will fall back to checking whether VS is installed but it is trusting the choco registry if choco says it's installed. Ideally the script would handle that case.

[2021-05-03 19:37] #7690 closed

[2021-05-03 19:40] rectified95 commented on #7690
@ryfow Thanks for spotting this!
The fix is now in the master branch. I'll try to get it backported to 0.64 too.

[2021-05-04 03:03] rendomnet commented on #7710
@chrisglein @asachin96
I don't have this update.
![image](https://user-images.githubusercontent.com/18900210/116956609-7fea8280-acb7-11eb-9485-402744a0c801.png)

[2021-05-04 08:55] MustafaAlsihati opened #7722 "Unable to use FileOpenPicker after updating to RNW-0.64.4"
I'm facing an issue and I'm not sure what is causing it after updating react-native-windows from 0.63 to 0.64.4. I have a native module code using `Windows.Storage.Pickers.FileOpenPicker` class to pick images in C# UWP project, before 0.64.4 it was working fine, but after updating I got an exception which cause the image picking to fail, the window dialog for file picking is not even opening.

*Co

[2021-05-04 09:42] omdxp opened #7723 "Support react-native-html-to-pdf"
# Support `react-native-html-to-pdf` on RNW

## Basic Info
- Module Repo URL: [link to repo](https://github.com/christopherdro/react-native-html-to-pdf)
- Target version: ^0.63
- [x] Issue exists on module repo (if so, [link](https://github.com/christopherdro/react-native-html-to-pdf/issues/214))

- [x] Module has a Legacy/C# implementation (if so, [link](https://github.com/smartinmedia/Net-Core-D

[2021-05-04 13:28] NickGerleman commented on #7711
Marking as blocking 0.65 release, since it is needed to prevent Hermes from crashing on 0.65. @mganandraj will be the one to bring new payload into Hermes-Windows.

[2021-05-04 13:30] NickGerleman commented on #7704
Moving this to 0.66, since 0.65 is approaching and this does not regress functionality added in 0.64.

[2021-05-04 13:31] NickGerleman commented on #7560
Moving the milestone to 0.66, since 0.65 is approaching and this issue is not new in 0.65.

@sibille I expect this is one we will backport to 0.64, unless there are complex or breaking changes that would make this a risk.

[2021-05-04 13:34] NickGerleman commented on #7537
Moving the milestone tracking item completion to 0.66, since 0.65 is fast approaching. This change may still be backported to 0.64 though.

[2021-05-04 13:36] NickGerleman commented on #7486
Marking this as something we want to fix for 0.65.

That could just mean fixing the documentation for now.

[2021-05-04 13:37] #7427 closed

[2021-05-04 14:04] NickGerleman opened #7724 ""Exception in HostObject::get for prop 'AsyncLocalStorage': database is locked" Calling AsyncStorage.getItem() on Unpackaged App Implementation"
Crash with below callstack being hit in the wild. The AsyncStorage implementation here is unique to unpackaged RNW apps, but this includes XAML islands apps. The implementation is similar to the community module.

[code]

[2021-05-04 14:04] NickGerleman commented on #7724
FYI @htpiv in case you want to take a look at this

[2021-05-04 14:11] rozele commented on #7724
We have a custom wrapper that calls the AsyncStorage model directly. There's more to the stack:
[code]

[2021-05-04 14:13] rozele commented on #7724
This is the callsite in `src/native-modules/AsyncStorage.tsx`:
![image](https://user-images.githubusercontent.com/1106239/117017020-4585e300-acc1-11eb-9c88-6e22eb4443d4.png)

It seems to occur in a call to `getItem`.

[2021-05-04 17:54] #7547 closed

[2021-05-04 19:21] mganandraj commented on #7711
I'm on it.

[2021-05-04 21:56] rectified95 commented on #7722
Potentially related to https://github.com/microsoft/react-native-windows-samples/issues/427

[2021-05-04 21:58] rectified95 commented on #7578
@asklar Should this be closed since #7640 got merged?

[2021-05-04 22:04] #7578 closed

[2021-05-05 00:29] rectified95 opened #7726 "[E2E tests] visitAllPages.test.ts doesn't visit all pages"
Seems like a bunch of pages have been added in RNTester (some examples simply moved out of the SectionList page), but we haven't included them in the test that opens all of them.

[2021-05-05 03:22] asklar commented on #7724
update from the thread: this is happening due to trying to access the storage from multiple threads/processes/instances. The app  should build in error handling logic to respond to contention.

[2021-05-05 06:41] asklar commented on #7722
@MustafaAlsihati See the in-progress documentation update here: https://github.com/microsoft/react-native-windows-samples/pull/428

[2021-05-05 06:42] asklar commented on #7722
Duplicate of microsoft/react-native-windows-samples#427

[2021-05-05 06:42] #7722 closed

[2021-05-05 07:18] asklar commented on #7723
the linked legacy/C# implementation isn't usable:
- it's not a react-native-windows legacy module
- it uses WPF and .net core

the work here seems to be to either use the [Windows.Data.Pdf](https://docs.microsoft.com/en-us/uwp/api/windows.data.pdf?view=winrt-19041) APIs, or rather use a webview to print the pdf content (see e.g. [this StackOverflow example](https://stackoverflow.com/questions/1704

[2021-05-05 07:19] asklar commented on #7726
Ideally the test could discover the pages instead of relying on a hardcoded list

[2021-05-05 08:10] Omar-Belghaouti commented on #7723
@asklar thanks for the example, I'll check it out and let you know.

About that legacy module, I know it uses .Net Core and I thought since UWP uses .Net Standard. Is it possible to to have a .Net Standard project that reference that .Net Core module and can be referenced from the UWP project?

[2021-05-05 10:39] NickGerleman commented on #7726
I knew we had an issue for this before, but it looks like I accidentally closed it at some point with an unrelated PR 👀

https://github.com/microsoft/react-native-windows/issues/5775

[2021-05-05 10:40] NickGerleman commented on #7726
I played around with extracting names from source code but that approach did not work well.

[2021-05-05 12:43] NickGerleman commented on #7724
Multiple threads is supported.

It looks like multiple instances is not. It's a common scenario for brownfield, so we should give it some thought.

[2021-05-05 16:33] sakthivel-servicemax opened #7730 "Issues facing in react native windows upgrade to 0.64.5"
We have upgraded to react native windows 0.64.5.
I have three issues with the upgrade.
1) We have local Database. when we do db operation and react navigation together, application is crashing.
This was not happening before. I think, this threading logic is what causing the crash.  If we add some delay in navigation, we don't see the crash. but adding delay to entire project is not a good idea and

[2021-05-05 19:42] imrishabh18 commented on #7426
@NickGerleman Can I take up this issue? Also, I am to this. Might need help

[2021-05-05 21:01] namrog84 opened #7731 "Add some mechanism to determine if RNW app is running on xbox console or windows pc"
# Proposal:
Add some mechanism exposed through C++ and JS Code to determine if the app is running on xbox console or windows pc.

Bonus: Determine if it's Xbox One vs Xbox Series X?

Some conversations proposed populating a `Platform.deviceFamily` with appropriate values

## Motivation

We want to have a single appxbundle compiled app binary that works in both xbox consoles and windows pc.
A few f

[2021-05-05 21:48] jagorrin commented on #4367
We have an item in our backlog to switch to the community module. Closing this issue.

[2021-05-05 21:48] #4367 closed

[2021-05-05 22:56] asklar opened #7733 "Investigate enabling non-packaged fonts"
Today we have Glyph and TextBlock based controls that require fonts to be in the appx package. Is there something we can do for bundled fonts instead?

[2021-05-06 05:14] asklar commented on #7730
it will be hard to tell what the issues are caused by, without more information (call stack of the crash at the very least), or ideally a self-contained repro that we can look at.

[2021-05-06 14:46] NickGerleman opened #7737 "Do not wipe app data on each "run-windows""
CLI deploy code will uninstall the appx, removing local data for the app. This means that the app loses any state on disk each time it is run via the CLI.

We should avoid uninstalling when we do not need to.

Q: Does the CLI deploy tool know how to uninstall when needed?

[2021-05-06 17:02] jonthysell commented on #7451
If the UWP app is running in debug mode, the "redbox" is the error dialog shown within the app. Usually it matches any error displayed in the metro server, except that that's the underlying metro bug we're discussing - metro shows EISDIR because it can't find the files but the app's redbox dialog shows the actual error.

[2021-05-06 17:26] dannyvv commented on #7679
Added more fine grained steps for setting up the release pipelines when creating the forked branch:
- [ ] Push build to 0.65-stable branch and publish (NickGerleman)
  - [ ] Enable [CI yaml](https://github.com/microsoft/react-native-windows/blob/master/.ado/continuous.yml) for 0.65-stable branch
  - [ ] Update [dashboard @ms](https://dev.azure.com/ms/react-native-windows/_dashboards/dashboard/28de

[2021-05-06 17:52] chiaramooney commented on #7558
Looks like list of controls that we have that are purely JS are:
- Button
- FlatList
- Touchable (TouchableHighlight, TouchableOpacity)
- Pressable

Of these only the Button control needs special styling to match the Windows standard, since FlatList is just a simple list display where the developer has control over the styling and the Touchable/Pressable components are built to be components that

[2021-05-06 17:52] asklar commented on #7679
[ ] Update the CI to tell the API doc generation tool to use the 0.65 prefix

[2021-05-06 18:11] asklar commented on #7723
It might be possible to just add this functionality into react-native-print instead, which would make more sense here.

[2021-05-06 18:17] asklar commented on #7724
The scenario involves multiple instances all trying to access the storage. Each module is running storage code on a background thread. Different instances have different modules, each module will have its own background thread. May need a process-global. Access to storage is thread-safe as long as there is one single instance, but not when there are multiple instances.

[2021-05-06 18:25] asklar commented on #7730
Also, what version are you upgrading from?

[2021-05-06 18:30] asklar commented on #7733
Main limitation is coming from the platform, but there may be something we can abstract away to make usage simpler.

[2021-05-06 18:40] asklar commented on #7710
Can you share the build log? (*.binlog file)

[2021-05-06 21:02] Omar-Belghaouti commented on #7723
Totally agree!

[2021-05-07 01:03] rectified95 commented on #6352
@NickGerleman In https://github.com/microsoft/react-native-windows/pull/6344#issuecomment-718041077 you mentioned there was a need for an element to be focusable to be retrieved in our dump tests - do you remember the scenario?  I seem to be able to have a non-focusable View testID included in the snapshot:
`<View focusable={false} testID={'no_focus'}>`

[code]

[2021-05-07 04:18] sakthivel-servicemax commented on #7730
i am getting the exception
**Exception thrown at 0x768BA6E2 in AppName.exe: Microsoft C++ exception: std::out_of_range at memory location 0x0987EFC4.
Debug Error!**

The version is getting upgraded from 0.63 to 0.64.5

[2021-05-07 04:41] asklar commented on #7730
@sakthivel-servicemax can you please provide a full call stack? that error message isn't very useful by itself

[2021-05-07 14:24] rozele opened #7740 "TextInput onChangeText and onSelectionChange out of order"
## Steps To Reproduce
https://user-images.githubusercontent.com/1106239/117464936-25535f80-af1f-11eb-8069-afaa710e596f.mov
Provide a detailed list of steps that reproduce the issue.

1. Open RNTester > TextInput component example > Text selection & cursor placement
2. Set breakpoints in onChangeText and onSelectionChange
3. Observe the order of events

## Expected Results
On iOS, Android, and macO

[2021-05-07 15:24] #5268 closed

[2021-05-07 15:26] #7558 closed

[2021-05-08 16:34] rendomnet commented on #7709
@asklar guys its getting ridiculous. Under Mac all went without problems. But under Windows so many  problems.
Yes `visualstudio2019community`  there I reinstalled it to run react-native-windows project. What should I do? Do you have uninstall script?
![image](https://user-images.githubusercontent.com/18900210/117546706-8e38f580-b04d-11eb-9431-bc5cd7deb1c4.png)

[2021-05-08 16:38] rendomnet commented on #7710
[msbuild.zip](https://github.com/microsoft/react-native-windows/files/6446190/msbuild.zip)

[2021-05-08 20:15] asklar commented on #7710
tagging @svetbonev and @srdjanjovcic to comment on this package signing failure

[2021-05-08 20:44] asklar opened #7748 "C++20 breaks"
1. Error info:
[code]

2. Error info: Seems to be related to https://github.com/microsoft/STL/blob/main/stl/inc/coroutine#L21 and https://github.com/microsoft/STL/blob/main/stl/inc/experimental/coroutine#L49.

[code]

3.
[code]

[code]

[2021-05-08 21:58] asklar commented on #7748
For issue #3, see facebook/react-native#31496

[2021-05-10 14:54] jeveloper commented on #7731
hey Adam @namrog84 ,
I am planning to build a POC for Xbox Series X or S only, curious what works and doesn't with RN64. Evaluation stage.
thank you and what are the issues you've faced (if allowed to divulge).

Thanks

[2021-05-10 17:09] #7446 closed

[2021-05-10 17:22] SvetBonev commented on #7710
@japarson FYI

@rendomnet Unfortunately, it seems signtool.exe didn't print a reason why it failed.
Would you be able to run signtool.exe manually to try to sign the .appx package and see if you could capture more details?
I would also suggest to pass /v on the command line for verbose output.

[2021-05-10 18:58] namrog84 commented on #7731
The only thing that I am not sure why isn't working is react-native-video stuff. We have some preview videos section and they are empty tiles right now.   I am not sure why, I haven't spent enough time to investigate.  Ultimately though I think we might want to display some slightly different UI on consoles.

There is some weirdness regarding scaling and DPI that are causing some unusual behavior

[2021-05-10 21:00] #7606 closed

[2021-05-11 03:44] #7704 closed

[2021-05-11 16:43] jonthysell commented on #7704
I've added the items, but CG is complaining that it doesn't know what folly or fmt is, so following up on that with the CG team.

[2021-05-11 17:37] dbm5858 opened #7758 "requireNativeComponent: "RCTWebView" was not found in the UIManager."
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.13.0
2. `npx react-native info`:
info Fetching system and libraries information...
System:
    OS: Windows 10 10.0.18363
    CPU: (8) x64 Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz
    Memory: 6.63 GB / 15.86 GB
  Binaries:
    Node: 12.16.1 - C:\Program Files\nodejs\node.EXE
    Yarn: Not

[2021-05-12 04:51] navneetbagri opened #7760 "How to show 3d model/CAD file in react native windows application"
# How to use `react-native-gl-model-view` on RNW

## Basic Info
- Module Repo URL: [link to repo](https://www.npmjs.com/package/react-native-gl-model-view)
- Target version: 0.63

## Which app/customer is requesting this module?

Those who want to show 3d model in react native windows application
## In what scenarios will this module be used?

## Essential Features

[2021-05-12 15:48] jonthysell commented on #7758
Can you run `npx react-native autolink-windows --logging` and post the result?

[2021-05-12 15:51] jonthysell commented on #7758
Which version of react-native-webview are you using? Autolinking is only available in 11.4.3 and above.

[2021-05-12 15:55] dbm5858 commented on #7758
react-native-webview is 11.4.4.

[2021-05-12 15:55] dbm5858 commented on #7758
C:\Users\MeilickD\dev\rnw\WebView>npx react-native autolink-windows --logging
⠋ Auto-linking...
Parsing project...
Found Windows app project, config:
{
  folder: 'C:\\Users\\MeilickD\\dev\\rnw\\WebView',
  sourceDir: 'windows',
  solutionFile: 'NavigationDemo.sln',
  project: {
    projectFile: 'NavigationDemo\\NavigationDemo.csproj',
    projectName: 'ProductConfigurationUtility',
    projectLang

[2021-05-12 15:56] dbm5858 commented on #7758
My main Windows project is C# (UWP), not C++.  I'm beginning to wonder if it is related to that.

[2021-05-12 17:13] jonthysell commented on #7758
@chiaramooney You just added autolinking to react-native-webview with a new `react-native.config.js`, but it looks like the file isn't getting published in their npm package. It needs to be added to the files portion of their `package.json` file.

[2021-05-12 17:28] jonthysell opened #7764 "Unhandled XAML exception at runtine when trying to create new C# app using nugets"
Exception:

[code]

## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 5.0.1-alpha.2
2. `npx react-native info`:

[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Create new app `npx react-native init canarynuget --version 0.0.0-5127c71d6`
2. Add rnw with `npx react-native-windows-init --language

[2021-05-12 17:52] chiaramooney commented on #7758
On it! Will have a PR with the needed changes soon!

[2021-05-12 19:32] jonthysell commented on #7764
I've confirmed that this doesn't occur when building a new app against M.RN source.

[2021-05-12 19:42] jonthysell commented on #7764
The type XAML can't find is `Microsoft.ReactNative.ReactApplicationExtension`.

[2021-05-12 22:56] #7758 closed

[2021-05-12 23:14] #7740 closed

[2021-05-13 02:42] namrog84 opened #7765 "Missing documentation coverage: CallJsFunction"
There is example documentation showing EmitJsEvent, but there is also the public API for CallJSFunction. It'd be great to have a simple example in the example app or whatever somewhere.

Just something to point to people who want to use CallJsFunction as a valid thing, and expected parameters (basically just add 'emit')

[2021-05-13 02:50] namrog84 opened #7766 "Example showing Windows API and weak pointer reference back to ReactModule"
In some cases windows APIs need to be on the UI thread (different than thread react native is running on).

Sometimes people might pass a get_weak() or get_this() into the lambda of some windows api.
However there are several nuances around this that can complicate things.

c++ std  has std::enabled_shared_from_this() and winrt c++ has some public implement<thisClass>

Both either get_this() or ge

[2021-05-13 13:27] #6905 closed

[2021-05-13 18:13] chrisglein commented on #7764
There are currently some known issues with new C# UWP apps. Will be fixed with 16.10, can be manually worked around today. Don't know if that is related to this at all.

[2021-05-13 18:19] chrisglein commented on #7748
For issue 1) that's under our control as that's from our codegen.
We could split this issue up but it sounds like 2) and 3) are external and 1) is ours. So let's track fixing 1) here. Possible 2) is an overlap with RNW code.
Impact for us is getting automated validation of future C++/tool updates. Not impacting us today, but will.
Could add some pipeline validation that C++20 builds.

[2021-05-13 18:24] asklar opened #7774 "C++20 break in coroutines"
Error info: Seems to be related to https://github.com/microsoft/STL/blob/main/stl/inc/coroutine#L21 and https://github.com/microsoft/STL/blob/main/stl/inc/experimental/coroutine#L49.
[code]

Some code is using `std::coroutine` stuff and other is using `std::experimental::coroutine`, and these are not compatible

https://github.com/microsoft/react-native-windows/issues/7748#issuecomment-840742267_

[2021-05-13 18:26] chrisglein commented on #7760
Some links to other queries about GL/3D support and libraries/techniques: #2424 #6301

[2021-05-13 19:20] jonthysell commented on #7764
We've got a fix/workaround we're exploring.

[2021-05-14 17:57] ryfow opened #7778 "Hanging Visual Studio on Build"
Something about [this example project's](https://github.com/ryfow/BackgroundBreaksForeground/tree/hang-vs-1
) dependencies makes it so when I try to build with Visual Studio, it hangs while compiling TurboModuleProvider.cpp. `yarn windows` works fine.

## Environment

[code]

- Visual Studio Version: Tried 16.7.15 and 16.9.5

## Steps To Reproduce
Provide a detailed list of steps that reproduce th

[2021-05-14 19:32] guidelazeri commented on #7451
Any updates? I'm upgrading the RN in our project from 0.59.9 to 0.63.4 and this error is happen in Android build. The app is crashing and only works in debug mode.

[2021-05-14 20:20] ryfow commented on #7778
I did get a bunch of dependencies removed. It seems like some combination of react-native-device-info, react-native-permissions, react-native-sensitive-info and react-native-fs causes the issue. Last time I tried it, things stopped while compiling sensitive-info.

[2021-05-14 21:56] chrisglein commented on #7426
@imrishabh18 Of course! We'd happily accept a fix for this.

[2021-05-14 22:19] imrishabh18 commented on #7426
@chrisglein As I am new to this, Can you please guide me what are the things that you want to resolve this issue?

[2021-05-15 08:27] omdxp opened #7780 "Images not showing in release build (code-push can't `require` assets, need to explicitly use ms-appx/ms-appdata and lose `require` benefits)"
## Environment
1. `npx react-native --version`: 4.13.1
2. `npx react-native info`:
[code]

## Steps To Reproduce

1. In debug all images can be displayed.
2. When I try to build in release all images cannot be displayed.

## Expected Results
Images can be displayed in release build.

## Example code snippet
[code]

[2021-05-16 04:02] rendomnet commented on #7709
@asklar  @chrisglein Cant uninstall using choco
![image](https://user-images.githubusercontent.com/18900210/118385087-c338df80-b62d-11eb-8195-7b54bd51d195.png)

[2021-05-16 05:33] rendomnet commented on #7709
After uninstalling and reinstalling with choco

![image](https://user-images.githubusercontent.com/18900210/118386618-89baa100-b63a-11eb-8618-d8f558b45058.png)

[2021-05-16 05:37] rendomnet commented on #7710
what should I do exactly ?
![image](https://user-images.githubusercontent.com/18900210/118386674-06e61600-b63b-11eb-836f-8d0f67171880.png)

[2021-05-16 05:39] rendomnet commented on #7710
@SvetBonev what should I do exactly?
![image](https://user-images.githubusercontent.com/18900210/118386721-4f9dcf00-b63b-11eb-8e32-6f0d7eaaf82e.png)

[2021-05-16 06:48] rendomnet commented on #7709
okay I found the issue.
signintool was not in ENV PATH. after adding 'C:\Program Files (x86)\Microsoft SDKs\ClickOnce\SignTool' to enviroment  PATH
app started.

[2021-05-16 06:48] rendomnet commented on #7710
okay I found the issue.
signintool was not in ENV PATH. after adding 'C:\Program Files (x86)\Microsoft SDKs\ClickOnce\SignTool' to enviroment  PATH
app started.

[2021-05-16 07:05] rendomnet commented on #7436
okay I found the issue.
signintool was not in ENV PATH. after adding 'C:\Program Files (x86)\Microsoft SDKs\ClickOnce\SignTool' to enviroment  PATH
app started.

[2021-05-16 10:59] rendomnet commented on #7219
@chrisglein this links are for react native developers? I'm not C# C++ native windows developer I don't understand there a thing, I'm using React native windows. And windows registry CRUD is essential for app development.

[2021-05-16 14:34] asklar commented on #7710
it's weird that signtool wouldn't be found by the project system (there should be another one that isn't in the ClickOnce directory too, afaik) so it would be interesting to understand why/how you got into this state. Any idea what could have happened @SvetBonev ?

[2021-05-17 03:35] rendomnet opened #7781 "How to run exe file in react-native-windows application?"
I'm coming from electron. And looking for functionality similar to `child_process`. https://nodejs.org/api/child_process.html
I need to run other applications from my rnw application.

[2021-05-17 03:42] rendomnet opened #7782 "Support react-native-registry"
# Support `react-native-registry` on RNW

## Basic Info
- Module Repo URL: https://www.npmjs.com/package/windows-native-registry
- Target version:
- [ ] Issue exists on module repo (if so, [link]())

- [ ] Module has a Legacy/C# implementation (if so, [link]())

## In what scenarios will this module be used?
CRUD operations with windows registry

## Essential Features
CRUD operations with windows

[2021-05-17 11:48] Omar-Belghaouti commented on #7780
I have looked for this and what I found as a solution is to copy `logo.png` inside `Assets` folder of the UWP project and then to get the image from React Native you should type the following:
[code]

[2021-05-17 16:31] acoates-ms commented on #7780
We should make sure that the default project is configured in a way that the normal import of an image works.  The image should be added to the appx and work in release. -- If it isn't, then that's something we will look into.

[2021-05-17 18:10] chrisglein commented on #7782
This module is a Node module, not a React Native module. There is no direct support for node modules (see #7529). Note the module isn't called `react-native-registry`. You can see if there's something related in the RN space but the registry concept is pretty specific to Windows, additionally as that RNW apps are UWP apps and run in an app container... it's not going to work. For more information

[2021-05-17 18:10] #7782 closed

[2021-05-17 18:12] chrisglein commented on #7781
There are going to be different restrictions for RNW as opposed to Electron. More information here: https://microsoft.github.io/react-native-windows/docs/native-code

Can you provide more context about what you want? You can launch files (Which would open the default app for that), you can launch uris. There are mechanisms, but they are not as open ended as "run this exe".

[2021-05-17 18:17] chrisglein commented on #7778
It's possible there's some duplicate building of Microsoft.ReactNative.dll. I'm curious if this can also be resolved by using the experimental nuget. @jonthysell how close are you to having steps that someone can follow for updating to the nuget when they also have module dependencies?

[2021-05-17 18:19] chrisglein commented on #7219
Unfortunately at the point that you're looking for functionality that isn't covered by existing community modules, you need to drop into native code which requires the skills/knowledge for that platform (be it iOS, Android, or in this case Windows). You can find the documentation about how to do that [here](https://microsoft.github.io/react-native-windows/docs/native-modules).

It depends on your

[2021-05-17 18:19] rendomnet commented on #7781
@chrisglein I'm making app launcher, specifically game launcher.
I need a way to run different applications, sometimes with some additional launch commands.
As I know **Windows Xbox App** is made in react native windows.
So it should be possible?

[2021-05-17 18:29] chrisglein commented on #7781
I think what you're looking for is this: [Launch an app with a URI](https://docs.microsoft.com/th-th/windows/uwp/launch-resume/launch-app-with-uri).

[2021-05-17 18:29] #7781 closed

[2021-05-17 18:32] rendomnet commented on #7219
@chrisglein Well Windows registry is important part of Windows.
And I think almost all popular Windows apps is using windows registry in some way. (Photoshop, Office, Steam for example)
In my case I need to access some specific system information which is stored in windows registry, and accordingly use it to have better UX.
Electron apps can do it. I was considering switching from electron to RNW.

[2021-05-17 18:36] rendomnet commented on #7781
@chrisglein again link to a native documentation. But how to do it in react-native-windows?

[2021-05-17 18:45] chrisglein commented on #7219
An Electron app is not a UWP app. React Native for Windows apps are UWP apps. As such if you're just using the default app template you're going to be in a different app container than you're used to and have different restrictions. We've attempted to capture that in [this article](https://microsoft.github.io/react-native-windows/docs/native-code). But the short is that you'd be dealing with these

[2021-05-17 19:00] chrisglein commented on #7781
See the link in my previous response: https://microsoft.github.io/react-native-windows/docs/native-code

[2021-05-17 19:50] chrisglein commented on #7426
There's a link [above](https://microsoft.github.io/react-native-windows/docs/getting-started#install-the-windows-extension) to the page in question.
The general information on how to update the website is [here](https://github.com/microsoft/react-native-windows-samples/tree/master/website).
I believe that same page's source is [here](https://github.com/microsoft/react-native-windows-samples/blob/m

[2021-05-17 20:09] NickGerleman commented on #7679
Where does this happen, and can we change the pipelines logic to not need it? I did a pass a while back to remove hardcoded versions, or move any release-cutting bits into the `@rnw-scripts/promote-release` script. Would be great to continue the tradition.

[2021-05-17 20:13] NickGerleman commented on #7711
Anandraj published https://www.nuget.org/packages/ReactNative.Hermes.Windows/0.8.0-staging that we will use in the interim.

[2021-05-17 20:16] NickGerleman commented on #7486
@asklar were there places other than the highlighted example in ReactInstanceSettings that were documented to be removed in 0.65?

@vmoroz are these APIs going to be removed shortly?

In the future we should maybe just say "removed in a future release" to give ourselves some more flex.

[2021-05-17 20:58] NickGerleman commented on #7486
Talked to Vlad offline. We can do this change after cutting the branch, so long as it is before release. Vlad said he will try to remove them before the end of the month.

[2021-05-17 21:31] asklar commented on #7679
for 0.64 this happens [here](https://github.com/microsoft/react-native-windows/commit/187a6be31f685a5ea6f5404a2024c926b9ad445a#diff-6a3fb2d860be9b6a806db5a541290fe9ee6587935cc508750d89e77d7a19c3ecR83)
for 0.65 you'd just add /apiVersion 0.65 to the command line

[2021-05-17 21:33] asklar commented on #7486
yes I believe the WinRT JSI APIs are in the list of things that we wanted to remove in 0.65, I'm not sure if we have a full list of them

[2021-05-17 21:45] NickGerleman commented on #7486
Did we document that the WinRT JSI transport is going away in 0.65? It is used internally for the current ABI-safe JSI/C++ TurboModule implementation. That will all presumably be NAPI eventually, but I did not think that would be happening in the very short term.

[2021-05-17 21:50] NickGerleman opened #7785 "Do not hardcode branch version for doc generation"
for 0.64 this happens [here](https://github.com/microsoft/react-native-windows/commit/187a6be31f685a5ea6f5404a2024c926b9ad445a#diff-6a3fb2d860be9b6a806db5a541290fe9ee6587935cc508750d89e77d7a19c3ecR83)
for 0.65 you'd just add /apiVersion 0.65 to the command line

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows/issues/7679#issuecomment-842655292_

[2021-05-17 21:51] NickGerleman commented on #7785
We have a few solutions for this. E.g. we have en variables in the PR pipeline for current package version, the branch name itself, and a script for modifying the project when branching for anything that does need to be hardcoded.

[2021-05-17 21:53] NickGerleman commented on #7679
Assigned an issue over to you. I am hoping to cut the branch end of week if you want to manually update it, but I would highly recommend using one of the available solutions to not need to make manual edits every time we cut a release.

[2021-05-17 21:54] asklar commented on #7785
Duplicate of #7599

[2021-05-17 22:44] AgneLukoseviciute commented on #3159
Note: from @jonthysell in #2888

[2021-05-17 23:20] rectified95 commented on #7591
This should have been removed in #7680
Can be deleted any time now. Will most likely in the next ingestion from core.

[2021-05-17 23:33] AgneLukoseviciute commented on #3161
Closing as this property has been deprecated https://reactnative.dev/blog/2018/08/13/react-native-accessibility-updates#solution-one-combining-accessibilitycomponenttype-android-and-accessibilitytraits-ios

[2021-05-17 23:33] #3161 closed

[2021-05-17 23:34] rectified95 commented on #4037
Updated issue description with the list of view managers we need to cover.

[2021-05-18 13:43] rozele opened #7792 "Last character in wrapped RTL text fails hit test"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Create a <Text> component with pressable wrapped nested virtual RTL text or a bidirectional boundary, e.g.:
[code]
[code]
2. Press the last character of the wrapped line or of bidirectional boundary:
![image](https://user-images.githubusercontent.com/1106239/118662419-f9a56480-b7bd-11eb-8eb2-8be463aaab8a.png)
![im

[2021-05-18 14:05] rozele commented on #7792
We could likely work around this with an additional log(C) binary search in cases where we've identified this limitation. However, since XAML returns 0 width characters, we may end up expanding the hit box beyond the expected characters.

[2021-05-18 19:42] dannyvv commented on #7426
Many thanks to @imrishabh18 for picking this up and fixing for us!

[2021-05-18 19:42] #7426 closed

[2021-05-18 19:44] dannyvv commented on #7426
See also [PR #438@react-native-windows-samples](https://github.com/microsoft/react-native-windows-samples/pull/438)

[2021-05-18 20:15] dbm5858 opened #7793 "requireNativeComponent: "RCTWebView" was not found in the UIManager."
Reported as fixed in #7758.  I'm still having the same problem.

## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 5.0.1-alpha.2
2. `npx react-native info`:
System:
    OS: Windows 10 10.0.18363
    CPU: (8) x64 Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz
    Memory: 6.56 GB / 15.86 GB
  Binaries:
    Node: 12.16.1 - C:\Program Files\nodejs\

[2021-05-19 05:25] tero-paananen opened #7797 "ReactEvent API changed? Now event data is in array."
I noticed that there is some changes in ReactEvent API on rn-windows 0.64.7. I previously used 0.62.22

If i send event from C# module like this

[code]

[code]

Is event value in array of objects in javascript side. There was object in 0.62.x.

[code]

[2021-05-19 09:27] Omar-Belghaouti commented on #7723
@Enragedsaturday I have used DinkToPdf and it does the job in debug, but when I tried to run the app in release build it throws an exception `System.InvalidCastException: 'Specified cast is not valid.'` which is `BasicConverter.cs`. I have copied the `libwkhtmltox.dll` and I have specified to copy to output directory as `Copy Always` but still it doesn't work in release. Do you have any idea how t

[2021-05-19 09:47] tero-paananen opened #7799 "NativeModules.I18nManager is null when UseWebDebugger = false"
[code]

When setting `InstanceSettings.UseWebDebugger = true;` in App.xaml.cs module exists in Chrome debugger.

## Environment
"react-native-windows": "0.64.7",
"react-native": "0.64.1",
"react": "^17.0.1",

React Native CLI: 5.0.1-alpha.2

System:
    OS: Windows 10 10.0.19041
    CPU: (12) x64 Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz
    Memory: 18.97 GB / 31.89 GB
  Binaries:
    Node: 12.9.1

[2021-05-19 09:55] tero-paananen commented on #7799
Currently only React Native Windows module that does this. Others seems to work...

[2021-05-19 10:01] tero-paananen commented on #7799
I tested this also in "hello world" app

[code]

and the result is the same. Module exists only when Chrome debugger is running.

[2021-05-19 12:06] dbm5858 commented on #7793
The problem does not seem to be related to a C# main project.  I also tried a C++ project, using the following steps, and it resulted in the same error.

1. npx react-native init WebView64Cpp --template react-native@^0.64.0
2. cd WebView64Cpp
3. npx react-native-windows-init --overwrite
4. npx react-native run-windows
    The default app is displayed properly
5. npm install react-native-webview
6.

[2021-05-19 16:09] dbm5858 commented on #7793
I was able to manually link webview into a C# project.

1. npx react-native init WebView64 --template react-native@^0.64.0
2. cd WebView64
3. npx react-native-windows-init --overwrite --language cs
4. npx react-native run-windows (displays the default app)
5. npm install react-native-webview
6. Open studio
7. Add ..\node_modules\react-native-webview\windows\ReactNativeWebView\ReactNativeWebView.vc

[2021-05-19 21:59] SvetBonev commented on #7710
@rendomnet
We expect to find signtool.exe at "\Program Files (x86)\Windows Kits\10\bin\10.0.19041.0\x86\signtool.exe"

Does the binary exist in this location?
If not, could you repair the Windows 10 SDK version 10.0.19041.0?

[2021-05-20 01:38] NickGerleman commented on #7799
Do you see a similar result if importing I18NManager from RN directly instead of looking at the NativeModules object? E.g.

[code]

[2021-05-20 02:08] #5807 closed

[2021-05-20 02:39] NickGerleman opened #7804 "Return non-zero exit code on Node unhandled promise rejection in CI"
An unhandled promise rejection usually signifies an exception in an async method, or a failure to handle an error. In Node <15, it results in a printed warning, often leading to termination without a non-zero exit code. This means scripts may fail in CI without creating signal by failing the task.

Default node settings can be set via the `NODE_OPTIONS` environment variable. E.g. `NODE_OPTIONS=--u

[2021-05-20 02:43] NickGerleman opened #7805 "Make `create-github-releases` script testable"
The GitHub release creation script has more logic being added to it, and testing it currently requires printf debugging and commenting out service calls. We should break it up into testable components.

[2021-05-20 03:15] asklar commented on #7797
This sounds vaguely familiar... @vmoroz ?

[2021-05-20 03:17] asklar commented on #7793
autolinking for webview was recently fixed (I know we were making changes up until yesterday...) @chiaramooney can comment on what version of webview should work

[2021-05-20 03:43] rendomnet commented on #7710
@SvetBonev yes file exists in \Program Files (x86)\Windows Kits\10\bin\10.0.19041.0\x86\signtool.exe

[2021-05-20 04:39] asklar commented on #4306
Done already (only one usage of CoreDispatcher for accelerator keys - see m_coreDispatcherAKARevoker - but that is behind a null check so it's fine).

[2021-05-20 04:39] #4306 closed

[2021-05-20 04:43] NickGerleman opened #7807 "Automatically Support TypeScript Entry Files When Bundling in Release Build"
We have the following MSBuild logic in `Bundle.props` to determine the bundle entry:

[code]

This logic means that if you rename your entry to a `ts` or `tsx` file, your bundle server will work fine, but release builds will start to fail.

We should be more liberal in entry point extensions to allow for TS, JSX, TSX, etc.

[2021-05-20 05:22] tero-paananen commented on #7799
Yes, solution to get it work is to import it from react-native

[code]

There is then issue in `I18nManager.getConstants()` result. It seems that `localeIdentifier` is not typed in result but we can read it. Typing is missing maybe from `I18nManagerStatic`

[code]

[2021-05-20 05:54] Enragedsaturday commented on #7723
Omar-Belghaouti no clue, I haven't used the library. I just did some research and found that it looked like it was a more appropriate solution that @asklar was looking for. I'm hoping he can take a look.

[2021-05-20 05:55] NickGerleman opened #7808 "Failing InteropCSModuleTests Against X64 Hermes Release"
We see the following three failures running integration-test-app against release Hermes x64.

[code]

[2021-05-20 06:18] asklar commented on #7723
that library seems to be .net core too; uwp apps (like react native apps) go through a cross-compilation from managed (IL) to native code called .net native, I've written on this somewhat [here](https://microsoft.github.io/react-native-windows/docs/native-code). For apps/libraries that get cross-compiled, reflection (incl. casts) doesn't work unless you do some extra work to tell the toolchain wha

[2021-05-20 06:22] Enragedsaturday commented on #7723
@asklar thanks for looking into it. I am but a humble JS dev with no knowledge of the wizardry that goes into native modules. That being said if there is a solution for using react-native-html-to-pdf or something similar in rnw/rn, I would appreciate a push in the right direction.

[2021-05-20 06:25] NickGerleman opened #7809 "Commit changes when failing VS AutoLinkCheck"
In VS Builds we run `nx react-native autolink-windows --check`, which does a dry run of autolinking logic. This is done to avoid mutating build files during the actual build.

An alternate approach is to write the files, then fail the build, messaging the user that their files were updated. This still requires multiple builds, but removes a trip to the command-line for manual steps.

As a proof of

[2021-05-20 06:25] asklar commented on #7723
I think for converting html to pdf (without the print to a physical printer part), you'd want to leverage the react-native-webview module which allows hosting the html, then print the content to the "Microsoft PDF printer" that is installed by default for everyone, which will save the file somewhere, and then you'd load that pdf from disk. This feels fairly cumbersome, so let me ask some folks and

[2021-05-20 06:37] Enragedsaturday commented on #7723
@asklar yeah tbh even this module on rn isn't ideal, as I'm sending the file to the cloud and it isn't just held in memory. At a minimum I would need access to the file location, and ideally a promise based system that I can use to determine the file has been saved successfully so I can send it to the database.

[2021-05-20 08:02] NickGerleman commented on #7808
Note that they may also be present on Hermes-debug, or Chakra-release. Our past matrix was just web debugging.

[2021-05-20 08:26] pujre opened #7810 "Unity project and react-native-windows project combine it all together"
My unity project is responsible for the game content, and the react-native project is responsible for the active interface and ui. I now want to combine them. This is no problem under the Android and ios platforms, but under the windows platform, I don’t know how to do it.

I have an idea: build the unity project into a Universal Windows Platform, and then merge it with the react-native-windows pr

[2021-05-20 08:33] dingbo8128 commented on #7606
what's WACK ?

What's WACK ?

[2021-05-20 08:34] dingbo8128 commented on #7606
Yes , I use newly installed WACK

[2021-05-20 08:40] NickGerleman opened #7811 "Do not "yarn install" full monorepo during PR Setup Phase"
PRs run a single initial job to run beachball and run a script to manipulate environment variables. It does a full `yarn install` to do this, pulling in a lot more dependencies than the single phase would need.

We can create a minimal set of package dependencies that we pull in for just setup, and could save a minute or two on latency for each PR.

[2021-05-20 16:21] rozele opened #7812 "Selectable text is not pressable"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Add an onPress handler to a <Text> component that is selectable
2. Attempt to invoke the onPress handler

## Expected Results
As long as the text selection has not changed, the onPress handler should be invoked, just like the expected behavior for XAML hyperlink.

## Snack, code example, screenshot, or link to a r

[2021-05-20 17:11] chrisglein commented on #7606
Looks similar to #4475. Are you using a different JavaScript engine? (V8 or Hermes)

[2021-05-20 17:18] vmoroz commented on #7797
@tero-paananen, @asklar  I had recently fixed this issue in the latest code for C++. Let me see what is going on with C# and fix it there too.

[2021-05-20 17:29] m-i-m-i commented on #6848
Hey @chrisglein do we have an ETA for this fix?

[2021-05-20 18:11] chrisglein commented on #7811
Sounds like a good quality of life improvement, assuming we don't have to groom that minimal set very often.

[2021-05-20 18:17] chrisglein commented on #7809
Sounds like a potential improvement in the experience. @jonthysell thoughts on viability and side effects?

[2021-05-20 18:20] chrisglein commented on #7808
@dannyvv do you have any context on this?

[2021-05-20 18:25] tero-paananen commented on #7797
What commit or react native windows version? I hope that fix is coming also into 0.64.x

[2021-05-20 18:28] chrisglein commented on #7799
Sounds like you're unblocked and importing this in the supported way. Yay! Closing this issue.

[2021-05-20 18:28] #7799 closed

[2021-05-20 18:39] chrisglein commented on #7810
I _think_ what you need to do here is set up your UWP app first (using the RNW CLI to create your app template) and then host Unity inside of it, rather than start with an app created by the Unity toolchain. My information here may be dated, it's been a long time since I've tried to do this.

Here are some resources I found that might be helpful:
- [Integrating Unity into Windows and UWP applicati

[2021-05-20 18:40] chiaramooney commented on #7793
Discovered the bug in 0.64 that is causing the issue. Fix on the way now.

[2021-05-20 18:43] jonthysell commented on #7793
We've found the issue. We fixed the issue in master in #7438 but in backporting to 0.64 (#7447) and 0.63 (#7452) there's a subtle typo that breaks it.

in master:

https://github.com/microsoft/react-native-windows/blob/471a89dc916d9a7098ac3892981b29c0c549d6f9/packages/%40react-native-windows/cli/src/runWindows/utils/autolink.ts#L437

in 0.64:

https://github.com/microsoft/react-native-windows/blob

[2021-05-20 18:54] dbm5858 commented on #7793
That darned identity operator will get you every time!  ;-)

@jonthysell :  Thanks for the update.  I'll put this aside while the fix is in process.

[2021-05-21 03:14] pujre commented on #7810
yes。
Thank you for this information. You mentioned that you have tried this, did you succeed in merging the projects?

[2021-05-21 03:17] #7429 closed

[2021-05-21 04:46] tero-paananen opened #7817 "Missing return data typing in I18nManager.getConstants()"
Return value of ` I18nManager.getConstants()`  is not typed fully. There is missing `localeIdentifier`

[code]

This issue was mentioned also in https://github.com/microsoft/react-native-windows/issues/7799

## Environment
"react-native-windows": "0.64.7",
"react-native": "0.64.1",
"react": "^17.0.1",
React Native CLI: 5.0.1-alpha.2

[2021-05-21 05:10] dingbo8128 commented on #7606
I don't know how to not use V8, I have not change any default config.

[2021-05-21 05:21] NickGerleman commented on #7606
The end-user version of WACK often has out of date exemptions for allowed store APIs. So new code will be accepted, but WACK gives the wrong result.

This is a windows store dev experience issue in general.

[2021-05-21 05:22] NickGerleman commented on #7606
In the above example, one of the warnings flagged is for CxxFrameHandler4. This has usage starting with latest MSVC late last year. Seems like a false positive.

[2021-05-21 05:24] NickGerleman commented on #7606
@dingbo8128 It looks like you're running VS 16.8. Could you run "Visual Studio Installer" to update to latest?

You can also try to submit to the store despite the warnings, and it should be accepted.

[2021-05-21 05:39] NickGerleman commented on #7817
Thanks for creating a new issue for this and holding us accountable.

The above type is dictated by the "@types/react-native" package. Some of our team has made contributions to this package, but we don't actually maintain it.

I looked at the history of this. It looks like the API for this was undocumented/untyped until very recently. Of course it was still there either way 🙂.

I would expect to

[2021-05-21 05:42] dingbo8128 commented on #7606
Thanks, i will try.

[2021-05-21 10:26] fasci opened #7818 "TimeoutException when trying to deploy to Xbox"
_I'm aware that the following problem is probably more related to Visual Studio than react-native-windows itself, but any help on this issue would be highly appreciated._

I try to deploy (debug) a UWP app created with react-native-windows to an Xbox.

Windows 10 and thus Visual Studio (Community 2019, Version 16.9.6) is running in a virtual machine, but on the same network as the Xbox.

I can pin

[2021-05-21 12:52] NickGerleman commented on #7679
Current changelog draft below:

---

We're excited to release our first preview build of `react-native-windows` 0.65! This build targets `react-native` 0.65.0-rc.1 and above. There have been many changes to both `react-native-windows` and `react-native` itself and we would love your feedback on anything that doesn't work as expected.

## What's new

- **Hermes debugging and profiling:** You can no

[2021-05-21 15:01] aalbaharnah commented on #7780
@Omar-Belghaouti @acoates-ms @chrisglein

This is related to `react-native-code-push` and only happens with **release bundle if the root component is wrapped with codePush higher-order component**

I think it's because react native assets not being bundled in code push JS bundle

This issue might help
https://github.com/microsoft/react-native-code-push/issues/699

[2021-05-21 16:05] acoates-ms commented on #7679
Do we want to point people to https://github.com/acoates-ms/rnw-diff for the update diff?

And is HERMES_ENABLE_DEBUGGER set by default in debug builds of the nuget?  Or is debugging not possible when using the nuget

[2021-05-21 16:07] Patil2099 commented on #7804
@chrisglein  I would love to work on this issue. Can you guide me a little on how to solve this issue?

[2021-05-21 16:50] acoates-ms opened #7821 "Platform override for fabric SharedColor object"
This tracks the override for Fabric color representation.  In particular the override for `graphics/Color.h`, `graphics/Color.cpp` and `graphics/conversions.h`.

These were added to add platform specific information to our color representation, in particular to allow PlatformColor support without our color object.

These are forks that are likely never going to be deforked.  -- But this issue is u

[2021-05-21 16:59] asklar commented on #7723
WebView is just a web control, without the capabilities that a web browser would implement, like window.print, window.alert, etc. As it is, window.print won't work out of the box in react-native-webview; basically every `window.foo` functionality needs special handling, react-native-webview has a special case for `window.alert` but that's the only window function it knows how to handle.
There is w

[2021-05-21 17:22] jeanmaried opened #7822 "experimentalNuGetDependency not working for library project type"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:
`5.0.1-alpha.2`
2. `npx react-native info`:
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. create a module and cd into it
2. `npx react-native-windows-init --version latest --projectType lib --language cs --overwrite`
2. open .sln in visual stu

[2021-05-21 18:03] #7661 closed

[2021-05-21 19:10] NickGerleman commented on #7679
I confirmed with AndnadrajHERMES_ENABLE_DEBUGGER is defined by the Hermes-Windows NuGet package, and does not need to be manually set.

Hermes + experimental NuGet package are not compatible in general at the moment.

[2021-05-21 19:11] NickGerleman commented on #7679
Pointing folks to rnw-diff seems like a good idea.

[2021-05-21 23:23] Omar-Belghaouti commented on #7723
@asklar Thanks again for looking for this! can't wait to WebView2 to be implemented in react-native-webview. As for DinkToPdf I had a problem to build the app in release, it worked just fine in debug so what I did as the solution and I know it's not optimal is that I added the bin folder for wkhtmltopdf in the user's path and then call the command in background process. It does the job but I know

[2021-05-21 23:33] Omar-Belghaouti commented on #7780
@aalbaharnah Thanks for the remark, I did in fact use code push in this project. Never thought it's because of it. But nevertheless, I think code push must bundle all the assets!

[2021-05-22 06:35] asklar commented on #7822
Duplicate of #7473

[2021-05-23 09:00] #5198 closed

[2021-05-23 09:00] #3753 closed

[2021-05-23 09:00] #2228 closed

[2021-05-23 09:00] #2404 closed

[2021-05-24 00:49] asklar commented on #7818
Sounds like there's probably some firewall rule that needs to be applied, but our team doesn't support VS or XBOX, can you please file a bug in the VS developercommunity site? (Help->Send Feedback)

[2021-05-24 00:52] asklar commented on #7793
Closing as this should be fixed in 0.63 upwards now

[2021-05-24 00:52] #7793 closed

[2021-05-24 16:41] marnusw opened #7826 "How do I change RequiresPointerMode and SetDesiredBoundsMode in a RNW app?"
I am trying to apply these best practice settings for an Xbox app:

1. https://docs.microsoft.com/en-us/windows/uwp/xbox-apps/how-to-disable-mouse-mode
2. https://docs.microsoft.com/en-us/windows/uwp/xbox-apps/disable-scaling
3. https://docs.microsoft.com/en-us/windows/uwp/xbox-apps/turn-off-overscan

I was able to configure 2. successfully in `App.cpp` using:

[code]

I tried to do 3. similarly w

[2021-05-24 18:03] chrisglein commented on #7810
I think I got distracted and ended up exploring the Unity 2D APIs since I'd never tried them. So I've heard of it being done but haven't myself.

[2021-05-24 18:03] #7810 closed

[2021-05-24 18:09] chrisglein commented on #7826
You likely need to call this later than the `App` constructor. Page navigation is a natural choice (and by default you only have one page with the RNW default app template). So if you add your hook to `MainPage.cpp`/`MainPage.cs` to its constructor or override `OnLoaded` that _should_ do the trick. Let us know if not?

[2021-05-24 18:09] #7826 closed

[2021-05-24 18:12] chrisglein commented on #7822
Duplicate of #7227

[2021-05-24 18:12] #7822 closed

[2021-05-24 18:12] #7818 closed

[2021-05-24 18:14] chrisglein commented on #7817
@NickGerleman can you clarify if this has been fixed already? Definitely should be and is external to this repo, but wasn't sure whether the fix was already in or not.

[2021-05-24 19:56] OleksandrDorosh opened #7827 "Memory leak in JSValue"
## Environment
  "name": "react-native",  "version": "0.63.3"
  "name": "react-native-windows", "version": "0.63.4"

- Target Device(s): Desktop
- Visual Studio Version: Visual Studio 2019
- Build Configuration: Debug
- I checked memory consumption by Diagnostic Tool->Memory usage. I made memory dump before loop and after 10000 iterations, and compare them.
- Actually 2 memory leaks here. 1 = 120

[2021-05-24 22:25] #7682 closed

[2021-05-24 22:28] dannyvv commented on #7682
Note: I've updated with #7832 but haven't fully validated, going through that as I'm validationg the defaul tbranch rename...

[2021-05-25 10:50] marnusw commented on #7826
Thanks for the reply @chrisglein. I got it working. Here is the solution for future reference:

In `pch.h` add:

[code]

In `App.cpp` add:

[code]

That covers all the Xbox best practices given [here](https://docs.microsoft.com/en-us/windows/uwp/xbox-apps/tailoring-for-xbox).

[2021-05-25 15:43] hossamnasser938 opened #7839 "Implement `enableFocusRing` for <TextInput>"
![Screenshot 2021-05-25 173902](https://user-images.githubusercontent.com/27894818/119527559-b8462380-bd80-11eb-842d-396b0e98cb43.png)

[2021-05-25 16:00] NickGerleman commented on #4701
From above referenced PR, it sounds like Eric has fixed upstream in the tester example.

[2021-05-25 16:00] #4701 closed

[2021-05-25 16:48] NickGerleman commented on #7839
@rectified95 I remember you looked at “enableFocusRing” recently. Do you know if it is applicable here?

[2021-05-26 05:39] tero-paananen opened #7844 "C# Native module finalizer is not called"
Native module destructor is not anymore called on react-native-windows 0.64.7 for example when refreshing bundle (Shift+Ctrl+D and reload bundle).

How then handle case when we are for example listening events and listener is not removed in destructor and new listening is created in initialize?

I think that destructor is called on older react-native-windows 0.62.22 (for sure on 0.59.x)

[code]

#

[2021-05-26 05:43] tero-paananen commented on #7844
Can this be also problem is someone is using CodePush https://github.com/microsoft/react-native-code-push. I do not have tested it but maybe?

[2021-05-26 06:02] tero-paananen commented on #7844
I tested your native module example https://github.com/microsoft/react-native-windows/tree/react-native-windows_v0.64.7/packages/microsoft-reactnative-sampleapps/windows/SampleLibraryCS in hello world and modules destructor was not called.

[2021-05-26 06:30] NickGerleman commented on #7844
C# finalizers are normally called when the garbage collector runs, possibly at an indeterminate later time. So there is nothing to dictate when it is called.  Explicit release usually requires implementing something like IDisposable. See this page for details https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/classes-and-structs/destructors

I think we had an issue to add explicit su

[2021-05-26 06:47] tero-paananen commented on #7844
You have had something like `INativeModule.OnReactInstanceDisposeAsync` on react-native-windows 0.59.x https://github.com/Microsoft/react-native-windows/issues/1873

[2021-05-26 06:48] tero-paananen commented on #7844
Is it that https://github.com/microsoft/react-native-windows/issues/6279

[2021-05-26 07:14] tero-paananen opened #7845 "Bundle fast refresh works only with Chrome debugging"
Bundle fast refresh works only with Chrome debugger with following flags in `App.xaml.cs`

[code]

My app is very slow with Chrome debugger. I am not sure why, but that was not problem with react-native-windows 0.62.22.

Bundle fast refresh stops working after disabling Chrome debugger. Developer have to refresh whole bundle (SHIFT+CTRL+D) and it takes time.

[code]

Same issue with both "Native o

[2021-05-26 07:18] NickGerleman commented on #7844
Yes, that is the one! I think the functionality went missing in the transition from the legacy C# implementation to the C++ based one with C# bindings. This is the second feedback has been given about the missing functionality, which is good confirmation it is needed.

[2021-05-26 07:19] tero-paananen commented on #7845
This issue exist also in "Hello World" app

[code]

[2021-05-26 09:15] tero-paananen commented on #7730
I noticed also that my app (rn-w 0.64.7) is very slow when Chrome debugger is running...

[2021-05-26 10:54] NickGerleman opened #7846 "Use Non-Staging Hermes 0.8.0 Build"
Tracking to update to a non-prerelease NuGet package of Hermes 0.8.0. A fix may be needed to enable Hermes Inspector by default.

[2021-05-26 10:56] NickGerleman commented on #7711
Superceded by #7846

[2021-05-26 10:56] #7711 closed

[2021-05-26 12:42] thedf opened #7847 "WebAuthenticationBroker not opening the login dialog when invoked from a package (Native Module)"
I am trying to build a Native Module to have OpenID auth in windows along with other supported platforms. So I am trying to use the native WebAuthenticationBroker. I followed the steps in  **Steps To Reproduce** to have a Module that opens the Login dialog by WebAuthenticationBroker without success.
Expected to a window To login with the OpenID provider. However, I am getting absolutely nothing.
t

[2021-05-26 13:50] BartoszKlonowski commented on #5051
The *react-native-builder-bob* is now provided with the full Windows support.
Changes are deliver within [PR#172](https://github.com/callstack/react-native-builder-bob/pull/172).

There are 4 project's templates 2 for each variation of C++/WinRT and C# native modules and native UI component.
There are a lot of MSBuild configuration file which are crucial to be checked for any mistakes I've done, e

[2021-05-26 16:12] br4in3x commented on #7227
Having native modules to consume RN nuget package would be a real life-changer for developer experience. Thank you :)

[2021-05-26 17:01] asklar commented on #5051
that's awesome! will take a look

[2021-05-26 17:18] rozele commented on #4701
Fixed once https://github.com/facebook/react-native/commit/917f83c94043d78b1c7dd301abb5716db2b5d563 is pulled in.

[2021-05-26 17:33] creambyemute commented on #6627
PR was opened in the RN-Restart repository leveraging `CoreApplication::RequestRestartAsync(...)`. This can be closed probably as the solution is there and the PR will most likely be merged in the near future.

[2021-05-26 17:34] #6627 closed

[2021-05-26 18:04] asklar opened #7848 "[CI Break] VS 16.10 uses .net UWP 2.2.12 package"
correct, VS 16.10 just shipped, and is being deployed to GH/ADO, which will break our CI (even without this change).
CC @AgneLukoseviciute

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows/pull/7837#issuecomment-849000766_

[2021-05-26 18:05] asklar opened #7849 "[CI Break] C3246 compiler error due to new VS update"
Likely this is due to a new VS ingestion and unrelated to this change (but still needs to be fixed), can you upgrade your VS and try building locally to repro? it looks like some class is marked final when it shouldn't be.

(This goes to the earlier point about only ever supporting the latest VS :) )

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows/issues/7779#is

[2021-05-26 18:05] asklar commented on #7849
CC @AgneLukoseviciute

[2021-05-26 18:08] asklar commented on #7848
CC @AgneLukoseviciute

[2021-05-26 18:41] tayomadein opened #7850 "Unable to deploy to Hololens 2 from CLI"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 5.0.1-alpha.2
2. `npx react-native info`:
System:
    OS: Windows 10 10.0.19043
    CPU: (24) x64 Intel(R) Core(TM) i9-7920X CPU @ 2.90GHz
    Memory: 37.56 GB / 63.73 GB
  Binaries:
    Node: 14.16.0 - C:\Program Files\nodejs\node.EXE
    Yarn: Not Found
    npm: 7.11.2 - ..\node_modules\

[2021-05-26 21:59] ryfow opened #7855 "react-native-video works in debug but not release builds"
react-native-video works in debug but not release builds

## Environment
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Try running a release build of https://github.com/ryfow/RNVProblem on Windows

## Expected Results
I expect a screen to render and some audio to play when the app runs.

Instead, I see a white screen, hear no audio, and see this excep

[2021-05-26 23:52] rectified95 opened #7856 "Add ToggleButton accessibility role"
https://github.com/facebook/react-native/commit/da899c0cc4372830e5ca053a096b74fff2a19cb8 added the ToggleButton role for Android - do we want to bring this to RNW? Currently we do this:
[code]
vnext/Microsoft.ReactNative/Views/DynamicAutomationPeer.cpp#L52

[2021-05-27 00:00] vmoroz commented on #7827
@OleksandrDorosh, thank for finding and reporting the issue! I was able to repro and fix it. I will send a PR soon.

[2021-05-27 00:28] #7848 closed

[2021-05-27 01:07] #7276 closed

[2021-05-27 01:34] asklar commented on #7855
could be because the module is accessing ui stuff from the js thread?
cc @vmoroz

[2021-05-27 01:43] asklar commented on #7847
@thedf it's possible / likely that the AuthenticateAsync api must be called from the UI thread (I don't actually know, this is a platform API that our team does not own, but just a guess), in which case you'd have to post a lambda to the UI thread by calling `reactContext.UIDispatcher().Post(...)`

[2021-05-27 06:46] asklar commented on #7844
CC @dannyvv @vmoroz

[2021-05-27 08:25] asklar commented on #7780
CC @qmatteoq FYI - something to look out for

[2021-05-27 08:26] asklar commented on #7780
tagging to bring this back to triage

[2021-05-27 10:02] NickGerleman commented on #7451
This issue is fixed by a new external dependency in react-native 0.65. I think we can likely close this issue, since this should be resolved by the newer version of React Native.

For anyone effected, please try to take a look at your app for a more descriptive "Redbox" error. This error will show up correctly in your console again in that version.

[2021-05-27 10:23] thedf commented on #7847
Works like a charm, thanks  a lot @asklar !

[2021-05-27 10:23] #7847 closed

[2021-05-27 10:32] asklar commented on #7847
Glad to hear it works! Tagging to look at triage still since we should understand the impact of having changed the threading model. Is there something we can do at the RN level to hint at the fact that we are not in the UI thread, when calling into the native platform?

[2021-05-27 10:34] asklar commented on #7847
@thedf also if you plan to make your module available to the community, let us know, we'd love to hear success stories :)

[2021-05-27 11:43] fasci commented on #7818
Thanks for the reply, @asklar.
For future readers of this issue, the following workaround (found [here](https://answers.microsoft.com/en-us/xbox/forum/all/cant-deploy-app-to-xbox/b94a9a27-89af-43b8-9473-692ba89bf72b)) works for me:
- 'Remove all Visual Studio pairings' from Xbox in Dev Mode.
- Press 'Remote Machine' in VS to remotely debug your app.
- Enter new pairing pin when asked for.
- Deploy

[2021-05-27 16:14] creambyemute opened #7866 "Azure Pipeline failing at react-native-windows/Directory.Build.targets(78,5) with 'Syntax of Time-Parameter is wrong', Local build works"
Hello there,

We're close to releasing our RN-Windows App to the wild and are setting up the ci/cd pipeline with azure.
Unfortunately we were not able to use the MS-Hosted agents due to 10gb size limit (Idk why, my local build folder is only 2.6gb big) so I setup a Self-Hosted Agent on my working machine.

Whenever I build via the pipeline it succeeds almost to the end until the step `CleanUpPreco

[2021-05-27 17:27] #7827 closed

[2021-05-27 18:11] chrisglein commented on #7866
Very exciting!

There is a call to some time APIs. The guess here is that there's something locale sensitive that's mismatching between the various calls. We'll look into it.

There's this comment nearby:

    Instead of outright deleting the PCHs, we want to trick the "project freshness detector" by
    emitting empty files that look suspiciously like the PCHs it's expecting.
    It's of utmost i

[2021-05-27 18:13] chrisglein commented on #7855
Error appears to be in JavaScript, so the native stack isn't as useful.

@jonthysell are there any known/unpublished issues with react-native-video here?

[2021-05-27 18:15] chrisglein commented on #7855
@ryfow Can you try running this in debug but while disabling web debugging? One hypothesis is that's the difference here, and you'd get more context in debug.

[2021-05-27 18:18] asklar commented on #7866
As for the Time parameter error, this is likely a bug on MSBuild's [Touch task](https://docs.microsoft.com/en-us/visualstudio/msbuild/touch-task) where it is not understanding the time format given back in your system locale; I think it should be possible to remove this task from the directory.build.targets to get you unblocked. Could you file a bug against msbuild? https://github.com/dotnet/msbui

[2021-05-27 18:19] chrisglein commented on #7850
@tayomadein It sounds like you're unblocked by doing this through VS. How painful is it to do it that way and not use the CLI? Honestly on Windows we've had less focus on device deploy over CLI as there are fewer customers of that (although HoloLens is a great one). From a priority/resources perspective if you're able to make do with using VS here then we're not at the moment going to try to patch

[2021-05-27 18:22] chrisglein commented on #7849
Update: This does not look related to VS, but platform SDK.
This should be considered blocking for this PR: https://github.com/microsoft/react-native-windows/pull/7779#issuecomment-848485172 (@JunielKatarn FYI)

[2021-05-27 18:26] chrisglein commented on #7847
There should be a standard HRESULT for invalid thread calls. If we can capture that as a standard error after everything explodes, that seems helpful. Write up a proposal issue for this @asklar?

[2021-05-27 18:28] asklar opened #7871 "Native modules that call UI-affine APIs get whitescreened"
Native modules that call platform APIs that require UI often run into white screen/crashes due to modules running on the JS thread.
We should add some error handling around the point where we call out to the native module, and try/catch for "you called on the wrong thread" hresult, and then redbox

[2021-05-27 18:30] chrisglein commented on #7844
Duplicate of #6279

[2021-05-27 18:30] #7844 closed

[2021-05-27 18:30] asklar commented on #7871
Related to #7847 #7517

[2021-05-27 18:32] chrisglein commented on #7839
There should be a mechanism for this, but it might not be functioning. We'll investigate.

[2021-05-27 18:34] chrisglein commented on #7839
Also, it isn't a property on core. If we intend to support it then we also want to document it as well. Isn't today.

[2021-05-27 19:07] DHowett commented on #7866
As the person who authored that rule for the Terminal project (fancy meeting it here!), I apologize :wink:

[2021-05-27 20:44] ryfow commented on #7855
I get this when the app reloads after turning debug off. Is there a way to start with debug off?

<img width="774" alt="image" src="https://user-images.githubusercontent.com/717985/119894565-fa46a500-bef9-11eb-8384-26b262d72d02.png">

[2021-05-27 20:52] acoates-ms commented on #7855
Yup, this is a bug in `react-native-video`.

https://github.com/react-native-video/react-native-video/blob/1eb11ce7b7619a04e65affedcb1ffff4f82f0af3/Video.js#L257
They should be importing `UIManager` from `react-native`, not accessing it from `NativeModules.UIManager`.

It looks like there is already a PR open to do this:
https://github.com/react-native-video/react-native-video/pull/2296

[2021-05-27 21:20] ryfow commented on #7855
That PR commit appears to have the same problem in Release build and gives me a new error in debug mode, slightly different depending on whether remote debugging in on.

Debugging on:
<img width="509" alt="image" src="https://user-images.githubusercontent.com/717985/119898323-ee111680-befe-11eb-8fc2-bf726a098b15.png">

Debugging off:
<img width="489" alt="image" src="https://user-images.githubuser

[2021-05-27 21:23] vmoroz opened #7873 "Do not call other destructor in JSValue move constructor"
Currently `JSValue` move constructor calls destructor for the `other` value that makes it `JSValueType::Null` after the call.
It introduces a slight inefficiency because the same code is called twice against the same value.
(There is **no** memory double deletion because we call the destructor as a function.)

We should remove the destructor call for the `other` value to avoid the extra destructor

[2021-05-27 21:31] ryfow commented on #7855
Oh, the other thing I noticed when staring at the VS debugger yesterday is that the call stack shows things are blowing up under JSIExecutor::callFunction where moduleId = "RCTEventEmitter" and methodId = "receiveTouches".

[2021-05-27 22:43] JunielKatarn commented on #7849
Looking at other PRs, this issue does seem SDK-related and not VS-related.
Closing this issue, for the #7779 has not been merged and it will be resolved before doing so.

[2021-05-27 22:43] #7849 closed

[2021-05-28 01:11] #7866 closed

[2021-05-28 08:33] creambyemute commented on #7866
I have tried different language + region settings now and couldn't find one that works:

* US Display Language + US Region Formatting
* US Display Language + DE-CH Region Formatting
* DE-CH Display Language + DE-CH Region Formatting
* DE-CH Display Language + US Region Formatting

@asklar Shall I still open an issue in the MSBuild repo?

[2021-05-28 11:22] creambyemute opened #7877 "Backport TextInput PRs #7056 #7285 #7658 to 0.63 (Diff inside issue)"
# Proposal: Backport TextInput PRs #7056 #7285 #7658 to 0.63

## Summary
Backports TextInput Cursor and Controlled TextInput fixes from 0.64/0.65 to 0.63

## Motivation

A lot of TextInput cursor/controlled TextInput behaviour has been fixed recently for 0.65 and 0.64 which is great! Unfortunately not everyone is able to update to 0.64/0.65 at the current point and TextInput is a, I would say, cri

[2021-05-28 19:58] hossamnasser938 opened #7882 "How to use Windows push notification service"
I have tried the code posted in this stack overflow [question](https://stackoverflow.com/questions/42343512/createpushnotificationchannelforapplicationasync-in-native-c) but I get compiler errors and since I'm not a CPP developer, I cannot resolve them. Also I tried to work with this [package](https://github.com/CatalystCode/react-native-azurenotificationhub), but I cannot link in on windows platf

[2021-05-28 22:32] br4in3x opened #7888 "Errors using PNPM"
## Environment
1. `npx react-native --version`: `5.0.1-alpha.2`
2. `npx react-native info`:

[code]

What SDK version are you building for? Choose from 10.0.15063, 10.0.16299, 10.0.18362, etc.
- Target Platform Version(s): `10.0.16299`
What device(s) are you targeting? Choose any from Desktop, Xbox, Hololens)
- Target Device(s): `Desktop`
Which version of Visual Studio are you using? Specify Visua

[2021-05-28 23:17] asklar commented on #4313
closing per the last comment, please let us know if this is still happening for you @Tatious

[2021-05-28 23:17] #4313 closed

[2021-05-28 23:18] asklar commented on #7866
Good to know you're unblocked @creambyemute - we're taking a change that removes the logic from RNW so it should be fixed in 0.65.

[2021-05-29 08:00] #7871 closed

[2021-05-29 08:24] asklar commented on #7517
We had a couple of reports about this kind of issue (crashing because we run code on the wrong thread), so I've made a change so that now we'll have a better developer experience when hitting issues like this: in debug mode, you will get a message box that tells you that an unhandled exception happened while in a native module, with a link to documentation about dispatching to the UI thread if tha

[2021-05-29 12:02] #4960 closed

[2021-05-29 15:11] NickGerleman commented on #7679
I tentatively made a slightly controversial change to the checklist. I removed the manual checklist 😮

Realistically I do not think it has been providing value compared to time put in. I haven't seen breaks over the last 2-3 releases, with the last bug I know of being an issue with `yarn` and the evergeeen `react-native-windows-init` when we had much less usage.

If we see a break, we should try t

[2021-05-29 15:15] NickGerleman commented on #7679
This could be an egg on our face moment, but I think we have enough systems at this point to prevent that from reaching our final release. We will have to see.

[2021-05-29 15:35] NickGerleman commented on #7839
`enableFocusRing` is the prop we use to control this on `<View>`. It is not supported across different components yet, do we do not think it will work against `<TextInput>`.

This issue should track the implementation of `enableFocusRing` against `<TextInput>`. We should ideally also add this to RN typings, so that TypeScript users can use the property.

[2021-05-29 16:08] NickGerleman opened #7893 "Revert #7865 Before RNW 0.65 Release"
https://github.com/microsoft/react-native-windows/pull/7865 patches over the community CLI to mitigate an issue that will be fixed in the upstream 0.65 RC. We should revert that PR once we are using an RC instead of current nightly build.

[2021-05-29 16:12] NickGerleman commented on #7877
Seems like a good change to me. @creambyemute would you be willing to create a PR cherry-picking these commits to the 0.63-stable branch? We would accept it, and publish a new version of 0.63 every Monday.

[2021-05-29 19:31] asklar commented on #7888
for a Windows program to work with long paths 2 things have to happen:
- system-wide setting is enabled (which it is, according to the screenshot you posted)
- the program must have an entry in its manifest saying that the app supports long paths

It sounds like msbuild is not manifested correctly. This sounds vaguely familiar, I believe @dannyvv had investigated this and found there was a bug in

[2021-05-29 19:44] asklar opened #7894 "Native modules could be built as vcxitems"
Building modules as individual libraries carries some penalties, both at build time (everything needs to be linked and resolved), as well as deployment-wise and at runtime (whole separate PE image, prevents folding with like code in the app binary).

For native modules that are distributed as binary, this seems inescapable.
However for modules that are source-distributed, a proposal would be to di

[2021-05-29 19:54] asklar opened #7895 "Remove Modules with old C# Windows support"
There are a number of native modules that have Windows support but for the C# version of the framework (what we called current as opposed to today’s vNext).
Most people outside our team won’t know or care about the difference but the thing is that these modules advertise that they support Windows, but they cannot be used with modern RNW versions.
Proposal is to go to each of these and remove the W

[2021-05-29 20:04] asklar commented on #7882
Can you clarify your scenario? are you looking for your app to show a toast notification in response to some JS call you make within the app directly? or are you looking to show notifications as a result of an event that your cloud server sends to [WNS](https://docs.microsoft.com/en-us/windows/uwp/design/shell/tiles-and-notifications/windows-push-notification-services--wns--overview)?

https://doc

[2021-05-29 22:41] asklar commented on #7882
If you are looking for the "show a local toast" example, I've written a blog post that will go live soon, you can see a preview [here](https://github.com/microsoft/react-native-windows-samples/pull/450).

[2021-05-30 01:53] asklar opened #7899 "Don't compile WinRTWebSocketResource in Release to save on disk footprint"
@JunielKatarn is any of the WinRTWebSocketResource code used in Release? if not, we might want to `#ifdef DEBUG` it, in case the compiler can't statically decide that it won't be used in Release (and therefore we can get back some disk footprint)

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows/issues/7892#issuecomment-850926370_

[2021-05-30 04:48] asklar commented on #7797
@tero-paananen I believe vmoroz meant #7732 - I see this was marked as backport to 0.64 requested but I don't see a PR for it.

[2021-05-30 13:47] NickGerleman commented on #7899
"WinRTWebSocketResource" is the backend to the current production WebsocketModule. This allows websocket operations from RN application code in JS.

This is used in RN debug infrastructure, but also is regularly used in real-world applications if they rely on long-lived network connections to a service. (E.g. for real-time content updates).

[2021-05-30 22:16] NickGerleman opened #7903 "Failing UTs after lockfile deduplication"
It looks like reenabling JS UT parallelism leads to failiure of one of our tests. Going to leave fixing the test failure that slipped in for later.
[code]

_Originally posted by @NickGerleman in https://github.com/microsoft/react-native-windows/pull/7901#r642135462_

[2021-05-30 22:42] NickGerleman commented on #7903
Still seeing the failure after reverting the change. Possibly an appsinsights breaking change after yarn deduplication.

[2021-05-30 22:44] NickGerleman commented on #7894
Bringing them into the same static libraries adds the possibility for collision though. E.g. we would probably try to end up linking a whole bunch of different cppwinrt versions together.

[2021-05-30 23:51] NickGerleman commented on #7903
Tests seem to pass again when I reverted to the pre-duplicated lockfile in https://github.com/microsoft/react-native-windows/pull/7901/commits/9bd1e4ac118bd77515c376dbf5cba8e6666667a7. Seems like we might need to dig deeper and assign a resolution.

[2021-05-31 12:50] NickGerleman commented on #7817
Looks like ACoates fixed the issue in a new version of community typings linked above. Updating to the newest version of @types/react-native should add the method.

[2021-05-31 12:50] #7817 closed

[2021-05-31 14:28] NickGerleman opened #7906 "MakeAppx.exe Should Be Built With Long Path Support"
External MSFT dependency. The MSBuild logic passes the full path, and the default project name is many times repeated, leading to MAX_PATH issues with some not ridiculously long project names.

[code]

[2021-05-31 14:40] NickGerleman opened #7907 "CI Pipeline Fails to Publish Appx"
https://dev.azure.com/ms/react-native-windows/_build/results?buildId=173035&view=logs&j=0b7bc0b1-3390-5293-5a9c-af2a4f48175a&t=aa9d9956-6ab4-51e6-4386-c0420d719046&l=10
[code]

@chiaramooney made recent changes to AppX signing logic in this project, which may be related.

[2021-05-31 14:51] NickGerleman commented on #5325
We have a CI loop running regularly on multiple branches now, starting on 0.65. https://dev.azure.com/ms/react-native-windows/_build?definitionId=468&_a=summary. Dashboard on the same instance.

[2021-05-31 14:51] #5325 closed

[2021-06-01 05:45] JunielKatarn commented on #7899
As @NickGerleman already explained, **YES, VERY MUCH**.
It's a fundamental component for React Native networking.

That said, both the "Resource" and the WebSocket module itself will go through some revisions and potential refinements to slim the classes down, which may impact positively the final object size.
If this happens, I will update this issue accordingly.

[2021-06-01 07:20] asklar commented on #7906
Please file a devcom bug for this. @svetbonev heads up fyi

[2021-06-01 07:21] asklar commented on #7906
Actually if this comes from the SDK as it seems like it does from the path above, we wouldn't be able to use it until we update to a newer SDK.

[2021-06-01 07:27] asklar commented on #7894
I didn't say static libraries though :) vcxitems would just be loose source files that would get linked into the app project, using the app project cppwinrt package and headers.

[2021-06-01 07:55] NickGerleman commented on #7894
How would we bring in transitive dependencies? Similarly would we see any compat issues from app code library changes affecting the modules?

[2021-06-01 13:01] creambyemute commented on #7877
Sure, I'll give it a shot on friday or saturday 👍

[2021-06-01 15:37] #7899 closed

[2021-06-01 16:22] #7906 closed

[2021-06-01 16:41] NickGerleman opened #7912 "Set Consistent Node Version Requirements in Packages"
Will create an issue

_Originally posted by @NickGerleman in https://github.com/microsoft/react-native-windows/issues/7900#issuecomment-852274897_

[2021-06-01 18:29] jonthysell opened #7914 "CG fails with CVE-2021-32640"
Need to update vulnerable versions of ws to 7.4.6.

[2021-06-01 21:27] #7907 closed

[2021-06-01 21:49] #7914 closed

[2021-06-01 23:55] lyahdav opened #7919 "Following instructions to run playground-win32.sln doesn't launch Playground app"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 5.0.1-alpha.2
2. `npx react-native info`:
[code]

- Visual Studio Version: Visual Studio 2019

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Clone repo
2. Follow steps [here](https://github.com/microsoft/react-native-windows/blob/main/docs/building-rn

[2021-06-02 00:09] lyahdav opened #7920 "Win32 Playground crashes when disabling Web Debugger"
## Environment
1. `npx react-native --version`: 5.0.1-alpha.2
2. `npx react-native info`:
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Clone repo
2. Run playground-win32.sln
3. In Playground Win32 app go to File > Settings > uncheck Web Debugger
4. File > Open Javascript File
5. Pick RNTester
6. App crashes

## Expected Results
Expected: No crash.
Ac

[2021-06-02 02:40] #7028 closed

[2021-06-02 04:50] milkmanmatty commented on #6430
Did this ever get fixed?

[2021-06-02 09:49] dgellow commented on #7517
Thank you, the doc is clearly written :)

[2021-06-02 13:46] tayomadein commented on #7850
@chrisglein my team is working to support for Babylon React Native and one of our goals is to have a workflow that allows developers do all their work with VS Code and the CLI without using another tool (Visual Studio) for deployments. While this is not a blocker for me right now, it could become a bottle neck for our users in a few weeks.

[2021-06-02 14:18] dbm5858 commented on #7793
I've confirmed that auto-linking of react-native-webview is now working in an RNW 0.64 C# app.  My issues have been resolved.  Thanks folks!

[2021-06-02 17:40] tymlipari commented on #7850
@tayomadein asked me to chime in here re: priority.

For our HoloLens developers, this is a scenario we'd love to have as we expect most of our developers to largely be working out of VSCode rather than VS proper, especially as Chakra debugging is broken on ARM64. Having the ability to deploy to device via the CLI would be great because we can easily integrate that into a VSCode inner loop workflo

[2021-06-02 18:19] #7845 closed

[2021-06-02 18:28] BartoszKlonowski commented on #6430
@milkmanmatty Yes, the delay was caused by lack of time on our side, but this will most probably be fixed within next week.

[2021-06-02 20:28] asklar commented on #7906
Confirmed with Ran that makeappx.exe itself is long-path aware, but it sounds like the `MakeAppxPack` MSBuild task, is not, and it fails before calling out to makeappx.exe. The msbuild task is part of the project system, I believe, so re-tagging @svetbonev FYI. @NickGerleman can you file a devcom ticket for it?

[2021-06-02 21:12] asklar commented on #7919
Talked offline, pasting here for posterity.
The instructions are for the "golden path" app type, which is the UWP project, as you've discovered :). The win32 project is not something we expect developers to use (outside of one-off 1:1 engagements like with FB :)) and so we haven't optimized for supporting xaml islands projects in the CLI or template projects (in fact we know the playground-win32 a

[2021-06-02 23:15] rectified95 commented on #7839
XAML TextInput is derived from Control, so this should work if I use the same function - `UseSystemFocusVisuals` - on it as well; will try it out in a few days

[2021-06-02 23:28] rectified95 opened #7929 "Re-enable Switch measure test"
Had to disable one integration test in latest core integration until we pull in the upstream fix from FB.
https://github.com/facebook/react-native/pull/31629

[2021-06-03 00:13] #7591 closed

[2021-06-03 01:00] rectified95 commented on #6352
I've re-run this experiment, and can confirm this issue is no longer reproducible.
This code snippet, produces the snapshot below it, which means that non-focusable Views can be located by our test infra::
[code]

[code]
[code]

[2021-06-03 01:00] #6352 closed

[2021-06-03 16:18] NickGerleman opened #7935 "TestWACK Fails on Playground X64ReleaseUniversal CI Job"
Seems like a false positive, but causes the CI pipeline to show failure, which could hide real errors.

https://dev.azure.com/ms/react-native-windows/_build/results?buildId=175089&view=logs&j=9becf8ff-cd6f-536f-70b9-114e9c7c08ae&t=dc69c997-216f-5c30-22bf-70917afd7509&l=98

[code]

[2021-06-03 16:27] NickGerleman opened #7936 "Add UIA Verification of Successful New App Launch to Init Tests"
We have runtime tests against several flavors in prebuilt projects, but do not do runtime validation that a newly created template app works successfully. We instead currently just test publish, build, and deploy.

https://github.com/facebook/react-native/pull/31652 adds a distinct testID to the new app screen so that we can validate via UIA that a new application has launched successfully. Our UI

[2021-06-03 16:27] dannyvv opened #7937 "TestWhack is failing in CI"
in CI TestWack step is failing:
[code]
for Playground x64 Release
https://dev.azure.com/ms/react-native-windows/_build/results?buildId=175089&view=logs&j=9becf8ff-cd6f-536f-70b9-114e9c7c08ae&t=dc69c997-216f-5c30-22bf-70917afd7509

[2021-06-03 16:30] NickGerleman commented on #7937
Heh, just filed this a few minutes earlier 😂

[2021-06-03 16:30] NickGerleman commented on #7937
Duplicate of #7935

[2021-06-03 16:42] asklar commented on #7937
closing as a dupe

[2021-06-03 16:42] #7937 closed

[2021-06-03 16:52] asklar commented on #7935
This started failing after a combination of moving to WinUI 2.5 (#6609), and upgrading to the 19041 SDK (#7779), and we were not running the WACK validation in PR so we missed what broke it.

@Jevansaks FYI - it looks like WinUI 2.5 isn't passing WACK, does this look familiar?

[2021-06-03 16:53] asklar commented on #7935
Might be related to https://github.com/microsoft/microsoft-ui-xaml/issues/1780 ?

[2021-06-03 17:27] jevansaks commented on #7935
The errors above in the description look like Reunion/WinUI3 issues (with **Microsoft**.UI.Xaml.Phone.dll). Are we talking about two separate problems?

[2021-06-03 20:56] rectified95 commented on #7839
@hossamnasser938 Would you mind posting your repro code?
I've tried adding a border to a TextInput in one of our RNTester examples, and don't see your issue:
![image](https://user-images.githubusercontent.com/12816515/120708556-8f085000-c470-11eb-8f0a-8ee68f1e37ec.png)

vs without focus

![image](https://user-images.githubusercontent.com/12816515/120708992-279ed000-c471-11eb-90d2-2d8b3e17ad7d.png)

[2021-06-03 21:39] br4in3x commented on #7888
Thank you @asklar, seems like https://github.com/dotnet/msbuild/issues/53#issuecomment-459062618 should be the solution. I'll try it out again when this issue appears, and reopen if it doesn't help.

[2021-06-03 21:39] #7888 closed

[2021-06-03 21:44] asklar commented on #7935
actually that's a good point, that... shouldn't happen :D
We do build against WinUI 3 Preview 4, but that's on a separate pipeline job, and agents are not cleared up in the windev pool as they normally are in the publicly hosted pool. @dannyvv  is it possible that we're testing WACK on the wrong package?

[2021-06-03 21:57] EricJohnson327 opened #7939 "AV in JsiAbiRuntime::RethrowJsiError() when using V8"
createWeakObject enters the catch block and calls RethrowJsiError().  However, GetAndClearError() returns null.  Either GetAndClearError shouldn't be able to return null or RethrowJsiError() needs to handle null scenario.

WeakObject JsiAbiRuntime::createWeakObject(const Object &obj) try {
  return MakeWeakObject(m_runtime.CreateWeakObject(AsJsiObjectRef(obj)));
} catch (hresult_error const &) {

[2021-06-03 23:03] asklar commented on #7935
Ok I think I found it, #7743 added this which is applying to everything:

[code]

[2021-06-03 23:18] asklar commented on #7893
Currently using Nightly builds of RN as we were doing an experiment, should remove it before we ship 0.65 release.

[2021-06-03 23:21] asklar commented on #7894
This would make it more difficult to consume a C++ module from C# (since you still need a C++ library/app to consume the source from)

[2021-06-03 23:24] asklar commented on #7895
CC @stmoy, looks like this is on track to be addressed on your end : )

[2021-06-03 23:29] asklar commented on #7903
The command to de-duplicate is `npx yarn-deduplicate`
The failing tests are telemetry tests that rely on the contents of a thrown exception's stack trace.

[2021-06-03 23:32] asklar commented on #7920
@vmoroz looks like an instance management bug?

[2021-06-03 23:34] asklar commented on #7936
Should try to get this into 0.66

[2021-06-03 23:36] asklar commented on #7939
@vmoroz could you take a look?

[2021-06-04 04:03] #7935 closed

[2021-06-04 07:42] asklar opened #7945 "SetEnableFabric isn't marked as [experimental]"
Need to mark it as such so it shows up properly in the API docs

[2021-06-04 16:39] acoates-ms opened #7952 "[Win32] LogBoxInspectorHeader uses Text for the arrow buttons rather than using assets"
To avoid having images required from the core platform, we use a Text component with a unicode arrow rather than using the png file from core.

We could probably modify core to do this too, since it feels a little over kill to use a png for.

[2021-06-04 18:36] chiaramooney commented on #5677
Reopened View - Style API completion project.

- Added one existing issue to project which is tracking incomplete/not working functionality for backfaceVisibility prop.
- Remaining props that are lacking functionality already have issues tracking the work needed and are added to the project. (i.e. borderStyling and border*Color)
- Sample usage of View style props added to gallery microsoft/react-n

[2021-06-04 19:20] rectified95 opened #7954 "Add Text.onPressIn|Out"
https://github.com/facebook/react-native/commit/1d924549cad75912191005c8f68dd73e15b07183 Adds 2 new events to `<Text>` - `onPressin/onPressOut`. We could add them too.

[2021-06-04 20:38] acoates-ms opened #7959 "Auto linked projects should be added under a folder in VS"
Currently the number of projects added by auto-linking pollutes a RNW solution, making it hard to see what is what.

The MS.RN projects are all in a ReactNative folder.  Can we create a ReactNative-AutoLinking or something folder for all the auto linked projects?

[2021-06-04 23:52] rectified95 opened #7962 "Enable Fabric unit tests"
In https://github.com/microsoft/react-native-windows/pull/7955 I needed to disable `RootShadowNodeTest` to fix our Desktop.Unittest build.
We should figure out how to enable Fabric UTs.

[2021-06-05 00:00] #7206 closed

[2021-06-05 02:01] #6514 closed

[2021-06-05 03:02] #7619 closed

[2021-06-05 11:18] rbrishabh commented on #7954
hey! I can help with this one!

[2021-06-06 06:45] tangten commented on #3326
hi @SBS-FPATE-RINALDI , how can you make react-native-svg work on macOS?

[2021-06-06 11:56] hossamnasser938 commented on #7839
@rectified95 I set borderColor to 'transparent' and it solved the issue. Thank you very much

[2021-06-07 02:53] #7945 closed

[2021-06-07 12:47] thedf commented on #5158
Hey there,

I want to know if the library is yet supported by RNW, because in the [Community modules](https://microsoft.github.io/react-native-windows/docs/supported-community-modules#community-modules) section in the docs it says that this library is already supported but I couldn't find the implementation.

Thanks in advance.

[2021-06-07 13:14] marnusw commented on #5737
@chrisglein since RNW 0.63 seems to still be actively maintained I'm wondering whether it makes sense to downgrade cppwinrt to 2.0.200602.3 in this version so it can pass WACK without any custom changes? Since react-native-tvos is still on 0.63 using this version of RNW is the only option in a monorepo project. I can confirm this is the only requirement for RNW 0.63 apps to pass WACK.

[2021-06-07 18:08] chrisglein commented on #7962
New tests were added here to something we were previously not testing. Not necessarily something that regressed.

[2021-06-07 18:11] chrisglein commented on #7959
Potentially easy to do, but ability to break things depends on how the integration handles in or out of the folder.
One benefit of this is that it'd partition the created autolinking bits more easily so you could delete them stress free.

[2021-06-07 18:14] chrisglein commented on #7954
@rectified95 Can you confirm whether this is as simple as implementing these props in our view managers and where that code should go? As long as we don't need a native implementation for this it should be straightforward.

[2021-06-07 18:19] chrisglein commented on #7839
Glad to hear you're unblocked! Closing out this issue.

[2021-06-07 18:19] #7839 closed

[2021-06-07 18:30] chrisglein commented on #5737
Workarounds for anyone else hitting this are to similarly downgrade their cppwinrt version to `2.0.200602.3` (down from what RNW 0.63 defaults to), to upgrade to a newer version of cppwinrt, or to upgrade to RNW 0.64. New apps on 0.64+ shouldn't hit this if they use the 0.64 app template.

[2021-06-07 21:12] rectified95 commented on #5430
Checking in today, as I'm pulling in an update to `babel-plugin-codegen/index.js `
`babel-plugin-inline-view-configs` is still not in the NPM registry as of now

[2021-06-08 02:37] emanuelmartin commented on #7451
Besides the Case issue with app's name, I found out today error message **Invariant Violation: Module AppRegistry is not a registered callable module**

After digging in a lot, I found out that [Parse SDK](https://www.npmjs.com/package/parse) had a wrong import at **\parse\lib\react-native\EventEmitter.js** to work on Windows.

Just changed
`var EventEmitter = require('../../../react-native/Librar

[2021-06-08 02:46] emanuelmartin opened #7969 "Support HTML printing on react-native-print"
# Proposal: Support HTML printing on react-native-print

## Summary
It should be great to print from HTML, not only for PDF, on react native windows.

## Motivation
It's crucial to support printing not only PDF, but HTML, since it's the way to print variable content in forms.

[2021-06-08 04:03] asklar commented on #7969
Duplicate of christopherdro/react-native-print#132

[2021-06-08 04:07] asklar commented on #7969
See also #7723

[2021-06-08 04:11] emanuelmartin commented on #7723
@Omar-Belghaouti, could you please share how your workaround works?

Besides it's or it's not the optimal solution, I would like to solve same issue as u.

Thanks!!

[2021-06-08 07:13] thedf opened #7970 "Is rn-fetch-blob supported by RNW ? (Confusing documentation)"
Hey there,

I want to know if the library rn-fetch-blob is yet supported by RNW, because in the [Community modules](https://microsoft.github.io/react-native-windows/docs/supported-community-modules#community-modules) section in the docs it says that this library is already supported but I couldn't find the implementation.

Thanks in advance.

[2021-06-08 08:21] thedf commented on #7970
Thanks alot @asklar !

[2021-06-08 08:21] #7970 closed

[2021-06-08 09:49] thedf commented on #7970
![Error](https://user-images.githubusercontent.com/30848421/121163875-6f49a100-c84f-11eb-8ade-a2ceb2f29f25.png)
 I am getting these errors when using both the code from the PR or the code from the repo you mentioned. Do you happen to know the source of these errors  or how to fix them?

[2021-06-08 10:16] asklar commented on #7970
looks like the error screenshot didn't work, can you paste the error text?

[2021-06-08 10:19] thedf commented on #7970
![Image](https://user-images.githubusercontent.com/30848421/121168659-7c688f00-c853-11eb-9f2f-8ba12fc42278.png)

[code]

There seems to be a problem with my internet and github. here is the text version

[2021-06-08 10:21] asklar commented on #7970
please add a `#include <windows.h>` to your app's `pch.h`

[2021-06-08 10:24] thedf commented on #7970
I do have it already

[2021-06-08 10:26] asklar commented on #7970
make sure the module's pch.h has it too

[2021-06-08 10:32] thedf commented on #7970
including the library in pch.h of the module fixes the problem. Thanks a lot !
It should probably be added to the original repo and PR so it won't happen to other people.

[2021-06-08 10:40] asklar commented on #7970
filed https://github.com/RonRadtke/react-native-blob-util/issues/43

[2021-06-08 10:43] thedf commented on #7970
You are amazing @asklar !

[2021-06-08 14:24] Omar-Belghaouti commented on #7723
Of course @emanuelmartin , what I did is to add [wkhtmltopdf](https://wkhtmltopdf.org/downloads.html) bin folder to the user's Path as an environment variable and then call it from C# by A ReactMethod as the following code shows:
[code]
And then to call it from React Native:
[code]

[2021-06-08 16:28] chiaramooney commented on #7400
All files removed from main. Now working on removing from other stable branches.

[2021-06-08 21:08] #7785 closed

[2021-06-08 23:23] asklar opened #7976 "Revert SDK 19041 for win32 app"
In #7779, we upgraded the SDK to 19041
As part of that, the playground-win32 app's manifest was updated to say:
https://github.com/microsoft/react-native-windows/blob/933eee37877a1c50abb523b8ce90c44e77ee496b/packages/playground/windows/playground-win32/Application.manifest#L8

However, there is an OS bug where unpackaged apps (like playground-win32) that use xaml islands, will fail to activate if

[2021-06-09 15:18] #7976 closed

[2021-06-09 15:35] chrisglein commented on #7804
@NickGerleman If you can provide a bit more jump-start information on this issue we may have some extra willing hands to help out.

[2021-06-09 16:38] namrog84 opened #7979 "react-native.config.js errors on windows.vcxproj paths on non windows builds."
In non windows platform, when during the build process, the react-native.config.js is read. It actually parses the windows platform data and expects to find the vcxproj in ios/android builds.  This creates a problem if the vcxproj had a windows path containing \.   A path containing \ or / are both acceptable on windows, but only / is acceptable on non windows.

I believe the problem stems origina

[2021-06-09 17:23] asklar opened #7981 "Remove RTTI dependency in RN Core"
RN core makes use of RTTI, which we don't want in Windows (produces binary bloat)

[2021-06-09 17:38] asklar commented on #7981
@acoates-ms my main concern with having it enabled in Debug is forking behavior in ways that are unexpected ("this works in debug but breaks in release", like we've seen for native modules). If the usage of RTTI is only for asserts then that seems ok to have in debug but if there's any visible functional divergence, I think we'd want to opt out of it. Thoughts?

[2021-06-09 17:46] acoates-ms commented on #7981
Most of the cases are literally within react_native_assert statements, so they will be debug only. -- And they seem like useful asserts since they are verifying that casts are correct.
We would still break the build if we hit any dynamic_cast in ship.  So its probably ok to just disable RTTI in release.

[2021-06-09 19:50] #7979 closed

[2021-06-10 02:29] dannyvv opened #7985 "Have Managed.CodeGen.UnitTEst dynamically pick up the latest sdk dll's"
We have some semi-hard coded version numbers in our unittest to resolve UWP assemblies. This is typically done by msbuild, but in this unittest we are compiling and emulating some of this logic to be able to load the code under test in Roslyn....

We can make this logic a bit more robust by picking the latest version of the sdk and then the latest version of hte assembly in that folder... The vers

[2021-06-10 06:00] #7710 closed

[2021-06-10 16:48] vmoroz opened #7999 "Address the PR #7984 feedback"
The PR #7984 was merged before its feedback was addressed.
The WinRT SDK DLL lookup is going to be addressed as a part of issue #7985.
All other issues must be addressed as a part of this issue.

[2021-06-10 17:07] dannyvv opened #8000 "Fix and reenable Facebook's MapBuffer code"
The MapBuffer class has a double-free bug in the code that makes the unittests crash.

For now we have disabled the unittests (See `.ado\jobs\desktop.yml`).

The problem is that MapBufferBuilder in the build() method stack allocates the class that does not use proper std:: pointer semantics...
So the `MapBuffer` class is destructed at the end of the method which delete's it's member _data.

The te

[2021-06-10 17:08] chiaramooney opened #8001 "backfaceVisibility style prop not functional for Image component"
# Proposal: backfaceVisibility style prop not functional for Image component

## Summary
backfaceVisibility is the property defines whether or not the back face of a rotated image should be visible. In RNW, if an image is rendered with 180 degree rotation in the y-axis and "hidden" as the value set for the backfaceVisibility prop, the image is still shown. Instead, the image should not render.

##

[2021-06-10 18:00] dannyvv opened #8003 "Test failing on Universal (X64Fast and x86)"
$TODO: Figure out which tests, reserving number to put in code...

[2021-06-10 18:09] chrisglein commented on #8001
Related to #3538
Does Image use the same view prop, or does it provide its own? From the documentation at least it may define its own. But the fix is probably the same. Good discussion to look at in the other issue.

[2021-06-10 18:12] chrisglein commented on #8000
@dannyvv Does MapBuffer need to be enabled or just its unit tests? I wasn't clear based on reading this. Is MapBuilder a part of folly?

[2021-06-10 18:19] chrisglein commented on #7969
Closing this issue as we have the request covered through the issues above.

[2021-06-10 18:19] #7969 closed

[2021-06-10 19:03] rozele opened #8004 "Add timestamp to onKeyUp / onKeyDown events"
# Proposal: Add timestamp to onKeyUp / onKeyDown events

## Summary
We have timestamps for `onTouch[Start|Move|End|Cancel]`, but we do not have any timestamps for keyboard events. We should add these.

## Motivation

We are capturing performance markers to detect the E2E latency from the time something is "pressed" to the time something renders. While we can achieve this using the native event `ti

[2021-06-10 19:21] Samuubs opened #8005 "How to fire a ReactEvent without a directly call from JS side"
Hello, I'm trying to figure out how to call a `ReactEvent` from a static method in C#. Actually I have a ReactModule that have a `ReactEvent` called `handleLogging` and a method called `Debug`:

[code]
In the original docs for [ReactEvent](https://microsoft.github.io/react-native-windows/docs/native-modules#1-authoring-your-native-module-1), we need to have a call from [JS side first](https://micr

[2021-06-10 20:31] nichamp opened #8010 "Crash with RPC_E_WRONG_THREAD (8001010e) due to destruction of UIManagerModule off-ASTA while destructing the JsiAbiRuntime"
## Environment
- react-native: 0.64.0
- react-native-windows: 0.64.4
- Target Platform Version(s): 10.0.19041
- Target Device(s): Desktop
- Visual Studio Version: 16.9 and 16.10
- Build Configuration:: Release Bundle

## Steps To Reproduce
(1) Dynamically include ReactRootView in a XAML tree such that it is created or destructed or replace as the view becomes visible (e.g. if one navigates to a ta

[2021-06-10 21:42] dannyvv commented on #8003
To restore the tests, please edit `.ado/jobs/universal.yml`
and search for:
[code]
restore the original commented out condition....

The problem was test 'hanging' and then timing out at the azure devops level.

[2021-06-10 21:58] chiaramooney opened #8011 "backgroundColor Style prop for Image does not display background color"
# Proposal: backgroundColor Style prop for Image does not display background color

## Summary
The backgroundColor style prop should fill in the empty space of the Image view not occupied by the image itself with the specified color. For RNW, the empty space is left blank.

## Motivation
Style Prop API Completion

[2021-06-10 22:16] chiaramooney opened #8012 "Implement textShadow* props"
# Proposal: Implement textShadow* props

## Summary
Text Style props of textShadow, textShadowOffset, textShadowRadius, and textShadowColor are not functional in RNW currently.

## Motivation
Style Prop API Completion

[2021-06-10 22:23] chiaramooney opened #8013 "letterSpacing Text style prop is not functional"
# Proposal: letterSpacing Text style prop is not functional

## Summary
letterSpacing Test style prop should increase or decrease the spacing between characters. In RNW specifying with prop with any number results in no change in the rendered text.

## Motivation
Text Style prop API Completion

[2021-06-10 22:48] br4in3x opened #8014 "How to properly set up RNW app in a Packaging project?"
Environment info:

<details>
  <summary>npx react-native --version</summary>

[code]
</details>

<details>
  <summary>npx react-native run-windows --info</summary>

[code]
</details>

In our organization, we are building an RNW app with Win32 capabilities in order to access some hardware information, and registry keys, that are included with the operating system during manufacturing process.

In o

[2021-06-11 05:00] asklar commented on #8014
@br4in3x can you please add your environment info?

FYI @dannyvv and @rainersigwald for the *Undefined* problem, since we saw this elsewhere (Danny did you get a chance to port the fix to 64/65/main?). We had another internal team that ran into this as well, so it seems something changed in vs16.10.

[2021-06-11 05:07] asklar commented on #8010
@acoates-ms does this ring any bells?

[2021-06-11 05:14] asklar commented on #8013
If we are able to get an ITextRange, we should be able to implement this via `textRange.CharacterFormat.Spacing`. See https://docs.microsoft.com/en-us/uwp/api/windows.ui.text.itextcharacterformat.spacing?view=winrt-20348

[2021-06-11 05:15] asklar commented on #8012
Related #5677

[2021-06-11 05:30] asklar commented on #8005
Just to confirm, is the LoggingModule marked with [ReactModule] etc?
I don't think it's legal to create a new instance of LoggingModule, which will be separate from the instance that React Native sees. This new instance will not have its ReactContext set, which is probably why you're getting a crash.

One idea would be to have the LoggingModule constructor set the singleton member. Even better, yo

[2021-06-11 05:33] asklar commented on #8005
See this doc about using `ReactContext`: https://microsoft.github.io/react-native-windows/docs/native-modules-advanced#c-native-modules-with-initializer-and-as-a-way-to-access-reactcontext

[2021-06-11 06:41] br4in3x commented on #8014
@asklar I updated the original post with the environment information.

[2021-06-11 07:30] asklar commented on #8014
Can you confirm:
- What version of VS ?
- What version of the UWP NuGet package your C# app is using
- Does the problem reproduce in Debug too (with .net native disabled)?

If the problem goes away when using Debug then that means the .net native targets are not using the right version. See:

- https://devblogs.microsoft.com/oldnewthing/20200615-00/?p=103868/
- https://docs.microsoft.com/en-us/win

[2021-06-11 07:34] asklar commented on #8014
If that's the case you probably need this PR: https://github.com/microsoft/react-native-windows/pull/7860
Try upgrading to the latest 0.64 which should have that fix.

[2021-06-11 13:06] Samuubs commented on #8005
Thank you so much @asklar! This works very well! You are great :thumbsup:

Also, here is my solution:

I created a ReactPropertyBag helper like I saw in [this issue](https://github.com/microsoft/react-native-windows/issues/6278):
[code]

And for LoggigModule I did the singleton idea like this:
[code]
I'm closing this issue.
Thank you again! Have a good day :smiley:

[2021-06-11 13:06] #8005 closed

[2021-06-11 21:08] br4in3x commented on #8014
@asklar, here is the additional info you asked for:

[code]

Here are all NuGets installed into the C# app:
![image](https://user-images.githubusercontent.com/1525725/121748349-a58c5800-cabd-11eb-873e-7550a9cd43d7.png)

Seems like the version of UWP NuGet is 6.2.9

If you mean "Debug" configuration, then yes, I actually haven't tried running this app in the release mode.

[2021-06-11 22:41] asklar commented on #8014
@br4in3x can you upgrade the nuget to 6.2.12

[2021-06-11 22:49] chiaramooney opened #8020 "Verify that accessibilityState prop in works in Slider"
# Proposal: Verify that accessibilityState prop in works in Slider, if not implement it

## Summary
Facebook added the accessibilityState prop for the Slider component to announce "selected" on accessibilityState = {selected: true}. https://github.com/facebook/react-native/commit/35dd86180ba730425b97592ef6e5c4d449caee06

## Motivation
Match functionality of react-native core.

[2021-06-12 00:07] br4in3x commented on #8014
@asklar done, the result is the same, unfortunately

![image](https://user-images.githubusercontent.com/1525725/121758734-7da9ee00-cad7-11eb-9273-cd8b71f2d018.png)

[2021-06-12 00:11] asklar commented on #8014
hm well that was worth a try :)

We don't really have the ability to support custom projects (like win32/packaging projects) at the moment so my suggestion would be to file an issue through Visual Studio in the Developer Community forum and get it through the VS pipeline.
@svetBonev fyi in case this rings a bell.

[2021-06-12 00:15] br4in3x commented on #8014
@asklar thanks anyway. In this case, closing this issue to file an issue on VS Developer Community forum.

[2021-06-12 00:15] #8014 closed

[2021-06-12 03:55] asklar commented on #8003
Failing in x86debug too: https://dev.azure.com/ms/react-native-windows/_build/results?buildId=178536&view=results

[2021-06-12 05:11] asklar commented on #7920
Just tried this in main. There are actually two bugs:
Bug A:
- Run playground-win32
- Open RNTester
- File->Settings->disable Web Debugging
- Open RNTester
Crash with the stack trace above (instance management problem).

Bug B:
- Run playground-win32
- File->Settings->disable Web Debugging
- Open RNTester
Crash with a delayload error that we failed to load hermes.dll

[2021-06-12 05:12] asklar opened #8022 "Crash running playground-win32 without web debugging"
Repro:
- Run playground-win32
- File->Settings->disable Web Debugging
- Open RNTester
Crash with a delayload error that we failed to load hermes.dll
Filing a separate bug for this one since it seems worth fixing

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows/issues/7920#issuecomment-860000772_

[2021-06-12 06:19] asklar opened #8024 "Hermes is extremely slow (compared to Chakra) in Debug builds"
- Open `packages\playground\windows\playground-win32.sln`
- Run it, File->Settings->disable web debugging
- File->Open -> RNTester

By default playground-win32 will use Hermes. Using hermes it takes about 20-30s between being clicking and anything happening. Disabling Hermes (and using Chakra) in `packages\playground\windows\ExperimentalFeatures.props`, rebuilding and trying the steps above, resul

[2021-06-12 06:20] asklar commented on #8024
CC @mganandraj @acoates-ms

[2021-06-12 07:35] asklar opened #8025 "App that chooses Hermes still ends up loading Chakra too"
Playground loads hermes.dll in addition to chakra.dll, which is wasteful (8 MB for x64).
This is because it seems M.RN is not delayloading chakra

[2021-06-12 18:20] mganandraj commented on #8024
@alex very likely the app is loading plain Javascript here, not Hermes bytecode. There is a build task to compile js to byte bytecode when building release flavor though.

Performance of Hermes on debug build is a real concern though. As Hermes don't have a safe abi, we can't use release binaries on debug app, unlike Chakra.

MSVC debug builds are notorious for being extremely slow compared to rel

[2021-06-12 21:57] asklar commented on #8024
Yes this was in Debug. Haven't tried Release since playground isn't set up for it with RNTester afaik.
@chiaramooney is gallery set up to use Hermes or is it using Chakra still?

[2021-06-12 23:09] emanuelmartin commented on #7723
Thanks @Omar-Belghaouti! Gonna try it, looks superb 👍

[2021-06-14 18:17] chrisglein commented on #8020
I thought Slider was lean core'd out... but this is a recent change. So... let's figure out what's going on here?

[2021-06-14 18:19] chrisglein commented on #8013
If this is only supported for rich text we'd need some way to switch from plain ole text to rich text depending on which APIs you use.

[2021-06-14 18:20] chrisglein commented on #8012
And related to the general category of shadow stuff here: #2800.

[2021-06-14 18:24] chrisglein commented on #8010
Expectation is that this `~UIManager` posts to another thread... but that isn't happening here. Needs investigation.

[2021-06-14 18:29] chrisglein commented on #8004
If `onTouch` events include this then having `onKeyUp` and friends contain the same makes sense. Is the set of args here documented on reactnative.dev at all?

[2021-06-14 18:31] chrisglein commented on #8003
@dannyvv Are these failing in 0.65 too or just in main? As in, do we need to backport this?

[2021-06-14 19:37] #8022 closed

[2021-06-14 20:05] rectified95 commented on #8020
FB have been adding these props across the board incl. for Picker (which they actually still use). RNW never had a remotely functional Slider impl, we only have the comm. mod one.

[2021-06-15 10:27] creambyemute opened #8033 "[0.63] Alert hangs or may not even show up only in Release Builds"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 5.0.1
2. `npx react-native info`:
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Create a new 0.63 App
2. `yarn add react-native-alert-async` or create a promise alert yourself.
3. Replace App.js with:
[code]

## Expected Results
Expected: Stat

[2021-06-15 16:26] asklar opened #8037 "Support FlatList numColumns"
It looks like we don't currently support FlatList's numColumns property. This property could be used to create grid-like layouts.

[2021-06-15 16:38] acoates-ms commented on #7920
The issue appears to be related to the way that playground win32 loads the instance, and then immediately adds to to a reactrootview.  Rather than adding the reactrootview, then loading the instance.

[2021-06-15 16:53] chiaramooney commented on #5677
Reopened Image - API Completion Project.

- Created issue tracking incorrect functionality of backfaceVisibility style prop #8001
- Created issue tracking implementation of backgroundColor style prop for Image #8011
- Sample usage of Image style props added to gallery microsoft/react-native-gallery#144

[2021-06-15 16:55] chiaramooney commented on #5677
Opened Text - API Completion Project
- Created issue tracking implementation of textShadow* props. #8012
- Created issue tracking implementation of letter spacing style prop. #8013
- Sample usage of Text style props added to gallery microsoft/react-native-gallery#147

[2021-06-15 16:56] chiaramooney commented on #5677
All layout style props are implemented and functional

[2021-06-15 16:57] #5677 closed

[2021-06-15 16:59] acoates-ms commented on #7920
Actually it has to do with creating a new reactrootview and using it with an already unloaded reactnativehost.  I only hit this by failing to connect to the bundler on the first load, then retrying after starting metro.

[2021-06-15 22:54] chiaramooney opened #8043 "Add Accessibility Actions on Core Components"
# Proposal: Add Accessibility Actions on Core Components

## Summary
Facebook made a recent change to add accessiblity actions on core components (Button, TextInput, Text, and Picker).
https://github.com/facebook/react-native/commit/44717152cadb18c7aff74e9465fdb70efdb1bf81

We should check if additional configuration needs to be done on the Windows end of things for these new props to be functiona

[2021-06-16 08:27] hossamnasser938 opened #8045 "How to get an installer to react-native-windows app?"
For 2 days, I'v been searching for how to generate an installer for my react-native-windows app, but unfortunately, I cannot find any resources touching this topic. Instead, I've tried to consider my react-native-windows app as a native windows app, created a setup project inside my react-native-windows app and successfully got an installer to my application. But, the problem is that on installing

[2021-06-16 12:00] #7730 closed

[2021-06-16 16:09] asklar commented on #8045
hey @hossamnasser938 - RNW apps are UWP apps so the installer work is done for you : ) When you build with the CLI, an .appx file is produced which is the installable package. If you want to distribute through the Microsoft Store, you can submit your app. See more info here: https://microsoft.github.io/react-native-windows/docs/native-code#packaging

[2021-06-16 17:10] #7929 closed

[2021-06-16 17:19] chrisglein commented on #7486
Tagging @vmoroz @asklar @NickGerleman. We had wanted to remove these for 0.65, but after cutting the stable branch. That's the window we're in now. Who's taking the next steps on this?

[2021-06-16 18:11] chiaramooney opened #8047 "Older modules cannot be autolinked (e.g. Clipboard, DateTimePicker, Slider)"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 5.0.1-alpha.2
2. `npx react-native info`:

info Fetching system and libraries information...
System:
    OS: Windows 10 10.0.19042
    CPU: (8) x64 Intel(R) Core(TM) i7-9700K CPU @ 3.60GHz
    Memory: 45.79 GB / 63.84 GB
  Binaries:
    Node: 14.16.0 - C:\Program Files\nodejs\node.EXE

[2021-06-16 18:30] #7920 closed

[2021-06-17 08:03] asklar commented on #8047
Those projects were built before we had the "native module" template so they don't have the hints to tell autolinking that they contain a project that is a native module (for cpp, they should have an import of `Microsoft.ReactNative.Uwp.CppLib.targets`).

Either we should update these modules, or we should relax the autolinking logic to allow older format projects.

[2021-06-17 10:30] asklar opened #8052 "Autolinking should bail if there are two projects with the same name"
E.g.: @react-native-community/clipboard and @react-native-clipboard/clipboard
SLN files must not have two projects with the same name
Autolinking will happily write the two dependencies into the SLN file but msbuild will refuse to build the resulting solution file

Autolinking should instead fail with an appropriate error message

[2021-06-17 14:32] hossamnasser938 commented on #8045
Thank you @asklar
Where can I find that .appx file? And can I use this file to install the app on any other machine?

[2021-06-17 17:39] #7400 closed

[2021-06-17 18:11] chrisglein commented on #8052
Autolinking could generate unique project names on its end, instead of just using the package name.
In this particular case the project guids are the same, as it's the result of a migration. Also could come up with copy/pasted sample code, although that's more of a bug on their end (doesn't mean we can't produce a cleaner error).
There is a setting to not link the project, but autolinking still ad

[2021-06-17 18:16] chrisglein commented on #8047
How many of these modules do we have? If the number is low it seems better to update the module rather than having to adapt autolinking.

The linked PR attempts a best effort to find a project to link to. If that's not enough we'll need to go touch the modules.

[2021-06-17 18:28] chrisglein commented on #8043
Documentation on accessibility actions (previously only on View): https://reactnative.dev/docs/accessibility#accessibility-actions

[2021-06-17 18:29] chrisglein commented on #8037
Documentation: https://reactnative.dev/docs/flatlist#numcolumns
Given how much FlatList is cross-platform JS, why doesn't this work on Windows? That'd be the first level of investigation.

[2021-06-17 18:34] chrisglein commented on #8033
There was a big threading behavior change that could have been what affected the behavior here. There were also some JSI event bug fixes that could be relevant, given this only happening in Release builds for you.

Step to valid here would be to look at this in RNTester on the 0.63 stable branch.

[2021-06-17 18:51] hossamnasser938 commented on #8045
@asklar I’ve tried creat app packages but when I install and run the app, it still expects the metro bundler to be running

[2021-06-17 18:54] acoates-ms commented on #8045
Debug builds will by default attempt to connect to metro.  Release should build and include the bundle as part of the appx.

[2021-06-17 19:06] #6430 closed

[2021-06-17 20:15] MaxPMagee commented on #7613
Just to follow up on this, we're pretty happy with the way the npm project [react-native-autolink ](https://www.npmjs.com/package/react-native-autolink) works, but it's not quite working out of the box on windows (we had to define a custom onPress behavior), so that might be another tool for devs that run into this similar issues.

[2021-06-17 20:34] asklar commented on #8037
nevermind, this seems to work, the example in RNTester is called FlatList MultiColumn

[2021-06-17 20:34] #8037 closed

[2021-06-18 03:39] #8047 closed

[2021-06-18 06:52] creambyemute commented on #8033
I totally did not expect this to be fixed/backported to 0.63 anymore now that 0.65 is being released soon. So that's fine.

And I think you are right with the threading changes. I suspect the culprit to be the `jsidispatcher.post()` call

[2021-06-18 06:58] asklar opened #8063 "Crash in KeyboardEventHandler when no corewindow"
- run template app against winui 3
- hover over something, press the alt key
- we crash when dereferencing a null corewindow:

note that there are more usages of corewindow in this file that we need to provide alternatives when no corewindow is available

https://github.com/microsoft/react-native-windows/blob/003602b90aeda1b2a43702c6a9307c0f01010e59/vnext/Microsoft.ReactNative/Views/KeyboardEventH

[2021-06-18 09:20] asklar opened #8066 "Provide Windows-specific information in the NewAppScreen template app component"
We override some bits of the `NewAppScreen` component (e.g. the Debug instructions so that we say Ctrl+Shift+D instead of iOS/Android instructions).
We should override some more parts of the template and provide relevant RNW information:
- we might want to point the Help link to the RNW repo, or add a new section for that purpose
- replace/add the "follow us on twitter" to point to the reactnative

[2021-06-18 19:00] hossamnasser938 commented on #8045
thank you @acoates-ms

[2021-06-18 22:44] chrisglein commented on #8045
Sounds like the main questions have been answered here. Closing this issue.

[2021-06-18 22:44] #8045 closed

[2021-06-19 16:02] Brouilles opened #8069 "How I can set the default window size?"
Hi,
How I can set the default window size? The minimum and maximum size?
Thanks!

[2021-06-20 09:06] tido64 opened #8072 "Autolinking is picking up project files not meant to be autolinked"
`@react-native-windows/cli` is adding a project file that wasn't meant to be autolinked. This was probably introduced in https://github.com/microsoft/react-native-windows/commit/11a322b373c28d0e73dde83550dc42cee1352457.

Correct me if I'm wrong, but it seems like we are assuming that if `react-native config` populates the `windows` field, it must be a `react-native-windows` compatible project. Thi

[2021-06-20 09:07] tido64 commented on #8072
cc @asklar

[2021-06-20 10:28] NickGerleman commented on #8025
I remember @tudorms hitting something similar in the win32 dll, and moving Chakra to be delay loaded there. Commits there might give a Jumpstart on any flags or props files.

[2021-06-20 16:09] asklar commented on #8072
I'm not following what your project structure is, can you please clarify?
Projects can set the directDependency field to false to mark projects not to be autolinked, see `https://microsoft.github.io/react-native-windows/docs/config#project-object-fields-1`

[2021-06-20 16:21] asklar commented on #8069
You'd have to modify the native code of the app that the template generated. In app.xaml.cs / cpp, in the OnLaunched method, you can set the [`ApplicationView.PreferredLaunchViewSize`](https://docs.microsoft.com/en-us/uwp/api/windows.ui.viewmanagement.applicationview.preferredlaunchviewsize?view=winrt-20348) property.

[2021-06-20 17:04] asklar opened #8073 "Support Project Reunion apps"
In .net 5, WinRT is no longer part of the framework, so [C#] apps will need to use projections that are generated using cswinrt.

For Project Reunion apps, we will likely want to simplify our distribution story anyway, considering the feedback about long build times / developer inner loop. My proposal then is that we support C# PR apps (using WinUI 3) via a new projection nuget.

[2021-06-20 18:18] Brouilles commented on #8069
Thanks. I try to modify the xaml but don't found a window tag. I don't know why but I have not thinking to modify directly with C# or C++.

[2021-06-20 18:18] #8069 closed

[2021-06-20 18:35] tido64 commented on #8072
Sorry for not providing all the details as I was still trying to understand what triggered all the errors. The project structure looks like this:

[code]

The double-entry error comes from `node_modules/.generated/windows/ReactTestApp.vcxproj` being manually added via `react-native.config.js`, and autolinking picking up `node_modules/react-native-test-app/windows/ReactTestApp/ReactTestApp.vcxproj`

[2021-06-20 20:31] asklar commented on #8072
the exception would only be triggered if the dependency's name include "react-native" - as we expect native modules to have that prefix. We detect something _might_ be a dependency if it has an SLN. If it has an SLN, then if it has exactly one vcxproj or csproj, we'll autolink that. If it has more than one, we will rely on the config if it exists, or fall back to checking whether the projects impo

[2021-06-21 06:43] tido64 commented on #8072
I don't think you can safely assume this. Looking at npm, I found a few JS-only packages with "react-native" in the name:

- https://github.com/react-native-community/hooks
- https://github.com/goatandsheep/react-native-dotenv
- https://github.com/awesomejerry/react-native-qrcode-svg
- https://github.com/wcandillon/react-native-redash
- https://github.com/oblador/react-native-vector-icons

These p

[2021-06-21 19:51] aRajeshKumar opened #8076 "Need Hermes support for RNW with C#"
Tried to setup a new RNW project by following the steps from https://microsoft.github.io/react-native-windows/docs/getting-started with "--userHermes --language cs" flags and receiving the following error:

Receiving the following error when tried to compile ( I even tried to compile .sln through Visual studio, but similar error).
`
C:\rntodo\node_modules\react-native-windows\Microsoft.ReactNative

[2021-06-21 21:30] asklar commented on #8076
Duplicate of #7225

[2021-06-21 21:33] asklar commented on #8076
For updating the doc, I've sent microsoft/react-native-windows-samples#454
For blocking in the CLI, #8075

[2021-06-22 08:32] juhasuni opened #8085 "Visual Studio / IDE best practices"
We're having constant issues with building and even loading our solution in Visual Studio. Some examples:

- VS needs to be sometimes started multiple times before the solution loads properly
- VS hangs with some background process, like "Loading IntelliSense" that never seems to finish
- Simple actions like switching from Debug to Release takes couple of minutes (not sure what it does here, does

[2021-06-22 09:04] #7726 closed

[2021-06-22 19:12] aschultz opened #8087 "Compiler flags "throw" statements in JsiAbiApi.cpp as unreachable code in release builds"
## Environment
react-native 0.64.2
react-native-windows 0.64.11
Visual Studio 2019 (16.10.2)
Build Architecture: x64
Build Configuration: Release

App configured with Warning Level 4 and TreatWarningsAsErrors.

## Issue
Many of the try/catch statements in `JsiAbiApp.cpp` look like:

[code]

In debug builds, the code as written compiles fine. In release, it fails with C4702 unreachable code on the

[2021-06-22 19:26] #8073 closed

[2021-06-22 20:59] asklar opened #8088 "Move publish pipeline to newer agents"
`This agent request is not running because you have reached the maximum number of requests that can run for parallelism type 'Microsoft-Hosted Private'. Current position in queue: 42`

Danny volunteered to do this when he's back :)

[2021-06-22 23:10] NickGerleman commented on #8072
I think us quickly hitting the issue in an MSFT repository is good signal that it could affect others.

Can we revise this logic to better handle non-NM packages? I would consider temporarily pulling this out of the stable branches if partners are blocked on building with it.

[2021-06-22 23:20] asklar commented on #8072
@tido64 those JS only projects shouldn't hit the issue since they don't have a windows SLN file :)
I think the problem may be that your package is adding a test app with a solution but the test app isn't detected as "the app" if that makes sense, and instead it is detected as a module. We could possibly tighten the heuristic to only consider vcxprojs if they are of type `DynamicLibrary` or somethi

[2021-06-22 23:27] NickGerleman commented on #8072
You're right. Missed this was a canary build. (Thank you @tido64 for testing them).

The idea of tightening the heuristic makes sense to me.

[2021-06-23 03:41] asklar commented on #8085
Hi @juhasuni , thanks for the detailed questions/feedback.

We've made lots of improvements in the developer inner loop / build system / integration with VS in recent releases. There was a bug at some point in 62 where changing Debug->Release would cause the JS Bundle to be built by the intellisense compiler, which was fixed.

Builds taking 15min: Notably, we have been working on NuGet support, wh

[2021-06-23 03:43] asklar commented on #8087
CC @vmoroz

[2021-06-23 05:51] #7709 closed

[2021-06-23 18:58] rozele opened #8094 "TextInput onSelectionChange event never suppressed"
There is a test to see if we're currently updating props to suppress events (e.g., onSelectionChange) from being emitted:
https://github.com/microsoft/react-native-windows/blob/93a7118960e7c2a9743580239c10efe9cfb8c731/vnext/Microsoft.ReactNative/Views/TextInputViewManager.cpp#L290

This test will always be false because `SelectionChanged` does not fire synchronously with setting SelectionStart, Se

[2021-06-23 19:59] hossamnasser938 commented on #7807
Any update on this?

[2021-06-23 23:03] NickGerleman commented on #7807
No update yet to make things work automatically, but you can set "BundleEntryFile" in your app vcxproj to "index.ts" or "index.tsx" in the meantime.

See here for an example https://github.com/microsoft/react-native-windows/blob/main/packages/integration-test-app/windows/integrationtest/integrationtest.vcxproj

[2021-06-24 04:35] asklar opened #8098 "Support WinAppSDK native modules"
Needs support for native modules via NuGet, probably?
- Figure out how autolinking / react package provider would work with .net 5
- do we need the existing codegen project?

[2021-06-24 05:22] NickGerleman commented on #8072
@tido64 is doing some cross-msft repo work on CXE. Going to mark this one so we give it some discussion as part of incoming issues, since it affects internal.

I will forward an instance of the meeting in case you would like to join.

[2021-06-24 06:32] tido64 commented on #8072
@NickGerleman Thanks.

@asklar That sounds reasonable to me. I whipped up a PR. Let me know if it looks okay.

[2021-06-24 07:15] juhasuni commented on #8085
Thanks @asklar  for your comments! We're on our way towards using the most recent version. I'll post my findings in this thread once we're there. I'm aware of the NuGet development, I bet it is going to speed things up. And thanks for the great effort you're putting in to this.

[2021-06-24 11:14] jaimecbernardo commented on #6553
Another related issue is that modules may want to plug into some application events.
One example is [react-native-splash-screen](https://github.com/crazycodeboy/react-native-splash-screen/pull/514), which extends the splash screen.
The windows implementation would benefit from being able to hook into the `Application.OnLaunched` event to get Splash Screen information, as it's the supported way of

[2021-06-24 11:42] jaimecbernardo opened #8102 "Use the same JavaScript engine in Debug and Release"
When porting native modules to react-native-windows, one of the issues developers face is the differences between building for Debug and Release in an application's default configuration.

The fact that different engines are used these means that there is some JavaScript code that runs on iOS and Android and even Windows on Debug but then fails on Windows on Release.

Examples of issues:
- `Object

[2021-06-24 11:51] jaimecbernardo opened #8103 "Reduce building react-native-windows memory and disk space requirements"
Currently, building a react-native-windows application with some native modules uses a lot of working memory and disk space.

Since native modules for react-native are traditionally developed for Android and/or iOS, we can expect that OSS community members who want to port their modules to react-native-windows will likely use a VM for developing/testing Windows ports. The high memory and disk spac

[2021-06-24 11:59] jaimecbernardo opened #8104 "MSBuild scanning makes it difficult to develop and test a module's example"
For native modules, a common repo structure is having the module's example in the repo's `./example/` path, installing the module in the example through `yarn add ..`.

When developing and testing the application at the same time, this causes a second version of `react-native-windows` to be copied from `./node_modules/react-native-windows` to `./example/node_modules/{module_name}/node_modules/reac

[2021-06-24 12:10] jaimecbernardo opened #8105 "Developing a C++/winrt modules is different when compared with Android and iOS"
When developing a native module for Windows using C++/winrt, the native implementation structure ends up being very different when we compare it to the Android / iOS implementation of the module, making it have a steeper learning curve / being harder to maintain alongside the other implementations.

Some examples of this are:
- The way that we can use annotations for UI components for native prope

[2021-06-24 18:10] asklar commented on #8066
@stmoy to get your thoughts on what content we might want to surface

[2021-06-24 18:22] #8076 closed

[2021-06-24 18:25] asklar commented on #8085
Great, let us know what you find!

[2021-06-24 18:28] asklar commented on #8094
CC @rectified95 is this on your radar?

[2021-06-24 18:32] asklar commented on #8102
Eventually RN will move away from web debugging and onto direct debugging by default, which should take care of the disparity between debug/release. This likely requires Hermes to be fully supported #6137

[2021-06-24 18:33] asklar commented on #8103
This will be taken care of by binary distribution (NuGet) as well as improvements to the cppwinrt tooling

[2021-06-24 18:38] asklar commented on #8104
This is a consequence of not using a yarn workspace (which would allow sharing dependencies between the module package and the example app package). This may be something worth adding to a "best practices" doc. @rectified95 fyi.

[2021-06-24 18:48] asklar commented on #8105
The approach for Native modules for iOS (Objective C) is macro based, whereas for Android (Java) it's annotation based.
For RNW, we allow writing native modules in C# (with annotations/attributes)  or C++/WinRT (with macros).
We could investigate providing a runtimeclass that hides some of the intricacies of cppwinrt (e.g. the micro interfaces) and have some more guardrails (standard way of declar

[2021-06-24 23:03] rectified95 commented on #6848
@mario-msft How does the keyboard module work on desktop? I would imagine this is a mobile-specific feature. Can you provide a more detailed repro?

[2021-06-24 23:08] mario-msft commented on #6848
@rectified95 I've only tested this on the Xbox console, which is where it happens. I reproed it by putting a `<TextInput />` in the DOM and trying to dismiss it through the `onSubmitEditing` prop

[2021-06-24 23:09] mario-msft commented on #6848
I suppose the larger issue is that pressing the menu button doesn't dismiss the virtual keyboard natively

[2021-06-24 23:12] rectified95 commented on #6848
The issue says you needed to press `Enter` twice to dismiss the keyboard - does that mean the first time didn't trigger the `onSubmitEditing` callback for you?

Also, you tested it on Xbox, which doesn't have the `Enter` key - what was the actual button you were trying to submit the text in the textinput with? (I guess something like the 'X' on PS4?)

[2021-06-24 23:16] mario-msft commented on #6848
The `Menu` (hamburger) button on an Xbox controller maps to the `Enter` key. It seems like the first press does trigger, but it's the `Keyboard.dismiss()` that doesn't execute on the first call (maybe a race condition?)

[2021-06-24 23:18] rectified95 commented on #6848
Btw should the Menu button also submit the content of the TextInput? Seems like it should just dismiss the keyboard and move focus away from the text field, leaving the text intact, so that the user could go back to it, and continue typing and/or submit.

Also, confirming the first Enter press results in an onSubmitEditing event fired for you (I think it got cropped in your response)

[2021-06-24 23:21] rectified95 commented on #6848
I need to think about how to repro and debug this - I don't know how to bring up the virtual keyboard on a desktop device and don't have access to an xbox. Since I don't imagine RNW having made any changes to the Keyboard module from RN, this could be a bug upstream.

[2021-06-25 03:00] #7882 closed

[2021-06-25 10:40] qmatteoq opened #8108 "Assembly conflict when a RNW C# app is packaged with the WAP project"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 5.0.1
2. `npx react-native info`:

[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Create a new RNW project using the C# template
2. Install the following module, which uses the MSAL library: "react-native-windows-msal": "git://github.com/true-h

[2021-06-26 16:32] #8108 closed

[2021-06-26 16:35] #8072 closed

[2021-06-28 09:18] asklar opened #8116 "Release builds of Reunion apps should bundle"
We need to figure out how to embed the js bundle as a resource (build work) and use it via MRTCore (framework code) so that Release builds of Reunion apps can work properly.

[2021-06-28 11:10] NickGerleman opened #8120 "Upstream VirtualizedList Changes"
In #8101 we do some work to undock VirtualizedList from RN, to begin local refactoring for focus-based realization. Once the refactoring is complete we should upstream it.

[2021-06-28 14:11] rozele commented on #8004
@chrisglein This is the only documentation I'm aware of: https://reactnative.dev/docs/pressevent#timestamp

[2021-06-28 15:44] NickGerleman commented on #7486
Some were removed in https://github.com/microsoft/react-native-windows/commit/f122f5a60209e668e6875f5fa71ec2755b8a9b26

Looks like there are some more left. https://github.com/search?q=65+repo%3Amicrosoft%2Freact-native-windows+extension%3Aidl&type=Code&ref=advsearch&l=&l=

@vmoroz had indicated this is work he wanted to do. I do not think this is properly blocking though, if we delay removal. Wou

[2021-06-28 17:07] acoates-ms commented on #8105
I think the issues listed are all about UI components, rather than native modules.

I agree that the current view manager implementations is not ideal.  At this point it would likely be a large change to bring it to closer parity with iOS/android.  I'm hoping to take a better look at this with Fabric, which will likely require changes anyway, so better to only have the community have to do a large

[2021-06-28 18:20] #8033 closed

[2021-06-28 19:02] chrisglein commented on #7414
We've had some questions given recent news about how consumers of RNW can get the latest WinUI version (2.6). We have a change prepped to update the default (#7425), but perhaps we can provide more detail about how apps can opt into that today (or in the future, for when there's another WinUI version that people are excited about). @chiaramooney @asklar Any opinions on how we should document this?