[2021-02-18 12:15] #5265 closed

[2021-02-18 19:11] chrisglein commented on #7147
Do we need a review of this class of capture across the codebase? Does the member here cover auto revoking? This class of issue should be something we can handle with general patterns.

[2021-02-18 19:12] chrisglein commented on #7145
@AgneLukoseviciute with this backported are you set to close this issue?

[2021-02-18 19:14] chrisglein commented on #7144
This shouldn't crash on unknown brush names. Not sure what's hardcoded here (color names) versus customizable with other native brush names. Needs some investigation.

[2021-02-18 19:17] chrisglein commented on #7143
Could have performance impact as well, as for example with PasswordBox it creates both that and a TextBox. So code cleanup... but more.

[2021-02-18 19:20] chrisglein commented on #7136
@trlanfeng You can try manually patching this to your video module while we wait for that PR to be accepted. Hopefully that unblocks you. Let us know if not. As mentioned above, we also expect that with the next version of RNW this class of issue will go away.

[2021-02-18 19:22] #7145 closed

[2021-02-18 19:23] asklar opened #7162 "Port CLI changes to use DeployAppRecipe to 0.64"
Port #6594

[2021-02-18 19:25] chrisglein commented on #7129
List of properties that are included probably needs a review. It's intentional that it's not everything is captured. However Top/Left seem like valuable inclusions.

[2021-02-19 02:08] asklar opened #7164 "projectName from CLI config is wrong for C# projects"
this affects deploy of C# apps

[2021-02-19 12:26] #7164 closed

[2021-02-19 15:54] Ryan-Pell opened #7171 "Error when running run-windows"
When running `npx react-native run-windows` in the project I keep on getting the below error. I have gone thought the system requrements and all have passed.

`× Building Solution: \react-native-windows\Microsoft.ReactNative\Microsoft.ReactNative.vcxproj]...`
` × Build failed with message      5>C:\Users\ryanpell\Source\Repos\PackingLoading\node_modules\react-native-windows\Microsoft.ReactNative\H

[2021-02-19 15:59] rozele opened #7172 "Image `onLoad` reports pixel width and height as 0x0"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Clone microsoft/react-native-windows
2. Apply repro patch to RNTester here: https://github.com/rozele/react-native-windows/commit/4dff2df8a352910d4b04591d499fcd5d75f1c44d
3. Run playground, load RNTester, open Image example
4. Observe that width / height for onLoad event is 0 by 0.
5. Observe that onLoadEnd event

[2021-02-19 23:06] rectified95 commented on #2107
We rely on XAML for native events. I think that if you had a FlatList of \<Pressable> then pressing Space would trigger onPress. I think Enter might do the same, but I haven't been able to observe that consistently.
Other than that, you could register a handler for the KeyDown event on the underlying ScrollView, and check if the Enter has been pressed.

[2021-02-20 00:12] NickGerleman opened #7177 "Node typings may allow Node APIs that are too new"
Lefthand API not standard in Node 14 (maybe 15?). Need to check why typings allow its usage.

_Originally posted by @NickGerleman in https://github.com/microsoft/react-native-windows/pull/7176#r579547921_

[2021-02-20 00:34] NickGerleman opened #7178 "User projects always download WinUI 3 Preview NuGet package (~130MB)"
To repro, build the 0.63 Calculator sample in `react-native-windows-samples` repo.

The `Microsoft.WinUI.3.0.0-preview2.200713.0` package is pulled in, possibly because the Microsoft.ReactNative project requires it in packages.config.

Affects multiple versions. I.e. not a new regression.

[2021-02-20 00:49] NickGerleman commented on #7178
FWIW, if we've had it there and nobody has been complaining, a different option is to explicitly take the hit to simplify logic around maintaining NuGet packages.

[2021-02-20 02:28] #7172 closed

[2021-02-20 10:44] asklar commented on #7171
@Ryan-Pell can you provide some more info?
- what version are you using? `npx react-native info`
- run the build with additional logging: `npx react-native run-windows`

[2021-02-20 11:26] MadeByRaymond opened #7180 "Cannot setup and run react-native-windows project on VSCode"
Following the setup steps for when using VS Code in https://microsoft.github.io/react-native-windows/docs/getting-started#running-a-react-native-windows-app, I keep getting this error `[Error] Error: Error while executing command 'c:\Users\RAYMOND\Desktop\React\ReactNativeDesktop\demo\node_modules\.bin\react-native.cmd run-windows --logging --remote-debugging --no-packager': Error while executing

[2021-02-21 01:26] asklar opened #7181 "Autolinking detects changes when solution has a non lib/app .net project"
Autolinking detects changes when solution has a non lib/app .net project
Then when it tries to add the project which is `Any CPU` to the solution, it incorrectly adds `CPU` as a config:
![image](https://user-images.githubusercontent.com/22989529/108612797-c4e16700-73a0-11eb-8d3b-ba780d813e7b.png)

[2021-02-21 09:26] asklar opened #7183 "App crashes when bundler crashes"
1. start bundler, start app in debug mode
2. bundler crashes (or you kill it)
3. app crashes because it accesses a null data reader in websocketjsexecutor

[2021-02-21 09:33] asklar commented on #7180
It looks like you are using the vscode-react-native extension. Are you able to build and run the app from the command line? (`npx react-native run-windows`). If so, could you please file the issue in the [vscode-react-native](https://github.com/microsoft/vscode-react-native) project instead? I see they have some bugs filed about error 101/303.

[2021-02-21 18:42] appden opened #7185 "Pressability does not forward onKeyDown/Up events"
## Environment
Occurs in 0.63 and 0.64

## Steps To Reproduce

1. Pass `onKeyDown` and/or `onKeyUp` into `Pressable` or `Touchable*` component
2. Callbacks are not called

## Expected Results
See [here](https://github.com/microsoft/react-native-windows/blob/master/vnext/src/Libraries/Pressability/Pressability.windows.js#L642-L669) for where the `onKeyDown` and `onKeyUp` events should be forwarded

[2021-02-22 05:07] aalbaharnah commented on #2477
Hey @stmoy, are there any documentations about setting up code push on react native windows  ^0.63.11  applications that use C# as native code base?

[2021-02-22 08:58] Ryan-Pell commented on #7171
npx react native info:
[code]

npx react-native run-windows --logging:
[code]

npx react-native --version: 4.14.0
npx react-native run-windows --info:
[code]

[2021-02-22 09:09] asklar commented on #7171
Thanks for the info @Ryan-Pell . I was hoping the detailed log had more info but it looks like we are failing to find a header file that is supposed to be generated by cppwinrt based on our WinMD.

Is this happening on a fairly barebones app/no modifications to the code in node_modules\react-native-windows?

One idea is to try moving the project to a folder higher up the tree (e.g. C:\PackingLoadi

[2021-02-22 09:28] Ryan-Pell commented on #7171
@asklar. I have now moved this into the root of the C:\. I have resetup the project as there was a error with the build looking in the old directory, followed the "Getting Started" steps but still having the same issues.

Log:
[code]

[2021-02-22 09:35] asklar commented on #7171
Hmm that's... strange, nothing _obvious_ comes to mind. Can you try opening the `C:\PackingLoading\windows\PackingLoading.sln` file in Visual Studio, select x86 or x64 in the top combobox (it defaults to ARM processors unfortunately), and press F5 to build. Do you get the same error?

[2021-02-22 09:37] asklar commented on #7171
Also, do you have any files under `C:\PackingLoading\node_modules\react-native-windows\build\x86\Debug\Microsoft.ReactNative\Generated Files\winrt` ?

[2021-02-22 13:39] Ryan-Pell commented on #7171
If i run it though Visual Studio I get the same, it outputs on teh error list as
|Severity|Code|Description|Project|File|Line
|--|--|--|--|--|--|
|Error|WMC1006|Cannot resolve Assembly or Windows Metadata file 'C:\PackingLoading\node_modules\react-native-windows\\target\x64\Debug\Microsoft.ReactNative\Microsoft.ReactNative.winmd'|PackingLoading |C:\PackingLoading\windows\PackingLoading\PackingLoad

[2021-02-22 16:35] rozele opened #7191 "Race when changing Image src prop"
Any time an asynchronous image source is used (e.g., whenever a network request must be made to download images when headers are specified in the image source), there is a race where the asynchronous image loading step may complete after the image source has been updated again. To demonstrate this, I modified the <Image /> native component to sleep for 5 seconds while making a network request for

[2021-02-22 17:13] rozele opened #7192 "Image disappears when rapidly switching between sources"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Clone the exaggerated repro: https://github.com/rozele/react-native-windows/tree/imageRaceRepro
2. Launch RNTester
3. Open Image Example
4. Navigate to "Loading Indicator Source" example (modified for repro)
5. Click "Refresh Image" twice within 5 seconds.

## Expected Results

Expected behavior is that, the first

[2021-02-22 17:51] #7183 closed

[2021-02-22 18:12] rozele opened #7194 "Confirm whether onLoad events must be called for all Image source changes"
In https://github.com/microsoft/react-native-windows/pull/7193, the `ReactImage::SetBackground` behavior was changed to bail out if the image source was updated before the async operation to either download an image or load an inline image into an IRandomAccessStream completed. When this occurs, onLoad and onLoadEnd will not be called for the "canceled" source prop. We should check whether this vi

[2021-02-22 19:45] chrisglein commented on #7109
@NickGerleman So this will affect people manually running tests but not CI. Do we know why? Sounds... bad.

[2021-02-22 19:46] chrisglein commented on #7081
Sounds like there was some improvement here but still not completely clear :(

[2021-02-22 19:51] chrisglein commented on #7194
First step will be to establish what Android/iOS do and we should match that behavior. Off hand, don't know what that is. Will need someone to look.

[2021-02-22 19:58] chrisglein commented on #7178
Won't be pulled in for the build, but will be downloaded. There isn't a mechanism for Visual Studio to have this conditional on something. It's possible we could create a custom solution here. It'd be nice to reduce our footprint.

[2021-02-22 20:30] rozele commented on #7194
I think we can safely close this issue. It looks like on iOS there is no requirement that onLoad / onLoadEnd fires if the source changes: https://github.com/facebook/react-native/blob/master/Libraries/Image/RCTImageView.mm#L364-L367

[2021-02-22 20:31] #7194 closed

[2021-02-22 21:00] #6997 closed

[2021-02-22 22:28] stmoy commented on #2477
Hi @aalbaharnah - this is a good callout.

The current docs for C++ are here: https://github.com/microsoft/react-native-code-push/blob/master/docs/setup-windows.md

@vmoroz @alexmoroz15 - have y'all tried integrating CodePush with C#? It'd be helpful to include those steps in the docs.

[2021-02-22 22:36] rectified95 opened #7195 "Backport adding IViewManagerRequiresNativeLayout to 0.63"
Originally the issue of the lack of a way to specify a custom measure function was spotted in 2 community modules, which are running 0.63. Do we see issues backporting https://github.com/microsoft/react-native-windows/pull/7013 to that version of RNW?
If not, I'll go a head and make the PR.

[2021-02-23 00:22] #7181 closed

[2021-02-23 01:15] #7162 closed

[2021-02-23 01:16] asklar commented on #6978
Closing this in favor of the react-native-xaml module

[2021-02-23 01:16] #6978 closed

[2021-02-23 01:18] #7046 closed

[2021-02-23 01:22] AgneLukoseviciute opened #7197 "[RNTester] Opening Image Component Crashes App"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:
2. `npx react-native info`:

npx react-native --version
5.0.1-alpha.1

npx react-native info
info Fetching system and libraries information...
System:
    OS: Windows 10 10.0.19042
    CPU: (8) x64 Intel(R) Core(TM) i7-1065G7 CPU @ 1.30GHz
    Memory: 17.39 GB / 31.59 GB
  Binaries:
    No

[2021-02-23 01:54] chrisglein commented on #6759
It's possible this is fixed by making the community CLI upgrade the version of commander... depending on what's changed with commander.

[2021-02-23 03:37] #7191 closed

[2021-02-23 03:37] #7192 closed

[2021-02-23 11:46] asklar commented on #7197
@AgneLukoseviciute could you paste the full call stack of the crash?

[2021-02-23 12:03] asklar commented on #7171
it sounds like your solution isn't trying to build the Microsoft.ReactNative.vcxproj project... can you confirm it is in your solution and that your app project has a reference to it under References? If the project is there, can you right click on it and select Rebuild to force it to rebuild?

[2021-02-23 14:19] asklar commented on #7197
Reprod it:

[code]

[2021-02-23 16:24] rozele opened #7205 "Images rendered with ReactImageBrush disappear in multiple monitors"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Run RNTester with multiple monitors on host device.
2. Open the Image component example
3. Scroll to images with tintColor example
4. Move app to a different monitor

## Expected Results
Tinted images should still be rendered on the screen, but instead they disappear. I suspect this has something to do with not re

[2021-02-23 16:43] AgneLukoseviciute commented on #7197
KernelBase.dll!00007fff6c07d759()	Unknown
 	vcruntime140d_app.dll!00007fff36ebb1f0()	Unknown

 	Microsoft.ReactNative.dll!winrt::check_hresult(const winrt::hresult result) Line 4854	C++
 	Microsoft.ReactNative.dll!winrt::impl::consume_Windows_Foundation_IUriRuntimeClassFactory<winrt::Windows::Foundation::IUriRuntimeClassFactory>::CreateUri(const winrt::param::hstring & uri) Line 754	C++
 	Microsof

[2021-02-23 16:44] AgneLukoseviciute commented on #7197
KernelBase.dll!00007fff6c07d759()	Unknown
 	vcruntime140d_app.dll!00007fff36ebb1f0()	Unknown
	Microsoft.ReactNative.dll!winrt::throw_hresult(const winrt::hresult result) Line 4808	C++
 	Microsoft.ReactNative.dll!winrt::check_hresult(const winrt::hresult result) Line 4854	C++
 	Microsoft.ReactNative.dll!winrt::impl::consume_Windows_Foundation_IUriRuntimeClassFactory<winrt::Windows::Foundation::IUri

[2021-02-23 18:00] MadeByRaymond commented on #7180
Alright. I cannot run `npx react-native run-windows` due to it requires me to have installed and setup Visual Studio on my system,  which I haven't. That is why I am using the setup guide with VSCode instead.

[2021-02-23 19:03] asklar commented on #7197
thanks - I saw that stack too, but that seems like a red herring, the exception is thrown and caught:

[code]

so if you just keep going, I think it will work fine. Are you seeing the app actually crash?

[2021-02-23 22:30] AgneLukoseviciute commented on #7197
I think you're right, the same exception keeps coming up and I didn't click through enough - turns out it gets thrown 7 times before it continues and image component opens. Strange, but I'm guessing the image component is fine then.

[2021-02-23 23:33] jeanmaried opened #7206 "Auto-linking does not find native packages that are dependencies of dependencies"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:
    react-native version 4.14.0
2. `npx react-native info`:
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. I have two npm modules: module A and module B. (Unfortunately these modules are private so I can not share them here)
2. Module A has a d

[2021-02-24 00:00] acoates-ms commented on #7197
If anyone knows a way to create a winrt::Uri using ABI so that we can avoid the throw I'd love to know about it.  Since obviously having thrown exceptions like this sucks for debugging.

[2021-02-24 00:07] asklar commented on #7197
are the exceptions not being thrown when the uri being passed is empty? I thought I saw this happening?

[2021-02-24 00:10] acoates-ms commented on #7197
I at least one of the UriTryCreate code paths empty uri's are being handled before the call.  The other one, I'm less sure.  But really even if an invalid uri was passed, we'd want to handle and return the error to JS without causing an exception to throw.

[2021-02-24 17:37] DanielRiera commented on #5965
Run `npm install` and working :)

[2021-02-24 18:59] rectified95 commented on #2107
@mjfusa Check this out: https://github.com/microsoft/react-native-windows/blob/master/vnext/src/Libraries/Pressability/Pressability.windows.js#L642-L669
It seems like we have special-cased GamePadA

[2021-02-24 19:14] rectified95 commented on #7185
@NickGerleman Is there a reason we couldn't switch the existing onPressIn callback for onKeyDown?
https://github.com/microsoft/react-native-windows/blob/983b3c8b03c4f52bced5edd9e9b1b577e137a219/vnext/src/Libraries/Pressability/Pressability.windows.js#L663

[2021-02-24 21:55] #4669 closed

[2021-02-24 22:02] rozele opened #7214 "FrameAnimationDriver animations for scale transform ends with incorrect scale value"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Run RNTester, open Native Animated Example
2. Scroll to "Scale interpolation with clamping" example
3. Click the example to start the animation.

## Expected Results
The native example size shrinks at the end of the "grow" animation (see video). I haven't dug too deeply into why this happens (sorry!), other than i

[2021-02-24 23:15] rectified95 opened #7215 "LegacyTextBackgroundColorTest is a false positive"
After changing the way we perform tree dump tests, LegacyTextBackgroundColorTest still passes but has become invalid.
The relevant property in the XAML tree - TextHighlighters - is output as '[Array]', rather than the custom JSON serialization we had put in place.

[2021-02-24 23:23] rectified95 commented on #7215
False alarm - the snapshot file is correct, earlier I was going by logged console output, and it was shown incorrectly.

[2021-02-24 23:23] #7215 closed

[2021-02-25 00:55] rectified95 commented on #7180
I'm not sure if VS is strictly needed - what is necessary though are the many SDKs we say need to be installed with it. Check the list of dependencies and see if that helps. https://microsoft.github.io/react-native-windows/docs/rnw-dependencies
There's also a Powershell script that installs everything for you.

[2021-02-25 01:46] NickGerleman commented on #7185
I'd expect we will want both. There's precedence for keyboard/gamepad creating press events, and I think that makes sense.

What if we pass to onKeyDown if available, then activate onPressIn if preventDefault() wasn't called on keydown?

[2021-02-25 10:05] rendomnet opened #7219 "Read, Write, Watch windows registry?"
Can react-native-windows Read, Write, Watch windows registry?
Did not found any info about this.

[2021-02-25 10:20] Ryan-Pell commented on #7171
The Microsoft.ReactNative.vcxproj is ticked under the solution references. I have just done a rebuild of the solution with the same error on the solutions but the project Microsoft.ReactNative has snow that the project;

- Cannot open include file: `winrt/Microsoft.ReactNative.h`: No such file or directory
- The "CompileXaml" task returned false but did not log an error.

This was the same from wh

[2021-02-25 10:40] boundaryfree commented on #2424
@rohan-deshpande Why not embed WebView to your App. The WebView support WebGL naturally.

[2021-02-25 19:08] chrisglein commented on #7219
There's no built in functionality for this in React Native Windows. You'd need to use the native desktop APIs to do this.

[2021-02-25 19:08] #7219 closed

[2021-02-25 19:11] chrisglein commented on #7206
@jonthysell Do you know whether the other platforms are able to handle deeper transitive dependencies? Is this limited on our end or by how far the config passes through?

[2021-02-25 19:13] chrisglein commented on #7206
@jeanmaried It would be helpful if you had a standalone repro to help compare different platform behaviors. Understand you can't compare your direct repro as it's private.

[2021-02-25 19:15] chrisglein commented on #7205
@rozele It sounded like you had some immediate need for this that I'm not sure we'll get to in the next couple weeks. Want to take a look? @marlenecota can be a resource if you need help knowing where to look.

[2021-02-25 19:18] chrisglein commented on #7197
We want to drive to zero thrown exceptions in non-exceptional cases.
In this case if we can't use this Uri construction path let's use one that won't generate exceptions :/

[2021-02-25 19:27] chrisglein commented on #7195
May be too much of a breaking change to bring back. It's passing on some compat complexity to the apps/modules. If we could "quirk" the modules to do a version check that would mean we could patch them in a way that they could support both. Were we to do this it'd require we come up with a design for how to do capability/version/quirk checks. This is not going to be the last of these we'd do, so w

[2021-02-25 19:33] chrisglein commented on #7171
In case this is a more fundamental CppWinRT issue... can you try creating a blank CppWinRT app? Then we can eliminate that as a possibility (or find our root issue there).

[2021-02-25 22:41] MadeByRaymond commented on #7180
![Screenshot (15)](https://user-images.githubusercontent.com/29353783/109228856-c3f66e00-77c2-11eb-836f-ee87262bc8be.png)
 this is what I get after running the script.

[2021-02-25 22:44] asklar commented on #7180
@MadeByRaymond in order to be able to build React Native Windows apps, you need a number of tools, compilers, etc. which are included in that workload that says "Failed". You have to install those and then you can use VSCode as a front end, but you still need to install VS with the different compilers and tools in order to be able to build the app, VSCode is just an editor.

[2021-02-26 00:00] #6892 closed

[2021-02-26 02:55] rendomnet commented on #7219
@chrisglein Maybe you could provide an example?

[2021-02-26 15:14] Ryan-Pell commented on #7171
@chrisglein, I have tried creating a Blank App (C++/WinRT) but am unable to build this, it just keep hanging on the build but never completes. But if I go onto the App.cpp it doesnt look like the Intelisense is seeing the generated files as these are all showing up as an error. There is also a file `module.g.cpp` which shows on the Solution Explorer but says the file has been renamed, deleted or m

[2021-02-26 16:41] chrisglein commented on #7219
@rendomnet You'll have better luck poking around yourself. I just did some searches for "windows registry APIs" and got hits like this:
- [Win32 Registry](https://docs.microsoft.com/en-us/windows/win32/sysinfo/registry)
- [How to access registry keys in a UWP app](https://stackoverflow.com/questions/48899692/how-to-access-registry-key-in-a-uwp-app)
- [Alternatives to Windows APIs UWP](https://docs

[2021-02-26 17:36] chrisglein commented on #7171
Unfortunately we're at the mercy of the platforms RNW is built upon, one of which is C++/WinRT. If a blank app isn't able to build then you'll need to resolve that before we'll be able to make progress on your ability to build a RNW app. It seems like something is off in your dependencies or on your system. Make sure you have free disk space and potentially try reinstalling Visual Studio and SDKs

[2021-02-27 02:36] asklar opened #7223 "Can't run e2etest locally, fails to start 100%"
Running the e2e tests locally fail with "unknown error", "port in use", or some other random error. I haven't been able to run the tests locally since the infrastructure was rewritten.

<details>
[code]

[2021-02-27 02:40] asklar opened #7224 "No way to debug e2etest from VS?"
I haven't been able to get the tests to run, but it seems like there isn't a good way to run the tests while having VS attached to  the native app now that the tests have been re-written to be driven by JS; before, the comparison happened on the native side so if something was off you could just run the app from VS and get the results there.

[2021-02-27 02:45] NickGerleman commented on #7224
You should be able debug the JS side like you would debug other Jest Tests.

You could also place a breakpoint on the native side where the tree is dumped and sent over the wire.

[2021-02-27 02:48] NickGerleman commented on #7223
What version of WinAppDriver do you have installed locally?

From the logs, WinAppDriver does not recognize the session it has returned, and we then throw when trying to shut the app down. Because we fail to destroy the session, the subsequent tests fail to start a new one.

[2021-02-27 02:50] NickGerleman commented on #7223
Another thing to check for is if there are two instances of Jest running at once. E.g. if you have VSCode opened to E2ETest in the background, trying to run tests at the same time.

[2021-02-27 02:51] asklar commented on #7223
Whatever the dependencies script had installed:
![image](https://user-images.githubusercontent.com/22989529/109373435-9f060780-7863-11eb-94ef-648f10886fc1.png)

[2021-02-27 02:53] asklar commented on #7224
I meant debugging the native side has gotten more difficult because now I have to either attach post-hoc or use IFEO to attach, instead of being able to launch the app and run all of the interesting logic on the native side within VS.

[2021-02-27 02:59] NickGerleman commented on #7224
I think that's kind of by design. We want the flexibility to assert on various RNTester pages without needing to run test assertions every time an RNTester page is visited.

[2021-02-27 02:59] asklar commented on #7223
I also see a bunch of these. The app starts, the mouse moves to the Components button and nothing happens other than these errors:
![image](https://user-images.githubusercontent.com/22989529/109373609-ba254700-7864-11eb-9f5b-85c488dd96d5.png)

[2021-02-27 03:00] NickGerleman commented on #7223
@asklar  could you try updating to 1.2? It changed some behavior a bit. Need to check that the tests script is up to date, but I think we changed it.

[2021-02-27 03:00] NickGerleman commented on #7223
Are you seeing a Window with UI open?

[2021-02-27 03:03] NickGerleman commented on #7223
Hmm, it looks like the version in the dependencies script is out of date compared to the version in docs or used by CI.

[2021-02-27 03:06] asklar commented on #7223
Updating WAD to 1.2.1 fixed this. Can you please update the script to check for/download the right version?

[2021-02-27 07:35] NickGerleman commented on #7223
It looks like this issue was added during CanHua's Appium removal, before the Jest conversion or RPC based tree dumping.

Would appreciate if you could create an issue (or edit this one) to change dependency script version. Since I'm on loan to another team at the moment I may not be able to respond immediately.

[2021-02-27 08:38] NickGerleman opened #7225 "Hermes NuGet Package Incompatible with C# Projects"
Steps to repro:
1. Add PackageReference with "ReactNative.Hermes.Windows" to template C# project
2. Build project

[code]

[2021-02-27 23:11] asklar opened #7226 "0.64 Project that depends on a library fails to build the first time"
- `npx react-native init demo --template react-native@0.64.0-rc.3`
- `cd .\demo\`
- `yarn add react-native-xaml`
- `npx react-native-windows-init --version 0.64.0-preview.12 --overwrite`
- `yarn windows --logging`

Result:
the last step of the build fails with a lot of errors like:
[code]

Subsequent builds succeed, but the first time it fails

[2021-02-27 23:25] asklar commented on #7226
Looks like a case of https://github.com/microsoft/cppwinrt/issues/452

[2021-02-28 00:00] asklar opened #7227 "Enable modules to consume Microsoft.ReactNative nuget package"
Today you can create an app and choose to use the RNW nuget package, however realistically you will need to use some community module. The problem is that there is no way for a module to consume the nuget, they must build against RNW source instead, which negates any gains from the app using the RNW nuget.

Linking to issues provided by @jonthysell
- [ ] #9588
- [x] #9581
- [x] #9580
- [x] #9579
-

[2021-02-28 14:05] omdxp opened #7229 "Support react-native-serialport"
# Support `react-native-serialport` on RNW

## Basic Info
- Module Repo URL: [https://github.com/melihyarikkaya/react-native-serialport](https://github.com/melihyarikkaya/react-native-serialport)
- Target version: 0.63
- [x] Module has a Legacy/C# implementation (if so, [https://www.nuget.org/packages/SerialPort.Net/](https://www.nuget.org/packages/SerialPort.Net/))

## Which app/customer is reque

[2021-02-28 23:33] asklar opened #7230 "RNW version didn't pick up latest CLI"
App using react-native-windows 0.64-0.preview-12, ends up with an older CLI:

    "@react-native-windows/cli": "0.64.0-preview.7",

But it should be preview 8

[2021-03-01 03:18] NickGerleman commented on #7230
The CLI package is only bumped when there is a a CLI change, so it is possible for its version to be lesser than RNW itself. This also means users don't need to redownload a new CLI package if an RNW update doesn't touch the CLI.

[2021-03-01 03:23] NickGerleman commented on #7230
It does look like newest RNW 0.64 declares a  dependency on the newest version of the CLI https://github.com/microsoft/react-native-windows/blob/0.64-stable/vnext/package.json

Depending on what is reporting the older version, the install might need a "yarn install", or there may be multiple copies of the CLI depending on how dependencies are configured.

[2021-03-01 06:35] asklar commented on #7180
@MadeByRaymond  Let us know if you are still blocked after installing the dependencies

[2021-03-01 17:01] #5908 closed

[2021-03-01 17:03] NickGerleman opened #7231 "Re-export "@types/react-native" with forked props"
E.g. allow

Import-site
[code]

Types-site
[code]

[2021-03-01 17:05] NickGerleman commented on #7231
FYI @rectified95 @tkamireh @acoates-ms @appden. Hoping to do this when adding new list virtualization APIs. Should allow adding arbitrary RNW types to existing typings.

[2021-03-01 17:19] NickGerleman commented on #7231
I spent some time looking at an alternate option of doing TS codegen from forked flow sources, but Zihan let me know tooling to generate flow declarations is internal. I.e. we cannot generate TS declarations from direct flow sources.

[2021-03-01 19:09] chrisglein commented on #7231
@NickGerleman This is something we want to contribute back to core, right? How long do we think we'll be in the between state of having forked Windows behavior? Should we just add the property to the typings now? That could avoid some intermediate breaking changes.

[2021-03-01 19:12] chrisglein commented on #7230
There was an RNW update and a CLI update on the same day (RN 12 and CLI 8). We don't know why it didn't get bumped to 8. @acoates-ms can you take a look?

[2021-03-01 19:15] acoates-ms commented on #7230
`npm info react-native-windows@0.64.0-preview.12 dependencies`

Says that preview 12 does use preview 8 of the CLI which is correct.
`'@react-native-windows/cli': '0.64.0-preview.8'`

So I dont think there is an issue here.

[2021-03-01 19:15] #7230 closed

[2021-03-01 19:17] chrisglein commented on #7229
Doesn't look like this module is in the RN directory: https://reactnative.directory/?search=react-native-serialport
Module appears to be Android-only. There isn't an existing Windows implementation but there is some C# library that is linked above (Desktop, not UWP). Alternatively there are WinRT APIs for point of sale devices, which you can hit directly instead of through this module.

[2021-03-01 19:20] chrisglein commented on #7227
@jonthysell where is module consumption of the nuget in the binary plan? Is that already tracked? There's all sorts of questions about how versions will need to be coordinated (different modules pointing to different nugets). These aren't new questions, but I'm not sure what we have tracked.

[2021-03-01 19:24] chrisglein commented on #7226
Fix will come from elsewhere, so we won't continue to track on this repo. Hopefully this issue will help people with searches looking for support on this.

Key thing, this is the workaround:

Workaround: **If you hit this, build again.**

[2021-03-01 19:24] #7226 closed

[2021-03-01 19:26] chrisglein commented on #7225
Why is the combination of C# and Hermes an issue. @dannyvv do you know?
The blockage here seems intentional. @NickGerleman was this meant to track overcoming whatever issue is blocking the combination?

[2021-03-01 19:27] Omar-Belghaouti commented on #7229
Thanks for the suggestion. It would have a great effect and a wide scalability if this module is implemented (and other modules like Bluetooth).

[2021-03-01 19:29] chrisglein commented on #7224
@NickGerleman is there documentation on how to attach to do native debugging? It sounds like JS debugging is easier and native debugging has taken a hit. If there's a new process for how you dig and debug native here we should write that down. Is there any "WaitForDebugger" style option to help with this?

[2021-03-01 20:13] NickGerleman opened #7237 "Compounding FlatList delays when React rendering exceeds 1.66ms per-item (60hz)"
## Example:

The below example adds a log-point inside of `VirtualizedList._onScroll` to show when we are responding to scroll messages received from native. This example is intentionally synthetically slow.

We can see from logging that we may continually process scroll messages, long after scrolling has stopped. This is because scroll events are being produced faster than the `VirtualizedList` c

[2021-03-01 20:49] NickGerleman commented on #7224
Before and after the change we had a JS test runner. It's not expected that you be able to run/debug UI tests from native.

[2021-03-01 20:52] NickGerleman commented on #7231
The plan is to do this in core first. We need to service the change to older branches though, so the goal is to bring back the exact future change, then have the typings expose the new API in our older versions.

Matrix I think will look like:
1. **react-native:** 0.65+
2. **react-native-windows:** 0.64+
3. **@office-iss/react-native-win32:** 0.63+
4. **react-native-macos:** ??? (0.65+ by default)

[2021-03-01 20:54] asklar commented on #7224
It's necessary to be able to debug the native portion of the test (and the underlying framework library).

[2021-03-01 20:55] NickGerleman commented on #7225
This issue tracks that the NuGet package itself will show errors when its targets are included in the user project (I think needed to ensure outputs are copied to the appx).

👍

[2021-03-01 21:14] NickGerleman commented on #7224
I think I'm still missing the scenario where this is useful. Could you help me understand the specific scenario you are trying to debug and having trouble with?

The goal of E2ETest is to perform and evaluate the result of end user interactions. Any test that can fail can be reproduced as a simple series of user actions against the test app. Breakpoints can be set to do this in the same way as nor

[2021-03-01 21:28] NickGerleman commented on #5817
Not worth doing before Fabric.

[2021-03-01 21:28] #5817 closed

[2021-03-01 21:30] NickGerleman commented on #4087
Julio did this work earlier.

[2021-03-01 21:30] #4087 closed

[2021-03-01 21:33] NickGerleman commented on #6442
Not actionable

[2021-03-01 21:33] #6442 closed

[2021-03-01 21:35] #5292 closed

[2021-03-01 21:36] NickGerleman commented on #5170
This likely isn't going to be possible until we move react-native-win32 into devmain.

[2021-03-01 21:36] #5170 closed

[2021-03-01 21:37] NickGerleman commented on #4382
Separate issues for this.

[2021-03-01 21:37] #4382 closed

[2021-03-01 21:38] NickGerleman commented on #3947
Newer issues for this.

[2021-03-01 21:38] #3947 closed

[2021-03-01 21:39] dannyvv opened #7239 "Our code has an incompatiblity with updated versions of @octokit/rest from 18.1.0 to 18.3.0"
We need to fix our code so we can take updates for: @octokit/rest from 18.1.0 to 18.3.0
The error we have is:
[code]

For now updates to this pacakge have been postponed. See #7236

[2021-03-01 22:54] chrisglein commented on #7224
It's not uncommon to get bugs that don't repro through manual steps but do through the test automation equivalent. Also being able to replicate the steps is an extra burden beyond just "run the test until it explodes". Based on experience with other UI interaction test runners I'd say being able to run the automated interaction and also debug is pretty important.

However if that's functionality t

[2021-03-01 23:12] NickGerleman commented on #7224
To that question, we don't have the debugging workflow well documented. We will give actionable feedback on snapshot comparison failure, but there are some scenarios like native crashes, where you're right, that I could see being useful.

"Break on start" seems reasonable to add, and maybe not so hard to add to jest-environment-winappdriver based on CLI args.

I think that would be the right appro

[2021-03-01 23:20] NickGerleman commented on #7237
Android has manual code to coalesce that we don't. This seems bad.

[2021-03-01 23:24] NickGerleman commented on #7237
Android does have code to coalesce scroll messages that we don't...

It's possible we're doing way way too many unneeded render batches. Fixing XAML ScrollView coalescing code could potentially seriously improve Flatlist perf.

[2021-03-01 23:35] asklar opened #7240 "e2e tests launch app for non-matching tests"
`yarn e2etest -t LegacyTextBackgroundColorTest`

The test driver iterates through every test, launches the app, then if the test name doesn't match what's passed in, it kills the app.
The test driver should not start the app for tests that do not match the test passed in the command line

[2021-03-01 23:56] NickGerleman commented on #7240
I noticed this as well.

"-t" specifies a test regex https://jestjs.io/docs/en/cli#--testnamepatternregex

It seems like it spawns workers when it doesn't have to.

You can also run 'jest "path/to/test.test.ts"' and run a single without hitting the issue. Maybe we should document that as the preferred way to run a test.

[2021-03-02 00:02] NickGerleman commented on #7224
One other bit that ties in here is heap dumps from CI. We do still collect these (I think Alex set that up), and they are still useful. I've used that before to diagnose failing integration tests on Server 2019.

[2021-03-02 17:22] MadeByRaymond commented on #7180
Well apparently Visual Studio is required, even to run on VS Code. The problem was solved by installing VS and dependencies.

[2021-03-02 17:23] #7180 closed

[2021-03-02 19:19] rozele opened #7245 "AccessibilityInfo.announceForAccessibility does not work from XamlIslands"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Copied AccessibilityInfoModule approach into sample XamlIslands app (create TextBlock, use to create automation peer)
2. Turn on narrator, trigger logic
3. Narrator does not announce the raised event.

## Expected Results

Narrator should speak the text parameter supplied to the announceForAccessibility method. I

[2021-03-02 19:20] rozele commented on #7245
cc @chiaramooney

[2021-03-02 21:16] asklar commented on #7240
Even with just running `jest pathToTest` it looks like the path spec is hostile to Windows, neither .\foo\bar or foo\bar works, only foo/bar
It would be good to fix this to be OS agnostic

![image](https://user-images.githubusercontent.com/22989529/109716187-6151f900-7b59-11eb-8831-4d021ec53bc5.png)

[2021-03-03 06:53] asklar opened #7247 "[VS 16.9.0] executeAsynchronously discards std::thread"
RN core bug: https://github.com/facebook/react-native/issues/31088
we need a patch in the meantime

[2021-03-03 06:56] asklar commented on #7245
@rozele: @chiaramooney changed the object that it's announced on to be a textbox so this should work, let us know if that's not the case.

[2021-03-03 07:58] NickGerleman commented on #7247
FYI that it is unlikely this issue will be fixed upstream without us creating a PR upstream. Best to just send PRs for this sort of thing.

[2021-03-03 08:00] asklar commented on #7247
@NickGerleman thanks for your comment, I already have a PR upstream for this: https://github.com/facebook/react-native/pull/31090

[2021-03-03 09:32] asklar opened #7251 "OfficePreDisabledWarnings applies to all of RNW, not just Office"
PropertySheets\Warnings.props:

[code]

[2021-03-03 09:40] NickGerleman commented on #7237
This will also impact at least Android, and possibly other platforms.

[2021-03-03 09:46] NickGerleman commented on #7237
Can be mitigated in VirtualizedList by reducing (maxtorenderperbatch)[https://reactnative.dev/docs/virtualizedlist#maxtorenderperbatch]. Not sure if exposed to FlatList.

[2021-03-03 10:12] asklar opened #7252 "Undo forking of runtimeexecutor"
Introduced forking in #7248

[2021-03-03 10:17] asklar opened #7253 "Override tool needs better error messaging/instructions"
![image](https://user-images.githubusercontent.com/22989529/109790809-a06a6380-7bc6-11eb-970c-33543ab57ea5.png)

[2021-03-03 10:29] asklar opened #7254 "[Override tool] "override type" names are unintuitive"
When adding an override, the tool asks for the type of override. There are four options:

   |  
-- | --
Platform | Platform-specific logic that doesn't map to an upstream file
Derived | An override derived from an upstream file. Changes to the original file will be merged into the override.
Patch | An upstream file with changes made to it. Changes to the original file will be merged into the over

[2021-03-03 10:37] asklar opened #7255 "[Tracking] onboard RNW to VS's RWC infrastructure"
This would help validate that in-dev versions of VS are able to build RNW and spot any issues before they become firedrills for us and our customers.

[2021-03-03 12:52] NickGerleman opened #7256 "Implement Coalesced Messaging from Native to JS"
Needed for https://github.com/microsoft/react-native-windows/issues/7237

E.g. the below is the eventing model for Android. https://github.com/facebook/react-native/blob/5d62b4a19a415760cf05a3e0384f27b589fdd050/ReactAndroid/src/main/java/com/facebook/react/uimanager/events/EventDispatcherImpl.java

For Android, up to once a frame, a request is sent to the JS thread to dispatch queued events. These

[2021-03-03 15:52] rozele opened #7258 "TextInput does not fire `onScroll` events"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Modified the RNTester TextInput sample: https://github.com/rozele/react-native-windows/commit/f15854128d10eeaab6284aa8c090e0da69fe8064
2. Opened RNTester > TextInput example > Attributed Text example
3. Added multiple lines of text until the TextBox view changes

## Expected Results

I expect that an onScroll even

[2021-03-03 17:09] NickGerleman commented on #7237
Have a local fix. There is still some delay because of logpoints and artificial slowness, but the difference compared to above is remarkable.

https://user-images.githubusercontent.com/835219/109843606-18a14b00-7c00-11eb-9e08-912dceb1b9b7.mp4

[2021-03-03 17:24] rozele commented on #7245
@asklar - I applied this approach in a standalone XAML Islands app (w/o RNW) and it does not work:

[2021-03-03 17:46] Rechdan commented on #3418
Do we have a way of running it inside a Docker container already?

[2021-03-03 18:06] jonthysell opened #7261 "Re-enable CG for PR/CI pipeline"
Component Governance was having some kind of connectivity issue, which is blocking our PRs, so I've temporarily disabled it.

Filing this bug as a reminder to re-enable it as soon as possible.

[2021-03-03 18:20] #7205 closed

[2021-03-03 18:30] asklar opened #7263 "Image with GaussianBlurEffect disappears when moving monitors"
@asklar agree the effect definitely needs to be fixed, but as you said this fix has it's own merits of removing unnecessary effects.

I looked at what's happening with the RN copy of GaussianBlurEffect, and all it seems to be doing is forwarding props to D2D, so my thought was that the bug was with D2D, and thus not fixable here. Since it repro'd in Win2D, I thought they might have some better ide

[2021-03-03 19:36] rozele commented on #7263
FYI - this is being tracked on Win2D as well: https://github.com/microsoft/Win2D/issues/809

[2021-03-03 19:43] #7247 closed

[2021-03-03 19:44] #7223 closed

[2021-03-03 19:53] asklar commented on #7245
Just checked in the XAML source; we do need the object to be part of the tree leading up to a XamlRoot, so it cannot be a just-newed up control at least for xaml islands scenarios

[2021-03-03 20:35] #7258 closed

[2021-03-03 23:12] rectified95 opened #7266 "Running only one e2e test seems to run them all"
This is actually 2 closely related issues:
- When running e2etest for the first time, all tests are run even if only one is specified. The app window is opened multiple times and closed immediately, until the target test is started, and only then does the test driver type the test name in the app and triggers the XAML dump;
- Running eg. `yarn e2etest -t LegacyTextBackgroundColortest` subsequent t

[2021-03-04 00:30] rozele opened #7267 "FlatList `inverted` prop inverts keyboard and wheel scrolling"
The problem is that the `inverted` prop is implemented in JS by performing a matrix transform on the scroll content container (and then subsequently again on each cell item so the content is oriented correctly). Interestingly, pan gestures and the scroll bar operate as expected. However, other mechanisms for scrolling (including Page Up / Page Down / arrow keys while focused on the ScrollViewer co

[2021-03-04 07:27] asklar opened #7269 "RNW app accessed through RDP gets into a bad state while right clicking"
TS into another device
Launch a RNW app
Right click with touchpad/mouse

![image](https://user-images.githubusercontent.com/22989529/109926719-1d094a80-7c78-11eb-9110-d9a6dcba799e.png)

![image](https://user-images.githubusercontent.com/22989529/109926653-09f67a80-7c78-11eb-903e-6afb62b73092.png)

[2021-03-04 12:11] asklar opened #7270 "newer Metro crashes often when rebuilding app, seems to ignore blocklist"
I keep having to restart metro because it crashes with file in use; started in the last month or so

![image](https://user-images.githubusercontent.com/22989529/109962403-fe1eae80-7c9f-11eb-9e9c-5a3b4cfa9355.png)

[2021-03-04 12:15] creambyemute commented on #4209
@stmoy @chrisglein I've stumbled across this one this week when evaluating if there's any existing file-picker library that supports RN-Windows.
We are using react-native-image-picker on iOS/Android and thought we could add rn-document-picker for Windows.

I guess the old implementation isn't linkable with a RN-Windows VNext/C++ App? At least I couldn't get it building/linking correctly.

I guess

[2021-03-04 13:15] jeanmaried commented on #7206
@chrisglein sorry I'm insanely busy these days. If I have some free time I will put something together.

[2021-03-04 13:48] NickGerleman commented on #7240
@rectified95 @asklar I found what I was doing before.

[code]

Key here is that it only seems to work in the test directory. I think we could likely change jest config or directory structure to make that work in the repo root as well.

In the meantime I can update the docs to recommend this approach instead of the regex one.

[2021-03-04 13:49] NickGerleman commented on #7266
Dupe here with additional context/solutions https://github.com/microsoft/react-native-windows/issues/7240

[2021-03-04 13:56] NickGerleman opened #7272 "Fix E2ETest Jest Config to Support Running Individual Tests From Package Root"
See https://github.com/microsoft/react-native-windows/issues/7240 for context.

You can run `e2etest Widget.test.ts` from the `test` directory, but not at the root of the package. We should allow doing that.

[2021-03-04 13:57] NickGerleman commented on #7240
https://github.com/microsoft/react-native-windows/issues/7272 tracks fixing the above Jest config.

I will resolve this specific issue with a documentation fix.

[2021-03-04 13:59] NickGerleman commented on #7270
@asklar what version of react-native is being run here?

[2021-03-04 16:57] chrisglein commented on #4209
Correct, there are legacy implementations that aren't compatible with current versions of React Native for Windows. There are a handful of those still around, generally being converted as people like yourself find a need for them. Given that there's a reference implementation it's very possible to use that code and get it up and running again. @jonthysell has experience with this and can link you

[2021-03-04 17:13] chrisglein commented on #6515
We've filed some work internally for this.

[2021-03-04 17:13] #6515 closed

[2021-03-04 17:27] chrisglein commented on #4454
Note a board here isn't as important as answering this question: Are there upcoming lean core ejections that are going to impact that RNW that we need to anticipate? If there are modules we need to start adding Windows support it'd be good to know now rather than when the release is imminent. If through a manual review we find no cases of that then this issue is safe to close out (also close the p

[2021-03-04 18:14] asklar commented on #7270
Using RN 0.64-rc.3, RNW 0.64-preview.13

[2021-03-04 19:13] rectified95 commented on #6634
Related #7129

[2021-03-04 19:13] chrisglein commented on #7270
regex is matching a .tsx.blah.tmp file and doesn't seem like it should be. Who's creating the temp file? VS Code? File opened by something else?
We hit lots of issues with Windows file system quirks and Metro. There may be a larger discussion to have there.
Is this a fix to our Metro config or to Metro itself? I'm curious about this part:

[2021-03-04 19:14] chrisglein commented on #7270
Workaround is to relaunch Metro.
Not a good experience though.

[2021-03-04 19:16] chrisglein commented on #7269
According to @rectified95 this can occur without using RDP.
Error looks like it's un-paired mouse events, which is messing up input state machines.

[2021-03-04 19:17] chrisglein commented on #7269
We're planning on reviewing the mouse APIs very very soon, this should be checked as part of that.

[2021-03-04 19:19] chrisglein commented on #7267
Dupe of #4098

In writing a chat experience I imagine this is very important to you. Check on that issue and sync with @rectified95 for the whole story.

[2021-03-04 19:21] chrisglein commented on #7266
Duplicate of #7240

[2021-03-04 19:21] #7266 closed

[2021-03-04 19:29] chrisglein commented on #7254
Open call for suggestions.

Naming things is hard :)

[2021-03-04 19:33] chrisglein commented on #7252
Bonus: override tooling may help with this automatically as we expect to be identical to what's in core shortly.

[2021-03-04 19:35] chrisglein commented on #7251
Do we remove these warning disables? (fix the code)
Or are these disables more general? (as they are being applied for everyone and have for many versions)

Preference to go remove these and fix up the code.

[2021-03-04 19:39] chrisglein commented on #7239
Blocked on updating to latest but doesn't appear to be a functional regression yet (typescript is confused).

[2021-03-04 19:45] chrisglein commented on #7267
Duplicate of #4098

(used wrong magic github words and so above comment didn't create the link 😅)

[2021-03-04 19:46] #7267 closed

[2021-03-04 20:26] NickGerleman opened #7276 "Coalesce touchMove events"
I know you've removed it for now, but a coalescing key will be useful once we have pointer move events potentially associated with different pointers.

_Originally posted by @rozele in https://github.com/microsoft/react-native-windows/pull/7260#discussion_r587600490_

[2021-03-04 20:35] rozele opened #7277 "NativeAnimatedModule value listener is not implemented"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Open Native Animated example in RNTester
2. Scroll to "Animated value listener" example implemented [here](https://github.com/microsoft/react-native-windows/blob/master/packages/%40react-native/tester/js/examples/NativeAnimation/NativeAnimationsExample.js#L75-L122).
3. Run example
4. JS does not receive events as

[2021-03-04 20:36] rozele commented on #7277
For reference, here's how it works on iOS:

https://user-images.githubusercontent.com/1106239/110026974-6355bc80-7cff-11eb-95d2-42cfab051549.mov

[2021-03-04 20:40] rozele commented on #7277
Sorry... dupe of #4311

[2021-03-04 20:40] #7277 closed

[2021-03-04 20:41] rozele commented on #4311
I don't believe this is a dupe. The EventAnimationDriver hooks allows event driven animations (e.g., animations that subscribe to `onScroll`). This is asking for a different feature, which supports the example I referred to in #7277. Reopening.

https://user-images.githubusercontent.com/1106239/110027389-e6771280-7cff-11eb-89e4-22dfce88939e.mp4

[2021-03-04 20:48] rectified95 commented on #7269
Locally, I can only see the second warning: 'ended a touch event which was not counted...' Pushed a PR addressing that.
Don't see or know why the first one would appear - could actually be related to RDP.

[2021-03-04 21:00] #7088 closed

[2021-03-04 22:27] NickGerleman commented on #7276
I think the above comment might be able future pointer events instead of current move events. Need to fill out the description with something better.

[2021-03-04 22:41] #7269 closed

[2021-03-04 22:42] rectified95 commented on #7269
@asklar Can you check if you're still seeing either of these errors in RDP? I'd at least expect to see one of them go.

[2021-03-04 22:46] #7240 closed

[2021-03-04 22:47] namrog84 commented on #4209
There is another new feature in RNW that was added after my original issue was filed that might help address this and that is the new ReactContext.Properties() bag.
e.g. https://github.com/microsoft/react-native-windows/blob/master/packages/sample-apps/windows/SampleLibraryCPP/SampleModuleCPP.h#L42

Since changing Windows APIs is unlikely.  The next best course of action, would be to agree on some

[2021-03-04 22:54] #7237 closed

[2021-03-04 22:54] #7256 closed

[2021-03-04 22:55] #3603 closed

[2021-03-04 23:09] rectified95 commented on #6676
We're still using WinAppDriver for E2E tests.
https://github.com/microsoft/react-native-windows/pull/7228 adjusted the script to install the required 1.2.1 version
We don't install appium in the script, there's just a leftover comment mentioning it - removing in a quick PR.
FYI @kmelmon @chrisglein

[2021-03-04 23:34] acoates-ms commented on #7270
As far as I can tell there is no default blocklist.  If this is something VS does consistently we should look at adding .TMP files to the default blocklist in metro config in the template. (And also to our configs within our repo)

If this is something that happens more broadly, like say from VSCode, then we could look at adding it to the default metro config in core.

Any idea what process is cre

[2021-03-04 23:39] NickGerleman commented on #6634
FYI @rectified95 @chrisglein I think this one is more of a "nice to have" than a bug. It's to replace a custom but convoluted solution with something better and standard. Not sure there is user bad.

[2021-03-04 23:41] NickGerleman commented on #6634
I did forget about this part though.

[2021-03-05 00:11] rectified95 commented on #5841
@NickGerleman Is this still necessary after your changes to the e2e infra?

[2021-03-05 00:15] #6676 closed

[2021-03-05 01:25] rozele opened #7283 "Should TextInput cursor movement better match other platforms?"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Create an example where JS updates the TextInput setValue prop, e.g.:

[code]

2. Type the string that will trigger JS modifying the string.
3. Cursor position stays constant

## Expected Results

This is where things get tricky. The behavior is pretty much undefined, but there is one thing that's consistent acros

[2021-03-05 02:54] dannyvv commented on #6226
We could not use the WinDev pool for most of our validations because Azure VMSS backed Azure PipeLines Agent Pool must be either:
* Admin
* Interactive UI
you cannot have both at the same time.

and UWP installation and testing needs both...
We have solved this by setting up a 1ES Hosted pool with 4c32g machines that have the same image as the hosted pools.

[2021-03-05 02:54] #6226 closed

[2021-03-05 17:26] rozele opened #7289 "`display: none` does not work as expected with `position: absolute`"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Add an example to [ViewExample.windows.js](https://github.com/microsoft/react-native-windows/blob/master/packages/%40react-native-windows/tester/src/js/examples/View/ViewExample.windows.js) in RNTester:
[code]

2. Run the example in RNTester
3. Observe that the view is still displayed.

## Expected Results
The `di

[2021-03-05 18:31] NickGerleman commented on #7289
FYI that "display: none" also doesn't propagate to XAML visibility (for focus, UIA, etc).  https://github.com/microsoft/react-native-windows/issues/6355

[2021-03-05 19:41] rozele commented on #7289
@NickGerleman - this is what we had in the old C# days:
https://github.com/microsoft/react-native-windows/blob/0.57-stable/ReactWindows/ReactNative/UIManager/BaseViewManager.cs#L127

[2021-03-05 23:47] br4in3x opened #7291 "React Native for Windows doesn't work with PNPM package manager"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.14.0
2. `npx react-native info`:
[code]

What SDK version are you building for? Choose from 10.0.15063, 10.0.16299, 10.0.18362, etc.
Target Platform Version(s): **10.0.18362**

What device(s) are you targeting? Choose any from Desktop, Xbox, Hololens)
Target Device(s): **Desktop**

Which

[2021-03-07 06:03] Losiyu opened #7293 "How can I use third party DLL?"
I am currently developing an app by using third party SDK, which includes many dlls. I want to call some functions in those dlls. How can I do it?
"react-native": "0.63.4",
"react-native-windows": "^0.63.0-0",
npm: 6.14.11
node: 14.16.0

[2021-03-07 08:30] asklar commented on #7291
@br4in3x I think the issue you're hitting might not be related to pnpm; you may be hitting an issue where the length of the file paths is too long for some of the tooling to handle.

Pasting the error line here:
`C:\Users\max\Code\rnwpnpmproblem\node_modules\react-native-windows\build\x64\Debug\Microsoft.ReactNative\Generated Files\winrt\Windows.UI.Xaml.h(12,10): fatal error C1083: Cannot open inc

[2021-03-07 08:47] asklar commented on #7293
@Losiyu it depends; you should follow the 3rd party SDK's instructions for how to use their SDK in the context of a UWP app, since React Native for Windows apps are UWP. There's some information in our docs that might be useful too:
[Native code - use of non-WinRT libraries](https://microsoft.github.io/react-native-windows/docs/next/native-code#use-of-non-winrt-libraries)

[2021-03-07 10:52] asklar opened #7295 "New warnings from recent ingestion?"
![image](https://user-images.githubusercontent.com/22989529/110236684-108d2800-7eec-11eb-97ac-7b7437e2bf62.png)

![image](https://user-images.githubusercontent.com/22989529/110236695-1c78ea00-7eec-11eb-9a28-cfe556fcf763.png)

![image](https://user-images.githubusercontent.com/22989529/110236699-213d9e00-7eec-11eb-86d3-a75462055026.png)

There's also a warning about a leak in the Image page:
![imag

[2021-03-08 02:31] asklar opened #7297 "Alert module uses ContentDialog which can crash app when called multiple times"
ContentDialog has a restriction that there can only be one per window at a time.
Showing the content dialog is an async operation, so an app can call alert twice in a row, and the second alert can happen before the first ContentDialog has been dismissed.

This kills the app.

[2021-03-08 11:23] jaimecbernardo opened #7300 "Community View Managers cannot provide a view property named "transform" (causes runtime error)"
When building a C++ native module for React Native Windows, it's not possible to use a "transform" property in the module that has a different semantics than being a 16-sized array, since "FrameworkElementViewManager.cpp" asserts this: https://github.com/microsoft/react-native-windows/blob/74fade929f70270e6174ad70c263efa6059fbef5/vnext/Microsoft.ReactNative/Views/FrameworkElementViewManager.cpp#L2

[2021-03-08 12:40] asklar opened #7301 "DevMenu sizes wrong, should contain a scrollviewer"
If the window is near the top, the popup will only go as far as the top of the screen and as low as the top of the app window

![image](https://user-images.githubusercontent.com/22989529/110322481-0c363d00-7fc8-11eb-9b0b-22b5e8a2f007.png)

Slightly more room:

![image](https://user-images.githubusercontent.com/22989529/110322700-633c1200-7fc8-11eb-9ad4-545aaaf80dd5.png)

[2021-03-08 16:20] mjfusa commented on #5375
Wrote a POC for registering and triggering JavaScript background task (startHeadlessTask). Windows triggers invoke OnBackgroundActivated in App.cpp. Here a Notification is sent to native module to run background JS.

Background task with / without app running scenario status:
Foreground - Working
Background - Working
Background Suspended - Working
Not Running - Not Working. It seems this is blocke

[2021-03-08 17:00] creambyemute commented on #4209
Alright, thanks for the heads up.

I've just successfully created my first C++ Native module which uses `Launcher::LaunchFileAsync` with `LauncherOptions` to open local files.

I'll give the FilePicker a try next.

[2021-03-08 17:23] rozele opened #7303 "Pointer events firing before blur events cause TextInput to lose focus"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Open RNTester > TextInput examples
2. Scroll to "Text selection & cursor placement" example
3. Set focus on single line TextInput control
4. Select an item to change the focus (e.g., "Place at Start (0, 0)")
5. Observe that TextInput loses focus

What is happening here is the following sequence of events:
1. Touch

[2021-03-08 18:03] chrisfromwork opened #7305 "ABI safe JsiRuntime is torn down before underlying facebook::jsi::Runtime during dev mode refresh causing weird behavior"
## Environment

I have synced with @vmoroz offline on this issue but am filing it here for tracking with my team.

## Steps To Reproduce
Branch: [chrisfromwork/BabylonReactNative at swapChainFix (github.com)](https://github.com/chrisfromwork/BabylonReactNative/tree/swapChainFix)

#### Setup
1. Repo root: git submodule update --init --recursive *
1. Apps\Playground: npm install
1. Package: npm inst

[2021-03-08 18:26] rectified95 commented on #7303
@NickGerleman This looks similar to the fix you upstreamed for clicks getting 'swallowed' - is this a different scenario?

[2021-03-08 18:32] NickGerleman commented on #7303
Different scenario. The clicks being swallowed issue was related to ScrollView capturing then stopping propagation of touches when JS thought we had a currently focused input. This was due to a faulty assumption upstream that having an input focused meant we always needed to eat the tap to dismiss soft keyboard.

[2021-03-08 18:35] acoates-ms commented on #7291
Also note that pnpm uses a lot of symlinks for the package installation locations, so you'll need to look up how to configure react-native, or metro in particular to deal with those symlinks.  -- This isn't a problem specific to react-native-windows.

[2021-03-08 19:11] chrisglein commented on #7301
XAML is in charge of the flyout positioning here. Which is half of the problem. Maybe a core XAML bug? But independent of that this should probably have a scroll viewer for cases where it does get clipped.

[2021-03-08 19:17] chrisglein commented on #7300
FrameworkViewManager is interpreting "transform", making this a special property name for RNW where it isn't for other platforms. This problem isn't specific to "transform". UpdateProperties needs to let you control whether you also want to call the super.

In the meantime, yes your workaround is to use a different name

[2021-03-08 19:24] chrisglein commented on #7297
Could workaround by implementing a dialog manager that handles only one ContentDialog at a time.
Or we could not use ContentDialog.
Or we could press on WinUI to create a dialog control that allows more than one at a time. This should happen regardless, but we'll need to do something to handle this in the meantime.

[2021-03-08 19:33] chrisglein commented on #7295
Check to see if web debugging has the same issue on Facebook master (could show there as well). It's not used equally across partners (planned to be deprecated in future versions) and so could have been broken.

Is affecting these components
- Text
- Image
- TextInput

Side note, do we have up to date docs on our direct debugging steps? Including steps on how to debug script and native at the same

[2021-03-08 19:35] #7293 closed

[2021-03-08 19:40] chrisglein commented on #7291
We haven't done any explicit approval/testing of pnpm for React Native for Windows. It seems some follow up issues have been identified here that are elsewhere in the stack that can be followed up on. Let's see how those go.

[2021-03-08 19:42] jonthysell commented on #6433
I'm still convinced this is a XAML, not RNW, issue. RNW sets the height/width on the Cam usercontrol, but since you're using a templated control, I think you'll need to forward the width and height properties into the border within the template with something like:

[code]

[2021-03-08 19:45] chrisglein commented on #7289
@rozele is it expected that this is fixed by your above yoga PR?

We also have an issue where collapsed visibility isn't being propagated to XAML. (maybe part of fix for #6355)

We've got a couple "display:none" issues floating around here, trying to making sure we're tracking it all.

[2021-03-08 19:48] chrisglein commented on #7283
@kikisaints @harinikmsft Thoughts on how the cursor behaviors should align here?

[2021-03-08 20:49] jonthysell commented on #6024
Closing as resolved as the linked PR was merged.

[2021-03-08 20:49] #6024 closed

[2021-03-08 21:56] rectified95 opened #7309 "Remove fork of MapBuffer.cpp"
Forked during recent integration to fix a build break. PR in core - https://github.com/facebook/react-native/pull/31106

[2021-03-08 22:47] #6829 closed

[2021-03-08 22:57] willmayn opened #7311 "Add Conditional Macro to override NuGet Package Location for RNW Project Files"
# Proposal: Add Conditional Macro to override NuGet Package Location for RNW Project Files

## Summary

Currently the RNW project files always look at the $(SolutionDir)\packages path for NuGet dependencies. The proposed change would add a custom macro that consumers can use to specify where the RNW project files should look for their NuGet dependencies. This macro should be a conditional macro, s

[2021-03-08 22:58] asklar opened #7312 "Review telemetry schema"
@jonthysell has some thoughts on what data we should collect through telemetry (e.g. sdk versions, vs versions, etc.).
We should get this done soon so we can turn telemetry back on.

[2021-03-08 23:16] stecrain opened #7313 "Make Microsoft.ReactNative.dll compliant with binskim"
# Proposal: Make Microsoft.ReactNative.dll compliant with binskim

## Summary
Currently Microsoft.ReactNative.dll compiles with compiler warnings disabled that are being flagged by binskim as 'against policy'

## Motivation
This will allow partners that are building & shipping react-native-windows apps to do so in a compliant manner.

## Basic example
When this is complete it should be possible to

[2021-03-08 23:23] acoates-ms commented on #7313
Maybe the same as https://github.com/microsoft/react-native-windows/issues/6918?

[2021-03-09 02:23] br4in3x commented on #7291
@asklar Indeed, copying the project over to `C:\a` helped! The build process finishes without problems now, and I can see the sample app. However, I ran the rnw-dependencies.ps1 script before and have long path support enabled:

![image](https://user-images.githubusercontent.com/1525725/110407616-287ebc00-8052-11eb-9215-aaa8521efe30.png)

Mapping `C:\users\max\Code\rnwpnpmproblem` to `Z:` using `s

[2021-03-09 03:08] asklar commented on #7291
thanks @br4in3x ! It's either cppwinrt (@kennykerr) or CL. I have an email out to the STL folks to better understand if std::ofstream (which cppwinrt uses to write files) can work with long paths or not

[2021-03-09 06:30] tero-paananen commented on #7197
I have problem to open image if user's home folder contains some charasters that needs to be encoded.

Images are shown from app in folder `C:\Users\smith\AppData\Local\Packages...` but
images are empty from folder  `C:\Users\smithé\AppData\Local\Packages...` there is `é` char in path

[2021-03-09 06:48] asklar opened #7321 "Image crashes on path with non en-us characters"
I have problem to open image if user's home folder contains some charasters that needs to be encoded.

Images are shown from app in folder `C:\Users\smith\AppData\Local\Packages...` but
images are empty from folder  `C:\Users\smithé\AppData\Local\Packages...` there is `é` char in path

_Originally posted by @tero-paananen in https://github.com/microsoft/react-native-windows/issues/7197#issuecommen

[2021-03-09 06:48] asklar commented on #7197
@tero-paananen filed #7321 since this bug is tracking a Uri creation crash

[2021-03-09 07:01] tero-paananen commented on #7321
react-native: 0.62.2 => 0.62.2
react-native-windows: 0.62.15 => 0.62.15

[2021-03-09 08:34] tero-paananen commented on #7321
I use currently images with url `file:///c:/...`

I will try images with url `ms-appdata:///local/users/...`

[2021-03-09 08:42] JunielKatarn opened #7323 "Re-enable warning C4103 - Desktop solution fails to build using Visual Studio 16.9."
## Environment
Run the following in your terminal and copy the results here.
1. Visual Studio `16.9`
2. Yarn `1.22.10`

- Target Platform Version(s): `10.0.18362`
What device(s) are you targeting? Choose any from Desktop, Xbox, Hololens)
- Target Device(s): `Desktop`
Which version of Visual Studio are you using? Specify Visual Studio 2017 or Visual Studio 2019
- Visual Studio Version: `16.9`
Which

[2021-03-09 08:43] JunielKatarn commented on #7323
Mitigated by #7319.

[2021-03-09 08:52] tero-paananen commented on #7321
Yes! Image urls with `ms-appdata:///` prefix that contains non us letters works.

[2021-03-09 09:25] asklar commented on #7321
Can you clarify if the `file` scheme works if the path _only_ contains en-us letters? It's also possible the issue might be related to the app in the appcontainer not having permissions so want to make sure you can say whether a new path (never navigated to within the app) works with file:// and with/without non english characters

[2021-03-09 09:48] tero-paananen commented on #7321
file:// scheme works with us letters and in app container.

file:// scheme with some special letters for example è may work if it is not encoded. After encoding it and sending to ReactImage.cpp it does not work.

[2021-03-09 11:06] tero-paananen commented on #7321
More other problems, i could not use `ms-appdata:///` prefix with the image path because after that is image file somehow locked in ReactImage and it cannot be removed from disk.

I use `file:///` urls and i call `decodeURI ` before sending urls to ReactImage

[2021-03-09 11:25] creambyemute opened #7324 "How to access ReactNativeHost? Can't get Sample to work."
Hey there,

I'm trying to use the ReloadInstance method of the ReactNativeHost to restart the App/reload the bundle. I had a look at the sample which implements this it seems: https://github.com/microsoft/react-native-windows/blob/910ed096b6fcea634b3206d3448cc3a335bc8e89/packages/sample-apps/windows/SampleLibraryCPP/SampleModuleCPP.h

I've tried different things now but always end up with an error

[2021-03-09 15:49] rozele opened #7330 "Proposal: Declarative submit and clear props for TextInput"
# Proposal:  Declarative submit and clear props for TextInput

This is a proposal to add a few props to support common keyboard-based input scenarios. Many applications, such as chat applications, require a TextInput field that submits and clears text when the 'Enter' key is pressed. Often these applications use modifier keys like `Shift` to support carriage return when multiline text entry is nee

[2021-03-09 16:32] lunaleaps commented on #7330
This makes sense to me! Regarding single line textInput support, could you clarify what you mean by ignoring modifier keys?

I also wonder about the history of why onsubmitEditing wasnt supported in multiline

[2021-03-09 17:48] rozele commented on #7330
@lunaleaps On platforms that accept keyboard input, there's a concept of modifier keys (e.g., `shift`, `ctrl`, etc.). Right now, the default behavior of single-line TextInput is to call `onSubmitEditing` when `enter` is pressed regardless of any modifier key state. If we enable `submitKeyEvents` for single-line TextInput, we'll need to create a default behavior that mimics this.

`onSubmitEditing`

[2021-03-09 18:31] asklar opened #7334 "View managers don't have a way to listen for JS event/detach"
Right now view managers are not able to get notifications when JS adds/removes an event handler. This means view managers must set up native event handlers "just in case" the JS side wants to listen for them

[2021-03-09 18:36] asklar opened #7336 "Reevaluate which nodejs version we should require"
E.g. any odd number of Node is not an LTS, but we allow 13. Same with 12 no longer being LTS. Maybe we should just check for Node >= 12

_Originally posted by @NickGerleman in https://github.com/microsoft/react-native-windows/pull/7294#discussion_r589628343_

[2021-03-10 00:32] rectified95 commented on #7309
PR merged in core - our fork is going to get removed with the next integration PR.

[2021-03-10 00:58] rectified95 opened #7344 "Pressable.Cancelable not implemented"
In a recent commit - https://github.com/facebook/react-native/commit/7f005e6077398d2a7f31cb78313c90c667050792 - the `cancelable` prop was added to `Pressable`. We should understand if/how it should be implemented in RNW.

[2021-03-10 00:59] NickGerleman commented on #7330
I've generally been a proponent of shared implementations where possible. We otherwise sometimes see API conflicts, breaks on upstream refactorings, are missing from official docs and typings, etc. Do you have thoughts on how we can eventually get this to core?

[2021-03-10 01:05] chrisglein commented on #7334
Do we need this for 0.64? Would it be a breaking change to include in a dot release?
Are there documentation implications?

[2021-03-10 01:05] NickGerleman commented on #7344
I don't think there are native changes needed. See its usable in Pressability: https://github.com/facebook/react-native/blob/master/Libraries/Pressability/Pressability.js

[2021-03-10 01:06] NickGerleman commented on #7336
In the meantime, the description in the dependencies script for Node is no longer accurate 😕.

[2021-03-10 03:39] asklar commented on #7334
@chrisglein not needed for 0.64; I found out from Eric that there is an undocumented way to do this (declare the event as part of the set of supported native props, with type boolean (!!!)). This work will just make it more clear that this is possible to do without resorting to arcane workarounds :)

[2021-03-10 06:21] #7334 closed

[2021-03-10 06:34] asklar opened #7345 "Validate Microsoft.ReactNative with binskim"
[BinSkim](https://github.com/Microsoft/binskim) performs static analysis on PE binaries and validates "the right flags" (compiler, linker, etc.) are set for shipping binaries (to ensure security, performance, etc.). We should run this on M.RN.

[2021-03-10 08:16] juhasuni commented on #7321
We've further investigated the issue and according to documentation:
https://docs.microsoft.com/en-us/windows/uwp/app-resources/uri-schemes

So basically this says, that we should only encode the reserved characters mentioned in the documentation (see above) or according to RFC 3986 (the standard has more reserved characters).

Here it also says that it is OK to use non-ASCII characters without en

[2021-03-10 08:20] juhasuni commented on #7321
As a side note, I must say I wasn't aware of IRI (vs URI) which is by definition:

So we should also have `encodeIRI` and `encodeIRIComponent` 😉

[2021-03-10 18:43] asklar opened #7347 "ViewManager item template"
Today you can create an app or a module. There isn't a "batteries-included" way to write a view manager other than following the docs (which can and do get out of date)

[2021-03-10 18:48] asklar opened #7348 "Rework CLI to create minimal projects with pluggable item templates"
Today you can create an app or a module. This makes it harder to add a module to an app (i.e. one that isn't distributed separately). There is a lot of code that would get duplicated, and if the dev wants to ship the app/module together and doesn't care about OSS the module, there is manual work to move things around in VS.

Ideally here's what I'd like to see:

### Create an app
[code]

### Creat

[2021-03-10 20:10] NickGerleman commented on #7348
There's been some desire to refactor the upstream community CLI to support composable templates. This is another interesting angle, since it makes it easier to adopt RNW, and removes the need for a separate react-native-windows-init.

[2021-03-10 22:09] #7303 closed

[2021-03-10 22:33] #5540 closed

[2021-03-11 01:41] jihoobyeon opened #7353 "Unable to resolve module which basically included in Node.js"
I am working for simple React Native for Windows app which reads MS Access file and Shows data on screen.\
But when I run my app with `react-native run-windows`, A red screen appears and shows this error:\
``Unable to resolve module `bar` from `C:\Users\myname\Desktop\project1\node_modules\baz\lib\qux.js` ``

When I fix it, another one appears. again fix it, and another.\
The clue is every module

[2021-03-11 02:24] asklar opened #7354 "Try ASan for RNW"
Address sanitizer is a standard tool for finding memory bugs for Clang/LLVM and now is supported by MSVC as well.
We should evaluate using it and seeing what we learn from it.
https://devblogs.microsoft.com/cppblog/address-sanitizer-for-msvc-now-generally-available/
https://docs.microsoft.com/en-us/cpp/sanitizers/asan?view=msvc-160

[2021-03-11 02:26] asklar commented on #7353
you can't use npm packages in RN just like you can in nodejs; for example, packages that use filesystem APIs, registry APIs, etc. won't work in UWP apps.

[2021-03-11 03:40] asklar commented on #7324
@creambyemute you might be looking at the wrong version, I believe the sample you mentioned is using a preview version of 0.64.
 can check out the native API reference for 0.64 here: https://microsoft.github.io/react-native-windows/docs/next/Native-API-Reference

[2021-03-11 03:57] jihoobyeon commented on #7353
@asklar Oh, then how can I make my app to read MS Access files?
maybe make another Node.js app and call that in RN app <-- is this possible?

[2021-03-11 04:11] asklar commented on #7353
@jihoobyeon It might be possible through something called Desktop Bridge (aka "Centennial") apps. This is not something our team supports or has deep expertise in, but you can investigate this on the docs.microsoft.com website.

For the time being I recommend reading this doc of ours that talks about what a RNW UWP app can do: https://microsoft.github.io/react-native-windows/docs/next/native-code

[2021-03-11 04:26] jihoobyeon commented on #7353
@asklar Ok, thanks! I'll try it.

[2021-03-11 04:26] #7353 closed

[2021-03-11 05:00] asklar commented on #7324
In 0.64 we started to auto-generate our docs from our interface definition source code. In 0.63 we don't have the textual description of the APIs, but there's still value in having the types and APIs documented. PR is here: https://github.com/microsoft/react-native-windows-samples/pull/403

[2021-03-11 08:13] creambyemute commented on #7324
Alright, I already starting suspecting this. Will try again in 0.64 👍

[2021-03-11 11:26] asklar opened #7357 "Investigate upgrading WinUI 3 template to Reunion 0.5"
Reunion 0.5 is out: https://docs.microsoft.com/en-us/windows/apps/project-reunion/
Do we update the winui 3 template to Reunion 0.5?

[2021-03-11 11:32] asklar commented on #7291
Update: this is a cppwinrt bug, which I have now fixed in https://github.com/microsoft/cppwinrt/pull/880

[2021-03-11 11:34] asklar opened #7358 "Build a min/gallery electron app to compare/baseline against RNW"
We want to have hard data about perf relative to electron as well as compare over time how RNW evolves

[2021-03-11 11:46] #6095 closed

[2021-03-11 11:50] asklar opened #7359 "WinUI 3/Reunion Desktop app template"
<I could have sworn I had something filed but I can't find it.>
WinUI 3 introduces a new way to build desktop apps via the new Window type. This targets several new technologies that - if we were to adopt - would put us on a more future-looking path forward:
- WinUI 3, the Fluent UI platform, decoupled from Windows
- Win32 app model, a la carte uwp-like features without requiring app container, et

[2021-03-11 14:19] Omar-Belghaouti commented on #7229
@chrisglein You can check [this repo](https://github.com/Omar-Belghaouti/react-native-windows-posprinter) where I implemented the print receipt method natively for esc pos printer.

[2021-03-11 19:08] asklar commented on #7344
This should be handled on the JS side, we shouldn't need to do anything.

[2021-03-11 19:08] #7344 closed

[2021-03-11 19:10] asklar commented on #7336
Message should say >=12.

[2021-03-11 19:14] asklar commented on #7324
You can do this from the JS side with a public API - @NickGerleman can you share the details?

[2021-03-11 19:15] acoates-ms commented on #7324
This should work today:

[code]

[2021-03-11 19:19] asklar commented on #7321
@tero-paananen if you are still affected by this (though unblocked by not encoding), can you share a callstack of the crash and some more info on how you're passing the image url  (is that from JS? or?)

[2021-03-11 19:20] asklar commented on #7345
Duplicate of #7313

[2021-03-11 19:26] asklar commented on #7311
Request makes sense. This has the possibility to break community modules, so any change we'd make for this we would have to replicate through all the community modules.

[2021-03-11 19:27] creambyemute commented on #7324
Does devSettings.reload work in production though?

[2021-03-11 19:29] asklar commented on #7358
Office might have done something similar, worth checking (they may have webview apps)

[2021-03-11 19:38] acoates-ms commented on #7324
It should work yeah.

[2021-03-11 19:42] asklar commented on #7323
The warning seems to indicate we might have undefined behavior which could result in unreliable tests, we should figure out the right longer term fix.

[2021-03-11 21:00] #7136 closed

[2021-03-11 21:01] NikoAri commented on #7358
@asklar We've done perf analysis for Office Privacy Dialog, which is now based on React Native. One of caveats is that Privacy Dialog RN UI uses Office's internal NetUI framework, not Xaml, so it could complicate 1:1 comparison.

[2021-03-11 21:41] #7305 closed

[2021-03-12 01:18] JunielKatarn commented on #7323
Re-assigning to test maintainer.

[2021-03-12 10:38] BartoszKlonowski commented on #3742
@kmelmon Kind reminder: Is there a localization even supported in the React Native Windows, or React Native?

[2021-03-12 11:30] creambyemute commented on #7324
I've tried that now and it works in Dev/Debug mode but not in Production. It seems React-Native exports a noop there on prod builds.

I then tried to directly go via the NativeModules:
[code]

[2021-03-12 11:32] BartoszKlonowski commented on #5051
@asklar @stmoy @chrisglein I will handle it.
If it requires assigning me to this item then please do.

[2021-03-12 12:35] rozele commented on #7289
This can be closed the next time https://github.com/microsoft/react-native-windows/blob/master/vnext/ReactCommon/Yoga.cpp is updated from react-native.

[2021-03-12 17:25] acoates-ms commented on #7324
Oh looks like you are right, the js DevSettings module is no-op'd in production.

DevSettings isn't a NativeModule in all cases. In particularly in production it'll be a TurboModule.  Try:

[code]

[2021-03-12 20:21] #7283 closed

[2021-03-12 23:24] Drigax opened #7366 "Warning C4834 when compiling ReactCommon, Microsoft.ReactNative"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:
5.0.1-alpha.0

2. `npx react-native info`:
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Use react-native-windows ^0.64.0 as a dependency
2. Build a react-native-windows project using visual studio v16.9.1

## Expected Results
Describe what yo

[2021-03-12 23:44] Namyts opened #7367 "Can't run without Visual Studio IDE"
I am trying to use react-native-windows without installing the VS IDE. The requirement should just be the build tools (which I have installed, as per the documentation).

My current error is:

[code]

The source of this error appears to be: [here](https://github.com/microsoft/react-native-windows/blob/226fc2c5f4fc300ad90bfc413d275e0fe0adf87f/packages/%40react-native-windows/cli/src/runWindows/util

[2021-03-13 00:20] Namyts commented on #7367
Never mind. There is more to my problem than what I mentioned.

This is why visual studio fills developer's hearts with dread :(

Consider reviewing how to further split react-native-windows from an IDE if possible...

[2021-03-13 00:20] #7367 closed

[2021-03-13 02:02] NickGerleman commented on #7366
@Drigax this issue should be fixed in the latest preview. Could you try updating to 0.64.0-preview.15?

[2021-03-13 03:16] asklar commented on #7366
Duplicate of #7248

[2021-03-13 03:16] #7366 closed

[2021-03-13 08:19] asklar opened #7369 "Dependabot for stable release branches"
With more emphasis on longer-term servicing branches, it would be important to keep N & N-1 updated re: dependabot. As far as I can tell, dependabot isn't configured in any special way in our repo so only master is kept updated

[2021-03-13 09:03] asklar opened #7370 "JsiRuntime::CreatePropertyIdFromAscii doesn't accept const char*"
[code]
These methods get projected as
[code]

Trying to use them with a const char* results in an error:

[code]

[code]

[2021-03-13 09:45] asklar opened #7371 "Standard way for native side of app to communicate with native module"
Autolinking will create a ReactPackageProvider for every linked module. However the native side of the app doesn't have a way to access the [native] instance of the native module to negotiate or communicate properties/call APIs.

Workaround: static APIs/properties
It would be good to provide a mechanism to avoid this.

[2021-03-13 12:17] asklar opened #7372 "JsiValueRef are not debuggable"
We should create a natvis visualizer to aide in debugging and visualizing JSI values

[2021-03-13 18:56] NickGerleman commented on #7371
Apart from the PropertyBag which you mentioned, ReactNotificationService can also help address this.

[2021-03-13 19:00] NickGerleman commented on #7369
An important distinction here is that generally, dependabot changes don't affect users of RNW, since it usually just updates our lockfile based on allowed semver ranges in package.json. Consumers will just have these ranges, without our lockfile.

Security specific updates might be a different matter though.

[2021-03-13 19:02] NickGerleman commented on #7370
IDL strings are UTF-16, so I'm not sure we can gen the right thing. Some idl types have pure C++ wrappers for this kind of thing though.

Creating an array_view of uint8 over a C string can be done without copies. Annoying for usage though.

[2021-03-13 20:56] asklar opened #7374 "When is it safe to access JsiRuntime"
Currently Chakra does not allow accessing the jsi from a thread other than the JS thread. Unclear whether the rest of the runtimes have the same restriction or not. There should be diagnostics and docs for this, currently trying to access the runtime from the ui thread will terminate the app (instead of sending the exception back to app code)

It is also not clear that as a view manager e.g. it is

[2021-03-14 00:30] asklar opened #7375 "Add WriteJSI functionality for marshalling JSValues to JS"
Today when writing an event args to JS, one uses DispatchEvent; however this doesn't allow writing back JSI HostObjects, only allowing the simple types instead (int, string, bool, array, nested).
The idea would be to allow a WriteJSI api that allows modules/apps to pass JSI HostObjects into the JSValueWriter

[2021-03-14 04:43] #6841 closed

[2021-03-14 06:31] asklar opened #7376 "[Dead code] remove JSBigAbiString"
This type is not used by anybody, should be deleted.

[2021-03-15 02:33] asklar commented on #7255
onboarded

[2021-03-15 02:33] #7255 closed

[2021-03-15 02:40] asklar commented on #5539
@ladebo @aschultz I wanted to reach out and let you know about a module that has some intersection with the work described here: https://github.com/asklar/react-native-xaml/

We added a IViewManagerCreateWithProperties interface in 0.64 which is IInspectable-based, but the framework still expects objects returned by the view manager to be framework elements. react-native-xaml works around this by

[2021-03-15 08:01] NickGerleman opened #7380 "Automatic "prerelease" -> "patch" change type in stable branches"
Cherry-picking a change from master to a stable branch creates an error that requires beachball expertise to understand. The user-action is to replace "prerelease" with "patch" in the generated, merged file.

This use-case is likely outside of something Beachball would want internal support for, but we can add a CI step to preprocess change-files for packages where we want to apply this rule.

[2021-03-15 08:11] NickGerleman commented on #7374
They will. The JSI model allows synchronous/chatty calls between native and JS. Because they are synchronous, doing a thread hop would need to be async or involve COM STA style thread blocking.

There is better reference in the C++ MSRN JSI headers. Note that the **ABI JsiRuntime type is not meant to be the user API**. Look at [JsiApiContext.h](https://github.com/microsoft/react-native-windows/blo

[2021-03-15 08:13] NickGerleman commented on #7374
Re docs, I think there was back-and-forward on whether we wanted to document this yet. Though I guess we have a lesson from here and Discord though that it's hard to signal what APIs are at what level of stability. Documentation as experimental might be better than no docs.

[2021-03-15 08:39] NickGerleman commented on #7375
We have this internally, currently used for NM2 TurboModules.

See https://github.com/microsoft/react-native-windows/blob/master/vnext/Microsoft.ReactNative/JsiWriter.h

[2021-03-15 08:42] asklar commented on #7375
yes, the problem is the DispatchEvent functionality relies on folly::dynamic today. Unclear if we can make this work without a core change.

[2021-03-15 08:58] asklar commented on #7374
The documentation question is a bit off topic, but if an API is exposed through WinMD or one of the Cxx headers, it must be documented before release. It's fine to mark it as experimental, we still need to document it though.

Yes, either/or. Right now the app terminates immediately without a chance for app code to recover/test if it is ok to call these APIs.

[2021-03-15 10:44] NickGerleman commented on #7374
I think termination when thread afined functions are called on the wrong thread is probably for the best. There's value in screaming loudly instead of offering an error code and path to recovery. This pattern is followed today for many UI thread affined APIs for.example.

Need to be clear what we're screaming loudly about though. I.e. make sure the right signal is provided when we crash.

[2021-03-15 15:43] rraczae opened #7383 "Future Roadmap?"
Hey Team,

Do you have any roadmap for 2021 or long term support plan? We have a react native application working well and looking to port it to surface. This library looks very promising, however without long term commitment from msft I don't think we can allow to risk using it. Otherwise great work and really like the concept and the approach.

Cheers!
Robert

[2021-03-15 16:09] acoates-ms commented on #7375
This may need to wait until we get rid of web debugging.

[2021-03-15 18:05] jicailiu1 opened #7385 "How to dispatch to UWP UI thread in native module"
Hi,

I'm writing a native module wants to open a window picker to do screen capture. Knowing PickSingleItemAsync need to be called on UWP UI thread, I'm trying to dispatch the call.

First I tried to do it the way used to work for me via a dispatcher from core window, the callback got triggered but at the same thread on caller, which results access decline on opening Windows UI.
[code]

I also tri

[2021-03-15 18:12] chrisglein commented on #7380
Quality of life improvement to porting changes to the stable branch. Good thing to fix and make it less obnoxious for ourselves :)

[2021-03-15 18:20] rraczae commented on #7383
@chrisglein thank you Chris! Awesome, that is reassuring.

I think it would also be great if we had something under [microsoft docs ](https://docs.microsoft.com/). In my experience that just helps building confidence in a product when decisions are made.

[2021-03-15 18:21] chrisglein commented on #7374
Actions I'm hearing here:
- Need a clear error instead of a mysterious crash (adding thread checks)
- Need to document when it's safe to call (and all considerations around web debugging, what is/isn't experimental)

[2021-03-15 18:23] chrisglein commented on #7372
Does the natvis come with the nuget? Is there a path to get it not through the nuget? (dependencies script or some other solution)

[2021-03-15 18:26] chrisglein commented on #7371
Do we build a mechanism for this or do we just document best/available practices for how to set up this kind of communication? Are there existing samples we can point to that use ReactNotificationService or the PropertyBag that developers can use as a template? We really don't want people to try to invent their own static pattern and get the instancing wrong, so this is a good candidate for docume

[2021-03-15 18:26] #7158 closed

[2021-03-15 18:29] chrisglein commented on #7370
What's the code example for how you do coerce this into the right type? This?
[code]
Is pretty annoying :/

[2021-03-15 18:34] chrisglein commented on #7369
We should take a look at whether something needs to happen here. We want to know when we have a dependency that has a critical fix since we published. Not sure what combination of Dependabot and Governance management is involved here. We don't want to wait until our next patch release to find any Governance issues. We may want a trial run of publish regularly to find these?

[2021-03-15 18:35] chrisglein commented on #7369
@dannyvv Do you have any ideas on what's the right way to catch these issues?

[2021-03-15 18:40] chrisglein commented on #7330
We had a big pass over keyboard APIs and push to align across Windows, macOS, and Web, and then to push the consistencies upstream. This looks like a gap we need to address, but we definitely don't want to stop at doing it in a RNW-only way. If we take a RNW side API change we want a path forward for the others.

@harinikmsft @rectified95 You two want to look at this and reconcile with the latest

[2021-03-15 18:55] asklar commented on #7385
We should document REACT_INIT - tracked by https://github.com/microsoft/react-native-windows-samples/issues/254

[2021-03-15 18:59] asklar commented on #7385
https://microsoft.github.io/react-native-windows/docs/next/ReactDispatcherHelper#uithreaddispatcher

we should update the documentation to say that UIThreadDispatcher property can only be called from a UI thread - so the idea is you call it from a UI thread, put the value in the property bag, then access the property bag value from the non-UI thread

[2021-03-15 19:05] br4in3x commented on #7291
@asklar Awesome, is it possible to test this in my sample application now? I'm not sure how `cppwinrt` gets into react-native-windows release process. If it's working, I'll close this issue

[2021-03-15 19:07] acoates-ms commented on #7385
Basically within your module:

[code]

Then you can use `m_reactContext.UIDispatcher` to dispatch things to the UI thread in other native module calls.

[2021-03-15 19:23] asklar commented on #7291
if you grab the latest RNW from master it will have the fix but you don't need to do that : ) If you open your solution in visual studio, right click on the solution, Manage nuget packages for solution, then click on cppwinrt and update to the latest version for all affected projects, you should get the fix for the long path issue. You might need to fix up your projects after that since some build

[2021-03-15 19:36] willmayn commented on #7311
@asklar Just to clarify, can you elaborate on what you mean by "This has the possibility to break community modules"? I certainly agree that if someone does change their package path, community modules that haven't adopted this change would break. But assuming this is set up as a conditional macro that defaults to the existing behavior, nothing would break by default.

In that case, for the people

[2021-03-15 19:59] rraczae opened #7390 "How to install community netinfo"
The documentation says tp update `MainReactNativeHost.cs` like this:

[code]

However that file does not exist. Any hints?

Thanks!

[2021-03-15 20:26] asklar commented on #7291
Trying to see if this is something we can bring into 0.64: https://github.com/microsoft/react-native-windows/pull/7388

[2021-03-15 20:30] jonthysell opened #7391 "EnableCodesign is processed before being set, so codesigning is always disabled"
The `EnableCodesign` variable is set to false by default in publish.yml, and is set to true by a task during runtime.

This value gets passed down by template parameters to prep-and-pack-single.yml, which creates and signs the nuget package.

However, the tasks to do the signing use the `- ${{ if eq(parameters.codesignBinaries, true) }}:` syntax for the codesigning tasks, which get processed when

[2021-03-15 20:42] AgneLukoseviciute opened #7392 "View Example Isn't Hit In visitAllPages e2e Test"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: `5.0.1-alpha.1`
2. `npx react-native info`: `System:
    OS: Windows 10 10.0.19042
    CPU: (8) x64 Intel(R) Core(TM) i7-1065G7 CPU @ 1.30GHz
    Memory: 15.48 GB / 31.59 GB
  Binaries:
    Node: 14.15.4 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.5 - C:\Program Files (x86)\Yarn\bin\

[2021-03-15 22:02] jicailiu1 commented on #7385
Thank you for the reply. I added suggested piece and updated code to
[code]

But still having winrt::hresult_access_denied exception inside the callback, any other direction I could look into?

[2021-03-15 22:05] #7385 closed

[2021-03-16 00:08] #7391 closed

[2021-03-16 00:31] asklar commented on #7370
I think this could work if, instead of `UInt8[]`, these APIs took `Int8[]`; in MSVC chars are signed by default.

[2021-03-16 02:04] asklar opened #7400 "Remove PFX files from repo"
We should instead store the certificates as secrets on github.

We need to do the same for community modules we've added.

Also add .pfx to .gitignore.

[2021-03-16 09:46] #7295 closed

[2021-03-16 17:32] rectified95 commented on #7309
Got labeled as 'invalid triage' again - marking for triage since I'm missing something

[2021-03-16 17:35] chrisglein commented on #5567
[Did it](https://www.nuget.org/packages?q=microsoft.reactnative)!

[2021-03-16 17:35] #5567 closed

[2021-03-16 19:56] rozele opened #7403 "onScroll(Begin|End)Drag and onMomentumScroll(Begin|End) only emitted for first drag"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Open RNTester > ScrollView example
2. Find OnMomentumScroll example
3. Drag the ScrollViewer and "fling" to trigger inertial scrolling
4. Before the inertial scrolling comes to a stop, start dragging again
5. Notice that the `onMomentumScrollEnd` event doesn't fire until you've allowed the view port to come to res

[2021-03-16 23:52] chrisglein commented on #7390
@rraczae Can you link to the page in the documentation you were referring to?

[2021-03-17 01:54] chrisglein commented on #7345
Tracking with [internal issue](https://microsoft.visualstudio.com/DefaultCollection/OS/_workitems/edit/32089296)

[2021-03-17 02:13] Jtomage opened #7407 "How to Updating / Upgrade older react-native project to latest."
I have been looking for documentation to update the react native project to the latest version. Currently working on the windows section.

The original was created using npm so many of the yarn command do not seem to work.

tried react-native upgrade and npm-check-updates but still have the same issues as they both modify the packages needed.

I tried following the guide on adding to established p

[2021-03-17 04:33] asklar opened #7408 "Update doc that references IDesktopWindowXamlSourceNative interface"
Filing task to update this once we have a doc page for the native IDesktopWindowXamlSourceNative interface

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows/pull/7393#discussion_r595705690_

[2021-03-17 10:12] asklar commented on #7407
straightest path forward is to generate a new app with the latest version, open the app in Visual Studio, and copy your app code into the new app.

[2021-03-17 10:14] asklar commented on #7390
@chrisglein I believe they are referring to this: https://github.com/react-native-netinfo/react-native-netinfo#link-c-implementation-1

@rraczae what version of react-native and react-native-windows are you using?

[2021-03-17 10:29] asklar commented on #7390
Looked at this some more. The NetInfo module has 2 Windows implementations: RNCInfo and RNCInfoCpp.
The RNCInfo implementation is for the C# React Native Windows which has been unsupported for over a year (and will not work with current RNW versions). The RNCInfoCpp project is the one you should be using.

[2021-03-17 19:07] vmoroz opened #7411 "Fix XamlUIService APIs that assume a single view for React app"
There a number of new API's that were recently added to the `XamlUIService` that assume that React native application uses a single root view. They associate window handlers and other properties with the React instance instead of `ReactRootView`.
The APIs in question are:
- SetXamlRoot
- SetAccessibleRoot
- GetXamlRoot
- GetAccessibleRoot
- GetIslandWindowHandle
- SetIslandWindowHandle

These APIs

[2021-03-17 23:14] asklar opened #7414 "Externalize WinUI and SDK version"
Currently Microsoft.ReactNative and others import WinUI.props from node_modules, and set the SDK version within those projects.
WinUI 2.6 has a dependency on the 19041 SDK
This means that apps that want to consume WinUI 2.6 (and have M.RN use 2.6) end up having to touch up props files in node_modules

We should instead default to grab these properties from the solution folder, and if that doesn't

[2021-03-18 04:49] asklar opened #7419 "create-react-native-module introduced breaking changes, breaking RNW CI"
https://github.com/brodybits/create-react-native-module/issues/441

Some options were renamed which now causes our CI to fail

[2021-03-18 06:16] #7419 closed

[2021-03-18 13:45] creambyemute commented on #7324
Unfortunately no luck, I tried with

[code]

which works in debug again and in release/production is closing or crashing the App, not quite sure there :-).

[2021-03-18 16:41] rraczae commented on #7390
Sorry guys, I was not getting notifications for this... Thanks that explains! Where does it say c# is unsupported? I was still able to pass it as a language option.

[2021-03-18 16:50] asklar commented on #7390
@rraczae yeah that's a confusing world we live in :) Let me elaborate:
Once upon a time, we had a RNW framework written in C# - this one is deprecated and modules written for this version are deprecated too. We deleted the code back in 0.60 I think?

We rewrote the RNW framework in C++, and you can write modules and apps against this version of RNW in either C++ or C# (this is the option you see i

[2021-03-18 17:59] chrisglein commented on #6494
Down to the last 2 items on the checklist. Tracking them here:
- [Update gallery to a new version](https://github.com/microsoft/react-native-gallery/issues/38) @chiaramooney
- [Send out external release announcement](https://github.com/microsoft/react-native-windows-samples/pull/376) @kikisaints

[2021-03-18 18:11] chrisglein commented on #7414
We intend to update to 2.6 as soon as that ships (currently in preview), I'll open an issue on that. But there will always be a disconnect for teams that want to take on previews.

[2021-03-18 18:13] chrisglein commented on #7411
I assume that would be a breaking API change? If so we wouldn't be able to take for a 0.64.x release. Let me know if that's wrong and it wouldn't be breaking. Otherwise I'm assuming we'll fix in 0.65.

[2021-03-18 18:15] chrisglein commented on #7408
The only [existing doc](https://docs.microsoft.com/en-us/dotnet/api/microsoft.toolkit.win32.ui.xamlhost.idesktopwindowxamlsourcenative?view=win-comm-toolkit-dotnet-6.1) is for the toolkit. AKA not what we need to link to from our API docs.

[2021-03-18 18:17] chrisglein commented on #7408
Tracking issue on adding correct docs: https://github.com/MicrosoftDocs/winrt-api/issues/1503

[2021-03-18 18:20] chrisglein commented on #7407
Especially since you're coming across such a version gap (0.52 to 0.64), in which the entirety of React Native for Windows has been rewritten, you're definitely going to want to generate a new app and bring over your app code.

We do want to document options here, tracking issue [here](https://github.com/microsoft/react-native-windows-samples/issues/258), and integrating with upgrade helper (issue

[2021-03-18 18:20] #7407 closed

[2021-03-18 18:22] chrisglein commented on #7403
Makes sense to me as expected behavior. @rozele , just to confirm does this match behavior in Android/iOS?

[2021-03-18 18:24] chrisglein commented on #7400
@chiaramooney is working through how to do this for Gallery.
@asklar has some experience doing this for the XAML Islands samples and may be able to help form the right pattern here using github secrets.

[2021-03-18 18:25] chrisglein commented on #7400
Note: We also want to regenerate these under some non-personal account. Some of the existing ones (of about ~6?) need to be moved.

[2021-03-18 18:27] vmoroz commented on #7411
We will discuss it with @asklar. I perceived it as an issue while working on the documentation in the IDL files.

[2021-03-18 18:30] chrisglein commented on #7392
@AgneLukoseviciute is the `\bView\b` functioning as a workaround?

Ideas for how to address more fundamentally:
- Enable the test to scroll and wait for items to realize
- Look up tests by a more unique identifier (give all tests a testid of some sort that's not just the string)
- Have a flag to force exact string matches instead of partial string matches

[2021-03-18 18:34] vmoroz commented on #7411
@chrisglein, @asklar, I believe we can address this issue without breaking API, and thus making it part of 0.64: we just need to add a new IReactPropertyBag to the ReactRootView. This way we can make these XamlUIService APIs to be React root view specific, while keeping exactly the same XamlUIService API shape.
There will be only the behavioral changes and how these APIs are used.

[2021-03-18 18:37] chrisglein commented on #7390
@rraczae Did that help clarify? Are you unblocked now?

[2021-03-18 18:44] chrisglein commented on #7324
This scenario sounds very similar to what [code-push](https://github.com/Microsoft/react-native-code-push) enables. Is there anything to be gained from looking into how it does what it does?

@creambyemute If it is a crash can you get the callstack? Also, was this after upgrading to 0.64 (just moved out of preview on Monday, hot off the presses :D)

@acoates-ms  / @NickGerleman Is there an other o

[2021-03-18 18:48] chrisglein opened #7425 "Upgrade RNW 0.65 to use WinUI 2.6 by default (when available)"
RNW currently pulls in 2.5 ([as of this change](https://github.com/microsoft/react-native-windows/issues/6182))

2.6 is coming. We'll want to start pointing to that once it's available.

A current preview here:
https://www.nuget.org/packages/Microsoft.UI.Xaml/2.6.0-prerelease.210217002

[2021-03-18 18:49] chrisglein commented on #7425
Related issue on making WinUI version more externally customizable: #7414

[2021-03-18 20:23] NickGerleman commented on #6494
Working on pushing out the announcement now

[2021-03-18 20:25] #7414 closed

[2021-03-18 20:44] rraczae commented on #7390
@chrisglein, @asklar thank you for the explanation, yes that definitely helps!

As far as unblocked, unfortunately I don't see a way right now how we could add windows as a third target to our recently built app. Long story short, we started with expo, we ejected and we have an android/ios app targeting tablets. Everything works great. The request now is to explore surface/win10 support hence we'r

[2021-03-18 21:04] NickGerleman commented on #6494
Announcement is out https://microsoft.github.io/react-native-windows/blog/2021/03/16/64updates

[2021-03-18 22:06] NickGerleman opened #7426 "Sync CLI Arg documentation for react-native-windows-init"
The version on the docs site has the flag for `--useWinui3` , but it is not included in the package.json README.

Neither the docs site or README has documentation for the `--useHermes` flag.

[2021-03-18 22:08] NickGerleman opened #7427 "Fix links in ExperimentalFeatures.props"
The file references links like [https://microsoft.github.io/react-native-windows/docs/0.64/hermes](), but even after publish, links with an explicit 0.64 don't seem to work. Need to fix these, and see if we can create a permalink.

[2021-03-18 22:33] AgneLukoseviciute commented on #7392
I couldn't get \bView\b working entirely, there was some strange behavior where the test would not click on some of the components after search was complete and get stuck. I tried adding logic for it to wait until the search was complete before attempting to click on the button, but that didn't seem to fix it.

The first thing I tried was scrolling the example button into view using [.scrollIntoVi

[2021-03-18 22:51] br4in3x commented on #7291
Hello @asklar, unfortunately nothing helped :( I've got other errors, along with the previous one. I made sure that nothing is cached on my environment, no temp files are left between attempts, and tried different approaches. All of them failed with similar errors.

Please find the output of three approaches I tried below:

1. Installed microsoft/react-native-windows from master with `pnpm add mic

[2021-03-19 00:16] chrisglein commented on #7390
It'd be super helpful to us to know which other compatibility issues you've hit. We've been trying to gather those together and drive priority on what is blocking people. Are these other modules like NetInfo? Core components that aren't working? Non-RN Windows stuff?

We haven't been able to close the gap on Expo support yet, which sounds like is what would really help you. But even knowing that i

[2021-03-19 01:47] NickGerleman opened #7429 "Link to curated release notes in patch release notes"
Right now our patch releases look like the below

![image](https://user-images.githubusercontent.com/835219/111719909-14894600-881a-11eb-9d33-ddc8cf49ed1a.png)

We have a high enough release frequency that the last major release is often off the first page. This makes it hard to find the manually curated documentation for an overall release. We can fix this by adding a description to the generated

[2021-03-19 01:49] NickGerleman commented on #5881
Created an issue for implementation with #7429

[2021-03-19 01:49] #5881 closed

[2021-03-19 01:53] NickGerleman commented on #7429
The code to do this is in [@rnw-scripts/create-github-releases](https://github.com/microsoft/react-native-windows/blob/master/packages/%40rnw-scripts/create-github-releases/src/createGithubReleases.ts) which is a pretty simple script. New versions of the script are automatically picked up by any previous branch.

[2021-03-19 06:26] tero-paananen commented on #7321
This works when uri is not encoded.
[code]

after uri is encoded to `file:///C:/Users/tepaa/AppData/Local/Packages/MyApp/LocalState/image%C3%A9.jpg` image is not shown

[code]

[2021-03-19 06:34] tero-paananen commented on #7321
But for example image with name `image#.jpg` can be encoded and it works

[code]

[2021-03-19 07:06] tero-paananen commented on #7321
I found that at least encoding `imagè` and `image=` are the special cases when image is not shown.

[2021-03-19 07:13] tero-paananen commented on #7321
Place where uri handling goes invalid is the call `winrt::Uri uri{Utf8ToUtf16(source.uri)};` in `ReactImage::Source()` in `ReactImage.cpp`

[2021-03-19 07:21] asklar commented on #7321
There's this note in the Uri doc: https://docs.microsoft.com/en-us/uwp/api/Windows.Foundation.Uri?view=winrt-19041#remarks

So I think that explains what you're seeing.

[2021-03-19 07:22] asklar opened #7430 "Compile with C++20"
We have a few files that don't compile with `/std:c++latest`, it would be good to get this building with latest for RWC

[2021-03-19 07:51] tero-paananen commented on #7321
You mean that `System.Uri` handles this encoding but we are now using `Foundiation.Uri` that does not handle encoding for example `è` ?

[2021-03-19 09:33] asklar commented on #7321
Correct, React Native Windows uses cppwinrt to interface with system WinRT APIs, specifically it uses Windows.Foundation.Uri, so it behaves different from how .NET System.Uri or JS's uri encoding/decoding does.

[2021-03-19 09:38] asklar commented on #7430
Also needs Folly fix: https://github.com/facebook/folly/pull/1542/

[2021-03-19 13:19] rraczae commented on #7390
@chrisglein sure! I will have some more time over the weekend and I can gather more info than just sending package.json.

About Expo, I think supporting most expo libraries would be a huge step forward. It is a really common use case that people start in expo so they can make quick progress and then eject.

About c#, that by itself can be a stopper for many. I am ok working in c++ although I have

[2021-03-19 17:06] asklar commented on #7390
@rraczae Just to clarify: you *can* still use the netinfo module (the C++ version) in a C# app written in RNW. The thing that's deprecated for C# is an old version of RNW where the framework was written in C# itself.
The current version of RNW (written in C++) supports modules and apps written in either C# or C++.

[2021-03-19 17:10] rraczae commented on #7390
Cool, then I just have to look into this more. I can add the project and the reference to the lib, but how would I register the cpp package in the C# app?

[2021-03-19 17:16] mMarcos208 commented on #1941
I have the same problem

[code]

This code always return true in Android Emulator.

Version 6.0.0

[2021-03-19 17:19] asklar commented on #7390
Yes, if you add the module to your package.json, run yarn, then autolinking will take care of the rest (it will add the right project references and generate code to register the package for you). You can run autolinking from the command line `npx react-native autolink-windows`, or when you build with `npx react-native run-windows` it will run automatically for you. Autolinking doesn't run if you

[2021-03-19 17:25] rraczae commented on #7390
Hmm. I did all that and ran autolinking multiple times yet it failed to resolve... the missing module exception only disappeared when i went through the manual steps (adding a reference to the project under node modules to the solution, manually registering the package)

[2021-03-19 17:27] asklar commented on #7390
Which version of RNW are you using? We just released 0.64, can you try that? It should work out of the box, if it does not that's something we need to fix : )

[2021-03-19 17:35] rraczae commented on #7390
Yessir I'll give that a shot over the weekend! I used .63. Thanks for the guidance much appreciated! Here are all my packages for the reference:

[code]

[2021-03-19 20:15] chiaramooney commented on #6287
Alright sorry for the delay! The issue stems from the perspective transform that exists at the root of RNW. Removing the perspective transform resolves the issue but that isn't a valid solution since we are reliant on the transform for other behavior. A workaround that should work for you is to disable perspective for your specific app via [ReactRootView.IsPerspectiveEnabled](https://microsoft.git

[2021-03-19 20:45] chiaramooney commented on #6287
PR out with docs updated to include workaround: https://github.com/react-native-webview/react-native-webview/pull/1927

[2021-03-19 21:00] #7171 closed

[2021-03-19 21:57] asklar opened #7434 "Port recent IDL doc updates to 0.64"
https://github.com/microsoft/react-native-windows/pull/7393 added a lot of great doc updates in master, we should make sure we port the relevant/applicable pieces to 0.64-stable and regenerate the docs

[2021-03-20 03:57] rendomnet opened #7436 "npx react-native run-windows not working error NuGet.targets(131,5): error MSB4181: The "RestoreTask" task returned false but did not log an error."
1. `npx react-native --version`: 5.0.1-alpha.2
2. `npx react-native info`: System:
    OS: Windows 10 10.0.19041
    CPU: (12) x64 AMD Ryzen 5 3600 6-Core Processor
    Memory: 25.46 GB / 31.95 GB
  Binaries:
    Node: 14.16.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.10 - ~\AppData\Roaming\npm\yarn.CMD
    npm: 6.14.11 - C:\Program Files\nodejs\npm.CMD
    Watchman: Not Found
  SDKs:

[2021-03-20 20:41] asklar opened #7437 "Autolinking is broken for react-native-webview"
Autolinking isn't working for react-native-webview. The module was added before we had the props/targets that we used to infer that something is a RNW module. Moreover, we have a bug in autolinking where projects that a module depends on, that are not themselves RNW modules, are not added to the solution.

[2021-03-21 00:18] asklar opened #7439 "Improve config schema validation"
Is the intention here to allow null but not empty string?

Maybe not for now, but I've noticed a lot of the schema validation code here is tricky. There are some libraries we use in other places to automate this (e.g. `io-ts`), where it's quite simple to define a schema as a TS type and check an object against it at runtime. Would be nice to look at something like that, since it would reduce bug-s

[2021-03-21 00:23] NickGerleman commented on #7439
Another library worth looking at here, that allows richer schema validation, but maybe not automatic TS types https://joi.dev/api/

[2021-03-21 00:38] asklar opened #7440 "When building x86 + x64, deploy of x64 wrongly deploys x86"
1. `yarn run-windows` --> builds and deploys x86
2. `yarn run-windows --arch x64` --> builds x64, but deploys x86

This is because our glob that tries to find the right app manifest/recipe includes both Debug (where x86 will place by default) and x64\Debug (where x64 will). We therefore find 2 recipes, and pick the first one which seems to prefer the shorter path always.

[2021-03-21 04:57] asklar opened #7442 "Simplify project creation flags"
Today we have a couple of flags in ExperimentalFeatures.props: UseWinUI3 and UseHermes.
We also have flags in the init CLI to pre-seed the app with values for these properties, and different content in other files (packages.config, project files, etc.)
Finally, we also have autolinking which is now able to modify projects and packages.config on-the-fly to point to the right WinUI package flavor.

[2021-03-21 04:57] asklar commented on #7426
See also #7442

[2021-03-21 10:09] kandabior opened #7443 "how to ignore certificates in a react native windows project?"

[2021-03-22 10:34] #7443 closed

[2021-03-22 12:07] BartoszKlonowski commented on #3742
@chrisglein Can you (or a team in general) take a look at this issue?
Does the RN or RNW support the localization?

[2021-03-22 13:38] kandabior opened #7445 "configuring certificates in visual studio for windows app not working"
## The Problem
In order to get an image from a camera using secured URL and the ```Image``` component I'm trying to configure certificates in visual studio, using the file Package.appxmanifest. In the "Decleration" tab I Added new certificate and installed it in the certificate store.
After those steps, I still could not get the image while in the browser, with ```--ignore-certificate-errors``` fl

[2021-03-22 16:18] NickGerleman commented on #3742
https://docs.microsoft.com/en-us/windows/uwp/app-resources/localize-strings-ui-manifest would be a good reference for string resources on the system level.

I don't think there's an exposed RN specific localization framework. For most components I think strings are handled app-level, or by the built-in component.

[2021-03-22 16:34] asklar commented on #7445
@kandabior

Can you clarify what this means? what browser are you referring to? and what are you passing `--ignore-certificate-errors` to?

[2021-03-22 16:40] #7437 closed

[2021-03-22 16:41] jonthysell opened #7446 "Scheduled publish for stable builds not running"
The ADO scheduler is not picking up that 0.64-stable needs to publish.

[2021-03-22 16:48] chrisglein commented on #7321
Based on that I think the uri encoding behavior observed here seems to be by design, correct? (we match the behavior of our dependencies)
@tero-paananen are you unblocked here?

[2021-03-22 17:05] kandabior commented on #7445
@asklar

In chrome browser there is an option to open https pages with the flag ```--ignore-certificate-errors``` in order to load unknown https pages. I mentioned that to clarify that the image can be loaded in the browser, but whenever I try to load the image in react native using the Image component there is a white screen.
I wonder if there is an option to ignore ssl errors in react native.

[2021-03-22 17:15] tero-paananen commented on #7321
I have to use our uri helper encoder function toPlatformEncodedUrl

[2021-03-22 17:17] asklar commented on #7445
The websocket API has a way to ignore cert errors, see e.g. [here](https://github.com/microsoft/react-native-windows/blob/9d552eb866c88910ac2e629c2430ce00bd36970c/vnext/Shared/WinRTWebSocketResource.cpp#L96-L101).
However this is not exposed to ImageSource's Source property or [BitmapImage ctor](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.media.imaging.bitmapimage.-ctor?view=winrt-190

[2021-03-22 17:56] #7430 closed

[2021-03-22 18:10] chrisglein commented on #7436
Glad to see you jumping on 0.64! Sorry it didn't go smoothly.
Looks like you ran the dependencies script, which would otherwise be the first thing to check here.

1. There should be additional logging in addition to that error statement. Can you include more of the `run-windows --logging` log? That'll give us more info (you can collapse with `<details></details>` in the issue comment.
1. Can you t

[2021-03-22 18:13] chrisglein commented on #7445
I think the answer to this is no, currently. The underlying XAML platform doesn't support this, so React Native for Windows can't.

If this a developer scenario you can install the cert to workaround this.

[2021-03-22 18:13] #7445 closed

[2021-03-22 18:18] chrisglein commented on #3742
This should call through to native, not use anything RN specific. We don't today have localized resources for RNW. The first time we need to do that it'll have some definite startup cost. However if it exists in XAML or somewhere in the system then we should be able to pull in an existing localization (which for 'OK' should already exist).

[2021-03-22 18:30] SBS-FPATE-RINALDI opened #7448 "react-native-windows run via command line not working with VS 2019 Enterprise msbuild - "No public VS release found""
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 5.0.1-alpha.2
2. `npx react-native info`:
System:
    OS: Windows 10 10.0.19041
    CPU: (8) x64 Intel(R) Core(TM) i7-10610U CPU @ 1.80GHz
    Memory: 7.03 GB / 15.61 GB
  Binaries:
    Node: 14.15.5 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.5 - C:\Program Files (x86)\Yarn\bin\yarn

[2021-03-22 18:31] chrisglein commented on #7427
That's pretty annoying :(. Will Docusaurus v2 maybe help with this? We should check out whether we can do better permalinks once we update to that.

[2021-03-22 18:33] chrisglein commented on #7426
Note missing [here](https://microsoft.github.io/react-native-windows/docs/getting-started#install-the-windows-extension) in the docs.

[2021-03-22 19:55] SBS-FPATE-RINALDI commented on #7448
Figured out that my Visual Studio did not have the C++ development tools installed causing the issue...recommend to list this as a dependency on the website or mention it in the error output. I personally didn't know that VCtools meant the C++ dev tools.

[2021-03-22 19:55] #7448 closed

[2021-03-22 20:49] kandabior commented on #7445
So in case that there is not option to ignore the certification errors, The main question is how can I configure SSL certificate in react native project?

[2021-03-22 20:51] asklar commented on #7448
@SBS-FPATE-RINALDI curious where the VCtools mention came from? If you ran the rnw-dependencies script mentioned on the instructions, it should have installed the C++ tools too.
https://microsoft.github.io/react-native-windows/docs/rnw-dependencies

[2021-03-22 21:37] asklar commented on #7445
That's more of a question for either the XAML project or UWP platform. It's unclear whether the code that the BitmapSource(Uri) constructor uses would use a certificate embedded into the package like this, or if it is a missing feature. Can you file a bug in the XAML repo instead?
https://github.com/microsoft/microsoft-ui-xaml/issues/

[2021-03-22 22:52] emanuelmartin opened #7451 "Error on metro server after "successfully" loading app"
## Error
Error: EISDIR: illegal operation on a directory, read
    at Object.readSync (fs.js:592:3)
    at tryReadSync (fs.js:366:20)
    at Object.readFileSync (fs.js:403:19)
    at UnableToResolveError.buildCodeFrameMessage (C:\Users\emanuelmartin\Documents\git\pruebahrsl\node_modules\metro\src\node-haste\DependencyGraph\ModuleResolution.js:347:17)
    at new UnableToResolveError (C:\Users\emanu

[2021-03-22 22:57] emanuelmartin commented on #7451
Actual package list:

{
  "name": "pruebahrsl",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "android": "react-native run-android",
    "ios": "react-native run-ios",
    "start": "react-native start",
    "test": "jest",
    "lint": "eslint .",
    "windows": "react-native run-windows"
  },
  "dependencies": {
    "@react-native-community/masked-view": "^0.1.10",
    "moment": "^2.

[2021-03-22 23:11] jeanmaried commented on #7451
I have the same issue when creating a base app by following the Get Started guide [here](https://microsoft.github.io/react-native-windows/docs/getting-started).

Steps to reproduce:
1. npx react-native init <projectName> --template react-native-template-typescript
2. cd projectName
3. npx react-native-windows-init --overwrite --language cs
4. npx react-native run-windows

Some side notes. When usi

[2021-03-23 01:46] emanuelmartin commented on #7451
@jeanmaried Dunno if it's gonna work, but running `npx react-native init <projectName> --template react-native@0.64.0` without the *^0.64* and running PowerShell as admin fixed the problem for the default react-native-windows template.
Gonna try with with my project files.

[2021-03-23 11:04] dgellow commented on #7451
Hey there. I face the same issue. After [some investigation](https://github.com/react-native-community/react-native-template-typescript/issues/198#issuecomment-804314841) I found out that there is a bug in metro which results in the actual error being misreported: https://github.com/facebook/metro/pull/567/files.

After patching `metro` to handle `EISDIR` correctly the actual error seems to be som

[2021-03-23 16:03] NickGerleman commented on #7451
Thanks for pulling that up @dgellow!

Looks like `@react-native-community/cli` pulls in metro 0.64, and this issue is fixed in metro 0.65. I expect this will also effect RN 0.64 for Android/iOS, and will ping some folks to understand if the CLI can pull in a newer version of metro.

[2021-03-23 17:06] emanuelmartin commented on #7451
So will `npm install metro@0.65`fix the bug? Sorry if it sounds so dummy, I have no that much experience :(

[2021-03-23 18:59] dgellow commented on #7451
Hmm, I'm not so sure updating only `metro@0.65` would fix the underlying problem, but I don't really know.

I tried to add the following config in my `package.json` but that didn't fix the problem:

[code]

  Let's wait and see what the React Native CLI folks have to say.

[2021-03-23 21:00] chrisglein commented on #7451
I also hit this. I noticed that in the error text what was my app name (let's say "camelCase") was losing capitalization ("camelcase"). When I created an app name that doesn't have capitalization it works ("asdf").

So, there's a workaround at least while we figure this out.

[2021-03-23 21:05] chrisglein commented on #7451
@emanuelmartin , @jeanmaried , @dgellow and whoever is hitting this: can you confirm what the project name was that you passed to `init`?
(e.g. I tried "githubDashboard" and it hit this error and I tried "src" and it was fine (terrible name for an app though 😅))

Also note, you can't use hyphens either :/ (anyone have the bug link on that? not an RNW issue)

[2021-03-23 21:07] emanuelmartin commented on #7451
I did first a pruebaWin and then noted the caps error, so I made a new one named as pruehahrsl.
Still having the issue 😪

[2021-03-23 22:38] jonthysell commented on #7451
I think this was broken by https://github.com/react-native-community/cli/pull/1370

They have put package.json and app.json out of sync.

I repro the issue if I do this:
[code]

In package.json the project name is `progressapp`, but in app.json the name is `ProgressApp`. All of the android/ios files key off the `progressapp` name, however `index.js` registers the App component as `ProgressApp`.

O

[2021-03-23 22:52] acoates-ms commented on #7451
Sounds like we should be using the value from app.json instead of the one from package.json?  -- What does android/iOS do?

[2021-03-23 23:17] jonthysell commented on #7451
Yeah, we need to use the value from package.json for generating file names, and the value from app.json for the ComponentName that the ReactRootView loads. Working on a fix now.

[2021-03-24 03:37] NickGerleman commented on #7451
Know why we would still be seeing this error on Android + OS X?

[2021-03-24 04:13] asklar opened #7465 "[NuGet] creating app with NuGet should not bring down RNW npm package"
It should not be necessary to have two "sources of truth", the nuget packages should have everything that's needed. This also eliminates having to do version match checks at build time.

[2021-03-24 05:42] NickGerleman commented on #7451
Should only affect 0.64 so removing the 0.63 tag.

[2021-03-24 05:48] NickGerleman commented on #7465
We will still need the npm package for everything that's not native library code. E.g. all of the JS sources, the CLI, etc. I don't imagine we could remove it.

PackageReference would eliminate the need for version matching bc that lets us declare the dependency within the npm package instead of the template. We can't really do that though for C++. At some point Danny and I were talking about what

[2021-03-24 05:49] NickGerleman commented on #7465
Alternatively, if we did do more build time codegen (e.g. what autolinking does), we could maybe have the npm package write to packages.config to make the version changes more automatic.

[2021-03-24 06:47] asklar commented on #7465
What i'd like to see is us shipping a "partial bundle" that contains all of the JS that RNW/RN/R.js provide, which can then be combined with the app's own dependencies+app code to form the bundle. Kind of like when you use an SDK, you don't *usually* have to recompile everything from scratch, you just compile your own things and link it together with the SDK.

[2021-03-24 08:18] #7440 closed

[2021-03-24 09:30] dgellow commented on #7451
@chrisglein Wow, you're right! I created a new project using a lowercase name and everything seems to work fine.

[2021-03-24 14:36] NickGerleman opened #7467 "Update @types/react-native to 0.64"

[2021-03-24 14:47] NickGerleman commented on #7465
I'm having trouble understanding what this would look like in terms of JS dev experience, where these deoendencies would be bundled in a NuGet package, external from typical node_modules structure. I expect this would fight pretty hard against what is established (both in RNW and the community), but would love to hear more if you have a proposal on what this could look like.

Office internally has

[2021-03-24 14:50] jeanmaried commented on #7451
@chrisglein I used Test1 and Test2. I will give it a try all lowercase next time.

[2021-03-24 18:24] jonthysell opened #7468 "Add generateWindows tests."
# Proposal: [your title here]

## Summary

## Motivation

## Basic example

## Open Questions

[2021-03-24 18:27] jonthysell opened #7469 "Add CLI generateWindows unit tests"
We should have unit tests that run generateWindows and verify the files contain the expected replacements

[2021-03-24 21:59] NickGerleman commented on #7451
Keeping this open bc the referenced PR deals with an issue this one covers, but doesn't address the specific metro error showing erroneously.

[2021-03-25 08:27] asklar commented on #7469
is this the same as #7468 ?

[2021-03-25 08:29] asklar commented on #7451
@NickGerleman @jonthysell Is the remaining issue a Metro issue? If so, is there a Metro bug tracking it?

[2021-03-25 15:34] NickGerleman commented on #7451
There was a bug resolved in Metro linked above that's the likely culprit, but the community CLI is bringing in an older version of metro. Some discussion on the #releases channel but I'm not sure anyone is actively looking at it yet.

[2021-03-25 17:43] NickGerleman commented on #6494
Going to close this out. Last item was gallery 0.64, which there is now a PR out for.

[2021-03-25 17:43] #6494 closed

[2021-03-25 20:31] SBS-FPATE-RINALDI commented on #7448
@asklar Sorry for the late reply. the VCTools mention came from the error produced above. You can see it mentioned in the section I have bolded.

I did run the rnw-dependencies script a couple of times, and it did have a missing dependency found with msbuild and Visual Studio. When I agreed to have it fix these dependencies, it looks like it did something but I would run the script again and it wo

[2021-03-25 21:44] dgellow commented on #7436
Hi @chrisglein. Maybe I can help a bit here, I'm getting the same issue `NuGet.targets(131,5): error MSB4181` on one of my machine (but not on the other).

I did the same steps @rendomnet wrote in the description (and documented at https://microsoft.github.io/react-native-windows/docs/getting-started).

When running `npx react-native run-windows --logging` I get the following (it's a HUGE log):

<

[2021-03-25 22:00] dgellow commented on #7436
Oh, `(Admin) PS > choco install nuget.commandline` did the trick for me!
I'm not sure why that was necessary but that works. Still, I do not have nuget.exe on my other machine but it can build without issues.

@rendomnet could you try to do the same and see if that fixes your issue?

[2021-03-26 16:54] rozele commented on #7403
@chrisglein - actually no, turns out current RNW behavior matches iOS behavior. Closing for now.

[2021-03-26 16:54] #7403 closed

[2021-03-26 18:31] NickGerleman opened #7485 "Update RN Peer Dependency Until First Non-RC Release"

[2021-03-26 18:45] asklar opened #7486 "Remove deprecated APIs in 0.65"
The content here reflects what is in the code repo master branch. The work to remove these APIs has not been done. I don't believe we have bugs tracking it but we should.

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows-samples/pull/421#discussion_r602517801_

[2021-03-27 01:35] asklar opened #7487 "C# apps/modules cannot use JSI"
We currently have 2 JSI APIs:
- WinRT API, usable from C++ and C#. See e.g. [IJsiHostObject](https://microsoft.github.io/react-native-windows/docs/next/IJsiHostObject). However, this API is going away
- facebook::jsi API, and associated Microsoft.ReactNative.Cxx APIs. These are not ABI-safe and are C++ only.

Filing this issue to track the fact that we need a solution for C# too.

[2021-03-27 02:15] asklar opened #7488 "JSI object properties from HostObject become non-enumerable"
Implement facebook::jsi::HostObject
call `JSON.stringify(myNativeObj)`
this correctly calls into your getPropertyNames
However, the properties are marked as non-enumerable so the object is made opaque

[2021-03-27 03:06] asklar commented on #7488
Looks like the hostobject proxy is missing the [getOwnPropertyDescriptor](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/getOwnPropertyDescriptor) trap.

[2021-03-27 13:24] #7488 closed

[2021-03-28 00:27] dingbo8128 opened #7491 "Support react-native-video on Mac"

[2021-03-28 03:55] Losses commented on #2424
As expo-gl bring webGL api to ReactNative, I'm not sure if React Native for Windows could support it.

[2021-03-28 10:08] asklar commented on #7491
should be filed in https://github.com/microsoft/react-native-macos/ instead :)

[2021-03-29 18:15] chrisglein commented on #7487
Does this affect when `IJsiHostObject` can go away? Sounds like we have no solution for C# here. @vmoroz did you have any thoughts on how this should be addressed?

[2021-03-29 18:18] chrisglein commented on #7485
Sounds like the history of this is an issue where mixing requiring a prerelease version of RN and a release version of RNW caused issues. We could add warnings/requirements about these dependencies. @NickGerleman can you fill in the description with a bit more detail on what should be changed?

[2021-03-29 18:20] chrisglein commented on #7468
Duplicate of #7469

[2021-03-29 18:20] #7468 closed

[2021-03-29 18:22] chrisglein commented on #7467
This should be bringing the community typings into our repo.

[2021-03-29 18:24] chrisglein commented on #7467
Not expected to be externally consumed so not critical to backport this to 0.64.

[2021-03-29 18:32] chrisglein commented on #7436
@rendomnet Have you tried the workaround above?
Do you have a nuget.config? Alternatively the command `nuget sources` can be run before you restore.

[2021-03-29 19:33] softwarehangar7 commented on #7436
I did try the workaround above `choco install nuget.commandline`, and it didn't work

[2021-03-29 22:04] chrisglein commented on #6806
@asklar I think we're updated with all changes that have gone through to date, yes? There are still API documentation needs, but as part of backporting those we can request they update the docs on as well, yes? Do we need to track anything more with this specific issue?

[2021-03-29 22:07] asklar commented on #6806
The changes to the docs went into master but they have not been backported to 0.64 yet; most of it should be backportable, but some APIs are 0.65 only, so there needs to be some manual work to ensure the right APIs get documented.

[2021-03-30 03:13] rendomnet commented on #7436
@chrisglein
After `choco install nuget.commandline`

 npx react-native run-windows --logging

[code]

[2021-03-30 06:31] dgellow commented on #7436
- Have you tried to create a new project from scratch?
- Have you already tried to uninstall visual studio and other requirements, restart, then follow again the installation process using the installation script? The only error I see in your logs is `error APPX1204: Failed to sign` which is an error from Visual Studio.

[2021-03-30 20:00] harinikmsft commented on #7330
+1 on the proposal for `clearTextOnSubmit` - that seems super straightforward and just goodness to do. I would encourage that being added to all platforms and not just not Windows - I can't see a reason why any platform would not want that.

As for `submitKeyEvents` - not sure how that is any different than the more generic `keyDownEvents` property as outlined in the keyboarding spec [here](https:

[2021-03-31 00:10] rectified95 opened #7500 "onKeyDownCapture/onKeyUpCapture events are missing"
As specified here - https://github.com/microsoft/react-native-windows/blob/master/vnext/proposals/active/keyboard-reconcile-desktop.md - we should be firing both onKeydown and onKeyDownCapture events (corresponding to KeyDown and PreviewKeyDown XAML events).

Currently, we only fire onKeydown/onKeyUp (the bubbling events), **and we do it in the capture phase** (in the Preview handlers)

**UPDATE**

[2021-03-31 00:16] rectified95 opened #7501 "keyDownEvents/keyUpEvents props are broken"
Per our spec (https://github.com/microsoft/react-native-windows/blob/master/vnext/proposals/active/keyboard-reconcile-desktop.md) we should be exposing `keyDownEvents/keyUpEvents` on View (and TextInput?) in order to allow control over which keys are of interest to the JS side and should entail native events getting fired.

Currently, the inverse behavior is implemented - the set of keys specified

[2021-03-31 19:39] rozele commented on #7330
@harinikmsft - `submitKeyEvents` is a workaround to a hard-coded limitation that is specific to TextInput. In TextInput, the only key that is allowed to trigger the `onSubmitEditing` event is the `Enter` key, and currently this would only work for single-line TextInput, as AcceptsReturn property on multi-line TextInput would handle the `Enter` key and prevent the current event handler from firing:

[2021-03-31 21:45] rectified95 opened #7504 "Press events broken for nested Text"
https://github.com/microsoft/react-native-windows/pull/5125 introduced a mechanism to fire press events for nested Text elements. It didn't handle the case where eg. a Hyperlink was a child element of Text, which https://github.com/microsoft/react-native-windows/pull/6692 fixed. In doing so, it broke the original functionality of nested press events, though.

[2021-03-31 21:50] rectified95 commented on #7504
This is happening because #6692 tests if elements are instances of FrameworkElements to prevent erroneous retrieval of Tag eg. from Hyperlink. However, this ends up aborting the entire iteration over TextBlock's set of Inline elements, since they're not FE either.

[2021-03-31 23:51] rozele commented on #1679
Reviving an oldie-but-goodie. This remains to be true in vnext.

[2021-03-31 23:57] rozele commented on #1679
For now, we're using option 2 from the description above, but it's somewhat limiting that the ABIViewManager derives from FrameworkElementViewManager. Honestly option 2 doesn't need to be a core feature if we fixed https://github.com/microsoft/react-native-windows/issues/5539. Ideally we would be able to create ViewManagers that returned DependencyObjects as opposed to only FrameworkElements.

I e

[2021-04-01 04:41] vmoroz commented on #6748
The docs are written in PR #7393, The 0.64 port is the PR #7503

[2021-04-01 04:42] vmoroz commented on #6468
Closing as not actionable.

[2021-04-01 04:42] #6468 closed

[2021-04-01 04:50] vmoroz commented on #6066
We cannot do much here: the NM design does not support any signature verification. It is the reason why in MS Office we have created Reka, and the future react-native direction is the TurboModules. While we cannot do much with NM verifications, we can proceed with TurboModules and/or open source Reka.
Our current TurboModule specs are compatible with NM implementation, and it can be used immediate

[2021-04-01 04:50] #6066 closed

[2021-04-01 04:55] vmoroz commented on #4407
I had investigated this issue last year and I did not find a solution that does not significantly increases the complexity. We will keep the current "not verifiable" approach unless there are more requests to address it from customers.

[2021-04-01 04:55] #4407 closed

[2021-04-01 04:58] vmoroz commented on #4545
Many of the points above are outdated:
- It is not realistic to change the API anymore
- Many API improvements were already implemented since this task created.

Closing this task as not actionable.

[2021-04-01 04:58] #4545 closed

[2021-04-01 06:05] asklar commented on #6748
@vmoroz main thing I wanted to capture in this issue, if I remember correctly, were the threading requirements; do we have those in the docs?

[2021-04-01 06:24] vmoroz commented on #6748
@asklar, I misunderstood the issue: I thought it is referring to documenting IReactSettingsSnapshot interface that was also required to be documented at that time.
The title of this issue is misleading. There are no ReactNative.InstanceData.* properties that we want to document. Many of them are used internally and ideally should not be used directly by module writers.
Could you please update the

[2021-04-01 06:43] asklar commented on #6748
_refreshing my own memory_ :)
I think the InstanceData properties that the issue refers to are these properties: https://github.com/microsoft/react-native-windows/blob/91fcecf2947f4db638f795ed46640f5adbc9520d/vnext/Microsoft.ReactNative.Cxx/JSI/JsiApiContext.cpp#L37

If these properties are an internal implementation detail and we don't expect modules/apps to ever interact with them then that's fi

[2021-04-01 15:14] vmoroz commented on #6748
This is the current implementation detail where we use a dedicated thread to run JavaScript code for each instance. It should be OK for cases when the whole App uses a few React instances. But when we use ReactNative as plugins for Office, it may cause inefficient resource usage. Ideally we must switch off the dedicated thread model.

As for the comment above **But they must use different threads*

[2021-04-01 16:05] asklar commented on #6748
Sounds good to me, updating title

[2021-04-01 18:53] vmoroz opened #7505 "Avoid comment duplication with a macro in JsiAbi.idl"
Good point! Though, this is not C++, but we should definitely be able to use to use a #define macro. Let me do it in another PR for master first and then port it to 0.64.

_Originally posted by @vmoroz in https://github.com/microsoft/react-native-windows/pull/7503#discussion_r605875648_

[2021-04-01 18:55] #7185 closed

[2021-04-01 18:57] vmoroz opened #7506 "Document IReactContext behavior for unloaded React instance"
We cannot dereference it because we never expose the wrapped up React instance. Though, the behavior of the IReactContext is going to change if we cannot dereference the React instance anymore. We need to document what will work or not work in such case.

_Originally posted by @vmoroz in https://github.com/microsoft/react-native-windows/pull/7503#discussion_r605878471_

[2021-04-01 23:36] Oscar-Santacruz commented on #7376
I'm working on this

[2021-04-02 02:53] stackzzcryp3c opened #7508 "Needwin.ui"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:
2. `npx react-native info`:

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1.
2.

## Expected Results
Describe what you expected to happen.

## Snack, code example, screenshot, or link to a repository:
Please provide a Snack (https://snack.expo.io/), a l

[2021-04-02 04:21] rendomnet commented on #7436
@dgellow
1. yes.
2. uninstall Visual studio?
![image](https://user-images.githubusercontent.com/18900210/113380115-28e24c80-939d-11eb-8dac-2228ac743b37.png)

[2021-04-02 09:01] dgellow commented on #7436
The install script for react-native-windows (`https://raw.githubusercontent.com/microsoft/react-native-windows/master/vnext/Scripts/rnw-dependencies.ps1`) installs [Visual Studio 2019](https://visualstudio.microsoft.com/) and other dependencies via [Chocolatey](https://chocolatey.org/). You might try to uninstall them, either via the choco command line (from an admin console) or manually via the W

[2021-04-02 10:05] RekiDunois opened #7510 "Can react native windows use WinUI3 Desktop project Instead of UWP?"
I follow what [doc](https://microsoft.github.io/react-native-windows/docs/getting-started) said to add `--useWinUI3` flag while using `npx react-native-windows-init`. And I got a UWP project. I think WinUI3 is able to create the Desktop App, how could I do that while using react native windows?

[2021-04-02 16:32] dgellow opened #7517 "Call to native function crashes the application with no exception or error log"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 5.0.1-alpha.2
2. `npx react-native info`:

[code]

## Some Context

I'm experimenting with Native Modules and implemented a simple function that plays a sound by calling [Windows.UI.Xaml.ElementSoundPlayer.Play()](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.elementsoundplayer.

[2021-04-02 18:36] chiaramooney commented on #6287
See [here](https://github.com/microsoft/react-native-gallery/blob/88601c3f9caa4b3fd5e496db81f7e89f2d7ba006/windows/rngallery/MainPage.cpp#L19) for code needed to disable perspective for the app.

[2021-04-02 18:36] #6287 closed

[2021-04-02 18:47] Omar-Belghaouti opened #7518 "borderXWidth & borderXColor need to be implemented!"
For some reason ```borderRightWidth``` and ```borderRightColor``` (and all other sides) are not working on windows. It would be helpful for having more flexibility for styling the app.

[2021-04-02 18:50] Omar-Belghaouti commented on #7510
Of course, check the [the docs](https://microsoft.github.io/react-native-windows/docs/getting-started)!

[2021-04-02 19:45] Oscar-Santacruz commented on #7376
Is there a variable with the name "JSBigAbiString" or do you reference variables in the js scripts?

[2021-04-02 19:57] sparmar-atheer opened #7519 "Developing for HoloLens 2"
Can I use Microsoft React Native framework to develop app for HoloLens 2?

[2021-04-02 22:56] NickGerleman commented on #7376
Closing as per comments in https://github.com/microsoft/react-native-windows/pull/7520

[2021-04-02 22:56] #7376 closed

[2021-04-03 02:05] vmoroz commented on #7376
@asklar, @chrisglein, @NickGerleman, it is unfortunate that this issue was marked as a "Good First Task". Generally, it is OK to look for the dead code inside of the Microsoft.ReactNative.dll project. Any other code especially in the Shared project needs to be double checked for being used in the react-native-win32.dll. Even if we have classes that may not be referenced directly, we must check the

[2021-04-03 02:16] vmoroz commented on #7517
@dgellow, what is the threading requirement for that API that must play sound? We execute all native module methods in a background thread where we execute the JavaScript code. In case if this API requires UI thread, we should use the ReactContext.UIDispatcher.Post method to schedule the work in UI thread. To access the ReactContext we use an Initialize method with the REACT_INIT attribute.
- An e

[2021-04-03 02:20] vmoroz commented on #7510
I am not sure if can create the whole Desktop app. I would defer the definite answer to @asklar .
I just want to say that we usually use RN in a desktop app as XAML island and you can see how we do it in this sample project: https://github.com/microsoft/react-native-windows/blob/master/packages/playground/windows/playground-win32.sln

[2021-04-03 02:29] vmoroz commented on #7487
@chrisglein , @asklar , yes, this what I am working on lately: I am implementing C-based NAPI from Node.js for our JS engines and to be used by native modules. These APIs can be  wrapped by .Net code. The goal is to make NAPI to be the ABI-safe APIs and then have C++ NAPI wrappers and JSI to be two choices for C++ developers, and to create .Net wrapper classes for C# developers. Ideally no one sho

[2021-04-03 02:32] vmoroz commented on #7434
Ported in PR #7503.

[2021-04-03 02:32] #7434 closed

[2021-04-03 02:37] vmoroz commented on #7372
We must delete this API in 0.65. Let's not invest more in it.

[2021-04-03 02:39] vmoroz commented on #7370
@asklar, these APIs must not be used directly. Please use the Facebooks's JSI API instead. I recommend closing this issue.

[2021-04-03 02:41] vmoroz commented on #7510
This issue #7359 maybe related to your question.

[2021-04-03 02:48] vmoroz commented on #7324
@creambyemute, we have the 0.64 already released and you can use the new APIs.
In 0.63 as a work around for the code-push module we just stored the ReactNativeHost instance inside of the ReactInstanceSettings.Properties and then access it from the native module ReactContext.Properties.
It creates a reference loop, but it should be OK if there is only one ReactNativeHost per app. Otherwise, it must

[2021-04-03 03:09] vmoroz commented on #2120
I wonder if we have any data that shows that std::map slows down RNW code. I would be more concerned with the binary sizes. Any additional library that we add to our code has a risk to increase the size of binaries. With many current scenarios the size of the RN code is often one of the biggest questions we usually must answer, especially on mobile platforms and entry-level laptops.
@BartoszKlonow

[2021-04-03 04:09] asklar commented on #7376
@vmoroz can you provide a list of files used by Office? I'm reality this repo should not need to concern itself about Office internals so I'm wondering if there's a short term plan we can put in place to decouple

[2021-04-03 04:14] asklar commented on #7510
Hi @RekiDunois, we don't currently support the kind of desktop app available with Reunion 0.5.

To hopefully clarify, there are 3 kinds of apps:
- UWP - available with WinUI 3 prerelease package and system XAML. We have templates for this.
- Xaml islands - available with WinUI 3 prerelease package and system XAML. No templates.
- Desktop apps - new type of app for Reunion, not yet supported/tested

[2021-04-03 04:14] asklar commented on #7510
Duplicate of #7359

[2021-04-03 04:14] #7510 closed

[2021-04-03 05:09] vmoroz commented on #7376
+@Khalef1, +@acoates-ms

@asklar, let's consider all current files are being used by RN for Windows. The JSBigAbiString is not internal to Office - it is part of the react-native-win32.dll public API and exposed by the .def files. It has the same purpose or reason to be as any other file such as ReactNativeHost.idl.

Currently RNW targets several Windows platforms: UWP, XAML islands, WinUI 3, and

[2021-04-03 09:13] dgellow commented on #7517
That's a good question. I would generally assume that playing sound doesn't have to be done on the UI thread and a background thread should be fine but given that `ElementSoundPlayer` is in the namespace `Windows.UI.Xaml` that may actually be a requirement? Honestly I'm not sure where to find that information, I checked various MSDN pages regarding UWP and WinUI documentation and did not find anyt

[2021-04-03 10:30] dgellow commented on #7517
Sorry if I'm a bit verbose here, I'm still fairly new to the tooling, WinRT, and Windows development in general and find it useful to write down in details what I found.

## Debugging the crash

So, I attached Visual Studio debugger to the process, then triggered the issue by clicking on one of the button of my example.

I can see that my call to `winrt::ElementSoundPlayer::Play(sound)` (see [here

[2021-04-03 14:58] rozele opened #7523 "KeyboardEventHandler behaves differently on UWP and XAML Islands"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Open RNTester from playground-win32.sln
2. Load the Text Input component example
3. For any of the examples, add keyDownEvents for a key that would result in text changing in the TextBox (e.g., `keyDownEvents={[{code: 'KeyC'}]}`
4. Try to type that character in the Win32 XAML Islands Playground, the TextBox will n

[2021-04-03 20:01] asklar commented on #7517
@dgellow that error code (-2147417842) represents [0x8001010E](https://docs.microsoft.com/en-us/previous-versions/aa505946(v%3dmsdn.10))

RPC_E_WRONG_THREAD | The application called an interface that was marshalled for a different thread.
-- | --

So indeed, this API has thread affinity and must be called from the UI thread, by using the UIDispatcher property as Vlad mentioned.

[2021-04-03 20:14] asklar opened #7524 "ViewManagerBase overwrites layout properties for community modules"
1. View manager implements `IViewManagerRequiresNativeLayout` and creates a BitmapImage, e.g. like this:
[code]
At this point the image has the right size.

2. Then ViewManagerBase in RNW goes to do layout and runs through this logic in ViewManagerBase::SetLayoutProps:
https://github.com/microsoft/react-native-windows/blob/ce85295fb12b5762b2eecd79635dd86f39747edd/vnext/Microsoft.ReactNative/Views/

[2021-04-03 22:44] vmoroz commented on #7517
@dgellow, could you try changing your code as the following:

### header file
[code]

### .cpp file
[code]

I am adding accepting the `reactContext` and then calling the API in UI thread.

(Note that the ';' after the REACT_MODULE, REACT_INIT, and REACT_METHOD macros is optional - we were adding it in the past for better automated code formatting. If formatting works without them, then they can om

[2021-04-04 13:30] dgellow commented on #7517
@asklar I see, that makes perfect sense then! The exception being reported at the same line as the check for `impl::error_not_implemented` mislead me. Thanks for pointing that out and sharing the documentation link :)

@vmoroz Yes, that works great! Thank you very much, I can now play sound successfully 😊

Is there documentation regarding `REACT_INIT` and the `ReactContext`, or is it too early and

[2021-04-04 13:30] #7517 closed

[2021-04-04 13:32] dgellow commented on #7517
@vmoroz It's a detail, but given that you mentioned it: at least in my case Visual Studio doesn't format my code correctly if I remove the `;` after `REACT_*` macros.

[2021-04-04 14:55] softwarehangar7 commented on #7436
Fixed this issue by registering nuget package source.
run `Get-PackageSource` on powershell to check your current package sources.
register the nugget package source if it is not available `Register-PackageSource -Name MyNuGet -Location https://www.nuget.org/api/v2 -ProviderName NuGet -Trusted`

Start project from scratch

[2021-04-04 17:04] asklar commented on #7517
We've had this issue open to tract the REACT_INIT and related macros: microsoft/react-native-windows-samples#254

For IReactContext docs, please see https://microsoft.github.io/react-native-windows/docs/IReactContext

[2021-04-04 18:41] Stevemoretz opened #7527 "Linux support and current stability"
Hi I want to know if normal codes in react native like using View and other components are exactly the same here?

So custom libraries will work on this too.

Also now that you've added support for macos, will you add support for Linux later?

[2021-04-05 00:36] asklar commented on #7527
There is no plan to add support for linux (#4823 covers this too).
Custom libraries that don't depend on native controls (i.e. JS only) would work. Libraries that require the native platform need a Windows-specific implementation. You can find out whether a library has added Windows support here: [Supported community modules](https://microsoft.github.io/react-native-windows/docs/supported-communit

[2021-04-05 00:36] #7527 closed

[2021-04-05 00:41] asklar commented on #7519
Our team hasn't done it directly, but it has been done by folks working on VR :) You can reach out on the [Babylon](https://github.com/BabylonJS/BabylonReactNative) repo. @chrisfromwork fyi.

[2021-04-05 00:41] #7519 closed

[2021-04-05 05:47] Stevemoretz opened #7529 "Nodejs support"
I used electron before and I've used react native before, electron let's you just nodejs functions and everything and react native doesn't.Because well on Android and ios why would you need it anyways.

But since this is macos+windows implementation it would be great to bring life to nodejs environment and use its incredible functions and support.

Is it possible right now?
Or will it ever be poss

[2021-04-05 13:46] rozele opened #7534 "Virtual text children overwritten when no textTransform specified"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Apply the repro from this commit to RNTester: https://github.com/rozele/react-native-windows/commit/cda922d71b7913a12f5648c8515fc8a7f1326a80
2. Open the Text component example
3. Notice that the last line in the textTransform example should be "xYz" but is instead "zYz".

## Expected Results
The last line of the t

[2021-04-05 14:24] rozele opened #7535 "The 'textTransform' prop is shallow and not applied from root TextBlock"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Apply the repro from this commit to RNTester: https://github.com/rozele/react-native-windows/commit/d5036febe389ff8ecd12c140503f718598b9c3a1
2. Open the Text component example
3. In the textTransform example, the third-to-last line should be "ABC" but is "ABc"
4. In the textTransform example, the second-to-last li

[2021-04-05 16:21] jaimecbernardo opened #7537 "Some native module features stop working when building for Release on 0.64"
Some native module features that were working on react-native-windows 0.63 and when building for Debug in 0.64, fail when building for Release in 0.64.

This causes some apps that rely on native modules unexpectedly unable to run when built for Release. For example, [react-native-gallery](https://github.com/microsoft/react-native-gallery/) shows a blank screen if you build it for Release after it

[2021-04-05 18:12] chrisglein commented on #7537
Not sure if these are the right ways to get these constants:
```UIManager.RNSimple.Constants.SimpleConstName;```
```UIManager.RNSimple.Commands.doSomething;```

There's a specific function to get these, and there may have been a break in behavior between 0.63 and 0.64.
@vmoroz @acoates-ms Do you know what the right API is?
It also seems like we are lacking documentation on this :(

[2021-04-05 18:25] chrisglein commented on #7518
Yep, not yet implemented yet. You can track on the issue below:

Duplicate of #3077

[2021-04-05 18:25] #7518 closed

[2021-04-05 18:28] chrisglein commented on #7504
@rectified95 I think you have a PR for this. Can you link it?

[2021-04-05 18:30] chrisglein commented on #7501
May not be breaking as before the PR above those callbacks weren't available.

[2021-04-05 18:32] chrisglein commented on #7500
There's some question about whether RN handles this for us through its own event system. May already be handled. Add a test that validates this?

[2021-04-05 18:36] chrisglein commented on #1679
@rectified95 You've got a change to restore the pressable events on nested text. See if `selectable` is still affected.

[2021-04-05 18:40] chrisglein commented on #7436
We are seeing this in our own PRs. Previously intermittently, likely due to a rolling update of the ADO agents. As those are updated we may start seeing this more. Cause unknown at this point.

[2021-04-05 18:44] chrisglein commented on #7436
@dgellow and @softwarehangar7 , can you provide your VS version? If this is indeed caused by an update in the nuget client, it'd be helpful to know if there's a difference there between who is seeing this and who isn't.
@AgneLukoseviciute

[2021-04-05 18:48] chrisglein commented on #7537
According to @NickGerleman this should be `UIManager.getViewManagerConfig('Foo')` instead of `UIManager.Foo`. @jaimecbernardo can you try that?
(still need to evaluate whether we have the right docs/errors here)

[2021-04-05 18:52] chrisglein commented on #7529
I don't believe we have anything on the roadmap here. Although I know @vmoroz has mentioned a couple of times (see #4552 and #7487). Vladimir is there anything here we support now or expect to be able to in the future?

@Stevemoretz It would be helpful to know what your scenarios are and what functions you'd expect to use.

[2021-04-05 20:43] vmoroz commented on #7529
Sorry, I closed it by accident...

[2021-04-05 20:47] vmoroz commented on #7529
I am working on implementing the NAPI support for RNW modules. We want to make it the main ABI-safe API used by native modules and TurboModules. It could be possible that the same binary module that uses NAPI can work in Node.js, Electron, and RNW. But, it is not the true Node.js support with all its libraries and modules.

@Stevemoretz , are you looking for an embedded Node.js like Electron does?

[2021-04-05 20:54] vmoroz commented on #7374
We must not access the JSI internals directly. Instead, developers must use ExecuteJsi method that takes care about accessing JSI from the JSDispatcher even if it was called from a different thread.

[2021-04-05 20:56] chrisfromwork commented on #7519
BabylonReactNative is definitely the best place to ask questions related to hololens 2 react-native-windows support.

fwiw, theres still a lot of work to be done around stereo rendering/performance improvements. But with babylon.js/babylonreactnative you can enter into an immersive xr experience on hololens today.

[2021-04-05 21:46] AgneLukoseviciute commented on #7436
This is something that I ran into on my machine also - happened to be at the same time as I updated to Vs 16.9.3 😳
Although I was getting a different error:
[code]
For this, running from an elevated command line fixed the issue.

[2021-04-05 21:53] rectified95 commented on #7504
Closing as fixed.

[2021-04-05 21:53] #7504 closed

[2021-04-05 22:13] asklar commented on #7537
@chiaramooney FYI

[2021-04-05 23:06] leontepe commented on #6301
Are there any updates on this? I am especially interested in Web/OpenGL implementation for RNW and RN for macOS. Is there any schedule for this?

[2021-04-05 23:09] asklar commented on #6301
There is no plan to implement this right now, but if someone wants to send a PR / create a module for it, we could review.

[2021-04-06 06:42] Stevemoretz commented on #7529
Hi thanks for the reply,
Sorry I searched for nodejs in issues and didn't find those.

An embedded nodejs would be pretty nice it provides a lot of nice features which you don't have to make for your own implementation.I have nothing especially in mind, but I just wanted to throw this idea out here.It would be a whole new world of features and possibilities with that added.

Anyways I found this a

[2021-04-06 08:58] dgellow commented on #7436
I do not face issues anymore after reinstalling every dependencies. I manually uninstalled everything then ran the install script again.

## Chocolatey packages version

[code]

[2021-04-06 10:23] jaimecbernardo commented on #7537
Hi @chrisglein @NickGerleman,

`UIManager.getViewManagerConfig('Foo')` seems to work on Release!
Thank you!

This seems to a new way of accessing it, while the older method is being deprecated: https://github.com/facebook/react-native/blob/3dd312311396bd1e0af9e6f137abbb3e2fce73fc/Libraries/ReactNative/UIManagerProperties.js#L16-L27

This means that we'll find some cases of the old method of access

[2021-04-06 12:55] jaimecbernardo commented on #7537
I've applied the proposed fix on `react-native-canvas`, which fixes this issue, but I've run into another difference in Release builds for 0.64:

`UIManager.dispatchViewManagerCommand` only calls the native code behind when the UI updates. It seems calls to `UIManager.dispatchViewManagerCommand` are being queued and are only sent after there's some reason for the UI to refresh, instead of being ca

[2021-04-06 15:40] chrisglein commented on #7537
Great to hear!
@chiaramooney who has been looking into the affect on Gallery.

Can you open a new issue? I'd rather use this one to track 1) updating affected modules, and 2) checking in on documentation around the breaking change (which came from core).

[2021-04-06 16:30] jaimecbernardo commented on #7537
Thank you.
Regarding modules affected, I'm sure `react-native-sketch-canvas` is affected, since it's the one that led me to find these issues.

[2021-04-06 18:05] jaimecbernardo opened #7543 "Calling UIManager.dispatchViewManagerCommand waits for UI changes before calling native code when building for Release on 0.64"
On 0.63 and when building for Debug on 0.64, when we call `UIManager.dispatchViewManagerCommand` the native code `DispatchCommand` gets called immediately. When building for Release on 0.64, `DispatchCommand` seems to only be called on the next UI update.

This causes some issues on modules that depend on calling `DispatchCommand` without doing UI updates at the same time. `react-native-sketch-can

[2021-04-06 18:10] jaimecbernardo commented on #7537
For `react-native-sketch-canvas`, I'm pushing commits to fix it for 0.64 here: https://github.com/creambyemute/react-native-sketch-canvas/pull/4

[2021-04-06 18:14] iscontre commented on #7436
I hit the same issues reported in this thread a couple hours ago.
Using the workaround from @softwarehangar7 made the trick for me, and now I'm able to run the test app.

`Get-PackageSource` only had `PSGallery` registered.
Once I added the `NuGet` source via `Register-PackageSource -Name MyNuGet -Location https://www.nuget.org/api/v2 -ProviderName NuGet -Trusted`, it all just worked.

I'm happy t

[2021-04-07 09:56] softwarehangar7 commented on #7436
Visual Studio 16.9.3
Nuget Package Manager 5.9.0

[2021-04-07 18:00] jonthysell opened #7547 "Night master publish happens even when there are no changes, attempting to re-publish the previous version"
**TLDR:** The ADO pipeline runs the nightly scheduled publish whenever a branch has new commits, and since beachball bumps the version by pushing a `applying package updates ***NO_CI***` commit, tomorrow is added to the schedule even if no other commits come in. If no other commits come in, then the publish runs with the same version and binaries as yesterday, and only fails at the very last momen

[2021-04-07 18:44] rozele commented on #1679
@chrisglein @rectified95 - `selectable` is still affected, it's an issue with TextBlock capturing the pointer and handling events before they can reach TouchEventHandler.

[2021-04-07 22:35] #5350 closed

[2021-04-08 07:10] yancarm opened #7550 "I can't use Navigation on RNW"
When I want to use reactnavigation in RNW, I get an error like "folly :: toJson: JSON object value was a NaN or INF" How can I overcome this error or what do I have to do to switch pages. I could not find a project using navigation in any of the sample projects shared on the Internet.

[2021-04-08 09:17] asklar commented on #7550
can you please clarify what version of RN/RNW are you using, and what part/API of the react-navigation library are you referring to?

[2021-04-08 09:19] asklar commented on #7529
Note that many of the libraries available to nodejs won't work in RNW even when we add napi support, because of restrictions that the UWP appmodel imposes on things like filesystem access, launching processes, etc.
It sounds like the original question is answered, so closing this issue :)

[2021-04-08 09:19] #7529 closed

[2021-04-08 09:29] asklar commented on #7523
Made a self-contained repro of both UWP and Islands without RNW involved:
https://github.com/asklar/kbdIslands

[2021-04-08 09:54] yancarm commented on #7550
**If you are using latest version:**

1. npx react-native --version:  4.14.0
2. npx react-native run-windows --info:
      System:
    OS: Windows 10 10.0.19042
    CPU: (8) x64 AMD Ryzen 5 3550H with Radeon Vega Mobile Gfx
    Memory: 2.12 GB / 5.88 GB
  Binaries:
    Node: 14.13.1 - C:\Program Files\nodejs\node.EXE
    npm: 7.7.5 - C:\Program Files\nodejs\npm.CMD
  npmPackages:
    react: 16.13.

[2021-04-08 10:00] yancarm commented on #7550
+-- @react-navigation/native@5.9.4
+-- @react-navigation/stack@5.14.4

**the piece of code that gave the error**

<NavigationContainer>
     <Stack.Navigator>
         <Stack.Screen name="Admin" component={Admin}/>
    </Stack.Navigator>
</NavigationContainer>

[2021-04-08 11:43] yancarm commented on #7550
With my research, I learned that RNW has not yet received navigation support. It is said that support will come in 2021. Sad :(
Thank you to all who answered and interested.

[2021-04-08 11:43] #7550 closed

[2021-04-08 15:45] asklar commented on #7550
If I remember correctly, we did add support for Windows but there may be gotchas; full discussion is here: #3884
@chrisglein / @stmoy FYI

[2021-04-08 16:02] chrisglein commented on #7550
Thank you to all who answered and interested.

react-navigation should support RNW. It was implemented last year, tracked by #3884

[2021-04-08 17:11] stmoy commented on #7543
The impact of this bug is that the ink strokes are queued and dispatched only when the UI refreshes. This totally breaks ink canvas because the ink strokes don't render until something else in the UI changes.

[2021-04-08 22:13] rectified95 opened #7554 "Sticky headers don't work in ScrollView"
As in the title. Can be observed on pages: `SectionList stickySectionHeadersEnabled` or `ScrollView`

[2021-04-08 22:23] aschultz commented on #6918
I suggest setting up a build pipeline that runs BinSkim against the Release-build binaries of an RNW C++ sample app. That should help catch a number of SDL issues.

https://github.com/Microsoft/binskim

[2021-04-08 22:25] rectified95 opened #7555 "FlatList.onEndReached partially broken"
Scenario:
1. Go to page `FlatList onEndReached`
2. Scroll to the bottom (by hand, or with the 'Test' button on that page.
3. Observe no change in the horizontal, grey bar above the list - it's supposed to contain the string `onEndReached`
4. Maximize the app window - observe the string appear.

My guess is this could be somehow related to another issue, which is that the last list element is only

[2021-04-08 22:26] rectified95 opened #7556 "Bottom element in FlatList partially covered by RNTester's bottom taskbar"
![image](https://user-images.githubusercontent.com/12816515/114103926-d44c3f00-987e-11eb-9469-c3c9a408304e.png)

[2021-04-08 22:33] rectified95 opened #7557 "FlatList.onViewableItemsChanged callback broken"
Can be observed on page `FlatList onViewableItemsChanged` in RNTester - the callback doesn't get invoked when scrolling.

[2021-04-08 23:51] asklar commented on #6918
yes, this is already in plan: #7345

[2021-04-09 01:02] #4383 closed

[2021-04-09 01:36] chrisglein opened #7558 "Update JavaScript core controls to match WinUI2.6 styles"
- [x] Audit JS controls (e.g. Button) and build a checklist here
- [ ] Update them to match WinUI 2.6 visual standards

[2021-04-09 01:42] chrisglein opened #7559 "Audit Accessibility API completion"
This project board is out of date: https://github.com/microsoft/react-native-windows/projects/21
We need to know where we stand without waiting for apps to get an accessibility grade. This issue tracks going over the accessibility APIs and making sure we have issues tracking any gaps (and add them to that project board). This issue does not track fixing all those issues.

[2021-04-09 04:30] NickGerleman commented on #7558
https://github.com/microsoft/react-native-windows/issues/5268 is related.

Right now Button just copy/pasted some Android styling. It is not very feature-filled, and doesn't really even support things like hover styling. Making it look more Windows-like seems good, but I don't expect parity could be a goal.

From Eli:

[2021-04-09 04:33] NickGerleman commented on #7556
I think this might be the same upstream. Need to check.

[2021-04-09 05:29] #7289 closed

[2021-04-09 05:29] #7309 closed

[2021-04-09 11:55] prupipho opened #7560 "Update to 0.64: Bottom tab navigation doesn´t change text colour when selected"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: **5.0.1-alpha.2**
2. `npx react-native info`:
[code]

- Target Platform Version(s): **10.0.18362.0**
- Target Device(s): **Desktop**
- Visual Studio Version: **vscode**
- Build Configuration: **Debug**

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Cr

[2021-04-09 17:01] asklar commented on #7560
@prupipho just to confirm, did this use to work on Windows on 0.63?

[2021-04-09 17:31] #7534 closed

[2021-04-09 17:31] #7535 closed

[2021-04-09 19:48] qmatteoq opened #7565 "react-navigation returns "RNSScreen was not found in the UIManager" on RNW 0.64"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:

5.0.1-alpha.2

2. `npx react-native info`:

[code]

- Target Platform Version(s): 10.0.18362
- Target Device(s): Desktop
- Visual Studio Version: Visual Studio 2019 16.9.3
- Build Configuration: Debug

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Cr

[2021-04-09 22:10] asklar commented on #7550
Duplicate of #7565
@qmatteoq ran into this too in 7565. This seems like a bug we should fix.

[2021-04-09 22:10] asklar commented on #7550
Duplicate of #7565

[2021-04-09 22:15] RahidAkhundzada opened #7566 "requirenativecomponent "RNSScreen" was not found in the uimanagerDescribe the problem"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:
2. `npx react-native info`:

PS C:\Users\axund\Desktop\Lombard> npx react-native --version
5.0.1-alpha.2

info Fetching system and libraries information...
System:
    OS: Windows 10 10.0.19041
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
    Memory: 12.51 GB / 23.85 GB
  Bin

[2021-04-10 00:50] asklar commented on #3581
This could be the root cause for asklar/react-native-xaml#67

[2021-04-10 05:29] asklar commented on #7566
Looks like there is this [post on stackoverflow](https://stackoverflow.com/questions/66921263/invariant-violation-requirenativecomponent-rnsscreen-was-not-found-in-the-ui) suggesting you might be missing importing react-native-screens. I don't think we've done any work to support that specific module so it's unclear whether that will work on Windows or not. Let us know though :)

[2021-04-10 05:46] asklar commented on #7566
This seems like a bug in the react-navigation package:
- react-navigation/react-navigation#9480
- react-navigation/react-navigation#7141

[2021-04-10 07:56] NickGerleman opened #7567 "Consider Reverting to Pinned `nuget.exe` CLI Binary"
0.62-0.63 runs NuGet restore via a pined `nuget-exe` binary published by our repo. 0.64 Moved to instead use the MSBuild built-in version of NuGet. This was done for sake of trying to keep compatibility with latest build tools.

A Visual Studio update recently broke NuGet restore for all 0.64 CLI users. This shows a new risk we adopted, of NuGet MSBuild breaking changes.

We should monitor the sit

[2021-04-10 07:57] NickGerleman commented on #7567
FYI @dannyvv @asklar who have some stake in this.

I think it might be possible to revert the original commit moving us this direction, then resolve a couple conflicts.

[2021-04-10 07:58] NickGerleman commented on #7567
Wanting to bring this to 0.64, since there's been wide reports of failure to build.

[2021-04-10 08:02] asklar commented on #7567
I think it's still not 100% clear, but the current theory is that the issue wasn't with the nuget client, but with a config change on the agents where they pushed a nuget.config that did not have nuget.org

[2021-04-10 08:07] NickGerleman commented on #7567
I think all of the issues I saw referenced 0.64, which is when we made the switch. Would be worth double checking though. If 0.63 and lower are unaffected, the NuGet change is a major difference between branches.

[2021-04-10 08:10] NickGerleman commented on #7436
Pinning this one, since there seems to be quite a few people hitting it.

[2021-04-10 08:13] NickGerleman commented on #7567
This issue was some reports of 0.64 NuGet specific CLI failure. Some of the bits in this issue seem to suggest failure to sign appx's though. https://github.com/microsoft/react-native-windows/issues/7436

[2021-04-10 10:00] RahidAkhundzada commented on #7566
![image](https://user-images.githubusercontent.com/45500775/114266040-1dc69680-9a05-11eb-8074-e7ef0fb02704.png)

[2021-04-10 10:49] NickGerleman commented on #7567
PR pipeline for 0.63 seem to be passing as of four days ago, but I didn't look back to check whether there were prior failures.

[2021-04-10 14:20] prupipho commented on #7560
Yes, it was working fine for previous versions.
Just in case it helps, it was working fine with versions below:

[code]

[2021-04-10 14:52] rozele opened #7568 "Text height does not get updated when removing inline"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Clone RNTester example: https://github.com/rozele/react-native-windows/tree/pressableTextRepro
2. Open Text component example
3. Scroll to "Pressable edge cases" example
4. On the line that says "Adding pressables to the tree works just fine.", click the button to add a pressable view.
5. Resize the window so the

[2021-04-10 14:58] rozele opened #7569 "Text highlight does not get updated as text changes"
## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Clone RNTester example: https://github.com/rozele/react-native-windows/tree/pressableTextRepro
2. Open Text component example
3. Scroll to "Pressable edge cases" example
4. On the line that says "Disabling pressables is okay too.", click "Click to disable".
5. Observe that the text highlighting is *not* removed fo

[2021-04-10 14:58] rozele commented on #7569
FYI @koljaka - I believe you have a fix for this.

[2021-04-11 04:07] rendomnet commented on #7436
@iscontre
![image](https://user-images.githubusercontent.com/18900210/114292046-b87ab000-9aad-11eb-887c-7247ee35101f.png)
still have this error

[2021-04-11 10:00] petr7555 commented on #4209
Hi.
I would like to get the same functionality as react-native-document-picker offers. I have spent two full days trying to get it working but without any luck. The documentation is very unclear about how should I work with native modules.

I have an app, which has `windows` folder. This was generated by `npx react-native-windows-init --overwrite`. It contains a solution made of the **main project

[2021-04-12 07:50] alexghi commented on #7451
any updates on this?

[2021-04-12 15:42] NickGerleman commented on #7436
For those affected, do you also run into the error when opening the solution directly in Visual Studio?

[2021-04-12 16:13] jonthysell commented on #7451
Are you still hitting this? The underlying bug that causes this to start happening in master, 0.64, and 0.63 was fixed.

AFAIK metro still has a bug about reporting the correct error messages, but you shouldn't hit any error if you take the fix.

[2021-04-12 16:19] NickGerleman commented on #7451
Another possibility could be that different Metro errors than the uppercase/lowercase one are occurring that lead to the issue.

Circumstantially, the code in the Metro bug mentions doing source-map resolution. I wonder if it shows up on affected setups any time we redbox, and RN needs to ask metro to symbolicate the callstack.

[2021-04-12 16:32] jonthysell commented on #7451
Right, first establishing that the user has updated with the lowercasing fix, or can apply the fix manually.

But if they're still seeing EISDIR in metro, they should look to the redbox for the real error. That's how I found the lowercasing bug, the redbox error very clearly said it couldn't find component in the app registry, which pointed me to where we registered the wrongly-cased name.

[2021-04-12 18:14] chrisglein commented on #7567
This is still pretty fresh and we're trying to figure out how widespread it is (see linked issue). This may be an option if it seems like getting nuget from VS is too much of an additional variable. As is this is a maybe.

[2021-04-12 18:19] chrisglein commented on #7566
react-native-screens isn't yet supported on Windows ([tracking issue here](https://github.com/microsoft/react-native-windows/issues/4152)), which is probably what you're hitting given the above error and the discussion on stack overflow. That indicated a missing dependency (triggering this error on other platforms). But with that fixed you might see the dependency on screens. Can you roll back you

[2021-04-12 18:22] chrisglein commented on #7565
Duplicate of #7566

@qmatteoq this looks like a dupe agree?

[2021-04-12 18:22] #7565 closed

[2021-04-12 18:26] chrisglein commented on #7557
Unknown at this point if this was broken by an integration or didn't work before. First step will be to see how far back the break goes.

[2021-04-12 18:27] RahidAkhundzada commented on #7566
I tested code on Android and IOS .It is works.i use lastest version React-native version.
Which version do you consider?
  "dependencies": {
    "@react-native-async-storage/async-storage": "^1.15.2",
    "@react-native-community/cli": "*",
    "@react-native-community/masked-view": "^0.1.10",
    "@react-navigation/native": "^5.9.4",
    "@react-navigation/stack": "^5.14.4",
    "@types/react-red

[2021-04-12 18:27] qmatteoq commented on #7565
Yes. My only concern is that the other issue has been closed with the message "react-native-screens isn't yet supported on Windows". While this is true, if you add to the Windows project an older version of react-native-screens (2.x) everything works fine also 0.64.

[2021-04-12 18:30] chrisglein commented on #7554
Claim is that these never worked in Windows.
Related to #4085.

[2021-04-12 18:32] chrisglein commented on #7543
Looks like a bug where we need to poke the queue. Hitting different dispatch paths in Debug which is masking the issue.

[2021-04-12 18:37] dbm5858 commented on #7566
I am having this problem, as well.  I've been able to work around it (per a suggestion from someone at Microsoft) by rolling back react-native-screens to 2.18.1.  Our app still needs further testing, but initial results look good.

[2021-04-12 19:15] RahidAkhundzada commented on #7566
I changed -v to 2.18.1.but not work.

[2021-04-12 19:28] #5907 closed

[2021-04-12 19:33] acoates-ms commented on #7543
I think the dispatchViewCommand call might need to use getDecoratedNativeCallInvoker.  Similar to how calls into JS need to use the JSCallInvoker.  Need to work out how broad this change has to be.

[2021-04-12 21:38] RahidAkhundzada commented on #7566
i commit this line ->         // options={{headerShown: false}} this error shows me
![image](https://user-images.githubusercontent.com/45500775/114465982-eae4f400-9bf8-11eb-9361-4570b3ab51f4.png)

[2021-04-12 21:59] rectified95 opened #7571 "Extend AccessibilityInfo.sendAccessibilityEvent to support click events"
We recently updated this function in RNW - https://github.com/microsoft/react-native-windows/pull/7268.
Latest RN integration pulled in a change that extends it on Android (but not iOS). Do we want to do the same?
https://github.com/facebook/react-native/commit/eacc94005b1b1d33d47b3bea88a6fd242560dafb

[2021-04-12 22:47] rectified95 commented on #7569
@rozele @koljaka Let me know if you have a fix already, so I can assign the issue to you. If you don't, I'll fix it.

[2021-04-12 22:52] koljaka commented on #7569
@rectified95 It appears that my fix does not work in all cases, so it'd be better if you fix it. Thanks!

[2021-04-13 11:29] creambyemute commented on #7324
I'm just upgrading from 0.63.3 to 0.64 and will try again afterwards and report back and close the issue if it works 👍 .

[2021-04-13 11:47] creambyemute commented on #4209
@petr7555 The documentation of creating an autolinking external c++ module imo is a bit all over the place.
I also haven't finished creating a native module out of it yet but there is a pretty lenghty description somewhere which you have to follow carefully.
And I also faced similiar problems with the documentation of Windows APIS for C++/WinRT. Some had them some not.

[2021-04-13 14:53] rozele opened #7574 "Proposal: TextInput onPaste event"
# Proposal: TextInput onPaste event

In order to support pasting things like images or attachments into a TextBox, we need an event to notify React Native that something has been pasted.

## Summary

A set of props to configure which clipboard formats should be handled by React Native JS when pasted into a TextInput and a corresponding event that fires when these formats are pasted.

## Motivation

[2021-04-13 16:39] vmoroz commented on #4209
@petr7555, I am sorry to hear that you are having so many issues. I will be glad to help you with some of them.

@jonthysell knows all about the auto-linking implementation. My understanding is that the entry point for auto-linking starts with the package.json dependency and then it generates a file that registers the package.
Each DLL must have an entry point for an app to use its native modules.

[2021-04-13 17:08] acoates-ms commented on #7543
@jaimecbernardo - Thanks for the great repro repo.  That really helped to test the fix!

[2021-04-13 17:21] jaimecbernardo commented on #7543
@acoates-ms , Thanks for the fast fix. I'll subscribe to that PR.

[2021-04-13 17:36] chrisglein commented on #7566
Yeah, that sounds like the same error mentioned on the react-navigation repo: https://github.com/react-navigation/react-navigation/issues/9480
And it seems like you're pursuing the suggested fix, which is to drop the react-native-screens version. Not sure why that's not working for you but has for others. Anything on that thread help?

[2021-04-13 17:43] MicrosoftNik opened #7576 "winrt::Application::Current() is null in BrushFromColorObject. Cannot use Xaml Themes."
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 5.0.1-alpha.2 (The version in package.json is "0.64.0")
2. `npx react-native info`: info Fetching system and libraries information...
System:
    OS: Windows 10 10.0.21292
    CPU: (12) x64 Intel(R) Xeon(R) W-2133 CPU @ 3.60GHz
    Memory: 10.38 GB / 31.73 GB
  Binaries:
    Node: 14.8.0 -

[2021-04-13 17:54] RahidAkhundzada commented on #7566
if it work for someone can them send me git project?.
look at it

[2021-04-13 20:24] asklar opened #7578 "PlatformColors are cached and not recalculated on theme changes"
The Color/Brush conversion helpers keep a cache (map of names to Brushes) that are used by the code implementing PlatformColor.
When the app/system theme changes, these caches are not updated or cleared, so apps will not re-draw with the right colors under these conditions.

[2021-04-14 05:41] prupipho commented on #7566
Sorry it didn´t work for you. Just in case it makes a difference. I just created a sample app using typescript and csharp.
You may want to try removing the `node_modules` folder and running` yarn install` again, just to make sure you actually have react-native-screens on version 2.18.1

I don´t have a repo for this, but it is really easy to get a similar app yourself.

I just ran the commands belo

[2021-04-14 09:00] #7321 closed

[2021-04-14 09:00] thedf opened #7582 "Error: Unable to resolve module ./index from rootproject"
I have been having this error for react-native 0.64.0 and react-native-windows 0.64.x for a lot of projects this week. Here is one of your sample apps that got the error https://github.com/microsoft/react-native-gallery.
the build doesn't fail on `react-native run-windows`, but it gives the mentioned error below in Metro and doesn't show the app.

[code]

## Environment
Run the following in your t

[2021-04-14 11:44] softwarehangar7 commented on #7436
@NickGerleman , What kind of error?

I'm still unable to build a single project.

[2021-04-14 13:37] kacperkapusciak commented on #7566
@RahidAkhundzada could you upgrade `react-native-screens` package to the newest [3.1.1 version](https://github.com/software-mansion/react-native-screens/releases/tag/3.1.1) and check if the issue persists?

[2021-04-14 14:05] kacperkapusciak commented on #7565
Hi @qmatteoq
This issue should be now fixed in `react-native-screens` [version 3.1.1](https://github.com/software-mansion/react-native-screens/releases/tag/3.1.1)
Could you upgrade the package to the newest version and see if this helps?

[2021-04-14 15:42] creambyemute opened #7585 "Init 0.64 Project not building when adding react-native-fs native module"
I wanted to upgrade our Project to 0.64  and failed.
I then tried it with a fresh 0.64 init project and it miserably failed as well.

## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 5.0.1-alpha.2
2. `npx react-native info`:
[code]

What SDK version are you building for? Choose from 10.0.15063, 10.0.16299, 10.0.18362, etc.
- Target Platf

[2021-04-14 16:04] qmatteoq commented on #7565
Thanks for the heads up! Yes, I confirm version 3.1.1 works just fine. I upgraded my RNW 0.64 project and the error is now gone. Thanks!

[2021-04-14 16:54] AgneLukoseviciute commented on #7436
@softwarehangar7 If you run `yarn start` from the root of your project and then build the solution in VS, see if you run into the same error as from running `npx react-native run-windows`. Sometimes the behavior is a bit different there.

[2021-04-14 17:12] RahidAkhundzada commented on #7566
Thank man i delate project and create new one.and it works .Thanks so much

[2021-04-14 17:18] RahidAkhundzada commented on #7566
Screen navigation works.and issue fixed

[2021-04-14 17:20] #6355 closed

[2021-04-14 18:12] burtonrodman commented on #3832
I have submitted this pull request on react-native-geolocation to add Windows Support.  Please feel free to provide any feedback.

https://github.com/react-native-geolocation/react-native-geolocation/pull/146

[2021-04-14 18:36] burtonrodman commented on #5312
Checkout this PR to react-native-geolocation.  Happy to have any feedback.
https://github.com/react-native-geolocation/react-native-geolocation/pull/146

[2021-04-14 18:58] asklar opened #7586 "DisplayNone test is testing the wrong ui element"
Final comment before merging: Confirmed the elements are getting collapsed through Live Visual Tree and Property panes however the snapshot tests do not reflect this. Might require filing an issue - and if/when this gets fixed this test will fail and will just need updated snapshots to go through.

Additionally, I had to hard code the width for the view containing 2 Text and 2 Switch components as

[2021-04-14 19:27] AgneLukoseviciute opened #7589 "Visual tests: Width value for some elements differs in CI vs. locally"
This issue emerged from PR #7363 & explained in [final comment.](https://github.com/microsoft/react-native-windows/pull/7363#issuecomment-819685337):

The issue only appears for the Text components and the View containing them - the width value for all 3 is narrower in CI (718) snapshots than in local build (1074).
![image](https://user-images.githubusercontent.com/41223743/114767589-6e076680-9d2d

[2021-04-14 21:48] chrisglein commented on #7414
@asklar Was there any doc changes to show how to use ExperimentalFeatures.props to change this?

[2021-04-14 22:11] rectified95 opened #7591 "Remove fork of MapBufferBuilder.cpp"
Build break coming from Core. PR to fix this: https://github.com/facebook/react-native/pull/31363

[2021-04-14 23:32] asklar commented on #7144
Duplicate of #7576

[2021-04-14 23:32] #7144 closed

[2021-04-15 00:41] chrisglein commented on #3278
@jonthysell @aschultz Do we think that we'll be able to have a canonical C++/WinRT version that works for both scenarios? If not, how can we guide people looking for lottie to an option that works for them? Do we need a fork? Does one get merged with a readme presenting the other as an option? How do we get this more discoverable than 2 in progress PRs? ([#714](https://github.com/lottie-react-nati

[2021-04-15 02:10] #6986 closed

[2021-04-15 05:42] asklar commented on #7585
After adding a module, you must run either a CLI build, or an autolinking pass (when building in VS, autolinking does not run). You can run autolinking by running `npx react-native autolink-windows`
The build error seems unrelated though, it's as if it isn't finding Windows headers (IMAGE_DOS_HEADER for example). Just to confirm, do you have all the dependencies installed? you can check here: http

[2021-04-15 08:22] creambyemute commented on #7585
I do have all the dependencies installed, running either a fresh 0.64/0.63 init or our not upgraded Project@0.63 works.
I posted the `CLI Build` output above, shouldn't that have run linking?

I tested some more native modules now (`DateTimePicker` which requires manual linking, `react-native-sketch-canvas` and `react-native-device-info` which autolinked) and those seem to work, build and run.

As

[2021-04-15 09:02] #7324 closed

[2021-04-15 11:14] softwarehangar7 commented on #7436
@AgneLukoseviciute , running `yarn start` I the project built and successfully run for the first time.

[2021-04-15 11:14] thedf commented on #7582
Closing as a duplicate of [this](https://github.com/microsoft/react-native-gallery/issues/105)

[2021-04-15 11:14] #7582 closed

[2021-04-15 15:30] prupipho opened #7597 "Bundle targets fail when path contains spaces"
It´s not a big issue when you know what´s happening as you can avoid it.  But it would be nice if it works.
Similar to [this old issue](https://github.com/microsoft/react-native-windows/issues/865)
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: **5.0.1-alpha.2**
2. `npx react-native info`:
[code]

- Target Platform Version(s): **10.0.1

[2021-04-15 16:04] NickGerleman commented on #7597
Seems like we need some extra quotes around input with possible spaces in our MSBuild targets running bundle commands.

[2021-04-15 16:08] NickGerleman commented on #7589
Likely fixed by #7130. The rootview has a fixed height within the window, but not a fixed with, so window resize can affect test results.

[2021-04-15 16:09] NickGerleman commented on #7586
The snapshots use the JSON dump from xaml tree dump library code, so likely a bug there.

[2021-04-15 16:10] NickGerleman commented on #7586
We should really consider bringing the code to this repo instead of a personal one, so it can get code reviewed and people working on the infrastructure can make fixes.

[2021-04-15 16:19] NickGerleman opened #7598 "Run Existing RN Jest Unit Tests in CI"
RN provides some good quality unit tests for the JS portion of their components. We fork or provide our own implementation of enough of the tested components that this test coverage could uncover errors.