[2020-10-01 06:48] asklar opened #6149 "Polyester controls roadmap"
Some polyester controls are missing documentation and don't have RNTester pages, but the code is there.
- ButtonContentViewManager ("PLYButtonContent")
- ButtonViewManager ("PLYButton")
- ContentControlViewManager (is a superclass of the other ones, not directly available to JS?)
- HyperlinkViewManager ("PLYHyperlink")
- IconViewManager (this maps to `<Glyph>`)

The only one in that list that has

[2020-10-01 07:15] ugrylmz commented on #5933
My monorepo project structure is:
myproject/
| package.json (main monorepo config) includes
"workspaces": { "packages": [ "packages/*" ], "nohoist": [ "**/react-native-windows", "**/react-native-windows/**" ] },
/packages
/mobile
| package.json (monorepo config(dirname)) "react-native-windows": "^0.63.0-0","react-native": "0.63.2", "shared": "0.0.1",
| metro.config
| android
| ios
| windows

/shar

[2020-10-01 08:28] asklar opened #6150 "Glyph documentation should describe packaging font file/fontUri requirement"
The [Glyph documentation](https://microsoft.github.io/react-native-windows/docs/glyph-component) mentions fontUri, it's marked as not required, but we also don't have instructions that if you specify a `fontUri`, you have to package the font with your UWP app (and how to do that in VS).

[2020-10-01 10:16] asklar opened #6151 "Document debugging JS from a crash dump [Chakra]"
via jscript windbg extension or some other method.
Do we need to make jscript extension public?

[2020-10-01 10:17] asklar opened #6152 "Enable inspecting state of Hermes environment from a crash dump"
This likely means a windbg debugger extension

[2020-10-01 12:50] ugrylmz commented on #5965
`error: Error: Unable to resolve module "@babel/runtime/helpers/interopRequireDefault" from "..\shared\src\setup.js": @babel/runtime/helpers/interopRequireDefault could not be found within the project.`
I added to project
[code]

I tried
[code]

According to the link that you shared, i reconfigured the metro.config file as below:
[code]

[2020-10-01 15:01] acoates-ms commented on #5965
I'm guessing you are using yarn workspaces, and the packages in question have been hoisted up to a location that isn't being included in the watchFolders?

Can you provide information about where the @babel/runtime pacakge was installed to?  Whats the location on disk of that packaage in node_modules, compared to these windows and shared folders.

[2020-10-01 15:05] acoates-ms commented on #6150
You shouldn't have to use VS to do that.  You should be able to use require('./myfonts/foo.ttf') and the packager and default configs should manage everything for you, as it does with images.  -- Not sure if that works today.

We should also document how to do it using ms-appx:// urls when you have done it through VS.

[2020-10-01 16:39] NickGerleman opened #6156 "Add "Change categories" to yarn change"
There has been frequent discussion about wanting to enforce we keep semantic information about changes in PRs, such as how Facebook has their changelog format.

Given our current tooling, this sort of bit could make sense to add as a feature to Beachball, the Microsoft OSS change management tool we use (that is open to PRs). We could force tagging in certain packages, and offer a list of them to c

[2020-10-01 16:54] asklar opened #6157 "Add docs about using VS to do direct debugging"
There's a little blurb in the debugging menu but we should add docs on how to do this (and how to bring up the debugging menu in the first place :) )

[2020-10-01 19:05] #6124 closed

[2020-10-01 20:14] NickGerleman commented on #6085
@marlenecota have any ideas on when you'll be able to address this one? It currently creates a pretty bad experience for integration test failures.

[2020-10-01 20:52] asklar opened #6160 "Install project system tools VSIX to rnw-dependencies"
This enables capturing binlogs inside of VS. Likely only needed by RNW devs but at least one person hit an issue and didn't have it installed so worth adding to the list :)

[2020-10-01 21:00] #5903 closed

[2020-10-01 21:27] NickGerleman opened #6161 "Allow JS to Control Animation Batching (NativeAnimatedModule API completion)"
https://github.com/facebook/react-native/commit/73242b45a9f7f9ecce8f5124ac3d1665f575be74 added changes to let JS instruct native when an animation batch is started and completed. This was implemented for Android, but as of 10/1 has not yet been implemented for iOS.

Nothing is regressed (yet) if we don't implement this, but we may need this for reliable animations in the future.

[2020-10-01 21:28] asklar commented on #5694
And done!

[2020-10-01 21:28] #5694 closed

[2020-10-01 23:39] bibyzan opened #6164 "question about ReactPackageProvider.idl for creating a native UI module"
When following the `Sample ViewManager (C++)` part of this tutorial

[https://microsoft.github.io/react-native-windows/docs/view-managers](https://microsoft.github.io/react-native-windows/docs/view-managers)

I just want to create the native view using visual c++ and the first line in the ViewManager(C++) tutorial says

How can I create a native C++ view for use only within my existing react nativ

[2020-10-01 23:45] #6085 closed

[2020-10-02 00:51] asklar opened #6166 "Add ReadValue / WriteValue for winrt::hstring"
Since native module methods can support any parameter type which has ReadValue and WriteValue functions. we must fix this issue by adding the reader writer for winrt::hstring to avoid extra memory allocation due to the conversion.

_Originally posted by @vmoroz in https://github.com/microsoft/react-native-windows-samples/pull/280#discussion_r498542159_

[2020-10-02 01:30] asklar opened #6167 "Use deterministic compiler/linker flags"
We've had a few people hit an issue where they wrongly have a RNW in node_modules in their NM and the example app, and they build both and when packaging they get a conflict. They shouldn't have 2 of them but: if we did use deterministic compiler/linker flags then this would not be a problem assuming both MRN are built with the same options

[2020-10-02 01:31] asklar commented on #6167
(this is an issue @chiaramooney hit and @dannyvv and I were chatting about)

[2020-10-02 01:53] asklar commented on #6164
@bibyzan great question. Yes, it is possible to create a pure C++ native module (in fact, we'd recommend C++ over C# for a number of reasons). We should update our documentation to articulate this better.

Regarding creating a WinRT component that implements a native module as a separate binary versus building the native module functionality into RNW: normally you would create this as a separate m

[2020-10-02 08:03] asklar opened #6170 "[appverifer] Playground crashes on master using direct debugging"
Load playground with rntester
disable web debugging
reload
app crashes with the stack below

[code]

[2020-10-02 08:04] asklar commented on #6170
CC @acoates-ms @tido64 fyi, I'm synced to 489d342b7807dbe6fb6630146e294c2d6fe42c87
Fix native modules not being re-initialized on reload (#6159)

Could this be related since it's got to do with initialization?

[2020-10-02 08:37] asklar commented on #6170
I also see a TimingModule assert firing a lot. @NickGerleman I remember you recently worked on this code?
[code]

[2020-10-02 08:40] asklar commented on #5650
I did, here's the screen capture, the message shows up as soon as the app paints for me (ignore the errors those are from yellowboxes due to modules being removed from core)
![console log](https://user-images.githubusercontent.com/22989529/94904429-2b94d100-0450-11eb-9ca0-e3992bea8f4f.gif)

[2020-10-02 15:03] tido64 commented on #6170
I'm not able to repro this locally in my own project running 0.63 + my fix:

- Remote debugging disabled
- Direct debugging enabled

I have seen the TimingModule assertion from time to time as well. Even on 0.62.

[2020-10-02 19:21] NickGerleman commented on #6170
TimingModule has two assertions that it can get a strong instance of Instance. My change removed once of them, where we were assuming the instance was alive in cases where it wouldn't necessarily be, and that was fine.

The other, still present assertion should likely be removed as well. TimingModule methods are currently dispatched to the UI thread before execution, so the instance going away is

[2020-10-02 19:29] NickGerleman commented on #6170
Unable to repo on the current master branch when loading without web deugging checked. Did not test reloading after changing the option, but that has been flaky for some time I think.

![image](https://user-images.githubusercontent.com/835219/94962158-db972800-04aa-11eb-87cb-8ad8ee80e5bf.png)

[2020-10-02 19:30] NickGerleman commented on #6170
Unable to repo when switching from web debugger, unchecking, and loading an instance.

[2020-10-02 20:51] #5777 closed

[2020-10-02 21:30] asklar commented on #5650
spoke offline, @lyahdav will try this on master :)

[2020-10-02 22:26] asklar commented on #6170
I'm running playground.exe with appverifier turned on, can you guys try to do the same? I'm able to get the Chakra crash fairly consistently which I hadn't gotten until yesterday.

[2020-10-02 23:00] asklar opened #6177 "Playground comboboxes for bundle file/app name get reset upon load"
- launch playground
- disable web debugging
- load rntester
When load completes, the comboboxes for bundle file and app name are reset

[2020-10-03 00:30] asklar opened #6179 "CI fails with timeout"
https://github.com/microsoft/react-native-windows/pull/6178/checks?check_run_id=1201360112
https://dev.azure.com/ms/react-native-windows/_build/results?buildId=113866&view=logs&jobId=4ffd4db3-6d8f-510f-3ddf-442192d0d8d8&j=4ffd4db3-6d8f-510f-3ddf-442192d0d8d8

![image](https://user-images.githubusercontent.com/22989529/94978965-fa121900-04d4-11eb-9dab-1c0b7c39ecb8.png)

[2020-10-03 00:34] asklar opened #6180 "CI fails with out of memory even after the winui 3-as-warning change"
It's not clear why but we are still seeing winui 3 related builds fail the CI

https://dev.azure.com/ms/react-native-windows/_build/results?buildId=113800&view=logs&j=286475db-899e-5101-5f85-8c45c94030c2&t=0cea8897-d1c1-5011-2e20-d39a9e62ee23&l=8958

[2020-10-03 00:35] asklar commented on #6180
assigning to nick since he made the recent change to the winui 3 ci

[2020-10-03 00:46] lyahdav opened #6181 "Unexpected tab order with ScrollView and components around it"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.13.0
2. `npx react-native run-windows --info`:
[code]
3. `reg query "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock"`
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Clone this repo
2. Run playground app (UWP or Win32)
3. Modify

[2020-10-03 04:11] NickGerleman commented on #6180
This PR targeted 0.63. It won't have any CI changes made since then.

[2020-10-03 04:13] NickGerleman commented on #6180
If we did want a fix in an older branch we could backport the change, but then we lose coverage on our release branches which matters a bit more. Not sure it's worth it.

[2020-10-03 04:17] NickGerleman commented on #6179
Looks like Azure Pipelines network degredation. The job was stuck for 40 minutes trying to check out the git repo at 23kb/s.

![image](https://user-images.githubusercontent.com/835219/94983130-a7485980-04f4-11eb-8d9e-9894d015b05a.png)

[code]

[2020-10-03 09:01] #6177 closed

[2020-10-03 11:19] tido64 commented on #6170
Re-ran my local project running 0.63.3 + 489d342 cherry-picked with App Verifier. Still no repro. I did hit an exception when toggling the element inspector but I can't get a reliable repro.

[2020-10-03 21:06] asklar commented on #6170
thanks @tido64 . It's odd (but good! :) ) that you're not hitting it, maybe there's something different about my setup; I'm running what's in master so maybe that's it.

[2020-10-04 14:30] gat786 commented on #5937
Hey @acoates-ms can you guide me through what must be done here?
From what I understand the problem is just I need to remove the `.binlog` files from `.gitignore` file.

[2020-10-04 15:14] acoates-ms commented on #5937
No you need to add the binlog files to the git ignore file that is created during react-native-windows-init.
I believe this file https://github.com/microsoft/react-native-windows/blob/master/vnext/template/_gitignore

[2020-10-04 16:48] gat786 commented on #5937
was that it?

[2020-10-04 17:02] NickGerleman commented on #5937
I think that gitignore file might be for the windows directory instead of the root directory where we currently place the binlog (though I think the windows directory might be a better home for it).

If you wanted to validate, the steps would be:
1. Use the documentation in our Github Wiki on how to test the CLI to make a new RNW app with your changes
2. Init a new git repo in the created director

[2020-10-05 17:39] chrisglein opened #6182 "Update RNW 0.64 to use WinUI 2.5 by default"
There's going to be better forward compatibility from WinUI 2.5 going through the following few versions. We should use 0.64 as a chance to bump our min version. Apps are still unblocked to update to whatever version they want, this is just about the default.

[2020-10-05 18:06] chrisglein commented on #6181
Possible app workaround may be to use `tabIndex`, which isn't in the API docs (@harinikmsft FYI). Just in case that helps while we figure out the bug.

[2020-10-05 18:08] chrisglein commented on #6180
We're not expecting a high PR volume specifically on the stable branch, so while taking the warning change over could help there it would also come at the expense of coverage. If we end up jamming more on 0.63 we can revisit this, but it sounds like we should not take the fix back.

[2020-10-05 18:08] #6180 closed

[2020-10-05 18:10] chrisglein commented on #6179
Looks like a core infrastructure with Azure here. If this is rare, we'll just have to manually retry. If this becomes more common maybe we need to do something.

[2020-10-05 18:10] #6179 closed

[2020-10-05 18:14] chrisglein commented on #6170
@asklar It looks like there's been some issue reproducing this so we may need more environment info. Windows version combination maybe?

If we think we have deep issues AppVerifier might catch is there somewhere we can expand coverage? Does E2Etest use it? Should we expand to run Playground?

[2020-10-05 18:21] chrisglein commented on #6167
We have had people get into this state before and I think we had another issue where we wanted to identify it more aggressively in the tool chain. Dependency management is hard and people are going to get it wrong.
Can we add this to `react-native doctor`?

The question is how much do we want to continue to limp along when we're in this state. Is this something that has an effect outside of this b

[2020-10-05 18:30] chrisglein commented on #6156
Should this be part of Beachball? Maybe we could do it here, maybe there - need a decision on that.
What are the set of categories we'd want to support?

[2020-10-05 18:32] chrisglein commented on #6152
@Khalef1 Is there any work already done on this? Should this be tracked on the Hermes repo?

[2020-10-05 18:34] chrisglein commented on #6149
These should all be deleted.

[2020-10-05 18:49] chrisglein commented on #6129
How do we want to track this versus issue #5949?
If we've resolved non-WinUI3 usage then maybe we want to unify on that in one issue. But let's confirm.

[2020-10-06 11:30] ugrylmz commented on #5965
Yes, I am using yarn-worksapaces,
myproject/
| package.json (main monorepo package.json) includes
[code]
/mobile
| android
| ios
|windows
|windows/AppPackages
|windows/ARM
|windows/Debug
|windows/mobile
|windows/packages
|windows/.gitignore
|windows/mobile.sln

| package.json
[code]
|  babel.config.js
[code]
| metro.config.js
[code]
| react-native.config.js

[code]

[2020-10-06 22:24] lyahdav commented on #6181
FYI, I confirmed that setting `tabIndex` is a workaround for now.

[2020-10-06 23:16] lyahdav commented on #6181
I spoke too soon. `tabIndex` doesn't seem to help. I tried with this React component and tab order goes 2,1,3 instead of 1,2,3:
[code]

[2020-10-06 23:18] lyahdav commented on #6181
Oh wait, I just tried setting tabIndex on the ScrollView and it works:

    <View
      style={{
        flex: 1,
        justifyContent: 'space-between',
      }}>
      <TouchableHighlight style={itemStyle} {...{tabIndex: 1}}>
        <Text>tabIndex 1</Text>
      </TouchableHighlight>
      <ScrollView {...{tabIndex: 2}}>
        <TouchableHighlight style={itemStyle}>
          <Text>tabIndex 2

[2020-10-06 23:34] lyahdav opened #6200 "Button component doesn't have tabIndex prop"
## Environment
1. `npx react-native --version`: 4.13.0
2. `npx react-native run-windows --info`:
[code]
3. `reg query "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock"`
[code]

## Steps To Reproduce
1. Create app with following JSX:
[code]
2. Run it and tab through the buttons

## Expected Results
Expected tab order: button 1, button 2, button 3
Actual tab order: button 1, button 3,

[2020-10-07 04:03] asklar opened #6201 "codegen project requires dotnet core which might not be installed"
Someone ran into this in the wild so it's likely that the version of dotnet core that's used for the codegen project may not be always installed:

https://stackoverflow.com/questions/64104108/cant-find-net-core-when-starting-a-new-react-native-project/64183663?noredirect=1#

We should make sure whatever dependency we have is tracked by rnw-dependencies (and/or resolved by run-windows).

CC @dannyv

[2020-10-07 13:18] exotexot commented on #4516
I had the exact same issue and was able to fix it with this solution. This helped me to successfully submit my app submission on the microsoft store. Yet, After applying this fix I cannot run my app in, by clicking the Play Ion (Local Machine) anymore. It crashes with:

Exception thrown at 0x00007FFDE86A3E49 (KernelBase.dll) in cateurope.exe: WinRT originate error - 0x80131522 : 'System.TypeLoadEx

[2020-10-07 16:50] #6138 closed

[2020-10-07 23:37] NickGerleman opened #6210 "Remove RNTester Patching for Cross-Package Imports"
When Core moved RNTester into its own package, they left some imports that make assumptions about repo structure.

![image](https://user-images.githubusercontent.com/835219/95398640-37065300-08bb-11eb-9756-2f51560d8bec.png)

These break in our repo with a different structure, so we need to change the imports to be relative to react-native. We should upstream these changes, since this specific issu

[2020-10-08 01:11] rectified95 commented on #5589
Merged the isFocused() bit with the same task to add it to View #5511

[2020-10-08 03:55] asklar commented on #5950
this will likely be taken care of by using the hosted pool

[2020-10-08 03:55] #5950 closed

[2020-10-08 03:55] asklar commented on #5949
this will likely be taken care of by using the hosted pool

[2020-10-08 03:55] #5949 closed

[2020-10-08 03:56] asklar commented on #5650
going to close this since I can't repro, Liron please lmk if you are able to get a repro on master and we can reopen this :)

[2020-10-08 03:56] #5650 closed

[2020-10-08 04:04] NickGerleman opened #6212 "Failure to Publish NuGet Package Due to Folly Headers"
We've been unable to publish binaries since the Folly update.

[code]

[2020-10-08 04:11] NickGerleman commented on #5827
I ran into more issues, where tests seem to infinitely run without timing out, then the log was over 10MB and crashed Edge when I tried to view it.

There's the specific issues of various failures causing "undefined" or "null" messages, but I'm really hoping there's a way we can increase how actionable these logs are. I'm not sure I've ever seen one and had an idea of what went wrong, and I've had

[2020-10-08 04:16] NickGerleman opened #6213 ""yarn windows --release" fails to deploy in E2ETest"
Steps to repro:
- cd into E2ETest
- `yarn windows --release`

[code]

`C:\Users\nickg\Desktop\react-native-windows\packages\E2ETest\windows\ReactUWPTestApp\AppPackages\ReactUWPTestApp_1.0.0.0_x86_Test` seems to be the package that was generated locally.

[2020-10-08 04:17] NickGerleman opened #6214 "`run-windows --release` shouldn't launch packager"
We launch the packager even if we're not using web debugging (e.g. the default of release builds). We shouldn't do that.

[2020-10-08 04:23] NickGerleman opened #6215 "E2ETest "TypeError: Cannot read property 'testsuites' of null""
E2ETest under some failure condition (not sure what) will run infinitely, then eventually get killed by ADO timeout and fails to produce a useful error.

[code]

![image](https://user-images.githubusercontent.com/835219/95414689-49948280-08e3-11eb-8936-c459485a368b.png)

[2020-10-08 04:35] NickGerleman opened #6216 "E2ETest Will Infinitely Poll if an RNTester Page Redboxes"
If an RNTester page redboxes, we see a white screen in the release E2ETest app. We get an initial indication of what fails from a log of what's typed into the search box.

[code]

followed in CI by over 100k lines of these repeating, making it difficult to figure out what went wrong.
[code]

[2020-10-08 05:16] NickGerleman commented on #6129
Looks like the other issue was closed.

[2020-10-08 06:00] kmelmon commented on #4874
First version of app now complete.

[2020-10-08 06:00] #4874 closed

[2020-10-08 06:01] kmelmon commented on #6041
Not worth the effort.

[2020-10-08 06:01] #6041 closed

[2020-10-08 06:17] kmelmon commented on #5671
Update:  George is amazing!  He found a fix for WinUI 3, which is now checked in.  I think it's safe to close this as there's no specific action we need to take on this issue, it will come when we re-target to WinUI 3.

[2020-10-08 06:17] #5671 closed

[2020-10-08 06:31] kmelmon commented on #4432
@kmelmon  need to confirm if this still repros

[2020-10-08 08:49] cameronmaske commented on #4874
@kmelmon Congrats on the first version, any chance of a link to it?

[2020-10-08 09:20] gillpeacegood commented on #6085
We're using cloud VMs which are 1809 is it possible to put this on 0.63?

[2020-10-08 13:03] aberba opened #6217 "Clearer error messages for unsupported CSS units"
From `NativeUIManger.cpp`, you have:

[code]

The `assert(false)` just fails without any message as to why this happened. A message like `you used an unsupported CCS unit` might be a better dev experience.

By the way, the code already returns  `defaultValue` so why `assert(false)`? How about just a warning?

[2020-10-08 13:04] aberba commented on #6217
commenting `assert(false)` out locally just works using `defaultValue` as a fallback

[2020-10-08 14:32] kmelmon commented on #4874
@cameronmaske see:  https://github.com/microsoft/react-native-gallery

[2020-10-08 15:28] acoates-ms commented on #6216
Should we just turn the RN dev mode on in the E2E app?  Either that or create a custom redbox implementation for it, but that seems like adding more test code vs just running the standard code.

[2020-10-08 15:43] bzoz commented on #6024
@jonthysell I have one more final question: if I want a module to support all RNW versions since 0.61, do I need 3 separate .sln files like the ones in react-native-camera?

[2020-10-08 17:25] jonthysell commented on #3278
Hi @chrisglein,

Here’s my analysis of what lottie-react-native needs in order to add a new implementation, and what LottieWindows does (and doesn’t) provide.

It’s not a large module, but I’m concerned that LottieWindows (as it currently exists) does not provide key functionality necessary to move forward. See "Problems" at the end.

## Requirements
- Native Modules: 0
- View Managers: 1
    - Lo

[2020-10-08 17:59] chrisglein commented on #6085
Yep, it was backported here: https://github.com/microsoft/react-native-windows/pull/6172

[2020-10-08 18:11] chrisglein commented on #6216
There are timeouts in place, and we might be able to slightly lower them but they are necessary for the configs we have.
It seems like failing on redbox (hook the redbox event) is the more direct way to fix this with the infrastructure.

[2020-10-08 18:16] chrisglein commented on #6215
Could be an error in Jasmine or WebDriver.io. `run_wdio` is working around the fact that Jasmine isn't surfacing an error code. May be an issue with running manually on Windows versus what we do CI.
Error that's surfacing is definitely unclear.

What are the conditions where this repos? @NickGerleman can you add in some detail about when this hits so this issue is actionable?

[2020-10-08 18:18] chrisglein commented on #6214
What do the other platforms do here? Is there anything else that's expected this, even in release?
@NickGerleman can you check on that?

[2020-10-08 18:21] chrisglein commented on #6213
May be some issues here dependent on VS version or on C#.

[2020-10-08 18:22] chrisglein commented on #6217
Can you provide the sample units you were using? We're assuming a "px" value but it'd be good to know.
We want to match the behavior of the other platforms here, whatever they do.

Looking at iOS, it provides a redbox failure:
![image](https://user-images.githubusercontent.com/26607885/95498288-6dde7680-0958-11eb-8908-619700e65222.png)
So we should probably do that instead of asserting.

[2020-10-08 18:26] TheSavior commented on #6217
An improvement to the iOS message (that should probably be upstreamed) is to detect `px` in the string and to tell them they can just specify the integer.

[2020-10-08 18:26] chrisglein commented on #6212
Passing in CI, but this is failing in publish. Are we missing coverage of that?
Latest update to Folly was a fix that @asklar made, can you look into this failure and maybe start a conversation on how we can better cover publish?

[2020-10-08 18:35] chrisglein commented on #6201
Will be hit by developers when they try to write a C# module. Also being hit now based on a new dependency on C# projects while using the C++ template, which sounds like a discussion we should revisit (although that has shipped in 0.63).

[2020-10-08 18:37] asklar opened #6218 "C++ app/lib project templates use C# projects"
We should not require any C# components in C++ apps or modules by default.

Related: #5549
CC @jonthysell

[2020-10-08 18:40] asklar commented on #6212
I'm not familiar with the nuget package that Office consumes or how it's built, but I believe @NickGerleman is familiar with it.
Nick, could you add coverage for this in the RNW CI based on how Office consumes it and what files it consumes so that we don't break Office, and also fix the Office script? Thanks!

[2020-10-08 18:41] chrisglein commented on #6200
Also of note, tabIndex is still undocumented: https://github.com/microsoft/react-native-windows-samples/issues/294
@harinikmsft where did `tabIndex` land on whether we're keeping it in the API versus not? I know there was some discussion on this one in particular.

This is hooked up in ViewProps but Button isn't a View. So this needs to be forwarded.

[2020-10-08 19:00] NickGerleman commented on #6215
Talked about this a bit in the meeting, but the issue is that we don't do proper error handling. We actually suppress a warning about this, so the right thing to do here should be pretty clear.

[code]

This can be hit when the test runner is killed (ctrl+c). This specific instance it was when it infinitely ran in CI and ADO killed it. From what I can tell it seems to show up in many other cases.

[2020-10-08 19:24] kmelmon commented on #6181
This is almost certainly due to the structure of the XAML tree we generate when we render it... The default focus search algorithm derives the order from the structure, which is the case when you don't set any tab index.

[2020-10-08 19:40] Mamckay opened #6219 "RN 0.63 Migration: Throw error to React via context"
Currently we have some functionality in an 0.59 RNW(C#) application that can throw an error through the ReactContext.
[code]

The goal is to have this functionality in 0.63(C#) RNW. Here is what we have attempted to use to dispatch events so far.
[code]
However this is not working as intended and we get an error when testing this code.

![image](https://user-images.githubusercontent.com/41643910/9

[2020-10-08 20:58] NickGerleman commented on #6213
Running VS 16.6.3

This was after building without release

[2020-10-08 21:00] #6019 closed

[2020-10-08 21:00] NickGerleman commented on #6212
It's the same script as we run for MSRN binaries. If you need context on what's happening, you can take a look at the publish pipeline.

[2020-10-08 22:17] jonthysell commented on #6024
The solution files are only necessary for development and testing of the module itself. Apps developers won't consume them.

If you want to test that your module can build successfully against 61, 62, and 63 directly within your repo, then yes you need multiple solution files. And you'll have to make sure you yarn install the correct versions of RN/RNW to build against.

However, I don't know what

[2020-10-08 22:21] simeoncran commented on #3278
Some of these can be easily fixed in a new version of Lottie-Windows. Some can be most easily solved by bypassing AnimatedVisualPlayer (i.e. write your own equivalent based on its source, but with different semantics). Some are not possible because the rendering is done out of process.

1. **Progress vs frames.** We can add a LottieMetadata property to LottieVisualSource that would provide FPS so

[2020-10-08 22:26] NickGerleman commented on #6213
Full info:

[code]

Side-note, does envinfo not read msbuild/VS version? That might be a useful addition

[2020-10-08 22:28] NickGerleman commented on #5725
I fixed the warnings and have been using Node 14 for local development for a while. Haven't noticed any issues with day-to-dat functionality, so I'm going to close this unless we find specific issues.

[2020-10-08 22:28] #5725 closed

[2020-10-08 22:37] bzoz commented on #6024
I just want to make sure the modules I'm porting will support 0.61+ and autolinking. So, if I understand correctly I only need two vcxproj files  - one for 0.61 and one for 0.62+. I also don't need any solution files in the module itself to make this work?

[2020-10-08 22:42] #6149 closed

[2020-10-08 22:59] NickGerleman commented on #6216
I played with this quickly to see if I could get E2ETest to show redbox errors in release. Enabling `UseDeveloperSupport` in release didn't seem to enable redbox/yellowbox warnings. @acoates-ms any idea if this is expected behavior?

[2020-10-09 01:39] dannyvv commented on #6219
Hi @Mamckay, I apologize that I can't look at the issue at the moment, but will have a look at this tomorrow.
It sounds like you upgraded from 0.59 to 0.63.
In the mean time, could you share the following:
* Did you update to the new [csharp code gen](https://microsoft.github.io/react-native-windows/docs/native-modules-csharp-codegen) or if you maintained the old reflection style pattern?
* If you

[2020-10-09 02:40] Mamckay commented on #6219
Hey @dannyvv, yeah are in the middle of upgrading our application to 0.63 from 0.59. We started with a fresh RNW(0.63) project and have started porting functionality as we get it working. We are using the new code gen method.

[2020-10-09 13:12] Khalef1 commented on #6152
@chrisglein: No work is currently being done. I agree, it's better to track this in the Hermes repo: https://github.com/microsoft/hermes-windows/issues/21

[2020-10-09 17:13] chrisglein commented on #6152
Thanks Khalef. Closing this issue out as Khalef has opened on that repo.

[2020-10-09 17:13] #6152 closed

[2020-10-09 18:42] hondek opened #6221 "Problem on Release application."
Hi, i wrote app in react-native-widows, in Debug mode all working fine, but when i start app on Release it wont work

my configuration:

[code]

here is error:

[code]

[update]

When I turn on
`<UseDebugLibraries>`
 on Release i got this error:
[code]

[2020-10-09 19:05] jonthysell commented on #6212
The issue is with this task: https://github.com/microsoft/react-native-windows/blob/16cf6df4b87022ba31fda2704004c6d15fa40a51/.ado/templates/publish-build-artifacts-for-nuget.yml#L8

It runs a [ps1 script](https://github.com/microsoft/react-native-windows/blob/master/vnext/Scripts/Tfs/Layout-Headers.ps1) to copy the headers to the build artifacts, which then get added to the office nuget. It gets r

[2020-10-09 21:12] #6212 closed

[2020-10-09 22:21] jonthysell commented on #6218
What do you mean? What is used?

[2020-10-09 22:44] asklar commented on #6218
right - this won't be the default case though so by default we should not have them in the solution.
A couple of options:
- add an option to opt in at project creation time, or
- add a script to opt in after the fact

[2020-10-10 02:33] asklar commented on #4764
@chrisglein I think we should reactivate this given other partners may need this

[2020-10-10 04:00] kmelmon opened #6223 "Due diligence: Declare correct dependencies in community modules"
In the past, when adding support for Windows to community modules, we've accidentally made the community module package depend on a specific version of react-native-windows, or a specific major version.  This isn't the best way to declare the dependency as when we upgrade react-native-windows the module won't pick up the new dependency automatically.  The preferred way to declare the dependency is

[2020-10-10 04:10] TheSavior commented on #6223
There probably aren't many repos with this problem yet but wanted to share this neat tool. If you can find all the repos (even with some false positives) using GitHub search then you can use Shepherd to send automated PRs to all the repos with the applicable changes.

It's a neat tool for when we have to do changes across the ecosystem. https://www.nerdwallet.com/blog/engineering/shepherd-automati

[2020-10-10 15:52] kmelmon commented on #5834
Change has been out for PR in the RN repo for a couple days now:
https://github.com/facebook/react-native/pull/30138
Still waiting for someone to review.

[2020-10-10 16:35] kmelmon opened #6226 "Migrate CI Loop to use Azure scale set"
WinDev is bringing up a pool of VMs with better hardware to share across the WinDev teams.  Using this pool will solve a major pain point for our CI loop - running out of memory.

This task is tracking moving our CI loop off of the "free" Microsoft hosted agents onto this pool when it comes online (ETA is ~2 weeks).

High level list of work:
-Change yml to use the new pool
-Install components that

[2020-10-10 16:58] kmelmon opened #6227 "Master task: Add tests for every ViewManager, and test setting every prop/event"
This is a master task to track adding test coverage of ViewManagers that are part of core.

Can leverage some RNTester pages.  Will need to create more RNTester pages as well.

Will likely need more infrastructural support as we discover requirements (eg controlling animations, enhancing tree dumps, etc).

[2020-10-12 15:32] dannyvv commented on #6219
I completely forgot about it, looking now...

[2020-10-12 16:24] jonthysell commented on #6218
I'd rather C# be a first class citizen and out of the box compatibility should not be opt-in.

While we're still building from source, if developers want to speed up their build, they can remove the projects if they really want to. Once we're on binaries, it won't matter.

In the meantime, it's not affecting their app runtime in any way.

[2020-10-12 17:42] jonthysell commented on #3278
I've started the implementation here: https://github.com/jonthysell/lottie-react-native/tree/windows/src/windows

I haven't tested it yet, but it builds.

@simeoncran:

1. I've implemented a static framerate for now, but any frame to progress percentage conversion will be lossy. I think people will really need frame-accurate playback.
2. Implemented my own event.
3. I've stubbed this out for now.

[2020-10-12 18:08] chrisglein commented on #6227
Love this. Seems like first step is adding a list of all ViewManagers to this issue (probably as a task list aka checkboxes). Then we can start drilling through them. Of note, we punted on creating a comprehensive list of all apps from a support perspective for API documentation, as it was hard to fish them all out. So we may fall short of a complete list here for similar reasons. But let's start

[2020-10-12 18:11] chrisglein commented on #6223
@stmoy Other than the directory do we have a good single list of all the modules we've touched that we can create into a burn-down list on this issue?

[2020-10-12 18:14] dannyvv commented on #6219
Hi @Mamckay: Could you share a bit more details?

I.e. the implementaiton of WriteValue in your custom JsValueWriter. The `JSValueArgWriter` is a delegate, so in C# you don't even need to new it explicitly. If the signare of the lamba you pass matches the delegate you could just use only `example.WriteValue`

I tried the following code to match your in `[CustomUserControlViewManagerCS.cs](https://

[2020-10-12 18:14] chrisglein commented on #6221
How fleshed out is your app? Did you hit this shortly after creating a blank app? How easy is it to share your source/repo?
At this point 0.61 is fairly old. We're on 0.63 and currently working on 0.64. While I can't verify if this issue has been addressed since 0.61, it would help if you upgraded as we've greatly improved diagnostics.

[2020-10-12 18:18] chrisglein commented on #6218
We've had a lot of varied and strong opinions on this, seems like we should strike up a meeting and sort it out. We missed this Monday's slot so let's set up a one-off.

[2020-10-12 18:49] chrisglein commented on #4516
@exotexot Ack, that's frustrating. So close to it working! Can you open a new issue that captures your environment so we can help figure this out?
@giregk Did you have the same issue running locally that @exotexot had?

[2020-10-12 19:10] hondek commented on #6221
Thank you for answer.
Yes i tried init blank application with same versions but i get the same effect.
I have Visual Studio 2017 and react-native-windows@0.63 need Visual Studio 2019 (16.0). I will install w newer version of Visual Studio and i try release blank app if that works i will move the application to a new project.

[2020-10-12 19:21] jonthysell commented on #3278
In trying to create the windows sample app for lottie-react-native I've run into new blockers:

lottie-react-native targets RN 62, which should be great for us.

However, C++/WinRT apps can't consume C# libraries without a bunch of work-around code in the app project. We used this workaround in RNW 62 for our own apps, but didn't expose it to external developers until RNW 63.

So in order for lott

[2020-10-12 21:57] jonthysell commented on #3278
In the meantime, here's the PR to backport the C# fix: https://github.com/microsoft/react-native-windows/pull/6231

[2020-10-12 23:28] simeoncran commented on #3278
@jonthysell I don't understand what you mean by "frame accurate APIs". Frames and progress should be interchangeable as long as you know the right factor to multiply by. It might help if you can be more explicite about what API you would like, which class it should go on.

[2020-10-13 08:17] asklar commented on #6213
envinfo does:
![image](https://user-images.githubusercontent.com/22989529/95834408-c4014000-0cf1-11eb-8814-64829d9c45af.png)

[2020-10-13 09:45] bzoz commented on #5172
PR with Windows implementation for the module: https://github.com/zoontek/react-native-permissions/pull/530

[2020-10-13 17:11] jaimecbernardo commented on #5314
I've opened a PR with Windows support for PDF printing here: https://github.com/christopherdro/react-native-print/pull/121

Regarding HTML printing, the UWP WebView doesn’t implement `window.print()`, and alternative implementations for this feature would have suboptimal results. This should be revisited once WebView2 is stable.

[2020-10-13 20:13] jonthysell commented on #3278
Currently working on an all C# stack until #6231 is released, so I can test the module functionality. I've finally got their example app up and running, but it uses sourceJson, which we don't support yet.

Part of getting the app to work is to fix a module called `react-native-safe-modules` that they depend on. PR here to add windows support to that module: https://github.com/emilioicai/react-nati

[2020-10-13 20:17] jonthysell commented on #3278
The developer passes in integer start frame and end frame. I *can* convert those into progress percentages given a total number of frames, which I'm currently doing by multiplying the duration in seconds by a hard-coded framerate.

But with rounding, there's no guarantee that the exact specified frames will be played back.

[2020-10-13 22:05] jonthysell commented on #3278
Using some weird workarounds (like taking the json they loaded from disk, and resaving it back to disk, to be reloaded by LottieWindows, and doing too much on the UI thread), but this is *their* sample app: 😃

![example app](https://user-images.githubusercontent.com/10852185/95920886-192a6980-0d65-11eb-89c9-ef67f642a8c5.gif)

[2020-10-14 05:37] mudaligekosala commented on #2829
Hi @avmoroz I tried to add your project to my existing application,
yarn add https://github.com/avmoroz/react-native-fs.git#dev
pch.h file
#include "winrt/RNFSWinV2.h"
App.cpp
PackageProviders().Append(winrt::RNFSWinV2::ReactPackageProvider());

are these steps correct? I am getting these errors

Severity	Code	Description	Project	File	Line	Suppression State
Error (active)	E0135	namespace "winrt::R

[2020-10-14 16:06] chrisglein opened #6239 "async-storage module: error MSB4057: The target "Deploy" does not exist in the project"
See issue on async storage repo: https://github.com/react-native-async-storage/async-storage/issues/448

[code]

## Environment

[code]

[2020-10-14 19:50] rectified95 opened #6240 "Remove fork of Pressable.js"
Forking to add keyboarding functionality. Remove once upstreamed.

[2020-10-15 06:48] asklar commented on #6239
The project might have been created in an older version of RNW before layout deploy so fix is to update the project by adding the following to the project (just anywhere towards the bottom, right before </Project>
[code]

[2020-10-15 07:01] asklar commented on #6221
RNW requires Visual Studio 2019 since I think 0.62 :) Let us know if you're still hitting issues after upgrading to it!

[2020-10-15 18:06] chrisglein commented on #6239
We should add this module to the gallery app to help us catch other issues in the future.

[2020-10-15 18:11] chrisglein commented on #6239
This might be a general issue for modules that were created before this Deploy target was added and we may need to scrub quite a few to add this. We also hit this same error with Checkbox in the RN Gallery app when running from the CLI but not from VS.

[2020-10-15 18:16] chrisglein commented on #4764
For changing the bundle you should be able to point the instance uri to wherever your bundle is (where it comes from is up to the app). That should work.

Loading multiple bundles at a time is where the gap is. I hear that @vmoroz may be working on support for >1 bundle. Is that work tracked elsewhere? (should we use this issue, link to an existing issue, or create something new?)

[2020-10-15 18:40] chrisglein commented on #6213
May be a gap between what happens in CLI and what you get in VS manually.

[2020-10-15 20:13] asklar commented on #6213
I see the problem, it's specific to release + x86 + C#, I'll send a PR

[2020-10-15 21:21] exotexot commented on #2829
Sorry I must have overseen this.

I'm not using RNFS like you described.
I copied RNFSManager.cpp + RNFSManager.h to:
<projectname>/windows/<projectname>/ - folder (where e.g. your App.cpp is located).

Also make sure to add it to your solution.

[2020-10-15 21:34] mudaligekosala commented on #2829
@exotexot ,Do i need to install rnfs lib using `yarn add https://github.com/avmoroz/react-native-fs.git#dev`  or just copy past the files.
Can correct me if i am wrong here ,
Solution Explore -Right click on solution =>Add=> Existing Item

[2020-10-15 21:42] exotexot commented on #2829
,Do i need to install rnfs lib using yarn add https://github.com/avmoroz/react-native-fs.git#dev

Solution Explore -Right click on solution =>Add=> Existing Item

[2020-10-15 21:46] exotexot commented on #2829
I may also need to add that im running react-native 0.62.2 and react-native windows 0.62.12

[2020-10-15 22:07] mudaligekosala commented on #2829
This is my packages,
`"dependencies": {
    "react": "16.11.0",
    "react-native": "^0.62.0-0",
    "react-native-fs": "https://github.com/avmoroz/react-native-fs.git#dev",
    "react-native-windows": "^0.62.0-0"
  }`
then i added those 2 file to my app's` windows/appName `,
this is my Solution Explorer
![image](https://user-images.githubusercontent.com/34033702/96190997-e9f74080-0f8e-11eb-8586-1

[2020-10-15 22:14] exotexot commented on #2829
You located the files correctly but made the wrong reference. Sorry, I've corrected my previous post.

Do not add the .cpp +.h to the solution but to the project within your solution with your projectname (Universal Windows) - which references e.g. C:\Projects\mobile-app\UCApp\windows\UCMobileApp\UCMobileApp.vcxproj

Like so:
![solutionex](https://user-images.githubusercontent.com/10153413/9619149

[2020-10-15 22:23] mudaligekosala commented on #2829
@exotexot Thank you very much for your help. This is working as expected now.

[2020-10-16 00:10] asklar commented on #6218
Discussion notes:

- add logic to autolinking to detect the language the native module was written in (e.g. via the project extension, either vcxproj/csproj). Based on that:
  - if there is one or more C# module then add the property to the app's project to enable bringing in the .net native props/targets
  - add the Microsoft.ReactNative.Managed project to the solution

[2020-10-16 11:44] exotexot commented on #6170
Getting this crash a lot when running the App in Debug mode. Running on react-native 0.62.2 and react-native-windows 0.62.12

[2020-10-16 17:20] NickGerleman commented on #6170
@exotexot the Timing related assertion is a bit of a red hearing, and itself should not be the root cause of a crash. The assertion will be removed in RNW 0.64, and should be ignorable.

We did have some unrelated crashes on instance reload that were fixed in 0.63. If you're still seeing a crash on 0.63+, filing a new issue with details would definitely be appreciated.

[2020-10-16 18:12] exotexot commented on #6170
Still running on 0.62.12 and cannot really update at the Moment.

[2020-10-17 14:44] gat786 commented on #5937
I tried building it with the changes I made. but it seems it still drops `.binlog` files in and isn't ignored by the `.gitignore` files

[2020-10-17 17:09] hondek commented on #6221
Hi guys, at first wanna thank you for help.

After i move application on 0.63 version i get warning about importing Picker and CheckBox from 'react-native' package but this is deprecated. In debug mode all working fine (with warning about deprecation in brower console - not error). But in Release it build blank app window. After i change imports to '@react-native-community/checkbox' and '@react-na

[2020-10-17 17:42] hondek commented on #6239
Same issue in Picker from @react-native-community/picker

[2020-10-17 17:45] asklar commented on #6221
hi @hondek Picker and Checkbox are deprecated / removed from react-native core, see the deprecation notice here:
- https://reactnative.dev/docs/picker
- https://reactnative.dev/docs/checkbox
you should move your usage to the community modules you mentioned above :)
Hope this helps!

[2020-10-17 18:05] ryfow opened #6262 "Registering your Native Module code example out of date"
The C Sharp example in the "Registering Your Native Module" section of the docs is out of date. I'm not sure what you're using as an html editor, so I'm creating a bug instead of a PR.

https://microsoft.github.io/react-native-windows/docs/native-modules#2-registering-your-native-module

It needs to look like the NativeModuleSample code in order for things to compile.

[code]

[2020-10-18 12:59] Shing-Ho commented on #6201
I got these error messages while try to npx react-native run-windows

4>------ Build started: Project: Common, Configuration: Debug x64 ------
4>Common.vcxproj -> C:\Users\jy\cardApp\node_modules\react-native-windows\\target\x64\Debug\Common\Common.lib
3>ReactCommon.vcxproj -> C:\Users\jy\cardApp\node_modules\react-native-windows\\target\x64\Debug\ReactCommon\ReactCommon.lib
5>------ Build started

[2020-10-18 13:00] Shing-Ho commented on #6201
I've created new project and tried to run but not working.

[2020-10-18 19:15] asklar commented on #6201
@Shing-Ho could you please file a new issue which will ask you to provide version numbers etc so we can investigate what your particular issue is? thanks

[2020-10-19 04:20] asklar commented on #6262
Thanks @ryfow, good catch!
@dannyvv looks like we have docs about the new way in the [codegen doc](https://microsoft.github.io/react-native-windows/docs/next/native-modules-csharp-codegen#upgrading-old-projects) but the rest of the docs and samples still use the old way. Could you update the remaining docs/samples?

[2020-10-19 06:32] ugrylmz commented on #5965
Is there any solution to my problem?

[2020-10-19 09:58] #6221 closed

[2020-10-19 15:51] chiaramooney commented on #6239
Issue Resolved: [PR](https://github.com/react-native-async-storage/async-storage/pull/463)

Issue Handled: [PR](https://github.com/react-native-picker/react-native-picker/pull/151)

Issue Handled: [PR](https://github.com/react-native-checkbox/react-native-checkbox/pull/94)

Also Handled:
[DateTimePicker PR](https://github.com/react-native-datetimepicker/datetimepicker/pull/311)

[2020-10-19 15:53] #6239 closed

[2020-10-19 17:12] jonthysell opened #6266 "Upgrade yargs-parser (11.1.1) to pass Component Governance"
Location:

[code]

Recommendation from CG:

Upgrade to version v18.1.1;13.1.2;15.0.1

[2020-10-19 17:14] jonthysell opened #6267 "Upgrade node-fetch (1.7.3) to pass Component Governance"
Location:

[code]

Recommendation from CG:

Upgrade node-fetch from 1.7.3 to 2.6.1 to fix the vulnerability.

[2020-10-19 18:00] NickGerleman commented on #6266
I think thing can can update these just dependencies. Can check soon.

[2020-10-19 18:06] chrisglein commented on #6267
Updating the version that core uses seems like a big change, but if we can update the version for the code signed binaries we produce then that seems more viable (assuming there's no incompatibility).
Do we know why core is using such an old version?

[2020-10-19 18:08] chrisglein commented on #6266
Sounds like this one it's more likely we can just upgrade the version. Hopefully no problems with that.

[2020-10-19 18:18] stmoy commented on #3407
It looks like the react-native-responsive-screen module still doesn't work as expected, and it seems to be related to this bug. Reopening.

https://github.com/microsoft/react-native-windows/issues/3407

[2020-10-19 18:29] jonthysell commented on #6267
`yarn why node-fetch`:

[code]

[2020-10-19 18:32] jonthysell commented on #6266
`yarn why yargs-parser`:

[code]

[2020-10-19 19:56] jonthysell commented on #3278
PR started here: https://github.com/lottie-react-native/lottie-react-native/pull/692

[2020-10-19 20:35] kmelmon opened #6269 "Dimensions change event never fires"
This issue was discovered by a partner in PAX team, currently blocking with no workaround.

The issue is that the Dimensions object never fires any change events.  So if you resize the window or change the DPI, any listeners to Dimensions will not receive the new dimensions.

To Repro:
Load RNTester
Go to Dimensions page
Resize the window

RESULT
the text showing the current dimensions does not up

[2020-10-19 21:00] #6061 closed

[2020-10-19 22:04] kmelmon commented on #3407
I tracked this back to a regression from Di's fix, which was working.  Filed a separate issue #6269 to track fixing the regression.

[2020-10-19 22:04] #3407 closed

[2020-10-19 22:51] stmoy commented on #6269
This work is required to unblock: https://github.com/microsoft/react-native-windows/issues/5976

[2020-10-19 23:18] kmelmon commented on #6269
There are 2 issues here:

- We introduced a regression when we refactored DeviceInfoModule.cpp, this caused us to stop firing the event when dimensions change.  That happens here:

[code]
This function is supposed to call notifyChanged() at the bottom, but it doesn't, and thus we don't raise the event.

I fixed this but it exposed another bug:
- Once we start firing the event, the JS code is recei

[2020-10-19 23:53] stecrain opened #6271 "Reloading an app while a native animation is in progress results in a crash"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.13.0
2. `npx react-native run-windows --info`:
System:
    OS: Windows 10 10.0.19042
    CPU: (24) x64 AMD Ryzen 9 3900X 12-Core Processor
    Memory: 13.70 GB / 31.91 GB
  Binaries:
    Node: 10.21.0 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.4 - ~\AppData\Roaming\npm\yarn.CMD

[2020-10-20 00:04] chrisglein commented on #6269
Any relation between this issue and [this one](https://github.com/facebook/react-native/issues/29451) on the core repo? I guess that one is "doesn't work consistently" and this is "doesn't work". But if there's anything shared between them I wanted to raise awareness.

[2020-10-20 00:21] kmelmon commented on #6269
Nope, this issue is RNW-specific as the bug is in our C++ code which isn't shared with any other platform.  FWIW it seems like the Android bug is also in native code.

[2020-10-20 11:46] gtRfnkN opened #6278 "RNW 0.63: is there a replacement for ReactContext.GetNativeModule?"
We're currently in the process of upgrading from rn-windows 0.59 to 0.63. Unfortunately, we are stuck with one functionality that was available in 0.59 but isn't anymore: `ReactContext.GetNativeModule()`. We use it in two ways and I would like to ask what the best replacement could be.

About our app: it's a kiosk application which communicates with different hardware components. For that, we have

[2020-10-20 12:07] gtRfnkN opened #6279 "RNW 0.63: how to properly dispose native modules & view managers?"
In rn-windows 0.59, there was a method for native modules when the module gets disposed (`OnReactInstanceDisposeAsync`) and another one for view managers (`OnDropViewInstance`). We use them to close the WCF connection to our native services.

Looking through the documentation & code, there doesn't seem to be any current alternative. Is there still a way to achieve this functionality?

Thank you!

[2020-10-20 15:43] chrisglein opened #6280 "Check existing modules for missing Deploy target"
See this issue: #6239

There are other native module targets likely missing the Deploy target. We should check to see which are broken.
- [x] react-navigation
- [x] datetimepicker
- [x] progressview
- [x] async-storage
- [x] slider
- [x] camera
- [x] clipboard
- [x] picker
- [x] react-native-webview
- [x] checkbox
- [x] video
- [x] netinfo

[Full list](https://reactnative.directory/?windows=true)

[2020-10-20 15:56] stratospheres opened #6281 "Timeout can cause failure to create self-signed certificate on slower machines."
Sadly, my developer machine fails on creating the self-signed certificate due to this timeout value:

https://github.com/microsoft/react-native-windows/blob/9bc6c559fc350480d6d014644c3fbf4882d5a39a/packages/%40react-native-windows/cli/src/generator-windows/index.ts#L38

![image](https://user-images.githubusercontent.com/1381129/96611393-78323600-12b1-11eb-82e2-6263d9c6c06d.png)

Hacking in some co

[2020-10-20 16:05] chrisglein opened #6282 "Update react native directory to identify <0.60 (legacy) modules (or convert all those to modern RNW)"
Query of all modules that support Windows: https://reactnative.directory/?windows=true
Without version compatibility information, it's unclear that about half of those won't work with current versions of RNW (once known as "vnext"). Here's a snapshot of ones that need evaluation:

- [ ] [react-native-code-push](https://github.com/microsoft/react-native-windows/projects/23#card-28520564)
- [ ] reac

[2020-10-20 17:11] Venipa commented on #5949
16gb available but still out of heap:
![image](https://user-images.githubusercontent.com/17952364/96620679-0cc78300-1308-11eb-9d0b-1fd6f599ca6d.png)

[2020-10-20 17:13] #6266 closed

[2020-10-20 17:13] #6267 closed

[2020-10-20 18:54] Mamckay commented on #6219
Hey @dannyvv, the info you gave us was enough to get it working. We switched to use the ViewManagerExportedDirectEventTypeConstant and we are able to receive the  render error event on the JS side now. Thanks for the help!

Native Component
[code]
JS Component
[code]

[2020-10-20 19:43] kmelmon commented on #5834
Still waiting for a review 12 days later

[2020-10-20 19:55] NickGerleman commented on #5834
@appden would you mind taking a quick look at this one or assigning someone who you think would be a good owner?

[2020-10-20 19:55] kmelmon commented on #6226
Instructions on how to create a scale set agent:
https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/scale-set-agents?view=azure-devops

[2020-10-20 19:57] NickGerleman commented on #5834
@kmelmon FYI I think there might have been another change in the file related to onAccessibilityTap that wasn't annotated. I didn't take a look at the history of it. Was this also part of E2ETest changes?

[2020-10-20 20:21] kmelmon commented on #5834
Nope - the testID change was all.  We'll need to upstream more stuff if there are other changes in this file.

[2020-10-20 21:44] chrisglein commented on #5958
I'm trying to remember why we had this flagged for 0.64. I'm guessing based on it being a fresh integration of a new API/behavior change? But without other pending needs we have around animation events (e.g. #2941) is this ready to act on? Also curious about interaction with #3460. @rectified95 do you think this is possible to act on in the near term or does it need that other stuff?

[2020-10-20 22:47] stmoy commented on #6269
To help with prioritization, it bears mentioning that this underlying bug blocks key functionality of the Education ISV that we're working with. CC @chrisglein @vmoroz

[2020-10-20 23:24] kmelmon commented on #6269
Priority understood.  Chatted with Andrew, I found there is actually a straightforward fix that can be made.  I'll take a shot at fixing this.

[2020-10-21 01:37] kmelmon commented on #5834
merged

[2020-10-21 01:37] #5834 closed

[2020-10-21 09:31] #5951 closed

[2020-10-21 10:04] rahman2835 opened #6287 "Unable to scroll the content inside a WebView using react native windows on surface device with touch action."
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:  4.13.0
2. `npx react-native run-windows --info`:  System:
    OS: Windows 10 10.0.18363
  Binaries:
    Node: 12.9.1 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.5 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.10.2 - C:\Program Files\nodejs\npm.CMD
  npmPackages:
    react: 1

[2020-10-21 12:25] bzoz commented on #5076
PR with C++ implementation: https://github.com/mCodex/react-native-sensitive-info/pull/239

[2020-10-21 18:15] #6269 closed

[2020-10-21 18:33] robertev opened #6290 "Documentation for Getting Started in VSCode"
# Proposal: Documentation for Getting Started in VSCode

## Summary
In general, getting started in VS Code building a Hello World application for React Native for Windows (or Android) is over simplified and very challenging when compared to other "getting started" tutorials in other languages.

The VS Code Getting Started steps here:
https://microsoft.github.io/react-native-windows/docs/getting-st

[2020-10-21 18:43] jonthysell opened #6291 "Config doesn't see dependencies that only specify sourceDir"
A library package set up with a source folder other than "windows" should be able to just specify sourceDir in their react-native.config.js, i.e.:

[code]

Current workaround is to just specify the the `projects` array, i.e.:

[code]

`sourceDir` is required if you specify the `projects` array, but you shouldn't need a `projects` array just for `sourceDir` to be recognized. The bug is in dependenc

[2020-10-21 19:44] rectified95 commented on #6240
I linked this to the PR this results from, but Github wants to close this issue right away with that PR, so I'll unlink..

[2020-10-21 19:45] jonthysell opened #6292 "Autolinking for C++ app adds Win32 config for C# module when it should be x86"
Autolinking adds project config entries for the module into the app's solution file.

It should insert x86 but it instead inserts Win32, so it doesn't build. Error something like:

` Please check to make sure that you have specified a valid combination of Configuration and Platform for this
project.  Configuration='Debug'  Platform='Win32'.`

[2020-10-21 20:02] lyahdav opened #6293 "Add a FocusZoneView component"
# Proposal: Add a FocusZoneView component

## Summary

There are places in apps where it's useful to have keyboard arrow keys move focus instead of tab/shift, e.g. in lists. This issue proposes a FocusZoneView component for this.

## Basic example
Assume the FlatList renders buttons:
[code]

## Open Questions

I don't have time to make a PR for this, but here's a working implementation (be warned

[2020-10-21 23:12] dannyvv commented on #6219
Thanks for letting us know. Happy we could help.

[2020-10-21 23:12] #6219 closed

[2020-10-22 00:39] rectified95 commented on #4155
FYI @KAnder425 I've just submitted a PR implementing what you requested - backgroundColor for arbitrarily nested \<Text> elements. I hope to have it merged soon.

[2020-10-22 14:09] EhsanSarshar opened #6301 "webgl binding for Directx"
Is there any plan to map webgl to Dirext. as expo-gl did for opengl.
it will open whole much of opportunity. like using existing web 3d libraries and especially using Tensorflow.js for machine learning.

[2020-10-22 16:39] ryfow opened #6302 "Support react-native-track-player with vnext"
# Support `react-native-track-player` on RNW

I've got a PR started that works for me, but it'd be worth having someone that knows what they're doing look at it. [https://github.com/react-native-kit/react-native-track-player/pull/1054](https://github.com/react-native-kit/react-native-track-player/pull/1054)

## Basic Info
- Module Repo URL: [https://github.com/react-native-kit/react-native-track-p

[2020-10-22 18:05] chrisglein commented on #6301
We don't have any plans certainly from the perspective of react-native-windows, but maybe it's another slice of technology you're looking for this to come from? Other than the broad opportunity is there something you were looking to accomplish?

[2020-10-22 18:18] chrisglein commented on #6290
The error message itself is coming from the vscode extension. Can you create an issue on that repo? https://github.com/microsoft/vscode-react-native
(I'm assuming your feedback is more about the larger picture, and we shouldn't lose track of this specific issue)

As for the getting started guide we have as compared to the other platforms, I'm actually not sure if you're saying that the React tutor

[2020-10-22 18:21] chrisglein commented on #6287
@chiaramooney Can you try to repro this (feel free to use this as an opportunity to add a WebView to the gallery)?

[2020-10-22 18:29] chrisglein commented on #6282
Should we remove them as being tagged for windows in the meantime to reduce confusion?
We're going to target converting these modules with priority so hopefully this is just a point in time... but we don't know how long this point in time will last.
In the future we're going to run into this problem anew with WinUI3 where it'll need to known whether a module is compatible or not (or do we have to

[2020-10-22 18:42] chrisglein commented on #6279
The object should get released and you should be able to handle this when the object is finalized. Of course that's at the mercy of when the GC releases the object, it won't necessarily be immediately. Can be an option in the interim?

There is an instance destroyed event coming in 0.64, but it's not necessarily easy to get to if you're in a community module. It's not quite as direct as what you'r

[2020-10-22 18:42] NickGerleman opened #6303 "RNTester After Redesign Doesn't Handle Window Resize"
Before resize:

![image](https://user-images.githubusercontent.com/835219/96915370-01d13780-145b-11eb-8c1e-0888b4e988ed.png)

After resize:
![image](https://user-images.githubusercontent.com/835219/96915772-858b2400-145b-11eb-97f8-a7782da8185d.png)

Not sure how the inner section is being sized. Impact is dev-only/pretty low.

[2020-10-22 18:44] chrisglein commented on #6278
You should put it in the property bag. Here's the docs on that:
https://microsoft.github.io/react-native-windows/docs/ireactpropertybag-api
Let us know if that doesn't help solve your problem.

[2020-10-22 18:44] robertev commented on #4142
Use case info:
Map - display a map of the well site locations and the current location of the user at that time.
Zoom in on location.
Click on a location to drive a custom action (dispatch a worker to that location).

[2020-10-22 18:48] petr7555 commented on #5747
Is there a way to create a standalone .exe that is not missing the DLLs?

[2020-10-22 19:20] NickGerleman commented on #5867
This is a bit worse than previously known. @DrewHiggins reached out and it was realized that this bug interacts badly with `ref.focus` also setting currently focused element on `TextInputState`. This means that programmatically focusing other components can cause clicks to be dropped in a ScrollView as well.

[2020-10-22 19:21] NickGerleman commented on #5867
Going to try to upstream again soon, but this one might be worth bringing a fix back to 0.63 for if it sticks upstream, since it's impacting multiple partners. Though both have workarounds.

[2020-10-22 22:21] acoates-ms opened #6309 "JSDispatcher should call through JSCallInvoker to flush the JS queue"
JSDispatcher should use JSCallInvoker internally so that the JS thread's native module queue gets flushed.  This is required at least until the Promise polyfil is removed.  But will probably be needed until we are completely rid of all NativeModules. (Everything running on TurboModules)

[2020-10-22 23:44] kmelmon commented on #6181
XAML tree looks like this:

**CRootVisual 0x010659f8, comp node 0x04bbe858
  CGrid 0x04ba88d0
  CXamlIslandRootCollection 0x04b95e98
  CConnectedAnimationRoot 0x080971b0
  CPopupRoot 0x04ba9000
  CPrintRoot 0x04b65030
  CTransitionRoot 0x04b95bf8
  CFullWindowMediaRoot 0x04b65c90
  CRootScrollViewer 0x08075428
    CScrollContentPresenter 0x0802a308
      CBorder 0x04b631b0, comp node 0x04bbad28

[2020-10-23 03:28] EhsanSarshar commented on #6301
I want to use Three.js or Tensorflow.js (Machine learning) as it's currently possible in react-native with the help of expo-gl

[2020-10-23 03:44] #5589 closed

[2020-10-23 04:42] #6170 closed

[2020-10-23 07:27] kmelmon commented on #6181
Bug understood.  We mistakenly set a default TabIndex for ScrollView to 0 instead of int_max, which is the default TabIndex for XAML.  This causes confusion for FocusManager and the result is wacky tab ordering.

Simple fix, will have PR soon.

[2020-10-23 07:34] ratoi-crysty commented on #4823
@chrisglein I know this is a closed issue, but closing the issue because the repo is just targeted towards windows, is wrong, as currently the project also supports macOS.
Could you please reopen this? Maybe this will be prioritized in the future, as this is a desired feature.

[2020-10-23 08:58] emmanuj opened #6311 "Wrong Copyright Info"
https://github.com/microsoft/react-native-windows/blob/3ea4305551ec7bc57a220575dd0ea3db49289383/vnext/src/Libraries/Components/ToastAndroid/ToastAndroid.windows.js#L2

Should this say Microsoft instead of Facebook?

[2020-10-23 10:24] NickGerleman opened #6312 "[CI Instability] Timeout Running E2ETest"
We've been seeing this time out a bit more recently. Contributing factors seem to include longer build times than previously with the PCH reduction, along with general performance variability.

We should probably just extend the timeout for now.

Build speed improvements for consumers will come with binary distribution, and we ideally want to ensure the actual application responsiveness doesn't go

[2020-10-23 10:27] NickGerleman opened #6313 "[CI Instability] Failure to Download Packages Through Verdaccio When Applying RNW Template"
This is one of the leading causes of CI instability, though it seems to pop up somewhat sporadically. Our react-native-init tests download some packages while using Verdaccio as an npm registry proxy. Verdaccio seems to cause issues with built-in retry logic which presents as some packages causing 404 errors.

We've previously tried to mitigate in various ways, and have reduced prevalence by doing

[2020-10-23 10:30] NickGerleman commented on #6311
We've seen this come up before. A number of the files in our repo are either synchronized source copies or forks from source in `react-native` core which uses Facebook copyright headers. This is something that is too our understanding okay given the MIT license, and the license in the root of our repo attributing to Microsoft.

[2020-10-23 10:42] NickGerleman opened #6314 "Add Windows as a platform filter to redesigned RNTester"
The redesigned RNTester shows what tests are platform specific and allows filtering. It doesn't know about Windows or Windows custom example pages, and shows them as supporting both Android and iOS if we don't specify a platform.

![image](https://user-images.githubusercontent.com/835219/96994443-95e5e200-14e1-11eb-87e7-2b33e3e5d587.png)

This is fairly low priority, but we could either fork or tr

[2020-10-23 11:20] NickGerleman opened #6315 "Crash embedding Non-Text Elements in Nested Text"
We try to QI the child to xaml::Documents::Inline and fail

[code]

Can be reproed by clicking on the bookmarks button in the redesigned RNTester when none are present, when trying to render this component.

[code]

[2020-10-23 12:04] NickGerleman opened #6316 "Expose AsyncStorage Module in Rex"
RNTester has been adding more dependencies to AsyncStorage. We've been patching around it in the react-native-win32 variant of RNTester. We should change Rex to include the builtin module instead.

[2020-10-23 12:56] NickGerleman commented on #6303
This is because `ExamplePage.js` caches screen width into a global and uses that.

https://github.com/facebook/react-native/blob/master/packages/rn-tester/js/components/ExamplePage.js#L25

[code]

[2020-10-23 13:43] NickGerleman opened #6317 "Assets Missing When Running rex-win32 Against Redesigned RNTester Bundle"
Assets from the RNTester package don't show up when we're running Rex on a bundle. They do seem to show up correctly when web debugging. Potentially need to change Metro configuration.

![image](https://user-images.githubusercontent.com/835219/97010981-f9303e00-14fa-11eb-84a8-f40ee04de07a.png)

[2020-10-23 14:33] #6311 closed

[2020-10-23 15:22] NickGerleman commented on #6317
Tried this again and we don't seem to see this using a newer version of Rex? Closing for now unless I can repro this again.

[2020-10-23 16:25] NickGerleman opened #6319 "Update E2ETest to Launch RNTester Example Via Linking Instead of UI Manipulation"
RNTester supports launching an example via LinkingModule/Linking. Instead of using this, we currently manipulate the testesr UI to get to the page we want. This has a few issues:

- After the RNTester redesign, we will go to the last seem example on launch, which breaks tests. We get around that by clearing local storage before launching RNTester for now
- We need to update E2ETest if the overall

[2020-10-23 18:39] #6181 closed

[2020-10-23 19:28] lyahdav commented on #6293
I decided to make a separate issue from #5397 since that one mentions focus trapping which is different from focus zone as far as I understood.

[2020-10-23 20:30] harinikmsft commented on #6293
Like @lyahdav says, this is purely about focus zones which I believe @rectified95 will need when he tackles #2107

I will work on adding a spec based on @lyahdav's proposal for this shortly.

[2020-10-23 20:33] harinikmsft commented on #5397
This issue is tracking focus trapping which has been confirmed as not needed for any scenario at this time by partners. This will potentially be useful for implementing Modal dialogs in JS. If RNW wraps ContentDialog / Popup for Modal - this won't be needed since the native component has built in behaviors for focus trapping. Moving this to backlog.

[2020-10-23 20:52] harinikmsft commented on #3372
Given that this feature is a good-to-have with lots of open issues several of which clash with the native Windows platform accessibility, and is pretty stale at this point, I am closing this. Please reopen if this is a pressing need for your app and we can revisit.

[2020-10-23 20:52] #3372 closed

[2020-10-23 20:54] harinikmsft commented on #2683
View and Pressable are the only core components that need focus()/blur() at this time. Since Checkbox, Picker and others have been moved out of core, we don't need to track this here any more.

[2020-10-23 20:54] #2683 closed

[2020-10-23 20:55] harinikmsft commented on #2197
The default built-in behavours for XY focus have been sufficient for Xbox scenarios. Closing this as no longer needed in the RN layer.

[2020-10-23 20:55] #2197 closed

[2020-10-23 20:59] harinikmsft commented on #2220
Unfortunately, I dont have enough context here for an update. @jonthysell / @acoates-ms - can you take a look at Eric's comment at the top and see if there is anything really actionable on this for our RNW version or is there some documentation we would need to do?

[2020-10-23 21:02] harinikmsft commented on #2672
We are adding `repeat` to this list with #5513 and at this point, this is considered enough for the scenarios targeted. Closing this for now, please reopen if there are specific fields from the w3 spec that you would need for a scenario.

[2020-10-23 21:02] #2672 closed

[2020-10-23 21:24] NickGerleman commented on #6319
We could theoeretically do this out of process, but it might be kind of tricky. Seems like it could solve some of the reliability issues we've been seeing though.

[2020-10-23 22:35] NickGerleman commented on #6312
Should be fixed by #6318 which seriously reduces the time taken by E2ETest since AppVerifier/PageHeap is no longer enabled by default.

[2020-10-23 23:29] acoates-ms commented on #2220
I think this all works today. Assets get put in Bundle\Assets, and all files under Bundle get included in the appx.

[2020-10-24 00:05] #6312 closed

[2020-10-24 00:05] #5775 closed

[2020-10-24 02:40] #6271 closed

[2020-10-24 05:31] asklar opened #6324 "C# codegen doesn't work with nuget package"
The nuget package produced for Microsoft.ReactNative.Managed has a 'ref' assembly which is an assemlby with only the public signatures. The platform specific binaries are in the lib folder.
The csc compiler marks '[ref](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-options/refout-compiler-option)' assemblies with the platform that is being compiled for.
The csc compile

[2020-10-25 16:16] shashwatjolly commented on #5747
Facing the same issue.
@johncaling40 are you sure starting it from the start menu isn't loading the debug version? I think it is for me. Can you try with the metro bundler not running?

[2020-10-25 16:58] petr7555 commented on #5747
For me to run the app in start menu I need to have a bundler running.

[2020-10-25 20:26] exotexot opened #6331 "App certification fails due to HighVersionLie"
Windows App Certification Kit - Test Results
App version:
2.0.2083.0
App Architecture:
x64
Kit Version:
10.0.19041.1
OS Version:
Microsoft Windows 10 Pro (10.0.19041.0)
OS Architecture:
x64
Report time:
25/10/2020 20:52:02

FAILED
Platform version launch
Error Found: The high OS version validation detected the following errors:
Task failed to enable HighVersionLie.
Impact if not fixed: The app sho

[2020-10-25 20:31] juanpicado commented on #6313
hey @NickGerleman

I see your configuration `https://github.com/microsoft/react-native-windows/blob/master/.ado/verdaccio/config.yaml`

[code]
I had the same issues while doing E2E for verdaccio using real package managers and I had to be more aggressive with my configuration

[code]
In my case https://github.com/verdaccio/verdaccio/blob/master/scripts/e2e-config.yaml I did disable the caching of

[2020-10-25 20:33] exotexot opened #6332 "In a mixed c++/c# project, enabling "Compile with .NET Native tool chain" results in black screen without useful debug information"
I'm having troubles with my react-native-windows app submission to the microsoft store due to app certification prbolems. As described in this issue: microsoft/react-native-windows#4516
there are problems, apparently running a mixed c++ / c# project, with the submission process. A solution to fix initial app certificaiton you are required to enable .net native-ization of the code.

After adding th

[2020-10-26 14:23] shashwatjolly commented on #5747
I just saw https://github.com/microsoft/react-native-windows/issues/5855#issuecomment-692241113
It seems we can't just run the exe :)
My use case is satisfied with building it in release config with `npm react-native run-windows --release`.
The other alternative seems to be making an installer using Visual Studio.

[2020-10-26 15:34] chiaramooney commented on #6280
Track progress-view PR: https://github.com/react-native-progress-view/progress-view/pull/49

Track clipboard PR: https://github.com/react-native-clipboard/clipboard/pull/79

Track react-native-webview PR: https://github.com/react-native-webview/react-native-webview/pull/1716

Track netinfo PR: https://github.com/react-native-netinfo/react-native-netinfo/pull/426

react-navigation and camera do not

[2020-10-26 15:53] acoates-ms commented on #5965
It looks like to satisfy at least some of your dependencies @babel/runtime was hoisted to the root of the repo.  So you'd need to include monorepo-project/node_modules in your watch folders.

[2020-10-26 16:50] #2220 closed

[2020-10-26 17:30] NickGerleman commented on #6313
@juanpicado thank you for sharing all of that! Changing our config to be more permissive seems like a good next step.

[2020-10-26 17:37] NickGerleman commented on #6319
Upstream end to end tests seem to launch by UI manipulation, so I'm not sure what is using the URI functionality for launching.

I'm not sure our activation story is quite good enough for this yet. Going to close this, but try to keep this in mind if we see more reliability issues.

[2020-10-26 17:42] NickGerleman commented on #6315
https://github.com/microsoft/react-native-windows/pull/4921 tried to fix some cases of this? In https://github.com/microsoft/react-native-windows/pull/6318 I changed the Text VIewManager to Yellowbox in the case of non-Text children instead of crashing, but it feels like we have other issues for this.

[2020-10-26 18:09] chrisglein commented on #6332
In the other issue you included a winrt error. Are you no longer seeing that? Are there any thrown winrt originate errors that happen during startup that seem suspicious? Based on your comment "added all Exception flags to be thrown, but literally nothing happens" I'm guessing no?

How possible is it to share your app with us so we can help take a deeper look? We've had this scenario work, but the

[2020-10-26 18:12] chrisglein commented on #6331
Not going to be something specific to RNW most likely, but an issue with a difference in certification validation that you ran locally versus what is run when it's submitted to the store. We'll follow up to see if there's a known cert issue here, since it seems like based on the Xamarin issue you linked that many others are hitting this.

[2020-10-26 18:19] chrisglein commented on #6316
AsyncStorage is supposed to be deprecated, or at least heading that direction (it's moved out to a community module). Why are there new instances of usage of AsyncStorage in core? @NickGerleman can you add links to commits that are expanding usage here? We should discuss why that's going the wrong direction. It'd be good to be clear on whether that is indeed the long term plan.

Decision here seem

[2020-10-26 18:20] jaimecbernardo commented on #5311
I've opened a PR porting the C# implementation to C++ : https://github.com/react-native-device-info/react-native-device-info/pull/1113

This also adds a test and runs the example app in GitHub workflows.

[2020-10-26 18:22] chrisglein commented on #6315
Related #4927 (error messages aren't great). But then there's the issue of actually supporting, which is hard in XAML. Treating this is a more long term ask and in the shorter time we'll give better feedback.

[2020-10-26 18:29] chrisglein commented on #6312
@kmelmon Is there a path for how we get back AppVerifier coverage in tests? Definitely we need a reliable CI, that's important. But if we can have reliability _and_ AppVerifier that'd be better. Can we bring this back after we've done other work to our UI tests to not be so flakey.

[2020-10-26 18:33] chrisglein commented on #6309
Suspected that this is calling delays on things on the JS thread.

[2020-10-26 18:37] chrisglein commented on #6303
@NickGerleman can you open an issue on rn-tester to fix this upstream? We may make the fix ourselves, but we should log it there.

[2020-10-26 18:46] chrisglein commented on #5949
We're working on addressing this on a more fundamental level with binary distribution in 0.64 and other infrastructure.
In the meantime your workarounds are unfortunately to clear up some memory and try running again. Unfortunately the combination of tools we're relying on right now is demanding a lot of memory and we're working to address that or build in more mitigations.

[2020-10-26 18:48] asklar commented on #5747
you have to build the app in release mode and then you can deploy the generated APPX file. This can be done in Visual Studio, or alternatively the CLI will do it for you when you pass `--release`

[2020-10-26 18:53] chrisglein commented on #6301
There's been interest in combining Babylon and RNW, which seems like an interesting path (#2424). But overall the answer is that core contributors of RNW this isn't on our roadmap yet.

Would supporting [expo-gl](https://github.com/expo/expo/blob/master/docs/pages/versions/unversioned/sdk/gl-view.md) for RNW be enough? We have a module support issue template, if you want to file that (or we can tr

[2020-10-26 18:55] kmelmon commented on #6312
I strongly suspect PageHeap is putting too much stress on the under-powered VMs we're currently using, as we're seeing that the tests are not having this issue on dev boxes.  Once we get the better hardware up and running we can try to re-enable.

[2020-10-26 18:59] kmelmon opened #6334 "Re-enable AppVerifier coverage in E2ETests"
As part of https://github.com/microsoft/react-native-windows/pull/6318 we disabled AppVerifier for the E2ETests.  The tests were timing out...  Apparently the additional system pressure being put on the MSFT hosted agent VMs is causing this.

We should try re-enabling AppVerifier once we have moved our CI loop over to the better hardware (see https://github.com/microsoft/react-native-windows/issue

[2020-10-26 19:01] kmelmon opened #6335 "Re-enable AppVerifer for E2E tests"
As part of https://github.com/microsoft/react-native-windows/pull/6318, AppVerifier was turned off to address test instability.

The theory is that this put too much pressure on the under-powered VMs we're currently using from the MSFT hosted agent pool.

Once we get the CI loop moved over to better hardware we should try re-enabling this.  See https://github.com/microsoft/react-native-windows/iss

[2020-10-26 20:37] asklar opened #6339 "Cannot initialize native modules constants that depend on UI thread"
@chiaramooney is working on implementing the device orientation community module. As part of that she needs to expose a constant that expresses the device orientation at the time the app first started.
The native module is created on the JS thread, not the UI thread, and at that time there is yet no current window object either.
The RNW core DeviceInfoModule gets around this by exposing a constant

[2020-10-26 21:26] exotexot commented on #6332
I forgot to mention, the blank screen / no debug info only happens in Release mode. When building in Debug mode, I'm getting this error:

The program is crashing then with this error:

This may be the case as the .net toolchain only applies in Release mode:

`How possible is it to share your app with us so we can help take a deeper look?`
Would you want the entire react-native project or would the

[2020-10-26 21:56] chrisglein commented on #6335
What's the difference between this and #6334?

[2020-10-26 22:15] kmelmon commented on #6334
github did something weird... closing this

[2020-10-27 00:01] NickGerleman opened #6341 "Upstream Changes to Remove Nested Image in Text from RNTester"
After a refactor of the RNTester redesign, this now renders when starting the tester, and will cause a Yellowbox (or soon redbox) unless we patch around it. NetUI still crashes when seeing this. We should just change this upstream to be accommodating of platforms not supporting non-Text elements in Text.

[2020-10-27 00:25] kmelmon opened #6342 "Run E2ETest debug build in CI loop"
We currently only run the release build of E2ETests in the CI loop, due to the extra overhead putting too much stress on the under-powered VMs we currently get from the MSFT hosted agent pool.

Debug builds have the advantage of catching various issues that are difficult to diagnose in release.

Once we get the CI loop moved over to better hardware, we should try enabling debug builds.  See https:

[2020-10-27 02:30] EhsanSarshar commented on #6301
yes supporting expo-gl is enough

[2020-10-27 02:31] kmelmon opened #6343 "Enable Tree Dump tests for arbitrary RNTester pages"
With today's design, each test page must be authored with a TreeDumpControl directly inside the page.  For example see https://github.com/microsoft/react-native-windows/blob/8ed62998598e6249c4a9cfb9db1e84d53d9fb541/packages/%40react-native-windows/tester/src/js/examples-win/LegacyTests/ImageTestPage.tsx#L93, which has a render() function that looks like this:

[code]

This requirement makes it dif

[2020-10-27 02:32] EhsanSarshar commented on #6301
my actual concern is using Tensorflow.js.

[2020-10-27 02:37] EhsanSarshar commented on #6301
if there is a better way to support Tensorflow.js. like the way Node.js or electron.js did would be appreciable

[2020-10-27 05:48] justcoding121 commented on #6331
I am having the same issue since I updated visual studio 2019 to latest version (16.7.6) few weeks ago, and using a newly generated publisher certificate from my windows developer account on a differant machine. I don't know how to use the old publisher certificate, if it was stored in old computer I am not able to get it back. Either way, thew new certificate was generated through visual studio p

[2020-10-27 05:59] asklar commented on #6332
@exotexot if it's possible for you to share the source that would be easiest.
Just to double check - are you using any 3rd party libraries? If so, are those WinRT components or desktop .net framework libraries?

[2020-10-27 09:21] exotexot commented on #6332
I'll prepare a repo for you!

I'm using several react-native modules, such as AsyncStorage (c++), Device Info (c#), Senstive Info (c#), WebView (c++), Static Server (c#), and RNFS(c++) which to my understanding are all winRT components.

[2020-10-27 09:51] gtRfnkN commented on #6278
Thank you very much, this works well!

For anyone coming across the same issue: as suggested in the docs, I created a class to store the namespace & names for all the modules I want to share as well as strongly typed getters & setters:
[code]

In `MyModule`, I set it like this:
[code]

And then consume it in the other native modules like this:
`GetMetricsModule(reactContext.Handle)?.Foo();`
Or in

[2020-10-27 13:52] ryfow opened #6347 "Is it possible to call LinkingManagerModule::OpenUri from App.xaml.cs?"
I'd like my application to be able to do command line arguments. It seems reasonable to pass information to JS via LinkingManagerModule but I don't know how to access it from App.xaml.cs.

Thanks!
Ryan

[2020-10-27 19:30] exotexot commented on #6332
Hey @chrisglein @asklar

I was able to narrow down the problem to the .native toolchain for sure.

In this example repo: https://github.com/exotexot/uwpcs I've made a clean react-native init using react-native (0.62.2 - as I'm on this version and cannot update at the moment) and react-native-windows (0.62.14) and a c# dependency that I'm using: https://github.com/react-native-device-info/react-nat

[2020-10-27 20:15] stmoy commented on #5976
This should be fixed by PR: https://github.com/microsoft/react-native-windows/pull/6286

[2020-10-27 20:21] #4155 closed

[2020-10-27 21:22] exotexot commented on #6332
In the initially referenced issue, they point to https://github.com/microsoft/react-native-windows/issues/3838 which concludes with:

“ I dont think its clear that this baiscally stops any C# app with custom native modules from shipping to the store. (Since .Net Native is a requirement for shipping to the store).

This kind of snuck under the radar.”

Will try the solution mentioned in this thread

[2020-10-28 05:47] asklar commented on #6339
this might be doable via REACT_INIT to capture a ReactContext, then using a REACT_CONSTANTS_PROVIDER to delay initialize constants, and finally using the context's UIDispatcher to post some work to fetch the values and wait for the results to come back.
If this works, we should document it (we don't document REACT_INIT today for example)

[2020-10-28 06:13] #4927 closed

[2020-10-28 06:35] tero-paananen commented on #6347
It seems that rn windows calls it automatically in `ReactApplication::OnActivated`

[code]

[2020-10-28 14:23] annavar opened #6351 "Desktop apps support"
Hi,

we are highly interested in using React Native for our Windows applications, but all our apps are classic Win32 applications, not to mention that some features require elevated execution. However, as far as I can see, React Native supports only UWP projects. Are you going to introduce support for Desktop apps? Option when using XAML islands to host the React Native Windows content isn't appro

[2020-10-28 14:48] ryfow commented on #6347
Yeah, it does that on protocol activation. It doesn't on command line activation.

[2020-10-28 16:19] kmelmon opened #6352 "E2E tests cannot find element by testID if it's not focusable"
The webdriverio $ selector operator relies on the native control being focusable.  This requirement is an obstacle for any scenario where the component isn't supposed to be focusable, but we want an automated test to find the element.  For example see discussion in:  https://github.com/microsoft/react-native-windows/pull/6344#issuecomment-718041077

This issue is tracking making it possible to fin

[2020-10-28 17:02] jonthysell commented on #5639
Running into this again as I work on #3278

[2020-10-28 17:16] jonthysell commented on #6332
Since you're building on RNW 0.62.14, can you try adding the following to your app's vcxproj:

[code]

I just backported some fixes for C++ apps consuming C# modules (making sure the correct version of .NetNative is used) that's behind that `ConsumeCSharpModules` property.

[2020-10-28 17:32] kmelmon commented on #6226
@dannyvv  thank you for volunteering to help from RNW side!  I've re-pathed this issue to you as I am refocusing on other work, assuming you're OK with doing the work to actually change our CI loop to use the new pool.  Let me know if you have any questions/concerns.

[2020-10-28 18:05] kmelmon commented on #6226
Keith Mahoney says:

Ok, I have created two new build pools, both named ‘windevbuildagents’.
One in https://dev.azure.com/ms for OSS and one in https://dev.azure.com/microsoft for closed source.

These have VS 16.7 installed. Any other dependencies will need to be installed at build time. These are 8 core (D8s_v3) machines with 200GB drives.

Let’s see how this goes for the next month or so. I wil

[2020-10-28 18:05] asklar commented on #6332
@jonthysell thanks for jumping in. I was able to repro was @exotexot is seeing in their project, and adding the ConsumeCSharpModules property doesn't make the problem go away.

The C# native module being used (RNDeviceInfo) is written with attributes so reflection will be needed. It isn't clear to me if it is necessary or how to add a rd.xml to the library to allow the necessary types to be reflec

[2020-10-28 18:24] harinikmsft commented on #3450
Closing this for now - we are going to add guidance to use `accessibilityHint` which is the pattern in other platforms. We can add this for Windows if this becomes a need at a later point.

[2020-10-28 18:24] #3450 closed

[2020-10-28 18:30] harinikmsft commented on #3449
Moving to backlog - apps should be unblocked from enabling this through native modules today. The default scenarios should work without any work.

[2020-10-28 18:51] exotexot commented on #6332
I also couldnt spot any difference. Still same behaviour in Debug and Release builds. I'm not really sure about the .rd.xml file, but I've added this file to my node_modules\react-native-device-info\windows\RNDeviceInfo\Properties without any change.

RNDeviceInfo.rd.xml
[code]

@asklar could you try and explain the issue in a more general way? The reason I'm asking is, that there is already a wor

[2020-10-28 18:54] NickGerleman opened #6353 "macOS Tests Fail During "yarn install" Trying to Build Detox"
We run tests against macOS for react-native-platform-override (and potentially some other code soon), and include Detox as an available package by virtue of keeping a copy of RN Core's `repo-config` package in our repo. As of this morning, a CI change seems to mean Detox fails to build, without much of an error message quite yet.

We should consider forking `repo-config` to remove packages we don'

[2020-10-28 19:00] asklar commented on #6332
@exotexot there are two ways to build native modules with C#, "the old way" relies on attributes like [ReactModule] etc. and depends on reflection to be able to find and activate types. This is tricky to get right with .net native (C# apps need to explicitly opt in assemblies/types to be reflect-able). The mixed language scenario of consuming C# from C++ has historically been not-so-well documente

[2020-10-28 19:05] exotexot commented on #6332
Ah I see. Could you maybe share a react-native module that uses a c# implementation which is easier to consume from c++ with .net native?

[2020-10-28 19:17] asklar commented on #6332
normally we've been advocating for public modules to be written in C++ (because writing them in C# has these types of hard-to-debug problems). Maybe @chrisglein or @stmoy know off the top of their heads if there are any C# modules that work well. For reference the samples in the react-native-windows-samples repo as well as the SampleLibraryCS [here](https://github.com/microsoft/react-native-window

[2020-10-28 21:51] capc0 opened #6354 "TextInput inside ScrollView not rendered until app window is resized"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.13.0
2. `npx react-native run-windows --info`:
[code]
3. `reg query "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock"`
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

have an App.tsx like the following

[code]

--> the TextInput is

[2020-10-28 22:42] NickGerleman opened #6355 "Components under "display: none" still participate in focus, UIA, etc"
RNW will pass the "display: none" property to Yoga for layout, but doesn't take it into consideration for XAML visibility. This means we create the same XAML tree as normal, but elements are hidden by virtue of being sized as (0,0).

Because of this, components under "display: none" still participate in UIA, focus, or other bits that they likely shouldn't. @kmelmon mentioned this also defeats cert

[2020-10-28 23:26] acoates-ms commented on #6355
+1 Sounds like we should set Visibility=Hidden when display: none.

[2020-10-29 02:13] NickGerleman commented on #5002
We haven't seen this pop up in E2ETest recently, and a lot of this code has recently changed. Going to close this since I'm not sure there's anything actionable, but anyone should feel free to reopen if they disagree.

[2020-10-29 02:13] #5002 closed

[2020-10-29 02:16] NickGerleman commented on #6354
Separately tracking with https://github.com/microsoft/react-native-windows/issues/5437 and some of its dupes.

We should really try to take a look at this one soon. I think we've brought it up as a potential release blocker for the past couple releases, but I'm not sure anyone is currently working on it.

[2020-10-29 04:23] NickGerleman opened #6367 "New Project Using Hermes Cannot Be Compiled for x86"
Steps to repro:
1. Create a new RN project
2. Init the RNW project using the `--useHermes` flag
3. Run `npx react-native run-windows --release`

Output:
[code]

The build will succeed if building x64 (e.g. with `npx react-native run-windows --release --arch x64`)

I think I might have run into this with debug builds in the past, but just reproed with release builds.

[2020-10-29 04:45] asklar commented on #6351
@annavar could you clarify your last statement around xaml islands "isn't being appropriate because our apps usually have complex UI and logic"? are there any specific issues that are blocking you from using it?

[2020-10-29 04:49] asklar commented on #6331
Issue understood - not specific to RNW. Following up internally first to get a KB article published on this.

@justcoding121  @exotexot you should be able to ignore this error and still submit the package to the store - could you try that and let us know if you run into any issues doing this?

[2020-10-29 05:22] NickGerleman opened #6368 "UIManager::setChildren Crashes Due to Out of Bounds Access When Using x64 Release on New C++ App"
Steps to repro:
1. Create a new application with `react-native-windows-init --useDevMode`
2. Build and run x64 release

[code]

Calling `m_nodeRegistry.getNode(containerTag)` where it looks like the tag doesn't exist in the node registry.

https://github.com/microsoft/react-native-windows/blob/master/vnext/Microsoft.ReactNative/Modules/PaperUIManagerModule.cpp#L289-L304

https://github.com/microso

[2020-10-29 05:47] NickGerleman commented on #6368
Interestingly, we run E2ETest as x64 release, so I'm wondering how this is happening. Was able to repro again with a freshly created app though. Wondering what the differences are between a newly created C++ app and E2ETest.

[2020-10-29 07:14] capc0 commented on #6354
thanks for your fast response. Are you implying that earlier versions might not be affected by this bug? I could maybe downgrade in that case.

[2020-10-29 08:41] exotexot commented on #6353
This may be due to an outdated detox dependency.

See https://github.com/wix/Detox/issues/2389

[2020-10-29 13:13] exotexot commented on #6332
Sure, I do understand that there are benefits of having modules written in c++. However, we've been developing our app for months now, testing in Debug and Release mode. As you said, may be due to improper documentation, we werent aware of the implications and potential pitfalls of using c++ and c# modules. Also "weird" ist that there is no visible option in recent VS versions to enable .net nativ

[2020-10-29 14:38] ksurya opened #6370 "How to execute subprocesses"
Does RN has API to run bash commands?

I want to execute a command, retain its PID, kill it on button click, run on system start etc.

What would your suggestion to do these? I guess some of this could be configured at LaunchAgents, but that would require the app write access to a plist file to ~/Library/LaunchAgents.

Related to: https://developer.apple.com/documentation/foundation/nstask

[2020-10-29 16:50] asklar commented on #6332
Hi @exotexot, thanks for your patience, our team is committed to trying to help you get unblocked, please realize that our direct team doesn't own all of the technologies needed to build apps (like the store, the certification kit, visual studio, the compiler, .net and .net native, etc.) so finding out answers to issues in interacting with these technologies might take a bit of time on our side.

[2020-10-29 17:18] jonthysell opened #6372 "Component Governance fails with dot-prop 3.0.0, 4.2.0"
`dot-prop` needs to be updated

[2020-10-29 17:19] jonthysell opened #6373 "Component Governance fails with kind-of 6.0.2"
Need to update `kind-of`

[2020-10-29 17:20] jonthysell opened #6374 "Component Governance fails with npm-lifecycle 3.1.3"
Need to resolve legal issue with `npm-lifecycle`

[2020-10-29 18:34] NickGerleman commented on #6367
Very likely related to stdcall vs cdecl. We probably just need an explicit calling convention on the exported headers.

[2020-10-29 19:42] exotexot commented on #6332
Hi @asklar. Do you think it would make a difference If I have the main app uses the cs template? Can I consume c++ modules from a c# main app?

Regarding distribution: As Microsoft Store is not an option, I looked into the app-installer, which looks promising, as it seems to reference dependencies in its xml-based .appinstaller file. I know this kind of shifts the focus of this issue, however, may

[2020-10-29 19:59] acoates-ms opened #6377 "TurboModules should be able to specify they need eager init"
We should add a mechanism for TurboModules to specify that they want to be eagerly initialized.

Android has this as a needsEagerInit property on their TurboModule attributes.  We should investigate how we want to expose this.

[2020-10-29 20:32] #4655 closed

[2020-10-29 21:27] jonthysell opened #6379 "Component Governance fails with pathval"
No known remediation at this time. :(

https://nvd.nist.gov/vuln/detail/CVE-2020-7751

[2020-10-29 21:37] jonthysell commented on #6379
Waiting for this PR to get merged and new package published.

https://github.com/chaijs/pathval/pull/58

[2020-10-29 21:49] NickGerleman opened #6380 "react-native-windows-init Does Not Correctly Replace Metro Config"
react-native-windows-init will prompt asking whether or not to replace the builtin metro config with our template version. After hitting yes, the stock RN Metro config is still present.

Output:
[code]

[2020-10-29 22:54] NickGerleman commented on #5879
Doing some fixup for an issue in the same area and am no longer able to repo this. Thinking it might have been fixed with the floating promises cleanup or other refactoring that has happened. Going to close this, but please reopen if you are still able to repro.

[2020-10-29 22:54] #5879 closed

[2020-10-29 23:37] rectified95 commented on #2107
Starting to verify the scenarios.
Testing this now in Playground now, I don't the rectangle drawn around the entire Flatlist.
@YuliKl what was the exact scenario in which this occurred? I am pressing Tab a few times until I enter the first element in the list, and I don'tsee the outer rect before that.

[2020-10-29 23:40] Khalef1 commented on #4995
This was already approved for 62 and I'm approving for 63 as well

[2020-10-30 00:15] YuliKl commented on #2107
Given how long ago I had created this issue, I'm not surprised that you're unable to repro.

[2020-10-30 00:31] NickGerleman commented on #6101
Testing the build now and can confirm the new properties do not work as-is.

[2020-10-30 00:46] rectified95 commented on #6101
I also tried it yesterday and they don't work.
Moreover, Simply registering the PointerPressed/PointerReleased events on the underlying XAML TextBox doesn't solve the issue. Seems that TextBox is composed of a view XAML controls, one of which swallows the event - needs deeper debugging.

[2020-10-30 08:16] vijay-kadam opened #6392 "Unable to create custom Hyperlink using HyperLinkButton and TextBlock"
Microsoft.Reactnative exposes interface IViewManager which only works with Frameworkelement. Also there are no shadow nodes in current 0.63 version. I have codebase which is from 0.59-legacy version but now i want to create custom native component in CS using HyperlinkButton and TextBlock. Here is my component class from 0.59-legacy how can i convert below snippet in 0.63 version.

[code]

[2020-10-30 09:01] #6380 closed

[2020-10-30 16:20] #6368 closed

[2020-10-30 17:28] kmelmon opened #6393 "Update E2E test infrastructure from update to WinAppDriver 1.2"
We are about to update the MSFT hosted agents to install WinAppDriver 1.2.  This is a breaking change for our E2E tests as the version of WinAppDriver is tightly coupled with Appium and WebDriverIO.

We are also in the process of moving our entire CI loop to better hardware and VMs that we control.  We should install version 1.2 on these VMs as well.  See https://github.com/microsoft/react-native-

[2020-10-30 21:28] NickGerleman commented on #5348
FYI that as of https://github.com/microsoft/react-native-windows/pull/6397, TurboModuleExample is dynamically added to RNTesterList by testing the presence of TurboModule infrastructure on the JS side. I.e. it will show up when using a JSI runtime, and will disappear when web debugging.

[2020-10-30 21:47] NickGerleman opened #6398 "Vnext Codegen Task Doesn't Clear Old Specs"
We run a JS build task to generate native module specs from the insides of RN. This creates headers for specs present, but doesn't garbage collect anything that's no longer there. This means we can see specs present for modules that were removed or renamed.

We likely can just add a build step to delete specs before running codegen.

[2020-10-30 22:26] kmelmon commented on #6090
@chrisglein yes each jasmine test spawns a separate instance of the test app, so what's remaining here is for Integration tests.  This is a nice-to-have.  Updating bug title and unassigning.

[2020-10-30 22:27] kmelmon commented on #6227
What remains here is a strawman schedule and tentative assignments of ViewManagers to devs

[2020-10-30 22:34] kmelmon commented on #5762
@chrisglein This is a high priority to fix - currently anyone trying to run E2E test locally will run into a hard-to-diagnose failure.  I've added a Troubleshooting section to the E2E test docs for now as a mitigation.

[2020-10-30 22:37] kmelmon commented on #5763
@chrisglein This is a randomly occurring issue, currently happens at a low frequency.

[2020-10-31 02:39] justcoding121 commented on #6331
I can confirm that I was able to now ignore the error and submit to store successfully.

[2020-10-31 02:42] asklar commented on #6331
thanks @justcoding121 . I've asked the WACK team to publish a KB article about this, glad to hear you were able to submit successfully, this issue only affects running WACK or AppVerifier locally.

[2020-10-31 02:42] #6331 closed

[2020-10-31 03:04] asklar opened #6402 "Gather telemetry on success/failure of run-windows CLI"
Split-off from #5183 which I'm using to track project init only

[2020-10-31 04:57] NickGerleman commented on #5956
It seems like a workaround for this was added in #5921

[2020-10-31 04:58] #5956 closed

[2020-10-31 08:54] #6367 closed

[2020-10-31 17:24] capc0 commented on #4140
with the stub in react-navigation, when  I do not import ```react-native-gesture-handler``` (documentet as needed in react-navigation)  the app crashes on button clicks. But since gesture handler is not supported, I cant import it. So we kinda need this now IMO.

[2020-11-02 14:06] mandrigin opened #6407 "XMLHttpRequest doesn't work with Content-Length property"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:
[code]

2. `npx react-native info`:
[code]

## Steps To Reproduce
1. Run the following code.
2. Press both buttons.
3. Observer the debug log.

First button works fine, the second one errors out (see what actually happens in the end of this issue).

**Sample Code**

[code]

## Expected Res

[2020-11-02 18:34] harinikmsft commented on #5375
Marking this as needs triage to bring it up for discussion. Based on conversations offline, here are the findings:

- There is likely work needed in react-native-windows core to support [this native module](https://github.com/facebook/react-native/blob/0217c14a116afe520bfc824eacb965834d3642c6/Libraries/ReactNative/AppRegistry.js#L249) for supporting in process background tasks. This is currently a

[2020-11-02 18:35] chiaramooney commented on #5623
Looks like only one file will need to be changed. Point of change will be [here](https://github.com/microsoft/react-native-windows/blob/48f6f67fc14f3f7a7c33e8a1b3c62e8e64882bd8/vnext/Microsoft.ReactNative/Modules/NativeUIManager.cpp#L514-L523). I'm assuming I will need to wait until RN 0.64 is released to make my change because the 'static' type won't exist until then.

[2020-11-02 18:37] chiaramooney commented on #6280
Track slider PR: https://github.com/callstack/react-native-slider/pull/242

[2020-11-02 18:38] acoates-ms commented on #5623
master should already have all these changes.  We have sync'd a bunch of RN 64 into master already.

[2020-11-02 19:15] chrisglein commented on #6392
The documentation for view managers is [here](https://microsoft.github.io/react-native-windows/docs/view-managers). Is your question specifically about patterns of how to move from using shadow nodes to whatever the new pattern is? Hopefully the docs I linked are helpful, if they are not let us know what would be helpful. We're always looking for feedback on the docs and trying to improve them.

[2020-11-02 19:25] chrisglein commented on #6370
@ksurya Did you meant to file this against https://github.com/microsoft/react-native-macos? (since you're mentioning bash and other apple stuff)

[2020-11-02 19:29] chrisglein commented on #6354
@rectified95 Can you check to see if this is a clean dupe of #5437 and when this repros (what versions)?

[2020-11-02 19:35] achipa-HP commented on #5375
The documentation suggests it goes beyond time triggers (unless you're referring to Windows-specific implementation details). The very example at https://reactnative.dev/docs/headless-js-android#example-usage provided for Android demonstrates HeadlessJS use on a trigger (intent) invoked by a network status change - not a timer.

There is another approach via https://www.npmjs.com/package/react-nat

[2020-11-02 19:45] chrisglein commented on #6347
How are you running your UWP app with command line arguments? Are you getting them in your OnActivated? Once you have them there you can write a native module capture that and bring it to JS. You can look into the implementation of OpenUri to see how that forwards to the JS - there shouldn't be much magic there.

If you're dealing with how to get arguments to a UWP app from a Win32 app [here's how

[2020-11-02 21:21] NickGerleman commented on #6313
Still seeing this on some PRs. Need to investigate further.

[2020-11-02 23:04] namrog84 commented on #3178
Hey we recently started hitting this in our upgrade to RN63,  any update on progress on this?

[2020-11-02 23:07] rectified95 commented on #6354
This is a good repro - the issue happens even if the TextInput is not inside a ScrollView. It is a dupe of #5437, though.

[2020-11-02 23:07] #6354 closed

[2020-11-03 00:50] appden opened #6410 "Add `button` number property to mouse events"
# Proposal: Add `button` number property to mouse events

## Summary

React Native macOS provides the `button` property (0 for left, 2 for right) [here](https://github.com/microsoft/react-native-macos/blob/master/React/Base/RCTTouchHandler.m#L253-L258), which comes from the DOM [MouseEvent.button](https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/button) API.

On React Native Windows, th

[2020-11-03 01:08] NickGerleman commented on #6410
Would be interested in your feedback on a WIP document that @kikisaints is working on related to mouse events. There's actually [a comment open](https://github.com/microsoft/react-native-windows/pull/6299#discussion_r509922262) right now asking about what we want mouse events to look like.

[2020-11-03 01:10] NickGerleman commented on #6410
There's kind of a separate question of how we transition from one set of events/event props to another. Untyped usage makes deprecation particularly hairy. I think one of the ideas was a set of new pointer event handlers where we started with a min-set of supported properties, so we can build up a new event without breaking the old.

[2020-11-03 01:51] kmelmon commented on #5907
Marko from Accessibility team said:

"The closest that would come to this on Windows/UIA would be to raise a focus changed event AND make sure that the element’s HasKeyboardFocus and IsKeyboardFocusable properties both report true. Without the latter, Narrator wouldn’t follow the focus changed event, assuming it was bogus. "

It appears we'll need to implement a custom AutomationPeer in order to m

[2020-11-03 02:41] JunielKatarn commented on #3178
#6079 is implementing this. Work in progress.

[2020-11-03 05:42] stmoy commented on #4140
Following up with some of the folks that @qmatteoq is working with:

[2020-11-03 08:19] kmelmon opened #6411 "Add support for custom measure function in community modules"
This issue was discovered while debugging https://github.com/microsoft/react-native-windows/issues/5437

If you create a ViewManager for a XAML component that has native-specific logic for measuring the "intrinsic" size of the component, yoga needs to defer to XAML to measure this component.  The Text component is the best example of this:  Only the native framework knows how large the glyphs will

[2020-11-03 09:26] asklar commented on #6332
regarding your first question, yes you can consume C++ modules from a C# app. Making the app C# could potentially solve some of the problems you are seeing since VS will allow you to turn on using .net native for the app.

As to your second question, I'm not sure so I will have to defer to someone who knows more about certificates, but I would not expect customers to have to turn on developer mode

[2020-11-03 15:00] mandrigin commented on #6407
@chrisglein I wanted to ask which way is the best one to fix this issue. Currently, we workaround that in our fork of react-native by just ignoring `Content-Length` header if it is set for the request (that is a very simple change).

If that is fine I can just submit a PR here very soon. Otherwise, I am open to suggestions. I would love to abandon our fork of RN and just use mainline but the bug p

[2020-11-03 15:09] mandrigin commented on #6407
ah, looking at the code I think I see how it is done (`content-encoding` example). I'll try to prepare a PR asap.

[2020-11-03 15:52] ryfow commented on #6347
Thanks @chrisglein,

Yeah, I'm getting them in OnActivated.

Looks like a `[ReactEvent("url")]` might work.

Is there a good way to get a handle on the Module from App.xaml.cs?

[2020-11-03 16:30] namrog84 commented on #3178
Just giving update.  We don't actually need this for RN63, it was a red herring, during investigation. It does throw an exception, but its caught and eaten.

[2020-11-03 17:28] chrisfromwork opened #6416 "microsoft-reactnative-sampleapps package fails to build - Folly directory does not resolve generating visual studio build errors"
## Environment
1. `npx react-native --version`: 4.13.0
2. `npx react-native info`:
System:
    OS: Windows 10 10.0.19042
    CPU: (36) x64 Intel(R) Core(TM) i9-10980XE CPU @ 3.00GHz
    Memory: 48.65 GB / 63.80 GB
  Binaries:
    Node: 12.18.2 - C:\Program Files\nodejs\node.EXE
    Yarn: Not Found
    npm: 6.14.8 - C:\Program Files\nodejs\npm.CMD
    Watchman: Not Found
  SDKs:
    Android SDK:

[2020-11-03 17:35] acoates-ms commented on #6416
The react-native-windows repo is a yarn workspace repo, so you need to use `yarn` to install the dependencies.  Then `yarn build` to build the `react-native-windows` package before you can build the sampleapps package.

[2020-11-03 17:35] #6416 closed

[2020-11-03 17:36] chrisfromwork commented on #6416
Thanks @acoates-ms !

[2020-11-03 18:32] capc0 opened #6418 "AsyncStorage data persistance between app runs"
I just opened an issue regarding AsyncStorage an windows https://github.com/react-native-async-storage/async-storage/issues/482

The problem: between runs of my windows app with ```react-native run-windows``` all stored data is lost.
Could this be a behaviour because of some OS paths/folders are re-created when the CLI starts or builds the windows project?

Has someone AsyncStorage working with da

[2020-11-03 19:19] asklar commented on #6418
My hunch is that nothing is calling `sqlite3_close`. This method is called when encountering an error or when destroying the `DBStorage` object, but it's possible that when you're closing the app, the destructor for the DBStorage which is part of the native module, isn't running. The native module doesn't seem to expose the ability to flush and close the storage programmatically, so it seems like

[2020-11-03 19:26] capc0 commented on #6418
can I inspect the sqlite DB in AppData or somewhere else on the filesystem to check that?

[2020-11-03 19:31] asklar commented on #6418
from looking at the code it looks like the db is stored in %localappdata%\Packages\pfn\LocalState
where pfn is the Package ID and publisher ID. You can see these properties if you open the Package.appxmanifest file and navigate to the Packaging tab:
![image](https://user-images.githubusercontent.com/22989529/98031965-25d03980-1dc8-11eb-8b1d-95b8c5e6303f.png)

[2020-11-03 19:32] exotexot commented on #6332
Wow okay. I wasnt aware that one could consume c++ from a c# app. I thought it was just to other way round. After using the cs template I was able to see the Compile with .NET Native tool chain and could build without issues and was also able to submit to the Microsoft Store. Hence the the issue with the certificate is resolved as it is no longer needed.

So at least one can tell that the .net nat

[2020-11-03 19:38] exotexot commented on #6418
The .db file is stored at:
C:\Users\USERNAME\AppData\Local\Packages\PACKAGE_FAMILY_NAME\LocalState

[2020-11-03 19:57] capc0 commented on #6418
Ok so what happens is that the folder ```C:\Users\USERNAME\AppData\Local\Packages\PACKAGE_FAMILY_NAME``` gets completly deleted and re-created whenever i restart via ```react-native run-windows```.

@exotexot are you using another start script? im using the c++ (default) setup btw.

[2020-11-03 19:59] exotexot commented on #6418
I was using c++ setup but recently switched to c# and never observed this behaviour tbh.

[2020-11-03 19:59] #6407 closed

[2020-11-03 20:02] exotexot commented on #6418
One thing you should test: try using 1.12.x version. Since version 1.13 they've added some mechanism re which affects the persistance of the AsyncStorage. What seems weird to me is your report, that the entire LocalState folder is being deleted?

Also: as I'm using 0.62.x i'm not auto-linking but manually linking my modules and build through Visual Studio and not the terminal.

[2020-11-03 20:05] capc0 commented on #6418
The folder with the "package family name" (uuid string) is being deleted, so even one level higher than LocalState.
I could imagine auto-linking being responsible for such behaviour.

[2020-11-03 20:06] mandrigin commented on #6407
🥳 thanks for the quick response!

[2020-11-03 20:09] exotexot commented on #6418
Not sure. Linking native modules just "links" native code to functions you call from the js side of things. Every app has its own architecture and folder-structure. In case you want to explore that you can take a look at react-native-fs which provides you access to the filesystem. In those folders you can store e.g. downloaded data.

[2020-11-03 20:10] asklar commented on #6418
ah ok that makes sense because react-native run-windows will uninstall the app before installing the new version - which will delete the local state.

[2020-11-03 20:34] rectified95 commented on #3006
@chrisglein What is the correct behavior here? Currently, when a popup is open it traps focus. Is 'tabbing into a popup' about being able to tab in/out of an open one?

[2020-11-03 20:42] capc0 commented on #6418
ok thats a bit annoying for development but should have no effect in production than

[2020-11-03 20:44] asklar commented on #6418
right. Note that it might still be an issue when upgrading the app, so you might want to ensure that data is somehow persisted outside the app's store (e.g. uploading it to the cloud)

[2020-11-03 21:03] capc0 commented on #6418
If I build once and then start the app via the .sln and hitting run (F5), the data will not be lost. Is there a CLI command to invoke the same functionality (run without rebuilding)?

I guess that would be sufficient enough to deal workaround this issue.

[2020-11-03 21:36] asklar commented on #6418
@capc0 `run-windows` can take some options e.g. `--no-build` to skip building, `--no-deploy` to skip deploying, etc.
 However when you want to try new changes to native code you need to build and deploy, and the current implementation of deploy doesn't have a way to skip uninstalling the app.
@svetbonev @srdjanj FYI

[2020-11-03 21:55] #6218 closed

[2020-11-03 21:55] #6291 closed

[2020-11-03 21:55] #6292 closed

[2020-11-04 08:50] exotexot commented on #6418
@asklar does that really mean the entire appfamily directory is being deleted after an app update? Even in release mode? In my app users store large binary data in their documents directory (localstate) and it would be really weird to lose all of this during an app update

[2020-11-04 10:27] vijay-kadam commented on #6392
Yes my question in specifically about how we can move from shadow node with new view managers. As now i am not able to see Hyperlink and textblock with below code snippet

`public class ReactHyperlinkButtonViewManager : AttributedViewManager<HyperlinkButton>
  {
    public override string Name => "RCTHyperlinkButtonView";

    public override FrameworkElement CreateView()
    {
      var view = ne

[2020-11-04 17:43] mandrigin opened #6428 "Empty AsyncStorage.getAllKeys() behaviour on Windows isn't consistent with other platforms"
## Environment

This bug reproduces on both 0.62.x and 0.63.x on Windows, I only will share 0.63 details here.

Run the following in your terminal and copy the results here.
1. `npx react-native --version`:
`4.13.0`

2. `npx react-native info`:
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Create an app with the following code.
[code]
2. run it on mac

[2020-11-04 17:45] mandrigin commented on #6428
I will take a look at the solution myself and try to prepare a PR soon.

[2020-11-04 19:12] capc0 opened #6430 "button click from react-native-paper lib crashes on windows"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.13.0
2. `npx react-native info`:

[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. steps desribed in https://github.com/callstack/react-native-paper/issues/2329

## Expected Results

it should not crash ;)

## other

im not sure if this is some

[2020-11-04 19:54] #5704 closed

[2020-11-04 20:00] #6428 closed

[2020-11-04 22:27] #5183 closed

[2020-11-04 22:27] #6402 closed

[2020-11-05 02:32] chrisglein commented on #5172
This should be clear to close as the PR has been merged. @stmoy as an FYI.
Although [React Native Directory](https://reactnative.directory/?search=react-native-permissions) doesn't list it yet. @stmoy are you including that in the checklist for modules or are we handling it in batches?

[2020-11-05 02:44] chrisglein commented on #3006
My comments on this are from over a year ago and I believe were also made mid-meeting (aka I was channeling the collective) :(. Tagging @harinikmsft in case she remembers or has put more recent thought into this through the focus zone discussions. I'd certainly say as is this issue is lacking a specific scenario/repro to measure success. XAML flyouts seem to err towards trapping focus.

[2020-11-05 07:00] elcssmouhsine opened #6433 "Custom templatized user control must forward width/height for layout to work properly (was: c# custom native component does not get registered in c++ app)"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:  4.13.0
2. `npx react-native info`:

info Fetching system and libraries information...
System:
    OS: Windows 10 10.0.18363
    CPU: (6) x64 Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz
    Memory: 1.25 GB / 3.98 GB
  Binaries:
    Node: 12.18.2 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.

[2020-11-05 07:30] asklar commented on #6433
@elcssmouhsine: @jonthysell checked in a change today that will set the right property on the C++ app to consume a C# module. If using that isn't possible can you make sure you have the `<ConsumeCSharpModules>true</ConsumeCSharpModules>` property set in your vcxproj?

[2020-11-05 07:36] asklar commented on #6430
@capc0 can you please provide the call stack at the time of the crash? Also, is this a hard crash or do you get a redbox?

[2020-11-05 07:37] elcssmouhsine commented on #6433
yes, I already have ConsumeCSharpModules in my project.
the project  does build without any problems the only problem is that the component is not available in UIManager

<img width="1221" alt="Screen Shot 2020-11-05 at 11 36 36 AM" src="https://user-images.githubusercontent.com/64892714/98211254-35cc5280-1f5b-11eb-9d3f-cfb163368a62.png">

[2020-11-05 07:39] elcssmouhsine commented on #6433
https://github.com/elcssmouhsine/CsharpComponent/blob/master/windows/CSharpComponent/CSharpComponent.vcxproj

[2020-11-05 07:41] asklar commented on #6418
@exotexot looks like the localstate folder is preserved across app updates - but it gets blown away by uninstalls (which run-windows does). So app updates should be ok. More info here: https://blogs.windows.com/windowsdeveloper/2016/05/10/getting-started-storing-app-data-locally/

[2020-11-05 08:47] creambyemute commented on #6430
Ugh, I'm soon going to add RN-Windows to our App again (we postponed it when vNext was announced) and we're using RN-Paper as well.

I remember before vNext, RN-Paper with with version 2.16.x worked, at least there the button didn't crash.
Not sure if 2.16 of RN-Paper would still work with RN-Windows vNext.

[2020-11-05 08:54] capc0 commented on #6430
its a hard crash.

![image](https://user-images.githubusercontent.com/27284008/98219018-c6e7fd00-1f4c-11eb-8813-01f19499c840.png)

[2020-11-05 11:41] sureshsvmx opened #6435 "Calling base.OnActivated(e) on second activation when app is already running causes crash"

[2020-11-05 11:43] asklar commented on #6433
Thanks for confirming @elcssmouhsine .
It looks like the C# native module you are consuming might be using the older reflection-based API. Tagging @dannyvv and @jonthysell to take a look, I think we have at least one other user hitting this issue.

[2020-11-05 11:46] asklar commented on #6430
Thanks @capc0 . It looks like either the Paper button or your app code is trying to animate the [elevation](https://reactnative.dev/docs/view-style-props#elevation) property, which only exists on Android. We arguably shouldn't crash, but it sounds like Paper/your app should be oping out of the elevation animation on non-Android platforms.

[2020-11-05 11:56] sureshsvmx opened #6436 "Calling Navigate in onActivated."
**Just wanted to know is there any specific way to reload the RNW app.**

We tried Host.ReloadInstance() by calling NativeModules which crashes the app frequently even when the app is active in foreground .

and we  tried the like below which leads to multiple frame. Please can you explain why we see multiple frames.Does caching happens and when we do _Frame.Navigate() does RNW loads the cached pa

[2020-11-05 12:02] elcssmouhsine commented on #6433
also, I have initialized react-native-windows using CSharp instead of CPP, in this case, I get a blank component with nothing getting rendered, I will open that in another issue after this one gets fixed

[2020-11-05 12:22] capc0 commented on #6430
I checked the rn-paper button code and found exactly what you said in
https://github.com/callstack/react-native-paper/blob/master/src/components/Button.tsx#L146

I will report it to the rn-paper team.

You want to keep this issue here open and prevent calls to the elevation prop - or should I close it?

Thanks!

[2020-11-05 12:24] creambyemute commented on #6430
We are using RN-Paper on iOS and Android and iOS does not crash when doing that, just fyi

[2020-11-05 12:48] capc0 commented on #6430
I also think it would be handy if the rn-windows platform would prevent/ignore calls to the elevation API. This avoids propably many code changes needed in different UI libraries.

[2020-11-05 19:03] chrisglein commented on #6436
Having a hard time understanding what your question is here. The code in question doesn't look like RNW, but rather the C# UWP code. Was there something specific about React Native in your question? Can you provide more context?

[2020-11-05 19:07] chrisglein commented on #6435
There may be some issues with protocol activation as we don't have test coverage here. With protocol activation you'll go through a path where your already active app gets called here and it seems like there's a problem.

Let's get someone to look at this by just adding protocol activation to an empty app and see if this repros. Then we can walk back to see if there's something specific about this

[2020-11-05 19:14] chrisglein commented on #6430
At least to match iOS it seems like we should not crash. Catching this earlier than when we've already spun up the animations and are deep in facades would be good. Perhaps a yellow box, as technically you're trying to animate something that's going to no-op? I don't know if that's considered a graceful decline in behavior or not. Windows does have a notion of elevation that feeds into its shadow

[2020-11-05 19:17] #6418 closed

[2020-11-05 19:22] chrisglein commented on #6410
Assigning to @kikisaints to reconcile with her in-flight doc of mouse API changes.

[2020-11-05 19:29] #6334 closed

[2020-11-05 19:45] chrisglein commented on #6392
Is that code snippet from your old implementation? After 0.59 `AttributedViewManager` isn't part of the plan anymore.
With something like HyperlinkButton that's going to not be a fixed size and very much need to measure text, you're going to run into an issue without this: #6411. In the meantime try assigning a fixed width/height and see if that gets your element to show up.

If you you turn on th

[2020-11-05 21:19] NickGerleman opened #6442 "Increase in "fatal error C1060: compiler is out of heap space" after NM2 UIManager"
Seeing an increase in compiler OOM errors after UIManager was moved to NM2 infrastructure. Hard to pinpoint the exact cause, but the theory was that it was related to the header graph brought in by JSValue.

A potential action item would be to try to cut down on header graph using a metric such as "length of preprocessed file". This analog is sometimes used to guestimate complexity of compiling a

[2020-11-05 21:29] yagoldin commented on #5867
Adam Gorman(adamgor) and I are also encountering this issue.

[2020-11-06 05:38] asklar commented on #6435
This is being hit by XBOX team (@mattlop1342) who filed this bug in the facebook RN github:
https://github.com/facebook/react-native/issues/30238

    We pass the activationUrl to the restart, so that after the restart when the OnLauched lifecycle hook is called, it has url on e.Parameters

CC @chrisglein FYI

[2020-11-06 05:51] NickGerleman commented on #5867
Chatted offline. Will hear back on whether the `keyboardShouldPersistTaps="always"` workaround is okay until we have an upstream fix.

[2020-11-06 06:00] NickGerleman opened #6444 "Audit Community Modules for Thread Affinity Issues with RNW 0.64"
#6284 changes semantics around native module thread affinity, where native modules are now called on the JS engine thread instead of the UI thread. Previous UI threadiness was unintentional, but likely means there are community modules using UI-thread affined resources from a native module.

We should try to provide a transition path for the break (e.g. UI-thread native modules though QuirkSetting

[2020-11-06 08:07] NickGerleman commented on #4007
Closing this since there isn't active work for desktop integration tests

[2020-11-06 08:07] #4007 closed

[2020-11-06 08:09] NickGerleman commented on #4063
Closing this since there isn't active work for desktop integration tests

[2020-11-06 08:09] #4063 closed

[2020-11-06 08:10] NickGerleman commented on #5349
Closing this since it doesn't target anything super actionable.

[2020-11-06 08:10] #5349 closed

[2020-11-06 08:11] NickGerleman commented on #5306
Haven't seen this failure ever again. Going to close this issue unless we see the UT fail again.

[2020-11-06 08:11] #5306 closed

[2020-11-06 08:23] NickGerleman commented on #6303
Logged in FB's repo. Keeping it in both until we take in a fix.

[2020-11-06 08:25] #6398 closed

[2020-11-06 08:26] #5605 closed

[2020-11-06 08:28] NickGerleman commented on #4558
The motivations behind this are mostly satisfied by the gallery app. Closing this.

[2020-11-06 08:28] #4558 closed

[2020-11-06 08:29] NickGerleman commented on #4586
We fully share this as of the recent refactor.

[2020-11-06 08:29] #4586 closed

[2020-11-06 08:30] NickGerleman commented on #4611
Remaining work tracked here is for removal, which will happen automatically once we hit the build where FB removes Picker. Closing this issue.

[2020-11-06 08:30] #4611 closed

[2020-11-06 08:33] NickGerleman commented on #5292
Not sure if there's anything still actionable here. @dannyvv will probably know better (feel free to close this if there isn't anything we still need).

[2020-11-06 08:34] NickGerleman commented on #5287
Going to close this after it was discovered this is nontrivial. Don't think it's likely anyone will be looking at this.

[2020-11-06 08:34] #5287 closed

[2020-11-06 08:38] NickGerleman commented on #5972
Not sure there's an immediate action item here. Closing for now unless anyone disagrees.

[2020-11-06 08:38] #5972 closed

[2020-11-06 08:42] NickGerleman commented on #5931
We used to do this correctly. The logic is folded into dependency installation in generator, but we no longer try to install dependencies if they're already satisfied. I.e. this has been broken since 0.62.

The dependency setup between init + generator could use some attention + test coverage in general.

[2020-11-06 08:48] NickGerleman commented on #2077
Starting with https://github.com/microsoft/react-native-windows/pull/6074 we provide UniversalApiContract for Version and document that on our site. Going to close this unless there are other constants we think we want to add.

[2020-11-06 08:48] #2077 closed

[2020-11-06 08:50] NickGerleman commented on #2452
https://github.com/microsoft/react-native-windows/issues/2220 was closed, where it sounds like this is all working now Anything left for this?

[2020-11-06 08:51] NickGerleman commented on #2228
Anything still actionable here? Feels like we've had a lot of separate discussion in this area recently 😉.

[2020-11-06 08:53] NickGerleman commented on #2347
Is this still relevant? Seems like we've made some decent architectural shifts since this was created.

[2020-11-06 08:59] NickGerleman commented on #2810
Is this still relevant?

[2020-11-06 09:03] NickGerleman commented on #3073
This prop is JS only, so we get it for free and it works as expected on RNW last I played around in the area. Please feel free to reopen if there are any known issues.

[2020-11-06 09:03] #3073 closed

[2020-11-06 09:07] NickGerleman commented on #3522
I think ACoates fixed this specific issue recently. Is there still anything remaining that this tracks?

[2020-11-06 09:08] NickGerleman commented on #3396
I think we have all of this now documented. Please feel free to reopen if there is anything missing.

[2020-11-06 09:08] #3396 closed

[2020-11-06 09:09] NickGerleman commented on #3797
I think we decided that there wasn't any action items here.

[2020-11-06 09:09] #3797 closed

[2020-11-06 09:11] NickGerleman commented on #3721
I think all of this code has been replaced. Going to close this.

[2020-11-06 09:11] #3721 closed

[2020-11-06 09:13] NickGerleman commented on #3674
Anything left here to complete?

[2020-11-06 09:20] NickGerleman commented on #5059
There's been new issues since this one. Closing this.

[2020-11-06 09:20] #5059 closed

[2020-11-06 09:25] #4995 closed

[2020-11-06 09:27] NickGerleman commented on #5116
I think we're doing this now. Is there anything that still needs to be addressed?

[2020-11-06 09:29] NickGerleman commented on #5534
I think we did this. Anything left to do?

[2020-11-06 11:26] NickGerleman opened #6445 "Make react-native-windows-init oblivious to project generation flags"
CLI Options for project generation can vary between different versions of RNW as new features/flavors are added or removed. Each of these currently need to be added to react-native-windows-init, which needs to  support every version of RNW.

We should try to make react-native-windows-init oblivious to project generation options and expose a mechanism to declare them on the project generation side

[2020-11-06 11:29] NickGerleman commented on #6445
Tagging for 0.65 since we will want to change CLI options if we want to make binary distribution the default.

[2020-11-06 11:33] NickGerleman opened #6446 "Ensure NuGet package is published before npm package"
Our publish pipeline will publish an npm package for react-native-windows before attempting to build the MSRN binary and publish a NuGet package. If we fail to publish the NuGet package (e.g. due to build stability issues), the resulting npm package would be unusable for binary distribution.

We should ensure a NuGet package is published before publishing the npm package.

[2020-11-06 11:35] NickGerleman commented on #5445
Closing in favor of building a less fragile generator boundary. Tracked by #6445

[2020-11-06 11:35] #5445 closed

[2020-11-06 16:34] #5623 closed

[2020-11-07 00:40] rectified95 commented on #6354
Addressing this in #6451
cc @NickGerleman @capc0

[2020-11-07 00:49] rectified95 commented on #6392
@vijay-kadam As Chris says, our docs should be helpful in understanding how to use custom view managers in your native modules.
If you want a concrete example of what the transition can look like, you can compare DatePickerViewManager.cpp in this repo, with my community module implementation: https://github.com/react-native-datetimepicker/datetimepicker/pull/157

[2020-11-07 00:51] rectified95 commented on #5437
The problem with TextInput is being addressed by #6451.

I've tested this fix together with adding a custom yoga measure function for Slider - it solves the issue when used in the shadow node-based view manager we used to have  in core, but requires changes to the native module API to allow a fix in the community module.

Checkbox still needs debugging as the above fix doesn't work for it.

I'm cl

[2020-11-07 00:51] #5437 closed

[2020-11-08 16:17] NickGerleman commented on #5867
Removing "Partner: Office" since Stellar is no longer effected, but Garrison + Stream are both effected. Garrison has a workaround they're happy with, and there wasn't concern of a delayed upstream release. Stream still validating the workaround.

[2020-11-08 22:07] simeoncran commented on #3278
I don't think it should matter. Frames are floating point numbers so they're already subject to rounding elsewhere in the system. Do you have any repros where it's definitely displaying the wrong thing so that I can investigate?

[2020-11-08 22:09] simeoncran commented on #3278
You should be able to pass a stream to LottieVisualSource. That API was hidden due to a missing attribute, but that has been fixed and will be available in V7.0 (preview expected this week).
Is the problem with too much work on the UI thread something in LottieVisualSource or is it something you can fix? LottieVisualSource does most of it's loading on a separate thread. Maybe more needs to moved o

[2020-11-09 06:05] NickGerleman opened #6456 "AppInsights Outputs to stderr for react-native commands When Network Flaky or Unavailable"
Showed up during CI when running `react-native bundle` https://dev.azure.com/ms/react-native-windows/_build/results?buildId=121398&view=logs&j=2aef21c9-0610-5c30-26c1-4f046de16038&s=d654deb9-056d-50a2-1717-90c08683d50a&t=93f898e5-507a-5eb1-f73b-c0c953f43c13&l=11471

It looks like telemetry client init does network operations and will take things down and error out if it fails. Since this is done i

[2020-11-09 06:08] NickGerleman commented on #6456
I can't actually tell if this is throwing or erroring out the process in a different way, but the command is failing.

[2020-11-09 06:18] NickGerleman commented on #6456
Pausing our publish pipeline since this was backported to 0.63 but hasn't been published yet. Seems like there is the potential for a bad regression or unintentional telemetry as-is.

[2020-11-09 07:06] NickGerleman commented on #6456
Code in the appinsights SDK creating the error is at https://github.com/microsoft/ApplicationInsights-node.js/blob/162d73176bae9927e73996df5cc0139102fab9f5/Library/CorrelationIdManager.ts#L79-L85

AppInsights seems to print out any of its internal warnings.

It's likely we're calling into this because we setup appinsights if anything requires @react-native-windows/telemetry, which will be included

[2020-11-09 08:25] NickGerleman commented on #6456
Easy repro is to just go offline and use run-windows or most other react-native commands.

[2020-11-09 13:21] NickGerleman opened #6460 "Auto approve dependabot PRs"
Dependabot makes multiple PRs a day that engineers almost universally just immediately approve. We should have some process to automate the approval of these PRs so engineers don't have to.

[2020-11-09 15:04] ReverentOne opened #6461 "Kill girls/women"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`:
2. `npx react-native info`:

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1.
2.

## Expected Results
Describe what you expected to happen.

## Snack, code example, screenshot, or link to a repository:
Please provide a Snack (https://snack.expo.io/), a l

[2020-11-09 15:58] JunielKatarn commented on #6461
Spam.

Closing.

[2020-11-09 15:58] #6461 closed

[2020-11-09 18:45] NickGerleman commented on #6456
Impact is more scoped. Looks like failing commands is limited to generating release bundles in MSBuild, which will detect stderr and log a misleading message about error code.

[2020-11-09 19:05] asklar commented on #6460
Need to ensure compliance is ok with auto-approving PRs

[2020-11-09 19:08] asklar commented on #6456
PR is out for suppressing the error, following up on possibly delaying initialization of AI.

[2020-11-09 19:12] asklar commented on #6446
Users can end up with a npm package that has no corresponding nuget so they can't build.
@dannyvv is this something on your radar already? CC @jonthysell since it's binary-distribution-related

[2020-11-09 19:18] asklar commented on #6444
Any native module that needs to access UI elements will need to be audited. Do we have a list? ViewManagers are not affected, only Native Modules.
https://microsoft.github.io/react-native-windows/docs/supported-community-modules

[2020-11-09 19:23] asklar commented on #6444
Meta-point: we have breaking changes for NM across releases (C# for 0.63, e.g.). How do we deal with keeping community modules working despite breaking changes in the platform?
Breaking changes in Native Modules should have a higher bar than other breaking changes.
Do we need to make the breaking change now at all?

[2020-11-09 19:24] asklar opened #6468 "How to deal with NM breaking changes"
Meta-point: we have breaking changes for NM across releases (C# for 0.63, e.g.). How do we deal with keeping community modules working despite breaking changes in the platform?
Breaking changes in Native Modules should have a higher bar than other breaking changes.
Do we need to make the breaking change now at all?

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows

[2020-11-09 19:33] jonthysell opened #6469 "RNW project support matrix (by language) is incomplete"
RNW technically supports projects (both host apps and native modules) written in C++/WinRT and C#. However, support for mixing these project types is incomplete, inconsistent, and ultimately confusing due to their mixed support by VS/MSBuild.

This is a tracking issue to capture which scenarios actually work, with links to examples and/or the specific issues blocking the scenario. As we move to fi

[2020-11-09 19:33] jonthysell opened #6819 "RNW project support matrix (by language)"
RNW technically supports projects (both host apps and native modules) written in C++/WinRT and C#. However, support for mixing these project types is incomplete, inconsistent, and ultimately confusing due to their mixed support by VS/MSBuild.

This is a tracking issue to capture which scenarios actually work, with links to examples and/or the specific issues blocking the scenario. As we move to fi

[2020-11-09 19:35] asklar commented on #6347
LinkingModule doesn't seem like part of the public API on the native side, which seems like a bug on the RNW side.
ReactNotificationService should be able to achieve this but we haven't documented it yet, _but_ there are some samples in this issue: https://github.com/microsoft/react-native-windows-samples/issues/198

[2020-11-09 19:38] asklar commented on #4823
No plans for this at this time, sorry!

[2020-11-09 19:43] asklar commented on #6301
We don't have current plans to support this but here is a project that you could add Windows/DirectX support to: https://www.npmjs.com/package/@tensorflow/tfjs-react-native

If you want to use WebGL then you could use react-native-webview

[2020-11-09 19:43] #6301 closed

[2020-11-09 19:50] jonthysell opened #6470 "C++/WinRT based apps are unable to consume C# native modules that contain nuget dependencies"
This repros in RNW 0.62, 0.63, and seems to be a problem with Visual Studio and/or the C++/WinRT toolchain.

I am attempting to write a [C#-based windows implementation for Lottie React Native](https://github.com/lottie-react-native/lottie-react-native/pull/692). The module has a dependency on the C# library [LottieWindows](https://github.com/windows-toolkit/Lottie-Windows), via its [nuget package

[2020-11-09 19:52] jonthysell commented on #6470
The symptoms are similar to #5639, however that case is for C++ nugets consumed by C++ libraries, and only repros when building with `run-windows`.

[2020-11-09 20:04] asklar opened #6471 "DevMode metro doesn't exclude *projectimports.zip"
This results in bundling failing due to file in use errors

[2020-11-09 20:16] jonthysell commented on #5639
Confirming today that this doesn't repro with a C# app consuming a C++ module + a C++ nuget.

[2020-11-09 20:29] #6278 closed

[2020-11-09 20:32] jonthysell commented on #5639
Confirming today that this no longer repros with CameraDemo against the latest 0.63.

[2020-11-09 20:36] jonthysell commented on #5639
Closing as resolved for 63.

[2020-11-09 20:36] #5639 closed

[2020-11-09 21:11] jonthysell opened #6473 "C++/WinRT-based apps consuming C# native modules (which use reflection) cannot use .NetNative, and therefore may be unable to actually ship"
This repros both in RNW 0.62, 0.63, and seems to be a problem with Visual Studio and/or the C++/WinRT toolchain.

RNW 0.62 uses reflection to implement the "attribute-based" C# implementations for both `ReactModule` and `AttributedViewManager`. A C# native module that uses these "attribute-based" implementations (as recommended) will only completely work with a C# based app.

Everything will compi

[2020-11-09 21:54] #6471 closed

[2020-11-09 23:36] jonthysell commented on #5979
This was fixed 1 month ago by https://github.com/react-native-video/react-native-video/pull/2119.

However react-native-video has not released a new version for 3 months.

Please ask the owners of react-native-video to release a new version with the fix.

[2020-11-10 03:23] dannyvv commented on #6473
Note: In 0.63, even when CodeGen is used, For the serialization cases there are still fallback codepaths that rely on reflection. For serialization the codegen is a best effort since due to polymorphism and generics not all possible types used can be guaranteed to be visible during codegen.

[2020-11-10 03:25] EhsanSarshar commented on #6301
The project that you mentioned only supports mobile devices and open-gl.

[2020-11-10 03:32] asklar commented on #6301
@EhsanSarshar right - you could possibly implement the Windows / DirectX support and add it to that module though

[2020-11-10 03:46] sureshsvmx commented on #6436
ust wanted to know is there any specific way to reload the RNW app.

We tried Host.ReloadInstance() by calling NativeModules which crashes the app frequently even when the app is active in foreground .

and we tried the like below which leads to multiple frame. Please can you explain why we see multiple frames.Does caching happens and when we do _Frame.Navigate() does RNW loads the cached page and

[2020-11-10 13:18] NickGerleman commented on #6313
I could swear I saw this on PRs that merged master after this change, but I haven't seen this show up at all in the last couple of weeks. Closing unless we see an uptick.

[2020-11-10 13:18] #6313 closed

[2020-11-10 18:35] asklar opened #6477 "Exclude other CIs from telemetry"
We should figure out a way to exclude CircleCI and Travis from telemetry collection

[2020-11-10 18:51] NickGerleman commented on #6477
This could also be interesting to capture, and just make sure whatever query included/excluded it.

E.g. measuring build success rate of 3p CI

[2020-11-10 18:56] asklar commented on #6477
we're not currently budgeted to capture _all_ telemetry so we have to make sure we are capturing the minimal set of data required to answer the existing business questions: are customers hitting issues creating projects and building them on their dev machines?

[2020-11-10 19:29] EhsanSarshar commented on #6301
maybe react native  windows can inspire by the way tensorflow.js works in node.js

[2020-11-10 19:42] #6456 closed

[2020-11-10 19:44] asklar opened #6479 "Evaluate telemetry costs and changing the "disable in CI" to "log and tag as CI""
Once we've had enough data we'll want to figure out cost for a month and then we can reevaluate changing the "disable" to "log and tag as CI"

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows/pull/6478#discussion_r520829110_

[2020-11-10 19:58] asklar opened #6480 "Lage prints non-printable characters on the console"
#6454 moved us from Lerna to Lage. It looks like there is some control character or something that's being printed wrongly to the console on Windows:

![image](https://user-images.githubusercontent.com/22989529/98726896-f97a6700-234b-11eb-8cbd-0f82c3a4c4ce.png)

[2020-11-10 20:00] acoates-ms commented on #6480
If you use the new windows terminal it will work fine.  -- Sadly this happens with a lot of JS tools that assume a wider range of supported characters from the terminal.
We should probably file a bug on the lage repo that it should fall back to using less fancy text when on legacy windows consoles.

[2020-11-10 20:02] asklar commented on #6480
sadly I can't use the new windows terminal since it hasn't yet implemented lots of keyboard navigation that are native to conhost

[2020-11-10 20:37] NickGerleman commented on #6480
The characters are some emojis that reflect the text to the right. This is confusing/annoying but no real functional impact.

[2020-11-10 23:41] shanelile opened #6482 "AppState.currentState is always returning undefined in RNW 0.63.6"
My team is trying to upgrade to RNW 0.63, and I've noticed what looks like a regression in a component that relies on AppState from react-native, where AppState.currentState is always returning undefined.

Digging into the code, it looks like a possible regression from updating \node_modules\react-native-windows\Microsoft.ReactNative\Modules\AppStateModule.cpp - GetCurrentAppState returns a plain

[2020-11-11 00:16] rectified95 commented on #5437
Update: the combination of forcing a xaml layout pass and providing a custom yoga measure function solves the problem for both Slider and Checkbox. Need to provide a way to specify those via the winrt API for community modules, as indicated above.

[2020-11-11 00:28] jonthysell commented on #6332
Unfortunately the inability of C++ apps to use the rd.xml to enable reflection with .NetNative for C# libs is an issue that we don't have a answer for yet. I'm tracking the issue here: https://github.com/microsoft/react-native-windows/issues/6473

[2020-11-11 00:29] jonthysell commented on #6473
I didn't realize this and it's good to call out, in case other people start seeing issues.

[2020-11-11 00:31] jonthysell commented on #6473
This was hit by a customer trying to consume Device Info (c#), Senstive Info (c#), and Static Server (c#) (see #6332) being unable to pacakage for store distribution, and their workaround was to switch their app to C#.

[2020-11-11 00:32] jonthysell commented on #6332
I know this was opened first, but I'm closing this as a dupe of #6473 where we're tracking the root cause.

[2020-11-11 00:32] #6332 closed

[2020-11-11 00:39] NickGerleman commented on #6482
It does look like we changed the event shape in https://github.com/microsoft/react-native-windows/pull/4991 (FYI @acoates-ms). Seems like this should be simple to fix, and add an integration test for to make sure the JS library interacts correctly with our module.

[2020-11-11 01:20] jonthysell commented on #6433
Hi, this is a bug becauseof the changed the behavior of `packageBuilder.AddViewManagers()`;

Rather than look for view managers within the calling module assembly, we only ever look in the Microsoft.ReactNative.Managed assembly, due to the change from shared project to dll.

@elcssmouhsine : You can do the following workaround, replace `packageBuilder.AddViewManagers();` with `packageBuilder.AddVi

[2020-11-11 01:33] #5168 closed

[2020-11-11 13:06] capc0 opened #6483 "UWP shadow / elevation alternatives?"
From my understand shadows / elevation support is not yet here for UWP. Is that correct?

I tried adding shadow to my rn-windows app with styles defined like this:

[code]

is there any plan to support shadows/elevation or another way I can create the same effect on windows?

[2020-11-11 13:24] capc0 commented on #6483
guess its related to https://github.com/microsoft/react-native-windows/issues/2800

[2020-11-11 13:57] gtRfnkN opened #6489 "Blank screen when "Remote JS Debugging" is disabled"
We've upgraded our app from RNW 0.59 to 0.63. All js and native modules are migrated and everything works just fine with "Remote JS Debugging" turned on. When turned off, the app just shows a blank white screen without any useful warnings or errors. The only output that we get is from the react-native server:
[code]

Due to a lack of any warning & errors, we tried removing components to find out w

[2020-11-11 14:07] kingdevnl commented on #5949
I even get this error on my PC.
I've got 32GB ram.... (Only ~10 is in use)

 compiler is out of heap space (compiling source file Modules\Animated\EventAnimationDriver.cpp) [D:\dev\ts\projectName\node_modules\react-native-windows\Microsoft.ReactNative\Microsoft.ReactNative.vcxproj]. Check your build configuration.

[2020-11-11 15:43] mandrigin commented on #3178
I have compatibility issues with 3rd party libraries because of that in RN63.
Some of these libraries (like amazon's ones) are just assume that you have the latest and greatest blob support and fall apart without it :-/
So far I had to fake it, but if it is possible, I even can help with implementation...

[2020-11-11 17:43] asklar commented on #6433
Nice find @jonthysell - we should probably document this in 63 and vnext until we can figure a way to fix this?

[2020-11-11 18:30] elcssmouhsine commented on #6433
@jonthysell i confirm your workaround does work and the component this time is registered, still there is another issue the component does not render props that were passed to it eg: `<CamUserControl label='Test label' style={{ color: "#000000" }} />`

[2020-11-11 18:31] NickGerleman commented on #4388
It seems like this module may be deprecated soon https://github.com/react-native-art/art/issues/75

[2020-11-11 18:45] gat786 opened #6492 "How do I display graphs in a view?"
For showing some telemetry stuff we are trying to embed graphs and charts inside a rnw app. We know that d3js can do that with web react. But we didn't find any way of doing something like that with react-native-windows. It would be great help if there are some suggestions

[2020-11-11 19:13] juanpicado commented on #6313
I am intrigued now 🙃

[2020-11-11 20:29] asklar commented on #6433
I noticed that the CamUserControl and its parent have both Height == 0 (saw that in the live visual tree in VS).
After changing the height to something non-zero and setting the background to e.g. red, I see a big red square that is the control.
The property setters you added to the module are getting called:
![image](https://user-images.githubusercontent.com/22989529/98861031-76274700-2419-11eb-8a

[2020-11-11 20:31] #6477 closed

[2020-11-11 20:42] asklar commented on #6433
another noteworthy point is that the foreground/background shows up when setting it on the **parent** of the CamUserControl control

[2020-11-11 21:13] JunielKatarn commented on #3178
The Blob implementation got de-prioritized, but if this blocking and your are interested, I'd be happy to work with you.
You can start by taking a look at #6079, which is the ongoing implementation.

[2020-11-11 21:55] jonthysell commented on #6433
@elcssmouhsine Can you update your JS app code with layout info? Your component is there, but I don't think you can see it because there's no style info (or wrapping components with style info) to lay it out properly.

[2020-11-12 00:49] #6372 closed

[2020-11-12 01:39] #6373 closed

[2020-11-12 06:36] NickGerleman opened #6494 "RNW 0.64 Release Discussion"
WIP Changelog here: https://github.com/microsoft/react-native-windows/releases/tag/react-native-windows_v0.64.0-preview.1

## Milestones
- **11/25:** Release 0.64.0-preview.1
- **1/15:** Changes in 0.64-stable require triage
- **1/29:** Release Target

## Blocking Issues
- re-generate API docs for 0.64 #6806 (asklar)
- Integrate final bits from react-native@0.64.0

## Checklist

**Legend**
- [ ] ⁉

[2020-11-12 06:37] NickGerleman commented on #5326
Marking this for triage again since we've been needing to use an interim process for the past couple of releases. Not sure the state of this item.

[2020-11-12 06:55] NickGerleman commented on #5867
Facebook also impacted, and Stream was having some issues getting the workaround applied.

Going back to the stance of us potentially wanting to be a bit aggressive and bring this back to 0.63, since this seems to be impacting many teams.

[2020-11-12 07:44] capc0 commented on #2989
Modal support would be great. In our case we need it to implement a layover-style loadingspinner that prevents all touch events while its visible.

[2020-11-12 09:00] dstampher opened #6495 "run-windows broken after updating to Visual Studio 16.8"
Just following the official react-native-windows Getting Started guide and the example project won't build.  I also followed all of the instructions for installing the dependencies found here: https://microsoft.github.io/react-native-windows/docs/rnw-dependencies

## Environment
npx react-native --version
4.13.0

npx react-native info
info Fetching system and libraries information...
System:
    O

[2020-11-12 09:12] dstampher opened #6496 ""System Requirements" page of Getting Started tutorial links to a page that doesn't contain relevant information."
https://microsoft.github.io/react-native-windows/docs/rnw-dependencies

In the "React Native Development Dependencies" section of the URL posted above, the first bullet point reads:

Install the standard React Native dependencies, which links to https://reactnative.dev/docs/getting-started#node-python2-jdk

This page doesn't contain information regarding installing React Native dependencies.  It c

[2020-11-12 13:19] mandrigin commented on #3178
Yep, that is my plan, to try to finish #6079

[2020-11-12 15:46] welber91 commented on #6495
Same problem

[2020-11-12 19:28] asklar commented on #6495
Looks like the Visual Studio 16.8 upgrade broke this. @dannyvv is taking a look

[2020-11-12 19:30] qmatteoq commented on #6495
@dstampher I'm getting the same problem. As a temporary workaround, if you open the solution in the windows folder with Visual Studio and you deploy the application from there, you should be able to complete the build without errors.

[2020-11-12 19:30] tscizzlebg commented on #6495
I am also running into this.

I saw somewhere that running Visual Studio for the first might help (it was true that I had installed it via Powershell and never actually opened it). Just starting Visual Studio wasn't enough but I specifically opened the solution for my new React Native Windows project and then when I ran `npx react-native run-windows` again it worked! But it only worked once, and n

[2020-11-12 19:41] #5979 closed

[2020-11-12 20:37] asklar commented on #6492
hi @gat786 we don't have any graph controls built into RNW but you could either:
- build your own using existing primitives
- add support to an existing react native community module

as far as native UI libraries that can work well in RNW, anything that works with UWP XAML should work out of the box, so e.g. Telerik has a UWP UI library that has chart controls, see if that fulfills your needs. On

[2020-11-12 21:00] #6290 closed

[2020-11-12 22:20] NickGerleman commented on #6393
appium-windows-driver needs to be updated for any new release of WinAppDriver it looks like. I.e. the package will need to be updated before we're able to use the installed verison of WinAppDriver. https://github.com/appium/appium-windows-driver/blob/master/lib/installer.js

Going to try to install WinApppDriver 1.1 on CI machines until we have a change to get real working packages.

[2020-11-12 23:30] jonthysell commented on #6470
Updating to reflect that C++ app + C# module that consumes C++ nuget also does not work.

[2020-11-12 23:56] jonthysell opened #6503 "C++/WinRT based projects (app or module) are unable to consume C# nugets"
This is not an issue with us per se, but something that affects us. If you try to add a C# UWP dependency to any C++/WinRT project, the operation will fail, using VS or nuget.exe.

How this affects us:

C++/WinRT Apps cannot consume C# native modules distributed via nuget. They can only consume those modules by source (presuming the source itself doesn't hit any of the other bugs impacting C# use

[2020-11-13 02:52] dannyvv opened #6505 "Consider using MsBuilds support to restore packages during the build (even for packages.config)"
MsBuild+Nuget claim to now support package restore during the build not only for <PackageReferences> but also for packages.config projects...

This issue is to track investigating if it works and if we can use it.
* Use it for our selfhost build in PR & CI
* Update react-native-windows-cli to not have a custom nuget version to restore, but use the msbuild target.

The behavior is documneted in htt

[2020-11-13 05:34] asklar commented on #6495
Danny fixed it for the master branch (thanks Danny!) - requesting backport to 0.63

[2020-11-13 06:27] dstampher commented on #6495
dan the man, thanks

[2020-11-13 07:52] elcssmouhsine commented on #6433
@jonthysell  @asklar  i have updated the component to the following, but still nothing gets displayed :

`    <CamUserControll label='Test Label Text' style={{ width: 200, height: 200, backgroundColor: '#000000' }} />
`
I also set the Height/Width on Xml control but still nothing.

`<ResourceDictionary
    xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
    xmlns:x="http://schema

[2020-11-13 10:01] asklar opened #6509 "Make WinRT APIs self-documenting"
Our docs for WinRT APIs are lacking and often get out of date. Come up with a way to make the WinRT APIs able to generate their own docs.

[2020-11-13 10:12] asklar opened #6511 "[Breaking change] .net framework in ADO is .net core 5"
https://github.com/actions/virtual-environments/issues/1891

[2020-11-13 10:13] asklar opened #6512 "[Breaking change] NodeJS version in ADO is 14"
https://github.com/actions/virtual-environments/issues/1953

[2020-11-13 10:22] asklar opened #6514 "[Breaking change] set-env and add-path removed in ADO"
https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

This seems fixed in master but it will be broken in 0.63 as .ado/setVersionEnvVars.js uses it

[2020-11-13 11:17] #6483 closed

[2020-11-13 11:34] asklar opened #6515 "Plan for ADO/VS releases"
For the last few months, every time VS releases a new version or ADO updates the CI image, we end up putting out fires for a few days. We should figure out a way to reduce stress and do this in a more planful manner.

[2020-11-13 11:40] getuliovdmnaweb opened #6516 "Unable to build new native module library due to CodeGen problem"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.13.0
2. `npx react-native info`:
![image](https://user-images.githubusercontent.com/65790521/99064555-de466c00-2584-11eb-8453-77323c8759f2.png)

- SDK version : 10.0.18363.1198

- Target Platform Version(s):
Desktop

- Target Device(s):
Visual Studio 2019

- Visual Studio Version:
Debug

[2020-11-13 12:00] exotexot opened #6517 "Implement Per-Monitor (V2) DPI Awareness"
Asking for support of https://docs.microsoft.com/en-us/windows/win32/hidpi/high-dpi-desktop-application-development-on-windows. Currently, React-native apps are running in Per-Monitor (v1) mode. You can see by opening task manager -> details tab > right click on table header: select columns -> check DPI awareness.  Here yourapp.exe reports runnin in per-monitor mode.

[2020-11-13 14:41] NickGerleman commented on #6505
Ooh yes, we should definitely do that if it's officially supported.

[2020-11-13 15:27] NickGerleman opened #6523 "Changes in Monorepo Dependencies of react-native-windows not reflected in automated release notes"
E.g. https://github.com/microsoft/react-native-windows/releases/tag/react-native-windows_v0.63.8 did not contain information from the bump in @react-native-windows/telemetry.

Beachball has support for version groups, which we opted not to use, that keep changelogs as one entity across monorepo packages. It looks like changes from bumped packages normally don't get propagated as changes to what th

[2020-11-13 15:49] NickGerleman commented on #6516
@jonthysell @dannyvv does this look familiar?

[2020-11-13 16:07] ajaynk123 commented on #3183
need this dll file can anyone help?

[2020-11-13 16:52] #6482 closed

[2020-11-13 17:11] goatandsheep commented on #5937
try adding `*.binlog`

[2020-11-13 17:16] goatandsheep commented on #5937
@gat786 I had the same issue using Visual Studio. I'm not sure why

[2020-11-13 18:54] gat786 commented on #5937
Well I think this needs to be fixed on the react native template gitignore sides of things rather than rnw template gitignore. I will check if that's the case  and leave an update.

[2020-11-13 21:19] acoates-ms opened #6530 "measure result should take into account the component's transforms"
measure result should take into account the component's transforms.

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

[code]
## Expected Results
The resulting width from the measure call should be 25.  But its 50.

[2020-11-13 22:05] TheSavior commented on #6530
Here is some code you may be interested in for test cases that I never ended up checking into core:

[code]

[2020-11-13 22:07] TheSavior commented on #6530
Apparently none of those examples use transform...

[2020-11-15 08:50] asklar commented on #6516
@getuliovdmnaweb : I was able to get things to build with this change:

[code]

[2020-11-15 12:38] petr7555 opened #6531 "Support google-signin"
# Support `google-signin` on RNW

## Basic Info
- Module Repo URL: [link to repo](https://github.com/react-native-google-signin/google-signin)
- Target version: v5.0.0

## Which app/customer is requesting this module?
- I am creating an app as my bachelors thesis and I need to authenticate users with Google to have the same identity on Android and Windows.

## In what scenarios will this module be

[2020-11-16 02:07] DRAirey1 opened #6533 "App Store Validation failed due to HighVersionLie"
I tried to publish my app.  Only thing to change was the version of Microsoft and a new certificate that I pulled down from the store.

## Environment
VIsual Studio 2019 - Version 16.8.1

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Upgrade to Visual Studio 2019 - Version 16.8.1
2. Open an existing VS solution that has previously published to the Windows Sto

[2020-11-16 05:33] asklar commented on #6495
Should be fixed in 0.63 now too. Linking the VS ticket that tracks this (since it is not specific to React Native for Windows):
https://developercommunity.visualstudio.com/content/problem/1248649/error-netsdk1005-assets-file-projectassetsjson-doe.html

[2020-11-16 05:37] asklar commented on #6533
@DRAirey1 known issue affecting all Store apps, not just React Native for Windows apps. See #6331 - it should be ok to ignore the local failure and submit to the store anyways.

[2020-11-16 05:43] asklar commented on #6517
All UWP apps (including React Native for Windows apps) report being "Per monitor aware" but will scale properly on all displays

[2020-11-16 08:02] asklar opened #6536 "Anonymize forward slash paths"
It's possible that some exceptions from NodeJS produce paths that use forward slashes in Windows, so we should anonymize those in the telemetry too.

[2020-11-16 08:04] asklar commented on #6536
Just in case we should anonymize network shares in telemetry

[2020-11-16 08:39] Frekansapp commented on #6495
![nuget](https://user-images.githubusercontent.com/43651689/99230209-1b6a6280-2800-11eb-9a9c-2905fc6d2c65.PNG)
![msbuild](https://user-images.githubusercontent.com/43651689/99230213-1c9b8f80-2800-11eb-824b-6d37ffa7c5d3.PNG)

Not fixed me. Am i doing something wrong?

[2020-11-16 09:14] asklar commented on #6495
the new version will be published on npm later today :)

[2020-11-16 09:29] Frekansapp commented on #6495
But i couldn't run on visual studio either

[2020-11-16 09:36] asklar commented on #6495
@Frekansapp if you are building in VS, can you make sure you delete the nuget's folder and force a restore (I think Rebuild will do this)

[2020-11-16 10:10] Frekansapp commented on #6495
![vs](https://user-images.githubusercontent.com/43651689/99239986-e3b5e780-280c-11eb-9f39-0e4e1dfebbdc.PNG)
 threw me 2927 errors :D

[2020-11-16 10:15] Frekansapp commented on #6495
![Uploading hata.PNG…]()

[2020-11-16 11:23] Frekansapp commented on #6495
![Ekran Alıntısı](https://user-images.githubusercontent.com/43651689/99246941-309ebb80-2817-11eb-9fbf-dea95c5330e4.PNG)

[2020-11-16 14:15] DRAirey1 commented on #6533
Verified.  The error message in the Validation program on the PC doesn't seem to impact the ability to publish to the store.

[2020-11-16 14:15] #6533 closed

[2020-11-16 17:35] asklar opened #6538 "Auto-generate API docs for C# native module codegen attributes"
Every file in this directory: https://github.com/microsoft/react-native-windows/tree/master/vnext/Microsoft.ReactNative.Managed.CodeGen/Model

[2020-11-16 17:49] asklar opened #6539 "Investigate using .net core 5 and cswinrt to target system XAML"
There are a number of problems mixing C++ and C# with .net native (see main issue #6469).
Investigate whether it is possible to use .net core 5 and cswinrt in order to target system XAML, without requiring .net native-ization and assess what interop gaps between C++ and C#/netcore5 exist.

[2020-11-16 18:00] #5965 closed

[2020-11-16 18:31] NickGerleman commented on #6523
Response from Ken re changelog propagation:

[2020-11-16 19:13] asklar commented on #5867
Fix is in PR to RN core, pretty bad UX; approving for backport to 0.63

[2020-11-16 19:16] asklar commented on #6469
Moving to doc repo, we should add this table somewhere in the docs (or link to this issue from the docs)

[2020-11-16 19:17] asklar commented on #6470
If we can't find a fix let's document this

[2020-11-16 19:18] asklar commented on #6473
If we can't find a fix let's document this - also related: #6539

[2020-11-16 19:20] #6480 closed

[2020-11-16 19:23] asklar commented on #6489
You should be getting a RedBox; maybe there is a period of time during which JS errors aren't being propagated to the redbox.
Are you able to share a repro project that shows this?

[2020-11-16 19:25] asklar commented on #6492
Another option would be to use d3 inside of react-native-webview

[2020-11-16 19:25] #6492 closed

[2020-11-16 19:28] asklar commented on #6495
@Frekansapp this sounds like a separate issue, if you are still blocked could you please file a new bug? Thanks!

[2020-11-16 19:28] #6495 closed

[2020-11-16 19:31] asklar commented on #6509
ensure we are also generating intellisense docs out of the same content

[2020-11-16 19:32] asklar opened #6540 "Generate intellisense docs out of the same content as WinRT API docs"
ensure we are also generating intellisense docs out of the same content

_Originally posted by @asklar in https://github.com/microsoft/react-native-windows/issues/6509#issuecomment-728276936_

[2020-11-16 19:34] asklar commented on #6511
This will likely affect all of our supported versions when it happens.
Need to understand how to ask for a specific version of .net core (for the managed codegen project) and whether .net UWP is affected.

[2020-11-16 19:38] asklar commented on #6512
Fixed in master and 0.63

[2020-11-16 19:38] #6512 closed

[2020-11-16 19:39] asklar commented on #6514
https://github.com/microsoft/react-native-windows/blob/0.63-stable/.ado/setVersionEnvVars.js#L53-L60

[2020-11-16 19:45] #6517 closed

[2020-11-16 19:47] asklar commented on #6523
need to file beachball issue

[2020-11-16 19:50] asklar commented on #6531
CC @stmoy FYI

@petr7555 we'd love for you to add this support :)

[2020-11-16 19:52] rectified95 commented on #5867
Adding link to PR referenced above: https://github.com/facebook/react-native/pull/30374

[2020-11-16 20:19] #6509 closed

[2020-11-16 20:29] jonthysell commented on #6433
You can't just have an element floating in the app, if the parent container has no layout info.

From https://reactnative.dev/docs/height-and-width#flex-dimensions:

Can you try creating a parent element with flex values, then see if your custom child works?

[2020-11-16 22:27] #6309 closed

[2020-11-16 22:58] tarasvakulka commented on #6516
I have the same in project from scratch (https://microsoft.github.io/react-native-windows/docs/getting-started) when build in console, see screenshot ManagedCodGen.jpg. When build via VisualStudio all ok, but when app starting I got crash, see screenshot crashWhenStarting.jpg.

VisualStudio version - 16.8.1
npm version - 6.14.8
node versio - v14.15.1
![ManagedCodGen](https://user-images.githubuser

[2020-11-16 23:02] tarasvakulka commented on #6516
I have this changes, but still can't build app via console and get crash when app starting in build via VS see my message above.
![image](https://user-images.githubusercontent.com/20745370/99318402-4a202180-2870-11eb-89be-cc3206072f5c.png)

[2020-11-16 23:04] tarasvakulka commented on #6495
I have the same in project from scratch (https://microsoft.github.io/react-native-windows/docs/getting-started) when build in console, see screenshot ManagedCodGen.jpg. When build via VisualStudio all ok, but when app starting I got crash, see screenshot crashWhenStarting.jpg.

VisualStudio version - 16.8.1
npm version - 6.14.8
node versio - v14.15.1
ManagedCodGen
crashWhenStarting

Dependecies:
"

[2020-11-16 23:42] asklar commented on #6516
@tarasvakulka your issue seems unrelated to the issue being discussed here, please file a new issue.

[2020-11-16 23:42] #6516 closed

[2020-11-16 23:43] asklar commented on #6495
@tarasvakulka please clean your node_modules and re-run yarn/clean build

[2020-11-16 23:47] #6374 closed

[2020-11-16 23:54] jonthysell commented on #6379
Looks like we're now waiting on this PR instead: https://github.com/chaijs/pathval/pull/60/files

[2020-11-17 01:33] JunielKatarn commented on #6511
@asklar I believe this task should solve the issue:
https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/tool/dotnet-core-tool-installer?view=azure-devops

It allows setting a specific .NET core version to use in the pipeline.

[2020-11-17 04:49] elcssmouhsine commented on #6433
@jonthysell
i have done that but still only the parent big blue view is visible, the child native component is not rendered

`<View style={{ flex: 1, width: 600, height: 600, backgroundColor: 'blue' }}>
    <CamUserControll label='Test Label Text' style={{ width: 300, height: 300, backgroundColor: 'red' }} />
    </View>`

[2020-11-17 07:09] #5616 closed

[2020-11-17 08:07] tarasvakulka commented on #6495
I delete node_modules folder, run yarn cache clean, run yarn install, run npx react-native run-windows and still get error
![image](https://user-images.githubusercontent.com/20745370/99362691-78c3e980-28bc-11eb-91c9-c535070ad380.png)

[2020-11-17 08:52] tarasvakulka opened #6544 "Usage of CornerRadius doesn't gracefully degrade and crashes app in RS4"
I created project from scratch (https://microsoft.github.io/react-native-windows/docs/getting-started). When build in console get error, see screenshot ManagedCodGen.jpg. When build via VisualStudio all ok, but when app starting I got crash, see screenshot crashWhenStarting.jpg. I tried delete node_modules and run yarn install again, but it didn't help.

![ManagedCodGen](https://user-images.github

[2020-11-17 08:57] Frekansapp commented on #6544
Same problem  @tarasvakulka  can you try with "react-native-windows": "^0.63.9" version

[2020-11-17 09:06] tarasvakulka commented on #6544
I have 0.63.9 in my yarn.lock, but I will try to change my package.lock, I don't think it will help
![image](https://user-images.githubusercontent.com/20745370/99369072-a4e36880-28c4-11eb-8f13-be57374aac2f.png)

[2020-11-17 09:29] tarasvakulka commented on #6544
I already had "react-native-windows": "^0.63.9" version, doesn't help

[2020-11-17 09:33] tarasvakulka commented on #6544
@asklar Could you please help?

[2020-11-17 14:23] asklar commented on #6544
A few things to check:
- Under node_modules there should be a nuget-exe folder with a nuget.exe in it. What version does it say it is when you run it?
- the version of react-native-windows in package.json should be 0.63.9. Try updating that and rerun yarn
- what does the error message translate to? Is there a crash? If so can you share the stack trace?
- what version of Windows are you running thi

[2020-11-17 14:54] tarasvakulka commented on #6544
1) nuget-4.9.2
![image](https://user-images.githubusercontent.com/20745370/99403980-c3148d00-28f3-11eb-8ade-c5f5e629c290.png)
2) I have 0.63.9 in my yarn.lock, and also set in package json an reinstall node_modules but problem still remained
3) This screen shot describe my problem:
![image](https://user-images.githubusercontent.com/20745370/99405175-2357fe80-28f5-11eb-9668-c56de4ab4c11.png)
![imag

[2020-11-17 15:05] NickGerleman commented on #6544
Beachball reverted the dependency change back from NuGet 5.8.0 to 4.9.2? https://github.com/microsoft/react-native-windows/commit/df6eabe87538b1afc78ff7958f063c028e5baec3#diff-7d7b3041526ba0af511bedc0cb371991e270eeb39a70c0d5bf86219a8cb1adf2

I'm not sure why it did this... This seems like a possible bug. Will take a look.

[2020-11-17 15:14] tarasvakulka commented on #6544
Looking forward for fix. Thanks)

[2020-11-17 15:15] NickGerleman commented on #6544
What this means in practice is that the bug with VS 16.8 and run-windows was not fixed in 0.63.9 and will instead be fixed in 0.63.10. To mitigate that bug, you should be able to just use Visual Studio instead of `run-windows`.

The crash during start is interesting though, and a different issue. Do you have a callstack of what this looks like?

[2020-11-17 15:21] tarasvakulka commented on #6544
I have only this two screenshots, in VS studio I don't see any logs or a callstack, because app closing immdiatly after I press Cancel button on this alert.
![image](https://user-images.githubusercontent.com/20745370/99408429-e8f06080-28f8-11eb-9c14-c7db33be2583.png)
If I press ok it open new VS studio window and I see alert with error that debbuger couldn't connect and nothing logs or callstack.

[2020-11-17 15:55] asklar commented on #6544
translation of the error message from russian (this took me a while...)

In VS, can you go into  Debug -> Debug properties -> Debugging and make sure either **Native** or **Native and Managed** is selected in Debugger Type?
![image](https://user-images.githubusercontent.com/22989529/99413073-3d202400-28aa-11eb-981d-67aa4375655c.png)

[2020-11-17 16:53] tarasvakulka commented on #6544
![image](https://user-images.githubusercontent.com/20745370/99420421-db8da300-2905-11eb-9e2f-e35355023253.png)
I have Managed only, this can cause the problem?

[2020-11-17 16:56] asklar commented on #6544
yes, if you hit a native exception, then debugging in "Managed only" mode will skip breaking when the exception is thrown and you will get the error you're getting.

[2020-11-17 17:09] tarasvakulka commented on #6544
I changed dubugger type to Managed and Native, and now I get
![image](https://user-images.githubusercontent.com/20745370/99422413-31fbe100-2908-11eb-8dca-77b7f13f68a9.png)
![image](https://user-images.githubusercontent.com/20745370/99422573-5bb50800-2908-11eb-80dd-dd7ee31b34c1.png)

[2020-11-17 17:16] asklar commented on #6544
please share the callstack (see Call Stack window in your screenshot)

[2020-11-17 17:44] tarasvakulka commented on #6544
![image](https://user-images.githubusercontent.com/20745370/99426661-0fb89200-290d-11eb-925f-ebeb28771f79.png)

I commented template code in App.js, and application stop crashing:
![image](https://user-images.githubusercontent.com/20745370/99426780-41c9f400-290d-11eb-9273-cd586ee0c356.png)

[2020-11-17 17:52] asklar commented on #6544
It's likely the default app relies on something that isn't available in Windows 10 1803 (RS4).

See the compatibility table here: https://microsoft.github.io/react-native-windows/docs/win10-compat

[2020-11-17 17:52] NickGerleman commented on #6544
I wonder if we have incompatibilities with 1803 and CornerRadius. It wouldn't be the first time we degraded badly on older versions of Windows 10.

[2020-11-17 17:53] asklar commented on #6544
Yes indeed, CornerRadius property only exists in 1809 and up:
https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.control.cornerradius?#windows-10-requirements

[2020-11-17 17:57] asklar commented on #6544
Looks like this broke when I first ported RNW to WinUI3: https://github.com/microsoft/react-native-windows/pull/4766/files#diff-19cc4c16e8a69089b23a95a5c510ca4e1146678e5dd50b2a88a7c92825851faeL35-L36

[2020-11-17 18:10] asklar commented on #6544
thanks for reporting @tarasvakulka , I'll put out a change to address this

[2020-11-17 21:10] tarasvakulka commented on #6544
thank you too, looking forward to merging your pull request with fix

[2020-11-17 22:42] asklar opened #6553 "Allow modules to run code during autolinking"
Sometimes a community module will have requirements for the app to consume it successfully.
For example:
- the react-native-print module requires that the app define a XAML Canvas element named RNPrintCanvas.
- similarly, use of inking will require the app to set IsPerspectiveEnabled=false
- C# modules require C++ apps to add the consumecsharpmodules property (this already works automatically)

In

[2020-11-17 22:45] lyahdav opened #6554 "[Xaml Islands] Picker does not respect dark mode theme"
## Environment
1. `npx react-native --version`: 4.13.0
2. `npx react-native run-windows --info`:
[code]
3. `reg query "HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\AppModelUnlock"`
[code]

## Steps To Reproduce
Provide a detailed list of steps that reproduce the issue.

1. Use `Picker` inside a Xaml Islands app that sets Theme to dark mode via `rootElement.RequestedTheme(winrt::ElementTheme::Dar

[2020-11-17 22:45] acoates-ms commented on #6553
In 0.64 `react-native doctor` should be pluggable.  At which point community modules would be able to provide their own checks.  Maybe that would be a way to do this?

This doesn't seem like a react-native-windows specific issue.

[2020-11-17 22:48] asklar commented on #6554
Filed internal tracking bug. https://task.ms/30615440

[2020-11-18 00:23] #6544 closed

[2020-11-18 00:59] lyahdav commented on #6554
Austin actually gave me an idea for a better fix, which I confirmed works. In the `Loaded `callback in my hacky workaround linked above you can run the following code:
[code]
It would be even cleaner if there was a way to get the popup corresponding to the ComboBox directly. This could lead to theme changing on unrelated popups.

[2020-11-18 01:10] jonthysell commented on #5911
@mrousavy I have a fix for the native build which gets your example app up and running, but I'm still getting JS/metro errors loading your module. I'll push a PR to your support-windows branch tomorrow morning.

[2020-11-18 01:30] #6505 closed

[2020-11-18 01:35] lyahdav commented on #6554
Another minor optimization: in the code from my last comment, you don't need to set `RequestedTheme` on `popup`, just `popup.Child()`.

[2020-11-18 02:11] #6536 closed

[2020-11-18 04:34] rectified95 commented on #6554
Since I saw another issue today with the deprecated built-in Picker, I thought I'd comment here as well.
Heads-up: I suggest you apply your workaround linked above - https://github.com/microsoft/react-native-windows/compare/master...lyahdav:patch-4 - to the community module, as this picker view manager will get removed from this repo in due course.

[2020-11-18 11:42] tarasvakulka commented on #6544
@asklar I changed react-native-windows to 0.63.10 in my package.json, then delete and reinstall node_modules, but get new error, when app start, this is empty app from scratch with default template:
![image](https://user-images.githubusercontent.com/20745370/99526351-d1ba7d00-29a3-11eb-8a43-5b788427d8b1.png)

[2020-11-18 12:14] gat786 commented on #6492
Alright thanks,
Although it is said in the release notes that svg [source](https://microsoft.github.io/react-native-windows/blog/2020/02/010/m4updates#svg-image-support) is supported natively I wasn't able to get it working.

Is there a sample which shows how I should use it?

[2020-11-18 12:38] NickGerleman commented on #6544
@tarasvakulka theres a separate issue where redbox errors aren't shown gracefully on older OS's (pre 19H1). So, if you see a Javascript exception when developing on am older OS, you will crash instead of seeing the error in-app. This is something we caught and fixed recently, but hasn't been brought back to 0.63.

That issue shouldn't affect users running your app on an older OS, just dev experien

[2020-11-18 13:01] tarasvakulka commented on #6544
![image](https://user-images.githubusercontent.com/20745370/99533588-d0428200-29ae-11eb-81c1-c18d02218534.png)
![image](https://user-images.githubusercontent.com/20745370/99533641-df293480-29ae-11eb-833a-92a09ed321a2.png)

[2020-11-18 13:02] tarasvakulka commented on #6544
@NickGerleman Should I just update my Windows?

[2020-11-18 14:44] NickGerleman commented on #6544
@tarasvakulka upgrading would be a good idea if you can.

Newer versions of Windows get more testing, especially for dev experience. If you find any crashes for older versions we would love to know and fix them, but there will be a degraded experience using anything older than Windows 10 1903 (May 2019 update).

[2020-11-18 15:25] gtRfnkN commented on #6489
The RedBox does show up when an update comes in via Fast Refresh, but the message there also only states the `indexOf` error without any useful stack trace. This seems to be due to the source maps not being built / delivered properly. I guess fixing that would be a big step forward. We can't share the project, but we did try out the calculator sample from the [React Native Samples and Templates re

[2020-11-18 18:36] getuliovdmnaweb opened #6563 "Unable to build SimpleHttpModule in C# Example in RNW documentation"
## Environment
Run the following in your terminal and copy the results here.
1. `npx react-native --version`: 4.13.0
2. `npx react-native info`:
![image](https://user-images.githubusercontent.com/65790521/99571882-a5f2c380-29b2-11eb-8ce2-b300d3355556.png)

## Steps To Reproduce

1. Create a NativeModuleSample following this tutorial https://microsoft.github.io/react-native-windows/docs/native-modu

[2020-11-18 19:26] jonthysell commented on #5911
@mrousavy Draft PR here: https://github.com/mrousavy/react-native-blurhash/pull/94

I have some questions for you in that PR.

[2020-11-18 19:55] chiaramooney commented on #5768
PR to add Windows support to module: https://github.com/wonday/react-native-orientation-locker/pull/149

[2020-11-18 20:18] nerocui opened #6564 "run-windows Failed to restore the NuGet packages"
## Environment
npx react-native --version
4.13.0

npx react-native info
System:
    OS: Windows 10 10.0.19042
    CPU: (8) x64 Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz
    Memory: 1.88 GB / 15.84 GB
  Binaries:
    Node: 12.16.2 - C:\Program Files\nodejs\node.EXE
    Yarn: 1.22.4 - C:\Program Files (x86)\Yarn\bin\yarn.CMD
    npm: 6.14.4 - C:\Program Files\nodejs\npm.CMD
    Watchman: Not Found

[2020-11-18 20:46] #6280 closed

[2020-11-18 20:53] rectified95 opened #6566 "Enable tabbing into SectionList headers"
extracted from #2107

[2020-11-18 20:54] rectified95 commented on #2107
Extracting the SectionList portion of the issue out to #6566

[2020-11-18 20:55] rectified95 commented on #6293
After discussion with @harinikmsft I used this code to implement proper keyboard navigation for FlatList. Since that was a priority, the FocusZone component is no longer immediately necessary.

[2020-11-18 21:43] NickGerleman commented on #6564
It seems like you might be missing some dependencies, could you try a couple of things?

1. Update to react-native-windows 0.63.10 which fixes some compatibility issues with VS 16.8
2. Run the dependency installation script documented [here](https://microsoft.github.io/react-native-windows/docs/rnw-dependencies)

[2020-11-18 23:40] jonthysell commented on #5911
Closing this.

For future devs who may find this bug - the general fix for having an example app with its own pacakage.json/node_modules in the same repo as their module, and therefore ending up with two copies of react-native-windows - is to update the `ReactNativeWindowsDir` property in the module's project:

[code]

[2020-11-18 23:40] #5911 closed

[2020-11-18 23:50] NickGerleman commented on #5911
If there are two copies of react-native-windows in the repo, dependencies somewhere in the tree are not configured correctly. Depending on the root cause of this, it's possible the module will not work correctly when used outside of the repo. We need to be very careful about this.

We should take a look at the lockfile to see why we have two RNW versions. Going to check that quickly.

[2020-11-19 00:02] NickGerleman commented on #5911
Oh I see, we have a nested package inside of another, and instead of using yarn workspaces, we are symlinking dependencies. So there are two entirely different sets of resolved modules that are being symlinked together.

So, no module issues like some other repos, where we were doing things like having the module delcare a dependency instead of peer dependency, but the pattern of linking into a se

[2020-11-19 00:10] NickGerleman commented on #6563
@getuliovdmnaweb does the example work if you change `Task<string>` to `IAsyncOperation<string>`? This seems like a potential docs issue.

FYI @dannyvv

[2020-11-19 01:42] NickGerleman opened #6569 "Visual Studio shouldn't pause execution on packager disconnect when web debugging"
WebSocketJSExecutor uses WinRT websocket APIs which throw on control flow (e.g. disconnect). This means that Visual Studio will pause excution if debugging and then killing the packager.

We should use `lessthrow_await_adapter` to silence these warnings.

[2020-11-19 01:46] NickGerleman opened #6570 "Re-enable babel-plugin-codegen (inline viewconfigs) with new react-native-tscodegen drop"
After integrating the 11/18 nightly build, inline view configs seem to generate invalid code and we fail to bundle. We're using a forked very old version of react-native-codegen. We should rev the codegen package (or use the stock published one) and reenable the plugin.

[2020-11-19 01:48] JunielKatarn commented on #6569
I just published a 0.62-aimed backport of the WebSocketResource analog change.
Might as well take care of this one now.

[2020-11-19 01:57] NickGerleman commented on #6570
Looked closer and the invalid code generated was due to a bad merge. We should still probably rev soon, since there seems to have been a number of parsing changes, but we're still good for now.

[2020-11-19 02:03] NickGerleman opened #6571 "Implement Image.prefetchWithMetadata"
Added by https://github.com/facebook/react-native/commit/017bc911928472e20f37dd9512a2113a7d93c81b#diff-e6fd0c5b183586249abfad692ff206b7e6171057f2b31ceabf1a9d7fc96f82f3 which will end up in 0.64 or 0.65.

This functionality is similar to the existing method of prefetching an image documented at https://reactnative.dev/docs/image#prefetch but seemingly also adds some extra information on disk that c

[2020-11-19 02:07] NickGerleman commented on #6571
We gracefully degrade to prefetching if the method is not available it looks like. (ImageLoaderIOS does describe what we load)

[code]

[2020-11-19 02:30] JunielKatarn commented on #6569
The issue goes beyond the type of error thrown.

The connect operation does not exercise any sort of error handling.

[code]

[2020-11-19 02:41] NickGerleman commented on #6570
Actually it looks like CI is running into issues here that I didn't see locally for some reason. https://dev.azure.com/ms/react-native-windows/_build/results?buildId=123456&view=logs&jobId=95c38ed8-9ebc-5252-0e1a-a56bef4e7831&j=95c38ed8-9ebc-5252-0e1a-a56bef4e7831&t=0ba72d16-294a-545b-2be8-5d817af3e94a

[2020-11-19 16:23] NickGerleman opened #6575 ""Identical Override" Detection Should be Whitespace Insensitive Instead of Line Ending Insensitive"
Override tooling can detect if file no longer contains changes compared to upstream and prompts to remove the file. This can happen when merging in changes that are identical to what we patched.

For non-binary files we do a line-ending insensitive comparison. Due to differences in prettier version, or merge artifacts, we will sometimes introduce other whitespace changes but have semantically iden

[2020-11-19 16:29] #6324 closed

[2020-11-19 18:07] jonthysell opened #6576 "Native modules with example apps in their repos run into issues with multiple copies of M.RN"
Several developers (internal and external) have run into problems where they try to add windows support to a native module AND add windows support to an example app in the same repo.

Example: #5911

The problem is, many native module repos are structured as follows:

- root/
  - *package.json*
  - android/
  - ios/
  - windows/
    - **node_modules/react-native-windows**
  - example/
    - *packa

[2020-11-19 18:28] #6210 closed

[2020-11-19 18:28] #6139 closed

[2020-11-19 18:28] #6353 closed

[2020-11-19 19:10] chrisglein commented on #6566
Sounds like there's been some analysis of this and it's not a trivial change. @rectified95 can you capture that here in the issue and we may have to come back to this later?

[2020-11-19 19:16] chrisglein commented on #6553
The goal would be to have as much automatic validation as possible so that errors are caught proactively. Being able to diagnose after the fact is good too, but maybe we can fail faster?

[2020-11-19 19:20] chrisglein commented on #6540
Change to generate the WinRT API docs is in.
This represents the next step to generate the right intellisense information specifically, following the same pattern. Even better would be to have the same content in MIDL be absorbed by C++/winrt into their generated files... but that's further out.

[2020-11-19 19:23] chrisglein commented on #6515
Agreed this is a pain point. We need to track when releases are coming, get early warning by doing self host of that prior to full release. Essentially avoid fire drills by knowing that the fire is coming :)
However we can't really capture that as an issue on the repo effectively, as we're handling planning externally. I'll take this as a topic for how to integrate into planning.

[2020-11-19 19:26] asklar opened #6580 "Upgrade WinUI target to Preview 3"
[Preview 3 is out](https://github.com/microsoft/microsoft-ui-xaml/issues/3620)

[2020-11-19 20:26] jonthysell opened #6581 "Unable to build RNW-related (app/lib) project files directly with msbuild"
The default scenario is to build your app/lib using Visual Studio or by using `run-windows`.

`run-windows` uses msbuild under the covers, targeting the app/lib solution file.

If you try to use msbuild directly against a project file, you'll run into problems with how the nuget dependencies work. See https://github.com/microsoft/react-native-windows/pull/6577#issuecomment-730610083 for an example

[2020-11-19 20:38] jonthysell commented on #6581
I think the easiest thing to do would be to add the error check to the external targets so it "trickles down" to all apps and projects. Then we can backport the change to 63 and 62 too.