[2017-05-17 22:33] #1091 closed

[2017-05-17 22:35] #1076 closed

[2017-05-18 01:25] jsp3536 commented on #1120
Thanks for your response. I have been prototyping  an UWP app with react-native for windows and I have been excited by the results. I just wanted to confirm I was not going to paint myself in a corner going down this path. I appreciate all you guys  hard work on this.

[2017-05-18 16:53] rachmcnamara commented on #1042
I also had this same issue - from the Windows Control Panel, I "repaired" my VS installation and this solved the problem.  Note however that this takes like 30-40 minutes to complete - so go get a coffee!

[2017-05-18 18:22] #1120 closed

[2017-05-19 11:46] alixeb commented on #1016
Also logged a new issue of react-native repo
https://github.com/facebook/react-native/issues/14057

[2017-05-19 19:55] ndbroadbent commented on #1119
Confirming that I am also experiencing this crash whenever I tap on text.

[2017-05-22 11:25] ndbroadbent commented on #844
I'm experiencing a similar issue.

When the UWP desktop app first starts, `Dimensions.get('window').width` returns `1280`.  This causes some of my layout to be incorrect.

If I carefully resize the window by a couple of pixels, then `Dimensions.get('window').width` jumps to `900`, which produces the correct layout.

I think the width is not being calculated correctly when the app first starts, but

[2017-05-22 12:27] ndbroadbent commented on #844
Here's some more info. I should mention that I'm on the branch `0.42-stable`.

I [added a breakpoint in GetDimensions](https://github.com/Microsoft/react-native-windows/blob/master/ReactWindows/ReactNative/UIManager/UIManagerModule.cs#L558).

On the first call I get:

[code]

As soon as I resize the window by 1 pixel, I get:

[code]

[2017-05-22 13:22] ndbroadbent commented on #844
AH! @adisoftbn - now I know what you mean about the first run being correct. This is because on the first run, we're loading the JS from the packager, which changes the time that Dimensions are being calculated. When you run the app again, apparently it uses some cached JS (even in development), so the bug appears. The bug also happens when you run a build with bundled JS.

I've just figured out o

[2017-05-22 13:27] ndbroadbent commented on #844
Ah, @rozele I just re-read you comments and noticed:

That was not happening, which my PR fixes.

[2017-05-22 13:41] himanshubakshi opened #1125 "Help Wanted: Can i build WPF apps targeted for Win 7 using react native windows?"
I am exploring react native windows and want to understand what it means when we say that this supports WPF?
Can i only develop WPF apps targeted for Win 10? Or can i do it for regular Win32 WPF apps as well.

Any guidance on this would be helpful.

[2017-05-22 22:32] matthargett commented on #1125
Yes, you can use React Native Windows to target WPF on Windows 7 (and 8 and 10) desktops that have .NET 4.6 (or later) installed. We are doing exactly this on my project at work and it's been fantastic to reach desktop Windows users with the same JavaScript and React development skills we already had in our web team.

[2017-05-22 22:32] #1125 closed

[2017-05-23 04:58] jmcginty opened #1126 "Where are the releases for RN 0.43 & 0.44, and RC for 0.45 ?"
It's been 10 weeks since we had any new releases or release candidates - this project is falling behind facebook react native. What is happening ?

[2017-05-24 02:21] zerglingno1 commented on #1126
https://github.com/Microsoft/react-native-windows/releases

[2017-05-24 03:07] jmcginty commented on #1126
That is a great outcome, and looking forward to the 0.45 release. Whether it is fair or not, open source projects get judged by how 'active' the project is. I have invested a lot of time and effort in React Native Windows and want to see it succeed. My colleagues were deciding that it has been 'abandoned' based on lack of releases and activity, so you have to ask the question.

[2017-05-24 06:02] anuragvijayvergia opened #1128 "Build getting failed on react-native run-windows"
Hi I am trying to build a windows app using react native windows, however after initialization of project my build is getting failed when i am running react-native run-windows. Below are the steps which i have taken till now

react-native init second --version 0.41.2
cd second
npm i --save-dev rnpm-plugin-windows
react-native windows
react-native run-windows

I am getting following error
Build fai

[2017-05-24 06:27] #1128 closed

[2017-05-24 13:52] matthargett commented on #1126
Hi James! Activity can be shown in a number of ways, of course :) I've been responding to issues and merging PRs nearly every week for the past 2 months.

The main difficulty was that 43 and 44 were upstream releases that did not work for a lot of people on other platforms, as well as RNW. It has taken us and upstream RN a while to stabilize things so we can responsibly do a release. This is the c

[2017-05-25 06:08] ndbroadbent commented on #1119
@rozele Hello, I would love to help with fixing this issue, because it is blocking me from upgrading to RN >= `0.43`. It's not happening on `0.42-stable`.

I will try to investigate, but was wondering if you might be able to remember some recent commits that could have caused it to start happening.

[2017-05-25 06:17] ndbroadbent commented on #1126
@matthargett Thanks for the update (and for all your work on this!)

[2017-05-25 18:26] rozele commented on #1126
@jmcginty There seems to be a serious overhaul of the packager in react-native@0.44 (and potentially 0.45).  As a result, *.windows.js files are no longer being picked up correctly. I'm hoping to find a solution to this issue soon. https://www.facebook.com/groups/reactnativeoss/permalink/1683835541913073/

[2017-05-25 22:54] jmcginty commented on #1126
thanks for keeping us up do date @rozele , and welcome back :)

[2017-05-26 13:24] rozele opened #1131 "Event bubble / capture broken for raw text nodes."
### Description

I'm getting an undefined reference exception due to the kind of node that is encountered in the event bubble / capture system:

![error](https://cloud.githubusercontent.com/assets/1106239/23633214/da8364ec-0292-11e7-84f6-69fb6237176e.png)

The reason seems to be related to

### Reproduction

Run the `<View>` example in UIExplorer. In the `Z-Index` example, click one of the number

[2017-05-26 20:57] rozele commented on #1126
Thanks @jmcginty. I'll let the release candidates settle for a few days and then publish final releases, 0.44.0-rc.2 and 0.45.0-rc.0 are out.

[2017-05-26 20:57] #1126 closed

[2017-05-26 21:01] rozele opened #1134 "Get all tests running for UWP"
The NUnit tests are currently not running for UWP from Visual Studio. If we can't get all the UWP unit tests running from Test Explorer with MSTest and NUnit, we may just have to maintain copies of the unit tests, one using NUnit and the other using MSTest. cc @matthargett (sorry, I know we've been over this a bunch of times).

[2017-05-27 14:08] jmcginty commented on #1126
Good on you

[2017-05-29 06:55] juanitogan commented on #1112
@matthargett  Note that the "Windows 10 SDK" link also led me to install VS17 instead of VS15, so maybe note stronger that VS17 and later SDKs are not supported yet, and maybe point that link somewhere else too.  None of this is obvious to us new to VS where newer version are, apparently, a problem.

[2017-05-29 07:03] immnk commented on #807
I am still getting the same error even after following the steps to change the ip to emulator/machine. Any help?

[2017-05-29 07:06] juanitogan commented on #1112
Oh, yeah, to maybe help anyone else lost on this save some time.  The other error message related to this, if trying to run from VS instead of the command line (assuming you got past the ChakraBridge default StartUp Project problem) is:

`... ReactNative.dll could not be found`

[2017-05-29 07:32] juanitogan commented on #1112
And, finally, after much ado, VS15 can only be downloaded (at the moment) by jumping through the hoops here:

https://www.visualstudio.com/vs/older-downloads/

[2017-05-29 10:28] GurtejSafaltek opened #1135 "File system in UWP"
Hi,How can i use file system functions like read file, write file ,create folder etc,  It's urgent for me because i'm developing app for android, ios and UWP using react native, react-native-fs (https://github.com/itinance/react-native-fs)  is only available for android and ios

[2017-05-30 01:37] zerglingno1 commented on #1135
i just write a simple code here : https://github.com/hnq90/react-native-filesystem

[2017-05-30 05:56] GurtejSafaltek commented on #1135
@zerglingno1  Thanks for the response,It looks like that your code is only for android and ios not for the UWP app

[2017-05-30 05:58] GurtejSafaltek commented on #1135
@zerglingno1  Thanks for your response ,will check it and let you know if it is working for me or not

[2017-05-30 08:15] anuragvijayvergia opened #1136 "Build failed with message Error: Command failed: "C:\Program Files (x86)\MSBuild\14.0\bin\msbuild.exe""
I'm getting following error when executing react-native run-windows

As mentioned on few blogs I've tried reinstalling the SDK and repairing visual studio but issue still persist.

Build failed with message Error: Command failed: "C:\Program Files (x86)\MSBuild\14.0\bin\msbuild.exe" "C:/Users/Admin/Desktop/Anurag/fourth/windows/fourth.sln" /clp:NoSummary;NoItemAndPropertyList;Verbosity=minimal /no

[2017-05-30 13:53] rozele commented on #106
Fingers crossed we'll have an API for this with the Creators Update.

[2017-05-30 13:55] rozele commented on #126
I think we're going to want to abandon the current approach for borders and use a drawing API instead. The current approach creates a XAML tree that is 2x deep because of the use of the XAML border element.

[2017-05-30 13:57] rozele commented on #1093
Closing as dupe of #183. We've needed to add the CameraRollModule (and other camera related APIs) for some time. @jmcginty if you have an implementation that covers most of the behaviors for the core camera functionality in RN, a PR would be greatly appreciated.

[2017-05-30 13:57] #1093 closed

[2017-05-30 14:01] rozele commented on #1094
The only thing preventing us from having FlatList is the lack of a RefreshControl (#190).

[2017-05-30 19:23] matthargett commented on #1134
This was working before across multiple machines, but it does appear to be touchy depending on the environment somehow. I'd like to try two things that would hopefully make it work more consistently before taking drastic measures:
* Update to latest NUnit 3.x and NUNit3TestAdapter
* Convert to VS2017

[2017-05-30 19:27] matthargett commented on #1119
this is the same is #1131 . there's a better write-up of the bug there, so I'm closing this.

[2017-05-30 19:27] #1119 closed

[2017-05-30 19:40] matthargett commented on #1105
@ndbroadbent verified fixed? can this be closed?

[2017-05-30 20:47] rozele commented on #1106
Release candidates for 0.43, 0.44 and 0.45 are now available.

[2017-05-30 22:30] rozele commented on #913
Closing this out as there's been no activity for some time. Please comment if this needs to be re-opened.

[2017-05-30 22:30] #913 closed

[2017-05-31 16:59] adi1133 opened #1140 "PanResponder nested inside ScrollView does not receive touch events"
I have tried to follow [this blog post](http://browniefed.com/blog/react-native-pan-responder-inside-of-a-scrollview/) in order to be able to use the `PanResponder` inside of a `ScrollView` to process touch events and to prevent the `ScrollView` from scrolling.
I have run the same codebase using React Native Windows and React Native on Android, and have discovered that the suggested fix from the b

[2017-06-01 06:26] ndbroadbent commented on #1131
@rozele Could you recommend a place where I could add a quick fix for this? Even just a `try-catch` block would be good, to ignore the error and fail silently instead of crashing.

(It's just becoming difficult to switch between versions when testing and submitting/rebasing PRs.)

[2017-06-01 13:13] rozele commented on #1131
@ndbroadbent I think this is an issue in react@16.0.0-alpha.6, rather than an issue with react-native or react-native-windows. Which versions of react, react-native, and react-native-windows are you using? I think we'd have to patch react, or get the react-native team to upgrade 0.43 / 0.44...

[2017-06-02 05:51] ayunawani commented on #1042
Hi,
I am also facing this same issue. I am not able to run  from cli  using command `react-native run-windows.`
And getting the same errror `CheckNetIsolation LoopbackExempt -a -n=`
But I am able to Run Project from Visual Studio.
Any idea how can i run from cli?

[2017-06-02 06:51] pranavrajsinghchauhan commented on #1042
I too facing the same issue, any help would be very much appreciated

[2017-06-02 14:09] IanVS commented on #1052
I'm not using `react-native-windows`, but I came across what seems to be this same issue in my own app.  FWIW, upgrading to `react-native@0.45.0-rc.2` and `react@16.0.0-alpha.12` seems to have resolved it for me.

[2017-06-05 17:04] rdmchenry commented on #1100
After upgrading to RN 0.43 and the corresponding RN Windows version, I was seeing the gap consistently on all platforms. It seems that flex and min-width don't play nice together and cause a calculation issue of some sort. When I removed the flex and min-width from the icon and set the width and height of it explicitly, the tile renders as a continuous white background behind text content.

[2017-06-05 17:04] #1100 closed

[2017-06-05 19:18] rozele commented on #1100
@rdmchenry we introduced the Facebook.Yoga dependency to get parity with iOS and Android as of version 0.40, if you were using something between 0.40 and 0.43, we'd like to know in case there are any layout issues with one of those versions.

[2017-06-07 10:18] AkshatSharda opened #1142 "Overflow doesn't work"
Overflow doesn't works on windows. Similar issue is on android but it works for ios properly.
style={{overflow: 'hidden'}}

[2017-06-08 08:49] pranavrajsinghchauhan commented on #1142
We also facing the same concern. Is overflow supported on RN-Windows?

[2017-06-08 13:50] rozele commented on #1142
Overflow should be working, however it can only handle rectangular clipping: https://github.com/Microsoft/react-native-windows/blob/master/ReactWindows/ReactNative/UIManager/BaseViewManager.cs#L61-L72

[2017-06-08 18:57] aravi1995 opened #1143 "DatePicker for windows"
Is DatePicker implemented like it is for IOS ? If not how would I go about doing it ?

[2017-06-10 06:18] allanrsmith commented on #1116
https://en.wikipedia.org/wiki/Xbox_One_system_software#Version_history
 ```The Shared Partition contained the Windows 8 Core at launch until November 2015, where via a system update known as the "New Xbox One Experience", it was upgraded to the Windows 10 Core``` Looks like Xbox One was also first on Windows 10 Core at 10586

[2017-06-13 19:21] matthargett opened #1148 "Playground and app template should Dispose properly on app shutdown"
Playground and app template need to call DisposeAsync() on ReactPage from the dispatcher thread in their OnDestroy() lifecycle handler to avoid various issues at app shutdown time.

[2017-06-14 10:00] codebased opened #1149 "Unable to restore packages WinRTXamlToolkit"
After following the "Start" guide, installing awesomeproject, I am getting the following error:

Severity	Code	Description	Project	File	Line	Suppression State
Error		Failed to retrieve information from remote source 'https://www.nuget.org/api/v2/FindPackagesById()?id='WinRTXamlToolkit''.
The ServicePointManager does not support proxies with the https scheme.			0

[2017-06-14 17:46] fabdelgado commented on #1091
@matthargett thankyou

[2017-06-15 12:59] lal12 opened #1150 "Integration in the new build system"
How does react-native-windows integrate into the new expo / yarn build process of react-native?
Is there an tutorial available?

[2017-06-15 23:18] matthargett commented on #1150
You can take your React Native Windows application from straight npm to yarn in the standard way -- there's nothing special versus any other kind of npm-based project. We took our application over to yarn a few months ago to get version pinning, but now npm 5.x handles that better.

[2017-06-15 23:18] #1150 closed

[2017-06-15 23:19] matthargett commented on #1149
It sounds like you are on a network with a strict http proxy configuration. Can you connect to a different network (like tethering to your phone's cellular network over WiFi) and see if the problem is reproducible?

[2017-06-17 21:19] matthargett commented on #1131
@ndbroadbent does this reproduce with 45-stable RNW 46-stable RN Android?

[2017-06-18 04:27] sasivarnan commented on #1136
From your application folder, try running the command, which is failing, manually without `Verbosity=minimal` flag and see its output.

[2017-06-19 15:25] metalmalte opened #1152 "Blank screen when deployed to hockeyapp"
Hi,

after I deployed my app to hockeyapp, the view of the app is white. It seems like the JS is not loaded. This only happens when I upload the app. When I run it locally, the app runs as expected.

Tell me if you need additionally information!

I changed my the package name to a domain xx.yyyy.zzzzz
Could that be somehow related to the problem?

Also I had to create the ReactAssets folder myself

[2017-06-19 18:15] eltiare commented on #1136
I got the same thing. Here's my output:

[code]

[2017-06-19 18:16] eltiare commented on #1136
Looks like I skipped the step for UWP.

[2017-06-19 19:21] eltiare commented on #1136
Now I'm getting:

[code]

[2017-06-19 19:21] matthargett commented on #1136
It looks like you didn't install some aspect of the native/C++ tooling. Can you re-run the Visual Studio installer and make sure that the C++/Native box is checked? Note: This doesn't require a re-install, you can add these modules to your existing install.

[2017-06-19 19:25] eltiare commented on #1136
I had to turn on Developer Mode in Windows 10. Build now succeeds.

[2017-06-19 21:27] eltiare commented on #1042
I got this error, but right before it I saw the error that the Add-AppDevPackage.ps1 was unable to be executed. When I try to run it in powershell it complains:

[code]

[2017-06-19 21:44] eltiare commented on #1042
I've disabled signature checking on Windows 10 Home, and now it is giving me this error:

[code]

[2017-06-20 19:36] matthargett commented on #1152
When you say "run it locally", are you launching the appx package locally? Or starting it from a non-packages (Debug) build?

[2017-06-21 15:17] metalmalte commented on #1152
With locally I mean the debug build with the React Native server running. This works perfect. It seems to me like the release version is not looking for the js bundle in the right directory. But I am just a Windows development noob.

[2017-06-22 19:51] kyrre opened #1154 "WPF ChakraCore missing package"
The ChakraCore version used in the WPF project is no longer available.

Severity	Code	Description	Project	File	Line	Suppression State
Error		NuGet Package restore failed for project Native: Unable to find version '1.4.1-preview-00010-42060' of package 'Microsoft.ChakraCore'.
  C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\: Package 'Microsoft.ChakraCore.1.4.1-preview-00010-42060' is not foun

[2017-06-22 19:55] sayar opened #1155 "Installing react-native-windows to react-native project initialized with yarn"
When installing react-native-windows with node v8 & npm v5 into an existing react-native project, the react-native-cli reports no more commands except for init after `npm install rnpm-plugin-windows` succeeds.

[2017-06-22 20:12] rozele commented on #1155
Can't repro on Windows 10 -
[code]

[2017-06-22 20:32] rozele commented on #1155
However, this does repro on Ubuntu

[2017-06-22 20:39] rozele commented on #1155
This seems to be an issue with trying to generate the RN iOS/Android project with yarn, but not using yarn for the windows packages.

[2017-06-22 20:55] rozele commented on #1155
I updated the title of the issue because this is definitely something we should look into. If the user initializes a react-native project when yarn is installed, the react-native-cli will use yarn to optimize the init process. If the user subsequently tries to follow our documentation and install rnpm-plugin-windows with npm, npm will uninstall quite a large number of dependencies (breaking react-

[2017-06-23 08:00] RohitLuthra19 opened #1156 "Please update the compatibility with latest version of react-native. Still requires old versions showing errors and warnings"
npm WARN react-native-windows@0.33.4 requires a peer of react-native@~0.33.0 but
 none was installed.
npm WARN react-native-windows@0.33.4 requires a peer of react@~15.3.1 but none w
as installed.

[2017-06-23 12:39] rozele commented on #1156
@RohitLuthra19 can you elaborate here? It looks like you're trying to install react-native-windows to react-native@0.33.*. Is this correct?

[2017-06-23 13:57] sayar opened #1157 "Remove using process.cwd() in rnpm-plugin commander cli export"
E.g. https://github.com/Microsoft/react-native-windows/blob/2cc697859c80f59350e9613565a975023ae1046e/local-cli/rnpm/windows/src/wpf.js#L39

and https://github.com/Microsoft/react-native-windows/blob/2cc697859c80f59350e9613565a975023ae1046e/local-cli/rnpm/windows/src/windows.js#L39

[2017-06-23 18:02] #1155 closed

[2017-06-24 12:10] RohitLuthra19 commented on #1156
I tried to run the following command
react-native windows
it gets failed by showing following error message

[code]

[2017-06-26 14:39] rozele opened #1164 "Enable generate .pfx from Linux / Mac"
Users who wish to generate react-native-windows projects are currently limited to a generating a default (most of the time expired) temporary key for the UWP app (required to deploy to devices).

There are tools that can be used (e.g., [`openssl pkcs12`](https://wiki.openssl.org/index.php/Manual:Pkcs12(1))) to generate this from Linux.

[2017-06-26 21:04] tim-soft commented on #1156
Do I need to specify a version for react-native-windows?

I'm trying to test the waters with a react-native 0.45.1 project and get similar errors to above^^^

As of this posting react-native 0.45.1 is the latest build

[2017-06-27 12:44] rozele commented on #1156
I have the following version of `react-native-cli` installed:
[code]
I ran the following steps:
[code]

Are you attempting to add react-native-windows to an existing react-native project or creating one from scratch?

[2017-06-27 12:44] rozele commented on #1154
@matthargett any thoughts on this?

[2017-06-27 12:46] rozele commented on #1152
@metalmalte is this just a problem for the HockeyApp build, or can you reproduce locally by producing a Release build?

[2017-06-27 17:29] tim-soft commented on #1116
So which SDK should be installed to use react-native-windows?

The readme lists Windows 10 SDK Build 14393, which seems pretty old at this point

[2017-06-27 20:29] matthargett commented on #1116
@tim-soft 14393 is the minimum one that I tested and found to work in a clean Windows 7 VM. Newer ones may work, but installing the 14393 (Windows 10 Anniversary Edition)  SDK is a good way to make sure you're not using newer APIs that would preclude Anniversary Edition users from running your RNW app.

[2017-06-27 20:43] matthargett commented on #1154
crap, it looks like the ChakraCore team removed the preview package. We should update this to latest 1.5.x release and backport to 42, 43, 44.

[2017-06-28 05:25] RohitLuthra19 commented on #1156
Attempting to add react-native-windows to an existing react-native.

[2017-06-29 14:41] berstend commented on #1154
I'm running into the same issue when trying to bootstrap a new wpf project. :-)

[code]

`Failed to restore the NuGet packages`

Any way to hotfix this?

[2017-06-29 14:59] berstend commented on #1154
I naively attempted to replace the 2 occurrences of `Microsoft.ChakraCore.1.4.1-preview-00010-42060` with `Microsoft.ChakraCore.1.4.4` (in `packages.config` and `.csproj`) and now the demo compiles correctly.

[2017-06-29 21:26] rozele commented on #106
The fix above was reverted here https://github.com/Microsoft/react-native-windows/commit/a3a2f30e1cb84dbaf7b7e399e19dcaf93dad1fc8

[2017-06-29 23:09] nowtech commented on #1042
Anyone found a solution for this?

Having same issue with clean Visual Studio 2015 Professional install and clean react-native project:
react-native init winbase
cd winbase
react-native i --save-dev rnpm-plugin-windows
react-native windows
react-native run-windows

[2017-06-29 23:14] eltiare commented on #1042
Ultimately my problem was caused by not having proper permissions on the folder. It was a network share with Parallels between Windows and OS X. I moved it to my documents folder and it worked fine. I tried building in VS 2015 to get a better error message, which led me to my solution.

[2017-06-29 23:15] nowtech commented on #1042
ok, will try that, however running on a standalone windows pc...

[2017-06-30 00:57] rozele commented on #538
BackAndroid -> BackHandler - https://github.com/Microsoft/react-native-windows/commit/3650ac83de076ae613594f95cec9d6ee27053d5c

[2017-06-30 00:57] #538 closed

[2017-06-30 01:03] rozele commented on #546
Fixed by @sayar.

[2017-06-30 01:03] #546 closed

[2017-06-30 01:15] rozele commented on #974
@sayar fixed this https://github.com/Microsoft/react-native-windows/commit/26dcbd96f5a4bfe1a740f51963ae8bad05f5ec11

[2017-06-30 01:15] #974 closed

[2017-06-30 01:15] rozele commented on #974
@sayar fixed this https://github.com/Microsoft/react-native-windows/commit/26dcbd96f5a4bfe1a740f51963ae8bad05f5ec11

[2017-06-30 01:19] rozele commented on #1051
Useful pointer to docs from dupe issue - http://facebook.github.io/react-native/releases/0.43/docs/accessibilityinfo.html#accessibilityinfo.

[2017-06-30 01:20] rozele commented on #1097
Closing as dupe of #1051

[2017-06-30 01:20] #1097 closed

[2017-06-30 01:21] rozele commented on #1052
Closing as dupe of #1131

[2017-06-30 01:21] #1052 closed

[2017-06-30 02:33] matthargett commented on #1154
can you submit a pull request that updates those package versions in the project templates and CLI to latest ChakraCore 1.5.2 release?

[2017-07-01 08:36] scott108 opened #1170 "Memory leak when render view"
Hello, when I set this.setState({lotsOfData: data}) for rendering view, and then I set this.setState({lotsOfData: []}) for remove view, it will cause memory leak problem, but view component is unmount.

[2017-07-01 17:19] sm2017 opened #1172 "Databases"
1. How can I have a database??
2. Is realm supported??
3. Is sqlite suppoted??

[2017-07-02 14:16] zerglingno1 commented on #1172
This plugin provides a WebSQL-compatible API to store data in a react native app, by using a SQLite database on the native side. Can you check it we write a simple bridge here :
https://github.com/craftzdog/react-native-sqlite-2

[2017-07-03 01:52] scott108 commented on #1170
Step 1. render 1500 text view
Step 2. set data to [] for unmounting view.

P.S. The third image is setState without render text view.

![1](https://user-images.githubusercontent.com/7892590/27775512-33bf4ff4-5fd5-11e7-95d3-3cd19b6519ab.png)
![2](https://user-images.githubusercontent.com/7892590/27775514-35ce2194-5fd5-11e7-9a86-192e48cb7a38.png)
![3](https://user-images.githubusercontent.com/789259

[2017-07-03 07:00] Noitidart opened #1173 "Cannot run from Visual Studio, but can from command line"
I am trying to run from visual studio as per the "Getting Started" docs - https://github.com/Microsoft/react-native-windows#getting-started

It says:

However I could not find the "Install Missing Components". Can you please provide some screenshots. So I skip this step and then go to "Debugging -> Start without debugging" I get errors like this:

![](http://i.imgur.com/yMwZHo7.png)

However I can

[2017-07-03 09:34] sm2017 opened #1174 "Unable to download JS Bundle"
I have same issue as #683 and #807 , I replace  localhost:8081 with the IP address of my development but no solved

Why I have ```Unable to download JS Bundle``` error

[2017-07-03 14:21] adi1133 commented on #1107
Looks like the underlying UWP api [ChangeView](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.scrollviewer#Windows_UI_Xaml_Controls_ScrollViewer_ChangeView_Windows_Foundation_IReference_System_Double__Windows_Foundation_IReference_System_Double__Windows_Foundation_IReference_System_Single__) is broken.

There is more info at:
 - [social.msdn.microsoft.com](https://social.msdn.mi

[2017-07-03 14:35] sm2017 opened #1175 "Command `windows` unrecognized"
I clone `https://github.com/benoitvallon/react-native-nw-react-calculator.git` and run `npm install` multiple time to install all dependencies (https://github.com/npm/npm/issues/10985)

Then run `npm install --save-dev rnpm-plugin-windows`

When I run `react-native windows` I have the following error

[code]

[2017-07-03 14:35] #1174 closed

[2017-07-03 16:13] rozele commented on #1175
@sm2017 can you upgrade to node LTS (looks like you are still on v5) and see if the issue still repros? I wasn't able to repro with
[code]

[2017-07-03 16:17] rozele commented on #1173
@Noitidart this looks to be an issue with the UAP version you have installed on one of your projects.
1) What version of Visual Studio are you using (2015 or 2017)?
2) Look at the `project.json` files of each UWP project and report the version of `Microsoft.NETCore.UniversalWindowsPlatform`.

[2017-07-03 16:22] rozele commented on #1170
@scott108 I would expect if you ran steps 1 and 2 multiple times you'd see something looking like a step function of the memory leak over time. Can you try to produce this? From the current screenshots, its not clear if the issue is actually a memory leak or if you're just hitting additional JavaScript code that gets JIT'd, thus increasing the overall memory use.

[2017-07-03 16:25] rozele commented on #1156
@RohitLuthra19 can you file this issue against http://github.com/Microsoft/reactxp? It looks like they need to update their react-native-windows dependency version.

[2017-07-03 16:25] #1156 closed

[2017-07-03 16:29] rozele commented on #1143
@aravi1995 we do not currently have a DatePicker implementation for react-native-windows, but a pull request would be greatly appreciated.  There is some documentation on building native components here - https://github.com/Microsoft/react-native-windows/blob/master/docs/NativeComponentsWindows.md. I'd suggest using the UWP DatePicker control (https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xa

[2017-07-03 16:29] rozele commented on #1143
Closing as this is a duplicate of #230.

[2017-07-03 16:29] #1143 closed

[2017-07-03 16:30] #1136 closed

[2017-07-03 17:18] sm2017 commented on #1175
I have last version

[code]

When I create fresh project using `react-native init` and then run `npm install --save-dev rnpm-plugin-windows` and then `react-native windows` it works and I can build it for windows

For cloned calculator project . Command `windows` unrecognized

[2017-07-03 18:17] Noitidart commented on #1173
Thank you @rozele for your prompt attention.

I am using VS 2015 (screenshot: [http://i.imgur.com/93ZWwa8.png](http://i.imgur.com/93ZWwa8.png)).

I seem to only have one `project.json` file and it is located in `qaida_board/windows/qaida_board/project.json`. (I created this project with `react-native init qaida_board`). The contents of this file is:

[code]

[2017-07-03 18:49] Noitidart commented on #1173
Also this is what I see on right click of project in solution explorer:

![](http://i.imgur.com/n5758Pt.png)

[2017-07-03 19:56] martinarroyo commented on #230
I did an implementation for a personal project  (a few `props` might still be missing, but the core functionality was already working), and wouldn't mind making a PR. I might have the time over the weekend to submit a draft :)

[2017-07-04 01:24] scott108 commented on #1170
Hello @rozele , here is my code, I set state after 8 seconds, and  you can see memory is growing up.
After 7 seconds, it will set movies to empty array, and the memory is growing down, but it's not the initial memory usage.

![test](https://user-images.githubusercontent.com/7892590/27811537-e928f560-6099-11e7-8ba3-2d23eb5cab4a.png)

[code]

[2017-07-04 02:13] #1108 closed

[2017-07-04 07:50] Noitidart opened #1176 "react-native run-windows running cached version?"
Actually this is not invalid. I have no idea why, but everytime after I restart my computer. I come to my project, do react-native start, then react-native run-windows - it loads some cached version. Any ideas on how to fix this?

[2017-07-04 08:01] Noitidart commented on #1176
whoops never mind, total stupidity on my part. closing.

[2017-07-04 08:26] sm2017 opened #1177 "WPF"
I do following

[code]

I have this error

[code]

[2017-07-04 10:00] sm2017 commented on #1154
![problem](https://user-images.githubusercontent.com/19644997/27825588-473f97be-60c5-11e7-81ad-575fb15d024d.png)

any solution ?

[2017-07-04 10:20] kyrre commented on #1154
@sm2017  just manually change the dependency from Microsoft.ChakraCore.1.4.1-preview-00010-42060 to Microsoft.ChakraCore.1.4.4

[2017-07-04 10:30] sm2017 commented on #1154
@kyrre
in packages file

` <package id="Microsoft.ChakraCore" version="1.4.1-preview-00010-42060" targetFramework="net46" developmentDependency="true" />`

Change to

`<package id="Microsoft.ChakraCore" version="1.4.4" targetFramework="net46" developmentDependency="true" />`

its your mean ?

[2017-07-04 10:32] sm2017 commented on #1154
Ok
Now Show This Error

![problem](https://user-images.githubusercontent.com/19644997/27826820-d2c15468-60c9-11e7-8472-063ab817bbc8.png)

[2017-07-04 12:07] rozele commented on #1177
@sm2017 I think you need to install `rnpm-plugin-windows` instead of `rnpm-plugin-wpf`.

[2017-07-04 12:09] rozele commented on #1175
@sm2017 react-native-windows is only supported on react-native@0.27 and higher. The version of react-native in the GitHub repo above is 0.21

[2017-07-04 12:09] #1175 closed

[2017-07-04 13:24] rozele commented on #1170
@scott108, the increased memory is not indicative of a memory leak. I changed your example to render movies and clear them every 10 seconds and the heap size / process memory does not increase over time.  The memory increase you see from the first movie rendering is due to memory usage in the framework. There are various data structures (dictionaries, lazy delegates, etc.) that contribute to the e

[2017-07-04 13:24] #1170 closed

[2017-07-04 17:18] Noitidart commented on #1176
Actually this is an issue for me, reopening.

[2017-07-04 17:21] Noitidart commented on #1176
Holy heck lol, i dont know i think its just me. Closing again >_<

[2017-07-04 17:21] #1176 closed

[2017-07-04 20:54] imacdowell opened #1180 "_reactNative.WebSocket is not a constructor"
I am seeing a very odd problem with the WebSocket module. This line below throws the "not a constructor" error:

var ws = new WebSocket('ws://192.168.1.128:8001/uwp');

But if I set a breakpoint at that line and hover it is not undefined but is a function constructor:

function WebSocket(url, protocols, options) {
    babelHelpers.classCallCheck(this, WebSocket);

    var _this = babelHelpers.poss

[2017-07-05 13:08] sm2017 commented on #1154
?????

[2017-07-05 19:24] imacdowell commented on #1180
Nevermind, this was caused by "import WebSocket from 'react-native'". That causes an odd behavior.

[2017-07-05 19:24] #1180 closed

[2017-07-06 04:23] Iyzo opened #1182 "Initial paint for transform of position absolute going to top left"
I have the weirdet behavior here. I expect transform to be from origin 50%,50%. However on initial paint it is 0px,0px. If click the TouchableHighlight it then goes to center as expected. So the problem is on initial paint.

Here is my code, I took the boiler plate, and created a component called GridCell which is like this:

[code]

styles.css.js is this:

[code]

On initial paint we see the Touc

[2017-07-06 18:48] rozele opened #1184 "Add `--verbose` option to `react-native run-windows` command"
We often get issues filed for cases where NuGet fails, or MSBuild fails, and currently run-windows doesn't give much insight into the root cause of the failure.  We should add a --verbose flag to allow people to file issues with more details.

[2017-07-06 20:41] Noitidart commented on #1173
Is it possible to pick `ARM` or `x64` from command line `react-native run-windows`? Because I am still not able to run from Visual Studio I don't know how to change build mode :(

[2017-07-06 23:40] matthargett commented on #1154
sorry for the delay. #1185 fixes this issue by using official ChakraCore 1.5.2 release from nuget.org. Once it's merged to master, we'll cherry pick into 42-46 branches and re-release those. /cc @digitalinfinity

[2017-07-07 09:27] adi1133 opened #1187 "Missing react devtools"
React devtools fail to connect, I think this is related to the changes done in #706 .

[2017-07-07 11:34] rozele commented on #1187
This is expected behavior. In Debug bundles, React Native repeatedly tries to connect to React devtools so you can switch them on at any time. Instructions for installing the standalone devtools client here - https://www.npmjs.com/package/react-devtools

[2017-07-07 11:34] #1187 closed

[2017-07-07 18:53] #1142 closed

[2017-07-07 19:00] sayar commented on #1177
@sm2017 has this resolved your issue?

[2017-07-07 19:04] sayar commented on #1152
@metalmalte were you able to resolve this issue?

[2017-07-07 19:05] sayar commented on #1149
@codebased were you able to resolve this issue with different network settings?

[2017-07-10 05:29] jmcginty opened #1189 "Initialising a new project starts with three yellow box errors"
Steps to replicate:

Do a standard init project, and run:

react-native init AwesomeProject
cd .\AwesomeProject\
yarn add rnpm-plugin-windows
react-native windows
react-native run-windows

![yellow box](https://user-images.githubusercontent.com/1586538/28003862-fcd184d0-6583-11e7-9489-1e6ce94f3dd1.png)

The use of React.PropTypes is deprecated, as is using react.createClass() which seems to be the

[2017-07-10 07:02] Noitidart commented on #634
Can you pleaes provide example of how I can use Arabic RTL font in react-native-windows. For iOS and Android we have to do special stuff like add native code - https://facebook.github.io/react-native/blog/2016/08/19/right-to-left-support-for-react-native-apps.html

[2017-07-10 14:21] adi1133 commented on #1182
I am facing the same issue.

[2017-07-10 15:39] adi1133 commented on #1182
In React Native the default origin of transforms is the center of the view, in UWP the default origin of transforms is the top left corner if the view. To bridge the two an offset needs to be applied.

The bug happens in  [BaseViewManager L184](https://github.com/Microsoft/react-native-windows/blob/0126c853a4fee6ec276094c2f15212bb36c76744/ReactWindows/ReactNative/UIManager/BaseViewManager.cs#L184)

[2017-07-10 17:38] Noitidart commented on #1072
`<ScrollView horizontal>` is also not working for me.

[code]

[2017-07-11 07:45] Noitidart commented on #534
ScrollView also does not scroll horizontally - https://github.com/Microsoft/react-native-windows/issues/1072

[2017-07-11 21:46] Noitidart opened #1193 "No MapView parity from AirBnB's react-native-maps for UWP"
A AirBnB maps dev closed a topic and say AirBnB package will never be providing support for UWP - https://github.com/airbnb/react-native-maps/issues/1456#issuecomment-314575465

This disagrees with the docs on react-native windows as it says that their `MapView` was deprecated in favor of AirBnB's package - https://github.com/Microsoft/react-native-windows/blob/master/docs/CoreParityStatus.md

![]

[2017-07-12 01:47] antonkh opened #1195 "Create borders lazily"
XAML Border elements can be created lazily to make things considerably faster. Here is a proof of concept: https://github.com/Microsoft/react-native-windows/compare/master...antonkh:lazy-borders-2

[2017-07-12 06:14] sm2017 opened #1197 "onResizeWindowsSize"
I see that `View::onLayout()` is not triggered on windows resizing

1- How can I detect windows resizing ??
2- How can I detect orientation change?

[2017-07-12 06:18] sm2017 opened #1198 "System.Runtime.InteropServices.COMException was unhandled by user code"
In this line
https://github.com/Microsoft/react-native-windows/blob/master/ReactWindows/ReactNative.Shared/DevSupport/DevSupportManager.cs#L362

We have this issue

[code]

[code]

[2017-07-12 07:47] sm2017 commented on #1172
Is there any other alternative way?

[2017-07-12 08:34] sm2017 commented on #1177
I run following commands

[code]

# Error
[code]

In VS in see that I have same issue https://github.com/Microsoft/react-native-windows/issues/1154

[2017-07-12 10:34] achipa opened #1199 "Project examples elusive for newbies"
The README.md states:

- If you're looking for sample code, just browse the Examples folder in the GitHub web UI
- From your recursive clone of the react-native-windows repo, run git pull --recurse-submodules to make sure you're up to date with latest code
- Open Examples.sln from the Examples submodule folder in Visual Studio.

Current behavior: There is no Example folder, no Examples.sln and the

[2017-07-12 18:10] matthargett commented on #1198
do you have some sample code that is paste-able into Playground that reproduces the issue?

[2017-07-12 18:11] rigdern opened #1200 "Occasional crash during app suspension due to incorrect threading assumption"
The App.xaml.cs template seems to assume that UWP's `Suspending` event will fire on the dispatcher thread. When this event fires, it leads to a call to `ReactInstanceManager`'s `OnSuspend` method which asserts that it's running on the dispatcher thread. However, it appears that UWP's `Suspending` event doesn't necessarily fire on the dispatcher thread.

Here's the exception I'm seeing:

    System

[2017-07-12 18:11] matthargett commented on #1195
This is cool! We've been talking about trying this for a while now. Do you have a Playground or app sample with before/after metrics? for both WPF and UWP?

[2017-07-13 04:59] sm2017 commented on #1198
I follow this http://redux.js.org/docs/basics/ExampleTodoList.html

[2017-07-13 08:36] rozele commented on #1199
@achipa sorry about this, the examples has recently migrated from UIExplorer to RNTester, we need to update our documentation.

[2017-07-13 08:41] rozele commented on #1198
@sm2017 are you using Ctrl+R to refresh, or trying to open the Shift+F10 dev options menu simultaneously? I think there's an older bug on this. https://github.com/Microsoft/react-native-windows/issues/146.

[2017-07-13 08:43] rozele commented on #1197
Perhaps you haven't set the onLayout callback on the correct view? The event should fire. Orientation change detection is handled the same as in other platforms, I think by registering the `namedOrientationDidChange` event

[2017-07-13 08:47] rozele commented on #1189
Thanks @jmcginty we need to update our init project templates

[2017-07-13 11:25] wasd171 commented on #821
@rozele could you provide any highlight on b) though? I have an Electron-based app, where all heavy logic is done in the main process, and renderer process is lightweight for better UX. Is it possible to create something like a WebWorker?

[2017-07-13 23:15] jmcginty commented on #1189
Isn't the problem in the component definitions?
It seems some components e.g.

 has been updated to include `PropTypes` from `'prop-types'` and create classes by Extending the React.Component.

 still uses the deprecated `React.PropTypes` & `const Text = React.createClass({`

[2017-07-14 14:50] pablomaestri opened #1201 "Problems publishing app into Microsoft market"
I'm having this issue when I upload the .appxupload file into the app that I want to publish for Windows Phone:

Error Found: The supported APIs test detected the following errors:
API FormatMessage in api-ms-win-core-localization-l1-2-0.dll is not supported for this application type. System.Diagnostics.Tracing.dll calls this API.
This is from the certification.

I followed the steps from https://

[2017-07-15 06:35] sm2017 commented on #1198
@rozele I use `Ctrl+R`

[2017-07-15 06:36] sm2017 commented on #1197
@rozele I set `onLayout` callback to the root view m it works on android but not windows

[2017-07-17 14:09] #1201 closed

[2017-07-17 14:49] rozele commented on #1201
@pablomaestri what was the issue? Did you find something in the core framework using System.Diagnostics.Tracing that is blocking publishing?

[2017-07-17 15:51] rozele commented on #1182
@adi1133 and @Iyzo - can you check if the PR in #1202 fixes the issue for you? @adi1133 is correct above, the default origin for the transform is the top left corner, so we applied the hack to try and make the transforms compatible with react-native. There were cases where the transform is applied before the dimensions of the view are known, which breaks the hack.

[2017-07-17 16:37] rozele commented on #1200
Thanks @rigdern, would love a PR if you have a fix.

[2017-07-17 16:40] #1182 closed

[2017-07-17 16:40] rozele commented on #1182
Please re-open if the merged PR does not resolve the issue.

[2017-07-17 17:59] pablomaestri commented on #1201
Hello! I generated again the file and the problem dissapear, but I have another problem with the ReleaseBundle and DebugBundle in the Solution Configuration. Some elements are not visible (for example some TextInput).

[2017-07-17 18:31] rigdern commented on #1200
@rozele I don't have a fix and unfortunately don't have time to work on a fix right now. A complete fix may be more challenging than it initially appears because the dispatcher thread isn't always guaranteed to exist (for example, when the app launches from the terminated state into a background task via `OnBackgroundActivated`).

[2017-07-17 19:53] sayar commented on #1152
@metalmalte It seems as though your issue has been resolved. If you don’t mind, I will close this issue in 1 day unless I get an update from you.

[2017-07-17 19:59] sayar commented on #1149
@codebased It seems as though your issue has been resolved. If you don’t mind, I will close this issue in 1 day unless I get an update from you.

[2017-07-17 20:01] sayar commented on #1106
@chsrlnd has your issue been resolved?

[2017-07-17 20:01] sayar commented on #1105
@ndbroadbent It seems as though your issue has been resolved. If you don’t mind, I will close this issue in 1 day unless I get an update from you.

[2017-07-17 20:03] #1101 closed

[2017-07-17 20:04] sayar commented on #1092
@Driky, has your issue been resolved?

[2017-07-17 20:08] sayar commented on #1078
@rozele are we still planning on supporting Windows 10 Phone?

[2017-07-17 20:09] sayar commented on #1070
@MrCreeper1008  and @MikeDabrowski are you still having this issue?

[2017-07-17 20:10] sayar commented on #1062
@bmeverett and @jerinjohnk was this resolved?

[2017-07-17 20:12] sayar commented on #1057
@nuthinking has this been resolved in more recent versions?

[2017-07-17 20:12] #1048 closed

[2017-07-17 20:14] sayar commented on #1040
@rozele can you confirm if this has been resolved?

[2017-07-17 20:15] sayar commented on #1033
@kevinvangelder has this issue been resolved?

[2017-07-17 20:18] sayar commented on #1030
@kevinvangelder has this issue been resolved?

[2017-07-17 20:19] sayar commented on #1021
@vince-rowe was this still a problem with the latest versions of node?

[2017-07-17 20:21] #969 closed

[2017-07-17 20:21] #928 closed

[2017-07-17 20:22] #906 closed

[2017-07-17 20:24] #801 closed

[2017-07-17 20:33] jerinjohnk commented on #1062
@sayar running npm install --save-dev rnpm-plugin-windows untill successful completion was the one that worked for me. Havent tried it recently though.

[2017-07-17 20:34] #533 closed

[2017-07-17 20:41] sayar commented on #940
@Pokute were you able to resolve this issue?

[2017-07-17 20:42] #937 closed

[2017-07-17 20:42] #951 closed

[2017-07-17 20:45] sayar commented on #1062
It is working in the most recent releases. I'm going to close this issue. Thanks!

[2017-07-17 20:45] #1062 closed

[2017-07-17 20:46] sayar commented on #811
@pulse14 is this still an issue?

[2017-07-18 00:07] jmcginty opened #1205 "Convert React.PropTypes to PropTypes provided by prop-types package"
This will fix the React.PropTypes warning showing in issue #1189

Ref: https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html#migrating-from-react.proptypes

[2017-07-18 00:35] kevinvangelder commented on #1033
I haven't run in to this in a long time, so it's probably okay to close until someone hits it again.

[2017-07-18 00:38] kevinvangelder commented on #1030
I think the particular example project I was having this problem with went away in a recent RN update.

[2017-07-18 00:38] #1030 closed

[2017-07-18 01:09] #1033 closed

[2017-07-18 12:37] MikeDabrowski commented on #1070
Lately there were some major changes to react native in general, so I need to check it again. It is the last step in dev process as I am mainly focused on android. I will try next week

[2017-07-18 13:39] #1199 closed

[2017-07-18 15:29] #1205 closed

[2017-07-18 15:29] rozele commented on #1205
Closed by #1206

[2017-07-18 15:56] rozele opened #1210 "Add pooling for YogaNodes"
YogaNode has a reset() method, we can easily build a pool around these.

[2017-07-18 17:38] rozele opened #1212 "Add pooling for JS Events"
The [Event](https://github.com/Microsoft/react-native-windows/blob/master/ReactWindows/ReactNative.Shared/UIManager/Events/Event.cs) base class should be configured to support pooling, and we should use pooling, especially for high frequency events like mouseOver, onLayout, etc.

[2017-07-18 20:09] #71 closed

[2017-07-18 20:09] #1210 closed

[2017-07-18 20:53] rozele opened #1214 "Remove dependency on WinRTXamlToolkit"
We only use it for rectangular clipping, which is easy enough to implement.

[2017-07-20 00:21] antonkh opened #1216 "Inline views with implied 0x0 size crash the app"
`MeasureText` should allow the following construct:

[code]

The inner `View` has implied 0x0 size, but because it doesn't have that size set explicitly, `MeasureText` throws an exception. This usually happens when some child nodes evaluate to `null`:

[code]

That `null` becomes an `RCTView` with no dimensions.

Perhaps `MeasureText` in such cases should stop at the 18x18 `View` since it already

[2017-07-20 02:46] GomesCamila opened #1217 "Missing property when comparing components created on React Windows Vs React Android"
I have noticed, after generating some JSON representations of React components, that components created when running React on Android exhibit one attribute that doesn't appear on the same components when generated under Windows, namely `$$typeof`.
It's very easy to replicate this Just create one component and use JSON.stringify on it. For example, on Windows you could get the following after strin

[2017-07-20 14:56] rozele commented on #1216
Are you sure this is a problem with MeasureText and not a more general problem with not running layout calculations recursively?

[2017-07-20 15:08] rozele commented on #1217
I don't see why this would be a problem. Is it breaking some tooling? We don't do anything special w/ babel for RNW so not sure why this property is not being intoduced.

[2017-07-20 16:59] rozele commented on #1216
It looks like the inline shadow node visitor is just recursing too far. I'll have a fix for this soon.

[2017-07-20 17:14] rozele opened #1220 "JavaScript exception `ReactPropTypes` is undefined in PickerWindows.js"
Found this bug by running the RNTester from the latest code in master branch.

[2017-07-20 17:46] #1216 closed

[2017-07-20 17:50] #1214 closed

[2017-07-20 21:44] #1220 closed

[2017-07-21 00:29] rozele commented on #1189
@jmcginty are you going to submit PRs for the other warnings as well?

[2017-07-21 13:07] rozele commented on #1140
@adi1133 I think this is due to the fact that we don't properly implement `setJSResponder` on the `UIManager`, which I believe is used to cancel scrolling.  Have you had any luck debugging this or getting it to work?

[2017-07-21 13:09] rozele commented on #1140
This is the same as https://github.com/Microsoft/react-native-windows/issues/569

[2017-07-21 20:36] pre10der89 opened #1222 "Fetching Image resource causes repeated System.ArgumentException"
A System.ArgumentException is seen when fetching an image... The image is eventually loaded...

It appears that there may be a bind failure in some reflection method call as assumed by the statement on the top of the stack...

Near the bottom of the stack is a reference to:

ReactNative.Modules.Image.ImageStatusEventData

This is the stack trace

 	mscorlib.dll!System.Delegate.CreateDelegate(Syste

[2017-07-21 20:38] pre10der89 commented on #1222
import React, { Component, PropTypes } from 'react'
import { View, TouchableOpacity, Text, Image } from 'react-native'
import { Images } from '~/Themes'
import Styles from './Styles/FiveStarRatingStyles'

export default class FiveStarRating extends Component {
  static propTypes = {
    closeFeedbackContainer: PropTypes.func
  }

  constructor (props) {
    super(props)
    this.state = {
      ho

[2017-07-21 21:20] rozele commented on #1107
I think there's a category of issues with the way props are set. Many props are set on the view before a layout pass with dimensions. We may have to add in an architecture that at least waits for the first layout pass before setting these properties.

@rachmcnamara - a good way to test out this theory would be to tie the `contentOffset` property to a state variable, and then set the `contentOffset

[2017-07-21 21:32] rozele commented on #1140
@adi1133 I think the theory above is correct. We need to (selectively) call `CancelDirectManipulations` on the targeted JSResponder UIElement. I've been trying to prototype this today, but I'm running into an issue where the `setJSResponder` API seems a bit too eager, and I cancel the direct manipulations too often, causing making the scroll behavior janky. I'm trying to figure out what the exact

[2017-07-23 23:07] NicholasJohn16 opened #1223 "How to create Live Tiles?"
Is there any documentation or information about how to create live tiles using React Native for Windows? Is it even possible?

[2017-07-24 14:36] #1152 closed

[2017-07-24 14:36] #1149 closed

[2017-07-24 14:37] #811 closed

[2017-07-24 16:17] sm2017 commented on #1177
Any idea?

[2017-07-24 16:18] sm2017 commented on #1177
Any idea?

[2017-07-24 16:18] sm2017 commented on #1154
Any update?

[2017-07-24 20:02] rozele commented on #1223
Hi @NicholasJohn16, we haven't added a native module for updating live tiles yet, but if you're interested, I think it would make a great contribution. For details on getting started with native modules, check out this doc - https://github.com/Microsoft/react-native-windows/blob/master/docs/NativeModulesWindows.md

[2017-07-24 20:26] rozele opened #1225 "Simple translation transforms are broken"
Simple translations using RenderTransform are not currently working as expected.

[2017-07-25 00:52] #1225 closed

[2017-07-25 00:57] rozele opened #1229 "Leverage PlatformViewPropTypes when available"
The react-native repo recently accepted a PR to include an extension to ViewPropTypes that are specific to platforms: https://github.com/facebook/react-native/commit/59105f6b1edb3c4dbbe78177ab8bb3e0ab405a09

We should use this to include `manipulationMode` and potentially `tabStop` props.

[2017-07-25 01:08] rozele commented on #1140
@adi1133 can you take a look at the PR https://github.com/Microsoft/react-native-windows/pull/1228 and see if using the `manipulationModes` View prop will resolve your PanResponder issues? You'll need to integrate the PR with your branch.

[2017-07-25 01:10] rozele commented on #1040
This has not been resolved. We still have issues where we should warn for props that people might expect to work but don't (yet they still want confirmation that it not working is "expected" behavior)

[2017-07-25 04:09] adi1133 commented on #1140
@rozele I am in vacation, will get back with some answers on July 28

[2017-07-25 23:30] berstend commented on #1154
@sm2017 did you also update the ChakraCore version to 1.4.4 in the `.csproj` file as well?

[2017-07-26 20:20] sayar commented on #1157
@rozele, just checked, there's no project root or any other option passed to the windows command from react-native so using process.cwd() is the only approach.

[2017-07-26 20:20] #1157 closed

[2017-07-26 23:00] jmcginty commented on #1189
@rozele Hi, I have submitted a PR for the View.propTypes warning. The React.createClass one is trickier. I will create a pull request, but it will be incomplete. I'll need some help with that.

[2017-07-27 12:36] rozele commented on #1189
@jmcginty it looks like the react-native project applied a mixture of `create-react-class` (https://github.com/facebook/react-native/commit/9afb71fde8199156ed683dca6aa59826f9fb9279) and transforming the React.createClass calls into an ES6 type (https://github.com/facebook/react-native/commit/a2fb703bbb988038323c55b29b40e8f5ff52966d).  We should try to keep consistent with those files.

[2017-07-27 18:31] nrakochy opened #1233 "StatusBar in Windows fails to build"
I am having a bit of trouble sorting out how to include the Windows status bar in an app. I can see that the module was created ([#274](https://github.com/Microsoft/react-native-windows/pull/274)), but I do not see how to instantiate it in the [StatusBar examples](https://github.com/Microsoft/react-native-windows/blob/6148ca96ef4e1da73fea4697a79a5f1acd370af3/js/StatusBarExample.js) on the Windows

[2017-07-27 18:45] nrakochy commented on #1233
I am running `react-native run-wfp`, so it is probably superfluous to my project, as `StatusBar` may not exist.

[2017-07-27 18:45] #1233 closed

[2017-07-27 19:13] rozele commented on #1154
Closed by #1185

[2017-07-27 19:13] #1154 closed

[2017-07-27 19:18] rozele commented on #1079
This should have been resolved as of https://github.com/Microsoft/react-native-windows/pull/1049.

[2017-07-27 19:18] #1079 closed

[2017-07-27 19:37] #1184 closed

[2017-07-27 19:45] #569 closed

[2017-07-27 23:34] #106 closed

[2017-07-28 00:05] #952 closed

[2017-07-28 03:28] jmcginty commented on #1189
Yes - simple classes can be converted to es6, which is the preferred method, and others can use the  `create-react-class` method.
I have been using https://github.com/reactjs/react-codemod to help me do the conversions.
It has done a bunch of classes, but there are about 18 files it could auto convert due to "inconvertible mixins.". I am going to tidy up the ones that the tool and I can convert an

[2017-07-28 16:40] rozele opened #1236 "LayoutAnimation + `overflow: hidden` broken"
Since we changed the overflow property to be based on the SetDimensions method, we've lost the ability to track the overflow against a Storyboard animation, which is used in LayoutAnimation.

[2017-07-28 17:01] #217 closed

[2017-07-28 19:41] rozele opened #1239 "Crash due to NativeAnimated and batched node creation race condition"
Similar to this issue - https://github.com/facebook/react-native/pull/10907 - there is a race condition where a NativeAnimated node may not yet have been created by the NativeViewHierarchyManager.

[2017-07-28 20:22] rozele opened #1241 "Performance issue related to frequent I18NUtil.IsRightToLeft check"
The call to local settings for I18NUtil adds a considerable amount of overhead in the layout calculation. This should be resolved once we add @antonkh's "lazy border" feature, where we'll remove the layout adjustment based on border width.

[2017-07-28 20:33] rozele opened #1242 "ScrollView sticky headers have poor performance"
Sticky headers in ScrollView / ListView are not very sticky. When running in release mode, the headers mostly track the top of the ScrollView, but they "blink" during fast scrolling.  This is likely due to the short delay that occurs between the scroll and the ViewChanging event.

[2017-07-28 20:56] rozele commented on #1094
I don't see anything actually blocking FlatList from working at this point. We still don't have RefreshControl, but the RNTester example works (except for a few quirks with TextInput).

[2017-07-28 20:56] #1094 closed

[2017-07-28 21:01] #1239 closed

[2017-07-28 21:19] rozele opened #1243 "Hash layout animation to allow current animation to continue"
If an existing layout animation is running, we shouldn't have to restart it unless it is intended to do something different.

[2017-07-28 21:20] #1236 closed

[2017-07-31 06:17] tim-soft opened #1245 "Stuck at Installing react-native-windows"
I've installed all of the requirements and added rnpm-plugin-windows to my project.

I'm on Windows 10 Education build 16251.rs3_release

When I run `react-native windows` to initialize the project, I get `Installing react-native-windows@0.46.0-rc.0...` which appears to get stuck. Any ideas?

Here is my package.json
[code]

Edit: Uninstalling/Reinstalling Windows SDK followed by rebooting my compu

[2017-07-31 07:42] #1245 closed

[2017-07-31 14:55] rozele opened #1250 "CLI `run-windows` command start packager broken"
CLI is pointing at the wrong location for the `launchPackager.bat` script.

[2017-07-31 15:30] rozele opened #1252 "Optimize for TextBlock fast path when possible"
See docs here: https://docs.microsoft.com/en-us/windows/uwp/controls-and-patterns/text-block#performance-considerations

If we can replace the RichTextBlock in some places with a simple TextBlock and stop using inlines, we'll have better text rendering performance.

[2017-07-31 18:15] #1250 closed

[2017-08-01 12:44] victorileaf opened #1254 "Custom fonts in react-native-windows"
Hi,
Im developing an app that supports **ios,android and windows** as well. I was able to add custom fonts to the react native app by adding fonts to a folder and then adding assets inside `package.json`. Then running `react-native link` , i was able to use the custom fonts using `fontFamily`.

How can i do this react-native-windows? Can someone help me?

[2017-08-01 13:10] victorileaf commented on #159
is there a way to detect keyboard operations in react-native-windows right now?

[2017-08-01 18:06] kevinvangelder opened #1255 "*.windows.js files overriding *.ios.js files?"
@asgvard says:

There is a possibility this could be an issue with [Metro Bundler](http://github.com/facebook/metro-bundler), but we want to verify that it's not our problem.

[2017-08-01 19:56] sayar opened #1258 "Mismatch between published version and master branch"
There is a mismatch between the version published on NPM of react-native-windows (0.47.0-rc.5) and the version in the master branch (0.47.0-rc.4).

[2017-08-01 20:08] rozele commented on #1258
Version numbers on the master branch are irrelevant, react-native, e.g., uses 1000.0.0 as the version number for the master branch, we may want to consider doing something similar.

[2017-08-01 20:26] asgvard commented on #1255
Hi,

Some additional info and another possible reproducing case is similar to this issue:
https://github.com/facebook/react-native/issues/13925
(there are also some related issues opened in the comments to this issue)

I've seen exactly the same error, which means it tries to use Text.windows.js, which requires non-existent RCTVirtualText for iOS. Tried to clear react-native packager cache, doesn'

[2017-08-02 08:52] ileafsolutions commented on #1254
?

[2017-08-02 14:46] rozele commented on #1254
Can you paste an example of what the package.json looks like with the font reference? It should be possible to use custom fonts in react-native-windows - https://github.com/Microsoft/react-native-windows/issues/652.  I wasn't aware there was a feature in react-native link to move fonts.

[2017-08-02 16:17] rozele opened #1259 "Images are not being rendered in RNTester ImageExample"
Some images are not being rendered, specifically, the "border radius" example.

[2017-08-02 17:20] victorileaf commented on #1254
I followed this tutorial
[Adding / Linking fonts for IOS and Android at once](https://medium.com/@danielskripnik/how-to-add-and-remove-custom-fonts-in-react-native-b2830084b0e4)

Added the following snippet and executed the command `react-native link `which worked on android and ios

[code]

[2017-08-03 00:37] rozele commented on #1140
@adi1133 I'm closing out this issue, if you can upgrade to react-native@0.47, please try the `manipulationMode` prop. If you're locked into a specific react-native version, let me know and I can try to cherry-pick the commit back to that version.

[2017-08-03 00:37] #1140 closed

[2017-08-03 01:42] scott108 opened #1263 "build wpf bundle"
hi,
when I use
**react-native bundle --platform wpf --entry-file index.wpf.js
    --bundle-output wpf\tte\ReactAssets\index.wpf.bundle
    --assets-dest wpf\tte\ReactAssets**
to build index.wpf.bundle, and I got **Unrecognized platform: wpf** message

[2017-08-04 15:49] sayar commented on #1255
I haven't been able to reproduce this at all neither with the Text or the Video components. Can you share the steps you took to get this error or other reproducible steps? What version of react-native are you using?

[2017-08-04 18:14] rigdern opened #1268 "Enable RNW to run without the dispatcher thread to support in-process background tasks"
Here's an example. We should allow developers to run JavaScript in response to receiving raw push notifications. If the app is in the terminated state when it receives a raw push notification, it launches directly into the background and the dispatcher thread isn't available (I haven't found any documentation that states this but this is what I've observed in experiments). Consequently, the develo

[2017-08-04 18:26] rigdern opened #1269 "Enable Windows.UI.Xaml.Application and RN modules to communicate"
The particular scenario I'm interested in is I want a React Native module to handle WNS (Windows Push Notification Services) raw notifications. The React Native module will pass the raw notification into the JavaScript engine. UWP exposes raw push notifications by calling `Windows.UI.Xaml.Application's` `OnBackgroundActivated` method. So somehow `Application` and React Native modules need to commu

[2017-08-04 18:28] sayar commented on #718
I can't reproduce this with VS2017. Packager does not crash.

[2017-08-04 18:50] sayar commented on #1263
Hi @scott108, did you run `npm i rnpm-plugin-wpf` or `yarn add rnpm-plugin-wpf` and `react-native wpf` before trying to run the bundle command?

[2017-08-05 14:14] sjthn opened #1270 "Getting "Cannot get layout properties of multi edge shorthands" when using TextInput"
- Development Environment: Windows 10 Pro OS
- RN windows plugin version v0.42.1-rc.3

#### Code to reproduce:
[code]

#### Output screen:
![textinput-error](https://user-images.githubusercontent.com/11992303/28996066-f711ba50-7a15-11e7-9cc4-fc8adbe18973.png)

[2017-08-06 17:01] Leadrive opened #1271 "In VS2015, run error: DEP0700 : 应用程序注册失败。错误 0xC000003A: 程序包 部署被 AppLocker 阻止。 (0x80073cf9)"
Win10 LTSB
I followed the Getting Started,
In VS2015, run error: DEP0700 : 应用程序注册失败。错误 0xC000003A: 程序包 部署被 AppLocker 阻止。 (0x80073cf9)

If use react-native run-windows, report error:
Failed to deploy: Command failed: CheckNetIsolation LoopbackExempt -a -n=

[2017-08-07 06:10] scott108 commented on #1263
Hi @sayar , I just run `npm i rnpm-plugin-windows` and `react-native wpf`, is there anything different??

[2017-08-07 13:17] sayar commented on #1263
Yep, you gotta run `npm i rnpm-plugin-wpf` (note the wpf instead of windows) to be able to add wpf platform support. Let me know if that fixes your problem so I can close this issue.

[2017-08-07 20:12] rozele opened #1273 "Add dialog manager to reduce dev support complexity"
Right now, there are at least 4 types of dialogs that can be displayed by react-native-windows, and we haven't even properly implemented a modal module yet. Since dialogs can only be shown one at a time, we'll probably want to create a dialog manager that handles priorities for showing dialogs and can manage tasks like hiding dialogs in favor of higher priority ones and appending long running task

[2017-08-07 20:17] rozele commented on #1241
This issue is closed by #1261, we no longer need to adjust layout for border now that the Canvas is the parent.

[2017-08-07 20:17] #1241 closed

[2017-08-07 20:32] rozele opened #1274 "Make ReactNative.csproj a WinRT component"
It would be great if ReactNative.csproj could be easily consumed from C++/CX. We'll need to clean up the public surface (#22) and update the .csproj file to make this happen.

[2017-08-08 01:27] scott108 commented on #1263
If i only run `npm i rnpm-plugin-wpf`, and I got Unrecognized command 'wpf' message after `react-native wpf`
![image](https://user-images.githubusercontent.com/7892590/29052273-8f5e9c9a-7c1b-11e7-9844-f2e379ef8455.png)

[2017-08-08 02:01] scott108 opened #1275 "[WPF] Dimensions get 0 height and 0 width in release bundle mode"
Hi , here is my test, I just use Dimensions to get height and width in Debug mode and Release bundle mode
![image](https://user-images.githubusercontent.com/7892590/29052941-ac0378e4-7c1f-11e7-8152-5fb502e5f89c.png)
![image](https://user-images.githubusercontent.com/7892590/29052946-b1ebf966-7c1f-11e7-941f-7f07d050b19e.png)

[2017-08-08 02:59] #1275 closed

[2017-08-08 04:55] #1172 closed

[2017-08-08 09:26] sm2017 opened #1276 "Failed to restore the NuGet packages"
Today I install fresh react native and react native windows (both last version)

When I run `react-native run-wpf` , The following error is occurred

But when I open project using visual studio , It run successfully

[2017-08-08 14:14] lakano opened #1277 "ERROR: The system was unable to find the specified registry key or value."
Hi,

I'm trying to get a luck to support Windows 10 mobile phones, but it's doesn't works for me.

I've followed your guide, create a new project, added rnpm-plugin-windows, installed / launched VS2015, initialized windows, but when I try the run-windows command, this failed.

In VS2015, it's impossible to update the Debug/ARM value from the top combo box (disabled).
But I can give theses informat

[2017-08-08 14:24] lakano opened #1278 "non-windows developers and Expo"
Hi !

I have currently some bugs to test your react-native-windows module, but I would like to known if it's possible to support windows 10 mobile platform when our development OS is not Windows (I'm under GNU/Linux) ?

Is is possible to init the project (opening VS2015 the first time), compile the project under the windows 10 mobile device, and then to continue to code under GNU/Linux with the se

[2017-08-08 14:25] sayar commented on #1277
Hi @lakano, can you please verify if msbuild.exe is in "C:\Program Files (x86)\MSBuild\14.0\bin\msbuild.exe" ? Thanks!

[2017-08-08 14:28] sayar commented on #1276
@sm2017 Are you running VS2017? We've fixed that issue with PR #1262, can you give that branch a try? We haven't merged it back into master and published yet.

[2017-08-08 14:28] sayar commented on #1271
@Leadrive can you please share what version of react-native-windows you are running?

[2017-08-08 14:41] sayar commented on #1263
@scott108, I wasn't able to reproduce this error. Can you please share what versions of react-native you are using?

[2017-08-08 14:42] lakano commented on #1277
Hi @sayar !
Thanks for your quick answer.
Yes, the field is present (not the same upper/lower cases, but under windows I suppose it's not a problem)

[2017-08-08 15:15] adi1133 commented on #1140
Hi @rozele, thank you for your support.

I am stuck on react-native@0.43.3, when I try the latest version (0.47.0) I face this error:
[code]

How can I run a version that supports `manipulationModes`?
How do I use `manipulationModes` together with a `PanResponer` that wants to capture movement events that happen in the same axis as the `ScrollView`?

[2017-08-08 16:32] #985 closed

[2017-08-08 16:45] rozele commented on #1278
@lakano presumably you could use a CI like Visual Studio Mobile Center, VSTS, or AppVeyor to produce Windows binary, so nothing specifically would be blocking the development on other platforms (Linux, MacOS).

I haven't looked into what it would take to enable react-native-windows on Expo, but I think it would be very useful. I'll definitely leave this issue open and keep Expo support on the back

[2017-08-08 16:54] lakano commented on #1278
Hi @rozele

Thanks for your answer, I don't known these programs, I'll search informations about this.

Good news about your interest to make react-native-windows inside Expo ! 👍

[2017-08-08 17:05] rozele opened #1279 "Remove old version of nuget.exe"
Recent change to CLI to support VS 2017 added nuget.4.*.exe. We probably only need the latest version of nuget.

[2017-08-08 17:19] sm2017 commented on #1276
@sayar no I use VS2015

[2017-08-08 21:23] rozele commented on #1195
Closed by #1261

[2017-08-09 01:20] scott108 commented on #1263
Hi @sayar, here is my package.json
[code]

[2017-08-09 02:25] antonkh commented on #1195
Merged to `master`.

[2017-08-09 08:55] ballySingh opened #1281 "Mobile Emulator 10.0.14939 not running"
I've been following the guidelines and I cannot get my mobile emulator running for 10.0.14939 but funny thing is I can get 'mobile emulator 10.0.10586.0' working and also 'Local Machine'.
I'm using Visual Studio 2017 on windows 10, cause the company has paid for it, I've got all my window SDKs installed. followed the guidelines but i get this:

![image](https://user-images.githubusercontent.com/30

[2017-08-09 18:33] rozele opened #1283 "Add react-native-gesture-handler compatibility for UWP"
We should probably keep an eye on https://github.com/kmagiera/react-native-gesture-handler. Ideally, we'd do more than keep an eye on it and implement react-native-windows support.

[2017-08-09 19:55] RyanMitchellWilson commented on #1255
I'm getting the exact same error as @asgvard
Using:
react-native: 0.44
react-native-video: 1.2 which uses react-native-windows: 0.41.0-rc.0

[2017-08-09 20:12] RyanMitchellWilson opened #1284 "XCode still requiring react-native-windows after removing package"
I had to install this package because it was a dependency on react-native-video but that caused it's own problems trying to run the ios app. So I removed both dependencies and even recloned my project and now XCode keeps looking for something in `node-modules/react-native-windows`.
I have a brand new clone of my project without any of the react-native-windows stuff (cloned at the same path), and I

[2017-08-09 22:00] rozele commented on #1284
@RyanMitchellWilson you need to reset the bundler cache with --reset-cache after removing react-native-windows. As for the issue with *.windows.js files being picked up by the packager for *.ios.js, we should leave #1255 open for that.

[2017-08-09 22:00] #1284 closed

[2017-08-09 22:54] RyanMitchellWilson commented on #1255
I am using a Mac as well as watchman. I've run `watchman watch-del-all` and still get the problem. Did you also build the app to the simulator? I don't have the problem until try to run the app in the simulator then I get the errors.

I'm not sure if this could make a difference but I am using npm 4.4.1 and not yarn.

[2017-08-10 00:36] sayar opened #1285 "Fix eslint"
Eslint is not being run by appveyor and the configuration needs to be updated to match the latest facebook/react-native configuration. Further, there are lint warnings when it is run.

[2017-08-10 01:44] kevinvangelder commented on #1255
Watchman isn't supported on Windows, so that could be the major difference between your workflow and ours. It might be worthwhile to try disabling or (temporarily) uninstalling watchman to see if the issue persists.

[2017-08-10 05:44] sm2017 commented on #1276
How to solve it?

[2017-08-10 08:45] anttilehtonen commented on #1270
I have seen this also with latest 0.47 rc5. TextInput not working in latest.

[2017-08-10 08:52] sjthn commented on #1270
It wasn't working until you explicitly specify width and height. I think there should be a default width and height for the components in general.

[2017-08-10 13:01] rozele opened #1286 "Add GitHub Issue template"
We should have an issue template that captures basic information about the dev environment.

[2017-08-10 13:23] rozele commented on #1286
Closed by https://github.com/Microsoft/react-native-windows/commit/cb514b90b4a03c7cda6ee5cf8a019e69c31edde8

[2017-08-10 13:23] #1286 closed

[2017-08-10 13:25] rozele commented on #1276
@sm2017 can you run:
[code]

[2017-08-10 16:03] RyanMitchellWilson commented on #1255
From what I can see, watchman is pretty much required to run react-native on mac. Unless anyone else has found a way to run without it, I have not.

[2017-08-10 18:03] kevinvangelder commented on #1255
Hmm, I thought it only enabled live/hot reload.

[2017-08-10 19:55] matthargett opened #1288 "eliminate forced initialization of ReactContext and NativeModules on the UI thread"
As mentioned here:
http://facebook.github.io/react-native/blog/2017/08/07/react-native-performance-in-marketplace.html

Related to #1268 /cc @rigdern

[2017-08-10 20:44] sayar commented on #1285
Fixed by de1bfe7

[2017-08-10 20:44] #1285 closed

[2017-08-11 16:09] rozele commented on #1255
@RyanMitchellWilson if watchman is not installed, won't the packager just default to the node file watcher? It's a bit slower, but it's what's used when developing on Windows.

[2017-08-11 16:09] rozele commented on #1255
Also, I proposed a change to react-native-video - https://github.com/react-native-community/react-native-video/pull/733 - there's no reason that dependency ever should have been there.

[2017-08-11 16:23] rozele commented on #738
Re-opening, I don't think this is working again

[2017-08-11 16:26] RyanMitchellWilson commented on #1255
@rozele Ya people have been trying to get that dependency removed for months without much luck, I actually ended up just forking that project and removing the dependency myself so I'm no longer experiencing this problem.

[2017-08-11 16:26] #1279 closed

[2017-08-12 06:51] negativetwelve commented on #1255
this was merged https://github.com/react-native-community/react-native-video/pull/730 but a new release hasn't been pushed out yet :/

[2017-08-14 14:23] rozele opened #1290 "Update documentation to include VS 2017"
Recent commit (https://github.com/Microsoft/react-native-windows/commit/56571aa0535b55848da2848bfe9a239e48612e79) includes changes required to make get CLI working with VS 2017. We need to update documentation as well.

[2017-08-14 15:14] rozele opened #1291 "Eliminate unused IReactPackage API for JS Modules"
ReactPackage on ReactAndroid has eliminated the `createJSModules` API (https://github.com/facebook/react-native/commit/ce6fb337a146e6f261f2afb564aa19363774a7a8), we should also eliminate this on IReactPackage.

[2017-08-14 15:19] rozele opened #1292 "Add missing APIs from NativeAnimated implementation"
### Environment

1. `react-native -v`: 0.47.*
2. `npm ls rnpm-plugin-windows`: latest
3. `npm ls react-native-windows`: Microsoft/react-native-windows#master
4. `node -v`: N/A
5. `npm -v`: N/A
6. `yarn --version`: N/A

Then, specify:

- Target Platform: UWP & WPF

- Target Platform Version(s): All

- Target Device(s): All

- Development Operating System: Windows

- Visual Studio Version: VS 2015

[2017-08-14 15:40] #1291 closed

[2017-08-14 20:34] rozele opened #1296 "Support cancellation in ReactInstance initialization"
We should support deep cancellation of ReactInstance in ReactInstanceManager initialization.

[2017-08-14 23:54] rozele commented on #955
@rigdern it sounds like this is not actually a bug, but a symptom of the react-native threading model. If I'm not mistaken, the exact same behavior could occur on Android, where JavaScript triggers a call to `getCurrentState` simultaneously with when OnResume is called by the UIThread. I imagine this can all be handled from JavaScript by ensuring that the appStateDidChange event takes priority ove

[2017-08-14 23:54] #955 closed

[2017-08-15 05:16] rigdern opened #1300 "AppState's instance variable should be thread-safe"
https://github.com/Microsoft/react-native-windows/blob/fab01fa8cadfa4874d15b0d2b41987eec1d52591/ReactWindows/ReactNative.Shared/Modules/AppState/AppStateModule.cs#L15

The `_appState` instance variable is read by multiple threads (`getCurrentAppState` and `OnResume` run on different threads) but the usage is not thread-safe.

I noticed this when running into #955.

[2017-08-15 05:18] rigdern commented on #955
@rozele Okay, we can fix this in the JS code in React Native by ignoring the result of `getCurrentAppState` if it arrives after the event has fired.

I don't think the instance variable `_appState` in the `AppState` module is used in a thread-safe way. It's read from multiple threads. I filed #1300 to track this.

[2017-08-15 14:40] rozele commented on #1288
I did a quick prototype of this, and it's a bit more complicated than I would have originally thought. ReactAndroid has a few architectural benefits that lend itself well to initialization off dispatcher thread. Currently, all modules that leverage the UI thread do so from the ReactChoreographer, which can be subscribed to from any thread. For the most part, we subscribe directly to the Compositio

[2017-08-15 14:53] rozele commented on #1300
I don't think there are any thread safety issues here.  The `_appState` variable is only ever written by the UI thread.  While I agree that we could minimize the race condition where the `_appState` is read while its being written by moving all read/write access to the variable to a single thread, it will never fully eliminate the race condition you experienced in #955. I really don't think this i

[2017-08-15 15:25] rozele commented on #1300
I was finally able to reproduce this. It turns out, it's not an issue with the native module implementation, but instead the JavaScript assumptions. There are no guarantees in either ReactAndroid or ReactWindows that the lifecycle event calls will occur before the native module call (`getCurrentAppState`). So, technically this bug also exists in ReactAndroid (although it may be a much smaller race

[2017-08-15 15:50] rozele commented on #1300
Either the native module fix here, or the JavaScript fix upstream will take care of this issue.

[2017-08-15 22:12] rigdern commented on #1300
@rozele I opened this issue because I thought that even with the JavaScript fix there was still a bug in the native code due to accessing `_appState` from multiple threads. After filing this issue, I learned that assignment of reference types such as strings is atomic in C#. I can't think of any other multithreading concerns not addressed by the JavaScript fix so I think we can close this issue.

[2017-08-16 00:54] #1292 closed

[2017-08-16 03:40] phongcao commented on #278
And blurRadius also doesn't work.

[2017-08-17 14:38] ballySingh opened #1305 "Unable to Download JS bundle (Red screen)"
### Environment

1. `react-native -v`: 0.47.0
2. `npm ls rnpm-plugin-windows`: 0.47.0-RC5
3. `npm ls react-native-windows`: yes
4. `node -v`:8.2.1
5. `npm -v`:5.3.0
6. `yarn --version`:n/a

Then, specify:

- Target Platform: UWP (developer mode enabled)

- Target Platform Version(s):
10.0.10586
.NET 4.6.1, .NET 4.5

- Target Device(s):
Mobile ARM

- Development Operating System:
Windows 10 Desktop

[2017-08-17 14:38] rozele opened #1306 "Events received out of order"
### Environment

1. `react-native -v`: 0.47.*
2. `npm ls rnpm-plugin-windows`: latest
3. `npm ls react-native-windows`: latest
4. `node -v`: N/A
5. `npm -v`: N/A
6. `yarn --version`: N/A

Then, specify:

- Target Platform: UWP + WPF

- Target Platform Version(s): All

- Target Device(s): All

- Development Operating System: Windows

- Visual Studio Version: 2015

### Steps to Reproduce

(Write you

[2017-08-17 21:39] #1300 closed

[2017-08-18 12:49] rozele commented on #1173
It looks like you don't have the correct UWP SDKs installed in Visual Studio, were you able to resolve this yet?

[2017-08-18 13:18] josephchang commented on #1305
Did you run `react-native start`?

[2017-08-18 13:26] Noitidart commented on #1173
Still not yet, thanks for checking up, I have been badly wanting to move on with the UWP version and learn how to release it.

I will try to find the UWP SDKs and then let you know.

By the way is there any docs on how to do a release to the Windows store?

[2017-08-18 14:49] ballySingh commented on #1305
Yes I had, I've mentioned it in step 10.

[2017-08-18 14:59] josephchang commented on #1305
Ah right, you did, sorry I missed it.
I've only recently set this up, and I ran into this issue as well - only worked after trying a couple of different things.
Did the packager log anything out?
Another thing I did was running `react-native run-windows` and then opening the project up in VS.

[2017-08-18 15:59] shera40 commented on #1305
Packager does'nt show any error. Or the index.window.js loading.

[2017-08-19 05:24] moderndev opened #1309 "Is it safe to use react?! considering the license issues Apache raised?!"
In light of the recent announcements with react licensing that Apache made is Microsoft recommending that its still safe to use react in apps?

https://www.theregister.co.uk/2017/07/17/apache_says_no_to_facebook_code_libraries/?mt=1503119492953

I don't want to continue developing my app if I have to rewrite it to remove react ?! (like what Apache recommends)

[2017-08-19 06:47] thisisjaiswal opened #1310 "React.NET"
Hi Team,
As far as I have understood React and its ecosystem, It's not just 'A JAVASCRIPT LIBRARY FOR BUILDING USER INTERFACES', it's a CONCEPT. where instead of writing programs in a particular language, which can only be compiled by its compiler, we write everything (UI, events, animations, server calls...) as a function, and all... this function does is ... return a String. All the MAGIC happen

[2017-08-19 07:48] sm2017 opened #1311 "File picker"
How can I have a file picker?

[2017-08-19 17:52] rozele commented on #1309
@moderndev my (personal) takeaway from the link is, if you plan on moving your project to the Apache Foundation, don't use React.js. Otherwise, this licensing issue pops up once or twice a year, and yet many people continue to use React.js and React Native to build apps.

*DISCLAIMER:* My opinion here is my own, not Microsoft's.

[2017-08-19 17:52] #1309 closed

[2017-08-19 17:55] rozele commented on #1310
Thanks @thisisjaiswal. This is an interesting idea but out of scope for this open source project.

[2017-08-19 17:55] #1310 closed

[2017-08-19 17:58] rozele commented on #1305
@ballySingh did you modify the URL of the packager server in the native code before deploying to your device? The dev options is configured to try and reach the packager at localhost:8081, but if you're on an ARM device, you'll need to specify the reachable IP address of your dev machine here: https://github.com/Microsoft/react-native-windows/blob/master/ReactWindows/ReactNative.Shared/DevSupport/

[2017-08-19 18:09] rozele opened #1313 "Broken unit test related to AppStateModule"
### Environment

1. `react-native -v`: 0.47
2. `npm ls rnpm-plugin-windows`: master
3. `npm ls react-native-windows`: master
4. `node -v`: N/A
5. `npm -v`: N/A
6. `yarn --version`: N/A

Then, specify:

- Target Platform: UWP + WPF

- Target Platform Version(s): Any

- Target Device(s): Any

- Development Operating System: Windows

- Visual Studio Version: 2015

### Steps to Reproduce

(Write your

[2017-08-19 18:20] thisisjaiswal commented on #1310
can you suggest a correct forum/team for this ?

[2017-08-21 03:33] Leadrive commented on #1271
Is the latest version.

At 2017-08-08 22:29:01, "Rami Sayar" <notifications@github.com> wrote:

@Leadrive can you please share what version of react-native-windows you are running?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-08-21 08:27] ballySingh commented on #1305
@rozele yes I did, you will see in step 7.

change deviceServerHelper,cs to point to ip address of machine

[2017-08-21 13:01] #1313 closed

[2017-08-21 13:18] rozele opened #1315 "CI is more non-deterministic than before"
### Steps to Reproduce

Take a look at the CI history.

### Expected Behavior

Tests and CI succeeding should be relatively consistent.

### Actual Behavior

There seem to be many failures due to issues with CI (connection failures to GitHub, timeouts, etc.), not with the build or unit tests.

[2017-08-22 07:39] ballySingh commented on #1305
Let me apologize but I was misinformed by our support team. I told that the Ethernet and Wifi internet was using the same internet connection, which I found out was not the case. Once I connected to the same connection it worked.

[2017-08-22 14:00] sm2017 opened #1316 "Extending React Native"
I read https://github.com/Microsoft/react-native-windows/blob/master/docs/NativeModulesWindows.md

But what about WPF? Must I create separate module for UWP and WPF ?

[2017-08-22 14:13] #1305 closed

[2017-08-22 15:31] rozele commented on #1316
@sm2017 you can architect the UWP and WPF native module in a similar way to how ReactNative.csproj and ReactNative.Net46.csproj are architected, using a C# shared project.

E.g., react-native-code-push is implemented with a shared project:
https://github.com/Microsoft/react-native-code-push/tree/master/windows

[2017-08-22 15:31] #1316 closed

[2017-08-22 15:32] rozele commented on #1311
There are no core APIs for react-native-windows for file pickers. You'll need to create a native module, as described in https://github.com/Microsoft/react-native-windows/blob/master/docs/NativeModulesWindows.md

[2017-08-22 15:32] #1311 closed

[2017-08-22 17:27] phongcao commented on #1259
@rozele Can we close this one now?

[2017-08-22 18:05] lafka commented on #1276
There's no folder called `windows` in the project directory only one named `wpf`. Calling `nuget.exe restore wpf\....` gives the following result:
[code]

Running `react-native run-wpf --verbose` gives:

[code]

Relevant Dependencies:
* react-native-scripts 1.2.1
* rnpm-plugin-windows 0.2.7
* rnpm-plugin.wpf 0.1.2
* react-native 0.47.0-rc.5
* react-native-windows 0.47.0-rc.5

Don't know if this ha

[2017-08-22 19:41] lafka commented on #1276
Introduced in 16452c56a0e54cf28b33178d2175025129644924 where adding explicitly using parent stdout/err execSync returns null.

This if fixed again in bb100ac8a02be2361dfb0802710af750e920e3b3 which is in master

[2017-08-22 19:53] #1290 closed

[2017-08-23 00:23] Colengc opened #1320 "Click coordinate issues when hosting in XAML Frame or ContentPresenter"
I'd like to use a XAML Frame or ContentPresenter, to add React content to an existing UWP/XAML application.  However, if the Frame or ContentPresentor is not at 0,0 of the Window, the offset is not handled, resulting in incorrect click coordinates.

It's fairly straight forward to modify AwesomeProject to demonstrate the issue.  Add a Page (i.e. BlankPage1) to the project, and add the following:

[2017-08-23 00:33] pre10der89 opened #1321 "ClipboardModule could throw exception if clipboard is already opened by another process"
The WPF ClipboardModule will throw the following COMException if the clipboard is already opened by another process:

"OpenClipboard Failed (Exception from HRESULT: 0x800401D0 (CLIPBRD_E_CANT_OPEN)"

[2017-08-23 00:37] rozele opened #1323 "Look into the order of CompositionTarget.Rendering event subscribers"
ReactAndroid has a very well defined set of subscribers to the frame callback, which means that events that come from one stage in the frame callback that queue actions for another stage could see those actions get executed in the same frame. We should ensure that, e.g., event dispatches, are subscribed to before native animated module responders. My guess is that this could increase responsivenes

[2017-08-23 02:04] pre10der89 opened #1326 "UpdateViewHierarchy causing InvalidOperationException"
The UpdateViewHierachy is raising an InvalidOperationException occasionally.   The exact circumstances that cause this exception have not been identified...

This sort of exception usually happens when trying to remove items from a collection when it is being iterated over.

System.InvalidOperationException: Collection was modified; enumeration operation may not execute.
   at System.ThrowHelper.T

[2017-08-23 04:43] sm2017 commented on #1276
@lafka I have output as same as you

How can I fix this ? and update my local project to fixed version ?

[2017-08-23 11:23] lafka commented on #1276
@sm2017

You can use the git repo as a dependency. In your package.json change:

[code]

and the run `yarn` or `npm install` depending on which pkg manager you use.

[2017-08-23 15:46] sm2017 commented on #1276
@lafka what about updating existing visual studio project . I need something like `react-native-git-upgrade`

[2017-08-23 19:22] #1306 closed

[2017-08-23 21:19] rozele commented on #1326
I actually think its a problem with the root view being added to the collection. Looking at the code, the operation to add a root view tag to the ShadowNodeRegistry occurs on the UI thread, while all other operations occur on the layout thread.

I think this is actually a dupe of:
https://github.com/Microsoft/react-native-windows/issues/266

[2017-08-23 22:23] pre10der89 opened #1327 "Failure to read script file should result in a more useful error"
Passing a script filename that does not exist to RunScript will cause an AggregateException/InvalidOperationException/NullReferenceException, which will show a red box with the error "One or more errors occurred."  when running the debug server and will otherwise go unhandled.

This is certainly an invalid operation, however, the issue being raised here is whether there is anything that could be d

[2017-08-24 01:25] jmcginty opened #1329 "VSCode warns about project.json files being deprecated"
There are a few project.json files in the project which seem to be redundant
[code]

Can we delete these to remove the warnings from VSCode?

[2017-08-24 07:57] bazgyrt commented on #1254
Hello!
Did anyone find solution for custom fonts in react-native windows?

[2017-08-24 13:53] rozele commented on #1254
Can you review the issue https://github.com/Microsoft/react-native-windows/issues/652 there is some detail in there about how someone got custom fonts working in another app.

[2017-08-24 13:54] rozele commented on #1254
We'll need to add support for linking assets for react-native-windows to the react-native link command

[2017-08-24 16:47] elamd opened #1330 "run-windows Error"
### Environment
1. react-native: 0.47.2
2. rnpm-plugin-windows@0.2.7
3. react-native-windows@0.47.0-rc.5
4. v8.4.0
5. 5.3.0
6. 0.2.75

- Target Platform: UWP

- Target Platform Version(s): 10.0.10586

- Target Device(s): Desktop

- Development Operating System:Windows 10 Home 15063.540

- Visual Studio Version: 2017 Community

### Steps to Reproduce

1. Follow instructions per https://github.com/M

[2017-08-24 16:51] victorileaf commented on #1254
@rozele I am not sure .. but i think linking works for react-native-windows too. I just asked that question to make sure it works .. or else a better way to make custom fonts works.

PS: I havent had a chance , But will try this in Visual studio and get back!

[2017-08-24 18:30] elamd commented on #1330
The project builds in VS as an x64 project, but if I switch to x86, then it fails.

Drilling down into that directory, AppX doesn't exist.

[2017-08-28 14:24] rozele opened #1332 "Async suspend operations are not supported in native modules or view managers"
### Environment

1. `react-native -v`: *
2. `npm ls rnpm-plugin-windows`: *
3. `npm ls react-native-windows`: *
4. `node -v`: *
5. `npm -v`: *
6. `yarn --version`: N/A

Then, specify:

- Target Platform: *

- Target Platform Version(s): *

- Target Device(s): *

- Development Operating System: Windows

- Visual Studio Version: *

### Steps to Reproduce

1. Suspend or terminate the app.
2. Suspend

[2017-08-29 06:17] mehdijjz commented on #738
It's not working for me neither, only shows:
`➜  <PROJECT> git:(master) react-native link <PACKAGE>
Scanning 866 folders for symlinks in /Users/mehdijjz/Development/Projects/<PROJECT>/node_modules `

[2017-08-29 10:05] amorenew commented on #1172
Yes, there should be different alternatives

[2017-08-29 12:37] 3a4oT commented on #1278
@rozele would be nice to have few words about it in a Readme. Can I give a try to *visual-studio-mac*?

[2017-08-29 22:42] jmcginty commented on #1329
It looks like these are needed until we get rid of the dependency on 2015. Closing the issue.

[2017-08-30 10:10] macgriffiths opened #1334 "ChakraBridge: The application which this project type is based on was not found"
### Master

Hi I can't ChakraBridge to load on VS 17, it seems like the migration fails.

- Target Platform: UWP

- Target Platform Version(s): 10.0.15063

- Target Device(s): Desktop, Mobile, Mobile Emulator

- Development Operating System: Windows 10 (Build 10.0.15063)

- Visual Studio Version: Visual Studio Enterprise 2017 (Version 15.2 (26430.13))

### Steps to Reproduce

1. Complete the getti

[2017-08-30 12:02] amorenew commented on #1042
I opened the project in Visual Studio 2015 and run it from there.

[2017-08-30 15:04] rozele opened #1335 "Only call onLayout when layout has actually changed"
### Environment

1. `react-native -v`: *
2. `npm ls rnpm-plugin-windows`: *
3. `npm ls react-native-windows`: *
4. `node -v`: *
5. `npm -v`: *
6. `yarn --version`: N/A

Then, specify:

- Target Platform: *

- Target Platform Version(s): *

- Target Device(s): *

- Development Operating System: Windows

- Visual Studio Version: *

### Steps to Reproduce

(Write your steps here:)

Not a bug, just a

[2017-08-30 19:49] rozele commented on #1323
Related to #115 and #1288

[2017-08-31 00:44] #1335 closed

[2017-08-31 00:46] rozele commented on #1334
@macgriffiths perhaps you need to install C++ tools for VS 2017? Might need to update the docs on what versions of the UWP framework are required plus what extensions for VS 2017...

[2017-08-31 00:49] rozele commented on #1288
We have 1/2 steps that I outlined above done towards off-UI-thread ReactContext initialization.  The next thing is initializing the MessageQueueThreads off-dispatcher, which we could do if we passed down a reference to the CoreApplication.

[2017-08-31 01:10] rozele commented on #1315
Closing, the CI is much more deterministic as of https://github.com/Microsoft/react-native-windows/commit/332be5609bcfcab571a4d210509b412a8f7a45e6

[2017-08-31 01:21] rozele commented on #31
This is still not implemented.

[2017-08-31 05:48] macgriffiths commented on #1334
Thank you @rozele, Turns out I only installed C++ tool for VS 15 and not 17. Issue has been resolved

[2017-08-31 12:12] #1334 closed

[2017-08-31 12:42] #266 closed

[2017-08-31 12:42] #1326 closed

[2017-08-31 16:17] rozele opened #1341 "Add `performance.now()` native polyfill"
### Environment

1. `react-native -v`: *
2. `npm ls rnpm-plugin-windows`: *
3. `npm ls react-native-windows`: *
4. `node -v`: *
5. `npm -v`: *
6. `yarn --version`: N/A

Then, specify:

- Target Platform: *

- Target Platform Version(s): *

- Target Device(s): *

- Development Operating System: Windows

- Visual Studio Version: *

### Expected Behavior

Calls to performance.now() in JavaScript retu

[2017-08-31 16:19] #1323 closed

[2017-08-31 16:20] rozele commented on #115
Closed by #1338

[2017-08-31 16:20] #115 closed

[2017-08-31 16:38] rozele commented on #1341
This is actually not strictly necessary. fbjs actually falls back to Date.now(), which works fine on ChakraCore.

[2017-08-31 17:58] rozele opened #1342 "Leverage FrameEventArgs for UIViewOperationQueue batched items"
### Environment

1. `react-native -v`: *
2. `npm ls rnpm-plugin-windows`: *
3. `npm ls react-native-windows`: *
4. `node -v`: *
5. `npm -v`: *
6. `yarn --version`: N/A

Then, specify:

- Target Platform: *

- Target Platform Version(s): *

- Target Device(s): *

- Development Operating System: Windows

- Visual Studio Version: *

### Expected Behavior

We should use the absolute `FrameTime` proper

[2017-08-31 19:40] rozele opened #1343 "Unsubscribe from CompositionTarget.Rendering when not being used"
### Environment

1. `react-native -v`: *
2. `npm ls rnpm-plugin-windows`: *
3. `npm ls react-native-windows`: *
4. `node -v`: *
5. `npm -v`: *
6. `yarn --version`: N/A

Then, specify:

- Target Platform: *

- Target Platform Version(s): *

- Target Device(s): *

- Development Operating System: Windows

- Visual Studio Version: *

### Expected Behavior

App should not spin CPU cycles at 60hz by bei

[2017-08-31 20:01] rozele commented on #1343
Doesn't look this this is much of an issue, the high CPU usage was related to the requestIdleCallback behavior, which doesn't seem to be working properly yet (PR coming soon).

[2017-08-31 21:41] rozele commented on #1343
Closing, this is not really a problem.

[2017-09-01 17:35] rozele commented on #1341
Closing as the investigation found there were performance limitations in the architecture that make `Date.now()` in JavaScript and `DateTimeOffset.Now.ToUnixTimeMilliseconds()` a more performant means of having synchronized time across the React Native bridge.

[2017-09-01 17:35] #1341 closed

[2017-09-01 20:49] rozele commented on #1343
Scratch that. This is a problem. XAML only ticks at 60hz if CompositionTarget.Rendering is subscribed to. So for there will be some minimal CPU usage even if no actions need callbacks. We need to unsubscribe from CompositionTarget.Rendering when it's not needed.

[2017-09-01 20:51] rozele commented on #1342
Closed by #1346

[2017-09-01 20:51] #1342 closed

[2017-09-04 03:05] jianguangyu opened #1349 "How to creat an application for wpf?"
Hey,friends.
I have done things follow the tutorial but only create an application for uwp. Then I find a document here https://github.com/Microsoft/react-native-windows/tree/master/local-cli/rnpm/wpf, and I tried to create an app follow it but failed.
I was just wondering if anyone could tell me how to create an application for wpf since I really wanna create  one that can run on window 7.
Thanks

[2017-09-05 01:15] #1349 closed

[2017-09-05 18:56] #987 closed

[2017-09-05 19:20] #1315 closed

[2017-09-05 21:00] Colengc commented on #1320
I have a hack.  I have no idea what I might be breaking, but am providing my hack here in case it's useful to someone who might try to address the issue properly.

In ReactWindows\ReactNative\Touch\TouchHandler.cs, I've update OnPointerPressed() to walk the UI tree all the way up to the top, in order to establish the rootPoint.

Was:

	var rootPoint = e.GetCurrentPoint(_view);

Changed to:

	Depen

[2017-09-05 21:43] rozele opened #1356 "Do not queue JavaScript event on dispatcher if no events staged"
### Environment

1. `react-native -v`: *
2. `npm ls rnpm-plugin-windows`: *
3. `npm ls react-native-windows`: *
4. `node -v`: *
5. `npm -v`: *
6. `yarn --version`: N/A

Then, specify:

- Target Platform: *

- Target Platform Version(s): *

- Target Device(s): *

- Development Operating System: Windows

- Visual Studio Version: *

### Expected Behavior

When a CompositionTarget.Rendering callback i

[2017-09-06 05:05] sm2017 opened #1358 "react-native-git-upgrade"
Is there any command like `react-native-git-upgrade` for react-native-windows?
How can I upgrade local visual studio project to last version?

[2017-09-06 11:38] amorenew commented on #1172
@sayar
I tested another database and it worked
https://github.com/antoniopresto/react-native-local-mongodb/issues/1

[2017-09-06 11:42] amorenew commented on #1172
So now we have two database
**CouchDB** 'PouchDB' https://github.com/craftzdog/react-native-sqlite-2
 and
**MongoDB**
https://github.com/antoniopresto/react-native-local-mongodb

[2017-09-06 14:11] NivethithaRR commented on #1277
Getting the same error. Have you resolved this error? If yes means,kindly let me know the solution for this issue. @lakano

[2017-09-06 14:19] sayar commented on #1358
@sm2017 not at the moment but we'd be very grateful if you can PR a similar feature. Although, Visula Studio will upgrade your solution file if you load your older solution/project in a newer version of VS.

[2017-09-06 14:20] sayar commented on #1330
@elamd can you rerun with the --verbose flag set. It gives more error details.

[2017-09-06 14:21] lakano commented on #1277
Hi @NivethithaRR !
No sorry, and so, we've decided to remove the support of Windows 10 Mobile for our application.
Best regards,

[2017-09-06 14:32] NivethithaRR opened #1359 "The system was unable to find the specified registry key or value."
D:\new\second>react-native windows
Reading application name from package.json...
Reading react-native version from node_modules...
Checking for react-native-windows version matching 0.41.*...
Installing react-native-windows@0.41.0...
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.1.1 (node_modules\jest\node_modules\sane\node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDE

[2017-09-07 10:56] amorenew commented on #537
I tried user agent but not working

[2017-09-07 14:19] amorenew commented on #537
Solution until it works:

in web view add:
`headers:{"platform":"windows"}`

in ASP.NET MVC check by headers>>
`if (Request.Headers["platform"] != null)`

[2017-09-07 15:50] rozele commented on #1359
Looks like the build failed, not related to the issue title.

Can you run this command and print the output:
"C:\Program Files (x86)\MSBuild\14.0\bin\msbuild.exe" "D:/new/second/windows/second.sln" /clp:NoSummary;NoItemAndPropertyList;Verbosity=minimal /nologo /p:Configuration=Debug /p:Platform=x86 /p:AppxBundle=Never

Or, can you run react-native run-windows --verbose?

[2017-09-11 06:55] amorenew opened #1360 "Firebase Auth support"
As you know how much important firebase auth by facebook or twitter or google.
I searched for firebase support to react native windows but I didn't find any.
So I wonder if you add support to firebase auth.
Thanks

[2017-09-11 12:33] rozele commented on #1360
Please file this issue either on https://github.com/fullstackreact/react-native-firestack or https://github.com/invertase/react-native-firebase.

[2017-09-11 12:33] #1360 closed

[2017-09-11 14:57] joeblew99 opened #1361 ".net framework standard 2.0"
I have been using the new .net framework standard 2.0

Since c' is used to make custom native components and native Ui components, then it seems plausible that we can create apps for OSX, and even android and ios using this architecture ?

[2017-09-11 16:46] rozele commented on #1361
@joeblew99 this is something we're very interested in, and I can certainly see using the C# React Native bridge with a Xamarin UIManager implementation for iOS and Android, or whatever-ui-framework for the UIManager for Linux / OSX. It's definitely something we're thinking about but not in the near term.

[2017-09-11 17:35] joeblew99 commented on #1361
@rozele
At the moment i use the c# code for android, ios and desktop frontends with a GRPC communications layer to services installed on the desktop and mobile. These proxy services have storage and also sync with the servers over grpc.

[2017-09-11 18:02] #1270 closed

[2017-09-12 09:07] joeblew99 commented on #1361
close this if you want !

[2017-09-12 16:53] rozele commented on #1361
Thanks @joeblew99! I'll re-open if we start looking into the .NET Standard library.

[2017-09-12 16:53] #1361 closed

[2017-09-12 18:57] kamil7x commented on #183
Hello, I would like to ask if there is any progress on this issue?

[2017-09-13 00:13] #1356 closed

[2017-09-13 04:52] sm2017 opened #1368 "TextInput and clearButtonMode"
It seems `clearButtonMode` of `TextInput` component is not implemented , I set to `'never'` but don't affected

[2017-09-13 05:34] sm2017 opened #1369 "TextInput render bug"
### Environment

1. `react-native -v`:

2. `npm ls rnpm-plugin-windows`:

3. `npm ls react-native-windows`:

4. `node -v`:

5. `npm -v`:

6. `yarn --version`:

Then, specify:

- Target Platform: UWP

- Target Platform Version(s):10.0.10586

- Target Device(s):Desktop

- Development Operating System:Windows 10

- Visual Studio Version:2015

### Steps to Reproduce

Run the following code
[code]

###

[2017-09-13 05:59] sm2017 opened #1370 "TextInput onChangeText"
### Environment

1. `react-native -v`:

2. `npm ls rnpm-plugin-windows`:

3. `npm ls react-native-windows`:

4. `node -v`:

5. `npm -v`:

6. `yarn --version`:

Then, specify:

- Target Platform: UWP

- Target Platform Version(s):10.0.10586

- Target Device(s):Desktop

- Development Operating System:Windows 10

- Visual Studio Version:2015

### Steps to Reproduce

Run the following code
[code]

###

[2017-09-13 17:08] rozele opened #1371 "DispatcherHelpers.IsOnDispatcher is incorrect"
### Environment

1. `react-native -v`: *
2. `npm ls rnpm-plugin-windows`: *
3. `npm ls react-native-windows`: *
4. `node -v`: *
5. `npm -v`: *
6. `yarn --version`: N/A

Then, specify:

- Target Platform: UWP

- Target Platform Version(s): UWP *

- Target Device(s): *

- Development Operating System: Windows

- Visual Studio Version: *

### Steps to Reproduce

(Write your steps here:)

1. Insert li

[2017-09-13 18:59] rozele opened #1373 "No need to unsubscribe from ReactChoreographer on lifecycle events"
### Environment

1. `react-native -v`: *
2. `npm ls rnpm-plugin-windows`: *
3. `npm ls react-native-windows`: *
4. `node -v`: *
5. `npm -v`: *
6. `yarn --version`: N/A

Then, specify:

- Target Platform: *

- Target Platform Version(s): *

- Target Device(s): *

- Development Operating System: Windows

- Visual Studio Version: *

### Steps to Reproduce

(Write your steps here:)

1. Suspend app
2.

[2017-09-13 19:33] #1371 closed

[2017-09-13 23:58] rozele opened #1375 "Unit tests failing since change to ReactChoreographer"

[2017-09-14 12:33] #1375 closed

[2017-09-14 13:19] rozele commented on #1373
Going to leave unsubscription behavior for testing purposes.

[2017-09-14 14:04] #1373 closed

[2017-09-14 16:40] jpshelley commented on #1330
I'm having a similar issue, and `--verbose` is an unknown option. I'm on RN 0.45.0 though, was it introduce recently?

[2017-09-14 17:48] rozele opened #1377 "Release builds throw exception for AssertOnDispatcher"
### Environment

1. `react-native -v`: *
2. `npm ls rnpm-plugin-windows`: *
3. `npm ls react-native-windows`: master branch
4. `node -v`: *
5. `npm -v`: *
6. `yarn --version`: N/A

Then, specify:

- Target Platform: UWP

- Target Platform Version(s): UWP *

- Target Device(s): *

- Development Operating System: Windows

- Visual Studio Version: *

### Steps to Reproduce

(Write your steps here:)

[2017-09-14 18:35] rozele commented on #1377
This was actually an issue with calling `RunOnDispatcher` not `IsOnDispatcher`.  And limited to the new feature to turn off the ReactChoreographer during periods of inactivity.

[2017-09-14 19:11] rozele commented on #1377
This is still a problem for IsOnDispatcher call in NativeAnimatedModule

[2017-09-14 19:14] #1377 closed

[2017-09-14 20:46] #1343 closed

[2017-09-14 22:47] jpshelley opened #1379 "VS2015 Issues"
### Environment
1. `react-native -v`: 0.48.x
2. `npm ls rnpm-plugin-windows`: 0.2.7
3. `npm ls react-native-windows`: 0.48.0-rc.x
4. `node -v`: 8.4.0
5. `npm -v`: 5.3.0

Then, specify:

- Target Platform: UWP

- Target Platform Version(s): 10.0.10586

- Target Device(s): Desktop

- Development Operating System: Windows 10

- Visual Studio Version: VS 2015

### Steps to Reproduce

After upgraded to

[2017-09-14 23:35] #917 closed

[2017-09-15 01:01] rigdern commented on #564
I'm thinking we should fix this by translating a `<Text>` with an `onPress` handler to a XAML `Hypelink`. There will be a lot of limitations in styling but a hyperlink scenario is probably the most common use of `onPress` on `Text` nodes anyway. Also, I can't think of a more general way to solve this nicely given the APIs XAML exposes.

[2017-09-15 15:24] rozele opened #1380 "NetworkingModule ties up JS thread during incremental progress"
### Environment

1. `react-native -v`: *
2. `npm ls rnpm-plugin-windows`: *
3. `npm ls react-native-windows`: *
4. `node -v`: *
5. `npm -v`: *
6. `yarn --version`: N/A

Then, specify:

- Target Platform: UWP

- Target Platform Version(s): UWP *

- Target Device(s): *

- Development Operating System: Windows

- Visual Studio Version: *

### Steps to Reproduce

1. Open UIExplorer
2. Open XHR example

[2017-09-15 16:42] rozele opened #1382 "WebView ties up UI thread during loading"
### Environment

1. `react-native -v`: *
2. `npm ls rnpm-plugin-windows`: *
3. `npm ls react-native-windows`: *
4. `node -v`: *
5. `npm -v`: *
6. `yarn --version`: N/A

Then, specify:

- Target Platform: UWP

- Target Platform Version(s): UWP *

- Target Device(s): *

- Development Operating System: Windows

- Visual Studio Version: *

### Steps to Reproduce

1. Open RNTester
2. Open WebView examp

[2017-09-15 17:43] #1380 closed

[2017-09-15 17:43] #1382 closed

[2017-09-15 19:22] rozele opened #1384 "Native `didUpdateDimensions` event not firing"
### Environment

1. `react-native -v`: *
2. `npm ls rnpm-plugin-windows`: *
3. `npm ls react-native-windows`: *
4. `node -v`: *
5. `npm -v`: *
6. `yarn --version`: N/A

Then, specify:

- Target Platform: *

- Target Platform Version(s): *

- Target Device(s): *

- Development Operating System: Windows

- Visual Studio Version: *

### Steps to Reproduce

1. Run app subscribed to `Dimensions.addEven

[2017-09-18 02:04] jpshelley commented on #1042
i get the same issue as @Foovanadil after commenting out that line @rozele
[code]

[2017-09-18 13:47] dpitre commented on #1263
You are missing react-native-windows.
[code]

[2017-09-18 16:28] jpshelley commented on #1042
I was able to get around this error finally:
[code]
For me the issue was that the run-windows command didn't add my cert to the personal user's cert store. We had 2 certs in our repo and I had to manually add both of them by double clicking them.

There is still one issue where the run-windows command won't launch the react packager, so I need to then run `react-native start` once the app has laun

[2017-09-19 03:15] rigdern commented on #1268
Apparently, when launching into the background `CoreWindow.GetForCurrentThread()?.Dispatcher` is null but `CoreApplication.GetCurrentView()?.Dispatcher` is non-null. I wonder if React Native should switch to the latter dispatcher. Although, we probably want to avoid loading XAML and other UI resources when launching into the background if possible.

[2017-09-20 13:24] andreszs commented on #1281
I'd never downgrade VS on the same machine, instead, you should install VS on fresh-Windows installations only. Also, VS2015 was designed to work better on Windows 8.1.

[2017-09-21 15:24] jonathanhuang13 opened #1387 "Unable to download JS bundle"
### Environment
1. `react-native -v`: 0.48.3
2. `npm ls rnpm-plugin-windows`: 0.2.7
3. `npm ls react-native-windows`: 0.48.0-rc.4
4. `node -v`: 8.3.0
5. `npm -v`: 5.3.0

- Target Platform: UWP
- Target Platform Version(s): 10.0.14393
- Target Device(s): Xbox
- Development Operating System: Windows
- Visual Studio Version: Visual Studio 2017

### Issue

I'm trying to access the development server o

[2017-09-21 21:20] rozele commented on #1387
Can you access the service from the browser on your Xbox?

[2017-09-21 21:40] jonathanhuang13 commented on #1387
Yes, I can access the service on Xbox's Edge. The interesting thing is that even if I type the appropriate IP address on my Surface and try to run the app locally, I get the same error. If I type `localhost:80811 or `127.0.0.1:8081` and deeply locally, it works as well.

[2017-09-22 01:29] matthargett opened #1388 "nuget restore errors for fresco when trying to build Playground UWP"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.47.2

2. `npm ls rnpm-plugin-windows`:
3. `npm ls react-native-windows`:
react-native-windows@0.47.0-rc.4 /mnt/c/Users/mhargett/workspace/react-native-windows

4. `node -v`:v8.5.0

5. `npm -v`:
5.3.0

Then, specify:

- Target Platform:
UWP

- Target Platform Version(s):
UWP, default project targets

- Target Device(s):

[2017-09-22 20:21] matthargett commented on #1388
cc @phongcao

[2017-09-22 21:58] nmyhre commented on #1388
I believe I have a fix for this and will check into the imagepipeline GitHub repo, the nuspec is in error and missing ref files which new Nuget/VS2017 doesn't like. My change is to remove the _stub and add these of type ref. I also added the xml files for intellisense support.

    <file src="..\ImagePipeline\bin\Release\ImagePipeline.dll" target="ref\uap10.0"/>
    <file src="..\ImagePipeline\bin

[2017-09-22 22:43] phongcao commented on #1388
@matthargett Thanks for letting me know. I'll release a new version of fresco this weekend to fix it.
@nmyhre Thanks for your info. Feel free to create an issue and PR for it. :)

[2017-09-23 15:32] nmyhre commented on #1388
@matthargett  I have a pull request in the pipeline (ha! I couldn't resist!) and Phong can take it from here. If you can't wait for the new Nuget upload you can sync the image-pipeline-windows repo and make a new Nuget using the nuspec from the pull request and upgrade to a local copy, which is what I am doing for now.

[2017-09-24 21:15] phongcao commented on #1259
cc @rozele

[2017-09-25 07:34] sm2017 opened #1391 "NetworkingModule::sendRequest"
As both `XMLHttpRequest` and `fetch` is using `NetworkingModule::sendRequest` , so `sendRequest` is missed a feature

The following codes
[code]

[code]

is correct according to

https://github.com/facebook/react-native/blob/master/Libraries/Network/XMLHttpRequest.js#L508

https://github.com/Microsoft/react-native-windows/blob/97172a831bac620c4b5667792df552dfc02bd71e/Libraries/Network/RCTNetworkin

[2017-09-25 17:38] #1388 closed

[2017-09-25 17:40] #1384 closed

[2017-09-25 20:02] rozele commented on #1391
Thanks @sm2017! Will look into it.

[2017-09-25 20:05] rozele commented on #1370
@sm2017 closing as a dupe of https://github.com/Microsoft/react-native-windows/issues/907, but will take a look this week.

[2017-09-25 20:05] #1370 closed

[2017-09-25 20:24] jayfar opened #1393 "Kiosk Assigned Access Not Working"
### Environment

1. `react-native -v`: 0.48.4
2. `npm ls rnpm-plugin-windows`: 0.2.7
3. `npm ls react-native-windows`: 0.48.0-rc.4
4. `node -v`: v7.4.0
5. `npm -v`: 4.0.5

- Target Platform: UWP
- Target Platform Version(s): 10.0.15063
- Target Device(s): Desktop
- Development Operating System: Windows
- Visual Studio Version: 2017

### Issue
I created a basic AwesomeProject react-native-windows U

[2017-09-27 05:54] sm2017 opened #1394 "Feature request : FlatList"
React native has an awesome `FlastList`  component , it is very useful

https://facebook.github.io/react-native/docs/flatlist.html

I am requesting `FlastList` implementation

[2017-09-27 16:32] alexcoady opened #1395 "Cannot read property getInitialURL of undefined when using Linking"
### Environment

1. `react-native -v`:
[code]
2. `npm ls rnpm-plugin-windows`:
[code]
3. `npm ls react-native-windows`:
[code]
4. `node -v`: `v6.11.3`
5. `npm -v`: `3.10.10`
6. `yarn --version`:

Then, specify:

- Target Platform: WPF

- Target Platform Version(s): WPF

- Target Device(s): Desktop

- Development Operating System: Windows 10

- Visual Studio Version: 2015 Professional

### Steps to

[2017-09-28 19:31] joeblew99 commented on #1278
Is there any more news on this ?

I use visual studio for Mac. I actually find it much easier than visual studio for Windows.

My wish is a way to build in a vagrant version of Windows 10 on my MacBook.

[2017-09-29 07:02] furkee commented on #793
I am also having this issue. `textAlign: 'center'` does not even affect the view when user types something if TextInput.securedEntryText is true. Passwords will just appear on the left-hand side of the box.

Another issue is when TextInput's height is larger than font size, texts will not appear on the middle of the box but rather on the top.

NOTE: Password text styling issue persist even if Pass

[2017-09-29 07:28] furkee commented on #793
I may work on a solution for this one if you are also willing to solve it and can help me?

[2017-10-02 07:40] anumang opened #1396 "View - Image - TouchableOpacity elements are not visible for UI inspect tools (Inspect.exe or AccScope etc.) and Automation drivers (WinAppDriver or appium etc.)"
Environment

react-native -v:
react-native-cli: 2.0.1
react-native: 0.48.3
npm ls rnpm-plugin-windows:
rnpm-plugin-windows@0.2.7
npm ls react-native-windows:
react-native-windows@0.48.0-rc.4
node -v:
v6.11.3
npm -v:
3.10.10

Then, specify:

Target Platform: UWP
Target Platform Version(s):10.0.10586
Target Device(s):Desktop
Development Operating System:Windows 10
Visual Studio Version:2017
Steps to

[2017-10-03 00:28] rozele opened #1398 "Decouple Dispatcher from MessageQueueThread"
MessageQueueThread is a monolith implementation, it should be broken down into its principle components and allow us to parameterize for different dispatchers.

[2017-10-03 13:27] #1391 closed

[2017-10-03 14:09] furkee opened #1400 "Padding will not be set on TextInput component"
Environment

react-native -v:
react-native-cli: 2.0.1
react-native: 0.48.3
npm ls rnpm-plugin-windows:
rnpm-plugin-windows@0.2.7
npm ls react-native-windows:
react-native-windows@0.48.0-rc.4
node -v:
v6.11.3
npm -v:
3.10.10

Then, specify:

Target Platform: UWP
Target Platform Version(s):10.0.10586
Target Device(s):Desktop
Development Operating System:Windows 10
Visual Studio Version:2017
Steps to

[2017-10-03 20:00] jiriKuba opened #1401 "Windows App Cert Kit error in 0.48.0-rc.4"
I'm making simple react-native app. Android version works fine (already on Google Play). Windows version is also working but It cannot pass through certification kit app. I've made release-bundle build according documentation:

https://github.com/Microsoft/react-native-windows/blob/master/docs/RunningOnDeviceWindows.md

App certification kit return errors:

`ReactNativeWebViewBridge.MessagePostedE

[2017-10-03 20:02] jpshelley opened #1402 "Running Multiple Solutions via run-windows"
### Environment
1. `react-native -v`: 0.47.2
2. `npm ls rnpm-plugin-windows`: 0.2.7
3. `npm ls react-native-windows`: 0.47.0-rc.6
4. `node -v`: 8.4.0
5. `npm -v`: 5.3.0

Then, specify:

- Target Platform: UWP

- Target Platform Version(s): 10.0.10586

- Target Device(s): Desktop

- Development Operating System: Microsoft

- Visual Studio Version: VS 2015

### Steps to Reproduce

Our project has ad

[2017-10-03 20:57] rozele commented on #1259
I think this can be closed, yes thanks Phong! Closed by #1312

[2017-10-03 20:57] #1259 closed

[2017-10-03 21:09] rozele commented on #1281
The issue was not with Visual Studio 2015, this is a dupe of https://github.com/Microsoft/react-native-windows/issues/683

[2017-10-03 21:12] rigdern opened #1404 "Support the Microsoft Fluent Design System"
Here are the particular Fluent features I'm interested in:
  - [Acrylic](https://docs.microsoft.com/en-us/windows/uwp/style/acrylic)
  - [Connected Animations](https://docs.microsoft.com/en-us/windows/uwp/style/connected-animation)
  - [Reveal Highlight](https://docs.microsoft.com/en-us/windows/uwp/style/reveal)

[2017-10-03 21:29] rigdern commented on #918
Here's the work that I believe is involved:
  - Implement custom AutomationPeers for the kinds of controls we want to expose to the accessibility tree (e.g. button, list). We can pick the appropriate custom AutomationPeer based on the value of a prop. We can consider reusing the `accessibilityTraits` prop (iOS) or the `accessibilityComponentType` prop (Android). Or maybe we should have a new prop

[2017-10-04 12:30] sm2017 opened #1407 "Launch packager"
Today I update my react-native-windows to v0.48.0-rc.6

When I run `react-native run-windows` , It cannot launch packager , Why?

![image](https://user-images.githubusercontent.com/19644997/31175667-e50bd7ba-a91c-11e7-8b23-69c2764f1f81.png)

[2017-10-04 12:36] rozele commented on #918
@rigdern
2. We still need to differentiate in JavaScript when to use a Control vs. a plain Canvas to keep a concise view hierarchy for performance (probably could do something similar to the fast text prototype #1256)
3. this is a trivial addition to #1386
4. #1386 includes `KeyUp` and `KeyDown` events per focused view, do you think you'll also need a global key listener?

[2017-10-04 12:42] rozele commented on #1407
@sm2017 you must not have the correct react-native-windows version installed - v0.48.* has the updated path for `launchPackager.bat` (see [here](https://github.com/Microsoft/react-native-windows/blob/0.48-stable/local-cli/runWindows/utils/deploy.js#L126)). Prior to this commit - https://github.com/Microsoft/react-native-windows/commit/ededb4dcf4e2336317bdd124938450c46376a042 - the packager path wa

[2017-10-04 12:46] #1401 closed

[2017-10-05 05:21] jiriKuba commented on #1401
Thank you guys for solving this so fast!

[2017-10-05 06:24] sm2017 opened #1408 "Microsoft.Windows.UI.Xaml.CSharp.targets was not found"
I update react-native-windows from 0.47.0-rc.5 to 0.48.0-rc.7
When I run `react-native run-windows` the following error is occurred

But from visual studio 2015 , I can run application

I see that I have `C:\Program Files (x86)\MSBuild\Microsoft\WindowsXaml\v14.0` folder not `C:\Program Files (x86)\MSBuild\Microsoft\WindowsXaml\v11.0`

In the app.csproj , I have

[code]

and

[code]

[2017-10-05 07:15] sm2017 commented on #1408
I try to create new project from zero

[code]

I test it more than 10 time but I dont know why each time I have this error

``` react-native windows```

[2017-10-05 08:10] #1407 closed

[2017-10-05 17:31] rozele commented on #886
Option 3. in #1411 is to create a wrapper control component that can manage all the tab stop behavior and keep all other controls the same. This may be a "good-enough" balanced approach.

[2017-10-05 21:10] vpopescu commented on #1106
I get the same thing, a few months later. What was the resolution? Sorry, I'm new to this, and I am not able to read between the lines.

[code]

[2017-10-05 21:42] rozele opened #1412 "NetworkingModule bug introduced"
Refactoring of NetworkingModule to support binary request body broke basic HTTP request without body.

[2017-10-05 22:59] rozele commented on #1106
@vpopescu we haven't published react-native-windows@0.49.* yet, coming later this evening. I'm going to re-open this bug though, because that error message is pretty useless.

[2017-10-05 23:00] rigdern opened #1414 "Document threading model"
The documentation should include a summary of react-native-windows's threading model. Below is the current state of things according to @rozele. However, he's currently working on a change (#1399) which might affect the threading model.

[2017-10-05 23:02] AaronFriel opened #1415 "react-native link should perform the task of react-native bundle ..."
The React Native docs and other repositories suggest using `react native link` to copy assets to various directories, and conveniently this can be built in as a single build step for iOS and Android. Unfortunately, the same functionality does not work for Windows projects.

Perhaps this code in `link.js` from the React Native project should be modified to perform the same task as the prescribed bu

[2017-10-05 23:09] rozele commented on #1415
This is a dupe of #1254

[2017-10-05 23:17] #1106 closed

[2017-10-05 23:23] #1412 closed

[2017-10-06 00:44] #1398 closed

[2017-10-06 00:44] #1414 closed

[2017-10-06 03:48] AaronFriel commented on #1415
No it is not.

[2017-10-06 04:09] AaronFriel commented on #1415
Because I know I'll have to do this tomorrow when you get to this:

victorileaf in #1254:

This is a different issue. His issue is that in React-Native-Windows, fonts aren't registered under global names that can then be referenced via `fontFamily`. A Windows-specific technique needs to be used. (See, your [comment in August of last year](https://github.com/Microsoft/react-native-windows/issues/65

[2017-10-06 11:11] Losses commented on #1404
Strongly agree.

[2017-10-06 12:20] rozele commented on #1415
@AaronFriel  I should have said "related to #1254", not dupe. Thanks for diving deep on these issues. I think your suggested approach of implementing the `copyAssetsWindows` is a good one.

[2017-10-06 14:07] rozele commented on #1193
Closing since airbnb/react-native-maps#1456 has been re-opened.

[2017-10-06 14:07] #1193 closed

[2017-10-06 20:14] #1258 closed

[2017-10-07 06:20] whimsicaldreamer opened #1421 "Move to a single index.js entry point"
React-native has moved the entry points for android and ios to a single `index.js` entry point. But using the extension for react-native-windows I am still getting `index.windows.js` in my project folder. Any views on it?

The changes to react-native are here: https://github.com/facebook/react-native/pull/15312

[2017-10-07 06:43] sm2017 commented on #1408
As v0.49.0-rc.0 is released , I run the following command again

[code]

### output

[2017-10-07 06:52] sm2017 commented on #1370
@rozele Just for reminding

[2017-10-07 06:53] sm2017 commented on #1369
Please fix the issue

[2017-10-07 07:48] Losses opened #1422 "Navigator component is deprecated on react native."
What's the navigating solution for now? it made me feel complex while finding useful thing from the rubbish bin called `react-native-deprecated-custom-components`.

[2017-10-08 09:22] sm2017 commented on #1408
I install visual studio 2017 and test it again

[code]

From visual studio

![image](https://user-images.githubusercontent.com/19644997/31315528-529c564e-ac27-11e7-9912-7fe5187b71d8.png)

[2017-10-09 12:38] rozele commented on #1422
@Losses Check out http://react-navigation.org for more details on the recommended approach to navigation.

[2017-10-09 12:38] #1422 closed

[2017-10-09 12:39] rozele commented on #1421
Thanks @whimsicaldreamer. I'll take a look at this.

[2017-10-09 18:38] #1421 closed

[2017-10-09 19:16] rozele commented on #1408
@sm2017 Not sure why it's pointing at  "C:\Program Files (x86)\MSBuild\Microsoft\WindowsXaml\**v11.0**". The v11.0 seems suspicious.

[2017-10-09 19:17] whimsicaldreamer commented on #1421
Thanks for the speedy changes. How do I update my project to use the changes?

[2017-10-09 19:28] rozele commented on #1408
@sm2017 The running from Visual Studio problem is because you don't have the correct project set as the startup project. You can change the startup project by right-clicking your app project and selecting "Set as Startup Project":
![vsexample](https://user-images.githubusercontent.com/1106239/31354985-7bcc51c4-ad06-11e7-81cf-f4c12b37d2f6.png)

[2017-10-09 19:29] rozele commented on #1408
Can you debug the process in node to find out why **v11.0** is being set by `run-windows`?

[2017-10-09 19:34] rozele commented on #1421
@whimsicaldreamer easiest way to do this would be to just trash your current react-native-windows project.
[code]
And then re-run `react-native windows` to regenerate the project template. Unfortunately this means you'll have to re-link your native plugins if you've done any of that. We need to support something like react-native-git-upgrade better https://github.com/Microsoft/react-native-windows

[2017-10-09 19:40] whimsicaldreamer commented on #1421
Ok. Just a thought, `react-native windows-upgrade` sounds better. :)

[2017-10-09 19:54] opi-smccoole opened #1427 "Exception when using ms-appdata uri with Image component."
### Environment

1. `react-native -v`: react-native: 0.48.4
2. `npm ls rnpm-plugin-windows`: rnpm-plugin-windows@0.2.7
3. `npm ls react-native-windows`: react-native-windows@0.48.0-rc.8
4. `node -v`: v8.4.0
5. `npm -v`: 5.3.0
6. `yarn --version`: not using yarn

- Target Platform: UWP

- Target Platform Version(s): 10.0.14393

- Target Device(s): Desktop, Surface Pro

- Development Operating Syste

[2017-10-10 00:38] rozele commented on #1427
cc @phongcao

[2017-10-10 06:18] sm2017 commented on #1408
"Set as Startup Project" , Works well 👍

@rozele How exactly? can you explain more? How can I do ?

[2017-10-10 07:09] whimsicaldreamer commented on #1421
@rozele, I re-ran `react-native windows` and it produced the single entry point perfectly but can we remove the `App.windows.js` file so that we can use the `App.js` file for all three platforms. Looking at the current `index.js`, it isn't importing `App.windows.js' but only `App.js`. Pardon me if my question is naive as I am new to react-native.

[2017-10-10 13:49] lznt opened #1429 "Empty content in <Text> causes crash with marginVertical"
### Environment

1. `react-native -v`: 0.48.4
2. `npm ls rnpm-plugin-windows`: 0.2.8
3. `npm ls react-native-windows`: 0.48.0-rc.6
4. `node -v`: 6.11.0
5. `npm -v`: 3.10.10

- Target Platform: UWP

- Target Platform Version(s): 10.0.10586

- Target Device(s): Mobile, Desktop

- Development Operating System: Windows 10 PRO

- Visual Studio Version: 2017

### Steps to Reproduce

(Write your steps he

[2017-10-10 16:27] rozele commented on #1429
@lznt thanks! Looks like there might be a bug in Yoga that causes the measurement constraints to be negative (see https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/views/text/ReactTextShadowNode.java#L66). I'll add similar checks to make sure this exception doesn't occur.

[2017-10-10 17:40] rozele opened #1433 "NativeModule base class methods should occur on correct queue thread"
React Native on Android runs the `onCatalystInstanceInitialize` and `onCatalystInstanceDestroy` on the native modules thread. We should do the same for RNW.

[2017-10-10 20:05] opi-smccoole commented on #1427
@phongcao also just merged support for file URIs into image-pipeline-windows.  It'd be great to roll this update in when he releases the nuget package again.

[2017-10-11 00:42] #1427 closed

[2017-10-11 06:37] lznt commented on #1429
Good find!

[2017-10-11 17:27] #1433 closed

[2017-10-11 21:14] reseul commented on #885
I tweaked the 0.46 code to support multiple top level UWP windows, prototyping quality.
Things covered:
- Added a new SecondaryReactPage base class (with MainComponentName abstract) that requires an externally provided IReactInstanceManager.
- Morphed existing UIViewOperationQueue into a per top level window construct: UIViewOperationQueue "master" and per window UIViewOperationQueueInstance objec

[2017-10-12 12:48] lekerning commented on #1172
@amorenew
Hi,  I want to know is realm supported yet?

[2017-10-12 12:59] amorenew commented on #1172
@lekerning
in https://github.com/realm/realm-dotnet/issues/509#issuecomment-268197932

milestone:https://github.com/realm/realm-dotnet/milestone/4
https://github.com/realm/realm-core/issues/2059

[2017-10-12 13:05] lekerning commented on #1172
@amorenew
Good news, thanks a lot!

[2017-10-12 13:06] amorenew commented on #1172
Welcome

[2017-10-12 13:29] amorenew commented on #1172
@lbochenek Maybe it's in alpha or beta not final release but anyway it will take time to support React Native

[2017-10-12 13:36] amorenew commented on #1172
here they asking for beta testers
https://github.com/realm/realm-dotnet/issues/509#issuecomment-268197932

[2017-10-12 14:17] sm2017 opened #1440 "Fetch issue"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.49.3

2. `npm ls rnpm-plugin-windows`:
rnpm-plugin-windows@0.2.8

3. `npm ls react-native-windows`:
react-native-windows@0.49.0-rc.2

4. `node -v`:
v8.1.3

5. `npm -v`:
5.0.3

6. `yarn --version`:
1.2.0

Then, specify:

- Target Platform:
UWP

- Target Platform Version(s):
10.0.14393

- Target Device(s):
Desktop

- Deve

[2017-10-12 15:41] sm2017 commented on #1400
I think related to https://github.com/Microsoft/react-native-windows/issues/1369

[2017-10-12 16:37] rozele commented on #1440
Thanks @sm2017 I think this is because react-native recently added the blob module. We'll have to add something similar. In the meantime, I think we can just add a Blob.windows.js implementation that throws an exception so whatwg-fetch doesn't assume it's available.

[2017-10-12 16:53] rozele commented on #1440
@sm2017 I actually can't reproduce this -
[code]
This does not throw any errors for me.

[2017-10-12 16:59] JulienNoble opened #1442 "Problem drawing with Win2D native module"
### Environment

1. `react-native -v`:
[code]
2. `npm ls rnpm-plugin-windows`: `rnpm-plugin-windows@0.2.8`
3. `npm ls react-native-windows`: `react-native-windows@0.49.0-rc.2`
4. `node -v`: v6.9.4
5. `npm -v`: 3.10.10
6. `yarn --version`: 1.2.0

Then, specify:

- Target Platform: UWP
- Target Platform Version(s): 10.0.14393
- Target Device(s): Desktop (x86-x64)
- Development Operating System: Wind

[2017-10-12 17:10] rozele commented on #1442
Thanks @JulienNoble I'm hoping the Win2D team will have more insight on this issue.

[2017-10-12 17:14] rozele commented on #1429
@lznt can you post a component with styles that reproduces this in isolation? I just did this:
[code]
And filled in some values and can't repro.

[2017-10-12 17:30] rozele commented on #1442
@JulienNoble I don't know if this is a bug in Yoga, but for some reason, you need to set explicit dimensions on the Win2D control.

[2017-10-12 17:38] rozele commented on #1442
@JulienNoble this is not a Yoga bug, you're not giving your app enough style guidance to know how wide the Win2D control should be, and Win2D optimizes the draw calls by not calling Draw on 0 width / height controls.  Do something like:
[code]

[2017-10-12 17:38] #1442 closed

[2017-10-12 18:04] rozele commented on #1172
@amorenew @lekerning unfortunately, realm for native platforms (iOS, Android, and UWP) is totally separate from realm for react-native. realm for react-native is more like realm for JavaScriptCore, with a bit of native functionality to ensure that the realm hooks are installed. What we need to get realm working on react-native-windows is realm for Chakra(Core).

[2017-10-12 18:08] rozele commented on #1288
@matthargett I've done a ton of work towards enabling React context initialization off dispatcher thread, and some of this has had a small (<10ms) impact on startup times, and others have had no impact. I tried to replicate the behaviors of Android as much as possible in terms of which thread the initialization activities occur on, but following the Android approach actually slows down startup tim

[2017-10-12 21:06] rozele commented on #1200
@rigdern I think this is related to the discussion in #1268, where the CoreWindow dispatcher is not available, but the CoreApplication dispatcher is.

[2017-10-12 23:16] rozele commented on #1402
Semi-related - https://github.com/Microsoft/react-native-windows/issues/520

[2017-10-13 15:36] NunoMiguelVeloso commented on #1429
Same problem where.

[2017-10-13 20:14] jpshelley commented on #1402
@rozele is there anything I can do to help move this along? It seems that line I mentioned in the description would be a good place to look for resolving it and 520?

[2017-10-14 06:20] sm2017 commented on #1440
@rozele , In my project I have error , But I cannot reproduce error when I create fresh project

I will try to reproduce error

[2017-10-16 06:32] victorileaf opened #1446 "Scroll Programmatically - FlatList - Not working"
[code]

`        this.flReadingView.scrollToOffset({offset:value,animated: false});
`
This is working perfectly in ios and andoird but not in react native windows.

How to programmatically scroll a flatlist using slider ?

Is there any alternate methods available?
[code]

[2017-10-16 16:44] opi-smccoole opened #1447 "Fractional flex values are not honored on UWP but are on iOS and Android."
### Environment

1. `react-native -v`: react-native-cli: 2.0.1, react-native: 0.48.4
2. `npm ls rnpm-plugin-windows`: `-- rnpm-plugin-windows@0.2.8
3. `npm ls react-native-windows`: `-- react-native-windows@0.48.0-rc.9
4. `node -v`: v8.4.0
5. `npm -v`: 5.3.0
6. `yarn --version`:  N/A

Then, specify:

- Target Platform: UWP

- Target Platform Version(s): 10.0.14393

- Target Device(s): Desktop, Sur

[2017-10-16 21:15] rozele opened #1448 "Make ReactContext initialization fully async"
Currently, ReactContext initialization makes a few async void calls. We should avoid that, it seems to block the ability to have access to the CoreApplication.MainView.Dispatcher when running in background.
Related to https://github.com/Microsoft/react-native-windows/issues/22

[2017-10-17 07:01] lznt commented on #1429
I am currently working on a different project but I checked the sourcecode and it seems we wrap the View in my example to another container, when errorText is null that has height: 0.

The problem still persists. On 0.43 React Native Windows, the error does not repro, but in 0.48 it does.

Could this help repro?

[2017-10-17 14:57] TomVanBoghout commented on #1254
Hi,
I have been trying to get a custom font working but have failed so far.
I've tried the resolution of #652 but with no success. However when I created a blank UWP project as described then it worked.

My steps:

1. Downloaded Montserrat-Regular.ttf from google web fonts.
2. Added the font in the Assets folder of my project.
3. I've put the 'copy to output directory' to 'Copy always'
4. I used i

[2017-10-17 22:01] TomVanBoghout commented on #1254
I have found the cause of the issue, it seems the solution needs to be recompiled. Afterwards the fonts are displayed correctly.

[2017-10-18 05:01] #1446 closed

[2017-10-18 06:57] CabuxaMapache opened #1456 "react-native-windows not working"
### Environment

1. `react-native -v`:0.49.3
2. `npm ls rnpm-plugin-windows`:-- rnpm-plugin-windows@0.2.8
3. `npm ls react-native-windows`:-- react-native-windows@0.49.0-rc.2
4. `node -v`:v7.8.0
5. `npm -v`:3.10.8
6. `yarn --version`:0.27.5

Then, specify:

- Target Platform:UWP

- Target Platform Version(s):10.0.14393

- Target Device(s):Desktop

- Development Operating System:Windows

- Visual S

[2017-10-18 14:33] CabuxaMapache commented on #1456
It seems like a proxy problem to access npm repository, sorry!

[2017-10-18 15:01] #1456 closed

[2017-10-18 15:01] CabuxaMapache commented on #1456
Seems like a problem accessing repository, sorry!

[2017-10-18 15:07] rozele commented on #1200
Closing, as I think we've removed all references to the CoreWindow.

[2017-10-18 17:01] rigdern commented on #1200
@rozele

I just want to double check that the issue is fixed. The issue was that the OS could invoke `Suspending`/`Resuming` off of the UI thread but React Native expected `_host.OnResume` and `_host.OnSuspend` to be invoked on the UI thread.

Are `_host.OnSuspend` and `_host.OnResume` no longer required to be invoked on the UI thread?

[2017-10-18 18:11] rozele commented on #703
Another option for this in the near term would be to continue to use OutputDebugString (i.e., System.Diagnostics.Debug.WriteLine) and use something like this -
 https://stackoverflow.com/questions/1520119/replicate-functionality-of-dbgview-in-net-global-win32-debug-hooks - to read them to the console.

[2017-10-18 19:32] antonkh opened #1459 "Expose the 8 high contrast colors to JS"
In `AccessibilityInfoModule.cs` there is a chunk of code that gets the 8 colors from Windows, but doesn't expose them to JS because we haven't agreed on the interface yet.

[2017-10-19 09:17] zfanda opened #1463 "ReactImageManager.cs (memory problem with fresco.imagepipeline)"
### Environment
- Target Platform: 10.0.10586
- Target Platform Version(s): Mobile (ARM)

### Actual Behavior
Repeating calls of imagePipeline.FetchDecodedBitmapImageAsync(ImageRequest.FromUri(uri)) function (fresco.imagepipeline library) consumes all available application memory and application crashes  (sometimes system restarted).

### Steps to Reproduce
Load multiple large images from local fo

[2017-10-19 11:33] phongcao commented on #1463
Hi @zfanda, can you please provide me some more info:

- What's the size of the image?
- How many images that you're loading?
- What's the target mobile device?

The main different here is that FetchDecodedBitmapImageAsync returns [WriteableBitmap](https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.media.imaging.writeablebitmap) while your replaced code uses [BitmapImage](https://docs.micros

[2017-10-19 11:39] zfanda commented on #183
I am currently testing my own CameraRoll module code (getPhotos method). ;-)

[2017-10-19 12:50] zfanda commented on #1463
_What's the size of the image?_
1.5 - 2 MB (3264 x 1840 phone camera picture)

_How many images that you're loading?_
~10 images, but application not loaded all images (app crashed earlier)

_What's the target mobile device?_
Microsoft Lumia 650

MemoryManager.AppMemoryUsageLimit shows for my device ~400MB max. available memory.

[2017-10-19 13:11] zfanda commented on #1463
It might be good, to modify the code, so that it uses image source parameters width/height to retrieve smaller resizing image data (thumbnail).
[https://github.com/facebook/react-native/blob/efcdef711eba82b2905d237ee9a3d094652c37ac/Libraries/Image/ImageSourcePropType.js](url)

<Image source={{uri: uri, width: 100, height:100}} style={{width: 200, height: 200}}/>

[2017-10-19 15:27] phongcao commented on #1463
Thanks, let me check and get back to you after a few days.

[2017-10-20 16:46] rigdern opened #1466 "Revert native modules queue to use LimitedConcurrencyTaskScheduler"
With the new implementation of the native modules queue, code that `awaits` introduces parallelism because the await's continuation can run on another thread in the thread pool. This means that developers of NativeModules need to think about thread-safety, locks, etc. if they`await`.

If we switch the native modules queue to an `IActionQueue` based on `new LimitedConcurrencyTaskScheduler(1)`, `awa

[2017-10-24 02:09] flyingxu commented on #1349
Just in case some others are looking for the answer:

`npm install --save-dev rnpm-plugin-wpf`
`react-native wpf` or  `react-native wpf --windowsVersion 0.49.0-rc.2`

[2017-10-24 09:17] alexcoady commented on #1182
@rozele I'm still getting this issue using WPF, exactly as the OP explained. I'm running:
[code]
As soon as I interact with (or update the transformation via an animation, etc) the component is rendered correctly.

[2017-10-25 02:58] pulkitkkr commented on #1379
I'm facing the same issue, any resolution ?

[2017-10-25 04:13] jpshelley commented on #1379
@pulkitkkr no I'm pretty sure VS 2015 just isn't supported above v0.48 I just won't be able to upgrade until we get a 2017 license.

[2017-10-25 05:34] whimsicaldreamer opened #1468 "Statusbar height"
How do I get the current statusbar height and respond to changes?

[2017-10-25 05:44] sm2017 commented on #1408
@rozele Can you please help me , How can I debug the process in node ?

[2017-10-25 07:00] victorileaf commented on #907
Any updates on this issue? I am calling store update on `onChangeText `. Its a large grid view with input fields. Since the `onChangeText `method gets called in the render .. its calling recursive re renders in the page.
Is there any hacks ?

How can i make sure `onChangeText `text will only work when user changes data and not on render?

[2017-10-25 12:11] victorileaf opened #1469 "Disable Potrait Orientaion for UWP React Native App"
Hi,

How can i disable portrait mode for my UWP app in react-native-windows?
I have already selected 'Landscape' and 'Landscape-flipped'  in visual studio package manifest. But the app is changing its orientation when screen rotates. I need to disable portrait mode.

Any ways to fix this? Please help. Thanks in advance

[2017-10-25 15:07] lbochenek opened #1470 "Background process for wpf app is never killed even after packaging server, wpf app, and command line processes are closed"
### Environment

1. `npm install --save-dev rnpm-plugin-windows`
2. `react-native wpf`

Then, specify:

- Target Platform: WPF

- Target Platform Version(s): ?

- Target Device(s): Desktop

- Development Operating System: Windows

- Visual Studio Version: VS 2017

### Steps to Reproduce

1. `react-native run-wpf`:
*wpf app spins up*
2. close wpf app
3. close packaging server
4. if process still ru

[2017-10-26 05:35] rigdern commented on #1466
It looks like there's a `TaskScheduler` like `LimitedConcurrencyTaskScheduler` that is built into Windows. We can create a [`ConcurrentExclusiveSchedulerPair`](https://msdn.microsoft.com/en-us/library/system.threading.tasks.concurrentexclusiveschedulerpair(v=vs.110).aspx) and then use the `ExclusiveScheduler` that it exposes.

[2017-10-28 13:17] sm2017 commented on #1408
@rozele Help please to solve `v11.0` issue

[2017-10-29 11:31] sm2017 opened #1471 "Missing feature : BlobModule"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.49.5

2. `npm ls rnpm-plugin-windows`:
rnpm-plugin-windows@0.2.8

3. `npm ls react-native-windows`:
react-native-windows@0.49.0-rc.2

4. `node -v`:
v8.1.3

5. `npm -v`:
5.0.3

6. `yarn --version`:
1.2.0

Then, specify:

- Target Platform:
UWP

- Target Platform Version(s):
10.0.14393

- Target Device(s):
Desktop

- Deve

[2017-10-30 14:39] atheeq commented on #1396
facing the same issue. Any update on this?

[2017-10-30 18:06] anumang commented on #1396
By commit https://github.com/anumang/react-native-windows/commit/d1abf2114cb72f7a8f205d34e5440b03ae423a74 , we can solve on our local but it's not enough to PR.

[2017-10-31 07:33] victorileaf commented on #1370
@rozele any updates please?

[2017-10-31 15:52] rozele commented on #1470
cc @pre10der89 @kevinvangelder, I imagine this is because some threads / dispatchers are not being destroyed properly.

[2017-10-31 17:00] pre10der89 commented on #1470
@rozele Possible (https://github.com/Microsoft/react-native-windows/issues/1148)?

[2017-10-31 17:54] #1448 closed

[2017-10-31 17:59] rozele opened #1472 "Simulate ReactChoreographer in background mode"
When no `CoreApplicationView` is active, the `CompositionTarget.Rendering` event does not tick. This breaks events and timers in the background. We need to refactor the `ReactChoreographer` to support different tick engines (e.g., DispatcherTimer could be a good candidate in the background).

[2017-10-31 19:07] rozele opened #1474 "DispatcherHelpers cleanup occurs too early"
Exceptions occurring as the app is suspending / exiting due to DispatcherHelpers being cleaned up before other bridge functions are done using them.

[2017-11-01 16:21] rozele commented on #1182
cc @kevinvangelder @pre10der89 if you get a chance, can you apply the same patch to WPF that we applied to UWP?

[2017-11-01 21:17] antonkh opened #1477 "Invoke JsSerializeScript in background"
Loading the JS bundle from a bytecode file makes the startup much faster. However on the 1st startup RNW spends quite a bit of time to generate the bytecode file. On a low end device like HP Stream 11 this takes 8-15s.

[2017-11-01 23:59] rozele opened #1479 "Cancel ReactContext creation for OnSuspend"
Creating the ReactContext uses the DispatcherHelpers, OnSuspend shuts down DispatcherHelpers, we should cancel any pending ReactContext creation operations OnSuspend.

[2017-11-02 00:51] Kudo commented on #1195
Reversing the Border / Canvas order, i.e.
[code]
makes WPF unable to do hit-test on pure View only touchable.
(But for UWP, works well for that case)

The test case is pretty simple.
[code]

confirmed the test case is not worked at latest master branch code,
and works if I revert #1261's commit.

Any ideas if we could maintain the functionality for both WPF and UWP?

[2017-11-02 02:13] rozele commented on #1195
cc @kevinvangelder @pre10der89 any ideas why the lazy border change would affect WPF?

[2017-11-02 15:22] #1472 closed

[2017-11-02 19:31] kevinvangelder opened #1485 "Clicking Touchable Erroneously Fires onMouseLeave Event of Parent Component"
![ezgif-5-4cd437b620](https://user-images.githubusercontent.com/1771152/32346103-7cff0250-bfc9-11e7-9c62-936e52003ae8.gif)

We have a parent element that is tracking mouse enter/leave and a child element that is only displayed when the mouse is inside the parent element. This works fine until you try to click a child element, the mouse leave event is erroneously fired. I'm not sure if it behaves t

[2017-11-02 21:22] kevinvangelder commented on #1396
You can find elements with automated tests by looking for the AccessibilityID (`testID` in JS).

[2017-11-02 23:21] rozele commented on #1477
@antonkh I totally agree with this one and had made this request when the feature was initially implemented. I think we actually don't even need to use the same JavaScript thread to do the work, we can spin up a separate thread and separate JavaScriptRuntime object to do the serialization.

[2017-11-02 23:31] rozele commented on #1474
I think this has been resolved with recent changes.

[2017-11-02 23:33] rozele commented on #1466
Does it work with Rx.NET or do you need to implement `IActionQueue` directly.

[2017-11-02 23:38] rigdern commented on #1466
@rozele I don't know. I never investigated why `LimitedConcurrencyTaskScheduler` hung when wrapping it with RX.NET and I haven't tried to do this with ` ConcurrentExclusiveSchedulerPair`.

[2017-11-03 00:48] antonkh commented on #1195
I'm wondering if this is because Border is the first element in the Children collection. What if we move it to the end?

[2017-11-03 01:27] rozele commented on #1474
Nope.

[2017-11-03 01:53] #1479 closed

[2017-11-03 11:17] TomVanBoghout commented on #1394
I implemented a `FlatList` on a UWP app. However the scrolling was not working. As a workaround I've put the flatlist in a `ScrollView`. Clearly this should not be the way to do this.

[2017-11-03 13:04] #1474 closed

[2017-11-03 14:53] rozele commented on #1471
@sm2017 I plan to help with this, but it looks like there's a coming change to the Blob module - https://github.com/facebook/react-native/pull/11573 - and I want to wait until that lands to make it work.  I understand that not having a `Blob` module blocks from a performance perspective, but is the missing feature actually causing exceptions? The framework should fallback to base64 blobs (which sh

[2017-11-03 17:27] sm2017 commented on #1471
Actually there is no exception in react-native-windows and in this line catch exception https://github.com/github/fetch/blob/master/fetch.js#L16 . But according to https://developer.mozilla.org/en-US/docs/Web/API/Response

And according to https://github.com/github/fetch/blob/master/fetch.js#L240-L265 , here we just missing `Body.arrayBuffer()` and `Body.blob()` . and there is no alternative `base

[2017-11-03 18:35] rozele commented on #1471
@sm2017 can you write up a simple component that repro's this so I can use it to see what we can do in the meantime until https://github.com/facebook/react-native/pull/11573 lands?

[2017-11-03 19:03] #1466 closed

[2017-11-04 00:35] rozele opened #1491 "Add CheckBox Component"
### Environment

1. `react-native -v`: 0.50+
2. `npm ls rnpm-plugin-windows`: *
3. `npm ls react-native-windows`: 0.50+
4. `node -v`: *
5. `npm -v`: *
6. `yarn --version`: N/A

Then, specify:

- Target Platform: *

- Target Platform Version(s): *

- Target Device(s): *

- Development Operating System: Windows

- Visual Studio Version: *

### Expected Behavior

React Native Windows should implement

[2017-11-04 07:57] sm2017 commented on #1471
Here is a simple component that repro's this

[code]

If you see https://github.com/facebook/react-native/pull/16585/files I add a `=[]` to constructor , But for current component we have another new issue , Please see https://github.com/facebook/react-native/issues/16670

[2017-11-05 18:01] KinanKazmi opened #1492 "The bundle builds dont show .gifs"
Windows 10 x64 15063

1. `react-native -v`: react-native-cli: 1.0 react-native: 0.49.5
2. `npm ls rnpm-plugin-windows`: rnpm-plugin-windows@0.2.8
3. `npm ls react-native-windows`: react-native-windows@0.49.0-rc.2
4. `node -v`: v8.9.0
5. `npm -v`: 5.5.1
6. `yarn --version`:

Then, specify:

UWP
- Target Platform: x86, x64

- Target Platform Version(s): 10.0.15063

- Target Device(s): Desktop

- Dev

[2017-11-05 18:17] #1440 closed

[2017-11-05 18:34] KinanKazmi commented on #1492
btw the gif that im using is this one.
https://stormandsky.com/gif/t4.gif

[2017-11-05 21:24] KinanKazmi commented on #1492
Update: It runs gifs from `source={{uri: 'http...'}}` just fine. Only the local files don't load in buldle builds.

[2017-11-06 02:33] meddyrainzo commented on #1004
Please can some update be made on this issue. It's been open for most of the year now and nothing has been said about it. Especially the focus styling

[2017-11-06 09:00] Kudo commented on #1195
@antonkh There is yet another simplified test case, as TouchableOpacity itself a View wrapper.
[code]

For that case, Border is the only child in the collection.
Moving Border to the end cannot deal with such case.

[2017-11-06 23:35] antonkh commented on #1195
Perhaps in WPF the `Border` element is considered to be a valid hit test target, while in UWP it's excluded form the hit test traversal. Could you try to use the `IsHitTestVisible` property to exclude the borders?

[2017-11-07 00:06] rozele opened #1494 "WebSocketJavaScriptExecutor Reloading Bug"
WebSocket Debugger doesn't work properly in master branch when reloading. Something hangs (likely due to never returning after cancellation.

[2017-11-07 00:08] rozele commented on #1492
cc @phongcao I think this is a difference between using the encoded and decoded APIs from the ImagePipeline project.

[2017-11-07 00:40] rozele opened #1496 "Image Prefetch is slower than non-prefetched"
### Environment

1. `react-native -v`: 0.50.*
2. `npm ls rnpm-plugin-windows`: n/a
3. `npm ls react-native-windows`: GH master
4. `node -v`: *
5. `npm -v`: *
6. `yarn --version`: n/a

Then, specify:

- Target Platform: UWP

- Target Platform Version(s): UWP *

- Target Device(s): Desktop

- Development Operating System: Windows

- Visual Studio Version: 2017

### Steps to Reproduce

(Write your st

[2017-11-07 01:03] rozele opened #1497 "Merge latest changes to Native Animated module"
A few changes have been made to the NativeAnimatedModule on Android, make sure these changes are up-to-date in RNW.

[2017-11-07 04:33] phongcao commented on #1492
Yes, this issue has been fixed on my repo. Just need to check for a few more things before creating the PR.

[2017-11-07 05:46] KinanKazmi commented on #1492
@phongcao is it expected to be merged by today?
If not, can i use your repo from npm? ( npm -i -S yourRepo.git )
I'm in a middle of a project and really need this feature.

[2017-11-07 05:50] phongcao commented on #1492
@KinanKazmi Can you try this?
https://github.com/phongcao/react-native-windows/tree/encoded-local-image

[2017-11-07 05:54] phongcao commented on #1496
Not sure if I can reproduce this issue on my side. Does it happen randomly? Btw, I've just made some changes so can you try again with this one?
https://github.com/phongcao/react-native-windows/tree/encoded-local-image

[2017-11-07 05:57] phongcao commented on #1463
Hi @zfanda, I'm sorry for my late reply on this issue. Could you please help try if this helps fix the memory issue?
https://github.com/phongcao/react-native-windows/tree/encoded-local-image

[2017-11-07 14:17] rozele commented on #1496
Thanks @phongcao, I can't reproduce now either. I think it was a one off due to poor performance on my machine in general.

[2017-11-07 14:17] #1496 closed

[2017-11-07 18:09] #1494 closed

[2017-11-07 19:11] meddyrainzo opened #1502 "TextInput transparent background doesn't work when textinput is onfocus"
### Environment
1. `react-native -v`:
 - react-native: 0.49.3
 - react-native-cli: 2.0.1

2. `npm ls rnpm-plugin-windows`:
 - rnpm-plugin-windows@0.2.8

3. `npm ls react-native-windows`:
 - react-native-windows@0.49.0-rc.2

4. `node -v`:  v6.11.3
5. `npm -v`: 5.5.1

- Target Platform: UWP

- Target Platform Version(s):  10.0.10586

- Target Device(s): Desktop, Mobile

- Development Operating Syste

[2017-11-07 19:47] #1497 closed

[2017-11-08 01:41] Kudo commented on #1195
Not worked for setting `IsHitTestVisible` as well. (Neither true nor false).

FYI the hit test result if it helps.
The code snippet in [TouchHandler.cs](https://github.com/Microsoft/react-native-windows/blob/master/ReactWindows/ReactNative.Net46/Touch/TouchHandler.cs#L227-L237)
[code]

the `source` will be Border in each hit test iteration but will not be BorderedCanvas.
As we setup Tag in Bordere

[2017-11-08 06:29] KinanKazmi commented on #1492
@phongcao hey thanks for this!
But Your git is 16 commits behind master. I hope nothing else breaks in my project when i pull this.

[2017-11-08 06:32] KinanKazmi commented on #1492
Also, any idea how i could use videos in my project?
I tried react-native-video but its ancient and breaks. It calls a function that takes in 1 argument, with 2 parameters ...etc.

[2017-11-08 12:07] kaflan commented on #1278
https://expo.io/
Hello, any updates?

[2017-11-08 15:12] phongcao commented on #1492
@KinanKazmi I've just rebased my branch and will create a PR for it soon. Maybe @rozele can comment on the video feature.

[2017-11-08 16:14] KinanKazmi commented on #1492
@phongcao Thanks man!

[2017-11-08 21:23] antonkh commented on #1195
The idea is to set `border.IsHitTestVisible=false` on the inner `Border`. `BorderedCanvas` should still be included in the hit test traversal.

[2017-11-10 09:36] KinanKazmi commented on #1492
@phongcao a quick question. Would this work with images only or all other assets too?
Since video files also dont get bundled along, and only work in debug.

[2017-11-10 12:52] KinanKazmi commented on #1492
I just tried it, nothing is getting bundled now. Not even pngs. @phongcao please help!
( Im using RN 0.50.3 now )

[2017-11-10 16:23] phongcao commented on #1492
@KinanKazmi There is indeed an issue with the bundle URI in 0.50. @rozele is working on a fix and keep you posted!

[2017-11-10 19:46] rozele commented on #1040
Fixing placeholder text color on UWP.

[2017-11-10 19:46] #1040 closed

[2017-11-10 20:03] rozele commented on #1368
@sm2017 unfortunately there is no API in UWP to disable the delete button. I'll leave this issue open.  There are some other tricks you can do to "disable" the delete button, but they would be app-specific. E.g., You could set `TextWrapping` to `Wrap` (in native code) and set the `MaxHeight` of the control if you didn't want it to span multiple lines.

[2017-11-10 22:09] rozele commented on #793
@furkee I think implementing this for open source would be reasonably trivial, but likely time consuming. I would replace the `ReactTextBox.cs` imperative implementation with a XAML User Control with a single nested `TextBox` (call it `ReactTextBoxControl`). In the designer for XAML, you can right click the `TextBox` > Edit Template > Edit a Copy. This will generate the template used for the TextB

[2017-11-10 22:11] rozele commented on #983
Closing, this is basically a dupe of #272

[2017-11-10 22:11] #983 closed

[2017-11-10 22:16] #1369 closed

[2017-11-10 22:18] rozele opened #1512 "Apply ThemeResources for all default settings"
For the defaults that don't break parity, make sure to use ThemeResources wherever possible. We may need some kind of event that ViewManagers can subscribe to that notify when ThemeResources change.

[2017-11-10 22:19] KinanKazmi commented on #1492
@phongcao his commit brings back images but with your commit + his, images lag a LOT in animation. And also, no gifs visible as locally bundled. :(

[2017-11-10 22:19] #1492 closed

[2017-11-10 22:38] phongcao commented on #1492
@KinanKazmi Are you referring master or my local branch? I haven't rebased my local one so it's still having the bundle issue. How did you test the animation and saw it's lagging?

[2017-11-10 22:45] KinanKazmi commented on #1492
Your local branch + react-native 0.50 + rozele's commit's file.
The animation in my project gets stuck for a few secs, then resumes, then gets stuck again... and so on.
All was fine when i opened this issue, with the specs mentioned on the top. The only issue back then was that gif images were not being bundled along, in DebugBundle and ReleaseBundle. I had to upload them to a server and use them

[2017-11-10 22:47] KinanKazmi commented on #1492
Just tested it without your local branch ( used react-native-windows 0.50.0-rc.1 ) and the animation lags there too.

[2017-11-10 22:48] phongcao commented on #1492
@KinanKazmi You might want to create another issue to track it.

[2017-11-10 23:21] phongcao commented on #1492
@KinanKazmi I updated my branch and tested with DebugBundle/ReleaseBundle configuration. Your **t4.gif** file works for me as below:

![1](https://user-images.githubusercontent.com/9741323/32682547-58278814-c643-11e7-9b9a-c793b1c05716.JPG)

[2017-11-10 23:28] KinanKazmi commented on #1492
I'm using it like this
[code]

[2017-11-10 23:29] KinanKazmi commented on #1492
This works in both.
`this.citybg = {uri: 'http://cdn.dribbble.com/users/891406/screenshots/2146143/city1.gif'};`

[2017-11-10 23:31] phongcao commented on #1492
How's about this?
`<Image source={require('./city.gif')} style={styles.icon} />`

[2017-11-10 23:37] KinanKazmi commented on #1492
No difference between inline requiring and variable requiring. Same.
And its only for gif format. I'm using multiple pngs throughout the app and they work fine.

[2017-11-10 23:39] KinanKazmi commented on #1492
Are animated gifs working for you in bundle builds ?

[2017-11-10 23:41] phongcao commented on #1492
Yes, I just tried loading t4.gif file in the ImageExample.js and it displays as the above screenshot.

[2017-11-10 23:43] KinanKazmi commented on #1492
My target and min version for all projects are 10.0.14393. Does that effect?

[2017-11-10 23:47] phongcao commented on #1492
It shouldn't. Maybe you can try doing a fresh clone and bundling it again.

[2017-11-11 00:19] KinanKazmi commented on #1492
There's something wrong with your latest code. My log says

`git://github.com/phongcao/react-native-windows.git successfully installed.
Generating self-signed certificate...

events.js:183
      throw er; // Unhandled 'error' event
      ^

TypeError: Cannot read property 'toString' of null
    at constructor.writing (C:\Users\Kaz\react\testProj\node_modules\react-native-windows\local-cli\generato

[2017-11-11 00:20] KinanKazmi commented on #1492
I did this
[code]

[2017-11-11 00:35] phongcao commented on #1492
Maybe it's easier if you just integrate these changes to your local copy:
https://github.com/phongcao/react-native-windows/commit/a6969ab7e2410acb9d993ba41c413b47e3ba4f1e

[2017-11-11 08:49] KinanKazmi commented on #1492
@phongcao got it working. Thanks a lot for your help!

There was something wrong with the bundler-tree-scanning-structure too. Maybe it couldnt read all the links through the navigation component im using.
My structure was
=> React-Navigation's StackNavigator in index.js, registering the app.
=> The initial screen to load through this component was a screen named App.js.
=> In App.js's render func

[2017-11-11 08:55] KinanKazmi commented on #1492
And now theres a new issue, animations lag :(
I'l open a new issue for it.

[2017-11-11 09:44] KinanKazmi opened #1515 "Animations lagging when theres an Animated gif in the view."
Windows 10 x64 15063

1. `react-native -v`: react-native-cli: 1.0.0 react-native: 0.50.3
2. `npm ls rnpm-plugin-windows`: rnpm-plugin-windows@0.2.8
3. `npm ls react-native-windows`: react-native-windows@0.50.0-rc.2
4. `node -v`: v8.9.0
5. `npm -v`: 5.5.1
6. `yarn --version`:

Then, specify:

UWP
- Target Platform: x86, x64

- Target Platform Version(s): 10.0.14393

- Target Device(s): Desktop

- D

[2017-11-11 16:20] phongcao commented on #1492
No problem, glad it's working for you now!

[2017-11-13 04:54] victorileaf opened #1516 "TouchableOpacity onPress only fires when clicking on content inside"
### Environment

1. `react-native -v`:  0.46.4
2. `npm ls rnpm-plugin-windows`: rnpm-plugin-windows@0.2.7
3. `npm ls react-native-windows`: react-native-windows@0.46.0-rc.0
4. `node -v`: v8.2.1
5. `npm -v`: 5.3.0
6. `yarn --version`:

Then, specify:

- Target Platform: iOs and Windows UWP

 10.0.10586
- Target Platform Version(s): Windows 10

- Target Device(s): Desktop

- Development Operating Sy

[2017-11-13 05:59] sm2017 commented on #1471
@rozele What must we do?

[2017-11-13 06:02] sm2017 commented on #1408
@rozele I still have this issue

[2017-11-13 12:05] victorileaf commented on #1370
@rozele @kevinvangelder can we expect a bug fix soon?

[2017-11-13 15:34] JohnCIT opened #1519 "Unable to package for WPF using generated command."
### Environment

1. `react-native -v`: 0.49.3
2. `npm ls rnpm-plugin-windows`:0.2.8
3. `npm ls react-native-windows`:0.49.0.-rc.2
4. `node -v`:6.11.3
5. `npm -v`:3.10.10

Then, specify:

- Target Platform: WPF

- Target Platform Version(s):.NET 4.6.1

- Target Device(s):Desktop

- Development Operating System:Windows 10/7

- Visual Studio Version:Visual Studio 2017

### Steps to Reproduce

(Write

[2017-11-13 19:49] kevinvangelder commented on #1370
@victorileaf This isn't currently a priority in the project I'm working on, but I may be able to see if I can reproduce the issue if I get any free time.

[2017-11-15 00:55] rigdern opened #1520 "Support invoking native APIs synchronously from JavaScript"
React Native iOS and Android support this.

[2017-11-15 22:23] rozele commented on #1516
@victorileaf can you try setting `subView` backgroundColor to `transparent`?

[2017-11-15 22:24] rozele commented on #1519
@JohnCIT unfortunately due to limitations with the metro-bundler project, we can't create a "sub-platform" like WPF that shares code with UWP. Thus, both UWP and WPF use the `windows` platform moniker for the bundle command. cc @GantMan - are there any updates on the sub-platform work?

[2017-11-15 22:24] #1519 closed

[2017-11-15 22:28] rozele commented on #1469
What was the fix?

[2017-11-16 00:36] Kudo commented on #1195
Simply setting the `border.IsHitTestVisible=false` is not worked as in original design, if a <View> has background color, the background will be filled with a Border and the Border is not hit-test visible, we cannot click on the View.

Please see my patch https://github.com/Microsoft/react-native-windows/compare/master...Kudo:fix/1195_wpf_not_touchable if it makes sense to set background directly

[2017-11-16 00:56] antonkh commented on #1195
In most cases background can be set on Canvas. However if the view has rounded borders, the background has to be transferred to the Border.

[2017-11-16 00:58] Kudo commented on #1195
Well, I guess the root cause of WPF cannot click in current design is that the View's background color is filled by Border but not BorderedCanvas.
And in WPF, a view without color cannot be hit test, that's why BorderedCanvas is not in hit test.

A crazy POC in https://github.com/Microsoft/react-native-windows/compare/master...Kudo:fix/1195_wpf_not_touchable2 is just to add the same background col

[2017-11-16 01:00] Kudo commented on #1195
Thank, let me think if there are any alternative solutions to solve the rounded borders problem.

[2017-11-16 01:06] antonkh commented on #1195
"a view without color cannot be hit test" - that's a very interesting observation. Sounds like a bug in XAML. but I may be wrong. I should be able to find someone from their team who will tell if this is a bug or not.

As for the rounded corners problem, I happen to have a PR that addresses this - I was hoping to improve performance by saving a few XAML elements, but didn't get much and gave up th

[2017-11-16 01:44] antonkh commented on #1195
The PR in question: https://github.com/Microsoft/react-native-windows/pull/1521

[2017-11-16 03:11] GantMan commented on #1519
It seems like advancements happen each day, but I haven't had a moment to step back and re-attack.   Might be a holidays hackathon project for me.  We'll see!

[2017-11-16 03:52] rigdern opened #1522 "Use the same version of Yoga as the corresponding React Native release"
For a given release (e.g. 0.45.0), React Native Windows should use the same exact version of Yoga as React Native. This is important so that apps which are targeting multiple platforms (e.g. UWP, iOS, Android) will have identical layouts across platforms.

Adam Comella
Microsoft Corp.

[2017-11-16 04:01] victorileaf commented on #1469
@rozele  I couldn't :(

[2017-11-16 04:14] victorileaf commented on #1516
@rozele  Its working when i changed the subView `backgroundColor `to `transparent` .
But its supposed to work without this right? I have many buttons here and there
Any fixes on the way?

Thanks a lot for the response :)

[2017-11-16 04:41] victorileaf commented on #1516
Any help of this issue will be highly appreciated man  :)
[TextInputIssue](https://github.com/Microsoft/react-native-windows/issues/1370)

[2017-11-16 04:45] Kudo commented on #1195
I could not find any official documents to describe the design, just a little discussion at SO.
https://stackoverflow.com/questions/5344699/xnull-vs-transparent

I also take some time to dig into WPF's source code.
Visual's `GetHitTestBounds()` will just return `GetContentBounds()`, and `GetContentBounds()` is by default return empty rect.
To get a non-empty content bounds, one common way is to se

[2017-11-16 15:02] ipy opened #1523 "'process' is undefined"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.50.3
2. `npm ls rnpm-plugin-windows`:
rnpm-plugin-windows@0.2.8
3. `npm ls react-native-windows`:
react-native-windows@0.50.0-rc.2
4. `node -v`:
v8.5.0
5. `npm -v`:
5.3.0
6. `yarn --version`:
1.3.2

Then, specify:

- Target Platform:
UWP

- Target Platform Version(s):
10.0.14393

- Target Device(s):
Desktop

- Developme

[2017-11-16 15:57] rozele commented on #1523
@ipy can you try upgrading to `metro-bundler@0.20.3`? I ran into this problem before and upgrading `metro-bundler` solved the issue.

[2017-11-16 15:59] rozele commented on #1522
Totally agree. It would be great if the Yoga team owned publishing the NuGet package. cc @axemclion any idea who we could reach out to about this?

[2017-11-16 16:29] rozele commented on #1516
@victorileaf unfortunately there's not many other options. This is a problem with how the "hit test" works on UWP (it does not pick up Canvas instances without a background). It's too expensive to render all Canvas instances with a transparent background, especially since many Canvas instances are only used for layout. It really has to be app specific to know that a <View> has to have the transpar

[2017-11-16 20:28] rozele commented on #1520
Dupe of #700

[2017-11-16 20:28] #1520 closed

[2017-11-16 21:42] rozele commented on #1523
Please re-open if there is still an issue after upgrading.

[2017-11-16 21:43] #1004 closed

[2017-11-16 21:43] #1502 closed

[2017-11-16 22:15] #1400 closed

[2017-11-16 22:41] antonkh commented on #1195
That's a good idea. I think using a transparent brush on the Canvas should be fine. I'll need to double check that, though.

[2017-11-16 22:48] antonkh commented on #1195
Could you also check if `Canvas.IsHitTestVisible = true` fixes the issue?

[2017-11-16 22:55] rozele opened #1526 "Implement TextInput blurOnSubmit"
Missing feature for parity with iOS and Android TextInput component.

[2017-11-17 00:57] #907 closed

[2017-11-17 01:26] rozele commented on #1109
@semiautomatix sounds like there are two separate problems here:
1. Cursor position
2. Issue with drawer and ScrollView gestures

[2017-11-17 21:23] matthargett opened #1534 "document AppxManifest.xml error that happens when building from network drive"
### Environment

- Target Platform: UWP

- Target Platform Version(s): any

- Target Device(s): any

- Development Operating System: MacOS 10.12 host, Windows 10 Fall Creators Update guest.

- Visual Studio Version: VS 2017 15.4.3.

### Steps to Reproduce
1. try to build+run the UWP Playground or ReactNative.Tests projects for any build configuration or target platform

### Expected Behavior

Shou

[2017-11-18 00:59] matthargett opened #1537 "resolve root cause of build flakiness"
AppVeyor fails intermittently due to node/npm building native modules, totally unrelated to PRs or even RNW code:

[code]

[2017-11-19 13:56] whimsicaldreamer commented on #1394
+1 Really need this implementation. :fingers_crossed:

[2017-11-19 13:58] whimsicaldreamer commented on #1394
+1 It would be great to have this implemented 👍 🤞

[2017-11-20 01:03] Kudo commented on #1195
`Canvas.IsHitTestVisible` is true by default. Confirmed not clickable even set it to true explicitly.

[2017-11-20 01:45] ipy commented on #1523
The issue occurs when I put `AppRegistry.registerComponent` in another file and `import` it from index.js. Solved by moving the  `AppRegistry.registerComponent` call back to index.js.
Still have no idea why it happens...

[2017-11-20 12:58] rozele commented on #1523
@ipy which version of `metro-bundler` are you using?

[2017-11-20 19:39] matthargett opened #1538 "document error/workaround when a program (like McAfee) is occupying port 8081"
This has come up in the Reactiflux channel, on StackOverflow, and on my project. I thought we had documented it in the Troubleshooting document, but I was wrong.

```“The development server returned response error code: 403 Forbidden” in red screen. ```

[2017-11-22 07:27] wyshmily opened #1539 "How to create a wpf project?"
Seems that the document mentioned wpf, but no words on how to target wpf.

[2017-11-22 09:51] erwan-lcs commented on #1394
@TomVanBoghout do you have a code sample please? This workaround is not working for me:

[code]
![No Scroll either View nor ScrollView](https://i.imgur.com/SYc1bCF.png)

[2017-11-22 10:54] TomVanBoghout commented on #1394
@erwan-lcs could you add the scrollview in a view itself, I believe that was necessary.

[2017-11-24 05:44] lunfardo commented on #1539
did you make it work? I'm with the same problem, starting to think it's not posible with sdk 10 :/

[2017-11-24 06:23] lunfardo commented on #1539
npm install --save-dev rnpm-plugin-wpf
react-native wpf
react-native start -----> to start the server
react-native run-wpf --> in my case, this didnt work. Had to build from visual studio and run it. If you have the same problem, you can do this too by opening the file "Project Directory/wpf/yourproject.sln" and build (the wpf folder is made after running react-native wpf)

[2017-11-25 09:08] ravirupareliya opened #1540 "The remote procedure call failed."
After following all the steps when i try `react-native run-windows` it gives me following error.

    Exception calling "ActivateApplication" with "4" argument(s): "The remote procedure call failed. (Exception from
    HRESULT: 0x800706BE)"
    At <path>\node_modules\react-native-windows\local-cli\runWindows\utils\WindowsStoreAppUtil
    s.ps1:168 char:5
    +     $appActivator.ActivateApplication

[2017-11-25 09:29] Mohsen7s commented on #51
There is no such class on react-windows 0.49.
Is this implemented already that you have closed issue or what ?

[2017-11-26 17:20] scott108 opened #1541 "Memory leak issue in UWP"
### Environment

1. `react-native -v`: 0.50.3
2. `npm ls rnpm-plugin-windows`: 0.2.8
3. `npm ls react-native-windows`: 0.50.0-rc2
4. `node -v`: 7.7.4
5. `npm -v`: 4.1.2

Then, specify:

- Target Platform: UWP

- Target Platform Version(s): 10.0.14393

- Target Device(s): Desktop x64

- Development Operating System: Windows

- Visual Studio Version: Visual Studio 2017

### Steps to Reproduce

[code

[2017-11-27 01:16] scott108 commented on #1541
After 8 hours, it increases to 3000mb

[2017-11-27 17:24] alexcoady commented on #1516
My hack is as follows:
[code]
Adding a `<Text />` component that absolutely fills the touchable makes the entire area.. touchable.

[2017-11-27 18:15] rozele commented on #1523
I'll re-open and re-investigate if you're using the latest `metro-bundler`.

[2017-11-27 18:16] rozele commented on #1516
@alexcoady why can't you apply the style to the <View/>? Seems like wasted allocations to add an empty TextBlock.

[2017-11-28 10:29] alexcoady commented on #1516
@rozele I'll try. Until now I didn't know that was a fix so it'll be a fairly big refactor job to update all my components, was sharing an option that worked well (but I appreciate isn't a step forward).

[2017-11-28 11:51] alexcoady commented on #1516
@rozele This has no effect in the WPF version. The only way I've been able to make the entire area clickable is the approach I posted above.

[2017-11-30 15:20] prajithkb opened #1542 "Unable to call AWS from js due to an issue with 'authorization' header containing invalid format"
https://github.com/Microsoft/react-native-windows/blob/4483d33ab2283abda24e981de22733f1627bfff8/ReactWindows/ReactNative.Shared/Modules/Network/NetworkingModule.cs#L469.

The Method checks for the format of the the authorization header and it is invalid, But unfortunately that is the format for calling AWS,

According to https://stackoverflow.com/questions/19039450/adding-authorization-to-the-head

[2017-12-01 00:33] DenysLopatynskyi opened #1543 "Windows Invalid operation exception"
1. `react-native -v`: react-native-cli: 2.0.1
                               react-native: 0.50.4
2. `npm ls rnpm-plugin-windows`: rnpm-plugin-windows@0.2.8
3. `npm ls react-native-windows`: react-native-windows@0.50.0-rc.2
4. `node -v`: v6.11.4
5. `npm -v`: 3.10.10

The exception is existing in a clean (new) project for Windows.

### Steps to Reproduce
To reproduce, create a new project (followin

[2017-12-04 07:40] juhasuni opened #1544 "Using ms-appdata scheme with WebView causes Operation aborted exception"
## Development environment

react-native-cli: 2.0.1
react-native: 0.50.3
rnpm-plugin-windows@0.2.8
node: v8.9.1
npm: 5.5.1
yarn: 1.3.2

Target Platform: UWP
Target Platform Version(s): 10.0.10586
Target Device(s): Desktop
Development Operating System: Windows (Version 1709, OS Build 16299.98)

## Steps to reproduce

Use a WebView component to navigate to any valid URL using ms-appdata URI scheme.

[2017-12-05 04:48] victorileaf commented on #907
@rozele  is this commit merged to the master?
i'm still able  to reproduce this issue in 	`"react-native-windows": "^0.50.0-rc.2"`

[2017-12-05 06:27] victorileaf commented on #1370
@rozele is this commit merged to the master?
i'm still able to reproduce this issue in "react-native-windows": "^0.50.0-rc.2"

[2017-12-06 02:23] DenysLopatynskyi commented on #1543
Fixed with react update

[2017-12-06 02:23] #1543 closed

[2017-12-06 09:51] mtin79 opened #1545 "react-native run-windows fails on shared folders (HOST: Mac OS X <-> VIRTUAL: WIN 10)"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.50.4
2. `npm ls rnpm-plugin-windows`:
edelriddler@0.0.1 S:\edelriddler
`-- rnpm-plugin-windows@0.2.8
3. `npm ls react-native-windows`:
`-- react-native-windows@0.50.0-rc.2
4. `node -v`:
v9.2.0
5. `npm -v`:
5.5.1
6. `yarn --version`:

Then, specify:

- Target Platform: UWP (Windows 10)

- Target Platform Version(s): 10.0

[2017-12-06 12:58] jurcello commented on #1540
I have exactly the same problem. I downloaded the newest version of visual studio. Could that be the problem?

[2017-12-06 14:30] jurcello commented on #1540
I solved the problem by installing the latest version of windows 10. What version do of windows do you run now?

[2017-12-07 00:27] rigdern opened #1547 "AppStateModule reports `Active` when it should report `Background`"
When my app was running a task in the background, `AppState` reported `Active` instead of `Background`.

When do the `AppStateModule's` `OnSuspend` and `OnResume` events fire? If they match the UWP app lifecycle events, then these seem like the wrong events. UWP `OnSuspend` runs when the app is getting suspended which means it won't have anymore processing time. So no code will be running when `Ap

[2017-12-07 00:36] rigdern opened #1548 "Background task scenarios don't work on Windows 10 Anniversary Update"
When the app is launched into the background from the terminated state, the background task scenarios only appear to work on the Windows 10 Fall Creators Update. My app needs them to work starting with the Windows 10 Anniversary Update.

The problem is that the UI thread's `SynchronizationContext` isn't properly setup when the app is launched from the terminated state into the background. One solu

[2017-12-08 18:06] rigdern commented on #1268
This might be fixed as part of fixing #1269.

[2017-12-14 19:01] matthargett opened #1552 "determine/document effects of ChakraCore i18n change"
from @digitalinfinity :

The ChakraCore team is planning on changing support in Chakra and ChakraCore for the ECMAScript Intl feature from being based on Windows.Globalization (which ships with the OS), to ICU. However, ICU ships with the OS only on Windows 10, so on Windows 7 and 8, if you need Intl support, you’ll need to redistribute the ICU yourself, or statically link with it (which can lead

[2017-12-15 22:18] ocapio opened #1553 "React Native hidden overflow child behavior"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.50.4
2. `npm ls rnpm-plugin-windows`:
react-native-windows@1000.0.0 C:\src\react-native-windows
3. `npm ls react-native-windows`:
react-native-windows@1000.0.0 C:\src\react-native-windows
4. `node -v`:
v7.5.0
5. `npm -v`:
4.1.2
6. `yarn --version`:

Then, specify:

- Target Platform: IOS, Android and UWP

- Target Platf

[2017-12-19 03:33] rajnishc8 opened #1554 "After updating Visual studio to version 15.5.2 existing react-native-windows .sln does not load."
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.51.0

2. `npm ls rnpm-plugin-windows`:
-- rnpm-plugin-windows@0.2.8

3. `npm ls react-native-windows`:
-- react-native-windows@0.50.0-rc.2

4. `node -v`:
v6.11.2

5. `npm -v`:
3.10.10

6. `yarn --version`:
1.3.2

- Target Platform: UWP

- Target Platform Version(s): 10.0.14393

- Target Device(s): Desktop

- Development

[2017-12-19 04:08] rajnishc8 opened #1555 "Unable to create react-native-windows app after update of visual studio 2017"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.51.0

2. `npm ls rnpm-plugin-windows`:
-- rnpm-plugin-windows@0.2.8

3. `npm ls react-native-windows`:
-- react-native-windows@0.50.0-rc.2

4. `node -v`:
v6.11.2

5. `npm -v`:
3.10.10

6. `yarn --version`:
1.3.2

- Development Operating System: Windows

- Visual Studio Version: Visual Studio 2017 version 15.2.2

### Ste

[2017-12-19 11:08] andrewwyld commented on #183
@rozele I'm currently trying to build a native module to trigger [CameraCaptureUI](https://docs.microsoft.com/en-us/uwp/api/windows.media.capture.cameracaptureui); this works fine in win10 but in win81 I can't access this class because React Native for win81 targets net46. I can't apparently reference those assemblies _or_ a win81 project I tried creating to reference them separately.

Are you awa

[2017-12-21 18:24] rozele commented on #1555
I can't repro this - I was able to successfully run an app with the latest VS 2017 and the 0.51.0-rc.0 release (15.4.3), can you update VS again, install 0.51.0-rc.0 and check again?

[2017-12-21 18:27] rozele commented on #1553
@ocapio thanks for reporting. React Native uses some flex defaults - can you apply the same flex defaults to the Web solution and post that here?

[2017-12-21 18:31] rozele commented on #1553
@ocapio - it looks like iOS is the only correct implementation. I think it's a known issue that overflow: visible doesn't work on Android (https://github.com/facebook/react-native/issues/17074). It concerns me that you need to set a transparent background on the parent View container to get Windows to match iOS. I'll investigate.

[2017-12-21 18:36] rozele commented on #1545
@mtin79 can you open the solution in the shared folder in Visual Studio on Windows and run from there? There's a known issue with the LookbackExempt CLI functionality where it breaks after you run the solution from Visual Studio. I want to clarify that this issue isn't a dupe of that (#1042).

[2017-12-21 18:37] rozele commented on #1271
Closing as dupe of #1042.

[2017-12-21 18:37] #1271 closed

[2017-12-21 18:41] rozele commented on #1544
Can you try using the `ms-appx-web:` protocol per the documentation on [MSDN](https://docs.microsoft.com/en-us/uwp/api/Windows.UI.Xaml.Controls.WebView)?

[2017-12-21 18:42] rozele commented on #1542
@prajithkb can you post a sample header that we can use as a regression test?

[2017-12-21 19:32] rozele commented on #1554
@rajnishc8 - I just upgraded to VS 2017 15.5.2 and I'm not able to reproduce the issue loading the solution in Visual Studio. I am, however, having issues executing `react-native run-windows`.

[2017-12-21 19:32] #1554 closed

[2017-12-21 19:33] rozele commented on #1555
I was able to repro this - investigating.

[2017-12-21 22:47] antonkh opened #1557 "Update the ImagePipeline library"
This commit implements a FutureAccessList feature that S4L will need in a few weeks:

https://github.com/phongcao/image-pipeline-windows/pull/14

[2017-12-22 07:23] juhasuni commented on #1544
No, we need to be able to use `ms-appdata` scheme, because the content being displayed in the WebView does not come from the bundle. I'd say that this is a common requirement these days, as many apps are downloading HTML content from the web, storing the files to `LocalFolder` (or similar on other platforms) and showing the contents to the user.

Sometimes it is enough to just inject the HTML cont

[2017-12-30 05:09] rob2d commented on #1311
@rozele if you are familiar, would you be able to provide a little more context? A lot of people who pick up React Native are not really invested in the Microsoft ecosystem (which is why React Native is an attractive option). The .NET ecosystem is also really huge. This link is helpful, but makes a lot of assumptions about a developer's previous knowledge; for example, `MainPage.cs` mentioned in t

[2018-01-02 06:37] rigdern opened #1558 "Crash if JS exception occurs while the debug menu is up"
### Repro Steps

1. Create an app which throws a JS exception 5 seconds after a button is tapped
2. Tap the button
3. Bring up the debug menu (shift+F10)
4. Wait 5 seconds

**Unexpected result**: The app crashes with the following exception:

[code]

It looks like the app has several different ContentDialogs that it shows (progress indicator, redbox, debug menu). Is there some mechanism it uses to

[2018-01-03 05:40] rigdern opened #1559 "TextInput: `selection` prop works unexpectedly when typing quickly"
### Repro Steps

I have an app which listens for `onSelectionChange` and echos that value back through the `selection` prop. When typing quickly, the cursor ends up at the wrong spot causing me to type in the middle of the text rather than always at the end.

Here's an app which repros the issue:

[code]

### Investigation

I believe part of the cause of the bug is we should probably remove the `O

[2018-01-03 19:19] rozele commented on #567
Take a look at https://docs.microsoft.com/en-us/windows/uwp/app-to-app/share-data

[2018-01-03 19:19] rozele commented on #1077
I believe this is a dupe of #567

[2018-01-03 19:19] #1077 closed

[2018-01-03 23:54] zholobov opened #1562 "Setting importantForAccessibility and accessibilityTraits on a view does not notify UI Automation infrastructure about the change."
### Environment

1. `react-native -v`: react-native-cli: 2.0.1; react-native: 0.46.4
2. `npm ls rnpm-plugin-windows`: rnpm-plugin-windows@0.2.0
3. `npm ls react-native-windows`: (empty)
4. `node -v`: v8.6.0
5. `npm -v`: 5.5.1
6. `yarn --version`: 1.2.0

Then, specify:

- Target Platform: UWP

- Target Platform Version(s): 10.0.14393

- Target Device(s): Desktop

- Development Operating System: Win

[2018-01-04 01:15] Kudo commented on #1195
Just pull master code and confirmed #1521 fixed the WPF issue and could close this issue.
Thanks for @antonkh's awesome work.

[2018-01-04 23:14] zholobov commented on #557
`accessible` property functionality intersects with `importantForAccessibility` on Android. It's not clear which one should take precedence if, for example, on Android someone sets `accessible=yes` and `importantForAccessibility=no`. Maybe we should not implement `accessible` and instead implement `importantForAccessibility` only?

[2018-01-05 13:36] erkkah commented on #1395
Seems like the LauncherModule is not yet included in the WPF implementation, which causes the Linking object to be uninitialized (MainReactPackage.cs):
[code]

[2018-01-05 13:39] erkkah commented on #1395
Should be solved then PR #1192 gets merged.

[2018-01-05 19:29] chai41104 commented on #1446
Hi,
I have the same problem with ScrollToOffset in FlatList on react-native-windows.

Could someone explain briefly how the calculation works?

Best Wishes,

Thongchai

[2018-01-05 19:40] chai41104 opened #1564 "ScrollToOffset doesn't work properly in FlatList"
Hi all,

In my project, I am using FlatList. So, I scroll to each item with ScrollToOffset function. I send an offset value as a number. Then, it did scroll but not the correct position that I provide (a number is in pixel). I did double check my math and it is correct.

1. If the current position is 0, the first item, it can go to any items correctly when I multiply my number by 3, no idea why.

[2018-01-08 20:52] matthargett opened #1566 "track performance-improving changes from Android"
RN Android added a CallSerializableNativeHook and SetFlushQueueImmediate on their JavaScriptExecutor equivalent:
https://github.com/facebook/react-native/search?utf8=%E2%9C%93&q=callSerializableNativeHook&type=
https://github.com/facebook/react-native/search?utf8=%E2%9C%93&q=flushQueueImmediate&type=

We should add these methods to stay in sync with upstream and give users who write RNW modules th

[2018-01-08 22:03] matthargett opened #1567 "support idle Callbacks feature from RN Android"
https://github.com/facebook/react-native/blob/1e8f3b11027fe0a7514b4fc97d0798d3c64bc895/ReactAndroid/src/main/java/com/facebook/react/modules/core/Timing.java#L161

[2018-01-09 01:42] reseul opened #1569 "Add keyboard focus related properties to PasswordBoxWindows"
Current implementation of TextInput renders PasswordBoxWindows when secureTextEntry property is true.
The properties added by https://github.com/Microsoft/react-native-windows/pull/1546 (tabIndex, etc.) are not carried over to PasswordBoxWindows since I first had one clarifying question (@rozele ):
What's the reason for PasswordBoxWindows to exist, compared to TextInput? Why a different control? I

[2018-01-09 16:04] rozele opened #1571 "Fix lint and flow CI checks"
We've had to eliminate some troublesome test cases that assert coding guidelines (e.g., lint and flow check) in AppVeyor to unblock PRs. These need to be re-enabled, and bolstered with, e.g., C# code analysis checks.

[2018-01-09 16:36] #1557 closed

[2018-01-09 17:29] rozele commented on #1566
Should bundle deltas belong here (https://github.com/facebook/react-native/commit/231c7a03043b9fb3c4bf81251ad099bab0ba05c2) or is this strictly app performance (and not dev experience performance)?

[2018-01-10 22:55] matthargett commented on #1566
Strictly app performance, let's create a separate PR for the bundle deltas.

[2018-01-11 02:58] matthargett opened #1572 "building ChakraBridge crashes compiler on 32-bit Windows 10"
In Windows 10 Fall Creators Update, with latest VS2017 (15.5.2), I'm seeing this:
[code]

My Windows 10 VM is configured for 3GB of RAM, but this problem seems new. Maybe introduced by VS2017 15.5.2 since that update happened right before holiday.

[2018-01-11 03:08] matthargett opened #1573 "redbox in dev mode when loading/reloading bundle from server"
When running Playground.Net46 in Windows 10 FCU inside VirtualBox, I'm getting a redbox error when loading the bundle from the dev server. App works fine when I dismiss it, though.

<img width="541" alt="screen shot 2018-01-10 at 7 06 26 pm" src="https://user-images.githubusercontent.com/1550766/34806732-a4b77ce0-f639-11e7-9892-f0750a53e866.png">

[2018-01-11 16:51] chai41104 commented on #1564
Update!!

This issue has a problem when the animated param is set to true.
It works when I pass {animated: false}

Best Wishes,

Thongchai

[2018-01-12 03:40] cbarkerms opened #1576 "react-native-fs not linking for Windows"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.52.0

2. `npm ls rnpm-plugin-windows`:
APPNAMEREMOVED@0.0.1 C:\Projects\Partners\APPNAMEREMOVED
`-- (empty)

3. `npm ls react-native-windows`:
APPNAMEREMOVED@0.0.1 C:\Projects\Partners\APPNAMEREMOVED
`-- UNMET DEPENDENCY react-native-windows@0.50.0

npm ERR! missing: react-native-windows@0.50.0, required by APPNAMEREMOV

[2018-01-12 18:10] reseul opened #1577 "Add support for direct topMouseMove event"
Current implementation does have direct events like topMouseEnter and topMouseLeave.
We'll have to add a direct topMouseMove, a counterpart of topTouchMove, though the latter is only generated when a button is down (in mouse parlance it's more of a mouseDrag).

Opening here for tracking.

[2018-01-12 19:19] non-standard opened #1578 "react-native link: Error: ENOENT: no such file or directory, open <path>\MainPage.cs"
### Environment

1. `react-native -v`:
react-native-cli: 2.0.1
react-native: 0.50.0

2. `npm ls rnpm-plugin-windows`:
`-- rnpm-plugin-windows@0.2.8

3. `npm ls react-native-windows`:
`-- react-native-windows@0.50.0

4. `node -v`:
v6.11.4

5. `npm -v`:
5.6.0

6. `yarn --version`:

- Target Platform:
UWP

- Target Platform Version(s):
10.0.14393

- Target Device(s):
Desktop

- Development Operating

[2018-01-12 21:56] reseul commented on #1577
This can be considered a follow-up/tweak of https://github.com/Microsoft/react-native-windows/issues/688

[2018-01-13 02:23] rigdern opened #1579 "[Android parity] showPopupMenu shouldn't crash when the tag isn't found"
Currently, `UIManager's showPopupMenu ` throws an exception when it can't find the tag. The Android implementation was changed such that the error is reported back to JavaScript rather than throwing a native exception.

Here's the Android PR that needs to be ported to RNW: https://github.com/facebook/react-native/pull/17550

[2018-01-13 03:23] rigdern opened #1580 "WebSocket module throws an exception every 5 seconds when you're not using the react-devtools"
[This line](https://github.com/Microsoft/react-native-windows/blob/fa85c5778f52d7ed8aae26e37dca97e611b8057a/ReactWindows/ReactNative/Modules/WebSocket/WebSocketModule.cs#L145) in the WebSocket module throws an exception once every 5 seconds.

The exception is:

[code]

This contributes a lot of noise to Visual Studio's debug output window because it gets logged once every five seconds.

@rozele sa